{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Absences/Absence Certifications/Absence Certification Attachments/Large Object (LOB) Attributes - FileContents",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/absences/{absencesUniqID}/child/absenceEntryCertifications/{PersonCertificationId}/child/certificationAttachments/{certificationAttachmentsUniqID}/enclosure/FileContents": {
      "get": {
        "tags": [
          "Absences/Absence Certifications/Absence Certification Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Get a FileContents",
        "description": "Get a FileContents",
        "operationId": "get_absences-absenceEntryCertifications-certificationAttachments-FileContents",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonCertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification identifier associated with a person.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "certificationAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absence Certification Attachments resource and used to uniquely identify an instance of Absence Certification Attachments. The client should not generate the hash key value. Instead, the client should query on the Absence Certification Attachments collection resource in order to navigate to a specific instance of Absence Certification Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "child-absenceEntryCertifications-{PersonCertificationId}-child-certificationAttachments-{certificationAttachmentsUniqID}-enclosure-FileContents-get",
        "x-filename-id": "child-absenceentrycertifications-personcertificationid-child-certificationattachments-certificationattachmentsuniqid-enclosure-filecontents-get"
      },
      "put": {
        "tags": [
          "Absences/Absence Certifications/Absence Certification Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Replace a FileContents",
        "description": "Replace a FileContents",
        "operationId": "replace_absences-absenceEntryCertifications-certificationAttachments-FileContents",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonCertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification identifier associated with a person.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "certificationAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absence Certification Attachments resource and used to uniquely identify an instance of Absence Certification Attachments. The client should not generate the hash key value. Instead, the client should query on the Absence Certification Attachments collection resource in order to navigate to a specific instance of Absence Certification Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "child-absenceEntryCertifications-{PersonCertificationId}-child-certificationAttachments-{certificationAttachmentsUniqID}-enclosure-FileContents-put",
        "x-filename-id": "child-absenceentrycertifications-personcertificationid-child-certificationattachments-certificationattachmentsuniqid-enclosure-filecontents-put"
      },
      "delete": {
        "tags": [
          "Absences/Absence Certifications/Absence Certification Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Delete a FileContents",
        "description": "Delete a FileContents",
        "operationId": "delete_absences-absenceEntryCertifications-certificationAttachments-FileContents",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonCertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification identifier associated with a person.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "certificationAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absence Certification Attachments resource and used to uniquely identify an instance of Absence Certification Attachments. The client should not generate the hash key value. Instead, the client should query on the Absence Certification Attachments collection resource in order to navigate to a specific instance of Absence Certification Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "absenceEntryCertifications-{PersonCertificationId}-child-certificationAttachments-{certificationAttachmentsUniqID}-enclosure-FileContents-delete",
        "x-filename-id": "absenceentrycertifications-personcertificationid-child-certificationattachments-certificationattachmentsuniqid-enclosure-filecontents-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}