{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Absences/Absence Certifications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/absences/{absencesUniqID}/child/absenceEntryCertifications/{PersonCertificationId}": {
      "get": {
        "tags": [
          "Absences/Absence Certifications"
        ],
        "summary": "Get an absence certification record",
        "operationId": "get_absences-absenceEntryCertifications",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonCertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification identifier associated with a person.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryCertifications-item-response"
                }
              }
            },
            "links": {
              "certificationAttachments": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications~1{PersonCertificationId}~1child~1certificationAttachments/get",
                "parameters": {
                  "PersonCertificationId": "$request.path.PersonCertificationId",
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absence certification attachments resource provides all the certification attachments of an absence."
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryCertifications-{PersonCertificationId}-get",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrycertifications-personcertificationid-get"
      },
      "delete": {
        "tags": [
          "Absences/Absence Certifications"
        ],
        "summary": "Delete a certification associated with an absence",
        "operationId": "delete_absences-absenceEntryCertifications",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonCertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification identifier associated with a person.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryCertifications-{PersonCertificationId}-delete",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrycertifications-personcertificationid-delete"
      },
      "patch": {
        "tags": [
          "Absences/Absence Certifications"
        ],
        "summary": "Update a certification associated with an absence",
        "operationId": "update_absences-absenceEntryCertifications",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonCertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification identifier associated with a person.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-absenceEntryCertifications-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryCertifications-item-response"
                }
              }
            },
            "links": {
              "certificationAttachments": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications~1{PersonCertificationId}~1child~1certificationAttachments/get",
                "parameters": {
                  "PersonCertificationId": "$request.path.PersonCertificationId",
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absence certification attachments resource provides all the certification attachments of an absence."
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryCertifications-{PersonCertificationId}-patch",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrycertifications-personcertificationid-patch"
      }
    },
    "/absences/{absencesUniqID}/child/absenceEntryCertifications": {
      "get": {
        "tags": [
          "Absences/Absence Certifications"
        ],
        "summary": "Get all absence certifications records",
        "operationId": "getall_absences-absenceEntryCertifications",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AbsenceCertificationId; integer; Unique identifier of a certification associated with an absence.</li><li>CertificationCreationModeMeaning; string; Description of the mode of certification creation.</li><li>ClassificationCode; string; Classification of the certification, which could be either Entitlement or Documentation.</li><li>ClassificationCodeMeaning; string; Description of the classification code.</li><li>CompleteFlag; boolean; Indicates whether the certification is completed.</li><li>ConfirmActionFlag; boolean; Indicates whether the certification is confirmed or not.</li><li>ConfirmationReasonMeaning; string; Description of the certification confirmation reason.</li><li>LastUpdateTypeMeaning; string; Description of the last update type of the certification. The values for this field are Certification evaluation, Absence evaluation process, User Updated</li><li>LateReason; string; Reason for late certification.</li><li>Name; string; Name of the certification.</li><li>PersonAbsenceEntryId; integer; Absence entry identifier associated with a person.</li><li>PersonCertificationId; integer; Certification identifier associated with a person.</li><li>PersonId; integer; Unique identifier of a person.</li><li>ReceivedLateFlag; boolean; Indicates whether the certification is past its due date.</li><li>RequiredByDate; string; Date when the certification is required.</li><li>ReviseDateActionFlag; boolean; Indicates whether the certification payment percentage dates can be revised.</li><li>Status; string; Status of the certification.</li><li>StatusMeaning; string; Description of the status of the certification.</li><li>TargetPlanAllFlag; boolean; Indicates whether the certification is associated to all qualified plans in the absence of that worker.</li><li>TargetPlanId; integer; Unique identifier of the target plan associated with the certification.</li><li>TargetPlanName; string; Target plan name where the revised payment percentage will be applied by the certification.</li><li>UpdateDueDateActionFlag; boolean; Indicates whether the certification due date can be updated.</li><li>UpdateExpirationDateActionFlag; boolean; Indicates whether the certification expiration date can be updated.</li><li>VoidActionFlag; boolean; Indicates whether the certification can be voided.</li><li>VoidFlag; boolean; Indicates whether the certification is voided.</li><li>VoidReasonMeaning; string; Description of the reason for the certification to be voided.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the certifications that match the primary key criteria specified. <br>Finder Variables <ul><li>PersonCertificationId; integer;  Person certification identifier for the certification. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the certifications that match the primary key criteria specified.",
                "properties": {
                  "PersonCertificationId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Person certification identifier for the certification.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryCertifications"
                }
              }
            },
            "links": {
              "performCertificateAction": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications~1action~1performCertificateAction/post",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "Performs an action on the certificate such as Confirm, Void, Update Due Date, Update Expiration Date or Revise Dates."
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryCertifications-get",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrycertifications-get"
      },
      "post": {
        "tags": [
          "Absences/Absence Certifications"
        ],
        "summary": "Create a certification for an absence",
        "operationId": "create_absences-absenceEntryCertifications",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-absenceEntryCertifications-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryCertifications-item-response"
                }
              }
            },
            "links": {
              "certificationAttachments": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications~1{PersonCertificationId}~1child~1certificationAttachments/get",
                "parameters": {
                  "PersonCertificationId": "$request.path.PersonCertificationId",
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absence certification attachments resource provides all the certification attachments of an absence."
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryCertifications-post",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrycertifications-post"
      }
    },
    "/absences/{absencesUniqID}/child/absenceEntryCertifications/action/performCertificateAction": {
      "post": {
        "tags": [
          "Absences/Absence Certifications"
        ],
        "summary": "Perform a certificate action for an absence",
        "description": "Performs an action on the certificate such as Confirm, Void, Update Due Date, Update Expiration Date or Revise Dates.",
        "operationId": "doall_performCertificateAction_absences-absenceEntryCertifications",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "certificationActionMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Variable that holds values required for certificate action.",
                    "nullable": true
                  },
                  "personCertificationId": {
                    "type": "number",
                    "description": "Unique identifier for the certificate attached to an absence.",
                    "nullable": true
                  },
                  "action": {
                    "type": "string",
                    "description": "Name of the action performed on the certificate.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return success or failure of the certificate action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return success or failure of the certificate action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryCertifications-action-performCertificateAction-post",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrycertifications-action-performcertificateaction-post"
      }
    }
  },
  "components": {
    "schemas": {
      "absences-absenceEntryCertifications-item-response": {
        "type": "object",
        "properties": {
          "AbsenceAggregationId": {
            "type": "integer",
            "description": "Unique identifier for a group of assignments associated to a single set of entitlements.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AbsenceCertificationId": {
            "title": "Name",
            "type": "integer",
            "description": "Unique identifier of a certification associated with an absence.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "AcceptedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Certification accepted by the user.",
            "nullable": true,
            "x-queryable": false
          },
          "AcceptedDate": {
            "type": "string",
            "description": "Date of acceptance of the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "AcceptedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification has been accepted or confirmed.",
            "nullable": true,
            "x-queryable": false
          },
          "CaseId": {
            "type": "integer",
            "description": "Absence case identifier associated with the certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CertificationCreationDate": {
            "type": "string",
            "description": "Date when the certification was created",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "CertificationCreationMode": {
            "maxLength": 30,
            "type": "string",
            "description": "Mode of certification creation. It could either be on demand or system triggered.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CertificationCreationModeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the mode of certification creation.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ClassificationCode": {
            "title": "Classification",
            "maxLength": 30,
            "type": "string",
            "description": "Classification of the certification, which could be either Entitlement or Documentation.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ClassificationCodeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the classification code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "maxLength": 250,
            "type": "string",
            "description": "Comments when entering a certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CompleteFlag": {
            "title": "Complete",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is completed.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ConfirmActionFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the certification is confirmed or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ConfirmationDate": {
            "title": "Completed Date",
            "type": "string",
            "description": "Date of certificate confirmation.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ConfirmationReasonCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason code for the certification confirmation.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ConfirmationReasonMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the certification confirmation reason.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Creator of the certification.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Created",
            "type": "string",
            "description": "Creation date of the certification.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Description": {
            "maxLength": 200,
            "type": "string",
            "description": "Description of the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "EvidenceSource": {
            "maxLength": 30,
            "type": "string",
            "description": "Evidence attached to the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last update date of the certification record.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Last update login date for the certification record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateType": {
            "maxLength": 64,
            "type": "string",
            "description": "Last update type of the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the last update type of the certification. The values for this field are Certification evaluation, Absence evaluation process, User Updated",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the certification.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LateReason": {
            "maxLength": 100,
            "type": "string",
            "description": "Reason for late certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Name": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the certification.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PersonAbsenceEntryId": {
            "type": "integer",
            "description": "Absence entry identifier associated with a person.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonCertificationId": {
            "type": "integer",
            "description": "Certification identifier associated with a person.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier of a person.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ReceivedDate": {
            "type": "string",
            "description": "Received date on the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification was received.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedLateFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification is past its due date.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RequiredByDate": {
            "title": "Due Date",
            "type": "string",
            "description": "Date when the certification is required.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ReviseDateActionFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the certification payment percentage dates can be revised.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RevisedPayEndDate": {
            "type": "string",
            "description": "Revised payment end date for the worker's entitlement.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "RevisedPayPercentage": {
            "type": "integer",
            "description": "Revised payment percentage for the worker's entitlement.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "RevisedPayStartDate": {
            "type": "string",
            "description": "Revised payment start date for the worker's entitlement.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the certification.",
            "nullable": false,
            "default": "P",
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the status of the certification.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TargetPlanAllFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is associated to all qualified plans in the absence of that worker.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetPlanId": {
            "type": "integer",
            "description": "Unique identifier of the target plan associated with the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "TargetPlanName": {
            "maxLength": 240,
            "type": "string",
            "description": "Target plan name where the revised payment percentage will be applied by the certification.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "UpdateDueDateActionFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the certification due date can be updated.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UpdateExpirationDateActionFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the certification expiration date can be updated.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ValidUptoDate": {
            "type": "string",
            "description": "Date of certification validity.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VoidActionFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the certification can be voided.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "VoidFlag": {
            "title": "Voided",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is voided.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "VoidReasonCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason for the certification to be voided.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VoidReasonMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the reason for the certification to be voided.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "VoidedDate": {
            "title": "Voided",
            "type": "string",
            "description": "Date when the certification was voided.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "certificationAttachments": {
            "title": "Absence Certification Attachments",
            "type": "array",
            "description": "The absence certification attachments resource provides all the certification attachments of an absence.",
            "items": {
              "$ref": "#/components/schemas/absences-absenceEntryCertifications-certificationAttachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "absences-absenceEntryCertifications-certificationAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Unique identifier for the Asynchronous API calls.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Content repository where the certification attachment file is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "Certification attachment created by name.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "Certification attachment created by the user.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date of creation of the certification attachment.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Data type code of the attached certification file.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DatatypeCodeMeaning": {
            "type": "string",
            "description": "Data type of the attachment file in the certification.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Data type code description of the attached certification file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier of the document.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Folder path where the attached document is stored.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Document version number that's uploaded as attachment in the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "Downloaded document information of the attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the file upload as certification attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of file upload as certification attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attached document.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Contents of the uploaded file attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the uploaded file attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "Uniform Resource Locator (URL) of the file related to the attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "Image of the uploaded file.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Last updated date of the attached file in the certification.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "Last updated by date of the attached file in the certification.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "Name of the person who last updated the attached file in the certification.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Postprocessing action of the attached file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the uploaded file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "File content type of the uploaded file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "File length of the uploaded file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "File name of the uploaded file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Uploaded text of the file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "Uniform Resource Identifier (URI) of the attachment in the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "Uniform Resource Locator (URL) of the attachment in the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "Name of the user.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "absences-absenceEntryCertifications-item-patch-request": {
        "type": "object",
        "properties": {
          "AcceptedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Certification accepted by the user.",
            "nullable": true,
            "x-queryable": false
          },
          "AcceptedDate": {
            "type": "string",
            "description": "Date of acceptance of the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "AcceptedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification has been accepted or confirmed.",
            "nullable": true,
            "x-queryable": false
          },
          "Comments": {
            "maxLength": 250,
            "type": "string",
            "description": "Comments when entering a certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Description": {
            "maxLength": 200,
            "type": "string",
            "description": "Description of the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "EvidenceSource": {
            "maxLength": 30,
            "type": "string",
            "description": "Evidence attached to the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateType": {
            "maxLength": 64,
            "type": "string",
            "description": "Last update type of the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LateReason": {
            "maxLength": 100,
            "type": "string",
            "description": "Reason for late certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedDate": {
            "type": "string",
            "description": "Received date on the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification was received.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedLateFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification is past its due date.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ValidUptoDate": {
            "type": "string",
            "description": "Date of certification validity.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VoidFlag": {
            "title": "Voided",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is voided.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "certificationAttachments": {
            "title": "Absence Certification Attachments",
            "type": "array",
            "description": "The absence certification attachments resource provides all the certification attachments of an absence.",
            "items": {
              "$ref": "#/components/schemas/absences-absenceEntryCertifications-certificationAttachments-item-patch-request"
            }
          }
        }
      },
      "absences-absenceEntryCertifications-certificationAttachments-item-patch-request": {
        "type": "object",
        "properties": {
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Content repository where the certification attachment file is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Data type code of the attached certification file.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Data type code description of the attached certification file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier of the document.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Folder path where the attached document is stored.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Document version number that's uploaded as attachment in the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "Downloaded document information of the attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the file upload as certification attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of file upload as certification attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attached document.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Contents of the uploaded file attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the uploaded file attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "Uniform Resource Locator (URL) of the file related to the attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Postprocessing action of the attached file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the uploaded file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "File content type of the uploaded file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "File length of the uploaded file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "File name of the uploaded file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Uploaded text of the file as attachment in the certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "Uniform Resource Identifier (URI) of the attachment in the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "Uniform Resource Locator (URL) of the attachment in the certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      },
      "absences-absenceEntryCertifications": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/absences-absenceEntryCertifications-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "absences-absenceEntryCertifications-item-post-request": {
        "required": [
          "AbsenceCertificationId"
        ],
        "type": "object",
        "properties": {
          "AbsenceCertificationId": {
            "title": "Name",
            "type": "integer",
            "description": "Unique identifier of a certification associated with an absence.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "AcceptedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Certification accepted by the user.",
            "nullable": true,
            "x-queryable": false
          },
          "AcceptedDate": {
            "type": "string",
            "description": "Date of acceptance of the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "AcceptedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification has been accepted or confirmed.",
            "nullable": true,
            "x-queryable": false
          },
          "CaseId": {
            "type": "integer",
            "description": "Absence case identifier associated with the certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CertificationCreationDate": {
            "type": "string",
            "description": "Date when the certification was created",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "CertificationCreationMode": {
            "maxLength": 30,
            "type": "string",
            "description": "Mode of certification creation. It could either be on demand or system triggered.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ClassificationCode": {
            "title": "Classification",
            "maxLength": 30,
            "type": "string",
            "description": "Classification of the certification, which could be either Entitlement or Documentation.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Comments": {
            "maxLength": 250,
            "type": "string",
            "description": "Comments when entering a certification.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CompleteFlag": {
            "title": "Complete",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is completed.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ConfirmationDate": {
            "title": "Completed Date",
            "type": "string",
            "description": "Date of certificate confirmation.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ConfirmationReasonCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason code for the certification confirmation.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Description": {
            "maxLength": 200,
            "type": "string",
            "description": "Description of the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "EvidenceSource": {
            "maxLength": 30,
            "type": "string",
            "description": "Evidence attached to the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateType": {
            "maxLength": 64,
            "type": "string",
            "description": "Last update type of the certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LateReason": {
            "maxLength": 100,
            "type": "string",
            "description": "Reason for late certification.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PersonAbsenceEntryId": {
            "type": "integer",
            "description": "Absence entry identifier associated with a person.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier of a person.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ReceivedDate": {
            "type": "string",
            "description": "Received date on the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification was received.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReceivedLateFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the certification is past its due date.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "RequiredByDate": {
            "title": "Due Date",
            "type": "string",
            "description": "Date when the certification is required.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "RevisedPayEndDate": {
            "type": "string",
            "description": "Revised payment end date for the worker's entitlement.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "RevisedPayPercentage": {
            "type": "integer",
            "description": "Revised payment percentage for the worker's entitlement.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "RevisedPayStartDate": {
            "type": "string",
            "description": "Revised payment start date for the worker's entitlement.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the certification.",
            "nullable": false,
            "default": "P",
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetPlanAllFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is associated to all qualified plans in the absence of that worker.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetPlanId": {
            "type": "integer",
            "description": "Unique identifier of the target plan associated with the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ValidUptoDate": {
            "type": "string",
            "description": "Date of certification validity.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VoidFlag": {
            "title": "Voided",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the certification is voided.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VoidReasonCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason for the certification to be voided.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VoidedDate": {
            "title": "Voided",
            "type": "string",
            "description": "Date when the certification was voided.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "certificationAttachments": {
            "title": "Absence Certification Attachments",
            "type": "array",
[...]
