{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Absences",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/absences": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get all absence records",
        "operationId": "getall_absences",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApprovalDatetime; string; Date and time of the absence approval.</li><li>ObjectVersionNumber; integer; Used to implement optimistic locking. This number is incremented every time the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried.</li><li>absenceCaseId; integer</li><li>absenceDispStatus; string; Absence processing status displayed to the user. Valid values are defined in the lookup ANC_PER_ABS_ENT_DISPLAY_STATUS.</li><li>absenceEntryBasicFlag; boolean; Indicates whether the absence is recorded in basic mode or advanced mode. The default value is true.</li><li>absencePatternCd; string; Unique code assigned to the absence pattern associated with an absence type. For example, absence pattern can be Generic for a vacation absence, Illness or injury for a sickness absence.</li><li>absenceReason; string; Reason for absence attached to the absence type.</li><li>absenceStatusCd; string; Absence status, such as submitted, withdrawn.</li><li>absenceType; string; Unique identifier for the absence type.</li><li>absenceTypeId; integer; Unique identifier for the absence type.</li><li>absenceTypeReasonId; integer; Unique identifier for the absence reason.</li><li>agreementId; integer</li><li>agreementName; string; Name of the agreement used to record absence.</li><li>approvalStatusCd; string</li><li>assignmentId; integer; Unique identifier of the assignment for which the absence is recorded. When an employee has multiple active assignments, this attribute can be used to restrict the absence to a specific assignment. You can't change the assignment when editing an existing absence.</li><li>assignmentName; string; Name of the worker's assignment.</li><li>assignmentNumber; string; Number of the worker's assignment.</li><li>authStatusUpdateDate; string</li><li>bandDtlId; integer</li><li>blockedLeaveCandidate; string; Determines whether the worker is eligible for block leave or not. Block leave enables workers to report a fixed period away from work.</li><li>certificationAuthFlag; boolean</li><li>childEventTypeCd; string</li><li>comments; string; Comments provided while recording the absence.</li><li>conditionStartDate; string; Condition start date of an illness or injury leave. Used to indicate when the illness began or injury occurred, and could be different from the absence start date.</li><li>confirmedDate; string; Confirmed start date of an absence.</li><li>consumedByAgreement; string</li><li>createdBy; string; Name of the employee who created the absence record.</li><li>creationDate; string; Date and time of the absence record creation.</li><li>dataSecurityPersonId; integer; Unique person identifier assigned to verify data security.</li><li>diseaseCode; string</li><li>duration; number; Duration of the recorded absence.</li><li>effectiveEndDate; string; End date to check data security.</li><li>effectiveStartDate; string; Start date to check data security.</li><li>employeeShiftFlag; boolean</li><li>employer; string; Name of the employer.</li><li>endDate; string; End date of the recorded absence.</li><li>endDateDuration; number; Duration of the absence on the end date. This field allows the duration of the end date to be different than what's derived from the shift duration.</li><li>endDateDurationPreferenceCode; string; Code of the absence bid end date preference.</li><li>endDateDurationPreferenceMeaning; string; Description of the absence bid end date preference.</li><li>endDateTime; string; End date timestamp of an absence.</li><li>endTime; string; End time of the recorded absence.</li><li>establishmentDate; string</li><li>frequency; string</li><li>initialReportById; integer</li><li>initialTimelyNotifyFlag; boolean</li><li>lastUpdateDate; string; Latest date and time the absence record was updated.</li><li>lastUpdateLogin; string; User name of the employee who last updated the absence record.</li><li>lastUpdatedBy; string; Name of the employee who last updated the absence record.</li><li>lateNotifyFlag; boolean; Indicates an absence notification that qualifies as a late notification and is waived.</li><li>legalEntityId; integer</li><li>legislationCode; string</li><li>legislativeDataGroupId; integer</li><li>notificationDate; string; Date the employee notifies the employer of an upcoming absence.</li><li>objectVersionNumber; integer; Used to implement optimistic locking. This number is incremented every time the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried.</li><li>openEndedFlag; boolean; Indicates whether the absence is open-ended. Enables workers to submit an absence without entering an absence end date. The default value is false.</li><li>overridden; string; Indicates whether the absence duration has been overridden or not. The default value is false.</li><li>paymentDetail; string; Name of payment detail of agreement used to record absence.</li><li>periodOfIncapToWorkFlag; boolean</li><li>periodOfServiceId; integer</li><li>personAbsenceEntryId; integer; Unique identifier for the absence.</li><li>personId; integer; Unique identifier for the person.</li><li>personNumber; string; Unique person number for whom the absence is recorded.</li><li>plannedEndDate; string</li><li>processingStatus; string</li><li>projectId; integer</li><li>singleDayFlag; boolean; Indicates whether the absence request is for a single day. Default value is false.</li><li>source; string; Source of the absence imported from other applications. For example, an absence may be recorded via Absence Management, Time and Labor, a data loader or through the REST process.</li><li>splCondition; string</li><li>startDate; string; Start date of the recorded absence.</li><li>startDateDuration; number; Duration of the absence on the start date. This field allows the duration of the start date to be different than what's derived from the shift duration.</li><li>startDateDurationPreferenceCode; string; Code of the absence bid start date preference.</li><li>startDateDurationPreferenceMeaning; string; Description of the absence bid start date preference.</li><li>startDateTime; string; Start date timestamp of an absence.</li><li>startTime; string; Start time of the recorded absence.</li><li>submittedDate; string; Date on which absence is created and submitted for approval.</li><li>timelinessOverrideDate; string</li><li>unitOfMeasure; string; Unit of measure used to record the absence, such as days or hours.</li><li>userMode; string; Role of the user who entered this absence. Possible values are EMP, MGR, or ADMIN.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Unique identifier of an absence record. <br>Finder Variables <ul><li>personAbsenceEntryId; integer;  Unique identifier of absence. </li></ul></li><li>findAbsenceUsingAllAbsParameters Finds absences based on the absence entry identifier, absence type identifier, person identifier, start and end date. <br>Finder Variables <ul><li>absenceTypeId; integer;  Unique identifier for the absence type. </li><li>endDate; string;  End date of the absence. </li><li>personAbsenceEntryId; integer;  Unique Identifier of absence. </li><li>personId; integer;  Unique identifier for the person. </li><li>startDate; string;  Start date of the absence. </li></ul></li><li>findByAbsDate Finds absences based on the absence start date. <br>Finder Variables <ul><li>startDate; string;  Start date of the absence. </li></ul></li><li>findByAbsStartAndEndDate Finds absences based on the start and end date of the absence. <br>Finder Variables <ul><li>endDate; string;  End date of the absence. </li><li>startDate; string;  Start date of the absence. </li></ul></li><li>findByAbsenceEntryId Finds absences based on the absence entry identifier. <br>Finder Variables <ul><li>personAbsenceEntryId; integer;  Finds absences based on the absence entry identifier, absence type identifier, person identifier, start and end date. </li></ul></li><li>findByAbsenceLinkages Finds all the absence linkages for an absence. <br>Finder Variables <ul><li>absencePatternCd; string;  Absence pattern of the absence for linkage. </li><li>absenceTypeId; integer;  Unique identifier for the absence type. </li><li>personAbsenceEntryId; integer;  Unique identifier for an absence entry. </li><li>personId; integer;  Unique identifier for a person. </li><li>startDate; string;  Start date of the linked absence. </li></ul></li><li>findByAbsenceTypeId Finds absences based on the absence type identifier. <br>Finder Variables <ul><li>absenceTypeId; integer;  Unique identifier for the absence type. </li></ul></li><li>findByPersonAbsenceTypeIdAndAbsDate Finds absences based on the absence type identifier, person identifier, start and end date. <br>Finder Variables <ul><li>absenceTypeId; integer;  Unique identifier for the absence type. </li><li>endDate; string;  End date of the absence. </li><li>personId; integer;  Unique identifier for the person. </li><li>startDate; string;  Start date of the absence. </li></ul></li><li>findByPersonAndAbsenceTypeId Finds absences based on the person identifier and type identifier. <br>Finder Variables <ul><li>absenceTypeId; integer;  Unique identifier for the absence type. </li><li>personId; integer;  Unique identifier for the person. </li></ul></li><li>findByPersonId Finds absences based on the person identifier. <br>Finder Variables <ul><li>personId; integer;  Unique identifier for the person. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Unique identifier of an absence record.",
                "properties": {
                  "personAbsenceEntryId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of absence.",
                    "type": "integer",
                    "title": "Absence Entry ID"
                  }
                }
              },
              {
                "name": "findAbsenceUsingAllAbsParameters",
                "description": "Finds absences based on the absence entry identifier, absence type identifier, person identifier, start and end date.",
                "title": "findAbsenceUsingAllAbsParameters",
                "properties": {
                  "absenceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the absence type.",
                    "type": "integer"
                  },
                  "endDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "End date of the absence.",
                    "type": "string"
                  },
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "startDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the absence.",
                    "type": "string"
                  },
                  "personAbsenceEntryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique Identifier of absence.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAbsDate",
                "description": "Finds absences based on the absence start date.",
                "title": "findByAbsDate",
                "properties": {
                  "startDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the absence.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAbsStartAndEndDate",
                "description": "Finds absences based on the start and end date of the absence.",
                "title": "findByAbsStartAndEndDate",
                "properties": {
                  "endDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "End date of the absence.",
                    "type": "string"
                  },
                  "startDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the absence.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAbsenceEntryId",
                "description": "Finds absences based on the absence entry identifier.",
                "title": "findByAbsenceEntryId",
                "properties": {
                  "personAbsenceEntryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds absences based on the absence entry identifier, absence type identifier, person identifier, start and end date.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAbsenceLinkages",
                "description": "Finds all the absence linkages for an absence.",
                "title": "findByAbsenceLinkages",
                "properties": {
                  "absenceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the absence type.",
                    "type": "integer"
                  },
                  "absencePatternCd": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Absence pattern of the absence for linkage.",
                    "type": "string"
                  },
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for a person.",
                    "type": "integer"
                  },
                  "startDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the linked absence.",
                    "type": "string"
                  },
                  "personAbsenceEntryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for an absence entry.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAbsenceTypeId",
                "description": "Finds absences based on the absence type identifier.",
                "title": "findByAbsenceTypeId",
                "properties": {
                  "absenceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the absence type.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPersonAbsenceTypeIdAndAbsDate",
                "description": "Finds absences based on the absence type identifier, person identifier, start and end date.",
                "title": "findByPersonAbsenceTypeIdAndAbsDate",
                "properties": {
                  "absenceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the absence type.",
                    "type": "integer"
                  },
                  "endDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "End date of the absence.",
                    "type": "string"
                  },
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "startDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the absence.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByPersonAndAbsenceTypeId",
                "description": "Finds absences based on the person identifier and type identifier.",
                "title": "findByPersonAndAbsenceTypeId",
                "properties": {
                  "absenceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the absence type.",
                    "type": "integer"
                  },
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Finds absences based on the person identifier.",
                "title": "findByPersonId",
                "properties": {
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences"
                }
              }
            },
            "links": {
              "overridePaymentPercentageEntitlement": {
                "operationRef": "#/paths/~1absences~1action~1overridePaymentPercentageEntitlement/post",
                "description": "Enters an override payment percentage to override the plan payment percentage for that absence."
              },
              "planUse": {
                "operationRef": "#/paths/~1absences~1action~1planUse/post",
                "description": "Shows the usage of absence plans for the worker's absence."
              },
              "getAbsenceTypeBalance": {
                "operationRef": "#/paths/~1absences~1action~1getAbsenceTypeBalance/post",
                "description": "Provides the absence type balance for the selected absence type. This includes all absence plans associated with the selected absence type."
              },
              "getUserAccessDetails": {
                "operationRef": "#/paths/~1absences~1action~1getUserAccessDetails/post",
                "description": "Returns user's roles, permissions, and login activity details."
              },
              "loadProjectedBalance": {
                "operationRef": "#/paths/~1absences~1action~1loadProjectedBalance/post",
                "description": "Displays the projected absence type balance based on the absence type balance and absence transactions through the absence end date."
              },
              "reprocessAbsencesAndRunPostApprovalProcess": {
                "operationRef": "#/paths/~1absences~1action~1reprocessAbsencesAndRunPostApprovalProcess/post",
                "description": "Reprocesses absences and runs postapproval process for the worker's absences with errors."
              },
              "checkActiveSchedulingProfile": {
                "operationRef": "#/paths/~1absences~1action~1checkActiveSchedulingProfile/post",
                "description": "Checks active scheduling profile exists or not for a given employee and absence type."
              },
              "findByAdvancedSearchQueryForCases": {
                "operationRef": "#/paths/~1absences~1action~1findByAdvancedSearchQueryForCases/post",
                "description": "Displays the absence cases found based on user search criteria."
              },
              "downloadStackTrace": {
                "operationRef": "#/paths/~1absences~1action~1downloadStackTrace/post",
                "description": "Downloads a stack trace file of the absences with errors."
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1absences~1action~1findByAdvancedSearchQuery/post",
                "description": "Searches existing absences based on various parameters."
              },
              "absenceDailyDetailsBreakdown": {
                "operationRef": "#/paths/~1absences~1action~1absenceDailyDetailsBreakdown/post",
                "description": "Displays the individual date and shift breakdown details of the absence request."
              }
            }
          }
        },
        "x-internal-id": "absences-get",
        "x-filename-id": "absences-get"
      },
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Create an absence record",
        "operationId": "create_absences",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-item-response"
                }
              }
            },
            "links": {
              "absenceEntitlements": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntitlements/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntitlements resource is a child of the absences resource. It provides a list of all the entitlements consumed by an absence."
              },
              "linkedAbsences": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1linkedAbsences/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The linkedAbsences resource provides the list of all absences linked to an absence."
              },
              "absenceAttachments": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceAttachments/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absence attachments resource provides the attached documents added to the absence transactions."
              },
              "absenceMaternity": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceMaternity/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceMaternity resource is a child of the absences resource. It provides details of maternity attributes when absence type is maternity."
              },
              "absenceEntryCertifications": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntryCertifications resource provides the list of all certifications entered as part of an absence."
              },
              "absenceRecordingDFF": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceRecordingDFF/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                }
              },
              "restrictAbsenceEdit": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1action~1restrictAbsenceEdit/post",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "Restricts edits for absences for managers and employees depending on the editing rule configuration."
              },
              "absenceEntryDetails": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryDetails/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntryDetails resource provides a individual day breakdown and a shift breakdown of the absence request dates."
              },
              "absenceEntitlementUniquePlans": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntitlementUniquePlans/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntitlementUniquePlans resource provides information about the employee absences associated with the entitlement plan of the same name."
              },
              "absenceRecordingsDDF": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceRecordingsDDF/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-post",
        "x-filename-id": "absences-post"
      }
    },
    "/absences/{absencesUniqID}": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get an absence record",
        "operationId": "get_absences",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-item-response"
                }
              }
            },
            "links": {
              "absenceEntitlements": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntitlements/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntitlements resource is a child of the absences resource. It provides a list of all the entitlements consumed by an absence."
              },
              "linkedAbsences": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1linkedAbsences/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The linkedAbsences resource provides the list of all absences linked to an absence."
              },
              "absenceAttachments": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceAttachments/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absence attachments resource provides the attached documents added to the absence transactions."
              },
              "absenceMaternity": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceMaternity/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceMaternity resource is a child of the absences resource. It provides details of maternity attributes when absence type is maternity."
              },
              "absenceEntryCertifications": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntryCertifications resource provides the list of all certifications entered as part of an absence."
              },
              "absenceRecordingDFF": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceRecordingDFF/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                }
              },
              "restrictAbsenceEdit": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1action~1restrictAbsenceEdit/post",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "Restricts edits for absences for managers and employees depending on the editing rule configuration."
              },
              "absenceEntryDetails": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryDetails/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntryDetails resource provides a individual day breakdown and a shift breakdown of the absence request dates."
              },
              "absenceEntitlementUniquePlans": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntitlementUniquePlans/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntitlementUniquePlans resource provides information about the employee absences associated with the entitlement plan of the same name."
              },
              "absenceRecordingsDDF": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceRecordingsDDF/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-get",
        "x-filename-id": "absences-absencesuniqid-get"
      },
      "delete": {
        "tags": [
          "Absences"
        ],
        "summary": "Delete an absence record",
        "operationId": "delete_absences",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-delete",
        "x-filename-id": "absences-absencesuniqid-delete"
      },
      "patch": {
        "tags": [
          "Absences"
        ],
        "summary": "Update an absence record",
        "operationId": "update_absences",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-item-response"
                }
              }
            },
            "links": {
              "absenceEntitlements": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntitlements/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntitlements resource is a child of the absences resource. It provides a list of all the entitlements consumed by an absence."
              },
              "linkedAbsences": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1linkedAbsences/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The linkedAbsences resource provides the list of all absences linked to an absence."
              },
              "absenceAttachments": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceAttachments/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absence attachments resource provides the attached documents added to the absence transactions."
              },
              "absenceMaternity": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceMaternity/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceMaternity resource is a child of the absences resource. It provides details of maternity attributes when absence type is maternity."
              },
              "absenceEntryCertifications": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryCertifications/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntryCertifications resource provides the list of all certifications entered as part of an absence."
              },
              "absenceRecordingDFF": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceRecordingDFF/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                }
              },
              "restrictAbsenceEdit": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1action~1restrictAbsenceEdit/post",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "Restricts edits for absences for managers and employees depending on the editing rule configuration."
              },
              "absenceEntryDetails": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntryDetails/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntryDetails resource provides a individual day breakdown and a shift breakdown of the absence request dates."
              },
              "absenceEntitlementUniquePlans": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceEntitlementUniquePlans/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                },
                "description": "The absenceEntitlementUniquePlans resource provides information about the employee absences associated with the entitlement plan of the same name."
              },
              "absenceRecordingsDDF": {
                "operationRef": "#/paths/~1absences~1{absencesUniqID}~1child~1absenceRecordingsDDF/get",
                "parameters": {
                  "absencesUniqID": "$request.path.absencesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-patch",
        "x-filename-id": "absences-absencesuniqid-patch"
      }
    },
    "/absences/action/getUserAccessDetails": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Retrieve user access details",
        "description": "Returns user's roles, permissions, and login activity details.",
        "operationId": "doall_getUserAccessDetails_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userMode": {
                    "type": "string",
                    "description": "Returns role for specified user.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Returns person ID for specified user.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Returns assignment ID for specified user.",
                    "nullable": true
                  },
                  "flowName": {
                    "type": "string",
                    "description": "Returns the business process flow name triggered for specified user.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Returns effective date of assignment for specified user.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the result for specified user."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the result for specified user."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-getUserAccessDetails-post",
        "x-filename-id": "absences-action-getuseraccessdetails-post"
      }
    },
    "/absences/action/overridePaymentPercentageEntitlement": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Enter an override payment percentage for an absence",
        "description": "Enters an override payment percentage to override the plan payment percentage for that absence.",
        "operationId": "doall_overridePaymentPercentageEntitlement_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pmtPercent": {
                    "type": "string",
                    "description": "Percentage value that overrides the payment percentage of the plan of the worker for a given absence duration.",
                    "nullable": true
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for override payment percentage.",
                    "nullable": true
                  },
                  "endDate": {
                    "type": "string",
                    "description": "End date within the duration of the absence when the payment percentage is overridden.",
                    "format": "date",
                    "nullable": true
                  },
                  "perAbsenceEntryId": {
                    "type": "number",
                    "description": "Absence entry identifier associated with the override payment percentage.",
                    "nullable": true
                  },
                  "planId": {
                    "type": "number",
                    "description": "Plan identifier to override payment percentage.",
                    "nullable": true
                  },
                  "planActivity": {
                    "type": "string",
                    "description": "Plan activity for the override payment percentage.",
                    "nullable": true
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start date within the duration of the absence when the payment percentage is overridden.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates whether the override payment percentage was applied or not."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates whether the override payment percentage was applied or not."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-overridePaymentPercentageEntitlement-post",
        "x-filename-id": "absences-action-overridepaymentpercentageentitlement-post"
      }
    },
    "/absences/action/absenceDailyDetailsBreakdown": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Display daily and shift details of the absence request",
        "description": "Displays the individual date and shift breakdown details of the absence request.",
        "operationId": "doall_absenceDailyDetailsBreakdown_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Offset of the absence request to display daily breakdown and shift breakdown.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit of the absence request to display daily breakdown and shift breakdown.",
                    "nullable": true
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort the shift and daily breakdown of the absence request.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "userContext": {
                    "type": "string",
                    "description": "User context of the absence request to display daily breakdown and shift breakdown.",
                    "nullable": true
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters of the absence request to display daily breakdown and shift breakdown.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return shift and daily breakdown of the absence request."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return shift and daily breakdown of the absence request."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-absenceDailyDetailsBreakdown-post",
        "x-filename-id": "absences-action-absencedailydetailsbreakdown-post"
      }
    },
    "/absences/action/reprocessAbsencesAndRunPostApprovalProcess": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Reprocess absences and run postapproval process",
        "description": "Reprocesses absences and runs postapproval process for the worker's absences with errors.",
        "operationId": "doall_reprocessAbsencesAndRunPostApprovalProcess_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "personId": {
                    "type": "number",
                    "description": "Person identifier to reprocess absences and run the postapproval process.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return absences based on the search request."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return absences based on the search request."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-reprocessAbsencesAndRunPostApprovalProcess-post",
        "x-filename-id": "absences-action-reprocessabsencesandrunpostapprovalprocess-post"
      }
    },
    "/absences/action/loadProjectedBalance": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Display absence type projected balance.",
        "description": "Displays the projected absence type balance based on the absence type balance and absence transactions through the absence end date.",
        "operationId": "doall_loadProjectedBalance_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entry": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Projected balance of the absence type based on the absence request.",
                    "nullable": true
                  },
                  "entryDetails": {
                    "type": "array",
                    "description": "Projected balance of the absence type based on the absence request in the daily details entry region.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return projected balance of the absence type."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return projected balance of the absence type."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-loadProjectedBalance-post",
        "x-filename-id": "absences-action-loadprojectedbalance-post"
      }
    },
    "/absences/action/getAbsenceTypeBalance": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Get an absence type balance",
        "description": "Provides the absence type balance for the selected absence type. This includes all absence plans associated with the selected absence type.",
        "operationId": "doall_getAbsenceTypeBalance_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "personId": {
                    "type": "number",
                    "description": "Balance of the absence type based on the person ID.",
                    "nullable": true
                  },
                  "typeId": {
                    "type": "number",
                    "description": "Balance of the absence type based on the type ID.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Balance of the absence type based on the assignment ID.",
                    "nullable": true
                  },
                  "userContext": {
                    "type": "string",
                    "description": "Balance of the absence type based on the user context or role.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Balance of the absence type based on the effective date.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return balance of the absence type."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return balance of the absence type."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-getAbsenceTypeBalance-post",
        "x-filename-id": "absences-action-getabsencetypebalance-post"
      }
    },
    "/absences/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Search existing absences",
        "description": "Searches existing absences based on various parameters.",
        "operationId": "doall_findByAdvancedSearchQuery_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Results set offset of existing absences search",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "User entered search criteria for existing absences",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Number of rows allowed in existing absences search",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "User entered search fields for existing absences",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Filter condition for existing absences",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort condition for existing absences",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "userContext": {
                    "type": "string",
                    "description": "User entered context of employee or manager for existing absences",
                    "nullable": true
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Existing absences search display results",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Autocomplete query for existing absences",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Set of results of the existing absences search"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Set of results of the existing absences search"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "absences-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "absences-action-findbyadvancedsearchquery-post"
      }
    },
    "/absences/action/downloadStackTrace": {
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Download a stack trace file",
        "description": "Downloads a stack trace file of the absences with errors.",
        "operationId": "doall_downloadStackTrace_absences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "personAbsenceEntryId": {
                    "type": "number",
                    "description": "Person absence entry identifier for the stack trace file download.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return of success or failure of download of stack trace file."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return of success or failure of download of stack trace file."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
[...]
