{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Absences/Absence Entry Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/absences/{absencesUniqID}/child/absenceEntryDetails": {
      "get": {
        "tags": [
          "Absences/Absence Entry Details"
        ],
        "summary": "Get all absence entry details",
        "operationId": "getall_absences-absenceEntryDetails",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AbsenceDate; string; Date of the absence request.</li><li>AbsenceDatetime; string; Date and time of the absence request.</li><li>AbsenceEndDatetime; string; End date and time of the absence request.</li><li>AssignmentId; integer; Unique identifier of the assignment for which the absence is recorded. When an employee has multiple active assignments, this attribute can be used to restrict the absence to a specific assignment. You can't change the assignment when editing an existing absence.</li><li>AssignmentNumber; string; Assignment number for the absence record which can be used when an employee has multiple assignments.</li><li>CreatedBy; string; Name of the person who created the absence transaction.</li><li>CreationDate; string; Date on which the absence transaction was created.</li><li>Duration; number; Duration of the absence request.</li><li>DurationPreferenceCode; string; Code of the absence duration preference.</li><li>DurationPreferenceMeaning; string; Description of the absence bid duration preference.</li><li>EndTime; string; End time of the absence request.</li><li>FormattedDuration; string; Duration of the recorded absence for a single day.</li><li>LastUpdateDate; string; Date on which the absence transaction was last updated.</li><li>LastUpdatedBy; string; Name of the person who last updated the absence transaction.</li><li>PersonAbsenceEntryId; integer; Unique identifier for the absence entry.</li><li>RowSequence; integer; Row sequence of the absence entry details.</li><li>Source; string; Source of the absence imported from other applications. For example, an absence may be recorded via Absence Management, Time and Labor, a data loader or through the REST process.</li><li>StartTime; string; Start time of the absence request.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the absence entry details based on the absence dates entered. <br>Finder Variables <ul><li>PersonAbsenceEntryDetailId; integer;  Unique identifier for the absence entry detail. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the absence entry details based on the absence dates entered.",
                "properties": {
                  "PersonAbsenceEntryDetailId": {
                    "x-queryable": false,
                    "nullable": false,
                    "description": "Unique identifier for the absence entry detail.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryDetails-get",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrydetails-get"
      },
      "post": {
        "tags": [
          "Absences/Absence Entry Details"
        ],
        "summary": "Create an absence entry detail",
        "operationId": "create_absences-absenceEntryDetails",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-absenceEntryDetails-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryDetails-post",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrydetails-post"
      }
    },
    "/absences/{absencesUniqID}/child/absenceEntryDetails/{PersonAbsenceEntryDetailId}": {
      "get": {
        "tags": [
          "Absences/Absence Entry Details"
        ],
        "summary": "Get an absence entry detail",
        "operationId": "get_absences-absenceEntryDetails",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonAbsenceEntryDetailId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the absence entry details.",
              "nullable": false,
              "x-queryable": false
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryDetails-{PersonAbsenceEntryDetailId}-get",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrydetails-personabsenceentrydetailid-get"
      },
      "delete": {
        "tags": [
          "Absences/Absence Entry Details"
        ],
        "summary": "Delete an absence entry detail",
        "operationId": "delete_absences-absenceEntryDetails",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonAbsenceEntryDetailId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the absence entry details.",
              "nullable": false,
              "x-queryable": false
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryDetails-{PersonAbsenceEntryDetailId}-delete",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrydetails-personabsenceentrydetailid-delete"
      },
      "patch": {
        "tags": [
          "Absences/Absence Entry Details"
        ],
        "summary": "Update an absence entry detail",
        "operationId": "update_absences-absenceEntryDetails",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonAbsenceEntryDetailId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the absence entry details.",
              "nullable": false,
              "x-queryable": false
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-absenceEntryDetails-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceEntryDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceEntryDetails-{PersonAbsenceEntryDetailId}-patch",
        "x-filename-id": "absences-absencesuniqid-child-absenceentrydetails-personabsenceentrydetailid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "absences-absenceEntryDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/absences-absenceEntryDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "absences-absenceEntryDetails-item-response": {
        "type": "object",
        "properties": {
          "AbsenceDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Date of the absence request.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AbsenceDatetime": {
            "type": "string",
            "description": "Date and time of the absence request.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "AbsenceEndDatetime": {
            "title": "End Date",
            "type": "string",
            "description": "End date and time of the absence request.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "title": "Job or Assignment or ID",
            "type": "integer",
            "description": "Unique identifier of the assignment for which the absence is recorded. When an employee has multiple active assignments, this attribute can be used to restrict the absence to a specific assignment. You can't change the assignment when editing an existing absence.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentNumber": {
            "type": "string",
            "description": "Assignment number for the absence record which can be used when an employee has multiple assignments.",
            "nullable": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person who created the absence transaction.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date on which the absence transaction was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Duration": {
            "title": "Duration",
            "type": "number",
            "description": "Duration of the absence request.",
            "nullable": true,
            "x-queryable": true
          },
          "DurationPreferenceCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the absence duration preference.",
            "nullable": true,
            "x-queryable": true
          },
          "DurationPreferenceMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the absence bid duration preference.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EndTime": {
            "title": "End Time",
            "maxLength": 30,
            "type": "string",
            "description": "End time of the absence request.",
            "nullable": true,
            "x-queryable": true
          },
          "FormattedDuration": {
            "type": "string",
            "description": "Duration of the recorded absence for a single day.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date on which the absence transaction was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person who last updated the absence transaction.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonAbsenceEntryDetailId": {
            "type": "integer",
            "description": "Unique identifier for the absence entry details.",
            "nullable": false,
            "x-queryable": false
          },
          "PersonAbsenceEntryId": {
            "type": "integer",
            "description": "Unique identifier for the absence entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RowSequence": {
            "type": "integer",
            "description": "Row sequence of the absence entry details.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Source": {
            "maxLength": 10,
            "type": "string",
            "description": "Source of the absence imported from other applications. For example, an absence may be recorded via Absence Management, Time and Labor, a data loader or through the REST process.",
            "nullable": true,
            "x-queryable": true
          },
          "StartTime": {
            "title": "Start Time",
            "maxLength": 30,
            "type": "string",
            "description": "Start time of the absence request.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "absences-absenceEntryDetails-item-post-request": {
        "type": "object",
        "properties": {
          "AbsenceDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Date of the absence request.",
            "format": "date",
            "nullable": true
          },
          "AbsenceDatetime": {
            "type": "string",
            "description": "Date and time of the absence request.",
            "format": "date-time",
            "nullable": true
          },
          "AbsenceEndDatetime": {
            "title": "End Date",
            "type": "string",
            "description": "End date and time of the absence request.",
            "format": "date-time",
            "nullable": true
          },
          "AssignmentId": {
            "title": "Job or Assignment or ID",
            "type": "integer",
            "description": "Unique identifier of the assignment for which the absence is recorded. When an employee has multiple active assignments, this attribute can be used to restrict the absence to a specific assignment. You can't change the assignment when editing an existing absence.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "AssignmentNumber": {
            "type": "string",
            "description": "Assignment number for the absence record which can be used when an employee has multiple assignments.",
            "nullable": true
          },
          "Duration": {
            "title": "Duration",
            "type": "number",
            "description": "Duration of the absence request.",
            "nullable": true
          },
          "DurationPreferenceCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the absence duration preference.",
            "nullable": true
          },
          "EndTime": {
            "title": "End Time",
            "maxLength": 30,
            "type": "string",
            "description": "End time of the absence request.",
            "nullable": true
          },
          "FormattedDuration": {
            "type": "string",
            "description": "Duration of the recorded absence for a single day.",
            "nullable": true
          },
          "PersonAbsenceEntryDetailId": {
            "type": "integer",
            "description": "Unique identifier for the absence entry details.",
            "nullable": false,
            "x-queryable": false
          },
          "PersonAbsenceEntryId": {
            "type": "integer",
            "description": "Unique identifier for the absence entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RowSequence": {
            "type": "integer",
            "description": "Row sequence of the absence entry details.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Source": {
            "maxLength": 10,
            "type": "string",
            "description": "Source of the absence imported from other applications. For example, an absence may be recorded via Absence Management, Time and Labor, a data loader or through the REST process.",
            "nullable": true
          },
          "StartTime": {
            "title": "Start Time",
            "maxLength": 30,
            "type": "string",
            "description": "Start time of the absence request.",
            "nullable": true
          }
        }
      },
      "absences-absenceEntryDetails-item-patch-request": {
        "type": "object",
        "properties": {
          "AbsenceDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Date of the absence request.",
            "format": "date",
            "nullable": true
          },
          "AbsenceDatetime": {
            "type": "string",
            "description": "Date and time of the absence request.",
            "format": "date-time",
            "nullable": true
          },
          "AbsenceEndDatetime": {
            "title": "End Date",
            "type": "string",
            "description": "End date and time of the absence request.",
            "format": "date-time",
            "nullable": true
          },
          "AssignmentId": {
            "title": "Job or Assignment or ID",
            "type": "integer",
            "description": "Unique identifier of the assignment for which the absence is recorded. When an employee has multiple active assignments, this attribute can be used to restrict the absence to a specific assignment. You can't change the assignment when editing an existing absence.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "AssignmentNumber": {
            "type": "string",
            "description": "Assignment number for the absence record which can be used when an employee has multiple assignments.",
            "nullable": true
          },
          "Duration": {
            "title": "Duration",
            "type": "number",
            "description": "Duration of the absence request.",
            "nullable": true
          },
          "DurationPreferenceCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the absence duration preference.",
            "nullable": true
          },
          "EndTime": {
            "title": "End Time",
            "maxLength": 30,
            "type": "string",
            "description": "End time of the absence request.",
            "nullable": true
          },
          "FormattedDuration": {
            "type": "string",
            "description": "Duration of the recorded absence for a single day.",
            "nullable": true
          },
          "PersonAbsenceEntryId": {
            "type": "integer",
            "description": "Unique identifier for the absence entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RowSequence": {
            "type": "integer",
            "description": "Row sequence of the absence entry details.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Source": {
            "maxLength": 10,
            "type": "string",
            "description": "Source of the absence imported from other applications. For example, an absence may be recorded via Absence Management, Time and Labor, a data loader or through the REST process.",
            "nullable": true
          },
          "StartTime": {
            "title": "Start Time",
            "maxLength": 30,
            "type": "string",
            "description": "Start time of the absence request.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "absences-absenceEntryDetails-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/absences-absenceEntryDetails-item-post-request"
            }
          }
        }
      },
      "absences-absenceEntryDetails-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/absences-absenceEntryDetails-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}