{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Absences/Absence Developer Flexfields",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/absences/{absencesUniqID}/child/absenceRecordingsDDF": {
      "get": {
        "tags": [
          "Absences/Absence Developer Flexfields"
        ],
        "summary": "Get all absence recording descriptive flexfields for absence bids",
        "operationId": "getall_absences-absenceRecordingsDDF",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey  <br>Finder Variables <ul><li>PerAbsenceEntryId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "PerAbsenceEntryId": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceRecordingsDDF"
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceRecordingsDDF-get",
        "x-filename-id": "absences-absencesuniqid-child-absencerecordingsddf-get"
      },
      "post": {
        "tags": [
          "Absences/Absence Developer Flexfields"
        ],
        "summary": "Create an absence recording DFF for absence bids",
        "operationId": "create_absences-absenceRecordingsDDF",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-absenceRecordingsDDF-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceRecordingsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10110%2CBind_DescriptiveFlexfieldCode%3DANC_PER_ABS_ENTRIES_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10110%2CBind_DescriptiveFlexfieldCode%3DANC_PER_ABS_ENTRIES_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceRecordingsDDF-post",
        "x-filename-id": "absences-absencesuniqid-child-absencerecordingsddf-post"
      }
    },
    "/absences/{absencesUniqID}/child/absenceRecordingsDDF/{absenceRecordingsDDFUniqID}": {
      "get": {
        "tags": [
          "Absences/Absence Developer Flexfields"
        ],
        "summary": "Get an absence recording DFF for an absence bid",
        "operationId": "get_absences-absenceRecordingsDDF",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absenceRecordingsDDFUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absence Developer Flexfields resource and used to uniquely identify an instance of Absence Developer Flexfields. The client should not generate the hash key value. Instead, the client should query on the Absence Developer Flexfields collection resource in order to navigate to a specific instance of Absence Developer Flexfields to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceRecordingsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10110%2CBind_DescriptiveFlexfieldCode%3DANC_PER_ABS_ENTRIES_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10110%2CBind_DescriptiveFlexfieldCode%3DANC_PER_ABS_ENTRIES_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceRecordingsDDF-{absenceRecordingsDDFUniqID}-get",
        "x-filename-id": "absences-absencesuniqid-child-absencerecordingsddf-absencerecordingsddfuniqid-get"
      },
      "patch": {
        "tags": [
          "Absences/Absence Developer Flexfields"
        ],
        "summary": "Update an absence recording DFF for an absence bid",
        "operationId": "update_absences-absenceRecordingsDDF",
        "parameters": [
          {
            "name": "absencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absences resource and used to uniquely identify an instance of Absences. The client should not generate the hash key value. Instead, the client should query on the Absences collection resource in order to navigate to a specific instance of Absences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "absenceRecordingsDDFUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Absence Developer Flexfields resource and used to uniquely identify an instance of Absence Developer Flexfields. The client should not generate the hash key value. Instead, the client should query on the Absence Developer Flexfields collection resource in order to navigate to a specific instance of Absence Developer Flexfields to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/absences-absenceRecordingsDDF-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absences-absenceRecordingsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10110%2CBind_DescriptiveFlexfieldCode%3DANC_PER_ABS_ENTRIES_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10110%2CBind_DescriptiveFlexfieldCode%3DANC_PER_ABS_ENTRIES_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "absences-{absencesUniqID}-child-absenceRecordingsDDF-{absenceRecordingsDDFUniqID}-patch",
        "x-filename-id": "absences-absencesuniqid-child-absencerecordingsddf-absencerecordingsddfuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "absences-absenceRecordingsDDF": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/absences-absenceRecordingsDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "absences-absenceRecordingsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "ORA_HRX_CA_VACATION": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FCA__5FVACATIONVO-item-response",
            "ORA_HRX_FR_ADOPT": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADOPTVO-item-response",
            "ORA_HRX_FR_ADP_LNK": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADP__5FLNKVO-item-response",
            "ORA_HRX_FR_ADP_PAR": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADP__5FPARVO-item-response",
            "ORA_HRX_FR_AT_MP": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FAT__5FMPVO-item-response",
            "ORA_HRX_FR_MAL": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FMALVO-item-response",
            "ORA_HRX_FR_MATERNITY": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FMATERNITYVO-item-response",
            "ORA_HRX_FR_MATERNITY_EXTN": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FMATERNITY__5FEXTNVO-item-response",
            "ORA_HRX_FR_PATERNITY": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FPATERNITYVO-item-response",
            "ORA_HRX_FR_PAT_LNK": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FPAT__5FLNKVO-item-response",
            "ORA_HRX_FR_PBL": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FPBLVO-item-response",
            "ORA_HRX_FR_TPT": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FTPTVO-item-response",
            "ORA_HRX_GB_ADOP": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FADOPVO-item-response",
            "ORA_HRX_GB_MAT": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FMATVO-item-response",
            "ORA_HRX_GB_PAT": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPATVO-item-response",
            "ORA_HRX_GB_PAT_ADO": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPAT__5FADOVO-item-response",
            "ORA_HRX_GB_PAT_ADO_EXTN": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPAT__5FADO__5FEXTNVO-item-response",
            "ORA_HRX_GB_PAT_EXTN": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPAT__5FEXTNVO-item-response",
            "ORA_HRX_GB_SDM": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSDMVO-item-response",
            "ORA_HRX_GB_SHPL": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSHPLVO-item-response",
            "ORA_HRX_GB_SHPL_ADO": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSHPL__5FADOVO-item-response",
            "ORA_HRX_GB_SICK": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSICKVO-item-response",
            "ORA_HRX_GB_SPBL": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSPBLVO-item-response",
            "ORA_HRX_IE_SICKNESS": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FIE__5FSICKNESSVO-item-response",
            "ORA_HRX_MX_DISABILITY": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FMX__5FDISABILITYVO-item-response",
            "ORA_HRX_NL_ADOPTION": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FADOPTIONVO-item-response",
            "ORA_HRX_NL_FOSTER_CARE": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FFOSTER__5FCAREVO-item-response",
            "ORA_HRX_NL_MATERNITY": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FMATERNITYVO-item-response",
            "ORA_HRX_NL_ORGAN_DONOR": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FORGAN__5FDONORVO-item-response",
            "ORA_HRX_NL_SICKNESS": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FSICKNESSVO-item-response",
            "ORA_HRX_NL_SICK_CHILD_BIRTH": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FSICK__5FCHILD__5FBIRTHVO-item-response",
            "ORA_HRX_NL_SICK_PREG_REL": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FSICK__5FPREG__5FRELVO-item-response",
            "ORA_HRX_NL_WORK_ACCIDENT": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FWORK__5FACCIDENTVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FCA__5FVACATIONVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADOPTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADP__5FLNKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADP__5FPARVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FAT__5FMPVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FMALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FMATERNITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FMATERNITY__5FEXTNVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FPATERNITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FPAT__5FLNKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FPBLVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FTPTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FADOPVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FMATVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPATVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPAT__5FADOVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPAT__5FADO__5FEXTNVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FPAT__5FEXTNVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSDMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSHPLVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSHPL__5FADOVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSICKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FGB__5FSPBLVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FIE__5FSICKNESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FMX__5FDISABILITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FADOPTIONVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FFOSTER__5FCAREVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FMATERNITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FORGAN__5FDONORVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FSICKNESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FSICK__5FCHILD__5FBIRTHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FSICK__5FPREG__5FRELVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FNL__5FWORK__5FACCIDENTVO-item-response"
          }
        ]
      },
      "oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FCA__5FVACATIONVO-item-response": {
        "type": "object",
        "properties": {
          "PerAbsenceEntryId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "ORA_HRX_CA_VACATION",
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "LegGroupingCd",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LegGroupingCd",
              "FND_ACFF_MaximumLength": "1024",
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxCaTermDate": {
            "title": "Vacation Accrual Reduction Date",
            "type": "string",
            "description": "Vacation Accrual Reduction Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Vacation Accrual Reduction Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxCaTermDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE1",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_TERM_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADOPTVO-item-response": {
        "type": "object",
        "properties": {
          "PerAbsenceEntryId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "ORA_HRX_FR_ADOPT",
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "LegGroupingCd",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LegGroupingCd",
              "FND_ACFF_MaximumLength": "1024",
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxFrAdopOseddate": {
            "title": "Override Subrogation End Date",
            "type": "string",
            "description": "Override Subrogation End Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Subrogation End Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdopOseddate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE14",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADOPT_OSEDDATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdoptAbsNotPay": {
            "title": "Absence not Payable",
            "maxLength": 150,
            "type": "string",
            "description": "Absence not Payable",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdoptAbsNotPay",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADOPT_ABS_NOT_PAY",
              "help": {
                "instruction": "Absence not Payable"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "INFORMATION7",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdoptOldayw": {
            "title": "Override Last Day Worked",
            "type": "string",
            "description": "Override Last Day Worked",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Last Day Worked"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdoptOldayw",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE15",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADOPT_OLDAYW",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdoptOsstdate": {
            "title": "Override Subrogation Start Date",
            "type": "string",
            "description": "Override Subrogation Start Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Subrogation Start Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdoptOsstdate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE13",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADOPT_OSSTDATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdoptRtwr": {
            "title": "Return To Work Reason",
            "maxLength": 150,
            "type": "string",
            "description": "Return To Work Reason",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrAdoptRtwr_Display",
              "help": {
                "instruction": "Return To Work Reason"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_RETURN_TO_WORK_TYPE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdoptRtwr",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION11",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADOPT_RTWR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdoptRtwr_Display": {
            "title": "Return To Work Reason",
            "type": "string",
            "description": "Return To Work Reason",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrAdoptRtwr",
              "help": {
                "instruction": "Return To Work Reason"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrChildren": {
            "title": "Less than two dependent children",
            "maxLength": 150,
            "type": "string",
            "description": "Less than two dependent children",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "Y",
              "FND_ACFF_OpenIdentifier": "oraHrxFrChildren",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_CHILDREN",
              "help": {
                "instruction": "Less than two dependent children"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "INFORMATION2",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrMultipleBirth": {
            "title": "Multiple Adoption",
            "maxLength": 150,
            "type": "string",
            "description": "Multiple Adoption",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrMultipleBirth_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxFrMultipleBirth",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_MULTIPLE_BIRTH",
              "help": {
                "instruction": "Multiple Adoption"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrMultipleBirth_Display": {
            "title": "Multiple Adoption",
            "type": "string",
            "description": "Multiple Adoption",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrMultipleBirth",
              "help": {
                "instruction": "Multiple Adoption"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADP__5FLNKVO-item-response": {
        "type": "object",
        "properties": {
          "PerAbsenceEntryId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "ORA_HRX_FR_ADP_LNK",
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "LegGroupingCd",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LegGroupingCd",
              "FND_ACFF_MaximumLength": "1024",
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxFrAdpLnkLnkPatId": {
            "title": "Linked Adoption",
            "type": "number",
            "description": "Linked Adoption",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_AkaAttrName": "oraHrxFrAdpLnkLnkPatId_DisplayValue",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpLnkLnkPatId",
              "FND_ACFF_IsRequired": "true",
              "FlexClientVar_flex_vst_bind1_JT": "java.lang.String",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_LNK_LNKPAT_ID",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Linked Adoption"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_LINKED_ADOPTION#TABLE",
              "controlType": "choice",
              "includeInCompactView": true,
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PersonId",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "INFORMATION_NUMBER1",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpLnkLnkPatId_DisplayValue": {
            "title": "Linked Adoption",
            "type": "string",
            "description": "Linked Adoption",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "oraHrxFrAdpLnkLnkPatId",
              "FND_ACFF_IsRequired": "true",
              "FlexClientVar_flex_vst_bind1_JT": "java.lang.String",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Linked Adoption"
              },
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PersonId",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ListDisplayAttrName": "ValueDate",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpLnkOldayw": {
            "title": "Override Last Day Worked",
            "type": "string",
            "description": "Override Last Day Worked",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Last Day Worked"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpLnkOldayw",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE15",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_LNK_OLDAYW",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpLnkOseddate": {
            "title": "Override Subrogation End Date",
            "type": "string",
            "description": "Override Subrogation End Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Subrogation End Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpLnkOseddate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE14",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_LNK_OSEDDATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpLnkOsstdate": {
            "title": "Override Subrogation Start Date",
            "type": "string",
            "description": "Override Subrogation Start Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Subrogation Start Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpLnkOsstdate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE13",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_LNK_OSSTDATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpLnkRtwr": {
            "title": "Return To Work Reason",
            "maxLength": 150,
            "type": "string",
            "description": "Return To Work Reason",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrAdpLnkRtwr_Display",
              "help": {
                "instruction": "Return To Work Reason"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_RETURN_TO_WORK_TYPE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpLnkRtwr",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION11",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_LNK_RTWR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpLnkRtwr_Display": {
            "title": "Return To Work Reason",
            "type": "string",
            "description": "Return To Work Reason",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrAdpLnkRtwr",
              "help": {
                "instruction": "Return To Work Reason"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FADP__5FPARVO-item-response": {
        "type": "object",
        "properties": {
          "OraHrxFrAdpParChildren": {
            "title": "Less than two dependent children",
            "maxLength": 150,
            "type": "string",
            "description": "Less than two dependent children",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "Y",
              "FND_ACFF_OpenIdentifier": "OraHrxFrAdpParChildren",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_CHILDREN",
              "help": {
                "instruction": "Less than two dependent children"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "INFORMATION2",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "PerAbsenceEntryId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "ORA_HRX_FR_ADP_PAR",
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "LegGroupingCd",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LegGroupingCd",
              "FND_ACFF_MaximumLength": "1024",
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxFrAdpParMultipleBirth": {
            "title": "Multiple Adoption",
            "maxLength": 150,
            "type": "string",
            "description": "Multiple Adoption",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrAdpParMultipleBirth_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpParMultipleBirth",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_MULTI_BIRTH",
              "help": {
                "instruction": "Multiple Adoption"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParMultipleBirth_Display": {
            "title": "Multiple Adoption",
            "type": "string",
            "description": "Multiple Adoption",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrAdpParMultipleBirth",
              "help": {
                "instruction": "Multiple Adoption"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParNotPayable": {
            "title": "Absence not Payable",
            "maxLength": 150,
            "type": "string",
            "description": "Absence not Payable",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpParNotPayable",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_NOT_PAYABLE",
              "help": {
                "instruction": "Absence not Payable"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "INFORMATION7",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParOldayw": {
            "title": "Override Last Day Worked",
            "type": "string",
            "description": "Override Last Day Worked",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Last Day Worked"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpParOldayw",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE15",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_OLDAYW",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParOseddate": {
            "title": "Override Subrogation End Date",
            "type": "string",
            "description": "Override Subrogation End Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Subrogation End Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpParOseddate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE14",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_OSEDDATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParOsstdate": {
            "title": "Override Subrogation Start Date",
            "type": "string",
            "description": "Override Subrogation Start Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Override Subrogation Start Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpParOsstdate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE13",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_OSSTDATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParRtwr": {
            "title": "Return To Work Reason",
            "maxLength": 150,
            "type": "string",
            "description": "Return To Work Reason",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrAdpParRtwr_Display",
              "help": {
                "instruction": "Return To Work Reason"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_RETURN_TO_WORK_TYPE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAdpParRtwr",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION11",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_ADP_PAR_RTWR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAdpParRtwr_Display": {
            "title": "Return To Work Reason",
            "type": "string",
            "description": "Return To Work Reason",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrAdpParRtwr",
              "help": {
                "instruction": "Return To Work Reason"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_flex_hcm_globalAbsences_recording_absenceRecordingsDDFFlex_view_AbsenceRecordingsDDFFlexORA__5FHRX__5FFR__5FAT__5FMPVO-item-response": {
        "type": "object",
        "properties": {
          "OraHrxFrIncDate": {
            "title": "Incident Date",
            "type": "string",
            "description": "Incident Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Incident Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "OraHrxFrIncDate",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "INFORMATION_DATE10",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_INC_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "PerAbsenceEntryId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "ORA_HRX_FR_AT_MP",
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "LegGroupingCd",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LegGroupingCd",
              "FND_ACFF_MaximumLength": "1024",
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxFrAtMpEmpFau": {
            "title": "Accident Employee Fault",
            "maxLength": 150,
            "type": "string",
            "description": "Accident Employee Fault",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrAtMpEmpFau_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxFrAtMpEmpFau",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_AT_MP_EMP_FAU",
              "help": {
                "instruction": "Accident Employee Fault"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION3",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAtMpEmpFau_Display": {
            "title": "Accident Employee Fault",
            "type": "string",
            "description": "Accident Employee Fault",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrAtMpEmpFau",
              "help": {
                "instruction": "Accident Employee Fault"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrAtMpIncRef": {
            "title": "Incident Reference",
            "maxLength": 150,
            "type": "string",
            "description": "Incident Reference",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Incident Reference"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxFrAtMpIncRef",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "INFORMATION2",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_AT_MP_INC_REF",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrIncCategory": {
            "title": "Incident Category",
            "maxLength": 150,
            "type": "string",
            "description": "Incident Category",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxFrIncCategory_Display",
              "help": {
                "instruction": "Incident Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_INC_CATEGORY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxFrIncCategory",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "INFORMATION1",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_INC_CATEGORY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxFrIncCategory_Display": {
            "title": "Incident Category",
            "type": "string",
            "description": "Incident Category",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxFrIncCategory",
              "help": {
                "instruction": "Incident Category"
              },
              "controlType": "combo_lov",
[...]
