{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Absences No Entitlements",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/absenceNoEntitlements/{AbsenceNoEntitlementId}": {
      "get": {
        "tags": [
          "Absences No Entitlements"
        ],
        "summary": "Get a no entitlement absence",
        "operationId": "get_absenceNoEntitlements",
        "parameters": [
          {
            "name": "AbsenceNoEntitlementId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the no entitlement absence.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absenceNoEntitlements-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "absenceNoEntitlements-{AbsenceNoEntitlementId}-get",
        "x-filename-id": "absencenoentitlements-absencenoentitlementid-get"
      }
    },
    "/absenceNoEntitlements": {
      "get": {
        "tags": [
          "Absences No Entitlements"
        ],
        "summary": "Get all no entitlement absences",
        "operationId": "getall_absenceNoEntitlements",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AbsenceNoEntitlementId; integer; Unique identifier for the no entitlement absence.</li><li>AbsencePlanId; integer; Unique identifier for the absence plan.</li><li>AbsencePlanName; string; Name of the absence plan.</li><li>AssignmentId; number; Unique identifier for the worker's assignment.</li><li>AssignmentName; string; Name of the worker's assignment.</li><li>AssignmentNumber; string; Number of the worker's assignment.</li><li>CalculationDate; string; Calculation date of the no entitlement absence.</li><li>EffectiveEndDate; string; Effective end date of the no entitlement absence.</li><li>EffectiveStartDate; string; Effective start date of the no entitlement absence.</li><li>EndDatetime; string; Effective end time of the no entitlement absence.</li><li>EntitlementDate; string; Date of entitlement of the worker.</li><li>EntitlementMethodCode; string; Code for the entitlement method.</li><li>EntitlementMethodMeaning; string; Entitlement method meaning for the no entitlement absence.</li><li>FormattedUnits; string; Number of units of no entitlement absence displayed in particular format</li><li>PayFactor; number; Pay factor for the entitlement.</li><li>PersonAbsenceEntryId; integer; Unique identifier for the absence entry of the person.</li><li>PersonId; integer; Unique identifier for the person.</li><li>PlanId; integer; Unique identifier for the absence plan.</li><li>QualificationDate; string; Date of the qualifying event for that worker.</li><li>Source; string; Source for the no entitlement absence.</li><li>SourceMeaning; string; Meaning for the source of the no entitlement absence.</li><li>StartDatetime; string; Start date time for the no entitlement absence.</li><li>UnitOfMeasureCode; string; Unit of measure for the no entitlement absence.</li><li>UnitOfMeasureMeaning; string; Unit of measure meaning for the no entitlement absence.</li><li>Units; number; Number of units of the no entitlement absence.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the no entitlement absences that match the primary key criteria specified. <br>Finder Variables <ul><li>AbsenceNoEntitlementId; integer;  Absences with a plan type of No Entitlements. </li></ul></li><li>findByAbsenceEntryId Finds all the no entitlement absences for the specified absence entry. <br>Finder Variables <ul><li>PersonAbsenceEntryId; integer;  Absence entry identifier for the no entitlement absence. </li></ul></li><li>findByPerson Finds all the no entitlement absences for the specified person. <br>Finder Variables <ul><li>AssignmentId; integer;  Assignment identifier for the no entitlement absence. </li><li>PersonId; integer;  Person identifier for the no entitlement absence. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the no entitlement absences that match the primary key criteria specified.",
                "properties": {
                  "AbsenceNoEntitlementId": {
                    "nullable": true,
                    "description": "Absences with a plan type of No Entitlements.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAbsenceEntryId",
                "description": "Finds all the no entitlement absences for the specified absence entry.",
                "title": "findByPersonAbsenceEntryId",
                "properties": {
                  "PersonAbsenceEntryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Absence entry identifier for the no entitlement absence.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPerson",
                "description": "Finds all the no entitlement absences for the specified person.",
                "title": "findByPersonIdAsgId",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "SelectivelyRequired"
                    },
                    "description": "Person identifier for the no entitlement absence.",
                    "type": "integer"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "SelectivelyRequired"
                    },
                    "description": "Assignment identifier for the no entitlement absence.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/absenceNoEntitlements"
                }
              }
            }
          }
        },
        "x-internal-id": "absenceNoEntitlements-get",
        "x-filename-id": "absencenoentitlements-get"
      }
    }
  },
  "components": {
    "schemas": {
      "absenceNoEntitlements-item-response": {
        "type": "object",
        "properties": {
          "AbsenceNoEntitlementId": {
            "type": "integer",
            "description": "Unique identifier for the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AbsencePlanId": {
            "type": "integer",
            "description": "Unique identifier for the absence plan.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AbsencePlanName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the absence plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "type": "number",
            "description": "Unique identifier for the worker's assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentName": {
            "maxLength": 320,
            "type": "string",
            "description": "Name of the worker's assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "maxLength": 200,
            "type": "string",
            "description": "Number of the worker's assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CalculationDate": {
            "type": "string",
            "description": "Calculation date of the no entitlement absence.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "type": "string",
            "description": "Effective end date of the no entitlement absence.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Effective start date of the no entitlement absence.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDatetime": {
            "type": "string",
            "description": "Effective end time of the no entitlement absence.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EntitlementDate": {
            "type": "string",
            "description": "Date of entitlement of the worker.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EntitlementMethodCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the entitlement method.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EntitlementMethodMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Entitlement method meaning for the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FormattedUnits": {
            "maxLength": 255,
            "type": "string",
            "description": "Number of units of no entitlement absence displayed in particular format",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PayFactor": {
            "type": "number",
            "description": "Pay factor for the entitlement.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonAbsenceEntryId": {
            "type": "integer",
            "description": "Unique identifier for the absence entry of the person.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier for the person.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PlanId": {
            "type": "integer",
            "description": "Unique identifier for the absence plan.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QualificationDate": {
            "type": "string",
            "description": "Date of the qualifying event for that worker.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Source": {
            "maxLength": 255,
            "type": "string",
            "description": "Source for the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SourceMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Meaning for the source of the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDatetime": {
            "type": "string",
            "description": "Start date time for the no entitlement absence.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnitOfMeasureCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure for the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnitOfMeasureMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Unit of measure meaning for the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Units": {
            "type": "number",
            "description": "Number of units of the no entitlement absence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "absenceNoEntitlements": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/absenceNoEntitlements-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}