{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Activity Items/Job Offers List",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingRACItems/{SubscriberTypeCode}/child/offerList": {
      "get": {
        "tags": [
          "Activity Items/Job Offers List"
        ],
        "summary": "Get all offer activity items for a recruiter or hiring manager on the offer hiring team",
        "operationId": "getall_recruitingRACItems-offerList",
        "parameters": [
          {
            "name": "SubscriberTypeCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionDate; string; Action date of an activity item.</li><li>Candidate; string; Name of the candidate that the activity item relates to.</li><li>CandidateNumber; string; Candidate number of the candidate associated with the activity item.</li><li>DefaultAction; string; Default action of the job offer activity item.</li><li>DefaultActionName; string; Name of the default action for the activity item.</li><li>HiringManager; string; Name of the hiring manager of the job offer for the activity item.</li><li>HiringManagerId; integer; Person identifier of the hiring manager associated with the activity item.</li><li>ItemId; integer; Unique identifier of the activity item.</li><li>ItemName; string; Name of the activity item.</li><li>ObjectId; integer; Object identifier of the activity item.</li><li>OfferId; integer; Offer ID of the offer related to the activity item.</li><li>PersonId; integer; Person identifier of the candidate associated with the recruiting activity item.</li><li>Priority; string; Activity item priority, can be high or null.</li><li>PriorityCode; string; Rule priority code the job offer activity relates to.</li><li>Recruiter; string; Name of the recruiter of the job offer for the activity item.</li><li>RecruiterId; integer; Person identifier of the recruiter associated with the activity item.</li><li>RequisitionId; integer; Requisition identifier of the requisition associated with the activity item.</li><li>RequisitionNumber; string; Requisition number of the requisition associated with the activity item.</li><li>RequisitionTitle; string; Requisition title of the requisition associated with the activity item.</li><li>Subject; string; Subject associated with the job offer.</li><li>SubmissionId; integer; Submission ID associated with the job offer.</li><li>SubscriberRuleCode; string; Subscriber rule code for the activity item.</li><li>SubscriberRuleId; integer; Subscriber rule ID for the activity item.</li><li>SubscriberTypeCode; string; Subscriber type code for the activity item, in this case offer is the subscriber.</li><li>SubscriberTypeMeaning; string; Subscriber type meaning of the subscriber associated with the activity item.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the activity item using the specified primary key. <br>Finder Variables <ul><li>ItemId; integer;  Primary key and the item ID used to find the activity item. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the activity item using the specified primary key.",
                "properties": {
                  "ItemId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Primary key and the item ID used to find the activity item.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingRACItems-offerList"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingRACItems-{SubscriberTypeCode}-child-offerList-get",
        "x-filename-id": "recruitingracitems-subscribertypecode-child-offerlist-get"
      }
    },
    "/recruitingRACItems/{SubscriberTypeCode}/child/offerList/{ItemId}": {
      "get": {
        "tags": [
          "Activity Items/Job Offers List"
        ],
        "summary": "Get the list of offer activity items for a recruiter or hiring manager on the offer hiring team",
        "operationId": "get_recruitingRACItems-offerList",
        "parameters": [
          {
            "name": "SubscriberTypeCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ItemId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the job application action activity item.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingRACItems-offerList-item-response"
                }
              }
            },
            "links": {
              "offerPreviews": {
                "operationRef": "#/paths/~1recruitingRACItems~1{SubscriberTypeCode}~1child~1offerList~1{ItemId}~1child~1offerPreviews/get",
                "parameters": {
                  "SubscriberTypeCode": "$request.path.SubscriberTypeCode",
                  "ItemId3": "$request.path.ItemId3"
                },
                "description": "The offerPreview resource is the child of the recruitingRACItems resource. It provides a preview of the details of a job offer."
              },
              "offerActionPreviews": {
                "operationRef": "#/paths/~1recruitingRACItems~1{SubscriberTypeCode}~1child~1offerList~1{ItemId}~1child~1offerActionPreviews/get",
                "parameters": {
                  "SubscriberTypeCode": "$request.path.SubscriberTypeCode",
                  "ItemId3": "$request.path.ItemId3"
                },
                "description": "The offerActionPreviews resource is the child of the recruitingRACItems resource. It provides a preview displaying data about the offer based on the action being performed."
              },
              "actions": {
                "operationRef": "#/paths/~1recruitingRACItems~1{SubscriberTypeCode}~1child~1offerList~1{ItemId}~1child~1actions/get",
                "parameters": {
                  "SubscriberTypeCode": "$request.path.SubscriberTypeCode",
                  "ItemId3": "$request.path.ItemId3"
                },
                "description": "The actions resource is the child of the recruitingRACItems resource. It provides a list of job requisition actions that a user can take based on the requisition activity item."
              }
            }
          }
        },
        "x-internal-id": "recruitingRACItems-{SubscriberTypeCode}-child-offerList-{ItemId}-get",
        "x-filename-id": "recruitingracitems-subscribertypecode-child-offerlist-itemid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingRACItems-offerList": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-offerList-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingRACItems-offerList-item-response": {
        "type": "object",
        "properties": {
          "ActionDate": {
            "title": "Date",
            "type": "string",
            "description": "Action date of an activity item.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Candidate": {
            "title": "Candidate",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the candidate that the activity item relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Candidate number of the candidate associated with the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultAction": {
            "maxLength": 30,
            "type": "string",
            "description": "Default action of the job offer activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultActionName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the default action for the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManager": {
            "title": "Hiring Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the hiring manager of the job offer for the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManagerId": {
            "type": "integer",
            "description": "Person identifier of the hiring manager associated with the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemId": {
            "type": "integer",
            "description": "Unique identifier of the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemName": {
            "title": "Activity",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Object identifier of the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "Offer ID of the offer related to the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier of the candidate associated with the recruiting activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Priority": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Activity item priority, can be high or null.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PriorityCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Rule priority code the job offer activity relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Recruiter": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the recruiter of the job offer for the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecruiterId": {
            "type": "integer",
            "description": "Person identifier of the recruiter associated with the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition identifier of the requisition associated with the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of the requisition associated with the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "title": "Requisition",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition title of the requisition associated with the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Subject": {
            "maxLength": 30,
            "type": "string",
            "description": "Subject associated with the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID associated with the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubscriberRuleCode": {
            "maxLength": 256,
            "type": "string",
            "description": "Subscriber rule code for the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberRuleId": {
            "type": "integer",
            "description": "Subscriber rule ID for the activity item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubscriberTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Subscriber type code for the activity item, in this case offer is the subscriber.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Subscriber type meaning of the subscriber associated with the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "actions": {
            "title": "Job Requisition Actions List",
            "type": "array",
            "description": "The actions resource is the child of the recruitingRACItems resource. It provides a list of job requisition actions that a user can take based on the requisition activity item.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-offerList-actions-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offerActionPreviews": {
            "title": "Job Offer Action Previews",
            "type": "array",
            "description": "The offerActionPreviews resource is the child of the recruitingRACItems resource. It provides a preview displaying data about the offer based on the action being performed.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-offerList-offerActionPreviews-item-response"
            },
            "x-cardinality": "1"
          },
          "offerPreviews": {
            "title": "Job Offer Preview",
            "type": "array",
            "description": "The offerPreview resource is the child of the recruitingRACItems resource. It provides a preview of the details of a job offer.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-offerList-offerPreviews-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "recruitingRACItems-offerList-actions-item-response": {
        "type": "object",
        "properties": {
          "ActionCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Action code the job requisition activity item relates to.",
            "nullable": false,
            "x-queryable": true
          },
          "ActionName": {
            "maxLength": 255,
            "type": "string",
            "description": "Action name the job requisition activity item relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the job requisition action is the default action for the activity item. If an action is the default action for an activity item it's displayed in the action column in the activity list.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingRACItems-offerList-offerActionPreviews-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "title": "Action",
            "maxLength": 80,
            "type": "string",
            "description": "Action performed on the selected offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Action code the job offer activity item relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateEmail": {
            "title": "Candidate Email",
            "maxLength": 240,
            "type": "string",
            "description": "Email address of the candidate that the offer is extended to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateName": {
            "title": "Candidate Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the candidate that the offer is extended to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "title": "Candidate Number",
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidatePhoneNumber": {
            "title": "Candidate Phone Number",
            "maxLength": 240,
            "type": "string",
            "description": "Phone number of the candidate that the offer is extended to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentPhase": {
            "maxLength": 240,
            "type": "string",
            "description": "Phase of the offer in the candidate selection process.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentState": {
            "title": "Offer State",
            "maxLength": 240,
            "type": "string",
            "description": "State of the offer in the candidate selection process.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DaysInThisState": {
            "title": "Days in State",
            "type": "integer",
            "description": "Number of days the offer has been in the current state in the candidate selection process.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeStartDate": {
            "title": "Employee Start Date",
            "type": "string",
            "description": "Proposed date when the candidate will begin working.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ItemId": {
            "type": "integer",
            "description": "Unique identifier of the action preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegalEmployer": {
            "title": "Legal Employer",
            "maxLength": 240,
            "type": "string",
            "description": "Legal employer of the offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEntityId": {
            "type": "integer",
            "description": "Legal entity ID of the offer. Might be null for some offers.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "Unique identifier of the offer preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of the requisition associated with the offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "title": "Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition title of the requisition associated with the offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID for the job offer action preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkerType": {
            "title": "Worker Type",
            "maxLength": 80,
            "type": "string",
            "description": "Worker type the candidate will be hired as, either employee or contingent worker.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingRACItems-offerList-offerPreviews-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "maxLength": 80,
            "type": "string",
            "description": "Action performed on the selected offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Action code the job offer activity item relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment ID of the offer being previewed.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CandidateEmail": {
            "title": "Candidate Email",
            "maxLength": 240,
            "type": "string",
            "description": "Candidate email of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateName": {
            "title": "Candidate Name",
            "maxLength": 240,
            "type": "string",
            "description": "Candidate name of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "title": "Candidate Number",
            "maxLength": 30,
            "type": "string",
            "description": "Candidate number of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidatePhoneNumber": {
            "title": "Candidate Phone Number",
            "maxLength": 240,
            "type": "string",
            "description": "Candidate phone number of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentPhase": {
            "maxLength": 240,
            "type": "string",
            "description": "Current phase of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentState": {
            "title": "Offer State",
            "maxLength": 240,
            "type": "string",
            "description": "Current state of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DaysInThisState": {
            "title": "Days in Status",
            "type": "number",
            "description": "Number of days the selected offer has been in the current state.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeStartDate": {
            "type": "string",
            "description": "Employee start date of the offer being previewed.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the offer being previewed.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ItemId": {
            "type": "integer",
            "description": "Item ID of the offer being previewed.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegalEmployer": {
            "maxLength": 240,
            "type": "string",
            "description": "Legal employer of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "Offer ID of the offer being previewed.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OfferLetterCustomized": {
            "maxLength": 1,
            "type": "string",
            "description": "Specifies if the offer letter is modified.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferLetterLayoutName": {
            "maxLength": 255,
            "type": "string",
            "description": "Offer letter layout ID for the offer being previewed.",
            "nullable": true,
            "x-queryable": false
          },
          "RTFResolved": {
            "maxLength": 1,
            "type": "string",
            "description": "Specifies if RTF is resolved for the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID for the offer being previewed.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "title": "Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition title of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID for the offer being previewed.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkerType": {
            "maxLength": 80,
            "type": "string",
            "description": "Worker type of the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offerAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-offerList-offerPreviews-offerAttachments-item-response"
            }
          },
          "offerCustomAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-offerList-offerPreviews-offerCustomAttachments-item-response"
            }
          }
        }
      },
      "recruitingRACItems-offerList-offerPreviews-offerAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingRACItems-offerList-offerPreviews-offerCustomAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}