{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Activity Items/Job Requisition List/Job Requisition Preview/Large Object (LOB) Attributes - Comments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingRACItems/{SubscriberTypeCode}/child/requisitionList/{requisitionListUniqID}/child/requisitionPreviews/{requisitionPreviewsUniqID}/enclosure/Comments": {
      "get": {
        "tags": [
          "Activity Items/Job Requisition List/Job Requisition Preview/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Get a Comments",
        "description": "Get a Comments",
        "operationId": "get_recruitingRACItems-requisitionList-requisitionPreviews-Comments",
        "parameters": [
          {
            "name": "SubscriberTypeCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requisitionListUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Job Requisition List resource and used to uniquely identify an instance of Job Requisition List. The client should not generate the hash key value. Instead, the client should query on the Job Requisition List collection resource in order to navigate to a specific instance of Job Requisition List to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requisitionPreviewsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Job Requisition Preview resource and used to uniquely identify an instance of Job Requisition Preview. The client should not generate the hash key value. Instead, the client should query on the Job Requisition Preview collection resource in order to navigate to a specific instance of Job Requisition Preview to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "{SubscriberTypeCode}-child-requisitionList-{requisitionListUniqID}-child-requisitionPreviews-{requisitionPreviewsUniqID}-enclosure-Comments-get",
        "x-filename-id": "subscribertypecode-child-requisitionlist-requisitionlistuniqid-child-requisitionpreviews-requisitionpreviewsuniqid-enclosure-comments-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}