{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Activity Items/Job Requisition List",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingRACItems/{SubscriberTypeCode}/child/requisitionList": {
      "get": {
        "tags": [
          "Activity Items/Job Requisition List"
        ],
        "summary": "Get all requisition activity items for a recruiter or hiring manager on the requisition hiring team",
        "operationId": "getall_recruitingRACItems-requisitionList",
        "parameters": [
          {
            "name": "SubscriberTypeCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionDate; string; Action date of a requisition activity item.</li><li>DefaultAction; string; Default action of the requisition activity item.</li><li>DefaultActionName; string; Name of the default action for the requisition activity item.</li><li>HiringManager; string; Name of the hiring manager of the requisition for the activity item.</li><li>HiringManagerId; integer; Person identifier of the hiring manager associated with the activity item.</li><li>ItemId; integer; Unique identifier of the requisition activity item.</li><li>ItemName; string; Name of the requisition activity item.</li><li>LookupCode; string; Lookup code for requisition activity item.</li><li>LookupType; string; Lookup type for requisition activity item.</li><li>Priority; string; Requisition activity item priority. Can be high or null.</li><li>PriorityCode; string; Rule priority code the requisition activity relates to.</li><li>Recruiter; string; Name of the recruiter of the requisition for the activity item.</li><li>RecruiterId; integer; Person identifier of the recruiter associated with the activity item.</li><li>RequisitionId; integer; Requisition ID of the requisition associated with the requisition activity item.</li><li>RequisitionNumber; string; Requisition number of the requisition associated with the requisition activity item.</li><li>RequisitionTitle; string; Requisition title of the requisition associated with the requisition activity item.</li><li>Subject; string; Subject associated with the job requisition.</li><li>SubscriberLookupCode; string; Lookup code of the subscriber associated with the activity item.</li><li>SubscriberLookupType; string; Lookup type of the subscriber associated with the activity item.</li><li>SubscriberRuleCode; string; Subscriber rule code of the requisition activity item.</li><li>SubscriberTypeMeaning; string; Subscriber type meaning of the subscriber associated with the activity item.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all requisition activity items using the specified primary key. <br>Finder Variables <ul><li>ItemId; integer;  Primary key and the item ID used to find the requisition list activity items. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all requisition activity items using the specified primary key.",
                "properties": {
                  "ItemId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Primary key and the item ID used to find the requisition list activity items.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingRACItems-requisitionList"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingRACItems-{SubscriberTypeCode}-child-requisitionList-get",
        "x-filename-id": "recruitingracitems-subscribertypecode-child-requisitionlist-get"
      }
    },
    "/recruitingRACItems/{SubscriberTypeCode}/child/requisitionList/{requisitionListUniqID}": {
      "get": {
        "tags": [
          "Activity Items/Job Requisition List"
        ],
        "summary": "Get the requisition activity items for a recruiter or hiring manager on the requisition hiring team",
        "operationId": "get_recruitingRACItems-requisitionList",
        "parameters": [
          {
            "name": "SubscriberTypeCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requisitionListUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Job Requisition List resource and used to uniquely identify an instance of Job Requisition List. The client should not generate the hash key value. Instead, the client should query on the Job Requisition List collection resource in order to navigate to a specific instance of Job Requisition List to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingRACItems-requisitionList-item-response"
                }
              }
            },
            "links": {
              "requisitionActionPreviews": {
                "operationRef": "#/paths/~1recruitingRACItems~1{SubscriberTypeCode}~1child~1requisitionList~1{requisitionListUniqID}~1child~1requisitionActionPreviews/get",
                "parameters": {
                  "requisitionListUniqID": "$request.path.requisitionListUniqID",
                  "SubscriberTypeCode": "$request.path.SubscriberTypeCode"
                },
                "description": "The requisitionActionPreviews resource is the child of the recruitingRACItems resource. It provides a preview displaying data about the requisition based on the action being performed."
              },
              "actions": {
                "operationRef": "#/paths/~1recruitingRACItems~1{SubscriberTypeCode}~1child~1requisitionList~1{requisitionListUniqID}~1child~1actions/get",
                "parameters": {
                  "requisitionListUniqID": "$request.path.requisitionListUniqID",
                  "SubscriberTypeCode": "$request.path.SubscriberTypeCode"
                },
                "description": "The actions resource is the child of the recruitingRACItems resource. It provides a list of job requisition actions that a user can take based on the requisition activity item."
              },
              "requisitionPreviews": {
                "operationRef": "#/paths/~1recruitingRACItems~1{SubscriberTypeCode}~1child~1requisitionList~1{requisitionListUniqID}~1child~1requisitionPreviews/get",
                "parameters": {
                  "requisitionListUniqID": "$request.path.requisitionListUniqID",
                  "SubscriberTypeCode": "$request.path.SubscriberTypeCode"
                },
                "description": "The requisitionPreviews is the child of the recruitingRACItems resource. It provides a preview of the details of a job requisition."
              }
            }
          }
        },
        "x-internal-id": "recruitingRACItems-{SubscriberTypeCode}-child-requisitionList-{requisitionListUniqID}-get",
        "x-filename-id": "recruitingracitems-subscribertypecode-child-requisitionlist-requisitionlistuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingRACItems-requisitionList": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-requisitionList-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingRACItems-requisitionList-item-response": {
        "type": "object",
        "properties": {
          "ActionDate": {
            "title": "Date",
            "type": "string",
            "description": "Action date of a requisition activity item.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "DefaultAction": {
            "maxLength": 30,
            "type": "string",
            "description": "Default action of the requisition activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultActionName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the default action for the requisition activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManager": {
            "title": "Hiring Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the hiring manager of the requisition for the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManagerId": {
            "type": "integer",
            "description": "Person identifier of the hiring manager associated with the activity item.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemId": {
            "type": "integer",
            "description": "Unique identifier of the requisition activity item.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemName": {
            "title": "Activity",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the requisition activity item.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "LookupCode": {
            "title": "Lookup Code",
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code for requisition activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LookupType": {
            "title": "Lookup Type",
            "maxLength": 30,
            "type": "string",
            "description": "Lookup type for requisition activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Priority": {
            "title": "Priority",
            "maxLength": 80,
            "type": "string",
            "description": "Requisition activity item priority. Can be high or null.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PriorityCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Rule priority code the requisition activity relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Recruiter": {
            "title": "Recruiter",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the recruiter of the requisition for the activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecruiterId": {
            "type": "integer",
            "description": "Person identifier of the recruiter associated with the activity item.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID of the requisition associated with the requisition activity item.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of the requisition associated with the requisition activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "title": "Requisition",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition title of the requisition associated with the requisition activity item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Subject": {
            "maxLength": 30,
            "type": "string",
            "description": "Subject associated with the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberLookupCode": {
            "title": "Lookup Code",
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code of the subscriber associated with the activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberLookupType": {
            "title": "Lookup Type",
            "maxLength": 30,
            "type": "string",
            "description": "Lookup type of the subscriber associated with the activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberRuleCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Subscriber rule code of the requisition activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Subscriber type meaning of the subscriber associated with the activity item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "actions": {
            "title": "Job Requisition Actions List",
            "type": "array",
            "description": "The actions resource is the child of the recruitingRACItems resource. It provides a list of job requisition actions that a user can take based on the requisition activity item.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-requisitionList-actions-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "requisitionActionPreviews": {
            "title": "Job Requisition Action Previews",
            "type": "array",
            "description": "The requisitionActionPreviews resource is the child of the recruitingRACItems resource. It provides a preview displaying data about the requisition based on the action being performed.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-requisitionList-requisitionActionPreviews-item-response"
            },
            "x-cardinality": "1"
          },
          "requisitionPreviews": {
            "title": "Job Requisition Preview",
            "type": "array",
            "description": "The requisitionPreviews is the child of the recruitingRACItems resource. It provides a preview of the details of a job requisition.",
            "items": {
              "$ref": "#/components/schemas/recruitingRACItems-requisitionList-requisitionPreviews-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "recruitingRACItems-requisitionList-actions-item-response": {
        "type": "object",
        "properties": {
          "ActionCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Action code the job requisition activity item relates to.",
            "nullable": false,
            "x-queryable": true
          },
          "ActionName": {
            "maxLength": 255,
            "type": "string",
            "description": "Action name the job requisition activity item relates to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the job requisition action is the default action for the activity item. If an action is the default action for an activity item it's displayed in the action column in the activity list.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingRACItems-requisitionList-requisitionActionPreviews-item-response": {
        "type": "object",
        "properties": {
          "AdditionalLocCount": {
            "type": "integer",
            "description": "Count of the additional locations associated with the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AdditionalWorkLocCount": {
            "type": "integer",
            "description": "Count of the additional work locations associated with the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManager": {
            "title": "Hiring Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the hiring manager associated with the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Job": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Job associated to the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Location": {
            "title": "Location",
            "maxLength": 255,
            "type": "string",
            "description": "Location defined on the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfHires": {
            "title": "Hired Count",
            "type": "integer",
            "description": "Number of hires for the requisition.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "NumberOfJobApplications": {
            "title": "Number of Job Applications",
            "type": "integer",
            "description": "Number of job applications submitted to the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfOpenings": {
            "title": "Number of Openings",
            "maxLength": 255,
            "type": "string",
            "description": "Number of openings for the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfProspects": {
            "title": "Number of Prospects",
            "type": "integer",
            "description": "Number of prospect candidates associated with the requisition.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "Organization": {
            "title": "Organization",
            "maxLength": 255,
            "type": "string",
            "description": "Organization associated to the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OtherRequisitionTitle": {
            "title": "Other Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Other requisition title of the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PhaseName": {
            "title": "Phase",
            "maxLength": 240,
            "type": "string",
            "description": "Phase of the requisition in the requisition life cycle.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Position": {
            "title": "Position",
            "maxLength": 750,
            "type": "string",
            "description": "Position associated to the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Recruiter": {
            "title": "Recruiter",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the recruiter associated with the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecruitingType": {
            "title": "Recruiting Type",
            "maxLength": 255,
            "type": "string",
            "description": "Recruiting type defined on the requisition. For example, professional or hourly.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID of the requisition.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of the requisition.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionStatus": {
            "title": "Requisition Status",
            "maxLength": 255,
            "type": "string",
            "description": "Status of the requisition in the requisition life cycle.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "title": "Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionType": {
            "title": "Requisition Type",
            "maxLength": 255,
            "type": "string",
            "description": "Requisition type of the requisition, either pipeline or standard.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StateName": {
            "title": "State",
            "maxLength": 240,
            "type": "string",
            "description": "State of the requisition in the requisition life cycle.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkLocation": {
            "title": "Work Location",
            "maxLength": 255,
            "type": "string",
            "description": "Work location of the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingRACItems-requisitionList-requisitionPreviews-item-response": {
        "type": "object",
        "properties": {
          "AdditionalLocCount": {
            "maxLength": 255,
            "type": "string",
            "description": "Count of the additional locations associated with the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AdditionalWorkLocCount": {
            "maxLength": 255,
            "type": "string",
            "description": "Count of the additional work locations associated with the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessJustification": {
            "title": "Business Justification",
            "maxLength": 255,
            "type": "string",
            "description": "Business justification for creating the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments provided for creating the requisition in the requisition preview.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManager": {
            "title": "Hiring Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the hiring manager associated with the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HotJob": {
            "title": "Hot Job",
            "maxLength": 255,
            "type": "string",
            "description": "Hot job indicator on the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Job": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Job associated to the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Location": {
            "title": "Location",
            "maxLength": 255,
            "type": "string",
            "description": "Location defined on the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfHires": {
            "title": "Hired Count",
            "type": "integer",
            "description": "Number of hires for the requisition in the requisition preview.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "NumberOfJobApplications": {
            "title": "Number of Job Applications",
            "type": "integer",
            "description": "Number of job applications submitted to the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfOpenings": {
            "title": "Number of Openings",
            "maxLength": 255,
            "type": "string",
            "description": "Number of openings for the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfProspects": {
            "title": "Number of Prospects",
            "type": "integer",
            "description": "Number of prospect candidates associated with the requisition in the requisition preview.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "Organization": {
            "title": "Organization",
            "maxLength": 255,
            "type": "string",
            "description": "Organization associated to the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OtherRequisitionTitle": {
            "title": "Other Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Other requisition title of the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Position": {
            "title": "Position",
            "maxLength": 750,
            "type": "string",
            "description": "Position associated to the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Recruiter": {
            "title": "Recruiter",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the recruiter associated with the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecruitingType": {
            "title": "Recruiting Type",
            "maxLength": 255,
            "type": "string",
            "description": "Recruiting type defined on the requisition in the requisition preview. For example, professional or hourly.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID of the requisition in the requisition preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of the requisition in the requisition preview.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionStatus": {
            "title": "Requisition Status",
            "maxLength": 255,
            "type": "string",
            "description": "Status of the requisition in the requisition life cycle in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "title": "Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionType": {
            "title": "Requisition Type",
            "maxLength": 255,
            "type": "string",
            "description": "Requisition type of the requisition in the requisition preview, either pipeline or standard.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkLocation": {
            "title": "Work Location",
            "maxLength": 255,
            "type": "string",
            "description": "Work location of the requisition in the requisition preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}