{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - AI Prompts",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmPrompts": {
      "get": {
        "tags": [
          "AI Prompts"
        ],
        "summary": "Get all prompts",
        "operationId": "getall_hcmPrompts",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AvailableTokens; string; List of tokens that can be used when the prompt is overridden.</li><li>BoHierarchyClasspath; string; List of business objects hierarchies that can be used with the prompt.</li><li>Configurable; string; Indicates whether the prompt is configurable. Default value is Y. Valid values are Y and N.</li><li>Description; string; Description of the seeded prompt.</li><li>EnabledFlag; boolean; Indicates whether the seeded prompt is active. Default value is Y. Valid values are Y and N.</li><li>ExtraProperties; string; Additional properties for routing prompt execution requests to the correct resource.</li><li>Family; string; Product family of the prompt.</li><li>Label; string; Display label for the seeded prompt.</li><li>LanguageOptIn; string; Specifies the language of the prompt response.</li><li>ModelCode; string; Code for a large language model.</li><li>ModelProvider; string; Short name for a large language model provider.</li><li>ModelVersion; string; Version of a large language model.</li><li>ModuleId; string; Identifier for an application module.</li><li>ObjectVersionNumber; integer; Version number of the seeded object.</li><li>PersistData; string; Indicates if the framework can persist the prompt model response. Default value is N. Valid values are Y and N.</li><li>Product; string; Short name for a product.</li><li>Prompt; string; Text of the seeded prompt.</li><li>PromptCode; string; Code for a seeded prompt.</li><li>PromptTmplAiId; string; Identifier for a seeded prompt template.</li><li>PromptTmplVersion; integer; Version number of a seeded prompt template.</li><li>UsecaseId; string; Identifier for a seeded use case.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all prompts that match the specified primary key criteria. <br>Finder Variables <ul><li>PromptCode; string;  Code for a prompt. </li><li>UsecaseId; string;  Identifier for a use case. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all prompts that match the specified primary key criteria.",
                "properties": {
                  "UsecaseId": {
                    "nullable": true,
                    "description": "Identifier for a use case.",
                    "readOnly": true,
                    "type": "string",
                    "maxLength": 100
                  },
                  "PromptCode": {
                    "nullable": true,
                    "description": "Code for a prompt.",
                    "readOnly": true,
                    "type": "string",
                    "maxLength": 100
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmPrompts"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmPrompts-get",
        "x-filename-id": "hcmprompts-get"
      },
      "post": {
        "tags": [
          "AI Prompts"
        ],
        "summary": "Create a prompt",
        "operationId": "create_hcmPrompts",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmPrompts-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmPrompts-item-response"
                }
              }
            },
            "links": {
              "fetchBoHierarchy": {
                "operationRef": "#/paths/~1hcmPrompts~1{hcmPromptsUniqID}~1action~1fetchBoHierarchy/post",
                "parameters": {
                  "hcmPromptsUniqID": "$request.path.hcmPromptsUniqID"
                },
                "description": "Get all the business objects registered for a seeded prompt."
              }
            }
          }
        },
        "x-internal-id": "hcmPrompts-post",
        "x-filename-id": "hcmprompts-post"
      }
    },
    "/hcmPrompts/{hcmPromptsUniqID}": {
      "get": {
        "tags": [
          "AI Prompts"
        ],
        "summary": "Get a prompt",
        "operationId": "get_hcmPrompts",
        "parameters": [
          {
            "name": "hcmPromptsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PromptCode and UsecaseId ---for the AI Prompts resource and used to uniquely identify an instance of AI Prompts. The client should not generate the hash key value.  Instead, the client should query on the AI Prompts collection resource with a filter on the primary key values in order to navigate to a specific instance of AI Prompts.<br><br>For example: hcmPrompts?q=PromptCode=&lt;value1&gt;;UsecaseId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmPrompts-item-response"
                }
              }
            },
            "links": {
              "fetchBoHierarchy": {
                "operationRef": "#/paths/~1hcmPrompts~1{hcmPromptsUniqID}~1action~1fetchBoHierarchy/post",
                "parameters": {
                  "hcmPromptsUniqID": "$request.path.hcmPromptsUniqID"
                },
                "description": "Get all the business objects registered for a seeded prompt."
              }
            }
          }
        },
        "x-internal-id": "hcmPrompts-{hcmPromptsUniqID}-get",
        "x-filename-id": "hcmprompts-hcmpromptsuniqid-get"
      },
      "delete": {
        "tags": [
          "AI Prompts"
        ],
        "summary": "Delete a prompt",
        "operationId": "delete_hcmPrompts",
        "parameters": [
          {
            "name": "hcmPromptsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PromptCode and UsecaseId ---for the AI Prompts resource and used to uniquely identify an instance of AI Prompts. The client should not generate the hash key value.  Instead, the client should query on the AI Prompts collection resource with a filter on the primary key values in order to navigate to a specific instance of AI Prompts.<br><br>For example: hcmPrompts?q=PromptCode=&lt;value1&gt;;UsecaseId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "hcmPrompts-{hcmPromptsUniqID}-delete",
        "x-filename-id": "hcmprompts-hcmpromptsuniqid-delete"
      },
      "patch": {
        "tags": [
          "AI Prompts"
        ],
        "summary": "Update a prompt",
        "operationId": "update_hcmPrompts",
        "parameters": [
          {
            "name": "hcmPromptsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PromptCode and UsecaseId ---for the AI Prompts resource and used to uniquely identify an instance of AI Prompts. The client should not generate the hash key value.  Instead, the client should query on the AI Prompts collection resource with a filter on the primary key values in order to navigate to a specific instance of AI Prompts.<br><br>For example: hcmPrompts?q=PromptCode=&lt;value1&gt;;UsecaseId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmPrompts-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmPrompts-item-response"
                }
              }
            },
            "links": {
              "fetchBoHierarchy": {
                "operationRef": "#/paths/~1hcmPrompts~1{hcmPromptsUniqID}~1action~1fetchBoHierarchy/post",
                "parameters": {
                  "hcmPromptsUniqID": "$request.path.hcmPromptsUniqID"
                },
                "description": "Get all the business objects registered for a seeded prompt."
              }
            }
          }
        },
        "x-internal-id": "hcmPrompts-{hcmPromptsUniqID}-patch",
        "x-filename-id": "hcmprompts-hcmpromptsuniqid-patch"
      }
    },
    "/hcmPrompts/{hcmPromptsUniqID}/action/fetchBoHierarchy": {
      "post": {
        "tags": [
          "AI Prompts"
        ],
        "summary": "Get all business objects",
        "description": "Get all the business objects registered for a seeded prompt.",
        "operationId": "do_fetchBoHierarchy_hcmPrompts",
        "parameters": [
          {
            "name": "hcmPromptsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PromptCode and UsecaseId ---for the AI Prompts resource and used to uniquely identify an instance of AI Prompts. The client should not generate the hash key value.  Instead, the client should query on the AI Prompts collection resource with a filter on the primary key values in order to navigate to a specific instance of AI Prompts.<br><br>For example: hcmPrompts?q=PromptCode=&lt;value1&gt;;UsecaseId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Identifier for a business object."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Identifier for a business object."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "hcmPrompts-{hcmPromptsUniqID}-action-fetchBoHierarchy-post",
        "x-filename-id": "hcmprompts-hcmpromptsuniqid-action-fetchbohierarchy-post"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmPrompts": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/hcmPrompts-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "hcmPrompts-item-response": {
        "type": "object",
        "properties": {
          "AvailableTokens": {
            "maxLength": 2000,
            "type": "string",
            "description": "List of tokens that can be used when the prompt is overridden.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BoHierarchyClasspath": {
            "maxLength": 200,
            "type": "string",
            "description": "List of business objects hierarchies that can be used with the prompt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Configurable": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the prompt is configurable. Default value is Y. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the seeded prompt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the seeded prompt is active. Default value is Y. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExtraProperties": {
            "maxLength": 4000,
            "type": "string",
            "description": "Additional properties for routing prompt execution requests to the correct resource.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Family": {
            "maxLength": 80,
            "type": "string",
            "description": "Product family of the prompt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Label": {
            "maxLength": 200,
            "type": "string",
            "description": "Display label for the seeded prompt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LanguageOptIn": {
            "maxLength": 4000,
            "type": "string",
            "description": "Specifies the language of the prompt response.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ModelCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code for a large language model.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ModelProvider": {
            "maxLength": 80,
            "type": "string",
            "description": "Short name for a large language model provider.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ModelVersion": {
            "maxLength": 80,
            "type": "string",
            "description": "Version of a large language model.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "description": "Identifier for an application module.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the seeded object.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PersistData": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if the framework can persist the prompt model response. Default value is N. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Product": {
            "maxLength": 100,
            "type": "string",
            "description": "Short name for a product.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Prompt": {
            "maxLength": 2000,
            "type": "string",
            "description": "Text of the seeded prompt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PromptCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for a seeded prompt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PromptTmpl": {
            "type": "string",
            "description": "Short name for the seeded prompt template.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PromptTmplAiId": {
            "maxLength": 32,
            "type": "string",
            "description": "Identifier for a seeded prompt template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PromptTmplVersion": {
            "type": "integer",
            "description": "Version number of a seeded prompt template.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 4
            },
            "x-queryable": true
          },
          "UsecaseId": {
            "maxLength": 100,
            "type": "string",
            "description": "Identifier for a seeded use case.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "hcmPrompts-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "hcmPrompts-item-patch-request": {
        "type": "object",
        "properties": {}
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "hcmPrompts-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/hcmPrompts-item-post-request"
            }
          }
        }
      },
      "hcmPrompts-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/hcmPrompts-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}