{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - AI Prompts/Large Object (LOB) Attributes - PromptTmpl",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmPrompts/{hcmPromptsUniqID}/enclosure/PromptTmpl": {
      "get": {
        "tags": [
          "AI Prompts/Large Object (LOB) Attributes - PromptTmpl"
        ],
        "summary": "Get a PromptTmpl",
        "description": "Get a PromptTmpl",
        "operationId": "get_hcmPrompts-PromptTmpl",
        "parameters": [
          {
            "name": "hcmPromptsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PromptCode and UsecaseId ---for the AI Prompts resource and used to uniquely identify an instance of AI Prompts. The client should not generate the hash key value.  Instead, the client should query on the AI Prompts collection resource with a filter on the primary key values in order to navigate to a specific instance of AI Prompts.<br><br>For example: hcmPrompts?q=PromptCode=&lt;value1&gt;;UsecaseId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmPrompts-{hcmPromptsUniqID}-enclosure-PromptTmpl-get",
        "x-filename-id": "hcmprompts-hcmpromptsuniqid-enclosure-prompttmpl-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}