{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Allocated Checklist",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/allocatedChecklists": {
      "get": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Get all allocated checklists",
        "operationId": "getall_allocatedChecklists",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionDate; string</li><li>AllocatedChecklistId; integer; Unique identifier for the allocated checklist.</li><li>AllocationDate; string; Date on which the checklist was allocated.</li><li>AssignmentId; integer; Unique identifier for the assignment.</li><li>BaseChecklistId; integer; Unique identifier for the base checklist.</li><li>ChecklistCategory; string; Category of the checklist such as off boarding, onboarding and so on. Valid values are defined in the list CHECKLIST_CATEGORY LOV.</li><li>ChecklistCode; string; Code for the checklist.</li><li>ChecklistInstance; string; Instance of the allocated checklist.</li><li>ChecklistName; string; Name of the checklist.</li><li>ChecklistStatus; string; Status of the checklist such as Draft, Active, or Inactive.</li><li>CompletionDate; string</li><li>DisplayName; string; Display name of the checklist.</li><li>DisplayType; string; Display type of the guided journey.</li><li>FullName; string</li><li>LegislationCode; string; Code for the country to which the checklist is applicable.</li><li>PersonId; integer; Internal identifier for the person.</li><li>PersonNumber; string; Number assigned to a person to identify the person uniquely.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the allocated checklists that match the primary key specified. <br>Finder Variables <ul><li>AllocatedChecklistId; integer;  Unique identifier for the allocated checklist. </li></ul></li><li>findByChecklistCategory Finds all checklists by the specified category. <br>Finder Variables <ul><li>pChecklistCategory; string;  Name of the checklist category. </li></ul></li><li>findByChecklistCode Finds all checklists by the specified checklist code. <br>Finder Variables <ul><li>pChecklistCode; string;  Code for the checklist. </li></ul></li><li>findByChecklistName Finds all checklists by the specified checklist name. <br>Finder Variables <ul><li>pChecklistInstance; string;  Instance of the allocated checklist. </li><li>pChecklistName; string;  Name of the checklist. </li></ul></li><li>findByChecklistStatus Finds all checklists by the specified status. <br>Finder Variables <ul><li>pChecklistStatus; string;  Name of the checklist status. </li></ul></li><li>findByPersonNumber Finds all checklists for the specified person number. <br>Finder Variables <ul><li>pPersonNumber; string;  Unique identifier for the person. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the allocated checklists that match the primary key specified.",
                "properties": {
                  "AllocatedChecklistId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the allocated checklist.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Allocated Checklist Identifier"
                  }
                }
              },
              {
                "name": "findByChecklistCategory",
                "description": "Finds all checklists by the specified category.",
                "title": "FindByChecklistCategory",
                "properties": {
                  "pChecklistCategory": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the checklist category.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByChecklistCode",
                "description": "Finds all checklists by the specified checklist code.",
                "title": "FindByChecklistCode",
                "properties": {
                  "pChecklistCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code for the checklist.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByChecklistName",
                "description": "Finds all checklists by the specified checklist name.",
                "title": "FindByChecklistName",
                "properties": {
                  "pChecklistInstance": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Instance of the allocated checklist.",
                    "type": "string"
                  },
                  "pChecklistName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the checklist.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByChecklistStatus",
                "description": "Finds all checklists by the specified status.",
                "title": "FindByChecklistStatus",
                "properties": {
                  "pChecklistStatus": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the checklist status.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByPersonNumber",
                "description": "Finds all checklists for the specified person number.",
                "title": "FindByPersonNumberVC",
                "properties": {
                  "pPersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allocatedChecklists"
                }
              }
            },
            "links": {
              "allocateChecklist": {
                "operationRef": "#/paths/~1allocatedChecklists~1action~1allocateChecklist/post",
                "description": "Allocates a checklist to a person using the checklist identifier or checklist name, category, person identifier or person number, and allocation date."
              }
            }
          }
        },
        "x-internal-id": "allocatedChecklists-get",
        "x-filename-id": "allocatedchecklists-get"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}/action/allocateTaskFromTaskLibrary": {
      "post": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Allocate a task from the task library",
        "description": "Allocates a task from the task library to an existing checklist.",
        "operationId": "do_allocateTaskFromTaskLibrary_allocatedChecklists",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allocationDate": {
                    "type": "string",
                    "description": "Date on which the checklist was allocated.",
                    "format": "date",
                    "nullable": true
                  },
                  "notifyPerformer": {
                    "type": "boolean",
                    "description": "Indicates whether the performer will be notified or not.",
                    "nullable": true
                  },
                  "performerPersonNumber": {
                    "type": "string",
                    "description": "Person number of the task performer.",
                    "nullable": true
                  },
                  "taskName": {
                    "type": "string",
                    "description": "Name of the task.",
                    "nullable": true
                  },
                  "performerPersonId": {
                    "type": "number",
                    "description": "Internal identifier for the task performer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-action-allocateTaskFromTaskLibrary-post",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-action-allocatetaskfromtasklibrary-post"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}/action/forceCloseChecklist": {
      "post": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Force close an incomplete checklist",
        "description": "Force closes an incomplete checklist.",
        "operationId": "do_forceCloseChecklist_allocatedChecklists",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-action-forceCloseChecklist-post",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-action-forceclosechecklist-post"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}/action/allocateNewTask": {
      "post": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Allocate a new task",
        "description": "Allocates a task to a person using task name, task description, task type, action url, mandatory indicator.",
        "operationId": "do_allocateNewTask_allocatedChecklists",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actionType": {
                    "type": "string",
                    "description": "Indicates the task type, whether it's a manual task or external URL.",
                    "nullable": true
                  },
                  "targetStartDate": {
                    "type": "string",
                    "description": "Start date of the task.",
                    "format": "date",
                    "nullable": true
                  },
                  "targetEndDate": {
                    "type": "string",
                    "description": "End date of the task.",
                    "format": "date",
                    "nullable": true
                  },
                  "actionUrl": {
                    "type": "string",
                    "description": "Url required for the task type external URL.",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the task.",
                    "nullable": true
                  },
                  "taskName": {
                    "type": "string",
                    "description": "Name of the task.",
                    "nullable": true
                  },
                  "mandatoryFlag": {
                    "type": "string",
                    "description": "Indicates whether the task is mandatory or optional. Valid values are Yes and No.",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-action-allocateNewTask-post",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-action-allocatenewtask-post"
      }
    },
    "/allocatedChecklists/action/allocateChecklist": {
      "post": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Allocate a checklist",
        "description": "Allocates a checklist to a person using the checklist identifier or checklist name, category, person identifier or person number, and allocation date.",
        "operationId": "doall_allocateChecklist_allocatedChecklists",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allocationDate": {
                    "type": "string",
                    "description": "Date on which the checklist was allocated.",
                    "format": "date",
                    "nullable": true
                  },
                  "checklistName": {
                    "type": "string",
                    "description": "Name of the checklist.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Internal identifier for the person.",
                    "nullable": true
                  },
                  "personNumber": {
                    "type": "string",
                    "description": "Number assigned to a person to identify the person uniquely.",
                    "nullable": true
                  },
                  "checklistCategory": {
                    "type": "string",
                    "description": "Category of the checklist such as off boarding, onboarding and so on. Valid values are defined in the list CHECKLIST_CATEGORY LOV.",
                    "nullable": true
                  },
                  "checklistId": {
                    "type": "number",
                    "description": "Unique identifier for the checklist.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "allocatedChecklists-action-allocateChecklist-post",
        "x-filename-id": "allocatedchecklists-action-allocatechecklist-post"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}": {
      "get": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Get an allocated checklist",
        "operationId": "get_allocatedChecklists",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allocatedChecklists-item-response"
                }
              }
            },
            "links": {
              "allocateTaskFromTaskLibrary": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1action~1allocateTaskFromTaskLibrary/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "Allocates a task from the task library to an existing checklist."
              },
              "allocatedTasks": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "The allocated tasks resource is a child of the allocated Checklists resource. It includes details of all the allocated tasks."
              },
              "forceCloseChecklist": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1action~1forceCloseChecklist/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "Force closes an incomplete checklist."
              },
              "allocateNewTask": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1action~1allocateNewTask/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "Allocates a task to a person using task name, task description, task type, action url, mandatory indicator."
              }
            }
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-get",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-get"
      },
      "delete": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Delete an allocated checklist",
        "operationId": "delete_allocatedChecklists",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-delete",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Allocated Checklist"
        ],
        "summary": "Update an allocated checklist",
        "operationId": "update_allocatedChecklists",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/allocatedChecklists-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allocatedChecklists-item-response"
                }
              }
            },
            "links": {
              "allocateTaskFromTaskLibrary": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1action~1allocateTaskFromTaskLibrary/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "Allocates a task from the task library to an existing checklist."
              },
              "allocatedTasks": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "The allocated tasks resource is a child of the allocated Checklists resource. It includes details of all the allocated tasks."
              },
              "forceCloseChecklist": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1action~1forceCloseChecklist/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "Force closes an incomplete checklist."
              },
              "allocateNewTask": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1action~1allocateNewTask/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID"
                },
                "description": "Allocates a task to a person using task name, task description, task type, action url, mandatory indicator."
              }
            }
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-patch",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "allocatedChecklists": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "allocatedChecklists-item-response": {
        "type": "object",
        "properties": {
          "ActionDate": {
            "title": "Action Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AllocatedChecklistId": {
            "title": "Allocated Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated checklist.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AllocationDate": {
            "title": "Allocation Date",
            "type": "string",
            "description": "Date on which the checklist was allocated.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the assignment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BaseChecklistId": {
            "type": "integer",
            "description": "Unique identifier for the base checklist.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ChecklistCategory": {
            "title": "Category",
            "maxLength": 60,
            "type": "string",
            "description": "Category of the checklist such as off boarding, onboarding and so on. Valid values are defined in the list CHECKLIST_CATEGORY LOV.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ChecklistCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code for the checklist.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ChecklistInstance": {
            "title": "Instance",
            "maxLength": 20,
            "type": "string",
            "description": "Instance of the allocated checklist.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ChecklistName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the checklist.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ChecklistStatus": {
            "title": "Status",
            "maxLength": 60,
            "type": "string",
            "description": "Status of the checklist such as Draft, Active, or Inactive.",
            "nullable": true,
            "x-queryable": true
          },
          "CompletionDate": {
            "title": "Completion Date",
            "type": "string",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the checklist.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayType": {
            "maxLength": 30,
            "type": "string",
            "description": "Display type of the guided journey.",
            "nullable": true,
            "x-queryable": true
          },
          "FullName": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislationCode": {
            "title": "Legislation Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the country to which the checklist is applicable.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "title": "Allocated Person Number",
            "type": "integer",
            "description": "Internal identifier for the person.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Number assigned to a person to identify the person uniquely.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "allocatedTasks": {
            "title": "Allocated Task",
            "type": "array",
            "description": "The allocated tasks resource is a child of the allocated Checklists resource. It includes details of all the allocated tasks.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-item-response": {
        "type": "object",
        "properties": {
          "AbsAllocatedChecklistId": {
            "title": "Allocated Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the parent checklist.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ActionType": {
            "maxLength": 30,
            "type": "string",
            "description": "Action type for the task specified in the checklist.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionURL": {
            "title": "URL",
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the task action.",
            "nullable": true,
            "x-queryable": true
          },
          "ActualEndDate": {
            "title": "Actual End Date",
            "type": "string",
            "description": "Date on which the allocated task ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "ActualStartDate": {
            "title": "Actual Start Date",
            "type": "string",
            "description": "Date on which the allocated task starts.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AllocatedChecklistId": {
            "title": "Allocated Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated checklist.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AllocatedTaskId": {
            "title": "Allocated Task Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated task.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CompletedBy": {
            "title": "Completed by Person Name",
            "maxLength": 64,
            "type": "string",
            "description": "User who completed the task.",
            "nullable": true,
            "x-queryable": true
          },
          "CompletionDate": {
            "title": "Completion Date",
            "type": "string",
            "description": "Task completion date.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "DependentOnTasks": {
            "title": "Dependent on Tasks",
            "maxLength": 4000,
            "type": "string",
            "description": "Preceding task that needs to be completed.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Task Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the task.",
            "nullable": true,
            "x-queryable": true
          },
          "DetailAllocChecklistId": {
            "title": "Allocated Step Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated enterprise onboarding step checklist.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlexContextCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Descriptive flexfield for task assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MandatoryFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the task is mandatory or optional. Valid values are Yes and No.",
            "nullable": false,
            "x-hints": {
              "controlType": "date"
            },
            "x-queryable": true
          },
          "OwnerRespType": {
            "title": "Owner Responsibility Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the owner responsibility type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OwnerRespTypeUsers": {
            "title": "Owner Responsibility Type User",
            "maxLength": 4000,
            "type": "string",
            "description": "User type for the owner responsibility.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PerformerOrigSystem": {
            "title": "Performer User Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of system-generated performer.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "PerformerOrigSystemId"
              ]
            },
            "x-queryable": true
          },
          "PerformerOrigSystemId": {
            "title": "Performer Person Number",
            "type": "integer",
            "description": "System-generated identifier for the performer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponsibilityType": {
            "title": "Responsibility Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the responsibility type assigned to the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponsibilityTypeGUID": {
            "title": "Responsible Person User Name",
            "maxLength": 4000,
            "type": "string",
            "description": "Unique identifier for the responsibility type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 60,
            "type": "string",
            "description": "Status of the task.",
            "nullable": true,
            "x-queryable": true
          },
          "TargetDurationUOM": {
            "title": "Target Duration UOM",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measurement in days for task duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TargetEndDate": {
            "title": "Target End Date",
            "type": "string",
            "description": "End date for the task.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "TargetStartDate": {
            "title": "Target Start Date",
            "type": "string",
            "description": "Start date for the task.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "TaskActionCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code for the task action.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskConfiguration": {
            "title": "Task Configuration",
            "maxLength": 400,
            "type": "string",
            "description": "Indicates whether comments and attachments are available for the task. Valid values are Yes and No. Default is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskInChecklistId": {
            "title": "Task Identifier",
            "type": "integer",
            "description": "Unique identifier for the task in a checklist.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the task.",
            "nullable": false,
            "x-queryable": true
          },
          "TaskOwnerName": {
            "title": "Owner",
            "type": "string",
            "description": "Name of user who owns the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "TaskOwnerPersonId"
              ]
            }
          },
          "TaskOwnerPersonId": {
            "title": "Owner Person Number",
            "type": "integer",
            "description": "Unique identifier for the person who owns the task.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TaskOwnerUsername": {
            "title": "Owner User Name",
            "maxLength": 240,
            "type": "string",
            "description": "User name of the person who owns the task.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "TaskOwnerPersonId"
              ]
            },
            "x-queryable": true
          },
          "TaskSequence": {
            "title": "Sequence",
            "type": "integer",
            "description": "Sequence in which the tasks are executed.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "allocatedChecklistTaskFlex": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-allocatedChecklistTaskFlex-item-response"
            },
            "x-cardinality": "1"
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-attachments-item-response"
            }
          },
          "documents": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-documents-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-allocatedChecklistTaskFlex-item-response": {
        "type": "object",
        "properties": {
          "AllocatedTaskId": {
            "title": "Allocated Task Identifier",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-documents-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
[...]
