{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Allocated Checklist/Allocated Task",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/allocatedChecklists/{allocatedChecklistsUniqID}/child/allocatedTasks/{AllocatedTaskId}": {
      "get": {
        "tags": [
          "Allocated Checklist/Allocated Task"
        ],
        "summary": "Get an allocated task",
        "operationId": "get_allocatedChecklists-allocatedTasks",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AllocatedTaskId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Allocated Task Identifier",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1child~1attachments/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "documents": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1child~1documents/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "updateTaskStatus": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1action~1updateTaskStatus/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "Updates the existing task status to complete or not applicable."
              },
              "allocatedChecklistTaskFlex": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1child~1allocatedChecklistTaskFlex/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                }
              },
              "reopenTask": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1action~1reopenTask/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "Reopens an already completed or not applicable task."
              }
            }
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-child-allocatedTasks-{AllocatedTaskId}-get",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-child-allocatedtasks-allocatedtaskid-get"
      },
      "delete": {
        "tags": [
          "Allocated Checklist/Allocated Task"
        ],
        "summary": "Delete an allocated task",
        "operationId": "delete_allocatedChecklists-allocatedTasks",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AllocatedTaskId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Allocated Task Identifier",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-child-allocatedTasks-{AllocatedTaskId}-delete",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-child-allocatedtasks-allocatedtaskid-delete"
      },
      "patch": {
        "tags": [
          "Allocated Checklist/Allocated Task"
        ],
        "summary": "Update an allocated task",
        "operationId": "update_allocatedChecklists-allocatedTasks",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AllocatedTaskId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Allocated Task Identifier",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/allocatedChecklists-allocatedTasks-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1child~1attachments/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "documents": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1child~1documents/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "updateTaskStatus": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1action~1updateTaskStatus/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "Updates the existing task status to complete or not applicable."
              },
              "allocatedChecklistTaskFlex": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1child~1allocatedChecklistTaskFlex/get",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                }
              },
              "reopenTask": {
                "operationRef": "#/paths/~1allocatedChecklists~1{allocatedChecklistsUniqID}~1child~1allocatedTasks~1{AllocatedTaskId}~1action~1reopenTask/post",
                "parameters": {
                  "allocatedChecklistsUniqID": "$request.path.allocatedChecklistsUniqID",
                  "AllocatedTaskId": "$request.path.AllocatedTaskId"
                },
                "description": "Reopens an already completed or not applicable task."
              }
            }
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-child-allocatedTasks-{AllocatedTaskId}-patch",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-child-allocatedtasks-allocatedtaskid-patch"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}/child/allocatedTasks/{AllocatedTaskId}/action/reopenTask": {
      "post": {
        "tags": [
          "Allocated Checklist/Allocated Task"
        ],
        "summary": "Reopen a task",
        "description": "Reopens an already completed or not applicable task.",
        "operationId": "do_reopenTask_allocatedChecklists-allocatedTasks",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AllocatedTaskId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Allocated Task Identifier",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-child-allocatedTasks-{AllocatedTaskId}-action-reopenTask-post",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-child-allocatedtasks-allocatedtaskid-action-reopentask-post"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}/child/allocatedTasks": {
      "get": {
        "tags": [
          "Allocated Checklist/Allocated Task"
        ],
        "summary": "Get all allocated tasks",
        "operationId": "getall_allocatedChecklists-allocatedTasks",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AbsAllocatedChecklistId; integer; Unique identifier for the parent checklist.</li><li>ActionType; string; Action type for the task specified in the checklist.</li><li>ActionURL; string; URL for the task action.</li><li>ActualEndDate; string; Date on which the allocated task ends.</li><li>ActualStartDate; string; Date on which the allocated task starts.</li><li>AllocatedChecklistId; integer; Unique identifier for the allocated checklist.</li><li>AllocatedTaskId; integer; Unique identifier for the allocated task.</li><li>CompletedBy; string; User who completed the task.</li><li>CompletionDate; string; Task completion date.</li><li>DependentOnTasks; string; Preceding task that needs to be completed.</li><li>Description; string; Description of the task.</li><li>DetailAllocChecklistId; integer; Unique identifier for the allocated enterprise onboarding step checklist.</li><li>FlexContextCode; string; Descriptive flexfield for task assignment.</li><li>MandatoryFlag; boolean; Indicates whether the task is mandatory or optional. Valid values are Yes and No.</li><li>OwnerRespType; string; Name of the owner responsibility type.</li><li>OwnerRespTypeUsers; string; User type for the owner responsibility.</li><li>PerformerOrigSystem; string; Name of system-generated performer.</li><li>PerformerOrigSystemId; integer; System-generated identifier for the performer.</li><li>ResponsibilityType; string; Name of the responsibility type assigned to the task.</li><li>ResponsibilityTypeGUID; string; Unique identifier for the responsibility type.</li><li>Status; string; Status of the task.</li><li>TargetDurationUOM; string; Unit of measurement in days for task duration.</li><li>TargetEndDate; string; End date for the task.</li><li>TargetStartDate; string; Start date for the task.</li><li>TaskActionCode; string; Code for the task action.</li><li>TaskConfiguration; string; Indicates whether comments and attachments are available for the task. Valid values are Yes and No. Default is No.</li><li>TaskInChecklistId; integer; Unique identifier for the task in a checklist.</li><li>TaskName; string; Name of the task.</li><li>TaskOwnerPersonId; integer; Unique identifier for the person who owns the task.</li><li>TaskOwnerUsername; string; User name of the person who owns the task.</li><li>TaskSequence; integer; Sequence in which the tasks are executed.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all allocated tasks that match the primary key specified. <br>Finder Variables <ul><li>AllocatedTaskId; integer;  Identifier of the allocated task. </li></ul></li><li>findByAllocatedChecklistId Find all tasks by the specified allocated checklist identifier. <br>Finder Variables <ul><li>pAllocatedChecklistId; integer;  Unique identifier for the allocated checklist. </li></ul></li><li>findByDueDateGreaterThanCurrentDate Finds all tasks with due date greater than the current date. <br>Finder Variables <ul><li>pCurrentDate; string;  Current date displayed in the application. </li></ul></li><li>findByDueDateLesserThanCurrentDate Finds all tasks with due date lesser than the current date. <br>Finder Variables <ul><li>pCurrentDate; string;  Current date displayed in the application. </li></ul></li><li>findByMandatoryFlag Finds all tasks based on the mandatory indicator attribute. <br>Finder Variables <ul><li>pMandatoryFlag; string;  Indicates whether the task is mandatory or optional. </li></ul></li><li>findByStatus Finds all tasks by the status of the checklist. <br>Finder Variables <ul><li>pStatus; string;  Status of the task in a checklist. </li></ul></li><li>findByTaskName Finds all tasks by the specified checklist name. <br>Finder Variables <ul><li>pTaskName; string;  Name of task. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all allocated tasks that match the primary key specified.",
                "properties": {
                  "AllocatedTaskId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Identifier of the allocated task.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Allocated Task Identifier"
                  }
                }
              },
              {
                "name": "findByAllocatedChecklistId",
                "description": "Find all tasks by the specified allocated checklist identifier.",
                "title": "FindByAllocatedChecklistIdVC",
                "properties": {
                  "pAllocatedChecklistId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the allocated checklist.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByDueDateGreaterThanCurrentDate",
                "description": "Finds all tasks with due date greater than the current date.",
                "title": "findByDueDateGreaterThanCurrentDate",
                "properties": {
                  "pCurrentDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Current date displayed in the application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByDueDateLesserThanCurrentDate",
                "description": "Finds all tasks with due date lesser than the current date.",
                "title": "findByDueDateLesserThanCurrentDate",
                "properties": {
                  "pCurrentDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Current date displayed in the application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByMandatoryFlag",
                "description": "Finds all tasks based on the mandatory indicator attribute.",
                "title": "FindByMandatoryFlag",
                "properties": {
                  "pMandatoryFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the task is mandatory or optional.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByStatus",
                "description": "Finds all tasks by the status of the checklist.",
                "title": "FindByStatus",
                "properties": {
                  "pStatus": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Status of the task in a checklist.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByTaskName",
                "description": "Finds all tasks by the specified checklist name.",
                "title": "FindByTaskName",
                "properties": {
                  "pTaskName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of task.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks"
                }
              }
            }
          }
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-child-allocatedTasks-get",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-child-allocatedtasks-get"
      }
    },
    "/allocatedChecklists/{allocatedChecklistsUniqID}/child/allocatedTasks/{AllocatedTaskId}/action/updateTaskStatus": {
      "post": {
        "tags": [
          "Allocated Checklist/Allocated Task"
        ],
        "summary": "Update the task status",
        "description": "Updates the existing task status to complete or not applicable.",
        "operationId": "do_updateTaskStatus_allocatedChecklists-allocatedTasks",
        "parameters": [
          {
            "name": "allocatedChecklistsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Allocated Checklist resource and used to uniquely identify an instance of Allocated Checklist. The client should not generate the hash key value. Instead, the client should query on the Allocated Checklist collection resource in order to navigate to a specific instance of Allocated Checklist to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AllocatedTaskId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Allocated Task Identifier",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "New status of the task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "allocatedChecklists-{allocatedChecklistsUniqID}-child-allocatedTasks-{AllocatedTaskId}-action-updateTaskStatus-post",
        "x-filename-id": "allocatedchecklists-allocatedchecklistsuniqid-child-allocatedtasks-allocatedtaskid-action-updatetaskstatus-post"
      }
    }
  },
  "components": {
    "schemas": {
      "allocatedChecklists-allocatedTasks-item-response": {
        "type": "object",
        "properties": {
          "AbsAllocatedChecklistId": {
            "title": "Allocated Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the parent checklist.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ActionType": {
            "maxLength": 30,
            "type": "string",
            "description": "Action type for the task specified in the checklist.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionURL": {
            "title": "URL",
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the task action.",
            "nullable": true,
            "x-queryable": true
          },
          "ActualEndDate": {
            "title": "Actual End Date",
            "type": "string",
            "description": "Date on which the allocated task ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "ActualStartDate": {
            "title": "Actual Start Date",
            "type": "string",
            "description": "Date on which the allocated task starts.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AllocatedChecklistId": {
            "title": "Allocated Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated checklist.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AllocatedTaskId": {
            "title": "Allocated Task Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated task.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CompletedBy": {
            "title": "Completed by Person Name",
            "maxLength": 64,
            "type": "string",
            "description": "User who completed the task.",
            "nullable": true,
            "x-queryable": true
          },
          "CompletionDate": {
            "title": "Completion Date",
            "type": "string",
            "description": "Task completion date.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "DependentOnTasks": {
            "title": "Dependent on Tasks",
            "maxLength": 4000,
            "type": "string",
            "description": "Preceding task that needs to be completed.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Task Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the task.",
            "nullable": true,
            "x-queryable": true
          },
          "DetailAllocChecklistId": {
            "title": "Allocated Step Checklist Identifier",
            "type": "integer",
            "description": "Unique identifier for the allocated enterprise onboarding step checklist.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlexContextCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Descriptive flexfield for task assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MandatoryFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the task is mandatory or optional. Valid values are Yes and No.",
            "nullable": false,
            "x-hints": {
              "controlType": "date"
            },
            "x-queryable": true
          },
          "OwnerRespType": {
            "title": "Owner Responsibility Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the owner responsibility type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OwnerRespTypeUsers": {
            "title": "Owner Responsibility Type User",
            "maxLength": 4000,
            "type": "string",
            "description": "User type for the owner responsibility.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PerformerOrigSystem": {
            "title": "Performer User Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of system-generated performer.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "PerformerOrigSystemId"
              ]
            },
            "x-queryable": true
          },
          "PerformerOrigSystemId": {
            "title": "Performer Person Number",
            "type": "integer",
            "description": "System-generated identifier for the performer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponsibilityType": {
            "title": "Responsibility Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the responsibility type assigned to the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponsibilityTypeGUID": {
            "title": "Responsible Person User Name",
            "maxLength": 4000,
            "type": "string",
            "description": "Unique identifier for the responsibility type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 60,
            "type": "string",
            "description": "Status of the task.",
            "nullable": true,
            "x-queryable": true
          },
          "TargetDurationUOM": {
            "title": "Target Duration UOM",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measurement in days for task duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TargetEndDate": {
            "title": "Target End Date",
            "type": "string",
            "description": "End date for the task.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "TargetStartDate": {
            "title": "Target Start Date",
            "type": "string",
            "description": "Start date for the task.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "TaskActionCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code for the task action.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskConfiguration": {
            "title": "Task Configuration",
            "maxLength": 400,
            "type": "string",
            "description": "Indicates whether comments and attachments are available for the task. Valid values are Yes and No. Default is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskInChecklistId": {
            "title": "Task Identifier",
            "type": "integer",
            "description": "Unique identifier for the task in a checklist.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the task.",
            "nullable": false,
            "x-queryable": true
          },
          "TaskOwnerName": {
            "title": "Owner",
            "type": "string",
            "description": "Name of user who owns the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "TaskOwnerPersonId"
              ]
            }
          },
          "TaskOwnerPersonId": {
            "title": "Owner Person Number",
            "type": "integer",
            "description": "Unique identifier for the person who owns the task.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TaskOwnerUsername": {
            "title": "Owner User Name",
            "maxLength": 240,
            "type": "string",
            "description": "User name of the person who owns the task.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "TaskOwnerPersonId"
              ]
            },
            "x-queryable": true
          },
          "TaskSequence": {
            "title": "Sequence",
            "type": "integer",
            "description": "Sequence in which the tasks are executed.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "allocatedChecklistTaskFlex": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-allocatedChecklistTaskFlex-item-response"
            },
            "x-cardinality": "1"
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-attachments-item-response"
            }
          },
          "documents": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-documents-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-allocatedChecklistTaskFlex-item-response": {
        "type": "object",
        "properties": {
          "AllocatedTaskId": {
            "title": "Allocated Task Identifier",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-documents-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-item-patch-request": {
        "required": [
          "MandatoryFlag",
          "TaskName"
        ],
        "type": "object",
        "properties": {
          "ActionURL": {
            "title": "URL",
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the task action.",
            "nullable": true
          },
          "ActualEndDate": {
            "title": "Actual End Date",
            "type": "string",
            "description": "Date on which the allocated task ends.",
            "format": "date",
            "nullable": true
          },
          "ActualStartDate": {
            "title": "Actual Start Date",
            "type": "string",
            "description": "Date on which the allocated task starts.",
            "format": "date",
            "nullable": true
          },
          "CompletedBy": {
            "title": "Completed by Person Name",
            "maxLength": 64,
            "type": "string",
            "description": "User who completed the task.",
            "nullable": true
          },
          "CompletionDate": {
            "title": "Completion Date",
            "type": "string",
            "description": "Task completion date.",
            "format": "date",
            "nullable": true
          },
          "DependentOnTasks": {
            "title": "Dependent on Tasks",
            "maxLength": 4000,
            "type": "string",
            "description": "Preceding task that needs to be completed.",
            "nullable": true
          },
          "Description": {
            "title": "Task Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the task.",
            "nullable": true
          },
          "MandatoryFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the task is mandatory or optional. Valid values are Yes and No.",
            "nullable": false,
            "x-hints": {
              "controlType": "date"
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 60,
            "type": "string",
            "description": "Status of the task.",
            "nullable": true
          },
          "TargetEndDate": {
            "title": "Target End Date",
            "type": "string",
            "description": "End date for the task.",
            "format": "date",
            "nullable": true
          },
          "TargetStartDate": {
            "title": "Target Start Date",
            "type": "string",
            "description": "Start date for the task.",
            "format": "date",
            "nullable": true
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the task.",
            "nullable": false
          },
          "allocatedChecklistTaskFlex": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-allocatedChecklistTaskFlex-item-patch-request"
            },
            "x-cardinality": "1"
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-attachments-item-patch-request"
            }
          },
          "documents": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/allocatedChecklists-allocatedTasks-documents-item-patch-request"
            }
          }
        }
      },
      "allocatedChecklists-allocatedTasks-allocatedChecklistTaskFlex-item-patch-request": {
        "type": "object",
        "properties": {
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
[...]
