{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Areas of Responsibility",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/areasOfResponsibility/{areasOfResponsibilityUniqID}/action/reassign": {
      "post": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Reassign a responsibility",
        "description": "Reassigns a responsibility from one representative to another.",
        "operationId": "do_reassign_areasOfResponsibility",
        "parameters": [
          {
            "name": "areasOfResponsibilityUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Areas of Responsibility resource and used to uniquely identify an instance of Areas of Responsibility. The client should not generate the hash key value. Instead, the client should query on the Areas of Responsibility collection resource in order to navigate to a specific instance of Areas of Responsibility to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assignmentNumber": {
                    "type": "string",
                    "description": "Assignment number of the worker who's receiving the reassigned responsibility.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for worker's assignment that's receiving the reassigned responsibility.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Results for the status of the reassignment. Values are true if successful, and false or error if not successful."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Results for the status of the reassignment. Values are true if successful, and false or error if not successful."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "areasOfResponsibility-{areasOfResponsibilityUniqID}-action-reassign-post",
        "x-filename-id": "areasofresponsibility-areasofresponsibilityuniqid-action-reassign-post"
      }
    },
    "/areasOfResponsibility/{areasOfResponsibilityUniqID}": {
      "get": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Get a representative",
        "operationId": "get_areasOfResponsibility",
        "parameters": [
          {
            "name": "areasOfResponsibilityUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Areas of Responsibility resource and used to uniquely identify an instance of Areas of Responsibility. The client should not generate the hash key value. Instead, the client should query on the Areas of Responsibility collection resource in order to navigate to a specific instance of Areas of Responsibility to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/areasOfResponsibility-item-response"
                }
              }
            },
            "links": {
              "ResponsibilityStatusVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{ActiveStatus}%2CLookupType%3DACTIVE_INACTIVE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ActiveStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ActiveStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "BusinessUnitLovVA": {
                "operationRef": "#/paths/~1hcmBusinessUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BusinessUnitName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BusinessUnitName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "hcmBusinessUnitsLOV.BusinessUnitId": [
                      "BusinessUnitId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "JobFunctionLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{JobFunctionCode}%2CLookupType%3DJOB_FUNCTION_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFunctionCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFunctionCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1areasOfResponsibility~1{areasOfResponsibilityUniqID}~1action~1reassign/post",
                "parameters": {
                  "areasOfResponsibilityUniqID": "$request.path.areasOfResponsibilityUniqID"
                },
                "description": "Reassigns a responsibility from one representative to another."
              },
              "GradeVA": {
                "operationRef": "#/paths/~1gradesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeCode; Target Attribute: GradeCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "gradesLov.GradeId": [
                      "GradeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "GradeCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "HierarchyTypeLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{HierarchyType}%2CLookupType%3DORA_PER_AOR_HIERARCHY_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: HierarchyType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/HierarchyType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "JobVA": {
                "operationRef": "#/paths/~1jobsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobCode; Target Attribute: JobCode</li><li>Display Attribute: JobName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobCode",
                  "displayValues": [
                    "JobName"
                  ],
                  "derivedFieldsMapping": {
                    "jobsLov.JobId": [
                      "JobId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobCode",
                  "displayFields": [
                    "JobName"
                  ]
                }
              },
              "BargainingUnitLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{BargainingUnitCode}%2CLookupType%3DBARGAINING_UNIT_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BargainingUnitCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BargainingUnitCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LegislativeDataGroupLovVA": {
                "operationRef": "#/paths/~1legislativeDataGroupsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegislativeDataGroupName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegislativeDataGroupName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "legislativeDataGroupsLOV.LegislativeDataGroupId": [
                      "LegislativeDataGroupId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "OrganizationTreeLOVVA": {
                "operationRef": "#/paths/~1hcmTreesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BTreeStructureCode%3DPER_ORG_TREE_STRUCTURE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OrganizationTreeCode; Target Attribute: TreeCode</li><li>Display Attribute: TreeName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OrganizationTreeCode",
                  "displayValues": [
                    "TreeName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmTreesLOV.TreeVersionId": [
                      "OrganizationTreeVersionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TreeCode",
                  "displayFields": [
                    "TreeName"
                  ]
                }
              },
              "AssignmentCategoryLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{AssignmentCategory}%2CLookupType%3DEMP_CAT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AssignmentCategory; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AssignmentCategory",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "JobFamilyLovVA": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "JobFamilyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "OrganizationHiringPVOVA": {
                "operationRef": "#/paths/~1recruitingOrganizationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingOrgHierarchyName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingOrgHierarchyName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "recruitingOrganizationsLOV.TreeCode": [
                      "RecruitingOrgTreeCode"
                    ],
                    "recruitingOrganizationsLOV.OrganizationId": [
                      "RecruitingOrgHierarchyId"
                    ],
                    "recruitingOrganizationsLOV.TreeVersionId": [
                      "RecruitingOrgTreeVer"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "BenefitGroupsLovVA": {
                "operationRef": "#/paths/~1benefitGroupsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BenefitGroupName; Target Attribute: BenefitGroupName</li><li>Display Attribute: BenefitGroupName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BenefitGroupName",
                  "displayValues": [
                    "BenefitGroupName"
                  ],
                  "derivedFieldsMapping": {
                    "benefitGroupsLOV.BenefitGroupId": [
                      "BenefitGroupId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "BenefitGroupName",
                  "displayFields": [
                    "BenefitGroupName"
                  ]
                }
              },
              "TopDepartmentTreeLOVVA": {
                "operationRef": "#/paths/~1departmentTreeNodesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TopDepartmentName; Target Attribute: DepartmentName</li><li>Display Attribute: DepartmentName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TopDepartmentName",
                  "displayValues": [
                    "DepartmentName"
                  ],
                  "derivedFieldsMapping": {
                    "departmentTreeNodesLOV.OrganizationId": [
                      "TopDepartmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "DepartmentName",
                  "displayFields": [
                    "DepartmentName"
                  ]
                }
              },
              "LocationSetLovVA": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationSetCode; Target Attribute: SetCode</li><li>Display Attribute: SetName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationSetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "LocationSetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName"
                  ]
                }
              },
              "TopOrganizationTreeLOVVA": {
                "operationRef": "#/paths/~1organizationTreeNodesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TopOrganizationName; Target Attribute: OrganizationName</li><li>Display Attribute: OrganizationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TopOrganizationName",
                  "displayValues": [
                    "OrganizationName"
                  ],
                  "derivedFieldsMapping": {
                    "organizationTreeNodesLOV.OrganizationId": [
                      "TopOrganizationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "OrganizationName",
                  "displayFields": [
                    "OrganizationName"
                  ]
                }
              },
              "CountryLovVA": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CountryCode; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CountryCode",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "GradeSetLovVA": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeSetCode; Target Attribute: SetCode</li><li>Display Attribute: SetName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeSetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "GradeSetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName"
                  ]
                }
              },
              "DepartmentLovVA": {
                "operationRef": "#/paths/~1departmentsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "departmentsLov.OrganizationId": [
                      "DepartmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "DepartmentTreeLOVVA": {
                "operationRef": "#/paths/~1hcmTreesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BTreeStructureCode%3DPER_DEPT_TREE_STRUCTURE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentTreeCode; Target Attribute: TreeCode</li><li>Display Attribute: TreeName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentTreeCode",
                  "displayValues": [
                    "TreeName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmTreesLOV.TreeVersionId": [
                      "DepartmentTreeVersionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TreeCode",
                  "displayFields": [
                    "TreeName"
                  ]
                }
              },
              "GeographyHiringPVOVA": {
                "operationRef": "#/paths/~1recruitingGeographyHierarchyLocationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingLocHierarchyName; Target Attribute: GeographyName</li><li>Display Attribute: GeographyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingLocHierarchyName",
                  "displayValues": [
                    "GeographyName"
                  ],
                  "derivedFieldsMapping": {
                    "recruitingGeographyHierarchyLocationsLOV.GeographyId": [
                      "RecruitingLocHierarchyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "GeographyName",
                  "displayFields": [
                    "GeographyName"
                  ]
                }
              },
              "JobSetLovVA": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobSetCode; Target Attribute: SetCode</li><li>Display Attribute: SetName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobSetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "JobSetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName"
                  ]
                }
              },
              "PositionLovVA": {
                "operationRef": "#/paths/~1positionsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionCode; Target Attribute: PositionCode</li><li>Display Attribute: PositionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionCode",
                  "displayValues": [
                    "PositionName"
                  ],
                  "derivedFieldsMapping": {
                    "positionsLov.PositionId": [
                      "PositionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PositionCode",
                  "displayFields": [
                    "PositionName"
                  ]
                }
              },
              "RecruitingTypeLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{RecruitingTypeCode}%2CLookupType%3DORA_IRC_RECRUITING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingTypeCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingTypeCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "PayrollVA": {
                "operationRef": "#/paths/~1payrollDefinitionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayrollName; Target Attribute: PayrollName</li><li>Display Attribute: PayrollName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayrollName",
                  "displayValues": [
                    "PayrollName"
                  ],
                  "derivedFieldsMapping": {
                    "payrollDefinitionsLOV.PayrollId": [
                      "PayrollId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PayrollName",
                  "displayFields": [
                    "PayrollName"
                  ]
                }
              },
              "TaxReportingUnitVA": {
                "operationRef": "#/paths/~1taxReportingUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TaxReportingUnitName; Target Attribute: TaxReportingUnitName</li><li>Display Attribute: TaxReportingUnitName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TaxReportingUnitName",
                  "displayValues": [
                    "TaxReportingUnitName"
                  ],
                  "derivedFieldsMapping": {
                    "taxReportingUnitsLOV.OrganizationId": [
                      "TaxReportingUnitId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TaxReportingUnitName",
                  "displayFields": [
                    "TaxReportingUnitName"
                  ]
                }
              },
              "ResponsibilityTypeLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{ResponsibilityType}%2CLookupType%3DPER_RESPONSIBILITY_TYPES"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponsibilityType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponsibilityType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponsibilityTemplatesLovVA": {
                "operationRef": "#/paths/~1responsibilityTemplatesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TemplateCode; Target Attribute: Code</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TemplateCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "responsibilityTemplatesLOV.TemplateId": [
                      "TemplateId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Code",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LocationVA": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "LocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "PositionTreeLOVVA": {
                "operationRef": "#/paths/~1hcmTreesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BTreeStructureCode%3DPER_POS_TREE_STRUCTURE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionTreeCode; Target Attribute: TreeCode</li><li>Display Attribute: TreeName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionTreeCode",
                  "displayValues": [
                    "TreeName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmTreesLOV.TreeVersionId": [
                      "PositionTreeVersionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TreeCode",
                  "displayFields": [
                    "TreeName"
                  ]
                }
              },
              "TopPositionTreeLOVVA": {
                "operationRef": "#/paths/~1positionTreeNodesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TopPositionName; Target Attribute: PositionName</li><li>Display Attribute: PositionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TopPositionName",
                  "displayValues": [
                    "PositionName"
                  ],
                  "derivedFieldsMapping": {
                    "positionTreeNodesLOV.PositionId": [
                      "TopPositionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PositionName",
                  "displayFields": [
                    "PositionName"
                  ]
                }
              },
              "LegalEmployerLovVA": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegalEmployerName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "legalEmployersLov.OrganizationId": [
                      "LegalEntityId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "PayrollStatuatoryUnitVA": {
                "operationRef": "#/paths/~1payrollStatutoryUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayrollStatutoryUnitName; Target Attribute: PayrollStatutoryUnitName</li><li>Display Attribute: PayrollStatutoryUnitName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayrollStatutoryUnitName",
                  "displayValues": [
                    "PayrollStatutoryUnitName"
                  ],
                  "derivedFieldsMapping": {
                    "payrollStatutoryUnitsLOV.OrganizationId": [
                      "PayrollStatUnitId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PayrollStatutoryUnitName",
                  "displayFields": [
                    "PayrollStatutoryUnitName"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "areasOfResponsibility-{areasOfResponsibilityUniqID}-get",
        "x-filename-id": "areasofresponsibility-areasofresponsibilityuniqid-get"
      },
      "delete": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Delete a responsibility for a representative",
        "operationId": "delete_areasOfResponsibility",
        "parameters": [
          {
            "name": "areasOfResponsibilityUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Areas of Responsibility resource and used to uniquely identify an instance of Areas of Responsibility. The client should not generate the hash key value. Instead, the client should query on the Areas of Responsibility collection resource in order to navigate to a specific instance of Areas of Responsibility to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "areasOfResponsibility-{areasOfResponsibilityUniqID}-delete",
        "x-filename-id": "areasofresponsibility-areasofresponsibilityuniqid-delete"
      },
      "patch": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Update a responsibility for a representative",
        "operationId": "update_areasOfResponsibility",
        "parameters": [
          {
            "name": "areasOfResponsibilityUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Areas of Responsibility resource and used to uniquely identify an instance of Areas of Responsibility. The client should not generate the hash key value. Instead, the client should query on the Areas of Responsibility collection resource in order to navigate to a specific instance of Areas of Responsibility to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/areasOfResponsibility-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/areasOfResponsibility-item-response"
                }
              }
            },
            "links": {
              "ResponsibilityStatusVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{ActiveStatus}%2CLookupType%3DACTIVE_INACTIVE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ActiveStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ActiveStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "BusinessUnitLovVA": {
                "operationRef": "#/paths/~1hcmBusinessUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BusinessUnitName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BusinessUnitName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "hcmBusinessUnitsLOV.BusinessUnitId": [
                      "BusinessUnitId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "JobFunctionLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{JobFunctionCode}%2CLookupType%3DJOB_FUNCTION_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFunctionCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFunctionCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1areasOfResponsibility~1{areasOfResponsibilityUniqID}~1action~1reassign/post",
                "parameters": {
                  "areasOfResponsibilityUniqID": "$request.path.areasOfResponsibilityUniqID"
                },
                "description": "Reassigns a responsibility from one representative to another."
              },
              "GradeVA": {
                "operationRef": "#/paths/~1gradesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeCode; Target Attribute: GradeCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "gradesLov.GradeId": [
                      "GradeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "GradeCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "HierarchyTypeLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{HierarchyType}%2CLookupType%3DORA_PER_AOR_HIERARCHY_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: HierarchyType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/HierarchyType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "JobVA": {
                "operationRef": "#/paths/~1jobsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobCode; Target Attribute: JobCode</li><li>Display Attribute: JobName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobCode",
                  "displayValues": [
                    "JobName"
                  ],
                  "derivedFieldsMapping": {
                    "jobsLov.JobId": [
                      "JobId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobCode",
                  "displayFields": [
                    "JobName"
                  ]
                }
              },
              "BargainingUnitLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{BargainingUnitCode}%2CLookupType%3DBARGAINING_UNIT_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BargainingUnitCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BargainingUnitCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LegislativeDataGroupLovVA": {
                "operationRef": "#/paths/~1legislativeDataGroupsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegislativeDataGroupName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegislativeDataGroupName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "legislativeDataGroupsLOV.LegislativeDataGroupId": [
                      "LegislativeDataGroupId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "OrganizationTreeLOVVA": {
                "operationRef": "#/paths/~1hcmTreesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BTreeStructureCode%3DPER_ORG_TREE_STRUCTURE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OrganizationTreeCode; Target Attribute: TreeCode</li><li>Display Attribute: TreeName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OrganizationTreeCode",
                  "displayValues": [
                    "TreeName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmTreesLOV.TreeVersionId": [
                      "OrganizationTreeVersionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TreeCode",
                  "displayFields": [
                    "TreeName"
                  ]
                }
              },
              "AssignmentCategoryLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{AssignmentCategory}%2CLookupType%3DEMP_CAT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AssignmentCategory; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AssignmentCategory",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "JobFamilyLovVA": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "JobFamilyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "OrganizationHiringPVOVA": {
                "operationRef": "#/paths/~1recruitingOrganizationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingOrgHierarchyName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingOrgHierarchyName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "recruitingOrganizationsLOV.TreeCode": [
                      "RecruitingOrgTreeCode"
                    ],
                    "recruitingOrganizationsLOV.OrganizationId": [
                      "RecruitingOrgHierarchyId"
                    ],
                    "recruitingOrganizationsLOV.TreeVersionId": [
                      "RecruitingOrgTreeVer"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "BenefitGroupsLovVA": {
                "operationRef": "#/paths/~1benefitGroupsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BenefitGroupName; Target Attribute: BenefitGroupName</li><li>Display Attribute: BenefitGroupName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BenefitGroupName",
                  "displayValues": [
                    "BenefitGroupName"
                  ],
                  "derivedFieldsMapping": {
                    "benefitGroupsLOV.BenefitGroupId": [
                      "BenefitGroupId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "BenefitGroupName",
                  "displayFields": [
                    "BenefitGroupName"
                  ]
                }
              },
              "TopDepartmentTreeLOVVA": {
                "operationRef": "#/paths/~1departmentTreeNodesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TopDepartmentName; Target Attribute: DepartmentName</li><li>Display Attribute: DepartmentName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TopDepartmentName",
                  "displayValues": [
                    "DepartmentName"
                  ],
                  "derivedFieldsMapping": {
                    "departmentTreeNodesLOV.OrganizationId": [
                      "TopDepartmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "DepartmentName",
                  "displayFields": [
                    "DepartmentName"
                  ]
                }
              },
              "LocationSetLovVA": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationSetCode; Target Attribute: SetCode</li><li>Display Attribute: SetName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationSetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "LocationSetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName"
                  ]
                }
              },
              "TopOrganizationTreeLOVVA": {
                "operationRef": "#/paths/~1organizationTreeNodesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TopOrganizationName; Target Attribute: OrganizationName</li><li>Display Attribute: OrganizationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TopOrganizationName",
                  "displayValues": [
                    "OrganizationName"
                  ],
                  "derivedFieldsMapping": {
                    "organizationTreeNodesLOV.OrganizationId": [
                      "TopOrganizationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "OrganizationName",
                  "displayFields": [
                    "OrganizationName"
                  ]
                }
              },
              "CountryLovVA": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CountryCode; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CountryCode",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "GradeSetLovVA": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeSetCode; Target Attribute: SetCode</li><li>Display Attribute: SetName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeSetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "GradeSetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName"
                  ]
                }
              },
              "DepartmentLovVA": {
                "operationRef": "#/paths/~1departmentsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "departmentsLov.OrganizationId": [
                      "DepartmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "DepartmentTreeLOVVA": {
                "operationRef": "#/paths/~1hcmTreesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BTreeStructureCode%3DPER_DEPT_TREE_STRUCTURE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentTreeCode; Target Attribute: TreeCode</li><li>Display Attribute: TreeName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentTreeCode",
                  "displayValues": [
                    "TreeName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmTreesLOV.TreeVersionId": [
                      "DepartmentTreeVersionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TreeCode",
                  "displayFields": [
                    "TreeName"
                  ]
                }
              },
              "GeographyHiringPVOVA": {
                "operationRef": "#/paths/~1recruitingGeographyHierarchyLocationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingLocHierarchyName; Target Attribute: GeographyName</li><li>Display Attribute: GeographyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingLocHierarchyName",
                  "displayValues": [
                    "GeographyName"
                  ],
                  "derivedFieldsMapping": {
                    "recruitingGeographyHierarchyLocationsLOV.GeographyId": [
                      "RecruitingLocHierarchyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "GeographyName",
                  "displayFields": [
                    "GeographyName"
                  ]
                }
              },
              "JobSetLovVA": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobSetCode; Target Attribute: SetCode</li><li>Display Attribute: SetName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobSetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "JobSetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName"
                  ]
                }
              },
              "PositionLovVA": {
                "operationRef": "#/paths/~1positionsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionCode; Target Attribute: PositionCode</li><li>Display Attribute: PositionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionCode",
                  "displayValues": [
                    "PositionName"
                  ],
                  "derivedFieldsMapping": {
                    "positionsLov.PositionId": [
                      "PositionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PositionCode",
                  "displayFields": [
                    "PositionName"
                  ]
                }
              },
              "RecruitingTypeLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{RecruitingTypeCode}%2CLookupType%3DORA_IRC_RECRUITING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingTypeCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingTypeCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "PayrollVA": {
                "operationRef": "#/paths/~1payrollDefinitionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayrollName; Target Attribute: PayrollName</li><li>Display Attribute: PayrollName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayrollName",
                  "displayValues": [
                    "PayrollName"
                  ],
                  "derivedFieldsMapping": {
                    "payrollDefinitionsLOV.PayrollId": [
                      "PayrollId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PayrollName",
                  "displayFields": [
                    "PayrollName"
                  ]
                }
              },
              "TaxReportingUnitVA": {
                "operationRef": "#/paths/~1taxReportingUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TaxReportingUnitName; Target Attribute: TaxReportingUnitName</li><li>Display Attribute: TaxReportingUnitName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TaxReportingUnitName",
                  "displayValues": [
                    "TaxReportingUnitName"
                  ],
                  "derivedFieldsMapping": {
                    "taxReportingUnitsLOV.OrganizationId": [
                      "TaxReportingUnitId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TaxReportingUnitName",
                  "displayFields": [
                    "TaxReportingUnitName"
                  ]
                }
              },
              "ResponsibilityTypeLovVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{ResponsibilityType}%2CLookupType%3DPER_RESPONSIBILITY_TYPES"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponsibilityType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponsibilityType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponsibilityTemplatesLovVA": {
                "operationRef": "#/paths/~1responsibilityTemplatesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TemplateCode; Target Attribute: Code</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TemplateCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "responsibilityTemplatesLOV.TemplateId": [
                      "TemplateId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Code",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LocationVA": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "LocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "PositionTreeLOVVA": {
                "operationRef": "#/paths/~1hcmTreesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BTreeStructureCode%3DPER_POS_TREE_STRUCTURE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionTreeCode; Target Attribute: TreeCode</li><li>Display Attribute: TreeName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionTreeCode",
                  "displayValues": [
                    "TreeName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmTreesLOV.TreeVersionId": [
                      "PositionTreeVersionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "TreeCode",
                  "displayFields": [
                    "TreeName"
                  ]
                }
              },
              "TopPositionTreeLOVVA": {
                "operationRef": "#/paths/~1positionTreeNodesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TopPositionName; Target Attribute: PositionName</li><li>Display Attribute: PositionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TopPositionName",
                  "displayValues": [
                    "PositionName"
                  ],
                  "derivedFieldsMapping": {
                    "positionTreeNodesLOV.PositionId": [
                      "TopPositionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PositionName",
                  "displayFields": [
                    "PositionName"
                  ]
                }
              },
              "LegalEmployerLovVA": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegalEmployerName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "legalEmployersLov.OrganizationId": [
                      "LegalEntityId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "PayrollStatuatoryUnitVA": {
                "operationRef": "#/paths/~1payrollStatutoryUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayrollStatutoryUnitName; Target Attribute: PayrollStatutoryUnitName</li><li>Display Attribute: PayrollStatutoryUnitName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayrollStatutoryUnitName",
                  "displayValues": [
                    "PayrollStatutoryUnitName"
                  ],
                  "derivedFieldsMapping": {
                    "payrollStatutoryUnitsLOV.OrganizationId": [
                      "PayrollStatUnitId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "PayrollStatutoryUnitName",
                  "displayFields": [
                    "PayrollStatutoryUnitName"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "areasOfResponsibility-{areasOfResponsibilityUniqID}-patch",
        "x-filename-id": "areasofresponsibility-areasofresponsibilityuniqid-patch"
      }
    },
    "/areasOfResponsibility/action/findByAdvancedSearch": {
      "post": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Find areas of responsibility information",
        "description": "Finds areas of responsibility records that match the specified advance search criteria. This returns the filtered records.",
        "operationId": "doall_findByAdvancedSearch_areasOfResponsibility",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Offset for the specified advance search criteria.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Query for the specified advance search criteria.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit for the advance search results.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the specified advance search criteria.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Filters for the specified advance search criteria.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order for the specified advance search criteria.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the specified advance search criteria.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Autocomplete query for the specified advance search criteria.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Results for the specified advance search criteria."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Results for the specified advance search criteria."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "areasOfResponsibility-action-findByAdvancedSearch-post",
        "x-filename-id": "areasofresponsibility-action-findbyadvancedsearch-post"
      }
    },
    "/areasOfResponsibility/action/getAorScopeDetails": {
      "post": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Scope details for the responsibility template. This action is for internal use only.",
        "description": "Gets the responsibility template's scope details when creating a responsibility from a template.",
        "operationId": "doall_getAorScopeDetails_areasOfResponsibility",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "array",
                    "description": "Responsibility template's scope attribute name.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "value": {
                    "type": "array",
                    "description": "Responsibility template's scope attribute value or description.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Results for the specified template scope attribute details."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Results for the specified template scope attribute details."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "areasOfResponsibility-action-getAorScopeDetails-post",
        "x-filename-id": "areasofresponsibility-action-getaorscopedetails-post"
      }
    },
    "/areasOfResponsibility": {
      "get": {
        "tags": [
          "Areas of Responsibility"
        ],
        "summary": "Get all representatives",
        "operationId": "getall_areasOfResponsibility",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
[...]
