{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Benefits Comparison Plans",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/benefitPlansComparison": {
      "get": {
        "tags": [
          "Benefits Comparison Plans"
        ],
        "summary": "Get all benefit plans for comparison",
        "operationId": "getall_benefitPlansComparison",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ComparisonType; string; Comparison type of the plan template.</li><li>FromDate; string; Date from which the benefit plan is active for comparison.</li><li>InstanceId; integer; Unique identifier for the benefit comparison plans.</li><li>LegislationCode; string; Legislation code of the plan template.</li><li>Name; string; Name of the benefit plan.</li><li>TemplateId; integer; Unique identifier for the plan template.</li><li>TemplateName; string; Name of the plan template.</li><li>TemplateType; string; Type of the plan template.</li><li>ToDate; string; Date till when the benefit plan is active for comparison.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a benefit plan for comparison that matches the specified primary key criteria. <br>Finder Variables <ul><li>InstanceId; integer;  Unique identifier for the benefit comparison plans. </li></ul></li><li>findByElectableInstanceId Finds the electable benefit plan for comparison based on the benefit comparison plans and person identifiers. <br>Finder Variables <ul><li>EffectiveDate; string;  Date when the plan is active for comparison. </li><li>InstanceId; integer;  Unique identifier for the benefit comparison plans. </li><li>PersonId; integer;  Unique identifier for the person. </li></ul></li><li>findByInstanceId Finds a benefit plan for comparison based on the benefit comparison plans identifier. <br>Finder Variables <ul><li>InstanceId; integer;  Unique identifier for the benefit comparison plans. </li></ul></li><li>findByPlanAttr Finds all benefit plans for comparison based on the specified criteria. <br>Finder Variables <ul><li>EffectiveDate; string;  Date on which a plan is active for comparison. By default, the effective date is the current date. </li><li>Name; string;  Name; string;  of the benefit plan. </li><li>PersonId; integer;  Unique identifier for the person. </li><li>TemplateId; integer;  Unique identifier for the plan template. </li><li>TemplateName; string;  Name; string;  of the plan template. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a benefit plan for comparison that matches the specified primary key criteria.",
                "properties": {
                  "InstanceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the benefit comparison plans.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Instance ID"
                  }
                }
              },
              {
                "name": "findByElectableInstanceId",
                "description": "Finds the electable benefit plan for comparison based on the benefit comparison plans and person identifiers.",
                "title": "findByElectableInstanceId",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "InstanceId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the benefit comparison plans.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "format": "date",
                    "description": "Date when the plan is active for comparison.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByInstanceId",
                "description": "Finds a benefit plan for comparison based on the benefit comparison plans identifier.",
                "title": "findByInstanceId",
                "properties": {
                  "InstanceId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the benefit comparison plans.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPlanAttr",
                "description": "Finds all benefit plans for comparison based on the specified criteria.",
                "title": "findByPlanAttr",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "TemplateName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "SelectivelyRequired"
                    },
                    "description": "Name of the plan template.",
                    "type": "string"
                  },
                  "TemplateId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "SelectivelyRequired"
                    },
                    "description": "Unique identifier for the plan template.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date on which a plan is active for comparison. By default, the effective date is the current date.",
                    "type": "string"
                  },
                  "Name": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the benefit plan.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benefitPlansComparison"
                }
              }
            }
          }
        },
        "x-internal-id": "benefitPlansComparison-get",
        "x-filename-id": "benefitplanscomparison-get"
      }
    },
    "/benefitPlansComparison/{InstanceId}": {
      "get": {
        "tags": [
          "Benefits Comparison Plans"
        ],
        "summary": "Get a benefit plan for comparison",
        "operationId": "get_benefitPlansComparison",
        "parameters": [
          {
            "name": "InstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Instance ID",
              "type": "integer",
              "description": "Unique identifier for the benefit comparison plans.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benefitPlansComparison-item-response"
                }
              }
            },
            "links": {
              "images": {
                "operationRef": "#/paths/~1benefitPlansComparison~1{InstanceId}~1child~1images/get",
                "parameters": {
                  "InstanceId": "$request.path.InstanceId"
                },
                "description": "The images resource is a child of the benefitPlansComparison resource. This resource provides the image of the benefit plan."
              },
              "highlights": {
                "operationRef": "#/paths/~1benefitPlansComparison~1{InstanceId}~1child~1highlights/get",
                "parameters": {
                  "InstanceId": "$request.path.InstanceId"
                },
                "description": "The highlights resource is a child of the benefitPlansComparison resource. This resource provides all the highlights of the benefit plan."
              },
              "estimatedCosts": {
                "operationRef": "#/paths/~1benefitPlansComparison~1{InstanceId}~1child~1estimatedCosts/get",
                "parameters": {
                  "InstanceId": "$request.path.InstanceId"
                },
                "description": "The estimatedCosts resource is a child of the benefitPlansComparison resource. This resource provides all estimated costs of the benefit plan."
              },
              "footnotes": {
                "operationRef": "#/paths/~1benefitPlansComparison~1{InstanceId}~1child~1footnotes/get",
                "parameters": {
                  "InstanceId": "$request.path.InstanceId"
                },
                "description": "The footnotes resource is a child of the benefitPlansComparison resource. This resource provides all the footnotes that are associated with the plan template."
              },
              "featureValues": {
                "operationRef": "#/paths/~1benefitPlansComparison~1{InstanceId}~1child~1featureValues/get",
                "parameters": {
                  "InstanceId": "$request.path.InstanceId"
                },
                "description": "The featureValues resource is a child of the benefitPlansComparison resource. This resource provides all the values that are associated with the features of the benefit plan."
              }
            }
          }
        },
        "x-internal-id": "benefitPlansComparison-{InstanceId}-get",
        "x-filename-id": "benefitplanscomparison-instanceid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "benefitPlansComparison": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "benefitPlansComparison-item-response": {
        "type": "object",
        "properties": {
          "ComparisonType": {
            "title": "Comparison Type",
            "maxLength": 128,
            "type": "string",
            "description": "Comparison type of the plan template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EstimatedCostType": {
            "title": "Estimated Cost Period",
            "maxLength": 80,
            "type": "string",
            "description": "Period of the estimated cost.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "EstimatedCostValue": {
            "title": "Estimated Cost Value",
            "maxLength": 1000,
            "type": "string",
            "description": "Estimated cost for the plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FromDate": {
            "title": "From Date",
            "type": "string",
            "description": "Date from which the benefit plan is active for comparison.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ImageId": {
            "title": "Image ID",
            "type": "integer",
            "description": "Unique identifier for the image.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "InstanceId": {
            "title": "Instance ID",
            "type": "integer",
            "description": "Unique identifier for the benefit comparison plans.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegislationCode": {
            "title": "Legislation Code",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code of the plan template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "title": "Plan Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the benefit plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TemplateId": {
            "title": "Template ID",
            "type": "integer",
            "description": "Unique identifier for the plan template.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TemplateName": {
            "title": "Template Name",
            "maxLength": 128,
            "type": "string",
            "description": "Name of the plan template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TemplateType": {
            "title": "Template Type",
            "maxLength": 128,
            "type": "string",
            "description": "Type of the plan template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ToDate": {
            "title": "To Date",
            "type": "string",
            "description": "Date till when the benefit plan is active for comparison.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "UseGroupsFlag": {
            "title": "Use Groups",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the plan template uses groupings or not. The valid values are true and false. The default value is false.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "UseHeaderFlag": {
            "title": "Use Headers",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the plan template uses header or not. The valid values are true and false. The default value is false.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "estimatedCosts": {
            "title": "Estimated Costs",
            "type": "array",
            "description": "The estimatedCosts resource is a child of the benefitPlansComparison resource. This resource provides all estimated costs of the benefit plan.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-estimatedCosts-item-response"
            }
          },
          "featureValues": {
            "title": "Feature Values",
            "type": "array",
            "description": "The featureValues resource is a child of the benefitPlansComparison resource. This resource provides all the values that are associated with the features of the benefit plan.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-featureValues-item-response"
            }
          },
          "footnotes": {
            "title": "Footnotes",
            "type": "array",
            "description": "The footnotes resource is a child of the benefitPlansComparison resource. This resource provides all the footnotes that are associated with the plan template.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-footnotes-item-response"
            }
          },
          "highlights": {
            "title": "Highlights",
            "type": "array",
            "description": "The highlights resource is a child of the benefitPlansComparison resource. This resource provides all the highlights of the benefit plan.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-highlights-item-response"
            }
          },
          "images": {
            "title": "Images",
            "type": "array",
            "description": "The images resource is a child of the benefitPlansComparison resource. This resource provides the image of the benefit plan.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-images-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "benefitPlansComparison-estimatedCosts-item-response": {
        "type": "object",
        "properties": {
          "EstimatedCost": {
            "title": "Estimated Cost Value",
            "maxLength": 1000,
            "type": "string",
            "description": "Estimated cost for the plan or option.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InstanceValueId": {
            "title": "Instance Value ID",
            "type": "integer",
            "description": "Unique identifier for the estimated costs.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OptionName": {
            "title": "Option Name",
            "maxLength": 128,
            "type": "string",
            "description": "Name of the option.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "benefitPlansComparison-featureValues-item-response": {
        "type": "object",
        "properties": {
          "CategoryId": {
            "title": "Category ID",
            "type": "integer",
            "description": "Unique identifier for the category.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category Name",
            "maxLength": 128,
            "type": "string",
            "description": "Name of the category.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FootnoteRefs": {
            "title": "Footnote References",
            "maxLength": 1000,
            "type": "string",
            "description": "Footnote references associated with the feature value.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "GroupId": {
            "title": "Group ID",
            "type": "integer",
            "description": "Unique identifier for the group of the feature.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GroupName": {
            "title": "Group Name",
            "maxLength": 1000,
            "type": "string",
            "description": "Name of the group of the feature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InfoText": {
            "title": "Feature Information Text",
            "maxLength": 1000,
            "type": "string",
            "description": "Additional information about the feature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InstanceValueId": {
            "title": "Instance Value ID",
            "type": "integer",
            "description": "Unique identifier for the feature value.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemId": {
            "title": "Item ID",
            "type": "integer",
            "description": "Unique identifier for the feature.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Name": {
            "title": "Feature Name",
            "maxLength": 1000,
            "type": "string",
            "description": "Name of the feature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OptionId": {
            "title": "Option ID",
            "type": "integer",
            "description": "Unique identifier for the option.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OptionName": {
            "title": "Option Name",
            "maxLength": 128,
            "type": "string",
            "description": "Name of the option.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "UseCategoriesFlag": {
            "title": "Use Categories",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the feature uses categories or not. The valid values are true and false. The default value is false.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "UseOptionsFlag": {
            "title": "Use Options",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the feature uses options or not. The valid values are true and false. The default value is false.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Value": {
            "title": "Feature Value",
            "maxLength": 1000,
            "type": "string",
            "description": "Value of the feature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "footnoteReferences": {
            "title": "Footnote References",
            "type": "array",
            "description": "The footnoteReferences resource is a child of the featureValues resource. This resource provides all the footnote references that are associated with the particular feature value of the benefit plan.",
            "items": {
              "$ref": "#/components/schemas/benefitPlansComparison-featureValues-footnoteReferences-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "benefitPlansComparison-featureValues-footnoteReferences-item-response": {
        "type": "object",
        "properties": {
          "Footnote": {
            "title": "Footnote",
            "maxLength": 1000,
            "type": "string",
            "description": "Display text for the footnote reference.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ItemId": {
            "title": "Item ID",
            "type": "integer",
            "description": "Unique identifier for the footnote reference.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Sequence": {
            "title": "Sequence",
            "type": "integer",
            "description": "Display sequence of the footnote reference.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 7
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "benefitPlansComparison-footnotes-item-response": {
        "type": "object",
        "properties": {
          "Footnote": {
            "title": "Footnote",
            "maxLength": 1000,
            "type": "string",
            "description": "Display text for the footnote.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ItemId": {
            "title": "Item ID",
            "type": "integer",
            "description": "Unique identifier for the footnote.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Sequence": {
            "title": "Sequence",
            "type": "integer",
            "description": "Display sequence of the footnote.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 7
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "benefitPlansComparison-highlights-item-response": {
        "type": "object",
        "properties": {
          "InstanceValueId": {
            "title": "Instance Value ID",
            "type": "integer",
            "description": "Unique identifier for the highlight.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Name": {
            "title": "Name",
            "maxLength": 1000,
            "type": "string",
            "description": "Name of the highlight.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ValueFlag": {
            "title": "Use Highlights",
            "maxLength": 1000,
            "type": "boolean",
            "description": "Indicates whether the plan offers this highlight or not. The valid values are true and false. The default value is false.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "benefitPlansComparison-images-item-response": {
        "type": "object",
        "properties": {
          "FileName": {
            "title": "Image File Name",
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the image file.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Image": {
            "title": "Image",
            "type": "string",
            "description": "File object for the image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ImageId": {
            "title": "Image ID",
            "type": "integer",
            "description": "Unique identifier for the image.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Name": {
            "title": "Image Name",
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the image.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}