{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Benefit Enrollment Opportunities",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/benefitEnrollmentOpportunities": {
      "get": {
        "tags": [
          "Benefit Enrollment Opportunities"
        ],
        "summary": "Get all enrollment opportunities",
        "operationId": "getall_benefitEnrollmentOpportunities",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BenefitRelationId; integer; Unique identifier for the benefits relationship.</li><li>ElectableChoicePoplId; integer; System generated unique identifier for the benefitEnrollmentOpportunities resource. It identifies the benefits offering that's available as an electable choice for a person as a result of a life event.</li><li>EnrollmentPeriodEndDate; string; The last date on which the participant can enroll in the program or plan.</li><li>EnrollmentPeriodStartDate; string; The date on which the participant can enroll in the program or plan.</li><li>LegalEntityId; integer; Unique identifier for the participant's legal employer.</li><li>LifeEventName; string; Name of the life event.</li><li>LifeEventOccuredDate; string; The day on which the life event began.</li><li>LifeEventTypeCode; string; The category of the life event definition.</li><li>PersonId; integer; Unique identifier for the participant.</li><li>PersonName; string; Participant display name.</li><li>PersonNumber; string; Person number of the participant.</li><li>PlanId; integer; Unique identifier for the plan not in program in which a participant can enroll in a given enrollment window period.</li><li>PlanName; string; Plan name in which a participant can enroll in a given enrollment window period.</li><li>ProgramId; integer; Unique identifier for the program in which a participant can enroll in a given enrollment window period.</li><li>ProgramName; string; Program name in which a participant can enroll in a given enrollment window period.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Enrollment opportunity that matches the specified primary key criteria. <br>Finder Variables <ul><li>ElectableChoicePoplId; integer;  Unique identifier for the benefitEnrollmentOpportunities resource. </li></ul></li><li>findByEventAttr Finds enrollment opportunities for all persons based on life event name and life event occurred date. <br>Finder Variables <ul><li>LifeEventName; string;  Name of the life event. </li><li>LifeEventOccuredDate; string;  Day on which the life event began. </li></ul></li><li>findByPersonNumber Finds enrollment opportunities for a person based on the person number of Participant. <br>Finder Variables <ul><li>PersonNumber; string;  Person number of the participant. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Enrollment opportunity that matches the specified primary key criteria.",
                "properties": {
                  "ElectableChoicePoplId": {
                    "nullable": false,
                    "description": "Unique identifier for the benefitEnrollmentOpportunities resource.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Program or Plan Choice ID"
                  }
                }
              },
              {
                "name": "findByEventAttr",
                "description": "Finds enrollment opportunities for all persons based on life event name and life event occurred date.",
                "title": "findByLifeEventAttr",
                "properties": {
                  "LifeEventName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Name of the life event.",
                    "type": "string"
                  },
                  "LifeEventOccuredDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Day on which the life event began.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByPersonNumber",
                "description": "Finds enrollment opportunities for a person based on the person number of Participant.",
                "title": "findByPersonNumber",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Person number of the participant.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benefitEnrollmentOpportunities"
                }
              }
            }
          }
        },
        "x-internal-id": "benefitEnrollmentOpportunities-get",
        "x-filename-id": "benefitenrollmentopportunities-get"
      }
    },
    "/benefitEnrollmentOpportunities/{PersonNumber}": {
      "get": {
        "tags": [
          "Benefit Enrollment Opportunities"
        ],
        "summary": "Get an enrollment opportunity",
        "operationId": "get_benefitEnrollmentOpportunities",
        "parameters": [
          {
            "name": "PersonNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benefitEnrollmentOpportunities-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "benefitEnrollmentOpportunities-{PersonNumber}-get",
        "x-filename-id": "benefitenrollmentopportunities-personnumber-get"
      }
    }
  },
  "components": {
    "schemas": {
      "benefitEnrollmentOpportunities": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/benefitEnrollmentOpportunities-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "benefitEnrollmentOpportunities-item-response": {
        "type": "object",
        "properties": {
          "AutomaticAssignedDate": {
            "title": "Automatically Assigned",
            "type": "string",
            "description": "The date on which this program or plan was automatically assigned to this person.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "BenefitRelationId": {
            "title": "Benefits Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the benefits relationship.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BenefitRelationName": {
            "title": "Benefits Relationship Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the benefits relationship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "BenefitRelationType": {
            "title": "Usage",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the benefits relationship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Who column. Indicates the user who created the row.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Who column. Indicates the creation date and time of the row.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DefaultAssignedDate": {
            "title": "Default Assigned Date",
            "type": "string",
            "description": "The date on which this program or plan was assigned as the default if the participant failed to make an election.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ElectableChoicePoplId": {
            "title": "Program or Plan Choice ID",
            "type": "integer",
            "description": "System generated unique identifier for the benefitEnrollmentOpportunities resource. It identifies the benefits offering that's available as an electable choice for a person as a result of a life event.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ElectionsMadeDate": {
            "title": "Election Made Date",
            "type": "string",
            "description": "The date on which the participant elected this benefit.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "EnrollmentPeriodEndDate": {
            "title": "Enrollment Period End Date",
            "type": "string",
            "description": "The last date on which the participant can enroll in the program or plan.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EnrollmentPeriodStartDate": {
            "title": "Enrollment Period Start Date",
            "type": "string",
            "description": "The date on which the participant can enroll in the program or plan.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Who column. Indicates the date and time of the last update of the row.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Who column. Indicates the user who last updated the row.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LegalEntityId": {
            "title": "Legal Entity ID",
            "type": "integer",
            "description": "Unique identifier for the participant's legal employer.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LifeEventName": {
            "title": "Life Event Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the life event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LifeEventOccuredDate": {
            "title": "Life Event Occurred Date",
            "type": "string",
            "description": "The day on which the life event began.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LifeEventStatusCode": {
            "title": "Life Event Status",
            "maxLength": 30,
            "type": "string",
            "description": "The present state of the life event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LifeEventTypeCode": {
            "title": "Life Event Type",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the life event definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "title": "Object Version Number",
            "type": "integer",
            "description": "Used to implement optimistic locking. This number is incremented every time the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was last queried.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier for the participant.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonName": {
            "title": "Person Name",
            "maxLength": 240,
            "type": "string",
            "description": "Participant display name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the participant.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PlanId": {
            "title": "Plan ID",
            "type": "integer",
            "description": "Unique identifier for the plan not in program in which a participant can enroll in a given enrollment window period.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PlanName": {
            "title": "Plan Name",
            "maxLength": 240,
            "type": "string",
            "description": "Plan name in which a participant can enroll in a given enrollment window period.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "resourceURL": "/resources/latest/benefitPlansLOV?onlyData=true&finder=PrimaryKey"
            },
            "x-queryable": true
          },
          "ProcessingEndDate": {
            "title": "Processing End Date",
            "type": "string",
            "description": "The end date of the last participation process that was run.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ProgramId": {
            "title": "Program ID",
            "type": "integer",
            "description": "Unique identifier for the program in which a participant can enroll in a given enrollment window period.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ProgramName": {
            "title": "Program Name",
            "maxLength": 240,
            "type": "string",
            "description": "Program name in which a participant can enroll in a given enrollment window period.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "resourceURL": "/resources/latest/benefitProgramsLOV?onlyData=true&finder=PrimaryKey"
            },
            "x-queryable": true
          },
          "VisibleToEmployeeFlag": {
            "title": "Visible on Self-Service Pages",
            "maxLength": 240,
            "type": "boolean",
            "description": "Checkbox to indicate whether employees can select the life event on self-service pages, regardless of any applicable eligibility criteria.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}