{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Calculation Entries/Calculation Card Components/Attachments/Large Object (LOB) Attributes - FileContents",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/calculationEntries/{DirCardId}/child/CalculationCardComponent/{DirCardCompId}/child/Attachments/{calculationEntries_CalculationCardComponent_Attachments_Id}/enclosure/FileContents": {
      "get": {
        "tags": [
          "Calculation Entries/Calculation Card Components/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Get a FileContents",
        "description": "Get a FileContents",
        "operationId": "get_calculationEntries-CalculationCardComponent-Attachments-FileContents",
        "parameters": [
          {
            "name": "DirCardId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "DirCardCompId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "calculationEntries_CalculationCardComponent_Attachments_Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "CalculationCardComponent-{DirCardCompId}-child-Attachments-{calculationEntries_CalculationCardComponent_Attachments_Id}-enclosure-FileContents-get",
        "x-filename-id": "calculationcardcomponent-dircardcompid-child-attachments-calculationentries_calculationcardcomponent_attachments_id-enclosure-filecontents-get"
      },
      "put": {
        "tags": [
          "Calculation Entries/Calculation Card Components/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Replace a FileContents",
        "description": "Replace a FileContents",
        "operationId": "replace_calculationEntries-CalculationCardComponent-Attachments-FileContents",
        "parameters": [
          {
            "name": "DirCardId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "DirCardCompId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "calculationEntries_CalculationCardComponent_Attachments_Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "CalculationCardComponent-{DirCardCompId}-child-Attachments-{calculationEntries_CalculationCardComponent_Attachments_Id}-enclosure-FileContents-put",
        "x-filename-id": "calculationcardcomponent-dircardcompid-child-attachments-calculationentries_calculationcardcomponent_attachments_id-enclosure-filecontents-put"
      },
      "delete": {
        "tags": [
          "Calculation Entries/Calculation Card Components/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Delete a FileContents",
        "description": "Delete a FileContents",
        "operationId": "delete_calculationEntries-CalculationCardComponent-Attachments-FileContents",
        "parameters": [
          {
            "name": "DirCardId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "DirCardCompId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "calculationEntries_CalculationCardComponent_Attachments_Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "CalculationCardComponent-{DirCardCompId}-child-Attachments-{calculationEntries_CalculationCardComponent_Attachments_Id}-enclosure-FileContents-delete",
        "x-filename-id": "calculationcardcomponent-dircardcompid-child-attachments-calculationentries_calculationcardcomponent_attachments_id-enclosure-filecontents-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}