{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Campaign Details/Campaign Channel Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUICampaignDetails/{CampaignId}/child/assetDetails/action/assetAction": {
      "post": {
        "tags": [
          "Campaign Details/Campaign Channel Details"
        ],
        "summary": "Perform an action on an asset",
        "description": "Performs an action on an asset based on the asset status.",
        "operationId": "doall_assetAction_communicateUICampaignDetails-assetDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actionType": {
                    "type": "string",
                    "description": "Type of actions available.",
                    "nullable": true
                  },
                  "assetId": {
                    "type": "number",
                    "description": "Unique identifier for a asset.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when an action is taken on an asset."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when an action is taken on an asset."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-assetDetails-action-assetAction-post",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-assetdetails-action-assetaction-post"
      }
    },
    "/communicateUICampaignDetails/{CampaignId}/child/assetDetails/{AssetId}": {
      "get": {
        "tags": [
          "Campaign Details/Campaign Channel Details"
        ],
        "summary": "Get a channel",
        "operationId": "get_communicateUICampaignDetails-assetDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "AssetId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier of the audience segment.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-response"
                }
              }
            },
            "links": {
              "assetMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1assetMetrics/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign."
              },
              "postContent": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1postContent/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign."
              },
              "notificationMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1notificationMetrics/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles."
              },
              "audienceSegments": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1audienceSegments/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-assetDetails-{AssetId}-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-assetdetails-assetid-get"
      },
      "delete": {
        "tags": [
          "Campaign Details/Campaign Channel Details"
        ],
        "summary": "Delete a channel",
        "operationId": "delete_communicateUICampaignDetails-assetDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "AssetId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier of the audience segment.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-assetDetails-{AssetId}-delete",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-assetdetails-assetid-delete"
      },
      "patch": {
        "tags": [
          "Campaign Details/Campaign Channel Details"
        ],
        "summary": "Update a channel",
        "operationId": "update_communicateUICampaignDetails-assetDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "AssetId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier of the audience segment.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-assetDetails-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-response"
                }
              }
            },
            "links": {
              "assetMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1assetMetrics/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign."
              },
              "postContent": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1postContent/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign."
              },
              "notificationMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1notificationMetrics/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles."
              },
              "audienceSegments": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1audienceSegments/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-assetDetails-{AssetId}-patch",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-assetdetails-assetid-patch"
      }
    },
    "/communicateUICampaignDetails/{CampaignId}/child/assetDetails": {
      "get": {
        "tags": [
          "Campaign Details/Campaign Channel Details"
        ],
        "summary": "Get all channels",
        "operationId": "getall_communicateUICampaignDetails-assetDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssetFrequency; integer; Attribute for the frequency with which the grow notification email is sent out.</li><li>AssetId; integer; Internal identifier for the channel associated with a campaign.</li><li>AssetName; string; Channel name.</li><li>AssetStatusCode; string; Lookup code of the channel status.</li><li>AssetStatusMeaning; string; Channel status.</li><li>AssetTypeCode; string; Channel type.</li><li>CampaignId; integer; Internal identifier for the campaign.</li><li>ContentLastModified; string; Date when the campaign content was last modified.</li><li>CreatedBy; string; Person who created the channel.</li><li>CreationDate; string; Date the channel was created.</li><li>FollowupDelay; integer; Time between two specific communications.</li><li>Frequency; string; Frequency with which the grow notification email is sent out.</li><li>LastDeliveryDate; string; Channel end date.</li><li>LastUpdateDate; string; Date the channel was last updated.</li><li>LastUpdateLogin; string; Session login associated to the user who last updated the channel.</li><li>LastUpdatedBy; string; Person who last updated the channel.</li><li>MessageDesignId; integer; Internal identifier for the email design page.</li><li>ObjectVersionNumber; integer; Version number of the channel row that the user retrieved.</li><li>ParentAssetId; integer; Internal identifier for the corresponding primary email or message.</li><li>PublishDestCode; string; Lookup code for the destination where the application publishes the post.</li><li>PublishDestMeaning; string; Destination where the application publishes the post.</li><li>SMSText; string; SMS text.</li><li>ScheduledDate; string; Date the channel was scheduled.</li><li>SenderProfileConfigId; integer; Internal identifier for the sender profile used on the grow notification email.</li><li>SiteNumber; string; Target site for social media post.</li><li>StartDeliveryDate; string; Channel start date.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the channels associated with a campaign using a unique identifier. <br>Finder Variables <ul><li>AssetId; integer;  Internal identifier for the channel associated with a campaign. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the channels associated with a campaign using a unique identifier.",
                "properties": {
                  "AssetId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Internal identifier for the channel associated with a campaign.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails"
                }
              }
            },
            "links": {
              "assetAction": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1action~1assetAction/post",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "Performs an action on an asset based on the asset status."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-assetDetails-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-assetdetails-get"
      },
      "post": {
        "tags": [
          "Campaign Details/Campaign Channel Details"
        ],
        "summary": "Create a channel",
        "operationId": "create_communicateUICampaignDetails-assetDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-assetDetails-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-response"
                }
              }
            },
            "links": {
              "assetMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1assetMetrics/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign."
              },
              "postContent": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1postContent/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign."
              },
              "notificationMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1notificationMetrics/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles."
              },
              "audienceSegments": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails~1{AssetId}~1child~1audienceSegments/get",
                "parameters": {
                  "AssetId": "$request.path.AssetId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-assetDetails-post",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-assetdetails-post"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUICampaignDetails-assetDetails-item-response": {
        "type": "object",
        "properties": {
          "AssetFrequency": {
            "type": "integer",
            "description": "Attribute for the frequency with which the grow notification email is sent out.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for the channel associated with a campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssetName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Channel name.",
            "nullable": false,
            "x-queryable": true
          },
          "AssetStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code of the channel status.",
            "nullable": false,
            "x-queryable": true
          },
          "AssetStatusMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Channel status.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "AssetStatusCode"
              ]
            },
            "x-queryable": true
          },
          "AssetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Channel type.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ContentLastModified": {
            "type": "string",
            "description": "Date when the campaign content was last modified.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the channel.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date the channel was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FollowupDelay": {
            "type": "integer",
            "description": "Time between two specific communications.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "Frequency": {
            "maxLength": 255,
            "type": "string",
            "description": "Frequency with which the grow notification email is sent out.",
            "nullable": true,
            "x-queryable": true
          },
          "LastDeliveryDate": {
            "title": "End Date",
            "type": "string",
            "description": "Channel end date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the channel was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the channel.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the channel.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "Internal identifier for the email design page.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the channel row that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ParentAssetId": {
            "type": "integer",
            "description": "Internal identifier for the corresponding primary email or message.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PublishDestCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Lookup code for the destination where the application publishes the post.",
            "nullable": true,
            "x-queryable": true
          },
          "PublishDestMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Destination where the application publishes the post.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SMSText": {
            "title": "SMS Text",
            "maxLength": 255,
            "type": "string",
            "description": "SMS text.",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduledDate": {
            "title": "Delivery Date",
            "type": "string",
            "description": "Date the channel was scheduled.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SenderProfileConfigId": {
            "type": "integer",
            "description": "Internal identifier for the sender profile used on the grow notification email.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Target site for social media post.",
            "nullable": true,
            "x-queryable": true
          },
          "StartDeliveryDate": {
            "title": "Initial Delivery Date",
            "type": "string",
            "description": "Channel start date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "assetMetrics": {
            "title": "Campaign Channel Metrics",
            "type": "array",
            "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-assetMetrics-item-response"
            }
          },
          "audienceSegments": {
            "title": "Campaign Audience Segments",
            "type": "array",
            "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-audienceSegments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "notificationMetrics": {
            "title": "Grow Notification Metrics",
            "type": "array",
            "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-notificationMetrics-item-response"
            },
            "x-cardinality": "1"
          },
          "postContent": {
            "title": "Campaign Banner Details",
            "type": "array",
            "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-postContent-item-response"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-assetMetrics-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a channel's metrics.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryClickedCount": {
            "type": "number",
            "description": "Unique number of times primary action was clicked.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryClickedCount": {
            "type": "number",
            "description": "Unique number of times secondary action was clicked.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-audienceSegments-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier of the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssetSegmentId": {
            "type": "integer",
            "description": "Segment identifier for the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the audience segment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the audience segment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CriteriaTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Criteria type code of the audience segment.",
            "nullable": true,
            "x-queryable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Goal response identifier for the audience segments associated with the goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the audience segment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Last session login associated to the user who last updated the audience segment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the audience segment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the audience segment that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "SegmentTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Segment type code of the audience segment.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-notificationMetrics-item-response": {
        "type": "object",
        "properties": {
          "AssetFrequency": {
            "type": "integer",
            "description": "Attribute for the frequency with which the grow notification email is sent out.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a grow notification's metrics.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Clicks": {
            "type": "number",
            "description": "Count of unique clicks registered on the grow notification email so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastDeliveryDate": {
            "type": "string",
            "description": "Date after which the application won't send the grow notification email.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NextCycleDate": {
            "type": "string",
            "description": "Date on which the application will send the next grow notification email.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NotificationId": {
            "type": "integer",
            "description": "Unique identifier of a grow notification.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NotificationsSent": {
            "type": "number",
            "description": "Count of all the grow notification emails sent so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Opened": {
            "type": "number",
            "description": "Count of all the unique opens on a grow notification email so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDeliveryDate": {
            "type": "string",
            "description": "Date on which the application sent the first grow notification email.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCycles": {
            "type": "integer",
            "description": "Total number of all the grow notification email cycles.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-postContent-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a post.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the banner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date the banner was created.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "maxLength": 1024,
            "type": "string",
            "description": "Banner description.",
            "nullable": false,
            "x-queryable": true
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the banner image.",
            "nullable": false,
            "default": "DEFAULT",
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the banner was last updated.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the banner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the banner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the banner that the user retrieved.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PostContentId": {
            "type": "integer",
            "description": "Internal identifier for a banner.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the primary action.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the primary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the primary action button.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Primary action label.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the primary action.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the secondary action.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the secondary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SecondaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the secondary action button.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Secondary action label.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the secondary action.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 256,
            "type": "string",
            "description": "Banner title.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-item-patch-request": {
        "type": "object",
        "properties": {
          "AssetFrequency": {
            "type": "integer",
            "description": "Attribute for the frequency with which the grow notification email is sent out.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            }
          },
          "AssetName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Channel name.",
            "nullable": false
          },
          "AssetStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code of the channel status.",
            "nullable": false
          },
          "AssetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Channel type.",
            "nullable": false
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "FollowupDelay": {
            "type": "integer",
            "description": "Time between two specific communications.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            }
          },
          "Frequency": {
            "maxLength": 255,
            "type": "string",
            "description": "Frequency with which the grow notification email is sent out.",
            "nullable": true
          },
          "LastDeliveryDate": {
            "title": "End Date",
            "type": "string",
            "description": "Channel end date.",
            "format": "date-time",
            "nullable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "Internal identifier for the email design page.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the channel row that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "ParentAssetId": {
            "type": "integer",
            "description": "Internal identifier for the corresponding primary email or message.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PublishDestCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Lookup code for the destination where the application publishes the post.",
            "nullable": true
          },
          "SMSText": {
            "title": "SMS Text",
            "maxLength": 255,
            "type": "string",
            "description": "SMS text.",
            "nullable": true
          },
          "ScheduledDate": {
            "title": "Delivery Date",
            "type": "string",
            "description": "Date the channel was scheduled.",
            "format": "date-time",
            "nullable": true
          },
          "SenderProfileConfigId": {
            "type": "integer",
            "description": "Internal identifier for the sender profile used on the grow notification email.",
            "nullable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Target site for social media post.",
            "nullable": true
          },
          "StartDeliveryDate": {
            "title": "Initial Delivery Date",
            "type": "string",
            "description": "Channel start date.",
            "format": "date-time",
            "nullable": true
          },
          "assetMetrics": {
            "title": "Campaign Channel Metrics",
            "type": "array",
            "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-assetMetrics-item-patch-request"
            }
          },
          "audienceSegments": {
            "title": "Campaign Audience Segments",
            "type": "array",
            "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-audienceSegments-item-patch-request"
            }
          },
          "notificationMetrics": {
            "title": "Grow Notification Metrics",
            "type": "array",
            "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-notificationMetrics-item-patch-request"
            },
            "x-cardinality": "1"
          },
          "postContent": {
            "title": "Campaign Banner Details",
            "type": "array",
            "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-postContent-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-assetMetrics-item-patch-request": {
        "type": "object",
        "properties": {}
      },
      "communicateUICampaignDetails-assetDetails-audienceSegments-item-patch-request": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier of the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CriteriaTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Criteria type code of the audience segment.",
            "nullable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Goal response identifier for the audience segments associated with the goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the audience segment that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "SegmentTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Segment type code of the audience segment.",
            "nullable": true
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-notificationMetrics-item-patch-request": {
        "type": "object",
        "properties": {}
      },
      "communicateUICampaignDetails-assetDetails-postContent-item-patch-request": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a post.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Description": {
            "maxLength": 1024,
            "type": "string",
            "description": "Banner description.",
            "nullable": false
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the banner image.",
            "nullable": false,
            "default": "DEFAULT"
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the banner that the user retrieved.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "PrimaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the primary action.",
            "nullable": true
          },
          "PrimaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the primary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PrimaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the primary action button.",
            "nullable": true
          },
          "PrimaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Primary action label.",
            "nullable": true
          },
          "PrimaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the primary action.",
            "nullable": true
          },
          "SecondaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the secondary action.",
            "nullable": true
          },
          "SecondaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the secondary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "SecondaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the secondary action button.",
            "nullable": true
          },
          "SecondaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Secondary action label.",
            "nullable": true
          },
          "SecondaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the secondary action.",
            "nullable": true
          },
          "Title": {
            "maxLength": 256,
            "type": "string",
            "description": "Banner title.",
            "nullable": false
          }
        }
      },
      "communicateUICampaignDetails-assetDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-item-post-request": {
        "required": [
          "AssetName",
          "AssetStatusCode",
          "AssetTypeCode",
          "CampaignId"
        ],
        "type": "object",
        "properties": {
          "AssetFrequency": {
            "type": "integer",
            "description": "Attribute for the frequency with which the grow notification email is sent out.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            }
          },
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for the channel associated with a campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AssetName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Channel name.",
            "nullable": false
          },
          "AssetStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code of the channel status.",
            "nullable": false
          },
          "AssetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Channel type.",
            "nullable": false
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "FollowupDelay": {
            "type": "integer",
            "description": "Time between two specific communications.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            }
          },
          "Frequency": {
            "maxLength": 255,
            "type": "string",
            "description": "Frequency with which the grow notification email is sent out.",
            "nullable": true
          },
          "LastDeliveryDate": {
            "title": "End Date",
            "type": "string",
            "description": "Channel end date.",
            "format": "date-time",
            "nullable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "Internal identifier for the email design page.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the channel row that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "ParentAssetId": {
            "type": "integer",
            "description": "Internal identifier for the corresponding primary email or message.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PublishDestCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Lookup code for the destination where the application publishes the post.",
            "nullable": true
          },
          "SMSText": {
            "title": "SMS Text",
            "maxLength": 255,
            "type": "string",
            "description": "SMS text.",
            "nullable": true
          },
          "ScheduledDate": {
            "title": "Delivery Date",
            "type": "string",
            "description": "Date the channel was scheduled.",
            "format": "date-time",
            "nullable": true
          },
          "SenderProfileConfigId": {
            "type": "integer",
            "description": "Internal identifier for the sender profile used on the grow notification email.",
            "nullable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Target site for social media post.",
            "nullable": true
          },
          "StartDeliveryDate": {
            "title": "Initial Delivery Date",
            "type": "string",
            "description": "Channel start date.",
            "format": "date-time",
            "nullable": true
          },
          "assetMetrics": {
            "title": "Campaign Channel Metrics",
            "type": "array",
            "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-assetMetrics-item-post-request"
            }
          },
          "audienceSegments": {
            "title": "Campaign Audience Segments",
            "type": "array",
            "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-audienceSegments-item-post-request"
            }
          },
          "notificationMetrics": {
            "title": "Grow Notification Metrics",
            "type": "array",
            "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-notificationMetrics-item-post-request"
            },
            "x-cardinality": "1"
          },
          "postContent": {
            "title": "Campaign Banner Details",
            "type": "array",
            "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-postContent-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-assetMetrics-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "communicateUICampaignDetails-assetDetails-audienceSegments-item-post-request": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier of the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AssetSegmentId": {
            "type": "integer",
            "description": "Segment identifier for the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CriteriaTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Criteria type code of the audience segment.",
            "nullable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Goal response identifier for the audience segments associated with the goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the audience segment that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "SegmentTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Segment type code of the audience segment.",
            "nullable": true
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-notificationMetrics-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "communicateUICampaignDetails-assetDetails-postContent-item-post-request": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a post.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Description": {
            "maxLength": 1024,
            "type": "string",
            "description": "Banner description.",
            "nullable": false
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the banner image.",
            "nullable": false,
            "default": "DEFAULT"
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the banner that the user retrieved.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "PostContentId": {
            "type": "integer",
            "description": "Internal identifier for a banner.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PrimaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the primary action.",
            "nullable": true
          },
          "PrimaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the primary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PrimaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the primary action button.",
            "nullable": true
          },
          "PrimaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Primary action label.",
            "nullable": true
          },
          "PrimaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the primary action.",
            "nullable": true
          },
          "SecondaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the secondary action.",
            "nullable": true
          },
          "SecondaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the secondary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "SecondaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the secondary action button.",
            "nullable": true
          },
          "SecondaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Secondary action label.",
            "nullable": true
          },
          "SecondaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the secondary action.",
            "nullable": true
          },
          "Title": {
            "maxLength": 256,
            "type": "string",
            "description": "Banner title.",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "communicateUICampaignDetails-assetDetails-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}