{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Campaign Details/Campaigns Goals",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUICampaignDetails/{CampaignId}/child/goals": {
      "get": {
        "tags": [
          "Campaign Details/Campaigns Goals"
        ],
        "summary": "Get all campaign goals",
        "operationId": "getall_communicateUICampaignDetails-goals",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CampaignId; integer; Campaign identifier for the goals associated with the campaign.</li><li>CreatedBy; string; Person who created the goals.</li><li>CreationDate; string; Date when the goals were added to the campaign.</li><li>GoalId; integer; Internal identifier for the goals.</li><li>GoalName; string; Name of the goals.</li><li>GoalTypeCode; string; Types of the goals.</li><li>LastUpdateDate; string; Date when the goals were last updated.</li><li>LastUpdateLogin; string; Session login associated to the user who last updated the goals.</li><li>LastUpdatedBy; string; Person who last updated the goals.</li><li>ObjectVersionNumber; integer; Version number associated with the goals that the user retrieved.</li><li>PrimaryGoalFlag; boolean; Indicates whether the primary goal is enabled or not</li><li>SystemGoalFlag; boolean; Indicates whether the system goal is enabled or not</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all goals of a campaign using a unique identifier. <br>Finder Variables <ul><li>GoalId; integer;  Goal identifier and unique identifier used to find goals of a campaign. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all goals of a campaign using a unique identifier.",
                "properties": {
                  "GoalId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Goal identifier and unique identifier used to find goals of a campaign.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-goals"
                }
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-goals-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-goals-get"
      },
      "post": {
        "tags": [
          "Campaign Details/Campaigns Goals"
        ],
        "summary": "Create a campaign goal",
        "operationId": "create_communicateUICampaignDetails-goals",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-goals-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-response"
                }
              }
            },
            "links": {
              "responseMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals~1{GoalId}~1child~1responseMetrics/get",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The responseMetrics resource provides details on how to retrieve the response metrics associated with the goals of a campaign."
              },
              "responseChoices": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals~1{GoalId}~1child~1responseChoices/get",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The responseChoices resource provides details on how to retrieve the response choices associated with the goals of a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-goals-post",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-goals-post"
      }
    },
    "/communicateUICampaignDetails/{CampaignId}/child/goals/{GoalId}": {
      "get": {
        "tags": [
          "Campaign Details/Campaigns Goals"
        ],
        "summary": "Get a campaign goal",
        "operationId": "get_communicateUICampaignDetails-goals",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the response choices associated with goals.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-response"
                }
              }
            },
            "links": {
              "responseMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals~1{GoalId}~1child~1responseMetrics/get",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The responseMetrics resource provides details on how to retrieve the response metrics associated with the goals of a campaign."
              },
              "responseChoices": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals~1{GoalId}~1child~1responseChoices/get",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The responseChoices resource provides details on how to retrieve the response choices associated with the goals of a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-goals-{GoalId}-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-goals-goalid-get"
      },
      "delete": {
        "tags": [
          "Campaign Details/Campaigns Goals"
        ],
        "summary": "Delete a campaign goal",
        "operationId": "delete_communicateUICampaignDetails-goals",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the response choices associated with goals.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-goals-{GoalId}-delete",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-goals-goalid-delete"
      },
      "patch": {
        "tags": [
          "Campaign Details/Campaigns Goals"
        ],
        "summary": "Update a campaign goal",
        "operationId": "update_communicateUICampaignDetails-goals",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the response choices associated with goals.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-goals-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-response"
                }
              }
            },
            "links": {
              "responseMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals~1{GoalId}~1child~1responseMetrics/get",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The responseMetrics resource provides details on how to retrieve the response metrics associated with the goals of a campaign."
              },
              "responseChoices": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals~1{GoalId}~1child~1responseChoices/get",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The responseChoices resource provides details on how to retrieve the response choices associated with the goals of a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-goals-{GoalId}-patch",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-goals-goalid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUICampaignDetails-goals": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "communicateUICampaignDetails-goals-item-response": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "integer",
            "description": "Campaign identifier for the goals associated with the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the goals.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the goals were added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalId": {
            "type": "integer",
            "description": "Internal identifier for the goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalName": {
            "title": "Question",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the goals.",
            "nullable": false,
            "x-queryable": true
          },
          "GoalTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of the goals.",
            "nullable": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the goals were last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the goals.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the goals that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PrimaryGoalFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the primary goal is enabled or not",
            "nullable": true,
            "x-queryable": true
          },
          "SystemGoalFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the system goal is enabled or not",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "responseChoices": {
            "title": "Campaign Goal Response Choices",
            "type": "array",
            "description": "The responseChoices resource provides details on how to retrieve the response choices associated with the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-responseChoices-item-response"
            }
          },
          "responseMetrics": {
            "title": "Campaign Goal Response Metrics",
            "type": "array",
            "description": "The responseMetrics resource provides details on how to retrieve the response metrics associated with the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-responseMetrics-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "communicateUICampaignDetails-goals-responseChoices-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the response choices of the goals.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the response choices of the goals were added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DestinationURL": {
            "title": "Response Destination Page URL",
            "maxLength": 1000,
            "type": "string",
            "description": "Response choices destination URL.",
            "nullable": true,
            "x-queryable": true
          },
          "GoalId": {
            "type": "integer",
            "description": "Internal identifier for the response choices associated with goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Internal identifier for the response choices.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IncludeInTargetFlag": {
            "title": "Counts Toward Goal",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the include in target is enabled or not.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the response choices were last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the response choices.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the response choices.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the response choices that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ResponseLabel": {
            "title": "Response",
            "maxLength": 240,
            "type": "string",
            "description": "Response choices label.",
            "nullable": false,
            "x-queryable": true
          },
          "UseDefaultURLFlag": {
            "title": "Response Destination Page",
            "maxLength": 1,
            "type": "boolean",
            "description": "Default URL flag for response choices.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-goals-responseMetrics-item-response": {
        "type": "object",
        "properties": {
          "GoalId": {
            "type": "integer",
            "description": "Internal identifier for the response metrics associated with goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Internal identifier for the response metrics associated with response choices.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseCount": {
            "type": "number",
            "description": "Response count for the response choices",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponseLabel": {
            "maxLength": 240,
            "type": "string",
            "description": "Label for the response choices.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-goals-item-post-request": {
        "required": [
          "CampaignId",
          "GoalName",
          "GoalTypeCode"
        ],
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "integer",
            "description": "Campaign identifier for the goals associated with the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "GoalId": {
            "type": "integer",
            "description": "Internal identifier for the goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "GoalName": {
            "title": "Question",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the goals.",
            "nullable": false
          },
          "GoalTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of the goals.",
            "nullable": false
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the goals that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "PrimaryGoalFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the primary goal is enabled or not",
            "nullable": true
          },
          "SystemGoalFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the system goal is enabled or not",
            "nullable": true
          },
          "responseChoices": {
            "title": "Campaign Goal Response Choices",
            "type": "array",
            "description": "The responseChoices resource provides details on how to retrieve the response choices associated with the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-responseChoices-item-post-request"
            }
          },
          "responseMetrics": {
            "title": "Campaign Goal Response Metrics",
            "type": "array",
            "description": "The responseMetrics resource provides details on how to retrieve the response metrics associated with the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-responseMetrics-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-goals-responseChoices-item-post-request": {
        "type": "object",
        "properties": {
          "DestinationURL": {
            "title": "Response Destination Page URL",
            "maxLength": 1000,
            "type": "string",
            "description": "Response choices destination URL.",
            "nullable": true
          },
          "GoalId": {
            "type": "integer",
            "description": "Internal identifier for the response choices associated with goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Internal identifier for the response choices.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "IncludeInTargetFlag": {
            "title": "Counts Toward Goal",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the include in target is enabled or not.",
            "nullable": true,
            "default": false
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the response choices that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "ResponseLabel": {
            "title": "Response",
            "maxLength": 240,
            "type": "string",
            "description": "Response choices label.",
            "nullable": false
          },
          "UseDefaultURLFlag": {
            "title": "Response Destination Page",
            "maxLength": 1,
            "type": "boolean",
            "description": "Default URL flag for response choices.",
            "nullable": true,
            "default": false
          }
        }
      },
      "communicateUICampaignDetails-goals-responseMetrics-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "communicateUICampaignDetails-goals-item-patch-request": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "integer",
            "description": "Campaign identifier for the goals associated with the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "GoalName": {
            "title": "Question",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the goals.",
            "nullable": false
          },
          "GoalTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of the goals.",
            "nullable": false
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the goals that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "PrimaryGoalFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the primary goal is enabled or not",
            "nullable": true
          },
          "SystemGoalFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the system goal is enabled or not",
            "nullable": true
          },
          "responseChoices": {
            "title": "Campaign Goal Response Choices",
            "type": "array",
            "description": "The responseChoices resource provides details on how to retrieve the response choices associated with the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-responseChoices-item-patch-request"
            }
          },
          "responseMetrics": {
            "title": "Campaign Goal Response Metrics",
            "type": "array",
            "description": "The responseMetrics resource provides details on how to retrieve the response metrics associated with the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-responseMetrics-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-goals-responseChoices-item-patch-request": {
        "type": "object",
        "properties": {
          "DestinationURL": {
            "title": "Response Destination Page URL",
            "maxLength": 1000,
            "type": "string",
            "description": "Response choices destination URL.",
            "nullable": true
          },
          "GoalId": {
            "type": "integer",
            "description": "Internal identifier for the response choices associated with goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "IncludeInTargetFlag": {
            "title": "Counts Toward Goal",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the include in target is enabled or not.",
            "nullable": true,
            "default": false
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the response choices that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "ResponseLabel": {
            "title": "Response",
            "maxLength": 240,
            "type": "string",
            "description": "Response choices label.",
            "nullable": false
          },
          "UseDefaultURLFlag": {
            "title": "Response Destination Page",
            "maxLength": 1,
            "type": "boolean",
            "description": "Default URL flag for response choices.",
            "nullable": true,
            "default": false
          }
        }
      },
      "communicateUICampaignDetails-goals-responseMetrics-item-patch-request": {
        "type": "object",
        "properties": {}
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "communicateUICampaignDetails-goals-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-goals-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}