{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Campaign Details/Campaign Audience Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUICampaignDetails/{CampaignId}/child/audienceDetails/{AudienceId}": {
      "get": {
        "tags": [
          "Campaign Details/Campaign Audience Details"
        ],
        "summary": "Get a campaign audience",
        "operationId": "get_communicateUICampaignDetails-audienceDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "AudienceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Audience identifier.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-response"
                }
              }
            },
            "links": {
              "metrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails~1{AudienceId}~1child~1metrics/get",
                "parameters": {
                  "AudienceId": "$request.path.AudienceId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The metrics resource retrieves the metrics associated with the audience for a campaign."
              },
              "CampaignAudienceSourceItems": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails~1{AudienceId}~1child~1CampaignAudienceSourceItems/get",
                "parameters": {
                  "AudienceId": "$request.path.AudienceId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-audienceDetails-{AudienceId}-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-audiencedetails-audienceid-get"
      },
      "delete": {
        "tags": [
          "Campaign Details/Campaign Audience Details"
        ],
        "summary": "Delete a campaign audience",
        "operationId": "delete_communicateUICampaignDetails-audienceDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "AudienceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Audience identifier.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-audienceDetails-{AudienceId}-delete",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-audiencedetails-audienceid-delete"
      },
      "patch": {
        "tags": [
          "Campaign Details/Campaign Audience Details"
        ],
        "summary": "Update a campaign audience",
        "operationId": "update_communicateUICampaignDetails-audienceDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "AudienceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Audience identifier.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-audienceDetails-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-response"
                }
              }
            },
            "links": {
              "metrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails~1{AudienceId}~1child~1metrics/get",
                "parameters": {
                  "AudienceId": "$request.path.AudienceId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The metrics resource retrieves the metrics associated with the audience for a campaign."
              },
              "CampaignAudienceSourceItems": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails~1{AudienceId}~1child~1CampaignAudienceSourceItems/get",
                "parameters": {
                  "AudienceId": "$request.path.AudienceId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-audienceDetails-{AudienceId}-patch",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-audiencedetails-audienceid-patch"
      }
    },
    "/communicateUICampaignDetails/{CampaignId}/child/audienceDetails": {
      "get": {
        "tags": [
          "Campaign Details/Campaign Audience Details"
        ],
        "summary": "Get all selections of campaign audience",
        "operationId": "getall_communicateUICampaignDetails-audienceDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AudienceCount; integer; Total number of employees who will see the post.</li><li>AudienceExtractionDate; string; Date when the audience was extracted.</li><li>AudienceId; integer; Internal identifier for the association between a campaign and its corresponding audience.</li><li>AudienceSourceId; integer; Internal identifier for the selected audience list.</li><li>AudienceSourceName; string; Name of the selected audience list.</li><li>AudienceSourceType; string; Type of audience list.</li><li>CampaignId; integer; Internal identifier for the campaign.</li><li>CreatedBy; string; Person who added the audience.</li><li>CreationDate; string; Date the audience was added to the campaign.</li><li>LastUpdateDate; string; Date the audience was last updated.</li><li>LastUpdateLogin; string; Session login associated to the user who last updated the audience.</li><li>LastUpdatedBy; string; Person who last updated the audience.</li><li>ObjectVersionNumber; integer; Version number associated with the audience that the user retrieved.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds campaign audience using a unique identifier. <br>Finder Variables <ul><li>AudienceId; integer;  Internal identifier for the association between a campaign and its corresponding audience. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds campaign audience using a unique identifier.",
                "properties": {
                  "AudienceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Internal identifier for the association between a campaign and its corresponding audience.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-audienceDetails-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-audiencedetails-get"
      },
      "post": {
        "tags": [
          "Campaign Details/Campaign Audience Details"
        ],
        "summary": "Create a campaign audience",
        "operationId": "create_communicateUICampaignDetails-audienceDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-audienceDetails-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-response"
                }
              }
            },
            "links": {
              "metrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails~1{AudienceId}~1child~1metrics/get",
                "parameters": {
                  "AudienceId": "$request.path.AudienceId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The metrics resource retrieves the metrics associated with the audience for a campaign."
              },
              "CampaignAudienceSourceItems": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails~1{AudienceId}~1child~1CampaignAudienceSourceItems/get",
                "parameters": {
                  "AudienceId": "$request.path.AudienceId",
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-audienceDetails-post",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-audiencedetails-post"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUICampaignDetails-audienceDetails-item-response": {
        "type": "object",
        "properties": {
          "AudienceCount": {
            "type": "integer",
            "description": "Total number of employees who will see the post.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceExtractionDate": {
            "type": "string",
            "description": "Date when the audience was extracted.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the association between a campaign and its corresponding audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AudienceSourceId": {
            "title": "Audience",
            "type": "integer",
            "description": "Internal identifier for the selected audience list.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AudienceSourceName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the selected audience list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceSourceType": {
            "title": "Audience Type",
            "maxLength": 64,
            "type": "string",
            "description": "Type of audience list.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignAudienceSourceItems": {
            "title": "Campaign Target Audience Details",
            "type": "array",
            "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-response"
            }
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the audience.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date the audience was added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the audience was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the audience.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the audience.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the audience that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "metrics": {
            "title": "Campaign Audience Details Metrics",
            "type": "array",
            "description": "The metrics resource retrieves the metrics associated with the audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-metrics-item-response"
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-response": {
        "type": "object",
        "properties": {
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the source of the campaign audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AudienceItemId": {
            "type": "integer",
            "description": "Unique identifier generated by the application for the campaign target audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemId": {
            "type": "integer",
            "description": "Unique identifier generated by user input for the campaign target audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the campaign target audience.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-metrics-item-response": {
        "type": "object",
        "properties": {
          "AudienceCount": {
            "type": "integer",
            "description": "Audience count associated with the campaign.",
            "nullable": false,
            "x-queryable": true
          },
          "AudienceId": {
            "type": "integer",
            "description": "Audience identifier.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the metrics.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the metrics were added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EntityId": {
            "type": "integer",
            "description": "Entity identifier for the audience criteria.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EntityName": {
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the selected entity.",
            "nullable": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the audience metrics were last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the audience metrics.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the audience metrics.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MetricId": {
            "type": "integer",
            "description": "Internal identifier for a metric.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MetricType": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of metrics.",
            "nullable": false,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the audience metrics that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-item-patch-request": {
        "type": "object",
        "properties": {
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the association between a campaign and its corresponding audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AudienceSourceId": {
            "title": "Audience",
            "type": "integer",
            "description": "Internal identifier for the selected audience list.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AudienceSourceType": {
            "title": "Audience Type",
            "maxLength": 64,
            "type": "string",
            "description": "Type of audience list.",
            "nullable": false
          },
          "CampaignAudienceSourceItems": {
            "title": "Campaign Target Audience Details",
            "type": "array",
            "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-patch-request"
            }
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the audience that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "metrics": {
            "title": "Campaign Audience Details Metrics",
            "type": "array",
            "description": "The metrics resource retrieves the metrics associated with the audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-metrics-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-patch-request": {
        "type": "object",
        "properties": {
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the source of the campaign audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AudienceItemId": {
            "type": "integer",
            "description": "Unique identifier generated by the application for the campaign target audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ItemId": {
            "type": "integer",
            "description": "Unique identifier generated by user input for the campaign target audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-metrics-item-patch-request": {
        "type": "object",
        "properties": {
          "AudienceCount": {
            "type": "integer",
            "description": "Audience count associated with the campaign.",
            "nullable": false
          },
          "AudienceId": {
            "type": "integer",
            "description": "Audience identifier.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EntityId": {
            "type": "integer",
            "description": "Entity identifier for the audience criteria.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EntityName": {
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the selected entity.",
            "nullable": false
          },
          "MetricId": {
            "type": "integer",
            "description": "Internal identifier for a metric.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "MetricType": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of metrics.",
            "nullable": false
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the audience metrics that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-item-post-request": {
        "required": [
          "AudienceSourceId",
          "AudienceSourceType",
          "CampaignId"
        ],
        "type": "object",
        "properties": {
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the association between a campaign and its corresponding audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AudienceSourceId": {
            "title": "Audience",
            "type": "integer",
            "description": "Internal identifier for the selected audience list.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AudienceSourceType": {
            "title": "Audience Type",
            "maxLength": 64,
            "type": "string",
            "description": "Type of audience list.",
            "nullable": false
          },
          "CampaignAudienceSourceItems": {
            "title": "Campaign Target Audience Details",
            "type": "array",
            "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-post-request"
            }
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the audience that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "metrics": {
            "title": "Campaign Audience Details Metrics",
            "type": "array",
            "description": "The metrics resource retrieves the metrics associated with the audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-metrics-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-post-request": {
        "type": "object",
        "properties": {
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the source of the campaign audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "AudienceItemId": {
            "type": "integer",
            "description": "Unique identifier generated by the application for the campaign target audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ItemId": {
            "type": "integer",
            "description": "Unique identifier generated by user input for the campaign target audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-metrics-item-post-request": {
        "type": "object",
        "properties": {
          "AudienceCount": {
            "type": "integer",
            "description": "Audience count associated with the campaign.",
            "nullable": false
          },
          "AudienceId": {
            "type": "integer",
            "description": "Audience identifier.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EntityId": {
            "type": "integer",
            "description": "Entity identifier for the audience criteria.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EntityName": {
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the selected entity.",
            "nullable": false
          },
          "MetricId": {
            "type": "integer",
            "description": "Internal identifier for a metric.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "MetricType": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of metrics.",
            "nullable": false
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the audience metrics that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "communicateUICampaignDetails-audienceDetails-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}