{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Campaign Details/Campaign Business Object Association",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUICampaignDetails/{CampaignId}/child/boAssociation": {
      "get": {
        "tags": [
          "Campaign Details/Campaign Business Object Association"
        ],
        "summary": "Get all business object associations",
        "operationId": "getall_communicateUICampaignDetails-boAssociation",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BoAssignedAfterDate; string; Business object assignment date.</li><li>BoGoal; string; Name of the business object goal</li><li>BoType; string; Type of business object association.</li><li>CampBoId; integer; Internal identifier for the business object association.</li><li>CampaignId; integer; Internal identifier for the campaign associated with the business object association.</li><li>CreatedBy; string; Person who added the business object association.</li><li>CreationDate; string; Date when the business object association was added to the campaign.</li><li>ExcludeBoAudFlag; boolean; Exclude business object association audience indicator for the campaign.</li><li>LastUpdateDate; string; Date when the business object association was last updated.</li><li>LastUpdateLogin; string; Session login associated to the user who last updated the business object association.</li><li>LastUpdatedBy; string; Person who last updated the business object association.</li><li>ObjectVersionNumber; integer; Version number associated with the business object association that the user retrieved.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all business object associations using a unique identifier. <br>Finder Variables <ul><li>CampBoId; integer;  Unique identifier used to find a business object association. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all business object associations using a unique identifier.",
                "properties": {
                  "CampBoId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier used to find a business object association.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation"
                }
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-boAssociation-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-boassociation-get"
      },
      "post": {
        "tags": [
          "Campaign Details/Campaign Business Object Association"
        ],
        "summary": "Create a business object association",
        "operationId": "create_communicateUICampaignDetails-boAssociation",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-boAssociation-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-response"
                }
              }
            },
            "links": {
              "boAssocItems": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1boAssociation~1{CampBoId}~1child~1boAssocItems/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId",
                  "CampBoId": "$request.path.CampBoId"
                },
                "description": "The boAssocItems resource retrieves the items associated with the business object association for a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-boAssociation-post",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-boassociation-post"
      }
    },
    "/communicateUICampaignDetails/{CampaignId}/child/boAssociation/{CampBoId}": {
      "get": {
        "tags": [
          "Campaign Details/Campaign Business Object Association"
        ],
        "summary": "Get a business object association",
        "operationId": "get_communicateUICampaignDetails-boAssociation",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CampBoId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the business object association.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-response"
                }
              }
            },
            "links": {
              "boAssocItems": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1boAssociation~1{CampBoId}~1child~1boAssocItems/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId",
                  "CampBoId": "$request.path.CampBoId"
                },
                "description": "The boAssocItems resource retrieves the items associated with the business object association for a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-boAssociation-{CampBoId}-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-boassociation-campboid-get"
      },
      "delete": {
        "tags": [
          "Campaign Details/Campaign Business Object Association"
        ],
        "summary": "Delete a business object association",
        "operationId": "delete_communicateUICampaignDetails-boAssociation",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CampBoId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the business object association.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-boAssociation-{CampBoId}-delete",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-boassociation-campboid-delete"
      },
      "patch": {
        "tags": [
          "Campaign Details/Campaign Business Object Association"
        ],
        "summary": "Update a business object association",
        "operationId": "update_communicateUICampaignDetails-boAssociation",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CampBoId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the business object association.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-boAssociation-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-response"
                }
              }
            },
            "links": {
              "boAssocItems": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1boAssociation~1{CampBoId}~1child~1boAssocItems/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId",
                  "CampBoId": "$request.path.CampBoId"
                },
                "description": "The boAssocItems resource retrieves the items associated with the business object association for a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-child-boAssociation-{CampBoId}-patch",
        "x-filename-id": "communicateuicampaigndetails-campaignid-child-boassociation-campboid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUICampaignDetails-boAssociation": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-item-response": {
        "type": "object",
        "properties": {
          "BoAssignedAfterDate": {
            "title": "Journey Assigned After",
            "type": "string",
            "description": "Business object assignment date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "BoGoal": {
            "maxLength": 30,
            "type": "string",
            "description": "Name of the business object goal",
            "nullable": false,
            "x-queryable": true
          },
          "BoType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of business object association.",
            "nullable": false,
            "x-queryable": true
          },
          "CampBoId": {
            "type": "integer",
            "description": "Internal identifier for the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign associated with the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the business object association.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the business object association was added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ExcludeBoAudFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Exclude business object association audience indicator for the campaign.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the business object association was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the business object association.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the business object association.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object association that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "boAssocItems": {
            "title": "Campaign Business Object Association Items",
            "type": "array",
            "description": "The boAssocItems resource retrieves the items associated with the business object association for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-boAssocItems-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-boAssocItems-item-response": {
        "type": "object",
        "properties": {
          "BoId": {
            "type": "integer",
            "description": "Internal identifier for the business object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CampBoId": {
            "type": "integer",
            "description": "Internal identifier for the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CampBoItemId": {
            "type": "integer",
            "description": "Internal identifier for the business object association items.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the business object association items.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the business object association items were added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the business object association items were last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the business object association items.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the business object association items.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object association items that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "campaignBoMetrics": {
            "title": "Campaign Business Object Association Metrics",
            "type": "array",
            "description": "The campaignBoMetrics resource retrieves the metrics associated with the business object association for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-boAssocItems-campaignBoMetrics-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-boAssocItems-campaignBoMetrics-item-response": {
        "type": "object",
        "properties": {
          "CampBoItemId": {
            "type": "integer",
            "description": "Internal identifier for the campaign business object metrics associated with the business object association items.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Count": {
            "type": "integer",
            "description": "Total audience count associated with the campaign business object metrics.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the business object metrics.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the business object metrics items were added to the campaign.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayContext": {
            "maxLength": 30,
            "type": "string",
            "description": "Context for the business object association.",
            "nullable": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the business object metrics were last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the business object metrics.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the business object metrics.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MetricId": {
            "type": "integer",
            "description": "Internal identifier for the campaign business object metrics.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object metrics that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the business object association.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-item-post-request": {
        "required": [
          "BoGoal",
          "BoType",
          "CampaignId"
        ],
        "type": "object",
        "properties": {
          "BoAssignedAfterDate": {
            "title": "Journey Assigned After",
            "type": "string",
            "description": "Business object assignment date.",
            "format": "date-time",
            "nullable": true
          },
          "BoGoal": {
            "maxLength": 30,
            "type": "string",
            "description": "Name of the business object goal",
            "nullable": false
          },
          "BoType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of business object association.",
            "nullable": false
          },
          "CampBoId": {
            "type": "integer",
            "description": "Internal identifier for the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign associated with the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludeBoAudFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Exclude business object association audience indicator for the campaign.",
            "nullable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object association that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "boAssocItems": {
            "title": "Campaign Business Object Association Items",
            "type": "array",
            "description": "The boAssocItems resource retrieves the items associated with the business object association for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-boAssocItems-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-boAssocItems-item-post-request": {
        "required": [
          "BoId",
          "CampBoId"
        ],
        "type": "object",
        "properties": {
          "BoId": {
            "type": "integer",
            "description": "Internal identifier for the business object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CampBoId": {
            "type": "integer",
            "description": "Internal identifier for the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CampBoItemId": {
            "type": "integer",
            "description": "Internal identifier for the business object association items.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object association items that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "campaignBoMetrics": {
            "title": "Campaign Business Object Association Metrics",
            "type": "array",
            "description": "The campaignBoMetrics resource retrieves the metrics associated with the business object association for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-boAssocItems-campaignBoMetrics-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-boAssocItems-campaignBoMetrics-item-post-request": {
        "type": "object",
        "properties": {
          "CampBoItemId": {
            "type": "integer",
            "description": "Internal identifier for the campaign business object metrics associated with the business object association items.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Count": {
            "type": "integer",
            "description": "Total audience count associated with the campaign business object metrics.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "DisplayContext": {
            "maxLength": 30,
            "type": "string",
            "description": "Context for the business object association.",
            "nullable": false
          },
          "MetricId": {
            "type": "integer",
            "description": "Internal identifier for the campaign business object metrics.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object metrics that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the business object association.",
            "nullable": false
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-item-patch-request": {
        "type": "object",
        "properties": {
          "BoAssignedAfterDate": {
            "title": "Journey Assigned After",
            "type": "string",
            "description": "Business object assignment date.",
            "format": "date-time",
            "nullable": true
          },
          "BoGoal": {
            "maxLength": 30,
            "type": "string",
            "description": "Name of the business object goal",
            "nullable": false
          },
          "BoType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of business object association.",
            "nullable": false
          },
          "CampBoId": {
            "type": "integer",
            "description": "Internal identifier for the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign associated with the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludeBoAudFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Exclude business object association audience indicator for the campaign.",
            "nullable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object association that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "boAssocItems": {
            "title": "Campaign Business Object Association Items",
            "type": "array",
            "description": "The boAssocItems resource retrieves the items associated with the business object association for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-boAssocItems-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-boAssocItems-item-patch-request": {
        "required": [
          "BoId",
          "CampBoId"
        ],
        "type": "object",
        "properties": {
          "BoId": {
            "type": "integer",
            "description": "Internal identifier for the business object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CampBoId": {
            "type": "integer",
            "description": "Internal identifier for the business object association.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CampBoItemId": {
            "type": "integer",
            "description": "Internal identifier for the business object association items.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object association items that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "campaignBoMetrics": {
            "title": "Campaign Business Object Association Metrics",
            "type": "array",
            "description": "The campaignBoMetrics resource retrieves the metrics associated with the business object association for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-boAssocItems-campaignBoMetrics-item-patch-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-boAssocItems-campaignBoMetrics-item-patch-request": {
        "type": "object",
        "properties": {
          "CampBoItemId": {
            "type": "integer",
            "description": "Internal identifier for the campaign business object metrics associated with the business object association items.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Count": {
            "type": "integer",
            "description": "Total audience count associated with the campaign business object metrics.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "DisplayContext": {
            "maxLength": 30,
            "type": "string",
            "description": "Context for the business object association.",
            "nullable": false
          },
          "MetricId": {
            "type": "integer",
            "description": "Internal identifier for the campaign business object metrics.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number associated with the business object metrics that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the business object association.",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "communicateUICampaignDetails-boAssociation-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-post-request"
            }
          }
        }
      },
      "communicateUICampaignDetails-boAssociation-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}