{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Campaign Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUICampaignDetails": {
      "get": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Get all campaigns",
        "operationId": "getall_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActivatedOnDate; string; Date on which campaign was scheduled.</li><li>AudEmailLimitEnabledFlag; boolean; Indicates whether the audience email limit is enabled or not.</li><li>AudienceCount; integer; Total audience count associated with a campaign.</li><li>AudienceSavedSearchId; integer; Audience based search criteria saved by the user.</li><li>CampaignCode; string; Campaign number.</li><li>CampaignDurationCode; string; Identifies whether the campaign is ongoing or one-time.</li><li>CampaignId; integer; Internal identifier for the campaign.</li><li>CampaignLanguageCode; string; Language associated with the campaign.</li><li>CampaignMediumCode; string; Indicates whether the campaign is an email and message or post based campaign.</li><li>CampaignName; string; Name of the campaign.</li><li>CampaignStatusCode; string; Lookup code associated with campaign status.</li><li>CampaignStatusMeaning; string; Campaign status.</li><li>CampaignTypeCode; string; Indicates whether the campaign is recruiting or communicate campaign.</li><li>CancelledOnDate; string; Date on which the campaign was canceled.</li><li>ClosedOnDate; string; Date on which the campaign was closed.</li><li>CreatedBy; string; Person who created the campaign.</li><li>CreationDate; string; Date on which the campaign was created.</li><li>EligObjId; integer; Internal key defined for the combination of the campaign and audience selection.</li><li>EligPrflId; integer; Internal identifier for the eligibility profile associated with a campaign audience.</li><li>HCMListExtractionDate; string; Date when the HCM list was extracted.</li><li>HCMListId; integer; Internal identifier for the HCM list associated with a campaign audience.</li><li>LastUpdateDate; string; Date on which the campaign was last updated.</li><li>LastUpdateLogin; string; Session login associated to the user who last updated the campaign.</li><li>LastUpdatedBy; string; Person who last updated the campaign.</li><li>ObjectVersionNumber; integer; Version number of the campaign row that the user retrieved.</li><li>PurposeCode; string; Campaign purpose.</li><li>RequisitionSavedSearchId; integer; Requisition based search criteria saved by the user.</li><li>ResponseOption; string; Setting which allows the campaign manager to show or hide responses from the audience.</li><li>SearchRequisitionsFlag; boolean; Indicates whether the associated job requisition is fetched by a query or not.</li><li>TargetGoalValue; integer; Target goal value for a campaign.</li><li>TeamId; integer; Internal identifier for the communication team.</li><li>TeamName; string; Communication team name.</li><li>VanityConfigId; integer; Internal identifier for a sender profile associated with a campaign.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all campaigns using a unique identifier. <br>Finder Variables <ul><li>CampaignId; integer;  Internal identifier for the campaign. </li></ul></li><li>RowFinder Finds all campaigns using a row finder. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all campaigns using a unique identifier.",
                "properties": {
                  "CampaignId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Internal identifier for the campaign.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all campaigns using a row finder.",
                "title": "DefaultVCForRest",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails"
                }
              }
            },
            "links": {
              "campaignAction": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1action~1campaignAction/post",
                "description": "Allows user to perform various actions on the campaign based on the campaign status."
              },
              "canUserManageAllHCMCampaigns": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1action~1canUserManageAllHCMCampaigns/post",
                "description": "Checks if the logged in user is a superuser and can manage all Communicate campaigns."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-get",
        "x-filename-id": "communicateuicampaigndetails-get"
      },
      "post": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Create a campaign",
        "operationId": "create_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-item-response"
                }
              }
            },
            "links": {
              "assetMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetMetrics/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetMetrics resource provides details on the metrics associated with one or more channels defined within a campaign."
              },
              "assetDetails": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetDetails resource provides details on how to create and update channels on the campaign."
              },
              "requisitionMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1requisitionMetrics/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The requisitionMetrics resource provides details on how to retrieve the metrics associated with the requisition of a campaign."
              },
              "selectedLanguages": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1selectedLanguages/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The selectedLanguages resource provides details on how to add and update the languages selected for a campaign."
              },
              "boAssociation": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1boAssociation/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The boAssociation resource creates and updates a campaign."
              },
              "requisitions": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1requisitions/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The requisitions resource provides details on how to create and update the job requisition of a campaign."
              },
              "audienceDetails": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The audienceDetails resource provides details on how to add and update the audience for a campaign."
              },
              "owners": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1owners/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The owners resource provides details on how to add and update the owners of a campaign."
              },
              "categories": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1categories/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The categories resource creates and retrieves the category associated with a campaign."
              },
              "goals": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The goals resource provides details on how to create and update the goals of a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-post",
        "x-filename-id": "communicateuicampaigndetails-post"
      }
    },
    "/communicateUICampaignDetails/action/campaignAction": {
      "post": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Allow user to perform actions",
        "description": "Allows user to perform various actions on the campaign based on the campaign status.",
        "operationId": "doall_campaignAction_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actionType": {
                    "type": "string",
                    "description": "Indicates the type of action available to the user.",
                    "nullable": true
                  },
                  "campaignId": {
                    "type": "number",
                    "description": "Unique identifier for a campaign.",
                    "nullable": true
                  },
                  "assetId": {
                    "type": "number",
                    "description": "Unique identifier for a grow notification email.",
                    "nullable": true
                  },
                  "campaignName": {
                    "type": "string",
                    "description": "Name of the campaign on which the user can take an action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates whether the action taken by the user was successful."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates whether the action taken by the user was successful."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUICampaignDetails-action-campaignAction-post",
        "x-filename-id": "communicateuicampaigndetails-action-campaignaction-post"
      }
    },
    "/communicateUICampaignDetails/action/canUserManageAllHCMCampaigns": {
      "post": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Check if the logged in user is a superuser",
        "description": "Checks if the logged in user is a superuser and can manage all Communicate campaigns.",
        "operationId": "doall_canUserManageAllHCMCampaigns_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Indicates whether the logged in user is a superuser."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Indicates whether the logged in user is a superuser."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUICampaignDetails-action-canUserManageAllHCMCampaigns-post",
        "x-filename-id": "communicateuicampaigndetails-action-canusermanageallhcmcampaigns-post"
      }
    },
    "/communicateUICampaignDetails/{CampaignId}": {
      "get": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Get a campaign",
        "operationId": "get_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-item-response"
                }
              }
            },
            "links": {
              "assetMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetMetrics/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetMetrics resource provides details on the metrics associated with one or more channels defined within a campaign."
              },
              "assetDetails": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetDetails resource provides details on how to create and update channels on the campaign."
              },
              "requisitionMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1requisitionMetrics/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The requisitionMetrics resource provides details on how to retrieve the metrics associated with the requisition of a campaign."
              },
              "selectedLanguages": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1selectedLanguages/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The selectedLanguages resource provides details on how to add and update the languages selected for a campaign."
              },
              "boAssociation": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1boAssociation/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The boAssociation resource creates and updates a campaign."
              },
              "requisitions": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1requisitions/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The requisitions resource provides details on how to create and update the job requisition of a campaign."
              },
              "audienceDetails": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The audienceDetails resource provides details on how to add and update the audience for a campaign."
              },
              "owners": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1owners/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The owners resource provides details on how to add and update the owners of a campaign."
              },
              "categories": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1categories/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The categories resource creates and retrieves the category associated with a campaign."
              },
              "goals": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The goals resource provides details on how to create and update the goals of a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-get",
        "x-filename-id": "communicateuicampaigndetails-campaignid-get"
      },
      "delete": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Delete a campaign",
        "operationId": "delete_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-delete",
        "x-filename-id": "communicateuicampaigndetails-campaignid-delete"
      },
      "patch": {
        "tags": [
          "Campaign Details"
        ],
        "summary": "Update a campaign",
        "operationId": "update_communicateUICampaignDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the campaign.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/communicateUICampaignDetails-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUICampaignDetails-item-response"
                }
              }
            },
            "links": {
              "assetMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetMetrics/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetMetrics resource provides details on the metrics associated with one or more channels defined within a campaign."
              },
              "assetDetails": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1assetDetails/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The assetDetails resource provides details on how to create and update channels on the campaign."
              },
              "requisitionMetrics": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1requisitionMetrics/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The requisitionMetrics resource provides details on how to retrieve the metrics associated with the requisition of a campaign."
              },
              "selectedLanguages": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1selectedLanguages/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The selectedLanguages resource provides details on how to add and update the languages selected for a campaign."
              },
              "boAssociation": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1boAssociation/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The boAssociation resource creates and updates a campaign."
              },
              "requisitions": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1requisitions/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The requisitions resource provides details on how to create and update the job requisition of a campaign."
              },
              "audienceDetails": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1audienceDetails/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The audienceDetails resource provides details on how to add and update the audience for a campaign."
              },
              "owners": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1owners/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The owners resource provides details on how to add and update the owners of a campaign."
              },
              "categories": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1categories/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The categories resource creates and retrieves the category associated with a campaign."
              },
              "goals": {
                "operationRef": "#/paths/~1communicateUICampaignDetails~1{CampaignId}~1child~1goals/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The goals resource provides details on how to create and update the goals of a campaign."
              }
            }
          }
        },
        "x-internal-id": "communicateUICampaignDetails-{CampaignId}-patch",
        "x-filename-id": "communicateuicampaigndetails-campaignid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUICampaignDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "communicateUICampaignDetails-item-response": {
        "type": "object",
        "properties": {
          "ActivatedOnDate": {
            "title": "Activation Date",
            "type": "string",
            "description": "Date on which campaign was scheduled.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "AudEmailLimitEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the audience email limit is enabled or not.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "AudienceCount": {
            "type": "integer",
            "description": "Total audience count associated with a campaign.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AudienceSavedSearchId": {
            "type": "integer",
            "description": "Audience based search criteria saved by the user.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CampaignCode": {
            "title": "Number",
            "maxLength": 30,
            "type": "string",
            "description": "Campaign number.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignDescription": {
            "title": "Description",
            "type": "string",
            "description": "Campaign description.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CampaignDurationCode": {
            "title": "Duration",
            "maxLength": 30,
            "type": "string",
            "description": "Identifies whether the campaign is ongoing or one-time.",
            "nullable": true,
            "x-queryable": true
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CampaignLanguageCode": {
            "title": "Languages",
            "maxLength": 30,
            "type": "string",
            "description": "Language associated with the campaign.",
            "nullable": true,
            "x-queryable": true
          },
          "CampaignMediumCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Indicates whether the campaign is an email and message or post based campaign.",
            "nullable": false,
            "default": "ORA_BASIC",
            "x-queryable": true
          },
          "CampaignName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the campaign.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignStatusCode": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code associated with campaign status.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignStatusMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Campaign status.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "CampaignStatusCode"
              ]
            },
            "x-queryable": true
          },
          "CampaignTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the campaign is recruiting or communicate campaign.",
            "nullable": true,
            "x-queryable": true
          },
          "CancelledOnDate": {
            "type": "string",
            "description": "Date on which the campaign was canceled.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "ClosedOnDate": {
            "title": "Closed Date",
            "type": "string",
            "description": "Date on which the campaign was closed.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the campaign.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date on which the campaign was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EligObjId": {
            "type": "integer",
            "description": "Internal key defined for the combination of the campaign and audience selection.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EligPrflId": {
            "type": "integer",
            "description": "Internal identifier for the eligibility profile associated with a campaign audience.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "HCMListExtractionDate": {
            "type": "string",
            "description": "Date when the HCM list was extracted.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "HCMListId": {
            "type": "integer",
            "description": "Internal identifier for the HCM list associated with a campaign audience.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date on which the campaign was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the campaign.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the campaign row that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PurposeCode": {
            "title": "Purpose",
            "maxLength": 30,
            "type": "string",
            "description": "Campaign purpose.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionSavedSearchId": {
            "type": "integer",
            "description": "Requisition based search criteria saved by the user.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseOption": {
            "title": "Show Individual Responses",
            "maxLength": 30,
            "type": "string",
            "description": "Setting which allows the campaign manager to show or hide responses from the audience.",
            "nullable": true,
            "x-queryable": true
          },
          "SearchRequisitionsFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the associated job requisition is fetched by a query or not.",
            "nullable": true,
            "x-queryable": true
          },
          "TargetGoalValue": {
            "title": "Campaign Goal",
            "type": "integer",
            "description": "Target goal value for a campaign.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 10
            },
            "x-queryable": true
          },
          "TeamId": {
            "title": "Team",
            "type": "integer",
            "description": "Internal identifier for the communication team.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TeamName": {
            "maxLength": 255,
            "type": "string",
            "description": "Communication team name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "VanityConfigId": {
            "title": "Email Sender Profile",
            "type": "integer",
            "description": "Internal identifier for a sender profile associated with a campaign.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "assetDetails": {
            "title": "Campaign Channel Details",
            "type": "array",
            "description": "The assetDetails resource provides details on how to create and update channels on the campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-item-response"
            }
          },
          "assetMetrics": {
            "title": "Campaign Channel Metrics",
            "type": "array",
            "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetMetrics-item-response"
            }
          },
          "audienceDetails": {
            "title": "Campaign Audience Details",
            "type": "array",
            "description": "The audienceDetails resource provides details on how to add and update the audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-item-response"
            }
          },
          "boAssociation": {
            "title": "Campaign Business Object Association",
            "type": "array",
            "description": "The boAssociation resource creates and updates a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-boAssociation-item-response"
            }
          },
          "categories": {
            "title": "Campaign Categories",
            "type": "array",
            "description": "The categories resource creates and retrieves the category associated with a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-categories-item-response"
            }
          },
          "goals": {
            "title": "Campaigns Goals",
            "type": "array",
            "description": "The goals resource provides details on how to create and update the goals of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-goals-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "owners": {
            "title": "Campaign Owners",
            "type": "array",
            "description": "The owners resource provides details on how to add and update the owners of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-owners-item-response"
            }
          },
          "requisitionMetrics": {
            "title": "Campaign Job Requisition Metrics",
            "type": "array",
            "description": "The requisitionMetrics resource provides details on how to retrieve the metrics associated with the requisition of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-requisitionMetrics-item-response"
            }
          },
          "requisitions": {
            "title": "Campaign Requisitions",
            "type": "array",
            "description": "The requisitions resource provides details on how to create and update the job requisition of a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-requisitions-item-response"
            }
          },
          "selectedLanguages": {
            "title": "Campaign Languages",
            "type": "array",
            "description": "The selectedLanguages resource provides details on how to add and update the languages selected for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-selectedLanguages-item-response"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-item-response": {
        "type": "object",
        "properties": {
          "AssetFrequency": {
            "type": "integer",
            "description": "Attribute for the frequency with which the grow notification email is sent out.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for the channel associated with a campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssetName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Channel name.",
            "nullable": false,
            "x-queryable": true
          },
          "AssetStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code of the channel status.",
            "nullable": false,
            "x-queryable": true
          },
          "AssetStatusMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Channel status.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "AssetStatusCode"
              ]
            },
            "x-queryable": true
          },
          "AssetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Channel type.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ContentLastModified": {
            "type": "string",
            "description": "Date when the campaign content was last modified.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the channel.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date the channel was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FollowupDelay": {
            "type": "integer",
            "description": "Time between two specific communications.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "Frequency": {
            "maxLength": 255,
            "type": "string",
            "description": "Frequency with which the grow notification email is sent out.",
            "nullable": true,
            "x-queryable": true
          },
          "LastDeliveryDate": {
            "title": "End Date",
            "type": "string",
            "description": "Channel end date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the channel was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the channel.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the channel.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "Internal identifier for the email design page.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the channel row that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ParentAssetId": {
            "type": "integer",
            "description": "Internal identifier for the corresponding primary email or message.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PublishDestCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Lookup code for the destination where the application publishes the post.",
            "nullable": true,
            "x-queryable": true
          },
          "PublishDestMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Destination where the application publishes the post.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SMSText": {
            "title": "SMS Text",
            "maxLength": 255,
            "type": "string",
            "description": "SMS text.",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduledDate": {
            "title": "Delivery Date",
            "type": "string",
            "description": "Date the channel was scheduled.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SenderProfileConfigId": {
            "type": "integer",
            "description": "Internal identifier for the sender profile used on the grow notification email.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Target site for social media post.",
            "nullable": true,
            "x-queryable": true
          },
          "StartDeliveryDate": {
            "title": "Initial Delivery Date",
            "type": "string",
            "description": "Channel start date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "assetMetrics": {
            "title": "Campaign Channel Metrics",
            "type": "array",
            "description": "The assetMetrics resource provides details on how to retrieve the metrics associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-assetMetrics-item-response"
            }
          },
          "audienceSegments": {
            "title": "Campaign Audience Segments",
            "type": "array",
            "description": "The audienceSegments resource provides details on how to retrieve the segments associated with one or more channels defined within a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-audienceSegments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "notificationMetrics": {
            "title": "Grow Notification Metrics",
            "type": "array",
            "description": "The notificationMetrics resource provides details on how to retrieve the metrics associated with one or more notification email cycles.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-notificationMetrics-item-response"
            },
            "x-cardinality": "1"
          },
          "postContent": {
            "title": "Campaign Banner Details",
            "type": "array",
            "description": "The postContent resource provides details on  how to create and update the banner associated with a post based campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-assetDetails-postContent-item-response"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-assetMetrics-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a channel's metrics.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryClickedCount": {
            "type": "number",
            "description": "Unique number of times primary action was clicked.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryClickedCount": {
            "type": "number",
            "description": "Unique number of times secondary action was clicked.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-audienceSegments-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier of the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssetSegmentId": {
            "type": "integer",
            "description": "Segment identifier for the audience segment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the audience segment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the audience segment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CriteriaTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Criteria type code of the audience segment.",
            "nullable": true,
            "x-queryable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "Goal response identifier for the audience segments associated with the goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the audience segment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Last session login associated to the user who last updated the audience segment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the audience segment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the audience segment that the user retrieved.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "SegmentTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Segment type code of the audience segment.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-notificationMetrics-item-response": {
        "type": "object",
        "properties": {
          "AssetFrequency": {
            "type": "integer",
            "description": "Attribute for the frequency with which the grow notification email is sent out.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a grow notification's metrics.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Clicks": {
            "type": "number",
            "description": "Count of unique clicks registered on the grow notification email so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastDeliveryDate": {
            "type": "string",
            "description": "Date after which the application won't send the grow notification email.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NextCycleDate": {
            "type": "string",
            "description": "Date on which the application will send the next grow notification email.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NotificationId": {
            "type": "integer",
            "description": "Unique identifier of a grow notification.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NotificationsSent": {
            "type": "number",
            "description": "Count of all the grow notification emails sent so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Opened": {
            "type": "number",
            "description": "Count of all the unique opens on a grow notification email so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDeliveryDate": {
            "type": "string",
            "description": "Date on which the application sent the first grow notification email.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCycles": {
            "type": "integer",
            "description": "Total number of all the grow notification email cycles.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetDetails-postContent-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for a post.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the banner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date the banner was created.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "maxLength": 1024,
            "type": "string",
            "description": "Banner description.",
            "nullable": false,
            "x-queryable": true
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL for the banner image.",
            "nullable": false,
            "default": "DEFAULT",
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the banner was last updated.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Session login associated to the user who last updated the banner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the banner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version number of the banner that the user retrieved.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PostContentId": {
            "type": "integer",
            "description": "Internal identifier for a banner.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the primary action.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the primary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the primary action button.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Primary action label.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the primary action.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryAssetURL": {
            "maxLength": 255,
            "type": "string",
            "description": "URL associated with the secondary action.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryAssetURLId": {
            "type": "integer",
            "description": "Unique identifier for the secondary action URL.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SecondaryDeepLinkId": {
            "type": "integer",
            "description": "Unique identifier for the predefined link defined on the secondary action button.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Secondary action label.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of link associated with the secondary action.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 256,
            "type": "string",
            "description": "Banner title.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-assetMetrics-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "Internal identifier for the asset metrics.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssetName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the selected asset.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssetStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the asset.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Type code of the asset.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignId": {
            "type": "integer",
            "description": "Campaign identifier for the asset metrics associated with the campaign.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ClickCount": {
            "type": "number",
            "description": "Count of unique clicks registered on the campaign email so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DeliveredCount": {
            "type": "number",
            "description": "Count of all the campaign emails delivered so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastDeliveryDate": {
            "type": "string",
            "description": "Date when the last campaign email was delivered.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NoMobileNumberCount": {
            "type": "number",
            "description": "Count of all SMS sent on the campaign so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OpenCount": {
            "type": "number",
            "description": "Open count on the campaign so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ParentAssetId": {
            "type": "integer",
            "description": "Parent asset identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ScheduledDate": {
            "type": "string",
            "description": "Date when the asset is scheduled.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SentCount": {
            "type": "number",
            "description": "Count of all the campaign emails sent so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDeliveryDate": {
            "type": "string",
            "description": "Date when the campaign email was first delivered.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubjectCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Subject code to identify the recruiting or communicate campaign asset.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCount": {
            "type": "number",
            "description": "Total audience count associated with the campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UndeliveredCount": {
            "type": "number",
            "description": "Count of all the campaign emails undelivered so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnsentCount": {
            "type": "number",
            "description": "Count of all the campaign emails unsent so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnsubscribedCount": {
            "type": "integer",
            "description": "Count of all the campaign emails unsubscribed so far.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "communicateUICampaignDetails-audienceDetails-item-response": {
        "type": "object",
        "properties": {
          "AudienceCount": {
            "type": "integer",
            "description": "Total number of employees who will see the post.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceExtractionDate": {
            "type": "string",
            "description": "Date when the audience was extracted.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceId": {
            "type": "integer",
            "description": "Internal identifier for the association between a campaign and its corresponding audience.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AudienceSourceId": {
            "title": "Audience",
            "type": "integer",
            "description": "Internal identifier for the selected audience list.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AudienceSourceName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the selected audience list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceSourceType": {
            "title": "Audience Type",
            "maxLength": 64,
            "type": "string",
            "description": "Type of audience list.",
            "nullable": false,
            "x-queryable": true
          },
          "CampaignAudienceSourceItems": {
            "title": "Campaign Target Audience Details",
            "type": "array",
            "description": "The CampaignAudienceSourceItems resource provides the target audience for a campaign.",
            "items": {
              "$ref": "#/components/schemas/communicateUICampaignDetails-audienceDetails-CampaignAudienceSourceItems-item-response"
            }
          },
          "CampaignId": {
            "type": "integer",
            "description": "Internal identifier for the campaign.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who added the audience.",
            "nullable": false,
            "readOnly": true,
[...]
