{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Candidate Interview Requests",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingICECandidateInterviewRequests": {
      "get": {
        "tags": [
          "Candidate Interview Requests"
        ],
        "summary": "Get all interview requests sent to the candidate",
        "operationId": "getall_recruitingICECandidateInterviewRequests",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CandidateNumber; string; Candidate number.</li><li>CandidatePreferredTimeZone; string; Candidate preferred time zone.</li><li>PersonId; integer; Person identifier.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all interview requests sent to a candidate using a unique identifier. <br>Finder Variables <ul><li>PersonId; integer;  Person identifier used to find all interview requests sent to a candidate. </li></ul></li><li>findByDate Finds all interview requests sent to a candidate. <br>Finder Variables <ul><li>EndDate; string;  End date used to find interview requests sent to a candidate. </li><li>StartDate; string;  Start date used to find interview requests sent to a candidate. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all interview requests sent to a candidate using a unique identifier.",
                "properties": {
                  "PersonId": {
                    "nullable": true,
                    "description": "Person identifier used to find all interview requests sent to a candidate.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByDate",
                "description": "Finds all interview requests sent to a candidate.",
                "title": "findByDate",
                "properties": {
                  "StartDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Start date used to find interview requests sent to a candidate.",
                    "type": "string"
                  },
                  "EndDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "End date used to find interview requests sent to a candidate.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICECandidateInterviewRequests"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingICECandidateInterviewRequests-get",
        "x-filename-id": "recruitingicecandidateinterviewrequests-get"
      }
    },
    "/recruitingICECandidateInterviewRequests/{PersonId}": {
      "get": {
        "tags": [
          "Candidate Interview Requests"
        ],
        "summary": "Get an interview request sent to the candidate",
        "operationId": "get_recruitingICECandidateInterviewRequests",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Person ID",
              "type": "integer",
              "description": "Person identifier.",
              "format": "int64",
              "nullable": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICECandidateInterviewRequests-item-response"
                }
              }
            },
            "links": {
              "UnscheduledInterviewRequests": {
                "operationRef": "#/paths/~1recruitingICECandidateInterviewRequests~1{PersonId}~1child~1UnscheduledInterviewRequests/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The UnscheduleInterviewRequests is a child of the recruitingICECandidateInterviewRequests which includes pending schedule interview requests for the provided candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "ScheduleInterviews": {
                "operationRef": "#/paths/~1recruitingICECandidateInterviewRequests~1{PersonId}~1child~1ScheduleInterviews/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The ScheduleInterviews resource is a child of the recruitingICECandidateInterviewRequests which includes scheduled interview requests for the provided candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingICECandidateInterviewRequests-{PersonId}-get",
        "x-filename-id": "recruitingicecandidateinterviewrequests-personid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingICECandidateInterviewRequests": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingICECandidateInterviewRequests-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingICECandidateInterviewRequests-item-response": {
        "type": "object",
        "properties": {
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate number.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidatePreferredTimeZone": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate preferred time zone.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduleInterviews": {
            "title": "Scheduled Interviews",
            "type": "array",
            "description": "The ScheduleInterviews resource is a child of the recruitingICECandidateInterviewRequests which includes scheduled interview requests for the provided candidate. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingICECandidateInterviewRequests-ScheduleInterviews-item-response"
            }
          },
          "UnscheduledInterviewRequests": {
            "title": "Unscheduled Interview Requests",
            "type": "array",
            "description": "The UnscheduleInterviewRequests is a child of the recruitingICECandidateInterviewRequests which includes pending schedule interview requests for the provided candidate. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingICECandidateInterviewRequests-UnscheduledInterviewRequests-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingICECandidateInterviewRequests-ScheduleInterviews-item-response": {
        "type": "object",
        "properties": {
          "EndDate": {
            "type": "string",
            "description": "End date.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FormattedPhoneNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Formatted phone number.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IntrvwRequestsId": {
            "type": "integer",
            "description": "Interview request identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "IntrvwRschldCount": {
            "type": "integer",
            "description": "Interview rescheduled count.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsRescheduled": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates if the interview has been rescheduled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsScheduled": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates if the interview has been scheduled.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationType": {
            "maxLength": 255,
            "type": "string",
            "description": "Location type.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PhoneNumberPasscode": {
            "maxLength": 255,
            "type": "string",
            "description": "Phone number passcode.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RemainingRescheduleCount": {
            "type": "integer",
            "description": "Reschedules remaining count.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition number.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleId": {
            "type": "integer",
            "description": "Schedule identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleInterviewId": {
            "type": "integer",
            "description": "Schedule interview identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduleInterviewParticipants": {
            "title": "Schedule Interview Participants",
            "type": "array",
            "description": "The ScheduleInterviewParticipants resource is a child of recruitingCEInterviewDetails. It includes all interview schedules for participants. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingICECandidateInterviewRequests-ScheduleInterviews-ScheduleInterviewParticipants-item-response"
            }
          },
          "ScheduleLocationId": {
            "type": "integer",
            "description": "Schedule location identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Job application identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 255,
            "type": "string",
            "description": "Interview title.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WebConferenceLink": {
            "maxLength": 255,
            "type": "string",
            "description": "Web conference link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "canCancel": {
            "type": "string",
            "description": "Indicates whether the candidate can cancel an interview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "canReschedule": {
            "type": "string",
            "description": "Indicates whether the candidate can reschedule an interview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "canSchedule": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate can schedule indicator.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingICECandidateInterviewRequests-ScheduleInterviews-ScheduleInterviewParticipants-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "title": "Assignment ID",
            "type": "integer",
            "description": "Unique identifier of the assignment of the interview participant.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the participants scheduled for the interview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ListName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the participant list scheduled for interview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ParticipantId": {
            "type": "integer",
            "description": "ID assigned to interview participant.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "ParticipantType": {
            "title": "Participant Type",
            "maxLength": 32,
            "type": "string",
            "description": "Type of participant for whom the interview is schedules",
            "nullable": false,
            "x-queryable": true
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Person identifier.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNameId": {
            "type": "integer",
            "description": "Person name.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseMessage": {
            "type": "string",
            "description": "Response message provided by the interview participant.",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduleInterviewId": {
            "type": "integer",
            "description": "Schedule interview identifier.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Job application identifier.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingICECandidateInterviewRequests-UnscheduledInterviewRequests-item-response": {
        "type": "object",
        "properties": {
          "InterviewId": {
            "type": "integer",
            "description": "Interview identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "IntrvwRequestsId": {
            "type": "integer",
            "description": "Interview requests identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IntrvwRschldCount": {
            "type": "integer",
            "description": "Interview rescheduled count.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsRschldRqsted": {
            "type": "string",
            "description": "Indicates whether a reschedule of the interview is requested.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsScheduled": {
            "maxLength": 255,
            "type": "string",
            "description": "Interview scheduled indicator.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleId": {
            "type": "integer",
            "description": "Schedule identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "maxLength": 255,
            "type": "string",
            "description": "Job application identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}