{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Check-In Documents/Questionnaire Responses/Question Responses/Attachments/Large Object (LOB) Attributes - FileContents",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/checkInDocuments/{checkInDocumentsUniqID}/child/questionnaireResponses/{QuestionnaireResponseId}/child/questionResponses/{questionResponsesUniqID}/child/responseAttachments/{responseAttachmentsUniqID}/enclosure/FileContents": {
      "get": {
        "tags": [
          "Check-In Documents/Questionnaire Responses/Question Responses/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Get a FileContents",
        "description": "Get a FileContents",
        "operationId": "get_checkInDocuments-questionnaireResponses-questionResponses-responseAttachments-FileContents",
        "parameters": [
          {
            "name": "checkInDocumentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Check-In Documents resource and used to uniquely identify an instance of Check-In Documents. The client should not generate the hash key value. Instead, the client should query on the Check-In Documents collection resource in order to navigate to a specific instance of Check-In Documents to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response ID",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "questionResponsesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Question Responses resource and used to uniquely identify an instance of Question Responses. The client should not generate the hash key value. Instead, the client should query on the Question Responses collection resource in order to navigate to a specific instance of Question Responses to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "child-questionResponses-{questionResponsesUniqID}-child-responseAttachments-{responseAttachmentsUniqID}-enclosure-FileContents-get",
        "x-filename-id": "child-questionresponses-questionresponsesuniqid-child-responseattachments-responseattachmentsuniqid-enclosure-filecontents-get"
      },
      "put": {
        "tags": [
          "Check-In Documents/Questionnaire Responses/Question Responses/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Replace a FileContents",
        "description": "Replace a FileContents",
        "operationId": "replace_checkInDocuments-questionnaireResponses-questionResponses-responseAttachments-FileContents",
        "parameters": [
          {
            "name": "checkInDocumentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Check-In Documents resource and used to uniquely identify an instance of Check-In Documents. The client should not generate the hash key value. Instead, the client should query on the Check-In Documents collection resource in order to navigate to a specific instance of Check-In Documents to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response ID",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "questionResponsesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Question Responses resource and used to uniquely identify an instance of Question Responses. The client should not generate the hash key value. Instead, the client should query on the Question Responses collection resource in order to navigate to a specific instance of Question Responses to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "child-questionResponses-{questionResponsesUniqID}-child-responseAttachments-{responseAttachmentsUniqID}-enclosure-FileContents-put",
        "x-filename-id": "child-questionresponses-questionresponsesuniqid-child-responseattachments-responseattachmentsuniqid-enclosure-filecontents-put"
      },
      "delete": {
        "tags": [
          "Check-In Documents/Questionnaire Responses/Question Responses/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Delete a FileContents",
        "description": "Delete a FileContents",
        "operationId": "delete_checkInDocuments-questionnaireResponses-questionResponses-responseAttachments-FileContents",
        "parameters": [
          {
            "name": "checkInDocumentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Check-In Documents resource and used to uniquely identify an instance of Check-In Documents. The client should not generate the hash key value. Instead, the client should query on the Check-In Documents collection resource in order to navigate to a specific instance of Check-In Documents to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response ID",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "questionResponsesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Question Responses resource and used to uniquely identify an instance of Question Responses. The client should not generate the hash key value. Instead, the client should query on the Question Responses collection resource in order to navigate to a specific instance of Question Responses to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "child-questionResponses-{questionResponsesUniqID}-child-responseAttachments-{responseAttachmentsUniqID}-enclosure-FileContents-delete",
        "x-filename-id": "child-questionresponses-questionresponsesuniqid-child-responseattachments-responseattachmentsuniqid-enclosure-filecontents-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}