{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Cost Allocations for Payroll Relationship",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/payrollRelationshipCosting": {
      "get": {
        "tags": [
          "Cost Allocations for Payroll Relationship"
        ],
        "summary": "Get all cost allocations",
        "operationId": "getall_payrollRelationshipCosting",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CostAllocationId; integer; Cost allocation identifier for the cost allocation record.</li><li>EffectiveEndDate; string; Effective end date of the cost allocation record.</li><li>EffectiveStartDate; string; Effective start date of the cost allocation record.</li><li>LegislativeDataGroupName; string; Legislative data group name of the cost allocation record.</li><li>PayrollRelationshipNumber; string; Payroll relationship number of the cost allocation record.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds cost allocations by its primary key. <br>Finder Variables <ul><li>CostAllocationId; integer;  Search term criteria to find cost allocation based on the cost allocation identifier. </li><li>EffectiveEndDate; string;  Search term criteria to find the cost allocations based on the effective end date. </li><li>EffectiveStartDate; string;  Search term criteria to find cost allocations based on the effective start date. </li></ul></li><li>findByCostAllocationId Finds cost allocations by cost allocation identifier. <br>Finder Variables <ul><li>CostAllocationId; integer;  Search term criteria to find cost allocation based on the cost allocation identifier. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findByPayrollRelationshipNumberLegislativeDataGroupName Finds cost allocations by payroll relationship number and legislative data group name. <br>Finder Variables <ul><li>LegislativeDataGroupName; string;  Search term criteria to find cost allocation based on the legislative data group name. </li><li>PayrollRelationshipNumber; string;  Search term criteria to find cost allocation based on the payroll relationship number. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds cost allocations by its primary key.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Search term criteria to find the cost allocations based on the effective end date.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "CostAllocationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Search term criteria to find cost allocation based on the cost allocation identifier.",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Search term criteria to find cost allocations based on the effective start date.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByCostAllocationId",
                "description": "Finds cost allocations by cost allocation identifier.",
                "title": "findByCostAllocationId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "CostAllocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find cost allocation based on the cost allocation identifier.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPayrollRelationshipNumberLegislativeDataGroupName",
                "description": "Finds cost allocations by payroll relationship number and legislative data group name.",
                "title": "findByPayrollRelationshipNumberLegislativeDataGroupName",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LegislativeDataGroupName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find cost allocation based on the legislative data group name.",
                    "type": "string"
                  },
                  "PayrollRelationshipNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find cost allocation based on the payroll relationship number.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationshipCosting"
                }
              }
            }
          }
        },
        "x-internal-id": "payrollRelationshipCosting-get",
        "x-filename-id": "payrollrelationshipcosting-get"
      },
      "post": {
        "tags": [
          "Cost Allocations for Payroll Relationship"
        ],
        "summary": "Create a cost allocation",
        "operationId": "create_payrollRelationshipCosting",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payrollRelationshipCosting-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationshipCosting-item-response"
                }
              }
            },
            "links": {
              "CostAllocationAccounts": {
                "operationRef": "#/paths/~1payrollRelationshipCosting~1{payrollRelationshipCostingUniqID}~1child~1CostAllocationAccounts/get",
                "parameters": {
                  "payrollRelationshipCostingUniqID": "$request.path.payrollRelationshipCostingUniqID"
                },
                "description": "The CostAllocationAccounts resource provides details of individual costing segments of the respective costing levels of the given cost allocations."
              }
            }
          }
        },
        "x-internal-id": "payrollRelationshipCosting-post",
        "x-filename-id": "payrollrelationshipcosting-post"
      }
    },
    "/payrollRelationshipCosting/{payrollRelationshipCostingUniqID}": {
      "get": {
        "tags": [
          "Cost Allocations for Payroll Relationship"
        ],
        "summary": "Get a cost allocation",
        "operationId": "get_payrollRelationshipCosting",
        "parameters": [
          {
            "name": "payrollRelationshipCostingUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CostAllocationId, EffectiveStartDate and EffectiveEndDate ---for the Cost Allocations for Payroll Relationship resource and used to uniquely identify an instance of Cost Allocations for Payroll Relationship. The client should not generate the hash key value.  Instead, the client should query on the Cost Allocations for Payroll Relationship collection resource with a filter on the primary key values in order to navigate to a specific instance of Cost Allocations for Payroll Relationship.<br><br>For example: payrollRelationshipCosting?q=CostAllocationId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationshipCosting-item-response"
                }
              }
            },
            "links": {
              "CostAllocationAccounts": {
                "operationRef": "#/paths/~1payrollRelationshipCosting~1{payrollRelationshipCostingUniqID}~1child~1CostAllocationAccounts/get",
                "parameters": {
                  "payrollRelationshipCostingUniqID": "$request.path.payrollRelationshipCostingUniqID"
                },
                "description": "The CostAllocationAccounts resource provides details of individual costing segments of the respective costing levels of the given cost allocations."
              }
            }
          }
        },
        "x-internal-id": "payrollRelationshipCosting-{payrollRelationshipCostingUniqID}-get",
        "x-filename-id": "payrollrelationshipcosting-payrollrelationshipcostinguniqid-get"
      },
      "delete": {
        "tags": [
          "Cost Allocations for Payroll Relationship"
        ],
        "summary": "Delete a cost allocation",
        "operationId": "delete_payrollRelationshipCosting",
        "parameters": [
          {
            "name": "payrollRelationshipCostingUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CostAllocationId, EffectiveStartDate and EffectiveEndDate ---for the Cost Allocations for Payroll Relationship resource and used to uniquely identify an instance of Cost Allocations for Payroll Relationship. The client should not generate the hash key value.  Instead, the client should query on the Cost Allocations for Payroll Relationship collection resource with a filter on the primary key values in order to navigate to a specific instance of Cost Allocations for Payroll Relationship.<br><br>For example: payrollRelationshipCosting?q=CostAllocationId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "payrollRelationshipCosting-{payrollRelationshipCostingUniqID}-delete",
        "x-filename-id": "payrollrelationshipcosting-payrollrelationshipcostinguniqid-delete"
      },
      "patch": {
        "tags": [
          "Cost Allocations for Payroll Relationship"
        ],
        "summary": "Update a cost allocation",
        "operationId": "update_payrollRelationshipCosting",
        "parameters": [
          {
            "name": "payrollRelationshipCostingUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CostAllocationId, EffectiveStartDate and EffectiveEndDate ---for the Cost Allocations for Payroll Relationship resource and used to uniquely identify an instance of Cost Allocations for Payroll Relationship. The client should not generate the hash key value.  Instead, the client should query on the Cost Allocations for Payroll Relationship collection resource with a filter on the primary key values in order to navigate to a specific instance of Cost Allocations for Payroll Relationship.<br><br>For example: payrollRelationshipCosting?q=CostAllocationId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payrollRelationshipCosting-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationshipCosting-item-response"
                }
              }
            },
            "links": {
              "CostAllocationAccounts": {
                "operationRef": "#/paths/~1payrollRelationshipCosting~1{payrollRelationshipCostingUniqID}~1child~1CostAllocationAccounts/get",
                "parameters": {
                  "payrollRelationshipCostingUniqID": "$request.path.payrollRelationshipCostingUniqID"
                },
                "description": "The CostAllocationAccounts resource provides details of individual costing segments of the respective costing levels of the given cost allocations."
              }
            }
          }
        },
        "x-internal-id": "payrollRelationshipCosting-{payrollRelationshipCostingUniqID}-patch",
        "x-filename-id": "payrollrelationshipcosting-payrollrelationshipcostinguniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "payrollRelationshipCosting": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationshipCosting-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "payrollRelationshipCosting-item-response": {
        "type": "object",
        "properties": {
          "CostAllocationAccounts": {
            "title": "Cost Allocation Accounts",
            "type": "array",
            "description": "The CostAllocationAccounts resource provides details of individual costing segments of the respective costing levels of the given cost allocations.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationshipCosting-CostAllocationAccounts-item-response"
            }
          },
          "CostAllocationId": {
            "type": "integer",
            "description": "Cost allocation identifier for the cost allocation record.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date of the cost allocation record.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date of the cost allocation record.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "LegislativeDataGroupName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Legislative data group name of the cost allocation record.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "PayrollRelationshipNumber": {
            "title": "Payroll Relationship Number",
            "maxLength": 30,
            "type": "string",
            "description": "Payroll relationship number of the cost allocation record.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "payrollRelationshipCosting-CostAllocationAccounts-item-response": {
        "type": "object",
        "properties": {
          "CostAllocAccountId": {
            "type": "integer",
            "description": "Cost allocation account identifier for the cost allocation account record.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "Proportion": {
            "title": "Percentage",
            "type": "number",
            "description": "Proportion of the cost allocation account record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 22,
              "scale": 10
            },
            "x-queryable": true
          },
          "Segment1": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 1 of the cost allocation account key flexfield.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment10": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 10 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment11": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 11 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment12": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 12 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment13": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 13 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment14": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 14 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment15": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 15 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment16": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 16 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment17": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 17 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment18": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 18 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment19": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 19 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment2": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 2 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment20": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 20 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment21": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 21 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment22": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 22 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment23": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 23 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment24": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 24 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment25": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 25 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment26": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 26 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment27": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 27 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment28": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 28 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment29": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 29 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment3": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 3 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment30": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 30 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment4": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 4 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment5": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 5 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment6": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 6 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment7": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 7 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment8": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 8 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Segment9": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 9 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "payrollRelationshipCosting-item-post-request": {
        "required": [
          "EffectiveEndDate",
          "EffectiveStartDate"
        ],
        "type": "object",
        "properties": {
          "CostAllocationAccounts": {
            "title": "Cost Allocation Accounts",
            "type": "array",
            "description": "The CostAllocationAccounts resource provides details of individual costing segments of the respective costing levels of the given cost allocations.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationshipCosting-CostAllocationAccounts-item-post-request"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date of the cost allocation record.",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date of the cost allocation record.",
            "format": "date",
            "nullable": false
          },
          "LegislativeDataGroupName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Legislative data group name of the cost allocation record.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "PayrollRelationshipNumber": {
            "title": "Payroll Relationship Number",
            "maxLength": 30,
            "type": "string",
            "description": "Payroll relationship number of the cost allocation record.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          }
        }
      },
      "payrollRelationshipCosting-CostAllocationAccounts-item-post-request": {
        "type": "object",
        "properties": {
          "Proportion": {
            "title": "Percentage",
            "type": "number",
            "description": "Proportion of the cost allocation account record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 22,
              "scale": 10
            }
          },
          "Segment1": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 1 of the cost allocation account key flexfield.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment10": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 10 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment11": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 11 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment12": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 12 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment13": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 13 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment14": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 14 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment15": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 15 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment16": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 16 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment17": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 17 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment18": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 18 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment19": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 19 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment2": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 2 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment20": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 20 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment21": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 21 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment22": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 22 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment23": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 23 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment24": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 24 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment25": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 25 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment26": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 26 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment27": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 27 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment28": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 28 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment29": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 29 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment3": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 3 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment30": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 30 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment4": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 4 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment5": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 5 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment6": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 6 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment7": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 7 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment8": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 8 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment9": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 9 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "payrollRelationshipCosting-item-patch-request": {
        "required": [
          "EffectiveEndDate",
          "EffectiveStartDate"
        ],
        "type": "object",
        "properties": {
          "CostAllocationAccounts": {
            "title": "Cost Allocation Accounts",
            "type": "array",
            "description": "The CostAllocationAccounts resource provides details of individual costing segments of the respective costing levels of the given cost allocations.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationshipCosting-CostAllocationAccounts-item-patch-request"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date of the cost allocation record.",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date of the cost allocation record.",
            "format": "date",
            "nullable": false
          },
          "LegislativeDataGroupName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Legislative data group name of the cost allocation record.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "PayrollRelationshipNumber": {
            "title": "Payroll Relationship Number",
            "maxLength": 30,
            "type": "string",
            "description": "Payroll relationship number of the cost allocation record.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          }
        }
      },
      "payrollRelationshipCosting-CostAllocationAccounts-item-patch-request": {
        "type": "object",
        "properties": {
          "Proportion": {
            "title": "Percentage",
            "type": "number",
            "description": "Proportion of the cost allocation account record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 22,
              "scale": 10
            }
          },
          "Segment1": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 1 of the cost allocation account key flexfield.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment10": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 10 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment11": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 11 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment12": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 12 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment13": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 13 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment14": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 14 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment15": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 15 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment16": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 16 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment17": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 17 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment18": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 18 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment19": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 19 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment2": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 2 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment20": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 20 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment21": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 21 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment22": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 22 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment23": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 23 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment24": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 24 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment25": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 25 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment26": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 26 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment27": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 27 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment28": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 28 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment29": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 29 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment3": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 3 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment30": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 30 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment4": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 4 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment5": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 5 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment6": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 6 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment7": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 7 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment8": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 8 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Segment9": {
            "maxLength": 60,
            "type": "string",
            "description": "Segment 9 of the cost allocation account key flexfield record.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "payrollRelationshipCosting-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/payrollRelationshipCosting-item-post-request"
            }
          }
        }
      },
      "payrollRelationshipCosting-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/payrollRelationshipCosting-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}