{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Departments/Organizations Extra Information",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/organizations/{organizationsUniqID}/child/extraInformation": {
      "get": {
        "tags": [
          "Departments/Organizations Extra Information"
        ],
        "summary": "Get all organization extensible flexfields",
        "operationId": "getall_organizations-extraInformation",
        "parameters": [
          {
            "name": "organizationsUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EffectiveEndDate; string</li><li>EffectiveStartDate; string</li><li>OrganizationId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ClassificationCode; string; Code of the department's classification.</li><li>CreationDate; string; Date and time when the department was created.</li><li>EffectiveEndDate; string; Effective end date of the department.</li><li>EffectiveStartDate; string; Effective start date of the department.</li><li>InternalAddressLine; string; Internal address line of the department.</li><li>LastUpdateDate; string; Date and time the department was updated.</li><li>LocationId; integer; Unique identifier of the location for a department.</li><li>Name; string; Name of the department.</li><li>OrgCode; string; Custom OrganizationCode to be used instead of autogenerated code.</li><li>OrganizationCode; string; Code of the department.</li><li>OrganizationId; integer; Unique identifier for the department.</li><li>Status; string; Status of the department.</li><li>Title; string; Category code of department extensible flexfield.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>AltKey  <br>Finder Variables <ul><li>EffectiveStartDate; string;   </li></ul></li><li>PrimaryKey  <br>Finder Variables <ul><li>EffectiveEndDate; string;   </li><li>EffectiveStartDate; string;   </li><li>OrgUnitClassificationId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "AltKey",
                "properties": {
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "OrgUnitClassificationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.protectedModel.view.OrgUnitClassificationVO\",\"OrganizationId;ClassificationCode;\");",
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizations-extraInformation"
                }
              }
            }
          }
        },
        "x-internal-id": "organizations-{organizationsUniqID}-child-extraInformation-get",
        "x-filename-id": "organizations-organizationsuniqid-child-extrainformation-get"
      }
    },
    "/organizations/{organizationsUniqID}/child/extraInformation/{extraInformationUniqID}": {
      "get": {
        "tags": [
          "Departments/Organizations Extra Information"
        ],
        "summary": "Get an organization extensible flexfield",
        "operationId": "get_organizations-extraInformation",
        "parameters": [
          {
            "name": "organizationsUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizations-extraInformation-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "organizations-{organizationsUniqID}-child-extraInformation-{extraInformationUniqID}-get",
        "x-filename-id": "organizations-organizationsuniqid-child-extrainformation-extrainformationuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "organizations-extraInformation": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "organizations-extraInformation-item-response": {
        "discriminator": {
          "propertyName": "CategoryCode",
          "mapping": {
            "DEPARTMENT": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationDepartmentprivateVO-item-response",
            "ENTERPRISE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationEnterpriseprivateVO-item-response",
            "FUN_BUSINESS_UNIT": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationFunBusinessUnitprivateVO-item-response",
            "HCM_DISABILITY_ORGANIZATION": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmDisabilityOrganizationprivateVO-item-response",
            "HCM_DIVISION": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmDivisionprivateVO-item-response",
            "HCM_LEMP": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempprivateVO-item-response",
            "HCM_LEMP_AE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempAeprivateVO-item-response",
            "HCM_LEMP_BH": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempBhprivateVO-item-response",
            "HCM_LEMP_BR": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempBrprivateVO-item-response",
            "HCM_LEMP_CA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempCaprivateVO-item-response",
            "HCM_LEMP_CH": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempChprivateVO-item-response",
            "HCM_LEMP_CN": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempCnprivateVO-item-response",
            "HCM_LEMP_DE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempDeprivateVO-item-response",
            "HCM_LEMP_FR": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempFrprivateVO-item-response",
            "HCM_LEMP_GB": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempGbprivateVO-item-response",
            "HCM_LEMP_IE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempIeprivateVO-item-response",
            "HCM_LEMP_IN": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempInprivateVO-item-response",
            "HCM_LEMP_IT": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempItprivateVO-item-response",
            "HCM_LEMP_KW": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempKwprivateVO-item-response",
            "HCM_LEMP_MX": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempMxprivateVO-item-response",
            "HCM_LEMP_NL": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempNlprivateVO-item-response",
            "HCM_LEMP_OM": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempOmprivateVO-item-response",
            "HCM_LEMP_QA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempQaprivateVO-item-response",
            "HCM_LEMP_SA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempSaprivateVO-item-response",
            "HCM_LEMP_US": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempUsprivateVO-item-response",
            "HCM_LRU": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLruprivateVO-item-response",
            "HCM_PROFESSIONAL_BODY": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmProfessionalBodyprivateVO-item-response",
            "HCM_PSU": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuprivateVO-item-response",
            "HCM_PSU_AE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuAeprivateVO-item-response",
            "HCM_PSU_CA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuCaprivateVO-item-response",
            "HCM_PSU_CN": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuCnprivateVO-item-response",
            "HCM_PSU_GB": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuGbprivateVO-item-response",
            "HCM_PSU_HK": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuHkprivateVO-item-response",
            "HCM_PSU_IN": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuInprivateVO-item-response",
            "HCM_PSU_QA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuQaprivateVO-item-response",
            "HCM_PSU_SA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuSaprivateVO-item-response",
            "HCM_PSU_US": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuUsprivateVO-item-response",
            "HCM_REPORTING_ESTABLISHMENT": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmReportingEstablishmentprivateVO-item-response",
            "HCM_REPORTING_ESTABLISHMENT_GB": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmReportingEstablishmentGbprivateVO-item-response",
            "HCM_TRU": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruprivateVO-item-response",
            "HCM_TRU_CA": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruCaprivateVO-item-response",
            "HCM_TRU_CN": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruCnprivateVO-item-response",
            "HCM_TRU_DE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruDeprivateVO-item-response",
            "HCM_TRU_FR": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruFrprivateVO-item-response",
            "HCM_TRU_GB": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruGbprivateVO-item-response",
            "HCM_TRU_HK": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruHkprivateVO-item-response",
            "HCM_TRU_IE": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruIeprivateVO-item-response",
            "HCM_TRU_IN": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruInprivateVO-item-response",
            "HCM_TRU_MX": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruMxprivateVO-item-response",
            "HCM_TRU_NL": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruNlprivateVO-item-response",
            "HCM_TRU_SG": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruSgprivateVO-item-response",
            "HCM_TRU_US": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruUsprivateVO-item-response",
            "ORA_PER_UNION": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationOraPerUnionprivateVO-item-response",
            "PA_PROJECT_ORG": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationPaProjectOrgprivateVO-item-response",
            "PER_ORGANIZATION_CATEGORY": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationPerOrganizationCategoryprivateVO-item-response",
            "PRJ_PROJECT_UNIT": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationPrjProjectUnitprivateVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationDepartmentprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationEnterpriseprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationFunBusinessUnitprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmDisabilityOrganizationprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmDivisionprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempAeprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempBhprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempBrprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempCaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempChprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempCnprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempDeprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempFrprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempGbprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempIeprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempInprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempItprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempKwprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempMxprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempNlprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempOmprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempQaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempSaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLempUsprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmLruprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmProfessionalBodyprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuAeprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuCaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuCnprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuGbprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuHkprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuInprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuQaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuSaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmPsuUsprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmReportingEstablishmentprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmReportingEstablishmentGbprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruCaprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruCnprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruDeprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruFrprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruGbprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruHkprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruIeprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruInprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruMxprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruNlprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruSgprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationHcmTruUsprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationOraPerUnionprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationPaProjectOrgprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationPerOrganizationCategoryprivateVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationPrjProjectUnitprivateVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_organizations_flex_organizationInformationEFF_classification_view_j__ClassificationDepartmentprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CategoryCode": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "DEPARTMENT"
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false
          },
          "InformationHRX_5FFR_5FDEPT_5FCORPORATE_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationHRX_5FFR_5FDEPT_5FCORPORATE_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "InformationORA_5FHRX_5FCA_5FPM_5FDEPTprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationORA_5FHRX_5FCA_5FPM_5FDEPTprivateVO-item-response"
            }
          },
          "InformationORA_5FHRX_5FCA_5FROE_5FDEPT_5FCONTACTprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationORA_5FHRX_5FCA_5FROE_5FDEPT_5FCONTACTprivateVO-item-response"
            }
          },
          "InformationORA_5FHRX_5FCA_5FWC_5FDEPTprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationORA_5FHRX_5FCA_5FWC_5FDEPTprivateVO-item-response"
            }
          },
          "InformationORA_5FHTS_5FDEPT_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationORA_5FHTS_5FDEPT_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "InformationORA_5FPER_5FLEGAL_5FEMP_5FASSOC_5FDEPTprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationORA_5FPER_5FLEGAL_5FEMP_5FASSOC_5FDEPTprivateVO-item-response"
            }
          },
          "InformationPER_5FGL_5FCOST_5FCENTER_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationPER_5FGL_5FCOST_5FCENTER_5FINFOprivateVO-item-response"
            }
          },
          "InformationPER_5FORG_5FMANAGER_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationPER_5FORG_5FMANAGER_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "InformationPER_5FWORK_5FDAY_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organizations-extraInformation-InformationPER_5FWORK_5FDAY_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "OrgUnitClassificationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.protectedModel.view.OrgUnitClassificationVO\",\"OrganizationId;ClassificationCode;\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "organizations-extraInformation-InformationHRX_5FFR_5FDEPT_5FCORPORATE_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "ActionOccurrenceId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "default": -1,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "DLoadHidden": "true"
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "OrgInformationContext": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "HRX_FR_DEPT_CORPORATE_INFO",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "OrgInformationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.core.view.OrgInformationEFFVO\",\"OrganizationId;OrgInformationContext;SequenceNumber;\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "OrganizationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.protectedModel.view.OrgUnitClassKeyResolverAllVO\",\"OrganizationName:Name;ClassificationCode;\",\"OrganizationId\");"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 3
            }
          },
          "_SPECIFIC_WA_RATE": {
            "title": "Specific Work Accident Rate",
            "maxLength": 150,
            "type": "string",
            "description": "Specific Work Accident Rate",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPECIFIC_WA_RATE_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_InstructionText": "Select this to indicate that there are multiple work accident rates for this department.",
              "FND_ACFF_DV": "N",
              "FND_ACFF_SegmentName": "SPECIFIC_WA_RATE",
              "help": {
                "instruction": "Select this to indicate that there are multiple work accident rates for this department."
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "ORG_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "SPECIFIC_WA_RATE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPECIFIC_WA_RATE_Display": {
            "title": "Specific Work Accident Rate",
            "type": "string",
            "description": "Specific Work Accident Rate",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPECIFIC_WA_RATE",
              "help": {
                "instruction": "Select this to indicate that there are multiple work accident rates for this department."
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_InstructionText": "Select this to indicate that there are multiple work accident rates for this department.",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "organizations-extraInformation-InformationORA_5FHRX_5FCA_5FPM_5FDEPTprivateVO-item-response": {
        "type": "object",
        "properties": {
          "ActionOccurrenceId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "default": -1,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "DLoadHidden": "true"
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "OrgInformationContext": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "ORA_HRX_CA_PM_DEPT",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "OrgInformationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.core.view.OrgInformationEFFVO\",\"OrganizationId;OrgInformationContext;SequenceNumber;\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "OrganizationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.protectedModel.view.OrgUnitClassKeyResolverAllVO\",\"OrganizationName:Name;ClassificationCode;\",\"OrganizationId\");"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 3
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxCaPmDeptAccount": {
            "title": "Provincial Medical Account Override",
            "maxLength": 150,
            "type": "string",
            "description": "Provincial Medical Account Override",
            "nullable": false,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaPmDeptAccount_Display",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmDeptAccount",
              "FlexClientVar_flex_vst_bind3_JT": "java.lang.String",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_PM_DEP_ACCOUNT#TABLE",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaPmDeptProv",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_PM_DEPT_ACCOUNT",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_IsRequired": "true",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.lang.String",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_DEPT_ACCOUNT",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Provincial Medical Account Override"
              },
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientVar_flex_vst_bind3_VT": "SEGMENT.oraHrxCaPmDeptProv",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaPmDeptPsu",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "ORG_INFORMATION2",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind1,flex_vst_bind2",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaPmDeptPsu,oraHrxCaPmDeptProv"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmDeptAccount_Display": {
            "title": "Provincial Medical Account Override",
            "type": "string",
            "description": "Provincial Medical Account Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaPmDeptAccount",
              "FND_ACFF_IsRequired": "true",
              "FlexClientVar_flex_vst_bind3_JT": "java.lang.String",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.lang.String",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Provincial Medical Account Override"
              },
              "controlType": "combo_lov",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind3_VT": "SEGMENT.oraHrxCaPmDeptProv",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaPmDeptProv",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaPmDeptPsu",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind1,flex_vst_bind2",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmDeptProv": {
            "title": "Provincial Medical Province",
            "maxLength": 150,
            "type": "string",
            "description": "Provincial Medical Province",
            "nullable": false,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaPmDeptProv_Display",
              "FND_ACFF_IsReferenced": "true",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmDeptProv",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_DEPT_PROV",
              "help": {
                "instruction": "Provincial Medical Province"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_PM_PROV#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "ORG_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_PM_DEPT_PROV",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmDeptProv_Display": {
            "title": "Provincial Medical Province",
            "type": "string",
            "description": "Provincial Medical Province",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaPmDeptProv",
              "FND_ACFF_IsReferenced": "true",
              "help": {
                "instruction": "Provincial Medical Province"
              },
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmDeptPsu": {
            "title": "Provincial Medical Payroll Statutory Unit",
            "type": "number",
            "description": "Provincial Medical Payroll Statutory Unit",
            "nullable": false,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaPmDeptPsu_Display",
              "FND_ACFF_IsReferenced": "true",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmDeptPsu",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_DEPT_PSU",
              "help": {
                "instruction": "Provincial Medical Payroll Statutory Unit"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_PM_PSU#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "ORG_INFORMATION_NUMBER1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_PM_DEPT_PSU",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmDeptPsu_Display": {
            "title": "Provincial Medical Payroll Statutory Unit",
            "type": "string",
            "description": "Provincial Medical Payroll Statutory Unit",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaPmDeptPsu",
              "FND_ACFF_IsReferenced": "true",
              "help": {
                "instruction": "Provincial Medical Payroll Statutory Unit"
              },
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmDeptUniqueSeg": {
            "title": "Identifies the Provincial Medical Department Context Uniquely",
            "type": "number",
            "description": "Identifies the Provincial Medical Department Context Uniquely",
            "nullable": false,
            "x-hints": {
              "updateable": "false",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_DV": "select S_ROW_ID_SEQ.NEXTVAL from dual",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmDeptUniqueSeg",
              "FND_ACFF_IsRequired": "true",
              "FlexClientValueLink": "FlexFndApi://defaultValues/oracle.apps.hcm.organizations.flex.organizationInformationEFF.information.view.InformationORA_5FHRX_5FCA_5FPM_5FDEPTprivateVO#oraHrxCaPmDeptUniqueSeg",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_DEPT_UNIQUE_SEG",
              "FND_ACFF_Precision": "20",
              "help": {
                "instruction": "Identifies the Provincial Medical Department Context Uniquely"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NUMBER_20#FORMAT_ONLY",
              "FND_ACFF_DVT": "S",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "ORG_INFORMATION_NUMBER2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_PM_DEPT_UNIQUE_SEG",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "organizations-extraInformation-InformationORA_5FHRX_5FCA_5FROE_5FDEPT_5FCONTACTprivateVO-item-response": {
        "type": "object",
        "properties": {
          "ActionOccurrenceId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "default": -1,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "DLoadHidden": "true"
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "OrgInformationContext": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "ORA_HRX_CA_ROE_DEPT_CONTACT",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "OrgInformationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.core.view.OrgInformationEFFVO\",\"OrganizationId;OrgInformationContext;SequenceNumber;\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "OrganizationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.protectedModel.view.OrgUnitClassKeyResolverAllVO\",\"OrganizationName:Name;ClassificationCode;\",\"OrganizationId\");"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 3
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxCaRoeDeptAbsCnt": {
            "title": "Absence Contact",
            "type": "number",
            "description": "Absence Contact",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaRoeDeptAbsCnt_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_PartialTarget": "oraHrxCaRoeDeptTru",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaRoeDeptAbsCnt",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_ROE_DEPT_ABS_CNT",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Absence Contact"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_ROE_ABS_CNT_VS#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaRoeDeptTru",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "ORG_INFORMATION_NUMBER4",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_ROE_DEPT_ABS_CNT",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaRoeDeptTru",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptAbsCnt_Display": {
            "title": "Absence Contact",
            "type": "string",
            "description": "Absence Contact",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaRoeDeptAbsCnt",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Absence Contact"
              },
              "FND_ACFF_PartialTarget": "oraHrxCaRoeDeptTru",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaRoeDeptTru",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptRoeCnt": {
            "title": "Record of Employment General Contact",
            "type": "number",
            "description": "Record of Employment General Contact",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaRoeDeptRoeCnt_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_PartialTarget": "oraHrxCaRoeDeptTru",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaRoeDeptRoeCnt",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_ROE_DEPT_ROE_CNT",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Record of Employment General Contact"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_ROE_ROE_CNT_VS#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaRoeDeptTru",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "ORG_INFORMATION_NUMBER2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_ROE_DEPT_ROE_CNT",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaRoeDeptTru",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptRoeCnt_Display": {
            "title": "Record of Employment General Contact",
            "type": "string",
            "description": "Record of Employment General Contact",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaRoeDeptRoeCnt",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Record of Employment General Contact"
              },
              "FND_ACFF_PartialTarget": "oraHrxCaRoeDeptTru",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaRoeDeptTru",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptTermCnt": {
            "title": "Termination Contact",
            "type": "number",
            "description": "Termination Contact",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaRoeDeptTermCnt_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_PartialTarget": "oraHrxCaRoeDeptTru",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaRoeDeptTermCnt",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_ROE_DEPT_TERM_CNT",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Termination Contact"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_ROE_TERM_CNT_VS#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaRoeDeptTru",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "ORG_INFORMATION_NUMBER3",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_ROE_DEPT_TERM_CNT",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaRoeDeptTru",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptTermCnt_Display": {
            "title": "Termination Contact",
            "type": "string",
            "description": "Termination Contact",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaRoeDeptTermCnt",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Termination Contact"
              },
              "FND_ACFF_PartialTarget": "oraHrxCaRoeDeptTru",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaRoeDeptTru",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptTru": {
            "title": "Tax Reporting Unit",
            "type": "number",
            "description": "Tax Reporting Unit",
            "nullable": false,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaRoeDeptTru_Display",
              "FND_ACFF_IsReferenced": "true",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaRoeDeptTru",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_ROE_DEPT_TRU",
              "help": {
                "instruction": "Tax Reporting Unit"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_ROE_TRU_VS#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "ORG_INFORMATION_NUMBER1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_ROE_DEPT_TRU",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaRoeDeptTru_Display": {
            "title": "Tax Reporting Unit",
            "type": "string",
            "description": "Tax Reporting Unit",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaRoeDeptTru",
              "FND_ACFF_IsReferenced": "true",
              "help": {
                "instruction": "Tax Reporting Unit"
              },
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "organizations-extraInformation-InformationORA_5FHRX_5FCA_5FWC_5FDEPTprivateVO-item-response": {
        "type": "object",
        "properties": {
          "ActionOccurrenceId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "default": -1,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "DLoadHidden": "true"
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "OrgInformationContext": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "ORA_HRX_CA_WC_DEPT",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "OrgInformationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.core.view.OrgInformationEFFVO\",\"OrganizationId;OrgInformationContext;SequenceNumber;\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "OrganizationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.organizations.protectedModel.view.OrgUnitClassKeyResolverAllVO\",\"OrganizationName:Name;ClassificationCode;\",\"OrganizationId\");"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "IS_REQUIRED": "true",
              "precision": 3
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxCaWcDeptClUnit": {
            "title": "Workers Compensation Classification Unit Override",
            "maxLength": 150,
            "type": "string",
            "description": "Workers Compensation Classification Unit Override",
            "nullable": false,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaWcDeptClUnit_Display",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_OpenIdentifier": "oraHrxCaWcDeptClUnit",
              "FlexClientVar_flex_vst_bind3_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_JT": "java.lang.String",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_WC_CL_UNIT#TABLE",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaWcDeptPsu",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORA_HRX_CA_WC_DEPT_CL_UNIT",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_IsRequired": "true",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_WC_DEPT_CL_UNIT",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Workers Compensation Classification Unit Override"
              },
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientVar_flex_vst_bind3_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "SEGMENT.oraHrxCaWcDeptProv",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "ORG_INFORMATION2",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind1,flex_vst_bind2",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaWcDeptProv,oraHrxCaWcDeptPsu"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaWcDeptClUnit_Display": {
            "title": "Workers Compensation Classification Unit Override",
            "type": "string",
            "description": "Workers Compensation Classification Unit Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaWcDeptClUnit",
              "FND_ACFF_IsRequired": "true",
              "FlexClientVar_flex_vst_bind3_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind1_JT": "java.lang.String",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
[...]
