{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Development Goals Mass Assignment Process/Development Goals/Large Object (LOB) Attributes - Comments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/{GoalId}/enclosure/Comments": {
      "get": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Get a Comments",
        "description": "Get a Comments",
        "operationId": "get_devGoalsMassAssignProcess-devGoals-Comments",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-enclosure-Comments-get",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-enclosure-comments-get"
      },
      "put": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Replace a Comments",
        "description": "Replace a Comments",
        "operationId": "replace_devGoalsMassAssignProcess-devGoals-Comments",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-enclosure-Comments-put",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-enclosure-comments-put"
      },
      "delete": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Delete a Comments",
        "description": "Delete a Comments",
        "operationId": "delete_devGoalsMassAssignProcess-devGoals-Comments",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-enclosure-Comments-delete",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-enclosure-comments-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}