{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Development Goals Mass Assignment Process",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/devGoalsMassAssignProcess": {
      "get": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Get all mass assignment processes for development goals",
        "operationId": "getall_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Assignee; integer; A code that determines the employees in the hierarchy of the requester who need to be assigned the development goals included in the mass assignment process.</li><li>CreatedBy; string; Name of the person who created the mass assignment process for development goals.</li><li>CreationDate; string; Date the mass assignment process for development goals was created.</li><li>LastUpdateDate; string; Date the mass assignment process for development goals was last updated.</li><li>LastUpdatedBy; string; Name of the person who last updated the mass assignment process for development goals.</li><li>MassProcessName; string; Name of the mass assignment process for development goals.</li><li>MassRequestId; integer; Unique identifier for the mass assignment request for development goals.</li><li>RequestOnBehalfOfPersonId; integer; Unique identifier for the person requesting the mass assignment process for development goals.</li><li>RequestSubmittedByPersonId; integer; Unique identifier for the person submitting the mass assignment process for development goals.</li><li>RequestTypeCode; string; Request type of the mass assignment process for development goals.</li><li>RequesterName; string; Display name of the person requesting the mass assignment process for development goals.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all mass assignment processes for development goals that match the primary key criteria specified. <br>Finder Variables <ul><li>MassRequestId; integer;  Unique identifier for the mass assignment request for development goals. </li></ul></li><li>filterTalentPoolGoals Finds all mass assignment processes for development goals based on the specified process name or requester; string; 's name. <br>Finder Variables <ul><li>MassRequestId; integer;  Unique identifier for the mass assignment request for development goals. </li></ul></li><li>findByAdvancedSearch Finds all mass assignment processes for development goals based on the specified process name or requester; string; 's name. <br>Finder Variables <ul><li>processName; string;  Name of the mass assignment process for development goals. </li><li>requester; string;  Name of the person requesting the mass assignment process for development goals. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all mass assignment processes for development goals that match the primary key criteria specified.",
                "properties": {
                  "MassRequestId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the mass assignment request for development goals.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "filterTalentPoolGoals",
                "description": "Finds all mass assignment processes for development goals based on the specified process name or requester's name.",
                "title": "filterTalentPoolGoals",
                "properties": {
                  "MassRequestId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the mass assignment request for development goals.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAdvancedSearch",
                "description": "Finds all mass assignment processes for development goals based on the specified process name or requester's name.",
                "title": "findByAdvancedSearch",
                "properties": {
                  "requester": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the person requesting the mass assignment process for development goals.",
                    "type": "string"
                  },
                  "processName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the mass assignment process for development goals.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess"
                }
              }
            },
            "links": {
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds mass assignment processes for development goals that match the specified parameters."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-get",
        "x-filename-id": "devgoalsmassassignprocess-get"
      },
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Create a mass assignment process for development goals",
        "operationId": "create_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/devGoalsMassAssignProcess-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess-item-response"
                }
              }
            },
            "links": {
              "devIncludedWorkers": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devIncludedWorkers/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devIncludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides workers who need to be assigned the development goals that are part of the mass assignment process."
              },
              "addRequesterInfo": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1addRequesterInfo/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Adds a requester and persons reporting to the requester who need to be assigned the development goals included in the mass assignment process."
              },
              "devEligibilityProfiles": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devEligibilityProfiles/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devEligibilityProfiles resource is a child of the devGoalsMassAssignProcesses resource and provides all eligibility profiles that are added to the mass assignment process of development goals."
              },
              "removeRequesterInfo": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1removeRequesterInfo/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Removes requester and persons reporting to them from the mass assignment process of development goals."
              },
              "devExcludedWorkers": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devExcludedWorkers/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devExcludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides all the workers who are excluded from the mass assignment process of development goals."
              },
              "devGoals": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The developmentGoals resource provides the development goals of a worker."
              },
              "copy": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1copy/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Copies the specified mass assignment process for development goals including child objects such as included workers, excluded workers, eligibility profiles, and goals."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-post",
        "x-filename-id": "devgoalsmassassignprocess-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/action/addRequesterInfo": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Add a requester and their hierarchy",
        "description": "Adds a requester and persons reporting to the requester who need to be assigned the development goals included in the mass assignment process.",
        "operationId": "do_addRequesterInfo_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Assignee": {
                    "type": "number",
                    "description": "Cascading level that represents the hierarchy of requester to whom the development goals in the mass assignment process needs to be assigned.",
                    "nullable": true
                  },
                  "PersonId": {
                    "type": "number",
                    "description": "Unique identifier for the requester.",
                    "nullable": true
                  },
                  "AssignmentId": {
                    "type": "number",
                    "description": "Unique identifier for the requester's assignment.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Indicates if requester and persons reporting to the requester are successfully added to the mass assignment process of development goals."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Indicates if requester and persons reporting to the requester are successfully added to the mass assignment process of development goals."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-action-addRequesterInfo-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-action-addrequesterinfo-post"
      }
    },
    "/devGoalsMassAssignProcess/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Find mass assignment processes for development goals",
        "description": "Finds mass assignment processes for development goals that match the specified parameters.",
        "operationId": "doall_findByAdvancedSearchQuery_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Query parameter defines the where clause. The resource collection is queried using the provided expressions. The value of this query parameter is one or more expressions.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Count of maximum records to be retrieved.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the mass assignment of development goals query. The search field can be the name of the mass assignment process.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Filters for the mass assignment of development goals query. These filters can include attributes such as the name of the person requesting the mass assignment of development goals or the name of the mass assignment process.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort criteria for the mass assignment processes of development goals returned by the query. The sort criteria can include the process name or the date the mass assignment process was submitted.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Attributes included in the response of the mass assignment of development goals query. The attributes can be the name of the mass assignment process or the ID of the mass assignment process.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query is completed automatically. Valid values are Y and N. The default value is Y.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the mass assignment of development goals query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the mass assignment of development goals query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "devgoalsmassassignprocess-action-findbyadvancedsearchquery-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/action/removeRequesterInfo": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Remove requester and their hierarchy from mass assignment process",
        "description": "Removes requester and persons reporting to them from the mass assignment process of development goals.",
        "operationId": "do_removeRequesterInfo_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Indicates if requester and persons reporting to them are removed from the mass assignment process of development goals successfully."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Indicates if requester and persons reporting to them are removed from the mass assignment process of development goals successfully."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-action-removeRequesterInfo-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-action-removerequesterinfo-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}": {
      "get": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Get a mass assignment process for development goals",
        "operationId": "get_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess-item-response"
                }
              }
            },
            "links": {
              "devIncludedWorkers": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devIncludedWorkers/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devIncludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides workers who need to be assigned the development goals that are part of the mass assignment process."
              },
              "addRequesterInfo": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1addRequesterInfo/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Adds a requester and persons reporting to the requester who need to be assigned the development goals included in the mass assignment process."
              },
              "devEligibilityProfiles": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devEligibilityProfiles/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devEligibilityProfiles resource is a child of the devGoalsMassAssignProcesses resource and provides all eligibility profiles that are added to the mass assignment process of development goals."
              },
              "removeRequesterInfo": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1removeRequesterInfo/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Removes requester and persons reporting to them from the mass assignment process of development goals."
              },
              "devExcludedWorkers": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devExcludedWorkers/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devExcludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides all the workers who are excluded from the mass assignment process of development goals."
              },
              "devGoals": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The developmentGoals resource provides the development goals of a worker."
              },
              "copy": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1copy/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Copies the specified mass assignment process for development goals including child objects such as included workers, excluded workers, eligibility profiles, and goals."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-get",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-get"
      },
      "delete": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Delete a mass assignment process for development goals",
        "operationId": "delete_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-delete",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-delete"
      },
      "patch": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Update a mass assignment process for development goals",
        "operationId": "update_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/devGoalsMassAssignProcess-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess-item-response"
                }
              }
            },
            "links": {
              "devIncludedWorkers": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devIncludedWorkers/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devIncludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides workers who need to be assigned the development goals that are part of the mass assignment process."
              },
              "addRequesterInfo": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1addRequesterInfo/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Adds a requester and persons reporting to the requester who need to be assigned the development goals included in the mass assignment process."
              },
              "devEligibilityProfiles": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devEligibilityProfiles/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devEligibilityProfiles resource is a child of the devGoalsMassAssignProcesses resource and provides all eligibility profiles that are added to the mass assignment process of development goals."
              },
              "removeRequesterInfo": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1removeRequesterInfo/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Removes requester and persons reporting to them from the mass assignment process of development goals."
              },
              "devExcludedWorkers": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devExcludedWorkers/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The devExcludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides all the workers who are excluded from the mass assignment process of development goals."
              },
              "devGoals": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals/get",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "The developmentGoals resource provides the development goals of a worker."
              },
              "copy": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1action~1copy/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Copies the specified mass assignment process for development goals including child objects such as included workers, excluded workers, eligibility profiles, and goals."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-patch",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-patch"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/action/copy": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process"
        ],
        "summary": "Copy mass assignment process for development goals",
        "description": "Copies the specified mass assignment process for development goals including child objects such as included workers, excluded workers, eligibility profiles, and goals.",
        "operationId": "do_copy_devGoalsMassAssignProcess",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "ID of the new mass assignment process that's created by copying a specified mass assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "ID of the new mass assignment process that's created by copying a specified mass assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-action-copy-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-action-copy-post"
      }
    }
  },
  "components": {
    "schemas": {
      "devGoalsMassAssignProcess": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/devGoalsMassAssignProcess-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "devGoalsMassAssignProcess-item-response": {
        "type": "object",
        "properties": {
          "Assignee": {
            "title": "Assignees",
            "type": "integer",
            "description": "A code that determines the employees in the hierarchy of the requester who need to be assigned the development goals included in the mass assignment process.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person who created the mass assignment process for development goals.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date the mass assignment process for development goals was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date the mass assignment process for development goals was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person who last updated the mass assignment process for development goals.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MassProcessName": {
            "title": "Process Name",
            "maxLength": 200,
            "type": "string",
            "description": "Name of the mass assignment process for development goals.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MassRequestId": {
            "type": "integer",
            "description": "Unique identifier for the mass assignment request for development goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "RequestOnBehalfOfPersonAssignmentId": {
            "title": "Manager Assignment",
            "type": "integer",
            "description": "Unique identifier for the assignment of the person requesting the mass assignment process for development goals.",
            "format": "int64",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RequestOnBehalfOfPersonId": {
            "title": "Requester",
            "type": "integer",
            "description": "Unique identifier for the person requesting the mass assignment process for development goals.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequestSubmittedByPersonId": {
            "title": "Requested By",
            "type": "integer",
            "description": "Unique identifier for the person submitting the mass assignment process for development goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequestTypeCode": {
            "title": "Request Type",
            "maxLength": 30,
            "type": "string",
            "description": "Request type of the mass assignment process for development goals.",
            "nullable": false,
            "default": "ORA_HRG_GL_MASS_ASGN_TEMPLATE",
            "x-queryable": true
          },
          "RequesterName": {
            "title": "Requester",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the person requesting the mass assignment process for development goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "devEligibilityProfiles": {
            "title": "Development Eligibility Profiles",
            "type": "array",
            "description": "The devEligibilityProfiles resource is a child of the devGoalsMassAssignProcesses resource and provides all eligibility profiles that are added to the mass assignment process of development goals.",
            "items": {
              "$ref": "#/components/schemas/devGoalsMassAssignProcess-devEligibilityProfiles-item-response"
            }
          },
          "devExcludedWorkers": {
            "title": "Development Excluded Workers",
            "type": "array",
            "description": "The devExcludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides all the workers who are excluded from the mass assignment process of development goals.",
            "items": {
              "$ref": "#/components/schemas/devGoalsMassAssignProcess-devExcludedWorkers-item-response"
            }
          },
          "devGoals": {
            "title": "Development Goals",
            "type": "array",
            "description": "The developmentGoals resource provides the development goals of a worker.",
            "items": {
              "$ref": "#/components/schemas/devGoalsMassAssignProcess-devGoals-item-response"
            }
          },
          "devIncludedWorkers": {
            "title": "Development Included Workers",
            "type": "array",
            "description": "The devIncludedWorkers resource is a child of the devGoalsMassAssignProcesses resource and provides workers who need to be assigned the development goals that are part of the mass assignment process.",
            "items": {
              "$ref": "#/components/schemas/devGoalsMassAssignProcess-devIncludedWorkers-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "devGoalsMassAssignProcess-devEligibilityProfiles-item-response": {
        "type": "object",
        "properties": {
          "EligObjId": {
            "type": "integer",
            "description": "Unique identifier for the eligibility profile in the development goals mass assignment process.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EligibilityProfileDescription": {
            "maxLength": 255,
            "type": "string",
            "description": "Description of the eligibility profile associated with the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EligibilityProfileId": {
            "title": "Eligibility Profile",
            "type": "integer",
            "description": "Unique identifier for the eligibility profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "EligibilityProfileName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the eligibility profile associated with the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EligibilityProfileObjectId": {
            "type": "integer",
            "description": "Unique internal identifier for the eligibility profile within the mass assignment process of development goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if the eligibility profile is required.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TalentObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the type of Talent object associated with the eligibility profile, which is the mass assignment process of development goals.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "devGoalsMassAssignProcess-devExcludedWorkers-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the assignment of the worker excluded from the mass assignment process of development goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "title": "Assignment Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the assignment of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment number of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "AssignmentStatusType": {
            "title": "Assignment Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status type for the assignment of the worker to be excluded from the mass assignment process of development goals.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessTitle": {
            "title": "Job",
            "maxLength": 255,
            "type": "string",
            "description": "Business title of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person who excluded the worker from the mass assignment process of development goals.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the worker was excluded from the mass assignment process.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DepartmentName": {
            "title": "Department",
            "maxLength": 255,
            "type": "string",
            "description": "Name of the department of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the worker excluded from the mass assignment process.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the details of the worker excluded from the mass assignment process of development goals was last updated.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the person who last updated the details of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ManagerName": {
            "title": "Manager Name",
            "maxLength": 255,
            "type": "string",
            "description": "Name of the manager of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MassRequestExemptionId": {
            "type": "integer",
            "description": "Unique identifier for the mass request exemption.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "MassRequestHierarchyId": {
            "type": "integer",
            "description": "Unique identifier for the mass request hierarchy.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "default": -1,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PersonId": {
            "title": "Person",
            "type": "integer",
            "description": "Unique identifier for the worker excluded from the mass assignment process.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the worker excluded from the mass assignment process.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PositionName": {
            "title": "Position",
            "maxLength": 255,
            "type": "string",
            "description": "Name of the position of the worker excluded from the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "devGoalsMassAssignProcess-devGoals-item-response": {
        "type": "object",
        "properties": {
          "ActiveFlag": {
            "title": "Status",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the development goal is active or not.",
            "nullable": true,
            "x-queryable": true
          },
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Actual completion date of development goal.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AllowKeyAttrUpdateFlag": {
            "title": "Allow Workers to Update Key Attributes",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if managers or workers can update the key attributes of a development goal.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "AssignedByPersonId": {
            "title": "Created By",
            "type": "integer",
            "description": "Unique identifier for the person who assigned the development goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CategoryCode": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category code of a development goal.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "CategoryMeaning": {
            "title": "Category",
            "maxLength": 255,
            "type": "string",
            "description": "Category for the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Goal-specific Comments",
            "type": "string",
            "description": "Comments for the development goal.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date the development goal was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description for the development goal.",
            "nullable": true,
            "x-queryable": false
          },
          "GoalApprovalState": {
            "maxLength": 30,
            "type": "string",
            "description": "Approval state of the development goal.",
            "nullable": true,
            "x-queryable": true
          },
          "GoalId": {
            "title": "Goal ID",
            "type": "integer",
            "description": "Unique identifier for the development goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalName": {
            "title": "Goal Name",
            "maxLength": 400,
            "type": "string",
            "description": "Name of the development goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalSourceCode": {
            "title": "Source",
            "maxLength": 30,
            "type": "string",
            "description": "Source code that indicates who created the development goal. A development goal can be created by a worker, a manager, or an HR specialist.",
            "nullable": false,
            "x-queryable": true
          },
          "GoalVersionTypeCode": {
            "title": "Goal Version Type",
            "maxLength": 30,
            "type": "string",
            "description": "Version code of the development goal.",
            "nullable": false,
            "default": "ACTIVE",
            "x-queryable": true
          },
          "LastModifiedDate": {
            "title": "Last Updated",
            "type": "string",
            "description": "Date the development goal was last modified.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date the development goal was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LevelCode": {
            "title": "Level",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the development goal level.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LevelMeaning": {
            "title": "Level",
            "maxLength": 255,
            "type": "string",
            "description": "Level of the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LoggedInPersonType": {
            "maxLength": 255,
            "type": "string",
            "description": "Person type of the logged in person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MassRequestId": {
            "type": "integer",
            "description": "Unique identifier for the mass assignment request for development goals.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PercentComplete": {
            "title": "Completion Percentage",
            "maxLength": 30,
            "type": "string",
            "description": "Goal completion percentage code.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier for the person who's assigned the development goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person who's assigned the development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the development goal.",
            "nullable": true,
            "default": "MEDIUM",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "PriorityMeaning": {
            "title": "Priority",
            "maxLength": 255,
            "type": "string",
            "description": "Priority of the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrivateFlag": {
            "title": "Private",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the development goal is private or not.",
            "nullable": false,
            "default": false,
            "x-queryable": true
          },
          "RequestContext": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the flow from which the development goal was created. The goal could have been added from a Talent Review meeting or by mass assignment.",
            "nullable": true,
            "x-queryable": true
          },
          "RequiresApprovalStatus": {
            "type": "string",
            "description": "Indicates if the development goal needs to be approved.",
            "nullable": true,
            "x-queryable": false
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the development goal.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the development goal.",
            "nullable": false,
            "default": "NOT_STARTED",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of status code of development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SuccessCriteria": {
            "title": "Success Criteria",
            "type": "string",
            "description": "Success criteria of the development goal.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "TargetCompletionDate": {
            "title": "Target Completion Date",
            "type": "string",
            "description": "Target completion date for the development goal.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "devGoalsMassAssignProcess-devIncludedWorkers-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "title": "Manager Assignment",
            "type": "integer",
            "description": "Unique identifier for the assignment of the worker included in the mass assignment process of development goals.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "title": "Assignment Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the assignment of the worker included in the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment number of the worker included in the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentStatusType": {
            "title": "Assignment Status",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment status type of the worker included in the mass assignment process of development goals.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessTitle": {
            "title": "Job",
            "maxLength": 255,
            "type": "string",
            "description": "Business title of the worker included in the mass assignment process of development goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CascadingLevel": {
            "title": "Assignees",
            "type": "integer",
            "description": "Code that determines which employees reporting to the requester will be assigned the development goals during the mass assignment process. The development goals can be assigned only to the requester, all direct reports of the requester, all direct reports of the requester and the requester, all reports of the requester, and all reports of the requesters and the requester.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who added the worker to the mass assignment process of development goals.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
[...]
