{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Development Goals Mass Assignment Process/Development Goals",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/{GoalId}/action/checkGoalInPDAndCheckInDoc": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Check if goal's evaluated in performance documents and included in check-in documents",
        "description": "Checks if the development goal's evaluated in 1 or more performance documents and included in 1 or more check-in documents.",
        "operationId": "do_checkGoalInPDAndCheckInDoc_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates if the development goal is evaluated in 1 or more performance documents and included in 1 or more check-in documents."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates if the development goal is evaluated in 1 or more performance documents and included in 1 or more check-in documents."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-action-checkGoalInPDAndCheckInDoc-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-action-checkgoalinpdandcheckindoc-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/{GoalId}": {
      "get": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Get a development goal",
        "operationId": "get_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess-devGoals-item-response"
                }
              }
            },
            "links": {
              "checkGoalInPDAndCheckInDoc": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1{GoalId}~1action~1checkGoalInPDAndCheckInDoc/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Checks if the development goal's evaluated in 1 or more performance documents and included in 1 or more check-in documents."
              },
              "copyGoal": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1{GoalId}~1action~1copyGoal/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Copies the attributes of a development goal and creates a new development goal."
              },
              "goalAssignAction": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1{GoalId}~1action~1goalAssignAction/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Assigns a development goal to the selected employees."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-get",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-get"
      },
      "delete": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Delete a development goal",
        "operationId": "delete_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-delete",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-delete"
      },
      "patch": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Update a development goal",
        "operationId": "update_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/devGoalsMassAssignProcess-devGoals-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess-devGoals-item-response"
                }
              }
            },
            "links": {
              "checkGoalInPDAndCheckInDoc": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1{GoalId}~1action~1checkGoalInPDAndCheckInDoc/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Checks if the development goal's evaluated in 1 or more performance documents and included in 1 or more check-in documents."
              },
              "copyGoal": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1{GoalId}~1action~1copyGoal/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Copies the attributes of a development goal and creates a new development goal."
              },
              "goalAssignAction": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1{GoalId}~1action~1goalAssignAction/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId",
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Assigns a development goal to the selected employees."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-patch",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-patch"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/submitEss": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Submit mass assignment process for development goals",
        "description": "Submits mass assignment process for development goals that matches the specified mass assignment request ID.",
        "operationId": "doall_submitEss_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "MassRequestId": {
                    "type": "string",
                    "description": "Unique identifier for the mass assignment request.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier for the mass assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier for the mass assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-submitEss-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-submitess-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/getDevelopmentGoalDetails": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Get development goal details",
        "description": "Gets details of a development goal.",
        "operationId": "doall_getDevelopmentGoalDetails_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalId": {
                    "type": "number",
                    "description": "Identifier of the development goal whose details are retrieved.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value from the custom action containing development goal details."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value from the custom action containing development goal details."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-getDevelopmentGoalDetails-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-getdevelopmentgoaldetails-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/prepareApprovalTxnForSubmission": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Clear comments and attachments",
        "description": "Clears existing comments and removes files attached to the development goals approval request.",
        "operationId": "doall_prepareApprovalTxnForSubmission_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Information related to actions for resubmission of the development goal approval transaction.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-prepareApprovalTxnForSubmission-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-prepareapprovaltxnforsubmission-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/{GoalId}/action/copyGoal": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Copy a development goal",
        "description": "Copies the attributes of a development goal and creates a new development goal.",
        "operationId": "do_copyGoal_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isDevApprovalEnabled": {
                    "type": "string",
                    "description": "Indicates if approval is enabled.",
                    "nullable": true
                  },
                  "GoalName": {
                    "type": "string",
                    "description": "Name of the development goal that's copied.",
                    "nullable": true
                  },
                  "addtnlParams": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Optional additional parameters for the copy development goal custom action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "A new development goal with the attributes of the copied development goal."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "A new development goal with the attributes of the copied development goal."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-{GoalId}-action-copyGoal-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-goalid-action-copygoal-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/deleteGoalsBatchAction": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Delete multiple development goals",
        "description": "Deletes multiple development goals that are specified.",
        "operationId": "doall_deleteGoalsBatchAction_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalIds": {
                    "type": "array",
                    "description": "List of unique identifiers for the development goals that need to be deleted.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map of parameters needed for deleting the development goals.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "An indicator to indicate whether the specified development goals were deleted or not."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "An indicator to indicate whether the specified development goals were deleted or not."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-deleteGoalsBatchAction-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-deletegoalsbatchaction-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/cancelGoalsBatchAction": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Cancel multiple development goals",
        "description": "Cancels multiple development goals that are specified.",
        "operationId": "doall_cancelGoalsBatchAction_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalIds": {
                    "type": "array",
                    "description": "List of unique identifiers for the development goals that need to be canceled.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map of parameters needed for canceling the development goals.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "An indicator to indicate whether the specified development goals were canceled or not."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "An indicator to indicate whether the specified development goals were canceled or not."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-cancelGoalsBatchAction-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-cancelgoalsbatchaction-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/saveDevGoalApproval": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Save development goal data for approval",
        "description": "Saves data of a development goal and its associated tasks and measurements for processing approvals.",
        "operationId": "doall_saveDevGoalApproval_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Resource on which the goal action is going to be done. For example developmentGoals, devGoalTasks.",
                    "nullable": true
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Details of the development goal that needs to be saved. It includes attributes such as the goal name, and goal description.",
                    "nullable": true
                  },
                  "operation": {
                    "type": "string",
                    "description": "Goal action such as create, delete, or update.",
                    "nullable": true
                  },
                  "inputParameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters that identify the development goal that need to be saved, such as the goal ID, and Object ID.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Development goal, measurement, or task after the create or update action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Development goal, measurement, or task after the create or update action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-saveDevGoalApproval-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-savedevgoalapproval-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/createGoalIntents": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Create intents for a development goal",
        "description": "Creates personal intents for a development goal.",
        "operationId": "doall_createGoalIntents_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalId": {
                    "type": "number",
                    "description": "Unique identifier for the development goal to which the intent needs to be added.",
                    "nullable": true
                  },
                  "newPersonalIntents": {
                    "type": "array",
                    "description": "New personal intents for the person associated with the development goal.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "existingIntents": {
                    "type": "array",
                    "description": "List of existing intents for the person associated with the development goal.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Indicates if the person intents were successfully created or not."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Indicates if the person intents were successfully created or not."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-createGoalIntents-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-creategoalintents-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals/action/getDevelopmentLibraryGoalDetails": {
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Copy library goal",
        "description": "Copies the details of the specified library goal to a new goal.",
        "operationId": "doall_getDevelopmentLibraryGoalDetails_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentItemId": {
                    "type": "number",
                    "description": "Unique identifier for the library goal.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Details of the specified library goal."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Details of the specified library goal."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-action-getDevelopmentLibraryGoalDetails-post",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-action-getdevelopmentlibrarygoaldetails-post"
      }
    },
    "/devGoalsMassAssignProcess/{devGoalsMassAssignProcessUniqID}/child/devGoals": {
      "get": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Get all development goals",
        "operationId": "getall_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveFlag; boolean; Indicates if the development goal is active or not.</li><li>ActualCompletionDate; string; Actual completion date of development goal.</li><li>AllowKeyAttrUpdateFlag; boolean; Indicates if managers or workers can update the key attributes of a development goal.</li><li>AssignedByPersonId; integer; Unique identifier for the person who assigned the development goal.</li><li>CategoryCode; string; Category code of a development goal.</li><li>CategoryMeaning; string; Category for the development goal.</li><li>GoalApprovalState; string; Approval state of the development goal.</li><li>GoalId; integer; Unique identifier for the development goal.</li><li>GoalName; string; Name of the development goal.</li><li>GoalSourceCode; string; Source code that indicates who created the development goal. A development goal can be created by a worker, a manager, or an HR specialist.</li><li>GoalVersionTypeCode; string; Version code of the development goal.</li><li>LastModifiedDate; string; Date the development goal was last modified.</li><li>LevelCode; string; Code that indicates the development goal level.</li><li>LevelMeaning; string; Level of the development goal.</li><li>LoggedInPersonType; string; Person type of the logged in person.</li><li>MassRequestId; integer; Unique identifier for the mass assignment request for development goals.</li><li>PercentComplete; string; Goal completion percentage code.</li><li>PersonId; integer; Unique identifier for the person who's assigned the development goal.</li><li>PersonNumber; string; Person number of the person who's assigned the development goal.</li><li>PriorityCode; string; Priority code of the development goal.</li><li>PriorityMeaning; string; Priority of the development goal.</li><li>PrivateFlag; boolean; Indicates if the development goal is private or not.</li><li>RequestContext; string; Indicates the flow from which the development goal was created. The goal could have been added from a Talent Review meeting or by mass assignment.</li><li>StartDate; string; Start date of the development goal.</li><li>Status; string; Status code of the development goal.</li><li>StatusMeaning; string; Meaning of status code of development goal.</li><li>TargetCompletionDate; string; Target completion date for the development goal.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the active and nonprivate development goals of a worker that match the primary key criteria specified. <br>Finder Variables <ul><li>GoalId; integer;  Unique identifier for the development goal. </li></ul></li><li>findByPersonId Finds all development goals for the specified person identifier. <br>Finder Variables <ul><li>GoalId; integer;  Unique identifier for the development goal. </li><li>PersonId; integer;  Unique identifier for the person whose development goals need to be retrieved. </li></ul></li><li>findGoalByEvaluationId Finds a development goal in a specified performance document. <br>Finder Variables <ul><li>EvaluationId; integer;  Unique identifier for the performance document that includes the development goals section. </li><li>GoalId; integer;  Unique identifier for the development goal that's included in the performance document. </li></ul></li><li>findGoalsForCheckInTopics Unique identifier of the person for whom the check-in meeting is scheduled. <br>Finder Variables <ul><li>CheckinMeetingId; integer;  Unique identifier for the check-in meeting. </li><li>PersonId; integer;  Finds all active and nonprivate development goals of a worker that haven't been included in the check-in document of a specified check-in meeting. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the active and nonprivate development goals of a worker that match the primary key criteria specified.",
                "properties": {
                  "GoalId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the development goal.",
                    "type": "integer",
                    "title": "Goal ID"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Finds all development goals for the specified person identifier.",
                "title": "findByPersonId",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person whose development goals need to be retrieved.",
                    "type": "integer"
                  },
                  "GoalId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the development goal.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findGoalByEvaluationId",
                "description": "Finds a development goal in a specified performance document.",
                "title": "findGoalByEvaluationId",
                "properties": {
                  "EvaluationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the performance document that includes the development goals section.",
                    "type": "integer"
                  },
                  "GoalId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Required"
                    },
                    "description": "Unique identifier for the development goal that's included in the performance document.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findGoalsForCheckInTopics",
                "description": "Unique identifier of the person for whom the check-in meeting is scheduled.",
                "title": "findGoalsForCheckInTopics",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all active and nonprivate development goals of a worker that haven't been included in the check-in document of a specified check-in meeting.",
                    "type": "integer"
                  },
                  "CheckinMeetingId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the check-in meeting.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devGoalsMassAssignProcess-devGoals"
                }
              }
            },
            "links": {
              "saveDevGoalApproval": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1saveDevGoalApproval/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Saves data of a development goal and its associated tasks and measurements for processing approvals."
              },
              "getMultipleDevelopmentGoalDetails": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1getMultipleDevelopmentGoalDetails/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Gets details of multiple development goals."
              },
              "submitEss": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1submitEss/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Submits mass assignment process for development goals that matches the specified mass assignment request ID."
              },
              "createGoalIntents": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1createGoalIntents/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Creates personal intents for a development goal."
              },
              "getDevelopmentLibraryGoalDetails": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1getDevelopmentLibraryGoalDetails/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Copies the details of the specified library goal to a new goal."
              },
              "prepareApprovalTxnForSubmission": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1prepareApprovalTxnForSubmission/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Clears existing comments and removes files attached to the development goals approval request."
              },
              "cancelGoalsBatchAction": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1cancelGoalsBatchAction/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Cancels multiple development goals that are specified."
              },
              "deleteGoalsBatchAction": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1deleteGoalsBatchAction/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Deletes multiple development goals that are specified."
              },
              "getDevelopmentGoalDetails": {
                "operationRef": "#/paths/~1devGoalsMassAssignProcess~1{devGoalsMassAssignProcessUniqID}~1child~1devGoals~1action~1getDevelopmentGoalDetails/post",
                "parameters": {
                  "devGoalsMassAssignProcessUniqID": "$request.path.devGoalsMassAssignProcessUniqID"
                },
                "description": "Gets details of a development goal."
              }
            }
          }
        },
        "x-internal-id": "devGoalsMassAssignProcess-{devGoalsMassAssignProcessUniqID}-child-devGoals-get",
        "x-filename-id": "devgoalsmassassignprocess-devgoalsmassassignprocessuniqid-child-devgoals-get"
      },
      "post": {
        "tags": [
          "Development Goals Mass Assignment Process/Development Goals"
        ],
        "summary": "Create a development goal",
        "operationId": "create_devGoalsMassAssignProcess-devGoals",
        "parameters": [
          {
            "name": "devGoalsMassAssignProcessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Development Goals Mass Assignment Process resource and used to uniquely identify an instance of Development Goals Mass Assignment Process. The client should not generate the hash key value. Instead, the client should query on the Development Goals Mass Assignment Process collection resource in order to navigate to a specific instance of Development Goals Mass Assignment Process to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
[...]
