{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Direct Apply Job Applications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingJobSiteJobApplications": {
      "get": {
        "tags": [
          "Direct Apply Job Applications"
        ],
        "summary": "Get all job applications",
        "operationId": "getall_recruitingJobSiteJobApplications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Action; string; Action for the request information application flow.</li><li>ActiveFlag; boolean; Indicates whether the job application is active or not.</li><li>AdditionalSourceInformation; string; Additional source information for the Talent Network partner.</li><li>ApplicationLanguage; string; Application language of the job application.</li><li>CandidateNumber; string; Candidate number in the job application.</li><li>ConfirmedFlag; boolean; Indicates whether the job application is confirmed or not.</li><li>CurrentPhase; string; Current phase of the job application.</li><li>CurrentPhaseId; integer; Current phase ID of the job application.</li><li>CurrentState; string; Current state of the job application.</li><li>CurrentStateId; integer; Current state ID of the job application.</li><li>FlowVersionId; integer; Application flow version ID of the job application.</li><li>PartnerTrackingId; string; Partner tracking ID of the job application.</li><li>PipelineRequisitionFlag; boolean; Pipeline requisition attribute of the job application.</li><li>PipelineSubmissionId; integer; Pipeline job application ID of the job application.</li><li>RequisitionNumber; string; Requisition number of the job application.</li><li>Status; string; Status of the job application.</li><li>SubmissionDate; string; Job application date.</li><li>SubmissionId; integer; Submission ID of the job application.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all job applications using a unique ID. <br>Finder Variables <ul><li>CandidateNumber; string;  Candidate number used to find a job application. </li><li>RequisitionNumber; string;  Requisition number used to find a job application. </li></ul></li><li>findByCandidateNumber Finds all job applications using the candidate number. <br>Finder Variables <ul><li>CandidateNumber; string;  Candidate number used to find a job application. </li></ul></li><li>findByRequisitionNumber Finds all job applications using a requisition number. <br>Finder Variables <ul><li>RequisitionNumber; string;  Requisition number used to find a job application. </li></ul></li><li>findBySubmissionId Finds all job application using the submission ID. <br>Finder Variables <ul><li>SubmissionId; integer;  Submission ID used to find a job application. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all job applications using a unique ID.",
                "properties": {
                  "CandidateNumber": {
                    "nullable": true,
                    "description": "Candidate number used to find a job application.",
                    "type": "string",
                    "maxLength": 255
                  },
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Requisition number used to find a job application.",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              },
              {
                "name": "findByCandidateNumber",
                "description": "Finds all job applications using the candidate number.",
                "title": "findByCandidateNumber",
                "properties": {
                  "CandidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Candidate number used to find a job application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByRequisitionNumber",
                "description": "Finds all job applications using a requisition number.",
                "title": "findByRequisitionNumber",
                "properties": {
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition number used to find a job application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findBySubmissionId",
                "description": "Finds all job application using the submission ID.",
                "title": "findBySubmissionId",
                "properties": {
                  "SubmissionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Submission ID used to find a job application.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteJobApplications"
                }
              }
            },
            "links": {
              "confirm": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1action~1confirm/post",
                "description": "Confirms a job application after it has been created for a candidate for a job requisition."
              },
              "createProspect": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1action~1createProspect/post",
                "description": "Creates a prospect for a candidate."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteJobApplications-get",
        "x-filename-id": "recruitingjobsitejobapplications-get"
      },
      "post": {
        "tags": [
          "Direct Apply Job Applications"
        ],
        "summary": "Create a job application",
        "operationId": "create_recruitingJobSiteJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobSiteJobApplications-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteJobApplications-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire."
              },
              "regulatoryResponses": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1regulatoryResponses/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The regulatoryResponses resource provides details about the responses provided by the candidate for a regulatory question. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1attachments/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The attachments resource provides the miscellaneous attachments provided by the candidate for a request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "esignature": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1esignature/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The e-signature resource provides details about the e-signature entered by the candidate for an application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "secondarySubmissions": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1secondarySubmissions/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The secondarySubmissions resource provides details about the request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "preferredLocations": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1preferredLocations/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteJobApplications-post",
        "x-filename-id": "recruitingjobsitejobapplications-post"
      }
    },
    "/recruitingJobSiteJobApplications/action/createProspect": {
      "post": {
        "tags": [
          "Direct Apply Job Applications"
        ],
        "summary": "Create a prospect",
        "description": "Creates a prospect for a candidate.",
        "operationId": "doall_createProspect_recruitingJobSiteJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requisitionNumber": {
                    "type": "string",
                    "description": "Requisition number to create a prospect.",
                    "nullable": true
                  },
                  "candidateNumber": {
                    "type": "string",
                    "description": "Candidate number to create a prospect.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return of the create prospect action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return of the create prospect action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobSiteJobApplications-action-createProspect-post",
        "x-filename-id": "recruitingjobsitejobapplications-action-createprospect-post"
      }
    },
    "/recruitingJobSiteJobApplications/action/confirm": {
      "post": {
        "tags": [
          "Direct Apply Job Applications"
        ],
        "summary": "Confirm a job application",
        "description": "Confirms a job application after it has been created for a candidate for a job requisition.",
        "operationId": "doall_confirm_recruitingJobSiteJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier to confirm a job application.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return of the confirmed job application."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return of the confirmed job application."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobSiteJobApplications-action-confirm-post",
        "x-filename-id": "recruitingjobsitejobapplications-action-confirm-post"
      }
    },
    "/recruitingJobSiteJobApplications/{recruitingJobSiteJobApplicationsUniqID}": {
      "get": {
        "tags": [
          "Direct Apply Job Applications"
        ],
        "summary": "Get a job application",
        "operationId": "get_recruitingJobSiteJobApplications",
        "parameters": [
          {
            "name": "recruitingJobSiteJobApplicationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CandidateNumber and RequisitionNumber ---for the Direct Apply Job Applications resource and used to uniquely identify an instance of Direct Apply Job Applications. The client should not generate the hash key value.  Instead, the client should query on the Direct Apply Job Applications collection resource with a filter on the primary key values in order to navigate to a specific instance of Direct Apply Job Applications.<br><br>For example: recruitingJobSiteJobApplications?q=CandidateNumber=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteJobApplications-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire."
              },
              "regulatoryResponses": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1regulatoryResponses/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The regulatoryResponses resource provides details about the responses provided by the candidate for a regulatory question. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1attachments/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The attachments resource provides the miscellaneous attachments provided by the candidate for a request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "esignature": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1esignature/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The e-signature resource provides details about the e-signature entered by the candidate for an application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "secondarySubmissions": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1secondarySubmissions/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The secondarySubmissions resource provides details about the request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "preferredLocations": {
                "operationRef": "#/paths/~1recruitingJobSiteJobApplications~1{recruitingJobSiteJobApplicationsUniqID}~1child~1preferredLocations/get",
                "parameters": {
                  "recruitingJobSiteJobApplicationsUniqID": "$request.path.recruitingJobSiteJobApplicationsUniqID"
                },
                "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteJobApplications-{recruitingJobSiteJobApplicationsUniqID}-get",
        "x-filename-id": "recruitingjobsitejobapplications-recruitingjobsitejobapplicationsuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingJobSiteJobApplications": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingJobSiteJobApplications-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "maxLength": 255,
            "type": "string",
            "description": "Action for the request information application flow.",
            "nullable": true,
            "x-queryable": true
          },
          "ActiveFlag": {
            "type": "boolean",
            "description": "Indicates whether the job application is active or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AdditionalSourceInformation": {
            "type": "string",
            "description": "Additional source information for the Talent Network partner.",
            "nullable": true,
            "x-queryable": true
          },
          "ApplicationLanguage": {
            "maxLength": 255,
            "type": "string",
            "description": "Application language of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate number in the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "ConfirmedFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the job application is confirmed or not.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentPhase": {
            "type": "string",
            "description": "Current phase of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentPhaseId": {
            "type": "integer",
            "description": "Current phase ID of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentState": {
            "type": "string",
            "description": "Current state of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentStateId": {
            "type": "integer",
            "description": "Current state ID of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Application flow version ID of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "PartnerTrackingId": {
            "maxLength": 255,
            "type": "string",
            "description": "Partner tracking ID of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "PipelineRequisitionFlag": {
            "type": "boolean",
            "description": "Pipeline requisition attribute of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PipelineSubmissionId": {
            "type": "integer",
            "description": "Pipeline job application ID of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition number of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionDate": {
            "type": "string",
            "description": "Job application date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource provides the miscellaneous attachments provided by the candidate for a request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-attachments-item-response"
            }
          },
          "esignature": {
            "title": "E-signature",
            "type": "array",
            "description": "The e-signature resource provides details about the e-signature entered by the candidate for an application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-esignature-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "preferredLocations": {
            "title": "Preferred Job Locations",
            "type": "array",
            "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-preferredLocations-item-response"
            }
          },
          "questionnaireResponses": {
            "title": "Candidate Responses to Questions",
            "type": "array",
            "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-questionnaireResponses-item-response"
            }
          },
          "regulatoryResponses": {
            "title": "Regulatory Responses",
            "type": "array",
            "description": "The regulatoryResponses resource provides details about the responses provided by the candidate for a regulatory question. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-regulatoryResponses-item-response"
            }
          },
          "secondarySubmissions": {
            "title": "Request Information Flows",
            "type": "array",
            "description": "The secondarySubmissions resource provides details about the request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-secondarySubmissions-item-response"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-attachments-item-response": {
        "type": "object",
        "properties": {
          "Attachment": {
            "type": "string",
            "description": "Name of the attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Category": {
            "type": "string",
            "description": "Category of the attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "FileContents": {
            "type": "string",
            "description": "File content of the attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Id": {
            "type": "string",
            "description": "ID of the attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "string",
            "description": "Submission ID of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-esignature-item-response": {
        "type": "object",
        "properties": {
          "Code": {
            "maxLength": 255,
            "type": "string",
            "description": "Code of the e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "ESignature": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of candidate as entered in the e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "ESignatureDate": {
            "type": "string",
            "description": "Date and time of the e-signature.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "ESignatureId": {
            "type": "integer",
            "description": "Identifier of the e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "IPAddress": {
            "maxLength": 255,
            "type": "string",
            "description": "IP address of the e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "VersionId": {
            "type": "integer",
            "description": "Version ID of the e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-preferredLocations-item-response": {
        "type": "object",
        "properties": {
          "JaPreferredLocationId": {
            "type": "integer",
            "description": "ID assigned to the preferred location mentioned in the job application.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "ID assigned to the preferred location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationType": {
            "maxLength": 1,
            "type": "string",
            "description": "Type of preferred location.",
            "nullable": false,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned to each submission of the preferred location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-questionnaireResponses-item-response": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for which the responses are provided.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionResponses": {
            "type": "string",
            "description": "Responses provided by the candidate for the questionnaire.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "ID of the questionnaire for which the responses are provided",
            "nullable": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of the questionnaire for which the responses are provided.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-regulatoryResponses-item-response": {
        "type": "object",
        "properties": {
          "RegulatoryResponses": {
            "type": "string",
            "description": "Regulatory responses of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition number of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-secondarySubmissions-item-response": {
        "type": "object",
        "properties": {
          "FlowId": {
            "type": "integer",
            "description": "Flow ID of the request information application flow.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryFlowId": {
            "type": "integer",
            "description": "Primary key of the request information application flow.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Status code of the request information application flow.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StepActionUsageId": {
            "type": "integer",
            "description": "Step action usage ID of the request information application flow.",
            "nullable": true,
            "x-queryable": true
          },
          "TriggeredBy": {
            "maxLength": 255,
            "type": "string",
            "description": "User who requested the request information application flow.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TriggeredDate": {
            "type": "string",
            "description": "Date and time when the request for more info was triggered.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-item-post-request": {
        "type": "object",
        "properties": {
          "Action": {
            "maxLength": 255,
            "type": "string",
            "description": "Action for the request information application flow.",
            "nullable": true
          },
          "AdditionalSourceInformation": {
            "type": "string",
            "description": "Additional source information for the Talent Network partner.",
            "nullable": true
          },
          "ApplicationLanguage": {
            "maxLength": 255,
            "type": "string",
            "description": "Application language of the job application.",
            "nullable": true
          },
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate number in the job application.",
            "nullable": true
          },
          "ConfirmedFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the job application is confirmed or not.",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Application flow version ID of the job application.",
            "nullable": true
          },
          "PartnerTrackingId": {
            "maxLength": 255,
            "type": "string",
            "description": "Partner tracking ID of the job application.",
            "nullable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition number of the job application.",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the job application.",
            "nullable": true
          },
          "SubmissionDate": {
            "type": "string",
            "description": "Job application date.",
            "format": "date-time",
            "nullable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID of the job application.",
            "nullable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource provides the miscellaneous attachments provided by the candidate for a request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-attachments-item-post-request"
            }
          },
          "esignature": {
            "title": "E-signature",
            "type": "array",
            "description": "The e-signature resource provides details about the e-signature entered by the candidate for an application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-esignature-item-post-request"
            }
          },
          "preferredLocations": {
            "title": "Preferred Job Locations",
            "type": "array",
            "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-preferredLocations-item-post-request"
            }
          },
          "questionnaireResponses": {
            "title": "Candidate Responses to Questions",
            "type": "array",
            "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-questionnaireResponses-item-post-request"
            }
          },
          "regulatoryResponses": {
            "title": "Regulatory Responses",
            "type": "array",
            "description": "The regulatoryResponses resource provides details about the responses provided by the candidate for a regulatory question. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-regulatoryResponses-item-post-request"
            }
          },
          "secondarySubmissions": {
            "title": "Request Information Flows",
            "type": "array",
            "description": "The secondarySubmissions resource provides details about the request information application flow. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-secondarySubmissions-item-post-request"
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-attachments-item-post-request": {
        "type": "object",
        "properties": {
          "Attachment": {
            "type": "string",
            "description": "Name of the attachment.",
            "nullable": true
          },
          "Category": {
            "type": "string",
            "description": "Category of the attachment.",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true
          },
          "FileContents": {
            "type": "string",
            "description": "File content of the attachment.",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "description": "ID of the attachment.",
            "nullable": true
          },
          "SubmissionId": {
            "type": "string",
            "description": "Submission ID of the job application.",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of attachment.",
            "nullable": true
          }
        }
      },
      "recruitingJobSiteJobApplications-esignature-item-post-request": {
        "type": "object",
        "properties": {
          "Code": {
            "maxLength": 255,
            "type": "string",
            "description": "Code of the e-signature.",
            "nullable": true
          },
          "ESignature": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of candidate as entered in the e-signature.",
            "nullable": true
          },
          "ESignatureDate": {
            "type": "string",
            "description": "Date and time of the e-signature.",
            "format": "date-time",
            "nullable": true
          },
          "ESignatureId": {
            "type": "integer",
            "description": "Identifier of the e-signature.",
            "nullable": true
          },
          "IPAddress": {
            "maxLength": 255,
            "type": "string",
            "description": "IP address of the e-signature.",
            "nullable": true
          },
          "VersionId": {
            "type": "integer",
            "description": "Version ID of the e-signature.",
            "nullable": true
          }
        }
      },
      "recruitingJobSiteJobApplications-preferredLocations-item-post-request": {
        "type": "object",
        "properties": {
          "JaPreferredLocationId": {
            "type": "integer",
            "description": "ID assigned to the preferred location mentioned in the job application.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "LocationId": {
            "type": "integer",
            "description": "ID assigned to the preferred location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "LocationType": {
            "maxLength": 1,
            "type": "string",
            "description": "Type of preferred location.",
            "nullable": false
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned to each submission of the preferred location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "recruitingJobSiteJobApplications-questionnaireResponses-item-post-request": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for which the responses are provided.",
            "nullable": true
          },
          "QuestionResponses": {
            "type": "string",
            "description": "Responses provided by the candidate for the questionnaire.",
            "nullable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "ID of the questionnaire for which the responses are provided",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of the questionnaire for which the responses are provided.",
            "nullable": true
          }
        }
      },
      "recruitingJobSiteJobApplications-regulatoryResponses-item-post-request": {
        "type": "object",
        "properties": {
          "RegulatoryResponses": {
            "type": "string",
            "description": "Regulatory responses of the job application.",
            "nullable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition number of the job application.",
            "nullable": true
          }
        }
      },
      "recruitingJobSiteJobApplications-secondarySubmissions-item-post-request": {
        "type": "object",
        "properties": {
          "StepActionUsageId": {
            "type": "integer",
            "description": "Step action usage ID of the request information application flow.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingJobSiteJobApplications-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingJobSiteJobApplications-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}