{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Document Records",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/documentRecords/action/checkViewUnpublishedAccess": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Check access for unpublished document records",
        "description": "Checks access for unpublished document records for a worker.",
        "operationId": "doall_checkViewUnpublishedAccess_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response for the view access of an unpublished document record."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response for the view access of an unpublished document record."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-checkViewUnpublishedAccess-post",
        "x-filename-id": "documentrecords-action-checkviewunpublishedaccess-post"
      }
    },
    "/documentRecords/action/checkPersonDocumentTypeCreateAccess": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Check document type create access",
        "description": "Checks document type create access for a person.",
        "operationId": "doall_checkPersonDocumentTypeCreateAccess_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentTypeId": {
                    "type": "number",
                    "description": "Document type identifier of the document type for create access.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Person identifier for create access.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Assignment identifier for create access.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the action of checking document type create access."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the action of checking document type create access."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-checkPersonDocumentTypeCreateAccess-post",
        "x-filename-id": "documentrecords-action-checkpersondocumenttypecreateaccess-post"
      }
    },
    "/documentRecords/action/isApprovalInProgress": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Check if approval is in progress for a document record",
        "description": "Checks if approval is in progress for a worker's document record.",
        "operationId": "doall_isApprovalInProgress_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nonDorFlow": {
                    "type": "boolean",
                    "description": "Indicates whether approval is for a stand alone document record flow or for the plug-in region in other flows.",
                    "nullable": true
                  },
                  "documentsOfRecordId": {
                    "type": "number",
                    "description": "Unique identifier of the document record that's in approval.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the action of checking approvals in progress for document records."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the action of checking approvals in progress for document records."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-isApprovalInProgress-post",
        "x-filename-id": "documentrecords-action-isapprovalinprogress-post"
      }
    },
    "/documentRecords": {
      "get": {
        "tags": [
          "Document Records"
        ],
        "summary": "Get all document records",
        "operationId": "getall_documentRecords",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentId; integer; Assignment Identifier of the person assignment.</li><li>AssignmentName; string; Name of the person assignment.</li><li>AssignmentNumber; string; Assignment Number of the person assignment.</li><li>CategoryCode; string; Category for the document type.</li><li>Classification; string; Tags to find document types.</li><li>Comments; string; Comments pertaining to the document record.</li><li>Country; string; Name of the country, if the document type is country specific.</li><li>CreatedBy; string; Name of the user who created the document.</li><li>CreationDate; string; Date on which the document record was created.</li><li>CreationSource; string; Source from which the document record was created.</li><li>DateFrom; string; Date from which the document is valid.</li><li>DateTo; string; Last date up to which the document is valid.</li><li>DisplayName; string; Display name of the person the document record is for.</li><li>DocumentCode; string; Unique code that identifies the document record for the person and document type.</li><li>DocumentName; string; Name for the document record. Used to differentiate records when multiple documents are added for the same document type.</li><li>DocumentNumber; string; Number that legally identifies the document.</li><li>DocumentType; string; Document type for the document record.</li><li>DocumentTypeId; integer; Unique identifier for the document type.</li><li>DocumentsOfRecordId; integer; Surrogate identifier for the record. Applicable to existing records only.</li><li>FullName; string; Full name of the person the document record is for.</li><li>IssuedDate; string; Date on which the document was issued.</li><li>IssuingAuthority; string; Name of the issuing authority.</li><li>IssuingCountry; string; Legislation code of the issuing country.</li><li>IssuingCountryName; string; Name of the country that issued the document.</li><li>IssuingLocation; string; Location at which the document was issued.</li><li>LastUpdateDate; string; Date on which the document record was last updated.</li><li>LastUpdatedBy; string; Name of the user who last updated the document.</li><li>LegislationCode; string; Legislation code, if the document type for this document record is legislation specific.</li><li>ListName; string; Name of the person the document record is for.</li><li>PersonId; integer; Unique identifier for the person.</li><li>PersonNumber; string; Person number of the person the document record is for.</li><li>Publish; string; Option to determine whether or not to publish the document record on a specific date.</li><li>PublishDate; string; Date on which the document was published.</li><li>RelatedObjectId; integer; Unique identifier of the related object.</li><li>RelatedObjectIdColumn; string; Column details of the related object identifier.</li><li>RelatedObjectName; string; Name of the related object.</li><li>SubCategoryCode; string; Subcategory code for the document type.</li><li>SystemDocumentType; string; System-generated name that uniquely identifies the document type.</li><li>TagList; string; Tags to find document types.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the document records that match the specified primary key criteria. <br>Finder Variables <ul><li>DocumentsOfRecordId; integer;  System-generated unique identifier for the document record. </li></ul></li><li>findByAdvancedSearchQuery Finds all the document records for a person based on advanced search query. <br>Finder Variables <ul><li>Keyword; string;  Filter attribute to retrieve document records for a person based on keyword search. </li><li>SearchQuery; string;  Filter attribute to retrieve document records for a person based on search query. </li></ul></li><li>findByDocumentsOfRecordId Finds all the document records. <br>Finder Variables <ul><li>DocumentsOfRecordId; integer;  Filter attribute to retrieve document records based on document records identifier. </li><li>TransactionChangesOnly; string;  Filter attribute to retrieve document records that have a change in the record. </li><li>TransactionId; integer;  Filter attribute to retrieve document records based on transaction identifier. </li></ul></li><li>findByPersonId Finds all the document records for a person. <br>Finder Variables <ul><li>AssignmentId; integer;  Filter attribute to retrieve document records based on assignment identifier. </li><li>DocumentTypeId; integer;  Filter attribute to retrieve document records based on document type identifier. </li><li>PersonId; integer;  Filter attribute to retrieve document records based on person identifier. </li><li>PublishDate; string;  Filter attribute to retrieve document records based on the publish date. </li><li>RelatedObjectId; integer;  Filter attribute to retrieve document records based on related object identifier. </li><li>RelatedObjectIdColumn; string;  Filter attribute to retrieve document records based on related object column identifier. </li><li>RelatedObjectName; string;  Filter attribute to retrieve document records based on related object name. </li><li>TransactionChangesOnly; string;  Filter attribute to retrieve document records for a person that have a change in the record. </li><li>TransactionId; integer;  Filter attribute to retrieve document records for a person based on transaction identifier. </li></ul></li><li>findByPersonIdAfterReload Finds all the document records for a person after reloading pending records. <br>Finder Variables <ul><li>PersonId; integer;  Filter attribute to retrieve document records for a person after reloading pending records based on person identifier. </li><li>TransactionChangesOnly; string;  Filter attribute to retrieve document records for a person after reloading pending records based on transaction changes. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the document records that match the specified primary key criteria.",
                "properties": {
                  "DocumentsOfRecordId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "System-generated unique identifier for the document record.",
                    "type": "integer",
                    "title": "Document Record ID"
                  }
                }
              },
              {
                "name": "findByAdvancedSearchQuery",
                "description": "Finds all the document records for a person based on advanced search query.",
                "title": "findByAdvancedSearchQuery",
                "properties": {
                  "SearchQuery": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records for a person based on search query.",
                    "type": "string"
                  },
                  "Keyword": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records for a person based on keyword search.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByDocumentsOfRecordId",
                "description": "Finds all the document records.",
                "title": "findByDocumentsOfRecordId",
                "properties": {
                  "TransactionChangesOnly": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records that have a change in the record.",
                    "type": "string"
                  },
                  "DocumentsOfRecordId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on document records identifier.",
                    "type": "integer"
                  },
                  "TransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on transaction identifier.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Finds all the document records for a person.",
                "title": "findByPersonId",
                "properties": {
                  "RelatedObjectId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on related object identifier.",
                    "type": "integer"
                  },
                  "PublishDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Filter attribute to retrieve document records based on the publish date.",
                    "type": "string"
                  },
                  "TransactionChangesOnly": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records for a person that have a change in the record.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on person identifier.",
                    "type": "integer"
                  },
                  "RelatedObjectIdColumn": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on related object column identifier.",
                    "type": "string"
                  },
                  "RelatedObjectName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on related object name.",
                    "type": "string"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on assignment identifier.",
                    "type": "integer"
                  },
                  "DocumentTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records based on document type identifier.",
                    "type": "integer"
                  },
                  "TransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records for a person based on transaction identifier.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPersonIdAfterReload",
                "description": "Finds all the document records for a person after reloading pending records.",
                "title": "findByPersonIdAfterReload",
                "properties": {
                  "TransactionChangesOnly": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records for a person after reloading pending records based on transaction changes.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document records for a person after reloading pending records based on person identifier.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords"
                }
              }
            },
            "links": {
              "isApprovalInProgress": {
                "operationRef": "#/paths/~1documentRecords~1action~1isApprovalInProgress/post",
                "description": "Checks if approval is in progress for a worker's document record."
              },
              "checkPersonDocumentTypeDeleteAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkPersonDocumentTypeDeleteAccess/post",
                "description": "Checks document type delete access for a person."
              },
              "checkPersonDocumentTypeManageAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkPersonDocumentTypeManageAccess/post",
                "description": "Person identifier for the document record."
              },
              "checkMassdownloadAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkMassdownloadAccess/post",
                "description": "Checks mass download access of document records."
              },
              "checkViewUnpublishedAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkViewUnpublishedAccess/post",
                "description": "Checks access for unpublished document records for a worker."
              },
              "checkManageAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkManageAccess/post",
                "description": "Checks manage access of document records."
              },
              "checkPersonDocumentTypeCreateAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkPersonDocumentTypeCreateAccess/post",
                "description": "Checks document type create access for a person."
              },
              "downloadAttachments": {
                "operationRef": "#/paths/~1documentRecords~1action~1downloadAttachments/post",
                "description": "Downloads attachments for a document record of a worker."
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1documentRecords~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds document records for a worker."
              },
              "generateDraftLetter": {
                "operationRef": "#/paths/~1documentRecords~1action~1generateDraftLetter/post",
                "description": "Generates letter for a document record for a worker."
              },
              "checkPersonDocumentTypeEditAccess": {
                "operationRef": "#/paths/~1documentRecords~1action~1checkPersonDocumentTypeEditAccess/post",
                "description": "Checks document type edit access for a person."
              }
            }
          }
        },
        "x-internal-id": "documentRecords-get",
        "x-filename-id": "documentrecords-get"
      },
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Create a document record",
        "operationId": "create_documentRecords",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/documentRecords-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1attachments/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "bannerOverrideMessages": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1bannerOverrideMessages/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object."
              },
              "documentRecordsDDF": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1documentRecordsDDF/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                }
              },
              "DocumentTypeLOV": {
                "operationRef": "#/paths/~1hrDocumentTypesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BPersonId%3D{PersonId}%2CAssignmentId%3D{AssignmentId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DocumentType; Target Attribute: DocumentType</li><li>Display Attribute: DocumentType</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DocumentType",
                  "displayValues": [
                    "DocumentType"
                  ],
                  "derivedFieldsMapping": {
                    "hrDocumentTypesLOV.DocumentTypeId": [
                      "DocumentTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "DocumentType",
                  "displayFields": [
                    "DocumentType"
                  ]
                }
              },
              "attachmentsPreview": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1attachmentsPreview/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documentRecordsDFF": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1documentRecordsDFF/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                }
              },
              "ExtendedLookupCodeLOVVA": {
                "operationRef": "#/paths/~1hcmExtendedLookupCodesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BLookupCode%3D{CategoryCode}%2CLookupType%3DDOCUMENT_CATEGORY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubCategoryCode; Target Attribute: ExtendedLookupCode</li><li>Display Attribute: ExtendedLookupName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubCategoryCode",
                  "displayValues": [
                    "ExtendedLookupName"
                  ],
                  "itemsPath": "items",
                  "valueField": "ExtendedLookupCode",
                  "displayFields": [
                    "ExtendedLookupName"
                  ]
                }
              },
              "DocumentTypeIdLOVVA": {
                "operationRef": "#/paths/~1hrDocumentTypesLOV/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DocumentTypeId; Target Attribute: DocumentTypeId</li><li>Display Attribute: DocumentType</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DocumentTypeId",
                  "displayValues": [
                    "DocumentType"
                  ],
                  "itemsPath": "items",
                  "valueField": "DocumentTypeId",
                  "displayFields": [
                    "DocumentType"
                  ]
                }
              },
              "CountryLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "TagLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_DOC_TYPE_TAGS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Classification; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Classification",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CategoryLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeAllRowsFinder%3BLookupType%3DDOCUMENT_CATEGORY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CategoryCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CategoryCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "IssuingNameLovVA": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountryName; Target Attribute: CountryName</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountryName",
                  "displayValues": [
                    "CountryName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmCountriesLov.TerritoryCode": [
                      "IssuingCountry"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CountryName",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "hrDocumentTypes": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1hrDocumentTypes/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The hrDocumentTypes resource includes all the document types based on which document records are created for a person."
              },
              "SystemDocumentTypeLOV": {
                "operationRef": "#/paths/~1hrDocumentTypesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BAssignmentId%3D{AssignmentId}%2CPersonId%3D{PersonId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SystemDocumentType; Target Attribute: SystemDocumentType</li><li>Display Attribute: SystemDocumentType</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SystemDocumentType",
                  "displayValues": [
                    "SystemDocumentType"
                  ],
                  "derivedFieldsMapping": {
                    "hrDocumentTypesLOV.DocumentTypeId": [
                      "DocumentTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SystemDocumentType",
                  "displayFields": [
                    "SystemDocumentType"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-post",
        "x-filename-id": "documentrecords-post"
      }
    },
    "/documentRecords/action/downloadAttachments": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Download attachments for a document record",
        "description": "Downloads attachments for a document record of a worker.",
        "operationId": "doall_downloadAttachments_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the document record.",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "description": "Filter for download of attachments for document records.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the document record search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for the action of downloading attachments of document records."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for the action of downloading attachments of document records."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-downloadAttachments-post",
        "x-filename-id": "documentrecords-action-downloadattachments-post"
      }
    },
    "/documentRecords/action/checkManageAccess": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Check manage access",
        "description": "Checks manage access of document records.",
        "operationId": "doall_checkManageAccess_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "personId": {
                    "type": "number",
                    "description": "Person identifier for the document record.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the manage access action of a document record."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the manage access action of a document record."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-checkManageAccess-post",
        "x-filename-id": "documentrecords-action-checkmanageaccess-post"
      }
    },
    "/documentRecords/action/checkMassdownloadAccess": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Check mass download access",
        "description": "Checks mass download access of document records.",
        "operationId": "doall_checkMassdownloadAccess_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the manage access action of mass download of document records."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the manage access action of mass download of document records."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-checkMassdownloadAccess-post",
        "x-filename-id": "documentrecords-action-checkmassdownloadaccess-post"
      }
    },
    "/documentRecords/action/checkPersonDocumentTypeEditAccess": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Check document type edit access",
        "description": "Checks document type edit access for a person.",
        "operationId": "doall_checkPersonDocumentTypeEditAccess_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentTypeId": {
                    "type": "number",
                    "description": "Document type identifier of the document type for edit access.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Person identifier for edit access.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Assignment identifier for edit access.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the action of checking document type edit access."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response returned for the action of checking document type edit access."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-checkPersonDocumentTypeEditAccess-post",
        "x-filename-id": "documentrecords-action-checkpersondocumenttypeeditaccess-post"
      }
    },
    "/documentRecords/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Find document records",
        "description": "Finds document records for a worker.",
        "operationId": "doall_findByAdvancedSearchQuery_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the document record result limit.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the document record.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit for document record result fetch size.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the document record keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the document record search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the document record search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the document record search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Auto complete indicator of the document record query. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for a document record query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for a document record query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "documentrecords-action-findbyadvancedsearchquery-post"
      }
    },
    "/documentRecords/action/generateDraftLetter": {
      "post": {
        "tags": [
          "Document Records"
        ],
        "summary": "Generate letter for a document record",
        "description": "Generates letter for a document record for a worker.",
        "operationId": "doall_generateDraftLetter_documentRecords",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributeNameValues": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Attributes mapped for generating letter for a document record.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for the action of generating letter for a document record."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for the action of generating letter for a document record."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-action-generateDraftLetter-post",
        "x-filename-id": "documentrecords-action-generatedraftletter-post"
      }
    },
    "/documentRecords/{DocumentsOfRecordId}": {
      "get": {
        "tags": [
          "Document Records"
        ],
        "summary": "Get a document record",
        "operationId": "get_documentRecords",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1attachments/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "bannerOverrideMessages": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1bannerOverrideMessages/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object."
              },
              "documentRecordsDDF": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1documentRecordsDDF/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                }
              },
              "DocumentTypeLOV": {
                "operationRef": "#/paths/~1hrDocumentTypesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BPersonId%3D{PersonId}%2CAssignmentId%3D{AssignmentId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DocumentType; Target Attribute: DocumentType</li><li>Display Attribute: DocumentType</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DocumentType",
                  "displayValues": [
                    "DocumentType"
                  ],
                  "derivedFieldsMapping": {
                    "hrDocumentTypesLOV.DocumentTypeId": [
                      "DocumentTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "DocumentType",
                  "displayFields": [
                    "DocumentType"
                  ]
                }
              },
              "attachmentsPreview": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1attachmentsPreview/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documentRecordsDFF": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1documentRecordsDFF/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                }
              },
              "ExtendedLookupCodeLOVVA": {
                "operationRef": "#/paths/~1hcmExtendedLookupCodesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BLookupCode%3D{CategoryCode}%2CLookupType%3DDOCUMENT_CATEGORY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubCategoryCode; Target Attribute: ExtendedLookupCode</li><li>Display Attribute: ExtendedLookupName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubCategoryCode",
                  "displayValues": [
                    "ExtendedLookupName"
                  ],
                  "itemsPath": "items",
                  "valueField": "ExtendedLookupCode",
                  "displayFields": [
                    "ExtendedLookupName"
                  ]
                }
              },
              "DocumentTypeIdLOVVA": {
                "operationRef": "#/paths/~1hrDocumentTypesLOV/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DocumentTypeId; Target Attribute: DocumentTypeId</li><li>Display Attribute: DocumentType</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DocumentTypeId",
                  "displayValues": [
                    "DocumentType"
                  ],
                  "itemsPath": "items",
                  "valueField": "DocumentTypeId",
                  "displayFields": [
                    "DocumentType"
                  ]
                }
              },
              "CountryLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "TagLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_DOC_TYPE_TAGS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Classification; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Classification",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CategoryLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeAllRowsFinder%3BLookupType%3DDOCUMENT_CATEGORY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CategoryCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CategoryCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "IssuingNameLovVA": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountryName; Target Attribute: CountryName</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountryName",
                  "displayValues": [
                    "CountryName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmCountriesLov.TerritoryCode": [
                      "IssuingCountry"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CountryName",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "hrDocumentTypes": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1hrDocumentTypes/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "The hrDocumentTypes resource includes all the document types based on which document records are created for a person."
              },
              "SystemDocumentTypeLOV": {
                "operationRef": "#/paths/~1hrDocumentTypesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BAssignmentId%3D{AssignmentId}%2CPersonId%3D{PersonId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SystemDocumentType; Target Attribute: SystemDocumentType</li><li>Display Attribute: SystemDocumentType</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SystemDocumentType",
                  "displayValues": [
                    "SystemDocumentType"
                  ],
                  "derivedFieldsMapping": {
                    "hrDocumentTypesLOV.DocumentTypeId": [
                      "DocumentTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SystemDocumentType",
                  "displayFields": [
                    "SystemDocumentType"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-get",
        "x-filename-id": "documentrecords-documentsofrecordid-get"
      },
      "delete": {
        "tags": [
          "Document Records"
        ],
        "summary": "Delete a document record",
        "operationId": "delete_documentRecords",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-delete",
        "x-filename-id": "documentrecords-documentsofrecordid-delete"
      },
      "patch": {
        "tags": [
          "Document Records"
        ],
        "summary": "Update a document record",
        "operationId": "update_documentRecords",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/documentRecords-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
[...]
