{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Document Records/HR Document Types",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/documentRecords/{DocumentsOfRecordId}/child/hrDocumentTypes/action/checkManageAccess": {
      "post": {
        "tags": [
          "Document Records/HR Document Types"
        ],
        "summary": "Check add access",
        "description": "Checks add access of document types.",
        "operationId": "doall_checkManageAccess_documentRecords-hrDocumentTypes",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response for the add action of document types."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response for the add action of document types."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-hrDocumentTypes-action-checkManageAccess-post",
        "x-filename-id": "documentrecords-documentsofrecordid-child-hrdocumenttypes-action-checkmanageaccess-post"
      }
    },
    "/documentRecords/{DocumentsOfRecordId}/child/hrDocumentTypes/{DocumentTypeId}": {
      "get": {
        "tags": [
          "Document Records/HR Document Types"
        ],
        "summary": "Get a document type",
        "operationId": "get_documentRecords-hrDocumentTypes",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "DocumentTypeId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Type ID",
              "type": "integer",
              "description": "Surrogate ID for the document type which is available only when updating existing records.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-hrDocumentTypes-item-response"
                }
              }
            },
            "links": {
              "documentTypesDDF": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1hrDocumentTypes~1{DocumentTypeId}~1child~1documentTypesDDF/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId",
                  "DocumentTypeId": "$request.path.DocumentTypeId"
                }
              },
              "YesNoLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PublishRequiredFlag; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PublishRequiredFlag",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "SubcategoryCodeLovVA": {
                "operationRef": "#/paths/~1hcmExtendedLookupCodesLOV/get",
                "parameters": {
                  "finder": "findByWord%3BLookupCode%3D{CategoryCode}%2CLookupType%3DDOCUMENT_CATEGORY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubCategoryCode; Target Attribute: ExtendedLookupCode</li><li>Display Attribute: ExtendedLookupName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubCategoryCode",
                  "displayValues": [
                    "ExtendedLookupName"
                  ],
                  "itemsPath": "items",
                  "valueField": "ExtendedLookupCode",
                  "displayFields": [
                    "ExtendedLookupName"
                  ]
                }
              },
              "YesNoRequiredLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO_REQUIRED"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingLocationRequired; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingLocationRequired",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "documentTypesDFF": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1hrDocumentTypes~1{DocumentTypeId}~1child~1documentTypesDFF/get",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId",
                  "DocumentTypeId": "$request.path.DocumentTypeId"
                }
              },
              "HierarchyCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DDOCUMENT_HIERARCHY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: HierarchyCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/HierarchyCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DescriptiveFlexfieldContextLOVVA": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOCUMENTS_OF_RECORD_DFF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DffCtxSegDefaultValue; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DffCtxSegDefaultValue",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "DocumentTypeLevelLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_DOCUMENT_TYPE_LEVEL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DocumentTypeLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DocumentTypeLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CategoryLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DDOCUMENT_CATEGORY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CategoryCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CategoryCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CountryLOVVA": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "parameters": {
                  "finder": "findByWord"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegislationCode; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegislationCode",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "ArchiveCriteriaLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_DOC_ARCHIVE_BASIS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ArchiveCriteriaBasis; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ArchiveCriteriaBasis",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "SegmentDisplayLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_DOR_DFF_SEG_DISPLAY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DffGlbSegDisplayPreference; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DffGlbSegDisplayPreference",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-hrDocumentTypes-{DocumentTypeId}-get",
        "x-filename-id": "documentrecords-documentsofrecordid-child-hrdocumenttypes-documenttypeid-get"
      }
    },
    "/documentRecords/{DocumentsOfRecordId}/child/hrDocumentTypes/action/checkManageDocumentTypeAccess": {
      "post": {
        "tags": [
          "Document Records/HR Document Types"
        ],
        "summary": "Check manage access for a document type",
        "description": "Checks manage access of a specific document type.",
        "operationId": "doall_checkManageDocumentTypeAccess_documentRecords-hrDocumentTypes",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentTypeId": {
                    "type": "number",
                    "description": "Document type identifier of the document type.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response for the manage access action of a document type."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Response for the manage access action of a document type."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-hrDocumentTypes-action-checkManageDocumentTypeAccess-post",
        "x-filename-id": "documentrecords-documentsofrecordid-child-hrdocumenttypes-action-checkmanagedocumenttypeaccess-post"
      }
    },
    "/documentRecords/{DocumentsOfRecordId}/child/hrDocumentTypes": {
      "get": {
        "tags": [
          "Document Records/HR Document Types"
        ],
        "summary": "Get all document types",
        "operationId": "getall_documentRecords-hrDocumentTypes",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveInactiveFlag; boolean; Indicates whether the document type is active. The default value is Yes.</li><li>ArchiveCriteriaBasis; string; Criteria for archiving document records based on the document type.</li><li>ArchiveCriteriaDays; integer; Number of days after which document records are archived based on the document type.</li><li>AuthorizationRequiredFlag; boolean; Indicates whether approval is required for the document type. The default value is No.</li><li>BiReportPath; string; URL or path where the report is available.</li><li>CategoryCode; string; Category of the document type.</li><li>CategoryMeaning; string; Category meaning of the document type.</li><li>CommentsLabel; string; Label for the field that the user defines for the issuing comments.</li><li>CommentsRequired; string; Indicates whether comments are relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>CountryName; string; Name of the country for the document type.</li><li>CreatedBy; string; Name of the user who created the document type.</li><li>CreationDate; string; Date on which the document type was created.</li><li>DateFromLabel; string; Label for the field that the user defines for the from date.</li><li>DateFromRequired; string; Indicates whether date from is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>DateToLabel; string; Label for the field that the user defines for the to date.</li><li>DateToRequired; string; Indicates whether date to is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>Description; string; Description for the document type.</li><li>DffCtxSegDefaultValue; string; Default value for the document records flexfield context segment.</li><li>DffCtxSegDisplayPreference; string; Display preference for the document records flexfield context segment.</li><li>DffGlbSegDisplayPreference; string; Display preference for the document records flexfield global segment.</li><li>DocumentNameLabel; string; Label for the field that the user defines for the document name.</li><li>DocumentNameRequired; string; Indicates whether document name is relevant (Y) or required (R) or not relevant (N). The default setting is relevant (Y).</li><li>DocumentNumberLabel; string; Label for the field that the user defines for the document number.</li><li>DocumentNumberRequired; string; Indicates whether document number is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>DocumentType; string; Unique name to identify the document type.</li><li>DocumentTypeId; integer; Surrogate ID for the document type which is available only when updating existing records.</li><li>DocumentTypeLevel; string; Indicates whether the document type applies to a person or an individual assignment. The default value is Person.</li><li>HierarchyCode; string; Hierarchy code to support delivery preferences on this document type.</li><li>IssuedDateLabel; string; Label for the field that the user defines for the issued date.</li><li>IssuedDateRequired; string; Indicates whether issued date is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>IssuingAuthorityLabel; string; Label for the field that the user defines for the issuing authority.</li><li>IssuingAuthorityRequired; string; Indicates whether issuing authority is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>IssuingCountryLabel; string; Label for the field that the user defines for the issuing country.</li><li>IssuingCountryRequired; string; Indicates whether issuing country is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>IssuingLocationLabel; string; Label for the field that the user defines for the issuing location.</li><li>IssuingLocationRequired; string; Indicates whether issuing location is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).</li><li>LastUpdateDate; string; Date the document type was last updated.</li><li>LastUpdatedBy; string; User who last updated the document type.</li><li>LegislationCode; string; Legislation code if this is a legislation specific document type.</li><li>LockCreateFlag; boolean; Indicates whether it restricts or allows creating document records of this document type. The default value is No</li><li>LockCreateRoleList; string; List of roles that can create document records based on the document type.</li><li>LockDeleteFlag; boolean; Indicates whether it restricts or allows deleting document records of this document type. The default value is No.</li><li>LockDeleteRoleList; string; List of roles allowed to delete document records based on the document type.</li><li>LockUpdateFlag; boolean; Indicates whether it restricts or allows updating document records of this document type. The default value is No.</li><li>LockUpdateRoleList; string; List of roles allowed to update document records based on the document type.</li><li>MinimumAttachmentsCount; integer; Minimum number of attachments that a user must attach for a specific document type.</li><li>MultipleOccurencesFlag; boolean; Indicates whether multiple occurrences of this document type are allowed. The default value is Yes.</li><li>PublishRequiredFlag; boolean; Indicates whether document records of this document type must be published. The default value is No.</li><li>PurgeArchiveCriteriaDays; integer; Number of days after which archived document records will be purged.</li><li>SubCategoryCode; string; Code of the subcategory for the document type.</li><li>SubCategoryMeaning; string; Subcategory meaning of the document type.</li><li>SystemDocumentType; string; System-generated name that uniquely identifies the document type.</li><li>TagList; string; Lookup code of the tag used for the document type derived from the lookup ORA_PER_DOC_TYPE_TAGS.</li><li>WarningPeriod; integer; Number of days in advance to generate an alert when a document record based on this document type is about to expire.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the document types that match the specified primary key criteria. <br>Finder Variables <ul><li>DocumentTypeId; integer;  Unique identifier of the document type. </li></ul></li><li>findByDocumentType Finds all the document types that match the specified criteria. <br>Finder Variables <ul><li>DocumentType; string;  Filter attribute to retrieve document types based on document type. </li><li>LegislationCode; string;  Filter attribute to retrieve document types based on legislation code. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the document types that match the specified primary key criteria.",
                "properties": {
                  "DocumentTypeId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier of the document type.",
                    "type": "integer",
                    "title": "Document Type ID"
                  }
                }
              },
              {
                "name": "findByDocumentType",
                "description": "Finds all the document types that match the specified criteria.",
                "title": "findByDocumentType",
                "properties": {
                  "LegislationCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document types based on legislation code.",
                    "type": "string"
                  },
                  "DocumentType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document types based on document type.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-hrDocumentTypes"
                }
              }
            },
            "links": {
              "checkManageDocumentTypeAccess": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1hrDocumentTypes~1action~1checkManageDocumentTypeAccess/post",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "Checks manage access of a specific document type."
              },
              "checkManageAccess": {
                "operationRef": "#/paths/~1documentRecords~1{DocumentsOfRecordId}~1child~1hrDocumentTypes~1action~1checkManageAccess/post",
                "parameters": {
                  "DocumentsOfRecordId": "$request.path.DocumentsOfRecordId"
                },
                "description": "Checks add access of document types."
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-hrDocumentTypes-get",
        "x-filename-id": "documentrecords-documentsofrecordid-child-hrdocumenttypes-get"
      }
    }
  },
  "components": {
    "schemas": {
      "documentRecords-hrDocumentTypes-item-response": {
        "type": "object",
        "properties": {
          "ActiveInactiveFlag": {
            "title": "Active",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the document type is active. The default value is Yes.",
            "nullable": false,
            "default": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ArchiveCriteriaBasis": {
            "title": "Archive Criteria Basis",
            "maxLength": 30,
            "type": "string",
            "description": "Criteria for archiving document records based on the document type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "ArchiveCriteriaDays": {
            "title": "Archive After Days",
            "type": "integer",
            "description": "Number of days after which document records are archived based on the document type.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 5,
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "AuthorizationRequiredFlag": {
            "title": "Approval Required",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether approval is required for the document type. The default value is No.",
            "nullable": false,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BiReportPath": {
            "title": "Report Path",
            "maxLength": 2000,
            "type": "string",
            "description": "URL or path where the report is available.",
            "nullable": true,
            "x-queryable": true
          },
          "CategoryCode": {
            "title": "Category Code",
            "maxLength": 30,
            "type": "string",
            "description": "Category of the document type.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CategoryMeaning": {
            "title": "Category",
            "maxLength": 80,
            "type": "string",
            "description": "Category meaning of the document type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CommentsLabel": {
            "title": "New Label for Issuing Comments",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the issuing comments.",
            "nullable": true,
            "x-queryable": true
          },
          "CommentsRequired": {
            "title": "Issuing Comments Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether comments are relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "CountryName": {
            "title": "Territory Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the country for the document type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who created the document type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date on which the document type was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DateFromLabel": {
            "title": "New Label for From Date",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the from date.",
            "nullable": true,
            "x-queryable": true
          },
          "DateFromRequired": {
            "title": "From Date Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether date from is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DateToLabel": {
            "title": "New Label for To Date",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the to date.",
            "nullable": true,
            "x-queryable": true
          },
          "DateToRequired": {
            "title": "To Date Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether date to is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description for the document type.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DffCtxSegDefaultValue": {
            "title": "Default Value for Context Segment",
            "maxLength": 120,
            "type": "string",
            "description": "Default value for the document records flexfield context segment.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DffCtxSegDisplayPreference": {
            "title": "Display Preference for Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Display preference for the document records flexfield context segment.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DffGlbSegDisplayPreference": {
            "title": "Display Preference for Global Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Display preference for the document records flexfield global segment.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DocumentNameLabel": {
            "title": "New Label for Name",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the document name.",
            "nullable": true,
            "x-queryable": true
          },
          "DocumentNameRequired": {
            "title": "Document Name Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether document name is relevant (Y) or required (R) or not relevant (N). The default setting is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DocumentNumberLabel": {
            "title": "New Label for Number",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the document number.",
            "nullable": true,
            "x-queryable": true
          },
          "DocumentNumberRequired": {
            "title": "Document Number Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether document number is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DocumentType": {
            "title": "Document Type",
            "maxLength": 80,
            "type": "string",
            "description": "Unique name to identify the document type.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DocumentTypeId": {
            "title": "Document Type ID",
            "type": "integer",
            "description": "Surrogate ID for the document type which is available only when updating existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "DocumentTypeLevel": {
            "title": "Document Type Level",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the document type applies to a person or an individual assignment. The default value is Person.",
            "nullable": false,
            "default": "ORA_P",
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "HierarchyCode": {
            "title": "Override Hierarchy",
            "maxLength": 30,
            "type": "string",
            "description": "Hierarchy code to support delivery preferences on this document type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "IssuedDateLabel": {
            "title": "New Label for Issued On",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the issued date.",
            "nullable": true,
            "x-queryable": true
          },
          "IssuedDateRequired": {
            "title": "Issued on Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether issued date is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "IssuingAuthorityLabel": {
            "title": "New Label for Issuing Authority",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the issuing authority.",
            "nullable": true,
            "x-queryable": true
          },
          "IssuingAuthorityRequired": {
            "title": "Issuing Authority Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether issuing authority is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "IssuingCountryLabel": {
            "title": "New Label for Issuing Country",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the issuing country.",
            "nullable": true,
            "x-queryable": true
          },
          "IssuingCountryRequired": {
            "title": "Issuing Country Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether issuing country is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "IssuingLocationLabel": {
            "title": "New Label for Issuing Location",
            "maxLength": 200,
            "type": "string",
            "description": "Label for the field that the user defines for the issuing location.",
            "nullable": true,
            "x-queryable": true
          },
          "IssuingLocationRequired": {
            "title": "Issuing Location Applicable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether issuing location is relevant (Y) or required (R) or not relevant (N). The default value is relevant (Y).",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the document type was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the document type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislationCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code if this is a legislation specific document type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LockCreateFlag": {
            "title": "Restrict Create",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether it restricts or allows creating document records of this document type. The default value is No",
            "nullable": true,
            "default": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LockCreateRoleList": {
            "title": "Roles Excluded from Restriction",
            "maxLength": 4000,
            "type": "string",
            "description": "List of roles that can create document records based on the document type.",
            "nullable": true,
            "x-queryable": true
          },
          "LockDeleteFlag": {
            "title": "Restrict Delete",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether it restricts or allows deleting document records of this document type. The default value is No.",
            "nullable": true,
            "default": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LockDeleteRoleList": {
            "title": "Roles Excluded from Restriction",
            "maxLength": 4000,
            "type": "string",
            "description": "List of roles allowed to delete document records based on the document type.",
            "nullable": true,
            "x-queryable": true
          },
          "LockUpdateFlag": {
            "title": "Restrict Update",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether it restricts or allows updating document records of this document type. The default value is No.",
            "nullable": true,
            "default": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LockUpdateRoleList": {
            "title": "Roles Excluded from Restriction",
            "maxLength": 4000,
            "type": "string",
            "description": "List of roles allowed to update document records based on the document type.",
            "nullable": true,
            "x-queryable": true
          },
          "MinimumAttachmentsCount": {
            "title": "Minimum Attachments",
            "type": "integer",
            "description": "Minimum number of attachments that a user must attach for a specific document type.",
            "format": "int32",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 5
            },
            "x-queryable": true
          },
          "MultipleOccurencesFlag": {
            "title": "Allow multiple occurrences",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether multiple occurrences of this document type are allowed. The default value is Yes.",
            "nullable": false,
            "default": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PublishRequiredFlag": {
            "title": "Publish Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether document records of this document type must be published. The default value is No.",
            "nullable": false,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PurgeArchiveCriteriaDays": {
            "title": "Purge After Days",
            "type": "integer",
            "description": "Number of days after which archived document records will be purged.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 5,
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "SubCategoryCode": {
            "title": "Subcategory Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the subcategory for the document type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "CategoryCode"
              ]
            },
            "x-queryable": true
          },
          "SubCategoryMeaning": {
            "title": "Subcategory",
            "maxLength": 80,
            "type": "string",
            "description": "Subcategory meaning of the document type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "SubCategoryCode"
              ]
            },
            "x-queryable": true
          },
          "SystemDocumentType": {
            "title": "System Document Type",
            "maxLength": 120,
            "type": "string",
            "description": "System-generated name that uniquely identifies the document type.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TagList": {
            "title": "Tags",
            "maxLength": 2000,
            "type": "string",
            "description": "Lookup code of the tag used for the document type derived from the lookup ORA_PER_DOC_TYPE_TAGS.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "WarningPeriod": {
            "title": "Expiration Notification Period",
            "type": "integer",
            "description": "Number of days in advance to generate an alert when a document record based on this document type is about to expire.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "documentTypesDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/documentRecords-hrDocumentTypes-documentTypesDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "documentTypesDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/documentRecords-hrDocumentTypes-documentTypesDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "documentRecords-hrDocumentTypes-documentTypesDDF-item-response": {
        "type": "object",
        "properties": {
          "DocumentTypeId": {
            "title": "Type",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "documentRecords-hrDocumentTypes-documentTypesDFF-item-response": {
        "type": "object",
        "properties": {
          "DocumentTypeId": {
            "title": "Type",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "documentRecords-hrDocumentTypes": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/documentRecords-hrDocumentTypes-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}