{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Document Delivery Preferences",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/documentDeliveryPreferences": {
      "get": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Get all delivery preferences",
        "operationId": "getall_documentDeliveryPreferences",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>OnlinePreference; string; Online delivery preference for the document record.</li><li>PaperPreference; string; Paper based delivery preference for the document record.</li><li>PersonNumber; string; The person number of the employee this document delivery preference is for.</li><li>SystemDocumentType; string; System-generated identifier to uniquely identify the document type.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Unique identifier for the document delivery preference. <br>Finder Variables <ul><li>PersonNumber; string;  Unique identifier of the person. </li><li>SystemDocumentType; string;  System-generated identifier to uniquely identify the document type. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Unique identifier for the document delivery preference.",
                "properties": {
                  "PersonNumber": {
                    "nullable": false,
                    "description": "Unique identifier of the person.",
                    "readOnly": true,
                    "type": "string",
                    "maxLength": 30
                  },
                  "SystemDocumentType": {
                    "nullable": false,
                    "description": "System-generated identifier to uniquely identify the document type.",
                    "readOnly": true,
                    "type": "string",
                    "maxLength": 120
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentDeliveryPreferences"
                }
              }
            }
          }
        },
        "x-internal-id": "documentDeliveryPreferences-get",
        "x-filename-id": "documentdeliverypreferences-get"
      }
    },
    "/documentDeliveryPreferences/{documentDeliveryPreferencesUniqID}": {
      "get": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Get a delivery preference",
        "operationId": "get_documentDeliveryPreferences",
        "parameters": [
          {
            "name": "documentDeliveryPreferencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PersonNumber and SystemDocumentType ---for the Document Delivery Preferences resource and used to uniquely identify an instance of Document Delivery Preferences. The client should not generate the hash key value.  Instead, the client should query on the Document Delivery Preferences collection resource with a filter on the primary key values in order to navigate to a specific instance of Document Delivery Preferences.<br><br>For example: documentDeliveryPreferences?q=PersonNumber=&lt;value1&gt;;SystemDocumentType=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentDeliveryPreferences-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "documentDeliveryPreferences-{documentDeliveryPreferencesUniqID}-get",
        "x-filename-id": "documentdeliverypreferences-documentdeliverypreferencesuniqid-get"
      }
    },
    "/documentDeliveryPreferencesV2/{documentDeliveryPreferencesV2UniqID}": {
      "get": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Get a document delivery preference",
        "operationId": "get_documentDeliveryPreferencesV2",
        "parameters": [
          {
            "name": "documentDeliveryPreferencesV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Document Delivery Preferences resource and used to uniquely identify an instance of Document Delivery Preferences. The client should not generate the hash key value. Instead, the client should query on the Document Delivery Preferences collection resource in order to navigate to a specific instance of Document Delivery Preferences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentDeliveryPreferencesV2-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "documentDeliveryPreferencesV2-{documentDeliveryPreferencesV2UniqID}-get",
        "x-filename-id": "documentdeliverypreferencesv2-documentdeliverypreferencesv2uniqid-get"
      },
      "delete": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Delete a document delivery preference",
        "operationId": "delete_documentDeliveryPreferencesV2",
        "parameters": [
          {
            "name": "documentDeliveryPreferencesV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Document Delivery Preferences resource and used to uniquely identify an instance of Document Delivery Preferences. The client should not generate the hash key value. Instead, the client should query on the Document Delivery Preferences collection resource in order to navigate to a specific instance of Document Delivery Preferences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "documentDeliveryPreferencesV2-{documentDeliveryPreferencesV2UniqID}-delete",
        "x-filename-id": "documentdeliverypreferencesv2-documentdeliverypreferencesv2uniqid-delete"
      },
      "patch": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Update a document delivery preference",
        "operationId": "update_documentDeliveryPreferencesV2",
        "parameters": [
          {
            "name": "documentDeliveryPreferencesV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Document Delivery Preferences resource and used to uniquely identify an instance of Document Delivery Preferences. The client should not generate the hash key value. Instead, the client should query on the Document Delivery Preferences collection resource in order to navigate to a specific instance of Document Delivery Preferences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/documentDeliveryPreferencesV2-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentDeliveryPreferencesV2-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "documentDeliveryPreferencesV2-{documentDeliveryPreferencesV2UniqID}-patch",
        "x-filename-id": "documentdeliverypreferencesv2-documentdeliverypreferencesv2uniqid-patch"
      }
    },
    "/documentDeliveryPreferencesV2": {
      "get": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Get all document delivery preferences",
        "operationId": "getall_documentDeliveryPreferencesV2",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentId; integer; Internal identifier of the assignment of the person for whom document delivery preference is fetched.</li><li>AssignmentNumber; string; Assignment number of the person for whom document delivery preference is fetched.</li><li>DocumentDeliveryPreferenceId; integer; Identifier of the document delivery preference.</li><li>DocumentTypeId; integer; Identifier of the document type.</li><li>PersonId; integer; A unique reference to person identifier for this document delivery preference.</li><li>PersonNumber; string; The person number of the worker this document delivery preference is for.</li><li>SystemDocumentType; string; System-generated identifier to uniquely identify the document type.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Unique identifier for the document delivery preference. <br>Finder Variables <ul><li>DocumentDeliveryPreferenceId; integer;  Filter attribute to retrieve document delivery preferences based on document delivery preference identifier. </li></ul></li><li>findByPerson Finds all the document delivery preferences for a person. <br>Finder Variables <ul><li>PersonId; integer;  Filter attribute to retrieve document delivery preferences based on person identifier. </li><li>PersonNumber; string;  Filter attribute to retrieve document delivery preferences based on person number. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Unique identifier for the document delivery preference.",
                "properties": {
                  "DocumentDeliveryPreferenceId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Filter attribute to retrieve document delivery preferences based on document delivery preference identifier.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPerson",
                "description": "Finds all the document delivery preferences for a person.",
                "title": "findByPersonId",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document delivery preferences based on person number.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve document delivery preferences based on person identifier.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentDeliveryPreferencesV2"
                }
              }
            }
          }
        },
        "x-internal-id": "documentDeliveryPreferencesV2-get",
        "x-filename-id": "documentdeliverypreferencesv2-get"
      },
      "post": {
        "tags": [
          "Document Delivery Preferences"
        ],
        "summary": "Create all document delivery preferences",
        "operationId": "create_documentDeliveryPreferencesV2",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/documentDeliveryPreferencesV2-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentDeliveryPreferencesV2-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "documentDeliveryPreferencesV2-post",
        "x-filename-id": "documentdeliverypreferencesv2-post"
      }
    }
  },
  "components": {
    "schemas": {
      "documentDeliveryPreferences": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/documentDeliveryPreferences-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "documentDeliveryPreferences-item-response": {
        "type": "object",
        "properties": {
          "OnlinePreference": {
            "maxLength": 4000,
            "type": "string",
            "description": "Online delivery preference for the document record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PaperPreference": {
            "maxLength": 4000,
            "type": "string",
            "description": "Paper based delivery preference for the document record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "The person number of the employee this document delivery preference is for.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SystemDocumentType": {
            "maxLength": 120,
            "type": "string",
            "description": "System-generated identifier to uniquely identify the document type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "documentDeliveryPreferencesV2-item-response": {
        "type": "object",
        "properties": {
          "AllowWorkerOverrideFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether worker override is allowed for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Internal identifier of the assignment of the person for whom document delivery preference is fetched.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "PersonId"
              ]
            },
            "x-queryable": true
          },
          "AssignmentNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment number of the person for whom document delivery preference is fetched.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "PersonId"
              ]
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the document delivery preference.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Date on which the document delivery preference was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DocumentDeliveryPreferenceId": {
            "type": "integer",
            "description": "Identifier of the document delivery preference.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "DocumentType": {
            "title": "Document Type",
            "maxLength": 80,
            "type": "string",
            "description": "Type of the document.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DocumentTypeCountry": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the country for the document type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DocumentTypeId": {
            "title": "Document Type",
            "type": "integer",
            "description": "Identifier of the document type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "EditAllowedFlag": {
            "type": "boolean",
            "description": "Indicates whether document delivery preference is editable.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "DocumentTypeId",
                "PersonId"
              ]
            }
          },
          "HierarchyCode": {
            "title": "Override Hierarchy",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the hierarchy for a document delivery preference.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InitialConsentValueFlag": {
            "title": "Initial Consent Granted",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether initial online consent is granted for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date on which the document delivery preference was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the document delivery preference.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LegislationCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the country for the document type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LevelCode": {
            "title": "Level",
            "maxLength": 40,
            "type": "string",
            "description": "Code of the level for a document delivery preference.",
            "nullable": true,
            "readOnly": true,
            "default": "900_PERSON",
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LevelId": {
            "title": "Name",
            "type": "integer",
            "description": "Identifier of the level for a document delivery preference.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "OnlineConsentRequiredFlag": {
            "title": "Online Delivery Consent Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online consent is required for document delivery preference. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "OnlineConsentValueFlag": {
            "title": "Online Delivery Consent",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online consent is granted for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "OnlineEnabledFlag": {
            "title": "Online",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online delivery is enabled for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PaperEnabledFlag": {
            "title": "Paper",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether paper based delivery is enabled for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "A unique reference to person identifier for this document delivery preference.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "The person number of the worker this document delivery preference is for.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "SystemDocumentType": {
            "title": "System Document Type",
            "maxLength": 120,
            "type": "string",
            "description": "System-generated identifier to uniquely identify the document type.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "dependencies": [
                "PersonId"
              ]
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "documentDeliveryPreferencesV2-item-patch-request": {
        "type": "object",
        "properties": {
          "OnlineConsentValueFlag": {
            "title": "Online Delivery Consent",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online consent is granted for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "OnlineEnabledFlag": {
            "title": "Online",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online delivery is enabled for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PaperEnabledFlag": {
            "title": "Paper",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether paper based delivery is enabled for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "documentDeliveryPreferencesV2": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/documentDeliveryPreferencesV2-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "documentDeliveryPreferencesV2-item-post-request": {
        "type": "object",
        "properties": {
          "DocumentTypeId": {
            "title": "Document Type",
            "type": "integer",
            "description": "Identifier of the document type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "OnlineConsentValueFlag": {
            "title": "Online Delivery Consent",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online consent is granted for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "OnlineEnabledFlag": {
            "title": "Online",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether online delivery is enabled for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PaperEnabledFlag": {
            "title": "Paper",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether paper based delivery is enabled for document delivery preference. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "A unique reference to person identifier for this document delivery preference.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "The person number of the worker this document delivery preference is for.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "SystemDocumentType": {
            "title": "System Document Type",
            "maxLength": 120,
            "type": "string",
            "description": "System-generated identifier to uniquely identify the document type.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "dependencies": [
                "PersonId"
              ]
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "documentDeliveryPreferencesV2-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/documentDeliveryPreferencesV2-item-patch-request"
            }
          }
        }
      },
      "documentDeliveryPreferencesV2-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/documentDeliveryPreferencesV2-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}