{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Document Records/Developer Descriptive Flexfields for Document Records",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/documentRecords/{DocumentsOfRecordId}/child/documentRecordsDDF/{DocumentsOfRecordId2}": {
      "get": {
        "tags": [
          "Document Records/Developer Descriptive Flexfields for Document Records"
        ],
        "summary": "Get a flexfield",
        "operationId": "get_documentRecords-documentRecordsDDF",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "DocumentsOfRecordId2",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-documentRecordsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOC_OF_RECORD_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOC_OF_RECORD_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-documentRecordsDDF-{DocumentsOfRecordId2}-get",
        "x-filename-id": "documentrecords-documentsofrecordid-child-documentrecordsddf-documentsofrecordid2-get"
      },
      "patch": {
        "tags": [
          "Document Records/Developer Descriptive Flexfields for Document Records"
        ],
        "summary": "Update a flexfield",
        "operationId": "update_documentRecords-documentRecordsDDF",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "DocumentsOfRecordId2",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/documentRecords-documentRecordsDDF-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-documentRecordsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOC_OF_RECORD_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOC_OF_RECORD_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-documentRecordsDDF-{DocumentsOfRecordId2}-patch",
        "x-filename-id": "documentrecords-documentsofrecordid-child-documentrecordsddf-documentsofrecordid2-patch"
      }
    },
    "/documentRecords/{DocumentsOfRecordId}/child/documentRecordsDDF": {
      "get": {
        "tags": [
          "Document Records/Developer Descriptive Flexfields for Document Records"
        ],
        "summary": "Get all flexfields",
        "operationId": "getall_documentRecords-documentRecordsDDF",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey  <br>Finder Variables <ul><li>DocumentsOfRecordId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "DocumentsOfRecordId": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true,
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "type": "integer",
                    "title": "Document Record ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-documentRecordsDDF"
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-documentRecordsDDF-get",
        "x-filename-id": "documentrecords-documentsofrecordid-child-documentrecordsddf-get"
      },
      "post": {
        "tags": [
          "Document Records/Developer Descriptive Flexfields for Document Records"
        ],
        "summary": "Create a flexfield",
        "operationId": "create_documentRecords-documentRecordsDDF",
        "parameters": [
          {
            "name": "DocumentsOfRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Document Record ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/documentRecords-documentRecordsDDF-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentRecords-documentRecordsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOC_OF_RECORD_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_DOC_OF_RECORD_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "documentRecords-{DocumentsOfRecordId}-child-documentRecordsDDF-post",
        "x-filename-id": "documentrecords-documentsofrecordid-child-documentrecordsddf-post"
      }
    }
  },
  "components": {
    "schemas": {
      "documentRecords-documentRecordsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "GLB_PAYSLIP": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFGLB__5FPAYSLIPVO-item-response",
            "ORA_CH_AHV_AVS": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FAHV__5FAVSVO-item-response",
            "ORA_CH_BUR": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FBURVO-item-response",
            "ORA_CH_BVG_LPP": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FBVG__5FLPPVO-item-response",
            "ORA_CH_FAK_CAF": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FFAK__5FCAFVO-item-response",
            "ORA_CH_KTG_AMC": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FKTG__5FAMCVO-item-response",
            "ORA_CH_QST_IS": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FQST__5FISVO-item-response",
            "ORA_CH_ST_I": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FST__5FIVO-item-response",
            "ORA_CH_UID_BFS": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUID__5FBFSVO-item-response",
            "ORA_CH_UID_EHRA": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUID__5FEHRAVO-item-response",
            "ORA_CH_UVGZ_LAAC": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUVGZ__5FLAACVO-item-response",
            "ORA_CH_UVG_LAA": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUVG__5FLAAVO-item-response",
            "ORA_HRX_BR_BIRTH_CERITIFICATE": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FBIRTH__5FCERITIFICATEVO-item-response",
            "ORA_HRX_BR_ELECTORAL_CARD": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FELECTORAL__5FCARDVO-item-response",
            "ORA_HRX_BR_MILITARY_CERTIFICATE": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FMILITARY__5FCERTIFICATEVO-item-response",
            "ORA_HRX_BR_VACC_CERTIFICATE": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FVACC__5FCERTIFICATEVO-item-response",
            "ORA_HRX_CA_ROE_PDF": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FCA__5FROE__5FPDFVO-item-response",
            "ORA_HRX_GB_GENDER_REASSIGNMENT": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FGB__5FGENDER__5FREASSIGNMENTVO-item-response",
            "ORA_HRX_GB_PS_CSP_ILL_HEALTH": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FGB__5FPS__5FCSP__5FILL__5FHEALTHVO-item-response",
            "ORA_HRX_IE_GENDER_REASSIGNMENT": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FIE__5FGENDER__5FREASSIGNMENTVO-item-response",
            "ORA_HRX_IN_FORM16_DOCS": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FIN__5FFORM16__5FDOCSVO-item-response",
            "ORA_HRX_MX_CFDI": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FMX__5FCFDIVO-item-response",
            "ORA_HRX_NL_END_EVALUATION": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FEND__5FEVALUATIONVO-item-response",
            "ORA_HRX_NL_FIRST_YR_EVAL": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FFIRST__5FYR__5FEVALVO-item-response",
            "ORA_HRX_NL_NOTES": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FNOTESVO-item-response",
            "ORA_HRX_NL_PLAN_OF_APPROACH": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FPLAN__5FOF__5FAPPROACHVO-item-response",
            "ORA_HRX_NL_PROBLEM_ANALYSIS": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FPROBLEM__5FANALYSISVO-item-response",
            "ORA_HRX_NL_RETURN_TO_WORK": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FRETURN__5FTO__5FWORKVO-item-response",
            "ORA_HRX_NL_UWV_SICK_RPT": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FUWV__5FSICK__5FRPTVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFGLB__5FPAYSLIPVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FAHV__5FAVSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FBURVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FBVG__5FLPPVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FFAK__5FCAFVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FKTG__5FAMCVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FQST__5FISVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FST__5FIVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUID__5FBFSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUID__5FEHRAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUVGZ__5FLAACVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FUVG__5FLAAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FBIRTH__5FCERITIFICATEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FELECTORAL__5FCARDVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FMILITARY__5FCERTIFICATEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FBR__5FVACC__5FCERTIFICATEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FCA__5FROE__5FPDFVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FGB__5FGENDER__5FREASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FGB__5FPS__5FCSP__5FILL__5FHEALTHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FIE__5FGENDER__5FREASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FIN__5FFORM16__5FDOCSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FMX__5FCFDIVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FEND__5FEVALUATIONVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FFIRST__5FYR__5FEVALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FNOTESVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FPLAN__5FOF__5FAPPROACHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FPROBLEM__5FANALYSISVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FRETURN__5FTO__5FWORKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FHRX__5FNL__5FUWV__5FSICK__5FRPTVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFGLB__5FPAYSLIPVO-item-response": {
        "type": "object",
        "properties": {
          "DocumentsOfRecordId": {
            "title": "Document Record ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ARCHIVE_REL_ACTION_ID": {
            "title": "Archive Relationship Action ID",
            "type": "number",
            "description": "Archive Relationship Action ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Archive Relationship Action ID"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER7",
              "FND_ACFF_SegmentName": "ARCHIVE_REL_ACTION_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CALC_BREAKDOWN_ID": {
            "title": "Calculation Breakdown ID",
            "type": "number",
            "description": "Calculation Breakdown ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Calculation Breakdown ID"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER6",
              "FND_ACFF_SegmentName": "CALC_BREAKDOWN_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_EMAIL_ADDRESS": {
            "title": "E-Mail",
            "maxLength": 150,
            "type": "string",
            "description": "E-Mail",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "E-Mail"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_150#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "150",
              "FND_ACFF_ColumnName": "DEI_INFORMATION1",
              "FND_ACFF_SegmentName": "EMAIL_ADDRESS",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_INTENDED_PAYMENT_DATE": {
            "title": "Intended Payment Date",
            "type": "string",
            "description": "Intended Payment Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Intended Payment Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_DATE2",
              "FND_ACFF_SegmentName": "INTENDED_PAYMENT_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_NET_PAYMENT": {
            "title": "Net Payment",
            "type": "number",
            "description": "Net Payment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Net Payment"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER3",
              "FND_ACFF_SegmentName": "NET_PAYMENT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PAYROLL_ID": {
            "title": "Payroll ID",
            "type": "number",
            "description": "Payroll ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Payroll ID"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "PAYROLL_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PAY_PAYSLIP_VIEW_DATE": {
            "title": "Payslip View Date",
            "type": "string",
            "description": "Payslip View Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Payslip View Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_DATE1",
              "FND_ACFF_SegmentName": "PAY_PAYSLIP_VIEW_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PAY_PERIOD_NUMBER": {
            "title": "Pay Period Number",
            "type": "number",
            "description": "Pay Period Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Pay Period Number"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "PAY_PERIOD_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PREPAY_REL_ACTION_ID": {
            "title": "Prepay Relationship Action ID",
            "type": "number",
            "description": "Prepay Relationship Action ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Prepay Relationship Action ID"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER5",
              "FND_ACFF_SegmentName": "PREPAY_REL_ACTION_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_TRU_ID": {
            "title": "Tax Reference",
            "type": "number",
            "description": "Tax Reference",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Tax Reference"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER4",
              "FND_ACFF_SegmentName": "TRU_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 150,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "GLB_PAYSLIP",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "SYSDOCTYPE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FAHV__5FAVSVO-item-response": {
        "type": "object",
        "properties": {
          "DocumentsOfRecordId": {
            "title": "Document Record ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACTIVE_INACTIVE": {
            "title": "Document Status",
            "maxLength": 150,
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ACTIVE_INACTIVE_Display",
              "help": {
                "instruction": "Document Status"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_DOCUMENT_STATUS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "DEI_INFORMATION3",
              "FND_ACFF_LabelCodeNum": "1",
              "FND_ACFF_LabelCode0": "DOCUMENT_STATUS",
              "FND_ACFF_SegmentName": "ACTIVE_INACTIVE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ACTIVE_INACTIVE_Display": {
            "title": "Document Status",
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ACTIVE_INACTIVE",
              "help": {
                "instruction": "Document Status"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_AHV_AVS_PROVIDER": {
            "title": "AHV-AVS Provider",
            "type": "number",
            "description": "AHV-AVS Provider",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_AHV_AVS_PROVIDER_Display",
              "help": {
                "instruction": "AHV-AVS Provider"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_LA_AHV_AVS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "AHV_AVS_PROVIDER",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_AHV_AVS_PROVIDER_Display": {
            "title": "AHV-AVS Provider",
            "type": "string",
            "description": "AHV-AVS Provider",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_AHV_AVS_PROVIDER",
              "help": {
                "instruction": "AHV-AVS Provider"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_AHV_AVS_REG_NR": {
            "title": "AHV-AVS Registration Number",
            "maxLength": 150,
            "type": "string",
            "description": "AHV-AVS Registration Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "AHV-AVS Registration Number"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_15#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "15",
              "FND_ACFF_ColumnName": "DEI_INFORMATION1",
              "FND_ACFF_SegmentName": "AHV_AVS_REG_NR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_AHV_CODE": {
            "title": "AHV-AVS Code",
            "maxLength": 150,
            "type": "string",
            "description": "AHV-AVS Code",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_AHV_CODE_Display",
              "help": {
                "instruction": "AHV-AVS Code"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_AHV_AVS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "DEI_INFORMATION2",
              "FND_ACFF_SegmentName": "AHV_CODE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_AHV_CODE_Display": {
            "title": "AHV-AVS Code",
            "type": "string",
            "description": "AHV-AVS Code",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_AHV_CODE",
              "help": {
                "instruction": "AHV-AVS Code"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ALVZ_CODE": {
            "title": "ALVZ Code",
            "maxLength": 150,
            "type": "string",
            "description": "ALVZ Code",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ALVZ_CODE_Display",
              "help": {
                "instruction": "ALVZ Code"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "DEI_INFORMATION4",
              "FND_ACFF_SegmentName": "ALVZ_CODE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ALVZ_CODE_Display": {
            "title": "ALVZ Code",
            "type": "string",
            "description": "ALVZ Code",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ALVZ_CODE",
              "help": {
                "instruction": "ALVZ Code"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR": {
            "title": "Employee Assignment Number",
            "type": "number",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ASGNMNT_NR_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_LabelCodeNum": "1",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FND_ACFF_LabelCode0": "EMPLOYEE_ASSIGNMENT_NUMBER",
              "FND_ACFF_SegmentName": "ASGNMNT_NR",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Employee Assignment Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_ASG_NUMBER#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PERSONID",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER1",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR_Display": {
            "title": "Employee Assignment Number",
            "type": "string",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ASGNMNT_NR",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Employee Assignment Number"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PERSONID",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 150,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORA_CH_AHV_AVS",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "SYSDOCTYPE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FBURVO-item-response": {
        "type": "object",
        "properties": {
          "DocumentsOfRecordId": {
            "title": "Document Record ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACTIVE_INACTIVE": {
            "title": "Document Status",
            "maxLength": 150,
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ACTIVE_INACTIVE_Display",
              "help": {
                "instruction": "Document Status"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_DOCUMENT_STATUS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "DEI_INFORMATION3",
              "FND_ACFF_LabelCodeNum": "1",
              "FND_ACFF_LabelCode0": "DOCUMENT_STATUS",
              "FND_ACFF_SegmentName": "ACTIVE_INACTIVE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ACTIVE_INACTIVE_Display": {
            "title": "Document Status",
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ACTIVE_INACTIVE",
              "help": {
                "instruction": "Document Status"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR": {
            "title": "Employee Assignment Number",
            "type": "number",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ASGNMNT_NR_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_LabelCodeNum": "1",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FND_ACFF_LabelCode0": "EMPLOYEE_ASSIGNMENT_NUMBER",
              "FND_ACFF_SegmentName": "ASGNMNT_NR",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Employee Assignment Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_ASG_NUMBER#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PERSONID",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER1",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR_Display": {
            "title": "Employee Assignment Number",
            "type": "string",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ASGNMNT_NR",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Employee Assignment Number"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PERSONID",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_BUR_ADMIN": {
            "title": "BUR Administration",
            "type": "number",
            "description": "BUR Administration",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_BUR_ADMIN_Display",
              "help": {
                "instruction": "BUR Administration"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_LA_BUR#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "BUR_ADMIN",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_BUR_ADMIN_Display": {
            "title": "BUR Administration",
            "type": "string",
            "description": "BUR Administration",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_BUR_ADMIN",
              "help": {
                "instruction": "BUR Administration"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_BUR_NR": {
            "title": "BUR Number",
            "maxLength": 150,
            "type": "string",
            "description": "BUR Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "BUR Number"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_8#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "8",
              "FND_ACFF_ColumnName": "DEI_INFORMATION1",
              "FND_ACFF_SegmentName": "BUR_NR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 150,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORA_CH_BUR",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "SYSDOCTYPE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FBVG__5FLPPVO-item-response": {
        "type": "object",
        "properties": {
          "DocumentsOfRecordId": {
            "title": "Document Record ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACTIVE_INACTIVE": {
            "title": "Document Status",
            "maxLength": 150,
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ACTIVE_INACTIVE_Display",
              "help": {
                "instruction": "Document Status"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_DOCUMENT_STATUS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "DEI_INFORMATION3",
              "FND_ACFF_LabelCodeNum": "1",
              "FND_ACFF_LabelCode0": "DOCUMENT_STATUS",
              "FND_ACFF_SegmentName": "ACTIVE_INACTIVE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ACTIVE_INACTIVE_Display": {
            "title": "Document Status",
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ACTIVE_INACTIVE",
              "help": {
                "instruction": "Document Status"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR": {
            "title": "Employee Assignment Number",
            "type": "number",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ASGNMNT_NR_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_LabelCodeNum": "1",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FND_ACFF_LabelCode0": "EMPLOYEE_ASSIGNMENT_NUMBER",
              "FND_ACFF_SegmentName": "ASGNMNT_NR",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Employee Assignment Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_ASG_NUMBER#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PERSONID",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER1",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR_Display": {
            "title": "Employee Assignment Number",
            "type": "string",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ASGNMNT_NR",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "Employee Assignment Number"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PERSONID",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_BVG_LPP_PROVIDER": {
            "title": "BVG-LPP Provider",
            "type": "number",
            "description": "BVG-LPP Provider",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_BVG_LPP_PROVIDER_Display",
              "help": {
                "instruction": "BVG-LPP Provider"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_LA_BVG_LPP#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "DEI_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "BVG_LPP_PROVIDER",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_BVG_LPP_PROVIDER_Display": {
            "title": "BVG-LPP Provider",
            "type": "string",
            "description": "BVG-LPP Provider",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_BVG_LPP_PROVIDER",
              "help": {
                "instruction": "BVG-LPP Provider"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_BVG_LPP_REG_NR": {
            "title": "BVG-LPP Registration Number",
            "maxLength": 150,
            "type": "string",
            "description": "BVG-LPP Registration Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "BVG-LPP Registration Number"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_15#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "15",
              "FND_ACFF_ColumnName": "DEI_INFORMATION1",
              "FND_ACFF_SegmentName": "BVG_LPP_REG_NR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_STATUS": {
            "title": "Insurance Status",
            "maxLength": 150,
            "type": "string",
            "description": "Insurance Status",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Insurance Status"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_8#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "8",
              "FND_ACFF_ColumnName": "DEI_INFORMATION2",
              "FND_ACFF_LabelCodeNum": "1",
              "FND_ACFF_LabelCode0": "BVG_LPP_INSURANCE_STATUS",
              "FND_ACFF_SegmentName": "STATUS",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 150,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORA_CH_BVG_LPP",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_DerivedFromParameter": "SYSDOCTYPE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_documentsOfRecord_core_flex_documentsOfRecordDDF_view_DocumentsOfRecordLegDDFORA__5FCH__5FFAK__5FCAFVO-item-response": {
        "type": "object",
        "properties": {
          "DocumentsOfRecordId": {
            "title": "Document Record ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACTIVE_INACTIVE": {
            "title": "Document Status",
            "maxLength": 150,
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ACTIVE_INACTIVE_Display",
              "help": {
                "instruction": "Document Status"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CH_DOCUMENT_STATUS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "DEI_INFORMATION3",
              "FND_ACFF_LabelCodeNum": "1",
              "FND_ACFF_LabelCode0": "DOCUMENT_STATUS",
              "FND_ACFF_SegmentName": "ACTIVE_INACTIVE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ACTIVE_INACTIVE_Display": {
            "title": "Document Status",
            "type": "string",
            "description": "Document Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ACTIVE_INACTIVE",
              "help": {
                "instruction": "Document Status"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ASGNMNT_NR": {
            "title": "Employee Assignment Number",
            "type": "number",
            "description": "Employee Assignment Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ASGNMNT_NR_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_LabelCodeNum": "1",
[...]
