{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Element Entries",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/elementEntries": {
      "get": {
        "tags": [
          "Element Entries"
        ],
        "summary": "Get all element entries",
        "operationId": "getall_elementEntries",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentNumber; string; Person's assignment number for the element entry.</li><li>CreatorType; string; Name of the user or the process that created the element entry record, such as batch element entry.</li><li>EffectiveEndDate; string; Date at the end of the period within which the entry is available for processing with element entry identifier.</li><li>EffectiveStartDate; string; Date at the beginning of the period within which the entry is available for processing.</li><li>ElementEntryId; integer; Unique identifier for an element entry.</li><li>ElementName; string; Name of the element the entry is for, such as Performance Bonus.</li><li>ElementTypeId; integer; Unique identifier of the element type.</li><li>EntrySequence; integer; Unique number that identifies an element entry record when overlapping entries exists for the same element.</li><li>EntryType; string; Type of the element entry, such as regular entry or override.</li><li>LegCode; string; Employment level of the element at which the entry is created.</li><li>LegDataGroupId; integer; Employment level of the element at which the entry is created.</li><li>PayrollRelationshipNumber; string; Unique number that identifies the association between a person and a payroll statutory unit based on the payroll calculation and reporting requirements.</li><li>PersonId; integer; Unique identifier for a person.</li><li>PersonNumber; string; Person number of the worker.</li><li>Reason; string; Reason for creating or updating an element entry.</li><li>Subpriority; integer; Number used to sequence the processing of element entries with the same priority.</li><li>UsageLevel; string; Employment level of the element at which the entry is created.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all element entries based on the specified primary key criteria. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Effective end date of the element entry. </li><li>EffectiveStartDate; string;  Effective start date of the element entry. </li><li>ElementEntryId; integer;  Unique identifier for an element entry. </li></ul></li><li>findByAssignmentNumber Finds all element entries based on the specified assignment criteria. <br>Finder Variables <ul><li>AssignmentNumber; string;  Unique identifier for a person assignment. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findByElementEntryId Finds all element entries based on the specified element entry criteria. <br>Finder Variables <ul><li>ElementEntryId; integer;  Unique identifier for an element entry. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findByIntent Finds all the element entries based on the specified intent criteria. <br>Finder Variables <ul><li>ElementEntryId; integer;  Apply internal finder validation with supported list of intents. Supported list of intents </li><li>Intent; string;  Apply internal finder validation with supported list of intents. Supported list of intents </li><li>OfferId; integer;  Apply internal finder validation with supported list of intents. Supported list of intents </li><li>ReloadTransactionId; integer;  Apply internal finder validation with supported list of intents. Supported list of intents </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all element entries based on the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Effective end date of the element entry.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "ElementEntryId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for an element entry.",
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Effective start date of the element entry.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByAssignmentNumber",
                "description": "Finds all element entries based on the specified assignment criteria.",
                "title": "findByAssignmentNumber",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "AssignmentNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for a person assignment.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElementEntryId",
                "description": "Finds all element entries based on the specified element entry criteria.",
                "title": "findByElementEntryId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "ElementEntryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Required"
                    },
                    "description": "Unique identifier for an element entry.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByIntent",
                "description": "Finds all the element entries based on the specified intent criteria.",
                "title": "findByIntent",
                "properties": {
                  "OfferId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Apply internal finder validation with supported list of intents. Supported list of intents",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Apply internal finder validation with supported list of intents. Supported list of intents",
                    "type": "integer"
                  },
                  "ElementEntryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "description": "Apply internal finder validation with supported list of intents. Supported list of intents",
                    "type": "integer"
                  },
                  "Intent": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Apply internal finder validation with supported list of intents. Supported list of intents",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/elementEntries"
                }
              }
            }
          }
        },
        "x-internal-id": "elementEntries-get",
        "x-filename-id": "elemententries-get"
      },
      "post": {
        "tags": [
          "Element Entries"
        ],
        "summary": "Create an element entry",
        "operationId": "create_elementEntries",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/elementEntries-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/elementEntries-item-response"
                }
              }
            },
            "links": {
              "ElementEntryHistory": {
                "operationRef": "#/paths/~1elementEntries~1{elementEntriesUniqID}~1child~1ElementEntryHistory/get",
                "parameters": {
                  "elementEntriesUniqID": "$request.path.elementEntriesUniqID"
                },
                "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate."
              },
              "elementEntryValues": {
                "operationRef": "#/paths/~1elementEntries~1{elementEntriesUniqID}~1child~1elementEntryValues/get",
                "parameters": {
                  "elementEntriesUniqID": "$request.path.elementEntriesUniqID"
                },
                "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate."
              },
              "creatorTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPAY_CREATOR_TYPE%2CLookupCode%3D{CreatorType}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CreatorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CreatorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "elementEntries-post",
        "x-filename-id": "elemententries-post"
      }
    },
    "/elementEntries/{elementEntriesUniqID}": {
      "get": {
        "tags": [
          "Element Entries"
        ],
        "summary": "Get an element entry",
        "operationId": "get_elementEntries",
        "parameters": [
          {
            "name": "elementEntriesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- ElementEntryId, EffectiveStartDate and EffectiveEndDate ---for the Element Entries resource and used to uniquely identify an instance of Element Entries. The client should not generate the hash key value.  Instead, the client should query on the Element Entries collection resource with a filter on the primary key values in order to navigate to a specific instance of Element Entries.<br><br>For example: elementEntries?q=ElementEntryId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/elementEntries-item-response"
                }
              }
            },
            "links": {
              "ElementEntryHistory": {
                "operationRef": "#/paths/~1elementEntries~1{elementEntriesUniqID}~1child~1ElementEntryHistory/get",
                "parameters": {
                  "elementEntriesUniqID": "$request.path.elementEntriesUniqID"
                },
                "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate."
              },
              "elementEntryValues": {
                "operationRef": "#/paths/~1elementEntries~1{elementEntriesUniqID}~1child~1elementEntryValues/get",
                "parameters": {
                  "elementEntriesUniqID": "$request.path.elementEntriesUniqID"
                },
                "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate."
              },
              "creatorTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPAY_CREATOR_TYPE%2CLookupCode%3D{CreatorType}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CreatorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CreatorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "elementEntries-{elementEntriesUniqID}-get",
        "x-filename-id": "elemententries-elemententriesuniqid-get"
      },
      "delete": {
        "tags": [
          "Element Entries"
        ],
        "summary": "Delete an element entry",
        "operationId": "delete_elementEntries",
        "parameters": [
          {
            "name": "elementEntriesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- ElementEntryId, EffectiveStartDate and EffectiveEndDate ---for the Element Entries resource and used to uniquely identify an instance of Element Entries. The client should not generate the hash key value.  Instead, the client should query on the Element Entries collection resource with a filter on the primary key values in order to navigate to a specific instance of Element Entries.<br><br>For example: elementEntries?q=ElementEntryId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "elementEntries-{elementEntriesUniqID}-delete",
        "x-filename-id": "elemententries-elemententriesuniqid-delete"
      },
      "patch": {
        "tags": [
          "Element Entries"
        ],
        "summary": "Update an element entry",
        "operationId": "update_elementEntries",
        "parameters": [
          {
            "name": "elementEntriesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- ElementEntryId, EffectiveStartDate and EffectiveEndDate ---for the Element Entries resource and used to uniquely identify an instance of Element Entries. The client should not generate the hash key value.  Instead, the client should query on the Element Entries collection resource with a filter on the primary key values in order to navigate to a specific instance of Element Entries.<br><br>For example: elementEntries?q=ElementEntryId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/elementEntries-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/elementEntries-item-response"
                }
              }
            },
            "links": {
              "ElementEntryHistory": {
                "operationRef": "#/paths/~1elementEntries~1{elementEntriesUniqID}~1child~1ElementEntryHistory/get",
                "parameters": {
                  "elementEntriesUniqID": "$request.path.elementEntriesUniqID"
                },
                "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate."
              },
              "elementEntryValues": {
                "operationRef": "#/paths/~1elementEntries~1{elementEntriesUniqID}~1child~1elementEntryValues/get",
                "parameters": {
                  "elementEntriesUniqID": "$request.path.elementEntriesUniqID"
                },
                "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate."
              },
              "creatorTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPAY_CREATOR_TYPE%2CLookupCode%3D{CreatorType}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CreatorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CreatorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "elementEntries-{elementEntriesUniqID}-patch",
        "x-filename-id": "elemententries-elemententriesuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "elementEntries": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "elementEntries-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for a person assignment.",
            "nullable": true,
            "x-queryable": false
          },
          "AssignmentNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Person's assignment number for the element entry.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatorType": {
            "title": "Creator Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the user or the process that created the element entry record, such as batch element entry.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period within which the entry is available for processing with element entry identifier.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period within which the entry is available for processing.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "ElementEntryHistory": {
            "title": "Element Entry History",
            "type": "array",
            "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-ElementEntryHistory-item-response"
            }
          },
          "ElementEntryId": {
            "type": "integer",
            "description": "Unique identifier for an element entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "ElementName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the element the entry is for, such as Performance Bonus.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "ElementTypeId": {
            "title": "Element Name",
            "type": "integer",
            "description": "Unique identifier of the element type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "EntrySequence": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Unique number that identifies an element entry record when overlapping entries exists for the same element.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EntryType": {
            "title": "Entry Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the element entry, such as regular entry or override.",
            "nullable": false,
            "x-queryable": true
          },
          "Intent": {
            "maxLength": 200,
            "type": "string",
            "description": "Apply internal finder validation.",
            "nullable": true,
            "x-queryable": false
          },
          "LegCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Employment level of the element at which the entry is created.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegDataGroupId": {
            "type": "integer",
            "description": "Employment level of the element at which the entry is created.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PayrollRelationshipNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique number that identifies the association between a person and a payroll statutory unit based on the payroll calculation and reporting requirements.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier for a person.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the worker.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Reason": {
            "title": "Reason",
            "maxLength": 4000,
            "type": "string",
            "description": "Reason for creating or updating an element entry.",
            "nullable": true,
            "x-queryable": true
          },
          "Subpriority": {
            "title": "Subpriority",
            "type": "integer",
            "description": "Number used to sequence the processing of element entries with the same priority.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "UsageLevel": {
            "title": "Employment Level",
            "maxLength": 30,
            "type": "string",
            "description": "Employment level of the element at which the entry is created.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "elementEntryValues": {
            "title": "Element Entry Values",
            "type": "array",
            "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-elementEntryValues-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "elementEntries-ElementEntryHistory-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "type": "string",
            "description": "Default entry value for the element entry.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Unique identifier for an element entry value.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ElementEntryId": {
            "type": "integer",
            "description": "Number assigned to an input value that determines the sequence in which the values appear.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ElementTypeId": {
            "type": "integer",
            "description": "Indicates whether the existing entry values should be updated when the default value is updated.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Indicates whether a value is required for the input.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Source location of the values contained within a list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MultipleEntryCount": {
            "type": "integer",
            "description": "Unique identifier for an input value.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Reason": {
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the element's input value.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Subpriority": {
            "type": "integer",
            "description": "Entry values contained within a list of values.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "elementEntries-elementEntryValues-item-response": {
        "type": "object",
        "properties": {
          "BaseName": {
            "title": "Name",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Default entry value for the element entry.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Number assigned to an input value that determines the sequence in which the values appear.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 5
            },
            "x-queryable": true
          },
          "ElementEntryValueId": {
            "type": "integer",
            "description": "Unique identifier for an element entry value.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "HotDefaultFlag": {
            "title": "Apply default at run time",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the existing entry values should be updated when the default value is updated.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InputValueId": {
            "type": "integer",
            "description": "Unique identifier for an input value.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "InputValueName": {
            "type": "string",
            "description": "Name of the element's input value.",
            "nullable": true,
            "x-queryable": false
          },
          "LovScreenEntryValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Entry values contained within a list of values.",
            "nullable": true,
            "x-hints": {
              "PAY_VALUE_SET_ATTRIBUTE_NAME": "ValueSetCode",
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_CURRENCY_CODE_ATTRIBUTE_NAME": "InputValueDP.ElementTypeDPEO.InputCurrencyCode",
              "PAY_LOV_LOOKUP_TYPE_ATTRIBUTE_NAME": "LookupType",
              "PAY_REST_DYN_LOV_FINDER_ATTRIBUTE": "ScreenEntryDataURL",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_LOV_SCREEN_ENTRY_VALUE_ATTRIBUTE_NAME": "LovScreenEntryValue",
              "PAY_VALUE_SET_PARENT_ROW_ACCESSOR": "elementEntries",
              "PAY_LOV_VO_NAME_ATTRIBUTE_NAME": "VoName",
              "PAY_VALUE_SET_BASE_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_UOM_ATTRIBUTE_NAME": "InputValueDP.Uom",
              "controlType": "choice",
              "includeInCompactView": true,
              "PAY_REST_DYN_LOV_ENABLE": "Y",
              "PAY_LOV_DISPLAY_SEQUENCE_ATTRIBUTE_NAME": "DisplaySequence",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            },
            "x-queryable": true
          },
          "MandatoryFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether a value is required for the input.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PAY_VALUE_SET_ValueSetScreenEntryValue_VALUE_SET_SWITCHER": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ReservedInputValue": {
            "title": "Special Purpose",
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ScreenEntryDataURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Source location of the values contained within a list of values.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAY_VALUE_SET_ATTRIBUTE_NAME": "ValueSetCode",
              "PAY_LOV_VO_NAME_ATTRIBUTE_NAME": "VoName",
              "PAY_VALUE_SET_BASE_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_LOV_LOOKUP_TYPE_ATTRIBUTE_NAME": "LookupType",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_LOV_DISPLAY_SEQUENCE_ATTRIBUTE_NAME": "DisplaySequence",
              "PAY_LOV_SCREEN_ENTRY_VALUE_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_VALUE_SET_PARENT_ROW_ACCESSOR": "elementEntries",
              "PAY_LOV_BASE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            },
            "x-queryable": true
          },
          "ScreenEntryValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Entry for input values available for each entry of the element.",
            "nullable": true,
            "x-hints": {
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_CURRENCY_CODE_ATTRIBUTE_NAME": "InputValueDP.ElementTypeDPEO.InputCurrencyCode",
              "PAY_UOM_ATTRIBUTE_NAME": "InputValueDP.Uom",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "LovScreenEntryValue",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            },
            "x-queryable": true
          },
          "UOM": {
            "maxLength": 30,
            "type": "string",
            "description": "Name of the type of measurement that's applicable to a number displayed in a balance, amount, or other type of numeric field such as money, character or number.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "UserEnterableFlag": {
            "title": "Allow User Entry",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the user can enter input values.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "elementEntries-item-post-request": {
        "required": [
          "CreatorType",
          "EffectiveEndDate",
          "EffectiveStartDate",
          "ElementName",
          "ElementTypeId",
          "EntryType",
          "PersonId"
        ],
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for a person assignment.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatorType": {
            "title": "Creator Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the user or the process that created the element entry record, such as batch element entry.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period within which the entry is available for processing with element entry identifier.",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period within which the entry is available for processing.",
            "format": "date",
            "nullable": false
          },
          "ElementEntryHistory": {
            "title": "Element Entry History",
            "type": "array",
            "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-ElementEntryHistory-item-post-request"
            }
          },
          "ElementEntryId": {
            "type": "integer",
            "description": "Unique identifier for an element entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "ElementName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the element the entry is for, such as Performance Bonus.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ElementTypeId": {
            "title": "Element Name",
            "type": "integer",
            "description": "Unique identifier of the element type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "EntrySequence": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Unique number that identifies an element entry record when overlapping entries exists for the same element.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "EntryType": {
            "title": "Entry Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the element entry, such as regular entry or override.",
            "nullable": false
          },
          "Intent": {
            "maxLength": 200,
            "type": "string",
            "description": "Apply internal finder validation.",
            "nullable": true,
            "x-queryable": false
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier for a person.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Reason": {
            "title": "Reason",
            "maxLength": 4000,
            "type": "string",
            "description": "Reason for creating or updating an element entry.",
            "nullable": true
          },
          "Subpriority": {
            "title": "Subpriority",
            "type": "integer",
            "description": "Number used to sequence the processing of element entries with the same priority.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "elementEntryValues": {
            "title": "Element Entry Values",
            "type": "array",
            "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-elementEntryValues-item-post-request"
            }
          }
        }
      },
      "elementEntries-ElementEntryHistory-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "elementEntries-elementEntryValues-item-post-request": {
        "type": "object",
        "properties": {
          "ElementEntryValueId": {
            "type": "integer",
            "description": "Unique identifier for an element entry value.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "InputValueId": {
            "type": "integer",
            "description": "Unique identifier for an input value.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "InputValueName": {
            "type": "string",
            "description": "Name of the element's input value.",
            "nullable": true,
            "x-queryable": false
          },
          "LovScreenEntryValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Entry values contained within a list of values.",
            "nullable": true,
            "x-hints": {
              "PAY_VALUE_SET_ATTRIBUTE_NAME": "ValueSetCode",
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_CURRENCY_CODE_ATTRIBUTE_NAME": "InputValueDP.ElementTypeDPEO.InputCurrencyCode",
              "PAY_LOV_LOOKUP_TYPE_ATTRIBUTE_NAME": "LookupType",
              "PAY_REST_DYN_LOV_FINDER_ATTRIBUTE": "ScreenEntryDataURL",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_LOV_SCREEN_ENTRY_VALUE_ATTRIBUTE_NAME": "LovScreenEntryValue",
              "PAY_VALUE_SET_PARENT_ROW_ACCESSOR": "elementEntries",
              "PAY_LOV_VO_NAME_ATTRIBUTE_NAME": "VoName",
              "PAY_VALUE_SET_BASE_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_UOM_ATTRIBUTE_NAME": "InputValueDP.Uom",
              "controlType": "choice",
              "includeInCompactView": true,
              "PAY_REST_DYN_LOV_ENABLE": "Y",
              "PAY_LOV_DISPLAY_SEQUENCE_ATTRIBUTE_NAME": "DisplaySequence",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            }
          },
          "ScreenEntryValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Entry for input values available for each entry of the element.",
            "nullable": true,
            "x-hints": {
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_CURRENCY_CODE_ATTRIBUTE_NAME": "InputValueDP.ElementTypeDPEO.InputCurrencyCode",
              "PAY_UOM_ATTRIBUTE_NAME": "InputValueDP.Uom",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "LovScreenEntryValue",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            }
          }
        }
      },
      "elementEntries-item-patch-request": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for a person assignment.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatorType": {
            "title": "Creator Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name of the user or the process that created the element entry record, such as batch element entry.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period within which the entry is available for processing with element entry identifier.",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period within which the entry is available for processing.",
            "format": "date",
            "nullable": false
          },
          "ElementEntryHistory": {
            "title": "Element Entry History",
            "type": "array",
            "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-ElementEntryHistory-item-patch-request"
            }
          },
          "ElementName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the element the entry is for, such as Performance Bonus.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ElementTypeId": {
            "title": "Element Name",
            "type": "integer",
            "description": "Unique identifier of the element type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "EntrySequence": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Unique number that identifies an element entry record when overlapping entries exists for the same element.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "EntryType": {
            "title": "Entry Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the element entry, such as regular entry or override.",
            "nullable": false
          },
          "Intent": {
            "maxLength": 200,
            "type": "string",
            "description": "Apply internal finder validation.",
            "nullable": true,
            "x-queryable": false
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier for a person.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Reason": {
            "title": "Reason",
            "maxLength": 4000,
            "type": "string",
            "description": "Reason for creating or updating an element entry.",
            "nullable": true
          },
          "Subpriority": {
            "title": "Subpriority",
            "type": "integer",
            "description": "Number used to sequence the processing of element entries with the same priority.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "elementEntryValues": {
            "title": "Element Entry Values",
            "type": "array",
            "description": "The elementEntryValues is a child of the elementEntries resource which includes values entered for an element, such as amount, periodicity, or rate.",
            "items": {
              "$ref": "#/components/schemas/elementEntries-elementEntryValues-item-patch-request"
            }
          }
        }
      },
      "elementEntries-ElementEntryHistory-item-patch-request": {
        "type": "object",
        "properties": {}
      },
      "elementEntries-elementEntryValues-item-patch-request": {
        "type": "object",
        "properties": {
          "InputValueId": {
            "type": "integer",
            "description": "Unique identifier for an input value.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "InputValueName": {
            "type": "string",
            "description": "Name of the element's input value.",
            "nullable": true,
            "x-queryable": false
          },
          "LovScreenEntryValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Entry values contained within a list of values.",
            "nullable": true,
            "x-hints": {
              "PAY_VALUE_SET_ATTRIBUTE_NAME": "ValueSetCode",
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_CURRENCY_CODE_ATTRIBUTE_NAME": "InputValueDP.ElementTypeDPEO.InputCurrencyCode",
              "PAY_LOV_LOOKUP_TYPE_ATTRIBUTE_NAME": "LookupType",
              "PAY_REST_DYN_LOV_FINDER_ATTRIBUTE": "ScreenEntryDataURL",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_LOV_SCREEN_ENTRY_VALUE_ATTRIBUTE_NAME": "LovScreenEntryValue",
              "PAY_VALUE_SET_PARENT_ROW_ACCESSOR": "elementEntries",
              "PAY_LOV_VO_NAME_ATTRIBUTE_NAME": "VoName",
              "PAY_VALUE_SET_BASE_ATTRIBUTE_NAME": "ScreenEntryValue",
              "PAY_UOM_ATTRIBUTE_NAME": "InputValueDP.Uom",
              "controlType": "choice",
              "includeInCompactView": true,
              "PAY_REST_DYN_LOV_ENABLE": "Y",
              "PAY_LOV_DISPLAY_SEQUENCE_ATTRIBUTE_NAME": "DisplaySequence",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            }
          },
          "ScreenEntryValue": {
            "maxLength": 60,
            "type": "string",
            "description": "Entry for input values available for each entry of the element.",
            "nullable": true,
            "x-hints": {
              "PAY_DEPENDENT_SOURCE_ATTRIBUTE_NAME": "InputValueName",
              "PAY_CURRENCY_CODE_ATTRIBUTE_NAME": "InputValueDP.ElementTypeDPEO.InputCurrencyCode",
              "PAY_UOM_ATTRIBUTE_NAME": "InputValueDP.Uom",
              "PAY_DEPENDENT_DESTINATION_ATTRIBUTE_NAME": "LovScreenEntryValue",
              "PAY_DEPENDENT_REQUIRED_ATTRIBUTE_NAME": "MandatoryFlag"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "elementEntries-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/elementEntries-item-post-request"
            }
          }
        }
      },
      "elementEntries-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/elementEntries-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}