{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Employee Event List",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUIEmployeeEvents": {
      "get": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Get all employee events",
        "operationId": "getall_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CategoryNames; string; Categories of the event.</li><li>City; string; City of an in-person event.</li><li>Country; string; Country of an in-person event.</li><li>CreationDate; string; Creation date of the event.</li><li>Description; string; Description of the event.</li><li>EmployeeEventId; integer; Unique identifier for the event.</li><li>EndDate; string; End date of the event.</li><li>EventNumber; string; Event number of the event.</li><li>EventStatusCode; string; Event status code of the event.</li><li>Format; string; Format name of the event.</li><li>FormatCode; string; Format code of the event.</li><li>LastRegisterDate; string; Last registration date for the event.</li><li>LocationDetails; string; Location details for the event.</li><li>MaximumCapacity; integer; Maximum allowed number of registrants in the event</li><li>MeetingDetails; string; Meeting details of a virtual event.</li><li>Name; string; Name of the event.</li><li>OwnerName; string; Owner of the event.</li><li>RegisteredCount; integer; Number of registrants in the event.</li><li>RespondentStatusCode; string; Respondent status code of the event.</li><li>RespondentStatusDescription; string; Respondent status description of the event.</li><li>StartDate; string; Start date of the event.</li><li>State; string; State in which the in-person event takes place.</li><li>Status; string; Status of the event.</li><li>TimezoneCode; string; Time zone code of the event.</li><li>TimezoneDescription; string; Time zone description of the event.</li><li>WebConfLink; string; Web conference link of the virtual event.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds an event using the event number. <br>Finder Variables <ul><li>EventNumber; string;  Event number used to fetch an event. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds an event using the event number.",
                "properties": {
                  "EventNumber": {
                    "nullable": true,
                    "description": "Event number used to fetch an event.",
                    "readOnly": true,
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUIEmployeeEvents"
                }
              }
            },
            "links": {
              "findMyEvents": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1action~1findMyEvents/post",
                "description": "Finds the events of the current user. Retrieves all events for which the user is owner or co-owner."
              },
              "registerForEvent": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1action~1registerForEvent/post",
                "description": "Registers an event custom action for making an employees registration on an event"
              },
              "findUpcomingEventsForMyCommunications": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1action~1findUpcomingEventsForMyCommunications/post",
                "description": "Fetches upcoming events to present in the my communication dashboard."
              },
              "trackEmployeeEventActivity": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1action~1trackEmployeeEventActivity/post",
                "description": "Tracks an employee action like view or share on an event."
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1action~1findByAdvancedSearchQuery/post",
                "description": "Searches for event using advanced query and filters."
              },
              "withdrawFromEvent": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1action~1withdrawFromEvent/post",
                "description": "Withdraws from event to cancel registration."
              }
            }
          }
        },
        "x-internal-id": "communicateUIEmployeeEvents-get",
        "x-filename-id": "communicateuiemployeeevents-get"
      }
    },
    "/communicateUIEmployeeEvents/action/trackEmployeeEventActivity": {
      "post": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Custom action for tracking an employee interaction with an event.",
        "description": "Tracks an employee action like view or share on an event.",
        "operationId": "doall_trackEmployeeEventActivity_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activityCode": {
                    "type": "string",
                    "description": "Activity code input parameter to trackEmployeeEventActivity.",
                    "nullable": true
                  },
                  "employeeEventNumber": {
                    "type": "string",
                    "description": "Event number input parameter to trackEmployeeEventActivity.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value of trackEmployeeEventActivity."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value of trackEmployeeEventActivity."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIEmployeeEvents-action-trackEmployeeEventActivity-post",
        "x-filename-id": "communicateuiemployeeevents-action-trackemployeeeventactivity-post"
      }
    },
    "/communicateUIEmployeeEvents/action/registerForEvent": {
      "post": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Register an event.",
        "description": "Registers an event custom action for making an employees registration on an event",
        "operationId": "doall_registerForEvent_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventNumber": {
                    "type": "string",
                    "description": "Event number input parameter for registerForEvent.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value of registerForEvent."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value of registerForEvent."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIEmployeeEvents-action-registerForEvent-post",
        "x-filename-id": "communicateuiemployeeevents-action-registerforevent-post"
      }
    },
    "/communicateUIEmployeeEvents/action/withdrawFromEvent": {
      "post": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Withdraw from event.",
        "description": "Withdraws from event to cancel registration.",
        "operationId": "doall_withdrawFromEvent_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventNumber": {
                    "type": "string",
                    "description": "Event number input parameter for withdrawFromEvent.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value of withdrawFromEvent."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value of withdrawFromEvent."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIEmployeeEvents-action-withdrawFromEvent-post",
        "x-filename-id": "communicateuiemployeeevents-action-withdrawfromevent-post"
      }
    },
    "/communicateUIEmployeeEvents/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Search for event.",
        "description": "Searches for event using advanced query and filters.",
        "operationId": "doall_findByAdvancedSearchQuery_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Offset input parameter to control pagination for findByAdvancedSearchQuery.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit input parameter to control number of records retrieved for findByAdvancedSearchQuery.",
                    "nullable": true
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Input parameter to filter event search results for findByAdvancedSearchQuery.",
                    "nullable": true
                  },
                  "sort": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Sort parameter to control the order of events search result for findByAdvancedSearchQuery.",
                    "nullable": true
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields input parameter to control attributes returned for findByAdvancedSearchQuery.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value of the event search sing findByAdvancedSearchQuery."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value of the event search sing findByAdvancedSearchQuery."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIEmployeeEvents-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "communicateuiemployeeevents-action-findbyadvancedsearchquery-post"
      }
    },
    "/communicateUIEmployeeEvents/action/findMyEvents": {
      "post": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Current user's events",
        "description": "Finds the events of the current user. Retrieves all events for which the user is owner or co-owner.",
        "operationId": "doall_findMyEvents_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Offset to control pagination of records fetched in the findMyEvents action.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit to control the number of records fetched in the findMyEvents action.",
                    "nullable": true
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Filters applied in the findMyEvents action.",
                    "nullable": true
                  },
                  "sort": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Sort applied in the findMyEvents action.",
                    "nullable": true
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Fields fetched in the findMyEvents action.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the findMyEvents action"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the findMyEvents action"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIEmployeeEvents-action-findMyEvents-post",
        "x-filename-id": "communicateuiemployeeevents-action-findmyevents-post"
      }
    },
    "/communicateUIEmployeeEvents/{EventNumber}": {
      "get": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Get an employee event",
        "operationId": "get_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "EventNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUIEmployeeEvents-item-response"
                }
              }
            },
            "links": {
              "owners": {
                "operationRef": "#/paths/~1communicateUIEmployeeEvents~1{EventNumber}~1child~1owners/get",
                "parameters": {
                  "EventNumber": "$request.path.EventNumber"
                },
                "description": "The child resource that provides details of the owners of the employee event."
              }
            }
          }
        },
        "x-internal-id": "communicateUIEmployeeEvents-{EventNumber}-get",
        "x-filename-id": "communicateuiemployeeevents-eventnumber-get"
      }
    },
    "/communicateUIEmployeeEvents/action/findUpcomingEventsForMyCommunications": {
      "post": {
        "tags": [
          "Employee Event List"
        ],
        "summary": "Fetch upcoming events.",
        "description": "Fetches upcoming events to present in the my communication dashboard.",
        "operationId": "doall_findUpcomingEventsForMyCommunications_communicateUIEmployeeEvents",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Offset input parameter to control pagination for findUpcomingEventsForMyCommunications.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit input parameter to control number of records retrieved for findUpcomingEventsForMyCommunications.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value of the event search using findUpcomingEventsForMyCommunications custom action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value of the event search using findUpcomingEventsForMyCommunications custom action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIEmployeeEvents-action-findUpcomingEventsForMyCommunications-post",
        "x-filename-id": "communicateuiemployeeevents-action-findupcomingeventsformycommunications-post"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUIEmployeeEvents": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUIEmployeeEvents-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "communicateUIEmployeeEvents-item-response": {
        "type": "object",
        "properties": {
          "CategoryNames": {
            "maxLength": 255,
            "type": "string",
            "description": "Categories of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "City": {
            "title": "City",
            "maxLength": 255,
            "type": "string",
            "description": "City of an in-person event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 255,
            "type": "string",
            "description": "Country of an in-person event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date of the event.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the event.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeEventId": {
            "type": "integer",
            "description": "Unique identifier for the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the event.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EventNumber": {
            "type": "string",
            "description": "Event number of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EventStatusCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Event status code of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Format": {
            "title": "Format",
            "maxLength": 255,
            "type": "string",
            "description": "Format name of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FormatCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Format code of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastRegisterDate": {
            "type": "string",
            "description": "Last registration date for the event.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationDetails": {
            "title": "Location",
            "type": "string",
            "description": "Location details for the event.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MaximumCapacity": {
            "title": "Maximum Capacity",
            "type": "integer",
            "description": "Maximum allowed number of registrants in the event",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "MeetingDetails": {
            "type": "string",
            "description": "Meeting details of a virtual event.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "title": "Name",
            "maxLength": 255,
            "type": "string",
            "description": "Name of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OwnerName": {
            "title": "Owner Name",
            "maxLength": 255,
            "type": "string",
            "description": "Owner of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RegisteredCount": {
            "title": "Registered Count",
            "type": "integer",
            "description": "Number of registrants in the event.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "RespondentStatusCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Respondent status code of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RespondentStatusDescription": {
            "maxLength": 255,
            "type": "string",
            "description": "Respondent status description of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the event.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "State": {
            "title": "State",
            "maxLength": 255,
            "type": "string",
            "description": "State in which the in-person event takes place.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Event Status",
            "maxLength": 255,
            "type": "string",
            "description": "Status of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TimezoneCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Time zone code of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TimezoneDescription": {
            "maxLength": 255,
            "type": "string",
            "description": "Time zone description of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WebConfLink": {
            "title": "Meeting Web Link",
            "maxLength": 255,
            "type": "string",
            "description": "Web conference link of the virtual event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "owners": {
            "title": "Employee Event Owners",
            "type": "array",
            "description": "The child resource that provides details of the owners of the employee event.",
            "items": {
              "$ref": "#/components/schemas/communicateUIEmployeeEvents-owners-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "communicateUIEmployeeEvents-owners-item-response": {
        "type": "object",
        "properties": {
          "DisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the event owner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeEventId": {
            "type": "integer",
            "description": "Unique identifier for the employee event.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EmployeeEventOwnerId": {
            "type": "integer",
            "description": "Unique identifier for the event owner.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "First name of the event owner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FullName": {
            "title": "Full Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Full name of the event owner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Last name of the event owner.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "OwnerPersonId": {
            "type": "integer",
            "description": "Person identifier for the event owner.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OwnerTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether a person is an event owner or co-owner.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}