{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Employee Communications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/communicateUIMyCommunications": {
      "get": {
        "tags": [
          "Employee Communications"
        ],
        "summary": "Get all communications",
        "operationId": "getall_communicateUIMyCommunications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BgImgURL; string; Background image URL of a communication.</li><li>CampaignId; integer; Unique identifier for a campaign.</li><li>CategoryCodes; string; List of category codes associated with a communication.</li><li>CategoryNames; string; List of category names associated with a communication.</li><li>CommunicationId; integer; Unique identifier for a communication.</li><li>CommunicationStatus; string; Indicates whether the communication was opened or not.</li><li>CommunicationType; string; Type of the communication such as email, post or event.</li><li>EndDate; string; End date of a communication.</li><li>EventFormat; string; Indicates whether the event is in-person or virtual.</li><li>PersonId; integer; Unique identifier of a person.</li><li>PreviewObjectId; string; Internal identifier for an email communication.</li><li>PrimaryLabel; string; Label for the primary action link.</li><li>PrimaryLinkText; string; Link associated with the primary action.</li><li>PrimaryLinkTypeCode; string; Indicates whether the primary link is custom or predefined.</li><li>PurposeCode; string; Purpose of a campaign.</li><li>RegisteredCount; integer; Number of registrations for an event.</li><li>ResponseStatus; string; Indicates whether the user responded or not to the specified email.</li><li>ResponseURLId; integer; Internal identifier for the response URL on an email.</li><li>SecondaryLabel; string; Label for the secondary action link.</li><li>SecondaryLinkText; string; Link associated with the secondary action.</li><li>SecondaryLinkTypeCode; string; Indicates whether the secondary link is custom or predefined.</li><li>SenderEmail; string; Email address of the sender.</li><li>SenderId; integer; Unique identifier of the sender.</li><li>SenderName; string; Name of the sender.</li><li>SentDate; string; Sent date of a communication.</li><li>StartDate; string; Start date of a communication.</li><li>Subject; string; Subject of a communication.</li><li>SubjectCode; string; Indicates whether it's a communicate post or team post.</li><li>SubjectSearchText; string; Searchable text in the subject of a communication.</li><li>TimeZoneCode; string; Event time zone.</li><li>ViewTrackingURL; string; URL to track communication views.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a communication based on a communication identifier. <br>Finder Variables <ul><li>CommunicationId; integer;  Unique identifier for a communication. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a communication based on a communication identifier.",
                "properties": {
                  "CommunicationId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for a communication.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUIMyCommunications"
                }
              }
            },
            "links": {
              "previewEmail": {
                "operationRef": "#/paths/~1communicateUIMyCommunications~1action~1previewEmail/post",
                "description": "Retrieves email content using the email identifier."
              },
              "findHighlights": {
                "operationRef": "#/paths/~1communicateUIMyCommunications~1action~1findHighlights/post",
                "description": "Highlights specific communications for an employee."
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1communicateUIMyCommunications~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds communications using an advanced search query."
              }
            }
          }
        },
        "x-internal-id": "communicateUIMyCommunications-get",
        "x-filename-id": "communicateuimycommunications-get"
      }
    },
    "/communicateUIMyCommunications/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Employee Communications"
        ],
        "summary": "Find communications",
        "description": "Finds communications using an advanced search query.",
        "operationId": "doall_findByAdvancedSearchQuery_communicateUIMyCommunications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Page offset for the communications list.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Search keyword used to retrieve the communications list.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit value for the communications list.",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "description": "Filters for the communications list.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sorting method for ordering the communications list.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Attribute fields of the communications list.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of communications returned."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of communications returned."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIMyCommunications-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "communicateuimycommunications-action-findbyadvancedsearchquery-post"
      }
    },
    "/communicateUIMyCommunications/action/findHighlights": {
      "post": {
        "tags": [
          "Employee Communications"
        ],
        "summary": "Highlight specific communications",
        "description": "Highlights specific communications for an employee.",
        "operationId": "doall_findHighlights_communicateUIMyCommunications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "number",
                    "description": "Limit value for the highlighted communications.",
                    "nullable": true
                  },
                  "filters": {
                    "type": "array",
                    "description": "Filters for the highlighted communications.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Attribute fields of the highlighted communications.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of highlighted communications returned."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "List of highlighted communications returned."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIMyCommunications-action-findHighlights-post",
        "x-filename-id": "communicateuimycommunications-action-findhighlights-post"
      }
    },
    "/communicateUIMyCommunications/{CommunicationId}": {
      "get": {
        "tags": [
          "Employee Communications"
        ],
        "summary": "Get a communication",
        "operationId": "get_communicateUIMyCommunications",
        "parameters": [
          {
            "name": "CommunicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a communication.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/communicateUIMyCommunications-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "communicateUIMyCommunications-{CommunicationId}-get",
        "x-filename-id": "communicateuimycommunications-communicationid-get"
      }
    },
    "/communicateUIMyCommunications/action/previewEmail": {
      "post": {
        "tags": [
          "Employee Communications"
        ],
        "summary": "Retrieve email content",
        "description": "Retrieves email content using the email identifier.",
        "operationId": "doall_previewEmail_communicateUIMyCommunications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetUrlId": {
                    "type": "string",
                    "description": "Internal identifier for the response URL on an email.",
                    "nullable": true
                  },
                  "objectId": {
                    "type": "string",
                    "description": "Internal identifier for an email communication.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Content of an email communication."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Content of an email communication."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "communicateUIMyCommunications-action-previewEmail-post",
        "x-filename-id": "communicateuimycommunications-action-previewemail-post"
      }
    }
  },
  "components": {
    "schemas": {
      "communicateUIMyCommunications": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/communicateUIMyCommunications-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "communicateUIMyCommunications-item-response": {
        "type": "object",
        "properties": {
          "BgImgURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Background image URL of a communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignId": {
            "type": "integer",
            "description": "Unique identifier for a campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CategoryCodes": {
            "maxLength": 255,
            "type": "string",
            "description": "List of category codes associated with a communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CategoryNames": {
            "maxLength": 255,
            "type": "string",
            "description": "List of category names associated with a communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CommunicationId": {
            "type": "integer",
            "description": "Unique identifier for a communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CommunicationStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the communication was opened or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CommunicationType": {
            "maxLength": 5,
            "type": "string",
            "description": "Type of the communication such as email, post or event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of a communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "EndDate": {
            "type": "string",
            "description": "End date of a communication.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EventFormat": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the event is in-person or virtual.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier of a person.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PreviewObjectId": {
            "maxLength": 255,
            "type": "string",
            "description": "Internal identifier for an email communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Label for the primary action link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLinkText": {
            "maxLength": 4000,
            "type": "string",
            "description": "Link associated with the primary action.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Indicates whether the primary link is custom or predefined.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PurposeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Purpose of a campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RegisteredCount": {
            "type": "integer",
            "description": "Number of registrations for an event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponseStatus": {
            "maxLength": 7,
            "type": "string",
            "description": "Indicates whether the user responded or not to the specified email.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponseURLId": {
            "type": "integer",
            "description": "Internal identifier for the response URL on an email.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryLabel": {
            "maxLength": 64,
            "type": "string",
            "description": "Label for the secondary action link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryLinkText": {
            "maxLength": 4000,
            "type": "string",
            "description": "Link associated with the secondary action.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryLinkTypeCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Indicates whether the secondary link is custom or predefined.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SenderEmail": {
            "maxLength": 240,
            "type": "string",
            "description": "Email address of the sender.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SenderId": {
            "type": "integer",
            "description": "Unique identifier of the sender.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SenderName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the sender.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SentDate": {
            "type": "string",
            "description": "Sent date of a communication.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of a communication.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Subject": {
            "maxLength": 2000,
            "type": "string",
            "description": "Subject of a communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubjectCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Indicates whether it's a communicate post or team post.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubjectSearchText": {
            "maxLength": 2500,
            "type": "string",
            "description": "Searchable text in the subject of a communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TimeZoneCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Event time zone.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ViewTrackingURL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL to track communication views.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}