{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Employment Team Seniority Dates",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/employmentTeamSeniorityDates/{SeniorityDateId}": {
      "get": {
        "tags": [
          "Employment Team Seniority Dates"
        ],
        "summary": "Get an employment team seniority date",
        "operationId": "get_employmentTeamSeniorityDates",
        "parameters": [
          {
            "name": "SeniorityDateId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Seniority date of employment team seniority.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employmentTeamSeniorityDates-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "employmentTeamSeniorityDates-{SeniorityDateId}-get",
        "x-filename-id": "employmentteamsenioritydates-senioritydateid-get"
      }
    },
    "/employmentTeamSeniorityDates": {
      "get": {
        "tags": [
          "Employment Team Seniority Dates"
        ],
        "summary": "Get all employment team seniority dates",
        "operationId": "getall_employmentTeamSeniorityDates",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentId; integer; Seniority date identifier of employment team seniority.</li><li>AutoAdjustmentDays; number; Auto adjustment days of employment team seniority.</li><li>AutoAdjustmentHours; number; Auto adjustment hours of employment team seniority.</li><li>DisplayName; string; Display name attribute on employment team seniority.</li><li>ExitDate; string; Exit date attribute on employment team seniority.</li><li>LevelCode; string; Level code attribute on the employment of employment team seniority.</li><li>ManagerAssignmentId; integer; Manager assignment of employment team seniority.</li><li>ManagerId; integer; Manager ID for employment team seniority.</li><li>ManualAdjustmentDays; number; Manual adjustment days for employment team seniority.</li><li>ManualAdjustmentHours; number; Manual adjustment hours of employment team seniority.</li><li>PersonId; integer; Person ID attribute on the employment of employment team seniority.</li><li>SeniorityDate; string; Seniority date attribute on the employment of employment team seniority.</li><li>SeniorityDateId; integer; Seniority date of employment team seniority.</li><li>SeniorityEffectiveDate; string; Seniority effective date of employment team seniority.</li><li>SeniorityField; string; Seniority field attribute for employment team seniority.</li><li>SeniorityFieldKey; string; Seniority field key of employment team seniority.</li><li>SeniorityFieldName; string; Seniority field name of employment team seniority.</li><li>SeniorityFieldValue; string; Seniority field value of employment team seniority.</li><li>SeniorityLosDays; number; Seniority los days of employment team seniority.</li><li>SeniorityLosMonths; number; Seniority los months of employment team seniority.</li><li>SeniorityLosYears; number; Seniority los years of employment team seniority.</li><li>TotalAdjustmentDays; number; Total adjustment days of employment team seniority.</li><li>TotalAdjustmentHours; number; Total adjustment hours of employment team seniority.</li><li>TotalAutoAdjustmentDays; number; Total auto adjustment days on employment team seniority.</li><li>TotalAutoAdjustmentHours; number; Total auto adjustment hours on employment team seniority.</li><li>TotalManualAdjustmentDays; number; Total manual adjustment days on the employment team seniority.</li><li>TotalManualAdjustmentHours; number; Total manual adjustment hours on the employment team seniority.</li><li>TotalSeniorityHours; number; Total seniority hours of employment team seniority.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all team seniority based on the identifier that matches the specified primary key. <br>Finder Variables <ul><li>SeniorityDateId; integer;  Seniority date of employment team </li></ul></li><li>findByManagerId Finds all seniority dates based on the manager ID that matches the specified identifier. <br>Finder Variables <ul><li>ManagerId; integer;  Manager identifier of employment team seniority dates. </li><li>SeniorityEffectiveDate; string;  Effective date of employment team seniority. </li></ul></li><li>findTeamSeniorityPerFieldLevelAndKey Finds all team seniority based on the identifier that matches the specified field level key. <br>Finder Variables <ul><li>LevelCode; string;  Level of employment team seniority. </li><li>ManagerId; integer;  Manager ID of employment team seniority. </li><li>SeniorityEffectiveDate; string;  Effective date of primary key identifier of employment team seniority dates. </li><li>SeniorityFieldName; string;  Seniority name of employment team seniority. </li><li>SeniorityFieldValue; string;  Seniority value of employment team seniority. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all team seniority based on the identifier that matches the specified primary key.",
                "properties": {
                  "SeniorityDateId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Seniority date of employment team",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByManagerId",
                "description": "Finds all seniority dates based on the manager ID that matches the specified identifier.",
                "title": "findByManagerId",
                "properties": {
                  "SeniorityEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Effective date of employment team seniority.",
                    "type": "string"
                  },
                  "ManagerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Manager identifier of employment team seniority dates.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findTeamSeniorityPerFieldLevelAndKey",
                "description": "Finds all team seniority based on the identifier that matches the specified field level key.",
                "title": "findTeamSeniorityPerFieldLevelAndKey",
                "properties": {
                  "SeniorityFieldValue": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Seniority value of employment team seniority.",
                    "type": "string"
                  },
                  "SeniorityEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Effective date of primary key identifier of employment team seniority dates.",
                    "type": "string"
                  },
                  "LevelCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level of employment team seniority.",
                    "type": "string"
                  },
                  "SeniorityFieldName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Seniority name of employment team seniority.",
                    "type": "string"
                  },
                  "ManagerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Manager ID of employment team seniority.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employmentTeamSeniorityDates"
                }
              }
            }
          }
        },
        "x-internal-id": "employmentTeamSeniorityDates-get",
        "x-filename-id": "employmentteamsenioritydates-get"
      }
    }
  },
  "components": {
    "schemas": {
      "employmentTeamSeniorityDates-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Seniority date identifier of employment team seniority.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AutoAdjustmentDays": {
            "type": "number",
            "description": "Auto adjustment days of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "AutoAdjustmentHours": {
            "type": "number",
            "description": "Auto adjustment hours of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Display name attribute on employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExitDate": {
            "type": "string",
            "description": "Exit date attribute on employment team seniority.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LevelCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Level code attribute on the employment of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerAssignmentId": {
            "type": "integer",
            "description": "Manager assignment of employment team seniority.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerId": {
            "type": "integer",
            "description": "Manager ID for employment team seniority.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManualAdjustmentDays": {
            "type": "number",
            "description": "Manual adjustment days for employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "ManualAdjustmentHours": {
            "type": "number",
            "description": "Manual adjustment hours of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person ID attribute on the employment of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityDate": {
            "type": "string",
            "description": "Seniority date attribute on the employment of employment team seniority.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityDateId": {
            "type": "integer",
            "description": "Seniority date of employment team seniority.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SeniorityEffectiveDate": {
            "type": "string",
            "description": "Seniority effective date of employment team seniority.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityField": {
            "maxLength": 30,
            "type": "string",
            "description": "Seniority field attribute for employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityFieldKey": {
            "maxLength": 150,
            "type": "string",
            "description": "Seniority field key of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityFieldName": {
            "maxLength": 80,
            "type": "string",
            "description": "Seniority field name of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityFieldValue": {
            "maxLength": 240,
            "type": "string",
            "description": "Seniority field value of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SeniorityLosDays": {
            "type": "number",
            "description": "Seniority los days of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 10
            },
            "x-queryable": true
          },
          "SeniorityLosMonths": {
            "type": "number",
            "description": "Seniority los months of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "SeniorityLosYears": {
            "type": "number",
            "description": "Seniority los years of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalAdjustmentDays": {
            "type": "number",
            "description": "Total adjustment days of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalAdjustmentHours": {
            "type": "number",
            "description": "Total adjustment hours of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalAutoAdjustmentDays": {
            "type": "number",
            "description": "Total auto adjustment days on employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalAutoAdjustmentHours": {
            "type": "number",
            "description": "Total auto adjustment hours on employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalManualAdjustmentDays": {
            "type": "number",
            "description": "Total manual adjustment days on the employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalManualAdjustmentHours": {
            "type": "number",
            "description": "Total manual adjustment hours on the employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "TotalSeniorityHours": {
            "type": "number",
            "description": "Total seniority hours of employment team seniority.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "scale": 5
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "employmentTeamSeniorityDates": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/employmentTeamSeniorityDates-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}