{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Event Shortlisting Details/Event Shortlisting Participants/Candidate Attachments/Large Object (LOB) Attributes - FileContents",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIEventShortlistingDetails/{recruitingUIEventShortlistingDetailsUniqID}/child/participants/{participantsUniqID}/child/attachments/{attachmentsUniqID}/enclosure/FileContents": {
      "get": {
        "tags": [
          "Event Shortlisting Details/Event Shortlisting Participants/Candidate Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Get a FileContents",
        "description": "Get a FileContents",
        "operationId": "get_recruitingUIEventShortlistingDetails-participants-attachments-FileContents",
        "parameters": [
          {
            "name": "recruitingUIEventShortlistingDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- EventId and InterviewDetailsId ---for the Event Shortlisting Details resource and used to uniquely identify an instance of Event Shortlisting Details. The client should not generate the hash key value.  Instead, the client should query on the Event Shortlisting Details collection resource with a filter on the primary key values in order to navigate to a specific instance of Event Shortlisting Details.<br><br>For example: recruitingUIEventShortlistingDetails?q=EventId=&lt;value1&gt;;InterviewDetailsId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Event Shortlisting Participants resource and used to uniquely identify an instance of Event Shortlisting Participants. The client should not generate the hash key value. Instead, the client should query on the Event Shortlisting Participants collection resource in order to navigate to a specific instance of Event Shortlisting Participants to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Candidate Attachments resource and used to uniquely identify an instance of Candidate Attachments. The client should not generate the hash key value. Instead, the client should query on the Candidate Attachments collection resource in order to navigate to a specific instance of Candidate Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "{recruitingUIEventShortlistingDetailsUniqID}-child-participants-{participantsUniqID}-child-attachments-{attachmentsUniqID}-enclosure-FileContents-get",
        "x-filename-id": "recruitinguieventshortlistingdetailsuniqid-child-participants-participantsuniqid-child-attachments-attachmentsuniqid-enclosure-filecontents-get"
      },
      "put": {
        "tags": [
          "Event Shortlisting Details/Event Shortlisting Participants/Candidate Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Replace a FileContents",
        "description": "Replace a FileContents",
        "operationId": "replace_recruitingUIEventShortlistingDetails-participants-attachments-FileContents",
        "parameters": [
          {
            "name": "recruitingUIEventShortlistingDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- EventId and InterviewDetailsId ---for the Event Shortlisting Details resource and used to uniquely identify an instance of Event Shortlisting Details. The client should not generate the hash key value.  Instead, the client should query on the Event Shortlisting Details collection resource with a filter on the primary key values in order to navigate to a specific instance of Event Shortlisting Details.<br><br>For example: recruitingUIEventShortlistingDetails?q=EventId=&lt;value1&gt;;InterviewDetailsId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Event Shortlisting Participants resource and used to uniquely identify an instance of Event Shortlisting Participants. The client should not generate the hash key value. Instead, the client should query on the Event Shortlisting Participants collection resource in order to navigate to a specific instance of Event Shortlisting Participants to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Candidate Attachments resource and used to uniquely identify an instance of Candidate Attachments. The client should not generate the hash key value. Instead, the client should query on the Candidate Attachments collection resource in order to navigate to a specific instance of Candidate Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "{recruitingUIEventShortlistingDetailsUniqID}-child-participants-{participantsUniqID}-child-attachments-{attachmentsUniqID}-enclosure-FileContents-put",
        "x-filename-id": "recruitinguieventshortlistingdetailsuniqid-child-participants-participantsuniqid-child-attachments-attachmentsuniqid-enclosure-filecontents-put"
      },
      "delete": {
        "tags": [
          "Event Shortlisting Details/Event Shortlisting Participants/Candidate Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Delete a FileContents",
        "description": "Delete a FileContents",
        "operationId": "delete_recruitingUIEventShortlistingDetails-participants-attachments-FileContents",
        "parameters": [
          {
            "name": "recruitingUIEventShortlistingDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- EventId and InterviewDetailsId ---for the Event Shortlisting Details resource and used to uniquely identify an instance of Event Shortlisting Details. The client should not generate the hash key value.  Instead, the client should query on the Event Shortlisting Details collection resource with a filter on the primary key values in order to navigate to a specific instance of Event Shortlisting Details.<br><br>For example: recruitingUIEventShortlistingDetails?q=EventId=&lt;value1&gt;;InterviewDetailsId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Event Shortlisting Participants resource and used to uniquely identify an instance of Event Shortlisting Participants. The client should not generate the hash key value. Instead, the client should query on the Event Shortlisting Participants collection resource in order to navigate to a specific instance of Event Shortlisting Participants to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Candidate Attachments resource and used to uniquely identify an instance of Candidate Attachments. The client should not generate the hash key value. Instead, the client should query on the Candidate Attachments collection resource in order to navigate to a specific instance of Candidate Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "child-participants-{participantsUniqID}-child-attachments-{attachmentsUniqID}-enclosure-FileContents-delete",
        "x-filename-id": "child-participants-participantsuniqid-child-attachments-attachmentsuniqid-enclosure-filecontents-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}