{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Event Details/Event Translations/Large Object (LOB) Attributes - EventShortDesc",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIEventDetails/{EventId}/child/eventTranslation/{eventTranslationUniqID}/enclosure/EventShortDesc": {
      "get": {
        "tags": [
          "Event Details/Event Translations/Large Object (LOB) Attributes - EventShortDesc"
        ],
        "summary": "Get an EventShortDesc",
        "description": "Get an EventShortDesc",
        "operationId": "get_recruitingUIEventDetails-eventTranslation-EventShortDesc",
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the event in translations.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "eventTranslationUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- EventId and Language ---for the Event Translations resource and used to uniquely identify an instance of Event Translations. The client should not generate the hash key value.  Instead, the client should query on the Event Translations collection resource with a filter on the primary key values in order to navigate to a specific instance of Event Translations.<br><br>For example: eventTranslation?q=EventId=&lt;value1&gt;;Language=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIEventDetails-{EventId}-child-eventTranslation-{eventTranslationUniqID}-enclosure-EventShortDesc-get",
        "x-filename-id": "recruitinguieventdetails-eventid-child-eventtranslation-eventtranslationuniqid-enclosure-eventshortdesc-get"
      },
      "put": {
        "tags": [
          "Event Details/Event Translations/Large Object (LOB) Attributes - EventShortDesc"
        ],
        "summary": "Replace an EventShortDesc",
        "description": "Replace an EventShortDesc",
        "operationId": "replace_recruitingUIEventDetails-eventTranslation-EventShortDesc",
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the event in translations.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "eventTranslationUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- EventId and Language ---for the Event Translations resource and used to uniquely identify an instance of Event Translations. The client should not generate the hash key value.  Instead, the client should query on the Event Translations collection resource with a filter on the primary key values in order to navigate to a specific instance of Event Translations.<br><br>For example: eventTranslation?q=EventId=&lt;value1&gt;;Language=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingUIEventDetails-{EventId}-child-eventTranslation-{eventTranslationUniqID}-enclosure-EventShortDesc-put",
        "x-filename-id": "recruitinguieventdetails-eventid-child-eventtranslation-eventtranslationuniqid-enclosure-eventshortdesc-put"
      },
      "delete": {
        "tags": [
          "Event Details/Event Translations/Large Object (LOB) Attributes - EventShortDesc"
        ],
        "summary": "Delete an EventShortDesc",
        "description": "Delete an EventShortDesc",
        "operationId": "delete_recruitingUIEventDetails-eventTranslation-EventShortDesc",
        "parameters": [
          {
            "name": "EventId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the event in translations.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "eventTranslationUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- EventId and Language ---for the Event Translations resource and used to uniquely identify an instance of Event Translations. The client should not generate the hash key value.  Instead, the client should query on the Event Translations collection resource with a filter on the primary key values in order to navigate to a specific instance of Event Translations.<br><br>For example: eventTranslation?q=EventId=&lt;value1&gt;;Language=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingUIEventDetails-{EventId}-child-eventTranslation-{eventTranslationUniqID}-enclosure-EventShortDesc-delete",
        "x-filename-id": "recruitinguieventdetails-eventid-child-eventtranslation-eventtranslationuniqid-enclosure-eventshortdesc-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}