{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Flow Instances",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/flowInstances/{FlowInstanceId}/action/performAction": {
      "post": {
        "tags": [
          "Flow Instances"
        ],
        "summary": "Perform a corrective action",
        "description": "Performs the actual corrective action for a payroll flow.",
        "operationId": "do_performAction_flowInstances",
        "parameters": [
          {
            "name": "FlowInstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier used to retrieve the submitted flow instance.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actionName": {
                    "type": "string",
                    "description": "Name of the corrective action to be performed.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "flowInstances-{FlowInstanceId}-action-performAction-post",
        "x-filename-id": "flowinstances-flowinstanceid-action-performaction-post"
      }
    },
    "/flowInstances/{FlowInstanceId}": {
      "get": {
        "tags": [
          "Flow Instances"
        ],
        "summary": "Get a payroll flow instance",
        "operationId": "get_flowInstances",
        "parameters": [
          {
            "name": "FlowInstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier used to retrieve the submitted flow instance.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flowInstances-item-response"
                }
              }
            },
            "links": {
              "checklists": {
                "operationRef": "#/paths/~1flowInstances~1{FlowInstanceId}~1child~1checklists/get",
                "parameters": {
                  "FlowInstanceId": "$request.path.FlowInstanceId"
                },
                "description": "The checklists resource is a child of the flowInstances resource and provides a list of all the tasks and actions from a submitted payroll flow."
              },
              "getAvailableActions": {
                "operationRef": "#/paths/~1flowInstances~1{FlowInstanceId}~1action~1getAvailableActions/post",
                "parameters": {
                  "FlowInstanceId": "$request.path.FlowInstanceId"
                },
                "description": "Provides the list of corrective action codes and meanings for actions that can be performed for a specified payroll flow."
              },
              "performAction": {
                "operationRef": "#/paths/~1flowInstances~1{FlowInstanceId}~1action~1performAction/post",
                "parameters": {
                  "FlowInstanceId": "$request.path.FlowInstanceId"
                },
                "description": "Performs the actual corrective action for a payroll flow."
              }
            }
          }
        },
        "x-internal-id": "flowInstances-{FlowInstanceId}-get",
        "x-filename-id": "flowinstances-flowinstanceid-get"
      }
    },
    "/flowInstances": {
      "get": {
        "tags": [
          "Flow Instances"
        ],
        "summary": "Get all payroll flow instances",
        "operationId": "getall_flowInstances",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BaseFlowId; integer; Unique identifier for the flow pattern with which the submitted flow instance is associated.</li><li>CompletedTasks; integer; Number of flow tasks completed in a flow instance.</li><li>CreatedBy; string; User who created the flow instance information.</li><li>CreationDate; string; Date and time when the flow instance information was created.</li><li>FlowInstanceId; integer; Unique identifier used to retrieve the submitted flow instance.</li><li>FlowName; string; Unique name for a flow instance within a legislation.</li><li>GroupStatus; string; High level status of a flow instance, such as Completed with error, without mentioning the specifics of the error.</li><li>IsDataLoader; string; Indicates whether a flow instance has a data loader type of task. The valid values are Y, N, and Null. The default value is N.</li><li>IsExtract; string; Indicates whether a flow instance has an extract type of task. The valid values are Y, N, and Null. The default value is N.</li><li>LastUpdateDate; string; Date and time when the flow instance information was last updated.</li><li>LastUpdatedBy; string; User who last updated the flow instance information.</li><li>LegislativeDataGroupId; integer; Unique identifier for the legislative data group used to retrieve the payroll flow instance.</li><li>NumberOfTasks; integer; Count of the total tasks in a task flow.</li><li>PayrollId; integer; Unique identifier for the payroll that's passed as a parameter to the flow instance.</li><li>ProcessDate; string; Process date passed as a parameter to the flow instance.</li><li>Records; number; Number of individual records successfully completed in a flow instance for a standard process.</li><li>RecurSchFormulaId; integer; Unique identifier of the fast formula used for scheduling a flow.</li><li>RecurringFlag; boolean; Indicates whether the flow instance that's being processed belongs to the flow instance that was submitted on a recurring basis. The valid values are True and False. The default value is False.</li><li>RootFlowInstanceId; integer; Unique identifier for the first flow instance of the recurring schedule.</li><li>ScheduleEndDate; string; Date that indicates the end of a recurring schedule.</li><li>ScheduledDate; string; Date that indicates the start of a recurring schedule.</li><li>Status; string; Calculated status for a flow instance with valid values, such as PROCESSING for Processing, C_ERRORS for Critical Errors, STOPPED for Stopped, COMPLETED for Completed, ROLLEDBACK for Full Rollback, IS_ROLLEDBACK for Rolled Back Records, IS_MFR for Marked for Retry, INCOMPLETE for Incomplete, SKIPPED for Skipped, NOT_STARTED for Not Started, CANCELED for Canceled, SCHEDULED for Scheduled, ERRORS for Errors, and NULL for Task Flow type of flow instances.</li><li>TaskType; string; Task type of a flow instance, such as process, report, or task flow.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the payroll flow names that match the specified primary key criteria. <br>Finder Variables <ul><li>FlowInstanceId; integer;  Unique identifier for the payroll flow used to retrieve the payroll flow record. </li></ul></li><li>findByStatus Finds payroll flow instances based on the status. <br>Finder Variables <ul><li>Status; string;  Calculated status for a flow instance with valid values, such as PROCESSING for Processing, C_ERRORS for Critical Errors, STOPPED for Stopped, COMPLETED for Completed, ROLLEDBACK for Full Rollback, IS_ROLLEDBACK for Rolled Back Records, IS_MFR for Marked for Retry, INCOMPLETE for Incomplete, SKIPPED for Skipped, NOT_STARTED for Not Started, CANCELED for Canceled, SCHEDULED for Scheduled, ERRORS for Errors, and NULL for Task Flow flow instances type. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the payroll flow names that match the specified primary key criteria.",
                "properties": {
                  "FlowInstanceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the payroll flow used to retrieve the payroll flow record.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByStatus",
                "description": "Finds payroll flow instances based on the status.",
                "title": "findByStatus",
                "properties": {
                  "Status": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Calculated status for a flow instance with valid values, such as PROCESSING for Processing, C_ERRORS for Critical Errors, STOPPED for Stopped, COMPLETED for Completed, ROLLEDBACK for Full Rollback, IS_ROLLEDBACK for Rolled Back Records, IS_MFR for Marked for Retry, INCOMPLETE for Incomplete, SKIPPED for Skipped, NOT_STARTED for Not Started, CANCELED for Canceled, SCHEDULED for Scheduled, ERRORS for Errors, and NULL for Task Flow flow instances type.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flowInstances"
                }
              }
            }
          }
        },
        "x-internal-id": "flowInstances-get",
        "x-filename-id": "flowinstances-get"
      }
    },
    "/flowInstances/{FlowInstanceId}/action/getAvailableActions": {
      "post": {
        "tags": [
          "Flow Instances"
        ],
        "summary": "Get available corrective actions",
        "description": "Provides the list of corrective action codes and meanings for actions that can be performed for a specified payroll flow.",
        "operationId": "do_getAvailableActions_flowInstances",
        "parameters": [
          {
            "name": "FlowInstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier used to retrieve the submitted flow instance.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Available action codes and meanings for the corrective action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Available action codes and meanings for the corrective action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "flowInstances-{FlowInstanceId}-action-getAvailableActions-post",
        "x-filename-id": "flowinstances-flowinstanceid-action-getavailableactions-post"
      }
    }
  },
  "components": {
    "schemas": {
      "flowInstances-item-response": {
        "type": "object",
        "properties": {
          "BaseFlowId": {
            "type": "integer",
            "description": "Unique identifier for the flow pattern with which the submitted flow instance is associated.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CompletedTasks": {
            "type": "integer",
            "description": "Number of flow tasks completed in a flow instance.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the flow instance information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time when the flow instance information was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowInstanceId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve the submitted flow instance.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "FlowName": {
            "maxLength": 200,
            "type": "string",
            "description": "Unique name for a flow instance within a legislation.",
            "nullable": true,
            "x-queryable": true
          },
          "GroupStatus": {
            "maxLength": 255,
            "type": "string",
            "description": "High level status of a flow instance, such as Completed with error, without mentioning the specifics of the error.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsDataLoader": {
            "maxLength": 2,
            "type": "string",
            "description": "Indicates whether a flow instance has a data loader type of task. The valid values are Y, N, and Null. The default value is N.",
            "nullable": true,
            "x-queryable": true
          },
          "IsExtract": {
            "maxLength": 2,
            "type": "string",
            "description": "Indicates whether a flow instance has an extract type of task. The valid values are Y, N, and Null. The default value is N.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date and time when the flow instance information was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the flow instance information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislativeDataGroupId": {
            "type": "integer",
            "description": "Unique identifier for the legislative data group used to retrieve the payroll flow instance.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NumberOfTasks": {
            "type": "integer",
            "description": "Count of the total tasks in a task flow.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            },
            "x-queryable": true
          },
          "PayrollId": {
            "type": "integer",
            "description": "Unique identifier for the payroll that's passed as a parameter to the flow instance.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 20
            },
            "x-queryable": true
          },
          "ProcessDate": {
            "type": "string",
            "description": "Process date passed as a parameter to the flow instance.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Records": {
            "type": "number",
            "description": "Number of individual records successfully completed in a flow instance for a standard process.",
            "nullable": true,
            "x-queryable": true
          },
          "RecurSchFormulaId": {
            "type": "integer",
            "description": "Unique identifier of the fast formula used for scheduling a flow.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecurringFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the flow instance that's being processed belongs to the flow instance that was submitted on a recurring basis. The valid values are True and False. The default value is False.",
            "nullable": true,
            "x-queryable": true
          },
          "RootFlowInstanceId": {
            "type": "integer",
            "description": "Unique identifier for the first flow instance of the recurring schedule.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ScheduleEndDate": {
            "type": "string",
            "description": "Date that indicates the end of a recurring schedule.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduledDate": {
            "type": "string",
            "description": "Date that indicates the start of a recurring schedule.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Calculated status for a flow instance with valid values, such as PROCESSING for Processing, C_ERRORS for Critical Errors, STOPPED for Stopped, COMPLETED for Completed, ROLLEDBACK for Full Rollback, IS_ROLLEDBACK for Rolled Back Records, IS_MFR for Marked for Retry, INCOMPLETE for Incomplete, SKIPPED for Skipped, NOT_STARTED for Not Started, CANCELED for Canceled, SCHEDULED for Scheduled, ERRORS for Errors, and NULL for Task Flow type of flow instances.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskType": {
            "maxLength": 20,
            "type": "string",
            "description": "Task type of a flow instance, such as process, report, or task flow.",
            "nullable": true,
            "x-queryable": true
          },
          "checklists": {
            "title": "Checklists",
            "type": "array",
            "description": "The checklists resource is a child of the flowInstances resource and provides a list of all the tasks and actions from a submitted payroll flow.",
            "items": {
              "$ref": "#/components/schemas/flowInstances-checklists-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "flowInstances-checklists-item-response": {
        "type": "object",
        "properties": {
          "BaseFlowTaskId": {
            "type": "integer",
            "description": "Unique identifier for the flow task.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ChecklistName": {
            "maxLength": 250,
            "type": "string",
            "description": "Name of the checklist.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the checklist information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time when the checklist information was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowInstanceId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve the submitted flow instance.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "FlowTaskInstanceId": {
            "type": "integer",
            "description": "Unique identifier to identify a submitted flow task instance.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "GroupStatus": {
            "maxLength": 255,
            "type": "string",
            "description": "High level status of a checklist, such as Completed with error, without mentioning the specifics of the error.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsCancelling": {
            "maxLength": 2,
            "type": "string",
            "description": "Indicates whether the process is being canceled in the background. Valid values are Y and N. The default value is N.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date and time when the checklist information was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the checklist information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LoggingLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Option that indicates whether a process is submitted with logging enabled.",
            "nullable": true,
            "x-queryable": true
          },
          "OwnerId": {
            "maxLength": 4000,
            "type": "string",
            "description": "Unique identifier to identify a checklist owner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OwnerType": {
            "maxLength": 18,
            "type": "string",
            "description": "Type of a group or a single checklist owner.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Records": {
            "type": "number",
            "description": "Number of individual records successfully completed in a flow instance for a standard process.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "maxLength": 255,
            "type": "string",
            "description": "Calculated status for a checklist with valid values, such as PROCESSING for Processing, C_ERRORS for Critical Errors, STOPPED for Stopped, COMPLETED for Completed, ROLLEDBACK for Full Rollback, IS_ROLLEDBACK for Rolled Back Records, IS_MFR for Marked for Retry, INCOMPLETE for Incomplete, SKIPPED for Skipped, NOT_STARTED for Not Started, CANCELED for Canceled, SCHEDULED for Scheduled, ERRORS for Errors.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "flowInstances": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/flowInstances-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}