{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Geofences",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/timeGeofences": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "summary": "Get all geofences",
        "operationId": "getall_timeGeofences",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Code; string; Nontranslatable code for the geofence name. For example, if the name is Pleasanton Building 1, the code is PLEASANTON BUILDING 1.</li><li>Description; string; Description for a geofence.</li><li>GeofenceId; integer; Unique identifier for the geofence.</li><li>LastUpdateDate; string; Date when the geofence was most recently updated.</li><li>LastUpdatedBy; string; Person who most recently updated the geofence.</li><li>LocationId; integer; Unique identifier for the work location.</li><li>LocationName; string; Name of the location the geofence is defined for.</li><li>LocationValidFlag; boolean; Indicates whether the location is valid.</li><li>Name; string; Name of the geofence.</li><li>Radius; integer; Allowed radius for the geofence.</li><li>Source; string; How the geofence was created. For example, if a user created the geofence, the source is Manual.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>FindByLocationName Finds all geofences that match the specified location name associated with the geofence. <br>Finder Variables <ul><li>LocationName; string;  Name; string;  of the location that the geofence is defined for. </li><li>SysEffectiveDate; object;   </li></ul></li><li>PrimaryKey Find all geofences that match the specified primary key criteria. <br>Finder Variables <ul><li>GeofenceId; integer;  Unique identifier for the geofence. </li></ul></li><li>findByName Find all geofences that match the specified geofence name. <br>Finder Variables <ul><li>Name; string;  Name; string;  of the geofence. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "FindByLocationName",
                "description": "Finds all geofences that match the specified location name associated with the geofence.",
                "title": "findByLocationNameVC",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LocationName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the location that the geofence is defined for.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Find all geofences that match the specified primary key criteria.",
                "properties": {
                  "GeofenceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the geofence.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByName",
                "description": "Find all geofences that match the specified geofence name.",
                "title": "findByNameVC",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "Name": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the geofence.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeGeofences"
                }
              }
            },
            "links": {
              "fetchGeocoordinatesAndFormattedAddresses": {
                "operationRef": "#/paths/~1timeGeofences~1action~1fetchGeocoordinatesAndFormattedAddresses/post",
                "description": "Returns geographic coordinates and formatted postal address for the location."
              }
            }
          }
        },
        "x-internal-id": "timeGeofences-get",
        "x-filename-id": "timegeofences-get"
      },
      "post": {
        "tags": [
          "Geofences"
        ],
        "summary": "Create a geofence",
        "operationId": "create_timeGeofences",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/timeGeofences-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeGeofences-item-response"
                }
              }
            },
            "links": {
              "LocationLovVO1": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationName; Target Attribute: LocationName</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationName",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "LocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationName",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "geofenceAssignments": {
                "operationRef": "#/paths/~1timeGeofences~1{timeGeofencesUniqID}~1child~1geofenceAssignments/get",
                "parameters": {
                  "timeGeofencesUniqID": "$request.path.timeGeofencesUniqID"
                },
                "description": "The geofenceAssignments resource lets administrators add HCM Groups to the geofences during CREATE and UPDATE actions."
              }
            }
          }
        },
        "x-internal-id": "timeGeofences-post",
        "x-filename-id": "timegeofences-post"
      }
    },
    "/timeGeofences/{timeGeofencesUniqID}": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "summary": "Get a geofence",
        "operationId": "get_timeGeofences",
        "parameters": [
          {
            "name": "timeGeofencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Geofences resource and used to uniquely identify an instance of Geofences. The client should not generate the hash key value. Instead, the client should query on the Geofences collection resource in order to navigate to a specific instance of Geofences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeGeofences-item-response"
                }
              }
            },
            "links": {
              "LocationLovVO1": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationName; Target Attribute: LocationName</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationName",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "LocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationName",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "geofenceAssignments": {
                "operationRef": "#/paths/~1timeGeofences~1{timeGeofencesUniqID}~1child~1geofenceAssignments/get",
                "parameters": {
                  "timeGeofencesUniqID": "$request.path.timeGeofencesUniqID"
                },
                "description": "The geofenceAssignments resource lets administrators add HCM Groups to the geofences during CREATE and UPDATE actions."
              }
            }
          }
        },
        "x-internal-id": "timeGeofences-{timeGeofencesUniqID}-get",
        "x-filename-id": "timegeofences-timegeofencesuniqid-get"
      },
      "delete": {
        "tags": [
          "Geofences"
        ],
        "summary": "Delete a geofence",
        "operationId": "delete_timeGeofences",
        "parameters": [
          {
            "name": "timeGeofencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Geofences resource and used to uniquely identify an instance of Geofences. The client should not generate the hash key value. Instead, the client should query on the Geofences collection resource in order to navigate to a specific instance of Geofences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "timeGeofences-{timeGeofencesUniqID}-delete",
        "x-filename-id": "timegeofences-timegeofencesuniqid-delete"
      },
      "patch": {
        "tags": [
          "Geofences"
        ],
        "summary": "Update a geofence",
        "operationId": "update_timeGeofences",
        "parameters": [
          {
            "name": "timeGeofencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Geofences resource and used to uniquely identify an instance of Geofences. The client should not generate the hash key value. Instead, the client should query on the Geofences collection resource in order to navigate to a specific instance of Geofences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/timeGeofences-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeGeofences-item-response"
                }
              }
            },
            "links": {
              "LocationLovVO1": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocationName; Target Attribute: LocationName</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocationName",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "LocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationName",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "geofenceAssignments": {
                "operationRef": "#/paths/~1timeGeofences~1{timeGeofencesUniqID}~1child~1geofenceAssignments/get",
                "parameters": {
                  "timeGeofencesUniqID": "$request.path.timeGeofencesUniqID"
                },
                "description": "The geofenceAssignments resource lets administrators add HCM Groups to the geofences during CREATE and UPDATE actions."
              }
            }
          }
        },
        "x-internal-id": "timeGeofences-{timeGeofencesUniqID}-patch",
        "x-filename-id": "timegeofences-timegeofencesuniqid-patch"
      }
    },
    "/timeGeofences/action/fetchGeocoordinatesAndFormattedAddresses": {
      "post": {
        "tags": [
          "Geofences"
        ],
        "summary": "Return geographic coordinates and formatted postal address for the location",
        "description": "Returns geographic coordinates and formatted postal address for the location.",
        "operationId": "doall_fetchGeocoordinatesAndFormattedAddresses_timeGeofences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locations": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Location identifier, address line 1, city, state, country, and postal code.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "description": "Location identifier, geographic coordinates, and formatted postal address returned for the location."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "description": "Location identifier, geographic coordinates, and formatted postal address returned for the location."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "timeGeofences-action-fetchGeocoordinatesAndFormattedAddresses-post",
        "x-filename-id": "timegeofences-action-fetchgeocoordinatesandformattedaddresses-post"
      }
    }
  },
  "components": {
    "schemas": {
      "timeGeofences": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/timeGeofences-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "timeGeofences-item-response": {
        "type": "object",
        "properties": {
          "Code": {
            "maxLength": 256,
            "type": "string",
            "description": "Nontranslatable code for the geofence name. For example, if the name is Pleasanton Building 1, the code is PLEASANTON BUILDING 1.",
            "nullable": false,
            "x-queryable": true
          },
          "Description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description for a geofence.",
            "nullable": true,
            "x-queryable": true
          },
          "GeoJson": {
            "type": "string",
            "description": "GeoJson coordinates for a geofence.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "GeofenceId": {
            "type": "integer",
            "description": "Unique identifier for the geofence.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the geofence was most recently updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who most recently updated the geofence.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Unique identifier for the work location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the location the geofence is defined for.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LocationValidFlag": {
            "type": "boolean",
            "description": "Indicates whether the location is valid.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 256,
            "type": "string",
            "description": "Name of the geofence.",
            "nullable": false,
            "x-queryable": true
          },
          "Radius": {
            "type": "integer",
            "description": "Allowed radius for the geofence.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "Source": {
            "maxLength": 32,
            "type": "string",
            "description": "How the geofence was created. For example, if a user created the geofence, the source is Manual.",
            "nullable": true,
            "default": "ORA_HXT_GF_SOURCE_MD_USER",
            "x-queryable": true
          },
          "geofenceAssignments": {
            "title": "Geofence Assignments",
            "type": "array",
            "description": "The geofenceAssignments resource lets administrators add HCM Groups to the geofences during CREATE and UPDATE actions.",
            "items": {
              "$ref": "#/components/schemas/timeGeofences-geofenceAssignments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "timeGeofences-geofenceAssignments-item-response": {
        "type": "object",
        "properties": {
          "GeofenceAssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the geofence assignment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "GeofenceId": {
            "type": "integer",
            "description": "Unique identifier for the geofence in the geofence assignment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GroupName": {
            "title": "Name",
            "maxLength": 960,
            "type": "string",
            "description": "Name of the HCM group associated with a geofence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GrpId": {
            "type": "integer",
            "description": "Unique identifier of a HCM group associated with a geofence.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "timeGeofences-item-post-request": {
        "required": [
          "Code",
          "LocationId",
          "Name"
        ],
        "type": "object",
        "properties": {
          "Code": {
            "maxLength": 256,
            "type": "string",
            "description": "Nontranslatable code for the geofence name. For example, if the name is Pleasanton Building 1, the code is PLEASANTON BUILDING 1.",
            "nullable": false
          },
          "Description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description for a geofence.",
            "nullable": true
          },
          "GeoJson": {
            "type": "string",
            "description": "GeoJson coordinates for a geofence.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "GeofenceId": {
            "type": "integer",
            "description": "Unique identifier for the geofence.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "LocationId": {
            "type": "integer",
            "description": "Unique identifier for the work location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "LocationName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the location the geofence is defined for.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "Name": {
            "maxLength": 256,
            "type": "string",
            "description": "Name of the geofence.",
            "nullable": false
          },
          "Radius": {
            "type": "integer",
            "description": "Allowed radius for the geofence.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "Source": {
            "maxLength": 32,
            "type": "string",
            "description": "How the geofence was created. For example, if a user created the geofence, the source is Manual.",
            "nullable": true,
            "default": "ORA_HXT_GF_SOURCE_MD_USER"
          },
          "geofenceAssignments": {
            "title": "Geofence Assignments",
            "type": "array",
            "description": "The geofenceAssignments resource lets administrators add HCM Groups to the geofences during CREATE and UPDATE actions.",
            "items": {
              "$ref": "#/components/schemas/timeGeofences-geofenceAssignments-item-post-request"
            }
          }
        }
      },
      "timeGeofences-geofenceAssignments-item-post-request": {
        "type": "object",
        "properties": {
          "GeofenceAssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the geofence assignment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "GeofenceId": {
            "type": "integer",
            "description": "Unique identifier for the geofence in the geofence assignment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "GrpId": {
            "type": "integer",
            "description": "Unique identifier of a HCM group associated with a geofence.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "timeGeofences-item-patch-request": {
        "type": "object",
        "properties": {
          "Description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description for a geofence.",
            "nullable": true
          },
          "GeoJson": {
            "type": "string",
            "description": "GeoJson coordinates for a geofence.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "LocationId": {
            "type": "integer",
            "description": "Unique identifier for the work location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "LocationName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the location the geofence is defined for.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "Name": {
            "maxLength": 256,
            "type": "string",
            "description": "Name of the geofence.",
            "nullable": false
          },
          "Radius": {
            "type": "integer",
            "description": "Allowed radius for the geofence.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            }
          },
          "Source": {
            "maxLength": 32,
            "type": "string",
            "description": "How the geofence was created. For example, if a user created the geofence, the source is Manual.",
            "nullable": true,
            "default": "ORA_HXT_GF_SOURCE_MD_USER"
          },
          "geofenceAssignments": {
            "title": "Geofence Assignments",
            "type": "array",
            "description": "The geofenceAssignments resource lets administrators add HCM Groups to the geofences during CREATE and UPDATE actions.",
            "items": {
              "$ref": "#/components/schemas/timeGeofences-geofenceAssignments-item-patch-request"
            }
          }
        }
      },
      "timeGeofences-geofenceAssignments-item-patch-request": {
        "type": "object",
        "properties": {
          "GeofenceId": {
            "type": "integer",
            "description": "Unique identifier for the geofence in the geofence assignment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "GrpId": {
            "type": "integer",
            "description": "Unique identifier of a HCM group associated with a geofence.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "timeGeofences-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/timeGeofences-item-post-request"
            }
          }
        }
      },
      "timeGeofences-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/timeGeofences-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}