{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Goal Plan Goal Weights",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/goalPlanGoalWeights/{goalPlanGoalWeightsUniqID}": {
      "get": {
        "tags": [
          "Goal Plan Goal Weights"
        ],
        "summary": "Get a goal's weight",
        "operationId": "get_goalPlanGoalWeights",
        "parameters": [
          {
            "name": "goalPlanGoalWeightsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Goal Plan Goal Weights resource and used to uniquely identify an instance of Goal Plan Goal Weights. The client should not generate the hash key value. Instead, the client should query on the Goal Plan Goal Weights collection resource in order to navigate to a specific instance of Goal Plan Goal Weights to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/goalPlanGoalWeights-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "goalPlanGoalWeights-{goalPlanGoalWeightsUniqID}-get",
        "x-filename-id": "goalplangoalweights-goalplangoalweightsuniqid-get"
      },
      "delete": {
        "tags": [
          "Goal Plan Goal Weights"
        ],
        "summary": "Delete weight of a goal",
        "operationId": "delete_goalPlanGoalWeights",
        "parameters": [
          {
            "name": "goalPlanGoalWeightsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Goal Plan Goal Weights resource and used to uniquely identify an instance of Goal Plan Goal Weights. The client should not generate the hash key value. Instead, the client should query on the Goal Plan Goal Weights collection resource in order to navigate to a specific instance of Goal Plan Goal Weights to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "goalPlanGoalWeights-{goalPlanGoalWeightsUniqID}-delete",
        "x-filename-id": "goalplangoalweights-goalplangoalweightsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Goal Plan Goal Weights"
        ],
        "summary": "Update weight of a goal",
        "operationId": "update_goalPlanGoalWeights",
        "parameters": [
          {
            "name": "goalPlanGoalWeightsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Goal Plan Goal Weights resource and used to uniquely identify an instance of Goal Plan Goal Weights. The client should not generate the hash key value. Instead, the client should query on the Goal Plan Goal Weights collection resource in order to navigate to a specific instance of Goal Plan Goal Weights to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/goalPlanGoalWeights-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/goalPlanGoalWeights-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "goalPlanGoalWeights-{goalPlanGoalWeightsUniqID}-patch",
        "x-filename-id": "goalplangoalweights-goalplangoalweightsuniqid-patch"
      }
    },
    "/goalPlanGoalWeights": {
      "get": {
        "tags": [
          "Goal Plan Goal Weights"
        ],
        "summary": "Get all goals' weights",
        "operationId": "getall_goalPlanGoalWeights",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentId; integer; Unique identifier for the job assignment of a worker.</li><li>GoalApprovalState; string; Indicates if the performance goal is approved or not.</li><li>GoalGPGId; integer; Unique identifier for a performance goal.</li><li>GoalId; integer; Unique identifier for a performance goal.</li><li>GoalName; string; Name of the performance goal.</li><li>GoalPlanAssignmentId; integer; Unique identifier for the goal plan assignment.</li><li>GoalPlanGoalId; integer; Unique identifier for the performance goal in the goal plan.</li><li>GoalPlanId; integer; Unique identifier of the goal plan.</li><li>PriorityCode; string; Priority code of the performance goal.</li><li>ReviewPeriodId; integer; Unique Identifier for the review period that the goal plan of the performance goal is associated with.</li><li>StatusCode; string; Status code of the performance goal.</li><li>Weighting; number; Weight of the performance goal.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds weights for the goals of a goal plan that matches the primary key criteria specified. <br>Finder Variables <ul><li>GoalPlanGoalId; integer;  Unique identifier for the performance goal in the goal plan. </li></ul></li><li>findGoals Find all goals of a goal plan for a specific assignment and review period. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier for the assignment of the person who's assigned the goal plan. </li><li>GoalPlanId; integer;  Unique identifier of the goal plan. </li><li>ReviewPeriodId; integer;  Unique identifier for the review period associated with the goal plan. </li></ul></li><li>findbyGoalPlanGoalId Finds all performance goals in a specified goal plan. <br>Finder Variables <ul><li>GoalPlanGoalId; integer;  Unique identifier for the performance goal in the goal plan. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds weights for the goals of a goal plan that matches the primary key criteria specified.",
                "properties": {
                  "GoalPlanGoalId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the performance goal in the goal plan.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findGoals",
                "description": "Find all goals of a goal plan for a specific assignment and review period.",
                "title": "findGoals",
                "properties": {
                  "GoalPlanId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the goal plan.",
                    "type": "integer"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the person who's assigned the goal plan.",
                    "type": "integer"
                  },
                  "ReviewPeriodId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the review period associated with the goal plan.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findbyGoalPlanGoalId",
                "description": "Finds all performance goals in a specified goal plan.",
                "title": "findbyGoalPlanGoalId",
                "properties": {
                  "GoalPlanGoalId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the performance goal in the goal plan.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/goalPlanGoalWeights"
                }
              }
            },
            "links": {
              "updateDraftGoal": {
                "operationRef": "#/paths/~1goalPlanGoalWeights~1action~1updateDraftGoal/post",
                "description": "Update weight of a goal"
              }
            }
          }
        },
        "x-internal-id": "goalPlanGoalWeights-get",
        "x-filename-id": "goalplangoalweights-get"
      },
      "post": {
        "tags": [
          "Goal Plan Goal Weights"
        ],
        "summary": "Add weight for a goal",
        "operationId": "create_goalPlanGoalWeights",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/goalPlanGoalWeights-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/goalPlanGoalWeights-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "goalPlanGoalWeights-post",
        "x-filename-id": "goalplangoalweights-post"
      }
    },
    "/goalPlanGoalWeights/action/updateDraftGoal": {
      "post": {
        "tags": [
          "Goal Plan Goal Weights"
        ],
        "summary": "Update weight of new goals that need to be submitted for approval",
        "description": "Update weight of a goal",
        "operationId": "doall_updateDraftGoal_goalPlanGoalWeights",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Weighting": {
                    "type": "string",
                    "description": "Weight of the performance goal.",
                    "nullable": true
                  },
                  "GpgId": {
                    "type": "string",
                    "description": "Unique identifier for the performance goal in the goal plan.",
                    "nullable": true
                  },
                  "Attr": {
                    "type": "string",
                    "description": "Weight of the performance goal.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-internal-id": "goalPlanGoalWeights-action-updateDraftGoal-post",
        "x-filename-id": "goalplangoalweights-action-updatedraftgoal-post"
      }
    }
  },
  "components": {
    "schemas": {
      "goalPlanGoalWeights-item-response": {
        "type": "object",
        "properties": {
          "ActionType": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates the type of the process, which can be mass assignment or mass sharing of performance goals.",
            "nullable": true,
            "x-queryable": false
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the job assignment of a worker.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalApprovalState": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates if the performance goal is approved or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalGPGId": {
            "type": "integer",
            "description": "Unique identifier for a performance goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalId": {
            "title": "Goal ID",
            "type": "integer",
            "description": "Unique identifier for a performance goal.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalName": {
            "title": "Goal Name",
            "maxLength": 400,
            "type": "string",
            "description": "Name of the performance goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalPlanAssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the goal plan assignment.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalPlanGoalId": {
            "type": "integer",
            "description": "Unique identifier for the performance goal in the goal plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalPlanId": {
            "title": "Goal Plan Name",
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the performance goal.",
            "nullable": true,
            "x-queryable": true
          },
          "ReviewPeriodId": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StatusCode": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the performance goal.",
            "nullable": false,
            "readOnly": true,
            "default": "NOT_STARTED",
            "x-queryable": true
          },
          "TargetGoalPlanId": {
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "nullable": true,
            "x-queryable": false
          },
          "TargetReviewPeriod": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "nullable": true,
            "x-queryable": false
          },
          "Weighting": {
            "title": "Weight",
            "type": "number",
            "description": "Weight of the performance goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 5,
              "scale": 2
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "goalPlanGoalWeights-item-patch-request": {
        "type": "object",
        "properties": {
          "ActionType": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates the type of the process, which can be mass assignment or mass sharing of performance goals.",
            "nullable": true,
            "x-queryable": false
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the job assignment of a worker.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "GoalGPGId": {
            "type": "integer",
            "description": "Unique identifier for a performance goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "GoalPlanId": {
            "title": "Goal Plan Name",
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the performance goal.",
            "nullable": true
          },
          "ReviewPeriodId": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "TargetGoalPlanId": {
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "nullable": true,
            "x-queryable": false
          },
          "TargetReviewPeriod": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "nullable": true,
            "x-queryable": false
          },
          "Weighting": {
            "title": "Weight",
            "type": "number",
            "description": "Weight of the performance goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 5,
              "scale": 2
            }
          }
        }
      },
      "goalPlanGoalWeights": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/goalPlanGoalWeights-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "goalPlanGoalWeights-item-post-request": {
        "type": "object",
        "properties": {
          "ActionType": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates the type of the process, which can be mass assignment or mass sharing of performance goals.",
            "nullable": true,
            "x-queryable": false
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the job assignment of a worker.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "GoalGPGId": {
            "type": "integer",
            "description": "Unique identifier for a performance goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "GoalPlanGoalId": {
            "type": "integer",
            "description": "Unique identifier for the performance goal in the goal plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "GoalPlanId": {
            "title": "Goal Plan Name",
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the performance goal.",
            "nullable": true
          },
          "ReviewPeriodId": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "TargetGoalPlanId": {
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "nullable": true,
            "x-queryable": false
          },
          "TargetReviewPeriod": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "nullable": true,
            "x-queryable": false
          },
          "Weighting": {
            "title": "Weight",
            "type": "number",
            "description": "Weight of the performance goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 5,
              "scale": 2
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "goalPlanGoalWeights-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/goalPlanGoalWeights-item-patch-request"
            }
          }
        }
      },
      "goalPlanGoalWeights-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/goalPlanGoalWeights-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}