{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Goal Plans/Performance Goals/Large Object (LOB) Attributes - Comments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/goalPlans/{GoalPlanId}/child/performanceGoals/{performanceGoalsUniqID}/enclosure/Comments": {
      "get": {
        "tags": [
          "Goal Plans/Performance Goals/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Get a Comments",
        "description": "Get a Comments",
        "operationId": "get_goalPlans-performanceGoals-Comments",
        "parameters": [
          {
            "name": "GoalPlanId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal Plan Name",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "performanceGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- GoalId and GoalPlanGoalId ---for the Performance Goals resource and used to uniquely identify an instance of Performance Goals. The client should not generate the hash key value.  Instead, the client should query on the Performance Goals collection resource with a filter on the primary key values in order to navigate to a specific instance of Performance Goals.<br><br>For example: performanceGoals?q=GoalId=&lt;value1&gt;;GoalPlanGoalId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "goalPlans-{GoalPlanId}-child-performanceGoals-{performanceGoalsUniqID}-enclosure-Comments-get",
        "x-filename-id": "goalplans-goalplanid-child-performancegoals-performancegoalsuniqid-enclosure-comments-get"
      },
      "put": {
        "tags": [
          "Goal Plans/Performance Goals/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Replace a Comments",
        "description": "Replace a Comments",
        "operationId": "replace_goalPlans-performanceGoals-Comments",
        "parameters": [
          {
            "name": "GoalPlanId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal Plan Name",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "performanceGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- GoalId and GoalPlanGoalId ---for the Performance Goals resource and used to uniquely identify an instance of Performance Goals. The client should not generate the hash key value.  Instead, the client should query on the Performance Goals collection resource with a filter on the primary key values in order to navigate to a specific instance of Performance Goals.<br><br>For example: performanceGoals?q=GoalId=&lt;value1&gt;;GoalPlanGoalId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "goalPlans-{GoalPlanId}-child-performanceGoals-{performanceGoalsUniqID}-enclosure-Comments-put",
        "x-filename-id": "goalplans-goalplanid-child-performancegoals-performancegoalsuniqid-enclosure-comments-put"
      },
      "delete": {
        "tags": [
          "Goal Plans/Performance Goals/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Delete a Comments",
        "description": "Delete a Comments",
        "operationId": "delete_goalPlans-performanceGoals-Comments",
        "parameters": [
          {
            "name": "GoalPlanId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal Plan Name",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "performanceGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- GoalId and GoalPlanGoalId ---for the Performance Goals resource and used to uniquely identify an instance of Performance Goals. The client should not generate the hash key value.  Instead, the client should query on the Performance Goals collection resource with a filter on the primary key values in order to navigate to a specific instance of Performance Goals.<br><br>For example: performanceGoals?q=GoalId=&lt;value1&gt;;GoalPlanGoalId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "goalPlans-{GoalPlanId}-child-performanceGoals-{performanceGoalsUniqID}-enclosure-Comments-delete",
        "x-filename-id": "goalplans-goalplanid-child-performancegoals-performancegoalsuniqid-enclosure-comments-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}