{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Grade Ladders",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/gradeLadders/{gradeLaddersUniqID}": {
      "get": {
        "tags": [
          "Grade Ladders"
        ],
        "summary": "Get a grade ladder",
        "operationId": "get_gradeLadders",
        "parameters": [
          {
            "name": "gradeLaddersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Grade Ladders resource and used to uniquely identify an instance of Grade Ladders. The client should not generate the hash key value. Instead, the client should query on the Grade Ladders collection resource in order to navigate to a specific instance of Grade Ladders to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gradeLadders-item-response"
                }
              }
            },
            "links": {
              "gradeLadderDFF": {
                "operationRef": "#/paths/~1gradeLadders~1{gradeLaddersUniqID}~1child~1gradeLadderDFF/get",
                "parameters": {
                  "gradeLaddersUniqID": "$request.path.gradeLaddersUniqID"
                }
              },
              "grades": {
                "operationRef": "#/paths/~1gradeLadders~1{gradeLaddersUniqID}~1child~1grades/get",
                "parameters": {
                  "gradeLaddersUniqID": "$request.path.gradeLaddersUniqID"
                },
                "description": "The grades resource is a child of the gradeLadders resource. It identifies the grades in the ladder, along with the sequence of the grades."
              },
              "stepRates": {
                "operationRef": "#/paths/~1gradeLadders~1{gradeLaddersUniqID}~1child~1stepRates/get",
                "parameters": {
                  "gradeLaddersUniqID": "$request.path.gradeLaddersUniqID"
                },
                "description": "The stepRates resource is a child of the gradeLadders resource and provides the step rate details including currency, frequency, and annualization factor."
              }
            }
          }
        },
        "x-internal-id": "gradeLadders-{gradeLaddersUniqID}-get",
        "x-filename-id": "gradeladders-gradeladdersuniqid-get"
      }
    },
    "/gradeLadders": {
      "get": {
        "tags": [
          "Grade Ladders"
        ],
        "summary": "Get all grade ladders",
        "operationId": "getall_gradeLadders",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionReasonCode; string; Action reason of the grade ladder.</li><li>ActiveStatus; string; Active status of the grade ladder.</li><li>EffectiveEndDate; string; Date at the end of the period within which the grade ladder is effective.</li><li>EffectiveStartDate; string; Date at the beginning of the period within which the grade ladder is effective.</li><li>GradeLadderId; integer; Surrogate identifier for the grade ladder.</li><li>GradeLadderName; string; Name of the grade ladder.</li><li>GradeSetId; integer; Surrogate identifier for the set to which the grades in the grade ladder belong.</li><li>GradeType; string; Indicates whether the grades in the grade ladder have steps. A value of GRADE means that the grades don't have steps. A value of STEP means that the grades have steps.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the grade ladders that match the primary key criteria specified. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Date at the end of the period within which the grade ladder is effective. </li><li>EffectiveStartDate; string;  Date at the beginning of the period within which the grade ladder is effective. </li><li>GradeLadderId; integer;  Surrogate identifier for the grade ladder. </li></ul></li><li>findByGradeLadderId Finds all the grade ladders that match the specified grade ladder identifier. <br>Finder Variables <ul><li>GradeLadderId; integer;  Surrogate identifier for the grade ladder. </li><li>SysEffectiveDate; string;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the grade ladders that match the primary key criteria specified.",
                "properties": {
                  "GradeLadderId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the grade ladder.",
                    "type": "integer"
                  },
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the end of the period within which the grade ladder is effective.",
                    "type": "string"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the beginning of the period within which the grade ladder is effective.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByGradeLadderId",
                "description": "Finds all the grade ladders that match the specified grade ladder identifier.",
                "title": "findByGradeLadderId",
                "properties": {
                  "GradeLadderId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the grade ladder.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gradeLadders"
                }
              }
            }
          }
        },
        "x-internal-id": "gradeLadders-get",
        "x-filename-id": "gradeladders-get"
      }
    }
  },
  "components": {
    "schemas": {
      "gradeLadders-item-response": {
        "type": "object",
        "properties": {
          "ActionReasonCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Action reason of the grade ladder.",
            "nullable": true,
            "x-queryable": true
          },
          "ActiveStatus": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Active status of the grade ladder.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "type": "string",
            "description": "Date at the end of the period within which the grade ladder is effective.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Date at the beginning of the period within which the grade ladder is effective.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "GradeLadderId": {
            "type": "integer",
            "description": "Surrogate identifier for the grade ladder.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GradeLadderName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the grade ladder.",
            "nullable": false,
            "x-queryable": true
          },
          "GradeSetId": {
            "type": "integer",
            "description": "Surrogate identifier for the set to which the grades in the grade ladder belong.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GradeType": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the grades in the grade ladder have steps. A value of GRADE means that the grades don't have steps. A value of STEP means that the grades have steps.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "gradeLadderDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/gradeLadders-gradeLadderDFF-item-response"
            }
          },
          "grades": {
            "title": "Grade Ladders Grades",
            "type": "array",
            "description": "The grades resource is a child of the gradeLadders resource. It identifies the grades in the ladder, along with the sequence of the grades.",
            "items": {
              "$ref": "#/components/schemas/gradeLadders-grades-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "stepRates": {
            "title": "Grade Ladders Step Rates",
            "type": "array",
            "description": "The stepRates resource is a child of the gradeLadders resource and provides the step rate details including currency, frequency, and annualization factor.",
            "items": {
              "$ref": "#/components/schemas/gradeLadders-stepRates-item-response"
            }
          }
        }
      },
      "gradeLadders-gradeLadderDFF-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GradeLadderId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context",
            "maxLength": 30,
            "type": "string",
            "description": "Context",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context",
            "type": "string",
            "description": "Context",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "gradeLadders-grades-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period within which the grade is effective in a grade ladder.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period within which the grade is effective in a grade ladder.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "GradeId": {
            "type": "integer",
            "description": "Surrogate identifier for the grade.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GradesInLadderSequence": {
            "type": "integer",
            "description": "Sequence of the grade in a grade ladder.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "gradeLadders-stepRates-item-response": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Active status of the step rate.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "AnnualizationFactor": {
            "type": "number",
            "description": "Annualization factor used to convert the step rate values to an annual amount.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrencyCode": {
            "title": "Currency",
            "maxLength": 15,
            "type": "string",
            "description": "Code of the currency associated with the step rate.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "type": "string",
            "description": "Effective end date of the step rate.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Effective start date of the step rate.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code of the step rate.",
            "nullable": true,
            "x-queryable": true
          },
          "LegislativeDataGroupId": {
            "type": "integer",
            "description": "Surrogate identifier for the legislative data group of the step rate.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RateFrequency": {
            "maxLength": 30,
            "type": "string",
            "description": "Frequency of the rate such as hourly or monthly. Values come from the CMP_SALARY_BASIS lookup.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "RateId": {
            "type": "integer",
            "description": "Surrogate identifier for the step rate.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RateName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the step rate.",
            "nullable": false,
            "x-queryable": true
          },
          "RateType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of rate such as salary or bonus. Values come from the GRADE_PAY_RATE_TYPE lookup.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "stepRateValues": {
            "title": "Grade Ladders Step Rate Values",
            "type": "array",
            "description": "The stepRateValues resource is a child of the gradeLadders resource and provides the value amounts for the steps in the step rate.",
            "items": {
              "$ref": "#/components/schemas/gradeLadders-stepRates-stepRateValues-item-response"
            }
          }
        }
      },
      "gradeLadders-stepRates-stepRateValues-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date of the step rate values record.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date of the step rate values record.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "GradeStepId": {
            "type": "integer",
            "description": "Surrogate identifier for the grade step defined in the step rate values record.",
            "nullable": true,
            "x-queryable": true
          },
          "RateValueId": {
            "type": "integer",
            "description": "Surrogate identifier for the step rate value record.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StepRateValueAmount": {
            "type": "number",
            "description": "The rate value for the grade step defined in the step rate values record.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "gradeLadders": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/gradeLadders-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}