{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts": {
      "get": {
        "tags": [
          "HCM Contacts"
        ],
        "summary": "Get all contacts",
        "operationId": "getall_hcmContacts",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BloodTypeMeaning; string; Meaning of the contact's blood type.</li><li>CorrLanguageMeaning; string; Meaning of the contact's preferred language of communication.</li><li>CountryOfBirthName; string; Name of the country of birth of the contact.</li><li>DateOfBirth; string; Date of birth of the contact.</li><li>PersonId; integer; Surrogate identifier for the worker to which the contact relationship belongs.</li><li>PersonNumber; string; Person number of the worker to whom the contact is related.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the contacts that match the specified primary key criteria. <br>Finder Variables <ul><li>PersonId; integer;  Surrogate identifier for the contact. </li></ul></li><li>findByPersonId Finds all the contacts that match the specified person identifier. <br>Finder Variables <ul><li>PersonId; integer;  Surrogate identifier for the worker. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findContactsByWorker Finds all the contacts for a worker that match the specified criteria. <br>Finder Variables <ul><li>ContactType; string;  Relationship between the worker and the contact. </li><li>EmergencyContactFlag; string;  Indicates whether the contact is an emergency contact. </li><li>RelatedPersonId; integer;  Unique identifier of the worker to whom the contact is related. </li><li>RelatedPersonNumber; string;  Person number of the worker to whom the contact is related. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the contacts that match the specified primary key criteria.",
                "properties": {
                  "PersonId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the contact.",
                    "type": "integer",
                    "title": "Person ID"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Finds all the contacts that match the specified person identifier.",
                "title": "findByPersonIdFinder",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the worker.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "type": "object"
                  }
                }
              },
              {
                "name": "findContactsByWorker",
                "description": "Finds all the contacts for a worker that match the specified criteria.",
                "title": "findContactsByWorker",
                "properties": {
                  "RelatedPersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person number of the worker to whom the contact is related.",
                    "type": "string"
                  },
                  "RelatedPersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the worker to whom the contact is related.",
                    "type": "integer"
                  },
                  "ContactType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Relationship between the worker and the contact.",
                    "type": "string"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "EmergencyContactFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the contact is an emergency contact.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-get",
        "x-filename-id": "hcmcontacts-get"
      },
      "post": {
        "tags": [
          "HCM Contacts"
        ],
        "summary": "Create a contact",
        "operationId": "create_hcmContacts",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-item-response"
                }
              }
            },
            "links": {
              "addresses": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1addresses/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The addresses resource is a child of the hcmContacts resource. It provides all the addresses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "hcmCountriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CountryOfBirth; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CountryOfBirth",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode"
                  ]
                }
              },
              "phones": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1phones/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The phones resource is a child of the hcmContacts resource. It provides all the phones of worker contacts as of the specified date. By default, the current date is retained."
              },
              "driverLicenses": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1driverLicenses/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The driverLicenses resource is a child of the hcmContacts resource. It provides all the driver licenses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "passports": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The passports resource is a child of the hcmContacts resource. It provides all the passports of worker contacts as of the specified date. By default, the current date is retained."
              },
              "contactsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              },
              "visasPermits": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The visasPermits resource is a child of the hcmContacts resource. It provides all the visas and permits of worker contacts as of the specified date. By default, the current date is retained."
              },
              "legislativeInfo": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1legislativeInfo/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The legislativeInfo resource is a child of the hcmContacts resource. It provides all the legislative information of worker contacts as of the specified date. By default, the current date is retained."
              },
              "emails": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1emails/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The emails resource is a child of the hcmContacts resource. It provides all the email addresses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "ethnicities": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1ethnicities/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The ethnicities resource is a child of the hcmContacts resource. It provides all the ethnicities of worker contacts as of the specified date. By default, the current date is retained."
              },
              "names": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1names/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The names resource is a child of the hcmContacts resource. It provides all the names of worker contacts as of the specified date. By default, the current date is retained."
              },
              "otherCommunicationAccounts": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1otherCommunicationAccounts/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The otherCommunicationAccounts resource is a child of the hcmContacts resource. It provides all the other communication accounts of worker contacts as of the specified date. By default, the current date is retained."
              },
              "citizenships": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1citizenships/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The citizenships resource is a child of the hcmContacts resource. It provides all the citizenships of worker contacts as of the specified date. By default, the current date is retained."
              },
              "correspondenceLanguagesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{CorrespondenceLanguage}%2CLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CorrespondenceLanguage; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CorrespondenceLanguage",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "religions": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1religions/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The religions resource is a child of the hcmContacts resource. It provides all the religions of worker contacts as of the specified date. By default, the current date is retained."
              },
              "bloodTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{BloodType}%2CLookupType%3DBLOOD_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BloodType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BloodType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationships": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The contactRelationships resource is a child of the hcmContacts resource. It provides all the contact relationships of workers as of the specified date. By default, the current date is retained."
              },
              "nationalIdentifiers": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1nationalIdentifiers/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The nationalIdentifiers resource is a child of the hcmContacts resource. It provides all the national identifiers of worker contacts as of the specified date. By default, the current date is retained."
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-post",
        "x-filename-id": "hcmcontacts-post"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}": {
      "get": {
        "tags": [
          "HCM Contacts"
        ],
        "summary": "Get a contact",
        "operationId": "get_hcmContacts",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-item-response"
                }
              }
            },
            "links": {
              "addresses": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1addresses/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The addresses resource is a child of the hcmContacts resource. It provides all the addresses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "hcmCountriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CountryOfBirth; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CountryOfBirth",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode"
                  ]
                }
              },
              "phones": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1phones/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The phones resource is a child of the hcmContacts resource. It provides all the phones of worker contacts as of the specified date. By default, the current date is retained."
              },
              "driverLicenses": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1driverLicenses/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The driverLicenses resource is a child of the hcmContacts resource. It provides all the driver licenses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "passports": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The passports resource is a child of the hcmContacts resource. It provides all the passports of worker contacts as of the specified date. By default, the current date is retained."
              },
              "contactsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              },
              "visasPermits": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The visasPermits resource is a child of the hcmContacts resource. It provides all the visas and permits of worker contacts as of the specified date. By default, the current date is retained."
              },
              "legislativeInfo": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1legislativeInfo/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The legislativeInfo resource is a child of the hcmContacts resource. It provides all the legislative information of worker contacts as of the specified date. By default, the current date is retained."
              },
              "emails": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1emails/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The emails resource is a child of the hcmContacts resource. It provides all the email addresses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "ethnicities": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1ethnicities/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The ethnicities resource is a child of the hcmContacts resource. It provides all the ethnicities of worker contacts as of the specified date. By default, the current date is retained."
              },
              "names": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1names/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The names resource is a child of the hcmContacts resource. It provides all the names of worker contacts as of the specified date. By default, the current date is retained."
              },
              "otherCommunicationAccounts": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1otherCommunicationAccounts/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The otherCommunicationAccounts resource is a child of the hcmContacts resource. It provides all the other communication accounts of worker contacts as of the specified date. By default, the current date is retained."
              },
              "citizenships": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1citizenships/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The citizenships resource is a child of the hcmContacts resource. It provides all the citizenships of worker contacts as of the specified date. By default, the current date is retained."
              },
              "correspondenceLanguagesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{CorrespondenceLanguage}%2CLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CorrespondenceLanguage; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CorrespondenceLanguage",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "religions": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1religions/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The religions resource is a child of the hcmContacts resource. It provides all the religions of worker contacts as of the specified date. By default, the current date is retained."
              },
              "bloodTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{BloodType}%2CLookupType%3DBLOOD_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BloodType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BloodType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationships": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The contactRelationships resource is a child of the hcmContacts resource. It provides all the contact relationships of workers as of the specified date. By default, the current date is retained."
              },
              "nationalIdentifiers": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1nationalIdentifiers/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The nationalIdentifiers resource is a child of the hcmContacts resource. It provides all the national identifiers of worker contacts as of the specified date. By default, the current date is retained."
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-get"
      },
      "patch": {
        "tags": [
          "HCM Contacts"
        ],
        "summary": "Update a contact",
        "operationId": "update_hcmContacts",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-item-response"
                }
              }
            },
            "links": {
              "addresses": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1addresses/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The addresses resource is a child of the hcmContacts resource. It provides all the addresses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "hcmCountriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CountryOfBirth; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CountryOfBirth",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode"
                  ]
                }
              },
              "phones": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1phones/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The phones resource is a child of the hcmContacts resource. It provides all the phones of worker contacts as of the specified date. By default, the current date is retained."
              },
              "driverLicenses": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1driverLicenses/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The driverLicenses resource is a child of the hcmContacts resource. It provides all the driver licenses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "passports": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The passports resource is a child of the hcmContacts resource. It provides all the passports of worker contacts as of the specified date. By default, the current date is retained."
              },
              "contactsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              },
              "visasPermits": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The visasPermits resource is a child of the hcmContacts resource. It provides all the visas and permits of worker contacts as of the specified date. By default, the current date is retained."
              },
              "legislativeInfo": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1legislativeInfo/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The legislativeInfo resource is a child of the hcmContacts resource. It provides all the legislative information of worker contacts as of the specified date. By default, the current date is retained."
              },
              "emails": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1emails/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The emails resource is a child of the hcmContacts resource. It provides all the email addresses of worker contacts as of the specified date. By default, the current date is retained."
              },
              "ethnicities": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1ethnicities/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The ethnicities resource is a child of the hcmContacts resource. It provides all the ethnicities of worker contacts as of the specified date. By default, the current date is retained."
              },
              "names": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1names/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The names resource is a child of the hcmContacts resource. It provides all the names of worker contacts as of the specified date. By default, the current date is retained."
              },
              "otherCommunicationAccounts": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1otherCommunicationAccounts/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The otherCommunicationAccounts resource is a child of the hcmContacts resource. It provides all the other communication accounts of worker contacts as of the specified date. By default, the current date is retained."
              },
              "citizenships": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1citizenships/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The citizenships resource is a child of the hcmContacts resource. It provides all the citizenships of worker contacts as of the specified date. By default, the current date is retained."
              },
              "correspondenceLanguagesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{CorrespondenceLanguage}%2CLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CorrespondenceLanguage; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CorrespondenceLanguage",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "religions": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1religions/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The religions resource is a child of the hcmContacts resource. It provides all the religions of worker contacts as of the specified date. By default, the current date is retained."
              },
              "bloodTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupCode%3D{BloodType}%2CLookupType%3DBLOOD_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BloodType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BloodType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationships": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The contactRelationships resource is a child of the hcmContacts resource. It provides all the contact relationships of workers as of the specified date. By default, the current date is retained."
              },
              "nationalIdentifiers": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1nationalIdentifiers/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                },
                "description": "The nationalIdentifiers resource is a child of the hcmContacts resource. It provides all the national identifiers of worker contacts as of the specified date. By default, the current date is retained."
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "hcmContacts-item-response": {
        "type": "object",
        "properties": {
          "BloodType": {
            "title": "Blood Type",
            "maxLength": 30,
            "type": "string",
            "description": "Blood type of the contact. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "BloodTypeMeaning": {
            "title": "Blood Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's blood type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CorrLanguageMeaning": {
            "title": "Correspondence Language",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's preferred language of communication.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CorrespondenceLanguage": {
            "title": "Correspondence Language",
            "maxLength": 30,
            "type": "string",
            "description": "Preferred language for communication. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "CountryOfBirth": {
            "title": "Country of Birth",
            "maxLength": 240,
            "type": "string",
            "description": "Country of birth of the contact. Valid values are defined in the hcmCountriesLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            }
          },
          "CountryOfBirthName": {
            "title": "Country of Birth",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the country of birth of the contact.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "DateOfBirth": {
            "title": "Date of Birth",
            "type": "string",
            "description": "Date of birth of the contact.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DateOfDeath": {
            "title": "Date of Death",
            "type": "string",
            "description": "Date of death of the contact.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Surrogate identifier for the worker to which the contact relationship belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the worker to whom the contact is related.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RegionOfBirth": {
            "title": "Region of Birth",
            "maxLength": 240,
            "type": "string",
            "description": "Region of birth of the contact.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TownOfBirth": {
            "title": "Town of Birth",
            "maxLength": 240,
            "type": "string",
            "description": "Town of birth of the contact.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "addresses": {
            "title": "Addresses",
            "type": "array",
            "description": "The addresses resource is a child of the hcmContacts resource. It provides all the addresses of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-addresses-item-response"
            }
          },
          "citizenships": {
            "title": "Citizenships",
            "type": "array",
            "description": "The citizenships resource is a child of the hcmContacts resource. It provides all the citizenships of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-citizenships-item-response"
            }
          },
          "contactRelationships": {
            "title": "Contact Relationships",
            "type": "array",
            "description": "The contactRelationships resource is a child of the hcmContacts resource. It provides all the contact relationships of workers as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-contactRelationships-item-response"
            }
          },
          "contactsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-contactsDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "driverLicenses": {
            "title": "Driver Licenses",
            "type": "array",
            "description": "The driverLicenses resource is a child of the hcmContacts resource. It provides all the driver licenses of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-driverLicenses-item-response"
            }
          },
          "emails": {
            "title": "Emails",
            "type": "array",
            "description": "The emails resource is a child of the hcmContacts resource. It provides all the email addresses of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-emails-item-response"
            }
          },
          "ethnicities": {
            "title": "Ethnicities",
            "type": "array",
            "description": "The ethnicities resource is a child of the hcmContacts resource. It provides all the ethnicities of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-ethnicities-item-response"
            }
          },
          "legislativeInfo": {
            "title": "Legislative Information",
            "type": "array",
            "description": "The legislativeInfo resource is a child of the hcmContacts resource. It provides all the legislative information of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-legislativeInfo-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "names": {
            "title": "Names",
            "type": "array",
            "description": "The names resource is a child of the hcmContacts resource. It provides all the names of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-names-item-response"
            }
          },
          "nationalIdentifiers": {
            "title": "National Identifiers",
            "type": "array",
            "description": "The nationalIdentifiers resource is a child of the hcmContacts resource. It provides all the national identifiers of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-nationalIdentifiers-item-response"
            }
          },
          "otherCommunicationAccounts": {
            "title": "Other Communication Accounts",
            "type": "array",
            "description": "The otherCommunicationAccounts resource is a child of the hcmContacts resource. It provides all the other communication accounts of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-otherCommunicationAccounts-item-response"
            }
          },
          "passports": {
            "title": "Passports",
            "type": "array",
            "description": "The passports resource is a child of the hcmContacts resource. It provides all the passports of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-item-response"
            }
          },
          "phones": {
            "title": "Phones",
            "type": "array",
            "description": "The phones resource is a child of the hcmContacts resource. It provides all the phones of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-phones-item-response"
            }
          },
          "religions": {
            "title": "Religions",
            "type": "array",
            "description": "The religions resource is a child of the hcmContacts resource. It provides all the religions of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-religions-item-response"
            }
          },
          "visasPermits": {
            "title": "Visa Permits",
            "type": "array",
            "description": "The visasPermits resource is a child of the hcmContacts resource. It provides all the visas and permits of worker contacts as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-visasPermits-item-response"
            }
          }
        }
      },
      "hcmContacts-addresses-item-response": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "title": "Additional Address Attribute 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address column used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute2": {
            "title": "Additional Address Attribute 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address column used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute3": {
            "title": "Additional Address Attribute 3",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address column used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute4": {
            "title": "Additional Address Attribute 4",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address column used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute5": {
            "title": "Additional Address Attribute 5",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address column used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressId": {
            "title": "Address ID",
            "type": "integer",
            "description": "Surrogate identifier for the address record.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "First line of the primary mail address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Second line of the primary mail address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Third line of the primary mail address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Fourth line of the primary mail address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of address. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "default",
              "includeInCompactView": true,
              "dependencies": [
                "Country"
              ]
            },
            "x-queryable": true
          },
          "AddressTypeMeaning": {
            "title": "Address Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's address type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building information associated with the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country in which the address is located. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "default",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CountryName": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the country in which the contact's address is located.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the address.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the address was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FloorNumber": {
            "title": "Floor Number",
            "maxLength": 40,
            "type": "string",
            "description": "Floor number associated with the building.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the address was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the address.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Latitude": {
            "title": "Latitude",
            "type": "number",
            "description": "Distance between the equator and an address located to its north or south, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LongPostalCode": {
            "title": "Long Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code of the primary mail address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Longitude": {
            "title": "Longitude",
            "type": "number",
            "description": "Distance between the prime meridian and an address located to its east or west, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PersonAddrUsageId": {
            "title": "Person Address Usage ID",
            "type": "integer",
            "description": "Surrogate identifier for the address usage record.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of the primary mail address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PrimaryFlag": {
            "title": "Primary Mailing",
            "type": "boolean",
            "description": "Indicates whether the address is the primary mailing address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Provider": {
            "title": "Provider",
            "maxLength": 150,
            "type": "string",
            "description": "Company that has validated the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the address is located.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Secondary region within the primary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Additional secondary region within the primary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 60,
            "type": "string",
            "description": "Town or city in which the address is located.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ValidateAddressFlag": {
            "type": "boolean",
            "description": "Indicates whether the address is sent for validation. Valid values are true and false. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false
          },
          "ValidationStatusCode": {
            "title": "Validation Status Code",
            "maxLength": 120,
            "type": "string",
            "description": "Level of accuracy of an address, as determined by an address provider.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "addressesDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-addresses-addressesDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "hcmContacts-addresses-addressesDFF-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PersonAddrUsageId": {
            "title": "Person Address Usage ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "hcmContacts-citizenships-item-response": {
        "type": "object",
        "properties": {
          "Citizenship": {
            "title": "Citizenship",
            "maxLength": 30,
            "type": "string",
            "description": "Citizenship legislation code. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CitizenshipId": {
            "title": "Citizenship ID",
            "type": "integer",
            "description": "Surrogate identifier for the contact citizenship.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "CitizenshipMeaning": {
            "title": "Citizenship",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the contact's citizenship legislation code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CitizenshipStatus": {
            "title": "Citizenship Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the contact citizenship. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "Citizenship"
              ]
            },
            "x-queryable": true
          },
          "CitizenshipStatusMeaning": {
            "title": "Citizenship Status",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's citizenship status code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact citizenship record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact citizenship record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FromDate": {
            "title": "From Date",
            "type": "string",
            "description": "Date from when the contact citizenship is valid.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact citizenship record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact citizenship record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ToDate": {
            "title": "To Date",
            "type": "string",
            "description": "Date until when the contact citizenship is valid.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "citizenshipsDFF": {
            "type": "array",
            "items": {
[...]
