{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts/Contact Relationships",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts/{hcmContactsUniqID}/child/contactRelationships": {
      "get": {
        "tags": [
          "HCM Contacts/Contact Relationships"
        ],
        "summary": "Get all contact relationships",
        "operationId": "getall_hcmContacts-contactRelationships",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ContactRelationshipId; integer; Surrogate identifier for the contact relationship.</li><li>ContactType; string; Relationship between the worker and the contact.</li><li>ContactTypeMeaning; string; Meaning of the contact type code.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>EmergencyContactFlag; boolean; Indicates whether the contact is an emergency contact.</li><li>LegislationCode; string; Legislation code of the contact. Valid values are defined in the hcmCountriesLov.</li><li>LegislationName; string; Name of the contact's legislation.</li><li>PrimaryContactFlag; boolean; Indicates whether the contact is the primary contact.</li><li>RelatedPersonId; integer; Unique identifier of the worker to whom the contact is related.</li><li>RelatedPersonNumber; string; Person number of the worker to whom the contact is related.</li><li>StatutoryDependent; string; A persons contact is a statutory dependent validated against the lookup type ORA_PER_CONTACT_STATUTORY_DEP used by specific localization.</li><li>StatutoryDependentMeaning; string; Meaning of the contact's statutory dependent code.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the contact relationships that match the specified primary key criteria. <br>Finder Variables <ul><li>ContactRelationshipId; integer;  Surrogate identifier for the contact's relationship. </li><li>EffectiveEndDate; string;  End date of the date-effective changes to the record. </li><li>EffectiveStartDate; string;  Start date of the date-effective changes to the record. </li></ul></li><li>findByContactRelationshipId Finds all the contact relationship records that match the specified identifier. <br>Finder Variables <ul><li>ContactRelationshipId; integer;  Surrogate identifier for the contact relationship. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the contact relationships that match the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "End date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Start date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "ContactRelationshipId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the contact's relationship.",
                    "type": "integer",
                    "title": "Contact Relationship ID"
                  }
                }
              },
              {
                "name": "findByContactRelationshipId",
                "description": "Finds all the contact relationship records that match the specified identifier.",
                "title": "findByContactRelationshipIdFinder",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "ContactRelationshipId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the contact relationship.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-contactRelationships"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-contactRelationships-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-contactrelationships-get"
      },
      "post": {
        "tags": [
          "HCM Contacts/Contact Relationships"
        ],
        "summary": "Create a contact relationship",
        "operationId": "create_hcmContacts-contactRelationships",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-contactRelationships-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-contactRelationships-item-response"
                }
              }
            },
            "links": {
              "contactTypeLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{ContactType}%2CLookupType%3DCONTACT%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ContactType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ContactType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationshipsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships~1{contactRelationshipsUniqID}~1child~1contactRelationshipsDDF/get",
                "parameters": {
                  "contactRelationshipsUniqID": "$request.path.contactRelationshipsUniqID",
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              },
              "statutoryDependentLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{StatutoryDependent}%2CLookupType%3DORA_PER_STATUTORY_DEPENDENT%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: StatutoryDependent; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/StatutoryDependent",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationshipsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships~1{contactRelationshipsUniqID}~1child~1contactRelationshipsDFF/get",
                "parameters": {
                  "contactRelationshipsUniqID": "$request.path.contactRelationshipsUniqID",
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-contactRelationships-post",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-contactrelationships-post"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}/child/contactRelationships/{contactRelationshipsUniqID}": {
      "get": {
        "tags": [
          "HCM Contacts/Contact Relationships"
        ],
        "summary": "Get a contact relationship",
        "operationId": "get_hcmContacts-contactRelationships",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Contact Relationships resource and used to uniquely identify an instance of Contact Relationships. The client should not generate the hash key value. Instead, the client should query on the Contact Relationships collection resource in order to navigate to a specific instance of Contact Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-contactRelationships-item-response"
                }
              }
            },
            "links": {
              "contactTypeLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{ContactType}%2CLookupType%3DCONTACT%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ContactType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ContactType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationshipsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships~1{contactRelationshipsUniqID}~1child~1contactRelationshipsDDF/get",
                "parameters": {
                  "contactRelationshipsUniqID": "$request.path.contactRelationshipsUniqID",
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              },
              "statutoryDependentLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{StatutoryDependent}%2CLookupType%3DORA_PER_STATUTORY_DEPENDENT%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: StatutoryDependent; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/StatutoryDependent",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationshipsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships~1{contactRelationshipsUniqID}~1child~1contactRelationshipsDFF/get",
                "parameters": {
                  "contactRelationshipsUniqID": "$request.path.contactRelationshipsUniqID",
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-contactRelationships-{contactRelationshipsUniqID}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-contactrelationships-contactrelationshipsuniqid-get"
      },
      "delete": {
        "tags": [
          "HCM Contacts/Contact Relationships"
        ],
        "summary": "Delete a contact relationship",
        "operationId": "delete_hcmContacts-contactRelationships",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Contact Relationships resource and used to uniquely identify an instance of Contact Relationships. The client should not generate the hash key value. Instead, the client should query on the Contact Relationships collection resource in order to navigate to a specific instance of Contact Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-contactRelationships-{contactRelationshipsUniqID}-delete",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-contactrelationships-contactrelationshipsuniqid-delete"
      },
      "patch": {
        "tags": [
          "HCM Contacts/Contact Relationships"
        ],
        "summary": "Update a contact relationship",
        "operationId": "update_hcmContacts-contactRelationships",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Contact Relationships resource and used to uniquely identify an instance of Contact Relationships. The client should not generate the hash key value. Instead, the client should query on the Contact Relationships collection resource in order to navigate to a specific instance of Contact Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-contactRelationships-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-contactRelationships-item-response"
                }
              }
            },
            "links": {
              "contactTypeLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{ContactType}%2CLookupType%3DCONTACT%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ContactType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ContactType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationshipsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships~1{contactRelationshipsUniqID}~1child~1contactRelationshipsDDF/get",
                "parameters": {
                  "contactRelationshipsUniqID": "$request.path.contactRelationshipsUniqID",
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              },
              "statutoryDependentLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{StatutoryDependent}%2CLookupType%3DORA_PER_STATUTORY_DEPENDENT%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: StatutoryDependent; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/StatutoryDependent",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contactRelationshipsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1contactRelationships~1{contactRelationshipsUniqID}~1child~1contactRelationshipsDFF/get",
                "parameters": {
                  "contactRelationshipsUniqID": "$request.path.contactRelationshipsUniqID",
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-contactRelationships-{contactRelationshipsUniqID}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-contactrelationships-contactrelationshipsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts-contactRelationships": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-contactRelationships-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "hcmContacts-contactRelationships-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "description": "Surrogate identifier for the contact relationship.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ContactType": {
            "title": "Relationship",
            "maxLength": 30,
            "type": "string",
            "description": "Relationship between the worker and the contact.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "LegislationCode"
              ]
            },
            "x-queryable": true
          },
          "ContactTypeMeaning": {
            "title": "Relationship",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact type code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact relationship record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact relationship record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EmergencyContactFlag": {
            "title": "Emergency Contact",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the contact is an emergency contact.",
            "nullable": false,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact relationship record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact relationship record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LegislationCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code of the contact. Valid values are defined in the hcmCountriesLov.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LegislationName": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the contact's legislation.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryContactFlag": {
            "title": "Primary Contact",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the contact is the primary contact.",
            "nullable": false,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RelatedPersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier of the worker to whom the contact is related.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "RelatedPersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the worker to whom the contact is related.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatutoryDependent": {
            "title": "Statutory Dependent",
            "maxLength": 30,
            "type": "string",
            "description": "A persons contact is a statutory dependent validated against the lookup type ORA_PER_CONTACT_STATUTORY_DEP used by specific localization.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "LegislationCode"
              ]
            },
            "x-queryable": true
          },
          "StatutoryDependentMeaning": {
            "title": "Statutory Dependent",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's statutory dependent code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "contactRelationshipsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-contactRelationships-contactRelationshipsDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "contactRelationshipsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-contactRelationships-contactRelationshipsDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "hcmContacts-contactRelationships-contactRelationshipsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFAEVO-item-response",
            "AU": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFAUVO-item-response",
            "BR": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFBRVO-item-response",
            "CH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFCHVO-item-response",
            "GB": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFGBVO-item-response",
            "IN": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFINVO-item-response",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFKWVO-item-response",
            "ORA_HRX_BH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFORA__5FHRX__5FBHVO-item-response",
            "ORA_HRX_OM": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFORA__5FHRX__5FOMVO-item-response",
            "ORA_HRX_QA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFORA__5FHRX__5FQAVO-item-response",
            "SA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFSAVO-item-response",
            "US": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFUSVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFAEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFAUVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFBRVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFCHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFGBVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFINVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFKWVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFORA__5FHRX__5FBHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFORA__5FHRX__5FOMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFORA__5FHRX__5FQAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFSAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFUSVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFAEVO-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "_SPOUSE_EMPLOYER": {
            "title": "Name of Spouse's Employer",
            "maxLength": 150,
            "type": "string",
            "description": "Name of Spouse's Employer",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Name of Spouse's Employer"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "CONT_INFORMATION1",
              "FND_ACFF_SegmentName": "SPOUSE_EMPLOYER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPOUSE_LATEST_QUALIFICATION": {
            "title": "Spouse's Latest Qualification",
            "maxLength": 150,
            "type": "string",
            "description": "Spouse's Latest Qualification",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Spouse's Latest Qualification"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "CONT_INFORMATION2",
              "FND_ACFF_SegmentName": "SPOUSE_LATEST_QUALIFICATION",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_STATUTORY_DEPENDENT": {
            "title": "Statutory Dependent",
            "maxLength": 150,
            "type": "string",
            "description": "Statutory Dependent",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_LabelCodeNum": "1",
              "FND_ACFF_LabelCode0": "STATUTORY_DEPENDENT",
              "FND_ACFF_SegmentName": "STATUTORY_DEPENDENT",
              "help": {
                "instruction": "Statutory Dependent"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "CONT_INFORMATION4",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SUBJECT": {
            "title": "Subject",
            "maxLength": 150,
            "type": "string",
            "description": "Subject",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Subject"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "CONT_INFORMATION3",
              "FND_ACFF_SegmentName": "SUBJECT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Contact Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Contact Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Contact Information Category",
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Contact Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFAUVO-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "_TFN": {
            "title": "Tax File Number",
            "maxLength": 150,
            "type": "string",
            "description": "Tax File Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Tax File Number"
              },
              "FND_ACFF_ValueSetInfo": "HRC_ZERO_FILL_NUMBER_9#FORMAT_ONLY",
              "FND_ACFF_IsNumericOnly": "true",
              "includeInCompactView": true,
              "FND_ACFF_IsRightJustifiedZeroFilled": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "9",
              "FND_ACFF_ColumnName": "CONT_INFORMATION1",
              "FND_ACFF_SegmentName": "TFN",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Contact Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "default": "AU",
            "x-hints": {
              "help": {
                "instruction": "Contact Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Contact Information Category",
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Contact Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFBRVO-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "_STUDENT": {
            "title": "Student",
            "maxLength": 150,
            "type": "string",
            "description": "Student",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Student"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "CONT_INFORMATION1",
              "FND_ACFF_SegmentName": "STUDENT",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_UNI_TECH_HIGH_SCH": {
            "title": "University or Technical High School",
            "maxLength": 150,
            "type": "string",
            "description": "University or Technical High School",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "University or Technical High School"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "CONT_INFORMATION2",
              "FND_ACFF_SegmentName": "UNI_TECH_HIGH_SCH",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Contact Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "default": "BR",
            "x-hints": {
              "help": {
                "instruction": "Contact Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Contact Information Category",
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Contact Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFCHVO-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "_CONTACT_WORKING": {
            "title": "Partner Working",
            "maxLength": 150,
            "type": "string",
            "description": "Partner Working",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_CONTACT_WORKING_Display",
              "help": {
                "instruction": "Partner Working"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "CONT_INFORMATION2",
              "FND_ACFF_SegmentName": "CONTACT_WORKING",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CONTACT_WORKING_Display": {
            "title": "Partner Working",
            "type": "string",
            "description": "Partner Working",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_CONTACT_WORKING",
              "help": {
                "instruction": "Partner Working"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_LEGAL_EMPLOYER_CA": {
            "title": "Legal Employer Paying Child Allowance",
            "maxLength": 150,
            "type": "string",
            "description": "Legal Employer Paying Child Allowance",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Legal Employer Paying Child Allowance"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_150#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "150",
              "FND_ACFF_ColumnName": "CONT_INFORMATION1",
              "FND_ACFF_SegmentName": "LEGAL_EMPLOYER_CA",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PENSIONER": {
            "title": "Pensioner",
            "maxLength": 150,
            "type": "string",
            "description": "Pensioner",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_PENSIONER_Display",
              "help": {
                "instruction": "Pensioner"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "CONT_INFORMATION5",
              "FND_ACFF_SegmentName": "PENSIONER",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PENSIONER_Display": {
            "title": "Pensioner",
            "type": "string",
            "description": "Pensioner",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_PENSIONER",
              "help": {
                "instruction": "Pensioner"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SIDE_JOB": {
            "title": "Side Job",
            "maxLength": 150,
            "type": "string",
            "description": "Side Job",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SIDE_JOB_Display",
              "help": {
                "instruction": "Side Job"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "CONT_INFORMATION4",
              "FND_ACFF_SegmentName": "SIDE_JOB",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SIDE_JOB_Display": {
            "title": "Side Job",
            "type": "string",
            "description": "Side Job",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SIDE_JOB",
              "help": {
                "instruction": "Side Job"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_WORK_CANTON": {
            "title": "Working in Canton",
            "maxLength": 150,
            "type": "string",
            "description": "Working in Canton",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_WORK_CANTON_Display",
              "help": {
                "instruction": "Working in Canton"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CH_CANTONS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "CONT_INFORMATION3",
              "FND_ACFF_SegmentName": "WORK_CANTON",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_WORK_CANTON_Display": {
            "title": "Working in Canton",
            "type": "string",
            "description": "Working in Canton",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_WORK_CANTON",
              "help": {
                "instruction": "Working in Canton"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Contact Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "default": "CH",
            "x-hints": {
              "help": {
                "instruction": "Contact Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Contact Information Category",
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Contact Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFGBVO-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "_ORA_HRX_GB_CARE_RESP": {
            "title": "Caring responsibilities",
            "maxLength": 150,
            "type": "string",
            "description": "Caring responsibilities",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Caring responsibilities"
              },
              "FND_ACFF_ValueSetInfo": "HRX_GB_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "CONT_INFORMATION1",
              "FND_ACFF_SegmentName": "ORA_HRX_GB_CARE_RESP",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Contact Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "default": "GB",
            "x-hints": {
              "help": {
                "instruction": "Contact Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Contact Information Category",
            "type": "string",
            "description": "Contact Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Contact Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personContactRelLegDDF_view_PersonContactRelLegDDFINVO-item-response": {
        "type": "object",
        "properties": {
          "ContactRelationshipId": {
            "title": "Contact Relationship ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
[...]
