{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts/Legislative Information/Person Legislative Developer Descriptive Flexfields",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts/{hcmContactsUniqID}/child/legislativeInfo/{legislativeInfoUniqID}/child/legislativeInfoDDF/{legislativeInfoDDFUniqID}": {
      "get": {
        "tags": [
          "HCM Contacts/Legislative Information/Person Legislative Developer Descriptive Flexfields"
        ],
        "summary": "Get a person legislative developer descriptive flexfield",
        "operationId": "get_hcmContacts-legislativeInfo-legislativeInfoDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legislativeInfoUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Legislative Information resource and used to uniquely identify an instance of Legislative Information. The client should not generate the hash key value. Instead, the client should query on the Legislative Information collection resource in order to navigate to a specific instance of Legislative Information to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legislativeInfoDDFUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PersonLegislativeId, EffectiveStartDate and EffectiveEndDate ---for the Person Legislative Developer Descriptive Flexfields resource and used to uniquely identify an instance of Person Legislative Developer Descriptive Flexfields. The client should not generate the hash key value.  Instead, the client should query on the Person Legislative Developer Descriptive Flexfields collection resource with a filter on the primary key values in order to navigate to a specific instance of Person Legislative Developer Descriptive Flexfields.<br><br>For example: legislativeInfoDDF?q=PersonLegislativeId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-legislativeInfo-legislativeInfoDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_LEGISLATIVE_DATA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_LEGISLATIVE_DATA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-legislativeInfo-{legislativeInfoUniqID}-child-legislativeInfoDDF-{legislativeInfoDDFUniqID}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-legislativeinfo-legislativeinfouniqid-child-legislativeinfoddf-legislativeinfoddfuniqid-get"
      },
      "patch": {
        "tags": [
          "HCM Contacts/Legislative Information/Person Legislative Developer Descriptive Flexfields"
        ],
        "summary": "Update a person legislative developer descriptive flexfield",
        "operationId": "update_hcmContacts-legislativeInfo-legislativeInfoDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legislativeInfoUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Legislative Information resource and used to uniquely identify an instance of Legislative Information. The client should not generate the hash key value. Instead, the client should query on the Legislative Information collection resource in order to navigate to a specific instance of Legislative Information to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legislativeInfoDDFUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PersonLegislativeId, EffectiveStartDate and EffectiveEndDate ---for the Person Legislative Developer Descriptive Flexfields resource and used to uniquely identify an instance of Person Legislative Developer Descriptive Flexfields. The client should not generate the hash key value.  Instead, the client should query on the Person Legislative Developer Descriptive Flexfields collection resource with a filter on the primary key values in order to navigate to a specific instance of Person Legislative Developer Descriptive Flexfields.<br><br>For example: legislativeInfoDDF?q=PersonLegislativeId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-legislativeInfo-legislativeInfoDDF-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-legislativeInfo-legislativeInfoDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_LEGISLATIVE_DATA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_LEGISLATIVE_DATA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-legislativeInfo-{legislativeInfoUniqID}-child-legislativeInfoDDF-{legislativeInfoDDFUniqID}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-legislativeinfo-legislativeinfouniqid-child-legislativeinfoddf-legislativeinfoddfuniqid-patch"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}/child/legislativeInfo/{legislativeInfoUniqID}/child/legislativeInfoDDF": {
      "get": {
        "tags": [
          "HCM Contacts/Legislative Information/Person Legislative Developer Descriptive Flexfields"
        ],
        "summary": "Get all person legislative developer descriptive flexfields",
        "operationId": "getall_hcmContacts-legislativeInfo-legislativeInfoDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legislativeInfoUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Legislative Information resource and used to uniquely identify an instance of Legislative Information. The client should not generate the hash key value. Instead, the client should query on the Legislative Information collection resource in order to navigate to a specific instance of Legislative Information to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey  <br>Finder Variables <ul><li>EffectiveEndDate; string;   </li><li>EffectiveStartDate; string;   </li><li>PersonLegislativeId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "PersonLegislativeId": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true,
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "type": "integer",
                    "title": "Person Legislative ID"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-legislativeInfo-legislativeInfoDDF"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-legislativeInfo-{legislativeInfoUniqID}-child-legislativeInfoDDF-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-legislativeinfo-legislativeinfouniqid-child-legislativeinfoddf-get"
      },
      "post": {
        "tags": [
          "HCM Contacts/Legislative Information/Person Legislative Developer Descriptive Flexfields"
        ],
        "summary": "Create a person legislative developer descriptive flexfield",
        "operationId": "create_hcmContacts-legislativeInfo-legislativeInfoDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legislativeInfoUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Legislative Information resource and used to uniquely identify an instance of Legislative Information. The client should not generate the hash key value. Instead, the client should query on the Legislative Information collection resource in order to navigate to a specific instance of Legislative Information to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-legislativeInfo-legislativeInfoDDF-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-legislativeInfo-legislativeInfoDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_LEGISLATIVE_DATA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_LEGISLATIVE_DATA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-legislativeInfo-{legislativeInfoUniqID}-child-legislativeInfoDDF-post",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-legislativeinfo-legislativeinfouniqid-child-legislativeinfoddf-post"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts-legislativeInfo-legislativeInfoDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeAEVO-item-response",
            "BR": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeBRVO-item-response",
            "CH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeCHVO-item-response",
            "CN": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeCNVO-item-response",
            "FR": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeFRVO-item-response",
            "GB": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeGBVO-item-response",
            "IE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeIEVO-item-response",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeKWVO-item-response",
            "MX": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeMXVO-item-response",
            "ORA_HRX_ES": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FESVO-item-response",
            "ORA_HRX_IN": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FINVO-item-response",
            "ORA_HRX_IT": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FITVO-item-response",
            "ORA_HRX_QA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FQAVO-item-response",
            "ORA_HRX_ZA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FZAVO-item-response",
            "SA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeSAVO-item-response",
            "US": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeUSVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeAEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeBRVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeCHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeCNVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeFRVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeGBVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeIEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeKWVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeMXVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FESVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FINVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FITVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FQAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeORA__5FHRX__5FZAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeSAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeUSVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeAEVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PersonLegislativeId": {
            "title": "Person Legislative ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ALTERNATE_BIRTH_PLACE": {
            "title": "Place of Birth-Alternate Language",
            "maxLength": 150,
            "type": "string",
            "description": "Place of Birth-Alternate Language",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Place of Birth-Alternate Language"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "PER_INFORMATION1",
              "FND_ACFF_SegmentName": "ALTERNATE_BIRTH_PLACE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_AE_TRANSFERRED": {
            "title": "Transferred or Seconded",
            "maxLength": 150,
            "type": "string",
            "description": "Transferred or Seconded",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ORA_HRX_AE_TRANSFERRED_Display",
              "help": {
                "instruction": "Transferred or Seconded"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_AE_TRANSFERRED_SECONDED#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION4",
              "FND_ACFF_SegmentName": "ORA_HRX_AE_TRANSFERRED",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_AE_TRANSFERRED_Display": {
            "title": "Transferred or Seconded",
            "type": "string",
            "description": "Transferred or Seconded",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ORA_HRX_AE_TRANSFERRED",
              "help": {
                "instruction": "Transferred or Seconded"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_AE_TRANS_DATE": {
            "title": "Date of Transfer or Secondment",
            "type": "string",
            "description": "Date of Transfer or Secondment",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Date of Transfer or Secondment"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PER_INFORMATION_DATE1",
              "FND_ACFF_SegmentName": "ORA_HRX_AE_TRANS_DATE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_AE_TRANS_EMPLOYER": {
            "title": "Name of Employer of Transfer or Secondment",
            "maxLength": 150,
            "type": "string",
            "description": "Name of Employer of Transfer or Secondment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Name of Employer of Transfer or Secondment"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_120#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "120",
              "FND_ACFF_ColumnName": "PER_INFORMATION5",
              "FND_ACFF_SegmentName": "ORA_HRX_AE_TRANS_EMPLOYER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORG_GRANTING_HIGHEST_EDU": {
            "title": "Organization Granting Highest Education Level",
            "maxLength": 150,
            "type": "string",
            "description": "Organization Granting Highest Education Level",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Organization Granting Highest Education Level"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "PER_INFORMATION3",
              "FND_ACFF_SegmentName": "ORG_GRANTING_HIGHEST_EDU",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SUBJECT": {
            "title": "Subject",
            "maxLength": 150,
            "type": "string",
            "description": "Subject",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Subject"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "PER_INFORMATION2",
              "FND_ACFF_SegmentName": "SUBJECT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Information Category",
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeBRVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PersonLegislativeId": {
            "title": "Person Legislative ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "__FLEX_Context": {
            "title": "Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "default": "BR",
            "x-hints": {
              "help": {
                "instruction": "Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Information Category",
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "ctpsNumber": {
            "title": "CTPS Number",
            "maxLength": 150,
            "type": "string",
            "description": "CTPS Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "CTPS Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BR_CHAR_11#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "ctpsNumber",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "11",
              "FND_ACFF_ColumnName": "PER_INFORMATION1",
              "FND_ACFF_SegmentName": "CTPS_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "ctpsSeries": {
            "title": "CTPS Series",
            "maxLength": 150,
            "type": "string",
            "description": "CTPS Series",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "CTPS Series"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_5#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "ctpsSeries",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "5",
              "FND_ACFF_ColumnName": "PER_INFORMATION2",
              "FND_ACFF_SegmentName": "CTPS_SERIES",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "dateIssued": {
            "title": "CTPS Issuing Date",
            "type": "string",
            "description": "CTPS Issuing Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "CTPS Issuing Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "dateIssued",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PER_INFORMATION_DATE1",
              "FND_ACFF_SegmentName": "DATE_ISSUED",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "issuingState": {
            "title": "CTPS Issuing State",
            "type": "number",
            "description": "CTPS Issuing State",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "issuingState_Display",
              "help": {
                "instruction": "CTPS Issuing State"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BR_STATE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "issuingState",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PER_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ISSUING_STATE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "issuingState_Display": {
            "title": "CTPS Issuing State",
            "type": "string",
            "description": "CTPS Issuing State",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "issuingState",
              "help": {
                "instruction": "CTPS Issuing State"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeCHVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PersonLegislativeId": {
            "title": "Person Legislative ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_LAST_MARITALSTATUS_CHANGE_DATE": {
            "title": "Last Marital Status Change Date Prior to Hire",
            "type": "string",
            "description": "Last Marital Status Change Date Prior to Hire",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Last Marital Status Change Date Prior to Hire"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PER_INFORMATION_DATE1",
              "FND_ACFF_SegmentName": "LAST_MARITALSTATUS_CHANGE_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PLACE_OF_ORIGIN": {
            "title": "Place of Origin",
            "maxLength": 150,
            "type": "string",
            "description": "Place of Origin",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Place of Origin"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_150#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "150",
              "FND_ACFF_ColumnName": "PER_INFORMATION1",
              "FND_ACFF_SegmentName": "PLACE_OF_ORIGIN",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "default": "CH",
            "x-hints": {
              "help": {
                "instruction": "Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Information Category",
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeCNVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PersonLegislativeId": {
            "title": "Person Legislative ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_EXPATRIATE": {
            "title": "Expatriate",
            "maxLength": 150,
            "type": "string",
            "description": "Expatriate",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_EXPATRIATE_Display",
              "help": {
                "instruction": "Expatriate"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION6",
              "FND_ACFF_SegmentName": "EXPATRIATE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_EXPATRIATE_Display": {
            "title": "Expatriate",
            "type": "string",
            "description": "Expatriate",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_EXPATRIATE",
              "help": {
                "instruction": "Expatriate"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HEALTH_STATUS": {
            "title": "Health Status",
            "maxLength": 150,
            "type": "string",
            "description": "Health Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_HEALTH_STATUS_Display",
              "help": {
                "instruction": "Health Status"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CN_HEALTH_STATUS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION4",
              "FND_ACFF_SegmentName": "HEALTH_STATUS",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HEALTH_STATUS_Display": {
            "title": "Health Status",
            "type": "string",
            "description": "Health Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_HEALTH_STATUS",
              "help": {
                "instruction": "Health Status"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HUKOU_LOCATION": {
            "title": "Hukou Location",
            "maxLength": 150,
            "type": "string",
            "description": "Hukou Location",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_HUKOU_LOCATION_Display",
              "help": {
                "instruction": "Hukou Location"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CN_HUKOU_LOCATION#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION3",
              "FND_ACFF_SegmentName": "HUKOU_LOCATION",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HUKOU_LOCATION_Display": {
            "title": "Hukou Location",
            "type": "string",
            "description": "Hukou Location",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_HUKOU_LOCATION",
              "help": {
                "instruction": "Hukou Location"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HUKOU_TYPE": {
            "title": "Hukou Type",
            "maxLength": 150,
            "type": "string",
            "description": "Hukou Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_HUKOU_TYPE_Display",
              "help": {
                "instruction": "Hukou Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CN_HUKOU_TYPE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION2",
              "FND_ACFF_SegmentName": "HUKOU_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HUKOU_TYPE_Display": {
            "title": "Hukou Type",
            "type": "string",
            "description": "Hukou Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_HUKOU_TYPE",
              "help": {
                "instruction": "Hukou Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_NUMBER_OF_CHILDREN": {
            "title": "Number of Children",
            "type": "number",
            "description": "Number of Children",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "2",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Children"
              },
              "FND_ACFF_ValueSetInfo": "HRX_CN_POSITIVE_INTEGER#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PER_INFORMATION_NUMBER1",
              "FND_ACFF_MaximumValue": "99",
              "FND_ACFF_SegmentName": "NUMBER_OF_CHILDREN",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORIGINAL_HOMETOWN": {
            "title": "Original Hometown",
            "maxLength": 150,
            "type": "string",
            "description": "Original Hometown",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Original Hometown"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "PER_INFORMATION1",
              "FND_ACFF_SegmentName": "ORIGINAL_HOMETOWN",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "default": "CN",
            "x-hints": {
              "help": {
                "instruction": "Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Information Category",
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeFRVO-item-response": {
        "type": "object",
        "properties": {
          "DSNEUCode": {
            "title": "EU Code",
            "maxLength": 150,
            "type": "string",
            "description": "EU Code",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "DSNEUCode_Display",
              "help": {
                "instruction": "EU Code"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_DSN_EMP_ORIG#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "DSNEUCode",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION3",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_DSN_EU_CODE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "DSNEUCode_Display": {
            "title": "EU Code",
            "type": "string",
            "description": "EU Code",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "DSNEUCode",
              "help": {
                "instruction": "EU Code"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PersonLegislativeId": {
            "title": "Person Legislative ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_DATE_FIRST_ENTRY_FRANCE": {
            "title": "First Date of Entry to France",
            "type": "string",
            "description": "First Date of Entry to France",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "First Date of Entry to France"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PER_INFORMATION_DATE1",
              "FND_ACFF_SegmentName": "DATE_FIRST_ENTRY_FRANCE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_FR_CO_NO_OF_DEPENDENTS": {
            "title": "Number of Dependents for Court Orders",
            "type": "number",
            "description": "Number of Dependents for Court Orders",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "2",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Dependents for Court Orders"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_NON_NEGATIVE_NUMBER_LESS_THAN_15_2_0#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PER_INFORMATION_NUMBER4",
              "FND_ACFF_MaximumValue": "14",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_CO_NO_OF_DEPENDENTS",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_FR_SENIORITY_OVERRIDE": {
            "title": "Seniority Override Date",
            "type": "string",
            "description": "Seniority Override Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Seniority Override Date"
              },
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PER_INFORMATION_DATE2",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_SENIORITY_OVERRIDE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_FR_TYPE_OF_EMP": {
            "title": "Type of Employment",
            "maxLength": 150,
            "type": "string",
            "description": "Type of Employment",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ORA_HRX_FR_TYPE_OF_EMP_Display",
              "help": {
                "instruction": "Type of Employment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_FR_TYPE_OF_EMP#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION2",
              "FND_ACFF_SegmentName": "ORA_HRX_FR_TYPE_OF_EMP",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_FR_TYPE_OF_EMP_Display": {
            "title": "Type of Employment",
            "type": "string",
            "description": "Type of Employment",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ORA_HRX_FR_TYPE_OF_EMP",
              "help": {
                "instruction": "Type of Employment"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PERSON_CPAM": {
            "title": "Local Social Security Office",
            "maxLength": 150,
            "type": "string",
            "description": "Local Social Security Office",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_PERSON_CPAM_Display",
              "help": {
                "instruction": "Local Social Security Office"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_FR_PERSON_CPAM#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION1",
              "FND_ACFF_SegmentName": "PERSON_CPAM",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PERSON_CPAM_Display": {
            "title": "Local Social Security Office",
            "type": "string",
            "description": "Local Social Security Office",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_PERSON_CPAM",
              "help": {
                "instruction": "Local Social Security Office"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "default": "FR",
            "x-hints": {
              "help": {
                "instruction": "Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Information Category",
            "type": "string",
            "description": "Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "numberOfChildren": {
            "title": "Number Of Children",
            "type": "number",
            "description": "Number Of Children",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "2",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number Of Children"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER_2_0#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "numberOfChildren",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PER_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "NUMBER_OF_CHILDREN",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personLegislativeInfo_view_PersonLegislativeGBVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PersonLegislativeId": {
            "title": "Person Legislative ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_CORRELATION_ID": {
            "title": "Correlation ID",
            "maxLength": 150,
            "type": "string",
            "description": "Correlation ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Correlation ID"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "PER_INFORMATION4",
              "FND_ACFF_SegmentName": "CORRELATION_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_GENDER_IDENTITY": {
            "title": "Gender Identity",
            "maxLength": 150,
            "type": "string",
            "description": "Gender Identity",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_GENDER_IDENTITY_Display",
              "help": {
                "instruction": "Gender Identity"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_GB_GENDER_IDENTITY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PER_INFORMATION11",
              "FND_ACFF_SegmentName": "GENDER_IDENTITY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_GENDER_IDENTITY_Display": {
            "title": "Gender Identity",
            "type": "string",
            "description": "Gender Identity",
            "nullable": true,
            "x-hints": {
[...]
