{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts/Passports",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts/{hcmContactsUniqID}/child/passports": {
      "get": {
        "tags": [
          "HCM Contacts/Passports"
        ],
        "summary": "Get all passports",
        "operationId": "getall_hcmContacts-passports",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ExpirationDate; string; Expiration date of the contact's passport.</li><li>IssuingCountry; string; Country in which the contact's passport was issued. Valid values are defined in the hcmCountriesLov.</li><li>IssuingCountryName; string; Name of the country issuing the contact's passport.</li><li>PassportId; integer; Surrogate identifier for the contact's passport.</li><li>PassportNumber; string; Passport number of the contact.</li><li>PassportType; string; Type or category of the contact's passport. Valid values are defined in the commonLookupsLOV.</li><li>PassportTypeMeaning; string; Meaning of the contact's passport type.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the contact passports that match the specified primary key criteria. <br>Finder Variables <ul><li>PassportId; integer;  Surrogate identifier for the contact's passport. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the contact passports that match the specified primary key criteria.",
                "properties": {
                  "PassportId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the contact's passport.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Passport ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-passports"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-passports-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-passports-get"
      },
      "post": {
        "tags": [
          "HCM Contacts/Passports"
        ],
        "summary": "Create a passport",
        "operationId": "create_hcmContacts-passports",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-passports-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-passports-item-response"
                }
              }
            },
            "links": {
              "passportsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports~1{PassportId}~1child~1passportsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "PassportId": "$request.path.PassportId"
                }
              },
              "issuingCountriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "passportsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports~1{PassportId}~1child~1passportsDDF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "PassportId": "$request.path.PassportId"
                }
              },
              "passportTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{PassportType}%2CLookupType%3DPER_PASSPORT_TYPE%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PassportType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PassportType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-passports-post",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-passports-post"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}/child/passports/{PassportId}": {
      "get": {
        "tags": [
          "HCM Contacts/Passports"
        ],
        "summary": "Get a passport",
        "operationId": "get_hcmContacts-passports",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PassportId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Passport ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-passports-item-response"
                }
              }
            },
            "links": {
              "passportsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports~1{PassportId}~1child~1passportsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "PassportId": "$request.path.PassportId"
                }
              },
              "issuingCountriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "passportsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports~1{PassportId}~1child~1passportsDDF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "PassportId": "$request.path.PassportId"
                }
              },
              "passportTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{PassportType}%2CLookupType%3DPER_PASSPORT_TYPE%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PassportType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PassportType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-passports-{PassportId}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-passports-passportid-get"
      },
      "delete": {
        "tags": [
          "HCM Contacts/Passports"
        ],
        "summary": "Delete a passport",
        "operationId": "delete_hcmContacts-passports",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PassportId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Passport ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-passports-{PassportId}-delete",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-passports-passportid-delete"
      },
      "patch": {
        "tags": [
          "HCM Contacts/Passports"
        ],
        "summary": "Update a passport",
        "operationId": "update_hcmContacts-passports",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PassportId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Passport ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-passports-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-passports-item-response"
                }
              }
            },
            "links": {
              "passportsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports~1{PassportId}~1child~1passportsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "PassportId": "$request.path.PassportId"
                }
              },
              "issuingCountriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "passportsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1passports~1{PassportId}~1child~1passportsDDF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "PassportId": "$request.path.PassportId"
                }
              },
              "passportTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{PassportType}%2CLookupType%3DPER_PASSPORT_TYPE%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PassportType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PassportType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-passports-{PassportId}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-passports-passportid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts-passports": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "hcmContacts-passports-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact's passport information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact's passport information was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the contact's passport.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the contact's passport.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingAuthority": {
            "title": "Issuing Authority",
            "maxLength": 100,
            "type": "string",
            "description": "Issuing authority for the contact's passport.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingCountry": {
            "title": "Issuing Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country in which the contact's passport was issued. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "IssuingCountryName": {
            "title": "Issuing Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the country issuing the contact's passport.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "IssuingLocation": {
            "title": "Issuing Location",
            "maxLength": 100,
            "type": "string",
            "description": "Location where the contact's passport was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact's passport information was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact's passport information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "description": "Surrogate identifier for the contact's passport.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PassportNumber": {
            "title": "Number",
            "maxLength": 30,
            "type": "string",
            "description": "Passport number of the contact.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PassportType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type or category of the contact's passport. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "IssuingCountry"
              ]
            },
            "x-queryable": true
          },
          "PassportTypeMeaning": {
            "title": "Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's passport type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Profession": {
            "title": "Profession",
            "maxLength": 30,
            "type": "string",
            "description": "Profession of the passport holder.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "passportsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-passportsDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "passportsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-passportsDFF-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "hcmContacts-passports-passportsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-response",
            "IN": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-response",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-response": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACCOMPANYING_PERSONS": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "2",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_AE_NUMBER_2#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PAS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANYING_PERSONS",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ALTERNATE_ISSUE_PLACE": {
            "title": "Place of Issue-Alternate Language",
            "maxLength": 150,
            "type": "string",
            "description": "Place of Issue-Alternate Language",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Place of Issue-Alternate Language"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "PAS_INFORMATION1",
              "FND_ACFF_SegmentName": "ALTERNATE_ISSUE_PLACE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-response": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ECNR_REQUIRED": {
            "title": "ECNR Required",
            "maxLength": 150,
            "type": "string",
            "description": "ECNR Required",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "ECNR Required"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "PAS_INFORMATION2",
              "FND_ACFF_SegmentName": "ECNR_REQUIRED",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_NAME": {
            "title": "Name as in Passport",
            "maxLength": 150,
            "type": "string",
            "description": "Name as in Passport",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Name as in Passport"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_120#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "120",
              "FND_ACFF_ColumnName": "PAS_INFORMATION1",
              "FND_ACFF_SegmentName": "NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "IN",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-response": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACCOMPANY_PERSON": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "14",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_KW_NUM_14#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PAS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANY_PERSON",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "KW",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "hcmContacts-passports-passportsDFF-item-response": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "hcmContacts-passports-item-post-request": {
        "required": [
          "IssuingCountry"
        ],
        "type": "object",
        "properties": {
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the contact's passport.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the contact's passport.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingAuthority": {
            "title": "Issuing Authority",
            "maxLength": 100,
            "type": "string",
            "description": "Issuing authority for the contact's passport.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingCountry": {
            "title": "Issuing Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country in which the contact's passport was issued. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            }
          },
          "IssuingLocation": {
            "title": "Issuing Location",
            "maxLength": 100,
            "type": "string",
            "description": "Location where the contact's passport was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PassportNumber": {
            "title": "Number",
            "maxLength": 30,
            "type": "string",
            "description": "Passport number of the contact.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PassportType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type or category of the contact's passport. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "IssuingCountry"
              ]
            }
          },
          "Profession": {
            "title": "Profession",
            "maxLength": 30,
            "type": "string",
            "description": "Profession of the passport holder.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "passportsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-passportsDDF-item-post-request"
            },
            "x-cardinality": "1"
          },
          "passportsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-passportsDFF-item-post-request"
            },
            "x-cardinality": "1"
          }
        }
      },
      "hcmContacts-passports-passportsDDF-item-post-request": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-post-request",
            "IN": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-post-request",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-post-request"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-post-request"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-post-request": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACCOMPANYING_PERSONS": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "2",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_AE_NUMBER_2#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PAS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANYING_PERSONS",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ALTERNATE_ISSUE_PLACE": {
            "title": "Place of Issue-Alternate Language",
            "maxLength": 150,
            "type": "string",
            "description": "Place of Issue-Alternate Language",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Place of Issue-Alternate Language"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "PAS_INFORMATION1",
              "FND_ACFF_SegmentName": "ALTERNATE_ISSUE_PLACE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-post-request": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ECNR_REQUIRED": {
            "title": "ECNR Required",
            "maxLength": 150,
            "type": "string",
            "description": "ECNR Required",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "ECNR Required"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "PAS_INFORMATION2",
              "FND_ACFF_SegmentName": "ECNR_REQUIRED",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_NAME": {
            "title": "Name as in Passport",
            "maxLength": 150,
            "type": "string",
            "description": "Name as in Passport",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Name as in Passport"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_120#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "120",
              "FND_ACFF_ColumnName": "PAS_INFORMATION1",
              "FND_ACFF_SegmentName": "NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "IN",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-post-request": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACCOMPANY_PERSON": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "14",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_KW_NUM_14#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PAS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANY_PERSON",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "KW",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "hcmContacts-passports-passportsDFF-item-post-request": {
        "type": "object",
        "properties": {
          "PassportId": {
            "title": "Passport ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "hcmContacts-passports-item-patch-request": {
        "type": "object",
        "properties": {
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the contact's passport.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the contact's passport.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingAuthority": {
            "title": "Issuing Authority",
            "maxLength": 100,
            "type": "string",
            "description": "Issuing authority for the contact's passport.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingLocation": {
            "title": "Issuing Location",
            "maxLength": 100,
            "type": "string",
            "description": "Location where the contact's passport was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PassportNumber": {
            "title": "Number",
            "maxLength": 30,
            "type": "string",
            "description": "Passport number of the contact.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PassportType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type or category of the contact's passport. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "IssuingCountry"
              ]
            }
          },
          "Profession": {
            "title": "Profession",
            "maxLength": 30,
            "type": "string",
            "description": "Profession of the passport holder.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "passportsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-passportsDDF-item-patch-request"
            },
            "x-cardinality": "1"
          },
          "passportsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-passports-passportsDFF-item-patch-request"
            },
            "x-cardinality": "1"
          }
        }
      },
      "hcmContacts-passports-passportsDDF-item-patch-request": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-patch-request",
            "IN": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-patch-request",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-patch-request"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-patch-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-patch-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFKWVO-item-patch-request"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFAEVO-item-patch-request": {
        "type": "object",
        "properties": {
          "_ACCOMPANYING_PERSONS": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "2",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_AE_NUMBER_2#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "PAS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANYING_PERSONS",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ALTERNATE_ISSUE_PLACE": {
            "title": "Place of Issue-Alternate Language",
            "maxLength": 150,
            "type": "string",
            "description": "Place of Issue-Alternate Language",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Place of Issue-Alternate Language"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "PAS_INFORMATION1",
              "FND_ACFF_SegmentName": "ALTERNATE_ISSUE_PLACE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Passport Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personPassportLegDDF_view_PersonPassportLegDDFINVO-item-patch-request": {
        "type": "object",
        "properties": {
          "_ECNR_REQUIRED": {
            "title": "ECNR Required",
            "maxLength": 150,
            "type": "string",
            "description": "ECNR Required",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "ECNR Required"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "PAS_INFORMATION2",
              "FND_ACFF_SegmentName": "ECNR_REQUIRED",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_NAME": {
            "title": "Name as in Passport",
            "maxLength": 150,
            "type": "string",
            "description": "Name as in Passport",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Name as in Passport"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_120#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_IsRequired": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "120",
              "FND_ACFF_ColumnName": "PAS_INFORMATION1",
              "FND_ACFF_SegmentName": "NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Passport Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "default": "IN",
            "x-hints": {
              "help": {
                "instruction": "Passport Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "ISSUING_COUNTRY",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "ISSUING_COUNTRY",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Passport Information Category",
            "type": "string",
            "description": "Passport Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
[...]
