{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts/Names",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts/{hcmContactsUniqID}/child/names/{namesUniqID}": {
      "get": {
        "tags": [
          "HCM Contacts/Names"
        ],
        "summary": "Get a name",
        "operationId": "get_hcmContacts-names",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Names resource and used to uniquely identify an instance of Names. The client should not generate the hash key value. Instead, the client should query on the Names collection resource in order to navigate to a specific instance of Names to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-names-item-response"
                }
              }
            },
            "links": {
              "localTitlesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{LocalTitle}%2CLookupType%3DTITLE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocalTitle; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocalTitle",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "titlesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{Title}%2CLookupType%3DTITLE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Title; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Title",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-names-{namesUniqID}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-names-namesuniqid-get"
      },
      "delete": {
        "tags": [
          "HCM Contacts/Names"
        ],
        "summary": "Delete a name",
        "operationId": "delete_hcmContacts-names",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Names resource and used to uniquely identify an instance of Names. The client should not generate the hash key value. Instead, the client should query on the Names collection resource in order to navigate to a specific instance of Names to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-names-{namesUniqID}-delete",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-names-namesuniqid-delete"
      },
      "patch": {
        "tags": [
          "HCM Contacts/Names"
        ],
        "summary": "Update a name",
        "operationId": "update_hcmContacts-names",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Names resource and used to uniquely identify an instance of Names. The client should not generate the hash key value. Instead, the client should query on the Names collection resource in order to navigate to a specific instance of Names to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-names-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-names-item-response"
                }
              }
            },
            "links": {
              "localTitlesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{LocalTitle}%2CLookupType%3DTITLE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocalTitle; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocalTitle",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "titlesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{Title}%2CLookupType%3DTITLE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Title; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Title",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-names-{namesUniqID}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-names-namesuniqid-patch"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}/child/names": {
      "get": {
        "tags": [
          "HCM Contacts/Names"
        ],
        "summary": "Get all names",
        "operationId": "getall_hcmContacts-names",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DisplayName; string; Contact's display name.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>FirstName; string; Contact's first name.</li><li>FullName; string; Contact's full name.</li><li>Honors; string; Higher qualification appended to a person's name such as PhD.</li><li>KnownAs; string; Contact's preferred name.</li><li>LastName; string; Contact's last name.</li><li>LegislationCode; string; Legislation code of the contact. Valid values are defined in the hcmCountriesLov.</li><li>LegislationName; string; Name of the contact's legislation.</li><li>ListName; string; Contact's listed name.</li><li>LocalCreatedBy; string; User who created the contact's local name information.</li><li>LocalCreationDate; string; Date and time when the contact's local name information was created.</li><li>LocalDisplayName; string; Contact's display name in local language.</li><li>LocalEffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>LocalEffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>LocalFirstName; string; Contact's first name in local language.</li><li>LocalFullName; string; Contact's full name in local language.</li><li>LocalHonors; string; Higher qualification appended to a person's name such as PhD in local language.</li><li>LocalKnownAs; string; Contact 's preferred name in local language.</li><li>LocalLastName; string; Contact's last name in local language.</li><li>LocalLastUpdateDate; string; Date and time when the contact's local name information was last updated.</li><li>LocalLastUpdatedBy; string; User who last updated the contact's local name information.</li><li>LocalLegislationCode; string; Legislation code of the local language. Valid values are defined in the hcmCountriesLov.</li><li>LocalLegislationName; string; Name of the contact's legislation in local language.</li><li>LocalListName; string; Contact's listed name in local language.</li><li>LocalMiddleNames; string; Contact's middle name in local language.</li><li>LocalMilitaryRank; string; Contact's military rank in local language.</li><li>LocalNameInformation1; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation10; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation11; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation12; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation13; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation14; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation15; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation16; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation17; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation18; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation19; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation2; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation20; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation21; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation22; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation23; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation24; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation25; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation26; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation27; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation28; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation29; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation3; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation30; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation4; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation5; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation6; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation7; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation8; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation9; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameLanguage; string; Local language of the name. This isn't required for global names. If you're creating a local name, you must provide the language code.</li><li>LocalNameLanguageMeaning; string; Meaning of the local language code for the contact's name.</li><li>LocalOrderName; string; Contact's order name in local language.</li><li>LocalPersonNameId; integer; Surrogate identifier for the local contact's name record.</li><li>LocalPreNameAdjunct; string; Part of the name added before a person's first name in local language.</li><li>LocalPreviousLastName; string; Contact 's previous last name in local language.</li><li>LocalSuffix; string; Part of the name appended to a person's last name such as Jr., III, and so on, in local language.</li><li>LocalTitle; string; Person salutation such as Mr., Ms., and so on, in local language. Valid values are defined in the commonLookupsLOV.</li><li>LocalTitleMeaning; string; Meaning of the contact's title in local language.</li><li>MiddleNames; string; Contact's middle name.</li><li>MilitaryRank; string; Contact's military rank.</li><li>NameInformation1; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation10; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation11; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation12; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation13; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation14; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation15; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation16; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation17; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation18; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation19; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation2; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation20; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation21; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation22; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation23; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation24; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation25; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation26; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation27; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation28; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation29; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation3; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation30; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation4; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation5; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation6; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation7; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation8; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation9; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameLanguage; string; Language of the name. This isn't required for global names. If you're creating a local name, you must provide the language code.</li><li>NameLanguageMeaning; string; Meaning of the language code for the contact's name.</li><li>OrderName; string; Contact's order name.</li><li>PersonNameId; integer; Surrogate identifier for the contact's name.</li><li>PreNameAdjunct; string; Part of the name added before a person's first name.</li><li>PreviousLastName; string; Contact's previous last name.</li><li>Suffix; string; Part of the name appended to a person's last name such as Jr., III, and so on.</li><li>Title; string; Person salutation such as Mr., Ms., and so on. Valid values are defined in the commonLookupsLOV.</li><li>TitleMeaning; string; Meaning of the contact's title.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the contact names that match the specified primary key criteria. <br>Finder Variables <ul><li>EffectiveEndDate; string;   </li><li>EffectiveStartDate; string;  Start date of the date-effective changes to the record. </li><li>LocalEffectiveEndDate; string;  End date of the date-effective changes to the local name record. </li><li>LocalEffectiveStartDate; string;  Start date of the date-effective changes to the local name record. </li><li>LocalPersonNameId; integer;  Surrogate identifier for the contact's local name. </li><li>PersonNameId; integer;  Surrogate identifier for the contact's name. </li></ul></li><li>findByPersonNameId Finds all the contact names that match the specified person name identifier. <br>Finder Variables <ul><li>PersonNameId; integer;  Surrogate identifier for the person name. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the contact names that match the specified primary key criteria.",
                "properties": {
                  "LocalEffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Start date of the date-effective changes to the local name record.",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "LocalEffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "End date of the date-effective changes to the local name record.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Start date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "LocalPersonNameId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the contact's local name.",
                    "type": "integer",
                    "title": "Person Name ID"
                  },
                  "PersonNameId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the contact's name.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Person Name ID"
                  }
                }
              },
              {
                "name": "findByPersonNameId",
                "description": "Finds all the contact names that match the specified person name identifier.",
                "title": "findByPersonNameIdFinder",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "PersonNameId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the person name.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-names"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-names-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-names-get"
      },
      "post": {
        "tags": [
          "HCM Contacts/Names"
        ],
        "summary": "Create a name",
        "operationId": "create_hcmContacts-names",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-names-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-names-item-response"
                }
              }
            },
            "links": {
              "localTitlesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{LocalTitle}%2CLookupType%3DTITLE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LocalTitle; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LocalTitle",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "titlesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{Title}%2CLookupType%3DTITLE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Title; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Title",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-names-post",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-names-post"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts-names-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact's name information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact's name information was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "DisplayName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Contact's display name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "Contact's first name.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FullName": {
            "title": "Full Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Contact's full name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Honors": {
            "title": "Honors",
            "maxLength": 80,
            "type": "string",
            "description": "Higher qualification appended to a person's name such as PhD.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "KnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Contact's preferred name.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Contact's last name.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact's name information was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact's name information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LegislationCode": {
            "title": "Country",
            "maxLength": 4,
            "type": "string",
            "description": "Legislation code of the contact. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LegislationName": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the contact's legislation.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ListName": {
            "title": "List Name",
            "maxLength": 240,
            "type": "string",
            "description": "Contact's listed name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalCreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact's local name information.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalCreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact's local name information was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalDisplayName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Contact's display name in local language.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalEffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalEffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalFirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "Contact's first name in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalFullName": {
            "title": "Full Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Contact's full name in local language.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalHonors": {
            "title": "Honors",
            "maxLength": 80,
            "type": "string",
            "description": "Higher qualification appended to a person's name such as PhD in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalKnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Contact 's preferred name in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalLastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Contact's last name in local language.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalLastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact's local name information was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalLastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact's local name information.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalLegislationCode": {
            "title": "Country",
            "maxLength": 4,
            "type": "string",
            "description": "Legislation code of the local language. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalLegislationName": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the contact's legislation in local language.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocalListName": {
            "title": "List Name",
            "maxLength": 240,
            "type": "string",
            "description": "Contact's listed name in local language.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalMiddleNames": {
            "title": "Middle Names",
            "maxLength": 80,
            "type": "string",
            "description": "Contact's middle name in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalMilitaryRank": {
            "title": "Military Rank",
            "maxLength": 80,
            "type": "string",
            "description": "Contact's military rank in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation1": {
            "title": "Name Information 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation10": {
            "title": "Name Information 10",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation11": {
            "title": "Name Information 11",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation12": {
            "title": "Name Information 12",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation13": {
            "title": "Name Information 13",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation14": {
            "title": "Name Information 14",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation15": {
            "title": "Name Information 15",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation16": {
            "title": "Name Information 16",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation17": {
            "title": "Name Information 17",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation18": {
            "title": "Name Information 18",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation19": {
            "title": "Name Information 19",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation2": {
            "title": "Name Information 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation20": {
            "title": "Name Information 20",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation21": {
            "title": "Name Information 21",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation22": {
            "title": "Name Information 22",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation23": {
            "title": "Name Information 23",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation24": {
            "title": "Name Information 24",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation25": {
            "title": "Name Information 25",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation26": {
            "title": "Name Information 26",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation27": {
            "title": "Name Information 27",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation28": {
            "title": "Name Information 28",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation29": {
            "title": "Name Information 29",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation3": {
            "title": "Name Information 3",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation30": {
            "title": "Name Information 30",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation4": {
            "title": "Name Information 4",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation5": {
            "title": "Name Information 5",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation6": {
            "title": "Name Information 6",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation7": {
            "title": "Name Information 7",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation8": {
            "title": "Name Information 8",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameInformation9": {
            "title": "Name Information 9",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameLanguage": {
            "title": "Local-Name Language",
            "maxLength": 4,
            "type": "string",
            "description": "Local language of the name. This isn't required for global names. If you're creating a local name, you must provide the language code.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalNameLanguageMeaning": {
            "title": "Local-Name Language",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the local language code for the contact's name.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocalOrderName": {
            "title": "Order Name",
            "maxLength": 240,
            "type": "string",
            "description": "Contact's order name in local language.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalPersonNameId": {
            "title": "Person Name ID",
            "type": "integer",
            "description": "Surrogate identifier for the local contact's name record.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LocalPreNameAdjunct": {
            "title": "Prefix",
            "maxLength": 150,
            "type": "string",
            "description": "Part of the name added before a person's first name in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalPreviousLastName": {
            "title": "Previous Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Contact 's previous last name in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalSuffix": {
            "title": "Suffix",
            "maxLength": 80,
            "type": "string",
            "description": "Part of the name appended to a person's last name such as Jr., III, and so on, in local language.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocalTitle": {
            "title": "Title",
            "maxLength": 30,
            "type": "string",
            "description": "Person salutation such as Mr., Ms., and so on, in local language. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "LegislationCode"
              ]
            },
            "x-queryable": true
          },
          "LocalTitleMeaning": {
            "title": "Title",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's title in local language.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MiddleNames": {
            "title": "Middle Names",
            "maxLength": 80,
            "type": "string",
            "description": "Contact's middle name.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MilitaryRank": {
            "title": "Military Rank",
            "maxLength": 80,
            "type": "string",
            "description": "Contact's military rank.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation1": {
            "title": "Name Information 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation10": {
            "title": "Name Information 10",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation11": {
            "title": "Name Information 11",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation12": {
            "title": "Name Information 12",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation13": {
            "title": "Name Information 13",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation14": {
            "title": "Name Information 14",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation15": {
            "title": "Name Information 15",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation16": {
            "title": "Name Information 16",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation17": {
            "title": "Name Information 17",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation18": {
            "title": "Name Information 18",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation19": {
            "title": "Name Information 19",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation2": {
            "title": "Name Information 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation20": {
            "title": "Name Information 20",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation21": {
            "title": "Name Information 21",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation22": {
            "title": "Name Information 22",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation23": {
            "title": "Name Information 23",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation24": {
            "title": "Name Information 24",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation25": {
            "title": "Name Information 25",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NameInformation26": {
            "title": "Name Information 26",
            "maxLength": 150,
            "type": "string",
[...]
