{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Data Loader Data Sets/Data Set Business Objects",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/dataLoadDataSets/{RequestId}/child/businessObjects/{DataSetBusObjId}/action/stop": {
      "post": {
        "tags": [
          "HCM Data Loader Data Sets/Data Set Business Objects"
        ],
        "summary": "Stop business object processing",
        "description": "Request that the processing of a business object is stopped. Any business object records already processed won't be rolled back.",
        "operationId": "do_stop_dataLoadDataSets-businessObjects",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the request.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "DataSetBusObjId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Surrogate identifier of the business object.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the stop request. Returns Y when the stop request was submitted successfully."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the stop request. Returns Y when the stop request was submitted successfully."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "dataLoadDataSets-{RequestId}-child-businessObjects-{DataSetBusObjId}-action-stop-post",
        "x-filename-id": "dataloaddatasets-requestid-child-businessobjects-datasetbusobjid-action-stop-post"
      }
    },
    "/dataLoadDataSets/{RequestId}/child/businessObjects": {
      "get": {
        "tags": [
          "HCM Data Loader Data Sets/Data Set Business Objects"
        ],
        "summary": "Get all business objects",
        "operationId": "getall_dataLoadDataSets-businessObjects",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the request.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BusinessObjectDiscriminator; string; Discriminator that identifies the business object.</li><li>BusinessObjectId; integer; System-generated unique identifier for the business object.</li><li>BusinessObjectName; string; Name of the business object.</li><li>DatFileName; string; Name of the data file. Only applicable to compressed dat files processed by HCM Data Loader.</li><li>DataSetBusObjId; integer; System-generated unique identifier for the business object within the data set.</li><li>ImportStatusCode; string; Code for the import status of the business object objects.</li><li>ImportStatusMeaning; string; Description of the import status for the business objects.</li><li>LoadStatusCode; string; Code for the loading status of the staging table data into the application tables.</li><li>LoadStatusMeaning; string; Description of the load status of the business objects.</li><li>TransferStatusCode; string; Transfer status code for the business object file data from the Oracle WebCenter Content server.</li><li>TransferStatusMeaning; string; Description of the transfer status.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the business objects that match the primary key criteria specified. <br>Finder Variables <ul><li>DataSetBusObjId; integer;  Unique identifier of the data set business object. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the business objects that match the primary key criteria specified.",
                "properties": {
                  "DataSetBusObjId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the data set business object.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataLoadDataSets-businessObjects"
                }
              }
            }
          }
        },
        "x-internal-id": "dataLoadDataSets-{RequestId}-child-businessObjects-get",
        "x-filename-id": "dataloaddatasets-requestid-child-businessobjects-get"
      }
    },
    "/dataLoadDataSets/{RequestId}/child/businessObjects/{DataSetBusObjId}": {
      "get": {
        "tags": [
          "HCM Data Loader Data Sets/Data Set Business Objects"
        ],
        "summary": "Get a business object",
        "operationId": "get_dataLoadDataSets-businessObjects",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the request.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "DataSetBusObjId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Surrogate identifier of the business object.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dataLoadDataSets-businessObjects-item-response"
                }
              }
            },
            "links": {
              "stop": {
                "operationRef": "#/paths/~1dataLoadDataSets~1{RequestId}~1child~1businessObjects~1{DataSetBusObjId}~1action~1stop/post",
                "parameters": {
                  "RequestId": "$request.path.RequestId",
                  "DataSetBusObjId": "$request.path.DataSetBusObjId"
                },
                "description": "Request that the processing of a business object is stopped. Any business object records already processed won't be rolled back."
              },
              "submit": {
                "operationRef": "#/paths/~1dataLoadDataSets~1{RequestId}~1child~1businessObjects~1{DataSetBusObjId}~1action~1submit/post",
                "parameters": {
                  "RequestId": "$request.path.RequestId",
                  "DataSetBusObjId": "$request.path.DataSetBusObjId"
                },
                "description": "Submits a request to load or roll back a business object."
              },
              "generateFailedLinesFile": {
                "operationRef": "#/paths/~1dataLoadDataSets~1{RequestId}~1child~1businessObjects~1{DataSetBusObjId}~1action~1generateFailedLinesFile/post",
                "parameters": {
                  "RequestId": "$request.path.RequestId",
                  "DataSetBusObjId": "$request.path.DataSetBusObjId"
                },
                "description": "Submits a request to generate the data file lines that have failed to load for the specified business object."
              }
            }
          }
        },
        "x-internal-id": "dataLoadDataSets-{RequestId}-child-businessObjects-{DataSetBusObjId}-get",
        "x-filename-id": "dataloaddatasets-requestid-child-businessobjects-datasetbusobjid-get"
      }
    },
    "/dataLoadDataSets/{RequestId}/child/businessObjects/{DataSetBusObjId}/action/submit": {
      "post": {
        "tags": [
          "HCM Data Loader Data Sets/Data Set Business Objects"
        ],
        "summary": "Submit business object processing",
        "description": "Submits a request to load or roll back a business object.",
        "operationId": "do_submit_dataLoadDataSets-businessObjects",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the request.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "DataSetBusObjId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Surrogate identifier of the business object.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "loadConcurrentThreads": {
                    "type": "number",
                    "description": "Maximum number of concurrent threads to assign to the load process.",
                    "nullable": true
                  },
                  "fileAction": {
                    "type": "string",
                    "description": "Action to perform for the business object. Valid values are LOAD and ROLLBACK. Default value is LOAD.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Status of the submit request. Returns the identifier of the request if it was submitted successfully."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Status of the submit request. Returns the identifier of the request if it was submitted successfully."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "dataLoadDataSets-{RequestId}-child-businessObjects-{DataSetBusObjId}-action-submit-post",
        "x-filename-id": "dataloaddatasets-requestid-child-businessobjects-datasetbusobjid-action-submit-post"
      }
    },
    "/dataLoadDataSets/{RequestId}/child/businessObjects/{DataSetBusObjId}/action/generateFailedLinesFile": {
      "post": {
        "tags": [
          "HCM Data Loader Data Sets/Data Set Business Objects"
        ],
        "summary": "Generate a failed lines file for the business object.",
        "description": "Submits a request to generate the data file lines that have failed to load for the specified business object.",
        "operationId": "do_generateFailedLinesFile_dataLoadDataSets-businessObjects",
        "parameters": [
          {
            "name": "RequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the request.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "DataSetBusObjId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Surrogate identifier of the business object.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageLanguage": {
                    "type": "string",
                    "description": "Language of the error messages included in the generated file. Defaults to the session language.",
                    "nullable": true
                  },
                  "encryptionKey": {
                    "type": "string",
                    "description": "Submits a request to generate the data file lines that have failed to load for the specified business object.",
                    "nullable": true
                  },
                  "fileEncryption": {
                    "type": "string",
                    "description": "Encryption type of the generated dat file. Valid values are NONE, PGPSIGNED, and PGPUNSIGNED.",
                    "nullable": true
                  },
                  "includeMessagesFlag": {
                    "type": "string",
                    "description": "Indicates if error messages should be included in the generated files. Valid valued are Y and N.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Status of the generated failed lines file request."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Status of the generated failed lines file request."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "dataLoadDataSets-{RequestId}-child-businessObjects-{DataSetBusObjId}-action-generateFailedLinesFile-post",
        "x-filename-id": "dataloaddatasets-requestid-child-businessobjects-datasetbusobjid-action-generatefailedlinesfile-post"
      }
    }
  },
  "components": {
    "schemas": {
      "dataLoadDataSets-businessObjects": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/dataLoadDataSets-businessObjects-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "dataLoadDataSets-businessObjects-item-response": {
        "type": "object",
        "properties": {
          "BusinessObjectDiscriminator": {
            "maxLength": 100,
            "type": "string",
            "description": "Discriminator that identifies the business object.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessObjectId": {
            "type": "integer",
            "description": "System-generated unique identifier for the business object.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "BusinessObjectName": {
            "maxLength": 100,
            "type": "string",
            "description": "Name of the business object.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User name of the person who created the data set business object.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time when the business object was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "DatFileName": {
            "maxLength": 200,
            "type": "string",
            "description": "Name of the data file. Only applicable to compressed dat files processed by HCM Data Loader.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DataSetBusObjId": {
            "type": "integer",
            "description": "System-generated unique identifier for the business object within the data set.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "DataSetId": {
            "type": "integer",
            "description": "System-generated unique identifier for the data set.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "FailedLinesFileContentId": {
            "maxLength": 30,
            "type": "string",
            "description": "Oracle WebCenter content server identifier for the generated failed lines file.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FailedLinesFileEncryptionKey": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the PGP certificate used to encrypt the failed lines file generated for the business object.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FailedLinesFileEncryptionType": {
            "maxLength": 30,
            "type": "string",
            "description": "Encryption details for the generated failed lines file.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FileLineImportErrorCount": {
            "type": "integer",
            "description": "Number of data lines within the business object file that failed to import into the staging tables.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "FileLineImportSuccessCount": {
            "type": "integer",
            "description": "Number of data file lines within the business object file that were successfully imported into the staging tables.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "FileLineTotalCount": {
            "type": "integer",
            "description": "Total number of data lines found in the business object file.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "ImportPercentageComplete": {
            "type": "integer",
            "description": "Percentage of records processed by the import process.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ImportStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the import status of the business object objects.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ImportStatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the import status for the business objects.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ImportSuccessPercentage": {
            "type": "integer",
            "description": "Percentage of records in the business object file or spreadsheet that are imported successfully.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date and time when the data set business object was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User name of the person who last processed the data set business object.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LoadOrder": {
            "type": "integer",
            "description": "Loading order of the business object within the data set.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "default": 1,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "LoadPercentageComplete": {
            "type": "integer",
            "description": "Percentage of records processed by the load process.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LoadStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the loading status of the staging table data into the application tables.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LoadStatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the load status of the business objects.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LoadSuccessPercentage": {
            "type": "integer",
            "description": "Percentage of objects in the business object file or spreadsheet that are loaded successfully.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ObjectLoadErrorCount": {
            "type": "integer",
            "description": "Number of objects in the business object file or spreadsheet that failed to load into the application tables.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "ObjectRollbackErrorCount": {
            "type": "integer",
            "description": "Number of objects in the business object file or spreadsheet that failed to be rolled back.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ObjectSuccessCount": {
            "type": "integer",
            "description": "Number of successfully processed business objects in the data file or spreadsheet.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "ObjectTotalCount": {
            "type": "integer",
            "description": "Total number of objects found for the business object.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "ObjectUnprocessedCount": {
            "type": "integer",
            "description": "Number of unprocessed business objects in the data file or spreadsheet.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "RequestId": {
            "type": "integer",
            "description": "Process identifier submitted to create the business object.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "RollbackEnabledFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates if the business object supports being rolled back.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TransferStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Transfer status code for the business object file data from the Oracle WebCenter Content server.",
            "nullable": false,
            "readOnly": true,
            "default": "UNPROCESSED",
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TransferStatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of the transfer status.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}