{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts/Visa Permits/Person Visas and Permits Developer Descriptive Flexfields",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts/{hcmContactsUniqID}/child/visasPermits/{visasPermitsUniqID}/child/visasPermitsDDF/{visasPermitsDDFUniqID}": {
      "get": {
        "tags": [
          "HCM Contacts/Visa Permits/Person Visas and Permits Developer Descriptive Flexfields"
        ],
        "summary": "Get a person visa and permit developer descriptive flexfield",
        "operationId": "get_hcmContacts-visasPermits-visasPermitsDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsDDFUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- VisaPermitId, EffectiveStartDate and EffectiveEndDate ---for the Person Visas and Permits Developer Descriptive Flexfields resource and used to uniquely identify an instance of Person Visas and Permits Developer Descriptive Flexfields. The client should not generate the hash key value.  Instead, the client should query on the Person Visas and Permits Developer Descriptive Flexfields collection resource with a filter on the primary key values in order to navigate to a specific instance of Person Visas and Permits Developer Descriptive Flexfields.<br><br>For example: visasPermitsDDF?q=VisaPermitId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-visasPermitsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_VISA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_VISA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-child-visasPermitsDDF-{visasPermitsDDFUniqID}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-child-visaspermitsddf-visaspermitsddfuniqid-get"
      },
      "patch": {
        "tags": [
          "HCM Contacts/Visa Permits/Person Visas and Permits Developer Descriptive Flexfields"
        ],
        "summary": "Update a person visa and permit developer descriptive flexfield",
        "operationId": "update_hcmContacts-visasPermits-visasPermitsDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsDDFUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- VisaPermitId, EffectiveStartDate and EffectiveEndDate ---for the Person Visas and Permits Developer Descriptive Flexfields resource and used to uniquely identify an instance of Person Visas and Permits Developer Descriptive Flexfields. The client should not generate the hash key value.  Instead, the client should query on the Person Visas and Permits Developer Descriptive Flexfields collection resource with a filter on the primary key values in order to navigate to a specific instance of Person Visas and Permits Developer Descriptive Flexfields.<br><br>For example: visasPermitsDDF?q=VisaPermitId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-visasPermits-visasPermitsDDF-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-visasPermitsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_VISA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_VISA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-child-visasPermitsDDF-{visasPermitsDDFUniqID}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-child-visaspermitsddf-visaspermitsddfuniqid-patch"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}/child/visasPermits/{visasPermitsUniqID}/child/visasPermitsDDF": {
      "get": {
        "tags": [
          "HCM Contacts/Visa Permits/Person Visas and Permits Developer Descriptive Flexfields"
        ],
        "summary": "Get all person visa and permit developer descriptive flexfields",
        "operationId": "getall_hcmContacts-visasPermits-visasPermitsDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey  <br>Finder Variables <ul><li>EffectiveEndDate; string;   </li><li>EffectiveStartDate; string;   </li><li>VisaPermitId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "VisaPermitId": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true,
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "type": "integer",
                    "title": "Visa Permit ID"
                  },
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-visasPermitsDDF"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-child-visasPermitsDDF-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-child-visaspermitsddf-get"
      },
      "post": {
        "tags": [
          "HCM Contacts/Visa Permits/Person Visas and Permits Developer Descriptive Flexfields"
        ],
        "summary": "Create a person visa and permit developer descriptive flexfield",
        "operationId": "create_hcmContacts-visasPermits-visasPermitsDDF",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-visasPermits-visasPermitsDDF-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-visasPermitsDDF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_VISA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D800%2CBind_DescriptiveFlexfieldCode%3DPER_PERSON_VISA_LEG_DDF"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-child-visasPermitsDDF-post",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-child-visaspermitsddf-post"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts-visasPermits-visasPermitsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFAEVO-item-response",
            "CH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFCHVO-item-response",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFKWVO-item-response",
            "ORA_HRX_BH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FBHVO-item-response",
            "ORA_HRX_OM": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FOMVO-item-response",
            "ORA_HRX_QA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FQAVO-item-response",
            "SA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSAVO-item-response",
            "SG": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSGVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFAEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFCHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFKWVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FBHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FOMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FQAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSGVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFAEVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_EMIRATE": {
            "title": "Emirate",
            "maxLength": 150,
            "type": "string",
            "description": "Emirate",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Emirate"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "VIS_INFORMATION7",
              "FND_ACFF_SegmentName": "EMIRATE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PREVIOUS_OCCUPATION": {
            "title": "Previous Occupation",
            "maxLength": 150,
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_PREVIOUS_OCCUPATION_Display",
              "help": {
                "instruction": "Previous Occupation"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_OCCUPATIONS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "PREVIOUS_OCCUPATION",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PREVIOUS_OCCUPATION_Display": {
            "title": "Previous Occupation",
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_PREVIOUS_OCCUPATION",
              "help": {
                "instruction": "Previous Occupation"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NAME": {
            "title": "Sponsor Name",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Name"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_120#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "120",
              "FND_ACFF_ColumnName": "VIS_INFORMATION3",
              "FND_ACFF_SegmentName": "SPONSOR_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY": {
            "title": "Sponsor Nationality",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_NATIONALITY_Display",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_NATIONALITY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION6",
              "FND_ACFF_SegmentName": "SPONSOR_NATIONALITY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY_Display": {
            "title": "Sponsor Nationality",
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_NATIONALITY",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NUMBER": {
            "title": "Sponsor Number",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Number"
              },
              "FND_ACFF_ValueSetInfo": "HRX_AE_14_CHAR#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "14",
              "FND_ACFF_ColumnName": "VIS_INFORMATION5",
              "FND_ACFF_SegmentName": "SPONSOR_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP": {
            "title": "Sponsor Relationship",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_RELATIONSHIP_Display",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_SPONSOR_RELATIONSHIP#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION4",
              "FND_ACFF_SegmentName": "SPONSOR_RELATIONSHIP",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP_Display": {
            "title": "Sponsor Relationship",
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_RELATIONSHIP",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE": {
            "title": "Sponsor Type",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_TYPE_Display",
              "help": {
                "instruction": "Sponsor Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_SPONSOR_TYPES#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION2",
              "FND_ACFF_SegmentName": "SPONSOR_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE_Display": {
            "title": "Sponsor Type",
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_TYPE",
              "help": {
                "instruction": "Sponsor Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFCHVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_CROSS_BORDER_FREQUENCY": {
            "title": "Cross Border Frequency",
            "type": "number",
            "description": "Cross Border Frequency",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "4",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Cross Border Frequency"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER_4_0#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "VIS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "CROSS_BORDER_FREQUENCY",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CROSS_BORDER_FREQUENCY_TYPE": {
            "title": "Cross Border Frequency Type",
            "maxLength": 150,
            "type": "string",
            "description": "Cross Border Frequency Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_CROSS_BORDER_FREQUENCY_TYPE_Display",
              "help": {
                "instruction": "Cross Border Frequency Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CH_CBP_TYPE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "CROSS_BORDER_FREQUENCY_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CROSS_BORDER_FREQUENCY_TYPE_Display": {
            "title": "Cross Border Frequency Type",
            "type": "string",
            "description": "Cross Border Frequency Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_CROSS_BORDER_FREQUENCY_TYPE",
              "help": {
                "instruction": "Cross Border Frequency Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "CH",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFKWVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACCOMPANY_PERSON": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "14",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_KW_NUM_14#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "VIS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANY_PERSON",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NAME": {
            "title": "Sponsor Name",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Name"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "VIS_INFORMATION2",
              "FND_ACFF_SegmentName": "SPONSOR_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY": {
            "title": "Sponsor Nationality",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_NATIONALITY_Display",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_KW_NATIONALITY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION4",
              "FND_ACFF_SegmentName": "SPONSOR_NATIONALITY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY_Display": {
            "title": "Sponsor Nationality",
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_NATIONALITY",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NUMBER": {
            "title": "Sponsor Number",
            "type": "number",
            "description": "Sponsor Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "14",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Sponsor Number"
              },
              "FND_ACFF_ValueSetInfo": "HRX_KW_NUM_14#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "VIS_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "SPONSOR_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP": {
            "title": "Sponsor Relationship",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_RELATIONSHIP_Display",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_KW_SPONSOR_RELATIONSHIP#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION3",
              "FND_ACFF_SegmentName": "SPONSOR_RELATIONSHIP",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP_Display": {
            "title": "Sponsor Relationship",
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_RELATIONSHIP",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE": {
            "title": "Sponsor Type",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_TYPE_Display",
              "help": {
                "instruction": "Sponsor Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_KW_SPONSOR_TYPES#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "SPONSOR_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE_Display": {
            "title": "Sponsor Type",
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_TYPE",
              "help": {
                "instruction": "Sponsor Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "KW",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FBHVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "ORA_HRX_BH",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxBhJobDescriptions": {
            "title": "Previous Occupation",
            "maxLength": 150,
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxBhJobDescriptions_Display",
              "help": {
                "instruction": "Previous Occupation"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BH_JOB_DESCRIPTIONS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxBhJobDescriptions",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "ORA_HRX_BH_JOB_DESCRIPTIONS",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhJobDescriptions_Display": {
            "title": "Previous Occupation",
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxBhJobDescriptions",
              "help": {
                "instruction": "Previous Occupation"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorName": {
            "title": "Sponsor Name",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Name"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxBhSponsorName",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "VIS_INFORMATION3",
              "FND_ACFF_SegmentName": "ORA_HRX_BH_SPONSOR_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorNtnlty": {
            "title": "Sponsor Nationality",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxBhSponsorNtnlty_Display",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BH_SPONSOR_NTNLTY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxBhSponsorNtnlty",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION6",
              "FND_ACFF_SegmentName": "ORA_HRX_BH_SPONSOR_NTNLTY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorNtnlty_Display": {
            "title": "Sponsor Nationality",
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxBhSponsorNtnlty",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorNumber": {
            "title": "Sponsor Number",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BH_SPONSOR_NUM#FORMAT_ONLY",
              "FND_ACFF_IsNumericOnly": "true",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_OpenIdentifier": "oraHrxBhSponsorNumber",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "15",
              "FND_ACFF_ColumnName": "VIS_INFORMATION5",
              "FND_ACFF_MaximumValue": "999999999999999",
              "FND_ACFF_SegmentName": "ORA_HRX_BH_SPONSOR_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorRelation": {
            "title": "Sponsor Relationship",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BH_SPONSOR_RELATION#TABLE",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "oraHrxBhSponsorRelation_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxBhSponsorRelation",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION4",
              "FND_ACFF_SegmentName": "ORA_HRX_BH_SPONSOR_RELATION",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorRelation_DisplayValue": {
            "title": "Sponsor Relationship",
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "oraHrxBhSponsorRelation",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorType": {
            "title": "Sponsor Type",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Type"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_BH_SPONSOR_TYPE#TABLE",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "oraHrxBhSponsorType_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxBhSponsorType",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION2",
              "FND_ACFF_SegmentName": "ORA_HRX_BH_SPONSOR_TYPE",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxBhSponsorType_DisplayValue": {
            "title": "Sponsor Type",
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Sponsor Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "oraHrxBhSponsorType",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FOMVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "ORA_HRX_OM",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxOmJobDescriptions": {
            "title": "Previous Occupation",
            "maxLength": 150,
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxOmJobDescriptions_Display",
              "help": {
                "instruction": "Previous Occupation"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_OM_JOB_DESCRIPTIONS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxOmJobDescriptions",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "ORA_HRX_OM_JOB_DESCRIPTIONS",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxOmJobDescriptions_Display": {
            "title": "Previous Occupation",
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxOmJobDescriptions",
              "help": {
                "instruction": "Previous Occupation"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxOmSponsorName": {
            "title": "Sponsor Name",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Name"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxOmSponsorName",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "VIS_INFORMATION3",
              "FND_ACFF_SegmentName": "ORA_HRX_OM_SPONSOR_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxOmSponsorNtnlty": {
            "title": "Sponsor Nationality",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxOmSponsorNtnlty_Display",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_OM_SPONSOR_NTNLTY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxOmSponsorNtnlty",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION6",
              "FND_ACFF_SegmentName": "ORA_HRX_OM_SPONSOR_NTNLTY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxOmSponsorNtnlty_Display": {
            "title": "Sponsor Nationality",
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxOmSponsorNtnlty",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxOmSponsorNumber": {
            "title": "Sponsor Number",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_OM_SPONSOR_NUM#FORMAT_ONLY",
              "FND_ACFF_IsNumericOnly": "true",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "oraHrxOmSponsorNumber",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "15",
              "FND_ACFF_ColumnName": "VIS_INFORMATION5",
              "FND_ACFF_MaximumValue": "999999999999999",
              "FND_ACFF_SegmentName": "ORA_HRX_OM_SPONSOR_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxOmSponsorRelation": {
            "title": "Sponsor Relationship",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_OM_SPONSOR_RELATION#TABLE",
[...]
