{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - HCM Contacts/Visa Permits",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/hcmContacts/{hcmContactsUniqID}/child/visasPermits": {
      "get": {
        "tags": [
          "HCM Contacts/Visa Permits"
        ],
        "summary": "Get all visas permits",
        "operationId": "getall_hcmContacts-visasPermits",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>ExpirationDate; string; Expiration date of the contact's visa or permit.</li><li>IssuingCountry; string; Country in which the contact's visa or permit was issued. Valid values are defined in the hcmCountriesLov.</li><li>IssuingCountryName; string; Name of the country issuing the contact's visa.</li><li>VisaPermitCategory; string; Category of the contact's visa or permit. Valid values are defined in the commonLookupsLOV.</li><li>VisaPermitCategoryMeaning; string; Meaning of the contact's visa permit category.</li><li>VisaPermitId; integer; Surrogate identifier for the contact's visa or permit.</li><li>VisaPermitNumber; string; Contact's visa or permit number.</li><li>VisaPermitStatus; string; Indicates whether the contact's visa or permit is current. Valid values are defined in the commonLookupsLOV.</li><li>VisaPermitStatusDate; string; Date from when the contact's permit status is effective.</li><li>VisaPermitStatusMeaning; string; Meaning of the contact's visa permit status.</li><li>VisaPermitType; string; Type of the contact's visa or permit. Valid values are defined in the commonLookupsLOV.</li><li>VisaPermitTypeMeaning; string; Meaning of the contact's visa permit type.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the contact visa permits that match the specified primary key criteria. <br>Finder Variables <ul><li>EffectiveEndDate; string;  End date of the date-effective changes to the record. </li><li>EffectiveStartDate; string;  Start date of the date-effective changes to the record. </li><li>VisaPermitId; integer;  Surrogate identifier for the contact's visa permit. </li></ul></li><li>findByVisaPermitId Finds all the contact visa permits that match the specified primary key criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>VisaPermitId; integer;  Surrogate identifier for the contact visa or permit. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the contact visa permits that match the specified primary key criteria.",
                "properties": {
                  "VisaPermitId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the contact's visa permit.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Visa Permit ID"
                  },
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "End date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Start date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByVisaPermitId",
                "description": "Finds all the contact visa permits that match the specified primary key criteria.",
                "title": "findByVisaPermitIdFinder",
                "properties": {
                  "VisaPermitId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the contact visa or permit.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits"
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-get"
      },
      "post": {
        "tags": [
          "HCM Contacts/Visa Permits"
        ],
        "summary": "Create a visa permit",
        "operationId": "create_hcmContacts-visasPermits",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-visasPermits-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-item-response"
                }
              }
            },
            "links": {
              "issuingCountriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "visaPermitStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{VisaPermitStatus}%2CLookupType%3DPER_VISA_PERMIT_STATUS%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: VisaPermitStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/VisaPermitStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "visasPermitsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits~1{visasPermitsUniqID}~1child~1visasPermitsDDF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "visasPermitsUniqID": "$request.path.visasPermitsUniqID"
                }
              },
              "visasPermitsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits~1{visasPermitsUniqID}~1child~1visasPermitsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "visasPermitsUniqID": "$request.path.visasPermitsUniqID"
                }
              },
              "visaPermitTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{VisaPermitType}%2CLookupType%3DPER_VISA_PERMIT_TYPE%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: VisaPermitType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/VisaPermitType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-post",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-post"
      }
    },
    "/hcmContacts/{hcmContactsUniqID}/child/visasPermits/{visasPermitsUniqID}": {
      "get": {
        "tags": [
          "HCM Contacts/Visa Permits"
        ],
        "summary": "Get a visa permit",
        "operationId": "get_hcmContacts-visasPermits",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-item-response"
                }
              }
            },
            "links": {
              "issuingCountriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "visaPermitStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{VisaPermitStatus}%2CLookupType%3DPER_VISA_PERMIT_STATUS%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: VisaPermitStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/VisaPermitStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "visasPermitsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits~1{visasPermitsUniqID}~1child~1visasPermitsDDF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "visasPermitsUniqID": "$request.path.visasPermitsUniqID"
                }
              },
              "visasPermitsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits~1{visasPermitsUniqID}~1child~1visasPermitsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "visasPermitsUniqID": "$request.path.visasPermitsUniqID"
                }
              },
              "visaPermitTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{VisaPermitType}%2CLookupType%3DPER_VISA_PERMIT_TYPE%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: VisaPermitType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/VisaPermitType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-get",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-get"
      },
      "delete": {
        "tags": [
          "HCM Contacts/Visa Permits"
        ],
        "summary": "Delete a visa permit",
        "operationId": "delete_hcmContacts-visasPermits",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-delete",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-delete"
      },
      "patch": {
        "tags": [
          "HCM Contacts/Visa Permits"
        ],
        "summary": "Update a visa permit",
        "operationId": "update_hcmContacts-visasPermits",
        "parameters": [
          {
            "name": "hcmContactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the HCM Contacts resource and used to uniquely identify an instance of HCM Contacts. The client should not generate the hash key value. Instead, the client should query on the HCM Contacts collection resource in order to navigate to a specific instance of HCM Contacts to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visasPermitsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Visa Permits resource and used to uniquely identify an instance of Visa Permits. The client should not generate the hash key value. Instead, the client should query on the Visa Permits collection resource in order to navigate to a specific instance of Visa Permits to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/hcmContacts-visasPermits-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hcmContacts-visasPermits-item-response"
                }
              }
            },
            "links": {
              "issuingCountriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: IssuingCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/IssuingCountry",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "visaPermitStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{VisaPermitStatus}%2CLookupType%3DPER_VISA_PERMIT_STATUS%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: VisaPermitStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/VisaPermitStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "visasPermitsDDF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits~1{visasPermitsUniqID}~1child~1visasPermitsDDF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "visasPermitsUniqID": "$request.path.visasPermitsUniqID"
                }
              },
              "visasPermitsDFF": {
                "operationRef": "#/paths/~1hcmContacts~1{hcmContactsUniqID}~1child~1visasPermits~1{visasPermitsUniqID}~1child~1visasPermitsDFF/get",
                "parameters": {
                  "hcmContactsUniqID": "$request.path.hcmContactsUniqID",
                  "visasPermitsUniqID": "$request.path.visasPermitsUniqID"
                }
              },
              "visaPermitTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{VisaPermitType}%2CLookupType%3DPER_VISA_PERMIT_TYPE%2CLegislationCode%3D{IssuingCountry}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: VisaPermitType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/VisaPermitType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "hcmContacts-{hcmContactsUniqID}-child-visasPermits-{visasPermitsUniqID}-patch",
        "x-filename-id": "hcmcontacts-hcmcontactsuniqid-child-visaspermits-visaspermitsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "hcmContacts-visasPermits": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-visasPermits-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "hcmContacts-visasPermits-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the contact's visa information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the contact's visa information was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EntryDate": {
            "title": "Entry Date",
            "type": "string",
            "description": "Entry date of the contact into the country.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the contact's visa or permit.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Date of issue of the contact's visa or permit.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingAuthority": {
            "title": "Issuing Authority",
            "maxLength": 100,
            "type": "string",
            "description": "Issuing authority of the contact's visa or permit.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssuingCountry": {
            "title": "Issuing Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country in which the contact's visa or permit was issued. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "IssuingCountryName": {
            "title": "Issuing Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the country issuing the contact's visa.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "IssuingLocation": {
            "title": "Place of Issue",
            "maxLength": 100,
            "type": "string",
            "description": "Location where the contact's visa or permit was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the contact's visa information was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the contact's visa information.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Profession": {
            "title": "Profession",
            "maxLength": 30,
            "type": "string",
            "description": "Profession of the visa or permit holder.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VisaPermitCategory": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category of the contact's visa or permit. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "IssuingCountry",
                "VisaPermitType"
              ]
            },
            "x-queryable": true
          },
          "VisaPermitCategoryMeaning": {
            "title": "Category",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's visa permit category.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "description": "Surrogate identifier for the contact's visa or permit.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "VisaPermitNumber": {
            "title": "Number",
            "maxLength": 30,
            "type": "string",
            "description": "Contact's visa or permit number.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "VisaPermitStatus": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the contact's visa or permit is current. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "IssuingCountry"
              ]
            },
            "x-queryable": true
          },
          "VisaPermitStatusDate": {
            "title": "Status Change Date",
            "type": "string",
            "description": "Date from when the contact's permit status is effective.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "VisaPermitStatusMeaning": {
            "title": "Status",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's visa permit status.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "VisaPermitType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the contact's visa or permit. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "IssuingCountry"
              ]
            },
            "x-queryable": true
          },
          "VisaPermitTypeMeaning": {
            "title": "Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the contact's visa permit type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "visasPermitsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-visasPermits-visasPermitsDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "visasPermitsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/hcmContacts-visasPermits-visasPermitsDFF-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "hcmContacts-visasPermits-visasPermitsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFAEVO-item-response",
            "CH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFCHVO-item-response",
            "KW": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFKWVO-item-response",
            "ORA_HRX_BH": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FBHVO-item-response",
            "ORA_HRX_OM": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FOMVO-item-response",
            "ORA_HRX_QA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FQAVO-item-response",
            "SA": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSAVO-item-response",
            "SG": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSGVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFAEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFCHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFKWVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FBHVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FOMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FQAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFSGVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFAEVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_EMIRATE": {
            "title": "Emirate",
            "maxLength": 150,
            "type": "string",
            "description": "Emirate",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Emirate"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "VIS_INFORMATION7",
              "FND_ACFF_SegmentName": "EMIRATE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PREVIOUS_OCCUPATION": {
            "title": "Previous Occupation",
            "maxLength": 150,
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_PREVIOUS_OCCUPATION_Display",
              "help": {
                "instruction": "Previous Occupation"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_OCCUPATIONS#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "PREVIOUS_OCCUPATION",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PREVIOUS_OCCUPATION_Display": {
            "title": "Previous Occupation",
            "type": "string",
            "description": "Previous Occupation",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_PREVIOUS_OCCUPATION",
              "help": {
                "instruction": "Previous Occupation"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NAME": {
            "title": "Sponsor Name",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Name"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_120#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "120",
              "FND_ACFF_ColumnName": "VIS_INFORMATION3",
              "FND_ACFF_SegmentName": "SPONSOR_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY": {
            "title": "Sponsor Nationality",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_NATIONALITY_Display",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_NATIONALITY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION6",
              "FND_ACFF_SegmentName": "SPONSOR_NATIONALITY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY_Display": {
            "title": "Sponsor Nationality",
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_NATIONALITY",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NUMBER": {
            "title": "Sponsor Number",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Number"
              },
              "FND_ACFF_ValueSetInfo": "HRX_AE_14_CHAR#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "14",
              "FND_ACFF_ColumnName": "VIS_INFORMATION5",
              "FND_ACFF_SegmentName": "SPONSOR_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP": {
            "title": "Sponsor Relationship",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_RELATIONSHIP_Display",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_SPONSOR_RELATIONSHIP#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION4",
              "FND_ACFF_SegmentName": "SPONSOR_RELATIONSHIP",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP_Display": {
            "title": "Sponsor Relationship",
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_RELATIONSHIP",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE": {
            "title": "Sponsor Type",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_TYPE_Display",
              "help": {
                "instruction": "Sponsor Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_AE_SPONSOR_TYPES#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION2",
              "FND_ACFF_SegmentName": "SPONSOR_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE_Display": {
            "title": "Sponsor Type",
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_TYPE",
              "help": {
                "instruction": "Sponsor Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFCHVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_CROSS_BORDER_FREQUENCY": {
            "title": "Cross Border Frequency",
            "type": "number",
            "description": "Cross Border Frequency",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "4",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Cross Border Frequency"
              },
              "FND_ACFF_ValueSetInfo": "HRC_NON_NEGATIVE_NUMBER_4_0#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "VIS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "CROSS_BORDER_FREQUENCY",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CROSS_BORDER_FREQUENCY_TYPE": {
            "title": "Cross Border Frequency Type",
            "maxLength": 150,
            "type": "string",
            "description": "Cross Border Frequency Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_CROSS_BORDER_FREQUENCY_TYPE_Display",
              "help": {
                "instruction": "Cross Border Frequency Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CH_CBP_TYPE#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "CROSS_BORDER_FREQUENCY_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CROSS_BORDER_FREQUENCY_TYPE_Display": {
            "title": "Cross Border Frequency Type",
            "type": "string",
            "description": "Cross Border Frequency Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_CROSS_BORDER_FREQUENCY_TYPE",
              "help": {
                "instruction": "Cross Border Frequency Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "CH",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFKWVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "VisaPermitId": {
            "title": "Visa Permit ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "_ACCOMPANY_PERSON": {
            "title": "Number of Accompanying Persons",
            "type": "number",
            "description": "Number of Accompanying Persons",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "14",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Number of Accompanying Persons"
              },
              "FND_ACFF_ValueSetInfo": "HRX_KW_NUM_14#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "VIS_INFORMATION_NUMBER1",
              "FND_ACFF_SegmentName": "ACCOMPANY_PERSON",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NAME": {
            "title": "Sponsor Name",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Sponsor Name"
              },
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_60#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "60",
              "FND_ACFF_ColumnName": "VIS_INFORMATION2",
              "FND_ACFF_SegmentName": "SPONSOR_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY": {
            "title": "Sponsor Nationality",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_NATIONALITY_Display",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_KW_NATIONALITY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION4",
              "FND_ACFF_SegmentName": "SPONSOR_NATIONALITY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NATIONALITY_Display": {
            "title": "Sponsor Nationality",
            "type": "string",
            "description": "Sponsor Nationality",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_NATIONALITY",
              "help": {
                "instruction": "Sponsor Nationality"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_NUMBER": {
            "title": "Sponsor Number",
            "type": "number",
            "description": "Sponsor Number",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Precision": "14",
              "FND_ACFF_Scale": "0",
              "help": {
                "instruction": "Sponsor Number"
              },
              "FND_ACFF_ValueSetInfo": "HRX_KW_NUM_14#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "0",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "VIS_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "SPONSOR_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP": {
            "title": "Sponsor Relationship",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_RELATIONSHIP_Display",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_KW_SPONSOR_RELATIONSHIP#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION3",
              "FND_ACFF_SegmentName": "SPONSOR_RELATIONSHIP",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_RELATIONSHIP_Display": {
            "title": "Sponsor Relationship",
            "type": "string",
            "description": "Sponsor Relationship",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_RELATIONSHIP",
              "help": {
                "instruction": "Sponsor Relationship"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE": {
            "title": "Sponsor Type",
            "maxLength": 150,
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_SPONSOR_TYPE_Display",
              "help": {
                "instruction": "Sponsor Type"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_KW_SPONSOR_TYPES#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "VIS_INFORMATION1",
              "FND_ACFF_SegmentName": "SPONSOR_TYPE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_SPONSOR_TYPE_Display": {
            "title": "Sponsor Type",
            "type": "string",
            "description": "Sponsor Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_SPONSOR_TYPE",
              "help": {
                "instruction": "Sponsor Type"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Visa Information Category",
            "maxLength": 30,
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "default": "KW",
            "x-hints": {
              "help": {
                "instruction": "Visa Information Category"
              },
              "FND_ACFF_DerivedFromParameter": "LEGISLATION_CODE",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_DV": "LEGISLATION_CODE",
              "FND_ACFF_DVT": "P",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Visa Information Category",
            "type": "string",
            "description": "Visa Information Category",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Visa Information Category"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_people_core_flex_personVisaLegDDF_view_PersonVisaLegDDFORA__5FHRX__5FBHVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
[...]
