{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Incident Kiosks/Large Object (LOB) Attributes - IncidentDescription",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/incidentKiosks/{IncidentId}/enclosure/IncidentDescription": {
      "get": {
        "tags": [
          "Incident Kiosks/Large Object (LOB) Attributes - IncidentDescription"
        ],
        "summary": "Get an IncidentDescription",
        "description": "Get an IncidentDescription",
        "operationId": "get_incidentKiosks-IncidentDescription",
        "parameters": [
          {
            "name": "IncidentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Incident ID",
              "type": "integer",
              "description": "The unique identifier of the incident.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "incidentKiosks-{IncidentId}-enclosure-IncidentDescription-get",
        "x-filename-id": "incidentkiosks-incidentid-enclosure-incidentdescription-get"
      },
      "put": {
        "tags": [
          "Incident Kiosks/Large Object (LOB) Attributes - IncidentDescription"
        ],
        "summary": "Replace an IncidentDescription",
        "description": "Replace an IncidentDescription",
        "operationId": "replace_incidentKiosks-IncidentDescription",
        "parameters": [
          {
            "name": "IncidentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Incident ID",
              "type": "integer",
              "description": "The unique identifier of the incident.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "incidentKiosks-{IncidentId}-enclosure-IncidentDescription-put",
        "x-filename-id": "incidentkiosks-incidentid-enclosure-incidentdescription-put"
      },
      "delete": {
        "tags": [
          "Incident Kiosks/Large Object (LOB) Attributes - IncidentDescription"
        ],
        "summary": "Delete an IncidentDescription",
        "description": "Delete an IncidentDescription",
        "operationId": "delete_incidentKiosks-IncidentDescription",
        "parameters": [
          {
            "name": "IncidentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Incident ID",
              "type": "integer",
              "description": "The unique identifier of the incident.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "incidentKiosks-{IncidentId}-enclosure-IncidentDescription-delete",
        "x-filename-id": "incidentkiosks-incidentid-enclosure-incidentdescription-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}