{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Internet Accounts",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/internetAccounts": {
      "get": {
        "tags": [
          "Internet Accounts"
        ],
        "summary": "Get all internet accounts",
        "operationId": "getall_internetAccounts",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>accountCode; string; Account code for which the internet account is created.</li><li>accountName; string; Account name for which the internet account is created.</li><li>agentEnabled; string; Indicates if the internet account is enabled for use by AI agents within the application.</li><li>clientId; string; Client identifier used for authentication.</li><li>createdBy; string; User who created the internet account.</li><li>creationDate; string; Date on which the internet account was created.</li><li>description; string; Human-readable description for the internet account.</li><li>family; string; Family name for which the internet account is defined.</li><li>familyMeaning; string; Family name for which the internet account is defined.</li><li>hybridSearchEnabled; string; Indicates whether hybrid search is enabled on the internet account.</li><li>internetAccountId; integer; Unique internet account identifier.</li><li>lastUpdateDate; string; Date and time of the most recent update done on the internet account.</li><li>lastUpdateLogin; string; Login details of the user who did the most recent update on the internet account.</li><li>lastUpdatedBy; string; User who most recently updated the internet account.</li><li>pollInterval; string; Specifies the polling interval for new messages.</li><li>pollIntervalMeaning; string; Description for the pollInterval attribute.</li><li>product; string; Product name for which the internet account is defined.</li><li>providerCode; string; Lookup code representing the internet account provider.</li><li>providerMeaning; string; Description for the providerCode attribute value.</li><li>status; string; Status for the internet account.</li><li>statusMeaning; string; Description for the status attribute value.</li><li>tenantId; string; Tenant or directory identifier for the provider.</li><li>username; string; Name of the user associated with the configured internet account on the provider's platform.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the internet account based on the primary key. <br>Finder Variables <ul><li>internetAccountId; integer;  Value that uniquely identifies the internet account by the primary key. </li></ul></li><li>findByAccountCode Finds the internet account based on the account code. <br>Finder Variables <ul><li>accountCode; string;  Value that uniquely identifies the internet account by account code. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the internet account based on the primary key.",
                "properties": {
                  "internetAccountId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Value that uniquely identifies the internet account by the primary key.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAccountCode",
                "description": "Finds the internet account based on the account code.",
                "title": "findByAccountCode",
                "properties": {
                  "accountCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Value that uniquely identifies the internet account by account code.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internetAccounts"
                }
              }
            }
          }
        },
        "x-internal-id": "internetAccounts-get",
        "x-filename-id": "internetaccounts-get"
      },
      "post": {
        "tags": [
          "Internet Accounts"
        ],
        "summary": "Create an internet account",
        "operationId": "create_internetAccounts",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/internetAccounts-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internetAccounts-item-response"
                }
              }
            },
            "links": {
              "validateAccount": {
                "operationRef": "#/paths/~1internetAccounts~1{accountCode}~1action~1validateAccount/post",
                "parameters": {
                  "accountCode": "$request.path.accountCode"
                },
                "description": "Validates the internet account with the provided credentials."
              }
            }
          }
        },
        "x-internal-id": "internetAccounts-post",
        "x-filename-id": "internetaccounts-post"
      }
    },
    "/internetAccounts/{accountCode}/action/validateAccount": {
      "post": {
        "tags": [
          "Internet Accounts"
        ],
        "summary": "Validate the internet account",
        "description": "Validates the internet account with the provided credentials.",
        "operationId": "do_validateAccount_internetAccounts",
        "parameters": [
          {
            "name": "accountCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Result of the internet account validation."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Result of the internet account validation."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "internetAccounts-{accountCode}-action-validateAccount-post",
        "x-filename-id": "internetaccounts-accountcode-action-validateaccount-post"
      }
    },
    "/internetAccounts/{accountCode}": {
      "get": {
        "tags": [
          "Internet Accounts"
        ],
        "summary": "Get an internet account",
        "operationId": "get_internetAccounts",
        "parameters": [
          {
            "name": "accountCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internetAccounts-item-response"
                }
              }
            },
            "links": {
              "validateAccount": {
                "operationRef": "#/paths/~1internetAccounts~1{accountCode}~1action~1validateAccount/post",
                "parameters": {
                  "accountCode": "$request.path.accountCode"
                },
                "description": "Validates the internet account with the provided credentials."
              }
            }
          }
        },
        "x-internal-id": "internetAccounts-{accountCode}-get",
        "x-filename-id": "internetaccounts-accountcode-get"
      },
      "delete": {
        "tags": [
          "Internet Accounts"
        ],
        "summary": "Delete an internet account",
        "operationId": "delete_internetAccounts",
        "parameters": [
          {
            "name": "accountCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "internetAccounts-{accountCode}-delete",
        "x-filename-id": "internetaccounts-accountcode-delete"
      },
      "patch": {
        "tags": [
          "Internet Accounts"
        ],
        "summary": "Update an internet account",
        "operationId": "update_internetAccounts",
        "parameters": [
          {
            "name": "accountCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/internetAccounts-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internetAccounts-item-response"
                }
              }
            },
            "links": {
              "validateAccount": {
                "operationRef": "#/paths/~1internetAccounts~1{accountCode}~1action~1validateAccount/post",
                "parameters": {
                  "accountCode": "$request.path.accountCode"
                },
                "description": "Validates the internet account with the provided credentials."
              }
            }
          }
        },
        "x-internal-id": "internetAccounts-{accountCode}-patch",
        "x-filename-id": "internetaccounts-accountcode-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "internetAccounts": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/internetAccounts-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "internetAccounts-item-response": {
        "type": "object",
        "properties": {
          "accountCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Account code for which the internet account is created.",
            "nullable": false,
            "x-queryable": true
          },
          "accountName": {
            "maxLength": 200,
            "type": "string",
            "description": "Account name for which the internet account is created.",
            "nullable": true,
            "x-queryable": true
          },
          "agentEnabled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if the internet account is enabled for use by AI agents within the application.",
            "nullable": true,
            "x-queryable": true
          },
          "clientId": {
            "maxLength": 150,
            "type": "string",
            "description": "Client identifier used for authentication.",
            "nullable": true,
            "x-queryable": true
          },
          "clientSecret": {
            "maxLength": 80,
            "type": "string",
            "description": "Client secret used for authentication.",
            "nullable": true,
            "x-queryable": false
          },
          "createdBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the internet account.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "creationDate": {
            "type": "string",
            "description": "Date on which the internet account was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Human-readable description for the internet account.",
            "nullable": true,
            "x-queryable": true
          },
          "family": {
            "maxLength": 80,
            "type": "string",
            "description": "Family name for which the internet account is defined.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "familyMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Family name for which the internet account is defined.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "hybridSearchEnabled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether hybrid search is enabled on the internet account.",
            "nullable": true,
            "x-queryable": true
          },
          "internetAccountId": {
            "type": "integer",
            "description": "Unique internet account identifier.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "lastUpdateDate": {
            "type": "string",
            "description": "Date and time of the most recent update done on the internet account.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "lastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Login details of the user who did the most recent update on the internet account.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "lastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who most recently updated the internet account.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "pollInterval": {
            "maxLength": 30,
            "type": "string",
            "description": "Specifies the polling interval for new messages.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "pollIntervalMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the pollInterval attribute.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "product": {
            "maxLength": 100,
            "type": "string",
            "description": "Product name for which the internet account is defined.",
            "nullable": false,
            "x-queryable": true
          },
          "providerCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code representing the internet account provider.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "providerMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the providerCode attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "refreshToken": {
            "maxLength": 150,
            "type": "string",
            "description": "Refresh token to be used for Google provider accounts.",
            "nullable": true,
            "x-queryable": false
          },
          "status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status for the internet account.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "statusMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the status attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "tenantId": {
            "maxLength": 36,
            "type": "string",
            "description": "Tenant or directory identifier for the provider.",
            "nullable": true,
            "x-queryable": true
          },
          "username": {
            "maxLength": 254,
            "type": "string",
            "description": "Name of the user associated with the configured internet account on the provider's platform.",
            "nullable": false,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "internetAccounts-item-post-request": {
        "type": "object",
        "properties": {
          "accountCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Account code for which the internet account is created.",
            "nullable": false
          },
          "accountName": {
            "maxLength": 200,
            "type": "string",
            "description": "Account name for which the internet account is created.",
            "nullable": true
          },
          "agentEnabled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if the internet account is enabled for use by AI agents within the application.",
            "nullable": true
          },
          "clientId": {
            "maxLength": 150,
            "type": "string",
            "description": "Client identifier used for authentication.",
            "nullable": true
          },
          "clientSecret": {
            "maxLength": 80,
            "type": "string",
            "description": "Client secret used for authentication.",
            "nullable": true,
            "x-queryable": false
          },
          "description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Human-readable description for the internet account.",
            "nullable": true
          },
          "family": {
            "maxLength": 80,
            "type": "string",
            "description": "Family name for which the internet account is defined.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "hybridSearchEnabled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether hybrid search is enabled on the internet account.",
            "nullable": true
          },
          "internetAccountId": {
            "type": "integer",
            "description": "Unique internet account identifier.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "pollInterval": {
            "maxLength": 30,
            "type": "string",
            "description": "Specifies the polling interval for new messages.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "product": {
            "maxLength": 100,
            "type": "string",
            "description": "Product name for which the internet account is defined.",
            "nullable": false
          },
          "providerCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code representing the internet account provider.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "refreshToken": {
            "maxLength": 150,
            "type": "string",
            "description": "Refresh token to be used for Google provider accounts.",
            "nullable": true,
            "x-queryable": false
          },
          "status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status for the internet account.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "tenantId": {
            "maxLength": 36,
            "type": "string",
            "description": "Tenant or directory identifier for the provider.",
            "nullable": true
          },
          "username": {
            "maxLength": 254,
            "type": "string",
            "description": "Name of the user associated with the configured internet account on the provider's platform.",
            "nullable": false
          }
        }
      },
      "internetAccounts-item-patch-request": {
        "type": "object",
        "properties": {
          "accountCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Account code for which the internet account is created.",
            "nullable": false
          },
          "accountName": {
            "maxLength": 200,
            "type": "string",
            "description": "Account name for which the internet account is created.",
            "nullable": true
          },
          "agentEnabled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if the internet account is enabled for use by AI agents within the application.",
            "nullable": true
          },
          "clientId": {
            "maxLength": 150,
            "type": "string",
            "description": "Client identifier used for authentication.",
            "nullable": true
          },
          "clientSecret": {
            "maxLength": 80,
            "type": "string",
            "description": "Client secret used for authentication.",
            "nullable": true,
            "x-queryable": false
          },
          "description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Human-readable description for the internet account.",
            "nullable": true
          },
          "family": {
            "maxLength": 80,
            "type": "string",
            "description": "Family name for which the internet account is defined.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "hybridSearchEnabled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether hybrid search is enabled on the internet account.",
            "nullable": true
          },
          "internetAccountId": {
            "type": "integer",
            "description": "Unique internet account identifier.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "pollInterval": {
            "maxLength": 30,
            "type": "string",
            "description": "Specifies the polling interval for new messages.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "product": {
            "maxLength": 100,
            "type": "string",
            "description": "Product name for which the internet account is defined.",
            "nullable": false
          },
          "providerCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code representing the internet account provider.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "refreshToken": {
            "maxLength": 150,
            "type": "string",
            "description": "Refresh token to be used for Google provider accounts.",
            "nullable": true,
            "x-queryable": false
          },
          "status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status for the internet account.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "tenantId": {
            "maxLength": 36,
            "type": "string",
            "description": "Tenant or directory identifier for the provider.",
            "nullable": true
          },
          "username": {
            "maxLength": 254,
            "type": "string",
            "description": "Name of the user associated with the configured internet account on the provider's platform.",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "internetAccounts-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/internetAccounts-item-post-request"
            }
          }
        }
      },
      "internetAccounts-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/internetAccounts-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}