{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Internal Candidate Job Offer Detail",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIICEOfferPreviews/{OfferId}": {
      "get": {
        "tags": [
          "Internal Candidate Job Offer Detail"
        ],
        "summary": "Get an offer letter detail for internal candidates",
        "operationId": "get_recruitingUIICEOfferPreviews",
        "parameters": [
          {
            "name": "OfferId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Offer identifier as primary key to find the offer details.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1attachments/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "offerDeclineReasons": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1offerDeclineReasons/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "mediaLinks": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1mediaLinks/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The mediaLinks resource provides the media links that are available for the requisition on which the job offer is created."
              },
              "candidateOfferLetter": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1candidateOfferLetter/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "contacts": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1contacts/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The contacts resource provides the contact information for the hiring manager and recruiter."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIICEOfferPreviews-{OfferId}-get",
        "x-filename-id": "recruitinguiiceofferpreviews-offerid-get"
      }
    },
    "/recruitingUIICEOfferPreviews": {
      "get": {
        "tags": [
          "Internal Candidate Job Offer Detail"
        ],
        "summary": "Get all details of the offer letter for the internal candidate",
        "operationId": "getall_recruitingUIICEOfferPreviews",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionId; integer; Identifier of the action drop-down list on the offer page.</li><li>BusinessUnitId; integer; Identifier of the business unit drop-down list on the offer page.</li><li>CandidateName; string; Name of the candidate for the offer.</li><li>CandidateOfferLetterContent; string; Candidate offer letter content in HTML format.</li><li>CandidateVisibility; string; Visibility code used to derive the media links that are to be shown only for internal candidates.</li><li>CategoryName; string; Category name used to fetch the candidate-facing attachments for internal candidates.</li><li>Comments; string; Comments from candidates during offer decline.</li><li>CountryCode; string; Country code for the country drop-down list on the offer page.</li><li>EmailSignature; string; Email signature from candidates who accept an offer.</li><li>EntityName; string; Entity name that fetches the candidate-facing attachments for internal candidates.</li><li>ExpirationDate; string; Expiration Date</li><li>LegalEntityId; integer; Legal entity identifier for the legal employer drop-down list on the offer page.</li><li>OfferId; integer; Offer identifier as primary key to find the offer details.</li><li>OfferLetterCategory; string; Filter to differentiate the offer letter extended to the internal candidate from other documents.</li><li>OfferLetterEntity; string; Entity name that fetches the offer letter for internal candidates.</li><li>OfferResponseResult; string; Response for post-action called during decline or accept.</li><li>PersonId; integer; Person identifier for validating the email signature.</li><li>PhaseId; integer; Phase identifier for the decline reasons fetched during phase.</li><li>ProcessOfferId; integer; Indicates whether the offer is accepted or declined.</li><li>ProposedWorkerType; string; Type identifier for worker type drop-down list on the offer page.</li><li>ReasonId; integer; Reason selected by the candidate while declining an offer.</li><li>RecruitingTypeCode; string; Recruiting type code for drop-down list on the offer page.</li><li>RequisitionId; integer; Media links shown for this requisition.</li><li>RequisitionNumber; string; Requisition number in the offer being previewed.</li><li>Response; string; System response to calling the service that indicates whether a candidate accepted or declined the offer.</li><li>ShowDeclineReasons; boolean; Indicates whether to display the decline reasons while declining the offer.</li><li>Signature; string; First and last name entered as the signature when the candidate accepted an offer.</li><li>StateId; integer; Unique identifier used to check whether the offer was extended or is still in a valid state for preview.</li><li>SubmissionLanguageCode; string; Language code used during submission.</li><li>SubsProcessTemplateId; integer; Template used to fetch the decline reasons.</li><li>Title; string; Title of the job requisition in the offer being previewed.</li><li>WithdrawnState; number; Identifier for the offer withdrawn state.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a job offer using the offer identifier as the primary key. <br>Finder Variables <ul><li>OfferId; integer;  Identifier for an offer as the primary key. </li></ul></li><li>findByOfferId Finds an offer based on a offer identifier. <br>Finder Variables <ul><li>OfferId; integer;  Identifier for the offer. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a job offer using the offer identifier as the primary key.",
                "properties": {
                  "OfferId": {
                    "nullable": true,
                    "description": "Identifier for an offer as the primary key.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByOfferId",
                "description": "Finds an offer based on a offer identifier.",
                "title": "findByOfferId",
                "properties": {
                  "OfferId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Identifier for the offer.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIICEOfferPreviews"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIICEOfferPreviews-get",
        "x-filename-id": "recruitinguiiceofferpreviews-get"
      },
      "post": {
        "tags": [
          "Internal Candidate Job Offer Detail"
        ],
        "summary": "Create a record when offer is accepted or declined",
        "operationId": "create_recruitingUIICEOfferPreviews",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUIICEOfferPreviews-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1attachments/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "offerDeclineReasons": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1offerDeclineReasons/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "mediaLinks": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1mediaLinks/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The mediaLinks resource provides the media links that are available for the requisition on which the job offer is created."
              },
              "candidateOfferLetter": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1candidateOfferLetter/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "contacts": {
                "operationRef": "#/paths/~1recruitingUIICEOfferPreviews~1{OfferId}~1child~1contacts/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The contacts resource provides the contact information for the hiring manager and recruiter."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIICEOfferPreviews-post",
        "x-filename-id": "recruitinguiiceofferpreviews-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingUIICEOfferPreviews-item-response": {
        "type": "object",
        "properties": {
          "ActionId": {
            "type": "integer",
            "description": "Identifier of the action drop-down list on the offer page.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Identifier of the business unit drop-down list on the offer page.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CandidateName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the candidate for the offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateOfferLetterContent": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate offer letter content in HTML format.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateVisibility": {
            "type": "string",
            "description": "Visibility code used to derive the media links that are to be shown only for internal candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CategoryName": {
            "maxLength": 12,
            "type": "string",
            "description": "Category name used to fetch the candidate-facing attachments for internal candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "maxLength": 255,
            "type": "string",
            "description": "Comments from candidates during offer decline.",
            "nullable": true,
            "x-queryable": true
          },
          "CountryCode": {
            "maxLength": 2,
            "type": "string",
            "description": "Country code for the country drop-down list on the offer page.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmailSignature": {
            "maxLength": 255,
            "type": "string",
            "description": "Email signature from candidates who accept an offer.",
            "nullable": true,
            "x-queryable": true
          },
          "EntityName": {
            "maxLength": 21,
            "type": "string",
            "description": "Entity name that fetches the candidate-facing attachments for internal candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExpirationDate": {
            "type": "string",
            "description": "Expiration Date",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEntityId": {
            "type": "integer",
            "description": "Legal entity identifier for the legal employer drop-down list on the offer page.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "Offer identifier as primary key to find the offer details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferLetterCategory": {
            "maxLength": 12,
            "type": "string",
            "description": "Filter to differentiate the offer letter extended to the internal candidate from other documents.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferLetterEntity": {
            "maxLength": 21,
            "type": "string",
            "description": "Entity name that fetches the offer letter for internal candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferResponseResult": {
            "maxLength": 255,
            "type": "string",
            "description": "Response for post-action called during decline or accept.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier for validating the email signature.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PhaseId": {
            "type": "integer",
            "description": "Phase identifier for the decline reasons fetched during phase.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ProcessOfferId": {
            "type": "integer",
            "description": "Indicates whether the offer is accepted or declined.",
            "nullable": true,
            "x-queryable": true
          },
          "ProposedWorkerType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type identifier for worker type drop-down list on the offer page.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ReasonId": {
            "type": "integer",
            "description": "Reason selected by the candidate while declining an offer.",
            "nullable": true,
            "x-queryable": true
          },
          "RecruitingTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Recruiting type code for drop-down list on the offer page.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Media links shown for this requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number in the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Response": {
            "maxLength": 255,
            "type": "string",
            "description": "System response to calling the service that indicates whether a candidate accepted or declined the offer.",
            "nullable": true,
            "x-queryable": true
          },
          "ShowDeclineReasons": {
            "type": "boolean",
            "description": "Indicates whether to display the decline reasons while declining the offer.",
            "nullable": true,
            "x-queryable": true
          },
          "Signature": {
            "maxLength": 255,
            "type": "string",
            "description": "First and last name entered as the signature when the candidate accepted an offer.",
            "nullable": true,
            "x-queryable": true
          },
          "StateId": {
            "type": "integer",
            "description": "Unique identifier used to check whether the offer was extended or is still in a valid state for preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionLanguageCode": {
            "maxLength": 4,
            "type": "string",
            "description": "Language code used during submission.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubsProcessTemplateId": {
            "type": "integer",
            "description": "Template used to fetch the decline reasons.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of the job requisition in the offer being previewed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WithdrawnState": {
            "type": "number",
            "description": "Identifier for the offer withdrawn state.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-attachments-item-response"
            }
          },
          "candidateOfferLetter": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-candidateOfferLetter-item-response"
            }
          },
          "contacts": {
            "title": "Job Offer Contact",
            "type": "array",
            "description": "The contacts resource provides the contact information for the hiring manager and recruiter.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-contacts-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "mediaLinks": {
            "title": "Recruiting Job Offer Media Links",
            "type": "array",
            "description": "The mediaLinks resource provides the media links that are available for the requisition on which the job offer is created.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-mediaLinks-item-response"
            }
          },
          "offerDeclineReasons": {
            "title": "Candidate Reasons to Decline the Job Offer",
            "type": "array",
            "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-offerDeclineReasons-item-response"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-candidateOfferLetter-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-contacts-item-response": {
        "type": "object",
        "properties": {
          "DisplayName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the hiring manager or recruiter.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmailAddress": {
            "maxLength": 240,
            "type": "string",
            "description": "Email address of hiring manager or recruiter.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Memeber": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates whether the record is for the hiring manager or the recruiter.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Identifier used to retrieve contacts related to a specific offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier that shows the image on the contact card.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SearchPhoneNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Phone number of the hiring manager or the recruiter.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TeamMemberId": {
            "type": "integer",
            "description": "TeamMemberId used as the primary key to find contacts.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-mediaLinks-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language in which media links are shown.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LookupCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Specifies whether an element is a video or an image.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MediaLinkId": {
            "type": "integer",
            "description": "Primary key for media link.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Sequence in which media links are displayed.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ThumbnailURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Image shown on the media link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of the media link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL played when the media link is selected.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "VisibilityCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the media link is for an internal or external candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-offerDeclineReasons-item-response": {
        "type": "object",
        "properties": {
          "ReasonId": {
            "type": "integer",
            "description": "ID of the reason selected by candidates while declining the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ReasonName": {
            "maxLength": 512,
            "type": "string",
            "description": "Name of the reason selected by candidates while declining the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingUIICEOfferPreviews-item-post-request": {
        "type": "object",
        "properties": {
          "CandidateOfferLetterContent": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate offer letter content in HTML format.",
            "nullable": true
          },
          "Comments": {
            "maxLength": 255,
            "type": "string",
            "description": "Comments from candidates during offer decline.",
            "nullable": true
          },
          "EmailSignature": {
            "maxLength": 255,
            "type": "string",
            "description": "Email signature from candidates who accept an offer.",
            "nullable": true
          },
          "OfferResponseResult": {
            "maxLength": 255,
            "type": "string",
            "description": "Response for post-action called during decline or accept.",
            "nullable": true
          },
          "ProcessOfferId": {
            "type": "integer",
            "description": "Indicates whether the offer is accepted or declined.",
            "nullable": true
          },
          "ReasonId": {
            "type": "integer",
            "description": "Reason selected by the candidate while declining an offer.",
            "nullable": true
          },
          "Response": {
            "maxLength": 255,
            "type": "string",
            "description": "System response to calling the service that indicates whether a candidate accepted or declined the offer.",
            "nullable": true
          },
          "ShowDeclineReasons": {
            "type": "boolean",
            "description": "Indicates whether to display the decline reasons while declining the offer.",
            "nullable": true
          },
          "Signature": {
            "maxLength": 255,
            "type": "string",
            "description": "First and last name entered as the signature when the candidate accepted an offer.",
            "nullable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-attachments-item-post-request"
            }
          },
          "candidateOfferLetter": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-candidateOfferLetter-item-post-request"
            }
          },
          "contacts": {
            "title": "Job Offer Contact",
            "type": "array",
            "description": "The contacts resource provides the contact information for the hiring manager and recruiter.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-contacts-item-post-request"
            }
          },
          "mediaLinks": {
            "title": "Recruiting Job Offer Media Links",
            "type": "array",
            "description": "The mediaLinks resource provides the media links that are available for the requisition on which the job offer is created.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-mediaLinks-item-post-request"
            }
          },
          "offerDeclineReasons": {
            "title": "Candidate Reasons to Decline the Job Offer",
            "type": "array",
            "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIICEOfferPreviews-offerDeclineReasons-item-post-request"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-attachments-item-post-request": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-candidateOfferLetter-item-post-request": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      },
      "recruitingUIICEOfferPreviews-contacts-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "recruitingUIICEOfferPreviews-mediaLinks-item-post-request": {
        "type": "object",
        "properties": {}
      },
[...]
