{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Job Applications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIJobApplications/action/updateSubmissionLanguage": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Update preferred job application language",
        "description": "Updates the preferred job application language.",
        "operationId": "doall_updateSubmissionLanguage_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier in the update preferred job application language action.",
                    "nullable": true
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "Preferred job application language code.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when updating the preferred job application language."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when updating the preferred job application language."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-updateSubmissionLanguage-post",
        "x-filename-id": "recruitinguijobapplications-action-updatesubmissionlanguage-post"
      }
    },
    "/recruitingUIJobApplications/action/requestMoreInfo": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Request additional information from the candidate",
        "description": "Requests additional information from the candidate",
        "operationId": "doall_requestMoreInfo_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requisitionId": {
                    "type": "number",
                    "description": "Requisition identifier of the request more info action.",
                    "nullable": true
                  },
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier of the request more info action.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "applyFlowId": {
                    "type": "number",
                    "description": "Apply flow identifier of the request more info action.",
                    "nullable": true
                  },
                  "stepActionUsageId": {
                    "type": "number",
                    "description": "Step action usage identifier of the request more info action.",
                    "nullable": true
                  },
                  "applyFlowName": {
                    "type": "string",
                    "description": "Apply flow name of the request more info action.",
                    "nullable": true
                  },
                  "notificationTemplateId": {
                    "type": "number",
                    "description": "Notification template identifier of the request more info action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the request more info action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the request more info action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-requestMoreInfo-post",
        "x-filename-id": "recruitinguijobapplications-action-requestmoreinfo-post"
      }
    },
    "/recruitingUIJobApplications": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get details about all job applications",
        "operationId": "getall_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveFlag; boolean; Active job application indicator.</li><li>ActiveOnAnotherRequisitionFlag; boolean; Job application active on another requisition indicator.</li><li>AgentFirstName; string; Agent first name.</li><li>AgentLastName; string; Agent last name.</li><li>AttachmentEntityName; string; Name of the entity to which an attachment is associated.</li><li>AverageFeedbackRating; number; Average feedback rating.</li><li>AverageRating; number; Average rating.</li><li>CandidateNumber; string; Candidate number.</li><li>CandidateWorkSummary; string; Candidate work summary.</li><li>CategoryCode; string; Category code.</li><li>ConfirmedFlag; boolean; Confirmed job application indicator.</li><li>CreationDate; string; Job application creation date.</li><li>CurrentPhaseId; integer; Current candidate selection process phase identifier.</li><li>CurrentPhaseName; string; Current candidate selection process phase name.</li><li>CurrentPhaseSequence; integer; Current candidate selection process phase.</li><li>CurrentStateId; integer; Current candidate selection process state identifier.</li><li>CurrentStateName; string; Current candidate selection process state name.</li><li>DaysInStatus; integer; Number of days the job application has been in the current phase.</li><li>DisqualifiedFlag; boolean; Disqualified job application indicator.</li><li>EmployeeDisplayName; string; Employee display name.</li><li>EmployerName; string; Employer name.</li><li>EndingPosition; string; Ending position.</li><li>FavoriteFlag; boolean; Favorite job application indicator.</li><li>FeedbackRatingCount; integer; Number of feedback ratings received for the job application.</li><li>FlowVersionId; integer; Application flow version identifier.</li><li>InteractionType; string; Interaction type.</li><li>InternalFlag; boolean; Internal job application indicator.</li><li>LastContacted; integer; Candidate last contacted date.</li><li>LastPhaseSequence; integer; Total number of phases in the candidate selection process.</li><li>OfferId; integer; Job offer identifier.</li><li>PersonId; integer; Person identifier.</li><li>ProcessId; integer; Process identifier.</li><li>ProfileId; integer; Profile identifier.</li><li>ProspectId; integer; Identifier of the prospect associated with the application.</li><li>ProspectTypeCode; string; Prospect type code.</li><li>QstnrScore; number; Questionnaire score.</li><li>Rank; integer; Rank number.</li><li>RankedBy; string; Display name of user who ranked the job application.</li><li>ReappliedFlag; boolean; Reapplied indicator.</li><li>ReferralId; integer; Referral identifier.</li><li>ReferralResumeDatatypeCode; string; Datatype code for the referral resume.</li><li>ReferralResumeFileName; string; Value that indicates data type code of attachment.</li><li>ReferralResumePreviewURL; string; File name of the attachment.</li><li>RequisitionId; integer; URL of the attachment.</li><li>RequisitionNumber; string; Job requisition number.</li><li>RequisitionTitle; string; Job requisition title.</li><li>StartingPosition; string; Starting position.</li><li>SubmissionConfirmedDate; string; Job application confirmed date.</li><li>SubmissionDate; string; Job application submitted date.</li><li>SubmissionId; integer; Job application identifier.</li><li>SubmissionLanguageCode; string; Job application language code.</li><li>SystemPersonType; string; System person type.</li><li>SystemPersonTypeName; string; System person type name.</li><li>Total; number; Total value associated with the job application.</li><li>isReferredByAgentFlag; boolean; Candidate referred by agent indicator.</li><li>isReferredByEmployeeFlag; boolean; Candidate referred by employee indicator.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all job applications by primary key. <br>Finder Variables <ul><li>SubmissionId; integer;  Primary key and job application identifiers used to find job applications. </li></ul></li><li>findByRequisitionAndCandidateNumber Finds all job applications by requisition number and candidate number. <br>Finder Variables <ul><li>CandidateNumber; string;  Candidate number used to find job applications. </li><li>RequisitionNumber; string;  Requisition number used to find job applications. </li></ul></li><li>findByRequisitionAndPersonId Finds all job applications by requisition identifier and person identifier. <br>Finder Variables <ul><li>PersonId; integer;  Person identifier used to find job applications. </li><li>RequisitionId; integer;  Requisition identifier used to find job applications. </li></ul></li><li>findBySubmissionId Finds all job applications by job application identifier. <br>Finder Variables <ul><li>SubmissionId; integer;  Job application identifier used to find job applications. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all job applications by primary key.",
                "properties": {
                  "SubmissionId": {
                    "nullable": true,
                    "description": "Primary key and job application identifiers used to find job applications.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByRequisitionAndCandidateNumber",
                "description": "Finds all job applications by requisition number and candidate number.",
                "title": "findByRequisitionAndCandidateNumber",
                "properties": {
                  "CandidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Candidate number used to find job applications.",
                    "type": "string"
                  },
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition number used to find job applications.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByRequisitionAndPersonId",
                "description": "Finds all job applications by requisition identifier and person identifier.",
                "title": "findByRequisitionAndPersonId",
                "properties": {
                  "RequisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition identifier used to find job applications.",
                    "type": "integer"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person identifier used to find job applications.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySubmissionId",
                "description": "Finds all job applications by job application identifier.",
                "title": "findBySubmissionId",
                "properties": {
                  "SubmissionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Job application identifier used to find job applications.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIJobApplications"
                }
              }
            },
            "links": {
              "returnToPriorPhase": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1returnToPriorPhase/post",
                "description": "Moves a job application back to the prior phase in the candidate selection process."
              },
              "moveJobApplication": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1moveJobApplication/post",
                "description": "Moves a job application in the candidate selection process"
              },
              "fetchPrintURL": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1fetchPrintURL/post",
                "description": "Fetches save application as PDF URL."
              },
              "createLinkedJobApplications": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1createLinkedJobApplications/post",
                "description": "Creates linked job application."
              },
              "fetchBulkPrintInformation": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1fetchBulkPrintInformation/post",
                "description": "Fetches bulk save application as PDF information"
              },
              "setFavorite": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1setFavorite/post",
                "description": "Marks a job application as a favorite for a user."
              },
              "executeJAComputedFields": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1executeJAComputedFields/post",
                "description": "Calculates computed fields for job applications."
              },
              "requestMoreInfo": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1requestMoreInfo/post",
                "description": "Requests additional information from the candidate"
              },
              "updateRank": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1updateRank/post",
                "description": "Ranks a job application."
              },
              "markJobApplicationAsViewed": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1markJobApplicationAsViewed/post",
                "description": "Marks job application as viewed by the user."
              },
              "fetchApplicantMatchingScoreSummary": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1fetchApplicantMatchingScoreSummary/post",
                "description": "Fetches the summary of the job application matching score."
              },
              "getNextBestActions": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1getNextBestActions/post",
                "description": "Gets the next actions expected to be used according to the candidate selection process configuration."
              },
              "sendConfirmationRequest": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1sendConfirmationRequest/post",
                "description": "Sends confirmation request to the candidate."
              },
              "confirmJobApplications": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1confirmJobApplications/post",
                "description": "Confirms a job application on behalf of the candidate."
              },
              "isPartnerServiceEnabledForStatePhase": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1isPartnerServiceEnabledForStatePhase/post",
                "description": "Initiates the partner service configured in the candidate selection process."
              },
              "fetchMoveActionMetadata": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1fetchMoveActionMetadata/post",
                "description": "Gets the next actions expected to be used according to the candidate selection process configuration."
              },
              "updateSubmissionLanguage": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1updateSubmissionLanguage/post",
                "description": "Updates the preferred job application language."
              },
              "returnToPriorState": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1returnToPriorState/post",
                "description": "Moves a job application back to the prior state in the candidate selection process."
              },
              "calculateJobApplicationApplicantScores": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1calculateJobApplicationApplicantScores/post",
                "description": "Calculates the matching score of a job application."
              },
              "createProxyJobApplications": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1createProxyJobApplications/post",
                "description": "Creates a job application on behalf of the candidate"
              },
              "deleteJobApplication": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1deleteJobApplication/post",
                "description": "Deletes a job application."
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1action~1findByAdvancedSearchQuery/post",
                "description": "Searches for job applications using advanced search."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIJobApplications-get",
        "x-filename-id": "recruitinguijobapplications-get"
      },
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Create a job application",
        "operationId": "create_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUIJobApplications-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIJobApplications-item-response"
                }
              }
            },
            "links": {
              "InternalAttachments": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1{SubmissionId}~1child~1InternalAttachments/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "AttachmentStatus": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1{SubmissionId}~1child~1AttachmentStatus/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The AttachmentStatus resource provides the validation status of the candidate attachment."
              },
              "PreferredLocations": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1{SubmissionId}~1child~1PreferredLocations/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The preferredLocations resource is the child of the recruitingUIJobApplications resource and provides information about the candidate's preferred locations."
              },
              "j_SubmissionExtraInfoCategory": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1{SubmissionId}~1child~1j_SubmissionExtraInfoCategory/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                }
              },
              "Attachments": {
                "operationRef": "#/paths/~1recruitingUIJobApplications~1{SubmissionId}~1child~1Attachments/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIJobApplications-post",
        "x-filename-id": "recruitinguijobapplications-post"
      }
    },
    "/recruitingUIJobApplications/action/createProxyJobApplications": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Create a job application on behalf of the candidate",
        "description": "Creates a job application on behalf of the candidate",
        "operationId": "doall_createProxyJobApplications_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requisitionIds": {
                    "type": "array",
                    "description": "Unique identifier of the requisition.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "addedByContextType": {
                    "type": "string",
                    "description": "Added by context type.",
                    "nullable": true
                  },
                  "personIds": {
                    "type": "array",
                    "description": "Person identifier of the candidate.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "contextId": {
                    "type": "number",
                    "description": "Context identifier of the prospect candidate.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the create job application on behalf of candidate action"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the create job application on behalf of candidate action"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-createProxyJobApplications-post",
        "x-filename-id": "recruitinguijobapplications-action-createproxyjobapplications-post"
      }
    },
    "/recruitingUIJobApplications/action/executeJAComputedFields": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Calculate computed fields for job applications",
        "description": "Calculates computed fields for job applications.",
        "operationId": "doall_executeJAComputedFields_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier in the calculate computed fields action.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the calculate computed fields action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the calculate computed fields action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-executeJAComputedFields-post",
        "x-filename-id": "recruitinguijobapplications-action-executejacomputedfields-post"
      }
    },
    "/recruitingUIJobApplications/action/fetchApplicantMatchingScoreSummary": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Fetch the summary of the job application matching score",
        "description": "Fetches the summary of the job application matching score.",
        "operationId": "doall_fetchApplicantMatchingScoreSummary_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier and primary key used to find job application matching score summary.",
                    "nullable": true
                  },
                  "category": {
                    "type": "string",
                    "description": "Category of job application matching score summary.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for the job application matching score summary."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for the job application matching score summary."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-fetchApplicantMatchingScoreSummary-post",
        "x-filename-id": "recruitinguijobapplications-action-fetchapplicantmatchingscoresummary-post"
      }
    },
    "/recruitingUIJobApplications/action/moveJobApplication": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Move a job application in the candidate selection process",
        "description": "Moves a job application in the candidate selection process",
        "operationId": "doall_moveJobApplication_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier in the move action.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "reasonId": {
                    "type": "number",
                    "description": "Reason identifier in the move action.",
                    "nullable": true
                  },
                  "stateId": {
                    "type": "number",
                    "description": "State identifier in the move action.",
                    "nullable": true
                  },
                  "isParterServiceEnabledForGivenPhaseAndState": {
                    "type": "boolean",
                    "description": "Partner service enabled for phase and state indicator in the move action.",
                    "nullable": true
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "Phase identifier in the move action.",
                    "nullable": true
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment in the move action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the move action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the move action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-moveJobApplication-post",
        "x-filename-id": "recruitinguijobapplications-action-movejobapplication-post"
      }
    },
    "/recruitingUIJobApplications/action/calculateJobApplicationApplicantScores": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Calculate the matching score of a job application",
        "description": "Calculates the matching score of a job application.",
        "operationId": "doall_calculateJobApplicationApplicantScores_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier for the action to calculate the matching score of a job application.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return the status of the action to calculate the matching score of a job application."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return the status of the action to calculate the matching score of a job application."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-calculateJobApplicationApplicantScores-post",
        "x-filename-id": "recruitinguijobapplications-action-calculatejobapplicationapplicantscores-post"
      }
    },
    "/recruitingUIJobApplications/action/fetchPrintURL": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Fetch save application as PDF URL",
        "description": "Fetches save application as PDF URL.",
        "operationId": "doall_fetchPrintURL_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier in the save application as PDF action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Returns the status of the fetch save application as PDF URL action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Returns the status of the fetch save application as PDF URL action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-fetchPrintURL-post",
        "x-filename-id": "recruitinguijobapplications-action-fetchprinturl-post"
      }
    },
    "/recruitingUIJobApplications/action/fetchMoveActionMetadata": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get the next actions expected to be used.",
        "description": "Gets the next actions expected to be used according to the candidate selection process configuration.",
        "operationId": "doall_fetchMoveActionMetadata_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Unique identifier of the job application.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Map of values identifying the phases and states to move to and the candidate selection process configuration."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Map of values identifying the phases and states to move to and the candidate selection process configuration."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-fetchMoveActionMetadata-post",
        "x-filename-id": "recruitinguijobapplications-action-fetchmoveactionmetadata-post"
      }
    },
    "/recruitingUIJobApplications/action/fetchBulkPrintInformation": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Fetch bulk save application as PDF information",
        "description": "Fetches bulk save application as PDF information",
        "operationId": "doall_fetchBulkPrintInformation_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requisitionId": {
                    "type": "number",
                    "description": "Requisition identifier in the save application as PDF action.",
                    "nullable": true
                  },
                  "encryptedDocId": {
                    "type": "string",
                    "description": "Encrypted document identifier in the save application as PDF action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the save application as PDF action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the save application as PDF action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-fetchBulkPrintInformation-post",
        "x-filename-id": "recruitinguijobapplications-action-fetchbulkprintinformation-post"
      }
    },
    "/recruitingUIJobApplications/action/isPartnerServiceEnabledForStatePhase": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Initiate the partner service configured in the candidate selection process",
        "description": "Initiates the partner service configured in the candidate selection process.",
        "operationId": "doall_isPartnerServiceEnabledForStatePhase_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requisitionId": {
                    "type": "number",
                    "description": "Requisition identifier in the action to initiate a partner service in a candidate selection process.",
                    "nullable": true
                  },
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier in the action to initiate a partner service in a candidate selection process.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "stateId": {
                    "type": "number",
                    "description": "State identifier in the action to initiate a partner service in a candidate selection process.",
                    "nullable": true
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "Phase identifier in the action to initiate a partner service in a candidate selection process.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Returns the status of the action to initiate a partner service in a candidate selection process."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Returns the status of the action to initiate a partner service in a candidate selection process."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-isPartnerServiceEnabledForStatePhase-post",
        "x-filename-id": "recruitinguijobapplications-action-ispartnerserviceenabledforstatephase-post"
      }
    },
    "/recruitingUIJobApplications/action/returnToPriorState": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Move a job application back to the prior state in the candidate selection process",
        "description": "Moves a job application back to the prior state in the candidate selection process.",
        "operationId": "doall_returnToPriorState_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier in the move back to prior state action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the move back the prior state action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the move back the prior state action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-returnToPriorState-post",
        "x-filename-id": "recruitinguijobapplications-action-returntopriorstate-post"
      }
    },
    "/recruitingUIJobApplications/action/createLinkedJobApplications": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Create linked job application",
        "description": "Creates linked job application.",
        "operationId": "doall_createLinkedJobApplications_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requisitionIds": {
                    "type": "array",
                    "description": "Requisition identifier in the create linked job application action.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier in the create linked job application action.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the create linked job application action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the create linked job application action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-createLinkedJobApplications-post",
        "x-filename-id": "recruitinguijobapplications-action-createlinkedjobapplications-post"
      }
    },
    "/recruitingUIJobApplications/action/markJobApplicationAsViewed": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Mark job application as viewed by the user",
        "description": "Marks job application as viewed by the user.",
        "operationId": "doall_markJobApplicationAsViewed_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier in the mark job application as viewed action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the mark job application as viewed action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the mark job application as viewed action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-markJobApplicationAsViewed-post",
        "x-filename-id": "recruitinguijobapplications-action-markjobapplicationasviewed-post"
      }
    },
    "/recruitingUIJobApplications/action/sendConfirmationRequest": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Send confirmation request to the candidate",
        "description": "Sends confirmation request to the candidate.",
        "operationId": "doall_sendConfirmationRequest_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionIds": {
                    "type": "array",
                    "description": "Job application identifier in the send confirmation request action.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the send confirmation request action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the send confirmation request action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-sendConfirmationRequest-post",
        "x-filename-id": "recruitinguijobapplications-action-sendconfirmationrequest-post"
      }
    },
    "/recruitingUIJobApplications/action/returnToPriorPhase": {
      "post": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Move a job application back to the prior phase in the candidate selection process",
        "description": "Moves a job application back to the prior phase in the candidate selection process.",
        "operationId": "doall_returnToPriorPhase_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submissionId": {
                    "type": "number",
                    "description": "Job application identifier in the move back to prior phase action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the move back to prior phase action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Returns the status of the move back to prior phase action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobApplications-action-returnToPriorPhase-post",
        "x-filename-id": "recruitinguijobapplications-action-returntopriorphase-post"
      }
    },
    "/recruitingUIJobApplications/{SubmissionId}": {
      "get": {
        "tags": [
          "Job Applications"
        ],
        "summary": "Get details about a job application",
        "operationId": "get_recruitingUIJobApplications",
        "parameters": [
          {
            "name": "SubmissionId",
            "in": "path",
[...]
