{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Job Details in Opportunity Marketplace",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingOppMktJobDetails/{RequisitionId}": {
      "get": {
        "tags": [
          "Job Details in Opportunity Marketplace"
        ],
        "summary": "Get a job detail in opportunity marketplace",
        "operationId": "get_recruitingOppMktJobDetails",
        "parameters": [
          {
            "name": "RequisitionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingOppMktJobDetails-item-response"
                }
              }
            },
            "links": {
              "medias": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1child~1medias/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The medias resource is the child of the recruitingOppMktJobDetails and provides media for a job in opportunity marketplace."
              },
              "secondaryWorkLocations": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1child~1secondaryWorkLocations/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The secondaryWorkLocations resource is the child of the recruitingOppMktJobDetails and provides secondary work locations of a job in opportunity marketplace."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1child~1secondaryLocations/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The secondaryLocations resource is the child of the recruitingOppMktJobDetails and provides secondary locations of a job in opportunity marketplace."
              },
              "requisitionDFF": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1child~1requisitionDFF/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                }
              },
              "shareJob": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1action~1shareJob/post",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "URL of the job page in opportunity marketplace."
              },
              "jobProfileNonPublicSkillSections": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1child~1jobProfileNonPublicSkillSections/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The contacts resource is the child of the recruitingOppMktJobDetails and provides contacts for a job in opportunity marketplace."
              },
              "contacts": {
                "operationRef": "#/paths/~1recruitingOppMktJobDetails~1{RequisitionId}~1child~1contacts/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The contacts resource is the child of the recruitingOppMktJobDetails and provides contacts for a job in opportunity marketplace."
              }
            }
          }
        },
        "x-internal-id": "recruitingOppMktJobDetails-{RequisitionId}-get",
        "x-filename-id": "recruitingoppmktjobdetails-requisitionid-get"
      }
    },
    "/recruitingOppMktJobDetails/{RequisitionId}/action/shareJob": {
      "post": {
        "tags": [
          "Job Details in Opportunity Marketplace"
        ],
        "summary": "URL of the job page in opportunity marketplace.",
        "description": "URL of the job page in opportunity marketplace.",
        "operationId": "do_shareJob_recruitingOppMktJobDetails",
        "parameters": [
          {
            "name": "RequisitionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "URL of the job page in opportunity marketplace."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "URL of the job page in opportunity marketplace."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingOppMktJobDetails-{RequisitionId}-action-shareJob-post",
        "x-filename-id": "recruitingoppmktjobdetails-requisitionid-action-sharejob-post"
      }
    },
    "/recruitingOppMktJobDetails": {
      "get": {
        "tags": [
          "Job Details in Opportunity Marketplace"
        ],
        "summary": "Get all job details in opportunity marketplace",
        "operationId": "getall_recruitingOppMktJobDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssessmentFlag; boolean; Finds a secondary work location in opportunity marketplace using a unique ID and a work location ID.</li><li>BookmarkFlag; boolean; Indicates whether the job is a job in opportunity marketplace.</li><li>CandidateReapplyFlag; boolean; Indicates whether the job is a job in opportunity marketplace.</li><li>DescriptionStr; string; Plain string value of the job requisition description in opportunity marketplace.</li><li>EmployerDescriptionStr; string; Plain string value of the employer description of a job requisition in opportunity marketplace.</li><li>ExternallyPostedFlag; boolean; Indicate whether the job requisition is posted externally in opportunity marketplace. Default value is 0.</li><li>FullPartTimeName; string; Full time or part time job in opportunity marketplace.</li><li>HasAppliedFlag; boolean; Indicates whether the person has already applied to a job in opportunity marketplace. The default value is 0</li><li>InternallyPostedFlag; boolean; Indicates whether the job requisition is posted internally in opportunity marketplace. Default value is 0.</li><li>JobCode; string; Unique identifier for the specific job type within an organization in opportunity marketplace.</li><li>JobFamilyName; string; Name of the job family of a job in opportunity marketplace.</li><li>JobGradeName; string; Name of the job grade of a job in opportunity marketplace.</li><li>JobShareId; integer; ID of the job requisition being shared in opportunity marketplace.</li><li>JobShareURL; string; URL of the job page in opportunity marketplace.</li><li>JobShiftName; string; Name of the job shift of a job in opportunity marketplace.</li><li>LegalEmployerId; integer; Unique identifier for the legal employer of a job requisition shared with opportunity marketplace.</li><li>OrganizationDescriptionStr; string; Plain string value of the organization description of a job requisition in opportunity marketplace.</li><li>OrganizationId; integer; Plain string value of the organization description of a job requisition in opportunity marketplace.</li><li>OrganizationName; string; Name of the organization of a job in opportunity marketplace.</li><li>PrimaryLocationFlatName; string; Name of the primary location of a job in opportunity marketplace.</li><li>PrimaryWorkLocationName; string; Name of the primary work location of a job in opportunity marketplace.</li><li>ProfileId; integer; Name of the primary work location of a job in opportunity marketplace.</li><li>PublishJobEndDate; string; Date when the job is no longer published in opportunity marketplace.</li><li>PublishJobStartDate; string; Date when the job is published in opportunity marketplace.</li><li>QualificationsStr; string; String value of the job requisition qualifications.</li><li>RecruitingTypeCode; string; Plain string value of the organization description of a job requisition in opportunity marketplace.</li><li>RequisitionId; integer; Requisition ID of a job in opportunity marketplace</li><li>RequisitionNumber; string; Requisition number of a job in opportunity marketplace.</li><li>RequisitionValidFlag; boolean; Indicates whether the requisition is valid in opportunity marketplace. The default value is 1</li><li>ResponsibilitiesStr; string; String value of the job requisition responsibilities.</li><li>SubmissionDateTime; string; String value of the job requisition responsibilities.</li><li>Title; string; Job title of a job in opportunity marketplace.</li><li>TravelRequiredFlag; boolean; Indicates whether the job requires travel in opportunity marketplace.</li><li>Workplace; string; Workplace of the job requisition.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a job in opportunity marketplace using a unique ID. <br>Finder Variables <ul><li>RequisitionId; integer;  Finds a job in opportunity marketplace using a unique ID and a requisition ID. </li></ul></li><li>findById Finds a job in opportunity marketplace using an ID. <br>Finder Variables <ul><li>RequisitionId; integer;  Finds a job in opportunity marketplace using an ID and a requisition ID. </li></ul></li><li>findByNumber Finds a job in opportunity marketplace using a requisition number. <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds a job in opportunity marketplace using a requisition number. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a job in opportunity marketplace using a unique ID.",
                "properties": {
                  "RequisitionId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds a job in opportunity marketplace using a unique ID and a requisition ID.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findById",
                "description": "Finds a job in opportunity marketplace using an ID.",
                "title": "findById",
                "properties": {
                  "RequisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a job in opportunity marketplace using an ID and a requisition ID.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByNumber",
                "description": "Finds a job in opportunity marketplace using a requisition number.",
                "title": "findByNumber",
                "properties": {
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a job in opportunity marketplace using a requisition number.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingOppMktJobDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingOppMktJobDetails-get",
        "x-filename-id": "recruitingoppmktjobdetails-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingOppMktJobDetails-item-response": {
        "type": "object",
        "properties": {
          "AssessmentFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Finds a secondary work location in opportunity marketplace using a unique ID and a work location ID.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BookmarkFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the job is a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateReapplyFlag": {
            "type": "boolean",
            "description": "Indicates whether the job is a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the job requisition in opportunity marketplace.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DescriptionStr": {
            "title": "Job Description",
            "type": "string",
            "description": "Plain string value of the job requisition description in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployerDescriptionStr": {
            "title": "Employer Description",
            "type": "string",
            "description": "Plain string value of the employer description of a job requisition in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternallyPostedFlag": {
            "type": "boolean",
            "description": "Indicate whether the job requisition is posted externally in opportunity marketplace. Default value is 0.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "ExtPublishJobStatus"
              ]
            },
            "x-queryable": true
          },
          "FullPartTimeName": {
            "title": "Full Time or Part Time",
            "maxLength": 80,
            "type": "string",
            "description": "Full time or part time job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HasAppliedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the person has already applied to a job in opportunity marketplace. The default value is 0",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternallyPostedFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition is posted internally in opportunity marketplace. Default value is 0.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "IntPublishJobStatus"
              ]
            },
            "x-queryable": true
          },
          "JobCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier for the specific job type within an organization in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFamilyName": {
            "title": "Job Family",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the job family of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobGradeName": {
            "title": "Job Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the job grade of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobShareId": {
            "type": "integer",
            "description": "ID of the job requisition being shared in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobShareURL": {
            "type": "string",
            "description": "URL of the job page in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobShiftName": {
            "title": "Job Shift",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the job shift of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployerId": {
            "type": "integer",
            "description": "Unique identifier for the legal employer of a job requisition shared with opportunity marketplace.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OrganizationDescriptionStr": {
            "title": "Organization Description",
            "type": "string",
            "description": "Plain string value of the organization description of a job requisition in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OrganizationId": {
            "type": "integer",
            "description": "Plain string value of the organization description of a job requisition in opportunity marketplace.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OrganizationName": {
            "title": "Organization Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the organization of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLocationFlatName": {
            "type": "string",
            "description": "Name of the primary location of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "PrimaryWorkLocationName": {
            "type": "string",
            "description": "Name of the primary work location of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "LocationId"
              ]
            },
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Name of the primary work location of a job in opportunity marketplace.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PublishJobEndDate": {
            "title": "Published Job End Date",
            "type": "string",
            "description": "Date when the job is no longer published in opportunity marketplace.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PublishJobStartDate": {
            "type": "string",
            "description": "Date when the job is published in opportunity marketplace.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Qualifications": {
            "type": "string",
            "description": "Qualifications of the job requisition.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "QualificationsStr": {
            "type": "string",
            "description": "String value of the job requisition qualifications.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecruitingTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Plain string value of the organization description of a job requisition in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID of a job in opportunity marketplace",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number of a job in opportunity marketplace.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionValidFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the requisition is valid in opportunity marketplace. The default value is 1",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Responsibilities": {
            "type": "string",
            "description": "Responsibilities of the job requisition.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ResponsibilitiesStr": {
            "type": "string",
            "description": "String value of the job requisition responsibilities.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionDateTime": {
            "type": "string",
            "description": "String value of the job requisition responsibilities.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Job title of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TravelRequiredFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the job requires travel in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "IntlTravelRequiredFlag",
                "NatTravelRequiredFlag"
              ]
            },
            "x-queryable": true
          },
          "Workplace": {
            "maxLength": 80,
            "type": "string",
            "description": "Workplace of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "contacts": {
            "title": "Job Contacts in Opportunity Marketplace",
            "type": "array",
            "description": "The contacts resource is the child of the recruitingOppMktJobDetails and provides contacts for a job in opportunity marketplace.",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-contacts-item-response"
            }
          },
          "jobProfileNonPublicSkillSections": {
            "title": "Job Contacts in Opportunity Marketplace",
            "type": "array",
            "description": "The contacts resource is the child of the recruitingOppMktJobDetails and provides contacts for a job in opportunity marketplace.",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-jobProfileNonPublicSkillSections-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "medias": {
            "title": "Media in Job in Opportunity Marketplace",
            "type": "array",
            "description": "The medias resource is the child of the recruitingOppMktJobDetails and provides media for a job in opportunity marketplace.",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-medias-item-response"
            }
          },
          "requisitionDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-requisitionDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "secondaryLocations": {
            "title": "Job Secondary Locations in Opportunity Marketplace",
            "type": "array",
            "description": "The secondaryLocations resource is the child of the recruitingOppMktJobDetails and provides secondary locations of a job in opportunity marketplace.",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-secondaryLocations-item-response"
            }
          },
          "secondaryWorkLocations": {
            "title": "Job Secondary Work Locations in Opportunity Marketplace",
            "type": "array",
            "description": "The secondaryWorkLocations resource is the child of the recruitingOppMktJobDetails and provides secondary work locations of a job in opportunity marketplace.",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-secondaryWorkLocations-item-response"
            }
          }
        }
      },
      "recruitingOppMktJobDetails-contacts-item-response": {
        "type": "object",
        "properties": {
          "ContactEmail": {
            "type": "string",
            "description": "Contact email for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContactName": {
            "type": "string",
            "description": "Contact name for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContactPosition": {
            "type": "string",
            "description": "Contact position of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContactType": {
            "type": "string",
            "description": "Contact type for a job in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person ID of the contact for a job in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "PhoneNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Person ID of the contact for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingOppMktJobDetails-jobProfileNonPublicSkillSections-item-response": {
        "type": "object",
        "properties": {
          "ContentTypeId": {
            "maxLength": 11,
            "type": "string",
            "description": "Person ID of the contact for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ReadOnlyFlag": {
            "maxLength": 4,
            "type": "boolean",
            "description": "Person ID of the contact for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Person ID of the contact for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingOppMktJobDetails-medias-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language for the media of a job in opportunity marketplace.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LookupCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Lookup code for the media of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MediaLinkId": {
            "type": "integer",
            "description": "Media link ID for the media of a jon in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Sequence number of a media for a job in opportunity marketplace.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ThumbnailURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Thumbnail URL of a media for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of a media for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL of a media for a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingOppMktJobDetails-requisitionDFF-item-response": {
        "type": "object",
        "properties": {
          "ReqUsageCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "ORA_REQUISITION",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingOppMktJobDetails-secondaryLocations-item-response": {
        "type": "object",
        "properties": {
          "GeographyNodeId": {
            "type": "integer",
            "description": "Geography node ID of the secondary location of a job in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationFlatName": {
            "type": "string",
            "description": "Location name of the secondary location of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "RequisitionLocationId": {
            "type": "integer",
            "description": "Requisition location ID of the secondary work location of a job in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingOppMktJobDetails-secondaryWorkLocations-item-response": {
        "type": "object",
        "properties": {
          "LocationId": {
            "type": "integer",
            "description": "Location ID of the secondary work location of a job in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionWorkLocationId": {
            "type": "integer",
            "description": "Requisition work location ID of the secondary work location of a job in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkLocationName": {
            "type": "string",
            "description": "Work location name of the secondary work location of a job in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "LocationId"
              ]
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingOppMktJobDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingOppMktJobDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}