{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Job Requisition Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEJobRequisitionDetails/{Id}": {
      "get": {
        "tags": [
          "Job Requisition Details"
        ],
        "summary": "Get a job requisition details in a preview mode",
        "operationId": "get_recruitingCEJobRequisitionDetails",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Media ID in a job requisition details preview.",
              "nullable": true,
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1skills/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The skills resource is a child of recruitingCEJobRequisitionDetails. It includes details of skills mentioned in the requisition."
              },
              "workLocation": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1workLocation/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1secondaryLocations/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1otherWorkLocations/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "primaryLocationCoordinates": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1primaryLocationCoordinates/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The primaryLocationCoordinates resource is a child of recruitingCEJobRequisitionDetails. It includes details of primary location coordinates. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "media": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1media/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The media resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the media used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "requisitionFlexFields": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionDetails~1{Id}~1child~1requisitionFlexFields/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The requisitionFlexFields resource is a child of the recruitingCEJobRequisitionDetails resource and provides details about the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobRequisitionDetails-{Id}-get",
        "x-filename-id": "recruitingcejobrequisitiondetails-id-get"
      }
    },
    "/recruitingCEJobRequisitionDetails": {
      "get": {
        "tags": [
          "Job Requisition Details"
        ],
        "summary": "Get all job requisition details in preview mode",
        "operationId": "getall_recruitingCEJobRequisitionDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApplyWhenNotPostedFlag; boolean; Indicates whether candidates can apply to the job requisition when it's not posted.</li><li>BeFirstToApplyFlag; boolean; Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.</li><li>BusinessUnit; string; Business unit for the published requisition.</li><li>BusinessUnitId; integer; Business unit identifier of the job requisition.</li><li>Category; string; Category of a job requisition in a job requisition details preview.</li><li>ContentLocale; string; Location of the content in a job requisition details preview.</li><li>ContractType; string; Type of contract in a job requisition details preview.</li><li>CorporateDescriptionStr; string; Corporate description in a job requisition details preview.</li><li>Department; string; Department for the published requisition.</li><li>DomesticTravelRequired; string; Indicates whether domestic travel is required in a job requisition details preview.</li><li>ExternalContactEmail; string; External email of the candidate in a job requisition details preview.</li><li>ExternalContactName; string; External contact name of the candidate in a job requisition details preview.</li><li>ExternalDescriptionStr; string; External description string in a job requisition details preview.</li><li>ExternalPostedEndDate; string; End date of the external posting in a job requisition details preview.</li><li>ExternalPostedStartDate; string; Start date of the external posting in a job requisition details preview.</li><li>ExternalQualificationsStr; string; External qualifications string in a job requisition details preview.</li><li>ExternalResponsibilitiesStr; string; External responsibilities string in a job requisition details preview.</li><li>GeographyId; integer; Geography ID in a job requisition details preview.</li><li>GeographyNodeId; integer; Geography node ID in a job requisition details preview.</li><li>HiringManager; string; Hiring manager for the published requisition.</li><li>HotJobFlag; boolean; Indicates whether the job requisition is considered a hot job in a job requisition details preview.</li><li>Id; string; ID of the job requisition in a job requisition details preview.</li><li>InternalQualificationsStr; string; Internal qualifications string in a job requisition details preview.</li><li>InternalResponsibilitiesStr; string; Internal responsibilities string in a job requisition details preview.</li><li>InternationalTravelRequired; string; Indicates if international travel is required in a job requisition details preview.</li><li>JobFamilyId; integer; Job family ID in a job requisition details preview.</li><li>JobFunction; string; Job function in a job requisition details preview.</li><li>JobFunctionCode; string; Job function code in a job requisition details preview.</li><li>JobGrade; string; Job grade in a job requisition details preview.</li><li>JobLevel; string; Job level in a job requisition details preview.</li><li>JobSchedule; string; Job schedule in a job requisition details preview.</li><li>JobShift; string; Job shift in a job requisition details preview.</li><li>JobType; string; Job type for the published requisition.</li><li>LegalEmployer; string; Legal employer for the published requisition.</li><li>LegalEmployerId; integer; Legal employer identifier of the job requisition.</li><li>NumberOfOpenings; string; Number of openings for the published requisition.</li><li>ObjectVerNumberProfile; string; Object version number assigned to the profile in a job requisition details preview.</li><li>Organization; string; Organization for the published requisition.</li><li>OrganizationDescriptionStr; string; Organization description in a job requisition details preview.</li><li>OrganizationId; integer; Organization identifier of the job requisition.</li><li>OtherRequisitionTitle; string; Other title for the published requisition.</li><li>PrimaryLocation; string; Primary location in a job requisition details preview.</li><li>PrimaryLocationCountry; string; Country of the primary location in a job requisition details preview.</li><li>RequisitionId; integer; Requisition ID in a job requisition details preview.</li><li>RequisitionType; string; Requisition type in a job requisition details preview.</li><li>ShortDescriptionStr; string; Short description string in a job requisition details preview.</li><li>StudyLevel; string; Education level in a job requisition details preview.</li><li>Title; string; Title in a job requisition details preview.</li><li>TrendingFlag; boolean; Indicates whether the job requisition has a high number of job applications and should be displayed as trending in a job requisition details preview..</li><li>WorkDays; string; Working days for the published requisition.</li><li>WorkHours; string; Working hours for the published requisition.</li><li>WorkMonths; integer; Working months for the published requisition.</li><li>WorkYears; integer; Working years for the published requisition.</li><li>WorkerType; string; Worker type for the published requisition.</li><li>WorkplaceType; string; Workplace in a job requisition details preview.</li><li>WorkplaceTypeCode; string; Workplace type code in a job requisition details preview.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>ById Finds all job requisition details in the requisition details preview using an ID. <br>Finder Variables <ul><li>Id; string;  Job requisition ID and unique ID used to find job requisition details in preview mode. </li><li>siteNumber; string;  Site number and ID used to find job requisition details in preview mode. </li></ul></li><li>ByIdNoCache Finds all job requisition details using ById without accessing the cache pertaining to a published job. <br>Finder Variables <ul><li>Id; string;  ById and ID to find job requisition details without accessing the cache pertaining to a published job. </li><li>siteNumber; string;  ById and siteNumber; string;  to find job requisition details without accessing the cache pertaining to a published job. </li></ul></li><li>PrimaryKey Finds all job requisition details in preview mode using a unique ID. <br>Finder Variables <ul><li>Id; string;  Requisition number of the job requisition. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "ById",
                "description": "Finds all job requisition details in the requisition details preview using an ID.",
                "title": "findById",
                "properties": {
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Site number and ID used to find job requisition details in preview mode.",
                    "type": "string"
                  },
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Job requisition ID and unique ID used to find job requisition details in preview mode.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "ByIdNoCache",
                "description": "Finds all job requisition details using ById without accessing the cache pertaining to a published job.",
                "title": "findByIdNoCache",
                "properties": {
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "ById and siteNumber to find job requisition details without accessing the cache pertaining to a published job.",
                    "type": "string"
                  },
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "ById and ID to find job requisition details without accessing the cache pertaining to a published job.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds all job requisition details in preview mode using a unique ID.",
                "properties": {
                  "Id": {
                    "nullable": true,
                    "description": "Requisition number of the job requisition.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobRequisitionDetails-get",
        "x-filename-id": "recruitingcejobrequisitiondetails-get"
      }
    },
    "/recruitingICEJobRequisitionDetails": {
      "get": {
        "tags": [
          "Job Requisition Details"
        ],
        "summary": "Get details for all job requisitions",
        "operationId": "getall_recruitingICEJobRequisitionDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApplyWhenNotPostedFlag; boolean; Indicates whether candidates can apply to the job requisition when it's not posted.</li><li>BeFirstToApplyFlag; boolean; Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.</li><li>BusinessUnit; integer; Business unit in the job requisition details.</li><li>Category; string; Category in the job requisition details.</li><li>ContentLocale; string; Locale of the content in the job requisition details.</li><li>ContractType; string; Type of contract in the job requisition details.</li><li>Department; integer; Department in the job requisition details.</li><li>DomesticTravelRequired; string; Indicates whether domestic travel is required in the job requisition details.</li><li>GeographyId; integer; Geography ID in the job requisition details.</li><li>GeographyNodeId; integer; Geography node ID in the job requisition details.</li><li>HiringManager; integer; Hiring manager in the job requisition details.</li><li>HotJobFlag; boolean; Indicates whether the job requisition is considered a hot job.</li><li>Id; string; ID in the job requisition details.</li><li>IntCorporateDescriptionStr; string; Internal corporate description in the job requisition details.</li><li>IntOrganizationDescriptionStr; string; Internal organization description in the job requisition details.</li><li>InternalContactEmail; string; Internal email of the candidate in the job requisition details.</li><li>InternalContactName; string; Internal contact name of the candidate in the job requisition details.</li><li>InternalDescriptionStr; string; Internal description string in the job requisition details.</li><li>InternalPostedEndDate; string; End date of the internal posting in the job requisition details.</li><li>InternalPostedStartDate; string; Start date of the internal posting in the job requisition details.</li><li>InternalQualificationsStr; string; Internal qualifications string in the job requisition details.</li><li>InternalResponsibilitiesStr; string; Internal responsibilities string in the job requisition details.</li><li>InternalShortDescriptionStr; string; Internal short description string in the job requisition details.</li><li>InternationalTravelRequired; string; Indicates whether international travel is required in the job requisition details.</li><li>JobFamilyId; integer; Job family ID in the job requisition details.</li><li>JobFunctionCode; string; Job function code in the job requisition details.</li><li>JobGrade; string; Job grade in the job requisition details.</li><li>JobLevel; string; Job level in the job requisition details.</li><li>JobSchedule; string; Job schedule in the job requisition details.</li><li>JobShift; string; Job shift in the job requisition details.</li><li>JobType; string; Job type in the job requisition details.</li><li>LegalEmployer; integer; Legal employer in the job requisition details.</li><li>NumberOfOpenings; string; Number of openings in the job requisition details.</li><li>ObjectVerNumberProfile; string; Object version number assigned to the profile in the job requisition details.</li><li>Organization; integer; Organization in the job requisition details.</li><li>OtherRequisitionTitle; string; Other title in the job requisition details.</li><li>PrimaryLocation; string; Primary location in the job requisition details.</li><li>PrimaryLocationCountry; string; Country of the primary location in the job requisition details.</li><li>RequisitionId; integer; Requisition ID in the job requisition details.</li><li>RequisitionType; string; Requisition type in the job requisition details.</li><li>StudyLevel; string; Education level in the job requisition details.</li><li>Title; string; Title in the job requisition details.</li><li>TrendingFlag; boolean; Indicates whether the job requisition has a high number of job applications and should be displayed as trending in the job requisition details.</li><li>WorkDays; string; Working days in the job requisition details.</li><li>WorkHours; string; Working hours in the job requisition details.</li><li>WorkMonths; integer; Working months in the job requisition details.</li><li>WorkYears; integer; Working years in the job requisition details.</li><li>WorkerType; string; Worker type in the job requisition details.</li><li>WorkplaceType; string; Workplace in the job requisition details.</li><li>WorkplaceTypeCode; string; Workplace in the job requisition details.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>FindById Finds all job requisition details using an ID. <br>Finder Variables <ul><li>Id; string;  Job requisition ID and unique ID used to find job requisition details. </li></ul></li><li>PrimaryKey Finds all job requisition details using a unique ID. <br>Finder Variables <ul><li>Id; string;  Requisition number in the job requisition details. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "FindById",
                "description": "Finds all job requisition details using an ID.",
                "title": "findById",
                "properties": {
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Job requisition ID and unique ID used to find job requisition details.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds all job requisition details using a unique ID.",
                "properties": {
                  "Id": {
                    "nullable": true,
                    "description": "Requisition number in the job requisition details.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobRequisitionDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobRequisitionDetails-get",
        "x-filename-id": "recruitingicejobrequisitiondetails-get"
      }
    },
    "/recruitingICEJobRequisitionDetails/{Id}": {
      "get": {
        "tags": [
          "Job Requisition Details"
        ],
        "summary": "Get details for a job requisition",
        "operationId": "get_recruitingICEJobRequisitionDetails",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobRequisitionDetails-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitionDetails~1{Id}~1child~1skills/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The skills resource is a child of recruitingCEJobRequisitionDetails. It includes details of skills mentioned in the requisition."
              },
              "workLocation": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitionDetails~1{Id}~1child~1workLocation/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitionDetails~1{Id}~1child~1secondaryLocations/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitionDetails~1{Id}~1child~1otherWorkLocations/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "requisitionFlexFields": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitionDetails~1{Id}~1child~1requisitionFlexFields/get",
                "parameters": {
                  "Id": "$request.path.Id"
                },
                "description": "The requisitionFlexFields resource is a child of the recruitingCEJobRequisitionDetails resource and provides details about the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobRequisitionDetails-{Id}-get",
        "x-filename-id": "recruitingicejobrequisitiondetails-id-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEJobRequisitionDetails-item-response": {
        "type": "object",
        "properties": {
          "ApplyWhenNotPostedFlag": {
            "type": "boolean",
            "description": "Indicates whether candidates can apply to the job requisition when it's not posted.",
            "nullable": true,
            "x-queryable": true
          },
          "BeFirstToApplyFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.",
            "nullable": true,
            "x-queryable": true
          },
          "BusinessUnit": {
            "type": "string",
            "description": "Business unit for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Business unit identifier of the job requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "Category": {
            "type": "string",
            "description": "Category of a job requisition in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ContentLocale": {
            "type": "string",
            "description": "Location of the content in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ContractType": {
            "type": "string",
            "description": "Type of contract in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "CorporateDescriptionStr": {
            "type": "string",
            "description": "Corporate description in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Department": {
            "type": "string",
            "description": "Department for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "DomesticTravelRequired": {
            "type": "string",
            "description": "Indicates whether domestic travel is required in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalContactEmail": {
            "type": "string",
            "description": "External email of the candidate in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalContactName": {
            "type": "string",
            "description": "External contact name of the candidate in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalDescriptionStr": {
            "type": "string",
            "description": "External description string in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalPostedEndDate": {
            "type": "string",
            "description": "End date of the external posting in a job requisition details preview.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalPostedStartDate": {
            "type": "string",
            "description": "Start date of the external posting in a job requisition details preview.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalQualificationsStr": {
            "type": "string",
            "description": "External qualifications string in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ExternalResponsibilitiesStr": {
            "type": "string",
            "description": "External responsibilities string in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyNodeId": {
            "type": "integer",
            "description": "Geography node ID in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "HiringManager": {
            "type": "string",
            "description": "Hiring manager for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "HotJobFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition is considered a hot job in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Id": {
            "type": "string",
            "description": "ID of the job requisition in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalQualificationsStr": {
            "type": "string",
            "description": "Internal qualifications string in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalResponsibilitiesStr": {
            "type": "string",
            "description": "Internal responsibilities string in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "InternationalTravelRequired": {
            "type": "string",
            "description": "Indicates if international travel is required in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobFamilyId": {
            "type": "integer",
            "description": "Job family ID in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobFunction": {
            "type": "string",
            "description": "Job function in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobFunctionCode": {
            "type": "string",
            "description": "Job function code in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobGrade": {
            "type": "string",
            "description": "Job grade in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobLevel": {
            "type": "string",
            "description": "Job level in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobSchedule": {
            "type": "string",
            "description": "Job schedule in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobShift": {
            "type": "string",
            "description": "Job shift in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "JobType": {
            "type": "string",
            "description": "Job type for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "LegalEmployer": {
            "type": "string",
            "description": "Legal employer for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "LegalEmployerId": {
            "type": "integer",
            "description": "Legal employer identifier of the job requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "NumberOfOpenings": {
            "type": "string",
            "description": "Number of openings for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "ObjectVerNumberProfile": {
            "type": "string",
            "description": "Object version number assigned to the profile in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Organization": {
            "type": "string",
            "description": "Organization for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "OrganizationDescriptionStr": {
            "type": "string",
            "description": "Organization description in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "OrganizationId": {
            "type": "integer",
            "description": "Organization identifier of the job requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherRequisitionTitle": {
            "type": "string",
            "description": "Other title for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLocation": {
            "type": "string",
            "description": "Primary location in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLocationCountry": {
            "type": "string",
            "description": "Country of the primary location in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionType": {
            "type": "string",
            "description": "Requisition type in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ShortDescriptionStr": {
            "type": "string",
            "description": "Short description string in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "StudyLevel": {
            "type": "string",
            "description": "Education level in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "type": "string",
            "description": "Title in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "TrendingFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a high number of job applications and should be displayed as trending in a job requisition details preview..",
            "nullable": true,
            "x-queryable": true
          },
          "WorkDays": {
            "type": "string",
            "description": "Working days for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkHours": {
            "type": "string",
            "description": "Working hours for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkMonths": {
            "type": "integer",
            "description": "Working months for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkYears": {
            "type": "integer",
            "description": "Working years for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkerType": {
            "type": "string",
            "description": "Worker type for the published requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkplaceType": {
            "type": "string",
            "description": "Workplace in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkplaceTypeCode": {
            "type": "string",
            "description": "Workplace type code in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "media": {
            "title": "Media",
            "type": "array",
            "description": "The media resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the media used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-media-item-response"
            }
          },
          "otherWorkLocations": {
            "title": "Other Work Locations",
            "type": "array",
            "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-otherWorkLocations-item-response"
            }
          },
          "primaryLocationCoordinates": {
            "title": "Primary Location Coordinates",
            "type": "array",
            "description": "The primaryLocationCoordinates resource is a child of recruitingCEJobRequisitionDetails. It includes details of primary location coordinates. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-primaryLocationCoordinates-item-response"
            }
          },
          "requisitionFlexFields": {
            "title": "Job Requisition Flexfields",
            "type": "array",
            "description": "The requisitionFlexFields resource is a child of the recruitingCEJobRequisitionDetails resource and provides details about the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-requisitionFlexFields-item-response"
            }
          },
          "secondaryLocations": {
            "title": "Secondary Locations",
            "type": "array",
            "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-secondaryLocations-item-response"
            }
          },
          "skills": {
            "title": "Skills",
            "type": "array",
            "description": "The skills resource is a child of recruitingCEJobRequisitionDetails. It includes details of skills mentioned in the requisition.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-skills-item-response"
            }
          },
          "workLocation": {
            "title": "Work Locations",
            "type": "array",
            "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-workLocation-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-media-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "Media ID in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Priority": {
            "type": "string",
            "description": "Media priority in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "ThumbURL": {
            "type": "string",
            "description": "Media thumb URL in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "type": "string",
            "description": "Media title in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Media type in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "URL": {
            "type": "string",
            "description": "Media URL in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-otherWorkLocations-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "type": "string",
            "description": "Address line 1 for other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "type": "string",
            "description": "Address line 2 for other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "type": "string",
            "description": "Address line 3 for other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "type": "string",
            "description": "Address line 4 for other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Building": {
            "type": "string",
            "description": "Building of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Country": {
            "type": "string",
            "description": "Country of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "string",
            "description": "Latitude of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Location ID of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationName": {
            "type": "string",
            "description": "Location name of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "PostalCode": {
            "type": "string",
            "description": "Postal code of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Region1": {
            "type": "string",
            "description": "Region 1 of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Region2": {
            "type": "string",
            "description": "Region 2 of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Region3": {
            "type": "string",
            "description": "Region 3 of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionWorkLocationId": {
            "type": "integer",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "TownOrCity": {
            "type": "string",
            "description": "Town or city of other work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-primaryLocationCoordinates-item-response": {
        "type": "object",
        "properties": {
          "CountryCode": {
            "type": "string",
            "description": "Country code of the primary location coordinates of the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID of primary location coordinates of the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyNodeId": {
            "type": "integer",
            "description": "Geography ID of primary location coordinates of the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "string",
            "description": "Latitude of primary location coordinates of the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of primary location coordinates of the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-requisitionFlexFields-item-response": {
        "type": "object",
        "properties": {
          "ControlType": {
            "type": "string",
            "description": "Control type of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Prompt": {
            "type": "string",
            "description": "Prompt of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Sequence number of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Value": {
            "type": "string",
            "description": "Value of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-secondaryLocations-item-response": {
        "type": "object",
        "properties": {
          "CountryCode": {
            "type": "string",
            "description": "Country code for the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID for the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyNodeId": {
            "type": "integer",
            "description": "Geography node ID for the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "string",
            "description": "Latitude of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionLocationId": {
            "type": "integer",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-skills-item-response": {
        "type": "object",
        "properties": {
          "SectionName": {
            "type": "string",
            "description": "Section name of the skill in the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "Skill": {
            "type": "string",
            "description": "Name of the skill in the requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails-workLocation-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "type": "string",
            "description": "Address line 1 of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "type": "string",
            "description": "Address line 2 of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "type": "string",
            "description": "Address line 3 of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "type": "string",
            "description": "Address line 4 of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Building": {
            "type": "string",
            "description": "Building of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Country": {
            "type": "string",
            "description": "Country of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "string",
            "description": "Latitude of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Location ID of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationName": {
            "type": "string",
            "description": "Location name of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "PostalCode": {
            "type": "string",
            "description": "Postal code of work locations  in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Region1": {
            "type": "string",
            "description": "Region 1 of work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Region2": {
            "type": "string",
            "description": "Region 2 of work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Region3": {
            "type": "string",
            "description": "Region 3 of work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "TownOrCity": {
            "type": "string",
            "description": "Town or city of work locations in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitionDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitionDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingICEJobRequisitionDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobRequisitionDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingICEJobRequisitionDetails-item-response": {
        "type": "object",
        "properties": {
          "ApplyWhenNotPostedFlag": {
            "type": "boolean",
            "description": "Indicates whether candidates can apply to the job requisition when it's not posted.",
            "nullable": true,
            "x-queryable": true
          },
          "BeFirstToApplyFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.",
            "nullable": true,
            "x-queryable": true
          },
          "BusinessUnit": {
            "type": "integer",
            "description": "Business unit in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "Category": {
            "type": "string",
            "description": "Category in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "ContentLocale": {
            "type": "string",
            "description": "Locale of the content in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "ContractType": {
            "type": "string",
            "description": "Type of contract in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "Department": {
            "type": "integer",
            "description": "Department in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "DomesticTravelRequired": {
            "type": "string",
            "description": "Indicates whether domestic travel is required in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "GeographyNodeId": {
            "type": "integer",
            "description": "Geography node ID in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "HiringManager": {
            "type": "integer",
            "description": "Hiring manager in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "HotJobFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition is considered a hot job.",
            "nullable": true,
            "x-queryable": true
          },
          "Id": {
            "type": "string",
            "description": "ID in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "IntCorporateDescriptionStr": {
            "type": "string",
            "description": "Internal corporate description in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "IntOrganizationDescriptionStr": {
            "type": "string",
            "description": "Internal organization description in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalContactEmail": {
            "type": "string",
            "description": "Internal email of the candidate in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalContactName": {
            "type": "string",
            "description": "Internal contact name of the candidate in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalDescriptionStr": {
            "type": "string",
            "description": "Internal description string in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalPostedEndDate": {
            "type": "string",
            "description": "End date of the internal posting in the job requisition details.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "InternalPostedStartDate": {
            "type": "string",
            "description": "Start date of the internal posting in the job requisition details.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "InternalQualificationsStr": {
            "type": "string",
            "description": "Internal qualifications string in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "InternalResponsibilitiesStr": {
            "type": "string",
            "description": "Internal responsibilities string in the job requisition details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalShortDescriptionStr": {
            "type": "string",
            "description": "Internal short description string in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "InternationalTravelRequired": {
            "type": "string",
            "description": "Indicates whether international travel is required in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobFamilyId": {
            "type": "integer",
            "description": "Job family ID in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobFunctionCode": {
            "type": "string",
            "description": "Job function code in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobGrade": {
            "type": "string",
            "description": "Job grade in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobLevel": {
            "type": "string",
            "description": "Job level in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobSchedule": {
            "type": "string",
            "description": "Job schedule in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobShift": {
            "type": "string",
            "description": "Job shift in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "JobType": {
            "type": "string",
            "description": "Job type in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "LegalEmployer": {
            "type": "integer",
            "description": "Legal employer in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "NumberOfOpenings": {
            "type": "string",
            "description": "Number of openings in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "ObjectVerNumberProfile": {
            "type": "string",
            "description": "Object version number assigned to the profile in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "Organization": {
            "type": "integer",
            "description": "Organization in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherRequisitionTitle": {
            "type": "string",
            "description": "Other title in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLocation": {
            "type": "string",
            "description": "Primary location in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLocationCountry": {
            "type": "string",
            "description": "Country of the primary location in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionType": {
            "type": "string",
            "description": "Requisition type in the job requisition details.",
            "nullable": true,
            "x-queryable": true
          },
          "StudyLevel": {
            "type": "string",
[...]
