{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Journeys",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/journeys/{JourneyId}/action/duplicateJourney": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Duplicate a journey template",
        "description": "Duplicates a selected journey template.",
        "operationId": "do_duplicateJourney_journeys",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "journeyDetails": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Journey details of the duplicated journey.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Search response returned for a duplicated journey template query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Search response returned for a duplicated journey template query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-{JourneyId}-action-duplicateJourney-post",
        "x-filename-id": "journeys-journeyid-action-duplicatejourney-post"
      }
    },
    "/journeys/action/contextualActionLabel": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Get a contextual action in a journey template",
        "description": "Creates actions for contextual journey templates.",
        "operationId": "doall_contextualActionLabel_journeys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Context": {
                    "type": "string",
                    "description": "Context of a journey template.",
                    "nullable": true
                  },
                  "ContextualAction": {
                    "type": "string",
                    "description": "Contextual action in a journey template.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the journey template context."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the journey template context."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-action-contextualActionLabel-post",
        "x-filename-id": "journeys-action-contextualactionlabel-post"
      }
    },
    "/journeys/action/findPopularJourneys": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Find popular development journeys",
        "description": "Finds popular development journeys for the logged in user.",
        "operationId": "doall_findPopularJourneys_journeys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subCategory": {
                    "type": "string",
                    "description": "Subcategory for the popular journeys result limit.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit for popular journeys result fetch size.",
                    "nullable": true
                  },
                  "category": {
                    "type": "string",
                    "description": "Category for the popular journeys result limit.",
                    "nullable": true
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the popular journey search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for popular journeys query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for popular journeys query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-action-findPopularJourneys-post",
        "x-filename-id": "journeys-action-findpopularjourneys-post"
      }
    },
    "/journeys/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Find an assigned journey",
        "description": "Finds an assigned journey based on the search criteria.",
        "operationId": "doall_findByAdvancedSearchQuery_journeys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the assigned journey result limit.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the assigned journey.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit for assigned journey result fetch size.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the assigned journey keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the assigned journey search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the assigned journey search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the assigned journey search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query for an assigned journey is auto completed. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for an assigned journey query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for an assigned journey query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "journeys-action-findbyadvancedsearchquery-post"
      }
    },
    "/journeys/action/uploadImage": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Upload image",
        "description": "Upload image for a journey template.",
        "operationId": "doall_uploadImage_journeys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters of the image.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for an uploaded image query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for an uploaded image query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-action-uploadImage-post",
        "x-filename-id": "journeys-action-uploadimage-post"
      }
    },
    "/journeys": {
      "get": {
        "tags": [
          "Journeys"
        ],
        "summary": "Get all journey templates",
        "operationId": "getall_journeys",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AccessLevel; string; Access level of a journey template.</li><li>AccessLevelMeaning; string; Access level meaning of a journey template.</li><li>AllocationCriteriaMeaning; string; Meaning of assignment criteria.</li><li>AssignedContentType; string; Content type of the notification when a journey is assigned.</li><li>Category; string; Category code for the event. Values are from ORA_PER_ONB_CONTENT_SBTYP_EVNT lookup. For example, Insight.</li><li>Code; string; Code for the journey template.</li><li>CompletionCriteriaMeaning; string; Meaning of completion criteria.</li><li>Context; string; Context for a journey.</li><li>ContextualAction; string; Transaction flow for which the contextual journey template is applicable.</li><li>CountryCode; string; Code of the country for which the journey template is applicable.</li><li>DisplayType; string; Display type of the guided journey.</li><li>FavouriteFlag; boolean; Indicates whether the journey is marked as a favorite.</li><li>ForceCompletedContentType; string; Content type of the notification when a journey is force completed.</li><li>JourneyId; integer; Primary key of the journey template.</li><li>Level; string; Level of a journey template.</li><li>LevelMeaning; string; Meaning of journey template level.</li><li>LevelValue; integer; Value of journey template level such as global or personal.</li><li>Name; string; Name of the journey task.</li><li>ObjectReferenceId; integer; Reference identifier of the journey template object.</li><li>Status; string; Code for the task status.</li><li>SubCategory; string; Subcategory of the worker journey.</li><li>SubjectType; string; Type of the subject of the journey template.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all journey templates. <br>Finder Variables <ul><li>JourneyId; integer;  Finds all journey templates that match the primary key specified. </li></ul></li><li>findAssignableContextualJourneys Finds all contextual journeys assigned to workers. <br>Finder Variables <ul><li>Context; string;  Filter attribute to retrieve contextual journeys based on context. </li><li>ContextualAction; string;  Filter attribute to retrieve contextual journeys based on the transaction flow. </li><li>SubjectAssignmentId; integer;  Filter attribute to retrieve contextual journeys based on assignment identifier. </li><li>SubjectPersonId; integer;  Filter attribute to retrieve contextual journeys based on person identifier. </li></ul></li><li>findAssignableJourneys Finds all active assignable journey templates. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journeys templates. </li><li>CodeFilter; string;  Filter attribute to retrieve journeys based on code. </li><li>ExcludeGlobal; string;  Finds all journeys excluding global journeys. </li><li>ExcludePersonal; string;  Finds all journeys excluding personal journeys. </li><li>ExcludeRecurring; string;  Finds all journeys excluding recurring journeys. </li><li>Facets; string;  Facet names to group search results for journey templates. </li><li>FilterAttributes; string;  Filter attribute to retrieve journeys. </li><li>LevelFilter; string;  Filter attribute to retrieve journeys based on journey level. </li><li>SearchTerms; string;  Search criteria to find journeys assigned to workers. </li><li>SubCategoryFilter; string;  Filter attribute to retrieve journeys based on subcategory. </li></ul></li><li>findByWord Finds all journeys that match the specified criteria. <br>Finder Variables <ul><li>CategoryFilter; string;  Filter attribute to retrieve journeys based on category. </li><li>ExcludePersonal; string;  Finds all journeys excluding personal journeys. </li><li>FilterAttributes; string;  Filter attribute to retrieve journeys. </li><li>SearchTerms; string;  Search criteria to find journeys. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all journey templates.",
                "properties": {
                  "JourneyId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds all journey templates that match the primary key specified.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findAssignableContextualJourneys",
                "description": "Finds all contextual journeys assigned to workers.",
                "title": "findAssignableContextualJourneys",
                "properties": {
                  "Context": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on context.",
                    "type": "string"
                  },
                  "SubjectPersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on person identifier.",
                    "type": "integer"
                  },
                  "SubjectAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on assignment identifier.",
                    "type": "integer"
                  },
                  "ContextualAction": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on the transaction flow.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findAssignableJourneys",
                "description": "Finds all active assignable journey templates.",
                "title": "findAssignableJourneys",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys.",
                    "type": "string"
                  },
                  "LevelFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on journey level.",
                    "type": "string"
                  },
                  "SubCategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on subcategory.",
                    "type": "string"
                  },
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journey templates.",
                    "type": "string"
                  },
                  "ExcludeRecurring": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all journeys excluding recurring journeys.",
                    "type": "string"
                  },
                  "CodeFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on code.",
                    "type": "string"
                  },
                  "ExcludePersonal": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all journeys excluding personal journeys.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journeys assigned to workers.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys templates.",
                    "type": "string"
                  },
                  "ExcludeGlobal": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all journeys excluding global journeys.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all journeys that match the specified criteria.",
                "title": "findByWord",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys.",
                    "type": "string"
                  },
                  "ExcludePersonal": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all journeys excluding personal journeys.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journeys.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on category.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeys"
                }
              }
            },
            "links": {
              "defaultProperties": {
                "operationRef": "#/paths/~1journeys~1action~1defaultProperties/post",
                "description": "Creates default properties of a journey template."
              },
              "findPopularJourneys": {
                "operationRef": "#/paths/~1journeys~1action~1findPopularJourneys/post",
                "description": "Finds popular development journeys for the logged in user."
              },
              "defaultTaskTypeProperties": {
                "operationRef": "#/paths/~1journeys~1action~1defaultTaskTypeProperties/post",
                "description": "Creates default properties of a task type in a journey template."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1journeys~1action~1uploadImage/post",
                "description": "Upload image for a journey template."
              },
              "contextualActionLabel": {
                "operationRef": "#/paths/~1journeys~1action~1contextualActionLabel/post",
                "description": "Creates actions for contextual journey templates."
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1journeys~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds an assigned journey based on the search criteria."
              }
            }
          }
        },
        "x-internal-id": "journeys-get",
        "x-filename-id": "journeys-get"
      },
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Create a journey template",
        "operationId": "create_journeys",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/journeys-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeys-item-response"
                }
              }
            },
            "links": {
              "allStepTasks": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1allStepTasks/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The allStepTasks resource is a child of the journeys resource. It includes all the tasks in the parent journey template."
              },
              "toggleFavourite": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1action~1toggleFavourite/post",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "Finds favorite journeys for the logged in user."
              },
              "notes": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1notes/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The notes resource is a child of the journeys resource. It includes all the notes associated with the parent journey template."
              },
              "taskTypes": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1taskTypes/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The taskTypes resource is the child of the journeys resource. It includes all the task types associated with the parent journey template."
              },
              "duplicateJourney": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1action~1duplicateJourney/post",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "Duplicates a selected journey template."
              },
              "contacts": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1contacts/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The contacts resource is a child of the journeys resource. It includes a list of contacts associated with the parent journey template."
              },
              "events": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1events/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The events resource is a child of the journeys resource. It includes all events associated with the parent journey template."
              },
              "properties": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1properties/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The properties resource is the child of the journeys resource. It includes all the journey properties associated with the parent journey template."
              },
              "tasks": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1tasks/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The tasks resource is a child of the journeys resource. It includes all the tasks in the parent journey template."
              }
            }
          }
        },
        "x-internal-id": "journeys-post",
        "x-filename-id": "journeys-post"
      }
    },
    "/journeys/action/defaultProperties": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Get a default journey template property",
        "description": "Creates default properties of a journey template.",
        "operationId": "doall_defaultProperties_journeys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the journey template properties."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the journey template properties."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-action-defaultProperties-post",
        "x-filename-id": "journeys-action-defaultproperties-post"
      }
    },
    "/journeys/action/defaultTaskTypeProperties": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Get a default task type property in a journey template",
        "description": "Creates default properties of a task type in a journey template.",
        "operationId": "doall_defaultTaskTypeProperties_journeys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Type": {
                    "type": "string",
                    "description": "Unique identifier of the journey template task type properties.",
                    "nullable": true
                  },
                  "SubType": {
                    "type": "string",
                    "description": "Default properties of a task subtype in a journey template.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the journey template task subtype properties."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the journey template task subtype properties."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-action-defaultTaskTypeProperties-post",
        "x-filename-id": "journeys-action-defaulttasktypeproperties-post"
      }
    },
    "/journeys/{JourneyId}": {
      "get": {
        "tags": [
          "Journeys"
        ],
        "summary": "Get a journey template",
        "operationId": "get_journeys",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeys-item-response"
                }
              }
            },
            "links": {
              "allStepTasks": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1allStepTasks/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The allStepTasks resource is a child of the journeys resource. It includes all the tasks in the parent journey template."
              },
              "toggleFavourite": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1action~1toggleFavourite/post",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "Finds favorite journeys for the logged in user."
              },
              "notes": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1notes/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The notes resource is a child of the journeys resource. It includes all the notes associated with the parent journey template."
              },
              "taskTypes": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1taskTypes/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The taskTypes resource is the child of the journeys resource. It includes all the task types associated with the parent journey template."
              },
              "duplicateJourney": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1action~1duplicateJourney/post",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "Duplicates a selected journey template."
              },
              "contacts": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1contacts/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The contacts resource is a child of the journeys resource. It includes a list of contacts associated with the parent journey template."
              },
              "events": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1events/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The events resource is a child of the journeys resource. It includes all events associated with the parent journey template."
              },
              "properties": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1properties/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The properties resource is the child of the journeys resource. It includes all the journey properties associated with the parent journey template."
              },
              "tasks": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1tasks/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The tasks resource is a child of the journeys resource. It includes all the tasks in the parent journey template."
              }
            }
          }
        },
        "x-internal-id": "journeys-{JourneyId}-get",
        "x-filename-id": "journeys-journeyid-get"
      },
      "delete": {
        "tags": [
          "Journeys"
        ],
        "summary": "Delete a journey template",
        "operationId": "delete_journeys",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "journeys-{JourneyId}-delete",
        "x-filename-id": "journeys-journeyid-delete"
      },
      "patch": {
        "tags": [
          "Journeys"
        ],
        "summary": "Update a journey template",
        "operationId": "update_journeys",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/journeys-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeys-item-response"
                }
              }
            },
            "links": {
              "allStepTasks": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1allStepTasks/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The allStepTasks resource is a child of the journeys resource. It includes all the tasks in the parent journey template."
              },
              "toggleFavourite": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1action~1toggleFavourite/post",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "Finds favorite journeys for the logged in user."
              },
              "notes": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1notes/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The notes resource is a child of the journeys resource. It includes all the notes associated with the parent journey template."
              },
              "taskTypes": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1taskTypes/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The taskTypes resource is the child of the journeys resource. It includes all the task types associated with the parent journey template."
              },
              "duplicateJourney": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1action~1duplicateJourney/post",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "Duplicates a selected journey template."
              },
              "contacts": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1contacts/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The contacts resource is a child of the journeys resource. It includes a list of contacts associated with the parent journey template."
              },
              "events": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1events/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The events resource is a child of the journeys resource. It includes all events associated with the parent journey template."
              },
              "properties": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1properties/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The properties resource is the child of the journeys resource. It includes all the journey properties associated with the parent journey template."
              },
              "tasks": {
                "operationRef": "#/paths/~1journeys~1{JourneyId}~1child~1tasks/get",
                "parameters": {
                  "JourneyId": "$request.path.JourneyId"
                },
                "description": "The tasks resource is a child of the journeys resource. It includes all the tasks in the parent journey template."
              }
            }
          }
        },
        "x-internal-id": "journeys-{JourneyId}-patch",
        "x-filename-id": "journeys-journeyid-patch"
      }
    },
    "/journeys/{JourneyId}/action/toggleFavourite": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Find favorite journeys",
        "description": "Finds favorite journeys for the logged in user.",
        "operationId": "do_toggleFavourite_journeys",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeys-{JourneyId}-action-toggleFavourite-post",
        "x-filename-id": "journeys-journeyid-action-togglefavourite-post"
      }
    }
  },
  "components": {
    "schemas": {
      "journeys": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/journeys-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "journeys-item-response": {
        "type": "object",
        "properties": {
          "AccessLevel": {
            "maxLength": 30,
            "type": "string",
            "description": "Access level of a journey template.",
            "nullable": true,
            "x-queryable": true
          },
          "AccessLevelMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Access level meaning of a journey template.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "AllocationControlCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code to control the journey allocation.",
            "nullable": false,
            "readOnly": true,
            "default": "ORA_NO_CONTROL",
            "x-queryable": false
          },
          "AllocationCriteria": {
            "title": "Allocation Criteria",
            "maxLength": 30,
            "type": "string",
            "description": "Criteria to determine journey assignment.",
            "nullable": true,
            "default": "ORA_CHK_ALLOCATION_DT",
            "x-queryable": false
          },
          "AllocationCriteriaMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of assignment criteria.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "AllocationOffsetDays": {
            "title": "Days for Initiation",
            "type": "integer",
            "description": "Number of days to consider for initiating journey assignment.",
            "format": "int32",
            "nullable": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "precision": 5
            }
          },
          "AllowAssignToDirectsFlag": {
            "type": "boolean",
            "description": "Indicates whether journey can be assigned to direct reports.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowAssignToListFlag": {
            "type": "boolean",
            "description": "Indicates whether the journey can be assigned to workers in a filtered list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowAssignToOrganizationFlag": {
            "type": "boolean",
            "description": "Indicates whether the journey can be assigned to employees in an organization.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowAssignToPersonFlag": {
            "type": "boolean",
            "description": "Indicates whether journey can be assigned to direct reports.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowAssignToSelfFlag": {
            "type": "boolean",
            "description": "Indicates whether journey can be assigned to direct reports.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ArchiveOffsetDays": {
            "title": "Archive After Months",
            "type": "integer",
            "description": "Number of days to consider for archiving journeys.",
            "format": "int32",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 3
            }
          },
          "AssignedContentDescription": {
            "type": "string",
            "description": "Content description of the notification when a journey is assigned.",
            "nullable": true,
            "x-queryable": false
          },
          "AssignedContentTitle": {
            "type": "string",
            "description": "Content title of the notification when a journey is assigned.",
            "nullable": true,
            "x-queryable": false
          },
          "AssignedContentType": {
            "maxLength": 30,
            "type": "string",
            "description": "Content type of the notification when a journey is assigned.",
            "nullable": true,
            "default": "20_ALERT_TEMPLATE",
            "x-queryable": true
          },
          "AssignedFeedFlag": {
            "type": "boolean",
            "description": "Indicates whether the atom feed is enabled when a journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "AssignedTemplateId": {
            "type": "integer",
            "description": "Primary key or unique identifier of the assigned notification template.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "BackgroundImage": {
            "type": "string",
            "description": "Background image displayed on the journey page.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false,
              "dependencies": [
                "RawImageContentId"
              ]
            }
          },
          "BackgroundImageFileName": {
            "maxLength": 2048,
            "type": "string",
            "description": "File name of the background image.",
            "nullable": true,
            "x-queryable": false
          },
          "BackgroundImageSource": {
            "type": "string",
            "description": "Source of the background image.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "BackgroundImageURL"
              ]
            }
          },
          "BackgroundImageURL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the image displayed on the journey details page.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "BackgroundThumbnailURL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the image displayed on the journey card.",
            "nullable": true,
            "x-queryable": false
          },
          "Category": {
            "title": "Category",
            "maxLength": 60,
            "type": "string",
            "description": "Category code for the event. Values are from ORA_PER_ONB_CONTENT_SBTYP_EVNT lookup. For example, Insight.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CategoryMeaning": {
            "maxLength": 120,
            "type": "string",
            "description": "Meaning of the journey category.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Code": {
            "maxLength": 240,
            "type": "string",
            "description": "Code for the journey template.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CombinedNotificationTemplateId": {
            "type": "integer",
            "description": "Primary key or unique identifier of the combined notification template.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedFeedFlag": {
            "type": "boolean",
            "description": "Indicates whether the atom feed is enabled when a journey is completed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "CompletionCriteria": {
            "title": "Completion Criteria",
            "maxLength": 30,
            "type": "string",
            "description": "Completion criteria to complete a journey.",
            "nullable": true,
            "default": "ORA_CHK_MAND_TASK_COMPLETE",
            "x-queryable": false
          },
          "CompletionCriteriaMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of completion criteria.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CompletionMessage": {
            "maxLength": 720,
            "type": "string",
            "description": "Message displayed on journey completion.",
            "nullable": true,
            "x-queryable": false
          },
          "CompletionOffsetDays": {
            "title": "Days for Completion",
            "type": "integer",
            "description": "Number of offset days to consider for journey completion.",
            "format": "int32",
            "nullable": true,
            "default": 0,
            "x-queryable": false,
            "x-hints": {
              "precision": 5
            }
          },
          "Context": {
            "maxLength": 240,
            "type": "string",
            "description": "Context for a journey.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContextualAction": {
            "maxLength": 240,
            "type": "string",
            "description": "Transaction flow for which the contextual journey template is applicable.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Territory Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the country for which the journey template is applicable.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CountryCode": {
            "title": "Legislation Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the country for which the journey template is applicable.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the journey template.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Date on which the journey template was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CroppedBackgroundImage": {
            "type": "string",
            "description": "Cropped background image displayed on the journey page.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false,
              "dependencies": [
                "BackgroundImageContentId"
              ]
            }
          },
          "DateFrom": {
            "type": "string",
            "description": "Date from which the journey template is active.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DateTo": {
            "type": "string",
            "description": "Date until which the journey template is active.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DeletedFeedFlag": {
            "type": "boolean",
            "description": "Indicates whether the atom feed is enabled when a journey is deleted.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 360,
            "type": "string",
            "description": "Description of the task.",
            "nullable": true,
            "x-queryable": false
          },
          "DisplayFeatures": {
            "type": "string",
            "description": "Display features of a journey template.",
            "nullable": true,
            "x-queryable": false
          },
          "DisplayNameFormat": {
            "maxLength": 240,
            "type": "string",
            "description": "Display name format of a journey template.",
            "nullable": true,
            "x-queryable": false
          },
          "DisplayType": {
            "maxLength": 30,
            "type": "string",
            "description": "Display type of the guided journey.",
            "nullable": true,
            "x-queryable": true
          },
          "FavouriteFlag": {
            "maxLength": 4,
            "type": "boolean",
[...]
