{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Journeys/All Step Tasks",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/journeys/{JourneyId}/child/allStepTasks/{JourneyTaskId}": {
      "get": {
        "tags": [
          "Journeys/All Step Tasks"
        ],
        "summary": "Get a step task in a journey template",
        "operationId": "get_journeys-allStepTasks",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "JourneyTaskId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the journey task.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeys-allStepTasks-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "journeys-{JourneyId}-child-allStepTasks-{JourneyTaskId}-get",
        "x-filename-id": "journeys-journeyid-child-allsteptasks-journeytaskid-get"
      }
    },
    "/journeys/{JourneyId}/child/allStepTasks": {
      "get": {
        "tags": [
          "Journeys/All Step Tasks"
        ],
        "summary": "Get all step tasks in a journey template",
        "operationId": "getall_journeys-allStepTasks",
        "parameters": [
          {
            "name": "JourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key of the journey template.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>JourneyTaskId; integer; Unique identifier of the journey task.</li><li>Name; string; Name of the journey task.</li><li>ParentJourneyId; integer; Identifier of the parent journey. In case of enterprise onboarding checklist this will point to the enterprise onboarding checklist in other cases it will be null.</li><li>ParentJourneyName; string; Name of the parent journey template.</li><li>RequiredFlag; boolean; Indicates whether the task is mandatory or optional. Valid values are Yes and No. Default is No.</li><li>StageId; integer; Unique identifier of the journey step.</li><li>StageName; string; Name of the journey step.</li><li>StageSequence; number; Sequence of the journey step.</li><li>Status; string; Code for the task status.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all journey step tasks that match the primary key specified. <br>Finder Variables <ul><li>JourneyTaskId; integer;  Unique identifier of the journey step task. </li></ul></li><li>findActiveTasks Finds all journey tasks in a journey template. <br>Finder Variables <ul><li>FilterAttributes; string;  Filter attribute to retrieve journey tasks. </li><li>SearchTerms; string;  Search criteria to find journey tasks assigned to workers. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all journey step tasks that match the primary key specified.",
                "properties": {
                  "JourneyTaskId": {
                    "nullable": true,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the journey step task.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findActiveTasks",
                "description": "Finds all journey tasks in a journey template.",
                "title": "findActiveTasks",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journey tasks.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journey tasks assigned to workers.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeys-allStepTasks"
                }
              }
            }
          }
        },
        "x-internal-id": "journeys-{JourneyId}-child-allStepTasks-get",
        "x-filename-id": "journeys-journeyid-child-allsteptasks-get"
      }
    }
  },
  "components": {
    "schemas": {
      "journeys-allStepTasks-item-response": {
        "type": "object",
        "properties": {
          "ActionURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "The URL associated with the task that's entered on the setup screen. To retrieve a navigable URL, use the getNavigationURL custom method of the resource.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowAttachmentFlag": {
            "type": "boolean",
            "description": "Indicates whether attachments can be added to the task. Valid values are Yes or No. The default is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowCommentFlag": {
            "type": "boolean",
            "description": "Indicates whether comments can be added to the task. Valid values are Yes or No. The default is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowNoteTitleFlag": {
            "type": "boolean",
            "description": "Indicates whether the Notes title can be added. Valid values are Yes or No. The default is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowNotesContentFlag": {
            "type": "boolean",
            "description": "Indicates whether rich content can be added for notes. Valid values are Yes or No. The default is Yes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DelayDuration": {
            "type": "integer",
            "description": "Delay duration for the task.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "DelayDurationUOM": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure used in specifying delaying the duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DelayDurationUOMMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of unit of measure used in delay duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DependentTaskId": {
            "type": "integer",
            "description": "Primary key or unique identifier of the dependent task.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "DependentTaskName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the dependent task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Description": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "GuidedJourneyCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code of the guided journey.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "GuidedJourneyTaskCodes": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code of the guided journey task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "JourneyTaskId": {
            "type": "integer",
            "description": "Unique identifier of the journey task.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "Name": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the journey task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NoteTitle": {
            "maxLength": 150,
            "type": "string",
            "description": "Title of the notes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Notes": {
            "type": "string",
            "description": "Notes for the task. The notes text is stored as a CLOB object. To use in the payload, the text should be converted to a base64 encoded string using either a conversion tool or a prerequisite script.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OpenInSamePageFlag": {
            "type": "boolean",
            "description": "Indicates whether the external URL should open in the existing page or a new page. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OpenReportInSamePageFlag": {
            "type": "boolean",
            "description": "Indicates whether the report should open in the existing page or a new page. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OwnerType": {
            "maxLength": 30,
            "type": "string",
            "description": "Task owner type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OwnerTypeMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Task owner type meaning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ParentJourneyId": {
            "type": "integer",
            "description": "Identifier of the parent journey. In case of enterprise onboarding checklist this will point to the enterprise onboarding checklist in other cases it will be null.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ParentJourneyName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the parent journey template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PerformerType": {
            "maxLength": 30,
            "type": "string",
            "description": "Task performer type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PerformerTypeMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Task performer type meaning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "Internal identifier of the questionnaire.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 30
            }
          },
          "RequiredFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the task is mandatory or optional. Valid values are Yes and No. Default is No.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Sequence": {
            "type": "number",
            "description": "Task display ordering sequence. Default is 1.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "StageId": {
            "type": "integer",
            "description": "Unique identifier of the journey step.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StageName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the journey step.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StageSequence": {
            "type": "number",
            "description": "Sequence of the journey step.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the task status.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Status of the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SubType": {
            "maxLength": 30,
            "type": "string",
            "description": "Task action subtype code. Available only for action types I-9 and Electronic Signature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "SubTypeMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Task action subtype. Available only for action types I9 and Electronic Signature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TargetDuration": {
            "type": "integer",
            "description": "Target duration for the task.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "TargetDurationUOM": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure for the target duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TargetDurationUOMMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the unit of measure used in the target duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Type": {
            "maxLength": 30,
            "type": "string",
            "description": "Task action type code.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TypeMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Task action type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "journeys-allStepTasks": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/journeys-allStepTasks-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}