{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Journey Allocations",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/journeyAllocations/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Journey Allocations"
        ],
        "summary": "Find an assigned journey",
        "description": "Finds an assigned journey based on the search criteria.",
        "operationId": "doall_findByAdvancedSearchQuery_journeyAllocations",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the assigned journey result limit.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the assigned journey.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limit for assigned journey result fetch size.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the assigned journey keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the assigned journey search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the assigned journey search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the assigned journey search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query for an assigned journey is auto completed. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for an assigned journey query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for an assigned journey query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "journeyAllocations-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "journeyallocations-action-findbyadvancedsearchquery-post"
      }
    },
    "/journeyAllocations/{journeyAllocationsUniqID}": {
      "get": {
        "tags": [
          "Journey Allocations"
        ],
        "summary": "Get a journey assignment",
        "operationId": "get_journeyAllocations",
        "parameters": [
          {
            "name": "journeyAllocationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Journey Allocations resource and used to uniquely identify an instance of Journey Allocations. The client should not generate the hash key value. Instead, the client should query on the Journey Allocations collection resource in order to navigate to a specific instance of Journey Allocations to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeyAllocations-item-response"
                }
              }
            },
            "links": {
              "workerCounts": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1workerCounts/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The count resource is the child of the journeyAllocations resource. It includes a summary of the count of workers in the journey allocation."
              },
              "criteria": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1criteria/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The criteria resource is the child of the journeyAllocations resource. It includes all the various allocation criteria for a journey."
              },
              "workers": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1workers/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The workers resource is the child of the journeyAllocations resource. It includes all the workers matching the allocation criteria."
              }
            }
          }
        },
        "x-internal-id": "journeyAllocations-{journeyAllocationsUniqID}-get",
        "x-filename-id": "journeyallocations-journeyallocationsuniqid-get"
      },
      "delete": {
        "tags": [
          "Journey Allocations"
        ],
        "summary": "Delete a journey assignment",
        "operationId": "delete_journeyAllocations",
        "parameters": [
          {
            "name": "journeyAllocationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Journey Allocations resource and used to uniquely identify an instance of Journey Allocations. The client should not generate the hash key value. Instead, the client should query on the Journey Allocations collection resource in order to navigate to a specific instance of Journey Allocations to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "journeyAllocations-{journeyAllocationsUniqID}-delete",
        "x-filename-id": "journeyallocations-journeyallocationsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Journey Allocations"
        ],
        "summary": "Update a journey assignment",
        "operationId": "update_journeyAllocations",
        "parameters": [
          {
            "name": "journeyAllocationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Journey Allocations resource and used to uniquely identify an instance of Journey Allocations. The client should not generate the hash key value. Instead, the client should query on the Journey Allocations collection resource in order to navigate to a specific instance of Journey Allocations to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/journeyAllocations-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeyAllocations-item-response"
                }
              }
            },
            "links": {
              "workerCounts": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1workerCounts/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The count resource is the child of the journeyAllocations resource. It includes a summary of the count of workers in the journey allocation."
              },
              "criteria": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1criteria/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The criteria resource is the child of the journeyAllocations resource. It includes all the various allocation criteria for a journey."
              },
              "workers": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1workers/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The workers resource is the child of the journeyAllocations resource. It includes all the workers matching the allocation criteria."
              }
            }
          }
        },
        "x-internal-id": "journeyAllocations-{journeyAllocationsUniqID}-patch",
        "x-filename-id": "journeyallocations-journeyallocationsuniqid-patch"
      }
    },
    "/journeyAllocations": {
      "get": {
        "tags": [
          "Journey Allocations"
        ],
        "summary": "Get all journey assignments",
        "operationId": "getall_journeyAllocations",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>InitiatorPersonId; integer; Unique identifier of the person who initiated the journey assignment.</li><li>JourneyAllocationId; integer; Unique identifier of the journey assignment.</li><li>JourneyCategory; string; Category of the journey.</li><li>JourneyId; integer; Unique identifier of the journey.</li><li>JourneyName; string; Name of the journey.</li><li>SourceMeaning; string; Source meaning of journey assignment.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all assigned journeys that match the primary key specified. <br>Finder Variables <ul><li>JourneyAllocationId; integer;  Unique identifier of the assigned journey. </li></ul></li><li>findByWord Finds all assigned journeys. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter assigned journeys by journey category. </li><li>Facets; string;  Facet names to group search results for assigned journeys. </li><li>SearchTerms; string;  Search criteria to find assigned journeys. </li><li>StatusFilter; string;  Attribute to filter assigned journeys by journey status. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all assigned journeys that match the primary key specified.",
                "properties": {
                  "JourneyAllocationId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the assigned journey.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all assigned journeys.",
                "title": "findByWord",
                "properties": {
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for assigned journeys.",
                    "type": "string"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter assigned journeys by journey status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find assigned journeys.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter assigned journeys by journey category.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeyAllocations"
                }
              }
            },
            "links": {
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1journeyAllocations~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds an assigned journey based on the search criteria."
              }
            }
          }
        },
        "x-internal-id": "journeyAllocations-get",
        "x-filename-id": "journeyallocations-get"
      },
      "post": {
        "tags": [
          "Journey Allocations"
        ],
        "summary": "Create a journey assignment",
        "operationId": "create_journeyAllocations",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/journeyAllocations-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/journeyAllocations-item-response"
                }
              }
            },
            "links": {
              "workerCounts": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1workerCounts/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The count resource is the child of the journeyAllocations resource. It includes a summary of the count of workers in the journey allocation."
              },
              "criteria": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1criteria/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The criteria resource is the child of the journeyAllocations resource. It includes all the various allocation criteria for a journey."
              },
              "workers": {
                "operationRef": "#/paths/~1journeyAllocations~1{journeyAllocationsUniqID}~1child~1workers/get",
                "parameters": {
                  "journeyAllocationsUniqID": "$request.path.journeyAllocationsUniqID"
                },
                "description": "The workers resource is the child of the journeyAllocations resource. It includes all the workers matching the allocation criteria."
              }
            }
          }
        },
        "x-internal-id": "journeyAllocations-post",
        "x-filename-id": "journeyallocations-post"
      }
    }
  },
  "components": {
    "schemas": {
      "journeyAllocations-item-response": {
        "type": "object",
        "properties": {
          "AssignedDate": {
            "type": "string",
            "description": "Date when the journey was assigned.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Comments": {
            "maxLength": 4000,
            "type": "string",
            "description": "Comments provided for the journey assignment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the journey assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the journey assignment is created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "EndDate": {
            "type": "string",
            "description": "Date when the journey assignment ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "InitiationDate": {
            "type": "string",
            "description": "Date when the journey allocation is initiated.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "InitiatorDisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the person who initiated the journey assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InitiatorPersonId": {
            "type": "integer",
            "description": "Unique identifier of the person who initiated the journey assignment.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "InitiatorPersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person who initiated the journey assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "JourneyAllocationId": {
            "type": "integer",
            "description": "Unique identifier of the journey assignment.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "JourneyCategory": {
            "title": "Category",
            "maxLength": 60,
            "type": "string",
            "description": "Category of the journey.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "JourneyCategoryMeaning": {
            "type": "string",
            "description": "Meaning of journey category.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "JourneyId": {
            "type": "integer",
            "description": "Unique identifier of the journey.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "JourneyName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the journey.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date on which the journey assignment was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the journey assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Name": {
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the activity.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PopulationCount": {
            "type": "integer",
            "description": "Number of users the journey is assigned to.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "default": -1,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 9
            }
          },
          "ProcessingStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Processing status of the journey assignment.",
            "nullable": true,
            "readOnly": true,
            "default": "ORA_PENDING",
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ProcessingStatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the processing status for an assigned journey.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Source": {
            "maxLength": 30,
            "type": "string",
            "description": "Source of journey assignment.",
            "nullable": true,
            "readOnly": true,
            "default": "ORA_MANUAL",
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "SourceMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Source meaning of journey assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "StatusCategory": {
            "maxLength": 80,
            "type": "string",
            "description": "Status category of journey assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "StatusCategoryMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Status category meaning of journey assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SubmitFlag": {
            "type": "boolean",
            "description": "Indicates whether the journey assignment is submitted. Valid values are true (enabled) and false (disabled). The default value is false (disabled).",
            "nullable": true,
            "default": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "sortable": false
            }
          },
          "criteria": {
            "title": "Criteria",
            "type": "array",
            "description": "The criteria resource is the child of the journeyAllocations resource. It includes all the various allocation criteria for a journey.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-criteria-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "workerCounts": {
            "title": "Worker Counts",
            "type": "array",
            "description": "The count resource is the child of the journeyAllocations resource. It includes a summary of the count of workers in the journey allocation.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-workerCounts-item-response"
            }
          },
          "workers": {
            "title": "Workers",
            "type": "array",
            "description": "The workers resource is the child of the journeyAllocations resource. It includes all the workers matching the allocation criteria.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-workers-item-response"
            }
          }
        }
      },
      "journeyAllocations-criteria-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier criteria in journey assignment.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "AssignmentName": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment name criteria in journey assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AssignmentNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment number criteria in journey assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the journey assignment criteria.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the journey assignment criteria is created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CriteriaCondition": {
            "maxLength": 4000,
            "type": "string",
            "description": "Condition of the criteria of the scheduled journey allocation.",
            "nullable": true,
            "x-queryable": false
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the person who provided journey assignment criteria.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ExcludeFlag": {
            "maxLength": 4,
            "type": "boolean",
            "description": "Indicates whether a journey assignment based on a criteria needs to be excluded. Valid values are true (enabled) and false (disabled). The default value is false (disabled).",
            "nullable": false,
            "readOnly": true,
            "default": false,
            "x-queryable": false
          },
          "JourneyAllocationCriteriaId": {
            "type": "integer",
            "description": "Unique identifier of the journey assignment criteria.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date on which the journey assignment criteria was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the journey assignment criteria.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ListId": {
            "type": "integer",
            "description": "List identifier of the criteria of the journey schedule allocation generated by the application.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ListName": {
            "maxLength": 200,
            "type": "string",
            "description": "Display name of the list used in the criteria of the scheduled journey allocation.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier of the person who provided the journey assignment criteria.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ProcessedFlag": {
            "maxLength": 4,
            "type": "boolean",
            "description": "Indicates whether the journey assignment based on criteria is processed. Valid values are true (enabled) and false (disabled). The default value is false (disabled).",
            "nullable": false,
            "readOnly": true,
            "default": false,
            "x-queryable": false
          },
          "Type": {
            "maxLength": 30,
            "type": "string",
            "description": "Journey assignment criteria type.",
            "nullable": false,
            "default": "ORA_PERSON",
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of type in journey assignment criteria.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "journeyAllocations-workerCounts-item-response": {
        "type": "object",
        "properties": {
          "CompletedWorkers": {
            "type": "integer",
            "description": "Count of workers for whom journey assignment completed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FailedWorkers": {
            "type": "integer",
            "description": "Count of workers for whom journey assignment failed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "JourneyAllocationId": {
            "type": "integer",
            "description": "Unique identifier of the journey assignment count.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PendingWorkers": {
            "type": "integer",
            "description": "Count of workers for whom journey assignment is pending.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TotalWorkers": {
            "type": "integer",
            "description": "Total count of workers for whom journey assignment is processed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "journeyAllocations-workers-item-response": {
        "type": "object",
        "properties": {
          "AllocationDetails": {
            "maxLength": 1000,
            "type": "string",
            "description": "Assignment details for worker to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AllocationStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Assignment status for worker to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AllocationStatusMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Assignment status meaning for worker to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier of worker to whom journey is assigned.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "AssignmentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Assignment name of worker to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AssignmentNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "Assignment number of worker to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Display name of worker to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ErrorDetails": {
            "type": "string",
            "description": "Details of error for a worker to whom journey is assigned.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "JourneyAllocationWorkerId": {
            "type": "integer",
            "description": "Unique identifier of the worker to whom journey is assigned.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier of the person to whom journey is assigned.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person to whom journey is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ProcessingStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Processing status of the journey assignment for a worker.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ProcessingStatusMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Processing status meaning of the journey assignment for a worker.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "journeyAllocations-item-patch-request": {
        "type": "object",
        "properties": {
          "EndDate": {
            "type": "string",
            "description": "Date when the journey assignment ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "criteria": {
            "title": "Criteria",
            "type": "array",
            "description": "The criteria resource is the child of the journeyAllocations resource. It includes all the various allocation criteria for a journey.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-criteria-item-patch-request"
            }
          },
          "workerCounts": {
            "title": "Worker Counts",
            "type": "array",
            "description": "The count resource is the child of the journeyAllocations resource. It includes a summary of the count of workers in the journey allocation.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-workerCounts-item-patch-request"
            }
          },
          "workers": {
            "title": "Workers",
            "type": "array",
            "description": "The workers resource is the child of the journeyAllocations resource. It includes all the workers matching the allocation criteria.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-workers-item-patch-request"
            }
          }
        }
      },
      "journeyAllocations-criteria-item-patch-request": {
        "type": "object",
        "properties": {}
      },
      "journeyAllocations-workerCounts-item-patch-request": {
        "type": "object",
        "properties": {}
      },
      "journeyAllocations-workers-item-patch-request": {
        "type": "object",
        "properties": {}
      },
      "journeyAllocations": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "journeyAllocations-item-post-request": {
        "type": "object",
        "properties": {
          "AssignedDate": {
            "type": "string",
            "description": "Date when the journey was assigned.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Comments": {
            "maxLength": 4000,
            "type": "string",
            "description": "Comments provided for the journey assignment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EndDate": {
            "type": "string",
            "description": "Date when the journey assignment ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "JourneyId": {
            "type": "integer",
            "description": "Unique identifier of the journey.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "SubmitFlag": {
            "type": "boolean",
            "description": "Indicates whether the journey assignment is submitted. Valid values are true (enabled) and false (disabled). The default value is false (disabled).",
            "nullable": true,
            "default": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "sortable": false
            }
          },
          "criteria": {
            "title": "Criteria",
            "type": "array",
            "description": "The criteria resource is the child of the journeyAllocations resource. It includes all the various allocation criteria for a journey.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-criteria-item-post-request"
            }
          },
          "workerCounts": {
            "title": "Worker Counts",
            "type": "array",
            "description": "The count resource is the child of the journeyAllocations resource. It includes a summary of the count of workers in the journey allocation.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-workerCounts-item-post-request"
            }
          },
          "workers": {
            "title": "Workers",
            "type": "array",
            "description": "The workers resource is the child of the journeyAllocations resource. It includes all the workers matching the allocation criteria.",
            "items": {
              "$ref": "#/components/schemas/journeyAllocations-workers-item-post-request"
            }
          }
        }
      },
      "journeyAllocations-criteria-item-post-request": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier criteria in journey assignment.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "CriteriaCondition": {
            "maxLength": 4000,
            "type": "string",
            "description": "Condition of the criteria of the scheduled journey allocation.",
            "nullable": true,
            "x-queryable": false
          },
          "ListId": {
            "type": "integer",
            "description": "List identifier of the criteria of the journey schedule allocation generated by the application.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier of the person who provided the journey assignment criteria.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "Type": {
            "maxLength": 30,
            "type": "string",
            "description": "Journey assignment criteria type.",
            "nullable": false,
            "default": "ORA_PERSON",
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "journeyAllocations-workerCounts-item-post-request": {
        "type": "object",
        "properties": {}
      },
      "journeyAllocations-workers-item-post-request": {
        "type": "object",
        "properties": {}
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "journeyAllocations-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/journeyAllocations-item-patch-request"
            }
          }
        }
      },
      "journeyAllocations-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/journeyAllocations-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}