{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Past Renewals/Related Learning Records",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/pastRenewals/{pastRenewalsUniqID}/child/relatedLearningRecords": {
      "get": {
        "tags": [
          "Learner Learning Records/Past Renewals/Related Learning Records"
        ],
        "summary": "Get all related assignment records",
        "operationId": "getall_learnerLearningRecords-pastRenewals-relatedLearningRecords",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pastRenewalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Past Renewals resource and used to uniquely identify an instance of Past Renewals. The client should not generate the hash key value. Instead, the client should query on the Past Renewals collection resource in order to navigate to a specific instance of Past Renewals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>actualCpeUnits; number; Continuing professional education units that the learner achieved for this assignment.</li><li>actualEffortInHours; number; Actual learner effort, in hours, to complete the related learning assignment.</li><li>actualScore; number; Actual learner score for the related learning assignment.</li><li>assignedDate; string; Learning start date, visible to the learner on various self-service learning pages.</li><li>assignedToDisplayName; string; Display name of the learning item assignee.</li><li>assignedToId; integer; Unique identifier for the learning item assignee.</li><li>assignedToNumber; string; Friendly number identifying the learning item assignee.</li><li>assignedToPersonImageURL; string; Image URL for the learning item assignee.</li><li>assignedToPersonPrimaryEmailAddress; string; Primary email address for learning item assignee.</li><li>assignedToPersonPrimaryPhoneNumber; string; Primary phone number for the learning item assignee.</li><li>assignedToType; string; Entity type for the related learning assignment assignee. Valid value is a person.</li><li>assignedToTypeMeaning; string; Description of the assigned to type.</li><li>assignerAttributionType; string; Entity type for the related learning assignment creator, such as person, specialist, or community. Valid values are defined in the AssignerToAttributionTypeLOV list.</li><li>assignerAttributionTypeMeaning; string; Description of the assigner attribution type.</li><li>assignerCommentsToLearner; string; Assigner comments to the learner made while creating the related learning assignment. It's null when there are no comments.</li><li>assignerDisplayName; string; Display name of the related learning assignment creator. For example, it's the learner for voluntary assignments, and the specialist or the Assign As alias for specialist-created assignments.</li><li>assignerId; integer; Unique identifier for the related learning assignment assigner.</li><li>assignerNumber; string; Friendly number identifying the related learning assignment assigner.</li><li>assignerPersonImageURL; string; Image URL for the person who assigned the learning item to the learner.</li><li>assignerPersonPrimaryEmailAddress; string; Email address for the learning item assigner.</li><li>assignerPersonPrimaryPhoneNumber; string; Phone number for the learning item assigner.</li><li>assignmentAttributionId; integer; Unique identifier for the related learning assignment creator.</li><li>assignmentCreatedDate; string; Date and time when the related learning assignment was created.</li><li>assignmentDetailsDeepLink; string; URL to open the related learning enrollment page directly from the browser.</li><li>assignmentDetailsEmbedLink; string; URL to embed the learning item page in the other pages. It opens the isolated learning item page without the global toolbar on the top.</li><li>assignmentDueDate; string; Due date of the learning-specialist-created assignment. The value is null for voluntary assignments.</li><li>assignmentDueInFromSystemDate; integer; Due date, in days, for the requested learning assignment.</li><li>assignmentJustification; string; Justification provided by the learner during a request, or the justification added by the specialist in the learning request details during the related assignment.</li><li>assignmentLastModifiedDate; string; Date and time when the related assignment was most recently updated.</li><li>assignmentRecordId; integer; Unique identifier for the related learning enrollment.</li><li>assignmentRecordNumber; string; Friendly number identifying the related learning enrollment in the user interface.</li><li>assignmentRelationId; integer; Unique identifier for the learning assignment relation.</li><li>assignmentRelationType; string; Type of learning assignment relation, such as previous completions that were expired by this learning enrollment and exempted learning enrollments allowing the learner to claim the credit. Valid values are defined in the AssignmentRelationTypeLOV list.</li><li>assignmentRelationTypeMeaning; string; Description of the learning assignment relation type.</li><li>assignmentStatus; string; Status of the related learning enrollment, such as Active, Content Completed, Completed, Withdrawn, or Deleted. Valid values are defined in the AssignmentStatusLOV list.</li><li>assignmentStatusMeaning; string; Description of the learning assignment status.</li><li>assignmentSubStatus; string; Granular status of the associated learning enrollment. For example, No Offering Selected, Not Started, In Progress, and Pending Active are various substatuses for the Active status. Valid values are defined in the AssignmentSubStatusLOV list.</li><li>assignmentSubStatusMeaning; string; Description of the learning assignment substatus.</li><li>assignmentType; string; Type of the related learning enrollment, such as required or voluntary. Valid values are defined in the AssignmentTypeLOV list.</li><li>assignmentTypeMeaning; string; Description of the related learning assignment type.</li><li>canEditAssignmentHint; string; Specifies whether you can edit the assignment hint, such as Can delete, Can withdraw, or No edit, for the related learning assignment. Valid values are defined in the CanEditAssignmentHintLOV list.</li><li>canEditAssignmentHintMeaning; string; Description of the can edit learning assignment hint.</li><li>completedDate; string; Date when the learning was completed.</li><li>contentCompletedDate; string; Completed date for the requested learning assignment.</li><li>contentCompletedTimestamp; string; Date and time when the learning content was completed.</li><li>currentWaitlistPosition; integer; Current waitlist position for the learner.</li><li>dataSecurityPrivilege; string; Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.</li><li>dataSecurityPrivilegeMeaning; string; Description of the value of the dataSecurityPrivilege attribute.</li><li>deletedDate; string; Date when the learner was removed from the waitlist.</li><li>enteredPendingPaymentDate; string; Date when the related learning assignment was added to the pending payment.</li><li>enteredPendingPrerequisitesDate; string; Date when the related learning assignment entered pending prerequisites.</li><li>enteredPendingPrerequisitesTimestamp; string; Date and time when the learning assignment entered pending prerequisites.</li><li>enteredWaitlistDate; string; Date when the learning assignment was added to the waitlist.</li><li>enteredWaitlistTimestamp; string; Date and time when the learning assignment was added to the waitlist.</li><li>evaluationSubmittedDate; string; Date when the requested learning assignment evaluation was submitted.</li><li>evaluationSubmittedTimestamp; string; Date and time when the evaluation was submitted.</li><li>exemptedDate; string; Date when the learning assignment was exempted.</li><li>exitedPendingPrerequisitesDate; string; Date when the related learning assignment exited pending prerequisites.</li><li>exitedPendingPrerequisitesTimestamp; string; Date and time when the learning assignment exited pending prerequisites.</li><li>exitedWaitlistDate; string; Date when the learner exited the waitlist.</li><li>exitedWaitlistTimestamp; string; Date and time when the learner was removed from the learning item waitlist.</li><li>expectedEffortInHours; string; Expected effort, in hours, to complete the related learning assignment.</li><li>expirationDate; string; Date when the assignment expired in a renewal scenario.</li><li>expirationInDaysSystemDate; number; Expiration time, in days, for the requested learning assignment.</li><li>expirationRule; string; Expiration rule for the related learning assignment in a renewal scenario.</li><li>expirationTimestamp; string; Date and time when the learning will expire.</li><li>hasFutureRenewal; string; Indicates whether the related learning assignment is of type Expiration and has a future renewal.</li><li>hasPastRenewal; string; Indicates whether the related learning assignment has a past renewal.</li><li>learningItemCompletionCertificateLink; string; URL to open and download the learning item completion certificate directly from the browser. Supported for completed and bypass completed course, specialization, and legacy learning assignments.</li><li>learningItemCoverArtLink; string; URL to open the learning item cover art directly from the browser.</li><li>learningItemCpeType; string; Continuing professional education type of the learning item. Valid values are defined in the CpeTypeLOV list.</li><li>learningItemCpeTypeMeaning; string; Description of the continuing professional education type.</li><li>learningItemDataLink; string; Data link to the learning item.</li><li>learningItemDeepLink; string; URL to open the learning item page directly from the browser.</li><li>learningItemEffectiveAsOf; string; Learning item version to assign. It can be set to Latest or Assignment to Learner Date.</li><li>learningItemEmbedLink; string; URL to embed the learning item page in the other pages. It opens the isolated learning item page without the global toolbar on the top.</li><li>learningItemId; integer; Unique identifier for the learning item. It's the internal primary key.</li><li>learningItemMaximumPrice; number; Maximum price for the learning item.</li><li>learningItemMinimumPrice; number; Minimum price for the learning item.</li><li>learningItemNumber; string; Friendly number identifying the learning item. It's a surrogate key that's shown in the user interface.</li><li>learningItemPriceCurrency; string; Currency for the learning item price. Valid values are defined in the PriceCurrencyLOVVA list.</li><li>learningItemPublisherDisplayName; string; Display name of the learning item publisher.</li><li>learningItemSubType; string; Learning item subtype, such as Video or Tutorial. Valid values are defined in the AssignedLearningItemSubTypeLOV list.</li><li>learningItemSubTypeMeaning; string; Description of the learning item subtype.</li><li>learningItemThumbnailLink; string; URL to open the learning item thumbnail directly from the browser.</li><li>learningItemTitle; string; Title of the learning item.</li><li>learningItemTrailerLink; string; URL to open the learning item trailer directly from the browser.</li><li>learningItemType; string; Learning item type, such as Course, Specialization, Tutorial, Video, or eLearning. Valid values are defined in the AssignedLearningItemTypeLOV list.</li><li>learningItemTypeMeaning; string; Description of the learning item type.</li><li>liShortDescription; string; Short description provided while creating the learning item.</li><li>liTotalExpectedEffort; number; Expected effort to complete the related learning assignment item.</li><li>liTotalExpectedEffortUOM; string; Unit of measure for the expected effort to complete the related learning assignment item. Valid values are defined in the LiTotalExpectedEffortUomLOV list.</li><li>liTotalExpectedEffortUOMMeaning; string; Description of the unit of measurement for the total expected effort.</li><li>nextRenewalAssignmentDeepLink; string; URL to open the next renewal learning enrollment page directly from the browser.</li><li>nextRenewalAssignmentEmbedLink; string; URL to embed the next renewal learning enrollment page in other pages. It opens the isolated learning item page without the global tool bar on the top.</li><li>nextRenewalAssignmentId; integer; Unique identifier for the renewal assignment of the current learning assignment. It's applicable if the learning assignment has an expiration with renewal.</li><li>nextRenewalAssignmentNumber; string; Friendly number for the renewal assignment of the current learning assignment. It's applicable if the learning assignment has an expiration with the renewal.</li><li>purchaseAmount; number; Purchase amount for the requested learning assignment.</li><li>purchaseCurrency; string; Purchase currency for the requested learning assignment. Valid values are defined in the PriceCurrencyLOVVA list.</li><li>purchasedDate; string; Date the learning was purchased.</li><li>purchasedTimestamp; string; Date and time for the purchase of the paid learning.</li><li>reasonCode; string; Reason code for the learning assignment status change. Use this attribute when the learner's manager withdraws the assignment or marks it as complete. Valid values are defined in the ReasonCodeLOV list.</li><li>refundRule; string; Refund rule for the learning assignment.</li><li>renewalPeriod; number; Number of days before the current learning assignment expires to assign the renewed assignment.</li><li>requestApprovedDate; string; Approved date for the requested learning assignment.</li><li>requestApprovedTimestamp; string; Date and time when the learning assignment approval request was assigned to the approver.</li><li>requestRejectedDate; string; Rejected date for the requested learning assignment.</li><li>requestRejectedTimestamp; string; Date and time when the learning assignment request was rejected..</li><li>requestedCompleteByDate; string; Requested date by when the learner should complete the related learning assignment.</li><li>requestedDate; string; Date when the related learning assignment was requested.</li><li>requestedStartDate; string; Learning request start date specified in the related learning assignment.</li><li>startedDate; string; Start date for the requested learning assignment.</li><li>startedTimestamp; string; Date and time when the learner started the learning assignment.</li><li>statusChangeComment; string; Date when the comment status for the learning assignment was changed.</li><li>validityPeriodRule; string; Validity period rule for the learning assignment indicating the period when the completed learning is valid.</li><li>validityPeriodRuleMeaning; string; Description of the validity period rule.</li><li>withdrawnDate; string; Date when the learner was withdrawn from the learning item.</li><li>withdrawnRequestedDate; string; Withdrawal requested date for the learning assignment.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the related learning assignments that match the specified primary key criteria. <br>Finder Variables <ul><li>assignmentRelationId; integer;  Unique identifier for the assignment relation. </li></ul></li><li>findByAssignee Finds all the related learning assignments that match the specified assignee criteria. <br>Finder Variables <ul><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learnerId; integer;  Unique identifier for the learning assignee. </li></ul></li><li>findByAssignmentRecordId Finds all the related learning assignments that match the specified primary key criteria. <br>Finder Variables <ul><li>assignmentRecordId; integer;  Unique identifier for the assignment record. </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager, is the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li></ul></li><li>findByLearningItem Finds all the related learning assignments that match the specified learning item criteria. <br>Finder Variables <ul><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learningItemId; integer;  Unique identifier for the learning Item. </li></ul></li><li>findByLearningItemTitle Finds all the related learning assignments for learning items that match the specified learning item criteria. <br>Finder Variables <ul><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learningItemTitle; string;  Title of the learning item. </li></ul></li><li>findByManager Finds all the related learning assignments for the specified manager's subordinates. <br>Finder Variables <ul><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>managerId; integer;  Unique identifier for the learner's manager. </li></ul></li><li>findByPendingApproval Finds all learning assignments that the signed in person needs to approve. <br>Finder Variables <ul></ul></li><li>findMostRelevantAssignment Finds the most relevant learning assignments that match the specified primary key criteria. <br>Finder Variables <ul><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learningItemId; integer;  Unique identifier for the learning Item. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the related learning assignments that match the specified primary key criteria.",
                "properties": {
                  "assignmentRelationId": {
                    "nullable": true,
                    "x-hints": {
                      "help": {
                        "instruction": "Assignment Relation ID"
                      },
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the assignment relation.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Assignment Relation ID"
                  }
                }
              },
              {
                "name": "findByAssignee",
                "description": "Finds all the related learning assignments that match the specified assignee criteria.",
                "title": "findByAssignee",
                "properties": {
                  "learnerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning assignee.",
                    "type": "integer"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAssignmentRecordId",
                "description": "Finds all the related learning assignments that match the specified primary key criteria.",
                "title": "findByAssignmentRecordId",
                "properties": {
                  "assignmentRecordId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the assignment record.",
                    "type": "integer"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager, is the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByLearningItem",
                "description": "Finds all the related learning assignments that match the specified learning item criteria.",
                "title": "findByLearningItem",
                "properties": {
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "learningItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning Item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByLearningItemTitle",
                "description": "Finds all the related learning assignments for learning items that match the specified learning item criteria.",
                "title": "findByLearningItemItemTitle",
                "properties": {
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "learningItemTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Title of the learning item.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByManager",
                "description": "Finds all the related learning assignments for the specified manager's subordinates.",
                "title": "findByManager",
                "properties": {
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "managerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the learner's manager.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPendingApproval",
                "description": "Finds all learning assignments that the signed in person needs to approve.",
                "title": "findByPendingApproval",
                "properties": {}
              },
              {
                "name": "findMostRelevantAssignment",
                "description": "Finds the most relevant learning assignments that match the specified primary key criteria.",
                "title": "findMostRelevantAssignment",
                "properties": {
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "learningItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning Item.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-pastRenewals-relatedLearningRecords"
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-pastRenewals-{pastRenewalsUniqID}-child-relatedLearningRecords-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-pastrenewals-pastrenewalsuniqid-child-relatedlearningrecords-get"
      }
    },
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/pastRenewals/{pastRenewalsUniqID}/child/relatedLearningRecords/{assignmentRelationId}": {
      "get": {
        "tags": [
          "Learner Learning Records/Past Renewals/Related Learning Records"
        ],
        "summary": "Get a related assignment record",
        "operationId": "get_learnerLearningRecords-pastRenewals-relatedLearningRecords",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pastRenewalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Past Renewals resource and used to uniquely identify an instance of Past Renewals. The client should not generate the hash key value. Instead, the client should query on the Past Renewals collection resource in order to navigate to a specific instance of Past Renewals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignmentRelationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Assignment Relation ID",
              "type": "integer",
              "description": "Unique identifier for the learning assignment relation.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "help": {
                  "instruction": "Assignment Relation ID"
                },
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-pastRenewals-relatedLearningRecords-item-response"
                }
              }
            },
            "links": {
              "AssignedLearningItemSubTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ELEARNING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemSubType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemSubType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LiTotalExpectedEffortUomLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: liTotalExpectedEffortUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/liTotalExpectedEffortUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignedToTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignedToType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignedToType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignmentStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ValidityPeriodOptionLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CO_VALIDITY_OPTIONS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: validityPeriodRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/validityPeriodRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CanEditAssignmentHintLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_CAN_EDIT_ASSIGNMENT_HINT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: canEditAssignmentHint; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/canEditAssignmentHint",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignerToAttributionTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignerAttributionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignerAttributionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DataSecurityPrivilegeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGNMENT_SEC_CONTEXT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignmentSubStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentSubStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentSubStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReasonCodeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: reasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/reasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CpeTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CPE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCpeType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCpeType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-pastRenewals-{pastRenewalsUniqID}-child-relatedLearningRecords-{assignmentRelationId}-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-pastrenewals-pastrenewalsuniqid-child-relatedlearningrecords-assignmentrelationid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learnerLearningRecords-pastRenewals-relatedLearningRecords": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-pastRenewals-relatedLearningRecords-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "learnerLearningRecords-pastRenewals-relatedLearningRecords-item-response": {
        "type": "object",
        "properties": {
          "actualCpeUnits": {
            "title": "Actual CPE Units",
            "type": "number",
            "description": "Continuing professional education units that the learner achieved for this assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Actual CPE Units"
              }
            },
            "x-queryable": true
          },
          "actualEffortInHours": {
            "title": "Actual Effort in Hours",
            "type": "number",
            "description": "Actual learner effort, in hours, to complete the related learning assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Effort in Hours"
              }
            },
            "x-queryable": true
          },
          "actualScore": {
            "title": "Actual Score",
            "type": "number",
            "description": "Actual learner score for the related learning assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Score"
              },
              "precision": 9,
              "scale": 3
            },
            "x-queryable": true
          },
          "assignedDate": {
            "title": "Enrolled on Date",
            "type": "string",
            "description": "Learning start date, visible to the learner on various self-service learning pages.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrolled on Date"
              }
            },
            "x-queryable": true
          },
          "assignedToDisplayName": {
            "title": "Assignee Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Display Name"
              }
            },
            "x-queryable": true
          },
          "assignedToId": {
            "title": "Assignee Person ID",
            "type": "integer",
            "description": "Unique identifier for the learning item assignee.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignedToNumber": {
            "title": "Assignee Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person Number"
              }
            },
            "x-queryable": true
          },
          "assignedToPersonImageURL": {
            "title": "Assignee Person Image URL",
            "maxLength": 19,
            "type": "string",
            "description": "Image URL for the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person Image URL"
              },
              "dependencies": [
                "assignedToId"
              ]
            },
            "x-queryable": true
          },
          "assignedToPersonPrimaryEmailAddress": {
            "title": "Assignee Primary Email Address",
            "maxLength": 240,
            "type": "string",
            "description": "Primary email address for learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "assignedToPersonPrimaryPhoneNumber": {
            "title": "Assignee Primary Phone Number",
            "maxLength": 60,
            "type": "string",
            "description": "Primary phone number for the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Primary Phone Number"
              }
            },
            "x-queryable": true
          },
          "assignedToType": {
            "title": "Assignee Attribution Type",
            "maxLength": 19,
            "type": "string",
            "description": "Entity type for the related learning assignment assignee. Valid value is a person.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Attribution Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignedToTypeMeaning": {
            "title": "Assignee Attribution Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assigned to type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Attribution Type Description"
              }
            },
            "x-queryable": true
          },
          "assignerAttributionType": {
            "title": "Assigner Attribution Type",
            "maxLength": 30,
            "type": "string",
            "description": "Entity type for the related learning assignment creator, such as person, specialist, or community. Valid values are defined in the AssignerToAttributionTypeLOV list.",
            "nullable": true,
            "readOnly": true,
            "default": "ORA_PERSON",
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignerAttributionTypeMeaning": {
            "title": "Assigner Attribution Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assigner attribution type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution Type Description"
              }
            },
            "x-queryable": true
          },
          "assignerCommentsToLearner": {
            "title": "Assigner Comments to Learner",
            "maxLength": 4000,
            "type": "string",
            "description": "Assigner comments to the learner made while creating the related learning assignment. It's null when there are no comments.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Comments to Learner"
              }
            },
            "x-queryable": true
          },
          "assignerDisplayName": {
            "title": "Enrolled By",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the related learning assignment creator. For example, it's the learner for voluntary assignments, and the specialist or the Assign As alias for specialist-created assignments.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrolled By"
              }
            },
            "x-queryable": true
          },
          "assignerId": {
            "title": "Assigner ID",
            "type": "integer",
            "description": "Unique identifier for the related learning assignment assigner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignerNumber": {
            "title": "Assigner Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the related learning assignment assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Number"
              }
            },
            "x-queryable": true
          },
          "assignerPersonImageURL": {
            "title": "Assigner Person Image URL",
            "maxLength": 19,
            "type": "string",
            "description": "Image URL for the person who assigned the learning item to the learner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Image URL"
              },
              "dependencies": [
                "assignerId"
              ]
            },
            "x-queryable": true
          },
          "assignerPersonPrimaryEmailAddress": {
            "title": "Assigner Person Primary Email Address",
            "maxLength": 240,
            "type": "string",
            "description": "Email address for the learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "assignerPersonPrimaryPhoneNumber": {
            "title": "Assigner Person Primary Phone Number",
            "maxLength": 60,
            "type": "string",
            "description": "Phone number for the learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Primary Phone Number"
              }
            },
            "x-queryable": true
          },
          "assignmentAttributionId": {
            "title": "Assigner Attribution ID",
            "type": "integer",
            "description": "Unique identifier for the related learning assignment creator.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignmentCreatedDate": {
            "title": "Assignment Created Date",
            "type": "string",
            "description": "Date and time when the related learning assignment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Created Date"
              }
            },
            "x-queryable": true
          },
          "assignmentDetailsDeepLink": {
            "title": "Assignment Details Deep Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to open the related learning enrollment page directly from the browser.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Details Deep Link"
              }
            },
            "x-queryable": true
          },
          "assignmentDetailsEmbedLink": {
            "title": "Assignment Details Embed Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to embed the learning item page in the other pages. It opens the isolated learning item page without the global toolbar on the top.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Details Embed Link"
              }
            },
            "x-queryable": true
          },
          "assignmentDueDate": {
            "title": "Due Date",
            "type": "string",
            "description": "Due date of the learning-specialist-created assignment. The value is null for voluntary assignments.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Due Date"
              }
            },
            "x-queryable": true
          },
          "assignmentDueInFromSystemDate": {
            "title": "Assignment Due in from System Date",
            "type": "integer",
            "description": "Due date, in days, for the requested learning assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Due in from System Date"
              }
            },
            "x-queryable": true
          },
          "assignmentJustification": {
            "title": "Justification",
            "maxLength": 4000,
            "type": "string",
            "description": "Justification provided by the learner during a request, or the justification added by the specialist in the learning request details during the related assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Justification"
              }
            },
            "x-queryable": true
          },
          "assignmentLastModifiedDate": {
            "title": "Assignment Last Modified Date",
            "type": "string",
            "description": "Date and time when the related assignment was most recently updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Last Modified Date"
              }
            },
            "x-queryable": true
          },
          "assignmentRecordId": {
            "title": "Enrollment Record ID",
            "type": "integer",
            "description": "Unique identifier for the related learning enrollment.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record ID"
              },
              "CATEGORY": "General",
              "precision": 18
            },
            "x-queryable": true
          },
          "assignmentRecordNumber": {
            "title": "Enrollment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the related learning enrollment in the user interface.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Number"
              },
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "assignmentRelationId": {
            "title": "Assignment Relation ID",
            "type": "integer",
            "description": "Unique identifier for the learning assignment relation.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Relation ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignmentRelationType": {
            "title": "Assignment Relation Type",
            "type": "string",
            "description": "Type of learning assignment relation, such as previous completions that were expired by this learning enrollment and exempted learning enrollments allowing the learner to claim the credit. Valid values are defined in the AssignmentRelationTypeLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Relation Type"
              }
            },
            "x-queryable": true
          },
          "assignmentRelationTypeMeaning": {
            "title": "Assignment Relation Type Description",
            "type": "string",
            "description": "Description of the learning assignment relation type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Relation Type Description"
              }
            },
            "x-queryable": true
          },
          "assignmentStatus": {
            "title": "Enrollment Record Status",
            "maxLength": 32,
            "type": "string",
            "description": "Status of the related learning enrollment, such as Active, Content Completed, Completed, Withdrawn, or Deleted. Valid values are defined in the AssignmentStatusLOV list.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Status"
              },
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "assignmentStatusMeaning": {
            "title": "Enrollment Record Status Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning assignment status.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Status Description"
              },
              "dependencies": [
                "assignmentStatus"
              ]
            },
            "x-queryable": true
          },
          "assignmentSubStatus": {
            "title": "Enrollment Record Substatus",
            "maxLength": 30,
            "type": "string",
            "description": "Granular status of the associated learning enrollment. For example, No Offering Selected, Not Started, In Progress, and Pending Active are various substatuses for the Active status. Valid values are defined in the AssignmentSubStatusLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Substatus"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignmentSubStatusMeaning": {
            "title": "Enrollment Record Substatus Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning assignment substatus.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Substatus Description"
              },
              "dependencies": [
                "assignmentSubStatus"
              ]
            },
            "x-queryable": true
          },
          "assignmentType": {
            "title": "Enrollment Type",
            "maxLength": 32,
            "type": "string",
            "description": "Type of the related learning enrollment, such as required or voluntary. Valid values are defined in the AssignmentTypeLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignmentTypeMeaning": {
            "title": "Enrollment Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the related learning assignment type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Type Description"
              }
            },
            "x-queryable": true
          },
          "canEditAssignmentHint": {
            "title": "Can Edit Assignment Hint",
            "maxLength": 4000,
            "type": "string",
            "description": "Specifies whether you can edit the assignment hint, such as Can delete, Can withdraw, or No edit, for the related learning assignment. Valid values are defined in the CanEditAssignmentHintLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Can Edit Assignment Hint"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "canEditAssignmentHintMeaning": {
            "title": "Can Edit Assignment Hint Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the can edit learning assignment hint.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Can Edit Assignment Hint Description"
              }
            },
            "x-queryable": true
          },
          "completedDate": {
            "title": "Completed Date",
            "type": "string",
            "description": "Date when the learning was completed.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Completed Date"
              }
            },
            "x-queryable": true
          },
          "contentCompletedDate": {
            "title": "Content Completed Date",
            "type": "string",
            "description": "Completed date for the requested learning assignment.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Content Completed Date"
              }
            },
            "x-queryable": true
          },
          "contentCompletedTimestamp": {
            "title": "Content Completed Date",
            "type": "string",
            "description": "Date and time when the learning content was completed.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Content Completed Date"
              }
            },
            "x-queryable": true
          },
          "currentWaitlistPosition": {
            "title": "Current Waitlist Position",
            "type": "integer",
            "description": "Current waitlist position for the learner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Current Waitlist Position"
              },
              "precision": 30
            },
            "x-queryable": true
          },
          "dataSecurityPrivilege": {
            "title": "Data Security Privilege",
            "maxLength": 32,
            "type": "string",
            "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "dataSecurityPrivilegeMeaning": {
            "title": "Data Security Privilege Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the value of the dataSecurityPrivilege attribute.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege Description"
              }
            },
            "x-queryable": true
          },
          "deletedDate": {
            "title": "Deleted Date",
            "type": "string",
            "description": "Date when the learner was removed from the waitlist.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Deleted Date"
              }
            },
            "x-queryable": true
          },
          "enteredPendingPaymentDate": {
            "title": "Entered Pending Payment Date",
            "type": "string",
            "description": "Date when the related learning assignment was added to the pending payment.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Entered Pending Payment Date"
              }
            },
            "x-queryable": true
          },
          "enteredPendingPrerequisitesDate": {
            "title": "Date Learner Entered Pending Prerequisites",
            "type": "string",
            "description": "Date when the related learning assignment entered pending prerequisites.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Pending Prerequisites"
              }
            },
            "x-queryable": true
          },
          "enteredPendingPrerequisitesTimestamp": {
            "title": "Date Learner Entered Pending Prerequisites",
            "type": "string",
            "description": "Date and time when the learning assignment entered pending prerequisites.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Pending Prerequisites"
              }
            },
            "x-queryable": true
          },
          "enteredWaitlistDate": {
            "title": "Date Learner Entered Waitlist",
            "type": "string",
            "description": "Date when the learning assignment was added to the waitlist.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Waitlist"
              }
            },
            "x-queryable": true
          },
          "enteredWaitlistTimestamp": {
            "title": "Date Learner Entered Waitlist",
            "type": "string",
            "description": "Date and time when the learning assignment was added to the waitlist.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Waitlist"
              }
            },
            "x-queryable": true
          },
          "evaluationSubmittedDate": {
            "title": "Evaluation Submission Date",
            "type": "string",
            "description": "Date when the requested learning assignment evaluation was submitted.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Evaluation Submission Date"
              }
            },
            "x-queryable": true
          },
          "evaluationSubmittedTimestamp": {
            "title": "Evaluation Submission Date",
            "type": "string",
            "description": "Date and time when the evaluation was submitted.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Evaluation Submission Date"
              }
            },
            "x-queryable": true
          },
          "exemptedDate": {
            "title": "Exempted Date",
            "type": "string",
            "description": "Date when the learning assignment was exempted.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Exempted Date"
              }
            },
            "x-queryable": true
          },
          "exitedPendingPrerequisitesDate": {
            "title": "Date Learner Exited Pending Prerequisites",
            "type": "string",
            "description": "Date when the related learning assignment exited pending prerequisites.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Exited Pending Prerequisites"
              }
            },
            "x-queryable": true
          },
          "exitedPendingPrerequisitesTimestamp": {
            "title": "Date Learner Exited Pending Prerequisites",
            "type": "string",
            "description": "Date and time when the learning assignment exited pending prerequisites.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Exited Pending Prerequisites"
              }
            },
            "x-queryable": true
          },
          "exitedWaitlistDate": {
            "title": "Date Learner Exited Waitlist",
            "type": "string",
            "description": "Date when the learner exited the waitlist.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Exited Waitlist"
              }
            },
            "x-queryable": true
          },
          "exitedWaitlistTimestamp": {
            "title": "Date Learner Exited Waitlist",
            "type": "string",
            "description": "Date and time when the learner was removed from the learning item waitlist.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Exited Waitlist"
              }
            },
            "x-queryable": true
          },
          "expectedEffortInHours": {
            "title": "Expected Effort",
            "maxLength": 83,
            "type": "string",
            "description": "Expected effort, in hours, to complete the related learning assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Expected Effort"
              }
            },
            "x-queryable": true
          },
          "expirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Date when the assignment expired in a renewal scenario.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Expiration Date"
              }
            },
            "x-queryable": true
          },
          "expirationInDaysSystemDate": {
            "title": "Expiration in Days from Today",
            "type": "number",
            "description": "Expiration time, in days, for the requested learning assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Expiration in Days from Today"
              }
            },
            "x-queryable": true
          },
          "expirationRule": {
            "title": "Expires",
            "maxLength": 80,
            "type": "string",
            "description": "Expiration rule for the related learning assignment in a renewal scenario.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Expires"
              }
            },
            "x-queryable": true
          },
          "expirationTimestamp": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Date and time when the learning will expire.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Expiration Date"
              }
            },
            "x-queryable": true
          },
          "hasFutureRenewal": {
            "title": "Requires Renewal",
            "maxLength": 20,
            "type": "string",
            "description": "Indicates whether the related learning assignment is of type Expiration and has a future renewal.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Requires Renewal"
              }
            },
            "x-queryable": true
          },
          "hasPastRenewal": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the related learning assignment has a past renewal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learningItemCompletionCertificateLink": {
            "title": "Learning Item Completion Certificate Link",
            "type": "string",
            "description": "URL to open and download the learning item completion certificate directly from the browser. Supported for completed and bypass completed course, specialization, and legacy learning assignments.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Completion Certificate Link"
              }
            },
            "x-queryable": true
          },
          "learningItemCoverArtLink": {
            "title": "Learning Item Cover Art Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to open the learning item cover art directly from the browser.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Cover Art Link"
              }
            },
            "x-queryable": true
          },
          "learningItemCpeType": {
            "title": "Learning Item CPE Type",
            "maxLength": 30,
            "type": "string",
            "description": "Continuing professional education type of the learning item. Valid values are defined in the CpeTypeLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item CPE Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "learningItemCpeTypeMeaning": {
            "title": "Learning Item CPE Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the continuing professional education type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item CPE Type Description"
              }
            },
            "x-queryable": true
          },
          "learningItemDataLink": {
            "title": "Learning Item Data Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Data link to the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Data Link"
              },
              "dependencies": [
                "assignmentRecordId",
                "learningItemId",
                "learningItemType"
              ]
            },
            "x-queryable": true
          },
          "learningItemDeepLink": {
            "title": "Learning Item Deep Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to open the learning item page directly from the browser.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Deep Link"
              },
              "dependencies": [
                "learningItemId",
                "learningItemType"
              ]
            },
            "x-queryable": true
          },
          "learningItemEffectiveAsOf": {
            "title": "Assigned Learning Effective Date",
            "type": "string",
            "description": "Learning item version to assign. It can be set to Latest or Assignment to Learner Date.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigned Learning Effective Date"
              }
            },
            "x-queryable": true
          },
          "learningItemEmbedLink": {
            "title": "Learning Item Embed Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to embed the learning item page in the other pages. It opens the isolated learning item page without the global toolbar on the top.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Embed Link"
              },
              "dependencies": [
                "assignmentRecordId",
                "learningItemId",
                "learningItemType"
              ]
            },
            "x-queryable": true
          },
          "learningItemId": {
            "title": "Assigned Learning Item ID",
            "type": "integer",
            "description": "Unique identifier for the learning item. It's the internal primary key.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigned Learning Item ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "learningItemMaximumPrice": {
            "title": "Learning Item Maximum Price",
            "type": "number",
            "description": "Maximum price for the learning item.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Maximum Price"
              }
            },
            "x-queryable": true
          },
          "learningItemMinimumPrice": {
            "title": "Learning Item Minimum Price",
            "type": "number",
            "description": "Minimum price for the learning item.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Minimum Price"
              }
            },
            "x-queryable": true
          },
          "learningItemNumber": {
            "title": "Assigned Learning Item Number",
            "maxLength": 255,
            "type": "string",
            "description": "Friendly number identifying the learning item. It's a surrogate key that's shown in the user interface.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assigned Learning Item Number"
              }
            },
            "x-queryable": true
          },
          "learningItemPriceCurrency": {
            "title": "Learning Item Currency",
            "type": "string",
            "description": "Currency for the learning item price. Valid values are defined in the PriceCurrencyLOVVA list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item Currency"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "learningItemPublisherDisplayName": {
            "title": "Published By",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the learning item publisher.",
            "nullable": true,
[...]
