{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Self-Paced Items/Learning Catalog Item Metrics",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}/child/metrics/{metricsUniqID}": {
      "get": {
        "tags": [
          "Learning Self-Paced Items/Learning Catalog Item Metrics"
        ],
        "summary": "Get a particular metric for a learning item",
        "operationId": "get_learningSelfPacedItems-metrics",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Catalog Item Metrics resource and used to uniquely identify an instance of Learning Catalog Item Metrics. The client should not generate the hash key value. Instead, the client should query on the Learning Catalog Item Metrics collection resource in order to navigate to a specific instance of Learning Catalog Item Metrics to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-metrics-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-metrics-{metricsUniqID}-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-metrics-metricsuniqid-get"
      }
    },
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}/child/metrics": {
      "get": {
        "tags": [
          "Learning Self-Paced Items/Learning Catalog Item Metrics"
        ],
        "summary": "Get all metrics for a learning item",
        "operationId": "getall_learningSelfPacedItems-metrics",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>activeCountLearners; number; Count of active learners.</li><li>availableCapacity; number; Available capacity for this learning.</li><li>averageActualEffortPERAttempt; number; Average of the actual effort per attempt.</li><li>averageAttemptsPERCompletion; number; Average of the actual effort per completion.</li><li>averageRating; number; Rating average for the learning catalog item.</li><li>completedCount; number; Count of completed enrollments.</li><li>conversationCount; number; Count of conversations on the learning item.</li><li>currentCountEnrollments; number; Count of enrollments that are either in active or preactive status.</li><li>currentCountLearners; number; Count of unique learners whose enrollments are in either in active or preactive status.</li><li>failCountEnrollments; number; Count of enrollments with failed status.</li><li>failCountLearners; number; Count of learners who failed the learning item.</li><li>futureCountEnrollments; number; Count of future-dated enrollments.</li><li>futureCountLearners; number; Count of learners with future-dated enrollments.</li><li>inProgressCount; number; Count of in-progress enrollments.</li><li>learningItemId; integer; Unique identifier for the learning item.</li><li>notInterestedCount; number; Count of learners who aren't interested in the learning item.</li><li>passCountEnrollments; number; Count of enrollments with passed status.</li><li>passCountLearners; number; Count of learners who passed the learning item.</li><li>preactiveCountLearners; number; Count of preactive learners.</li><li>totalRatings; number; Rating count for the learning catalog item.</li><li>totalViewCount; number; Count of views on the learning item.</li><li>viewCountInLastThirtyDays; number; Count of views on the learning item in the past 30 days.</li><li>waitlistCapacity; number; Waitlist capacity for this learning.</li><li>whereUsedCount; number; Count of learning items, such as communities, journeys, user groups, and specializations that use the learning item.</li><li>withdrawCountEnrollments; number; Count of withdrawn enrollments.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all metrics that match the specified criteria. <br>Finder Variables <ul><li>learningItemId; integer;  Unique identifier for the learning item. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all metrics that match the specified criteria.",
                "properties": {
                  "learningItemId": {
                    "nullable": true,
                    "description": "Unique identifier for the learning item.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-metrics"
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-metrics-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-metrics-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learningSelfPacedItems-metrics-item-response": {
        "type": "object",
        "properties": {
          "activeCountLearners": {
            "type": "number",
            "description": "Count of active learners.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "availableCapacity": {
            "type": "number",
            "description": "Available capacity for this learning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "averageActualEffortPERAttempt": {
            "type": "number",
            "description": "Average of the actual effort per attempt.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "averageAttemptsPERCompletion": {
            "type": "number",
            "description": "Average of the actual effort per completion.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "averageRating": {
            "type": "number",
            "description": "Rating average for the learning catalog item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "completedCount": {
            "type": "number",
            "description": "Count of completed enrollments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "conversationCount": {
            "type": "number",
            "description": "Count of conversations on the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "currentCountEnrollments": {
            "type": "number",
            "description": "Count of enrollments that are either in active or preactive status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "currentCountLearners": {
            "type": "number",
            "description": "Count of unique learners whose enrollments are in either in active or preactive status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "failCountEnrollments": {
            "type": "number",
            "description": "Count of enrollments with failed status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "failCountLearners": {
            "type": "number",
            "description": "Count of learners who failed the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "futureCountEnrollments": {
            "type": "number",
            "description": "Count of future-dated enrollments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "futureCountLearners": {
            "type": "number",
            "description": "Count of learners with future-dated enrollments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "inProgressCount": {
            "type": "number",
            "description": "Count of in-progress enrollments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learningItemId": {
            "type": "integer",
            "description": "Unique identifier for the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "notInterestedCount": {
            "type": "number",
            "description": "Count of learners who aren't interested in the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "passCountEnrollments": {
            "type": "number",
            "description": "Count of enrollments with passed status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "passCountLearners": {
            "type": "number",
            "description": "Count of learners who passed the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "preactiveCountLearners": {
            "type": "number",
            "description": "Count of preactive learners.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "totalRatings": {
            "type": "number",
            "description": "Rating count for the learning catalog item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "totalViewCount": {
            "type": "number",
            "description": "Count of views on the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "viewCountInLastThirtyDays": {
            "type": "number",
            "description": "Count of views on the learning item in the past 30 days.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "waitlistCapacity": {
            "type": "number",
            "description": "Waitlist capacity for this learning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "whereUsedCount": {
            "type": "number",
            "description": "Count of learning items, such as communities, journeys, user groups, and specializations that use the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "withdrawCountEnrollments": {
            "type": "number",
            "description": "Count of withdrawn enrollments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "learningSelfPacedItems-metrics": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learningSelfPacedItems-metrics-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}