{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Self-Paced Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}": {
      "get": {
        "tags": [
          "Learning Self-Paced Items"
        ],
        "summary": "Get a learning item",
        "operationId": "get_learningSelfPacedItems",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-item-response"
                }
              }
            },
            "links": {
              "InactivateReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_INACTIVE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemInactiveReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemInactiveReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learningItemDFF": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1learningItemDFF/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                }
              },
              "learningItemEnrollConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_ENROLL_CONDITION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemEnrollCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemEnrollCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemAuthorTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_AUTHOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemAuthorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemAuthorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "FollowSpecLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemLearningPathOverridesVisibility; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemLearningPathOverridesVisibility",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "content": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The content resource captures the details of content associated with the course, such as storage provider number, delivery provider number, display mode, delivery URL, and supported languages."
              },
              "LearningItemVisibilityLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_SS_LI_VISIBILITY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemVisibility; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemVisibility",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemLearningLevelLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARNING_LEVEL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemLearningLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemLearningLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assets": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1assets/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The assets resource enumerates media items used to visually enhance the learning parent resource. Assets can be cover art images or trailers. Asset details include asset identifier, asset number, date the asset was added, asset type, and asset status."
              },
              "LearningItemPublishedExistsLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemPublishedExists; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemPublishedExists",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemApprovalRuleESSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_INIT_DL_ASSN_STATE_ESS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemApprovalRuleESS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemApprovalRuleESS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "translations": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1translations/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The translations resource is used to get and update the learning summary and description, in various languages."
              },
              "userActionHints": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1userActionHints/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The userActionHints resource provides hints for possible actions on its parent resource."
              },
              "LearningItemNotificationPatternLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_NOTIF_PATTERN"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemNotificationPattern; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemNotificationPattern",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ContentDeleteReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_CONT_DEL_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemContentDeleteReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemContentDeleteReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemEnrollmentVisibilityMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_ENRL_VISIBILITY_MSS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemEnrollmentVisibilityMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemEnrollmentVisibilityMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemWithdrawalRuleMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_WITHDRAW_RULE_MSS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemWithdrawalRuleMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemWithdrawalRuleMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "whereUsed": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1whereUsed/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The whereUsed resource provides details about the uses of a learning item in topics and learning communities."
              },
              "changeRequests": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1changeRequests/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The changeRequests resource contains the change details, such as identifier, comment, processing status, and status."
              },
              "FollowCommunityLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCommunityOverridesVisibility; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCommunityOverridesVisibility",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemMarkCompleteMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemMarkCompleteMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemMarkCompleteMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DataSecurityPrivilegeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemApprovalRuleMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_INIT_DL_ASSN_STATE_MGR"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemApprovalRuleMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemApprovalRuleMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemWithdrawalRuleESSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_WITHDRAW_RULE_ESS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemWithdrawalRuleESS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemWithdrawalRuleESS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemAttributionTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemAttributionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemAttributionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemCompletionCertificateEnabledLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCompletionCertificateEnabled; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCompletionCertificateEnabled",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemInstructorTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_INSTRUCTOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemInstructorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemInstructorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DeleteReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_DELETE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemDeletionReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemDeletionReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learningItemLearnerDataCollectionTypeESSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LRNR_DATA_COLL_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemLearnerDataCollectionTypeESS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemLearnerDataCollectionTypeESS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learnerFeedback": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1learnerFeedback/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The learner feedback resource provides details of the learner feedback configuration, such as feedback type, questionnaire code, and questionnaire name."
              },
              "learningItemTalentProfileSummary": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1learningItemTalentProfileSummary/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The summary learning information from the talent profile, such as if a course is configured with prerequisites or outcomes."
              },
              "LearningItemTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ELEARNING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "relatedMaterials": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1relatedMaterials/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The relatedMaterials resource is used to add attachments to the learning parent resource, as well as to edit, view, and delete the attachments. Details include attached document ID, file name, file URL, file title, and description."
              },
              "LearningItemStatusLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ELEARNING_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemDraftExistsLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemDraftExists; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemDraftExists",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "messages": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1messages/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The messages resource provides a list of all the messages that pertain to it's parent resource. Details include message code, message severity, and message description."
              },
              "SelfEnrollRetakeRuleLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_RETAKE_SELF_ENROLL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemSelfEnrollRetakeRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemSelfEnrollRetakeRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemBusinessDriverLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BUSINESS_DRIVER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemBusinessDriver; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemBusinessDriver",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "metrics": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1metrics/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The metrics resource returns the metrics on the learning item, such as the number of current and future-dated enrollments, completion count, passed and failed counts, and recommendations count."
              },
              "LearningItemProviderLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EXTERNAL_PROVIDER_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemProvider; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemProvider",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReactivateReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_REACTIVE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemReactivationReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemReactivationReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemProviderTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_PROVIDER_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemProviderType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemProviderType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemPublisherLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_PUBLISHER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemPublisher; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemPublisher",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-get"
      },
      "delete": {
        "tags": [
          "Learning Self-Paced Items"
        ],
        "summary": "Delete a self-paced learning item",
        "operationId": "delete_learningSelfPacedItems",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-delete",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Learning Self-Paced Items"
        ],
        "summary": "Update a self-paced learning item",
        "operationId": "update_learningSelfPacedItems",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningSelfPacedItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-item-response"
                }
              }
            },
            "links": {
              "InactivateReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_INACTIVE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemInactiveReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemInactiveReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learningItemDFF": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1learningItemDFF/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                }
              },
              "learningItemEnrollConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_ENROLL_CONDITION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemEnrollCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemEnrollCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemAuthorTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_AUTHOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemAuthorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemAuthorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "FollowSpecLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemLearningPathOverridesVisibility; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemLearningPathOverridesVisibility",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "content": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The content resource captures the details of content associated with the course, such as storage provider number, delivery provider number, display mode, delivery URL, and supported languages."
              },
              "LearningItemVisibilityLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_SS_LI_VISIBILITY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemVisibility; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemVisibility",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemLearningLevelLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARNING_LEVEL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemLearningLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemLearningLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assets": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1assets/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The assets resource enumerates media items used to visually enhance the learning parent resource. Assets can be cover art images or trailers. Asset details include asset identifier, asset number, date the asset was added, asset type, and asset status."
              },
              "LearningItemPublishedExistsLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemPublishedExists; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemPublishedExists",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemApprovalRuleESSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_INIT_DL_ASSN_STATE_ESS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemApprovalRuleESS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemApprovalRuleESS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "translations": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1translations/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The translations resource is used to get and update the learning summary and description, in various languages."
              },
              "userActionHints": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1userActionHints/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The userActionHints resource provides hints for possible actions on its parent resource."
              },
              "LearningItemNotificationPatternLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_NOTIF_PATTERN"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemNotificationPattern; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemNotificationPattern",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ContentDeleteReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_CONT_DEL_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemContentDeleteReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemContentDeleteReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemEnrollmentVisibilityMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_ENRL_VISIBILITY_MSS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemEnrollmentVisibilityMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemEnrollmentVisibilityMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemWithdrawalRuleMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_WITHDRAW_RULE_MSS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemWithdrawalRuleMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemWithdrawalRuleMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "whereUsed": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1whereUsed/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The whereUsed resource provides details about the uses of a learning item in topics and learning communities."
              },
              "changeRequests": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1changeRequests/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The changeRequests resource contains the change details, such as identifier, comment, processing status, and status."
              },
              "FollowCommunityLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCommunityOverridesVisibility; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCommunityOverridesVisibility",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemMarkCompleteMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemMarkCompleteMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemMarkCompleteMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DataSecurityPrivilegeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemApprovalRuleMSSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_INIT_DL_ASSN_STATE_MGR"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemApprovalRuleMSS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemApprovalRuleMSS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemWithdrawalRuleESSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_WITHDRAW_RULE_ESS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemWithdrawalRuleESS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemWithdrawalRuleESS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemAttributionTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemAttributionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemAttributionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemCompletionCertificateEnabledLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCompletionCertificateEnabled; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCompletionCertificateEnabled",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemInstructorTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_INSTRUCTOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemInstructorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemInstructorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DeleteReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_DELETE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemDeletionReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemDeletionReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learningItemLearnerDataCollectionTypeESSLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LRNR_DATA_COLL_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemLearnerDataCollectionTypeESS; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemLearnerDataCollectionTypeESS",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learnerFeedback": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1learnerFeedback/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The learner feedback resource provides details of the learner feedback configuration, such as feedback type, questionnaire code, and questionnaire name."
              },
              "learningItemTalentProfileSummary": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1learningItemTalentProfileSummary/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The summary learning information from the talent profile, such as if a course is configured with prerequisites or outcomes."
              },
              "LearningItemTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ELEARNING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "relatedMaterials": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1relatedMaterials/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The relatedMaterials resource is used to add attachments to the learning parent resource, as well as to edit, view, and delete the attachments. Details include attached document ID, file name, file URL, file title, and description."
              },
              "LearningItemStatusLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ELEARNING_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemDraftExistsLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemDraftExists; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemDraftExists",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "messages": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1messages/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The messages resource provides a list of all the messages that pertain to it's parent resource. Details include message code, message severity, and message description."
              },
              "SelfEnrollRetakeRuleLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_RETAKE_SELF_ENROLL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemSelfEnrollRetakeRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemSelfEnrollRetakeRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemBusinessDriverLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BUSINESS_DRIVER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemBusinessDriver; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemBusinessDriver",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "metrics": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1metrics/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID"
                },
                "description": "The metrics resource returns the metrics on the learning item, such as the number of current and future-dated enrollments, completion count, passed and failed counts, and recommendations count."
              },
              "LearningItemProviderLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EXTERNAL_PROVIDER_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemProvider; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemProvider",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReactivateReasonCodeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DL_REACTIVE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemReactivationReasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemReactivationReasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemProviderTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_PROVIDER_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemProviderType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemProviderType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemPublisherLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_PUBLISHER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemPublisher; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemPublisher",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-patch",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-patch"
      }
    },
    "/learningSelfPacedItems": {
      "get": {
        "tags": [
          "Learning Self-Paced Items"
        ],
        "summary": "Get all learning items",
        "operationId": "getall_learningSelfPacedItems",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>learningItemActiveDate; string; Date when the learning item was activated</li><li>learningItemApprovalRuleESS; string; Determines how approvals are configured for self-service enrollment.</li><li>learningItemApprovalRuleMSS; string; Determines how approvals are configured for manager enrollment.</li><li>learningItemAttributionType; string; Indicates who this learning item is attributed to. Valid values are ORA_PERSON or ORA_SPECIALIST.</li><li>learningItemAuthorPersonId; integer; Person identifier for the learning item author.</li><li>learningItemAuthoredOnDate; string; Date when the learning item was authored.</li><li>learningItemBusinessDriver; string; Business driver, such as Compliance or Self Development.</li><li>learningItemCatalogProfileName; string; Name of the learning catalog profile.</li><li>learningItemCommunityOverridesVisibility; string; Indicates whether the learning item visibility can be overridden by a community. Valid values are Y or N.</li><li>learningItemCompletionCertificateEnabled; string; Indicates if a completion certificate is enabled or not. Valid values are Y or N.</li><li>learningItemCompletionCertificateFileName; string; File name of the completion certificate.</li><li>learningItemCompletionCertificateLink; string; Preview link for the completion certificate.</li><li>learningItemCompletionCertificateTitle; string; Title of the completion certificate.</li><li>learningItemContentDeleteDate; string; Date when the learning item content was deleted</li><li>learningItemContentDeleteReasonCode; string; Reason for deleting the learning item content.</li><li>learningItemCoordPersonId; integer; Person identifier for the learning item coordinator.</li><li>learningItemCoordPersonNumber; string; Person number of the learning item coordinator.</li><li>learningItemCreationDate; string; Date when the learning item was created.</li><li>learningItemDeletionReasonCode; string; Reason for deleting the learning item.</li><li>learningItemDraftExists; string; Indicates if a draft version of this learning item exists. Valid values are Y or N.</li><li>learningItemEnrollCondition; string; Indicates when a learner can enroll in this learning item.</li><li>learningItemEnrollmentEndDate; string; Date when the enrollment period ends.</li><li>learningItemEnrollmentStartDate; string; Date when the enrollment period begins.</li><li>learningItemEnrollmentVisibilityMSS; string; Indicates whether the enrollment details are visible to the line manager. Valid values are ORA_SHOW and ORA_HIDE. The default value is ORA_SHOW.</li><li>learningItemFeatureEndDate; string; Date when the learning item stops being featured.</li><li>learningItemFeatureStartDate; string; Date when the learning item starts being featured.</li><li>learningItemId; integer; Learning item Id of the course.</li><li>learningItemInactiveDate; string; Date when the learning item will be set to inactive.</li><li>learningItemInactiveReasonCode; string; Reason for moving the learning item to inactive status.</li><li>learningItemInstructorPersonId; integer; Person identifier for the learning item instructor.</li><li>learningItemLastModifiedDate; string; Date when the learning item was last modified.</li><li>learningItemLearnerDataCollectionTypeESS; string; Determines how the learner information is collected, such as questionnaire or form.</li><li>learningItemLearnerDataQuestionnaireCodeESS; string; Unique code for the questionnaire.</li><li>learningItemLearnerDataQuestionnaireNameESS; string; Name of the questionnaire.</li><li>learningItemLearningLevel; string; Learning level, such as Beginner, Moderate, or Advanced.</li><li>learningItemLearningPathOverridesVisibility; string; Indicates whether the learning item visibility can be overridden by a learning path. Valid values are Y or N.</li><li>learningItemMarkCompleteMSS; string; Indicates if the manager can mark an enrollment as complete. Possible values are Y or N. Default value is Y.</li><li>learningItemNotificationPattern; string; Notification pattern, such as Default Notification Pattern.</li><li>learningItemNumber; string; User-friendly number identifying the learning item. It's a surrogate key which is shown in the UI.</li><li>learningItemPreviewURL; string; URL used by the administrator to preview the learning item.</li><li>learningItemProvider; string; Name of the provider used to create the learning item, such as Skillsoft or LinkedIn.</li><li>learningItemProviderMeaning; string; Description for the learningItemProvider attribute value.</li><li>learningItemProviderType; string; Type of the provider used. Valid values are File,URL,Connector or Questionnaire.</li><li>learningItemProviderTypeMeaning; string; Description for the learningItemProviderType attribute value.</li><li>learningItemPublishEndDate; string; Date when the learning item stops being visible in the learning catalog.</li><li>learningItemPublishStartDate; string; Date when the learning item starts being visible in the learning catalog.</li><li>learningItemPublishedExists; string; Indicate if a published version of this learning item exists. Valid values are Y or N.</li><li>learningItemPublisher; string; Learning item publisher, such as Learning Department.</li><li>learningItemPublisherName; string; Name of the publisher of the learning item.</li><li>learningItemRatingAverage; integer; Rating average for the learning item.</li><li>learningItemRatingCount; integer; Rating count for the learning item.</li><li>learningItemReactivationReasonCode; string; Reason for moving the inactive learning item to active status.</li><li>learningItemSelfEnrollRetakeRule; string; Determines whether the learners can retake the learning again or not. Valid values are ORA_NEVER,ORA_PASS or ORA_PASS_FAIL. The default value is ORA_PASS.</li><li>learningItemSelfEnrollmentURL; string; URL for the learner to self enroll</li><li>learningItemSourcePublishedDate; string; Date when content for the self-paced learning was published. This value is imported for self-paced learning managed by external content providers.</li><li>learningItemStatus; string; Status of the learning item.</li><li>learningItemStatusComment; string; Status change comment for the learning item.</li><li>learningItemTitle; string; Title of the learning item.</li><li>learningItemTrailerLink; string; URL to open the learning item trailer directly from the browser.</li><li>learningItemType; string; Type of learning item, such as video, online course, document, assessment, or observation checklist.</li><li>learningItemWithdrawalRuleESS; string; Determines how the learner's assignment withdrawals are processed.</li><li>learningItemWithdrawalRuleMSS; string; Determines how the manager's assignment withdrawals are processed.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all learning items that match the specified primary key criteria. <br>Finder Variables <ul><li>learningItemId; integer;  Unique identifier for the learning item. </li></ul></li><li>findByLearningItemId Finds all learning items that match the specified primary key criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>learningItemId; integer;  Unique identifier for the learning item. </li></ul></li><li>findByLearningItemNumber Finds all the learning items that match the specified learning item number. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>learningItemNumber; string;  User-friendly number identifying the learning item. It's a surrogate key that's shown in the user interface. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all learning items that match the specified primary key criteria.",
                "properties": {
                  "learningItemId": {
                    "nullable": false,
                    "x-hints": {
                      "help": {
                        "instruction": "Learning Item ID"
                      },
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the learning item.",
                    "type": "integer",
                    "title": "Learning Item ID"
                  }
                }
              },
              {
                "name": "findByLearningItemId",
                "description": "Finds all learning items that match the specified primary key criteria.",
                "title": "findByLearningItemId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "learningItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByLearningItemNumber",
[...]
