{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Noncatalog Learning Item",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/learningItemDetails/{learningItemDetailsUniqID}": {
      "get": {
        "tags": [
          "Learner Learning Records/Noncatalog Learning Item"
        ],
        "summary": "Get the learning item associated with the specified learning assignment",
        "operationId": "get_learnerLearningRecords-learningItemDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "learningItemDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Noncatalog Learning Item resource and used to uniquely identify an instance of Noncatalog Learning Item. The client should not generate the hash key value. Instead, the client should query on the Noncatalog Learning Item collection resource in order to navigate to a specific instance of Noncatalog Learning Item to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-item-response"
                }
              }
            },
            "links": {
              "learningItemDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1learningItemDetails~1{learningItemDetailsUniqID}~1child~1learningItemDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "learningItemDetailsUniqID": "$request.path.learningItemDetailsUniqID"
                }
              },
              "CpeTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CPE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCpeType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCpeType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-learningItemDetails-{learningItemDetailsUniqID}-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-learningitemdetails-learningitemdetailsuniqid-get"
      },
      "patch": {
        "tags": [
          "Learner Learning Records/Noncatalog Learning Item"
        ],
        "summary": "Update a learning item associated to the specified learning assignment",
        "operationId": "update_learnerLearningRecords-learningItemDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "learningItemDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Noncatalog Learning Item resource and used to uniquely identify an instance of Noncatalog Learning Item. The client should not generate the hash key value. Instead, the client should query on the Noncatalog Learning Item collection resource in order to navigate to a specific instance of Noncatalog Learning Item to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learnerLearningRecords-learningItemDetails-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-item-response"
                }
              }
            },
            "links": {
              "learningItemDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1learningItemDetails~1{learningItemDetailsUniqID}~1child~1learningItemDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "learningItemDetailsUniqID": "$request.path.learningItemDetailsUniqID"
                }
              },
              "CpeTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CPE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCpeType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCpeType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-learningItemDetails-{learningItemDetailsUniqID}-patch",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-learningitemdetails-learningitemdetailsuniqid-patch"
      }
    },
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/learningItemDetails": {
      "get": {
        "tags": [
          "Learner Learning Records/Noncatalog Learning Item"
        ],
        "summary": "Get all the learning items associated with the specified learning assignment",
        "operationId": "getall_learnerLearningRecords-learningItemDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>actualCpeUnits; number; Continuing professional education units that the learner achieved for this assignment.</li><li>learningItemCpeType; string; Continuing professional education type for the learning item. Valid values are defined in the CpeTypeLOV list.</li><li>learningItemCpeTypeMeaning; string; Description of the continuing professional education type for the learning item.</li><li>learningItemDescription; string; Description of the learning item.</li><li>learningItemExpectedEffort; number; Expected effort to complete the learning item</li><li>learningItemExpectedEffortInSeconds; number; Expected effort, in seconds, to complete the assigned learning item.</li><li>learningItemExpectedEffortUnits; string; Unit of measurement for the expected and actual effort to complete the learning item, such as day, hour, minute. Valid values are defined in the list EffortUnitsLOV.</li><li>learningItemExpectedEffortUnitsMeaning; string; Description of expected effort units of measure.</li><li>learningItemId; integer; Unique identifier of the assigned learning item.</li><li>learningItemNumber; string; Number given to the assigned learning item.</li><li>learningItemPrice; number; Cost</li><li>learningItemPriceCurrency; string; Currency of the price for the learning item. Valid values are defined in the list PriceCurrencyLOVVA.</li><li>learningItemSubType; string; Learning item subtype, such as Video or Tutorial. Valid values are defined in the AssignedLearningItemSubTypeLOV list.</li><li>learningItemSubTypeMeaning; string; Description of the learning item subtype.</li><li>learningItemTitle; string; Title of the learning item.</li><li>learningItemType; string; Learning item type, such as Course, Specialization, Tutorial, Video, or eLearning. Valid values are defined in the list AssignedLearningItemTypeLOV.</li><li>learningItemTypeMeaning; string; Meaning associated with the learning item type.</li><li>learningItemURL; string; URL that can be used to embed the learning item page in other pages.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the learning item details that match the specified criteria. <br>Finder Variables <ul><li>learningItemId; integer;  Application-generated primary key, surrogate key for learningItemId; integer; . </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the learning item details that match the specified criteria.",
                "properties": {
                  "learningItemId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Application-generated primary key, surrogate key for learningItemId.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-learningItemDetails-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-learningitemdetails-get"
      },
      "post": {
        "tags": [
          "Learner Learning Records/Noncatalog Learning Item"
        ],
        "summary": "Add a learning item to the specified learning assignment",
        "operationId": "create_learnerLearningRecords-learningItemDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learnerLearningRecords-learningItemDetails-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-item-response"
                }
              }
            },
            "links": {
              "learningItemDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1learningItemDetails~1{learningItemDetailsUniqID}~1child~1learningItemDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "learningItemDetailsUniqID": "$request.path.learningItemDetailsUniqID"
                }
              },
              "CpeTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CPE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCpeType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCpeType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-learningItemDetails-post",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-learningitemdetails-post"
      }
    }
  },
  "components": {
    "schemas": {
      "learnerLearningRecords-learningItemDetails-item-response": {
        "type": "object",
        "properties": {
          "actualCpeUnits": {
            "title": "Actual CPE Units",
            "type": "number",
            "description": "Continuing professional education units that the learner achieved for this assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual CPE Units"
              }
            },
            "x-queryable": true
          },
          "learningItemCpeType": {
            "title": "Learning Item CPE Type",
            "maxLength": 30,
            "type": "string",
            "description": "Continuing professional education type for the learning item. Valid values are defined in the CpeTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item CPE Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "learningItemCpeTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description of the continuing professional education type for the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learningItemDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-learningItemDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "learningItemDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning item.",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemExpectedEffort": {
            "type": "number",
            "description": "Expected effort to complete the learning item",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemExpectedEffortInSeconds": {
            "type": "number",
            "description": "Expected effort, in seconds, to complete the assigned learning item.",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemExpectedEffortUnits": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measurement for the expected and actual effort to complete the learning item, such as day, hour, minute. Valid values are defined in the list EffortUnitsLOV.",
            "nullable": true,
            "default": "ORA_DUR_HOUR",
            "x-queryable": true
          },
          "learningItemExpectedEffortUnitsMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description of expected effort units of measure.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learningItemId": {
            "type": "integer",
            "description": "Unique identifier of the assigned learning item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "learningItemNumber": {
            "maxLength": 2000,
            "type": "string",
            "description": "Number given to the assigned learning item.",
            "nullable": false,
            "x-queryable": true
          },
          "learningItemPrice": {
            "type": "number",
            "description": "Cost",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemPriceCurrency": {
            "maxLength": 30,
            "type": "string",
            "description": "Currency of the price for the learning item. Valid values are defined in the list PriceCurrencyLOVVA.",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemSubType": {
            "maxLength": 30,
            "type": "string",
            "description": "Learning item subtype, such as Video or Tutorial. Valid values are defined in the AssignedLearningItemSubTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "learningItemSubTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description of the learning item subtype.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learningItemTitle": {
            "maxLength": 250,
            "type": "string",
            "description": "Title of the learning item.",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemType": {
            "maxLength": 32,
            "type": "string",
            "description": "Learning item type, such as Course, Specialization, Tutorial, Video, or eLearning. Valid values are defined in the list AssignedLearningItemTypeLOV.",
            "nullable": false,
            "x-queryable": true
          },
          "learningItemTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Meaning associated with the learning item type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learningItemURL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL that can be used to embed the learning item page in other pages.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "learnerLearningRecords-learningItemDetails-learningItemDFF-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LearningItemId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LearningItemType": {
            "maxLength": 32,
            "type": "string",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "learnerLearningRecords-learningItemDetails-item-patch-request": {
        "type": "object",
        "properties": {
          "actualCpeUnits": {
            "title": "Actual CPE Units",
            "type": "number",
            "description": "Continuing professional education units that the learner achieved for this assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual CPE Units"
              }
            }
          },
          "learningItemCpeType": {
            "title": "Learning Item CPE Type",
            "maxLength": 30,
            "type": "string",
            "description": "Continuing professional education type for the learning item. Valid values are defined in the CpeTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item CPE Type"
              },
              "controlType": "choice"
            }
          },
          "learningItemDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-learningItemDFF-item-patch-request"
            },
            "x-cardinality": "1"
          },
          "learningItemDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning item.",
            "nullable": true
          },
          "learningItemExpectedEffort": {
            "type": "number",
            "description": "Expected effort to complete the learning item",
            "nullable": true
          },
          "learningItemExpectedEffortInSeconds": {
            "type": "number",
            "description": "Expected effort, in seconds, to complete the assigned learning item.",
            "nullable": true
          },
          "learningItemExpectedEffortUnits": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measurement for the expected and actual effort to complete the learning item, such as day, hour, minute. Valid values are defined in the list EffortUnitsLOV.",
            "nullable": true,
            "default": "ORA_DUR_HOUR"
          },
          "learningItemPrice": {
            "type": "number",
            "description": "Cost",
            "nullable": true
          },
          "learningItemPriceCurrency": {
            "maxLength": 30,
            "type": "string",
            "description": "Currency of the price for the learning item. Valid values are defined in the list PriceCurrencyLOVVA.",
            "nullable": true
          },
          "learningItemTitle": {
            "maxLength": 250,
            "type": "string",
            "description": "Title of the learning item.",
            "nullable": true
          },
          "learningItemURL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL that can be used to embed the learning item page in other pages.",
            "nullable": true
          }
        }
      },
      "learnerLearningRecords-learningItemDetails-learningItemDFF-item-patch-request": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "learnerLearningRecords-learningItemDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "learnerLearningRecords-learningItemDetails-item-post-request": {
        "required": [
          "learningItemNumber",
          "learningItemType"
        ],
        "type": "object",
        "properties": {
          "actualCpeUnits": {
            "title": "Actual CPE Units",
            "type": "number",
            "description": "Continuing professional education units that the learner achieved for this assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual CPE Units"
              }
            }
          },
          "learningItemCpeType": {
            "title": "Learning Item CPE Type",
            "maxLength": 30,
            "type": "string",
            "description": "Continuing professional education type for the learning item. Valid values are defined in the CpeTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Learning Item CPE Type"
              },
              "controlType": "choice"
            }
          },
          "learningItemDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-learningItemDFF-item-post-request"
            },
            "x-cardinality": "1"
          },
          "learningItemDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning item.",
            "nullable": true
          },
          "learningItemExpectedEffort": {
            "type": "number",
            "description": "Expected effort to complete the learning item",
            "nullable": true
          },
          "learningItemExpectedEffortInSeconds": {
            "type": "number",
            "description": "Expected effort, in seconds, to complete the assigned learning item.",
            "nullable": true
          },
          "learningItemExpectedEffortUnits": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measurement for the expected and actual effort to complete the learning item, such as day, hour, minute. Valid values are defined in the list EffortUnitsLOV.",
            "nullable": true,
            "default": "ORA_DUR_HOUR"
          },
          "learningItemId": {
            "type": "integer",
            "description": "Unique identifier of the assigned learning item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "learningItemNumber": {
            "maxLength": 2000,
            "type": "string",
            "description": "Number given to the assigned learning item.",
            "nullable": false
          },
          "learningItemPrice": {
            "type": "number",
            "description": "Cost",
            "nullable": true
          },
          "learningItemPriceCurrency": {
            "maxLength": 30,
            "type": "string",
            "description": "Currency of the price for the learning item. Valid values are defined in the list PriceCurrencyLOVVA.",
            "nullable": true
          },
          "learningItemSubType": {
            "maxLength": 30,
            "type": "string",
            "description": "Learning item subtype, such as Video or Tutorial. Valid values are defined in the AssignedLearningItemSubTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "learningItemTitle": {
            "maxLength": 250,
            "type": "string",
            "description": "Title of the learning item.",
            "nullable": true
          },
          "learningItemType": {
            "maxLength": 32,
            "type": "string",
            "description": "Learning item type, such as Course, Specialization, Tutorial, Video, or eLearning. Valid values are defined in the list AssignedLearningItemTypeLOV.",
            "nullable": false
          },
          "learningItemURL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL that can be used to embed the learning item page in other pages.",
            "nullable": true
          }
        }
      },
      "learnerLearningRecords-learningItemDetails-learningItemDFF-item-post-request": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LearningItemId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "LearningItemType": {
            "maxLength": 32,
            "type": "string",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 30,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "learnerLearningRecords-learningItemDetails-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-item-patch-request"
            }
          }
        }
      },
      "learnerLearningRecords-learningItemDetails-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/learnerLearningRecords-learningItemDetails-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}