{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Events/Activities",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningEvents/{learningEventsUniqID}/child/activities/{activitiesUniqID}": {
      "get": {
        "tags": [
          "Learning Events/Activities"
        ],
        "summary": "Get an activity",
        "operationId": "get_learningEvents-activities",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activitiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Activities resource and used to uniquely identify an instance of Activities. The client should not generate the hash key value. Instead, the client should query on the Activities collection resource in order to navigate to a specific instance of Activities to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningEvents-activities-item-response"
                }
              }
            },
            "links": {
              "relatedMaterials": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1relatedMaterials/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The relatedMaterials resource is used to add attachments to the learning parent resource, as well as to edit, view, and delete the attachments. Details include attached document ID, file name, file URL, file title, and description."
              },
              "CompletionTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ACTIVITY_COMPLETION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EVENT_ACTIVITY_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "classroomDetails": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1classroomDetails/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The classrooms resource is a child of the completionDetails resource. It provides the classroom details for the instructor-led activities associated with instructor-led and blended offerings."
              },
              "ActivityCompletionRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EVENT_ACT_COMPL_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "instructorDetails": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1instructorDetails/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The instructors resource is a child of the completionDetails resource. It provides the instructors associated with instructor-led and blended offerings."
              },
              "adhocResources": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1adhocResources/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The adhocResources resources captures the details of additional resources required for an instructor-led training, such as printers or whiteboards."
              }
            }
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-{activitiesUniqID}-get",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-activitiesuniqid-get"
      },
      "delete": {
        "tags": [
          "Learning Events/Activities"
        ],
        "summary": "Delete an activity",
        "operationId": "delete_learningEvents-activities",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activitiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Activities resource and used to uniquely identify an instance of Activities. The client should not generate the hash key value. Instead, the client should query on the Activities collection resource in order to navigate to a specific instance of Activities to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-{activitiesUniqID}-delete",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-activitiesuniqid-delete"
      },
      "patch": {
        "tags": [
          "Learning Events/Activities"
        ],
        "summary": "Update an activity",
        "operationId": "update_learningEvents-activities",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activitiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Activities resource and used to uniquely identify an instance of Activities. The client should not generate the hash key value. Instead, the client should query on the Activities collection resource in order to navigate to a specific instance of Activities to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningEvents-activities-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningEvents-activities-item-response"
                }
              }
            },
            "links": {
              "relatedMaterials": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1relatedMaterials/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The relatedMaterials resource is used to add attachments to the learning parent resource, as well as to edit, view, and delete the attachments. Details include attached document ID, file name, file URL, file title, and description."
              },
              "CompletionTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ACTIVITY_COMPLETION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EVENT_ACTIVITY_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "classroomDetails": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1classroomDetails/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The classrooms resource is a child of the completionDetails resource. It provides the classroom details for the instructor-led activities associated with instructor-led and blended offerings."
              },
              "ActivityCompletionRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EVENT_ACT_COMPL_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "instructorDetails": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1instructorDetails/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The instructors resource is a child of the completionDetails resource. It provides the instructors associated with instructor-led and blended offerings."
              },
              "adhocResources": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1adhocResources/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The adhocResources resources captures the details of additional resources required for an instructor-led training, such as printers or whiteboards."
              }
            }
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-{activitiesUniqID}-patch",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-activitiesuniqid-patch"
      }
    },
    "/learningEvents/{learningEventsUniqID}/child/activities": {
      "get": {
        "tags": [
          "Learning Events/Activities"
        ],
        "summary": "Get all activities",
        "operationId": "getall_learningEvents-activities",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>activityId; integer; Unique identifier for the activity.</li><li>activityNumber; string; Friendly number identifying the activity.</li><li>activityType; string; Activity type, such as Internal or External.</li><li>attendanceConfirmationURL; string; Link to the page where the learner can confirm attendance for an activity.</li><li>attendanceQRDownloadURL; string; Link to the page where the learner can download the QR code to confirm attendance for an activity.</li><li>classroomDisplayName; string; Display name of the activity classrooms.</li><li>completionRule; string; Completion rule that determines how the content handles completions. It also determines if manager or learner confirmation is required.</li><li>completionType; string; Completion type for the activity, such as Mandatory or Optional.</li><li>endDate; string; End date for the activity.</li><li>expectedEffortInSeconds; number; Expected effort needed by the learner to complete the learning item.</li><li>externalDetailsURL; string; Details URL for the activity.</li><li>startDate; string; Start date for the activity.</li><li>status; string; Status for the activity</li><li>timezone; string; Time zone for the activity</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all activities that match the specified primary key criteria. <br>Finder Variables <ul><li>activityId; integer;  Unique identifier for the activity. </li></ul></li><li>findByActivityNumber Finds all activities that match the specified activity number. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>activityNumber; string;  Friendly number identifying the activity. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all activities that match the specified primary key criteria.",
                "properties": {
                  "activityId": {
                    "nullable": false,
                    "x-hints": {
                      "help": {
                        "instruction": "Activity ID"
                      },
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the activity.",
                    "type": "integer",
                    "title": "Activity ID"
                  }
                }
              },
              {
                "name": "findByActivityNumber",
                "description": "Finds all activities that match the specified activity number.",
                "title": "findByActivityNumber",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "activityNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "description": "Friendly number identifying the activity.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningEvents-activities"
                }
              }
            }
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-get",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-get"
      },
      "post": {
        "tags": [
          "Learning Events/Activities"
        ],
        "summary": "Create an activity",
        "operationId": "create_learningEvents-activities",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningEvents-activities-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningEvents-activities-item-response"
                }
              }
            },
            "links": {
              "relatedMaterials": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1relatedMaterials/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The relatedMaterials resource is used to add attachments to the learning parent resource, as well as to edit, view, and delete the attachments. Details include attached document ID, file name, file URL, file title, and description."
              },
              "CompletionTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ACTIVITY_COMPLETION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EVENT_ACTIVITY_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "classroomDetails": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1classroomDetails/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The classrooms resource is a child of the completionDetails resource. It provides the classroom details for the instructor-led activities associated with instructor-led and blended offerings."
              },
              "ActivityCompletionRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_EVENT_ACT_COMPL_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "instructorDetails": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1instructorDetails/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The instructors resource is a child of the completionDetails resource. It provides the instructors associated with instructor-led and blended offerings."
              },
              "adhocResources": {
                "operationRef": "#/paths/~1learningEvents~1{learningEventsUniqID}~1child~1activities~1{activitiesUniqID}~1child~1adhocResources/get",
                "parameters": {
                  "learningEventsUniqID": "$request.path.learningEventsUniqID",
                  "activitiesUniqID": "$request.path.activitiesUniqID"
                },
                "description": "The adhocResources resources captures the details of additional resources required for an instructor-led training, such as printers or whiteboards."
              }
            }
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-post",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-post"
      }
    }
  },
  "components": {
    "schemas": {
      "learningEvents-activities-item-response": {
        "type": "object",
        "properties": {
          "activityId": {
            "title": "Activity ID",
            "type": "integer",
            "description": "Unique identifier for the activity.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "help": {
                "instruction": "Activity ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "activityNumber": {
            "title": "Activity Number",
            "maxLength": 2000,
            "type": "string",
            "description": "Friendly number identifying the activity.",
            "nullable": false,
            "x-hints": {
              "help": {
                "instruction": "Activity Number"
              },
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "activityType": {
            "title": "Activity Type",
            "maxLength": 30,
            "type": "string",
            "description": "Activity type, such as Internal or External.",
            "nullable": true,
            "default": "ORA_ILT_ACTIVITY",
            "x-hints": {
              "help": {
                "instruction": "Activity Type"
              },
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "adhocResources": {
            "title": "Ad Hoc Resources",
            "type": "array",
            "description": "The adhocResources resources captures the details of additional resources required for an instructor-led training, such as printers or whiteboards.",
            "items": {
              "$ref": "#/components/schemas/learningEvents-activities-adhocResources-item-response"
            }
          },
          "attendanceConfirmationURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Link to the page where the learner can confirm attendance for an activity.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "attendanceQRDownloadURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Link to the page where the learner can download the QR code to confirm attendance for an activity.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "classroomDetails": {
            "title": "Classrooms",
            "type": "array",
            "description": "The classrooms resource is a child of the completionDetails resource. It provides the classroom details for the instructor-led activities associated with instructor-led and blended offerings.",
            "items": {
              "$ref": "#/components/schemas/learningEvents-activities-classroomDetails-item-response"
            }
          },
          "classroomDisplayName": {
            "title": "Classroom Title",
            "maxLength": 2000,
            "type": "string",
            "description": "Display name of the activity classrooms.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Title"
              }
            },
            "x-queryable": true
          },
          "classrooms": {
            "title": "Classrooms",
            "type": "string",
            "description": "List of activity classrooms.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Classrooms"
              }
            }
          },
          "completionRule": {
            "title": "Completion Rule",
            "maxLength": 30,
            "type": "string",
            "description": "Completion rule that determines how the content handles completions. It also determines if manager or learner confirmation is required.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Completion Rule"
              },
              "controlType": "choice",
              "includeInCompactView": true,
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "completionType": {
            "maxLength": 30,
            "type": "string",
            "description": "Completion type for the activity, such as Mandatory or Optional.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "description": {
            "title": "Activity Description",
            "type": "string",
            "description": "Description for the activity.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Activity Description"
              }
            }
          },
          "endDate": {
            "title": "Activity End Date",
            "type": "string",
            "description": "End date for the activity.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Activity End Date"
              }
            },
            "x-queryable": true
          },
          "expectedEffortInSeconds": {
            "title": "Expected Efforts",
            "type": "number",
            "description": "Expected effort needed by the learner to complete the learning item.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Expected Efforts"
              }
            },
            "x-queryable": true
          },
          "externalDetailsURL": {
            "title": "External Details URL",
            "maxLength": 2000,
            "type": "string",
            "description": "Details URL for the activity.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "External Details URL"
              }
            },
            "x-queryable": true
          },
          "instructorDetails": {
            "title": "Instructors",
            "type": "array",
            "description": "The instructors resource is a child of the completionDetails resource. It provides the instructors associated with instructor-led and blended offerings.",
            "items": {
              "$ref": "#/components/schemas/learningEvents-activities-instructorDetails-item-response"
            }
          },
          "instructors": {
            "title": "Instructors",
            "type": "string",
            "description": "List of activity instructors.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Instructors"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "relatedMaterials": {
            "title": "Related Materials",
            "type": "array",
            "description": "The relatedMaterials resource is used to add attachments to the learning parent resource, as well as to edit, view, and delete the attachments. Details include attached document ID, file name, file URL, file title, and description.",
            "items": {
              "$ref": "#/components/schemas/learningEvents-activities-relatedMaterials-item-response"
            }
          },
          "startDate": {
            "title": "Activity Start Date",
            "type": "string",
            "description": "Start date for the activity.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Start Date"
              }
            },
            "x-queryable": true
          },
          "status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status for the activity",
            "nullable": false,
            "x-hints": {
              "help": {
                "instruction": "Status"
              }
            },
            "x-queryable": true
          },
          "timezone": {
            "title": "Time Zone",
            "maxLength": 30,
            "type": "string",
            "description": "Time zone for the activity",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Time Zone"
              }
            },
            "x-queryable": true
          },
          "title": {
            "title": "Title",
            "maxLength": 250,
            "type": "string",
            "description": "Title of the activity.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Title"
              }
            }
          },
          "virtualClassroomURL": {
            "title": "Virtual Classroom URL",
            "maxLength": 500,
            "type": "string",
            "description": "Link to join the virtual classroom, if used in the ILT activity. Doesn't apply to any other types of activities.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Virtual Classroom URL"
              }
            }
          }
        }
      },
      "learningEvents-activities-adhocResources-item-response": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "resourceDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description for the resource.",
            "nullable": true,
            "x-queryable": true
          },
          "resourceId": {
            "type": "integer",
            "description": "Unique identifier for the resource.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "resourceName": {
            "maxLength": 100,
            "type": "string",
            "description": "Display name of the resource.",
            "nullable": true,
            "x-queryable": true
          },
          "resourceNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number for identifying a resource.",
            "nullable": true,
            "x-queryable": true
          },
          "resourceQuantity": {
            "type": "number",
            "description": "Quantity for the resource.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "learningEvents-activities-classroomDetails-item-response": {
        "type": "object",
        "properties": {
          "classroomDescription": {
            "title": "Classroom Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Description"
              }
            },
            "x-queryable": true
          },
          "classroomId": {
            "title": "Classroom ID",
            "type": "integer",
            "description": "Application-generated primary key for a classroom.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "classroomNumber": {
            "title": "Classroom Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number for identifying a classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Number"
              }
            },
            "x-queryable": true
          },
          "classroomTitle": {
            "title": "Classroom Title",
            "maxLength": 250,
            "type": "string",
            "description": "Name of the classroom.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Title"
              }
            },
            "x-queryable": true
          },
          "contactPersonDisplayName": {
            "title": "Contact Person Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Display Name"
              }
            },
            "x-queryable": true
          },
          "contactPersonId": {
            "title": "Contact Person ID",
            "type": "integer",
            "description": "Identifier for the person who's the classroom contact.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "contactPersonImageURL": {
            "title": "Contact Person Image URL",
            "maxLength": 32,
            "type": "string",
            "description": "Image URL for the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Image URL"
              }
            },
            "x-queryable": true
          },
          "contactPersonNumber": {
            "title": "Contact Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number for the classroom contact person.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Number"
              }
            },
            "x-queryable": true
          },
          "contactPersonPrimaryEmailAddress": {
            "title": "Contact Person Primary Email Address",
            "maxLength": 60,
            "type": "string",
            "description": "Primary email address of the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "contactPersonPrimaryPhoneNumber": {
            "title": "Contact Person Primary Phone Number",
            "maxLength": 240,
            "type": "string",
            "description": "Primary phone number for the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Primary Phone Number"
              }
            },
            "x-queryable": true
          },
          "isPrimaryClassroom": {
            "title": "Primary Classroom",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the classroom is a primary classroom. The default value is N. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Primary Classroom"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "isPrimaryClassroomMeaning": {
            "title": "Primary Classroom Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the value of the isPrimaryClassroom attribute.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Primary Classroom Description"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "locationAddressLine1": {
            "title": "Location Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Location address line 1.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Address Line 1"
              }
            },
            "x-queryable": true
          },
          "locationAddressLine2": {
            "title": "Location Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Location address line 2.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Address Line 2"
              }
            },
            "x-queryable": true
          },
          "locationAddressLine3": {
            "title": "Location Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Location address line 3.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Address Line 3"
              }
            },
            "x-queryable": true
          },
          "locationCity": {
            "title": "Location City",
            "maxLength": 60,
            "type": "string",
            "description": "City of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location City"
              }
            },
            "x-queryable": true
          },
          "locationCountry": {
            "title": "Location Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Country"
              }
            },
            "x-queryable": true
          },
          "locationDisplayString": {
            "title": "Location Display String",
            "maxLength": 32,
            "type": "string",
            "description": "Complete classroom address in the string format.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Display String"
              }
            },
            "x-queryable": true
          },
          "locationLatitude": {
            "title": "Location Latitude",
            "type": "number",
            "description": "Latitude of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Latitude"
              }
            },
            "x-queryable": true
          },
          "locationLongitude": {
            "title": "Location Longitude",
            "type": "number",
            "description": "Longitude of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Longitude"
              }
            },
            "x-queryable": true
          },
          "locationName": {
            "title": "Location Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Name"
              }
            },
            "x-queryable": true
          },
          "locationSingleLineString": {
            "maxLength": 1732,
            "type": "string",
            "description": "Location of the classroom expressed as a single line string.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "locationZipCode": {
            "title": "Location ZIP Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of the location address.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location ZIP Code"
              }
            },
            "x-queryable": true
          }
        }
      },
      "learningEvents-activities-instructorDetails-item-response": {
        "type": "object",
        "properties": {
          "instructorId": {
            "title": "Instructor ID",
            "type": "integer",
            "description": "Unique identifier for the instructor.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "instructorNumber": {
            "title": "Instructor Number",
            "maxLength": 19,
            "type": "string",
            "description": "Friendly number for identifying the instructor.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor Number"
              }
            },
            "x-queryable": true
          },
          "isPrimaryInstructor": {
            "title": "Primary Instructor",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the person is the primary instructor. The default value is N. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Primary Instructor"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "personDisplayName": {
            "title": "Instructor",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the instructor.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor"
              }
            },
            "x-queryable": true
          },
          "personId": {
            "title": "Instructor Person ID",
            "type": "integer",
            "description": "Identifier for the person who's the instructor.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "personImageURL": {
            "title": "Instructor Image URL",
            "maxLength": 32,
            "type": "string",
            "description": "Image URL for the instructor for the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor Image URL"
              },
              "dependencies": [
                "personId"
              ]
            },
            "x-queryable": true
          },
          "personNumber": {
            "title": "Instructor Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number for the instructor.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor Person Number"
              }
            },
            "x-queryable": true
          },
          "personPrimaryEmailAddress": {
            "title": "Instructor Primary Email Address",
            "maxLength": 60,
            "type": "string",
            "description": "Primary Email address of the instructor for the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "personPrimaryPhoneNumber": {
            "title": "Instructor Primary Phone Number",
            "maxLength": 240,
            "type": "string",
            "description": "Phone number of the instructor of the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Instructor Primary Phone Number"
              }
            },
            "x-queryable": true
          },
          "status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status for the instructor.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "learningEvents-activities-relatedMaterials-item-response": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "relatedMaterialsBinaries": {
            "title": "Related Materials Binaries",
            "type": "array",
            "description": "The assetAttachments resource adds, edits, views, and deletes attachments for the parent resource. Details include attached document identifier, file name, file URL, file title, and description.",
            "items": {
              "$ref": "#/components/schemas/learningEvents-activities-relatedMaterials-relatedMaterialsBinaries-item-response"
            }
          },
          "visibility": {
            "maxLength": 80,
            "type": "string",
            "description": "Determines who can view or edit the attachments, such as Administrators, Administrators and Enrollees, or Administrators and Self Service.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "CATEGORY": "General"
            },
            "x-queryable": true
          }
        }
      },
      "learningEvents-activities-relatedMaterials-relatedMaterialsBinaries-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided by the Attachment UI components to support the upload of files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the file can be shared. The default value is false and it's the only supported value.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "Attachment creator.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "User name of the attachment creator.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the attachment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Attachment Type such as FILE or TEXT, or WEB_PAGE.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "User name of the person who uploaded the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Surrogate identifier for the document attached.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Folder path where the attachment will be created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "Version number for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "JSON object represented as a string that contains information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date for the attachment. This is a read-only attribute.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Expiration date of the attachment. This is a read-only attribute.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Actual content of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "Name for the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "File URL for the attachment.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Base64 encoded image file displayed in .png format when the source is a convertible image.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "Date when attachment record was most recently updated.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "Name of the person who most recently updated the attachment record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Name of the action that can be done after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "User name of the person who most recently updated the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "Content type of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "Size of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Name of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "Text uploaded in the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URI for the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "URL for a web page type attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "learningEvents-activities-item-patch-request": {
        "type": "object",
        "properties": {
          "activityNumber": {
            "title": "Activity Number",
            "maxLength": 2000,
            "type": "string",
            "description": "Friendly number identifying the activity.",
            "nullable": false,
            "x-hints": {
              "help": {
                "instruction": "Activity Number"
              },
              "includeInCompactView": true
            }
          },
          "activityType": {
            "title": "Activity Type",
            "maxLength": 30,
            "type": "string",
            "description": "Activity type, such as Internal or External.",
            "nullable": true,
            "default": "ORA_ILT_ACTIVITY",
            "x-hints": {
              "help": {
                "instruction": "Activity Type"
              },
              "controlType": "choice",
              "CATEGORY": "General"
            }
          },
          "adhocResources": {
            "title": "Ad Hoc Resources",
            "type": "array",
            "description": "The adhocResources resources captures the details of additional resources required for an instructor-led training, such as printers or whiteboards.",
[...]
