{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Completion Details/Selected Course Offerings/Completion Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/completionDetails/{completionDetailsUniqID}/child/selectedCourseOfferings/{otherSelectedCourseOfferingsUniqID}/child/completionDetails/{completionDetailsUniqID2}": {
      "get": {
        "tags": [
          "Learner Learning Records/Completion Details/Selected Course Offerings/Completion Details"
        ],
        "summary": "Get a completion detail",
        "operationId": "get_learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherSelectedCourseOfferingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Selected Course Offerings resource and used to uniquely identify an instance of Selected Course Offerings. The client should not generate the hash key value. Instead, the client should query on the Selected Course Offerings collection resource in order to navigate to a specific instance of Selected Course Offerings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID2",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails-item-response"
                }
              }
            },
            "links": {
              "VirtualClassroomTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_VIRTUAL_CLASSROOM_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: virtualClassroomType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/virtualClassroomType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignedLearningItemSubTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ELEARNING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: parentLearningItemSubType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/parentLearningItemSubType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ELearnTimePerAttemptUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: elearnTimePERAttemptUnits; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/elearnTimePERAttemptUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ELearnRecordedAttemptsRuleLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: elearnRecordedAttemptsRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/elearnRecordedAttemptsRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityExpectedEffortUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityEffortUnits; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityEffortUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "activityContentAttempts": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1activityContentAttempts/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "instructors": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1instructors/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "relatedMaterials": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1relatedMaterials/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1questionnaireResponses/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "offeredLanguages": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1offeredLanguages/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "ActivityAttemptStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LI_TASK_SUB_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityAttemptStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityAttemptStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityAttemptAssignedToTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_TASK_OWNER_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityAttemptAssignedToType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityAttemptAssignedToType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LI_REST_ACTIVITY_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ActivityCompletionRequirementLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ACTIVITY_COMPLETION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityComplRequirement; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityComplRequirement",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnningContentTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CO_TRACKING_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: elearnType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/elearnType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DataSecurityPrivilegeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGNMENT_SEC_CONTEXT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "offeredLocations": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1offeredLocations/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "classrooms": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1classrooms/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "ActivityAttemptActualEffortUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: activityAttemptAEUnits; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/activityAttemptAEUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "activityCompletionPredecessorHint": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1activityCompletionPredecessorHint/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              },
              "activitySectionCompletionPredecessorHint": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1selectedCourseOfferings~1{otherSelectedCourseOfferingsUniqID102}~1child~1completionDetails~1{completionDetailsUniqID2100}~1child~1activitySectionCompletionPredecessorHint/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID102": "$request.path.otherSelectedCourseOfferingsUniqID102",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID",
                  "completionDetailsUniqID2100": "$request.path.completionDetailsUniqID2100"
                }
              }
            }
          }
        },
        "x-internal-id": "{completionDetailsUniqID}-child-selectedCourseOfferings-{otherSelectedCourseOfferingsUniqID}-child-completionDetails-{completionDetailsUniqID2}-get",
        "x-filename-id": "completiondetailsuniqid-child-selectedcourseofferings-otherselectedcourseofferingsuniqid-child-completiondetails-completiondetailsuniqid2-get"
      }
    },
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/completionDetails/{completionDetailsUniqID}/child/selectedCourseOfferings/{otherSelectedCourseOfferingsUniqID}/child/completionDetails": {
      "get": {
        "tags": [
          "Learner Learning Records/Completion Details/Selected Course Offerings/Completion Details"
        ],
        "summary": "Get all completion details",
        "operationId": "getall_learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherSelectedCourseOfferingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Selected Course Offerings resource and used to uniquely identify an instance of Selected Course Offerings. The client should not generate the hash key value. Instead, the client should query on the Selected Course Offerings collection resource in order to navigate to a specific instance of Selected Course Offerings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>activityAssignmentRecordId; integer; Activity assignment record ID for the activity attempt.</li><li>activityAttemptAEUnits; string; Actual units of learner effort to complete the activity. Valid values are defined in the ActivityAttemptActualEffortUnitsLOV list.</li><li>activityAttemptAEUnitsMeaning; string; Description of the activityAttemptAEUnitsMeaning attribute value.</li><li>activityAttemptActualEffort; number; Actual learner effort to complete the activity.</li><li>activityAttemptActualScore; number; Actual learner score for the activity attempt.</li><li>activityAttemptAssignedToDisplayName; string; Display name of the learning activity attempt assignee.</li><li>activityAttemptAssignedToId; integer; Friendly number identifying the learning activity attempt assignee.</li><li>activityAttemptAssignedToNumber; string; Friendly number identifying the learning activity attempt assignee.</li><li>activityAttemptAssignedToType; string; Type of user, such as Learner or Observer, assigned to the activity attempt. Valid values are defined in the ActivityAttemptAssignedToTypeLOV list.</li><li>activityAttemptAssignedToTypeMeaning; string; Description of the activity attempt assigned to type.</li><li>activityAttemptComplDate; string; Completion date of the activity attempt.</li><li>activityAttemptCompletionReasonCode; string; Reason code for completion of a learning activity attempt.</li><li>activityAttemptDeepLink; string; Deep link URL for the activity when opened in a browser. It opens the learning item activity player.</li><li>activityAttemptEmbedLink; string; Deep link URL to embed the learning activity page in other pages.</li><li>activityAttemptExemptedDate; string; Attempt exemption date for the learning activity attempt.</li><li>activityAttemptExemptedRC; string; Reason for the activity attempt exemption, such as Exempted - completed elsewhere, Exempted - higher level certification attained, or Completed offline and status verified. Valid values are defined in the AttemptExemptedReasonLOV list.</li><li>activityAttemptExemptedRCMeaning; string; Description of the activityAttemptExemptedRCMeaning attribute value.</li><li>activityAttemptId; number; Application-generated primary key.</li><li>activityAttemptLocked; string; Indicates whether the learning activity attempt is locked. Valid values are Y and N. Default value is N.</li><li>activityAttemptNextAction; string; Next activity action when the learner is working on the activity.</li><li>activityAttemptNumber; string; Number of attempts for the self-paced learning activity.</li><li>activityAttemptStartedDate; string; Date when the learner attempted the activity.</li><li>activityAttemptStatus; string; Status for the activity the learner is working on. Valid values include ORA_ASSN_TASK_COMPLETED, ORA_ASSN_TASK_EXEMPTED, ORA_ASSN_TASK_INCOMPLETE, ORA_ASSN_TASK_NOT_STARTED, and ORA_ASSN_TASK_IN_PROGRESS. Valid value are defined in the list ActivityAttemptStatusLOV.</li><li>activityAttemptStatusMeaning; string; Description of the activityAttemptStatusMeaning attribute value.</li><li>activityComplRequirement; string; Completion requirement for the learning activity. Valid values are defined in the ActivityCompletionRequirementLOV list.</li><li>activityComplRequirementMeaning; string; Description of the activityComplRequirementMeaning attribute value.</li><li>activityContentDisplayMode; string; Determines how learners see the content, such as embedded.</li><li>activityCoverArtLink; string; URL to open the cover art directly from the browser.</li><li>activityDate; string; Date when the ILT activity is worked on. Doesn't apply to any other types of activities.</li><li>activityDescription; string; Description of the learning activity.</li><li>activityDisplayOrder; number; Display order for the learning activities.</li><li>activityEffortUnits; string; Unit used to measure the effort required to complete the learning activity, such as hour, minute, or month. Valid values are defined in the ActivityExpectedEffortUnitsLOV list.</li><li>activityEffortUnitsMeaning; string; Description of the learning activity effort units.</li><li>activityEndTime; string; ILT activity end time in the user's preferred time zone. Doesn't apply to any other types of activities.</li><li>activityExpectedEffort; string; Expected effort for the learning activity.</li><li>activityId; integer; Application-generated primary key of the learning activity.</li><li>activityLearnerMarkCompl; string; Indicates whether the learner can mark the activity as completed.</li><li>activityLearnerRecordAttendance; string; Indicates whether learners can record their attendance for an activity.</li><li>activityNumber; string; Friendly number identifying the learning activity in the user interface.</li><li>activityPassingScore; number; Passing score for the learning activity.</li><li>activitySecComplRequired; number; Completion requirement for the learning activity section.</li><li>activitySectionAttemptCompletionProgress; number; Number of learning activities completed in a section.</li><li>activitySectionAttemptLocked; string; Indicates whether the attempt on the learning activity section is locked. Valid values are Y and N. Default value is N.</li><li>activitySectionAttemptStatus; string; Status of the attempt on the learning activity section. Valid values are defined in the learning activitySectionAttemptStatusLOV list.</li><li>activitySectionAttemptStatusMeaning; string; Description of the activitySectionAttemptStatus attribute value.</li><li>activitySectionDescription; string; Description of the learning activity section.</li><li>activitySectionDisplayOrder; number; Display order for the learning activity section.</li><li>activitySectionId; number; Application-generated primary key column.</li><li>activitySectionLongDescription; string; Long description of the learning activity.</li><li>activitySectionNumber; string; Number identifying the learning activity section.</li><li>activitySectionTitle; string; Name of the learning activity section.</li><li>activitySectionTotalActivities; number; Total number of learning activities in the section.</li><li>activityShortDescription; string; Description of the learning content activity.</li><li>activityShortTimeZone; string; Friendly format for the time zone.</li><li>activityStartTime; string; ILT activity start time in the user's preferred time zone. Doesn't apply to any other types of activities.</li><li>activityTimeZone; string; ILT activity time zone. Doesn't apply to any other types of activities.</li><li>activityTitle; string; Title of the learning activity.</li><li>activityTotalAttempts; number; Total learner attempts on the activity.</li><li>activityType; string; Activity type of the learning assignment. If the learning assignment is for specialization, this represents a course. If the learning assignment is for a course, this represents offering types. Valid values are defined in the ActivityTypeLOV list.</li><li>activityTypeMeaning; string; Description of the learning activity type.</li><li>addToCalendarLink; string; Link to download the .ics file to add the ILT activity to the calendar. Doesn't apply to any other types of activities.</li><li>allowFwdScrub; string; Indicates if forward scrubbing is enabled.Valid values are Y or N.</li><li>completionItemId; integer; Application-generated primary key of the completion item.</li><li>completionItemNumber; string; Friendly number identifying for identifying the completion item.</li><li>dataSecurityPrivilege; string; Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.</li><li>dataSecurityPrivilegeMeaning; string; Description of the value of the dataSecurityPrivilege attribute.</li><li>eLearnMarkCompletionOnOpen; string; Indicates whether to set the eLearning to complete when it's opened.</li><li>elearnAttemptReview; string; Indicates whether the learner can review the activity attempt. Valid values are ORA_WLF_ARAR_LAST_ATTEMPT, ORA_WLF_ARAR_DONT_ENABLE and are defined in the ELearnAttemptReviewLOV list.</li><li>elearnAttemptReviewMeaning; string; Description of the elearnAttemptReview attribute value.</li><li>elearnAttemptsAllowed; number; Maximum number of attempts allowed on the self-paced learning assessment activity.</li><li>elearnAutoLaunchOnPageOpen; string; Indicates whether the content needs to be automatically launched when the enrollment page opens.</li><li>elearnCoverArtLink; string; URL to open the eLearning cover art directly from the browser.</li><li>elearnDisableContentReview; string; Indicates whether the content review is disabled for the self-paced learning activity. Valid values are Y and N. Default value is N for self-paced learning activity with content type such as Video, PDF, Web link, SCORM or HACP.</li><li>elearnDisableReview; string; Indicates whether to disable reviews for the self-paced learning activity.</li><li>elearnDisableReviewForPassedAttempts; string; Indicates whether the review of passed attempts is disabled for the self-paced learning activity. Valid values are Y and N. Default value is Y.</li><li>elearnHideActualScore; string; Indicates whether to hide the score for the self-paced learning activity.</li><li>elearnId; number; Application-generated primary key for the eLearning content of the self-paced activity.</li><li>elearnNumber; string; Number for identifying the content that backs the self-paced learning activity.</li><li>elearnQuestionnaireId; integer; Unique identifier for the questionnaire that's the self-paced learning assessment activity.</li><li>elearnQuestionnaireNumber; string; Question number of a question in the eLearning.</li><li>elearnRecordedAttemptsRule; string; Rule for the maximum number of attempts allowed for the self-paced learning activity. Valid values are ORA_WLF_ARA_SNGL, ORA_WLF_ARA_LTD_NUM, ORA_WLF_ARA_UNLTD and are defined in the ELearnRecordedAttemptsRuleLOV list.</li><li>elearnRecordedAttemptsRuleMeaning; string; Description of the elearnRecordedAttemptsRule attribute value.</li><li>elearnRichMediaLink; string; URL to open the video directly from the browser.</li><li>elearnRichMediaSrcLink; string; Link to the rich media source file.</li><li>elearnShortDescription; string; Description of the learning content for the self-paced activity.</li><li>elearnShowResponseFeedback; string; Show response feedback for the self-paced learning activity.</li><li>elearnTimePERAttempt; number; Time limit per attempt on the self-paced learning assessment activity.</li><li>elearnTimePERAttemptUnits; string; Unit of measure for the time limit per attempt on the self-paced learning assessment activity, such as Hours or Minutes. Valid values are defined in the ELearnTimePerAttemptUnitsLOV list.</li><li>elearnTimePERAttemptUnitsMeaning; string; Description of the elearnTimePERAttemptUnitsMeaning attribute value.</li><li>elearnTitle; string; Name of the learning content for the self-paced activity.</li><li>elearnType; string; Type of the self-paced learning, such as Video or SCORM. Valid values are defined in the LearnningContentTypeLOV list.</li><li>elearnTypeMeaning; string; Description of the elearnTypeMeaning attribute value.</li><li>parentLearningItemSubType; string; Learning item subtype, such as Video or Tutorial. Valid values are defined in the AssignedLearningItemSubTypeLOV list.</li><li>parentLearningItemSubTypeMeaning; string; Description of the attribute learningItemSubType attribute value.</li><li>sectionAttemptComplDate; string; Date when the learner successfully completed the learning activity section.</li><li>virtualClassroomInformation; string; Additional information about the virtual classroom, if used in the learning activity.</li><li>virtualClassroomJoinLink; string; Link to join the virtual classroom, if used in the ILT activity. Doesn't apply to any other types of activities.</li><li>virtualClassroomType; string; Type of the virtual classroom, such as ad-hoc virtual classroom, named virtual classroom, or no virtual classroom. Valid values are defined in the VirtualClassroomTypeLOV list.</li><li>virtualClassroomTypeMeaning; string; Description of the virtual classroom type.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the completion details for learning assignments that match the specified primary key criteria. <br>Finder Variables <ul><li>activityId; integer;  Unique identifier for the learning activity. </li></ul></li><li>findByActivityAssignmentRecordIdAndActivityId Finds the completion details for learning assignments that match the specified assignment criteria. <br>Finder Variables <ul><li>activityAssignmentRecordId; integer;  Unique identifier for the assignment record. </li><li>activityId; integer;  Unique identifier for the learning activity. </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li></ul></li><li>findByActivityId Finds the completion details for the given learning activity identifier. <br>Finder Variables <ul><li>activityId; integer;  Unique identifier for the learning activity. </li></ul></li><li>findByCompletionDetailsFilters Finds the completion details of a learning assignment that match the specified criteria. <br>Finder Variables <ul><li>activityAttemptStatus; string;  Status for the assigned learning activity. Valid values are ORA_ASSN_TASK_COMPLETED, ORA_ASSN_TASK_EXEMPTED, ORA_ASSN_TASK_INCOMPLETE, ORA_ASSN_TASK_NOT_STARTED, ORA_ASSN_TASK_IN_PROGRESS and are defined in the list ActivityAttemptStatusLOV. </li><li>activityExpectedEffort; string;  Expected effort for the learning activity. </li><li>activitySectionNumber; string;  Number identifying the learning activity section. </li><li>activityTitle; string;  Title of the activity. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the completion details for learning assignments that match the specified primary key criteria.",
                "properties": {
                  "activityId": {
                    "nullable": true,
                    "x-hints": {
                      "help": {
                        "instruction": "Activity ID"
                      },
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the learning activity.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Activity ID"
                  }
                }
              },
              {
                "name": "findByActivityAssignmentRecordIdAndActivityId",
                "description": "Finds the completion details for learning assignments that match the specified assignment criteria.",
                "title": "findByActivityAssignmentRecordIdAndActivityId",
                "properties": {
                  "activityId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning activity.",
                    "type": "integer"
                  },
                  "activityAssignmentRecordId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the assignment record.",
                    "type": "integer"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByActivityId",
                "description": "Finds the completion details for the given learning activity identifier.",
                "title": "findByActivityId",
                "properties": {
                  "activityId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning activity.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByCompletionDetailsFilters",
                "description": "Finds the completion details of a learning assignment that match the specified criteria.",
                "title": "findByCompletionDetailsFilters",
                "properties": {
                  "activityAttemptStatus": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Status for the assigned learning activity. Valid values are ORA_ASSN_TASK_COMPLETED, ORA_ASSN_TASK_EXEMPTED, ORA_ASSN_TASK_INCOMPLETE, ORA_ASSN_TASK_NOT_STARTED, ORA_ASSN_TASK_IN_PROGRESS and are defined in the list ActivityAttemptStatusLOV.",
                    "type": "string"
                  },
                  "activitySectionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Number identifying the learning activity section.",
                    "type": "string"
                  },
                  "activityExpectedEffort": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Expected effort for the learning activity.",
                    "type": "string"
                  },
                  "activityTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Title of the activity.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "child-completionDetails-{completionDetailsUniqID}-child-selectedCourseOfferings-{otherSelectedCourseOfferingsUniqID}-child-completionDetails-get",
        "x-filename-id": "child-completiondetails-completiondetailsuniqid-child-selectedcourseofferings-otherselectedcourseofferingsuniqid-child-completiondetails-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails-item-response": {
        "type": "object",
        "properties": {
          "activityAssignmentRecordId": {
            "title": "Activity Assignment Record ID",
            "type": "integer",
            "description": "Activity assignment record ID for the activity attempt.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Assignment Record ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "activityAttemptAEUnits": {
            "title": "Actual Effort Units",
            "maxLength": 120,
            "type": "string",
            "description": "Actual units of learner effort to complete the activity. Valid values are defined in the ActivityAttemptActualEffortUnitsLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Effort Units"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityAttemptAEUnitsMeaning": {
            "title": "Actual Effort Units Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the activityAttemptAEUnitsMeaning attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Effort Units Description"
              }
            },
            "x-queryable": true
          },
          "activityAttemptActualEffort": {
            "title": "Actual Effort",
            "type": "number",
            "description": "Actual learner effort to complete the activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Effort"
              }
            },
            "x-queryable": true
          },
          "activityAttemptActualScore": {
            "title": "Activity Attempt Actual Score",
            "type": "number",
            "description": "Actual learner score for the activity attempt.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Actual Score"
              }
            },
            "x-queryable": true
          },
          "activityAttemptAssignedToDisplayName": {
            "title": "Activity Attempt Assignee",
            "maxLength": 30,
            "type": "string",
            "description": "Display name of the learning activity attempt assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Assignee"
              }
            },
            "x-queryable": true
          },
          "activityAttemptAssignedToId": {
            "title": "Activity Attempt Assignee Person ID",
            "type": "integer",
            "description": "Friendly number identifying the learning activity attempt assignee.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Assignee Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "activityAttemptAssignedToNumber": {
            "title": "Activity Attempt Assignee Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the learning activity attempt assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Assignee Person Number"
              }
            },
            "x-queryable": true
          },
          "activityAttemptAssignedToType": {
            "title": "Activity Attempt Assignee Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of user, such as Learner or Observer, assigned to the activity attempt. Valid values are defined in the ActivityAttemptAssignedToTypeLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Assignee Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityAttemptAssignedToTypeMeaning": {
            "title": "Activity Attempt Assignee Type Description",
            "type": "string",
            "description": "Description of the activity attempt assigned to type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Assignee Type Description"
              }
            },
            "x-queryable": true
          },
          "activityAttemptComplDate": {
            "title": "Activity Attempt Completed Date",
            "type": "string",
            "description": "Completion date of the activity attempt.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Completed Date"
              }
            },
            "x-queryable": true
          },
          "activityAttemptCompletionReasonCode": {
            "title": "Activity Attempt Exempted Reason Code",
            "maxLength": 30,
            "type": "string",
            "description": "Reason code for completion of a learning activity attempt.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Exempted Reason Code"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityAttemptDeepLink": {
            "title": "Activity Attempt Deep Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Deep link URL for the activity when opened in a browser. It opens the learning item activity player.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Deep Link"
              },
              "dependencies": [
                "offeringLearningItemId"
              ]
            },
            "x-queryable": true
          },
          "activityAttemptEmbedLink": {
            "title": "Activity Attempt Embed Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Deep link URL to embed the learning activity page in other pages.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Embed Link"
              }
            },
            "x-queryable": true
          },
          "activityAttemptExemptedDate": {
            "title": "Activity Attempt Exempted Date",
            "type": "string",
            "description": "Attempt exemption date for the learning activity attempt.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Exempted Date"
              }
            },
            "x-queryable": true
          },
          "activityAttemptExemptedRC": {
            "title": "Activity Attempt Exempted Reason Code",
            "maxLength": 30,
            "type": "string",
            "description": "Reason for the activity attempt exemption, such as Exempted - completed elsewhere, Exempted - higher level certification attained, or Completed offline and status verified. Valid values are defined in the AttemptExemptedReasonLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Exempted Reason Code"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityAttemptExemptedRCMeaning": {
            "title": "Activity Attempt Exempted Reason Code Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the activityAttemptExemptedRCMeaning attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Exempted Reason Code Description"
              }
            },
            "x-queryable": true
          },
          "activityAttemptId": {
            "title": "Activity Attempt ID",
            "type": "number",
            "description": "Application-generated primary key.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt ID"
              }
            },
            "x-queryable": true
          },
          "activityAttemptLocked": {
            "title": "Activity Attempt Locked",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the learning activity attempt is locked. Valid values are Y and N. Default value is N.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Locked"
              }
            },
            "x-queryable": true
          },
          "activityAttemptNextAction": {
            "title": "Activity Attempt Next Action",
            "maxLength": 19,
            "type": "string",
            "description": "Next activity action when the learner is working on the activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Next Action"
              },
              "dependencies": [
                "offeringLearningItemId"
              ]
            },
            "x-queryable": true
          },
          "activityAttemptNumber": {
            "title": "Activity Attempt Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number of attempts for the self-paced learning activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Number"
              }
            },
            "x-queryable": true
          },
          "activityAttemptStartedDate": {
            "title": "Activity Attempt Started Date",
            "type": "string",
            "description": "Date when the learner attempted the activity.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Started Date"
              }
            },
            "x-queryable": true
          },
          "activityAttemptStatus": {
            "title": "Activity Attempt Status",
            "maxLength": 32,
            "type": "string",
            "description": "Status for the activity the learner is working on. Valid values include ORA_ASSN_TASK_COMPLETED, ORA_ASSN_TASK_EXEMPTED, ORA_ASSN_TASK_INCOMPLETE, ORA_ASSN_TASK_NOT_STARTED, and ORA_ASSN_TASK_IN_PROGRESS. Valid value are defined in the list ActivityAttemptStatusLOV.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Status"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityAttemptStatusMeaning": {
            "title": "Activity Attempt Status Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the activityAttemptStatusMeaning attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Attempt Status Description"
              }
            },
            "x-queryable": true
          },
          "activityComplRequirement": {
            "title": "Activity Completion Requirement",
            "maxLength": 120,
            "type": "string",
            "description": "Completion requirement for the learning activity. Valid values are defined in the ActivityCompletionRequirementLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Completion Requirement"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityComplRequirementMeaning": {
            "title": "Activity Completion Requirement Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the activityComplRequirementMeaning attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Completion Requirement Description"
              }
            },
            "x-queryable": true
          },
          "activityCompletionPredecessorHint": {
            "title": "Activity Completion Predecessor Hints",
            "type": "array",
            "description": "The activityCompletionPredecessorHint resource provides hints for the learning activity predecessor when sequencing is enabled.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails-activityCompletionPredecessorHint-item-response"
            },
            "x-cardinality": "1"
          },
          "activityContentAttempts": {
            "title": "Activity Content Attempts",
            "type": "array",
            "description": "The activityContentAttempts resource provides the content and attempts details of the parent learning item type. Content details include content identifier, content number, and content type. Attempts details include activity identifier, activity number, start date, and end date.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails-activityContentAttempts-item-response"
            }
          },
          "activityContentDisplayMode": {
            "maxLength": 30,
            "type": "string",
            "description": "Determines how learners see the content, such as embedded.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "activityCoverArtLink": {
            "title": "Activity Cover Art Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to open the cover art directly from the browser.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Cover Art Link"
              }
            },
            "x-queryable": true
          },
          "activityDate": {
            "title": "Activity Date",
            "type": "string",
            "description": "Date when the ILT activity is worked on. Doesn't apply to any other types of activities.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Date"
              },
              "dependencies": [
                "ActivityStartDatetime"
              ]
            },
            "x-queryable": true
          },
          "activityDescription": {
            "title": "Activity Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Description"
              }
            },
            "x-queryable": true
          },
          "activityDescriptionLong": {
            "type": "string",
            "description": "Long description of the learning activity.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "activityDisplayOrder": {
            "title": "Activity Position",
            "type": "number",
            "description": "Display order for the learning activities.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Position"
              }
            },
            "x-queryable": true
          },
          "activityEffortUnits": {
            "title": "Activity Effort Units",
            "maxLength": 120,
            "type": "string",
            "description": "Unit used to measure the effort required to complete the learning activity, such as hour, minute, or month. Valid values are defined in the ActivityExpectedEffortUnitsLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Effort Units"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityEffortUnitsMeaning": {
            "title": "Activity Effort Units Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning activity effort units.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Effort Units Description"
              }
            },
            "x-queryable": true
          },
          "activityEndDatetimeUTC": {
            "title": "Activity End Date",
            "type": "string",
            "description": "Learning activity end time expressed in UTC format.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Activity End Date"
              }
            }
          },
          "activityEndTime": {
            "title": "Activity End Time",
            "maxLength": 32,
            "type": "string",
            "description": "ILT activity end time in the user's preferred time zone. Doesn't apply to any other types of activities.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity End Time"
              },
              "dependencies": [
                "ActivityEndDatetime"
              ]
            },
            "x-queryable": true
          },
          "activityExpectedEffort": {
            "title": "Expected Effort",
            "maxLength": 83,
            "type": "string",
            "description": "Expected effort for the learning activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Expected Effort"
              }
            },
            "x-queryable": true
          },
          "activityId": {
            "title": "Activity ID",
            "type": "integer",
            "description": "Application-generated primary key of the learning activity.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "activityLearnerMarkCompl": {
            "title": "Learner Can Mark Activity Complete",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the learner can mark the activity as completed.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Learner Can Mark Activity Complete"
              }
            },
            "x-queryable": true
          },
          "activityLearnerRecordAttendance": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether learners can record their attendance for an activity.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "activityNumber": {
            "title": "Activity Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the learning activity in the user interface.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Number"
              }
            },
            "x-queryable": true
          },
          "activityPassingScore": {
            "title": "Passing Score",
            "type": "number",
            "description": "Passing score for the learning activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Passing Score"
              }
            },
            "x-queryable": true
          },
          "activitySecComplRequired": {
            "title": "Activity Section Required Activities",
            "type": "number",
            "description": "Completion requirement for the learning activity section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Required Activities"
              }
            },
            "x-queryable": true
          },
          "activitySectionAttemptCompletionProgress": {
            "title": "Activity Section Attempt Completion Progress",
            "type": "number",
            "description": "Number of learning activities completed in a section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Attempt Completion Progress"
              }
            },
            "x-queryable": true
          },
          "activitySectionAttemptLocked": {
            "title": "Activity Section Attempt Locked",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the attempt on the learning activity section is locked. Valid values are Y and N. Default value is N.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Attempt Locked"
              }
            },
            "x-queryable": true
          },
          "activitySectionAttemptStatus": {
            "title": "Activity Section Attempt Status",
            "maxLength": 32,
            "type": "string",
            "description": "Status of the attempt on the learning activity section. Valid values are defined in the learning activitySectionAttemptStatusLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Attempt Status"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activitySectionAttemptStatusMeaning": {
            "title": "Activity Section Attempt Status Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the activitySectionAttemptStatus attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Attempt Status Description"
              }
            },
            "x-queryable": true
          },
          "activitySectionCompletionPredecessorHint": {
            "title": "Activity Section Completion Predecessor Hints",
            "type": "array",
            "description": "The activitySectionCompletionPredecessorHint provides hints for the predecessor of the learning activity section when sequencing is enabled.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails-activitySectionCompletionPredecessorHint-item-response"
            },
            "x-cardinality": "1"
          },
          "activitySectionDescription": {
            "title": "Activity Section Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning activity section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Description"
              }
            },
            "x-queryable": true
          },
          "activitySectionDisplayOrder": {
            "title": "Activity Section Position",
            "type": "number",
            "description": "Display order for the learning activity section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Position"
              }
            },
            "x-queryable": true
          },
          "activitySectionId": {
            "title": "Activity Section ID",
            "type": "number",
            "description": "Application-generated primary key column.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section ID"
              }
            },
            "x-queryable": true
          },
          "activitySectionLongDescription": {
            "title": "Long Description",
            "type": "string",
            "description": "Long description of the learning activity.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Long Description"
              }
            },
            "x-queryable": true
          },
          "activitySectionNumber": {
            "title": "Activity Section Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number identifying the learning activity section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Number"
              }
            },
            "x-queryable": true
          },
          "activitySectionTitle": {
            "title": "Activity Section Title",
            "maxLength": 250,
            "type": "string",
            "description": "Name of the learning activity section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Title"
              }
            },
            "x-queryable": true
          },
          "activitySectionTotalActivities": {
            "title": "Activity Section Total Activities",
            "type": "number",
            "description": "Total number of learning activities in the section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Section Total Activities"
              }
            },
            "x-queryable": true
          },
          "activityShortDescription": {
            "title": "Activity Short Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning content activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Short Description"
              }
            },
            "x-queryable": true
          },
          "activityShortTimeZone": {
            "title": "Activity Time Zone",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly format for the time zone.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Time Zone"
              }
            },
            "x-queryable": true
          },
          "activityStartDatetimeUTC": {
            "title": "Activity Start Date",
            "type": "string",
            "description": "Learning activity start time expressed in UTC format.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Activity Start Date"
              }
            }
          },
          "activityStartTime": {
            "title": "Activity Start Time",
            "maxLength": 32,
            "type": "string",
            "description": "ILT activity start time in the user's preferred time zone. Doesn't apply to any other types of activities.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Start Time"
              },
              "dependencies": [
                "ActivityStartDatetime"
              ]
            },
            "x-queryable": true
          },
          "activityTimeZone": {
            "title": "Activity Time Zone",
            "maxLength": 30,
            "type": "string",
            "description": "ILT activity time zone. Doesn't apply to any other types of activities.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Time Zone"
              }
            },
            "x-queryable": true
          },
          "activityTitle": {
            "title": "Activity Title",
            "maxLength": 250,
            "type": "string",
            "description": "Title of the learning activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Title"
              }
            },
            "x-queryable": true
          },
          "activityTotalAttempts": {
            "title": "Activity Total Attempts",
            "type": "number",
            "description": "Total learner attempts on the activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Total Attempts"
              }
            },
            "x-queryable": true
          },
          "activityType": {
            "title": "Activity Type",
            "maxLength": 32,
            "type": "string",
            "description": "Activity type of the learning assignment. If the learning assignment is for specialization, this represents a course. If the learning assignment is for a course, this represents offering types. Valid values are defined in the ActivityTypeLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "activityTypeMeaning": {
            "title": "Activity Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the learning activity type.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Activity Type Description"
              }
            },
            "x-queryable": true
          },
          "addToCalendarLink": {
            "title": "Add to Calendar Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Link to download the .ics file to add the ILT activity to the calendar. Doesn't apply to any other types of activities.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Add to Calendar Link"
              },
              "dependencies": [
                "activityLearningItemId"
              ]
            },
            "x-queryable": true
          },
          "allowFwdScrub": {
            "title": "Allow learners to fast forward",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates if forward scrubbing is enabled.Valid values are Y or N.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Allow learners to fast forward"
              }
            },
            "x-queryable": true
          },
          "classrooms": {
            "title": "Classrooms",
            "type": "array",
            "description": "The classrooms resource is a child of the completionDetails resource. It provides the classroom details for the instructor-led activities associated with instructor-led and blended offerings.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-completionDetails-classrooms-item-response"
            }
          },
          "completionItemId": {
            "type": "integer",
            "description": "Application-generated primary key of the completion item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "completionItemNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying for identifying the completion item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "dataSecurityPrivilege": {
            "title": "Data Security Privilege",
            "maxLength": 32,
            "type": "string",
            "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "dataSecurityPrivilegeMeaning": {
            "title": "Data Security Privilege Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the value of the dataSecurityPrivilege attribute.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege Description"
              }
            },
            "x-queryable": true
          },
          "eLearnMarkCompletionOnOpen": {
            "title": "eLearning Mark Completion on Open",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to set the eLearning to complete when it's opened.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "eLearning Mark Completion on Open"
              }
            },
            "x-queryable": true
          },
          "elearnAttemptReview": {
            "title": "eLearning Attempt Review",
            "maxLength": 120,
            "type": "string",
            "description": "Indicates whether the learner can review the activity attempt. Valid values are ORA_WLF_ARAR_LAST_ATTEMPT, ORA_WLF_ARAR_DONT_ENABLE and are defined in the ELearnAttemptReviewLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "eLearning Attempt Review"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "elearnAttemptReviewMeaning": {
            "title": "eLearning Attempt Review Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the elearnAttemptReview attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "eLearning Attempt Review Description"
              }
            },
            "x-queryable": true
          },
          "elearnAttemptsAllowed": {
            "title": "eLearning Attempts Allowed",
            "type": "number",
            "description": "Maximum number of attempts allowed on the self-paced learning assessment activity.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "eLearning Attempts Allowed"
              }
            },
            "x-queryable": true
          },
          "elearnAutoLaunchOnPageOpen": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the content needs to be automatically launched when the enrollment page opens.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "elearnCoverArtLink": {
            "title": "eLearning Cover Art Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to open the eLearning cover art directly from the browser.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "eLearning Cover Art Link"
              }
            },
            "x-queryable": true
          },
          "elearnDisableContentReview": {
            "title": "eLearning Disable Content Review",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the content review is disabled for the self-paced learning activity. Valid values are Y and N. Default value is N for self-paced learning activity with content type such as Video, PDF, Web link, SCORM or HACP.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "eLearning Disable Content Review"
              }
            },
            "x-queryable": true
          },
[...]
