{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Past Renewals",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/pastRenewals": {
      "get": {
        "tags": [
          "Learner Learning Records/Past Renewals"
        ],
        "summary": "Get all past renewals",
        "operationId": "getall_learnerLearningRecords-pastRenewals",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>activeDate; string; Date when the learning assignment moved to an active status.</li><li>actualCpeUnits; number; Continuing professional education units that the learner achieved for this assignment.</li><li>actualEffortInHours; number; Actual effort, in hours, that it took the learner to complete the assignment.</li><li>actualScore; number; Learner score for this assignment.</li><li>assignedDate; string; Date when the learning item was assigned.</li><li>assignedToDisplayName; string; Display name for the learning item assignee.</li><li>assignedToId; integer; Unique identifier for the learning item assignee.</li><li>assignedToNumber; string; Friendly number identifying the learning item assignee.</li><li>assignedToPersonImageURL; string; Image URL for the learning item assignee.</li><li>assignedToPersonPrimaryEmailAddress; string; Primary email address for the learning item assignee.</li><li>assignedToPersonPrimaryPhoneNumber; string; Primary phone number for the learning item assignee.</li><li>assignedToType; string; Entity type for the learning assignment assignee. The valid value is person.</li><li>assignedToTypeMeaning; string; Description of the assignedToType attribute value.</li><li>assignerAttributionType; string; Entity type for the learning assignment creator, such as person, specialist, or community. Valid values are defined in the AssignerToAttributionTypeLOV list.</li><li>assignerAttributionTypeMeaning; string; Description of the assignerAttributionType attribute value.</li><li>assignerCommentsToLearner; string; Assigner comments to the learner made when creating the assignment. The value is null when there's no comment.</li><li>assignerDisplayName; string; Display name for the learning assignment creator. For example, in case of voluntary assignment, it's the name of the learner. For a specialist created assignment, it's the name of the specialist or the specified Assign As alias.</li><li>assignerId; integer; Identifier for the learning item assigner.</li><li>assignerNumber; string; Number for identifying the learning item assigner.</li><li>assignerPersonImageURL; string; Image URL for the learning item assigner.</li><li>assignerPersonPrimaryEmailAddress; string; Email address for the learning item assigner.</li><li>assignerPersonPrimaryPhoneNumber; string; Phone number for learning item assigner.</li><li>assignmentAttributionId; integer; Unique identifier for the entity that created the learning assignment.</li><li>assignmentCreatedDate; string; Date and time when the learning assignment was created.</li><li>assignmentDetailsDeepLink; string; URL to open the learning assignment item page directly from the browser.</li><li>assignmentDetailsEmbedLink; string; URL to embed the learning item page in other pages. It opens the isolated learning item page without the global toolbar on the top.</li><li>assignmentDueDate; string; Due date of the learning-specialist-created assignment. The value is null for voluntary assignments.</li><li>assignmentDueInFromSystemDate; integer; Due in days for the requested learning assignment.</li><li>assignmentJustification; string; Justification provided by the specialist when assigning, or the learner when enrolling in, a learning item.</li><li>assignmentLastModifiedDate; string; Date and time when the learning assignment was most recently updated.</li><li>assignmentRecordId; integer; Application-generated primary key.</li><li>assignmentRecordNumber; string; Number for identifying past learning renewal assignments.</li><li>assignmentStateMeaning; string; Indicates the current state of an enrollment, usually including the enrollment status. For example, Completed - Expired or Required - Overdue.</li><li>assignmentStateSeverity; string; Indicates the severity of the enrollment state, such as FATAL, WARN or INFO. For example, an overdue enrollment would have a severity of FATAL.</li><li>assignmentStatus; string; Status for the learning enrollment, such as Active, Content Completed, Completed, Withdrawn, or Deleted. Valid values are defined in the AssignmentStatusLOV list.</li><li>assignmentStatusMeaning; string; Description of the assignmentStatus attribute value.</li><li>assignmentSubStatus; string; Learning enrollment substatus, such as Not Started, or In Progress. Valid values are defined in the AssignmentSubStatusLOV list.</li><li>assignmentSubStatusMeaning; string; Description of the assignmentSubStatus attribute value.</li><li>assignmentType; string; Type of the learning enrollment, such as required or voluntary. Valid values are defined in the AssignmentTypeLOV list.</li><li>assignmentTypeMeaning; string; Description of the assignmentType attribute value.</li><li>canEditAssignmentHint; string; Hint to identify if the user can edit the learning assignment, such as Can delete, Can withdraw, or No edit. Valid values are defined in the CanEditAssignmentHintLOV list.</li><li>canEditAssignmentHintMeaning; string; Description of the canEditAssignmentHint attribute value.</li><li>completedDate; string; Date when the learning was completed.</li><li>contentCompletedDate; string; Completed date for past learning assignment renewals.</li><li>contentCompletedTimestamp; string; Date and time when the learning content was completed.</li><li>currentWaitlistPosition; integer; Current waitlist position of the learner.</li><li>dataSecurityPrivilege; string; Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.</li><li>dataSecurityPrivilegeMeaning; string; Description of the value of the dataSecurityPrivilege attribute.</li><li>deletedDate; string; Date when the learner was removed from the waitlist.</li><li>enrollmentQuestionnaireId; integer; Unique identifier for the learning enrollment questionnaire.</li><li>enteredPendingPaymentDate; string; Date when the learning assignment was added to the pending payment.</li><li>enteredPendingPrerequisitesDate; string; Date when the learning assignment entered pending prerequisites.</li><li>enteredPendingPrerequisitesTimestamp; string; Date and time when the learning assignment entered pending prerequisites.</li><li>enteredPendingSeatAcceptanceDate; string; Date when the learning assignment entered the pending seat acceptance status.</li><li>enteredWaitlistDate; string; Date when the learning assignment was added to the waitlist.</li><li>enteredWaitlistTimestamp; string; Date and time when the learning assignment was added to the waitlist.</li><li>evaluationSubmittedDate; string; Evaluation submitted for past learning assignment renewals.</li><li>evaluationSubmittedTimestamp; string; Date and time when the evaluation was submitted.</li><li>exemptedDate; string; Date when the learning assignment was exempted.</li><li>exitedPendingPrerequisitesDate; string; Date when the learning assignment exited pending prerequisites.</li><li>exitedPendingPrerequisitesTimestamp; string; Date and time when the learning assignment exited pending prerequisites.</li><li>exitedPendingSeatAcceptanceDate; string; Date when the learning assignment exited the pending seat acceptance status.</li><li>exitedWaitlistDate; string; Date when the learner exited the waitlist.</li><li>exitedWaitlistTimestamp; string; Date and time when the learner was removed from the learning item waitlist.</li><li>expectedEffortInHours; string; Expected learner effort to complete the learning assignment.</li><li>expirationDate; string; Date when the learning assignment expired, in the case of a renewal scenario.</li><li>expirationInDaysSystemDate; number; Expiration in days for the requested learning assignment.</li><li>expirationRule; string; Expiration rule for the learning assignment, in the case of a renewal scenario.</li><li>expirationRuleCode; string; Code that represents the expirationRule attribute.</li><li>expirationTimestamp; string; Date and time when the learning will expire.</li><li>hasFutureRenewal; string; Indicates whether the learning assignment is of type Expiration and has future renewal.</li><li>hasPastRenewal; string; Indicates whether the learning assignment has past renewals.</li><li>isLearnerOnLatestLIVersion; string; Indicates whether the learning enrollment uses the most recent learning item version. Valid values are Y and N. The default value is Y.</li><li>learningItemAuthorDisplayName; string; Display name the learning item author.</li><li>learningItemAuthorEmailAddress; string; Primary email address of the person.</li><li>learningItemAuthorPersonId; integer; Person identifier for the learning item author.</li><li>learningItemAuthorPhoneNumber; string; Phone number for the learning item author.</li><li>learningItemAuthorType; string; Learning author type. Valid values are ORA_PERSON or ORA_ADHOC.</li><li>learningItemCompletionCertificateLink; string; URL to open and download the learning item completion certificate directly from the browser. This is supported for completed and bypass completed assignments for a course, specialization, or legacy learning item type.</li><li>learningItemCoordDisplayName; string; Display name of the learning item coordinator.</li><li>learningItemCoordEmailAddress; string; Primary email address of the person.</li><li>learningItemCoordPersonId; integer; Person identifier for the learning item coordinator.</li><li>learningItemCoordPhoneNumber; string; Phone number for the learning item coordinator.</li><li>learningItemCoverArtLink; string; URL to open the learning item cover art directly from the browser.</li><li>learningItemCpeType; string; Continuing professional education type for the learning item. Valid values are defined in the CpeTypeLOV list.</li><li>learningItemCpeTypeMeaning; string; Description of the learningItemCpeType attribute value.</li><li>learningItemDataLink; string; Data link to the learning item.</li><li>learningItemDeepLink; string; URL to open the past learning renewals item page directly from the browser.</li><li>learningItemDefinitionUsedDate; string; Most recent updated date for the learning enrollment based on the learning item version as of this day.</li><li>learningItemEffectiveAsOf; string; Effective start date of the learning item.</li><li>learningItemEffectiveDate; string; Effective date of the learning item.</li><li>learningItemEmbedLink; string; URL to embed the learning item page in other pages. It opens the isolated learning item page without the global toolbar on the top.</li><li>learningItemEndDateUTC; string; End date for the learning in the UTC time zone.</li><li>learningItemId; integer; Unique identifier for the learning item. It's the internal primary key.</li><li>learningItemInstructorDisplayName; string; Display name for the learning item instructor.</li><li>learningItemInstructorEmailAddress; string; Primary email address of the person.</li><li>learningItemInstructorPersonId; integer; Person identifier for the learning item instructor.</li><li>learningItemInstructorPersonNumber; string; Person number of the learning item instructor.</li><li>learningItemInstructorPrimaryPhoneNumber; string; Phone number of the instructor of the learning item.</li><li>learningItemInstructorType; string; Type of instructor. Valid values are ORA_PERSON or ORA_ADHOC</li><li>learningItemInstructorTypeMeaning; string; Meaning for the learningItemType attribute.</li><li>learningItemLatestChangeEventDate; string; Date when the learning item was most recently changed.</li><li>learningItemMaximumPrice; number; Maximum price for the learning item.</li><li>learningItemMinimumPrice; number; Minimum price for the learning item.</li><li>learningItemNotificationPattern; string; Notification pattern, such as Default Notification Pattern.</li><li>learningItemNumber; string; Friendly number identifying the learning item. It's a surrogate key that's shown in the user interface.</li><li>learningItemPriceCurrency; string; Currency for the learning item price. Valid values are defined in the PriceCurrencyLOVVA list.</li><li>learningItemPublisherDisplayName; string; Name of the learning item publisher.</li><li>learningItemStartDateUTC; string; Start date for the learning in the UTC time zone.</li><li>learningItemSubType; string; Learning item subtype, such as Video or Tutorial. Valid values are defined in the AssignedLearningItemSubTypeLOV list.</li><li>learningItemSubTypeMeaning; string; Description of the learningItemSubType attribute value.</li><li>learningItemThumbnailLink; string; URL to open the learning item thumbnail directly from the browser.</li><li>learningItemTitle; string; Title of the learning item.</li><li>learningItemTrailerLink; string; URL to open the learning item trailer directly from the browser.</li><li>learningItemType; string; Learning item type, such as Course, Specialization, Tutorial, Video, or eLearning. Valid values are defined in the AssignedLearningItemTypeLOV list.</li><li>learningItemTypeMeaning; string; Description of the learningItemType attribute value.</li><li>liShortDescription; string; Description provided while creating the learning item.</li><li>liTotalExpectedEffort; number; Expected effort to complete the past learning renewal item.</li><li>liTotalExpectedEffortUOM; string; Effort expected to complete the past learning renewal item. Valid values are defined in the LiTotalExpectedEffortUomLOV list.</li><li>liTotalExpectedEffortUOMMeaning; string; Description of the liTotalExpectedEffortUOM attribute value.</li><li>nextRenewalAssignmentDeepLink; string; URL to open the next learning renewal item page directly from the browser.</li><li>nextRenewalAssignmentEmbedLink; string; URL to embed the learning item page in other pages. It opens the isolated learning item page without the global toolbar on the top.</li><li>nextRenewalAssignmentId; integer; Identifier of the learning renewal assignment. Applies if the learning assignment has an expiration with renewal.</li><li>nextRenewalAssignmentNumber; string; Assignment number for the renewal learning assignment. Applies if the learning assignment has an expiration with renewal.</li><li>purchaseAmount; number; Purchase amount for the requested past learning renewals.</li><li>purchaseCurrency; string; Purchase currency for the past learning renewal. Valid values are defined in the PriceCurrencyLOVVA list.</li><li>purchasedDate; string; Date of purchase for the learning transaction, if the learning is paid.</li><li>purchasedTimestamp; string; Date and time for the purchase of the paid learning.</li><li>reasonCode; string; Reason code for the learning renewal assignment. Applies if the learning assignment has an expiration with renewal. Valid values are defined in the ReasonCodeLOV list.</li><li>refundRule; string; Refund rule for the learning renewal assignment.</li><li>renewalPeriod; number; Number of days before the learning assignment expiration when the learner is assigned the renewal assignment.</li><li>requestApprovedDate; string; Approved date for the requested learning assignment.</li><li>requestApprovedTimestamp; string; Date and time when the learning assignment approval request was assigned to the approver.</li><li>requestRejectedDate; string; Rejected date for the requested learning assignment.</li><li>requestRejectedTimestamp; string; Date and time when the learning assignment request was rejected..</li><li>requestedCompleteByDate; string; Requested date by when the learner should complete the learning assignment.</li><li>requestedDate; string; Date when the learning assignment was requested.</li><li>requestedStartDate; string; Request start date specified in the learning assignment.</li><li>sourceId; integer; Unique identifier for the source where this assignment was created.</li><li>sourceType; string; Type for the source where this assignment was created, such as Recommendation or Search.</li><li>startedDate; string; Start date for the requested past learning renewals.</li><li>startedTimestamp; string; Date and time when the learner started the learning assignment.</li><li>statusChangeComment; string; Comment status change date for the learning assignment.</li><li>validityPeriodRule; string; Validity period rule for the assignment indicating when the validity period for the completed learning begins.</li><li>validityPeriodRuleMeaning; string; Description of the validityPeriodRule attribute value.</li><li>withdrawnDate; string; Date when the learner withdrew from the learning item.</li><li>withdrawnRequestedDate; string; Assignment withdrawn requested date for the learning renewal assignment. Applies if the learning assignment has an expiration with renewal.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the past renewal learning assignments that match the specified primary key criteria. <br>Finder Variables <ul><li>assignmentRecordId; integer;  Unique identifier for the assignment record. </li></ul></li><li>findByAssignee Finds all learning assignments that match the specified assignee criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learnerId; integer;  Unique identifier for the assignee. </li></ul></li><li>findByAssignmentRecordId Finds all the past renewal learning assignments that match the specified primary key criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>assignmentRecordId; integer;  Unique identifier for the assignment record. </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li></ul></li><li>findByAttribution Finds all the assignments that match the specified learning item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>assignedToId; integer;  Unique identifier for the learning assignee. </li><li>assignerAttributionType; string;  Entity type that created the learning assignment, such as person, specialist, or community. Valid values are defined in the list AssignerToAttributionTypeLOV. </li><li>assignerId; integer;  Unique identifier for the learning assigner. </li></ul></li><li>findByLearningItem Finds all learning assignments that match the specified learning item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager, is the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learningItemId; integer;  Title of the learning item. </li></ul></li><li>findByLearningItemTitle Finds all the past renewal assignments for learning Items that match the specified learning Item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learningItemTitle; string;  Title of the learning item. </li></ul></li><li>findByManager Finds all learning assignments for the specified manager's subordinates. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>managerId; integer;  Unique identifier for the learner's manager. </li></ul></li><li>findByPendingApproval Finds all learning assignments that the signed in person needs to approve. <br>Finder Variables <ul></ul></li><li>findMostRelevantAssignment Finds the most relevant past renewal learning assignment that matches the specified primary key criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li><li>learningItemId; integer;  Unique identifier for the learning Item. </li></ul></li><li>findMyCompletedLearnings Finds all the required or voluntary assignments that are complete and match the specified learning item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>learningItemTitle; string;  Title of the learning item. </li></ul></li><li>findMyCurrentLearnings Finds all the required or voluntary assignments that are incomplete and match the specified learning item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>learningItemTitle; string;  Title of the learning item. </li></ul></li><li>findMyLearningHistory Finds all the required or voluntary assignments that match the specified learning item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>learningItemTitle; string;  Title of the learning item. </li></ul></li><li>findMyRequiredLearnings Finds all the required assignments that are incomplete and match the specified learning item criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>learningItemTitle; string;  Title of the learning item. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the past renewal learning assignments that match the specified primary key criteria.",
                "properties": {
                  "assignmentRecordId": {
                    "nullable": false,
                    "x-hints": {
                      "help": {
                        "instruction": "Enrollment Record ID"
                      },
                      "CATEGORY": "General",
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the assignment record.",
                    "type": "integer",
                    "title": "Enrollment Record ID"
                  }
                }
              },
              {
                "name": "findByAssignee",
                "description": "Finds all learning assignments that match the specified assignee criteria.",
                "title": "findByAssignee",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "learnerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the assignee.",
                    "type": "integer"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAssignmentRecordId",
                "description": "Finds all the past renewal learning assignments that match the specified primary key criteria.",
                "title": "findByAssignmentRecordId",
                "properties": {
                  "assignmentRecordId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the assignment record.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAttribution",
                "description": "Finds all the assignments that match the specified learning item criteria.",
                "title": "findByAttribution",
                "properties": {
                  "assignedToId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the learning assignee.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "assignerAttributionType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Entity type that created the learning assignment, such as person, specialist, or community. Valid values are defined in the list AssignerToAttributionTypeLOV.",
                    "type": "string"
                  },
                  "assignerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning assigner.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByLearningItem",
                "description": "Finds all learning assignments that match the specified learning item criteria.",
                "title": "findByLearningItem",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager, is the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "learningItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Title of the learning item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByLearningItemTitle",
                "description": "Finds all the past renewal assignments for learning Items that match the specified learning Item criteria.",
                "title": "findByLearningItemItemTitle",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "learningItemTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Title of the learning item.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByManager",
                "description": "Finds all learning assignments for the specified manager's subordinates.",
                "title": "findByManager",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "managerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the learner's manager.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPendingApproval",
                "description": "Finds all learning assignments that the signed in person needs to approve.",
                "title": "findByPendingApproval",
                "properties": {}
              },
              {
                "name": "findMostRelevantAssignment",
                "description": "Finds the most relevant past renewal learning assignment that matches the specified primary key criteria.",
                "title": "findMostRelevantAssignment",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  },
                  "learningItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the learning Item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findMyCompletedLearnings",
                "description": "Finds all the required or voluntary assignments that are complete and match the specified learning item criteria.",
                "title": "findMyCompletedLearnings",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "learningItemTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Title of the learning item.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findMyCurrentLearnings",
                "description": "Finds all the required or voluntary assignments that are incomplete and match the specified learning item criteria.",
                "title": "findMyCurrentLearnings",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "learningItemTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Title of the learning item.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findMyLearningHistory",
                "description": "Finds all the required or voluntary assignments that match the specified learning item criteria.",
                "title": "findMyLearningHistory",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "learningItemTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Title of the learning item.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findMyRequiredLearnings",
                "description": "Finds all the required assignments that are incomplete and match the specified learning item criteria.",
                "title": "findMyRequiredLearnings",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "learningItemTitle": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Title of the learning item.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-pastRenewals"
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-pastRenewals-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-pastrenewals-get"
      }
    },
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/pastRenewals/{pastRenewalsUniqID}": {
      "get": {
        "tags": [
          "Learner Learning Records/Past Renewals"
        ],
        "summary": "Get a past renewal",
        "operationId": "get_learnerLearningRecords-pastRenewals",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pastRenewalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Past Renewals resource and used to uniquely identify an instance of Past Renewals. The client should not generate the hash key value. Instead, the client should query on the Past Renewals collection resource in order to navigate to a specific instance of Past Renewals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-pastRenewals-item-response"
                }
              }
            },
            "links": {
              "AssignedLearningItemSubTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemSubType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemSubType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "relatedLearningRecords": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1pastRenewals~1{pastRenewalsUniqID}~1child~1relatedLearningRecords/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "pastRenewalsUniqID": "$request.path.pastRenewalsUniqID"
                },
                "description": "The relatedLearningRecords resource provides details of the related learning assignments for the learning assignment."
              },
              "LiTotalExpectedEffortUomLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: liTotalExpectedEffortUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/liTotalExpectedEffortUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemAuthorTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_AUTHOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemAuthorType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemAuthorType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignedToTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignedToType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignedToType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignmentStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ValidityPeriodOptionLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CO_VALIDITY_OPTIONS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: validityPeriodRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/validityPeriodRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CanEditAssignmentHintLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_CAN_EDIT_ASSIGNMENT_HINT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: canEditAssignmentHint; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/canEditAssignmentHint",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignerToAttributionTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignerAttributionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignerAttributionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningItemNotificationPatternLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_NOTIF_PATTERN"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemNotificationPattern; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemNotificationPattern",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DataSecurityPrivilegeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGNMENT_SEC_CONTEXT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignmentSubStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentSubStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentSubStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReasonCodeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: reasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/reasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CpeTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CPE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemCpeType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemCpeType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-pastRenewals-{pastRenewalsUniqID}-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-pastrenewals-pastrenewalsuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learnerLearningRecords-pastRenewals": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-pastRenewals-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "learnerLearningRecords-pastRenewals-item-response": {
        "type": "object",
        "properties": {
          "activeDate": {
            "title": "Active Date",
            "type": "string",
            "description": "Date when the learning assignment moved to an active status.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Active Date"
              }
            },
            "x-queryable": true
          },
          "actualCpeUnits": {
            "title": "Actual CPE Units",
            "type": "number",
            "description": "Continuing professional education units that the learner achieved for this assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual CPE Units"
              }
            },
            "x-queryable": true
          },
          "actualEffortInHours": {
            "title": "Actual Effort in Hours",
            "type": "number",
            "description": "Actual effort, in hours, that it took the learner to complete the assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Effort in Hours"
              },
              "precision": 9,
              "scale": 3
            },
            "x-queryable": true
          },
          "actualScore": {
            "title": "Actual Score",
            "type": "number",
            "description": "Learner score for this assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Actual Score"
              },
              "precision": 9,
              "scale": 3
            },
            "x-queryable": true
          },
          "assignedDate": {
            "title": "Enrolled on Date",
            "type": "string",
            "description": "Date when the learning item was assigned.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Enrolled on Date"
              }
            },
            "x-queryable": true
          },
          "assignedToDisplayName": {
            "title": "Assignee Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Display Name"
              }
            },
            "x-queryable": true
          },
          "assignedToId": {
            "title": "Assignee Person ID",
            "type": "integer",
            "description": "Unique identifier for the learning item assignee.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignedToNumber": {
            "title": "Assignee Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person Number"
              }
            },
            "x-queryable": true
          },
          "assignedToPersonImageURL": {
            "title": "Assignee Person Image URL",
            "maxLength": 19,
            "type": "string",
            "description": "Image URL for the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person Image URL"
              },
              "dependencies": [
                "assignedToId"
              ]
            },
            "x-queryable": true
          },
          "assignedToPersonPrimaryEmailAddress": {
            "title": "Assignee Primary Email Address",
            "maxLength": 240,
            "type": "string",
            "description": "Primary email address for the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Primary Email Address"
              },
              "dependencies": [
                "learnerId"
              ]
            },
            "x-queryable": true
          },
          "assignedToPersonPrimaryPhoneNumber": {
            "title": "Assignee Primary Phone Number",
            "maxLength": 60,
            "type": "string",
            "description": "Primary phone number for the learning item assignee.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Primary Phone Number"
              },
              "dependencies": [
                "learnerId"
              ]
            },
            "x-queryable": true
          },
          "assignedToType": {
            "title": "Assignee Attribution Type",
            "maxLength": 19,
            "type": "string",
            "description": "Entity type for the learning assignment assignee. The valid value is person.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Attribution Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignedToTypeMeaning": {
            "title": "Assignee Attribution Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignedToType attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Attribution Type Description"
              }
            },
            "x-queryable": true
          },
          "assignerAttributionType": {
            "title": "Assigner Attribution Type",
            "maxLength": 30,
            "type": "string",
            "description": "Entity type for the learning assignment creator, such as person, specialist, or community. Valid values are defined in the AssignerToAttributionTypeLOV list.",
            "nullable": true,
            "default": "ORA_PERSON",
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignerAttributionTypeMeaning": {
            "title": "Assigner Attribution Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignerAttributionType attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution Type Description"
              }
            },
            "x-queryable": true
          },
          "assignerCommentsToLearner": {
            "title": "Assigner Comments to Learner",
            "maxLength": 4000,
            "type": "string",
            "description": "Assigner comments to the learner made when creating the assignment. The value is null when there's no comment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Comments to Learner"
              }
            },
            "x-queryable": true
          },
          "assignerDisplayName": {
            "title": "Enrolled By",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the learning assignment creator. For example, in case of voluntary assignment, it's the name of the learner. For a specialist created assignment, it's the name of the specialist or the specified Assign As alias.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrolled By"
              }
            },
            "x-queryable": true
          },
          "assignerId": {
            "title": "Assigner ID",
            "type": "integer",
            "description": "Identifier for the learning item assigner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignerNumber": {
            "title": "Assigner Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number for identifying the learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Number"
              }
            },
            "x-queryable": true
          },
          "assignerPersonImageURL": {
            "title": "Assigner Person Image URL",
            "maxLength": 19,
            "type": "string",
            "description": "Image URL for the learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Image URL"
              },
              "dependencies": [
                "assignerId"
              ]
            },
            "x-queryable": true
          },
          "assignerPersonPrimaryEmailAddress": {
            "title": "Assigner Person Primary Email Address",
            "maxLength": 240,
            "type": "string",
            "description": "Email address for the learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Primary Email Address"
              },
              "dependencies": [
                "assignmentAttributionId"
              ]
            },
            "x-queryable": true
          },
          "assignerPersonPrimaryPhoneNumber": {
            "title": "Assigner Person Primary Phone Number",
            "maxLength": 60,
            "type": "string",
            "description": "Phone number for learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Primary Phone Number"
              },
              "dependencies": [
                "assignmentAttributionId"
              ]
            },
            "x-queryable": true
          },
          "assignmentAttributionId": {
            "title": "Assigner Attribution ID",
            "type": "integer",
            "description": "Unique identifier for the entity that created the learning assignment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignmentCreatedDate": {
            "title": "Assignment Created Date",
            "type": "string",
            "description": "Date and time when the learning assignment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Created Date"
              }
            },
            "x-queryable": true
          },
          "assignmentDetailsDeepLink": {
            "title": "Assignment Details Deep Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to open the learning assignment item page directly from the browser.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Details Deep Link"
              }
            },
            "x-queryable": true
          },
          "assignmentDetailsEmbedLink": {
            "title": "Assignment Details Embed Link",
            "maxLength": 4000,
            "type": "string",
            "description": "URL to embed the learning item page in other pages. It opens the isolated learning item page without the global toolbar on the top.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Details Embed Link"
              }
            },
            "x-queryable": true
          },
          "assignmentDueDate": {
            "title": "Due Date",
            "type": "string",
            "description": "Due date of the learning-specialist-created assignment. The value is null for voluntary assignments.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Due Date"
              }
            },
            "x-queryable": true
          },
          "assignmentDueInFromSystemDate": {
            "title": "Assignment Due in from System Date",
            "type": "integer",
            "description": "Due in days for the requested learning assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Due in from System Date"
              }
            },
            "x-queryable": true
          },
          "assignmentJustification": {
            "title": "Justification",
            "maxLength": 4000,
            "type": "string",
            "description": "Justification provided by the specialist when assigning, or the learner when enrolling in, a learning item.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Justification"
              }
            },
            "x-queryable": true
          },
          "assignmentLastModifiedDate": {
            "title": "Assignment Last Modified Date",
            "type": "string",
            "description": "Date and time when the learning assignment was most recently updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Last Modified Date"
              }
            },
            "x-queryable": true
          },
          "assignmentRecordId": {
            "title": "Enrollment Record ID",
            "type": "integer",
            "description": "Application-generated primary key.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record ID"
              },
              "CATEGORY": "General",
              "precision": 18
            },
            "x-queryable": true
          },
          "assignmentRecordNumber": {
            "title": "Enrollment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number for identifying past learning renewal assignments.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Number"
              },
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "assignmentStateMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates the current state of an enrollment, usually including the enrollment status. For example, Completed - Expired or Required - Overdue.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "assignmentStateSeverity": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates the severity of the enrollment state, such as FATAL, WARN or INFO. For example, an overdue enrollment would have a severity of FATAL.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "assignmentStatus": {
            "title": "Enrollment Record Status",
            "maxLength": 32,
            "type": "string",
            "description": "Status for the learning enrollment, such as Active, Content Completed, Completed, Withdrawn, or Deleted. Valid values are defined in the AssignmentStatusLOV list.",
            "nullable": false,
            "default": "ORA_ASSN_REC_ACTIVE",
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Status"
              },
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "assignmentStatusMeaning": {
            "title": "Enrollment Record Status Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignmentStatus attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Status Description"
              },
              "dependencies": [
                "assignmentStatus"
              ]
            },
            "x-queryable": true
          },
          "assignmentSubStatus": {
            "title": "Enrollment Record Substatus",
            "maxLength": 30,
            "type": "string",
            "description": "Learning enrollment substatus, such as Not Started, or In Progress. Valid values are defined in the AssignmentSubStatusLOV list.",
            "nullable": true,
            "default": "ORA_ASSN_REC_NOTSTARTED",
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Substatus"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignmentSubStatusMeaning": {
            "title": "Enrollment Record Substatus Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignmentSubStatus attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Substatus Description"
              },
              "dependencies": [
                "assignmentSubStatus"
              ]
            },
            "x-queryable": true
          },
          "assignmentType": {
            "title": "Enrollment Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the learning enrollment, such as required or voluntary. Valid values are defined in the AssignmentTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignmentTypeMeaning": {
            "title": "Enrollment Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignmentType attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Type Description"
              }
            },
            "x-queryable": true
          },
          "canEditAssignmentHint": {
            "title": "Can Edit Assignment Hint",
            "maxLength": 4000,
            "type": "string",
            "description": "Hint to identify if the user can edit the learning assignment, such as Can delete, Can withdraw, or No edit. Valid values are defined in the CanEditAssignmentHintLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Can Edit Assignment Hint"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "canEditAssignmentHintMeaning": {
            "title": "Can Edit Assignment Hint Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the canEditAssignmentHint attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Can Edit Assignment Hint Description"
              }
            },
            "x-queryable": true
          },
          "completedDate": {
            "title": "Completed Date",
            "type": "string",
            "description": "Date when the learning was completed.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Completed Date"
              }
            },
            "x-queryable": true
          },
          "contentCompletedDate": {
            "title": "Content Completed Date",
            "type": "string",
            "description": "Completed date for past learning assignment renewals.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Content Completed Date"
              }
            },
            "x-queryable": true
          },
          "contentCompletedTimestamp": {
            "title": "Content Completed Date",
            "type": "string",
            "description": "Date and time when the learning content was completed.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Content Completed Date"
              }
            },
            "x-queryable": true
          },
          "currentWaitlistPosition": {
            "title": "Current Waitlist Position",
            "type": "integer",
            "description": "Current waitlist position of the learner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Current Waitlist Position"
              },
              "precision": 30
            },
            "x-queryable": true
          },
          "dataSecurityPrivilege": {
            "title": "Data Security Privilege",
            "maxLength": 32,
            "type": "string",
            "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "dataSecurityPrivilegeMeaning": {
            "title": "Data Security Privilege Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the value of the dataSecurityPrivilege attribute.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege Description"
              }
            },
            "x-queryable": true
          },
          "deletedDate": {
            "title": "Deleted Date",
            "type": "string",
            "description": "Date when the learner was removed from the waitlist.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Deleted Date"
              }
            },
            "x-queryable": true
          },
          "enrollmentQuestionnaireId": {
            "type": "integer",
            "description": "Unique identifier for the learning enrollment questionnaire.",
            "nullable": true,
            "x-queryable": true
          },
          "enteredPendingPaymentDate": {
            "title": "Entered Pending Payment Date",
            "type": "string",
            "description": "Date when the learning assignment was added to the pending payment.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Entered Pending Payment Date"
              }
            },
            "x-queryable": true
          },
          "enteredPendingPrerequisitesDate": {
            "title": "Date Learner Entered Pending Prerequisites",
            "type": "string",
            "description": "Date when the learning assignment entered pending prerequisites.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Pending Prerequisites"
              }
            },
            "x-queryable": true
          },
          "enteredPendingPrerequisitesTimestamp": {
            "title": "Date Learner Entered Pending Prerequisites",
            "type": "string",
            "description": "Date and time when the learning assignment entered pending prerequisites.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Pending Prerequisites"
              }
            },
            "x-queryable": true
          },
          "enteredPendingSeatAcceptanceDate": {
            "title": "Date Learning Item Entered Pending Seat Acceptance",
            "type": "string",
            "description": "Date when the learning assignment entered the pending seat acceptance status.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "enteredWaitlistDate": {
            "title": "Date Learner Entered Waitlist",
            "type": "string",
            "description": "Date when the learning assignment was added to the waitlist.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Waitlist"
              }
            },
            "x-queryable": true
          },
          "enteredWaitlistTimestamp": {
            "title": "Date Learner Entered Waitlist",
            "type": "string",
            "description": "Date and time when the learning assignment was added to the waitlist.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Date Learner Entered Waitlist"
              }
            },
            "x-queryable": true
          },
          "evaluationSubmittedDate": {
            "title": "Evaluation Submission Date",
            "type": "string",
[...]
