{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Self-Paced Items/Change Requests",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}/child/changeRequests/{changeRequestId}": {
      "get": {
        "tags": [
          "Learning Self-Paced Items/Change Requests"
        ],
        "summary": "Get a change request",
        "operationId": "get_learningSelfPacedItems-changeRequests",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeRequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the change request.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-changeRequests-item-response"
                }
              }
            },
            "links": {
              "DeleteContentVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DELETE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: deleteExistingContent; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/deleteExistingContent",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "NotifyLearnersVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_NOTIFY_LEARNERS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: notifyLearners; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/notifyLearners",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ProcessingStatusLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_PROCESSING_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: processingStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/processingStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReconcileReasonCodeVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_RECONCILE_REASON_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: reasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/reasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "RestartAttemptsVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_RESTART_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: restartInProgressAttempts; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/restartInProgressAttempts",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-changeRequests-{changeRequestId}-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-changerequests-changerequestid-get"
      },
      "patch": {
        "tags": [
          "Learning Self-Paced Items/Change Requests"
        ],
        "summary": "Edit a change request",
        "operationId": "update_learningSelfPacedItems-changeRequests",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeRequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the change request.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningSelfPacedItems-changeRequests-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-changeRequests-item-response"
                }
              }
            },
            "links": {
              "DeleteContentVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_DELETE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: deleteExistingContent; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/deleteExistingContent",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "NotifyLearnersVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_NOTIFY_LEARNERS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: notifyLearners; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/notifyLearners",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ProcessingStatusLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_PROCESSING_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: processingStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/processingStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReconcileReasonCodeVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_RECONCILE_REASON_CODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: reasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/reasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "RestartAttemptsVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_RESTART_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: restartInProgressAttempts; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/restartInProgressAttempts",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-changeRequests-{changeRequestId}-patch",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-changerequests-changerequestid-patch"
      }
    },
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}/child/changeRequests": {
      "get": {
        "tags": [
          "Learning Self-Paced Items/Change Requests"
        ],
        "summary": "Get all change requests",
        "operationId": "getall_learningSelfPacedItems-changeRequests",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>changeRequestId; integer; Unique identifier for the change request.</li><li>comment; string; Optional comment that explains the need for this change.</li><li>createdByDisplayName; string; Display name of the change requester.</li><li>createdById; integer; Identifier for the change requester.</li><li>creationDate; string; Date when the change request was created.</li><li>deleteExistingContent; string; Indicates whether the change request should delete existing content. Possible values are Yes, No, or Not Applicable.</li><li>notificationMessage; string; Notification message text sent to the learners.</li><li>notifyLearners; string; Indicates whether to notify learners about this change request. Possible values are Yes, No, or Not Applicable.</li><li>processingStatus; string; Processing status for the change request.</li><li>processingStatusMeaning; string; Description for the change request processing status.</li><li>reasonCode; string; Reason for reconciliation.</li><li>reasonCodeMeaning; string; Description for the reasonCode attribute value.</li><li>reconcileByDisplayName; string; Display name of the person reconciling the change request.</li><li>reconcileById; integer; Identifier for the person reconciling the change request.</li><li>reconcileEndDate; string; Date and time when the change request reconciliation should end.</li><li>reconcileLastRunProcessDate; string; Date and time when the change request was most recently reconciled.</li><li>reconcileLastRunProcessId; integer; Unique identifier associated with the most recent reconciliation run for the change request.</li><li>reconcileStartDate; string; Date and time to start the change request reconciliation.</li><li>restartInProgressAttempts; string; Indicates whether in-progress attempts need to be restarted. Possible values are Yes, No, or Not Applicable.</li><li>status; string; Status for the change request.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all change requests that match the specified criteria. <br>Finder Variables <ul><li>changeRequestId; integer;  Unique identifier for the change request. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all change requests that match the specified criteria.",
                "properties": {
                  "changeRequestId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the change request.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-changeRequests"
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-changeRequests-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-changerequests-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learningSelfPacedItems-changeRequests-item-response": {
        "type": "object",
        "properties": {
          "changeRequestId": {
            "type": "integer",
            "description": "Unique identifier for the change request.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "comment": {
            "maxLength": 4000,
            "type": "string",
            "description": "Optional comment that explains the need for this change.",
            "nullable": true,
            "x-queryable": true
          },
          "createdByDisplayName": {
            "type": "string",
            "description": "Display name of the change requester.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "createdById": {
            "type": "integer",
            "description": "Identifier for the change requester.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "creationDate": {
            "type": "string",
            "description": "Date when the change request was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "deleteExistingContent": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the change request should delete existing content. Possible values are Yes, No, or Not Applicable.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "notificationMessage": {
            "maxLength": 4000,
            "type": "string",
            "description": "Notification message text sent to the learners.",
            "nullable": true,
            "x-queryable": true
          },
          "notifyLearners": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether to notify learners about this change request. Possible values are Yes, No, or Not Applicable.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "processingStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Processing status for the change request.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "processingStatusMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the change request processing status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "reasonCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason for reconciliation.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "reasonCodeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the reasonCode attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "reconcileByDisplayName": {
            "maxLength": 255,
            "type": "string",
            "description": "Display name of the person reconciling the change request.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "reconcileById": {
            "type": "integer",
            "description": "Identifier for the person reconciling the change request.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "reconcileEndDate": {
            "type": "string",
            "description": "Date and time when the change request reconciliation should end.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "reconcileLastRunProcessDate": {
            "type": "string",
            "description": "Date and time when the change request was most recently reconciled.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "reconcileLastRunProcessId": {
            "type": "integer",
            "description": "Unique identifier associated with the most recent reconciliation run for the change request.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "reconcileStartDate": {
            "type": "string",
            "description": "Date and time to start the change request reconciliation.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "restartInProgressAttempts": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether in-progress attempts need to be restarted. Possible values are Yes, No, or Not Applicable.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status for the change request.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "learningSelfPacedItems-changeRequests-item-patch-request": {
        "type": "object",
        "properties": {
          "comment": {
            "maxLength": 4000,
            "type": "string",
            "description": "Optional comment that explains the need for this change.",
            "nullable": true
          },
          "createdById": {
            "type": "integer",
            "description": "Identifier for the change requester.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "deleteExistingContent": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the change request should delete existing content. Possible values are Yes, No, or Not Applicable.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            }
          },
          "notificationMessage": {
            "maxLength": 4000,
            "type": "string",
            "description": "Notification message text sent to the learners.",
            "nullable": true
          },
          "notifyLearners": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether to notify learners about this change request. Possible values are Yes, No, or Not Applicable.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            }
          },
          "processingStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Processing status for the change request.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            }
          },
          "reasonCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Reason for reconciliation.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            }
          },
          "reconcileById": {
            "type": "integer",
            "description": "Identifier for the person reconciling the change request.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "reconcileEndDate": {
            "type": "string",
            "description": "Date and time when the change request reconciliation should end.",
            "format": "date-time",
            "nullable": true
          },
          "reconcileLastRunProcessDate": {
            "type": "string",
            "description": "Date and time when the change request was most recently reconciled.",
            "format": "date-time",
            "nullable": true
          },
          "reconcileLastRunProcessId": {
            "type": "integer",
            "description": "Unique identifier associated with the most recent reconciliation run for the change request.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "reconcileStartDate": {
            "type": "string",
            "description": "Date and time to start the change request reconciliation.",
            "format": "date-time",
            "nullable": true
          },
          "restartInProgressAttempts": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether in-progress attempts need to be restarted. Possible values are Yes, No, or Not Applicable.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "CATEGORY": "General"
            }
          },
          "status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status for the change request.",
            "nullable": true
          }
        }
      },
      "learningSelfPacedItems-changeRequests": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learningSelfPacedItems-changeRequests-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "learningSelfPacedItems-changeRequests-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/learningSelfPacedItems-changeRequests-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}