{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Content Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningContentItems/{ContentId}": {
      "get": {
        "tags": [
          "Learning Content Items"
        ],
        "summary": "Get a learning content item",
        "operationId": "get_learningContentItems",
        "parameters": [
          {
            "name": "ContentId",
            "in": "path",
            "description": "Unique identifier for the content object.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the content object.",
              "nullable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningContentItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "learningContentItems-{ContentId}-get",
        "x-filename-id": "learningcontentitems-contentid-get"
      },
      "patch": {
        "tags": [
          "Learning Content Items"
        ],
        "summary": "Update a learning content item",
        "operationId": "update_learningContentItems",
        "parameters": [
          {
            "name": "ContentId",
            "in": "path",
            "description": "Unique identifier for the content object.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the content object.",
              "nullable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningContentItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningContentItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "learningContentItems-{ContentId}-patch",
        "x-filename-id": "learningcontentitems-contentid-patch"
      }
    },
    "/learningContentItems": {
      "get": {
        "tags": [
          "Learning Content Items"
        ],
        "summary": "GET action not supported",
        "operationId": "getall_learningContentItems",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssessmentAttempts; integer; Indicates the number of attempts allowed for the assessment.</li><li>AssessmentCode; string; Unique identifier for the assessment.</li><li>AssessmentMasteryScore; number; Indicates the minimum score needed to pass the assessment.</li><li>AssessmentScoreVisibleToAdministrator; string; Indicates whether the assessment is visible to the administrator or not. This attribute doesn't have a default value. Valid values are Y and N.</li><li>AssessmentScoreVisibleToLearner; string; Indicates whether the assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.</li><li>AssessmentTimeLimit; number; Indicates the time limit for the assessment.</li><li>AssessmentTimeLimitUOM; string; Indicates the unit of measure for the assessment time limit.</li><li>CompletedAssessmentVisibleToLearner; string; Indicates whether the completed assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.</li><li>ContentId; integer; Unique identifier for the content object.</li><li>Description; string; Description of the content item.</li><li>EndDate; string; End date of the content item.</li><li>FileName; string; File name of the content item to be uploaded. Depending on the tracking type, the extension should be zip, pdf, or mov.</li><li>IngestionStatus; string; Ingestion status of the content item. For Video and SCORM/AICC/HACP content,\nvalid value is ORA_MED_TRANSCODING.</li><li>ItemNumber; string; Unique user key for the content item.</li><li>MarkCompleteOnOpen; string; Indicates whether the learning content item can be marked complete when opened. This attribute doesn't have a default value. Valid values are Y and N.</li><li>ReplaceStatus; string; Replacement status of the content item. For video, PDF, and SCORM/AICC/HACP content, valid values are ORA_MED_REPLACE_BEGIN and ORA_MED_REPLACE_END. Use ORA_MED_REPLACE_BEGIN to request the auth token for uploading a replacement to Akamai. Use ORA_MED_REPLACE_END to perform the replacement after the new media has been uploaded to Akamai.</li><li>StartDate; string; Start date of the content item.</li><li>Status; string; Status of the content item. For PDF and WEBLINK content, valid values are ORA_CONT_INACTIVE, ORA_CONT_ACTIVE.</li><li>ThumbnailURL; string; URL to open the learning item thumbnail directly from the browser.</li><li>Title; string; Tiitle of the content item.</li><li>TrackingType; string; Tracking type for the content item. Valid values are ORA_SCORM_12,\nORA_SCORM_2004, ORA_HACP,\nORA_PDF,\nORA_AUTO, and ORA_VIDEO.</li><li>URL; string; Starting URL of the content item.</li><li>UUID; string; Internal value, no input required.</li><li>UploadAuthToken; string; Upload authentication token generated for the learning content item.</li><li>UploadLocation; string; Upload location of the learning content item.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKey: Finds a learning content item that matches the primary key criteria specified.<br>Finder Variables: <ul><li>ContentId; integer; System-generated primary key. Surrogate key.</li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "ContentId": {
                    "nullable": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningContentItems"
                }
              }
            }
          }
        },
        "x-internal-id": "learningContentItems-get",
        "x-filename-id": "learningcontentitems-get"
      },
      "post": {
        "tags": [
          "Learning Content Items"
        ],
        "summary": "Create a learning content item",
        "operationId": "create_learningContentItems",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningContentItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningContentItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "learningContentItems-post",
        "x-filename-id": "learningcontentitems-post"
      }
    }
  },
  "components": {
    "schemas": {
      "learningContentItems-item-response": {
        "type": "object",
        "properties": {
          "AssessmentAttempts": {
            "type": "integer",
            "description": "Indicates the number of attempts allowed for the assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "AssessmentCode": {
            "type": "string",
            "description": "Unique identifier for the assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "AssessmentMasteryScore": {
            "type": "number",
            "description": "Indicates the minimum score needed to pass the assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "AssessmentScoreVisibleToAdministrator": {
            "type": "string",
            "description": "Indicates whether the assessment is visible to the administrator or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "AssessmentScoreVisibleToLearner": {
            "type": "string",
            "description": "Indicates whether the assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "AssessmentTimeLimit": {
            "type": "number",
            "description": "Indicates the time limit for the assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "AssessmentTimeLimitUOM": {
            "type": "string",
            "description": "Indicates the unit of measure for the assessment time limit.",
            "nullable": true,
            "x-queryable": true
          },
          "CompletedAssessmentVisibleToLearner": {
            "type": "string",
            "description": "Indicates whether the completed assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "ContentId": {
            "type": "integer",
            "description": "Unique identifier for the content object.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the content item.",
            "nullable": true,
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the content item.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "FileName": {
            "type": "string",
            "description": "File name of the content item to be uploaded. Depending on the tracking type, the extension should be zip, pdf, or mov.",
            "nullable": true,
            "x-queryable": true
          },
          "IngestionStatus": {
            "type": "string",
            "description": "Ingestion status of the content item. For Video and SCORM/AICC/HACP content,\nvalid value is ORA_MED_TRANSCODING.",
            "nullable": true,
            "x-queryable": true
          },
          "ItemNumber": {
            "type": "string",
            "description": "Unique user key for the content item.",
            "nullable": true,
            "x-queryable": true
          },
          "MarkCompleteOnOpen": {
            "type": "string",
            "description": "Indicates whether the learning content item can be marked complete when opened. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "ReplaceStatus": {
            "type": "string",
            "description": "Replacement status of the content item. For video, PDF, and SCORM/AICC/HACP content, valid values are ORA_MED_REPLACE_BEGIN and ORA_MED_REPLACE_END. Use ORA_MED_REPLACE_BEGIN to request the auth token for uploading a replacement to Akamai. Use ORA_MED_REPLACE_END to perform the replacement after the new media has been uploaded to Akamai.",
            "nullable": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the content item.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the content item. For PDF and WEBLINK content, valid values are ORA_CONT_INACTIVE, ORA_CONT_ACTIVE.",
            "nullable": true,
            "x-queryable": true
          },
          "ThumbnailURL": {
            "type": "string",
            "description": "URL to open the learning item thumbnail directly from the browser.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "type": "string",
            "description": "Tiitle of the content item.",
            "nullable": true,
            "x-queryable": true
          },
          "TrackingType": {
            "type": "string",
            "description": "Tracking type for the content item. Valid values are ORA_SCORM_12,\nORA_SCORM_2004, ORA_HACP,\nORA_PDF,\nORA_AUTO, and ORA_VIDEO.",
            "nullable": true,
            "x-queryable": true
          },
          "URL": {
            "type": "string",
            "description": "Starting URL of the content item.",
            "nullable": true,
            "x-queryable": true
          },
          "UUID": {
            "type": "string",
            "description": "Internal value, no input required.",
            "nullable": true,
            "x-queryable": true
          },
          "UploadAuthToken": {
            "type": "string",
            "description": "Upload authentication token generated for the learning content item.",
            "nullable": true,
            "x-queryable": true
          },
          "UploadLocation": {
            "type": "string",
            "description": "Upload location of the learning content item.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "learningContentItems-item-patch-request": {
        "type": "object",
        "properties": {
          "AssessmentAttempts": {
            "type": "integer",
            "description": "Indicates the number of attempts allowed for the assessment.",
            "nullable": true
          },
          "AssessmentCode": {
            "type": "string",
            "description": "Unique identifier for the assessment.",
            "nullable": true
          },
          "AssessmentMasteryScore": {
            "type": "number",
            "description": "Indicates the minimum score needed to pass the assessment.",
            "nullable": true
          },
          "AssessmentScoreVisibleToAdministrator": {
            "type": "string",
            "description": "Indicates whether the assessment is visible to the administrator or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "AssessmentScoreVisibleToLearner": {
            "type": "string",
            "description": "Indicates whether the assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "AssessmentTimeLimit": {
            "type": "number",
            "description": "Indicates the time limit for the assessment.",
            "nullable": true
          },
          "AssessmentTimeLimitUOM": {
            "type": "string",
            "description": "Indicates the unit of measure for the assessment time limit.",
            "nullable": true
          },
          "CompletedAssessmentVisibleToLearner": {
            "type": "string",
            "description": "Indicates whether the completed assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "ContentId": {
            "type": "integer",
            "description": "Unique identifier for the content object.",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the content item.",
            "nullable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the content item.",
            "format": "date",
            "nullable": true
          },
          "FileName": {
            "type": "string",
            "description": "File name of the content item to be uploaded. Depending on the tracking type, the extension should be zip, pdf, or mov.",
            "nullable": true
          },
          "IngestionStatus": {
            "type": "string",
            "description": "Ingestion status of the content item. For Video and SCORM/AICC/HACP content,\nvalid value is ORA_MED_TRANSCODING.",
            "nullable": true
          },
          "ItemNumber": {
            "type": "string",
            "description": "Unique user key for the content item.",
            "nullable": true
          },
          "MarkCompleteOnOpen": {
            "type": "string",
            "description": "Indicates whether the learning content item can be marked complete when opened. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "ReplaceStatus": {
            "type": "string",
            "description": "Replacement status of the content item. For video, PDF, and SCORM/AICC/HACP content, valid values are ORA_MED_REPLACE_BEGIN and ORA_MED_REPLACE_END. Use ORA_MED_REPLACE_BEGIN to request the auth token for uploading a replacement to Akamai. Use ORA_MED_REPLACE_END to perform the replacement after the new media has been uploaded to Akamai.",
            "nullable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the content item.",
            "format": "date",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the content item. For PDF and WEBLINK content, valid values are ORA_CONT_INACTIVE, ORA_CONT_ACTIVE.",
            "nullable": true
          },
          "ThumbnailURL": {
            "type": "string",
            "description": "URL to open the learning item thumbnail directly from the browser.",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "description": "Tiitle of the content item.",
            "nullable": true
          },
          "TrackingType": {
            "type": "string",
            "description": "Tracking type for the content item. Valid values are ORA_SCORM_12,\nORA_SCORM_2004, ORA_HACP,\nORA_PDF,\nORA_AUTO, and ORA_VIDEO.",
            "nullable": true
          },
          "URL": {
            "type": "string",
            "description": "Starting URL of the content item.",
            "nullable": true
          },
          "UUID": {
            "type": "string",
            "description": "Internal value, no input required.",
            "nullable": true
          },
          "UploadAuthToken": {
            "type": "string",
            "description": "Upload authentication token generated for the learning content item.",
            "nullable": true
          },
          "UploadLocation": {
            "type": "string",
            "description": "Upload location of the learning content item.",
            "nullable": true
          }
        }
      },
      "learningContentItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learningContentItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "learningContentItems-item-post-request": {
        "type": "object",
        "properties": {
          "AssessmentAttempts": {
            "type": "integer",
            "description": "Indicates the number of attempts allowed for the assessment.",
            "nullable": true
          },
          "AssessmentCode": {
            "type": "string",
            "description": "Unique identifier for the assessment.",
            "nullable": true
          },
          "AssessmentMasteryScore": {
            "type": "number",
            "description": "Indicates the minimum score needed to pass the assessment.",
            "nullable": true
          },
          "AssessmentScoreVisibleToAdministrator": {
            "type": "string",
            "description": "Indicates whether the assessment is visible to the administrator or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "AssessmentScoreVisibleToLearner": {
            "type": "string",
            "description": "Indicates whether the assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "AssessmentTimeLimit": {
            "type": "number",
            "description": "Indicates the time limit for the assessment.",
            "nullable": true
          },
          "AssessmentTimeLimitUOM": {
            "type": "string",
            "description": "Indicates the unit of measure for the assessment time limit.",
            "nullable": true
          },
          "CompletedAssessmentVisibleToLearner": {
            "type": "string",
            "description": "Indicates whether the completed assessment is visible to the learner or not. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "ContentId": {
            "type": "integer",
            "description": "Unique identifier for the content object.",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the content item.",
            "nullable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the content item.",
            "format": "date",
            "nullable": true
          },
          "FileName": {
            "type": "string",
            "description": "File name of the content item to be uploaded. Depending on the tracking type, the extension should be zip, pdf, or mov.",
            "nullable": true
          },
          "IngestionStatus": {
            "type": "string",
            "description": "Ingestion status of the content item. For Video and SCORM/AICC/HACP content,\nvalid value is ORA_MED_TRANSCODING.",
            "nullable": true
          },
          "ItemNumber": {
            "type": "string",
            "description": "Unique user key for the content item.",
            "nullable": true
          },
          "MarkCompleteOnOpen": {
            "type": "string",
            "description": "Indicates whether the learning content item can be marked complete when opened. This attribute doesn't have a default value. Valid values are Y and N.",
            "nullable": true
          },
          "ReplaceStatus": {
            "type": "string",
            "description": "Replacement status of the content item. For video, PDF, and SCORM/AICC/HACP content, valid values are ORA_MED_REPLACE_BEGIN and ORA_MED_REPLACE_END. Use ORA_MED_REPLACE_BEGIN to request the auth token for uploading a replacement to Akamai. Use ORA_MED_REPLACE_END to perform the replacement after the new media has been uploaded to Akamai.",
            "nullable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the content item.",
            "format": "date",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the content item. For PDF and WEBLINK content, valid values are ORA_CONT_INACTIVE, ORA_CONT_ACTIVE.",
            "nullable": true
          },
          "ThumbnailURL": {
            "type": "string",
            "description": "URL to open the learning item thumbnail directly from the browser.",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "description": "Tiitle of the content item.",
            "nullable": true
          },
          "TrackingType": {
            "type": "string",
            "description": "Tracking type for the content item. Valid values are ORA_SCORM_12,\nORA_SCORM_2004, ORA_HACP,\nORA_PDF,\nORA_AUTO, and ORA_VIDEO.",
            "nullable": true
          },
          "URL": {
            "type": "string",
            "description": "Starting URL of the content item.",
            "nullable": true
          },
          "UUID": {
            "type": "string",
            "description": "Internal value, no input required.",
            "nullable": true
          },
          "UploadAuthToken": {
            "type": "string",
            "description": "Upload authentication token generated for the learning content item.",
            "nullable": true
          },
          "UploadLocation": {
            "type": "string",
            "description": "Upload location of the learning content item.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "learningContentItems-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/learningContentItems-item-patch-request"
            }
          }
        }
      },
      "learningContentItems-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/learningContentItems-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}