{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Questionnaire Responses/Question Responses/Question Response Attachments/Question Responses/Large Object (LOB) Attributes - AnswerLargeObject",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/questionnaireResponses/{QuestionnaireResponseId9}/child/questionResponses/{QuestionResponseId17}/child/questionResponseAttachments/{questionResponseAttachmentsUniqID}/child/QuestionResponses/{QuestionResponseId18}/enclosure/AnswerLargeObject": {
      "get": {
        "tags": [
          "Learner Learning Records/Questionnaire Responses/Question Responses/Question Response Attachments/Question Responses/Large Object (LOB) Attributes - AnswerLargeObject"
        ],
        "summary": "Get an AnswerLargeObject",
        "description": "Get an AnswerLargeObject",
        "operationId": "get_learnerLearningRecords-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-AnswerLargeObject",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "QuestionResponseId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionResponseAttachmentsUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionResponseId18",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "child-questionResponseAttachments-{questionResponseAttachmentsUniqID}-child-QuestionResponses-{QuestionResponseId18}-enclosure-AnswerLargeObject-get",
        "x-filename-id": "child-questionresponseattachments-questionresponseattachmentsuniqid-child-questionresponses-questionresponseid18-enclosure-answerlargeobject-get"
      },
      "put": {
        "tags": [
          "Learner Learning Records/Questionnaire Responses/Question Responses/Question Response Attachments/Question Responses/Large Object (LOB) Attributes - AnswerLargeObject"
        ],
        "summary": "Replace an AnswerLargeObject",
        "description": "Replace an AnswerLargeObject",
        "operationId": "replace_learnerLearningRecords-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-AnswerLargeObject",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "QuestionResponseId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionResponseAttachmentsUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionResponseId18",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "child-questionResponseAttachments-{questionResponseAttachmentsUniqID}-child-QuestionResponses-{QuestionResponseId18}-enclosure-AnswerLargeObject-put",
        "x-filename-id": "child-questionresponseattachments-questionresponseattachmentsuniqid-child-questionresponses-questionresponseid18-enclosure-answerlargeobject-put"
      },
      "delete": {
        "tags": [
          "Learner Learning Records/Questionnaire Responses/Question Responses/Question Response Attachments/Question Responses/Large Object (LOB) Attributes - AnswerLargeObject"
        ],
        "summary": "Delete an AnswerLargeObject",
        "description": "Delete an AnswerLargeObject",
        "operationId": "delete_learnerLearningRecords-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-AnswerLargeObject",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "QuestionResponseId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionResponseAttachmentsUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionResponseId18",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "questionResponseAttachments-{questionResponseAttachmentsUniqID}-child-QuestionResponses-{QuestionResponseId18}-enclosure-AnswerLargeObject-delete",
        "x-filename-id": "questionresponseattachments-questionresponseattachmentsuniqid-child-questionresponses-questionresponseid18-enclosure-answerlargeobject-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}