{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Events/Activities/Related Materials/Related Materials Binaries/Large Object (LOB) Attributes - FileWebImage",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningEvents/{learningEventsUniqID}/child/activities/{activitiesUniqID}/child/relatedMaterials/{relatedMaterialsUniqID}/child/relatedMaterialsBinaries/{relatedMaterialsBinariesUniqID}/enclosure/FileWebImage": {
      "get": {
        "tags": [
          "Learning Events/Activities/Related Materials/Related Materials Binaries/Large Object (LOB) Attributes - FileWebImage"
        ],
        "summary": "Get a FileWebImage",
        "description": "Get a FileWebImage",
        "operationId": "get_learningEvents-activities-relatedMaterials-relatedMaterialsBinaries-FileWebImage",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activitiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Activities resource and used to uniquely identify an instance of Activities. The client should not generate the hash key value. Instead, the client should query on the Activities collection resource in order to navigate to a specific instance of Activities to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relatedMaterialsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Related Materials resource and used to uniquely identify an instance of Related Materials. The client should not generate the hash key value. Instead, the client should query on the Related Materials collection resource in order to navigate to a specific instance of Related Materials to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relatedMaterialsBinariesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Related Materials Binaries resource and used to uniquely identify an instance of Related Materials Binaries. The client should not generate the hash key value. Instead, the client should query on the Related Materials Binaries collection resource in order to navigate to a specific instance of Related Materials Binaries to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "2-child-relatedMaterials-{relatedMaterialsUniqID}-child-relatedMaterialsBinaries-{relatedMaterialsBinariesUniqID}-enclosure-FileWebImage-get",
        "x-filename-id": "2-child-relatedmaterials-relatedmaterialsuniqid-child-relatedmaterialsbinaries-relatedmaterialsbinariesuniqid-enclosure-filewebimage-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}