{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Item Audiences",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningItemAudiences": {
      "get": {
        "tags": [
          "Learning Item Audiences"
        ],
        "summary": "Get all learning item audiences",
        "operationId": "getall_learningItemAudiences",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>createdById; integer; Unique identifier for the learning audience creator.</li><li>creationDate; string; Date when the learning audience was created.</li><li>departmentId; integer; Person's department name.</li><li>departmentName; string; Person's department.</li><li>learnRelationId; integer; Unique identifier for the association between the person or user group and the learning item.</li><li>learnRelationNumber; string; Friendly number identifying the person or user group associated with the learning item.</li><li>learningItemId; integer; Unique identifier for the learning item, it's the internal primary key.</li><li>learningItemNumber; string; User-friendly number identifying the learning item. It's a surrogate key which is shown in the UI.</li><li>learningItemType; string; Learning item type such as Course, Specialization, Community, eLearning Video, and Learning Journey. Valid values are defined in the LearningItemTypeLOVVA.</li><li>sourceType; string; Source type for the user group. Valid values are ORA_LEARNING_ORGANIZATION and ORA_PERSON.</li><li>sourceTypeId; integer; Unique identifier for the person or user group associated with the learning item.</li><li>sourceTypeMeaning; string; Description for the learning item audience source type.</li><li>sourceTypeNumber; string; Friendly number identifying the person associated with the learning item.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the learning item audience that matches the specified primary key criteria. <br>Finder Variables <ul><li>learnRelationId; integer;  Unique identifier for the association between the person or user group and the learning item. </li></ul></li><li>findAudienceByLearningItemId Finds the learning item audience that's associated with the specified learning item ID criteria. <br>Finder Variables <ul><li>learningItemId; integer;  Application-generated primary key, surrogate key. </li><li>sourceType; string;  Source type for the user group. Valid values are ORA_LEARNING_ORGANIZATION and ORA_PERSON. </li><li>sourceTypeId; integer;  Unique identifier for the person or user group associated with the learning item. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the learning item audience that matches the specified primary key criteria.",
                "properties": {
                  "learnRelationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the association between the person or user group and the learning item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findAudienceByLearningItemId",
                "description": "Finds the learning item audience that's associated with the specified learning item ID criteria.",
                "title": "findAudienceByLearningItemId",
                "properties": {
                  "sourceType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Source type for the user group. Valid values are ORA_LEARNING_ORGANIZATION and ORA_PERSON.",
                    "type": "string"
                  },
                  "learningItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Application-generated primary key, surrogate key.",
                    "type": "integer"
                  },
                  "sourceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person or user group associated with the learning item.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningItemAudiences"
                }
              }
            }
          }
        },
        "x-internal-id": "learningItemAudiences-get",
        "x-filename-id": "learningitemaudiences-get"
      },
      "post": {
        "tags": [
          "Learning Item Audiences"
        ],
        "summary": "Create a learning item audience",
        "operationId": "create_learningItemAudiences",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningItemAudiences-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningItemAudiences-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "learningItemAudiences-post",
        "x-filename-id": "learningitemaudiences-post"
      }
    },
    "/learningItemAudiences/{learningItemAudiencesUniqID}": {
      "get": {
        "tags": [
          "Learning Item Audiences"
        ],
        "summary": "Get a learning item audience",
        "operationId": "get_learningItemAudiences",
        "parameters": [
          {
            "name": "learningItemAudiencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Item Audiences resource and used to uniquely identify an instance of Learning Item Audiences. The client should not generate the hash key value. Instead, the client should query on the Learning Item Audiences collection resource in order to navigate to a specific instance of Learning Item Audiences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningItemAudiences-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "learningItemAudiences-{learningItemAudiencesUniqID}-get",
        "x-filename-id": "learningitemaudiences-learningitemaudiencesuniqid-get"
      },
      "delete": {
        "tags": [
          "Learning Item Audiences"
        ],
        "summary": "Delete a learning item audience",
        "operationId": "delete_learningItemAudiences",
        "parameters": [
          {
            "name": "learningItemAudiencesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Item Audiences resource and used to uniquely identify an instance of Learning Item Audiences. The client should not generate the hash key value. Instead, the client should query on the Learning Item Audiences collection resource in order to navigate to a specific instance of Learning Item Audiences to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "learningItemAudiences-{learningItemAudiencesUniqID}-delete",
        "x-filename-id": "learningitemaudiences-learningitemaudiencesuniqid-delete"
      }
    }
  },
  "components": {
    "schemas": {
      "learningItemAudiences": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learningItemAudiences-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "learningItemAudiences-item-response": {
        "type": "object",
        "properties": {
          "createdById": {
            "type": "integer",
            "description": "Unique identifier for the learning audience creator.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "creationDate": {
            "type": "string",
            "description": "Date when the learning audience was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "departmentId": {
            "type": "integer",
            "description": "Person's department name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "departmentName": {
            "maxLength": 255,
            "type": "string",
            "description": "Person's department.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "learnRelationId": {
            "type": "integer",
            "description": "Unique identifier for the association between the person or user group and the learning item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "learnRelationNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the person or user group associated with the learning item.",
            "nullable": false,
            "x-queryable": true
          },
          "learningItemId": {
            "type": "integer",
            "description": "Unique identifier for the learning item, it's the internal primary key.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "learningItemNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "User-friendly number identifying the learning item. It's a surrogate key which is shown in the UI.",
            "nullable": true,
            "x-queryable": true
          },
          "learningItemType": {
            "maxLength": 30,
            "type": "string",
            "description": "Learning item type such as Course, Specialization, Community, eLearning Video, and Learning Journey. Valid values are defined in the LearningItemTypeLOVVA.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "sourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Source type for the user group. Valid values are ORA_LEARNING_ORGANIZATION and ORA_PERSON.",
            "nullable": false,
            "x-queryable": true
          },
          "sourceTypeDisplayName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the person or user group associated with the learning item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "sourceTypeId": {
            "type": "integer",
            "description": "Unique identifier for the person or user group associated with the learning item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "sourceTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Description for the learning item audience source type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "sourceTypeNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Friendly number identifying the person associated with the learning item.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "learningItemAudiences-item-post-request": {
        "type": "object",
        "properties": {
          "createdById": {
            "type": "integer",
            "description": "Unique identifier for the learning audience creator.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "learnRelationId": {
            "type": "integer",
            "description": "Unique identifier for the association between the person or user group and the learning item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "learnRelationNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number identifying the person or user group associated with the learning item.",
            "nullable": false
          },
          "learningItemId": {
            "type": "integer",
            "description": "Unique identifier for the learning item, it's the internal primary key.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "learningItemNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "User-friendly number identifying the learning item. It's a surrogate key which is shown in the UI.",
            "nullable": true
          },
          "learningItemType": {
            "maxLength": 30,
            "type": "string",
            "description": "Learning item type such as Course, Specialization, Community, eLearning Video, and Learning Journey. Valid values are defined in the LearningItemTypeLOVVA.",
            "nullable": false
          },
          "sourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Source type for the user group. Valid values are ORA_LEARNING_ORGANIZATION and ORA_PERSON.",
            "nullable": false
          },
          "sourceTypeId": {
            "type": "integer",
            "description": "Unique identifier for the person or user group associated with the learning item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "sourceTypeNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Friendly number identifying the person associated with the learning item.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "learningItemAudiences-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/learningItemAudiences-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}