{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Events/Activities/Classrooms",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningEvents/{learningEventsUniqID}/child/activities/{activitiesUniqID}/child/classroomDetails": {
      "get": {
        "tags": [
          "Learning Events/Activities/Classrooms"
        ],
        "summary": "Get all classrooms",
        "operationId": "getall_learningEvents-activities-classroomDetails",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activitiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Activities resource and used to uniquely identify an instance of Activities. The client should not generate the hash key value. Instead, the client should query on the Activities collection resource in order to navigate to a specific instance of Activities to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>classroomDescription; string; Description of the classroom.</li><li>classroomId; integer; Application-generated primary key for a classroom.</li><li>classroomNumber; string; Friendly number for identifying a classroom.</li><li>classroomTitle; string; Name of the classroom.</li><li>contactPersonDisplayName; string; Display name for the person who's the classroom contact.</li><li>contactPersonId; integer; Identifier for the person who's the classroom contact.</li><li>contactPersonImageURL; string; Image URL for the person who's the classroom contact.</li><li>contactPersonNumber; string; Person number for the classroom contact person.</li><li>contactPersonPrimaryEmailAddress; string; Primary email address of the person who's the classroom contact.</li><li>contactPersonPrimaryPhoneNumber; string; Primary phone number for the person who's the classroom contact.</li><li>isPrimaryClassroom; string; Indicates whether the classroom is a primary classroom. The default value is N. Valid values are Y and N.</li><li>isPrimaryClassroomMeaning; string; Description of the value of the isPrimaryClassroom attribute.</li><li>locationAddressLine1; string; Location address line 1.</li><li>locationAddressLine2; string; Location address line 2.</li><li>locationAddressLine3; string; Location address line 3.</li><li>locationCity; string; City of the classroom.</li><li>locationCountry; string; Country of the classroom.</li><li>locationDisplayString; string; Complete classroom address in the string format.</li><li>locationLatitude; number; Latitude of the classroom.</li><li>locationLongitude; number; Longitude of the classroom.</li><li>locationName; string; Location of the classroom.</li><li>locationSingleLineString; string; Location of the classroom expressed as a single line string.</li><li>locationZipCode; string; Postal code of the location address.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the classroom information for the learning items that match the specified primary key criteria. <br>Finder Variables <ul><li>classroomId; integer;  Application-generated primary key. Surrogate key. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the classroom information for the learning items that match the specified primary key criteria.",
                "properties": {
                  "classroomId": {
                    "nullable": false,
                    "x-hints": {
                      "help": {
                        "instruction": "Classroom ID"
                      },
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Application-generated primary key. Surrogate key.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Classroom ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningEvents-activities-classroomDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-{activitiesUniqID}-child-classroomDetails-get",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-activitiesuniqid-child-classroomdetails-get"
      }
    },
    "/learningEvents/{learningEventsUniqID}/child/activities/{activitiesUniqID}/child/classroomDetails/{classroomDetailsUniqID}": {
      "get": {
        "tags": [
          "Learning Events/Activities/Classrooms"
        ],
        "summary": "Get a classroom",
        "operationId": "get_learningEvents-activities-classroomDetails",
        "parameters": [
          {
            "name": "learningEventsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Events resource and used to uniquely identify an instance of Learning Events. The client should not generate the hash key value. Instead, the client should query on the Learning Events collection resource in order to navigate to a specific instance of Learning Events to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activitiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Activities resource and used to uniquely identify an instance of Activities. The client should not generate the hash key value. Instead, the client should query on the Activities collection resource in order to navigate to a specific instance of Activities to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "classroomDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Classrooms resource and used to uniquely identify an instance of Classrooms. The client should not generate the hash key value. Instead, the client should query on the Classrooms collection resource in order to navigate to a specific instance of Classrooms to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningEvents-activities-classroomDetails-item-response"
                }
              }
            },
            "links": {
              "IsPrimaryClassroomLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRC_YES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: isPrimaryClassroom; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/isPrimaryClassroom",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningEvents-{learningEventsUniqID}-child-activities-{activitiesUniqID}-child-classroomDetails-{classroomDetailsUniqID}-get",
        "x-filename-id": "learningevents-learningeventsuniqid-child-activities-activitiesuniqid-child-classroomdetails-classroomdetailsuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learningEvents-activities-classroomDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learningEvents-activities-classroomDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "learningEvents-activities-classroomDetails-item-response": {
        "type": "object",
        "properties": {
          "classroomDescription": {
            "title": "Classroom Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Description"
              }
            },
            "x-queryable": true
          },
          "classroomId": {
            "title": "Classroom ID",
            "type": "integer",
            "description": "Application-generated primary key for a classroom.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "classroomNumber": {
            "title": "Classroom Number",
            "maxLength": 30,
            "type": "string",
            "description": "Friendly number for identifying a classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Number"
              }
            },
            "x-queryable": true
          },
          "classroomTitle": {
            "title": "Classroom Title",
            "maxLength": 250,
            "type": "string",
            "description": "Name of the classroom.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Classroom Title"
              }
            },
            "x-queryable": true
          },
          "contactPersonDisplayName": {
            "title": "Contact Person Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Display Name"
              }
            },
            "x-queryable": true
          },
          "contactPersonId": {
            "title": "Contact Person ID",
            "type": "integer",
            "description": "Identifier for the person who's the classroom contact.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "contactPersonImageURL": {
            "title": "Contact Person Image URL",
            "maxLength": 32,
            "type": "string",
            "description": "Image URL for the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Image URL"
              }
            },
            "x-queryable": true
          },
          "contactPersonNumber": {
            "title": "Contact Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number for the classroom contact person.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Number"
              }
            },
            "x-queryable": true
          },
          "contactPersonPrimaryEmailAddress": {
            "title": "Contact Person Primary Email Address",
            "maxLength": 60,
            "type": "string",
            "description": "Primary email address of the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "contactPersonPrimaryPhoneNumber": {
            "title": "Contact Person Primary Phone Number",
            "maxLength": 240,
            "type": "string",
            "description": "Primary phone number for the person who's the classroom contact.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Contact Person Primary Phone Number"
              }
            },
            "x-queryable": true
          },
          "isPrimaryClassroom": {
            "title": "Primary Classroom",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the classroom is a primary classroom. The default value is N. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Primary Classroom"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "isPrimaryClassroomMeaning": {
            "title": "Primary Classroom Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the value of the isPrimaryClassroom attribute.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Primary Classroom Description"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "locationAddressLine1": {
            "title": "Location Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Location address line 1.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Address Line 1"
              }
            },
            "x-queryable": true
          },
          "locationAddressLine2": {
            "title": "Location Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Location address line 2.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Address Line 2"
              }
            },
            "x-queryable": true
          },
          "locationAddressLine3": {
            "title": "Location Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Location address line 3.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Address Line 3"
              }
            },
            "x-queryable": true
          },
          "locationCity": {
            "title": "Location City",
            "maxLength": 60,
            "type": "string",
            "description": "City of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location City"
              }
            },
            "x-queryable": true
          },
          "locationCountry": {
            "title": "Location Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Country"
              }
            },
            "x-queryable": true
          },
          "locationDisplayString": {
            "title": "Location Display String",
            "maxLength": 32,
            "type": "string",
            "description": "Complete classroom address in the string format.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Display String"
              }
            },
            "x-queryable": true
          },
          "locationLatitude": {
            "title": "Location Latitude",
            "type": "number",
            "description": "Latitude of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Latitude"
              }
            },
            "x-queryable": true
          },
          "locationLongitude": {
            "title": "Location Longitude",
            "type": "number",
            "description": "Longitude of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Longitude"
              }
            },
            "x-queryable": true
          },
          "locationName": {
            "title": "Location Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location of the classroom.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Name"
              }
            },
            "x-queryable": true
          },
          "locationSingleLineString": {
            "maxLength": 1732,
            "type": "string",
            "description": "Location of the classroom expressed as a single line string.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "locationZipCode": {
            "title": "Location ZIP Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of the location address.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location ZIP Code"
              }
            },
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}