{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Completion Details/Primary Selected Course Offering",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/completionDetails/{completionDetailsUniqID}/child/primarySelectedCourseOffering": {
      "get": {
        "tags": [
          "Learner Learning Records/Completion Details/Primary Selected Course Offering"
        ],
        "summary": "Get all selected course offerings",
        "operationId": "getall_learnerLearningRecords-completionDetails-primarySelectedCourseOffering",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>activeDate; string; Date when the learning assignment moved to an active status.</li><li>assignedDate; string; Date when the learning item was assigned.</li><li>assignedToId; integer; Unique identifier for the course offering assignee.</li><li>assignerAttributionType; string; Entity type for the learning assignment creator, such as person, specialist, or community. Valid values are defined in the AssignerToAttributionTypeLOV list.</li><li>assignerAttributionTypeMeaning; string; Description of the assignerAttributionType attribute value.</li><li>assignerCommentsToLearner; string; Assigner comments for the other selected course offering.</li><li>assignerDisplayName; string; Display name for the other selected course offering assigner.</li><li>assignerId; integer; Identifier for the other selected course offering assigner.</li><li>assignerNumber; string; Number for the other selected course offering assigner.</li><li>assignerPersonImageURL; string; Image URL for the learning item assigner.</li><li>assignerPersonPrimaryEmailAddress; string; Primary email address for the other selected course offering assigner.</li><li>assignerPersonPrimaryPhoneNumber; string; Primary phone for the other selected course offering assigner.</li><li>assignmentCreatedDate; string; Date and time when the other selected course offering assignment was created.</li><li>assignmentDueDate; string; Due date for the other selected course offering assignment.</li><li>assignmentJustification; string; Justification provided by the specialist when assigning, or the learner when enrolling in, a course offering assignment.</li><li>assignmentLastModifiedDate; string; Date and time when the other selected course offering assignment was most recently changed.</li><li>assignmentRecordId; integer; Application-generated primary key.</li><li>assignmentRecordNumber; string; Number for identifying the other selected course offering assignment.</li><li>assignmentStatus; string; Status for the learning enrollment, such as Active, Content Completed, Completed, Withdrawn, or Deleted. Valid values are defined in the AssignmentStatusLOV list.</li><li>assignmentStatusMeaning; string; Description of the assignmentStatus attribute value.</li><li>assignmentSubStatus; string; Substatus for the learning enrollment, such as Not Started, or In Progress. Valid values are defined in the AssignmentSubStatusLOV list.</li><li>assignmentSubStatusMeaning; string; Description of the assignmentSubStatus attribute value.</li><li>assignmentType; string; Learning enrollment type for the other selected course offering, such as required or voluntary. Valid values are defined in the AssignmentTypeLOV list.</li><li>assignmentTypeMeaning; string; Description of the assignmentType attribute value.</li><li>canEditAssignmentHint; string; Assignment hint, such as Can delete, Can withdraw, or No edit, for the learning assignment. Valid values are defined in the CanEditAssignmentHintLOV list.</li><li>canEditAssignmentHintMeaning; string; Description of the canEditAssignmentHint attribute value.</li><li>completedDate; string; Completed date for the other selected course offering assignment.</li><li>contentCompletedDate; string; Date when the content was completed for the other selected course offering assignment.</li><li>contentCompletedTimestamp; string; Date and time when the learning content was completed.</li><li>currentWaitlistPosition; integer; Current waitlist position for the learner.</li><li>dataSecurityPrivilege; string; Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.</li><li>dataSecurityPrivilegeMeaning; string; Description of the value of the dataSecurityPrivilege attribute.</li><li>deletedDate; string; Date when the learner was removed from the waitlist.</li><li>enrollmentQuestionnaireId; integer; Unique identifier for the learning enrollment questionnaire.</li><li>enteredPendingPaymentDate; string; Date when the learning assignment was added to the pending payment.</li><li>enteredPendingPrerequisitesDate; string; Date when the other selected course offering assignment entered the pending prerequisites status.</li><li>enteredPendingPrerequisitesTimestamp; string; Date and time when the learning assignment entered pending prerequisites.</li><li>enteredPendingSeatAcceptanceDate; string; Date when the learning assignment entered the pending seat acceptance status.</li><li>enteredWaitlistDate; string; Date when the selected course offerings assignment was added to the waitlist.</li><li>enteredWaitlistTimestamp; string; Date and time when the learning assignment was added to the waitlist.</li><li>evaluationSubmittedDate; string; Evaluation submitted for the requested course offerings assignments.</li><li>evaluationSubmittedTimestamp; string; Date and time when the evaluation was submitted.</li><li>exemptedDate; string; Date when the other selected course offering assignment was exempted.</li><li>exitedPendingPrerequisitesDate; string; Date when the other selected course offering assignment exited the pending prerequisites status.</li><li>exitedPendingPrerequisitesTimestamp; string; Date and time when the learning assignment exited pending prerequisites.</li><li>exitedPendingSeatAcceptanceDate; string; Date when the learning assignment exited the pending seat acceptance status.</li><li>exitedWaitlistDate; string; Date when the learner exited the waitlist.</li><li>exitedWaitlistTimestamp; string; Date and time when the learner was removed from the learning item waitlist.</li><li>isLearnerOnLatestLIVersion; string; Indicates whether the learning enrollment uses the most recent learning item version. Valid values are Y and N. Default value is Y.</li><li>isPrimaryOffering; string; Offering is the primary selected course offering.</li><li>learningItemDataLink; string; Data link to the learning item.</li><li>learningItemDeepLink; string; URL to open the offerings page directly from the browser.</li><li>learningItemDefinitionUsedDate; string; Most recent updated date for the learning enrollment based on the learning item version as of this day.</li><li>learningItemEffectiveAsOf; string; Effective start date for the learning item.</li><li>learningItemEffectiveDate; string; Effective date for the learning item.</li><li>learningItemEmbedLink; string; URL to embed the learning item page in other pages. It opens the isolated learning item page without the global toolbar on the top.</li><li>learningItemId; integer; Unique identifier for the learning item, it's the internal primary key.</li><li>learningItemLatestChangeEventDate; string; Date when the learning item was most recently changed.</li><li>learningItemNumber; string; Friendly number identifying the learning item. It's a surrogate key that's shown in the user interface.</li><li>learningItemTitle; string; Title of the learning item.</li><li>learningItemType; string; Learning item type, such as Course, Specialization, Tutorial, or Video. Valid values are defined in theAssignedLearningItemTypeLOV list.</li><li>learningItemTypeMeaning; string; Description of the learningItemType attribute value.</li><li>liLongDescription; string; Long description provided while creating the learning item.</li><li>liShortDescription; string; Description provided while creating the learning item.</li><li>liTotalExpectedEffort; number; Expected effort to complete the learning item of the other selected course offering assignment.</li><li>liTotalExpectedEffortUOM; string; Unit of measure for the effort expected to complete the learning item of the other selected course offering assignment. Valid values are defined in the DurationLOV list.</li><li>liTotalExpectedEffortUOMMeaning; string; Description of the liTotalExpectedEffortUOM attribute value.</li><li>maximumCapacity; integer; Maximum capacity for the learning offering.</li><li>offeringActivityDate; string; Date when the offering activity starts.</li><li>offeringAvailableCapacity; integer; Available capacity for the learning offering.</li><li>offeringCoordinatorDisplayName; string; Display name for the learning offering coordinator.</li><li>offeringCoordinatorEmailAddress; string; Email address for the learning offering coordinator.</li><li>offeringCoordinatorPersonNumber; string; Person number for the learning offering coordinator.</li><li>offeringDeliveryMode; string; Learning item delivery mode, such as self-paced, instructor-led, online, or onsite.</li><li>offeringDeliveryModeMeaning; string; Description of the learning offering delivery mode.</li><li>offeringEndDate; string; Date when the learning offering was ended.</li><li>offeringEndTime; string; Time when the offering activity ends.</li><li>offeringLanguage; string; Offering languages, such as Arabic, German, Spanish, and American English. Valid values are defined in the LanguageLOV list.</li><li>offeringLanguageMeaning; string; Description of the offeringLanguage attribute value.</li><li>offeringSelfServiceCatalogPrice; number; Cost of the selected learning.</li><li>offeringSelfServiceCatalogPriceCurrency; string; Currency for the selected learning.</li><li>offeringStartDate; string; Date when the learning offering was started.</li><li>offeringStartTime; string; Time when the offering activity starts.</li><li>offeringTimeZone; string; Time zone associated with the offering activity.</li><li>primaryClassroomType; string; Primary classroom type, such as Physical Classroom, Virtual Classroom, or No Location Defined.</li><li>primaryClassroomTypeMeaning; string; Description of the primary classroom type.</li><li>purchaseAmount; number; Purchase amount for the requested selected learning course offerings.</li><li>purchaseCurrency; string; Purchase currency for the requested learning offering.</li><li>purchasedDate; string; Date of purchase for the learning transaction, if the learning is paid.</li><li>purchasedTimestamp; string; Date and time for the purchase of the paid learning.</li><li>reasonCode; string; Reason code for the other selected course offering assignment. Valid values are defined in the ReasonCodeLOV list.</li><li>reasonCodeMeaning; string; Description of the reasonCode attribute value.</li><li>refundRule; string; Refund rule for the other selected course offering assignment.</li><li>requestApprovedDate; string; Approved date for the requested other selected course offerings assignment.</li><li>requestApprovedTimestamp; string; Date and time when the learning assignment approval request was assigned to the approver.</li><li>requestRejectedDate; string; Rejected date for the requested selected course offerings assignment.</li><li>requestRejectedTimestamp; string; Date and time when the learning assignment request was rejected..</li><li>requestedCompleteByDate; string; Learning request completion by date specified on the past renewal assignment for the selected course offering.</li><li>requestedDate; string; Date when the learning offering request was made.</li><li>requestedStartDate; string; Request start date specified for the selected learning offering assignment.</li><li>sourceId; integer; Unique identifier for the source where this assignment was created.</li><li>sourceType; string; Type for the source where this assignment was created, such as Recommendation or Search.</li><li>startedDate; string; Start date for the requested selected learning course offerings.</li><li>startedTimestamp; string; Date and time when the learner started the learning assignment.</li><li>statusChangeComment; string; Status change comment for the other selected learning course offering.</li><li>withdrawnDate; string; Date when the learner withdrew from the learning item.</li><li>withdrawnRequestedDate; string; Withdraw requested date for the other selected course offering assignment.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the offerings of a learning assignment that match the specified primary key criteria. <br>Finder Variables <ul><li>assignmentRecordId; integer;  Title of the learning item. </li></ul></li><li>findByAssignmentRecordId Finds all the offerings of a learning assignment that match the specified assignment criteria. <br>Finder Variables <ul><li>SysEffectiveDate; object;   </li><li>assignmentRecordId; integer;  Start date for the selected learning item. </li><li>dataSecurityPrivilege; string;  Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the offerings of a learning assignment that match the specified primary key criteria.",
                "properties": {
                  "assignmentRecordId": {
                    "nullable": false,
                    "x-hints": {
                      "help": {
                        "instruction": "Enrollment Record ID"
                      },
                      "CATEGORY": "General",
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Title of the learning item.",
                    "type": "integer",
                    "title": "Enrollment Record ID"
                  }
                }
              },
              {
                "name": "findByAssignmentRecordId",
                "description": "Finds all the offerings of a learning assignment that match the specified assignment criteria.",
                "title": "findByAssignmentRecordId",
                "properties": {
                  "assignmentRecordId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Start date for the selected learning item.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "dataSecurityPrivilege": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the list DataSecurityPrivilegeLOV.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering"
                }
              }
            }
          }
        },
        "x-internal-id": "learnerLearningRecords-{learnerLearningRecordsUniqID}-child-completionDetails-{completionDetailsUniqID}-child-primarySelectedCourseOffering-get",
        "x-filename-id": "learnerlearningrecords-learnerlearningrecordsuniqid-child-completiondetails-completiondetailsuniqid-child-primaryselectedcourseoffering-get"
      }
    },
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/completionDetails/{completionDetailsUniqID}/child/primarySelectedCourseOffering/{otherSelectedCourseOfferingsUniqID}": {
      "get": {
        "tags": [
          "Learner Learning Records/Completion Details/Primary Selected Course Offering"
        ],
        "summary": "Get a selected course offering",
        "operationId": "get_learnerLearningRecords-completionDetails-primarySelectedCourseOffering",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherSelectedCourseOfferingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Selected Course Offerings resource and used to uniquely identify an instance of Selected Course Offerings. The client should not generate the hash key value. Instead, the client should query on the Selected Course Offerings collection resource in order to navigate to a specific instance of Selected Course Offerings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-item-response"
                }
              }
            },
            "links": {
              "learningItemDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1learningItemDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "completionSummary": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1completionSummary/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "completionDetails": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1completionDetails/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "offeringDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1offeringDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "enrollmentRelatedMaterials": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1enrollmentRelatedMaterials/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "learningItemRelatedMaterials": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1learningItemRelatedMaterials/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "OfferingLearningItemTypeMeaningLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DELIVERY_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DurationLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: liTotalExpectedEffortUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/liTotalExpectedEffortUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CanEditAssignmentHintLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_CAN_EDIT_ASSIGNMENT_HINT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: canEditAssignmentHint; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/canEditAssignmentHint",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignerToAttributionTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignerAttributionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignerAttributionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReasonCodeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_WITHD_RSN_SS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: reasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/reasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "PrimaryClassroomTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CLASSROOM_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: primaryClassroomType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/primaryClassroomType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LanguageLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: offeringLanguage; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/offeringLanguage",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assignmentDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1assignmentDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "AssignmentStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learningItemRatingDetails": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1learningItemRatingDetails/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1questionnaireResponses/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "messages": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1messages/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "transactionHistory": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1transactionHistory/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "DataSecurityPrivilegeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGNMENT_SEC_CONTEXT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "enrollmentHistory": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1enrollmentHistory/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "AssignmentSubStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentSubStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentSubStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "child-completionDetails-{completionDetailsUniqID}-child-primarySelectedCourseOffering-{otherSelectedCourseOfferingsUniqID}-get",
        "x-filename-id": "child-completiondetails-completiondetailsuniqid-child-primaryselectedcourseoffering-otherselectedcourseofferingsuniqid-get"
      },
      "patch": {
        "tags": [
          "Learner Learning Records/Completion Details/Primary Selected Course Offering"
        ],
        "summary": "Update a selected course offering",
        "operationId": "update_learnerLearningRecords-completionDetails-primarySelectedCourseOffering",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherSelectedCourseOfferingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Selected Course Offerings resource and used to uniquely identify an instance of Selected Course Offerings. The client should not generate the hash key value. Instead, the client should query on the Selected Course Offerings collection resource in order to navigate to a specific instance of Selected Course Offerings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-item-response"
                }
              }
            },
            "links": {
              "learningItemDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1learningItemDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "completionSummary": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1completionSummary/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "completionDetails": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1completionDetails/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "offeringDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1offeringDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "enrollmentRelatedMaterials": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1enrollmentRelatedMaterials/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "learningItemRelatedMaterials": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1learningItemRelatedMaterials/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "OfferingLearningItemTypeMeaningLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DELIVERY_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learningItemType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learningItemType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DurationLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LEARN_DURATION_UOM"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: liTotalExpectedEffortUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/liTotalExpectedEffortUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CanEditAssignmentHintLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_CAN_EDIT_ASSIGNMENT_HINT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: canEditAssignmentHint; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/canEditAssignmentHint",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AssignerToAttributionTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTRIBUTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignerAttributionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignerAttributionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ReasonCodeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_WITHD_RSN_SS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: reasonCode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/reasonCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "PrimaryClassroomTypeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CLASSROOM_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: primaryClassroomType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/primaryClassroomType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LanguageLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: offeringLanguage; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/offeringLanguage",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assignmentDFF": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1assignmentDFF/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "AssignmentStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "learningItemRatingDetails": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1learningItemRatingDetails/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1questionnaireResponses/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "messages": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1messages/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "transactionHistory": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1transactionHistory/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "DataSecurityPrivilegeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGNMENT_SEC_CONTEXT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: dataSecurityPrivilege; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/dataSecurityPrivilege",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "enrollmentHistory": {
                "operationRef": "#/paths/~1learnerLearningRecords~1{learnerLearningRecordsUniqID}~1child~1completionDetails~1{completionDetailsUniqID}~1child~1primarySelectedCourseOffering~1{otherSelectedCourseOfferingsUniqID101}~1child~1enrollmentHistory/get",
                "parameters": {
                  "learnerLearningRecordsUniqID": "$request.path.learnerLearningRecordsUniqID",
                  "otherSelectedCourseOfferingsUniqID101": "$request.path.otherSelectedCourseOfferingsUniqID101",
                  "completionDetailsUniqID": "$request.path.completionDetailsUniqID"
                }
              },
              "AssignmentSubStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSIGN_RECORD_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: assignmentSubStatus; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/assignmentSubStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "child-completionDetails-{completionDetailsUniqID}-child-primarySelectedCourseOffering-{otherSelectedCourseOfferingsUniqID}-patch",
        "x-filename-id": "child-completiondetails-completiondetailsuniqid-child-primaryselectedcourseoffering-otherselectedcourseofferingsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "learnerLearningRecords-completionDetails-primarySelectedCourseOffering": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "learnerLearningRecords-completionDetails-primarySelectedCourseOffering-item-response": {
        "type": "object",
        "properties": {
          "activeDate": {
            "title": "Offering Active Date",
            "type": "string",
            "description": "Date when the learning assignment moved to an active status.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Offering Active Date"
              }
            },
            "x-queryable": true
          },
          "assignedDate": {
            "title": "Enrolled on Date",
            "type": "string",
            "description": "Date when the learning item was assigned.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrolled on Date"
              }
            },
            "x-queryable": true
          },
          "assignedToId": {
            "title": "Assignee Person ID",
            "type": "integer",
            "description": "Unique identifier for the course offering assignee.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assignee Person ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignerAttributionType": {
            "title": "Assigner Attribution Type",
            "maxLength": 30,
            "type": "string",
            "description": "Entity type for the learning assignment creator, such as person, specialist, or community. Valid values are defined in the AssignerToAttributionTypeLOV list.",
            "nullable": true,
            "default": "ORA_PERSON",
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignerAttributionTypeMeaning": {
            "title": "Assigner Attribution Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignerAttributionType attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Attribution Type Description"
              }
            },
            "x-queryable": true
          },
          "assignerCommentsToLearner": {
            "title": "Assigner Comments to Learner",
            "type": "string",
            "description": "Assigner comments for the other selected course offering.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Comments to Learner"
              }
            },
            "x-queryable": true
          },
          "assignerDisplayName": {
            "title": "Enrolled By",
            "maxLength": 250,
            "type": "string",
            "description": "Display name for the other selected course offering assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrolled By"
              }
            },
            "x-queryable": true
          },
          "assignerId": {
            "title": "Assigner ID",
            "type": "integer",
            "description": "Identifier for the other selected course offering assigner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "assignerNumber": {
            "title": "Assigner Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number for the other selected course offering assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Number"
              }
            },
            "x-queryable": true
          },
          "assignerPersonImageURL": {
            "title": "Assigner Person Image URL",
            "maxLength": 32,
            "type": "string",
            "description": "Image URL for the learning item assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Image URL"
              }
            },
            "x-queryable": true
          },
          "assignerPersonPrimaryEmailAddress": {
            "title": "Assigner Person Primary Email Address",
            "maxLength": 240,
            "type": "string",
            "description": "Primary email address for the other selected course offering assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "assignerPersonPrimaryPhoneNumber": {
            "title": "Assigner Person Primary Phone Number",
            "maxLength": 60,
            "type": "string",
            "description": "Primary phone for the other selected course offering assigner.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assigner Person Primary Phone Number"
              }
            },
            "x-queryable": true
          },
          "assignmentCreatedDate": {
            "title": "Assignment Created Date",
            "type": "string",
            "description": "Date and time when the other selected course offering assignment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Created Date"
              }
            },
            "x-queryable": true
          },
          "assignmentDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-assignmentDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "assignmentDueDate": {
            "title": "Due Date",
            "type": "string",
            "description": "Due date for the other selected course offering assignment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Due Date"
              }
            },
            "x-queryable": true
          },
          "assignmentJustification": {
            "title": "Justification",
            "maxLength": 4000,
            "type": "string",
            "description": "Justification provided by the specialist when assigning, or the learner when enrolling in, a course offering assignment.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Justification"
              }
            },
            "x-queryable": true
          },
          "assignmentLastModifiedDate": {
            "title": "Assignment Last Modified Date",
            "type": "string",
            "description": "Date and time when the other selected course offering assignment was most recently changed.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Last Modified Date"
              }
            },
            "x-queryable": true
          },
          "assignmentRecordId": {
            "title": "Enrollment Record ID",
            "type": "integer",
            "description": "Application-generated primary key.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record ID"
              },
              "CATEGORY": "General",
              "precision": 18
            },
            "x-queryable": true
          },
          "assignmentRecordNumber": {
            "title": "Enrollment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number for identifying the other selected course offering assignment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Number"
              },
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "assignmentStatus": {
            "title": "Enrollment Record Status",
            "maxLength": 32,
            "type": "string",
            "description": "Status for the learning enrollment, such as Active, Content Completed, Completed, Withdrawn, or Deleted. Valid values are defined in the AssignmentStatusLOV list.",
            "nullable": false,
            "default": "ORA_ASSN_REC_ACTIVE",
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Status"
              },
              "controlType": "choice",
              "CATEGORY": "General"
            },
            "x-queryable": true
          },
          "assignmentStatusMeaning": {
            "title": "Enrollment Record Status Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignmentStatus attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Record Status Description"
              }
            },
            "x-queryable": true
          },
          "assignmentSubStatus": {
            "title": "Assignment Substatus",
            "maxLength": 30,
            "type": "string",
            "description": "Substatus for the learning enrollment, such as Not Started, or In Progress. Valid values are defined in the AssignmentSubStatusLOV list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Substatus"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignmentSubStatusMeaning": {
            "title": "Assignment Substatus Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignmentSubStatus attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Assignment Substatus Description"
              }
            },
            "x-queryable": true
          },
          "assignmentType": {
            "title": "Enrollment Type",
            "maxLength": 30,
            "type": "string",
            "description": "Learning enrollment type for the other selected course offering, such as required or voluntary. Valid values are defined in the AssignmentTypeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Type"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignmentTypeMeaning": {
            "title": "Enrollment Type Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the assignmentType attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Enrollment Type Description"
              }
            },
            "x-queryable": true
          },
          "canEditAssignmentHint": {
            "title": "Can Edit Assignment Hint",
            "maxLength": 4000,
            "type": "string",
            "description": "Assignment hint, such as Can delete, Can withdraw, or No edit, for the learning assignment. Valid values are defined in the CanEditAssignmentHintLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Can Edit Assignment Hint"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "canEditAssignmentHintMeaning": {
            "title": "Can Edit Assignment Hint Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the canEditAssignmentHint attribute value.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Can Edit Assignment Hint Description"
              }
            },
            "x-queryable": true
          },
          "completedDate": {
            "title": "Completed Date",
            "type": "string",
            "description": "Completed date for the other selected course offering assignment.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Completed Date"
              }
            },
            "x-queryable": true
          },
          "completionDetails": {
            "title": "Completion Details",
            "type": "array",
            "description": "The completionDetails resource provides completion details for the learner assignment when queried with the assignment record ID. It provides the completion details for all activities that a learner has completed or will complete. The provided details are equivalent to what learning administrators see on the Manage Activities page for a learning assignment.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-completionDetails-item-response"
            }
          },
          "completionSummary": {
            "title": "Completion Summaries",
            "type": "array",
            "description": "The completionSummary resource is a child of the learnerLearningRecords resource. It provides a completion summary for a single learning assignment or a collection of assignments when queried with the assignment record ID. The summary includes completion requirements, the passing and actual scores, expected number of activities, effort for completion, and completion progress for the associated course offering.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-completionSummary-item-response"
            }
          },
          "contentCompletedDate": {
            "title": "Content Completed Date",
            "type": "string",
            "description": "Date when the content was completed for the other selected course offering assignment.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Content Completed Date"
              }
            },
            "x-queryable": true
          },
          "contentCompletedTimestamp": {
            "title": "Content Completed Date",
            "type": "string",
            "description": "Date and time when the learning content was completed.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Content Completed Date"
              }
            },
            "x-queryable": true
          },
          "currentWaitlistPosition": {
            "title": "Current Waitlist Position",
            "type": "integer",
            "description": "Current waitlist position for the learner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Current Waitlist Position"
              },
              "precision": 30
            },
            "x-queryable": true
          },
          "dataSecurityPrivilege": {
            "title": "Data Security Privilege",
            "maxLength": 32,
            "type": "string",
            "description": "Data security privilege, such as Learner or Learner Manager. It's the intent and permissions for the user accessing the learning assignment. Valid values are defined in the DataSecurityPrivilegeLOV list.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege"
              },
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "dataSecurityPrivilegeMeaning": {
            "title": "Data Security Privilege Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the value of the dataSecurityPrivilege attribute.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Data Security Privilege Description"
              }
            },
            "x-queryable": true
          },
          "deletedDate": {
            "title": "Deleted Date",
            "type": "string",
            "description": "Date when the learner was removed from the waitlist.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Deleted Date"
              }
            },
            "x-queryable": true
          },
          "enrollmentHistory": {
            "title": "Enrollment History",
            "type": "array",
            "description": "The enrollmentHistory resource provides the enrollment history details for the learning assignment.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-enrollmentHistory-item-response"
            }
          },
          "enrollmentQuestionnaireId": {
            "type": "integer",
            "description": "Unique identifier for the learning enrollment questionnaire.",
            "nullable": true,
            "x-queryable": true
          },
          "enrollmentRelatedMaterials": {
            "title": "Enrollment Related Materials",
            "type": "array",
            "description": "The attachments resource provides the related learning materials for the parent resource.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-primarySelectedCourseOffering-enrollmentRelatedMaterials-item-response"
            }
          },
          "enteredPendingPaymentDate": {
            "title": "Entered Pending Payment Date",
            "type": "string",
[...]
