{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learning Self-Paced Items/Learning Content",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}/child/content": {
      "get": {
        "tags": [
          "Learning Self-Paced Items/Learning Content"
        ],
        "summary": "Get all content items",
        "operationId": "getall_learningSelfPacedItems-content",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>addedOnDate; string; Date when the learning item was added to the learning catalog.</li><li>allowBrowseCondition; string; When a learner is allowed to browse the content.</li><li>allowFwdScrub; string; Indicates if forward scrubbing is enabled.Valid values are Y or N.</li><li>autoCommit; string; Indicates if automatic commit is enabled.Valid values are Y or N.</li><li>autoLaunchOnPageOpen; string; Indicates whether the content needs to be automatically launched when the enrollment page opens.</li><li>completeBeforeExitAU; string; Indicates how completions are recorded by the AICC player. ORA_YES means completions are recorded without waiting for the ExitAU AICC call. ORA_NO means the player waits for the ExitAU call.</li><li>completionRule; string; Completion rule that determines how the content handles completions. It also determines if manager or learner confirmation is required.</li><li>completionThreshold; number; What percentage of the content a learner needs to complete to be marked successful.</li><li>contentId; integer; The unique identifier for the content.</li><li>coverArtHighRenditionLink; string; Link to the high rendition version of the learning cover art image.</li><li>coverArtLowRenditionLink; string; Link to the low rendition version of the learning cover art image.</li><li>coverArtMedRenditionLink; string; Link to the medium rendition version of the learning cover art image.</li><li>deliveryProviderNumber; string; User-friendly number identifying the learning content delivery provider.</li><li>deliveryURL; string; URL used to deliver the learning item to the learner.</li><li>displayMode; string; How the content is displayed to the learner, such as embedded.</li><li>durationInSeconds; integer; Content duration in seconds.</li><li>effortCalculationRule; string; Determines how the learner's effort is calculated.</li><li>enableScoring; string; Indicates if scoring is enabled or not. Valid values are Y or N.</li><li>learnerAttemptReview; string; What attempts a learner can review.</li><li>learnerAttemptReviewCondition; string; When a learner can review attempts.</li><li>learnerAttemptRule; string; The rule used to configure attempts.</li><li>learnerMaximumAttempts; integer; The maximum attempts allowed on for the learning content.</li><li>obsAllowBrowseCondition; string; Indicates when learners can browse the content of an observation checklist.</li><li>obsAllowReassignment; string; Indicates whether the observer can reassign the observation checklist task. Valid values are Y or N. Default value is N.</li><li>obsAttemptReviewByLearner; string; Determines what observer attempts a learner can review. Valid values are ORA_WLF_ARAR_DONT_ENABLE, ORA_WLF_ARAR_LAST_ATTEMPT, ORA_WLF_ARAR_ANY_PAST_ATTEMPT or ORA_WLF_ARAR_LAST_PASS_ATEMPT. If the content is an observation checklist and null for other content types, the default value is ORA_WLF_ARAR_LAST_ATTEMPT.</li><li>obsAttemptReviewByLearnerMeaning; string; Description for the obsAttemptReviewByLearner attribute value.</li><li>obsAttemptReviewConditionByLearner; string; Indicates when learners can review the observer's recorded attempts.</li><li>obsAttemptRule; string; Determines how many attempts can be recorded. Valid values are ORA_WLF_ARA_LTD_NUM,ORA_WLF_ARA_SNGL,ORA_WLF_ARA_SNGL_RESUME or ORA_WLF_ARA_UNLTD. The default value is ORA_WLF_ARA_SNGL.</li><li>obsLearnerSelfAssessEnable; string; Indicates whether the observation checklist supports self-assessment. Valid values are Y or N. Default value is N.</li><li>obsManagerLevel; string; Manager level, such as first level manager, second level manger, or third level manager.</li><li>obsManagerType; string; Manager type, such as Line Manager, Project Manager, or Regional Manager.</li><li>obsManagerTypeMeaning; string; Description for the obsManagerType attribute value.</li><li>obsMaximumAttempts; integer; Maximum number of attempts allowed for an observer.</li><li>obsRepType; string; Type of representative, such as Benefits representative, Learning representative, or Payroll representative.</li><li>obsRepTypeMeaning; string; Description for the obsRepType attribute value.</li><li>obsShowFeedbackToLearner; string; Indicates whether observer's feedback should be visible to the learner. Valid values are Y or N.</li><li>obsType; string; Type of observer, such as Individuals, Management Hierarchy, or Representative.</li><li>passingScore; number; Score required to successfully complete the provided learning content.</li><li>questionnaireCode; string; Unique code for the questionnaire.</li><li>questionnaireName; string; Name of the questionnaire.</li><li>questionnaireVersion; integer; Version of the questionnaire.</li><li>retryAttemptsBeforeDelay; integer; Number of times a learner can attempt the learning item without a delay.</li><li>scoreViewRule; string; Determines who can view the score, such as learners, learning administrators, or both.</li><li>scoredContentCompletionRule; string; Indicates how to set completions when the learner closes the player window.</li><li>showFeedbackToLearner; string; Indicates if feedback should be visible to the learner. Valid values are Y or N</li><li>sourceId; string; Unique identifier for the course in the external application, if available.</li><li>sourceLaunchURL; string; Source URL for the learning item</li><li>sourceMaximumScore; number; Maximum score that learners can achieve for the provided learning content.</li><li>sourceMinimumScore; number; Minimum score that learners can achieve for the provided learning content.</li><li>sourcePassingScore; number; Score required to successfully complete the provided learning content. This is a read only attribute.</li><li>sourceSupportedLanguages; string; List of languages the learning content supports.</li><li>status; string; Status of the learning content, such as active or processing.</li><li>storageProviderNumber; string; User-friendly number identifying the learning content storage provider.</li><li>timeLimitInSeconds; integer; Time limit in seconds that the learner is provided to complete the content.</li><li>title; string; Title of the learning content.</li><li>type; string; Type of learning content, such as Video or SCORM</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all content that match the specified criteria. <br>Finder Variables <ul><li>contentId; integer;  The unique identifier for the content. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all content that match the specified criteria.",
                "properties": {
                  "contentId": {
                    "nullable": false,
                    "x-hints": {
                      "help": {
                        "instruction": "Content ID"
                      },
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "The unique identifier for the content.",
                    "type": "integer",
                    "title": "Content ID"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-content"
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-content-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-content-get"
      },
      "post": {
        "tags": [
          "Learning Self-Paced Items/Learning Content"
        ],
        "summary": "Create a content item",
        "operationId": "create_learningSelfPacedItems-content",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningSelfPacedItems-content-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-content-item-response"
                }
              }
            },
            "links": {
              "ObsAttemptReviewConditionByLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTEMPT_REVIEW_COND"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptReviewConditionByLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptReviewConditionByLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsRepTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_RESPONSIBILITY_TYPES"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsRepType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsRepType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LI_OBSERVER_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "EffortCalculationRuleLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_EFFORT_CALC_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: effortCalculationRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/effortCalculationRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CompletionAffirmationLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_COMPLETION_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ShowFeedbackToLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: showFeedbackToLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/showFeedbackToLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DisplayModeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CONTENT_DISPLAY_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: displayMode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/displayMode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assets": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1assets/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The assets resource enumerates media items used to visually enhance the learning parent resource. Assets can be cover art images or trailers. Asset details include asset identifier, asset number, date the asset was added, asset type, and asset status."
              },
              "ObsManagerTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_SUPERVISOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsManagerType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsManagerType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAllowBrowseConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BROWSE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAllowBrowseCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAllowBrowseCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptReviewConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTEMPT_REVIEW_COND"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptReviewCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptReviewCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AllowBrowseConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BROWSE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: allowBrowseCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/allowBrowseCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contentBinaries": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1contentBinaries/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The assetAttachments resource adds, edits, views, and deletes attachments for the parent resource. Details include attached document identifier, file name, file URL, file title, and description."
              },
              "EnableScoringLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: enableScoring; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/enableScoring",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningContentStatusLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_CONTENT_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "completeBeforeExitAULOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ENABLE_COMPL_EXITAU"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completeBeforeExitAU; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completeBeforeExitAU",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ScoredContentEvidenceRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_SCORED_CONT_COMPLETION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: scoredContentCompletionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/scoredContentCompletionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAttemptRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptReviewLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPT_REV"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptReview; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptReview",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ContentTypeLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_CONTENT_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: type; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/type",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsShowFeedbackToLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsShowFeedbackToLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsShowFeedbackToLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "obsPersonDetails": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1obsPersonDetails/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The obsPersonDetails resource lists the named observers and provides their details, such as person display name and person number."
              },
              "AllowFwdScrubLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ALLOW_FWD_SCRUB"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: allowFwdScrub; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/allowFwdScrub",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAttemptReviewByLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPT_REV"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptReviewByLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptReviewByLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AutoLaunchLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: autoLaunchOnPageOpen; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/autoLaunchOnPageOpen",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsManagerLevelLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_MNGR_HRCHY_LEVEL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsManagerLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsManagerLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ScoreViewRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_SCORE_VIEW_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: scoreViewRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/scoreViewRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-content-post",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-content-post"
      }
    },
    "/learningSelfPacedItems/{learningSelfPacedItemsUniqID}/child/content/{contentUniqID}": {
      "get": {
        "tags": [
          "Learning Self-Paced Items/Learning Content"
        ],
        "summary": "Get a content item",
        "operationId": "get_learningSelfPacedItems-content",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Content resource and used to uniquely identify an instance of Learning Content. The client should not generate the hash key value. Instead, the client should query on the Learning Content collection resource in order to navigate to a specific instance of Learning Content to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-content-item-response"
                }
              }
            },
            "links": {
              "ObsAttemptReviewConditionByLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTEMPT_REVIEW_COND"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptReviewConditionByLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptReviewConditionByLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsRepTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_RESPONSIBILITY_TYPES"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsRepType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsRepType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LI_OBSERVER_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "EffortCalculationRuleLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_EFFORT_CALC_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: effortCalculationRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/effortCalculationRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CompletionAffirmationLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_COMPLETION_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ShowFeedbackToLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: showFeedbackToLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/showFeedbackToLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DisplayModeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CONTENT_DISPLAY_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: displayMode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/displayMode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assets": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1assets/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The assets resource enumerates media items used to visually enhance the learning parent resource. Assets can be cover art images or trailers. Asset details include asset identifier, asset number, date the asset was added, asset type, and asset status."
              },
              "ObsManagerTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_SUPERVISOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsManagerType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsManagerType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAllowBrowseConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BROWSE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAllowBrowseCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAllowBrowseCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptReviewConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTEMPT_REVIEW_COND"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptReviewCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptReviewCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AllowBrowseConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BROWSE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: allowBrowseCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/allowBrowseCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "contentBinaries": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1contentBinaries/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The assetAttachments resource adds, edits, views, and deletes attachments for the parent resource. Details include attached document identifier, file name, file URL, file title, and description."
              },
              "EnableScoringLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: enableScoring; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/enableScoring",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearningContentStatusLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_CONTENT_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "completeBeforeExitAULOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ENABLE_COMPL_EXITAU"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completeBeforeExitAU; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completeBeforeExitAU",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ScoredContentEvidenceRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_SCORED_CONT_COMPLETION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: scoredContentCompletionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/scoredContentCompletionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAttemptRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPTS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptReviewLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPT_REV"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptReview; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptReview",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ContentTypeLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_CONTENT_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: type; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/type",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsShowFeedbackToLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsShowFeedbackToLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsShowFeedbackToLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "obsPersonDetails": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1obsPersonDetails/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The obsPersonDetails resource lists the named observers and provides their details, such as person display name and person number."
              },
              "AllowFwdScrubLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ALLOW_FWD_SCRUB"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: allowFwdScrub; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/allowFwdScrub",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAttemptReviewByLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ASSES_REC_ATTEMPT_REV"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptReviewByLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptReviewByLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AutoLaunchLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: autoLaunchOnPageOpen; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/autoLaunchOnPageOpen",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsManagerLevelLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_MNGR_HRCHY_LEVEL"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsManagerLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsManagerLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ScoreViewRuleLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_SCORE_VIEW_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: scoreViewRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/scoreViewRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-content-{contentUniqID}-get",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-content-contentuniqid-get"
      },
      "delete": {
        "tags": [
          "Learning Self-Paced Items/Learning Content"
        ],
        "summary": "Delete a content item",
        "operationId": "delete_learningSelfPacedItems-content",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Content resource and used to uniquely identify an instance of Learning Content. The client should not generate the hash key value. Instead, the client should query on the Learning Content collection resource in order to navigate to a specific instance of Learning Content to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "learningSelfPacedItems-{learningSelfPacedItemsUniqID}-child-content-{contentUniqID}-delete",
        "x-filename-id": "learningselfpaceditems-learningselfpaceditemsuniqid-child-content-contentuniqid-delete"
      },
      "patch": {
        "tags": [
          "Learning Self-Paced Items/Learning Content"
        ],
        "summary": "Update a content item",
        "operationId": "update_learningSelfPacedItems-content",
        "parameters": [
          {
            "name": "learningSelfPacedItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Self-Paced Items resource and used to uniquely identify an instance of Learning Self-Paced Items. The client should not generate the hash key value. Instead, the client should query on the Learning Self-Paced Items collection resource in order to navigate to a specific instance of Learning Self-Paced Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Content resource and used to uniquely identify an instance of Learning Content. The client should not generate the hash key value. Instead, the client should query on the Learning Content collection resource in order to navigate to a specific instance of Learning Content to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/learningSelfPacedItems-content-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learningSelfPacedItems-content-item-response"
                }
              }
            },
            "links": {
              "ObsAttemptReviewConditionByLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTEMPT_REVIEW_COND"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAttemptReviewConditionByLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAttemptReviewConditionByLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsRepTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_RESPONSIBILITY_TYPES"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsRepType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsRepType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LI_OBSERVER_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "EffortCalculationRuleLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_EFFORT_CALC_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: effortCalculationRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/effortCalculationRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CompletionAffirmationLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_LC_COMPLETION_RULE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: completionRule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/completionRule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ShowFeedbackToLearnerLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: showFeedbackToLearner; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/showFeedbackToLearner",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "DisplayModeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_CONTENT_DISPLAY_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: displayMode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/displayMode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "assets": {
                "operationRef": "#/paths/~1learningSelfPacedItems~1{learningSelfPacedItemsUniqID}~1child~1content~1{contentUniqID}~1child~1assets/get",
                "parameters": {
                  "learningSelfPacedItemsUniqID": "$request.path.learningSelfPacedItemsUniqID",
                  "contentUniqID": "$request.path.contentUniqID"
                },
                "description": "The assets resource enumerates media items used to visually enhance the learning parent resource. Assets can be cover art images or trailers. Asset details include asset identifier, asset number, date the asset was added, asset type, and asset status."
              },
              "ObsManagerTypeLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_SUPERVISOR_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsManagerType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsManagerType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ObsAllowBrowseConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_BROWSE_CONTENT"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: obsAllowBrowseCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/obsAllowBrowseCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "LearnerAttemptReviewConditionLOVVA": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_WLF_ATTEMPT_REVIEW_COND"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: learnerAttemptReviewCondition; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/learnerAttemptReviewCondition",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "AllowBrowseConditionLOVVA": {
[...]
