{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Learner Learning Records/Completion Details/Selected Course Offerings/Learning Item Rating Details/Rater Person Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/completionDetails/{completionDetailsUniqID}/child/selectedCourseOfferings/{otherSelectedCourseOfferingsUniqID}/child/learningItemRatingDetails/{learningItemRatingDetailsUniqID}/child/ratedByPersonDetails": {
      "get": {
        "tags": [
          "Learner Learning Records/Completion Details/Selected Course Offerings/Learning Item Rating Details/Rater Person Details"
        ],
        "summary": "Get details about all the people associated with the learning item",
        "operationId": "getall_learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherSelectedCourseOfferingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Selected Course Offerings resource and used to uniquely identify an instance of Selected Course Offerings. The client should not generate the hash key value. Instead, the client should query on the Selected Course Offerings collection resource in order to navigate to a specific instance of Selected Course Offerings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "learningItemRatingDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Item Rating Details resource and used to uniquely identify an instance of Learning Item Rating Details. The client should not generate the hash key value. Instead, the client should query on the Learning Item Rating Details collection resource in order to navigate to a specific instance of Learning Item Rating Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>assignmentName; string; Person's work assignment name.</li><li>businessUnitId; integer; Unique identifier for the person's business unit.</li><li>businessUnitName; string; Name of the person's business unit.</li><li>departmentId; integer; Person's department.</li><li>departmentName; string; Person's department name.</li><li>jobId; integer; Person's job identifier.</li><li>jobName; string; Person's job name.</li><li>legalEmployerId; integer; Identifier for the person's legal employer.</li><li>legalEmployerName; string; Name of the person's legal employer.</li><li>lineManagerDisplayName; string; Display name for the person's line manager.</li><li>lineManagerId; integer; Identifier for the person's line manager.</li><li>lineManagerNumber; string; Number for the person's line manager.</li><li>lineManagerPrimaryEmailAddress; string; Primary email address for the person's line manager.</li><li>locationId; integer; Person's location identifier.</li><li>locationName; string; Person's location name.</li><li>personId; integer; Identifier of the person who's the publisher.</li><li>positionId; integer; Unique identifier for the person's position.</li><li>positionName; string; Person's position name.</li><li>primaryEmailAddress; string; Person's primary email address.</li><li>primaryPhoneNumber; string; Person's primary phone number.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all person details that match the specified primary key criteria. <br>Finder Variables <ul><li>personId; integer;  Unique identifier for the person. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all person details that match the specified primary key criteria.",
                "properties": {
                  "personId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the person.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "{otherSelectedCourseOfferingsUniqID}-child-learningItemRatingDetails-{learningItemRatingDetailsUniqID}-child-ratedByPersonDetails-get",
        "x-filename-id": "otherselectedcourseofferingsuniqid-child-learningitemratingdetails-learningitemratingdetailsuniqid-child-ratedbypersondetails-get"
      }
    },
    "/learnerLearningRecords/{learnerLearningRecordsUniqID}/child/completionDetails/{completionDetailsUniqID}/child/selectedCourseOfferings/{otherSelectedCourseOfferingsUniqID}/child/learningItemRatingDetails/{learningItemRatingDetailsUniqID}/child/ratedByPersonDetails/{personId}": {
      "get": {
        "tags": [
          "Learner Learning Records/Completion Details/Selected Course Offerings/Learning Item Rating Details/Rater Person Details"
        ],
        "summary": "Get details about the person associated with the learning item",
        "operationId": "get_learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails",
        "parameters": [
          {
            "name": "learnerLearningRecordsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learner Learning Records resource and used to uniquely identify an instance of Learner Learning Records. The client should not generate the hash key value. Instead, the client should query on the Learner Learning Records collection resource in order to navigate to a specific instance of Learner Learning Records to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Completion Details resource and used to uniquely identify an instance of Completion Details. The client should not generate the hash key value. Instead, the client should query on the Completion Details collection resource in order to navigate to a specific instance of Completion Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "otherSelectedCourseOfferingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Selected Course Offerings resource and used to uniquely identify an instance of Selected Course Offerings. The client should not generate the hash key value. Instead, the client should query on the Selected Course Offerings collection resource in order to navigate to a specific instance of Selected Course Offerings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "learningItemRatingDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Learning Item Rating Details resource and used to uniquely identify an instance of Learning Item Rating Details. The client should not generate the hash key value. Instead, the client should query on the Learning Item Rating Details collection resource in order to navigate to a specific instance of Learning Item Rating Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the person who's the publisher.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "3-{otherSelectedCourseOfferingsUniqID}-child-learningItemRatingDetails-{learningItemRatingDetailsUniqID}-child-ratedByPersonDetails-{personId}-get",
        "x-filename-id": "3-otherselectedcourseofferingsuniqid-child-learningitemratingdetails-learningitemratingdetailsuniqid-child-ratedbypersondetails-personid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "learnerLearningRecords-completionDetails-selectedCourseOfferings-learningItemRatingDetails-ratedByPersonDetails-item-response": {
        "type": "object",
        "properties": {
          "assignmentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Person's work assignment name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "businessUnitId": {
            "title": "Business Unit ID",
            "type": "integer",
            "description": "Unique identifier for the person's business unit.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Business Unit ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "businessUnitName": {
            "title": "Business Unit",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the person's business unit.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Business Unit"
              }
            },
            "x-queryable": true
          },
          "departmentId": {
            "title": "Department ID",
            "type": "integer",
            "description": "Person's department.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Department ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "departmentName": {
            "title": "Department",
            "maxLength": 240,
            "type": "string",
            "description": "Person's department name.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Department"
              }
            },
            "x-queryable": true
          },
          "jobId": {
            "title": "Job ID",
            "type": "integer",
            "description": "Person's job identifier.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Job ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "jobName": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Person's job name.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Job"
              }
            },
            "x-queryable": true
          },
          "legalEmployerId": {
            "title": "Legal Employer ID",
            "type": "integer",
            "description": "Identifier for the person's legal employer.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Legal Employer ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "legalEmployerName": {
            "title": "Legal Employer",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the person's legal employer.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Legal Employer"
              }
            },
            "x-queryable": true
          },
          "lineManagerDisplayName": {
            "title": "Line Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the person's line manager.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Line Manager"
              }
            },
            "x-queryable": true
          },
          "lineManagerId": {
            "title": "Line Manager ID",
            "type": "integer",
            "description": "Identifier for the person's line manager.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Line Manager ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "lineManagerNumber": {
            "title": "Line Manager Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number for the person's line manager.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Line Manager Number"
              }
            },
            "x-queryable": true
          },
          "lineManagerPrimaryEmailAddress": {
            "title": "Line Manager Primary Email Address",
            "maxLength": 240,
            "type": "string",
            "description": "Primary email address for the person's line manager.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Line Manager Primary Email Address"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "locationId": {
            "title": "Location ID",
            "type": "integer",
            "description": "Person's location identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "locationName": {
            "title": "Location Name",
            "maxLength": 240,
            "type": "string",
            "description": "Person's location name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Location Name"
              }
            },
            "x-queryable": true
          },
          "personId": {
            "type": "integer",
            "description": "Identifier of the person who's the publisher.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "positionId": {
            "title": "Position ID",
            "type": "integer",
            "description": "Unique identifier for the person's position.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Position ID"
              },
              "precision": 18
            },
            "x-queryable": true
          },
          "positionName": {
            "title": "Position",
            "maxLength": 240,
            "type": "string",
            "description": "Person's position name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "help": {
                "instruction": "Position"
              }
            },
            "x-queryable": true
          },
          "primaryEmailAddress": {
            "maxLength": 240,
            "type": "string",
            "description": "Person's primary email address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "primaryPhoneNumber": {
            "maxLength": 60,
            "type": "string",
            "description": "Person's primary phone number.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}