{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Library Goals/Large Object (LOB) Attributes - LongDescription",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/libraryGoals/{libraryGoalsUniqID}/enclosure/LongDescription": {
      "get": {
        "tags": [
          "Library Goals/Large Object (LOB) Attributes - LongDescription"
        ],
        "summary": "Get a LongDescription",
        "description": "Get a LongDescription",
        "operationId": "get_libraryGoals-LongDescription",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-enclosure-LongDescription-get",
        "x-filename-id": "librarygoals-librarygoalsuniqid-enclosure-longdescription-get"
      },
      "put": {
        "tags": [
          "Library Goals/Large Object (LOB) Attributes - LongDescription"
        ],
        "summary": "Replace a LongDescription",
        "description": "Replace a LongDescription",
        "operationId": "replace_libraryGoals-LongDescription",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-enclosure-LongDescription-put",
        "x-filename-id": "librarygoals-librarygoalsuniqid-enclosure-longdescription-put"
      },
      "delete": {
        "tags": [
          "Library Goals/Large Object (LOB) Attributes - LongDescription"
        ],
        "summary": "Delete a LongDescription",
        "description": "Delete a LongDescription",
        "operationId": "delete_libraryGoals-LongDescription",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-enclosure-LongDescription-delete",
        "x-filename-id": "librarygoals-librarygoalsuniqid-enclosure-longdescription-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}