{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Library Goals/Library Goal Tasks",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/libraryGoals/{libraryGoalsUniqID}/child/libraryGoalTasks": {
      "get": {
        "tags": [
          "Library Goals/Library Goal Tasks"
        ],
        "summary": "Get all library goal tasks",
        "operationId": "getall_libraryGoals-libraryGoalTasks",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AchievedWeight; number; Achieved weight for the measurement of the library goal's task.</li><li>ActualCompletionDate; string; Actual completion date for the measurement of the library goal's task.</li><li>ActualValue; number; Actual value for the measurement of the library goal's task.</li><li>BusinessGroupId; integer; Unique identifier for the business group for which the library goal's task applies.</li><li>Comments; string; Comments about the library goal task.</li><li>CompletionStatus; string; Completion status for the measurement of the library goal's task.</li><li>CreatedBy; string; User who created the library goal task.</li><li>CreationDate; string; Date when the library goal task was created.</li><li>GoalId; integer; Unique identifier for the library goal for which the task applies.</li><li>LastUpdateDate; string; Date when the library goal task was last updated.</li><li>LastUpdatedBy; string; User who last updated the library goal task.</li><li>MaximumTarget; number; Maximum target for the measurement of the library goal's task.</li><li>MinimumTarget; number; Minimum target for the measurement of the library goal's task.</li><li>PercentCompletion; string; Completion percentage of the library goal's task.</li><li>PriorityCode; string; Priority code of the library goal's task.</li><li>PriorityMeaning; string; Priority of the library goal's task.</li><li>RelatedLink; string; Related link of the library goal's task.</li><li>StartDate; string; Start date of the library goal's task.</li><li>StatusCode; string; Status code of the library goal's task.</li><li>StatusMeaning; string; Status of the library goal's task.</li><li>TargetCompletionDate; string; Target completion date for the library goal's task.</li><li>TargetPercentage; number; Target percentage for the measurement of the library goal's task.</li><li>TargetType; string; Code for the target type of the library goal's task.</li><li>TargetTypeMeaning; string; Description for the target type of the library goal's task.</li><li>TargetValue; number; Target value of the library goal's task.</li><li>TaskContentId; integer; Unique identifier for the task of a library goal used to associate it with its components such as the task name, and task start date.</li><li>TaskId; integer; Unique identifier for the task of a library goal.</li><li>TaskName; string; Name of the task of a library goal.</li><li>TaskTypeCode; string; Task type code of the library goal's task.</li><li>TaskTypeMeaning; string; Task type of the library goal's task.</li><li>UomCode; string; Code for the unit of measure of the library goal's task.</li><li>UomCodeMeaning; string; Unit of measure of the library goal's task.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds tasks of a library goal that match the primary key criteria specified. <br>Finder Variables <ul><li>BusinessGroupId; integer;  Unique identifier for the business group for which the task of the library goal applies. </li><li>TaskContentId; integer;  Unique identifier for the task of a library goal used to associate it with its components such as the task name, and task start date. </li><li>TaskId; integer;  Unique identifier for the task of a library goal. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds tasks of a library goal that match the primary key criteria specified.",
                "properties": {
                  "TaskId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the task of a library goal.",
                    "type": "integer",
                    "title": "Content Item Relationship ID"
                  },
                  "TaskContentId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the task of a library goal used to associate it with its components such as the task name, and task start date.",
                    "type": "integer",
                    "title": "Content Item ID"
                  },
                  "BusinessGroupId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the business group for which the task of the library goal applies.",
                    "type": "integer",
                    "title": "Business Group ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-child-libraryGoalTasks-get",
        "x-filename-id": "librarygoals-librarygoalsuniqid-child-librarygoaltasks-get"
      },
      "post": {
        "tags": [
          "Library Goals/Library Goal Tasks"
        ],
        "summary": "Create a library goal task",
        "operationId": "create_libraryGoals-libraryGoalTasks",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/libraryGoals-libraryGoalTasks-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-child-libraryGoalTasks-post",
        "x-filename-id": "librarygoals-librarygoalsuniqid-child-librarygoaltasks-post"
      }
    },
    "/libraryGoals/{libraryGoalsUniqID}/child/libraryGoalTasks/{libraryGoalTasksUniqID}": {
      "get": {
        "tags": [
          "Library Goals/Library Goal Tasks"
        ],
        "summary": "Get a library goal task",
        "operationId": "get_libraryGoals-libraryGoalTasks",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryGoalTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TaskContentId, BusinessGroupId and TaskId ---for the Library Goal Tasks resource and used to uniquely identify an instance of Library Goal Tasks. The client should not generate the hash key value.  Instead, the client should query on the Library Goal Tasks collection resource with a filter on the primary key values in order to navigate to a specific instance of Library Goal Tasks.<br><br>For example: libraryGoalTasks?q=TaskContentId=&lt;value1&gt;;BusinessGroupId=&lt;value2&gt;;TaskId=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-child-libraryGoalTasks-{libraryGoalTasksUniqID}-get",
        "x-filename-id": "librarygoals-librarygoalsuniqid-child-librarygoaltasks-librarygoaltasksuniqid-get"
      },
      "delete": {
        "tags": [
          "Library Goals/Library Goal Tasks"
        ],
        "summary": "Delete a library goal task",
        "operationId": "delete_libraryGoals-libraryGoalTasks",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryGoalTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TaskContentId, BusinessGroupId and TaskId ---for the Library Goal Tasks resource and used to uniquely identify an instance of Library Goal Tasks. The client should not generate the hash key value.  Instead, the client should query on the Library Goal Tasks collection resource with a filter on the primary key values in order to navigate to a specific instance of Library Goal Tasks.<br><br>For example: libraryGoalTasks?q=TaskContentId=&lt;value1&gt;;BusinessGroupId=&lt;value2&gt;;TaskId=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-child-libraryGoalTasks-{libraryGoalTasksUniqID}-delete",
        "x-filename-id": "librarygoals-librarygoalsuniqid-child-librarygoaltasks-librarygoaltasksuniqid-delete"
      },
      "patch": {
        "tags": [
          "Library Goals/Library Goal Tasks"
        ],
        "summary": "Update a library goal task",
        "operationId": "update_libraryGoals-libraryGoalTasks",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "libraryGoalTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TaskContentId, BusinessGroupId and TaskId ---for the Library Goal Tasks resource and used to uniquely identify an instance of Library Goal Tasks. The client should not generate the hash key value.  Instead, the client should query on the Library Goal Tasks collection resource with a filter on the primary key values in order to navigate to a specific instance of Library Goal Tasks.<br><br>For example: libraryGoalTasks?q=TaskContentId=&lt;value1&gt;;BusinessGroupId=&lt;value2&gt;;TaskId=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/libraryGoals-libraryGoalTasks-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-child-libraryGoalTasks-{libraryGoalTasksUniqID}-patch",
        "x-filename-id": "librarygoals-librarygoalsuniqid-child-librarygoaltasks-librarygoaltasksuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "libraryGoals-libraryGoalTasks": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "libraryGoals-libraryGoalTasks-item-response": {
        "type": "object",
        "properties": {
          "AchievedWeight": {
            "title": "Achieved Weight",
            "type": "number",
            "description": "Achieved weight for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ActualCompletionDate": {
            "type": "string",
            "description": "Actual completion date for the measurement of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ActualValue": {
            "title": "Actual Value",
            "type": "number",
            "description": "Actual value for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessGroupId": {
            "title": "Business Group ID",
            "type": "integer",
            "description": "Unique identifier for the business group for which the library goal's task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Full Content Item Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments about the library goal task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CompletionStatus": {
            "maxLength": 4000,
            "type": "string",
            "description": "Completion status for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the library goal task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the library goal task was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal for which the task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the library goal task was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the library goal task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MaximumTarget": {
            "title": "Maximum Target",
            "type": "number",
            "description": "Maximum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MinimumTarget": {
            "title": "Minimum Target",
            "type": "number",
            "description": "Minimum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PercentCompletion": {
            "title": "Completion Percentage",
            "maxLength": 30,
            "type": "string",
            "description": "Completion percentage of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PriorityMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Priority of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RelatedLink": {
            "title": "Related Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Related link of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Status of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetPercentage": {
            "title": "Target Percentage",
            "type": "number",
            "description": "Target percentage for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetType": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the target type of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description for the target type of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetValue": {
            "type": "number",
            "description": "Target value of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TaskContentId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the task of a library goal used to associate it with its components such as the task name, and task start date.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "TaskId": {
            "title": "Content Item Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the task of a library goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the task of a library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TaskTypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Task type code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TaskTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Task type of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UomCode": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the unit of measure of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UomCodeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Unit of measure of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "libraryGoals-libraryGoalTasks-item-post-request": {
        "type": "object",
        "properties": {
          "AchievedWeight": {
            "title": "Achieved Weight",
            "type": "number",
            "description": "Achieved weight for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ActualCompletionDate": {
            "type": "string",
            "description": "Actual completion date for the measurement of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ActualValue": {
            "title": "Actual Value",
            "type": "number",
            "description": "Actual value for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "BusinessGroupId": {
            "title": "Business Group ID",
            "type": "integer",
            "description": "Unique identifier for the business group for which the library goal's task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "Comments": {
            "title": "Full Content Item Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments about the library goal task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CompletionStatus": {
            "maxLength": 4000,
            "type": "string",
            "description": "Completion status for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal for which the task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MaximumTarget": {
            "title": "Maximum Target",
            "type": "number",
            "description": "Maximum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MinimumTarget": {
            "title": "Minimum Target",
            "type": "number",
            "description": "Minimum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PercentCompletion": {
            "title": "Completion Percentage",
            "maxLength": 30,
            "type": "string",
            "description": "Completion percentage of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "RelatedLink": {
            "title": "Related Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Related link of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "TargetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetPercentage": {
            "title": "Target Percentage",
            "type": "number",
            "description": "Target percentage for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetType": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the target type of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetValue": {
            "type": "number",
            "description": "Target value of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TaskContentId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the task of a library goal used to associate it with its components such as the task name, and task start date.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "TaskId": {
            "title": "Content Item Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the task of a library goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the task of a library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TaskTypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Task type code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "UomCode": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the unit of measure of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "libraryGoals-libraryGoalTasks-item-patch-request": {
        "type": "object",
        "properties": {
          "AchievedWeight": {
            "title": "Achieved Weight",
            "type": "number",
            "description": "Achieved weight for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ActualCompletionDate": {
            "type": "string",
            "description": "Actual completion date for the measurement of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ActualValue": {
            "title": "Actual Value",
            "type": "number",
            "description": "Actual value for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Comments": {
            "title": "Full Content Item Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments about the library goal task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CompletionStatus": {
            "maxLength": 4000,
            "type": "string",
            "description": "Completion status for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal for which the task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MaximumTarget": {
            "title": "Maximum Target",
            "type": "number",
            "description": "Maximum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MinimumTarget": {
            "title": "Minimum Target",
            "type": "number",
            "description": "Minimum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PercentCompletion": {
            "title": "Completion Percentage",
            "maxLength": 30,
            "type": "string",
            "description": "Completion percentage of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "RelatedLink": {
            "title": "Related Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Related link of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "TargetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetPercentage": {
            "title": "Target Percentage",
            "type": "number",
            "description": "Target percentage for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetType": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the target type of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetValue": {
            "type": "number",
            "description": "Target value of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the task of a library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TaskTypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Task type code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "UomCode": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the unit of measure of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "libraryGoals-libraryGoalTasks-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-post-request"
            }
          }
        }
      },
      "libraryGoals-libraryGoalTasks-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}