{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Library Goals",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/libraryGoals": {
      "get": {
        "tags": [
          "Library Goals"
        ],
        "summary": "Get all library goals",
        "operationId": "getall_libraryGoals",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AvailableTo; string; Indicates the roles that have access to the library goal. The library goal can be made available only to HR specialists, or can also be made available to managers and workers.</li><li>BusinessUnitId; number; Unique identifier for the business unit associated with the library goal.</li><li>BusinessUnitName; string; Name of the business unit associated with the library goal.</li><li>Comments; string; Comments added to the library goal.</li><li>ContentTypeId; integer; Unique identifier for the content type associated with the library goal.</li><li>DateTo; string; End date of the library goal.</li><li>DepartmentId; number; Unique identifier for the department associated with the library goal.</li><li>DepartmentName; string; Name of the department associated with the library goal.</li><li>Description; string; Description of the library goal.</li><li>DevCategoryCode; string; Category code of the development library goal.</li><li>DevCategoryMeaning; string; Category of the development library goal.</li><li>GoalExternalId; string; Unique external identifier for the library goal.</li><li>GoalId; integer; Unique identifier for the library goal.</li><li>GoalName; string; Name of the library goal.</li><li>GoalSubTypeCode; string; Subtype code of the library goal.</li><li>GoalSubTypeMeaning; string; Subtype of the library goal. Subtypes are configured based on business requirements.</li><li>GoalUrl; string; Uniform Resource Locator of the library goal.</li><li>JobFamilyId; number; Unique identifier for the job family associated with the library goal.</li><li>JobFamilyName; string; Name of the job family associated with the library goal.</li><li>JobId; number; Unique identifier for the job associated with the library goal.</li><li>LastUpdateDate; string; Date the library goal was last updated.</li><li>LegalEmployerId; number; Unique identifier for the legal employer associated with the library goal.</li><li>LegalEmployerName; string; Name of the legal employer associated with the library goal.</li><li>LevelCode; string; Level code of the library goal.</li><li>LevelMeaning; string; Level of the library goal.</li><li>LongDescription; string; Long description of the goal.</li><li>PerfCategoryCode; string; Category code of the performance library goal.</li><li>PerfCategoryMeaning; string; Category of the performance library goal.</li><li>PriorityCode; string; Priority code of the library goal.</li><li>PriorityMeaning; string; Priority of the library goal.</li><li>StartDate; string; Start date of the library goal.</li><li>StatusCode; string; Status code of the library goal.</li><li>StatusMeaning; string; Status of the library goal.</li><li>SuccessCriteria; string; Success criteria of the library goal.</li><li>TargetCompletionDate; string; Target completion date of the library goal.</li><li>TypeCode; string; Code that indicates the type of library goal.</li><li>TypeMeaning; string; Type of library goal.</li><li>Visible; string; Indicates who can view the library goal. The goal can be viewed only by the HR specialist, only by the HR specialist and manager, or HR specialist, manager, and worker.</li><li>Weighting; string; Weighting percentage that helps to determine the goal's importance relative to the other goals in the goal plan.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a library goal that matches the primary key criteria specified. <br>Finder Variables <ul><li>GoalId; integer;  Unique identifier for the library goal. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a library goal that matches the primary key criteria specified.",
                "properties": {
                  "GoalId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the library goal.",
                    "type": "integer",
                    "title": "Content Item ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals"
                }
              }
            },
            "links": {
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1libraryGoals~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds library goals by using advance search query criteria."
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-get",
        "x-filename-id": "librarygoals-get"
      },
      "post": {
        "tags": [
          "Library Goals"
        ],
        "summary": "Create a library goal",
        "operationId": "create_libraryGoals",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/libraryGoals-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-item-response"
                }
              }
            },
            "links": {
              "libGoalTargetOutcomes": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libGoalTargetOutcomes/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libGoalTargetOutcomes resource is a child of the libraryGoals resource and provides all the target outcomes of library goals."
              },
              "libraryGoalTasks": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalTasks/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libraryGoalTasks resource is a child of the libraryGoals resource and provides all the tasks for library goals."
              },
              "libraryGoalMeasures": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalMeasures/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libraryGoalMeasures resource is a child of the libraryGoals resource and provides all the measurements for library goals."
              },
              "libraryGoalsDFF": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalsDFF/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-post",
        "x-filename-id": "librarygoals-post"
      }
    },
    "/libraryGoals/{libraryGoalsUniqID}": {
      "get": {
        "tags": [
          "Library Goals"
        ],
        "summary": "Get a library goal",
        "operationId": "get_libraryGoals",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-item-response"
                }
              }
            },
            "links": {
              "libGoalTargetOutcomes": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libGoalTargetOutcomes/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libGoalTargetOutcomes resource is a child of the libraryGoals resource and provides all the target outcomes of library goals."
              },
              "libraryGoalTasks": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalTasks/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libraryGoalTasks resource is a child of the libraryGoals resource and provides all the tasks for library goals."
              },
              "libraryGoalMeasures": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalMeasures/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libraryGoalMeasures resource is a child of the libraryGoals resource and provides all the measurements for library goals."
              },
              "libraryGoalsDFF": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalsDFF/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-get",
        "x-filename-id": "librarygoals-librarygoalsuniqid-get"
      },
      "delete": {
        "tags": [
          "Library Goals"
        ],
        "summary": "Delete a library goal",
        "operationId": "delete_libraryGoals",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-delete",
        "x-filename-id": "librarygoals-librarygoalsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Library Goals"
        ],
        "summary": "Update a library goal",
        "operationId": "update_libraryGoals",
        "parameters": [
          {
            "name": "libraryGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Library Goals resource and used to uniquely identify an instance of Library Goals. The client should not generate the hash key value. Instead, the client should query on the Library Goals collection resource in order to navigate to a specific instance of Library Goals to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/libraryGoals-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryGoals-item-response"
                }
              }
            },
            "links": {
              "libGoalTargetOutcomes": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libGoalTargetOutcomes/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libGoalTargetOutcomes resource is a child of the libraryGoals resource and provides all the target outcomes of library goals."
              },
              "libraryGoalTasks": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalTasks/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libraryGoalTasks resource is a child of the libraryGoals resource and provides all the tasks for library goals."
              },
              "libraryGoalMeasures": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalMeasures/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                },
                "description": "The libraryGoalMeasures resource is a child of the libraryGoals resource and provides all the measurements for library goals."
              },
              "libraryGoalsDFF": {
                "operationRef": "#/paths/~1libraryGoals~1{libraryGoalsUniqID}~1child~1libraryGoalsDFF/get",
                "parameters": {
                  "libraryGoalsUniqID": "$request.path.libraryGoalsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "libraryGoals-{libraryGoalsUniqID}-patch",
        "x-filename-id": "librarygoals-librarygoalsuniqid-patch"
      }
    },
    "/libraryGoals/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Library Goals"
        ],
        "summary": "Find library goals by advance search",
        "description": "Finds library goals by using advance search query criteria.",
        "operationId": "doall_findByAdvancedSearchQuery_libraryGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Query parameter defines the where clause. The resource collection is queried using the provided expressions. The value of this query parameter is one or more expressions.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Restriction for the number of goals returned. If the limit exceeds the resource count, then the framework returns only the available goals.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Attribute for searching the library goals, which is the goal name.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Attributes by which the results of the library goal search can be filtered. The filter attributes for library goals are the goal name, status, goal visibility, legal employer, business unit, department, and job family.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Attributes by which the results of the library goal search can be sorted. The sort attributes for library goals are the goal name and the last update date.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Attributes of the library goal that are displayed in the results of the library goal search. The display attributes for library goals are the goal name, category, status, goal visibility, and last update date.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query is auto completed. Valid values are Y and N. The default value is Y.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Library goals that match the criteria specified."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Library goals that match the criteria specified."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "libraryGoals-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "librarygoals-action-findbyadvancedsearchquery-post"
      }
    }
  },
  "components": {
    "schemas": {
      "libraryGoals": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "libraryGoals-item-response": {
        "type": "object",
        "properties": {
          "AvailableTo": {
            "title": "Available To",
            "maxLength": 80,
            "type": "string",
            "description": "Indicates the roles that have access to the library goal. The library goal can be made available only to HR specialists, or can also be made available to managers and workers.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "number",
            "description": "Unique identifier for the business unit associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessUnitName": {
            "title": "Business Unit",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the business unit associated with the library goal.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments added to the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ContentTypeId": {
            "title": "Content Type",
            "type": "integer",
            "description": "Unique identifier for the content type associated with the library goal.",
            "format": "int64",
            "nullable": false,
            "default": 124,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "DateTo": {
            "title": "To Date",
            "type": "string",
            "description": "End date of the library goal.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DepartmentId": {
            "type": "number",
            "description": "Unique identifier for the department associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DepartmentName": {
            "title": "Department",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the department associated with the library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DevCategoryCode": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category code of the development library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DevCategoryMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Category of the development library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalExternalId": {
            "title": "External ID",
            "maxLength": 30,
            "type": "string",
            "description": "Unique external identifier for the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalName": {
            "title": "Goal Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalSubTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Subtype code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalSubTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Subtype of the library goal. Subtypes are configured based on business requirements.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalUrl": {
            "title": "Related Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Uniform Resource Locator of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "JobFamilyId": {
            "type": "number",
            "description": "Unique identifier for the job family associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "JobFamilyName": {
            "title": "Job Family",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the job family associated with the library goal.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "JobId": {
            "type": "number",
            "description": "Unique identifier for the job associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the library goal was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployerId": {
            "type": "number",
            "description": "Unique identifier for the legal employer associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LegalEmployerName": {
            "title": "Legal Employer",
            "maxLength": 255,
            "type": "string",
            "description": "Name of the legal employer associated with the library goal.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LevelCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Level code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LevelMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Level of the library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LongDescription": {
            "type": "string",
            "description": "Long description of the goal.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PerfCategoryCode": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category code of the performance library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PerfCategoryMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Category of the performance library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PriorityCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PriorityMeaning": {
            "title": "Priority",
            "maxLength": 80,
            "type": "string",
            "description": "Priority of the library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Status",
            "maxLength": 80,
            "type": "string",
            "description": "Status of the library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SuccessCriteria": {
            "maxLength": 4000,
            "type": "string",
            "description": "Success criteria of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the library goal.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the type of library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TypeMeaning": {
            "title": "Type",
            "maxLength": 80,
            "type": "string",
            "description": "Type of library goal.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Visible": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates who can view the library goal. The goal can be viewed only by the HR specialist, only by the HR specialist and manager, or HR specialist, manager, and worker.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Weighting": {
            "title": "Weight",
            "maxLength": 30,
            "type": "string",
            "description": "Weighting percentage that helps to determine the goal's importance relative to the other goals in the goal plan.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "libGoalTargetOutcomes": {
            "title": "Library Goal Target Outcomes",
            "type": "array",
            "description": "The libGoalTargetOutcomes resource is a child of the libraryGoals resource and provides all the target outcomes of library goals.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libGoalTargetOutcomes-item-response"
            }
          },
          "libraryGoalMeasures": {
            "title": "Library Goal Measures",
            "type": "array",
            "description": "The libraryGoalMeasures resource is a child of the libraryGoals resource and provides all the measurements for library goals.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalMeasures-item-response"
            }
          },
          "libraryGoalTasks": {
            "title": "Library Goal Tasks",
            "type": "array",
            "description": "The libraryGoalTasks resource is a child of the libraryGoals resource and provides all the tasks for library goals.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-response"
            }
          },
          "libraryGoalsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalsDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "libraryGoals-libGoalTargetOutcomes-item-response": {
        "type": "object",
        "properties": {
          "ContentItemRlatId": {
            "title": "Content Item Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the content item added as a target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ContentTypeName": {
            "title": "Type",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the content type added as a target outcome.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the goal associated with the target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ItemDescription": {
            "title": "Item Description",
            "maxLength": 2000,
            "type": "string",
            "description": "Item description of the target outcome.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the target outcome was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "title": "Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of content item added as a target outcome.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RelationshipCode": {
            "title": "Relationship",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the relationship type of the content item added as a target outcome.",
            "nullable": true,
            "default": "SUPPORTS",
            "x-queryable": true
          },
          "TypeId": {
            "title": "Related Content Type",
            "type": "integer",
            "description": "Unique identifier for the content type added as a target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TypeItemId": {
            "title": "Related Content Item",
            "type": "integer",
            "description": "Unique identifier for the content item type added as a target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "libraryGoals-libraryGoalMeasures-item-response": {
        "type": "object",
        "properties": {
          "ActualValue": {
            "type": "number",
            "description": "Actual value of the library goal's measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessGroupId": {
            "title": "Business Group ID",
            "type": "integer",
            "description": "Unique identifier for the business group for which the library goal's measurement applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Full Content Item Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments about the library goal's measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the library goal measurement.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the library goal measurement was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the library goal measurement.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal for which the measurement applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the library goal measurement was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who the last updated the library goal measurement.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MaximumTarget": {
            "title": "Maximum Target",
            "type": "number",
            "description": "Maximum target of the library goal measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MeasureTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the measurement type of the measurement associated with the library goal.",
            "nullable": true,
            "default": "QUALITATIVE",
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MeasurementContentId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the measurement of a library goal used to associate it with its components such as the measurement name, and measurement start date.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "MeasurementId": {
            "title": "Content Item Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the measurement of a library goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "MeasurementName": {
            "title": "Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the measurement of a library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MinimumTarget": {
            "title": "Minimum Target",
            "type": "number",
            "description": "Minimum target of the library goal measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal measurement.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetPercentage": {
            "title": "Target Percentage",
            "type": "number",
            "description": "Target percentage of the library goal measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Target type code of the library goal measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Target type of the library goal measurement.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetValue": {
            "type": "number",
            "description": "Target value of the library goal measurement.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UomCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure code of the library goal's measurement.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UomMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Unit of measure of the library goal's measurement.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "libraryGoals-libraryGoalTasks-item-response": {
        "type": "object",
        "properties": {
          "AchievedWeight": {
            "title": "Achieved Weight",
            "type": "number",
            "description": "Achieved weight for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ActualCompletionDate": {
            "type": "string",
            "description": "Actual completion date for the measurement of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ActualValue": {
            "title": "Actual Value",
            "type": "number",
            "description": "Actual value for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "BusinessGroupId": {
            "title": "Business Group ID",
            "type": "integer",
            "description": "Unique identifier for the business group for which the library goal's task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Full Content Item Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments about the library goal task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CompletionStatus": {
            "maxLength": 4000,
            "type": "string",
            "description": "Completion status for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the library goal task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the library goal task was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal for which the task applies.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the library goal task was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the library goal task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MaximumTarget": {
            "title": "Maximum Target",
            "type": "number",
            "description": "Maximum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MinimumTarget": {
            "title": "Minimum Target",
            "type": "number",
            "description": "Minimum target for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PercentCompletion": {
            "title": "Completion Percentage",
            "maxLength": 30,
            "type": "string",
            "description": "Completion percentage of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PriorityCode": {
            "title": "Priority",
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PriorityMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Priority of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RelatedLink": {
            "title": "Related Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Related link of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Status of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the library goal's task.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetPercentage": {
            "title": "Target Percentage",
            "type": "number",
            "description": "Target percentage for the measurement of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetType": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the target type of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description for the target type of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TargetValue": {
            "type": "number",
            "description": "Target value of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TaskContentId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the task of a library goal used to associate it with its components such as the task name, and task start date.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "TaskId": {
            "title": "Content Item Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the task of a library goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "TaskName": {
            "title": "Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the task of a library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TaskTypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Task type code of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "TaskTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Task type of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UomCode": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code for the unit of measure of the library goal's task.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UomCodeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Unit of measure of the library goal's task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "libraryGoals-libraryGoalsDFF-item-response": {
        "type": "object",
        "properties": {
          "BusinessGroupId": {
            "title": "Business Group ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "libraryGoals-item-post-request": {
        "required": [
          "GoalName"
        ],
        "type": "object",
        "properties": {
          "BusinessUnitId": {
            "type": "number",
            "description": "Unique identifier for the business unit associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Comments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments added to the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ContentTypeId": {
            "title": "Content Type",
            "type": "integer",
            "description": "Unique identifier for the content type associated with the library goal.",
            "format": "int64",
            "nullable": false,
            "default": 124,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "DateTo": {
            "title": "To Date",
            "type": "string",
            "description": "End date of the library goal.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "DepartmentId": {
            "type": "number",
            "description": "Unique identifier for the department associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "DevCategoryCode": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category code of the development library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "GoalExternalId": {
            "title": "External ID",
            "maxLength": 30,
            "type": "string",
            "description": "Unique external identifier for the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the library goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "GoalName": {
            "title": "Goal Name",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the library goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "GoalSubTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Subtype code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "GoalUrl": {
            "title": "Related Link",
            "maxLength": 4000,
            "type": "string",
            "description": "Uniform Resource Locator of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "JobFamilyId": {
            "type": "number",
            "description": "Unique identifier for the job family associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "JobId": {
            "type": "number",
            "description": "Unique identifier for the job associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LegalEmployerId": {
            "type": "number",
            "description": "Unique identifier for the legal employer associated with the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LevelCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Level code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LongDescription": {
            "type": "string",
            "description": "Long description of the goal.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PerfCategoryCode": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category code of the performance library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PriorityCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Priority code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the library goal.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "SuccessCriteria": {
            "maxLength": 4000,
            "type": "string",
            "description": "Success criteria of the library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TargetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the library goal.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the type of library goal.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Visible": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates who can view the library goal. The goal can be viewed only by the HR specialist, only by the HR specialist and manager, or HR specialist, manager, and worker.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Weighting": {
            "title": "Weight",
            "maxLength": 30,
            "type": "string",
            "description": "Weighting percentage that helps to determine the goal's importance relative to the other goals in the goal plan.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "libGoalTargetOutcomes": {
            "title": "Library Goal Target Outcomes",
            "type": "array",
            "description": "The libGoalTargetOutcomes resource is a child of the libraryGoals resource and provides all the target outcomes of library goals.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libGoalTargetOutcomes-item-post-request"
            }
          },
          "libraryGoalMeasures": {
            "title": "Library Goal Measures",
            "type": "array",
            "description": "The libraryGoalMeasures resource is a child of the libraryGoals resource and provides all the measurements for library goals.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalMeasures-item-post-request"
            }
          },
          "libraryGoalTasks": {
            "title": "Library Goal Tasks",
            "type": "array",
            "description": "The libraryGoalTasks resource is a child of the libraryGoals resource and provides all the tasks for library goals.",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalTasks-item-post-request"
            }
          },
          "libraryGoalsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/libraryGoals-libraryGoalsDFF-item-post-request"
            },
            "x-cardinality": "1"
          }
        }
      },
      "libraryGoals-libGoalTargetOutcomes-item-post-request": {
        "type": "object",
        "properties": {
          "ContentItemRlatId": {
            "title": "Content Item Relationship ID",
            "type": "integer",
            "description": "Unique identifier for the content item added as a target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "GoalId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the goal associated with the target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RelationshipCode": {
            "title": "Relationship",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the relationship type of the content item added as a target outcome.",
            "nullable": true,
            "default": "SUPPORTS"
          },
          "TypeId": {
            "title": "Related Content Type",
            "type": "integer",
            "description": "Unique identifier for the content type added as a target outcome.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TypeItemId": {
            "title": "Related Content Item",
            "type": "integer",
            "description": "Unique identifier for the content item type added as a target outcome.",
            "format": "int64",
            "nullable": false,
[...]
