{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Recruiting Flexfield Segments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingFlexSegmentsLOV": {
      "get": {
        "tags": [
          "List of Values/Recruiting Flexfield Segments"
        ],
        "summary": "Get all job application flexfield segments",
        "operationId": "getall_recruitingFlexSegmentsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApplicationId; string; Flexfield segment application ID.</li><li>ColumnName; string; Flexfield segment column name.</li><li>ContextCode; string; Flexfield segment context code.</li><li>ControlType; string; Flexfield segment control type.</li><li>FlexCode; string; Flexfield segment flexfield code.</li><li>FlexType; string; Flexfield segment flexfield type.</li><li>FlexUsageCode; string; Flexfield segment flexfield usage code.</li><li>GroupName; string; Flexfield segment group name.</li><li>LovFieldFlag; boolean; Flexfield segment LOV field indicator.</li><li>SegmentAttributeName; string; Flexfield segment attribute name.</li><li>SegmentCode; string; Segment code of the flexfield segment.</li><li>SegmentName; string; Flexfield segment name.</li><li>TableType; string; Flexfield segment table type.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the flexfield segment by a primary key <br>Finder Variables <ul><li>ApplicationId; string;  Finds the flexfield segment using a primary key and application ID </li><li>ContextCode; string;  Finds the flexfield segment using a primary key and context code </li><li>FlexCode; string;  Finds the flexfield segment using a primary key and a flexfield code </li><li>FlexType; string;  Finds the flexfield segment using a primary key and a flexfield type </li><li>FlexUsageCode; string;  Finds the flexfield segment using a primary key and a flexfield usage code </li><li>GroupName; string;  Finds the flexfield segment using a primary key and a group name </li><li>SegmentCode; string;  Finds the flexfield segment using a primary key and segment code </li><li>TableType; string;  Finds the flexfield segment using a primary key and a table type </li></ul></li><li>findByContext Finds the flexfield segment by flexfield context <br>Finder Variables <ul><li>ApplicationId; string;  Finds the flexfield segment by flexfield context and an application ID </li><li>ContextCode; string;  Finds the flexfield segment by flexfield context and a context code </li><li>FilterAttributes; string;  Finds the flexfield segment by flexfield context and a filter attribute </li><li>FlexCode; string;  Finds the flexfield segment by flexfield context and a flexfield code </li><li>FlexType; string;  Finds the flexfield segment by flexfield context and the flexfield type </li><li>FlexUsageCode; string;  Finds the flexfield segment by flexfield context and a flexfield usage code </li><li>GroupName; string;  Finds the flexfield segment by field context and group name. </li><li>SearchTerms; string;  Finds the flexfield segment by flexfield context and search terms </li><li>TableType; string;  Finds the flexfield segment by field context and table type. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the flexfield segment by a primary key",
                "properties": {
                  "GroupName": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and a group name",
                    "type": "string",
                    "maxLength": 255
                  },
                  "FlexCode": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and a flexfield code",
                    "type": "string",
                    "maxLength": 255
                  },
                  "TableType": {
                    "default": "NA",
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and a table type",
                    "type": "string",
                    "maxLength": 255
                  },
                  "SegmentCode": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and segment code",
                    "type": "string"
                  },
                  "FlexUsageCode": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and a flexfield usage code",
                    "type": "string",
                    "maxLength": 255
                  },
                  "ApplicationId": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and application ID",
                    "type": "string",
                    "maxLength": 255
                  },
                  "ContextCode": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and context code",
                    "type": "string"
                  },
                  "FlexType": {
                    "nullable": true,
                    "description": "Finds the flexfield segment using a primary key and a flexfield type",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              },
              {
                "name": "findByContext",
                "description": "Finds the flexfield segment by flexfield context",
                "title": "findByContext",
                "properties": {
                  "GroupName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by field context and group name.",
                    "type": "string"
                  },
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and a filter attribute",
                    "type": "string"
                  },
                  "FlexCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and a flexfield code",
                    "type": "string"
                  },
                  "TableType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by field context and table type.",
                    "type": "string"
                  },
                  "FlexUsageCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and a flexfield usage code",
                    "type": "string"
                  },
                  "ApplicationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and an application ID",
                    "type": "string"
                  },
                  "ContextCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and a context code",
                    "type": "string"
                  },
                  "FlexType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and the flexfield type",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the flexfield segment by flexfield context and search terms",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingFlexSegmentsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingFlexSegmentsLOV-get",
        "x-filename-id": "recruitingflexsegmentslov-get"
      }
    },
    "/recruitingFlexSegmentsLOV/{recruitingFlexSegmentsLOVUniqID}": {
      "get": {
        "tags": [
          "List of Values/Recruiting Flexfield Segments"
        ],
        "summary": "Get a job application flexfield segment",
        "operationId": "get_recruitingFlexSegmentsLOV",
        "parameters": [
          {
            "name": "recruitingFlexSegmentsLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- SegmentCode, ApplicationId, ContextCode, FlexCode, FlexUsageCode, TableType, GroupName and FlexType ---for the Recruiting Flexfield Segments resource and used to uniquely identify an instance of Recruiting Flexfield Segments. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Flexfield Segments collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Flexfield Segments.<br><br>For example: recruitingFlexSegmentsLOV?q=SegmentCode=&lt;value1&gt;;ApplicationId=&lt;value2&gt;;ContextCode=&lt;value3&gt;;FlexCode=&lt;value4&gt;;FlexUsageCode=&lt;value5&gt;;TableType=&lt;value6&gt;;GroupName=&lt;value7&gt;;FlexType=&lt;value8&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingFlexSegmentsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingFlexSegmentsLOV-{recruitingFlexSegmentsLOVUniqID}-get",
        "x-filename-id": "recruitingflexsegmentslov-recruitingflexsegmentslovuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingFlexSegmentsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingFlexSegmentsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "recruitingFlexSegmentsLOV-item-response": {
        "type": "object",
        "properties": {
          "ApplicationId": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment application ID.",
            "nullable": true,
            "x-queryable": true
          },
          "ColumnName": {
            "type": "string",
            "description": "Flexfield segment column name.",
            "nullable": true,
            "x-queryable": true
          },
          "ContextCode": {
            "type": "string",
            "description": "Flexfield segment context code.",
            "nullable": true,
            "x-queryable": true
          },
          "ControlType": {
            "type": "string",
            "description": "Flexfield segment control type.",
            "nullable": true,
            "x-queryable": true
          },
          "FlexCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment flexfield code.",
            "nullable": true,
            "x-queryable": true
          },
          "FlexType": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment flexfield type.",
            "nullable": true,
            "x-queryable": true
          },
          "FlexUsageCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment flexfield usage code.",
            "nullable": true,
            "x-queryable": true
          },
          "GroupName": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment group name.",
            "nullable": true,
            "x-queryable": true
          },
          "LovFieldFlag": {
            "type": "boolean",
            "description": "Flexfield segment LOV field indicator.",
            "nullable": true,
            "x-queryable": true
          },
          "SegmentAttributeName": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment attribute name.",
            "nullable": true,
            "x-queryable": true
          },
          "SegmentCode": {
            "type": "string",
            "description": "Segment code of the flexfield segment.",
            "nullable": true,
            "x-queryable": true
          },
          "SegmentName": {
            "type": "string",
            "description": "Flexfield segment name.",
            "nullable": true,
            "x-queryable": true
          },
          "TableType": {
            "maxLength": 255,
            "type": "string",
            "description": "Flexfield segment table type.",
            "nullable": true,
            "default": "NA",
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}