{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Recruiting Requisition Questions LOV",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingRequisitionQuestionsLOV": {
      "get": {
        "tags": [
          "List of Values/Recruiting Requisition Questions LOV"
        ],
        "summary": "Get all the requisition questions",
        "operationId": "getall_recruitingRequisitionQuestionsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>FilterAttributes; string; Filter attributes for the requisition question list.</li><li>ListOfQstnrTypeCode; string; Code assigned to each question list type.</li><li>LongText; string; Long test entered in the requisition question list.</li><li>ObjectId; string; Identifier for a recruiting object such as events, campaigns and more.</li><li>ObjectType; string; Type of recruiting object, such as events, campaigns and more.</li><li>QstnAnswerId; integer; ID assigned to the answer of the questions in the requisition question list.</li><li>QuesCodeAnsText; string; Code assigned to the answer provided to each question in the requisition question list.</li><li>QuestionCode; string; Code assigned to each question in the requisition question list.</li><li>QuestionId; integer; ID assigned to each question in the requisition question list.</li><li>QuestionIdAnswerId; string; Combination of question identifier and its corresponding answer identifier in the requisition question list.</li><li>QuestionText; string; Text of the questions included in th requisition question list.</li><li>RequisitionId; string; ID assigned to the requisitions.</li><li>SearchTerms; string; Search terms used in the requisition question list.</li><li>StartsWithFlag; boolean; Indicates that each entry in the requisition question list starts with the word.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the requisition question list by a unique ID <br>Finder Variables <ul><li>QstnAnswerId; integer;  Finds the requisition question list by a unique ID and the QstnAnswerId; integer;  variable </li></ul></li><li>findByWord Finds the requisition question list by word <br>Finder Variables <ul><li>FilterAttributes; string;  Finds the requisition question list by word and the FilterAttributes; string;  variable </li><li>ListOfQstnrTypeCode; string;  Finds the requisition question list by word and the ListOfQstnrTypeCode; string;  variable. </li><li>RequisitionId; integer;  Finds the requisition question list by word and the RequisitionId; integer;  variable </li><li>SearchTerms; string;  Finds the requisition question list by word and the SearchTerms; string;  variable </li><li>StartsWithFlag; boolean;  Finds the requisition question list by word and the StartsWithFlag; boolean;  variable </li></ul></li><li>findQstnAnswersByWord Finds the event registration question and answers list by word. <br>Finder Variables <ul><li>FilterAttributes; string;  Filter variables and word used to find recruiting event registration question and answers. </li><li>ListOfQstnrTypeCode; string;  QstnrTypeCode and word used to find recruiting event registration question and answers. </li><li>ObjectId; integer;  ObjectId; integer;  and word used to find recruiting event registration question and answers. </li><li>ObjectType; string;  ObjectType; string;  and word used to find recruiting event registration question and answers. </li><li>SearchTerms; string;  SearchTerms; string;  and word used to find recruiting event registration question and answers. </li><li>StartsWithFlag; boolean;  StartsWithFlag; boolean;  and word used to find recruiting event registration question and answers. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the requisition question list by a unique ID",
                "properties": {
                  "QstnAnswerId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds the requisition question list by a unique ID and the QstnAnswerId variable",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds the requisition question list by word",
                "title": "findByWord",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition question list by word and the FilterAttributes variable",
                    "type": "string"
                  },
                  "RequisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition question list by word and the RequisitionId variable",
                    "type": "integer"
                  },
                  "StartsWithFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition question list by word and the StartsWithFlag variable",
                    "type": "boolean"
                  },
                  "ListOfQstnrTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition question list by word and the ListOfQstnrTypeCode variable.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition question list by word and the SearchTerms variable",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findQstnAnswersByWord",
                "description": "Finds the event registration question and answers list by word.",
                "title": "findQstnAnswersByWord",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter variables and word used to find recruiting event registration question and answers.",
                    "type": "string"
                  },
                  "ObjectType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "ObjectType and word used to find recruiting event registration question and answers.",
                    "type": "string"
                  },
                  "ObjectId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "ObjectId and word used to find recruiting event registration question and answers.",
                    "type": "integer"
                  },
                  "StartsWithFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "StartsWithFlag and word used to find recruiting event registration question and answers.",
                    "type": "boolean"
                  },
                  "ListOfQstnrTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "QstnrTypeCode and word used to find recruiting event registration question and answers.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "SearchTerms and word used to find recruiting event registration question and answers.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingRequisitionQuestionsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingRequisitionQuestionsLOV-get",
        "x-filename-id": "recruitingrequisitionquestionslov-get"
      }
    },
    "/recruitingRequisitionQuestionsLOV/{QstnAnswerId}": {
      "get": {
        "tags": [
          "List of Values/Recruiting Requisition Questions LOV"
        ],
        "summary": "Get a requisition question",
        "operationId": "get_recruitingRequisitionQuestionsLOV",
        "parameters": [
          {
            "name": "QstnAnswerId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the answer of the questions in the requisition question list.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingRequisitionQuestionsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingRequisitionQuestionsLOV-{QstnAnswerId}-get",
        "x-filename-id": "recruitingrequisitionquestionslov-qstnanswerid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingRequisitionQuestionsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingRequisitionQuestionsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "recruitingRequisitionQuestionsLOV-item-response": {
        "type": "object",
        "properties": {
          "FilterAttributes": {
            "type": "string",
            "description": "Filter attributes for the requisition question list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ListOfQstnrTypeCode": {
            "type": "string",
            "description": "Code assigned to each question list type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LongText": {
            "maxLength": 2000,
            "type": "string",
            "description": "Long test entered in the requisition question list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "string",
            "description": "Identifier for a recruiting object such as events, campaigns and more.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectType": {
            "type": "string",
            "description": "Type of recruiting object, such as events, campaigns and more.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "QstnAnswerId": {
            "type": "integer",
            "description": "ID assigned to the answer of the questions in the requisition question list.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuesCodeAnsText": {
            "type": "string",
            "description": "Code assigned to the answer provided to each question in the requisition question list.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "LongText",
                "QuestionCode"
              ]
            },
            "x-queryable": true
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Code assigned to each question in the requisition question list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Code",
            "type": "integer",
            "description": "ID assigned to each question in the requisition question list.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionIdAnswerId": {
            "type": "string",
            "description": "Combination of question identifier and its corresponding answer identifier in the requisition question list.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "QstnAnswerId",
                "QuestionId"
              ]
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Text of the questions included in th requisition question list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "string",
            "description": "ID assigned to the requisitions.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SearchTerms": {
            "type": "string",
            "description": "Search terms used in the requisition question list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartsWithFlag": {
            "type": "boolean",
            "description": "Indicates that each entry in the requisition question list starts with the word.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}