{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Salary Basis List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/salaryBasisLov": {
      "get": {
        "tags": [
          "List of Values/Salary Basis List of Values"
        ],
        "summary": "Get all salary bases",
        "operationId": "getall_salaryBasisLov",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AnnualizationFactor; number; Multiplier that converts the salary amount to an annual salary amount. For example, if a worker's base pay is quoted hourly, the annualization factor is 2080 (40 hours per week x 52 weeks).</li><li>Code; string; User-defined code for the salary basis.</li><li>ComponentUsage; string; Indicates that incremental salary components are available for managers to use when adjusting salary.</li><li>ElementTypeId; integer; Unique identifier of the element type.</li><li>FrequencyCode; string; Code of the salary basis frequency, such as ANNUAL, MONTHLY, HOURLY.</li><li>FrequencyName; string; Frequency of the salary basis such as Annually, Monthly, Weekly, or Hourly.</li><li>GradeRateId; integer; Unique identifier of the grade rate.</li><li>InputCurrencyCode; string; Currency that salary amount is stored in, such as US Dollar.</li><li>LegislativeDataGroupId; integer; Unique identifier of the legislative data group.</li><li>SalaryAmountScale; number; Number of decimal places to display for salary amounts.</li><li>SalaryBasisId; integer; Numeric identifier for the set of details linked to a worker's base pay.</li><li>SalaryBasisName; string; Unique name for the set of details linked to a worker's base pay.</li><li>SalaryBasisType; string; Type of the salary basis, such as salary amount determined by user or components.</li><li>Status; string; Status of the salary basis, such as Active or Inactive.</li><li>UseAtAssignmentLevel; string; Indicates that the salary basis choice list is available at the assignment level.</li><li>UseAtRelationshipLevel; string; Indicates that the salary basis choice list is available at the relationship level.</li><li>UseAtTermsLevel; string; Indicates that the salary basis choice list is available at the terms level.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all salary bases that match the specified primary key criteria. <br>Finder Variables <ul><li>SalaryBasisId; integer;  Unique identifier of the salary basis. </li></ul></li><li>findByBasisCode Finds all salary bases that match the specified criteria. <br>Finder Variables <ul><li>Code; string;  User-defined code for the salary basis. </li><li>EffectiveDate; string;  Date used to find the salary basis. </li></ul></li><li>findByLegalEmployerName Finds all legal employers that match the specified criteria. <br>Finder Variables <ul><li>EffectiveDate; string;  Date used to find the salary basis. </li><li>LegalEmployerName; string;  Name of the legal employer. </li></ul></li><li>findByLegalEntityId Finds all legal entities that match the specified criteria. <br>Finder Variables <ul><li>EffectiveDate; string;  Date used to find the salary basis. </li><li>LegalEntityId; integer;  Unique identifier of the legal entity. </li></ul></li><li>findByLegislativeDataGroup Finds all legislative data groups that match the specified criteria. <br>Finder Variables <ul><li>EffectiveDate; string;  Date used to find the salary basis. </li><li>LegislativeDataGroupId; integer;  Unique identifier of the legislative data group. </li></ul></li><li>findBySalaryBasisId Finds all salary bases that match the specified criteria. <br>Finder Variables <ul><li>EffectiveDate; string;  Date used to find the salary basis. </li><li>SalaryBasisId; integer;  Unique identifier of the salary basis. </li></ul></li><li>findByWord Finds all salary bases that match the specified criteria. <br>Finder Variables <ul><li>AsgLevel; string;  Level of the associated payroll element, such as Assignment or Terms. </li><li>EffectiveDate; string;  Date used to find the salary basis. </li><li>FilterAttributes; string;  Attributes used to filter the salary basis, such as SalaryBasisName and FrequencyName. </li><li>LegislativeDataGroupId; integer;  Unique identifier of the legislative data group. </li><li>SearchTerms; string;  User-entered term in the Salary Basis field, such as Annual. </li><li>Status; string;  Status; string;  of the salary basis, such as Active or Inactive. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all salary bases that match the specified primary key criteria.",
                "properties": {
                  "SalaryBasisId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the salary basis.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByBasisCode",
                "description": "Finds all salary bases that match the specified criteria.",
                "title": "findByBasisCode",
                "properties": {
                  "Code": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "User-defined code for the salary basis.",
                    "type": "string"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary basis.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByLegalEmployerName",
                "description": "Finds all legal employers that match the specified criteria.",
                "title": "findByLegalEmployerName",
                "properties": {
                  "LegalEmployerName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the legal employer.",
                    "type": "string"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary basis.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByLegalEntityId",
                "description": "Finds all legal entities that match the specified criteria.",
                "title": "findByLegalEntityId",
                "properties": {
                  "LegalEntityId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the legal entity.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary basis.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByLegislativeDataGroup",
                "description": "Finds all legislative data groups that match the specified criteria.",
                "title": "findByLegislativeDataGroup",
                "properties": {
                  "LegislativeDataGroupId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the legislative data group.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary basis.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findBySalaryBasisId",
                "description": "Finds all salary bases that match the specified criteria.",
                "title": "findBySalaryBasisId",
                "properties": {
                  "SalaryBasisId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the salary basis.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary basis.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all salary bases that match the specified criteria.",
                "title": "findByWord",
                "properties": {
                  "LegislativeDataGroupId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the legislative data group.",
                    "type": "integer"
                  },
                  "Status": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Status of the salary basis, such as Active or Inactive.",
                    "type": "string"
                  },
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attributes used to filter the salary basis, such as SalaryBasisName and FrequencyName.",
                    "type": "string"
                  },
                  "AsgLevel": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level of the associated payroll element, such as Assignment or Terms.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "User-entered term in the Salary Basis field, such as Annual.",
                    "type": "string"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary basis.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaryBasisLov"
                }
              }
            }
          }
        },
        "x-internal-id": "salaryBasisLov-get",
        "x-filename-id": "salarybasislov-get"
      }
    },
    "/salaryBasisLov/{SalaryBasisId}": {
      "get": {
        "tags": [
          "List of Values/Salary Basis List of Values"
        ],
        "summary": "Get a salary basis",
        "operationId": "get_salaryBasisLov",
        "parameters": [
          {
            "name": "SalaryBasisId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Numeric identifier for the set of details linked to a worker's base pay.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaryBasisLov-item-response"
                }
              }
            },
            "links": {
              "salaryBasisComponents": {
                "operationRef": "#/paths/~1salaryBasisLov~1{SalaryBasisId}~1child~1salaryBasisComponents/get",
                "parameters": {
                  "SalaryBasisId": "$request.path.SalaryBasisId"
                },
                "description": "A child of the salaryBasisLov resource, this resource itemizes salary adjustments into different reasons, such as merit, adjustment, and location. Component itemization is for reporting purposes only."
              }
            }
          }
        },
        "x-internal-id": "salaryBasisLov-{SalaryBasisId}-get",
        "x-filename-id": "salarybasislov-salarybasisid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "salaryBasisLov": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/salaryBasisLov-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "salaryBasisLov-item-response": {
        "type": "object",
        "properties": {
          "AnnualizationFactor": {
            "type": "number",
            "description": "Multiplier that converts the salary amount to an annual salary amount. For example, if a worker's base pay is quoted hourly, the annualization factor is 2080 (40 hours per week x 52 weeks).",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Code": {
            "maxLength": 80,
            "type": "string",
            "description": "User-defined code for the salary basis.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ComponentUsage": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates that incremental salary components are available for managers to use when adjusting salary.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ElementTypeId": {
            "type": "integer",
            "description": "Unique identifier of the element type.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FrequencyCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the salary basis frequency, such as ANNUAL, MONTHLY, HOURLY.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FrequencyName": {
            "maxLength": 80,
            "type": "string",
            "description": "Frequency of the salary basis such as Annually, Monthly, Weekly, or Hourly.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GradeRateId": {
            "type": "integer",
            "description": "Unique identifier of the grade rate.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "InputCurrencyCode": {
            "maxLength": 15,
            "type": "string",
            "description": "Currency that salary amount is stored in, such as US Dollar.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislativeDataGroupId": {
            "type": "integer",
            "description": "Unique identifier of the legislative data group.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SalaryAmountScale": {
            "type": "number",
            "description": "Number of decimal places to display for salary amounts.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SalaryBasisId": {
            "type": "integer",
            "description": "Numeric identifier for the set of details linked to a worker's base pay.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SalaryBasisName": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique name for the set of details linked to a worker's base pay.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SalaryBasisType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of the salary basis, such as salary amount determined by user or components.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the salary basis, such as Active or Inactive.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UseAtAssignmentLevel": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates that the salary basis choice list is available at the assignment level.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UseAtRelationshipLevel": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates that the salary basis choice list is available at the relationship level.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UseAtTermsLevel": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates that the salary basis choice list is available at the terms level.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "salaryBasisComponents": {
            "title": "Salary Basis Components",
            "type": "array",
            "description": "A child of the salaryBasisLov resource, this resource itemizes salary adjustments into different reasons, such as merit, adjustment, and location. Component itemization is for reporting purposes only.",
            "items": {
              "$ref": "#/components/schemas/salaryBasisLov-salaryBasisComponents-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "salaryBasisLov-salaryBasisComponents-item-response": {
        "type": "object",
        "properties": {
          "AttributeValue": {
            "maxLength": 30,
            "type": "string",
            "description": "Salary basis component, such as Merit, Adjustment, or Location, used to itemize a salary adjustment into one of many different reasons for reporting purposes only.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "LookupUsageId": {
            "type": "integer",
            "description": "Unique identifier of the salary basis component.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}