{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Recruiting Content Library Items LOV/Recruiting Content Library Items Descriptions List of Values/Large Object (LOB) Attributes - ShortDescription",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingContentLibraryItemsLOV/{recruitingContentLibraryItemsLOVUniqID}/child/descriptions/{DescriptionVersionId}/enclosure/ShortDescription": {
      "get": {
        "tags": [
          "List of Values/Recruiting Content Library Items LOV/Recruiting Content Library Items Descriptions List of Values/Large Object (LOB) Attributes - ShortDescription"
        ],
        "summary": "Get a ShortDescription",
        "description": "Get a ShortDescription",
        "operationId": "get_recruitingContentLibraryItemsLOV-descriptions-ShortDescription",
        "parameters": [
          {
            "name": "recruitingContentLibraryItemsLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Content Library Items LOV resource and used to uniquely identify an instance of Recruiting Content Library Items LOV. The client should not generate the hash key value. Instead, the client should query on the Recruiting Content Library Items LOV collection resource in order to navigate to a specific instance of Recruiting Content Library Items LOV to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DescriptionVersionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the description version.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingContentLibraryItemsLOV-{recruitingContentLibraryItemsLOVUniqID}-child-descriptions-{DescriptionVersionId}-enclosure-ShortDescription-get",
        "x-filename-id": "recruitingcontentlibraryitemslov-recruitingcontentlibraryitemslovuniqid-child-descriptions-descriptionversionid-enclosure-shortdescription-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}