{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Payroll Element Definitions List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/payrollElementDefinitionsLOV": {
      "get": {
        "tags": [
          "List of Values/Payroll Element Definitions List of Values"
        ],
        "summary": "Get all element definitions.",
        "operationId": "getall_payrollElementDefinitionsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CategoryCode; string; Name of the category used, by identifying the predefined questionnaire to create an element, such as Absence, Benefits, Involuntary Deduction, Retirement and Pension, Social Insurance Deduction, Standard, and Time card.</li><li>EffectiveEndDate; string; Date at the end of the period during which the element is available for processing.</li><li>EffectiveStartDate; string; Date at the beginning of the period during which the element is available for processing.</li><li>ElementName; string; Name of the element.</li><li>ElementTypeId; integer; System-generated unique identifier for the element.</li><li>InputCurrencyCode; string; Currency code for those element entry input values that use money as the unit of measure.</li><li>LegislationCode; string; Code that indicates the legislation that the element definition belongs to. Applicable only for seeded records.</li><li>LegislativeDataGroupId; integer; Unique identifier for the legislative data group.</li><li>LegislativeDataGroupName; string; Name of the legislative data group.</li><li>OutputCurrencyCode; string; Currency code for those element entry result values that use money as the unit of measure.</li><li>PersonId; integer; System-generated unique identifier for the person.</li><li>PrimaryClassificationId; integer; Unique identifier for the element classification that groups elements with similar characteristics. It controls the order in which the elements are processed and the balances that are fed by them.</li><li>PrimaryClassificationName; string; Name of the element classification that groups elements with similar characteristics, such as earnings or involuntary deduction. It controls the order in which the elements are processed and the balances that are fed by them.</li><li>ProcessingType; string; Indicates whether an element entry is recurring or nonrecurring.</li><li>ReportingName; string; Name of the element that's displayed on reports and pay advices.</li><li>SecondaryClassificationId; integer; Unique identifier for the subordinate group of elements within a primary element classification.</li><li>SecondaryClassificationName; string; Name of the subordinate group of elements within a primary element classification.</li><li>UseAtAssignmentLevel; string; Indicates whether the element can be associated with only employee payroll assignment.</li><li>UseAtRelationshipLevel; string; Indicates whether the element can be associated with only employee payroll relationships.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the payroll element definition by primary key. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Date at the end of the period during which the element definition is effective. </li><li>EffectiveStartDate; string;  Date at the beginning of the period during which the element definition is effective. </li><li>ElementTypeId; integer;  Unique identifier for the element. </li></ul></li><li>findByWord Finds all payroll element definitions that match the word specified. <br>Finder Variables <ul><li>BalanceTypeId; integer;  Unique identifier for the balance definition. </li><li>EffectiveDate; string;  Date as of which the search is performed. </li><li>FilterAttributes; string;  Attributes for the search terms. </li><li>Intent; string;  Option to indicate whether the element is used as element entry or in balance adjustments. </li><li>LegislativeDataGroupId; integer;  Unique identifier for the legislative data group. </li><li>PersonId; integer;  Unique identifier for the person. </li><li>SearchTerms; string;  Search term criteria to retrieve data. </li><li>StartsWithFlag; boolean;  Indicates whether data needs to begin with search term specified. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the payroll element definition by primary key.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the end of the period during which the element definition is effective.",
                    "readOnly": true,
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "ElementTypeId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the element.",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the beginning of the period during which the element definition is effective.",
                    "readOnly": true,
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all payroll element definitions that match the word specified.",
                "title": "findByWord",
                "properties": {
                  "LegislativeDataGroupId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the legislative data group.",
                    "type": "integer"
                  },
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attributes for the search terms.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "StartsWithFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether data needs to begin with search term specified.",
                    "type": "boolean"
                  },
                  "Intent": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Option to indicate whether the element is used as element entry or in balance adjustments.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to retrieve data.",
                    "type": "string"
                  },
                  "BalanceTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the balance definition.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date as of which the search is performed.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollElementDefinitionsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "payrollElementDefinitionsLOV-get",
        "x-filename-id": "payrollelementdefinitionslov-get"
      }
    },
    "/payrollElementDefinitionsLOV/{payrollElementDefinitionsLOVUniqID}": {
      "get": {
        "tags": [
          "List of Values/Payroll Element Definitions List of Values"
        ],
        "summary": "Get an element definition.",
        "operationId": "get_payrollElementDefinitionsLOV",
        "parameters": [
          {
            "name": "payrollElementDefinitionsLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- ElementTypeId, EffectiveStartDate and EffectiveEndDate ---for the Payroll Element Definitions List of Values resource and used to uniquely identify an instance of Payroll Element Definitions List of Values. The client should not generate the hash key value.  Instead, the client should query on the Payroll Element Definitions List of Values collection resource with a filter on the primary key values in order to navigate to a specific instance of Payroll Element Definitions List of Values.<br><br>For example: payrollElementDefinitionsLOV?q=ElementTypeId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollElementDefinitionsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "payrollElementDefinitionsLOV-{payrollElementDefinitionsLOVUniqID}-get",
        "x-filename-id": "payrollelementdefinitionslov-payrollelementdefinitionslovuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "payrollElementDefinitionsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/payrollElementDefinitionsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "payrollElementDefinitionsLOV-item-response": {
        "type": "object",
        "properties": {
          "CategoryCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Name of the category used, by identifying the predefined questionnaire to create an element, such as Absence, Benefits, Involuntary Deduction, Retirement and Pension, Social Insurance Deduction, Standard, and Time card.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period during which the element is available for processing.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period during which the element is available for processing.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ElementName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the element.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ElementTypeId": {
            "type": "integer",
            "description": "System-generated unique identifier for the element.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "InputCurrencyCode": {
            "title": "Input Currency",
            "maxLength": 15,
            "type": "string",
            "description": "Currency code for those element entry input values that use money as the unit of measure.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the legislation that the element definition belongs to. Applicable only for seeded records.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislativeDataGroupId": {
            "type": "integer",
            "description": "Unique identifier for the legislative data group.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegislativeDataGroupName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the legislative data group.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "OutputCurrencyCode": {
            "title": "Priority",
            "maxLength": 15,
            "type": "string",
            "description": "Currency code for those element entry result values that use money as the unit of measure.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "System-generated unique identifier for the person.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryClassificationId": {
            "type": "integer",
            "description": "Unique identifier for the element classification that groups elements with similar characteristics. It controls the order in which the elements are processed and the balances that are fed by them.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryClassificationName": {
            "title": "Element Classification Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the element classification that groups elements with similar characteristics, such as earnings or involuntary deduction. It controls the order in which the elements are processed and the balances that are fed by them.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ProcessingType": {
            "title": "Element Processing Type",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether an element entry is recurring or nonrecurring.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ReportingName": {
            "title": "Reporting Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the element that's displayed on reports and pay advices.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SecondaryClassificationId": {
            "type": "integer",
            "description": "Unique identifier for the subordinate group of elements within a primary element classification.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SecondaryClassificationName": {
            "title": "Element Classification Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the subordinate group of elements within a primary element classification.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "UseAtAssignmentLevel": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the element can be associated with only employee payroll assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "UseAtRelationshipLevel": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the element can be associated with only employee payroll relationships.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}