{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Currencies",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/currenciesLOV": {
      "get": {
        "tags": [
          "List of Values/Currencies"
        ],
        "summary": "Get all currencies",
        "operationId": "getall_currenciesLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveDate; string; The currency active on a particular date.</li><li>CurrencyCode; string; The currency code of the currency.</li><li>CurrencyFlag; string; Indicates whether the currency is a statistical unit or a currency.</li><li>CurrencyFormat; string; A Java format mask for the currency.</li><li>CurrencyFormatWithCode; string; A Java format mask for the currency including the currency code</li><li>CurrencyFormatWithSymbol; string; A Java format mask for the currency, including the currency symbol.</li><li>Description; string; The description of the currency.</li><li>EnabledFlag; string; Indicates whether the currency is enabled or not.</li><li>EndDateActive; string; The date on which the currency became obsolete.</li><li>ExtendedPrecision; integer; The maximum number of digits to the right of the decimal point.</li><li>IssuingTerritoryCode; string; The territory that issued the currency code.</li><li>Name; string; The name of the currency.</li><li>Precision; integer; The number of digits to the right of the decimal point.</li><li>StartDateActive; string; The date on which the currency came into use.</li><li>Symbol; string; The symbol that denotes the currency.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>CurrencyCodeAllRowsFinder Finds all currencies. <br>Finder Variables <ul><li>CurrencyCode; string; ; string;  The currency code for the given currency. </li></ul></li><li>CurrencyCodeFinder Finds the currency based on the given currency code. <br>Finder Variables <ul><li>ActiveDate; string; ; string;  The active date as an identifier for the currency. </li><li>CurrencyCode; string; ; string;  The currency code for the given currency. </li></ul></li><li>PrimaryKey Finds the currency for the given primary key. <br>Finder Variables <ul><li>CurrencyCode; string; ; string;  The currency code for the given currency. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "CurrencyCodeAllRowsFinder",
                "description": "Finds all currencies.",
                "title": "ByCurrencyCodeAllRows",
                "properties": {
                  "CurrencyCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The currency code for the given currency.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "CurrencyCodeFinder",
                "description": "Finds the currency based on the given currency code.",
                "title": "ByCurrencyCode",
                "properties": {
                  "CurrencyCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The currency code for the given currency.",
                    "type": "string"
                  },
                  "ActiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "The active date as an identifier for the currency.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds the currency for the given primary key.",
                "properties": {
                  "CurrencyCode": {
                    "nullable": false,
                    "description": "The currency code for the given currency.",
                    "type": "string",
                    "title": "Currency Code",
                    "maxLength": 15
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/currenciesLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "currenciesLOV-get",
        "x-filename-id": "currencieslov-get"
      }
    }
  },
  "components": {
    "schemas": {
      "currenciesLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/currenciesLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "currenciesLOV-item-response": {
        "type": "object",
        "properties": {
          "ActiveDate": {
            "type": "string",
            "description": "The currency active on a particular date.",
            "nullable": true,
            "readOnly": true,
            "default": "adf.currentDate",
            "x-queryable": true
          },
          "CurrencyCode": {
            "title": "Currency Code",
            "maxLength": 15,
            "type": "string",
            "description": "The currency code of the currency.",
            "nullable": false,
            "x-queryable": true
          },
          "CurrencyFlag": {
            "title": "Type",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the currency is a statistical unit or a currency.",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "CurrencyFormat": {
            "type": "string",
            "description": "A Java format mask for the currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrencyFormatWithCode": {
            "type": "string",
            "description": "A Java format mask for the currency including the currency code",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrencyFormatWithSymbol": {
            "type": "string",
            "description": "A Java format mask for the currency, including the currency symbol.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 240,
            "type": "string",
            "description": "The description of the currency.",
            "nullable": true,
            "x-queryable": true
          },
          "EnabledFlag": {
            "title": "Enabled",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the currency is enabled or not.",
            "nullable": false,
            "default": "Y",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EndDateActive": {
            "title": "End Date",
            "type": "string",
            "description": "The date on which the currency became obsolete.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "controlType": "date"
            },
            "x-queryable": true
          },
          "ExtendedPrecision": {
            "title": "Extended Precision",
            "type": "integer",
            "description": "The maximum number of digits to the right of the decimal point.",
            "format": "int32",
            "nullable": true,
            "default": 5,
            "x-hints": {
              "precision": 2
            },
            "x-queryable": true
          },
          "IssuingTerritoryCode": {
            "title": "Issuing Territory",
            "maxLength": 2,
            "type": "string",
            "description": "The territory that issued the currency code.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "Name": {
            "title": "Currency Name",
            "maxLength": 80,
            "type": "string",
            "description": "The name of the currency.",
            "nullable": false,
            "x-queryable": true
          },
          "Precision": {
            "title": "Precision",
            "type": "integer",
            "description": "The number of digits to the right of the decimal point.",
            "format": "int32",
            "nullable": true,
            "default": 2,
            "x-hints": {
              "precision": 1
            },
            "x-queryable": true
          },
          "StartDateActive": {
            "title": "Start Date",
            "type": "string",
            "description": "The date on which the currency came into use.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "controlType": "date"
            },
            "x-queryable": true
          },
          "Symbol": {
            "title": "Symbol",
            "maxLength": 12,
            "type": "string",
            "description": "The symbol that denotes the currency.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}