{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Recruiting Content Library Items LOV",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingContentLibraryItemsLOV": {
      "get": {
        "tags": [
          "List of Values/Recruiting Content Library Items LOV"
        ],
        "summary": "Get all content library items LOV",
        "operationId": "getall_recruitingContentLibraryItemsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CollaboratorRespTypeList; string; List of hiring team member types.</li><li>DescriptionCode; string; Description code in content library items LOV.</li><li>DescriptionTypeCode; string; Code assigned to each description type in the content library items LOV.</li><li>ItemDescriptionId; integer; Item description ID in content library items LOV.</li><li>Name; string; Name in content library items LOV.</li><li>VisibilityCode; string; Visibility code of the content library item.</li><li>WaTemplateId; integer; Unique identifier of the WhatsApp template associated to the content library item version.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds content library items by unique ID. <br>Finder Variables <ul></ul></li><li>findByWord Finds content library items by word. <br>Finder Variables <ul><li>DescriptionTypeCode; string;  Word and description type code used to find content library items. </li><li>EmailNotifications; string;  Word and email notifications used to find content library items. </li><li>FilterAttributes; string;  Word and filter attributes used to find content library items. </li><li>GeographyNodeIds; string;  Word and geography node ID used to find content library items. </li><li>JobFamilyId; integer;  Word and job family ID used to find content library items. </li><li>JobFunctionCode; string;  Word and job function code used to find content library items. </li><li>OrganizationId; integer;  Word and organization ID used to find content library items. </li><li>RecruitingTypeCode; string;  Word and recruiting type code used to find content library items. </li><li>SearchTerms; string;  Word and search terms used to find content library items. </li><li>StartsWithFlag; boolean;  Word and indicator that it starts with the word used to find content library items. </li><li>TxtDescriptionRequired; boolean;  Indicates whether the text description is required and is used to find content library items. </li><li>VisibilityCode; string;  Word and visibility code used to find content library items. </li><li>WhatsAppTemplateRequired; boolean;  WhatsApp template required when finding content library items. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds content library items by unique ID.",
                "properties": {}
              },
              {
                "name": "findByWord",
                "description": "Finds content library items by word.",
                "title": "findByWord",
                "properties": {
                  "EmailNotifications": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and email notifications used to find content library items.",
                    "type": "string"
                  },
                  "TxtDescriptionRequired": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the text description is required and is used to find content library items.",
                    "type": "boolean"
                  },
                  "OrganizationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and organization ID used to find content library items.",
                    "type": "integer"
                  },
                  "JobFunctionCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and job function code used to find content library items.",
                    "type": "string"
                  },
                  "VisibilityCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and visibility code used to find content library items.",
                    "type": "string"
                  },
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and filter attributes used to find content library items.",
                    "type": "string"
                  },
                  "JobFamilyId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and job family ID used to find content library items.",
                    "type": "integer"
                  },
                  "DescriptionTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and description type code used to find content library items.",
                    "type": "string"
                  },
                  "RecruitingTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and recruiting type code used to find content library items.",
                    "type": "string"
                  },
                  "WhatsAppTemplateRequired": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "WhatsApp template required when finding content library items.",
                    "type": "boolean"
                  },
                  "StartsWithFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and indicator that it starts with the word used to find content library items.",
                    "type": "boolean"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and search terms used to find content library items.",
                    "type": "string"
                  },
                  "GeographyNodeIds": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Word and geography node ID used to find content library items.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingContentLibraryItemsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingContentLibraryItemsLOV-get",
        "x-filename-id": "recruitingcontentlibraryitemslov-get"
      }
    },
    "/recruitingContentLibraryItemsLOV/{recruitingContentLibraryItemsLOVUniqID}": {
      "get": {
        "tags": [
          "List of Values/Recruiting Content Library Items LOV"
        ],
        "summary": "Get a content library item LOV",
        "operationId": "get_recruitingContentLibraryItemsLOV",
        "parameters": [
          {
            "name": "recruitingContentLibraryItemsLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Content Library Items LOV resource and used to uniquely identify an instance of Recruiting Content Library Items LOV. The client should not generate the hash key value. Instead, the client should query on the Recruiting Content Library Items LOV collection resource in order to navigate to a specific instance of Recruiting Content Library Items LOV to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingContentLibraryItemsLOV-item-response"
                }
              }
            },
            "links": {
              "descriptions": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV~1{recruitingContentLibraryItemsLOVUniqID}~1child~1descriptions/get",
                "parameters": {
                  "recruitingContentLibraryItemsLOVUniqID": "$request.path.recruitingContentLibraryItemsLOVUniqID"
                },
                "description": "The recruitingContentLibraryItemsLOVdescriptions resource provides the list of values for the descriptions for a given recruiting content library item."
              }
            }
          }
        },
        "x-internal-id": "recruitingContentLibraryItemsLOV-{recruitingContentLibraryItemsLOVUniqID}-get",
        "x-filename-id": "recruitingcontentlibraryitemslov-recruitingcontentlibraryitemslovuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingContentLibraryItemsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingContentLibraryItemsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "recruitingContentLibraryItemsLOV-item-response": {
        "type": "object",
        "properties": {
          "CollaboratorRespTypeList": {
            "maxLength": 1000,
            "type": "string",
            "description": "List of hiring team member types.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DescriptionCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Description code in content library items LOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DescriptionTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each description type in the content library items LOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ItemDescriptionId": {
            "type": "integer",
            "description": "Item description ID in content library items LOV.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 240,
            "type": "string",
            "description": "Name in content library items LOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TxtDescription": {
            "type": "string",
            "description": "Plain text content of the content library item version.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "VisibilityCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Visibility code of the content library item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WaTemplateId": {
            "type": "integer",
            "description": "Unique identifier of the WhatsApp template associated to the content library item version.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "descriptions": {
            "title": "Recruiting Content Library Items Descriptions List of Values",
            "type": "array",
            "description": "The recruitingContentLibraryItemsLOVdescriptions resource provides the list of values for the descriptions for a given recruiting content library item.",
            "items": {
              "$ref": "#/components/schemas/recruitingContentLibraryItemsLOV-descriptions-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingContentLibraryItemsLOV-descriptions-item-response": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description content of the description.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DescriptionVersionId": {
            "type": "integer",
            "description": "Unique identifier of the description version.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Qualifications": {
            "type": "string",
            "description": "Qualifications content of the description.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Responsibilities": {
            "type": "string",
            "description": "Responsibilities content of the description.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ShortDescription": {
            "type": "string",
            "description": "Short description content of the description.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TxtDescription": {
            "type": "string",
            "description": "Text description content of the description.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}