{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Goal Plans List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/goalPlansLOV": {
      "get": {
        "tags": [
          "List of Values/Goal Plans List of Values"
        ],
        "summary": "Get all goal plans",
        "operationId": "getall_goalPlansLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AllowPvtGoalMaximumGoalFlag; boolean; Indicates if users can continue to add private goals after the goal plan has the maximum permitted goals.</li><li>ApprovalUsageContext; string; Usage context of the goal plan used to filter the goal plans based upon their phase in the goal plan approval life cycle.</li><li>EnableWeightingFlag; boolean; Indicates whether weights are enabled for the goals in the goal plan.</li><li>EndDate; string; End date of the goal plan.</li><li>EnforceGoalWeightFlag; boolean; Indicates if the sum of weights of goals in the goal plan can exceed 100% or not.</li><li>EnforceMaximumGoalsInGpFlag; boolean; Indicates if maximum goals in goal plan is enforced or not.</li><li>GoalAccessLevelCode; string; Code that specifies the roles that can access the goals in the goal plan.</li><li>GoalPlanId; integer; Unique identifier of the goal plan.</li><li>GoalPlanName; string; Name of the goal plan.</li><li>GoalSettingEndDate; string; End date of the goal setting period.</li><li>GoalSettingStartDate; string; Start date of the goal setting period.</li><li>MassRequestId; integer; Unique identifier for the goal plan mass request.</li><li>MaximumGoalsNumberInGoalPlan; integer; Maximum goals allowed in the goal plan.</li><li>MinimumGoalsNumberInGoalPlan; integer; Minimum number of goals that the goal plan needs to have.</li><li>PrimaryGoalPlanFlag; boolean; Indicates if the goal plan is the primary goal plan.</li><li>RestrictGoalCreationFlag; boolean; Indicates if goals can be added to the goal plan after the end of the goal setting period.</li><li>RestrictGoalUpdateFlag; boolean; Indicates if goals in the goal plan can be updated after the end of the goal setting period.</li><li>ReviewPeriodId; integer; Unique identifier of the review period associated with the goal plan.</li><li>StartDate; string; Start date of the goal plan.</li><li>Status; string; Status of the goal plan that indicates whether the goal plan is active or not.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all goal plans that match the primary key criteria specified. <br>Finder Variables <ul><li>GoalPlanId; integer;  Unique identifier of the goal plan. </li></ul></li><li>findByWord Finds all goal plans that match the specified word. <br>Finder Variables <ul><li>FilterAttributes; string;  Filter attributes for the goal plans search. </li><li>SearchTerms; string;  Search term criteria to find goal plans. </li></ul></li><li>findGoalPlansForRPandAssignment Finds goal plans that match the specified review period and person assignment. <br>Finder Variables <ul><li>ApprovalUsageContext; string;  Usage context for the goal plan used to filter the goal plans based upon their phase in the goal plan approval life cycle. </li><li>ManagerAssignmentId; integer;  Unique identifier for the assignment of the manager. </li><li>ReviewPeriodId; integer;  Unique identifier for the review period associated with the goal plan. </li><li>WorkerAssignmentId; integer;  Unique identifier for the assignment of the person who's assigned the goal plan. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all goal plans that match the primary key criteria specified.",
                "properties": {
                  "GoalPlanId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the goal plan.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Goal Plan ID"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all goal plans that match the specified word.",
                "title": "findByWord",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attributes for the goal plans search.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find goal plans.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findGoalPlansForRPandAssignment",
                "description": "Finds goal plans that match the specified review period and person assignment.",
                "title": "findGoalPlansForRPandAssignment",
                "properties": {
                  "ApprovalUsageContext": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Usage context for the goal plan used to filter the goal plans based upon their phase in the goal plan approval life cycle.",
                    "type": "string"
                  },
                  "ReviewPeriodId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the review period associated with the goal plan.",
                    "type": "integer"
                  },
                  "WorkerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the person who's assigned the goal plan.",
                    "type": "integer"
                  },
                  "ManagerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the manager.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/goalPlansLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "goalPlansLOV-get",
        "x-filename-id": "goalplanslov-get"
      }
    },
    "/goalPlansLOV/{GoalPlanId}": {
      "get": {
        "tags": [
          "List of Values/Goal Plans List of Values"
        ],
        "summary": "Get a goal plan",
        "operationId": "get_goalPlansLOV",
        "parameters": [
          {
            "name": "GoalPlanId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal Plan ID",
              "type": "integer",
              "description": "Unique identifier of the goal plan.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/goalPlansLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "goalPlansLOV-{GoalPlanId}-get",
        "x-filename-id": "goalplanslov-goalplanid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "goalPlansLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/goalPlansLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "goalPlansLOV-item-response": {
        "type": "object",
        "properties": {
          "AllowPvtGoalMaximumGoalFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if users can continue to add private goals after the goal plan has the maximum permitted goals.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ApprovalUsageContext": {
            "maxLength": 255,
            "type": "string",
            "description": "Usage context of the goal plan used to filter the goal plans based upon their phase in the goal plan approval life cycle.",
            "nullable": true,
            "default": "NA",
            "x-queryable": true
          },
          "EnableWeightingFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether weights are enabled for the goals in the goal plan.",
            "nullable": true,
            "readOnly": true,
            "default": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the goal plan.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EnforceGoalWeightFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the sum of weights of goals in the goal plan can exceed 100% or not.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "EnforceMaximumGoalsInGpFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if maximum goals in goal plan is enforced or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalAccessLevelCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that specifies the roles that can access the goals in the goal plan.",
            "nullable": true,
            "readOnly": true,
            "default": "ALL",
            "x-queryable": true
          },
          "GoalPlanId": {
            "title": "Goal Plan ID",
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalPlanName": {
            "title": "Goal Plan Name",
            "maxLength": 400,
            "type": "string",
            "description": "Name of the goal plan.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalSettingEndDate": {
            "type": "string",
            "description": "End date of the goal setting period.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalSettingStartDate": {
            "type": "string",
            "description": "Start date of the goal setting period.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MassRequestId": {
            "type": "integer",
            "description": "Unique identifier for the goal plan mass request.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MaximumGoalsNumberInGoalPlan": {
            "type": "integer",
            "description": "Maximum goals allowed in the goal plan.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MinimumGoalsNumberInGoalPlan": {
            "type": "integer",
            "description": "Minimum number of goals that the goal plan needs to have.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryGoalPlanFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the goal plan is the primary goal plan.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "RestrictGoalCreationFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if goals can be added to the goal plan after the end of the goal setting period.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RestrictGoalUpdateFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if goals in the goal plan can be updated after the end of the goal setting period.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ReviewPeriodId": {
            "type": "integer",
            "description": "Unique identifier of the review period associated with the goal plan.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ReviewPeriodName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the review period.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the goal plan.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the goal plan that indicates whether the goal plan is active or not.",
            "nullable": true,
            "readOnly": true,
            "default": "A",
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}