{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Eligible Options List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/eligibleOptionsLOV/{ComponentId}": {
      "get": {
        "tags": [
          "List of Values/Eligible Options List of Values"
        ],
        "summary": "Get a plan option",
        "operationId": "get_eligibleOptionsLOV",
        "parameters": [
          {
            "name": "ComponentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the individual compensation plan option.",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eligibleOptionsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "eligibleOptionsLOV-{ComponentId}-get",
        "x-filename-id": "eligibleoptionslov-componentid-get"
      }
    },
    "/eligibleOptionsLOV": {
      "get": {
        "tags": [
          "List of Values/Eligible Options List of Values"
        ],
        "summary": "Get all plan options",
        "operationId": "getall_eligibleOptionsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentId; integer; Unique identifier for the assignment.</li><li>AssignmentNumber; string; Assignment number for the specified assignment.</li><li>ComponentId; integer; Unique identifier for the individual compensation plan option.</li><li>ComponentName; string; Name of the option, such as Quarterly Spot Bonus Award.</li><li>DocumentTypeId; integer; Unique identifier of the document type linked to the individual compensation plan option.</li><li>EffectiveDate; string; Date used to find the eligible plans that are in effect.</li><li>ElementTypeId; integer; Unique identifier for the payroll element linked to the individual compensation plan option.</li><li>EndDate; string; Latest date allowed, such as the payroll element eligibility end date or 31-Dec-4712</li><li>EndDateCode; string; Payment end date code, such as Specified date.</li><li>EndDateRule; integer; Indicates that the end date can be overridden.</li><li>GrantType; string; Code for the stock grant type.</li><li>InputCurrencyCode; string; Input currency code of the payroll element linked to the individual compensation plan option.</li><li>LegalEntityId; integer; Unique identifier for the legal entity</li><li>MultipleEntriesAllowedFlag; boolean; Indicates whether multiple entries of the same payroll element are allowed. The default value is No.</li><li>NonMonetaryUOM; string; Code of the unit of measurement when the data type of the primary input value isn't money.</li><li>PeriodId; integer; Unique identifier for the period of the budget pool linked to the individual compensation plan option.</li><li>PersonId; integer; Unique identifier for the person.</li><li>PlanId; integer; Unique identifier for the individual compensation plan.</li><li>PoolIdToConsume; integer; Unique identifier for the budget pool linked to the individual compensation plan option.</li><li>ProcessingType; string; Processing type of the option, such as Recurring or Nonrecurring.</li><li>RequiresAttachment; string; Indicates that an attachment is required for submission.</li><li>StartDate; string; Earliest date allowed. For example, when the Start Date Code is User Entered Date, the Start Date shows the current date or the effective date selected in the When section.</li><li>StartDateCode; string; Payment start date code, such as User chooses date.</li><li>StartDateRule; integer; Indicates that the start date can be overridden.</li><li>StockDefaultingCode; string; Code for the stock defaulting profile.</li><li>TradingSymbol; string; Trading symbol for the share type of the nonmonetary option.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all eligible options of an eligible individual compensation plan that match the specified primary key criteria. <br>Finder Variables <ul><li>ComponentId; integer;  Unique identifier of the individual compensation plan option. </li></ul></li><li>findByWord Finds all eligible options of an eligible individual compensation plan that match the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier of the assignment </li><li>EffectiveDate; string;  Effective date to be used. </li><li>FilterAttributes; string;  Attributes used to filter the individual compensation plan, such as ComponentName. </li><li>LegalEntityId; string;  Unique identifier of the legal entity. </li><li>PersonId; integer;  Unique identifier of the person. </li><li>PlanId; integer;  Unique identifier of the individual compensation plan. </li><li>SearchTerms; string;  User-entered term in the individual compensation option field, such as Quarterly. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all eligible options of an eligible individual compensation plan that match the specified primary key criteria.",
                "properties": {
                  "ComponentId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the individual compensation plan option.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all eligible options of an eligible individual compensation plan that match the specified criteria.",
                "title": "findByWord",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attributes used to filter the individual compensation plan, such as ComponentName.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the person.",
                    "type": "integer"
                  },
                  "LegalEntityId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the legal entity.",
                    "type": "string"
                  },
                  "PlanId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the individual compensation plan.",
                    "type": "integer"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the assignment",
                    "type": "integer"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "User-entered term in the individual compensation option field, such as Quarterly.",
                    "type": "string"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Effective date to be used.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eligibleOptionsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "eligibleOptionsLOV-get",
        "x-filename-id": "eligibleoptionslov-get"
      }
    }
  },
  "components": {
    "schemas": {
      "eligibleOptionsLOV-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the assignment.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "Assignment number for the specified assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ComponentId": {
            "type": "integer",
            "description": "Unique identifier for the individual compensation plan option.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ComponentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the option, such as Quarterly Spot Bonus Award.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DocumentTypeId": {
            "type": "integer",
            "description": "Unique identifier of the document type linked to the individual compensation plan option.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EffectiveDate": {
            "type": "string",
            "description": "Date used to find the eligible plans that are in effect.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ElementTypeId": {
            "type": "integer",
            "description": "Unique identifier for the payroll element linked to the individual compensation plan option.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "Latest date allowed, such as the payroll element eligibility end date or 31-Dec-4712",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDateCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Payment end date code, such as Specified date.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDateRule": {
            "type": "integer",
            "description": "Indicates that the end date can be overridden.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GrantType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the stock grant type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InputCurrencyCode": {
            "maxLength": 15,
            "type": "string",
            "description": "Input currency code of the payroll element linked to the individual compensation plan option.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEntityId": {
            "type": "integer",
            "description": "Unique identifier for the legal entity",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MultipleEntriesAllowedFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether multiple entries of the same payroll element are allowed. The default value is No.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "NonMonetaryUOM": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the unit of measurement when the data type of the primary input value isn't money.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PeriodId": {
            "type": "integer",
            "description": "Unique identifier for the period of the budget pool linked to the individual compensation plan option.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Unique identifier for the person.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PlanId": {
            "type": "integer",
            "description": "Unique identifier for the individual compensation plan.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PoolIdToConsume": {
            "type": "integer",
            "description": "Unique identifier for the budget pool linked to the individual compensation plan option.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ProcessingType": {
            "maxLength": 30,
            "type": "string",
            "description": "Processing type of the option, such as Recurring or Nonrecurring.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RequiresAttachment": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates that an attachment is required for submission.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Earliest date allowed. For example, when the Start Date Code is User Entered Date, the Start Date shows the current date or the effective date selected in the When section.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDateCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Payment start date code, such as User chooses date.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDateRule": {
            "type": "integer",
            "description": "Indicates that the start date can be overridden.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StockDefaultingCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the stock defaulting profile.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TradingSymbol": {
            "maxLength": 30,
            "type": "string",
            "description": "Trading symbol for the share type of the nonmonetary option.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "eligibleOptionsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/eligibleOptionsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}