{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Review Periods List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/reviewPeriodsLOV": {
      "get": {
        "tags": [
          "List of Values/Review Periods List of Values"
        ],
        "summary": "Get all review periods",
        "operationId": "getall_reviewPeriodsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EndDate; string; End date of the review period.</li><li>ReviewPeriodId; integer; System-generated primary key of the review period.</li><li>ReviewPeriodName; string; Name of the review period.</li><li>StartDate; string; Start date of the review period.</li><li>StatusCode; string; Status of the review period.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the review period that matches the specified primary key criteria. <br>Finder Variables <ul><li>ReviewPeriodId; integer;  System-generated primary key of the review period. </li></ul></li><li>findByCheckInTemplate Finds all the review periods for a check-in template that match the specified search criteria. <br>Finder Variables <ul><li>FilterAttributes; string;  Filter attributes for the check-in template search criteria. </li><li>ManagerId; integer;  Unique identifier for the assignment of the check-in manager. </li><li>RoleTypeCode; string;  Code of the role type used to find review periods for a check-in template. </li><li>SearchTerms; string;  Search term criteria to find review periods for a check-in template. </li><li>TemplateTypeCode; string;  Code of the template type used to find review periods for a check-in template. </li><li>WorkerAssignmentId; integer;  Unique identifier for the assignment of the worker. </li><li>WorkerPersonId; integer;  Unique identifier for the assignment of the person who's assigned the check-in document. </li></ul></li><li>findByWord Finds the review periods that match the specified search criteria. <br>Finder Variables <ul><li>AssignedGoalRP; string;  Search criteria to get all the review periods that have goal plans assigned. </li><li>DocumentManagerAssignmentId; integer;  Unique identifier for the assignment of the performance document manager. </li><li>FilterAttributes; string;  Attributes on which the search criteria are applied. </li><li>IncludeInactiveReviewPeriod; string;  Include inactive review periods in the search. </li><li>PerfDocManagerId; integer;  Identifier for a document manager. </li><li>RoleTypeCode; string;  Code for the role type of a participant in a performance document. </li><li>SearchTerms; string;  Textual criteria for search. </li><li>WorkerAssignmentId; integer;  Unique identifier for the assignment of the worker. </li></ul></li><li>findReviewPeriodsForGoals Finds review periods associated with the specified goals. <br>Finder Variables <ul><li>ManagerAssignmentId; integer;  Unique identifier for the assignment of the manager who assigned the performance goal. </li><li>WorkerAssignmentId; integer;  Unique identifier for the assignment of the person who's assigned the performance goal. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the review period that matches the specified primary key criteria.",
                "properties": {
                  "ReviewPeriodId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "System-generated primary key of the review period.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByCheckInTemplate",
                "description": "Finds all the review periods for a check-in template that match the specified search criteria.",
                "title": "findByCheckInTemplate",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attributes for the check-in template search criteria.",
                    "type": "string"
                  },
                  "RoleTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code of the role type used to find review periods for a check-in template.",
                    "type": "string"
                  },
                  "TemplateTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code of the template type used to find review periods for a check-in template.",
                    "type": "string"
                  },
                  "WorkerPersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the person who's assigned the check-in document.",
                    "type": "integer"
                  },
                  "WorkerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the worker.",
                    "type": "integer"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find review periods for a check-in template.",
                    "type": "string"
                  },
                  "ManagerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the check-in manager.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds the review periods that match the specified search criteria.",
                "title": "findByWord",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attributes on which the search criteria are applied.",
                    "type": "string"
                  },
                  "IncludeInactiveReviewPeriod": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Include inactive review periods in the search.",
                    "type": "string"
                  },
                  "RoleTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code for the role type of a participant in a performance document.",
                    "type": "string"
                  },
                  "WorkerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the worker.",
                    "type": "integer"
                  },
                  "DocumentManagerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the performance document manager.",
                    "type": "integer"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Textual criteria for search.",
                    "type": "string"
                  },
                  "AssignedGoalRP": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to get all the review periods that have goal plans assigned.",
                    "type": "string"
                  },
                  "PerfDocManagerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Identifier for a document manager.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findReviewPeriodsForGoals",
                "description": "Finds review periods associated with the specified goals.",
                "title": "findReviewPeriodsForGoals",
                "properties": {
                  "WorkerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the person who's assigned the performance goal.",
                    "type": "integer"
                  },
                  "ManagerAssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the manager who assigned the performance goal.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reviewPeriodsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "reviewPeriodsLOV-get",
        "x-filename-id": "reviewperiodslov-get"
      }
    },
    "/reviewPeriodsLOV/{ReviewPeriodId}": {
      "get": {
        "tags": [
          "List of Values/Review Periods List of Values"
        ],
        "summary": "Get a review period",
        "operationId": "get_reviewPeriodsLOV",
        "parameters": [
          {
            "name": "ReviewPeriodId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "System-generated primary key of the review period.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reviewPeriodsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "reviewPeriodsLOV-{ReviewPeriodId}-get",
        "x-filename-id": "reviewperiodslov-reviewperiodid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "reviewPeriodsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/reviewPeriodsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "reviewPeriodsLOV-item-response": {
        "type": "object",
        "properties": {
          "EndDate": {
            "type": "string",
            "description": "End date of the review period.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ReviewPeriodId": {
            "type": "integer",
            "description": "System-generated primary key of the review period.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ReviewPeriodName": {
            "maxLength": 400,
            "type": "string",
            "description": "Name of the review period.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the review period.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the review period.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}