{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Benefit Plans List of Values/Large Object (LOB) Attributes - PlanInformation",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/benefitPlansLOV/{benefitPlansLOVUniqID}/enclosure/PlanInformation": {
      "get": {
        "tags": [
          "List of Values/Benefit Plans List of Values/Large Object (LOB) Attributes - PlanInformation"
        ],
        "summary": "Get a PlanInformation",
        "description": "Get a PlanInformation",
        "operationId": "get_benefitPlansLOV-PlanInformation",
        "parameters": [
          {
            "name": "benefitPlansLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PlanId, EffectiveStartDate and EffectiveEndDate ---for the Benefit Plans List of Values resource and used to uniquely identify an instance of Benefit Plans List of Values. The client should not generate the hash key value.  Instead, the client should query on the Benefit Plans List of Values collection resource with a filter on the primary key values in order to navigate to a specific instance of Benefit Plans List of Values.<br><br>For example: benefitPlansLOV?q=PlanId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "benefitPlansLOV-{benefitPlansLOVUniqID}-enclosure-PlanInformation-get",
        "x-filename-id": "benefitplanslov-benefitplanslovuniqid-enclosure-planinformation-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}