{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Employee Communications List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/employeeCommunicationTeamsLOV": {
      "get": {
        "tags": [
          "List of Values/Employee Communications List of Values"
        ],
        "summary": "Get all employee communications",
        "operationId": "getall_employeeCommunicationTeamsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignmentId; integer; Assignment ID of an employee communication.</li><li>AssignmentName; string; Assignment name of an employee communication.</li><li>AssignmentNumber; string; Assignment number of an employee communication.</li><li>AssignmentStatusType; string; Assignment status of an employee communication.</li><li>AssignmentType; string; Assignment type of an employee communication.</li><li>BusinessUnitId; integer; Business unit ID of an employee communication.</li><li>DepartmentName; string; Department name of an employee communication.</li><li>DisplayName; string; Display name of an employee communication.</li><li>EffectiveEndDate; string; Effective end date of an employee communication.</li><li>EffectiveLatestChange; string; Effective latest change of an employee communication.</li><li>EffectiveSequence; integer; Effective sequence of an employee communication.</li><li>EffectiveStartDate; string; Effective start date of an employee communication.</li><li>EmailAddress; string; Email address of an employee communication.</li><li>EmailAddressId; integer; Email address ID of an employee communication.</li><li>ListName; string; List name of an employee communication.</li><li>OrganizationId; integer; Organization ID of an employee communication.</li><li>PersonId; integer; Person ID of an employee communication.</li><li>PersonNumber; string; Person number of an employee communication.</li><li>PrimaryFlag; boolean; Indicates whether the person is an internal employee or a contingent worker. When the indicator is set to Y, it means the person is an internal employee. When set to No, it means the person is a contingent worker.</li><li>TeamId; integer; Team ID of an employee communication.</li><li>VendorId; integer; Vendor ID of an employee communication.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all employee communications using a unique ID. <br>Finder Variables <ul><li>PersonId; integer;  Unique ID and person ID used to find employee communications. </li><li>TeamId; integer;  Unique ID and team ID used to find employee communications. </li></ul></li><li>findById Finds all employee communications using an ID. <br>Finder Variables <ul><li>TeamId; integer;  Finds communication team using a Team ID. </li></ul></li><li>findByWord Finds communication teams using a combination of search text and filter attributes. <br>Finder Variables <ul><li>pFilterAttributes; string;  Attributes which can filter the search results. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all employee communications using a unique ID.",
                "properties": {
                  "PersonId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique ID and person ID used to find employee communications.",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "TeamId": {
                    "nullable": true,
                    "description": "Unique ID and team ID used to find employee communications.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findById",
                "description": "Finds all employee communications using an ID.",
                "title": "findById",
                "properties": {
                  "TeamId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds communication team using a Team ID.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds communication teams using a combination of search text and filter attributes.",
                "title": "findByWord",
                "properties": {
                  "pFilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attributes which can filter the search results.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employeeCommunicationTeamsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "employeeCommunicationTeamsLOV-get",
        "x-filename-id": "employeecommunicationteamslov-get"
      }
    },
    "/employeeCommunicationTeamsLOV/{employeeCommunicationTeamsLOVUniqID}": {
      "get": {
        "tags": [
          "List of Values/Employee Communications List of Values"
        ],
        "summary": "Get an employee communication",
        "operationId": "get_employeeCommunicationTeamsLOV",
        "parameters": [
          {
            "name": "employeeCommunicationTeamsLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TeamId and PersonId ---for the Employee Communications List of Values resource and used to uniquely identify an instance of Employee Communications List of Values. The client should not generate the hash key value.  Instead, the client should query on the Employee Communications List of Values collection resource with a filter on the primary key values in order to navigate to a specific instance of Employee Communications List of Values.<br><br>For example: employeeCommunicationTeamsLOV?q=TeamId=&lt;value1&gt;;PersonId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employeeCommunicationTeamsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "employeeCommunicationTeamsLOV-{employeeCommunicationTeamsLOVUniqID}-get",
        "x-filename-id": "employeecommunicationteamslov-employeecommunicationteamslovuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "employeeCommunicationTeamsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/employeeCommunicationTeamsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "employeeCommunicationTeamsLOV-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment ID of an employee communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Assignment name of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "Assignment number of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentStatusType": {
            "maxLength": 30,
            "type": "string",
            "description": "Assignment status of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentType": {
            "maxLength": 30,
            "type": "string",
            "description": "Assignment type of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Business unit ID of an employee communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DepartmentName": {
            "maxLength": 240,
            "type": "string",
            "description": "Department name of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Display name of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "type": "string",
            "description": "Effective end date of an employee communication.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveLatestChange": {
            "maxLength": 30,
            "type": "string",
            "description": "Effective latest change of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveSequence": {
            "type": "integer",
            "description": "Effective sequence of an employee communication.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 4
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Effective start date of an employee communication.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmailAddress": {
            "maxLength": 240,
            "type": "string",
            "description": "Email address of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmailAddressId": {
            "type": "integer",
            "description": "Email address ID of an employee communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ListName": {
            "maxLength": 240,
            "type": "string",
            "description": "List name of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OrganizationId": {
            "type": "integer",
            "description": "Organization ID of an employee communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person ID of an employee communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Person number of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the person is an internal employee or a contingent worker. When the indicator is set to Y, it means the person is an internal employee. When set to No, it means the person is a contingent worker.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TeamId": {
            "type": "integer",
            "description": "Team ID of an employee communication.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "VendorId": {
            "type": "integer",
            "description": "Vendor ID of an employee communication.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}