{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Locations List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/locationsLov/{locationsLovUniqID}": {
      "get": {
        "tags": [
          "List of Values/Locations List of Values"
        ],
        "summary": "Get a location",
        "operationId": "get_locationsLov",
        "parameters": [
          {
            "name": "locationsLovUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- LocationId, EffectiveStartDate and EffectiveEndDate ---for the Locations List of Values resource and used to uniquely identify an instance of Locations List of Values. The client should not generate the hash key value.  Instead, the client should query on the Locations List of Values collection resource with a filter on the primary key values in order to navigate to a specific instance of Locations List of Values.<br><br>For example: locationsLov?q=LocationId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsLov-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsLov-{locationsLovUniqID}-get",
        "x-filename-id": "locationslov-locationslovuniqid-get"
      }
    },
    "/locationsLov": {
      "get": {
        "tags": [
          "List of Values/Locations List of Values"
        ],
        "summary": "Get all locations",
        "operationId": "getall_locationsLov",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveStatus; string; Status of the location such as active or inactive.</li><li>CountryCode; string; Country code for the location address.</li><li>CountryName; string; Country name for the location address.</li><li>InventoryOrganizationId; integer; Surrogate identifier for the inventory organization.</li><li>InventoryOrganizationName; string; Name of the inventory organization.</li><li>LocationCode; string; Code that uniquely references the location within the set.</li><li>LocationId; integer; Surrogate identifier for the location.</li><li>LocationName; string; Name of the location.</li><li>PostalCode; string; Postal code of the location address.</li><li>Region1; string; Primary region in which the address is located.</li><li>Region2; string; Subregion in which the address is located.</li><li>SetCode; string; Code of the set to which the location belongs.</li><li>SetId; integer; Surrogate identifier of the set to which the location belongs.</li><li>SetName; string; Name of the set to which the location belongs.</li><li>TimezoneCode; string; Time zone code for the location address.</li><li>TownOrCity; string; Town or city of the location address.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all locations that match the primary key criteria specified. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Date at the end of the period within which the location is effective. </li><li>EffectiveStartDate; string;  Date at the beginning of the period within which the location is effective. </li><li>LocationId; integer;  Surrogate identifier for the location. </li></ul></li><li>findByBusinessUnit Finds all locations that match the specified business unit. <br>Finder Variables <ul><li>BusinessUnitId; integer;  Surrogate identifier for the business unit. </li><li>BusinessUnitName; string;  Name of the business unit. </li><li>EmployeeLocFlag; boolean;  Indicates whether location is an employee location or not. </li><li>FetchBlankInvOrgLocation; boolean;  Indicates whether an inventory location is associated with this location. The valid values are true and false. </li><li>IncludeCommonSet; boolean;  Indicates whether the common set must be included. </li><li>InventoryOrgId; integer;  Unique identifier of the inventory organization to which the location belongs. </li><li>LegalEmpId; integer;  Unique Identifier for the legal employer. </li></ul></li><li>findByLocationId Finds all locations that match the specified location identifier. <br>Finder Variables <ul><li>LocationId; integer;  Surrogate identifier for the location. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findBySet Finds all locations that match the specified set. <br>Finder Variables <ul><li>SetCode; string;  Code of the set to which the location belongs. </li><li>SetId; integer;  Surrogate identifier of the set to which the location belongs. </li><li>SetName; string;  Name of the set to which the location belongs. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findByWord Finds all locations that match the specified word. <br>Finder Variables <ul><li>EmployeeLocationFlag; boolean;  Indicates whether the location is an employee location. </li><li>FetchBlankInvOrgLocations; boolean;  Indicates whether an inventory location is associated with this location. The valid values are true and false. </li><li>FilterAttributes; string;  Filter attributes for the search criteria. </li><li>InventoryOrganizationId; integer;  Unique identifier for the inventory organization to which the location belongs. </li><li>IsReceivingSiteLocation; boolean;  Indicates whether the location is a receiving site location. </li><li>IsShipToSiteLocation; boolean;  Indicates whether the location is a ship-to location. </li><li>LegalEmployerId; integer;  Unique Identifier for the legal employer. </li><li>LocationIdentifier; integer;  Surrogate Identifier for the location that needs to be fetched by the findByLocationId finder. </li><li>SearchTerms; string;  Search term criteria to find the location. </li><li>SetId; integer;  Surrogate identifier of the set to which the location belongs. </li><li>Status; string;  Status; string;  of the location that needs to be fetched by the pStatus finder. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all locations that match the primary key criteria specified.",
                "properties": {
                  "EffectiveEndDate": {
                    "x-queryable": false,
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the end of the period within which the location is effective.",
                    "readOnly": true,
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "LocationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the location.",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "x-queryable": false,
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the beginning of the period within which the location is effective.",
                    "readOnly": true,
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByBusinessUnit",
                "description": "Finds all locations that match the specified business unit.",
                "title": "findByBusinessUnit",
                "properties": {
                  "IncludeCommonSet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the common set must be included.",
                    "type": "boolean"
                  },
                  "BusinessUnitId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the business unit.",
                    "type": "integer"
                  },
                  "LegalEmpId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique Identifier for the legal employer.",
                    "type": "integer"
                  },
                  "InventoryOrgId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the inventory organization to which the location belongs.",
                    "type": "integer"
                  },
                  "EmployeeLocFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether location is an employee location or not.",
                    "type": "boolean"
                  },
                  "BusinessUnitName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the business unit.",
                    "type": "string"
                  },
                  "FetchBlankInvOrgLocation": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether an inventory location is associated with this location. The valid values are true and false.",
                    "type": "boolean"
                  }
                }
              },
              {
                "name": "findByLocationId",
                "description": "Finds all locations that match the specified location identifier.",
                "title": "findByLocationId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the location.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySet",
                "description": "Finds all locations that match the specified set.",
                "title": "findBySet",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "SetName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the set to which the location belongs.",
                    "type": "string"
                  },
                  "SetId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier of the set to which the location belongs.",
                    "type": "integer"
                  },
                  "SetCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code of the set to which the location belongs.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all locations that match the specified word.",
                "title": "findByWord",
                "properties": {
                  "Status": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Status of the location that needs to be fetched by the pStatus finder.",
                    "type": "string"
                  },
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attributes for the search criteria.",
                    "type": "string"
                  },
                  "IsReceivingSiteLocation": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the location is a receiving site location.",
                    "type": "boolean"
                  },
                  "IsShipToSiteLocation": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the location is a ship-to location.",
                    "type": "boolean"
                  },
                  "LegalEmployerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique Identifier for the legal employer.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "EmployeeLocationFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the location is an employee location.",
                    "type": "boolean"
                  },
                  "InventoryOrganizationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the inventory organization to which the location belongs.",
                    "type": "integer"
                  },
                  "LocationIdentifier": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate Identifier for the location that needs to be fetched by the findByLocationId finder.",
                    "type": "integer"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find the location.",
                    "type": "string"
                  },
                  "SetId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier of the set to which the location belongs.",
                    "type": "integer"
                  },
                  "FetchBlankInvOrgLocations": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether an inventory location is associated with this location. The valid values are true and false.",
                    "type": "boolean"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsLov"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsLov-get",
        "x-filename-id": "locationslov-get"
      }
    }
  },
  "components": {
    "schemas": {
      "locationsLov-item-response": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the location such as active or inactive.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CountryCode": {
            "title": "Country Code",
            "maxLength": 60,
            "type": "string",
            "description": "Country code for the location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CountryName": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Country name for the location address.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period within which the location is effective.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period within which the location is effective.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "InventoryOrganizationId": {
            "title": "Inventory Organization ID",
            "type": "integer",
            "description": "Surrogate identifier for the inventory organization.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "InventoryOrganizationName": {
            "title": "Inventory Organization",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the inventory organization.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCode": {
            "title": "Code",
            "maxLength": 150,
            "type": "string",
            "description": "Code that uniquely references the location within the set.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Surrogate identifier for the location.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "title": "Name",
            "maxLength": 60,
            "type": "string",
            "description": "Name of the location.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of the location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the address is located.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Subregion in which the address is located.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SetCode": {
            "title": "Set Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the set to which the location belongs.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SetId": {
            "title": "Set",
            "type": "integer",
            "description": "Surrogate identifier of the set to which the location belongs.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SetName": {
            "title": "Set",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the set to which the location belongs.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SingleLineAddress": {
            "title": "Address",
            "type": "string",
            "description": "Address of the location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TimezoneCode": {
            "title": "Time Zone Code",
            "maxLength": 50,
            "type": "string",
            "description": "Time zone code for the location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "Town or city of the location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "locationsLov": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/locationsLov-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}