{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Locations List of Values V2",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/locationsLovV2/{locationsLovV2UniqID}": {
      "get": {
        "tags": [
          "List of Values/Locations List of Values V2"
        ],
        "summary": "Get a location",
        "operationId": "get_locationsLovV2",
        "parameters": [
          {
            "name": "locationsLovV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- LocationId, EffectiveStartDate and EffectiveEndDate ---for the Locations List of Values V2 resource and used to uniquely identify an instance of Locations List of Values V2. The client should not generate the hash key value.  Instead, the client should query on the Locations List of Values V2 collection resource with a filter on the primary key values in order to navigate to a specific instance of Locations List of Values V2.<br><br>For example: locationsLovV2?q=LocationId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsLovV2-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsLovV2-{locationsLovV2UniqID}-get",
        "x-filename-id": "locationslovv2-locationslovv2uniqid-get"
      }
    },
    "/locationsLovV2": {
      "get": {
        "tags": [
          "List of Values/Locations List of Values V2"
        ],
        "summary": "Get all locations",
        "operationId": "getall_locationsLovV2",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressLine1; string; First line of the location address.</li><li>AddressLine2; string; Second line of the location address.</li><li>AddressLine3; string; Third line of the location address.</li><li>AddressLine4; string; Fourth line of the location address.</li><li>CountryName; string; Name of the country of the address.</li><li>County; string; County of the location address.</li><li>EffectiveEndDate; string; Date at the end of the period within which the location is effective.</li><li>EffectiveStartDate; string; Date at the beginning of the period within which the location is effective.</li><li>InventoryOrganizationId; string; Unique identifier of the inventory organization for the location.</li><li>LocationCode; string; Code identifying the location.</li><li>LocationId; integer; Unique identifier for the location.</li><li>LocationName; string; Name of the location.</li><li>PostalCode; string; Postal code of the address.</li><li>Province; string; Province of the location address.</li><li>SetName; string; Surrogate identifier of the set to which the location belongs.</li><li>State; string; State for the location address.</li><li>TownOrCity; string; Name of the town or city of the address.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the locations that match the primary key criteria specified. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Date at the end of the period within which the location is effective. </li><li>EffectiveStartDate; string;  Date at the beginning of the period within which the location is effective. </li><li>LocationId; integer;  Unique identifier for the location. </li></ul></li><li>findByLocationId Finds all the locations that match the specified location identifier. <br>Finder Variables <ul><li>EffectiveDate; string;  Date from when the location is effective. </li><li>LocationId; integer;  Unique identifier for the location. </li></ul></li><li>findByWord Finds all the locations that match the specified search terms. <br>Finder Variables <ul><li>ActiveStatus; string;  Status of the location. </li><li>BusinessGroupId; integer;  Unique identifier for the business group. </li><li>EffectiveDate; string;  Date from when the location is effective. </li><li>EmployeeLocationFlag; boolean;  Indicates whether the location is an employee location or not. Valid values are Yes or No. The default value is No. </li><li>FetchBlankInvOrgLocations; boolean;  Indicates whether blank inventory organization locations are returned. Valid values are true and false. The default value is false. </li><li>FilterAttributes; string;  Filter attributes for the search criteria. </li><li>InventoryOrganizationId; string;  Unique identifier for the inventory organization. </li><li>IsShipToSiteLocation; boolean;  Indicates whether blank inventory organization locations are returned. Valid values are true and false. The default value is false. </li><li>LegalEmployerId; integer;  Unique identifier for the legal employer operating from the location. </li><li>ListOfLocationId; string;  Unique identifier of the location to identify it using the findByWord finder. </li><li>SearchTerms; string;  Search term criteria to find the location. </li><li>SetId; integer;  Unique identifier of the set to which the location belongs. </li></ul></li><li>findMultipleLocationsById Finds all the locations that match any of the specified locations from the list of location identifiers. <br>Finder Variables <ul><li>EffectiveDate; string;  Unique identifier for the list of multiple locations. </li><li>ListOfLocationId; string;  Date from which the multiple locations are effective. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the locations that match the primary key criteria specified.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": true,
                    "format": "date",
                    "description": "Date at the end of the period within which the location is effective.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "LocationId": {
                    "nullable": true,
                    "description": "Unique identifier for the location.",
                    "type": "integer",
                    "title": "Location ID"
                  },
                  "EffectiveStartDate": {
                    "nullable": true,
                    "format": "date",
                    "description": "Date at the beginning of the period within which the location is effective.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByLocationId",
                "description": "Finds all the locations that match the specified location identifier.",
                "title": "findByLocationId",
                "properties": {
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the location.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date from when the location is effective.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByWord",
                "description": "Finds all the locations that match the specified search terms.",
                "title": "findByword",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attributes for the search criteria.",
                    "type": "string"
                  },
                  "IsShipToSiteLocation": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether blank inventory organization locations are returned. Valid values are true and false. The default value is false.",
                    "type": "boolean"
                  },
                  "LegalEmployerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the legal employer operating from the location.",
                    "type": "integer"
                  },
                  "ListOfLocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the location to identify it using the findByWord finder.",
                    "type": "string"
                  },
                  "EmployeeLocationFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the location is an employee location or not. Valid values are Yes or No. The default value is No.",
                    "type": "boolean"
                  },
                  "InventoryOrganizationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the inventory organization.",
                    "type": "string"
                  },
                  "BusinessGroupId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the business group.",
                    "type": "integer"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search term criteria to find the location.",
                    "type": "string"
                  },
                  "SetId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the set to which the location belongs.",
                    "type": "integer"
                  },
                  "FetchBlankInvOrgLocations": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether blank inventory organization locations are returned. Valid values are true and false. The default value is false.",
                    "type": "boolean"
                  },
                  "ActiveStatus": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Status of the location.",
                    "type": "string"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date from when the location is effective.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findMultipleLocationsById",
                "description": "Finds all the locations that match any of the specified locations from the list of location identifiers.",
                "title": "findMultipleLocationsById",
                "properties": {
                  "ListOfLocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Date from which the multiple locations are effective.",
                    "type": "string"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Unique identifier for the list of multiple locations.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsLovV2"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsLovV2-get",
        "x-filename-id": "locationslovv2-get"
      }
    }
  },
  "components": {
    "schemas": {
      "locationsLovV2-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "title": "Address Line 1",
            "type": "string",
            "description": "First line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "type": "string",
            "description": "Second line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "type": "string",
            "description": "Third line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "type": "string",
            "description": "Fourth line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "CountryName": {
            "title": "Country",
            "type": "string",
            "description": "Name of the country of the address.",
            "nullable": true,
            "x-queryable": true
          },
          "County": {
            "title": "County",
            "type": "string",
            "description": "County of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the period within which the location is effective.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the period within which the location is effective.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "InventoryOrganizationId": {
            "title": "Inventory Organization ID",
            "type": "string",
            "description": "Unique identifier of the inventory organization for the location.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationCode": {
            "title": "Code",
            "type": "string",
            "description": "Code identifying the location.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationId": {
            "title": "Location ID",
            "type": "integer",
            "description": "Unique identifier for the location.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationName": {
            "title": "Name",
            "type": "string",
            "description": "Name of the location.",
            "nullable": true,
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "type": "string",
            "description": "Postal code of the address.",
            "nullable": true,
            "x-queryable": true
          },
          "Province": {
            "title": "Province",
            "type": "string",
            "description": "Province of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "SetName": {
            "title": "Location Set",
            "type": "string",
            "description": "Surrogate identifier of the set to which the location belongs.",
            "nullable": true,
            "x-queryable": true
          },
          "State": {
            "title": "State",
            "type": "string",
            "description": "State for the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "type": "string",
            "description": "Name of the town or city of the address.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "locationsLovV2": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/locationsLovV2-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}