{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - List of Values/Questionnaire Questions List of Values",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questionnaireQuestionsLOV": {
      "get": {
        "tags": [
          "List of Values/Questionnaire Questions List of Values"
        ],
        "summary": "Get all questions",
        "operationId": "getall_questionnaireQuestionsLOV",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AdhocQuestion; string; Indicates whether the question is an additional question added by a person requesting a response to the questionnaire. If the value is Y, the question is displayed only to specific participants as part of specific requests. If the value is N, the question is displayed to all participants for all requests.</li><li>AttachmentAllowed; string; Indicates whether the question is supported by attachments from the respondent. Valid values are Y and N.</li><li>CreatedBy; string; User who added the question to the questionnaire definition.</li><li>CreationDate; string; Date and time of addition of the question to the questionnaire definition.</li><li>LastUpdateDate; string; Date and time of update of the question in the questionnaire definition.</li><li>LastUpdatedBy; string; User who last updated the question in the questionnaire definition.</li><li>Mandatory; string; Indicates whether the respondent needs to answer a question in a questionnaire. Valid values are Y and N.</li><li>MaximumLength; string; Minimum number of characters that the respondent must provide when answering a text type of question.</li><li>MaximumSelections; integer; Minimum number of choices that the respondent must select when answering a multiple choice type of question.</li><li>MinimumLength; integer; Maximum number of characters that the respondent can provide when answering a text type of question.</li><li>MinimumSelections; integer; Maximum number of choices that the respondent can select when answering a multiple choice type of question.</li><li>QuestionCode; string; User-defined identifier of the question definition.</li><li>QuestionId; integer; System-generated primary key for the question definition.</li><li>QuestionSequenceNumber; integer; Sequence number of a question in the questionnaire and section definitions.</li><li>QuestionText; string; Text displayed as the question in the questionnaire.</li><li>QuestionType; string; Type of the question such as Single Choice, Multiple Choice, Text, or No Response.</li><li>QuestionVersionNumber; integer; Version number of the question.</li><li>QuestionnaireCode; string; Alphanumeric code that uniquely identifies a questionnaire defined for a subscriber.</li><li>QuestionnaireId; integer; Surrogate identifier of the questionnaire.</li><li>QuestionnaireQuestionId; integer; System-generated primary key for the question in a questionnaire definition.</li><li>SectionSequenceNumber; integer; Sequence number of the sections in a questionnaire definition.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a question in a questionnaire that matches the specified primary key criteria. <br>Finder Variables <ul><li>QuestionnaireQuestionId; integer;  System-generated primary key of the question in a questionnaire. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a question in a questionnaire that matches the specified primary key criteria.",
                "properties": {
                  "QuestionnaireQuestionId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "System-generated primary key of the question in a questionnaire.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Questionnaire Question ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaireQuestionsLOV"
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaireQuestionsLOV-get",
        "x-filename-id": "questionnairequestionslov-get"
      }
    },
    "/questionnaireQuestionsLOV/{questionnaireQuestionsLOVUniqID}": {
      "get": {
        "tags": [
          "List of Values/Questionnaire Questions List of Values"
        ],
        "summary": "Get a question",
        "operationId": "get_questionnaireQuestionsLOV",
        "parameters": [
          {
            "name": "questionnaireQuestionsLOVUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Questions List of Values resource and used to uniquely identify an instance of Questionnaire Questions List of Values. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Questions List of Values collection resource in order to navigate to a specific instance of Questionnaire Questions List of Values to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaireQuestionsLOV-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaireQuestionsLOV-{questionnaireQuestionsLOVUniqID}-get",
        "x-filename-id": "questionnairequestionslov-questionnairequestionslovuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "questionnaireQuestionsLOV": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/questionnaireQuestionsLOV-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "LOV"
        }
      },
      "questionnaireQuestionsLOV-item-response": {
        "type": "object",
        "properties": {
          "AdhocQuestion": {
            "title": "Additional Question",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the question is an additional question added by a person requesting a response to the questionnaire. If the value is Y, the question is displayed only to specific participants as part of specific requests. If the value is N, the question is displayed to all participants for all requests.",
            "nullable": false,
            "readOnly": true,
            "default": "N",
            "x-queryable": true
          },
          "AttachmentAllowed": {
            "title": "Allow attachments",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the question is supported by attachments from the respondent. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "default": "N",
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who added the question to the questionnaire definition.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time of addition of the question to the questionnaire definition.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date and time of update of the question in the questionnaire definition.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the question in the questionnaire definition.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Mandatory": {
            "title": "Required",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the respondent needs to answer a question in a questionnaire. Valid values are Y and N.",
            "nullable": true,
            "readOnly": true,
            "default": "N",
            "x-queryable": true
          },
          "MaximumLength": {
            "title": "Maximum Characters",
            "maxLength": 20,
            "type": "string",
            "description": "Minimum number of characters that the respondent must provide when answering a text type of question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MaximumSelections": {
            "title": "Maximum Number of Selections",
            "type": "integer",
            "description": "Minimum number of choices that the respondent must select when answering a multiple choice type of question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MinimumLength": {
            "title": "Minimum Length",
            "type": "integer",
            "description": "Maximum number of characters that the respondent can provide when answering a text type of question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MinimumSelections": {
            "title": "Minimum Number of Selections",
            "type": "integer",
            "description": "Maximum number of choices that the respondent can select when answering a multiple choice type of question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "User-defined identifier of the question definition.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question ID",
            "type": "integer",
            "description": "System-generated primary key for the question definition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionSequenceNumber": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Sequence number of a question in the questionnaire and section definitions.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Text displayed as the question in the questionnaire.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionType": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Type of the question such as Single Choice, Multiple Choice, Text, or No Response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionVersionNumber": {
            "title": "Question Version Number",
            "type": "integer",
            "description": "Version number of the question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireCode": {
            "title": "Questionnaire Code",
            "maxLength": 240,
            "type": "string",
            "description": "Alphanumeric code that uniquely identifies a questionnaire defined for a subscriber.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionnaireId": {
            "title": "Questionnaire ID",
            "type": "integer",
            "description": "Surrogate identifier of the questionnaire.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question ID",
            "type": "integer",
            "description": "System-generated primary key for the question in a questionnaire definition.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionSequenceNumber": {
            "title": "Section Sequence Number",
            "type": "integer",
            "description": "Sequence number of the sections in a questionnaire definition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}