{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Locations",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/locations/{locationsUniqID}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get a location",
        "operationId": "get_locations",
        "parameters": [
          {
            "name": "locationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations resource and used to uniquely identify an instance of Locations. The client should not generate the hash key value. Instead, the client should query on the Locations collection resource in order to navigate to a specific instance of Locations to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locations-item-response"
                }
              }
            },
            "links": {
              "LocationDFF": {
                "operationRef": "#/paths/~1locations~1{locationsUniqID}~1child~1LocationDFF/get",
                "parameters": {
                  "locationsUniqID": "$request.path.locationsUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "locations-{locationsUniqID}-get",
        "x-filename-id": "locations-locationsuniqid-get"
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get all locations",
        "operationId": "getall_locations",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveStatus; string; Reason for the action being performed on the record.</li><li>AddressLine1; string; First line of the location address.</li><li>AddressLine2; string; Second line of the location address.</li><li>AddressLine3; string; Third line of the location address.</li><li>AddressLine4; string; Fourth line of the location address.</li><li>AnnualWorkingDurationUnits; string; Code of the unit of the location's standard annual working duration.</li><li>BillToSiteFlag; boolean; Indicates whether the location is a bill to site. The default value is true.</li><li>Country; string; Country for the location address.</li><li>EffectiveEndDate; string; Effective end date of the location.</li><li>EffectiveStartDate; string; Effective start date of the location.</li><li>EmployeeLocationFlag; boolean; Indicates whether the location is an employee location. The default value is true.</li><li>LastUpdateDate; string; Date and time when the location record was last updated.</li><li>Latitude; number; Distance between the equator and an address located to its north or south, expressed in degrees and minutes.</li><li>LocationCode; string; Code that uniquely references the location within the set.</li><li>LocationId; integer; Surrogate identifier for the location.</li><li>LocationName; string; Name of the location.</li><li>Longitude; number; Distance between the prime meridian and an address located to its east or west, expressed in degrees and minutes.</li><li>OfficeSiteFlag; boolean; Indicates whether the location is an office site. The default value is true.</li><li>PostalCode; string; Postal code for the location address.</li><li>Provider; string; Company that has validated an address.</li><li>ReceivingSiteFlag; boolean; Indicates whether the location is a receiving site. The default value is true.</li><li>Region1; string; Primary region in which the address is located. This value may be required depending on the country specified.</li><li>Region2; string; Secondary region withing the primary region.</li><li>Region3; string; Subregion within the secondary region.</li><li>SetId; integer; Surrogate identifier for the set to which the location belongs.</li><li>ShipToSiteFlag; boolean; Indicates whether the location is a ship to site. The default value is true.</li><li>StandardAnnualWorkingDuration; number; Standard annual working duration for the location.</li><li>StandardWorkingFrequency; string; Code of the frequency of the location's standard working hours.</li><li>StandardWorkingHours; number; Number of standard working hours for the location.</li><li>TownOrCity; string; Name of the Town or City for the address.</li><li>ValidationStatusCode; string; Level of accuracy of an address as determined by an address provider.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>AlternateKey Finds all the locations that match the specified alternate key criteria. <br>Finder Variables <ul><li>LocationCode; string;  Unique identifier for the location. </li><li>SetId; integer;  Unique identifier of the location set. </li></ul></li><li>PrimaryKey Unique identifier of the location's main address. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Third phone number of the location. </li><li>EffectiveStartDate; string;  Second phone number of the location. </li><li>LocationId; integer;  First phone number of the location. </li></ul></li><li>findByLocationId Finds all the locations that match the specified location identifier. <br>Finder Variables <ul><li>LocationId; integer;  Surrogate identifier for the location. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "AlternateKey",
                "description": "Finds all the locations that match the specified alternate key criteria.",
                "properties": {
                  "LocationCode": {
                    "nullable": false,
                    "description": "Unique identifier for the location.",
                    "type": "string",
                    "title": "Code",
                    "maxLength": 120
                  },
                  "SetId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the location set.",
                    "type": "integer",
                    "title": "Set"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Unique identifier of the location's main address.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Third phone number of the location.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "LocationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "First phone number of the location.",
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Second phone number of the location.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByLocationId",
                "description": "Finds all the locations that match the specified location identifier.",
                "title": "findByLocationId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the location.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locations"
                }
              }
            }
          }
        },
        "x-internal-id": "locations-get",
        "x-filename-id": "locations-get"
      }
    }
  },
  "components": {
    "schemas": {
      "locations-item-response": {
        "type": "object",
        "properties": {
          "ActiveStatus": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Reason for the action being performed on the record.",
            "nullable": false,
            "default": "A",
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "First line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Second line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Third line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Fourth line of the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "AnnualWorkingDurationUnits": {
            "title": "Annual Working Duration Units",
            "maxLength": 10,
            "type": "string",
            "description": "Code of the unit of the location's standard annual working duration.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "BillToSiteFlag": {
            "title": "Bill-to Site",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the location is a bill to site. The default value is true.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country for the location address.",
            "nullable": false,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time when the address record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Description": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the location.",
            "nullable": true,
            "x-queryable": false
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date of the location.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date of the location.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EmailAddress": {
            "title": "Email",
            "maxLength": 240,
            "type": "string",
            "description": "Email address for the location.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployeeLocationFlag": {
            "title": "Employee Location",
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the location is an employee location. The default value is true.",
            "nullable": true,
            "default": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date and time when the location record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Latitude": {
            "title": "Latitude",
            "type": "number",
            "description": "Distance between the equator and an address located to its north or south, expressed in degrees and minutes.",
            "nullable": true,
            "x-queryable": true
          },
          "LocationCode": {
            "title": "Code",
            "maxLength": 120,
            "type": "string",
            "description": "Code that uniquely references the location within the set.",
            "nullable": false,
            "x-queryable": true
          },
          "LocationDFF": {
            "type": "array",
            "description": "Customer Flexfield for location.",
            "items": {
              "$ref": "#/components/schemas/locations-LocationDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationId": {
            "type": "integer",
            "description": "Surrogate identifier for the location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "maxLength": 60,
            "type": "string",
            "description": "Name of the location.",
            "nullable": false,
            "x-queryable": true
          },
          "Longitude": {
            "title": "Longitude",
            "type": "number",
            "description": "Distance between the prime meridian and an address located to its east or west, expressed in degrees and minutes.",
            "nullable": true,
            "x-queryable": true
          },
          "MainAddressId": {
            "title": "Main Address",
            "type": "integer",
            "description": "Unique identifier of the location's main address.",
            "format": "int64",
            "nullable": false,
            "default": 1,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "OfficeSiteFlag": {
            "title": "Office Site",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the location is an office site. The default value is true.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code for the location address.",
            "nullable": true,
            "x-queryable": true
          },
          "Provider": {
            "title": "Provider",
            "maxLength": 150,
            "type": "string",
            "description": "Company that has validated an address.",
            "nullable": true,
            "x-queryable": true
          },
          "ReceivingSiteFlag": {
            "title": "Receiving Site",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the location is a receiving site. The default value is true.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the address is located. This value may be required depending on the country specified.",
            "nullable": true,
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Secondary region withing the primary region.",
            "nullable": true,
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Subregion within the secondary region.",
            "nullable": true,
            "x-queryable": true
          },
          "SetId": {
            "title": "Set",
            "type": "integer",
            "description": "Surrogate identifier for the set to which the location belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ShipToSiteFlag": {
            "title": "Ship-to Site",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the location is a ship to site. The default value is true.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "StandardAnnualWorkingDuration": {
            "title": "Standard Annual Working Duration",
            "type": "number",
            "description": "Standard annual working duration for the location.",
            "nullable": true,
            "x-hints": {
              "precision": 8,
              "scale": 4
            },
            "x-queryable": true
          },
          "StandardWorkingFrequency": {
            "title": "Standard Working Hours Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the frequency of the location's standard working hours.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "StandardWorkingHours": {
            "title": "Standard Working Hours",
            "type": "number",
            "description": "Number of standard working hours for the location.",
            "nullable": true,
            "x-hints": {
              "precision": 22,
              "scale": 3
            },
            "x-queryable": true
          },
          "TelephoneNumber1": {
            "title": "Main Phone",
            "maxLength": 240,
            "type": "string",
            "description": "First phone number of the location.",
            "nullable": true,
            "x-queryable": false
          },
          "TelephoneNumber2": {
            "title": "Fax",
            "maxLength": 240,
            "type": "string",
            "description": "Second phone number of the location.",
            "nullable": true,
            "x-queryable": false
          },
          "TelephoneNumber3": {
            "title": "Other Phone",
            "maxLength": 240,
            "type": "string",
            "description": "Third phone number of the location.",
            "nullable": true,
            "x-queryable": false
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 60,
            "type": "string",
            "description": "Name of the Town or City for the address.",
            "nullable": true,
            "x-queryable": true
          },
          "ValidationStatusCode": {
            "title": "Validation Status Code",
            "maxLength": 120,
            "type": "string",
            "description": "Level of accuracy of an address as determined by an address provider.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locations-LocationDFF-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocationDetailsId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "locations": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/locations-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}