{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Locations V2",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/locationsV2/{locationsV2UniqID}/action/deleteLocationOtherAddresses": {
      "post": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Delete the other addresses",
        "description": "Deletes the other address or addresses of a location.",
        "operationId": "do_deleteLocationOtherAddresses_locationsV2",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otherAddressValues": {
                    "type": "array",
                    "description": "List of other addresses of the location record that need to be deleted.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "effectiveStartDate": {
                    "type": "string",
                    "description": "Effective start date of the location record when deleting the other addresses of a location.",
                    "format": "date",
                    "nullable": true
                  },
                  "isEffectiveStartDateMoved": {
                    "type": "string",
                    "description": "Indicates whether other addresses of a location are being deleted along with changing the effective start date.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the location's custom action to delete the other addresses of a location. Returns Success when the action is successful, else returns an error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the location's custom action to delete the other addresses of a location. Returns Success when the action is successful, else returns an error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-action-deleteLocationOtherAddresses-post",
        "x-filename-id": "locationsv2-locationsv2uniqid-action-deletelocationotheraddresses-post"
      }
    },
    "/locationsV2/action/splitLocationForChildUpdate": {
      "post": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Create a date-effective update on the job when only a child record is updated",
        "description": "Creates a date-effective record on the job when a child record is updated, so that the date-effective history is maintained for the job.",
        "operationId": "doall_splitLocationForChildUpdate_locationsV2",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locationId": {
                    "type": "number",
                    "description": "Unique identifier of the location whose child was updated.",
                    "nullable": true
                  },
                  "effectiveStartDate": {
                    "type": "string",
                    "description": "New effective start date of the job's child record when only the child is being updated. This date is used to create the date-effective record on the job.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the job's date-effective record creation when a child record is updated. Returns Success when the action is successful, else returns an error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the job's date-effective record creation when a child record is updated. Returns Success when the action is successful, else returns an error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-action-splitLocationForChildUpdate-post",
        "x-filename-id": "locationsv2-action-splitlocationforchildupdate-post"
      }
    },
    "/locationsV2/{locationsV2UniqID}/action/changeEffectiveStartDate": {
      "post": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Change the effective start date",
        "description": "Changes the effective start date of a location by moving the start date of this date-effective record and adjusting the effective end date of the previous record accordingly.",
        "operationId": "do_changeEffectiveStartDate_locationsV2",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newEffectiveStartDate": {
                    "type": "string",
                    "description": "New effective start date of the location record when changing the effective start date of a location.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the location's custom action to change the effective start date. Returns Success when the action is successful, else returns an error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the location's custom action to change the effective start date. Returns Success when the action is successful, else returns an error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-action-changeEffectiveStartDate-post",
        "x-filename-id": "locationsv2-locationsv2uniqid-action-changeeffectivestartdate-post"
      }
    },
    "/locationsV2/{locationsV2UniqID}/action/modifyLocationRowForChildCorrect": {
      "post": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Mark the location record explicitly as dirty, to be used when only its child data has been modified.",
        "description": "Marks the location's parent row as dirty for some of the offered features, as required by the approvals framework. When only the child data is modified using REST resources, the framework doesn't mark the parent row as dirty unless one of the parent attributes have been edited.",
        "operationId": "do_modifyLocationRowForChildCorrect_locationsV2",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the location's custom action to mark the location row as dirty when only its child is corrected. Returns Success if the location row is marked as dirty."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Status of the location's custom action to mark the location row as dirty when only its child is corrected. Returns Success if the location row is marked as dirty."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-action-modifyLocationRowForChildCorrect-post",
        "x-filename-id": "locationsv2-locationsv2uniqid-action-modifylocationrowforchildcorrect-post"
      }
    },
    "/locationsV2": {
      "get": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Get all locations",
        "operationId": "getall_locationsV2",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EffectiveEndDate; string</li><li>EffectiveStartDate; string</li><li>LocationDetailsId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressUsageType; string; Type of the address usage.</li><li>AddressUsageTypeMeaning; string; Meaning of the address usage.</li><li>Building; string; Building name of the address.</li><li>Country; string; Country for the location address.</li><li>EffectiveEndDate; string; Effective end date for the location address.</li><li>EffectiveStartDate; string; Effective start date for the location address.</li><li>FloorNumber; string; Floor number of the address.</li><li>Latitude; number; Distance between the equator and a location address located to its north or south, expressed in degrees and minutes.</li><li>LocAddressUsageId; integer; Unique identifier for the address usage type.</li><li>LongPostalCode; string; Long postal code for the location address. Long postal codes are used in some countries in addition to the short postal codes.</li><li>Longitude; number; Distance between the prime meridian and a location address located to its east or west, expressed in degrees and minutes.</li><li>PostalCode; string; Postal code for the location address.</li><li>Provider; string; Company that has validated a location address.</li><li>Region1; string; Primary region in which the address is located. This value may be required depending on the country specified.</li><li>Region2; string; Secondary region withing the primary region.</li><li>Region3; string; Subregion within the secondary region.</li><li>TimezoneCode; string; Code of the time zone.</li><li>TownOrCity; string; Town or city of the location address. This value may be required depending on the country specified.</li><li>ValidationStatusCode; string; Level of accuracy of a location address as determined by an address provider.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionReason; string; Reason for the action being performed on the record.</li><li>ActionReasonCode; string; Reason code for the action being performed on the record. Valid values are defined in the actionReasonsLOV.</li><li>ActiveStatus; string; Status of the location, such as active.</li><li>ActiveStatusMeaning; string; Meaning of the status of the location.</li><li>AnnualWorkingDurationUnits; string; Code of the unit of the location's standard annual working duration.</li><li>AnnualWorkingDurationUnitsMeaning; string; Meaning of the unit of the location's standard annual working duration.</li><li>BillToSiteFlag; boolean; Indicates whether the location is a bill to site. The default value is true.</li><li>Description; string; Description of the location.</li><li>DesignatedReceiverId; integer; Unique identifier for the person designated as the receiver for the location.</li><li>DesignatedReceiverNumber; string; Number for the person designated as the receiver for the location.</li><li>EffectiveEndDate; string; Effective end date of the location.</li><li>EffectiveStartDate; string; Effective start date of the location.</li><li>EmailAddress; string; Email address for the location.</li><li>EmployeeLocationFlag; boolean; Indicates whether the location is an employee location. The default value is true.</li><li>FaxAreaCode; string; Area code of the fax number for the location.</li><li>FaxCountryCode; string; Country code of the fax number for the location.</li><li>FaxExtension; string; Extension for the fax number of the location.</li><li>FaxNumber; string; Local fax number for the location.</li><li>GeoHierarchyNodeCode; string; Code of the geography tree node for the location.</li><li>GeoHierarchyNodeName; string; Name of the geography tree node for the location.</li><li>InventoryOrganizationId; integer; Unique identifier for the inventory organization.</li><li>InventoryOrganizationName; string; Name of the inventory organization.</li><li>LocationCode; string; Code that uniquely references the location within the set.</li><li>LocationId; integer; Surrogate identifier for the location.</li><li>LocationName; string; Name of the location.</li><li>MainPhoneAreaCode; string; Area code of the main phone number for the location.</li><li>MainPhoneCountryCode; string; Country code of the main phone number for the location.</li><li>MainPhoneExtension; string; Extension for the main phone number for the location.</li><li>MainPhoneNumber; string; Local main phone number for the location.</li><li>OfficeSiteFlag; boolean; Indicates whether the location is an office site. The default value is true.</li><li>OfficialLanguageCode; string; Code of the location's official language.</li><li>OfficialLanguageMeaning; string; Name of the location's official language.</li><li>OtherPhoneAreaCode; string; Area code of the other phone number for the location.</li><li>OtherPhoneCountryCode; string; Country code of the other phone number for the location.</li><li>OtherPhoneExtension; string; Extension for the other phone number of the location.</li><li>OtherPhoneNumber; string; Local number of the other phone number for the location.</li><li>ReceivingSiteFlag; boolean; Indicates whether the location is a receiving site. The default value is true.</li><li>SetCode; string; Code of the set to which the location belongs.</li><li>SetId; integer; Surrogate identifier for the set to which the location belongs.</li><li>SetName; string; Name of the set to which the location belongs.</li><li>ShipToLocationCode; string; Code for the ship to location.</li><li>ShipToLocationId; integer; Unique identifier for the ship to location.</li><li>ShipToSiteFlag; boolean; Indicates whether the location is a ship to site. The default value is true.</li><li>StandardAnnualWorkingDuration; number; Standard annual working duration for the location.</li><li>StandardWorkingFrequency; string; Code of the frequency of the location's standard working hours.</li><li>StandardWorkingFrequencyMeaning; string; Meaning of the frequency of the location's standard working hours.</li><li>StandardWorkingHours; number; Number of standard working hours for the location.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the locations that match the specified primary key criteria. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Effective end date for the location. </li><li>EffectiveStartDate; string;  Effective start date for the location. </li><li>LocationId; integer;  Surrogate identifier for the location. </li></ul></li><li>findByLocationId Finds all the locations that match the specified location identifier. <br>Finder Variables <ul><li>LocationId; integer;  Surrogate identifier for the location. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findByLocationIdAfterReload Finds all the locations that match the specified location and transaction identifiers, and is used during the edit by approver task reload. <br>Finder Variables <ul><li>LocationId; integer;  Surrogate identifier for the location provided to the finder that's used during the edit by approver task reload. </li><li>SysEffectiveDate; object;   </li><li>TransactionId; integer;  Surrogate identifier for the location transaction provided to the finder that's used during the edit by approver task reload. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the locations that match the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Effective end date for the location.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "LocationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the location.",
                    "type": "integer",
                    "title": "Location ID"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Effective start date for the location.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              },
              {
                "name": "findByLocationId",
                "description": "Finds all the locations that match the specified location identifier.",
                "title": "findByLocationId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the location.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByLocationIdAfterReload",
                "description": "Finds all the locations that match the specified location and transaction identifiers, and is used during the edit by approver task reload.",
                "title": "findByLocationIdAfterReload",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the location provided to the finder that's used during the edit by approver task reload.",
                    "type": "integer"
                  },
                  "TransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the location transaction provided to the finder that's used during the edit by approver task reload.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2"
                }
              }
            },
            "links": {
              "splitLocationForChildUpdate": {
                "operationRef": "#/paths/~1locationsV2~1action~1splitLocationForChildUpdate/post",
                "description": "Creates a date-effective record on the job when a child record is updated, so that the date-effective history is maintained for the job."
              },
              "getReloadedEFFData": {
                "operationRef": "#/paths/~1locationsV2~1action~1getReloadedEFFData/post",
                "description": "Reloads the location extensible flexfield child data when an approval is pending and the approver needs to edit the transaction. This custom method is used to reload the extensible flexfield child data because it doesn't happen along with the parent reload."
              }
            }
          }
        },
        "x-internal-id": "locationsV2-get",
        "x-filename-id": "locationsv2-get"
      },
      "post": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Create a location",
        "operationId": "create_locationsV2",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/locationsV2-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-item-response"
                }
              }
            },
            "links": {
              "addresses": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1addresses/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The addresses resource is a child of the locations resource. It provides all the addresses of the location including the main address as of the specified date. By default, the current date is retained."
              },
              "attachments": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1attachments/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "bannerOverrideMessages": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1bannerOverrideMessages/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object."
              },
              "changeEffectiveStartDate": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1changeEffectiveStartDate/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Changes the effective start date of a location by moving the start date of this date-effective record and adjusting the effective end date of the previous record accordingly."
              },
              "deleteLocationOtherAddresses": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1deleteLocationOtherAddresses/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Deletes the other address or addresses of a location."
              },
              "activeStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DACTIVE_INACTIVE"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/ActiveStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "setIdLOV": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The list of values for all the location sets.",
                "x-lov": {
                  "definedOn": "$request.body#/SetId",
                  "displayValues": [
                    "SetName"
                  ],
                  "itemsPath": "items",
                  "valueField": "SetId",
                  "displayFields": [
                    "SetName",
                    "SetCode"
                  ]
                }
              },
              "standardWorkingFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DFREQUENCY"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/StandardWorkingFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "shipToLocationIdLOVVO": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The list of values of all locations that can be specified as the ship to location of a location.",
                "x-lov": {
                  "definedOn": "$request.body#/ShipToLocationId",
                  "displayValues": [
                    "LocationName"
                  ],
                  "itemsPath": "items",
                  "valueField": "LocationId",
                  "displayFields": [
                    "LocationName",
                    "LocationCode",
                    "TownOrCity",
                    "CountryName"
                  ]
                }
              },
              "modifyLocationRowForChildCorrect": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1modifyLocationRowForChildCorrect/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Marks the location's parent row as dirty for some of the offered features, as required by the approvals framework. When only the child data is modified using REST resources, the framework doesn't mark the parent row as dirty unless one of the parent attributes have been edited."
              },
              "annualWorkingDurationUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_ANN_WORK_DURATION_UOM"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/AnnualWorkingDurationUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "shipToLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "parameters": {
                  "finder": "findByWord%3BSetId%3D{SetId}"
                },
                "description": "The list of values for locations.",
                "x-lov": {
                  "definedOn": "$request.body#/ShipToLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ShipToLocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName",
                    "LocationCode",
                    "TownOrCity",
                    "CountryName"
                  ]
                }
              },
              "designatedReceiverIdLOVVO": {
                "operationRef": "#/paths/~1workersLov/get",
                "description": "The list of values of all people who can be specified as the designated receiver of a location.",
                "x-lov": {
                  "definedOn": "$request.body#/DesignatedReceiverId",
                  "displayValues": [
                    "DisplayName"
                  ],
                  "itemsPath": "items",
                  "valueField": "PersonId",
                  "displayFields": [
                    "DisplayName",
                    "AssignmentName",
                    "WorkEmailAddress",
                    "PersonNumber"
                  ]
                }
              },
              "actionReasonIdLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "description": "The list of values for all the action reasons for a location.",
                "x-lov": {
                  "definedOn": "$request.body#/ActionReasonId",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "itemsPath": "items",
                  "valueField": "ActionReasonId",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "setCodesLOV": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The list of values for sets.",
                "x-lov": {
                  "definedOn": "$request.body#/SetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "SetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName",
                    "SetCode"
                  ]
                }
              },
              "geoHierarchyNodeCodesLOV": {
                "operationRef": "#/paths/~1geographicHierarchiesLOV/get",
                "description": "The list of values for geographic hierarchies.",
                "x-lov": {
                  "definedOn": "$request.body#/GeoHierarchyNodeCode",
                  "displayValues": [
                    "GeographicHierarchy"
                  ],
                  "itemsPath": "items",
                  "valueField": "GeographicHierarchyCode",
                  "displayFields": [
                    "GeographicHierarchy"
                  ]
                }
              },
              "actionReasonCodesLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "parameters": {
                  "finder": "findByActionId%3BActionId%3D{ActionId}"
                },
                "description": "The list of values for action reasons.",
                "x-lov": {
                  "definedOn": "$request.body#/ActionReasonCode",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "derivedFieldsMapping": {
                    "actionReasonsLOV.ActionReasonId": [
                      "ActionReasonId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionReasonCode",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "inventoryOrganizationIdLOV": {
                "operationRef": "#/paths/~1inventoryOrganizationsLOV/get",
                "x-lov": {
                  "definedOn": "$request.body#/InventoryOrganizationId",
                  "displayValues": [
                    "OrganizationName"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationName"
                  ]
                }
              },
              "locationLegislativeEFF": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1locationLegislativeEFF/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                }
              },
              "locationsDFF": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1locationsDFF/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                }
              },
              "officialLanguageCodesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/OfficialLanguageCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "locationsEFFContainer": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1locationsEFFContainer/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The locationEFFContainer resource is a child of the locations resource. It's a container for the locations extensible flexfields."
              },
              "inventoryOrganizationsNameLOV": {
                "operationRef": "#/paths/~1inventoryOrganizationsLOV/get",
                "x-lov": {
                  "definedOn": "$request.body#/InventoryOrganizationName",
                  "displayValues": [
                    "OrganizationName"
                  ],
                  "derivedFieldsMapping": {
                    "inventoryOrganizationsLOV.OrganizationId": [
                      "InventoryOrganizationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "OrganizationName",
                  "displayFields": [
                    "OrganizationName"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-post",
        "x-filename-id": "locationsv2-post"
      }
    },
    "/locationsV2/{locationsV2UniqID}": {
      "get": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Get a location",
        "operationId": "get_locationsV2",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-item-response"
                }
              }
            },
            "links": {
              "addresses": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1addresses/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The addresses resource is a child of the locations resource. It provides all the addresses of the location including the main address as of the specified date. By default, the current date is retained."
              },
              "attachments": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1attachments/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "bannerOverrideMessages": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1bannerOverrideMessages/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object."
              },
              "changeEffectiveStartDate": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1changeEffectiveStartDate/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Changes the effective start date of a location by moving the start date of this date-effective record and adjusting the effective end date of the previous record accordingly."
              },
              "deleteLocationOtherAddresses": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1deleteLocationOtherAddresses/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Deletes the other address or addresses of a location."
              },
              "activeStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DACTIVE_INACTIVE"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/ActiveStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "setIdLOV": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The list of values for all the location sets.",
                "x-lov": {
                  "definedOn": "$request.body#/SetId",
                  "displayValues": [
                    "SetName"
                  ],
                  "itemsPath": "items",
                  "valueField": "SetId",
                  "displayFields": [
                    "SetName",
                    "SetCode"
                  ]
                }
              },
              "standardWorkingFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DFREQUENCY"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/StandardWorkingFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "shipToLocationIdLOVVO": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The list of values of all locations that can be specified as the ship to location of a location.",
                "x-lov": {
                  "definedOn": "$request.body#/ShipToLocationId",
                  "displayValues": [
                    "LocationName"
                  ],
                  "itemsPath": "items",
                  "valueField": "LocationId",
                  "displayFields": [
                    "LocationName",
                    "LocationCode",
                    "TownOrCity",
                    "CountryName"
                  ]
                }
              },
              "modifyLocationRowForChildCorrect": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1modifyLocationRowForChildCorrect/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Marks the location's parent row as dirty for some of the offered features, as required by the approvals framework. When only the child data is modified using REST resources, the framework doesn't mark the parent row as dirty unless one of the parent attributes have been edited."
              },
              "annualWorkingDurationUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_ANN_WORK_DURATION_UOM"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/AnnualWorkingDurationUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "shipToLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "parameters": {
                  "finder": "findByWord%3BSetId%3D{SetId}"
                },
                "description": "The list of values for locations.",
                "x-lov": {
                  "definedOn": "$request.body#/ShipToLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ShipToLocationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName",
                    "LocationCode",
                    "TownOrCity",
                    "CountryName"
                  ]
                }
              },
              "designatedReceiverIdLOVVO": {
                "operationRef": "#/paths/~1workersLov/get",
                "description": "The list of values of all people who can be specified as the designated receiver of a location.",
                "x-lov": {
                  "definedOn": "$request.body#/DesignatedReceiverId",
                  "displayValues": [
                    "DisplayName"
                  ],
                  "itemsPath": "items",
                  "valueField": "PersonId",
                  "displayFields": [
                    "DisplayName",
                    "AssignmentName",
                    "WorkEmailAddress",
                    "PersonNumber"
                  ]
                }
              },
              "actionReasonIdLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "description": "The list of values for all the action reasons for a location.",
                "x-lov": {
                  "definedOn": "$request.body#/ActionReasonId",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "itemsPath": "items",
                  "valueField": "ActionReasonId",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "setCodesLOV": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The list of values for sets.",
                "x-lov": {
                  "definedOn": "$request.body#/SetCode",
                  "displayValues": [
                    "SetName"
                  ],
                  "derivedFieldsMapping": {
                    "hcmSetsLOV.SetId": [
                      "SetId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SetCode",
                  "displayFields": [
                    "SetName",
                    "SetCode"
                  ]
                }
              },
              "geoHierarchyNodeCodesLOV": {
                "operationRef": "#/paths/~1geographicHierarchiesLOV/get",
                "description": "The list of values for geographic hierarchies.",
                "x-lov": {
                  "definedOn": "$request.body#/GeoHierarchyNodeCode",
                  "displayValues": [
                    "GeographicHierarchy"
                  ],
                  "itemsPath": "items",
                  "valueField": "GeographicHierarchyCode",
                  "displayFields": [
                    "GeographicHierarchy"
                  ]
                }
              },
              "actionReasonCodesLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "parameters": {
                  "finder": "findByActionId%3BActionId%3D{ActionId}"
                },
                "description": "The list of values for action reasons.",
                "x-lov": {
                  "definedOn": "$request.body#/ActionReasonCode",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "derivedFieldsMapping": {
                    "actionReasonsLOV.ActionReasonId": [
                      "ActionReasonId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionReasonCode",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "inventoryOrganizationIdLOV": {
                "operationRef": "#/paths/~1inventoryOrganizationsLOV/get",
                "x-lov": {
                  "definedOn": "$request.body#/InventoryOrganizationId",
                  "displayValues": [
                    "OrganizationName"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationName"
                  ]
                }
              },
              "locationLegislativeEFF": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1locationLegislativeEFF/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                }
              },
              "locationsDFF": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1locationsDFF/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                }
              },
              "officialLanguageCodesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CORRESP_LANG"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/OfficialLanguageCode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "locationsEFFContainer": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1locationsEFFContainer/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The locationEFFContainer resource is a child of the locations resource. It's a container for the locations extensible flexfields."
              },
              "inventoryOrganizationsNameLOV": {
                "operationRef": "#/paths/~1inventoryOrganizationsLOV/get",
                "x-lov": {
                  "definedOn": "$request.body#/InventoryOrganizationName",
                  "displayValues": [
                    "OrganizationName"
                  ],
                  "derivedFieldsMapping": {
                    "inventoryOrganizationsLOV.OrganizationId": [
                      "InventoryOrganizationId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "OrganizationName",
                  "displayFields": [
                    "OrganizationName"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-get",
        "x-filename-id": "locationsv2-locationsv2uniqid-get"
      },
      "delete": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Delete a location",
        "operationId": "delete_locationsV2",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-delete",
        "x-filename-id": "locationsv2-locationsv2uniqid-delete"
      },
      "patch": {
        "tags": [
          "Locations V2"
        ],
        "summary": "Update a location",
        "operationId": "update_locationsV2",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/locationsV2-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-item-response"
                }
              }
            },
            "links": {
              "addresses": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1addresses/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The addresses resource is a child of the locations resource. It provides all the addresses of the location including the main address as of the specified date. By default, the current date is retained."
              },
              "attachments": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1attachments/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "bannerOverrideMessages": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1child~1bannerOverrideMessages/get",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object."
              },
              "changeEffectiveStartDate": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1changeEffectiveStartDate/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Changes the effective start date of a location by moving the start date of this date-effective record and adjusting the effective end date of the previous record accordingly."
              },
              "deleteLocationOtherAddresses": {
                "operationRef": "#/paths/~1locationsV2~1{locationsV2UniqID}~1action~1deleteLocationOtherAddresses/post",
                "parameters": {
                  "locationsV2UniqID": "$request.path.locationsV2UniqID"
                },
                "description": "Deletes the other address or addresses of a location."
              },
              "activeStatusLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DACTIVE_INACTIVE"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/ActiveStatus",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "setIdLOV": {
                "operationRef": "#/paths/~1hcmSetsLOV/get",
                "description": "The list of values for all the location sets.",
                "x-lov": {
                  "definedOn": "$request.body#/SetId",
                  "displayValues": [
                    "SetName"
                  ],
                  "itemsPath": "items",
                  "valueField": "SetId",
[...]
