{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Locations V2/Addresses",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/locationsV2/{locationsV2UniqID}/child/addresses/{addressesUniqID}": {
      "get": {
        "tags": [
          "Locations V2/Addresses"
        ],
        "summary": "Get a location address",
        "operationId": "get_locationsV2-addresses",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressesUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-addresses-item-response"
                }
              }
            },
            "links": {
              "timezonesLOV": {
                "operationRef": "#/paths/~1timezonesLOV/get",
                "description": "The list of values for time zones.",
                "x-lov": {
                  "definedOn": "$request.body#/TimezoneCode",
                  "displayValues": [
                    "LongName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TimezoneCode",
                  "displayFields": [
                    "LongName"
                  ]
                }
              },
              "countriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The hcmCountriesLov resource includes the list of values for countries.",
                "x-lov": {
                  "definedOn": "$request.body#/Country",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "addressUsageTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DLOCATION_ADDRESS_USAGE_TYPE"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/AddressUsageType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-addresses-{addressesUniqID}-get",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-addresses-addressesuniqid-get"
      },
      "delete": {
        "tags": [
          "Locations V2/Addresses"
        ],
        "summary": "Delete a location address",
        "operationId": "delete_locationsV2-addresses",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressesUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-addresses-{addressesUniqID}-delete",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-addresses-addressesuniqid-delete"
      },
      "patch": {
        "tags": [
          "Locations V2/Addresses"
        ],
        "summary": "Update a location address",
        "operationId": "update_locationsV2-addresses",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressesUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/locationsV2-addresses-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-addresses-item-response"
                }
              }
            },
            "links": {
              "timezonesLOV": {
                "operationRef": "#/paths/~1timezonesLOV/get",
                "description": "The list of values for time zones.",
                "x-lov": {
                  "definedOn": "$request.body#/TimezoneCode",
                  "displayValues": [
                    "LongName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TimezoneCode",
                  "displayFields": [
                    "LongName"
                  ]
                }
              },
              "countriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The hcmCountriesLov resource includes the list of values for countries.",
                "x-lov": {
                  "definedOn": "$request.body#/Country",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "addressUsageTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DLOCATION_ADDRESS_USAGE_TYPE"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/AddressUsageType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-addresses-{addressesUniqID}-patch",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-addresses-addressesuniqid-patch"
      }
    },
    "/locationsV2/{locationsV2UniqID}/child/addresses": {
      "get": {
        "tags": [
          "Locations V2/Addresses"
        ],
        "summary": "Get all location addresses",
        "operationId": "getall_locationsV2-addresses",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EffectiveEndDate; string</li><li>EffectiveStartDate; string</li><li>LocationDetailsId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressUsageType; string; Type of the address usage.</li><li>AddressUsageTypeMeaning; string; Meaning of the address usage.</li><li>Building; string; Building name of the address.</li><li>Country; string; Country for the location address.</li><li>EffectiveEndDate; string; Effective end date for the location address.</li><li>EffectiveStartDate; string; Effective start date for the location address.</li><li>FloorNumber; string; Floor number of the address.</li><li>Latitude; number; Distance between the equator and a location address located to its north or south, expressed in degrees and minutes.</li><li>LocAddressUsageId; integer; Unique identifier for the address usage type.</li><li>LongPostalCode; string; Long postal code for the location address. Long postal codes are used in some countries in addition to the short postal codes.</li><li>Longitude; number; Distance between the prime meridian and a location address located to its east or west, expressed in degrees and minutes.</li><li>PostalCode; string; Postal code for the location address.</li><li>Provider; string; Company that has validated a location address.</li><li>Region1; string; Primary region in which the address is located. This value may be required depending on the country specified.</li><li>Region2; string; Secondary region withing the primary region.</li><li>Region3; string; Subregion within the secondary region.</li><li>TimezoneCode; string; Code of the time zone.</li><li>TownOrCity; string; Town or city of the location address. This value may be required depending on the country specified.</li><li>ValidationStatusCode; string; Level of accuracy of a location address as determined by an address provider.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionReason; string; Reason for the action being performed on the record.</li><li>ActionReasonCode; string; Reason code for the action being performed on the record. Valid values are defined in the actionReasonsLOV.</li><li>ActiveStatus; string; Status of the location, such as active.</li><li>ActiveStatusMeaning; string; Meaning of the status of the location.</li><li>AnnualWorkingDurationUnits; string; Code of the unit of the location's standard annual working duration.</li><li>AnnualWorkingDurationUnitsMeaning; string; Meaning of the unit of the location's standard annual working duration.</li><li>BillToSiteFlag; boolean; Indicates whether the location is a bill to site. The default value is true.</li><li>Description; string; Description of the location.</li><li>DesignatedReceiverId; integer; Unique identifier for the person designated as the receiver for the location.</li><li>DesignatedReceiverNumber; string; Number for the person designated as the receiver for the location.</li><li>EffectiveEndDate; string; Effective end date of the location.</li><li>EffectiveStartDate; string; Effective start date of the location.</li><li>EmailAddress; string; Email address for the location.</li><li>EmployeeLocationFlag; boolean; Indicates whether the location is an employee location. The default value is true.</li><li>FaxAreaCode; string; Area code of the fax number for the location.</li><li>FaxCountryCode; string; Country code of the fax number for the location.</li><li>FaxExtension; string; Extension for the fax number of the location.</li><li>FaxNumber; string; Local fax number for the location.</li><li>GeoHierarchyNodeCode; string; Code of the geography tree node for the location.</li><li>GeoHierarchyNodeName; string; Name of the geography tree node for the location.</li><li>InventoryOrganizationId; integer; Unique identifier for the inventory organization.</li><li>InventoryOrganizationName; string; Name of the inventory organization.</li><li>LocationCode; string; Code that uniquely references the location within the set.</li><li>LocationId; integer; Surrogate identifier for the location.</li><li>LocationName; string; Name of the location.</li><li>MainPhoneAreaCode; string; Area code of the main phone number for the location.</li><li>MainPhoneCountryCode; string; Country code of the main phone number for the location.</li><li>MainPhoneExtension; string; Extension for the main phone number for the location.</li><li>MainPhoneNumber; string; Local main phone number for the location.</li><li>OfficeSiteFlag; boolean; Indicates whether the location is an office site. The default value is true.</li><li>OfficialLanguageCode; string; Code of the location's official language.</li><li>OfficialLanguageMeaning; string; Name of the location's official language.</li><li>OtherPhoneAreaCode; string; Area code of the other phone number for the location.</li><li>OtherPhoneCountryCode; string; Country code of the other phone number for the location.</li><li>OtherPhoneExtension; string; Extension for the other phone number of the location.</li><li>OtherPhoneNumber; string; Local number of the other phone number for the location.</li><li>ReceivingSiteFlag; boolean; Indicates whether the location is a receiving site. The default value is true.</li><li>SetCode; string; Code of the set to which the location belongs.</li><li>SetId; integer; Surrogate identifier for the set to which the location belongs.</li><li>SetName; string; Name of the set to which the location belongs.</li><li>ShipToLocationCode; string; Code for the ship to location.</li><li>ShipToLocationId; integer; Unique identifier for the ship to location.</li><li>ShipToSiteFlag; boolean; Indicates whether the location is a ship to site. The default value is true.</li><li>StandardAnnualWorkingDuration; number; Standard annual working duration for the location.</li><li>StandardWorkingFrequency; string; Code of the frequency of the location's standard working hours.</li><li>StandardWorkingFrequencyMeaning; string; Meaning of the frequency of the location's standard working hours.</li><li>StandardWorkingHours; number; Number of standard working hours for the location.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the location addresses that match the specified primary key criteria. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Effective end date for the location. </li><li>EffectiveStartDate; string;  Effective start date for the location. </li><li>LocAddressUsageId; integer;  Unique identifier for the address usage type. </li></ul></li><li>findByLocAddressUsageId Finds all the location addresses that match the specified location address usage identifier. <br>Finder Variables <ul><li>LocAddressUsageId; integer;  Unique identifier for the address usage type. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the location addresses that match the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Effective end date for the location.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Effective start date for the location.",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "LocAddressUsageId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the address usage type.",
                    "type": "integer",
                    "title": "Location Address Usage ID"
                  }
                }
              },
              {
                "name": "findByLocAddressUsageId",
                "description": "Finds all the location addresses that match the specified location address usage identifier.",
                "title": "findByLocAddressUsageId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "LocAddressUsageId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Required"
                    },
                    "description": "Unique identifier for the address usage type.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-addresses"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-addresses-get",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-addresses-get"
      },
      "post": {
        "tags": [
          "Locations V2/Addresses"
        ],
        "summary": "Create a location address",
        "operationId": "create_locationsV2-addresses",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/locationsV2-addresses-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-addresses-item-response"
                }
              }
            },
            "links": {
              "timezonesLOV": {
                "operationRef": "#/paths/~1timezonesLOV/get",
                "description": "The list of values for time zones.",
                "x-lov": {
                  "definedOn": "$request.body#/TimezoneCode",
                  "displayValues": [
                    "LongName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TimezoneCode",
                  "displayFields": [
                    "LongName"
                  ]
                }
              },
              "countriesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The hcmCountriesLov resource includes the list of values for countries.",
                "x-lov": {
                  "definedOn": "$request.body#/Country",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "addressUsageTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DLOCATION_ADDRESS_USAGE_TYPE"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/AddressUsageType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-addresses-post",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-addresses-post"
      }
    }
  },
  "components": {
    "schemas": {
      "locationsV2-addresses-item-response": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "title": "Additional Address Attribute 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute2": {
            "title": "Additional Address Attribute 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute3": {
            "title": "Additional Address Attribute 3",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute4": {
            "title": "Additional Address Attribute 4",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute5": {
            "title": "Additional Address Attribute 5",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "First line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Second line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Third line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Fourth line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressUsageType": {
            "title": "Address Usage Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the address usage.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "AddressUsageTypeMeaning": {
            "title": "Location Address Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the address usage.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building name of the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country for the location address.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the address record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the address record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date for the location address.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date for the location address.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FloorNumber": {
            "title": "Floor Number",
            "maxLength": 40,
            "type": "string",
            "description": "Floor number of the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the address record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the address record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Latitude": {
            "title": "Latitude",
            "type": "number",
            "description": "Distance between the equator and a location address located to its north or south, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LocAddressUsageId": {
            "title": "Location Address Usage ID",
            "type": "integer",
            "description": "Unique identifier for the address usage type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LongPostalCode": {
            "title": "Long Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code for the location address. Long postal codes are used in some countries in addition to the short postal codes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Longitude": {
            "title": "Longitude",
            "type": "number",
            "description": "Distance between the prime meridian and a location address located to its east or west, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code for the location address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Provider": {
            "title": "Provider",
            "maxLength": 150,
            "type": "string",
            "description": "Company that has validated a location address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the address is located. This value may be required depending on the country specified.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Secondary region withing the primary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Subregion within the secondary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Timezone": {
            "title": "Time Zone",
            "type": "string",
            "description": "Time zone of the location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TimezoneCode": {
            "title": "Time Zone Code",
            "maxLength": 50,
            "type": "string",
            "description": "Code of the time zone.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 60,
            "type": "string",
            "description": "Town or city of the location address. This value may be required depending on the country specified.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ValidateAddressFlag": {
            "type": "boolean",
            "description": "Indicates whether the location address needs to be validated. Valid values are true and false. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false
          },
          "ValidationStatusCode": {
            "title": "Validation Status Code",
            "maxLength": 120,
            "type": "string",
            "description": "Level of accuracy of a location address as determined by an address provider.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "locationsV2-addresses-item-patch-request": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "title": "Additional Address Attribute 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute2": {
            "title": "Additional Address Attribute 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute3": {
            "title": "Additional Address Attribute 3",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute4": {
            "title": "Additional Address Attribute 4",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute5": {
            "title": "Additional Address Attribute 5",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "First line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Second line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Third line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Fourth line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building name of the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date for the location address.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date for the location address.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FloorNumber": {
            "title": "Floor Number",
            "maxLength": 40,
            "type": "string",
            "description": "Floor number of the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Latitude": {
            "title": "Latitude",
            "type": "number",
            "description": "Distance between the equator and a location address located to its north or south, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LongPostalCode": {
            "title": "Long Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code for the location address. Long postal codes are used in some countries in addition to the short postal codes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Longitude": {
            "title": "Longitude",
            "type": "number",
            "description": "Distance between the prime meridian and a location address located to its east or west, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code for the location address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Provider": {
            "title": "Provider",
            "maxLength": 150,
            "type": "string",
            "description": "Company that has validated a location address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the address is located. This value may be required depending on the country specified.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Secondary region withing the primary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Subregion within the secondary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TimezoneCode": {
            "title": "Time Zone Code",
            "maxLength": 50,
            "type": "string",
            "description": "Code of the time zone.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 60,
            "type": "string",
            "description": "Town or city of the location address. This value may be required depending on the country specified.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ValidateAddressFlag": {
            "type": "boolean",
            "description": "Indicates whether the location address needs to be validated. Valid values are true and false. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false
          },
          "ValidationStatusCode": {
            "title": "Validation Status Code",
            "maxLength": 120,
            "type": "string",
            "description": "Level of accuracy of a location address as determined by an address provider.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "locationsV2-addresses": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/locationsV2-addresses-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "locationsV2-addresses-item-post-request": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "title": "Additional Address Attribute 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute2": {
            "title": "Additional Address Attribute 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute3": {
            "title": "Additional Address Attribute 3",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute4": {
            "title": "Additional Address Attribute 4",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddlAddressAttribute5": {
            "title": "Additional Address Attribute 5",
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute, used by localizations.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "First line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Second line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Third line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Fourth line of the location address.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AddressUsageType": {
            "title": "Address Usage Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type of the address usage.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building name of the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country for the location address.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Effective end date for the location address.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Effective start date for the location address.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FloorNumber": {
            "title": "Floor Number",
            "maxLength": 40,
            "type": "string",
            "description": "Floor number of the address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Latitude": {
            "title": "Latitude",
            "type": "number",
            "description": "Distance between the equator and a location address located to its north or south, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LocAddressUsageId": {
            "title": "Location Address Usage ID",
            "type": "integer",
            "description": "Unique identifier for the address usage type.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "LongPostalCode": {
            "title": "Long Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code for the location address. Long postal codes are used in some countries in addition to the short postal codes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Longitude": {
            "title": "Longitude",
            "type": "number",
            "description": "Distance between the prime meridian and a location address located to its east or west, expressed in degrees and minutes.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code for the location address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Provider": {
            "title": "Provider",
            "maxLength": 150,
            "type": "string",
            "description": "Company that has validated a location address.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the address is located. This value may be required depending on the country specified.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Secondary region withing the primary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Subregion within the secondary region.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TimezoneCode": {
            "title": "Time Zone Code",
            "maxLength": 50,
            "type": "string",
            "description": "Code of the time zone.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 60,
            "type": "string",
            "description": "Town or city of the location address. This value may be required depending on the country specified.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ValidateAddressFlag": {
            "type": "boolean",
            "description": "Indicates whether the location address needs to be validated. Valid values are true and false. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false
          },
          "ValidationStatusCode": {
            "title": "Validation Status Code",
            "maxLength": 120,
            "type": "string",
            "description": "Level of accuracy of a location address as determined by an address provider.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "locationsV2-addresses-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/locationsV2-addresses-item-patch-request"
            }
          }
        }
      },
      "locationsV2-addresses-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/locationsV2-addresses-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}