{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Locations V2/Locations Legislative Extensible Flexfields",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/locationsV2/{locationsV2UniqID}/child/locationLegislativeEFF": {
      "get": {
        "tags": [
          "Locations V2/Locations Legislative Extensible Flexfields"
        ],
        "summary": "Get all legislative flexfield of location",
        "operationId": "getall_locationsV2-locationLegislativeEFF",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EffectiveEndDate; string</li><li>EffectiveStartDate; string</li><li>LocationDetailsId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressUsageType; string; Type of the address usage.</li><li>AddressUsageTypeMeaning; string; Meaning of the address usage.</li><li>Building; string; Building name of the address.</li><li>Country; string; Country for the location address.</li><li>EffectiveEndDate; string; Effective end date for the location address.</li><li>EffectiveStartDate; string; Effective start date for the location address.</li><li>FloorNumber; string; Floor number of the address.</li><li>Latitude; number; Distance between the equator and a location address located to its north or south, expressed in degrees and minutes.</li><li>LocAddressUsageId; integer; Unique identifier for the address usage type.</li><li>LongPostalCode; string; Long postal code for the location address. Long postal codes are used in some countries in addition to the short postal codes.</li><li>Longitude; number; Distance between the prime meridian and a location address located to its east or west, expressed in degrees and minutes.</li><li>PostalCode; string; Postal code for the location address.</li><li>Provider; string; Company that has validated a location address.</li><li>Region1; string; Primary region in which the address is located. This value may be required depending on the country specified.</li><li>Region2; string; Secondary region withing the primary region.</li><li>Region3; string; Subregion within the secondary region.</li><li>TimezoneCode; string; Code of the time zone.</li><li>TownOrCity; string; Town or city of the location address. This value may be required depending on the country specified.</li><li>ValidationStatusCode; string; Level of accuracy of a location address as determined by an address provider.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionReason; string; Reason for the action being performed on the record.</li><li>ActionReasonCode; string; Reason code for the action being performed on the record. Valid values are defined in the actionReasonsLOV.</li><li>ActiveStatus; string; Status of the location, such as active.</li><li>ActiveStatusMeaning; string; Meaning of the status of the location.</li><li>AnnualWorkingDurationUnits; string; Code of the unit of the location's standard annual working duration.</li><li>AnnualWorkingDurationUnitsMeaning; string; Meaning of the unit of the location's standard annual working duration.</li><li>BillToSiteFlag; boolean; Indicates whether the location is a bill to site. The default value is true.</li><li>Description; string; Description of the location.</li><li>DesignatedReceiverId; integer; Unique identifier for the person designated as the receiver for the location.</li><li>DesignatedReceiverNumber; string; Number for the person designated as the receiver for the location.</li><li>EffectiveEndDate; string; Effective end date of the location.</li><li>EffectiveStartDate; string; Effective start date of the location.</li><li>EmailAddress; string; Email address for the location.</li><li>EmployeeLocationFlag; boolean; Indicates whether the location is an employee location. The default value is true.</li><li>FaxAreaCode; string; Area code of the fax number for the location.</li><li>FaxCountryCode; string; Country code of the fax number for the location.</li><li>FaxExtension; string; Extension for the fax number of the location.</li><li>FaxNumber; string; Local fax number for the location.</li><li>GeoHierarchyNodeCode; string; Code of the geography tree node for the location.</li><li>GeoHierarchyNodeName; string; Name of the geography tree node for the location.</li><li>InventoryOrganizationId; integer; Unique identifier for the inventory organization.</li><li>InventoryOrganizationName; string; Name of the inventory organization.</li><li>LocationCode; string; Code that uniquely references the location within the set.</li><li>LocationId; integer; Surrogate identifier for the location.</li><li>LocationName; string; Name of the location.</li><li>MainPhoneAreaCode; string; Area code of the main phone number for the location.</li><li>MainPhoneCountryCode; string; Country code of the main phone number for the location.</li><li>MainPhoneExtension; string; Extension for the main phone number for the location.</li><li>MainPhoneNumber; string; Local main phone number for the location.</li><li>OfficeSiteFlag; boolean; Indicates whether the location is an office site. The default value is true.</li><li>OfficialLanguageCode; string; Code of the location's official language.</li><li>OfficialLanguageMeaning; string; Name of the location's official language.</li><li>OtherPhoneAreaCode; string; Area code of the other phone number for the location.</li><li>OtherPhoneCountryCode; string; Country code of the other phone number for the location.</li><li>OtherPhoneExtension; string; Extension for the other phone number of the location.</li><li>OtherPhoneNumber; string; Local number of the other phone number for the location.</li><li>ReceivingSiteFlag; boolean; Indicates whether the location is a receiving site. The default value is true.</li><li>SetCode; string; Code of the set to which the location belongs.</li><li>SetId; integer; Surrogate identifier for the set to which the location belongs.</li><li>SetName; string; Name of the set to which the location belongs.</li><li>ShipToLocationCode; string; Code for the ship to location.</li><li>ShipToLocationId; integer; Unique identifier for the ship to location.</li><li>ShipToSiteFlag; boolean; Indicates whether the location is a ship to site. The default value is true.</li><li>StandardAnnualWorkingDuration; number; Standard annual working duration for the location.</li><li>StandardWorkingFrequency; string; Code of the frequency of the location's standard working hours.</li><li>StandardWorkingFrequencyMeaning; string; Meaning of the frequency of the location's standard working hours.</li><li>StandardWorkingHours; number; Number of standard working hours for the location.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey  <br>Finder Variables <ul><li>LocationId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "LocationId": {
                    "nullable": false,
                    "x-hints": {
                      "fnd:FND_AUDIT_USER_KEY": "true",
                      "precision": 18,
                      "fnd:FND_AUDIT_ATTR_ENABLED": "true",
                      "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");",
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-locationLegislativeEFF-get",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-locationlegislativeeff-get"
      },
      "post": {
        "tags": [
          "Locations V2/Locations Legislative Extensible Flexfields"
        ],
        "summary": "Create a legislative flexfield of location",
        "operationId": "create_locationsV2-locationLegislativeEFF",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/locationsV2-locationLegislativeEFF-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-locationLegislativeEFF-post",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-locationlegislativeeff-post"
      }
    },
    "/locationsV2/{locationsV2UniqID}/child/locationLegislativeEFF/{locationLegislativeEFFUniqID}": {
      "get": {
        "tags": [
          "Locations V2/Locations Legislative Extensible Flexfields"
        ],
        "summary": "Get a legislative flexfield of location",
        "operationId": "get_locationsV2-locationLegislativeEFF",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationLegislativeEFFUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-locationLegislativeEFF-{locationLegislativeEFFUniqID}-get",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-locationlegislativeeff-locationlegislativeeffuniqid-get"
      },
      "delete": {
        "tags": [
          "Locations V2/Locations Legislative Extensible Flexfields"
        ],
        "summary": "Delete a legislative flexfield of location",
        "operationId": "delete_locationsV2-locationLegislativeEFF",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationLegislativeEFFUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-locationLegislativeEFF-{locationLegislativeEFFUniqID}-delete",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-locationlegislativeeff-locationlegislativeeffuniqid-delete"
      },
      "patch": {
        "tags": [
          "Locations V2/Locations Legislative Extensible Flexfields"
        ],
        "summary": "Update a legislative flexfield of location",
        "operationId": "update_locationsV2-locationLegislativeEFF",
        "parameters": [
          {
            "name": "locationsV2UniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Locations V2 resource and used to uniquely identify an instance of Locations V2. The client should not generate the hash key value. Instead, the client should query on the Locations V2 collection resource in order to navigate to a specific instance of Locations V2 to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationLegislativeEFFUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/locationsV2-locationLegislativeEFF-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "locationsV2-{locationsV2UniqID}-child-locationLegislativeEFF-{locationLegislativeEFFUniqID}-patch",
        "x-filename-id": "locationsv2-locationsv2uniqid-child-locationlegislativeeff-locationlegislativeeffuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "locationsV2-locationLegislativeEFF": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "locationsV2-locationLegislativeEFF-item-response": {
        "discriminator": {
          "propertyName": "CategoryCode",
          "mapping": {
            "HCM_LOC_LEG": "#/components/schemas/oracle_apps_hcm_locations_flex_locationlegeff_category_view_j__LocationLegCategoryHcmLocLegprivateVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_locations_flex_locationlegeff_category_view_j__LocationLegCategoryHcmLocLegprivateVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_locations_flex_locationlegeff_category_view_j__LocationLegCategoryHcmLocLegprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CategoryCode": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "HCM_LOC_LEG"
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "fnd:FND_AUDIT_USER_KEY": "true",
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "LocationLegislativeHRX_5FCA_5FLOC_5FEER_5FRULESprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FCA_5FLOC_5FEER_5FRULESprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FFR_5FEXT_5FREPORTING_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FFR_5FEXT_5FREPORTING_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FUS_5FEEO1_5FINFORMATIONprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FEEO1_5FINFORMATIONprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FUS_5FLOC_5FEEO_5FVETS_5FINFprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FLOC_5FEEO_5FVETS_5FINFprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FUS_5FMWS_5FINFORMATIONprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FMWS_5FINFORMATIONprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FUS_5FPA_5FPSD_5FINFORMATIONprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FPA_5FPSD_5FINFORMATIONprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FUS_5FREPORTING_5FINFORMATIONprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FREPORTING_5FINFORMATIONprivateVO-item-response"
            }
          },
          "LocationLegislativeHRX_5FUS_5FUNEMPLOYMENT_5FREPORTINGprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FUNEMPLOYMENT_5FREPORTINGprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeHRX_5FUS_5FVETS_5FINFORMATIONprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FVETS_5FINFORMATIONprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeORA_5FHRX_5FCA_5FPM_5FLOCprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeORA_5FHRX_5FCA_5FPM_5FLOCprivateVO-item-response"
            }
          },
          "LocationLegislativeORA_5FHRX_5FCA_5FWC_5FLOCprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeORA_5FHRX_5FCA_5FWC_5FLOCprivateVO-item-response"
            }
          },
          "LocationLegislativeORA_5FHRX_5FIN_5FEMPLR_5FCONT_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeORA_5FHRX_5FIN_5FEMPLR_5FCONT_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "LocationLegislativeORA_5FHRX_5FUS_5FWORK_5FTAX_5FJURDprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/locationsV2-locationLegislativeEFF-LocationLegislativeORA_5FHRX_5FUS_5FWORK_5FTAX_5FJURDprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FCA_5FLOC_5FEER_5FRULESprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_CA_LOC_EER_RULES",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "_CMA_CODE": {
            "title": "Census Metropolitan Area",
            "maxLength": 150,
            "type": "string",
            "description": "Census Metropolitan Area",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_CMA_CODE_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_SegmentName": "CMA_CODE",
              "help": {
                "instruction": "Census Metropolitan Area"
              },
              "FND_ACFF_ValueSetInfo": "HRX_CA_CMA_CODE#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "LLE_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "CMA_CODE",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_CMA_CODE_Display": {
            "title": "Census Metropolitan Area",
            "type": "string",
            "description": "Census Metropolitan Area",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_CMA_CODE",
              "help": {
                "instruction": "Census Metropolitan Area"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FFR_5FEXT_5FREPORTING_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_FR_EXT_REPORTING_INFO",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "_ISSUER_NUMBER": {
            "title": "Issuer Number",
            "maxLength": 150,
            "type": "string",
            "description": "Issuer Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Issuer Number"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "LLE_INFORMATION4",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ISSUER_NUMBER",
              "FND_ACFF_SegmentName": "ISSUER_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_LOCATION_TYPE": {
            "title": "Location Type",
            "maxLength": 150,
            "type": "string",
            "description": "Location Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_LOCATION_TYPE_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_InstructionText": "Use Location types to create location centers for external organizations.",
              "FND_ACFF_SegmentName": "LOCATION_TYPE",
              "help": {
                "instruction": "Use Location types to create location centers for external organizations."
              },
              "FND_ACFF_ValueSetInfo": "HRX_FR_LOCATION_TYPE#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "LLE_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "LOCATION_TYPE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_LOCATION_TYPE_Display": {
            "title": "Location Type",
            "type": "string",
            "description": "Location Type",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_LOCATION_TYPE",
              "help": {
                "instruction": "Use Location types to create location centers for external organizations."
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_InstructionText": "Use Location types to create location centers for external organizations.",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORG_SIRET": {
            "title": "Organization SIRET",
            "maxLength": 150,
            "type": "string",
            "description": "Organization SIRET",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Organization SIRET"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "LLE_INFORMATION3",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORG_SIRET",
              "FND_ACFF_SegmentName": "ORG_SIRET",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_REPORTING_CODE": {
            "title": "Reporting Code",
            "maxLength": 150,
            "type": "string",
            "description": "Reporting Code",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Reporting Code"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "LLE_INFORMATION2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "REPORTING_CODE",
              "FND_ACFF_SegmentName": "REPORTING_CODE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FEEO1_5FINFORMATIONprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_US_EEO1_INFORMATION",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "headquartersEstablishment": {
            "title": "Headquarters Establishment",
            "maxLength": 150,
            "type": "string",
            "description": "Headquarters Establishment",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "headquartersEstablishment_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "headquartersEstablishment",
              "FND_ACFF_SegmentName": "HEADQUARTER_ESTABLISHMENT",
              "help": {
                "instruction": "Headquarters Establishment"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "LLE_INFORMATION9",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "HEADQUARTER_ESTABLISHMENT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "headquartersEstablishment_Display": {
            "title": "Headquarters Establishment",
            "type": "string",
            "description": "Headquarters Establishment",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "headquartersEstablishment",
              "help": {
                "instruction": "Headquarters Establishment"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FLOC_5FEEO_5FVETS_5FINFprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_US_LOC_EEO_VETS_INF",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "_HR_REPORTING_LOCATION": {
            "title": "HR Reporting Location",
            "maxLength": 150,
            "type": "string",
            "description": "HR Reporting Location",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_AkaAttrName": "_HR_REPORTING_LOCATION_DisplayValue",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_SegmentName": "HR_REPORTING_LOCATION",
              "help": {
                "instruction": "HR Reporting Location"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "LLE_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "HR_REPORTING_LOCATION",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HR_REPORTING_LOCATION_DisplayValue": {
            "title": "HR Reporting Location",
            "type": "string",
            "description": "HR Reporting Location",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "HR Reporting Location"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "_HR_REPORTING_LOCATION",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HR_REPORTING_PROXY": {
            "title": "HR Reporting Proxy",
            "type": "number",
            "description": "HR Reporting Proxy",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_HR_REPORTING_PROXY_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FlexClientVar_flex_vst_bind1_JT": "java.sql.Date",
              "FND_ACFF_SegmentName": "HR_REPORTING_PROXY",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "HR Reporting Proxy"
              },
              "FND_ACFF_ValueSetInfo": "HRX_US_REP_LOCATION#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "LLE_INFORMATION_NUMBER1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "HR_REPORTING_PROXY",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_HR_REPORTING_PROXY_Display": {
            "title": "HR Reporting Proxy",
            "type": "string",
            "description": "HR Reporting Proxy",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_HR_REPORTING_PROXY",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "help": {
                "instruction": "HR Reporting Proxy"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.EFFECTIVE_START_DATE",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind1_JT": "java.sql.Date",
              "FlexClientVsBindVars": "flex_vst_bind1",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FMWS_5FINFORMATIONprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_US_MWS_INFORMATION",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "_MWS_COMMENT": {
            "title": "Comment",
            "maxLength": 150,
            "type": "string",
            "description": "Comment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Comment"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "LLE_INFORMATION7",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "MWS_COMMENT",
              "FND_ACFF_SegmentName": "MWS_COMMENT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_MWS_REPORTING_DESC": {
            "title": "Worksite Description",
            "maxLength": 150,
            "type": "string",
            "description": "Worksite Description",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Worksite Description"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_35#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "35",
              "FND_ACFF_ColumnName": "LLE_INFORMATION2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "MWS_REPORTING_DESC",
              "FND_ACFF_SegmentName": "MWS_REPORTING_DESC",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_MWS_REPORTING_INCLUDE": {
            "title": "Include for Reporting",
            "maxLength": 150,
            "type": "string",
            "description": "Include for Reporting",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_AkaAttrName": "_MWS_REPORTING_INCLUDE_DisplayValue",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_SegmentName": "MWS_REPORTING_INCLUDE",
              "help": {
                "instruction": "Include for Reporting"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "choice",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "ATTRIBUTE1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "MWS_REPORTING_INCLUDE",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_MWS_REPORTING_INCLUDE_DisplayValue": {
            "title": "Include for Reporting",
            "type": "string",
            "description": "Include for Reporting",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Include for Reporting"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "_MWS_REPORTING_INCLUDE",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "DROP_DOWN_LIST"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_MWS_REPORTING_NAME": {
            "title": "Trade Name",
            "maxLength": 150,
            "type": "string",
            "description": "Trade Name",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Trade Name"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_35#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "35",
              "FND_ACFF_ColumnName": "LLE_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "MWS_REPORTING_NAME",
              "FND_ACFF_SegmentName": "MWS_REPORTING_NAME",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_MWS_UNIT_NUMBER": {
            "title": "Unit Number",
            "maxLength": 150,
            "type": "string",
            "description": "Unit Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Unit Number"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_US_CHAR_21#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "21",
              "FND_ACFF_ColumnName": "LLE_INFORMATION3",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "MWS_UNIT_NUMBER",
              "FND_ACFF_SegmentName": "MWS_UNIT_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FPA_5FPSD_5FINFORMATIONprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_US_PA_PSD_INFORMATION",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "_PA_NONRESIDENT_EIT_RATE": {
            "title": "Nonresident EIT Rate for Pennsylvania Work Location",
            "maxLength": 150,
            "type": "string",
            "description": "Nonresident EIT Rate for Pennsylvania Work Location",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Nonresident EIT Rate for Pennsylvania Work Location"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_10#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_BI_Disabled": "Y",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "10",
              "FND_ACFF_ColumnName": "LLE_INFORMATION2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "PA_NONRESIDENT_EIT_RATE",
              "FND_ACFF_SegmentName": "PA_NONRESIDENT_EIT_RATE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PA_WORK_PSD_CODE": {
            "title": "PSD Code for Pennsylvania Work Location",
            "maxLength": 150,
            "type": "string",
            "description": "PSD Code for Pennsylvania Work Location",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_PA_WORK_PSD_CODE_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_BI_Disabled": "Y",
              "FND_ACFF_SegmentName": "PA_WORK_PSD_CODE",
              "help": {
                "instruction": "PSD Code for Pennsylvania Work Location"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_US_PA_PSD#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "LLE_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "PA_WORK_PSD_CODE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_PA_WORK_PSD_CODE_Display": {
            "title": "PSD Code for Pennsylvania Work Location",
            "type": "string",
            "description": "PSD Code for Pennsylvania Work Location",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_PA_WORK_PSD_CODE",
              "help": {
                "instruction": "PSD Code for Pennsylvania Work Location"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "locationsV2-locationLegislativeEFF-LocationLegislativeHRX_5FUS_5FREPORTING_5FINFORMATIONprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdateDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LegislationCode": {
            "maxLength": 30,
            "type": "string",
            "nullable": false,
            "default": "LleInformationCategory",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LleInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_US_REPORTING_INFORMATION",
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LocationId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.locationServiceV2.LocationUserKey\");"
            }
          },
          "LocationLegId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.locations.model.view.LocationLegislativeEFFUserKeyVO\",\"LocationId;SequenceNumber;LleInformationCategory\",\"LocationLegId\");",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "SequenceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 8
            }
          },
          "_DUNS_NUMBER": {
            "title": "D-U-N-S Number",
            "maxLength": 150,
            "type": "string",
            "description": "D-U-N-S Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "D-U-N-S Number"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_9#FORMAT_ONLY",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "9",
              "FND_ACFF_ColumnName": "LLE_INFORMATION4",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "DUNS_NUMBER",
              "FND_ACFF_SegmentName": "DUNS_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_GOVERNMENT_CONTRACTOR": {
            "title": "Government Contractor",
            "maxLength": 150,
            "type": "string",
            "description": "Government Contractor",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_GOVERNMENT_CONTRACTOR_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_BI_Disabled": "Y",
              "FND_ACFF_SegmentName": "GOVERNMENT_CONTRACTOR",
              "help": {
                "instruction": "Government Contractor"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "LLE_INFORMATION2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "GOVERNMENT_CONTRACTOR",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_GOVERNMENT_CONTRACTOR_Display": {
            "title": "Government Contractor",
            "type": "string",
            "description": "Government Contractor",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_GOVERNMENT_CONTRACTOR",
              "help": {
                "instruction": "Government Contractor"
              },
              "controlType": "combo_lov",
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_NAICS_NUMBER": {
            "title": "NAICS Number",
            "maxLength": 150,
[...]
