{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - My Job Applications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingMyJobApplications": {
      "get": {
        "tags": [
          "My Job Applications"
        ],
        "summary": "Get all my job applications in opportunity marketplace",
        "operationId": "getall_recruitingMyJobApplications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Action; string; Action performed on the job application in opportunity marketplace.</li><li>ActionResponseMessage; string; Response message for a job application in opportunity marketplace.</li><li>ActiveFlag; boolean; Indicates whether the job application is active in opportunity marketplace. Default value is 1.</li><li>ConfirmedFlag; boolean; Indicates whether the job application is confirmed in opportunity marketplace. No default value.</li><li>HiringManager; string; Hiring manager in opportunity marketplace.</li><li>HiringManagerPersonId; string; Hiring manager person ID in opportunity marketplace.</li><li>JobFunction; string; Job function of the employee in Opportunity Marketplace.</li><li>OfferId; integer; Job offer ID in opportunity marketplace.</li><li>Organization; string; Organization name in opportunity marketplace.</li><li>OtherJobLocationCount; integer; Count of the other job locations in opportunity marketplace.</li><li>PipelineRequisitionFlag; boolean; Indicates whether the job application is a pipeline job application. Default value in 0.</li><li>PipelineSubmissionId; integer; Pipeline job application ID in opportunity marketplace.</li><li>PreferredLanguage; string; Preferred language of the job application in opportunity marketplace.</li><li>PrimaryJobLocation; string; Primary job location in opportunity marketplace.</li><li>PrimaryWorkLocation; string; Primary work location in Opportunity Marketplace.</li><li>ProposedStartDateLabelFlag; boolean; Indicates whether the proposed start date is displayed in opportunity marketplace. No default value</li><li>RemoteOpportunity; string; Remote opportunity indicator in Opportunity Marketplace.</li><li>RequisitionNumber; string; Job requisition number in opportunity marketplace.</li><li>ShowJobActionFlag; boolean; Indicates whether the view job details action is displayed in opportunity marketplace. Default value is 1.</li><li>ShowOfferActionFlag; boolean; Indicates whether the view offer action is displayed in opportunity marketplace. Default value is 0.</li><li>ShowWithdrawActionFlag; boolean; Indicates whether the withdraw job application action is displayed in opportunity marketplace. Default value is 1.</li><li>StartDate; string; Candidate start date in opportunity marketplace.</li><li>Status; string; Job application status in opportunity marketplace.</li><li>SubmissionDate; string; Job application submission date in opportunity marketplace.</li><li>SubmissionId; integer; Job application ID in opportunity marketplace.</li><li>Title; string; Job title in opportunity marketplace.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the list of my job applications in opportunity marketplace using a unique ID. <br>Finder Variables <ul><li>SubmissionId; integer;  Job Application ID of the job application in opportunity marketplace. </li></ul></li><li>findMyJobApplications Finds the list of my job applications in opportunity marketplace. <br>Finder Variables <ul><li>active; boolean;  Active or inactive job applications in opportunity marketplace. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the list of my job applications in opportunity marketplace using a unique ID.",
                "properties": {
                  "SubmissionId": {
                    "nullable": true,
                    "description": "Job Application ID of the job application in opportunity marketplace.",
                    "type": "integer",
                    "title": "Job Application ID"
                  }
                }
              },
              {
                "name": "findMyJobApplications",
                "description": "Finds the list of my job applications in opportunity marketplace.",
                "title": "findMyJobApplications",
                "properties": {
                  "active": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Active or inactive job applications in opportunity marketplace.",
                    "type": "boolean"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMyJobApplications"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingMyJobApplications-get",
        "x-filename-id": "recruitingmyjobapplications-get"
      },
      "post": {
        "tags": [
          "My Job Applications"
        ],
        "summary": "Create a job application in opportunity marketplace",
        "operationId": "create_recruitingMyJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingMyJobApplications-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMyJobApplications-item-response"
                }
              }
            },
            "links": {
              "UnscheduledInterviewRequests": {
                "operationRef": "#/paths/~1recruitingMyJobApplications~1{SubmissionId}~1child~1UnscheduledInterviewRequests/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests."
              },
              "SubmissionScheduledInterviews": {
                "operationRef": "#/paths/~1recruitingMyJobApplications~1{SubmissionId}~1child~1SubmissionScheduledInterviews/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The SubmissionScheduleInterviews resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the interview schedule requests."
              }
            }
          }
        },
        "x-internal-id": "recruitingMyJobApplications-post",
        "x-filename-id": "recruitingmyjobapplications-post"
      }
    },
    "/recruitingMyJobApplications/{SubmissionId}": {
      "get": {
        "tags": [
          "My Job Applications"
        ],
        "summary": "Get one of my job application in opportunity marketplace",
        "operationId": "get_recruitingMyJobApplications",
        "parameters": [
          {
            "name": "SubmissionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Interview Submission ID",
              "type": "integer",
              "description": "Job application ID for the scheduled interview in opportunity marketplace.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMyJobApplications-item-response"
                }
              }
            },
            "links": {
              "UnscheduledInterviewRequests": {
                "operationRef": "#/paths/~1recruitingMyJobApplications~1{SubmissionId}~1child~1UnscheduledInterviewRequests/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests."
              },
              "SubmissionScheduledInterviews": {
                "operationRef": "#/paths/~1recruitingMyJobApplications~1{SubmissionId}~1child~1SubmissionScheduledInterviews/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The SubmissionScheduleInterviews resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the interview schedule requests."
              }
            }
          }
        },
        "x-internal-id": "recruitingMyJobApplications-{SubmissionId}-get",
        "x-filename-id": "recruitingmyjobapplications-submissionid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingMyJobApplications": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingMyJobApplications-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingMyJobApplications-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "title": "Action List",
            "type": "string",
            "description": "Action performed on the job application in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "ActionResponseMessage": {
            "title": "Action Response",
            "type": "string",
            "description": "Response message for a job application in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "ActiveFlag": {
            "title": "Job Active Flag",
            "type": "boolean",
            "description": "Indicates whether the job application is active in opportunity marketplace. Default value is 1.",
            "nullable": true,
            "x-queryable": true
          },
          "ConfirmedFlag": {
            "title": "Job Confirmed Flag",
            "type": "boolean",
            "description": "Indicates whether the job application is confirmed in opportunity marketplace. No default value.",
            "nullable": true,
            "x-queryable": true
          },
          "HiringManager": {
            "title": "Hiring Manager",
            "type": "string",
            "description": "Hiring manager in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "HiringManagerPersonId": {
            "title": "Hiring Manager ID",
            "type": "string",
            "description": "Hiring manager person ID in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "JobFunction": {
            "title": "Job Function",
            "maxLength": 255,
            "type": "string",
            "description": "Job function of the employee in Opportunity Marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "OfferId": {
            "title": "Offer ID",
            "type": "integer",
            "description": "Job offer ID in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "Organization": {
            "title": "Organization Name",
            "type": "string",
            "description": "Organization name in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherJobLocationCount": {
            "title": "Number of Locations",
            "type": "integer",
            "description": "Count of the other job locations in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "PipelineRequisitionFlag": {
            "title": "Pipeline Requisition Flag",
            "type": "boolean",
            "description": "Indicates whether the job application is a pipeline job application. Default value in 0.",
            "nullable": true,
            "x-queryable": true
          },
          "PipelineSubmissionId": {
            "title": "Pipeline Job Submission ID",
            "type": "integer",
            "description": "Pipeline job application ID in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "PreferredLanguage": {
            "title": "Job Preferred Language",
            "type": "string",
            "description": "Preferred language of the job application in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryJobLocation": {
            "title": "Primary Job Location",
            "type": "string",
            "description": "Primary job location in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryWorkLocation": {
            "title": "Primary Work Location",
            "maxLength": 255,
            "type": "string",
            "description": "Primary work location in Opportunity Marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "ProposedStartDateLabelFlag": {
            "title": "Proposed Start Date",
            "type": "boolean",
            "description": "Indicates whether the proposed start date is displayed in opportunity marketplace. No default value",
            "nullable": true,
            "x-queryable": true
          },
          "RemoteOpportunity": {
            "title": "Remote Opportunity",
            "maxLength": 255,
            "type": "string",
            "description": "Remote opportunity indicator in Opportunity Marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "type": "string",
            "description": "Job requisition number in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "ShowJobActionFlag": {
            "title": "Job Action Flag",
            "type": "boolean",
            "description": "Indicates whether the view job details action is displayed in opportunity marketplace. Default value is 1.",
            "nullable": true,
            "x-queryable": true
          },
          "ShowOfferActionFlag": {
            "title": "Offer Action Flag",
            "type": "boolean",
            "description": "Indicates whether the view offer action is displayed in opportunity marketplace. Default value is 0.",
            "nullable": true,
            "x-queryable": true
          },
          "ShowWithdrawActionFlag": {
            "title": "Withdraw Flag",
            "type": "boolean",
            "description": "Indicates whether the withdraw job application action is displayed in opportunity marketplace. Default value is 1.",
            "nullable": true,
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Candidate start date in opportunity marketplace.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Application Status",
            "maxLength": 255,
            "type": "string",
            "description": "Job application status in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionDate": {
            "title": "Application Date",
            "type": "string",
            "description": "Job application submission date in opportunity marketplace.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "title": "Job Application ID",
            "type": "integer",
            "description": "Job application ID in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionScheduledInterviews": {
            "title": "Scheduled Interviews",
            "type": "array",
            "description": "The SubmissionScheduleInterviews resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the interview schedule requests.",
            "items": {
              "$ref": "#/components/schemas/recruitingMyJobApplications-SubmissionScheduledInterviews-item-response"
            }
          },
          "Title": {
            "title": "Requisition Title",
            "type": "string",
            "description": "Job title in opportunity marketplace.",
            "nullable": true,
            "x-queryable": true
          },
          "UnscheduledInterviewRequests": {
            "title": "Unscheduled Job Interviews",
            "type": "array",
            "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests.",
            "items": {
              "$ref": "#/components/schemas/recruitingMyJobApplications-UnscheduledInterviewRequests-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingMyJobApplications-SubmissionScheduledInterviews-item-response": {
        "type": "object",
        "properties": {
          "EndDate": {
            "title": "Interview End Date",
            "type": "string",
            "description": "End date of the scheduled interview in opportunity marketplace.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InterviewId": {
            "title": "Interview ID",
            "type": "integer",
            "description": "Interview ID in opportunity marketplace.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IntrvwRequestsId": {
            "title": "Interview Request ID",
            "type": "integer",
            "description": "Interview request ID in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IsScheduled": {
            "title": "Interview Scheduled",
            "maxLength": 1,
            "type": "string",
            "description": "Interview scheduled in opportunity marketplace.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleInterviewId": {
            "title": "Scheduled Interview ID",
            "type": "integer",
            "description": "Scheduled interview ID in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StartDate": {
            "title": "Interview Start Date",
            "type": "string",
            "description": "Start date of the interview in opportunity marketplace.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "title": "Interview Submission ID",
            "type": "integer",
            "description": "Job application ID for the scheduled interview in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingMyJobApplications-UnscheduledInterviewRequests-item-response": {
        "type": "object",
        "properties": {
          "InterviewId": {
            "title": "Interview ID",
            "type": "integer",
            "description": "ID assigned to each unscheduled interview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IntrvwRequestsId": {
            "title": "Interview Request ID",
            "type": "integer",
            "description": "ID assigned to each unscheduled interview request.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IntrvwRschldCount": {
            "title": "Number of Interview Reschedules",
            "type": "integer",
            "description": "Count of rescheduled interviews.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "IsRschldRqsted": {
            "title": "Reschedule Requested Flag",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if a reschedule of the interview is requested.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "IsSchedulable": {
            "title": "Can Schedule",
            "maxLength": 255,
            "type": "string",
            "description": "Indicates if the unscheduled interview can be scheduled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleId": {
            "title": "Interview Schedule ID",
            "type": "integer",
            "description": "Schedule ID assigned to each unscheduled interview request.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionId": {
            "title": "Interview Submission ID",
            "type": "integer",
            "description": "Job application ID assigned to each unscheduled interview request.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingMyJobApplications-item-post-request": {
        "type": "object",
        "properties": {
          "Action": {
            "title": "Action List",
            "type": "string",
            "description": "Action performed on the job application in opportunity marketplace.",
            "nullable": true
          },
          "ActionResponseMessage": {
            "title": "Action Response",
            "type": "string",
            "description": "Response message for a job application in opportunity marketplace.",
            "nullable": true
          },
          "ActiveFlag": {
            "title": "Job Active Flag",
            "type": "boolean",
            "description": "Indicates whether the job application is active in opportunity marketplace. Default value is 1.",
            "nullable": true
          },
          "ConfirmedFlag": {
            "title": "Job Confirmed Flag",
            "type": "boolean",
            "description": "Indicates whether the job application is confirmed in opportunity marketplace. No default value.",
            "nullable": true
          },
          "HiringManager": {
            "title": "Hiring Manager",
            "type": "string",
            "description": "Hiring manager in opportunity marketplace.",
            "nullable": true
          },
          "HiringManagerPersonId": {
            "title": "Hiring Manager ID",
            "type": "string",
            "description": "Hiring manager person ID in opportunity marketplace.",
            "nullable": true
          },
          "JobFunction": {
            "title": "Job Function",
            "maxLength": 255,
            "type": "string",
            "description": "Job function of the employee in Opportunity Marketplace.",
            "nullable": true
          },
          "OfferId": {
            "title": "Offer ID",
            "type": "integer",
            "description": "Job offer ID in opportunity marketplace.",
            "nullable": true
          },
          "Organization": {
            "title": "Organization Name",
            "type": "string",
            "description": "Organization name in opportunity marketplace.",
            "nullable": true
          },
          "OtherJobLocationCount": {
            "title": "Number of Locations",
            "type": "integer",
            "description": "Count of the other job locations in opportunity marketplace.",
            "nullable": true
          },
          "PipelineRequisitionFlag": {
            "title": "Pipeline Requisition Flag",
            "type": "boolean",
            "description": "Indicates whether the job application is a pipeline job application. Default value in 0.",
            "nullable": true
          },
          "PipelineSubmissionId": {
            "title": "Pipeline Job Submission ID",
            "type": "integer",
            "description": "Pipeline job application ID in opportunity marketplace.",
            "nullable": true
          },
          "PreferredLanguage": {
            "title": "Job Preferred Language",
            "type": "string",
            "description": "Preferred language of the job application in opportunity marketplace.",
            "nullable": true
          },
          "PrimaryJobLocation": {
            "title": "Primary Job Location",
            "type": "string",
            "description": "Primary job location in opportunity marketplace.",
            "nullable": true
          },
          "PrimaryWorkLocation": {
            "title": "Primary Work Location",
            "maxLength": 255,
            "type": "string",
            "description": "Primary work location in Opportunity Marketplace.",
            "nullable": true
          },
          "ProposedStartDateLabelFlag": {
            "title": "Proposed Start Date",
            "type": "boolean",
            "description": "Indicates whether the proposed start date is displayed in opportunity marketplace. No default value",
            "nullable": true
          },
          "RemoteOpportunity": {
            "title": "Remote Opportunity",
            "maxLength": 255,
            "type": "string",
            "description": "Remote opportunity indicator in Opportunity Marketplace.",
            "nullable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "type": "string",
            "description": "Job requisition number in opportunity marketplace.",
            "nullable": true
          },
          "ShowJobActionFlag": {
            "title": "Job Action Flag",
            "type": "boolean",
            "description": "Indicates whether the view job details action is displayed in opportunity marketplace. Default value is 1.",
            "nullable": true
          },
          "ShowOfferActionFlag": {
            "title": "Offer Action Flag",
            "type": "boolean",
            "description": "Indicates whether the view offer action is displayed in opportunity marketplace. Default value is 0.",
            "nullable": true
          },
          "ShowWithdrawActionFlag": {
            "title": "Withdraw Flag",
            "type": "boolean",
            "description": "Indicates whether the withdraw job application action is displayed in opportunity marketplace. Default value is 1.",
            "nullable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Candidate start date in opportunity marketplace.",
            "format": "date",
            "nullable": true
          },
          "Status": {
            "title": "Application Status",
            "maxLength": 255,
            "type": "string",
            "description": "Job application status in opportunity marketplace.",
            "nullable": true
          },
          "SubmissionDate": {
            "title": "Application Date",
            "type": "string",
            "description": "Job application submission date in opportunity marketplace.",
            "format": "date",
            "nullable": true
          },
          "SubmissionId": {
            "title": "Job Application ID",
            "type": "integer",
            "description": "Job application ID in opportunity marketplace.",
            "nullable": true
          },
          "SubmissionScheduledInterviews": {
            "title": "Scheduled Interviews",
            "type": "array",
            "description": "The SubmissionScheduleInterviews resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the interview schedule requests.",
            "items": {
              "$ref": "#/components/schemas/recruitingMyJobApplications-SubmissionScheduledInterviews-item-post-request"
            }
          },
          "Title": {
            "title": "Requisition Title",
            "type": "string",
            "description": "Job title in opportunity marketplace.",
            "nullable": true
          },
          "UnscheduledInterviewRequests": {
            "title": "Unscheduled Job Interviews",
            "type": "array",
            "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests.",
            "items": {
              "$ref": "#/components/schemas/recruitingMyJobApplications-UnscheduledInterviewRequests-item-post-request"
            }
          }
        }
      },
      "recruitingMyJobApplications-SubmissionScheduledInterviews-item-post-request": {
        "type": "object",
        "properties": {
          "InterviewId": {
            "title": "Interview ID",
            "type": "integer",
            "description": "Interview ID in opportunity marketplace.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "IntrvwRequestsId": {
            "title": "Interview Request ID",
            "type": "integer",
            "description": "Interview request ID in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "SubmissionId": {
            "title": "Interview Submission ID",
            "type": "integer",
            "description": "Job application ID for the scheduled interview in opportunity marketplace.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "recruitingMyJobApplications-UnscheduledInterviewRequests-item-post-request": {
        "type": "object",
        "properties": {}
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingMyJobApplications-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingMyJobApplications-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}