{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Nudge Plan Executions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/nudgePlanExecutions/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Nudge Plan Executions"
        ],
        "summary": "Find a nudge plan execution",
        "description": "Finds nudge plans execution based on the search criteria.",
        "operationId": "doall_findByAdvancedSearchQuery_nudgePlanExecutions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the nudge plan execution query result.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the nudge plan execution.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Fetch size limit for nudge plan execution query result.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the nudge plan execution keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the nudge plan execution search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the nudge plan execution search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the nudge plan execution search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query for a nudge plan execution is auto completed. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for a nudge plan execution search query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for a nudge plan execution search query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "nudgePlanExecutions-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "nudgeplanexecutions-action-findbyadvancedsearchquery-post"
      }
    },
    "/nudgePlanExecutions/{PlanExecutionId}": {
      "get": {
        "tags": [
          "Nudge Plan Executions"
        ],
        "summary": "Get a nudge plan execution",
        "operationId": "get_nudgePlanExecutions",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nudgePlanExecutions-item-response"
                }
              }
            },
            "links": {
              "findByAdvancedSearchForNudgeExecutionSummary": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1{PlanExecutionId}~1action~1findByAdvancedSearchForNudgeExecutionSummary/post",
                "parameters": {
                  "PlanExecutionId": "$request.path.PlanExecutionId"
                },
                "description": "Finds nudge plan execution summary based on the search criteria."
              },
              "findByAdvancedSearchForNudgeExecutionDetail": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1{PlanExecutionId}~1action~1findByAdvancedSearchForNudgeExecutionDetail/post",
                "parameters": {
                  "PlanExecutionId": "$request.path.PlanExecutionId"
                },
                "description": "Finds nudge plan execution detail based on the search criteria."
              },
              "nudgeCounts": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1{PlanExecutionId}~1child~1nudgeCounts/get",
                "parameters": {
                  "PlanExecutionId": "$request.path.PlanExecutionId"
                },
                "description": "The nudgeCounts resource provides the count of nudges executed in the nudge plan. It's a child of the nudgePlanExecutions resource."
              },
              "findByAdvancedSearchForObjectNudgeExecutionDetail": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1{PlanExecutionId}~1action~1findByAdvancedSearchForObjectNudgeExecutionDetail/post",
                "parameters": {
                  "PlanExecutionId": "$request.path.PlanExecutionId"
                },
                "description": "Finds object nudge execution detail based on the search criteria."
              },
              "objectNudges": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1{PlanExecutionId}~1child~1objectNudges/get",
                "parameters": {
                  "PlanExecutionId": "$request.path.PlanExecutionId"
                },
                "description": "The objectNudges resource provides all object nudges executed in the nudge plan. It's a child of the nudgePlanExecutions resource."
              },
              "nudges": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1{PlanExecutionId}~1child~1nudges/get",
                "parameters": {
                  "PlanExecutionId": "$request.path.PlanExecutionId"
                },
                "description": "The nudges resource provides all nudges executed in the nudge plan. It's a child of the nudgePlanExecutions resource."
              }
            }
          }
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-get",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-get"
      }
    },
    "/nudgePlanExecutions/{PlanExecutionId}/action/findByAdvancedSearchForNudgeExecutionSummary": {
      "post": {
        "tags": [
          "Nudge Plan Executions"
        ],
        "summary": "Find nudge plan execution summary",
        "description": "Finds nudge plan execution summary based on the search criteria.",
        "operationId": "do_findByAdvancedSearchForNudgeExecutionSummary_nudgePlanExecutions",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the nudge plan execution summary query result.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the nudge plan execution summary.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Fetch size limit for nudge plan execution summary query result.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the nudge plan execution summary keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the nudge plan execution summary search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the nudge plan execution summary search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the nudge plan execution summary search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query for a nudge plan execution summary is auto completed. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for a nudge plan execution summary search query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for a nudge plan execution summary search query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-action-findByAdvancedSearchForNudgeExecutionSummary-post",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-action-findbyadvancedsearchfornudgeexecutionsummary-post"
      }
    },
    "/nudgePlanExecutions": {
      "get": {
        "tags": [
          "Nudge Plan Executions"
        ],
        "summary": "Get all nudge plan executions",
        "operationId": "getall_nudgePlanExecutions",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EndDate; string; End date of the nudge plan.</li><li>ExecutionRequestId; integer; Unique identifier of the nudge plan execution request.</li><li>NudgePlanId; integer; Unique identifier of the nudge plan.</li><li>ObjectType; string; Object type of the nudge plan execution.</li><li>PlanExecutionId; integer; Unique identifier of the nudge plan execution.</li><li>PlanName; string; Name of the nudge plan.</li><li>RunType; string; Run type of the nudge plan execution.</li><li>StartDate; string; Start date of the nudge plan execution.</li><li>Status; string; Status of the nudge plan execution.</li><li>SubscriberCode; string; Subscriber code of the nudge plan execution.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all nudge plan executions that match the primary key specified. <br>Finder Variables <ul><li>PlanExecutionId; integer;  Unique identifier for finding the nudge plan execution. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all nudge plan executions that match the primary key specified.",
                "properties": {
                  "PlanExecutionId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for finding the nudge plan execution.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nudgePlanExecutions"
                }
              }
            },
            "links": {
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1nudgePlanExecutions~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds nudge plans execution based on the search criteria."
              }
            }
          }
        },
        "x-internal-id": "nudgePlanExecutions-get",
        "x-filename-id": "nudgeplanexecutions-get"
      }
    },
    "/nudgePlanExecutions/{PlanExecutionId}/action/findByAdvancedSearchForNudgeExecutionDetail": {
      "post": {
        "tags": [
          "Nudge Plan Executions"
        ],
        "summary": "Find nudge plan execution detail",
        "description": "Finds nudge plan execution detail based on the search criteria.",
        "operationId": "do_findByAdvancedSearchForNudgeExecutionDetail_nudgePlanExecutions",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the nudge plan execution detail result.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the nudge plan execution detail.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Fetch size limit for nudge plan execution detail query result.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the nudge plan execution detail keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the nudge plan execution detail search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the nudge plan execution detail search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the nudge plan execution detail search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query for a nudge plan execution detail is auto completed. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for a nudge plan execution detail search query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for a nudge plan execution detail search query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-action-findByAdvancedSearchForNudgeExecutionDetail-post",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-action-findbyadvancedsearchfornudgeexecutiondetail-post"
      }
    },
    "/nudgePlanExecutions/{PlanExecutionId}/action/findByAdvancedSearchForObjectNudgeExecutionDetail": {
      "post": {
        "tags": [
          "Nudge Plan Executions"
        ],
        "summary": "Find object nudge execution detail",
        "description": "Finds object nudge execution detail based on the search criteria.",
        "operationId": "do_findByAdvancedSearchForObjectNudgeExecutionDetail_nudgePlanExecutions",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Start range for the object nudge execution detail result.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Keyword query search for the object nudge execution detail.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Fetch size limit for object nudge execution detail query result.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the object nudge execution detail keyword query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the object nudge execution detail search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort order of the object nudge execution detail search results.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Display fields for the object nudge execution detail search response.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query for a object nudge execution detail is auto completed. Valid values are Yes and No. The default value is Yes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for an object nudge execution detail search query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for an object nudge execution detail search query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-action-findByAdvancedSearchForObjectNudgeExecutionDetail-post",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-action-findbyadvancedsearchforobjectnudgeexecutiondetail-post"
      }
    }
  },
  "components": {
    "schemas": {
      "nudgePlanExecutions-item-response": {
        "type": "object",
        "properties": {
          "EndDate": {
            "type": "string",
            "description": "End date of the nudge plan.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ExecutionRequestId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan execution request.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "NudgePlanId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Object type of the nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "default": "ORA_PERSON",
            "x-queryable": true
          },
          "PlanExecutionId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PlanName": {
            "maxLength": 120,
            "type": "string",
            "description": "Name of the nudge plan.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RunType": {
            "maxLength": 30,
            "type": "string",
            "description": "Run type of the nudge plan execution.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the nudge plan execution.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the nudge plan execution.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SubscriberCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Subscriber code of the nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "default": "PER",
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "nudgeCounts": {
            "title": "Nudge Counts",
            "type": "array",
            "description": "The nudgeCounts resource provides the count of nudges executed in the nudge plan. It's a child of the nudgePlanExecutions resource.",
            "items": {
              "$ref": "#/components/schemas/nudgePlanExecutions-nudgeCounts-item-response"
            }
          },
          "nudges": {
            "title": "Nudges",
            "type": "array",
            "description": "The nudges resource provides all nudges executed in the nudge plan. It's a child of the nudgePlanExecutions resource.",
            "items": {
              "$ref": "#/components/schemas/nudgePlanExecutions-nudges-item-response"
            }
          },
          "objectNudges": {
            "title": "Object Nudges",
            "type": "array",
            "description": "The objectNudges resource provides all object nudges executed in the nudge plan. It's a child of the nudgePlanExecutions resource.",
            "items": {
              "$ref": "#/components/schemas/nudgePlanExecutions-objectNudges-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "nudgePlanExecutions-nudgeCounts-item-response": {
        "type": "object",
        "properties": {
          "ErrorMessage": {
            "maxLength": 4000,
            "type": "string",
            "description": "Error message for nudge plan execution.",
            "nullable": true,
            "x-queryable": true
          },
          "ErrorStackTrace": {
            "type": "string",
            "description": "Error stack trace for nudge plan execution.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "NudgeCount": {
            "type": "integer",
            "description": "Nudge count in a nudge plan execution.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NudgeName": {
            "maxLength": 150,
            "type": "string",
            "description": "Name of the nudge plan in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PlanExecutionId": {
            "type": "integer",
            "description": "Unique identifier of the nudge count in the nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PlanExecutionStatId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan execution status.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "PlanNudgeId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan in a nudge plan execution count.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the nudge count in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "nudgePlanExecutions-nudges-item-response": {
        "type": "object",
        "properties": {
          "AssigneeName": {
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the assignee of a nudge in a nudge plan execution.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssigneePersonId": {
            "type": "integer",
            "description": "Person identifier of the assignee of a nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier of the assignee of a nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the nudge in a nudge plan execution.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FirstPlanExecutionId": {
            "type": "integer",
            "description": "Unique identifier of the first nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastPlanExecutionId": {
            "type": "integer",
            "description": "Unique identifier of the last nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NudgeId": {
            "type": "integer",
            "description": "Unique identifier of the nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "NudgeKey": {
            "maxLength": 240,
            "type": "string",
            "description": "Unique key of the nudge in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "NudgeName": {
            "maxLength": 150,
            "type": "string",
            "description": "Name of the nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "NudgePlanId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NudgeTypeCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Nudge type code in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "NudgeTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Nudge type meaning in a nudge plan execution.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PlanNudgeId": {
            "type": "integer",
            "description": "Unique identifier of the nudge plan in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ProductCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Product code of the nudge.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "channels": {
            "title": "Channels",
            "type": "array",
            "description": "The channels resource provides all the channels through which a nudge is triggered. It's a child of the nudges resource.",
            "items": {
              "$ref": "#/components/schemas/nudgePlanExecutions-nudges-channels-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "nudgePlanExecutions-nudges-channels-item-response": {
        "type": "object",
        "properties": {
          "ChannelType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of the channel.",
            "nullable": false,
            "x-queryable": true
          },
          "ChannelTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the channel type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the channel in a nudge plan execution.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ErrorDetails": {
            "maxLength": 4000,
            "type": "string",
            "description": "Error details of the nudge channel.",
            "nullable": true,
            "x-queryable": true
          },
          "NudgeChannelDetailId": {
            "type": "integer",
            "description": "Unique identifier of the nudge channel.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "NudgeId": {
            "type": "integer",
            "description": "Unique identifier of the nudge.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecipientPersonId": {
            "type": "integer",
            "description": "Person identifier of recipient of a nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecipientPersonName": {
            "maxLength": 240,
            "type": "string",
            "description": "Person name of recipient of a nudge in a nudge plan execution.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecipientType": {
            "maxLength": 30,
            "type": "string",
            "description": "Recipient type of a nudge in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "RecipientTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Recipient type meaning of a nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the channel in a nudge plan execution.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the nudge channel in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the channel status of a nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkflowInstance": {
            "maxLength": 120,
            "type": "string",
            "description": "Workflow instance of the nudge channel in a nudge plan execution.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "nudgePlanExecutions-objectNudges-item-response": {
        "type": "object",
        "properties": {
          "FirstPlanExecutionId": {
            "type": "integer",
            "description": "Unique identifier of the first plan in an object nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "InitiatorPersonId": {
            "type": "integer",
            "description": "Person identifier of initiator of an object nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastPlanExecutionId": {
            "type": "integer",
            "description": "Unique identifier of the last plan in an object nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NudgeKey": {
            "maxLength": 240,
            "type": "string",
            "description": "Unique key of the object nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "NudgeName": {
            "maxLength": 150,
            "type": "string",
            "description": "Name of the object nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "NudgePlanId": {
            "type": "integer",
            "description": "Unique identifier of the object nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NudgeTypeCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Object nudge type code in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "NudgeTypeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Object nudge type meaning in a nudge plan execution.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Unique identifier of the object in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectNudgeId": {
            "type": "integer",
            "description": "Unique identifier of the object nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "PlanNudgeId": {
            "type": "integer",
            "description": "Unique identifier of the object nudge plan in a nudge plan execution.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "ProductCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Product code of the object nudge.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ProductCodeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Product code meaning of an object nudge.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "channels": {
            "title": "Channels",
            "type": "array",
            "description": "The channels resource provides all the channels through which a nudge is triggered. It's a child of the nudges resource.",
            "items": {
              "$ref": "#/components/schemas/nudgePlanExecutions-objectNudges-channels-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "nudgePlanExecutions-objectNudges-channels-item-response": {
        "type": "object",
        "properties": {
          "ChannelType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of the channel.",
            "nullable": false,
            "x-queryable": true
          },
          "ChannelTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the channel type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the channel in a nudge plan execution.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ErrorDetails": {
            "maxLength": 4000,
            "type": "string",
            "description": "Error details of the nudge channel.",
            "nullable": true,
            "x-queryable": true
          },
          "NudgeChannelDetailId": {
            "type": "integer",
            "description": "Unique identifier of the nudge channel.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "NudgeId": {
            "type": "integer",
            "description": "Unique identifier of the nudge.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecipientPersonId": {
            "type": "integer",
            "description": "Person identifier of recipient of a nudge in a nudge plan execution.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecipientPersonName": {
            "maxLength": 240,
            "type": "string",
            "description": "Person name of recipient of a nudge in a nudge plan execution.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecipientType": {
            "maxLength": 30,
            "type": "string",
            "description": "Recipient type of a nudge in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "RecipientTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Recipient type meaning of a nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the channel in a nudge plan execution.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Status of the nudge channel in a nudge plan execution.",
            "nullable": false,
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the channel status of a nudge in a nudge plan execution.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkflowInstance": {
            "maxLength": 120,
            "type": "string",
            "description": "Workflow instance of the nudge channel in a nudge plan execution.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "nudgePlanExecutions": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/nudgePlanExecutions-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}