{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Nudge Plan Executions/Nudge Counts/Large Object (LOB) Attributes - ErrorStackTrace",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/nudgePlanExecutions/{PlanExecutionId}/child/nudgeCounts/{PlanExecutionStatId}/enclosure/ErrorStackTrace": {
      "get": {
        "tags": [
          "Nudge Plan Executions/Nudge Counts/Large Object (LOB) Attributes - ErrorStackTrace"
        ],
        "summary": "Get an ErrorStackTrace",
        "description": "Get an ErrorStackTrace",
        "operationId": "get_nudgePlanExecutions-nudgeCounts-ErrorStackTrace",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "PlanExecutionStatId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution status.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-child-nudgeCounts-{PlanExecutionStatId}-enclosure-ErrorStackTrace-get",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-child-nudgecounts-planexecutionstatid-enclosure-errorstacktrace-get"
      },
      "put": {
        "tags": [
          "Nudge Plan Executions/Nudge Counts/Large Object (LOB) Attributes - ErrorStackTrace"
        ],
        "summary": "Replace an ErrorStackTrace",
        "description": "Replace an ErrorStackTrace",
        "operationId": "replace_nudgePlanExecutions-nudgeCounts-ErrorStackTrace",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "PlanExecutionStatId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution status.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-child-nudgeCounts-{PlanExecutionStatId}-enclosure-ErrorStackTrace-put",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-child-nudgecounts-planexecutionstatid-enclosure-errorstacktrace-put"
      },
      "delete": {
        "tags": [
          "Nudge Plan Executions/Nudge Counts/Large Object (LOB) Attributes - ErrorStackTrace"
        ],
        "summary": "Delete an ErrorStackTrace",
        "description": "Delete an ErrorStackTrace",
        "operationId": "delete_nudgePlanExecutions-nudgeCounts-ErrorStackTrace",
        "parameters": [
          {
            "name": "PlanExecutionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "PlanExecutionStatId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the nudge plan execution status.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "nudgePlanExecutions-{PlanExecutionId}-child-nudgeCounts-{PlanExecutionStatId}-enclosure-ErrorStackTrace-delete",
        "x-filename-id": "nudgeplanexecutions-planexecutionid-child-nudgecounts-planexecutionstatid-enclosure-errorstacktrace-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}