{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Payroll Relationships",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/payrollRelationships/{payrollRelationshipsUniqID}": {
      "get": {
        "tags": [
          "Payroll Relationships"
        ],
        "summary": "Get a payroll relationship",
        "operationId": "get_payrollRelationships",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships-item-response"
                }
              }
            },
            "links": {
              "payrollRelationshipDates": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollRelationshipDates/get",
                "parameters": {
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The payrollRelationshipDates resource is a child of the payrollRelationships resource. It includes a list of all element duration dates for the given payroll relationship."
              },
              "PayRelationshipsDDF": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1PayRelationshipsDDF/get",
                "parameters": {
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                }
              },
              "payrollAssignments": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments/get",
                "parameters": {
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The payrollAssignments resource is a child of the payrollRelationships resource.It includes a list of all payroll assignments for a given payroll relationship."
              }
            }
          }
        },
        "x-internal-id": "payrollRelationships-{payrollRelationshipsUniqID}-get",
        "x-filename-id": "payrollrelationships-payrollrelationshipsuniqid-get"
      },
      "patch": {
        "tags": [
          "Payroll Relationships"
        ],
        "summary": "Update a payroll relationship",
        "operationId": "update_payrollRelationships",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payrollRelationships-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships-item-response"
                }
              }
            },
            "links": {
              "payrollRelationshipDates": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollRelationshipDates/get",
                "parameters": {
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The payrollRelationshipDates resource is a child of the payrollRelationships resource. It includes a list of all element duration dates for the given payroll relationship."
              },
              "PayRelationshipsDDF": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1PayRelationshipsDDF/get",
                "parameters": {
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                }
              },
              "payrollAssignments": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments/get",
                "parameters": {
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The payrollAssignments resource is a child of the payrollRelationships resource.It includes a list of all payroll assignments for a given payroll relationship."
              }
            }
          }
        },
        "x-internal-id": "payrollRelationships-{payrollRelationshipsUniqID}-patch",
        "x-filename-id": "payrollrelationships-payrollrelationshipsuniqid-patch"
      }
    },
    "/payrollRelationships": {
      "get": {
        "tags": [
          "Payroll Relationships"
        ],
        "summary": "Get all payroll relationships",
        "operationId": "getall_payrollRelationships",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Country; string; Country of the person associated with the payroll relationship. This is derived based on the person's legislative data group.</li><li>EffectiveEndDate; string; Date at the end of the date range within which the payroll relationship is effective.</li><li>EffectiveStartDate; string; Date at the beginning of the date range within which the payroll relationship is effective.</li><li>EndDate; string; End date of the payroll relationship's date-effective record.</li><li>OverridingPeriodId; integer; Overtime period associated with the payroll relationship, such as the FLSA period for US employees.</li><li>PartyId; integer; Unique identifier used to capture the payment details for the person, such as bank account information. The party identifier is an entity of the trading community model.</li><li>PartyNumber; string; Unique identifier used to capture the payment details for the person, such as bank account information. The registry identifier is an entity of the trading community model.</li><li>PayrollRelationshipId; integer; Unique identifier used to retrieve the payroll relationship.</li><li>PayrollRelationshipNumber; string; Number assigned to a payroll relationship.</li><li>PersonNumber; string; Number of the person associated with the payroll relationship.</li><li>StartDate; string; Start date of the payroll relationship's date-effective record.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all payroll relationship attributes that match the specified primary key criteria. <br>Finder Variables <ul><li>EffectiveEndDate; string;  Date at the end of the date range within which the payroll relationship is effective. </li><li>EffectiveStartDate; string;  Date at the beginning of the date range within which the payroll relationship is effective. </li><li>PayrollRelationshipId; integer;  Unique identifier for the payroll relationship that's used to retrieve the payroll relationship record. </li></ul></li><li>findByAssignmentNumberPersonNumber Finds all payroll relationships based on the assignment number or person number. <br>Finder Variables <ul><li>AssignmentNumber; string;  Assignment number used to retrieve payroll relationships. </li><li>PersonNumber; string;  Person number used to retrieve payroll relationships. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findByPayrollRelationshipId Finds all payroll relationships based on the payroll relationship identifier. <br>Finder Variables <ul><li>PayrollRelationshipId; integer;  Unique identifier used to retrieve the payroll relationship. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all payroll relationship attributes that match the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the end of the date range within which the payroll relationship is effective.",
                    "readOnly": true,
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the beginning of the date range within which the payroll relationship is effective.",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "PayrollRelationshipId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the payroll relationship that's used to retrieve the payroll relationship record.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAssignmentNumberPersonNumber",
                "description": "Finds all payroll relationships based on the assignment number or person number.",
                "title": "findByAssignmentNumberPersonNumber",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person number used to retrieve payroll relationships.",
                    "type": "string"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "AssignmentNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Assignment number used to retrieve payroll relationships.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByPayrollRelationshipId",
                "description": "Finds all payroll relationships based on the payroll relationship identifier.",
                "title": "findByPayrollRelationshipId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "PayrollRelationshipId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier used to retrieve the payroll relationship.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships"
                }
              }
            }
          }
        },
        "x-internal-id": "payrollRelationships-get",
        "x-filename-id": "payrollrelationships-get"
      }
    }
  },
  "components": {
    "schemas": {
      "payrollRelationships-item-response": {
        "type": "object",
        "properties": {
          "Country": {
            "title": "Country",
            "maxLength": 2,
            "type": "string",
            "description": "Country of the person associated with the payroll relationship. This is derived based on the person's legislative data group.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the date range within which the payroll relationship is effective.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the date range within which the payroll relationship is effective.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the payroll relationship's date-effective record.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "OverridingPeriodId": {
            "title": "Overtime Period",
            "type": "integer",
            "description": "Overtime period associated with the payroll relationship, such as the FLSA period for US employees.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PartyId": {
            "title": "Party ID",
            "type": "integer",
            "description": "Unique identifier used to capture the payment details for the person, such as bank account information. The party identifier is an entity of the trading community model.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PartyNumber": {
            "title": "Registry ID",
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier used to capture the payment details for the person, such as bank account information. The registry identifier is an entity of the trading community model.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PayRelationshipsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-PayRelationshipsDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "PayrollRelationshipId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve the payroll relationship.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "PayrollRelationshipNumber": {
            "title": "Relationship Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number assigned to a payroll relationship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number of the person associated with the payroll relationship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the payroll relationship's date-effective record.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "payrollAssignments": {
            "title": "Payroll Assignments",
            "type": "array",
            "description": "The payrollAssignments resource is a child of the payrollRelationships resource.It includes a list of all payroll assignments for a given payroll relationship.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-item-response"
            }
          },
          "payrollRelationshipDates": {
            "title": "Payroll Relationship Dates",
            "type": "array",
            "description": "The payrollRelationshipDates resource is a child of the payrollRelationships resource. It includes a list of all element duration dates for the given payroll relationship.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollRelationshipDates-item-response"
            }
          }
        }
      },
      "payrollRelationships-PayRelationshipsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "AE": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFAEVO-item-response",
            "SA": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFSAVO-item-response",
            "US": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFUSVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFAEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFSAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFUSVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFAEVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PayrollRelationshipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "_ACCOMMODATION_PROVIDED": {
            "title": "Accommodation Provided",
            "maxLength": 150,
            "type": "string",
            "description": "Accommodation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ACCOMMODATION_PROVIDED_Display",
              "help": {
                "instruction": "Accommodation Provided"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "REL_INFORMATION1",
              "FND_ACFF_SegmentName": "ACCOMMODATION_PROVIDED",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ACCOMMODATION_PROVIDED_Display": {
            "title": "Accommodation Provided",
            "type": "string",
            "description": "Accommodation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ACCOMMODATION_PROVIDED",
              "help": {
                "instruction": "Accommodation Provided"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_AE_MOL_EMPLOYEE_ID": {
            "title": "MOHRE Employee ID",
            "maxLength": 150,
            "type": "string",
            "description": "MOHRE Employee ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "MOHRE Employee ID"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_AE_NUM_14#FORMAT_ONLY",
              "FND_ACFF_IsNumericOnly": "true",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "14",
              "FND_ACFF_ColumnName": "REL_INFORMATION3",
              "FND_ACFF_SegmentName": "ORA_HRX_AE_MOL_EMPLOYEE_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ORA_HRX_AE_WPS_ACCOUNT_NUMBER": {
            "title": "WPS Account Number",
            "maxLength": 150,
            "type": "string",
            "description": "WPS Account Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "WPS Account Number"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_AE_NUM_16#FORMAT_ONLY",
              "FND_ACFF_IsNumericOnly": "true",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "1000000000000000",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "16",
              "FND_ACFF_ColumnName": "REL_INFORMATION4",
              "FND_ACFF_MaximumValue": "9999999999999999",
              "FND_ACFF_SegmentName": "ORA_HRX_AE_WPS_ACCOUNT_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_TRANSPORTATION_PROVIDED": {
            "title": "Transportation Provided",
            "maxLength": 150,
            "type": "string",
            "description": "Transportation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_TRANSPORTATION_PROVIDED_Display",
              "help": {
                "instruction": "Transportation Provided"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "REL_INFORMATION2",
              "FND_ACFF_SegmentName": "TRANSPORTATION_PROVIDED",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_TRANSPORTATION_PROVIDED_Display": {
            "title": "Transportation Provided",
            "type": "string",
            "description": "Transportation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_TRANSPORTATION_PROVIDED",
              "help": {
                "instruction": "Transportation Provided"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "AE",
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "PER_TERRITORY_CODE#TABLE",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "wpsAgentEmployeeId": {
            "title": "WPS Agent Employee ID",
            "maxLength": 150,
            "type": "string",
            "description": "WPS Agent Employee ID",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "WPS Agent Employee ID"
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_AE_NUM_9#FORMAT_ONLY",
              "FND_ACFF_IsNumericOnly": "true",
              "includeInCompactView": true,
              "FND_ACFF_MinimumValue": "100000000",
              "FND_ACFF_OpenIdentifier": "wpsAgentEmployeeId",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "9",
              "FND_ACFF_ColumnName": "REL_INFORMATION5",
              "FND_ACFF_MaximumValue": "999999999",
              "FND_ACFF_SegmentName": "ORA_HRX_AE_WPS_Agent_Empl_ID",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFSAVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PayrollRelationshipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "_ACCOMMODATION_PROVIDED": {
            "title": "Accommodation Provided",
            "maxLength": 150,
            "type": "string",
            "description": "Accommodation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_ACCOMMODATION_PROVIDED_Display",
              "help": {
                "instruction": "Accommodation Provided"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "REL_INFORMATION1",
              "FND_ACFF_SegmentName": "ACCOMMODATION_PROVIDED",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_ACCOMMODATION_PROVIDED_Display": {
            "title": "Accommodation Provided",
            "type": "string",
            "description": "Accommodation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_ACCOMMODATION_PROVIDED",
              "help": {
                "instruction": "Accommodation Provided"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_TRANSPORTATION_PROVIDED": {
            "title": "Transportation Provided",
            "maxLength": 150,
            "type": "string",
            "description": "Transportation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "_TRANSPORTATION_PROVIDED_Display",
              "help": {
                "instruction": "Transportation Provided"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "REL_INFORMATION2",
              "FND_ACFF_SegmentName": "TRANSPORTATION_PROVIDED",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "_TRANSPORTATION_PROVIDED_Display": {
            "title": "Transportation Provided",
            "type": "string",
            "description": "Transportation Provided",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "_TRANSPORTATION_PROVIDED",
              "help": {
                "instruction": "Transportation Provided"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "SA",
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "PER_TERRITORY_CODE#TABLE",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipInformation_view_PayRelationshipsDDFUSVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "PayrollRelationshipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "US",
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "PER_TERRITORY_CODE#TABLE",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "overtimeStatus": {
            "title": "Overtime Status",
            "maxLength": 150,
            "type": "string",
            "description": "Overtime Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "overtimeStatus_Display",
              "help": {
                "instruction": "Overtime Status"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_US_FLSA_CATEGORY#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "overtimeStatus",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "REL_INFORMATION1",
              "FND_ACFF_SegmentName": "FLSA_STATUS",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "overtimeStatus_Display": {
            "title": "Overtime Status",
            "type": "string",
            "description": "Overtime Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "overtimeStatus",
              "help": {
                "instruction": "Overtime Status"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the assignment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number assigned to an assignment record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the date range within which the assignment is effective.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the date range within which the assignment is effective.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "OverridingPeriodId": {
            "title": "Overtime Period",
            "type": "integer",
            "description": "Overtime period associated with the assignment, such as the FLSA period for US employees.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PayrollRelationshipGroupsDDF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-PayrollRelationshipGroupsDDF-item-response"
            },
            "x-cardinality": "1"
          },
          "RelationshipGroupId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve the assignment record.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "TimeCardRequired": {
            "title": "Time Card Required",
            "maxLength": 20,
            "type": "string",
            "description": "Indicates whether the assignment must submit time cards for payroll purposes.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignedPayrolls": {
            "title": "Assigned Payrolls",
            "type": "array",
            "description": "The assignedPayrolls resource is a child of the payrollAssignments resource.It includes a list of all payrolls assigned for a given assignment.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "payrollAssignmentDates": {
            "title": "Payroll Assignment Dates",
            "type": "array",
            "description": "The payrollAssignmentDates resource is a child of the payrollAssignments resource. It includes a list of all element duration dates for a given payroll assignment.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-payrollAssignmentDates-item-response"
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-PayrollRelationshipGroupsDDF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "CA": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipGroupInformation_view_PayrollRelationshipGroupsDDFCAVO-item-response",
            "US": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipGroupInformation_view_PayrollRelationshipGroupsDDFUSVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipGroupInformation_view_PayrollRelationshipGroupsDDFCAVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipGroupInformation_view_PayrollRelationshipGroupsDDFUSVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_payrolls_registrations_flex_payrollRelationshipGroupInformation_view_PayrollRelationshipGroupsDDFCAVO-item-response": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true
            }
          },
          "RelationshipGroupId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "default": "CA",
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "PER_TERRITORY_CODE#TABLE",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "oraHrxCaIndianExemptStatus": {
            "title": "Indian Exempt Status",
            "maxLength": 150,
            "type": "string",
            "description": "Indian Exempt Status",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaIndianExemptStatus",
              "FND_ACFF_SegmentName": "INDIAN",
              "help": {
                "instruction": "Indian Exempt Status"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "REL_INFORMATION1",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmAsgAcct": {
            "title": "Provincial Medical Account Override",
            "maxLength": 150,
            "type": "string",
            "description": "Provincial Medical Account Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_PartialTarget": " oraHrxCaPmAsgProv oraHrxCaPmAsgProv",
              "FlexClientVar_flex_vst_bind3_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind11_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind11_RQ": "true",
              "FlexClientVar_flex_vst_bind7_JT": "java.sql.Date",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaPmAsgProv",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FlexClientVar_flex_vst_bind6_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind6_RQ": "true",
              "FlexClientVar_flex_vst_bind11_JT": "java.sql.Date",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "DISPLAYHINT": "Hide",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind12_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind6_JT": "java.sql.Date",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_ASG_ACCT",
              "FlexClientVar_flex_vst_bind12_RQ": "true",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "FlexClientVar_flex_vst_bind9_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PayrollRelationshipGroupId",
              "FND_ACFF_JavaType": "java.lang.String",
              "FlexClientVar_flex_vst_bind12_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind9_RQ": "true",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind6,flex_vst_bind7,flex_vst_bind8,flex_vst_bind9,flex_vst_bind1,flex_vst_bind2,flex_vst_bind11,flex_vst_bind10,flex_vst_bind13,flex_vst_bind12,flex_vst_bind14",
              "FlexClientVar_flex_vst_bind9_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_DisplayAttributeName": "oraHrxCaPmAsgAcct_Display",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmAsgAcct",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind13_RQ": "true",
              "FlexClientVar_flex_vst_bind13_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_PM_ACCOUNT#TABLE",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind13_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind8_RQ": "true",
              "FlexClientVar_flex_vst_bind8_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind14_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind14_RQ": "true",
              "FlexClientVar_flex_vst_bind10_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind8_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind10_RQ": "true",
              "help": {
                "instruction": "Provincial Medical Account Override"
              },
              "includeInCompactView": true,
              "FlexClientVar_flex_vst_bind14_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind3_VT": "SEGMENT.oraHrxCaPmAsgProv",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind7_RQ": "true",
              "FND_ACFF_ColumnName": "REL_INFORMATION6",
              "FlexClientVar_flex_vst_bind10_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind7_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaPmAsgProv"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmAsgAcct_Display": {
            "title": "Provincial Medical Account Override",
            "type": "string",
            "description": "Provincial Medical Account Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_PartialTarget": " oraHrxCaPmAsgProv oraHrxCaPmAsgProv",
              "FlexClientVar_flex_vst_bind3_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind11_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind11_RQ": "true",
              "FlexClientVar_flex_vst_bind7_JT": "java.sql.Date",
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaPmAsgProv",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FlexClientVar_flex_vst_bind6_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind6_RQ": "true",
              "FlexClientVar_flex_vst_bind11_JT": "java.sql.Date",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "FND_ACFF_SegmentAttributeName": "oraHrxCaPmAsgAcct",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind12_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind6_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind12_RQ": "true",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "FlexClientVar_flex_vst_bind9_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PayrollRelationshipGroupId",
              "FND_ACFF_JavaType": "java.lang.String",
              "FlexClientVar_flex_vst_bind12_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind9_RQ": "true",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind6,flex_vst_bind7,flex_vst_bind8,flex_vst_bind9,flex_vst_bind1,flex_vst_bind2,flex_vst_bind11,flex_vst_bind10,flex_vst_bind13,flex_vst_bind12,flex_vst_bind14",
              "FlexClientVar_flex_vst_bind9_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind13_RQ": "true",
              "FlexClientVar_flex_vst_bind13_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind13_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind8_RQ": "true",
              "FlexClientVar_flex_vst_bind8_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind14_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind14_RQ": "true",
              "FlexClientVar_flex_vst_bind10_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind8_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind10_RQ": "true",
              "help": {
                "instruction": "Provincial Medical Account Override"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientVar_flex_vst_bind14_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind3_VT": "SEGMENT.oraHrxCaPmAsgProv",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind7_RQ": "true",
              "FlexClientVar_flex_vst_bind10_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind7_VT": "PARAMETER.PayrollRelEffectiveStartDate"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmAsgProv": {
            "title": "Provincial Medical Province Override",
            "type": "number",
            "description": "Provincial Medical Province Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaPmAsgProv_Display",
              "FND_ACFF_IsReferenced": "true",
              "help": {
                "instruction": "Provincial Medical Province Override"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_PM_PROV_ASG#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmAsgProv",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "REL_INFORMATION_NUMBER2",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_ASG_PROV",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmAsgProv_Display": {
            "title": "Provincial Medical Province Override",
            "type": "string",
            "description": "Provincial Medical Province Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaPmAsgProv",
              "FND_ACFF_IsReferenced": "true",
              "help": {
                "instruction": "Provincial Medical Province Override"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPmExempt": {
            "title": "Provincial Medical Exempt",
            "maxLength": 150,
            "type": "string",
            "description": "Provincial Medical Exempt",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_CheckboxUncheckedValue": "N",
              "FND_ACFF_DV": "N",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPmExempt",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PM_EXEMPT",
              "help": {
                "instruction": "Provincial Medical Exempt"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "controlType": "check_box",
              "includeInCompactView": true,
              "FND_ACFF_DVT": "C",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_CheckboxCheckedValue": "Y",
              "FND_ACFF_ColumnName": "REL_INFORMATION5",
              "FND_ACFF_PreferredDisplayType": "CHECKBOX"
            },
            "x-oj": {
              "componentType": "oj-sp-flex-checkbox",
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaPrcntDutyOnResrv": {
            "title": "Percentage of Duties on a Reserve",
            "type": "number",
            "description": "Percentage of Duties on a Reserve",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_Scale": "2",
              "FND_ACFF_MinimumValue": "0.00",
              "FND_ACFF_InstructionText": "This field is applicable only when Indian Exempt Status is checked.",
              "FND_ACFF_OpenIdentifier": "oraHrxCaPrcntDutyOnResrv",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_PRCNT_DUTY_ON_RESRV",
              "FND_ACFF_Precision": "4",
              "help": {
                "instruction": "This field is applicable only when Indian Exempt Status is checked."
              },
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_NUMBER_4_2#FORMAT_ONLY",
              "includeInCompactView": true,
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "REL_INFORMATION_NUMBER4",
              "FND_ACFF_MaximumValue": "99.99",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaVacLiaAsgProv": {
            "title": "Vacation Liability Province Override",
            "type": "number",
            "description": "Vacation Liability Province Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaVacLiaAsgProv_Display",
              "help": {
                "instruction": "Vacation Liability Province Override"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "HRX_CA_PROVINCES#TABLE",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_OpenIdentifier": "oraHrxCaVacLiaAsgProv",
              "FND_ACFF_JavaType": "java.math.BigDecimal",
              "FND_ACFF_ColumnName": "REL_INFORMATION_NUMBER3",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_VAC_LIA_ASG_PROV",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaVacLiaAsgProv_Display": {
            "title": "Vacation Liability Province Override",
            "type": "string",
            "description": "Vacation Liability Province Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "oraHrxCaVacLiaAsgProv",
              "help": {
                "instruction": "Vacation Liability Province Override"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaWcAsgAcct": {
            "title": "Workers Compensation Account Override",
            "maxLength": 150,
            "type": "string",
            "description": "Workers Compensation Account Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaWcAsgAcct_Display",
              "FND_ACFF_IsReferenced": "true",
              "FND_ACFF_PartialTarget": " oraHrxCaWcAsgProv",
              "FND_ACFF_OpenIdentifier": "oraHrxCaWcAsgAcct",
              "FlexClientVar_flex_vst_bind3_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind7_JT": "java.sql.Date",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_WC_ACCOUNT#TABLE",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaWcAsgProv",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FlexClientVar_flex_vst_bind6_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind6_RQ": "true",
              "FlexClientVar_flex_vst_bind8_RQ": "true",
              "FlexClientVar_flex_vst_bind8_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "DISPLAYHINT": "Hide",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind6_JT": "java.sql.Date",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_WC_ASG_ACCT",
              "FlexClientVar_flex_vst_bind8_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "FlexClientVar_flex_vst_bind9_JT": "java.sql.Date",
              "help": {
                "instruction": "Workers Compensation Account Override"
              },
              "includeInCompactView": true,
              "FlexClientVar_flex_vst_bind3_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PayrollRelationshipGroupId",
              "FND_ACFF_JavaType": "java.lang.String",
              "FlexClientVar_flex_vst_bind7_RQ": "true",
              "FND_ACFF_ColumnName": "REL_INFORMATION3",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind7_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind9_RQ": "true",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind6,flex_vst_bind7,flex_vst_bind8,flex_vst_bind9,flex_vst_bind1,flex_vst_bind2",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaWcAsgProv",
              "FlexClientVar_flex_vst_bind9_VT": "PARAMETER.PayrollRelEffectiveStartDate"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaWcAsgAcct_Display": {
            "title": "Workers Compensation Account Override",
            "type": "string",
            "description": "Workers Compensation Account Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_IsReferenced": "true",
              "FND_ACFF_PartialTarget": " oraHrxCaWcAsgProv",
              "FlexClientVar_flex_vst_bind3_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind7_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientDisplayHint": "Hide",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaWcAsgProv",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FlexClientVar_flex_vst_bind6_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FlexClientVar_flex_vst_bind6_RQ": "true",
              "FlexClientVar_flex_vst_bind8_RQ": "true",
              "FlexClientVar_flex_vst_bind8_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "FND_ACFF_SegmentAttributeName": "oraHrxCaWcAsgAcct",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind6_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind8_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "FlexClientVar_flex_vst_bind9_JT": "java.sql.Date",
              "help": {
                "instruction": "Workers Compensation Account Override"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientVar_flex_vst_bind3_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PayrollRelationshipGroupId",
              "FND_ACFF_JavaType": "java.lang.String",
              "FlexClientVar_flex_vst_bind7_RQ": "true",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind7_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind9_RQ": "true",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind6,flex_vst_bind7,flex_vst_bind8,flex_vst_bind9,flex_vst_bind1,flex_vst_bind2",
              "FlexClientVar_flex_vst_bind9_VT": "PARAMETER.PayrollRelEffectiveStartDate"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaWcAsgClUnit": {
            "title": "Workers Compensation Classification Unit Override",
            "maxLength": 150,
            "type": "string",
            "description": "Workers Compensation Classification Unit Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "oraHrxCaWcAsgClUnit_Display",
              "FND_ACFF_PartialTarget": " oraHrxCaWcAsgProv oraHrxCaWcAsgAcct",
              "FND_ACFF_OpenIdentifier": "oraHrxCaWcAsgClUnit",
              "FlexClientVar_flex_vst_bind3_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind1_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind11_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind5_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind11_RQ": "true",
              "FlexClientVar_flex_vst_bind7_JT": "java.lang.String",
              "FND_ACFF_ValueSetInfo": "ORA_HRX_CA_WC_ASG_CL_UNIT#TABLE",
              "FlexClientVar_flex_vst_bind4_RQ": "true",
              "FlexClientDisplayHint": "Show",
              "FlexClientVar_flex_vst_bind4_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind2_VT": "SEGMENT.oraHrxCaWcAsgProv",
              "FlexClientVar_flex_vst_bind2_RQ": "true",
              "FlexClientVar_flex_vst_bind6_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind6_RQ": "true",
              "FlexClientVar_flex_vst_bind11_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind8_RQ": "true",
              "FlexClientVar_flex_vst_bind8_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FND_ACFF_PreferredDisplayType": "LOV",
              "DISPLAYHINT": "Hide",
              "FlexClientVar_flex_vst_bind4_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind2_JT": "java.math.BigDecimal",
              "FlexClientVar_flex_vst_bind6_JT": "java.sql.Date",
              "FND_ACFF_SegmentName": "ORA_HRX_CA_WC_ASG_CL_UNIT",
              "FlexClientVar_flex_vst_bind10_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind8_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind10_RQ": "true",
              "FlexClientVar_flex_vst_bind1_RQ": "true",
              "FlexClientVar_flex_vst_bind9_JT": "java.sql.Date",
              "help": {
                "instruction": "Workers Compensation Classification Unit Override"
              },
              "includeInCompactView": true,
              "FlexClientVar_flex_vst_bind3_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind5_RQ": "true",
              "FlexClientVar_flex_vst_bind3_RQ": "true",
              "FlexClientVar_flex_vst_bind1_VT": "PARAMETER.PayrollRelationshipGroupId",
              "FND_ACFF_JavaType": "java.lang.String",
              "FlexClientVar_flex_vst_bind7_RQ": "true",
              "FND_ACFF_ColumnName": "REL_INFORMATION4",
              "FlexClientVar_flex_vst_bind5_VT": "PARAMETER.PayrollRelEffectiveStartDate",
              "FlexClientVar_flex_vst_bind10_JT": "java.sql.Date",
              "FlexClientVar_flex_vst_bind7_VT": "SEGMENT.oraHrxCaWcAsgAcct",
              "FlexClientVar_flex_vst_bind9_RQ": "true",
              "FlexClientVsBindVars": "flex_vst_bind3,flex_vst_bind4,flex_vst_bind5,flex_vst_bind11,flex_vst_bind6,flex_vst_bind10,flex_vst_bind7,flex_vst_bind8,flex_vst_bind9,flex_vst_bind1,flex_vst_bind2",
              "FND_ACFF_DependsOnAttributes": "oraHrxCaWcAsgProv,oraHrxCaWcAsgAcct",
              "FlexClientVar_flex_vst_bind9_VT": "PARAMETER.PayrollRelEffectiveStartDate"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "oraHrxCaWcAsgClUnit_Display": {
            "title": "Workers Compensation Classification Unit Override",
            "type": "string",
            "description": "Workers Compensation Classification Unit Override",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_PartialTarget": " oraHrxCaWcAsgProv oraHrxCaWcAsgAcct",
              "FlexClientVar_flex_vst_bind3_JT": "java.sql.Date",
[...]
