{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Payroll Relationships/Payroll Assignments/Assigned Payrolls",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/payrollRelationships/{payrollRelationshipsUniqID}/child/payrollAssignments/{payrollAssignmentsUniqID}/child/assignedPayrolls": {
      "get": {
        "tags": [
          "Payroll Relationships/Payroll Assignments/Assigned Payrolls"
        ],
        "summary": "Get all assigned payrolls",
        "operationId": "getall_payrollRelationships-payrollAssignments-assignedPayrolls",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payrollAssignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Assignments resource and used to uniquely identify an instance of Payroll Assignments. The client should not generate the hash key value. Instead, the client should query on the Payroll Assignments collection resource in order to navigate to a specific instance of Payroll Assignments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignedPayrollId; integer; Unique identifier used to retrieve the assigned payroll record for an assignment.</li><li>EffectiveEndDate; string; Date at the end of the date range within which the payroll is effective.</li><li>EffectiveStartDate; string; Date at the beginning of the date range within which the payroll is effective.</li><li>EndDate; string; End date of the payroll assigned to the assignment.</li><li>Lsed; string; Last standard earning date of the payroll assigned to the assignment.</li><li>OverridingPeriodId; integer; Overtime period for all assignments associated to the payroll, such as the FLSA period for US employees.</li><li>PayrollId; integer; Unique identifier for the payroll, such as the weekly payroll.</li><li>PayrollName; string; Name of the assigned payroll.</li><li>StartDate; string; Start date of the payroll assigned to the assignment.</li><li>TimeCardRequired; string; Associated with all assignments for a given payroll. Indicates whether the assignment must submit time cards for payroll purposes.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all assigned payroll attributes that match the specified primary key criteria. <br>Finder Variables <ul><li>AssignedPayrollId; integer;  Unique identifier for the payroll that's used to retrieve the assigned payroll record. </li><li>EffectiveEndDate; string;  Date at the end of the date range within which the payroll that's associated with the assignment is effective. </li><li>EffectiveStartDate; string;  Date at the beginning of the date range within which the payroll that's associated with the assignment is effective. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all assigned payroll attributes that match the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the end of the date range within which the payroll that's associated with the assignment is effective.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "AssignedPayrollId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the payroll that's used to retrieve the assigned payroll record.",
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "format": "date",
                    "description": "Date at the beginning of the date range within which the payroll that's associated with the assignment is effective.",
                    "type": "string",
                    "title": "Effective Start Date"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls"
                }
              }
            }
          }
        },
        "x-internal-id": "payrollRelationships-{payrollRelationshipsUniqID}-child-payrollAssignments-{payrollAssignmentsUniqID}-child-assignedPayrolls-get",
        "x-filename-id": "payrollrelationships-payrollrelationshipsuniqid-child-payrollassignments-payrollassignmentsuniqid-child-assignedpayrolls-get"
      },
      "post": {
        "tags": [
          "Payroll Relationships/Payroll Assignments/Assigned Payrolls"
        ],
        "summary": "Create an assigned payroll",
        "operationId": "create_payrollRelationships-payrollAssignments-assignedPayrolls",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payrollAssignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Assignments resource and used to uniquely identify an instance of Payroll Assignments. The client should not generate the hash key value. Instead, the client should query on the Payroll Assignments collection resource in order to navigate to a specific instance of Payroll Assignments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payrollRelationships-payrollAssignments-assignedPayrolls-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-response"
                }
              }
            },
            "links": {
              "assignedPayrollDates": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments~1{payrollAssignmentsUniqID}~1child~1assignedPayrolls~1{assignedPayrollsUniqID}~1child~1assignedPayrollDates/get",
                "parameters": {
                  "payrollAssignmentsUniqID": "$request.path.payrollAssignmentsUniqID",
                  "assignedPayrollsUniqID": "$request.path.assignedPayrollsUniqID",
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The assignedPayrollDates resource is a child of the assignedPayrollDetails resource.It includes a list of all element duration dates for the given assigned payroll."
              },
              "TimeCardRequiredLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TimeCardRequired; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TimeCardRequired",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "transferPayroll": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments~1{payrollAssignmentsUniqID}~1child~1assignedPayrolls~1{assignedPayrollsUniqID}~1action~1transferPayroll/post",
                "parameters": {
                  "payrollAssignmentsUniqID": "$request.path.payrollAssignmentsUniqID",
                  "assignedPayrollsUniqID": "$request.path.assignedPayrollsUniqID",
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "Assigns the payroll of a person with the new payroll passed. The existing payroll assigned to the person is closed."
              }
            }
          }
        },
        "x-internal-id": "payrollRelationships-{payrollRelationshipsUniqID}-child-payrollAssignments-{payrollAssignmentsUniqID}-child-assignedPayrolls-post",
        "x-filename-id": "payrollrelationships-payrollrelationshipsuniqid-child-payrollassignments-payrollassignmentsuniqid-child-assignedpayrolls-post"
      }
    },
    "/payrollRelationships/{payrollRelationshipsUniqID}/child/payrollAssignments/{payrollAssignmentsUniqID}/child/assignedPayrolls/{assignedPayrollsUniqID}": {
      "get": {
        "tags": [
          "Payroll Relationships/Payroll Assignments/Assigned Payrolls"
        ],
        "summary": "Get an assigned payroll",
        "operationId": "get_payrollRelationships-payrollAssignments-assignedPayrolls",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payrollAssignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Assignments resource and used to uniquely identify an instance of Payroll Assignments. The client should not generate the hash key value. Instead, the client should query on the Payroll Assignments collection resource in order to navigate to a specific instance of Payroll Assignments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedPayrollsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Assigned Payrolls resource and used to uniquely identify an instance of Assigned Payrolls. The client should not generate the hash key value. Instead, the client should query on the Assigned Payrolls collection resource in order to navigate to a specific instance of Assigned Payrolls to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-response"
                }
              }
            },
            "links": {
              "assignedPayrollDates": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments~1{payrollAssignmentsUniqID}~1child~1assignedPayrolls~1{assignedPayrollsUniqID}~1child~1assignedPayrollDates/get",
                "parameters": {
                  "payrollAssignmentsUniqID": "$request.path.payrollAssignmentsUniqID",
                  "assignedPayrollsUniqID": "$request.path.assignedPayrollsUniqID",
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The assignedPayrollDates resource is a child of the assignedPayrollDetails resource.It includes a list of all element duration dates for the given assigned payroll."
              },
              "TimeCardRequiredLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TimeCardRequired; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TimeCardRequired",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "transferPayroll": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments~1{payrollAssignmentsUniqID}~1child~1assignedPayrolls~1{assignedPayrollsUniqID}~1action~1transferPayroll/post",
                "parameters": {
                  "payrollAssignmentsUniqID": "$request.path.payrollAssignmentsUniqID",
                  "assignedPayrollsUniqID": "$request.path.assignedPayrollsUniqID",
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "Assigns the payroll of a person with the new payroll passed. The existing payroll assigned to the person is closed."
              }
            }
          }
        },
        "x-internal-id": "{payrollRelationshipsUniqID}-child-payrollAssignments-{payrollAssignmentsUniqID}-child-assignedPayrolls-{assignedPayrollsUniqID}-get",
        "x-filename-id": "payrollrelationshipsuniqid-child-payrollassignments-payrollassignmentsuniqid-child-assignedpayrolls-assignedpayrollsuniqid-get"
      },
      "delete": {
        "tags": [
          "Payroll Relationships/Payroll Assignments/Assigned Payrolls"
        ],
        "summary": "Delete an assigned payroll",
        "operationId": "delete_payrollRelationships-payrollAssignments-assignedPayrolls",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payrollAssignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Assignments resource and used to uniquely identify an instance of Payroll Assignments. The client should not generate the hash key value. Instead, the client should query on the Payroll Assignments collection resource in order to navigate to a specific instance of Payroll Assignments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedPayrollsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Assigned Payrolls resource and used to uniquely identify an instance of Assigned Payrolls. The client should not generate the hash key value. Instead, the client should query on the Assigned Payrolls collection resource in order to navigate to a specific instance of Assigned Payrolls to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "{payrollRelationshipsUniqID}-child-payrollAssignments-{payrollAssignmentsUniqID}-child-assignedPayrolls-{assignedPayrollsUniqID}-delete",
        "x-filename-id": "payrollrelationshipsuniqid-child-payrollassignments-payrollassignmentsuniqid-child-assignedpayrolls-assignedpayrollsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Payroll Relationships/Payroll Assignments/Assigned Payrolls"
        ],
        "summary": "Update an assigned payroll",
        "operationId": "update_payrollRelationships-payrollAssignments-assignedPayrolls",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payrollAssignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Assignments resource and used to uniquely identify an instance of Payroll Assignments. The client should not generate the hash key value. Instead, the client should query on the Payroll Assignments collection resource in order to navigate to a specific instance of Payroll Assignments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedPayrollsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Assigned Payrolls resource and used to uniquely identify an instance of Assigned Payrolls. The client should not generate the hash key value. Instead, the client should query on the Assigned Payrolls collection resource in order to navigate to a specific instance of Assigned Payrolls to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payrollRelationships-payrollAssignments-assignedPayrolls-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-response"
                }
              }
            },
            "links": {
              "assignedPayrollDates": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments~1{payrollAssignmentsUniqID}~1child~1assignedPayrolls~1{assignedPayrollsUniqID}~1child~1assignedPayrollDates/get",
                "parameters": {
                  "payrollAssignmentsUniqID": "$request.path.payrollAssignmentsUniqID",
                  "assignedPayrollsUniqID": "$request.path.assignedPayrollsUniqID",
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "The assignedPayrollDates resource is a child of the assignedPayrollDetails resource.It includes a list of all element duration dates for the given assigned payroll."
              },
              "TimeCardRequiredLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DYES_NO"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TimeCardRequired; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TimeCardRequired",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "transferPayroll": {
                "operationRef": "#/paths/~1payrollRelationships~1{payrollRelationshipsUniqID}~1child~1payrollAssignments~1{payrollAssignmentsUniqID}~1child~1assignedPayrolls~1{assignedPayrollsUniqID}~1action~1transferPayroll/post",
                "parameters": {
                  "payrollAssignmentsUniqID": "$request.path.payrollAssignmentsUniqID",
                  "assignedPayrollsUniqID": "$request.path.assignedPayrollsUniqID",
                  "payrollRelationshipsUniqID": "$request.path.payrollRelationshipsUniqID"
                },
                "description": "Assigns the payroll of a person with the new payroll passed. The existing payroll assigned to the person is closed."
              }
            }
          }
        },
        "x-internal-id": "{payrollRelationshipsUniqID}-child-payrollAssignments-{payrollAssignmentsUniqID}-child-assignedPayrolls-{assignedPayrollsUniqID}-patch",
        "x-filename-id": "payrollrelationshipsuniqid-child-payrollassignments-payrollassignmentsuniqid-child-assignedpayrolls-assignedpayrollsuniqid-patch"
      }
    },
    "/payrollRelationships/{payrollRelationshipsUniqID}/child/payrollAssignments/{payrollAssignmentsUniqID}/child/assignedPayrolls/{assignedPayrollsUniqID}/action/transferPayroll": {
      "post": {
        "tags": [
          "Payroll Relationships/Payroll Assignments/Assigned Payrolls"
        ],
        "summary": "Transfer a payroll",
        "description": "Assigns the payroll of a person with the new payroll passed. The existing payroll assigned to the person is closed.",
        "operationId": "do_transferPayroll_payrollRelationships-payrollAssignments-assignedPayrolls",
        "parameters": [
          {
            "name": "payrollRelationshipsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Relationships resource and used to uniquely identify an instance of Payroll Relationships. The client should not generate the hash key value. Instead, the client should query on the Payroll Relationships collection resource in order to navigate to a specific instance of Payroll Relationships to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payrollAssignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Payroll Assignments resource and used to uniquely identify an instance of Payroll Assignments. The client should not generate the hash key value. Instead, the client should query on the Payroll Assignments collection resource in order to navigate to a specific instance of Payroll Assignments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedPayrollsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Assigned Payrolls resource and used to uniquely identify an instance of Assigned Payrolls. The client should not generate the hash key value. Instead, the client should query on the Assigned Payrolls collection resource in order to navigate to a specific instance of Assigned Payrolls to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "timeCardRequired": {
                    "type": "string",
                    "description": "Overtime period associated with the assigned payroll, such as the FLSA period for US employees",
                    "nullable": true
                  },
                  "overtimePeriodId": {
                    "type": "number",
                    "description": "Indicates whether the assigned payroll must submit time cards for payroll purposes",
                    "nullable": true
                  },
                  "payrollId": {
                    "type": "number",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start date of the new assigned payroll record",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "child-payrollAssignments-{payrollAssignmentsUniqID}-child-assignedPayrolls-{assignedPayrollsUniqID}-action-transferPayroll-post",
        "x-filename-id": "child-payrollassignments-payrollassignmentsuniqid-child-assignedpayrolls-assignedpayrollsuniqid-action-transferpayroll-post"
      }
    }
  },
  "components": {
    "schemas": {
      "payrollRelationships-payrollAssignments-assignedPayrolls": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-item-response": {
        "type": "object",
        "properties": {
          "AssignedPayrollId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve the assigned payroll record for an assignment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the date range within which the payroll is effective.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the date range within which the payroll is effective.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "Lsed": {
            "title": "Close Date",
            "type": "string",
            "description": "Last standard earning date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "OverridingPeriodId": {
            "title": "Overtime Period",
            "type": "integer",
            "description": "Overtime period for all assignments associated to the payroll, such as the FLSA period for US employees.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PayrollId": {
            "title": "Payroll",
            "type": "integer",
            "description": "Unique identifier for the payroll, such as the weekly payroll.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PayrollName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the assigned payroll.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "TimeCardRequired": {
            "title": "Time Card Required",
            "maxLength": 30,
            "type": "string",
            "description": "Associated with all assignments for a given payroll. Indicates whether the assignment must submit time cards for payroll purposes.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "assignedPayrollDates": {
            "title": "Assigned Payroll Dates",
            "type": "array",
            "description": "The assignedPayrollDates resource is a child of the assignedPayrollDetails resource.It includes a list of all element duration dates for the given assigned payroll.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-assignedPayrollDates-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-assignedPayrollDates-item-response": {
        "type": "object",
        "properties": {
          "DateValue": {
            "title": "Termination Rule",
            "type": "string",
            "description": "The date for the given time definition.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "DefinitionName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the time definition.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PayDateId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve a date, such as the payroll's last standard earnings date. The date is derived based on a time definition.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "ShortName": {
            "maxLength": 30,
            "type": "string",
            "description": "Short name of the time definition.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-item-post-request": {
        "required": [
          "EffectiveEndDate",
          "EffectiveStartDate",
          "EndDate",
          "PayrollId",
          "StartDate"
        ],
        "type": "object",
        "properties": {
          "AssignedPayrollId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve the assigned payroll record for an assignment.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the date range within which the payroll is effective.",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the date range within which the payroll is effective.",
            "format": "date",
            "nullable": false
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": false
          },
          "Lsed": {
            "title": "Close Date",
            "type": "string",
            "description": "Last standard earning date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": true
          },
          "OverridingPeriodId": {
            "title": "Overtime Period",
            "type": "integer",
            "description": "Overtime period for all assignments associated to the payroll, such as the FLSA period for US employees.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PayrollId": {
            "title": "Payroll",
            "type": "integer",
            "description": "Unique identifier for the payroll, such as the weekly payroll.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": false
          },
          "TimeCardRequired": {
            "title": "Time Card Required",
            "maxLength": 30,
            "type": "string",
            "description": "Associated with all assignments for a given payroll. Indicates whether the assignment must submit time cards for payroll purposes.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "assignedPayrollDates": {
            "title": "Assigned Payroll Dates",
            "type": "array",
            "description": "The assignedPayrollDates resource is a child of the assignedPayrollDetails resource.It includes a list of all element duration dates for the given assigned payroll.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-assignedPayrollDates-item-post-request"
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-assignedPayrollDates-item-post-request": {
        "type": "object",
        "properties": {
          "DateValue": {
            "title": "Termination Rule",
            "type": "string",
            "description": "The date for the given time definition.",
            "format": "date",
            "nullable": false
          },
          "PayDateId": {
            "type": "integer",
            "description": "Unique identifier used to retrieve a date, such as the payroll's last standard earnings date. The date is derived based on a time definition.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-item-patch-request": {
        "type": "object",
        "properties": {
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "Date at the end of the date range within which the payroll is effective.",
            "format": "date",
            "nullable": false
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Date at the beginning of the date range within which the payroll is effective.",
            "format": "date",
            "nullable": false
          },
          "Lsed": {
            "title": "Close Date",
            "type": "string",
            "description": "Last standard earning date of the payroll assigned to the assignment.",
            "format": "date",
            "nullable": true
          },
          "OverridingPeriodId": {
            "title": "Overtime Period",
            "type": "integer",
            "description": "Overtime period for all assignments associated to the payroll, such as the FLSA period for US employees.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "TimeCardRequired": {
            "title": "Time Card Required",
            "maxLength": 30,
            "type": "string",
            "description": "Associated with all assignments for a given payroll. Indicates whether the assignment must submit time cards for payroll purposes.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "assignedPayrollDates": {
            "title": "Assigned Payroll Dates",
            "type": "array",
            "description": "The assignedPayrollDates resource is a child of the assignedPayrollDetails resource.It includes a list of all element duration dates for the given assigned payroll.",
            "items": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-assignedPayrollDates-item-patch-request"
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-assignedPayrollDates-item-patch-request": {
        "type": "object",
        "properties": {
          "DateValue": {
            "title": "Termination Rule",
            "type": "string",
            "description": "The date for the given time definition.",
            "format": "date",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "payrollRelationships-payrollAssignments-assignedPayrolls-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-post-request"
            }
          }
        }
      },
      "payrollRelationships-payrollAssignments-assignedPayrolls-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/payrollRelationships-payrollAssignments-assignedPayrolls-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}