{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Performance Cycles/Performance Cycle Groups",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/perfCycles/{PerfCycleId}/child/perfCycleGroups/{PerfCycleGroupId}": {
      "get": {
        "tags": [
          "Performance Cycles/Performance Cycle Groups"
        ],
        "summary": "Get a performance cycle group",
        "operationId": "get_perfCycles-perfCycleGroups",
        "parameters": [
          {
            "name": "PerfCycleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "PerfCycleGroupId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle group.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/perfCycles-perfCycleGroups-item-response"
                }
              }
            },
            "links": {
              "perfCycleGroupObjects": {
                "operationRef": "#/paths/~1perfCycles~1{PerfCycleId}~1child~1perfCycleGroups~1{PerfCycleGroupId}~1child~1perfCycleGroupObjects/get",
                "parameters": {
                  "PerfCycleId": "$request.path.PerfCycleId",
                  "PerfCycleGroupId": "$request.path.PerfCycleGroupId"
                },
                "description": "The perfCycleGroupObjects resource is a child of the perfCycleGroups resource and provides all the objects associated with the performance cycle group. The objects can be individual goal plans of a group or individual check-ins of a group."
              },
              "perfCycleGroupPhases": {
                "operationRef": "#/paths/~1perfCycles~1{PerfCycleId}~1child~1perfCycleGroups~1{PerfCycleGroupId}~1child~1perfCycleGroupPhases/get",
                "parameters": {
                  "PerfCycleId": "$request.path.PerfCycleId",
                  "PerfCycleGroupId": "$request.path.PerfCycleGroupId"
                },
                "description": "The perfCycleGroupPhases resource is a child of the perfCycleGroups resource and provides all the phases associated with the performance cycle group."
              }
            }
          }
        },
        "x-internal-id": "perfCycles-{PerfCycleId}-child-perfCycleGroups-{PerfCycleGroupId}-get",
        "x-filename-id": "perfcycles-perfcycleid-child-perfcyclegroups-perfcyclegroupid-get"
      },
      "delete": {
        "tags": [
          "Performance Cycles/Performance Cycle Groups"
        ],
        "summary": "Delete a performance cycle group",
        "operationId": "delete_perfCycles-perfCycleGroups",
        "parameters": [
          {
            "name": "PerfCycleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "PerfCycleGroupId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle group.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "perfCycles-{PerfCycleId}-child-perfCycleGroups-{PerfCycleGroupId}-delete",
        "x-filename-id": "perfcycles-perfcycleid-child-perfcyclegroups-perfcyclegroupid-delete"
      },
      "patch": {
        "tags": [
          "Performance Cycles/Performance Cycle Groups"
        ],
        "summary": "Update a performance cycle group",
        "operationId": "update_perfCycles-perfCycleGroups",
        "parameters": [
          {
            "name": "PerfCycleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "PerfCycleGroupId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle group.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/perfCycles-perfCycleGroups-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/perfCycles-perfCycleGroups-item-response"
                }
              }
            },
            "links": {
              "perfCycleGroupObjects": {
                "operationRef": "#/paths/~1perfCycles~1{PerfCycleId}~1child~1perfCycleGroups~1{PerfCycleGroupId}~1child~1perfCycleGroupObjects/get",
                "parameters": {
                  "PerfCycleId": "$request.path.PerfCycleId",
                  "PerfCycleGroupId": "$request.path.PerfCycleGroupId"
                },
                "description": "The perfCycleGroupObjects resource is a child of the perfCycleGroups resource and provides all the objects associated with the performance cycle group. The objects can be individual goal plans of a group or individual check-ins of a group."
              },
              "perfCycleGroupPhases": {
                "operationRef": "#/paths/~1perfCycles~1{PerfCycleId}~1child~1perfCycleGroups~1{PerfCycleGroupId}~1child~1perfCycleGroupPhases/get",
                "parameters": {
                  "PerfCycleId": "$request.path.PerfCycleId",
                  "PerfCycleGroupId": "$request.path.PerfCycleGroupId"
                },
                "description": "The perfCycleGroupPhases resource is a child of the perfCycleGroups resource and provides all the phases associated with the performance cycle group."
              }
            }
          }
        },
        "x-internal-id": "perfCycles-{PerfCycleId}-child-perfCycleGroups-{PerfCycleGroupId}-patch",
        "x-filename-id": "perfcycles-perfcycleid-child-perfcyclegroups-perfcyclegroupid-patch"
      }
    },
    "/perfCycles/{PerfCycleId}/child/perfCycleGroups": {
      "get": {
        "tags": [
          "Performance Cycles/Performance Cycle Groups"
        ],
        "summary": "Get all performance cycle groups",
        "operationId": "getall_perfCycles-perfCycleGroups",
        "parameters": [
          {
            "name": "PerfCycleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreationDate; string; Date the performance cycle group was created.</li><li>LastUpdateDate; string; Date the performance cycle group was last updated.</li><li>ObjectType; string; Object type associated with the performance cycle group.</li><li>PerfCycleGroupId; integer; Unique identifier for the performance cycle group.</li><li>PerfCycleId; integer; Unique identifier for the performance cycle to which the performance cycle group belongs.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the performance cycle group that matches the primary key criteria specified. <br>Finder Variables <ul><li>PerfCycleGroupId; integer;  Unique identifier for the performance cycle group. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "PerfCycleGroupId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/perfCycles-perfCycleGroups"
                }
              }
            }
          }
        },
        "x-internal-id": "perfCycles-{PerfCycleId}-child-perfCycleGroups-get",
        "x-filename-id": "perfcycles-perfcycleid-child-perfcyclegroups-get"
      },
      "post": {
        "tags": [
          "Performance Cycles/Performance Cycle Groups"
        ],
        "summary": "Create a performance cycle group",
        "operationId": "create_perfCycles-perfCycleGroups",
        "parameters": [
          {
            "name": "PerfCycleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the performance cycle.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/perfCycles-perfCycleGroups-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/perfCycles-perfCycleGroups-item-response"
                }
              }
            },
            "links": {
              "perfCycleGroupObjects": {
                "operationRef": "#/paths/~1perfCycles~1{PerfCycleId}~1child~1perfCycleGroups~1{PerfCycleGroupId}~1child~1perfCycleGroupObjects/get",
                "parameters": {
                  "PerfCycleId": "$request.path.PerfCycleId",
                  "PerfCycleGroupId": "$request.path.PerfCycleGroupId"
                },
                "description": "The perfCycleGroupObjects resource is a child of the perfCycleGroups resource and provides all the objects associated with the performance cycle group. The objects can be individual goal plans of a group or individual check-ins of a group."
              },
              "perfCycleGroupPhases": {
                "operationRef": "#/paths/~1perfCycles~1{PerfCycleId}~1child~1perfCycleGroups~1{PerfCycleGroupId}~1child~1perfCycleGroupPhases/get",
                "parameters": {
                  "PerfCycleId": "$request.path.PerfCycleId",
                  "PerfCycleGroupId": "$request.path.PerfCycleGroupId"
                },
                "description": "The perfCycleGroupPhases resource is a child of the perfCycleGroups resource and provides all the phases associated with the performance cycle group."
              }
            }
          }
        },
        "x-internal-id": "perfCycles-{PerfCycleId}-child-perfCycleGroups-post",
        "x-filename-id": "perfcycles-perfcycleid-child-perfcyclegroups-post"
      }
    }
  },
  "components": {
    "schemas": {
      "perfCycles-perfCycleGroups-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "description": "Date the performance cycle group was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Object type associated with the performance cycle group.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "perfCycleGroupObjects": {
            "title": "Performance Cycle Group Objects",
            "type": "array",
            "description": "The perfCycleGroupObjects resource is a child of the perfCycleGroups resource and provides all the objects associated with the performance cycle group. The objects can be individual goal plans of a group or individual check-ins of a group.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-perfCycleGroupObjects-item-response"
            }
          },
          "perfCycleGroupPhases": {
            "title": "Performance Cycle Group Phases",
            "type": "array",
            "description": "The perfCycleGroupPhases resource is a child of the perfCycleGroups resource and provides all the phases associated with the performance cycle group.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-perfCycleGroupPhases-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PerfCycleId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle to which the performance cycle group belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the performance cycle group was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "perfCycles-perfCycleGroups-perfCycleGroupObjects-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "description": "Date the performance cycle group object was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PerfCycleObjectId": {
            "type": "integer",
            "description": "Unique identifier for the individual object that's part of the performance cycle group object. The identifier can be a goal plan ID or a check-in ID.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "description": "Unique identifier for the business group associated with the performance cycle group object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group to which the performance cycle group object belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the performance cycle group object was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-perfCycleGroupPhases-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "description": "Date the performance cycle group phase was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PerfCyclePhaseId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle phase to which the performance cycle group phase belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PhaseEndDate": {
            "type": "string",
            "description": "End date of the performance cycle group phase.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "description": "Unique identifier for the business group associated with the performance cycle group phase.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group to which the performance cycle group phase belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PhaseStartDate": {
            "type": "string",
            "description": "Start date of the performance cycle group phase.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PhaseCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that identifies the performance cycle group phase.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date the performance cycle group phase was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "perfCycles-perfCycleGroups-item-patch-request": {
        "required": [
          "ObjectType",
          "PerfCycleGroupId",
          "PerfCycleId"
        ],
        "type": "object",
        "properties": {
          "ObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Object type associated with the performance cycle group.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "perfCycleGroupObjects": {
            "title": "Performance Cycle Group Objects",
            "type": "array",
            "description": "The perfCycleGroupObjects resource is a child of the perfCycleGroups resource and provides all the objects associated with the performance cycle group. The objects can be individual goal plans of a group or individual check-ins of a group.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-perfCycleGroupObjects-item-patch-request"
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PerfCycleId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle to which the performance cycle group belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "perfCycleGroupPhases": {
            "title": "Performance Cycle Group Phases",
            "type": "array",
            "description": "The perfCycleGroupPhases resource is a child of the perfCycleGroups resource and provides all the phases associated with the performance cycle group.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-perfCycleGroupPhases-item-patch-request"
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-perfCycleGroupObjects-item-patch-request": {
        "type": "object",
        "properties": {
          "BusinessGroupId": {
            "type": "integer",
            "description": "Unique identifier for the business group associated with the performance cycle group object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group to which the performance cycle group object belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ObjectId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-perfCycleGroupPhases-item-patch-request": {
        "type": "object",
        "properties": {
          "BusinessGroupId": {
            "type": "integer",
            "description": "Unique identifier for the business group associated with the performance cycle group phase.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group to which the performance cycle group phase belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PhaseStartDate": {
            "type": "string",
            "description": "Start date of the performance cycle group phase.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PhaseCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that identifies the performance cycle group phase.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PhaseEndDate": {
            "type": "string",
            "description": "End date of the performance cycle group phase.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "perfCycles-perfCycleGroups": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-item-response"
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-item-post-request": {
        "required": [
          "ObjectType",
          "PerfCycleGroupId",
          "PerfCycleId"
        ],
        "type": "object",
        "properties": {
          "ObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Object type associated with the performance cycle group.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "perfCycleGroupObjects": {
            "title": "Performance Cycle Group Objects",
            "type": "array",
            "description": "The perfCycleGroupObjects resource is a child of the perfCycleGroups resource and provides all the objects associated with the performance cycle group. The objects can be individual goal plans of a group or individual check-ins of a group.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-perfCycleGroupObjects-item-post-request"
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PerfCycleId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle to which the performance cycle group belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "perfCycleGroupPhases": {
            "title": "Performance Cycle Group Phases",
            "type": "array",
            "description": "The perfCycleGroupPhases resource is a child of the perfCycleGroups resource and provides all the phases associated with the performance cycle group.",
            "items": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-perfCycleGroupPhases-item-post-request"
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-perfCycleGroupObjects-item-post-request": {
        "type": "object",
        "properties": {
          "BusinessGroupId": {
            "type": "integer",
            "description": "Unique identifier for the business group associated with the performance cycle group object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group to which the performance cycle group object belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PerfCycleObjectId": {
            "type": "integer",
            "description": "Unique identifier for the individual object that's part of the performance cycle group object. The identifier can be a goal plan ID or a check-in ID.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ObjectId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group object.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-perfCycleGroupPhases-item-post-request": {
        "type": "object",
        "properties": {
          "PerfCyclePhaseId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle phase to which the performance cycle group phase belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PhaseEndDate": {
            "type": "string",
            "description": "End date of the performance cycle group phase.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "BusinessGroupId": {
            "type": "integer",
            "description": "Unique identifier for the business group associated with the performance cycle group phase.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PerfCycleGroupId": {
            "type": "integer",
            "description": "Unique identifier for the performance cycle group to which the performance cycle group phase belongs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "PhaseStartDate": {
            "type": "string",
            "description": "Start date of the performance cycle group phase.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PhaseCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code that identifies the performance cycle group phase.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "perfCycles-perfCycleGroups-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-item-patch-request"
            }
          }
        }
      },
      "perfCycles-perfCycleGroups-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/perfCycles-perfCycleGroups-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}