{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Person Process Results",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/processResults/{FlowTaskInstanceId}/action/performAction": {
      "post": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "description": "Unique identifier for the payroll",
        "operationId": "do_performAction_processResults",
        "parameters": [
          {
            "name": "FlowTaskInstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "relationshipIdList": {
                    "type": "array",
                    "description": "Unique identifier for the payroll",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "objectGroupId": {
                    "type": "number",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  },
                  "createPRGFlag": {
                    "type": "boolean",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  },
                  "actionName": {
                    "type": "string",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  },
                  "objectGroupName": {
                    "type": "string",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  },
                  "staticDynamicFlag": {
                    "type": "string",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Unique identifier for the payroll"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Unique identifier for the payroll"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "processResults-{FlowTaskInstanceId}-action-performAction-post",
        "x-filename-id": "processresults-flowtaskinstanceid-action-performaction-post"
      }
    },
    "/processResults/{FlowTaskInstanceId}": {
      "get": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "operationId": "get_processResults",
        "parameters": [
          {
            "name": "FlowTaskInstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/processResults-item-response"
                }
              }
            },
            "links": {
              "TaskObjectGroup": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1TaskObjectGroup/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "canUserTakeAction": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1action~1canUserTakeAction/post",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "attachments": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1attachments/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                }
              },
              "processMessage": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1processMessage/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "ProcessLogs": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1ProcessLogs/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "processObjectAction": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1processObjectAction/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "performAction": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1action~1performAction/post",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "counter": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1counter/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                }
              },
              "iterations": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1iterations/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "processGroupType": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1processGroupType/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "ArchiveResultsFlat": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1ArchiveResultsFlat/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                }
              },
              "ObjectBatchAction": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1ObjectBatchAction/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "processHistory": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1processHistory/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "ArchiveResultTree": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1ArchiveResultTree/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                }
              },
              "parameters": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1parameters/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              },
              "personMessage": {
                "operationRef": "#/paths/~1processResults~1{FlowTaskInstanceId}~1child~1personMessage/get",
                "parameters": {
                  "FlowTaskInstanceId": "$request.path.FlowTaskInstanceId"
                },
                "description": "Unique identifier for the payroll"
              }
            }
          }
        },
        "x-internal-id": "processResults-{FlowTaskInstanceId}-get",
        "x-filename-id": "processresults-flowtaskinstanceid-get"
      }
    },
    "/processResults/{FlowTaskInstanceId}/action/canUserTakeAction": {
      "post": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "description": "Unique identifier for the payroll",
        "operationId": "do_canUserTakeAction_processResults",
        "parameters": [
          {
            "name": "FlowTaskInstanceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Unique identifier for the payroll"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Unique identifier for the payroll"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "processResults-{FlowTaskInstanceId}-action-canUserTakeAction-post",
        "x-filename-id": "processresults-flowtaskinstanceid-action-canusertakeaction-post"
      }
    },
    "/processResults": {
      "get": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "operationId": "getall_processResults",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BaseFlowId; integer; Unique identifier for the payroll</li><li>BaseTaskName; string; Unique identifier for the payroll</li><li>DataSetId; integer; Unique identifier for the payroll</li><li>DataSetName; string; Unique identifier for the payroll</li><li>DateEarned; string; Unique identifier for the payroll</li><li>EssRequestId; integer; Unique identifier for the payroll</li><li>FlowId; integer; Unique identifier for the payroll</li><li>FlowInstanceId; integer; Unique identifier for the payroll</li><li>FlowInstanceName; string; Unique identifier for the payroll</li><li>FlowName; string; Unique identifier for the payroll</li><li>FlowTaskInstanceId; integer; Unique identifier for the payroll</li><li>FlowTaskName; string; Unique identifier for the payroll</li><li>IsCancelling; string; Unique identifier for the payroll</li><li>IsCompleted; string; Unique identifier for the payroll</li><li>IsCriticalErrors; string; Unique identifier for the payroll</li><li>IsErrors; string; Unique identifier for the payroll</li><li>IsMarkedForRetry; string; Unique identifier for the payroll</li><li>IsProcessing; string; Unique identifier for the payroll</li><li>IsRolledBackRecords; string; Unique identifier for the payroll</li><li>IsSkipped; string; Unique identifier for the payroll</li><li>IsStopped; string; Unique identifier for the payroll</li><li>LegislativeDataGroupId; integer; Unique identifier for the payroll</li><li>LegislativeDataGroupName; string; Unique identifier for the payroll</li><li>LoggingTurnedOn; string; Unique identifier for the payroll</li><li>Messages; integer; Unique identifier for the payroll</li><li>PayrollActionId; integer; Unique identifier for the payroll</li><li>PayrollId; integer; Unique identifier for the payroll</li><li>PayrollName; string; Unique identifier for the payroll</li><li>PeriodName; string; Unique identifier for the payroll</li><li>PostProcessingFlag; boolean; Unique identifier for the payroll</li><li>ProcessDate; string; Unique identifier for the payroll</li><li>Processed; number; Unique identifier for the payroll</li><li>QuickpayTaskFlag; boolean; Unique identifier for the payroll</li><li>Record; integer; Unique identifier for the payroll</li><li>RollbackErrorFlag; boolean; Unique identifier for the payroll</li><li>StatErrorTotal; integer; Unique identifier for the payroll</li><li>StatutoryPeriod; string; Unique identifier for the payroll</li><li>SubmissionDate; string; Unique identifier for the payroll</li><li>SubmitAnotherTask; string; Unique identifier for the payroll</li><li>SubmittedBy; string; Unique identifier for the payroll</li><li>TaskId; integer; Unique identifier for the payroll</li><li>TaskName; string; Unique identifier for the payroll</li><li>TaskStatus; string; Unique identifier for the payroll</li><li>TaskStatusMeaning; string; Unique identifier for the payroll</li><li>TaskSubStatus; string; Unique identifier for the payroll</li><li>TaskSubStatusMeaning; string; Unique identifier for the payroll</li><li>TaskType; string; Unique identifier for the payroll</li><li>TaskTypeCode; string; Unique identifier for the payroll</li><li>TaskTypeMeaning; string; Unique identifier for the payroll</li><li>TiRequestId; integer; Unique identifier for the payroll</li><li>TimeElapsed; string; Unique identifier for the payroll</li><li>Type; string; Unique identifier for the payroll</li><li>UcmIdList; string; Unique identifier for the payroll</li><li>Unprocessed; number; Unique identifier for the payroll</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PacTasks Unique identifier for the payroll <br>Finder Variables <ul><li>pPacTasks; string;  Unique identifier for the payroll </li><li>pTimePeriodId; integer;  Unique identifier for the payroll </li></ul></li><li>PrimaryKey Unique identifier for the payroll <br>Finder Variables <ul><li>FlowTaskInstanceId; integer;  Unique identifier for the payroll </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PacTasks",
                "description": "Unique identifier for the payroll",
                "title": "PacTasksVC",
                "properties": {
                  "pPacTasks": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the payroll",
                    "type": "string"
                  },
                  "pTimePeriodId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the payroll",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Unique identifier for the payroll",
                "properties": {
                  "FlowTaskInstanceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the payroll",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/processResults"
                }
              }
            }
          }
        },
        "x-internal-id": "processResults-get",
        "x-filename-id": "processresults-get"
      }
    },
    "/personProcessResults/{ObjectActionId}/action/performObjectAction": {
      "post": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "description": "Unique identifier for the payroll",
        "operationId": "do_performObjectAction_personProcessResults",
        "parameters": [
          {
            "name": "ObjectActionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actionName": {
                    "type": "string",
                    "description": "Unique identifier for the payroll",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Unique identifier for the payroll"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Unique identifier for the payroll"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "personProcessResults-{ObjectActionId}-action-performObjectAction-post",
        "x-filename-id": "personprocessresults-objectactionid-action-performobjectaction-post"
      }
    },
    "/personProcessResults": {
      "get": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "operationId": "getall_personProcessResults",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionStatusCode; string; Unique identifier for the payroll</li><li>ActionStatusLookupType; string; Unique identifier for the payroll</li><li>ActionType; string; Unique identifier for the payroll</li><li>ActionTypeCode; string; Unique identifier for the payroll</li><li>AdditionalResults; string; Unique identifier for the payroll</li><li>AssignmentId; string; Unique identifier for the payroll</li><li>AssignmentNumber; string; Unique identifier for the payroll</li><li>BaseFlowId; integer; Unique identifier for the payroll</li><li>ConnectorTag; string; Unique identifier for the payroll</li><li>ConsolidationSetId; integer; Unique identifier for the payroll</li><li>ConsolidationSetName; string; Unique identifier for the payroll</li><li>DateEarned; string; Unique identifier for the payroll</li><li>EarnEndDate; string; Unique identifier for the payroll</li><li>EarnStartDate; string; Unique identifier for the payroll</li><li>EarnTimePeriodId; integer; Unique identifier for the payroll</li><li>FlowInstanceId; integer; Unique identifier for the payroll</li><li>FlowName; string; Unique identifier for the payroll</li><li>LegislationCode; string; Unique identifier for the payroll</li><li>LegislativeDataGroupId; integer; Unique identifier for the payroll</li><li>LegislativeDataGroupName; string; Unique identifier for the payroll</li><li>ObjectActionId; integer; Unique identifier for the payroll</li><li>ObjectId; integer; Unique identifier for the payroll</li><li>ObjectName; string; Unique identifier for the payroll</li><li>ObjectReference; string; Unique identifier for the payroll</li><li>ObjectType; string; Unique identifier for the payroll</li><li>ObjectTypeCode; string; Unique identifier for the payroll</li><li>ObjectTypeId; integer; Unique identifier for the payroll</li><li>ParentActionId; integer; Unique identifier for the payroll</li><li>PayRequestId; integer; Unique identifier for the payroll</li><li>Payroll; string; Unique identifier for the payroll</li><li>PayrollActionId; integer; Unique identifier for the payroll</li><li>PayrollId; integer; Unique identifier for the payroll</li><li>PayrollPeriodName; string; Unique identifier for the payroll</li><li>PayrollPeriodNumber; integer; Unique identifier for the payroll</li><li>PayrollRelationshipId; integer; Unique identifier for the payroll</li><li>PersonId; integer; Unique identifier for the payroll</li><li>PersonNumber; string; Unique identifier for the payroll</li><li>PrimaryResults; string; Unique identifier for the payroll</li><li>ProcessDate; string; Unique identifier for the payroll</li><li>ProcessEndDate; string; Unique identifier for the payroll</li><li>ProcessStartDate; string; Unique identifier for the payroll</li><li>ProrationDates; string; Unique identifier for the payroll</li><li>RelationshipNumber; string; Unique identifier for the payroll</li><li>RetroRunId; integer; Unique identifier for the payroll</li><li>RunTypeId; integer; Unique identifier for the payroll</li><li>RunTypeName; string; Unique identifier for the payroll</li><li>SourceActionId; integer; Unique identifier for the payroll</li><li>Status; string; Unique identifier for the payroll</li><li>SubmissionDate; string; Unique identifier for the payroll</li><li>SubmittedBy; string; Unique identifier for the payroll</li><li>TaskId; integer; Unique identifier for the payroll</li><li>TaskInstanceId; integer; Unique identifier for the payroll</li><li>TaskName; string; Unique identifier for the payroll</li><li>VoidPaymentActionId; integer; Unique identifier for the payroll</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Unique identifier for the payroll <br>Finder Variables <ul><li>ObjectActionId; integer;  Unique identifier for the payroll </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Unique identifier for the payroll",
                "properties": {
                  "ObjectActionId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the payroll",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personProcessResults"
                }
              }
            }
          }
        },
        "x-internal-id": "personProcessResults-get",
        "x-filename-id": "personprocessresults-get"
      }
    },
    "/personProcessResults/{ObjectActionId}": {
      "get": {
        "tags": [
          "Person Process Results"
        ],
        "summary": "Unique identifier for the payroll",
        "operationId": "get_personProcessResults",
        "parameters": [
          {
            "name": "ObjectActionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the payroll",
              "format": "int64",
              "nullable": true,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/personProcessResults-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1attachments/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "costingResults": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1costingResults/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "correctiveActions": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1correctiveActions/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "Payments": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1Payments/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "BalanceView": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1BalanceView/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "PrimaryClassificationLOV": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1PrimaryClassificationLOV/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "CalculationBreakdown": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1CalculationBreakdown/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "ArchiveResultsFlat": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1ArchiveResultsFlat/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "BalanceGroupLOV": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1BalanceGroupLOV/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "BalanceFeedDetails": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1BalanceFeedDetails/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "performObjectAction": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1action~1performObjectAction/post",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "RunResult": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1RunResult/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "Prepayments": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1Prepayments/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "RunResultRateDetail": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1RunResultRateDetail/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "paymentCostingResults": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1paymentCostingResults/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "RetroResults": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1RetroResults/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "SOEBalanceView": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1SOEBalanceView/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "NetPayment": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1NetPayment/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "BalanceTypeLOV": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1BalanceTypeLOV/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "VoidPayment": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1VoidPayment/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "PersonProcessPCG": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1PersonProcessPCG/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "costAdjustments": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1costAdjustments/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "PayrollAssignmentLOV": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1PayrollAssignmentLOV/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "messages": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1messages/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "TaxUnit": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1TaxUnit/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "ArchiveResultTree": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1ArchiveResultTree/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              },
              "TaxReportingUnitLOV": {
                "operationRef": "#/paths/~1personProcessResults~1{ObjectActionId}~1child~1TaxReportingUnitLOV/get",
                "parameters": {
                  "ObjectActionId": "$request.path.ObjectActionId"
                },
                "description": "Unique identifier for the payroll"
              }
            }
          }
        },
        "x-internal-id": "personProcessResults-{ObjectActionId}-get",
        "x-filename-id": "personprocessresults-objectactionid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "processResults-item-response": {
        "type": "object",
        "properties": {
          "ArchiveResultTree": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-ArchiveResultTree-item-response"
            }
          },
          "ArchiveResultsFlat": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-ArchiveResultsFlat-item-response"
            }
          },
          "AttachmentEntityName": {
            "maxLength": 14,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "BaseFlowId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BaseTaskName": {
            "maxLength": 100,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DataSetId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DataSetName": {
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DateEarned": {
            "title": "Date Earned",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EssRequestId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlowId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowInstanceId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowInstanceName": {
            "title": "Flow Name",
            "maxLength": 200,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowName": {
            "title": "Flow Pattern",
            "maxLength": 250,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowTaskInstanceId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlowTaskName": {
            "title": "Task Name",
            "maxLength": 100,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "IsCancelling": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsCompleted": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsCriticalErrors": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsErrors": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsMarkedForRetry": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsProcessing": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsRolledBackRecords": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsSkipped": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsStopped": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislativeDataGroupId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegislativeDataGroupName": {
            "title": "Legislative Data Group",
            "maxLength": 240,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LoggingTurnedOn": {
            "title": "Logging Level",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Messages": {
            "title": "Message Count",
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectBatchAction": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-ObjectBatchAction-item-response"
            }
          },
          "PayrollActionId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PayrollId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PayrollName": {
            "title": "Payroll",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PeriodName": {
            "title": "Period Name",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PostProcessingFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProcessDate": {
            "title": "Process Date",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProcessLogs": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-ProcessLogs-item-response"
            }
          },
          "Processed": {
            "type": "number",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "QuickpayTaskFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Record": {
            "title": "Records",
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RollbackErrorFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StatErrorTotal": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StatutoryPeriod": {
            "title": "Period Number",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionDate": {
            "title": "Submitted On",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmitAnotherTask": {
            "maxLength": 19,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmittedBy": {
            "title": "Submitted By",
            "maxLength": 64,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TaskName": {
            "maxLength": 250,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskObjectGroup": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-TaskObjectGroup-item-response"
            }
          },
          "TaskStatus": {
            "maxLength": 20,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskStatusMeaning": {
            "title": "Status Group",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskSubStatus": {
            "title": "Status",
            "maxLength": 20,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskSubStatusMeaning": {
            "title": "Status",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskType": {
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TaskTypeMeaning": {
            "title": "Task Type",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TiRequestId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TimeElapsed": {
            "title": "Time Taken in Minutes",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Type": {
            "title": "Task Type",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "facetControl": "checkBox"
            },
            "x-queryable": true
          },
          "UcmIdList": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "x-queryable": true
          },
          "Unprocessed": {
            "type": "number",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/processResults-attachments-item-response"
            }
          },
          "counter": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-counter-item-response"
            }
          },
          "iterations": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-iterations-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "parameters": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-parameters-item-response"
            }
          },
          "personMessage": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-personMessage-item-response"
            }
          },
          "processGroupType": {
            "title": "Person Process Results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processResults-processGroupType-item-response"
            }
          },
          "processHistory": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-processHistory-item-response"
            }
          },
          "processMessage": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-processMessage-item-response"
            }
          },
          "processObjectAction": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-processObjectAction-item-response"
            }
          }
        }
      },
      "processResults-ArchiveResultTree-item-response": {
        "type": "object",
        "properties": {
          "ActionContextId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ActionContextType": {
            "maxLength": 15,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionInformationCategory": {
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionInformationId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "ArchiveResultDetails": {
            "title": "Person Process Results",
            "type": "array",
            "description": "Unique identifier for the payroll",
            "items": {
              "$ref": "#/components/schemas/processResults-ArchiveResultTree-ArchiveResultDetails-item-response"
            }
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Context": {
            "title": "Name",
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Description": {
            "maxLength": 240,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveDate": {
            "type": "string",
            "description": "Unique identifier for the payroll",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "type": "string",
            "description": "Unique identifier for the payroll",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Unique identifier for the payroll",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "JurisdictionCode": {
            "maxLength": 15,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ParentActInfoId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecordName": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ReportRecordId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SysEffectiveDate": {
            "type": "string",
            "description": "Unique identifier for the payroll",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "UpdatableRecord": {
            "maxLength": 1,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "processResults-ArchiveResultTree-ArchiveResultDetails-item-response": {
        "type": "object",
        "properties": {
          "ActionContextId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ActionContextType": {
            "maxLength": 15,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "x-queryable": true
          },
          "ActionInformationCategory": {
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "x-queryable": true
          },
          "ActionInformationId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "BaseDataElementName": {
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "ContextFlag": {
            "title": "Context Attribute",
            "maxLength": 30,
            "type": "boolean",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DataElementName": {
            "title": "Attribute",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DataType": {
            "title": "Data Type",
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 240,
            "type": "string",
            "description": "Unique identifier for the payroll",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExtDataElementId": {
            "type": "integer",
            "description": "Unique identifier for the payroll",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "HideFlag": {
            "title": "Hidden",
            "maxLength": 30,
[...]
