{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Plan Information",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/compensationManagerSummaries": {
      "get": {
        "tags": [
          "Plan Information"
        ],
        "summary": "Get plan information for a single plan",
        "operationId": "getall_compensationManagerSummaries",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BdgtIssValDirect; number; Currency code for the plan currency.</li><li>BdgtValDirect; number; Currency code for the plan currency.</li><li>BusinessGroupId; integer; Currency code for the plan currency.</li><li>ComponentId; integer; Currency code for the plan currency.</li><li>ComponentName; string; Currency code for the plan currency.</li><li>EligCountAll; integer; Currency code for the plan currency.</li><li>EligCountDirect; integer; Currency code for the plan currency.</li><li>EligSalValAll; number; Currency code for the plan currency.</li><li>EligSalValDirect; number; Currency code for the plan currency.</li><li>EmployeeBdgtValAll; number; Currency code for the plan currency.</li><li>EmployeeBdgtValDirect; number; Currency code for the plan currency.</li><li>EmployeeRecvCountAll; integer; Currency code for the plan currency.</li><li>EmployeeRecvCountDirect; integer; Currency code for the plan currency.</li><li>MiscFiveValAll; number; Currency code for the plan currency.</li><li>MiscFiveValDirect; number; Currency code for the plan currency.</li><li>MiscFourValAll; number; Currency code for the plan currency.</li><li>MiscFourValDirect; number; Currency code for the plan currency.</li><li>MiscOneValAll; number; Currency code for the plan currency.</li><li>MiscOneValDirect; number; Currency code for the plan currency.</li><li>MiscSixValAll; number; Currency code for the plan currency.</li><li>MiscSixValDirect; number; Currency code for the plan currency.</li><li>MiscThreeValAll; number; Currency code for the plan currency.</li><li>MiscThreeValDirect; number; Currency code for the plan currency.</li><li>MiscTwoValAll; number; Currency code for the plan currency.</li><li>MiscTwoValDirect; number; Currency code for the plan currency.</li><li>PercentageCompensated; number; Currency code for the plan currency.</li><li>PoolId; integer; Currency code for the plan currency.</li><li>RecMnValAll; number; Currency code for the plan currency.</li><li>RecMnValDirect; number; Currency code for the plan currency.</li><li>RecMxValAll; number; Currency code for the plan currency.</li><li>RecMxValDirect; number; Currency code for the plan currency.</li><li>RecValAll; number; Currency code for the plan currency.</li><li>RecValDirect; number; Currency code for the plan currency.</li><li>Status; string; Currency code for the plan currency.</li><li>TotalCountAll; integer; Currency code for the plan currency.</li><li>TotalCountDirect; integer; Currency code for the plan currency.</li><li>TotalRanked; integer; Currency code for the plan currency.</li><li>WsBdgtIssValAll; number; Currency code for the plan currency.</li><li>WsBdgtIssValDirect; number; Currency code for the plan currency.</li><li>WsBdgtValAll; number; Currency code for the plan currency.</li><li>WsBdgtValDirect; number; Currency code for the plan currency.</li><li>WsValAll; number; Currency code for the plan currency.</li><li>WsValDirect; number; Currency code for the plan currency.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>ComponentFinder Finds plan information for a plan. <br>Finder Variables <ul><li>ComponentId; integer;  Person Event ID for the returned plan's plan information. </li><li>PlnAccessId; integer;  Person Event ID for the returned plan's plan information. </li></ul></li><li>ManagerFinder Finds plan information for a plan. <br>Finder Variables <ul><li>PlnAccessId; integer;  Person Event ID for the returned plan's plan information. </li></ul></li><li>PrimaryKey Finds plan information using the specified primary key. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "ComponentFinder",
                "description": "Finds plan information for a plan.",
                "title": "ManagerSummaryVOCriteria",
                "properties": {
                  "PlnAccessId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  },
                  "ComponentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "ManagerFinder",
                "description": "Finds plan information for a plan.",
                "title": "emptyVC",
                "properties": {
                  "PlnAccessId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds plan information using the specified primary key.",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/compensationManagerSummaries"
                }
              }
            }
          }
        },
        "x-internal-id": "compensationManagerSummaries-get",
        "x-filename-id": "compensationmanagersummaries-get"
      }
    },
    "/compensationManagerSummaries/{compensationManagerSummariesUniqID}": {
      "get": {
        "tags": [
          "Plan Information"
        ],
        "summary": "Get plan information for a single plan",
        "operationId": "get_compensationManagerSummaries",
        "parameters": [
          {
            "name": "compensationManagerSummariesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Plan Information resource and used to uniquely identify an instance of Plan Information. The client should not generate the hash key value. Instead, the client should query on the Plan Information collection resource in order to navigate to a specific instance of Plan Information to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/compensationManagerSummaries-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "compensationManagerSummaries-{compensationManagerSummariesUniqID}-get",
        "x-filename-id": "compensationmanagersummaries-compensationmanagersummariesuniqid-get"
      }
    },
    "/workforceCompensationColumns": {
      "get": {
        "tags": [
          "Plan Information"
        ],
        "summary": "Get all active plan properties",
        "operationId": "getall_workforceCompensationColumns",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AttributeName; string; Access code for the active plan.</li><li>Auditable; string; Access code for the active plan.</li><li>COMPType; string; Access code for the active plan.</li><li>ComponentId; number; Access code for the active plan.</li><li>CustomId; number; Access code for the active plan.</li><li>DisplayName; string; Access code for the active plan.</li><li>Displayable; string; Access code for the active plan.</li><li>ItemName; string; Access code for the active plan.</li><li>PlanAttributeId; number; Access code for the active plan.</li><li>PlanId; string; Access code for the active plan.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>AllColumnsFinder Finds plan information for a plan. <br>Finder Variables <ul><li>PlanId; integer;  Person Event ID for the returned plan's plan information. </li></ul></li><li>AuditableColumnFinder Finds plan information for a plan. <br>Finder Variables <ul><li>PlanId; integer;  Person Event ID for the returned plan's plan information. </li></ul></li><li>PrimaryKey Finds active plan properties using the specified primary key. <br>Finder Variables <ul><li>CustomId; number;  The plan definition identifier associated with the specified primary key. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "AllColumnsFinder",
                "description": "Finds plan information for a plan.",
                "title": "WorkforceCompensationColumnsVOCriteria",
                "properties": {
                  "PlanId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "AuditableColumnFinder",
                "description": "Finds plan information for a plan.",
                "title": "AuditableColumnsCriteria",
                "properties": {
                  "PlanId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds active plan properties using the specified primary key.",
                "properties": {
                  "CustomId": {
                    "nullable": true,
                    "description": "The plan definition identifier associated with the specified primary key.",
                    "readOnly": true,
                    "type": "number"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workforceCompensationColumns"
                }
              }
            }
          }
        },
        "x-internal-id": "workforceCompensationColumns-get",
        "x-filename-id": "workforcecompensationcolumns-get"
      }
    },
    "/workforceCompensationColumns/{CustomId}": {
      "get": {
        "tags": [
          "Plan Information"
        ],
        "summary": "Get an active plan property",
        "operationId": "get_workforceCompensationColumns",
        "parameters": [
          {
            "name": "CustomId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "description": "Access code for the active plan.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workforceCompensationColumns-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "workforceCompensationColumns-{CustomId}-get",
        "x-filename-id": "workforcecompensationcolumns-customid-get"
      }
    },
    "/workforceCompensationReportees/{PersonEventId}": {
      "get": {
        "tags": [
          "Plan Information"
        ],
        "summary": "Get an active plan property",
        "operationId": "get_workforceCompensationReportees",
        "parameters": [
          {
            "name": "PersonEventId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "description": "Access code for the active plan.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workforceCompensationReportees-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "workforceCompensationReportees-{PersonEventId}-get",
        "x-filename-id": "workforcecompensationreportees-personeventid-get"
      }
    },
    "/workforceCompensationReportees": {
      "get": {
        "tags": [
          "Plan Information"
        ],
        "summary": "Get all active plan properties",
        "operationId": "getall_workforceCompensationReportees",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DisplayName; string; Access code for the active plan.</li><li>EffectiveEndDate; string; Access code for the active plan.</li><li>EffectiveStartDate; string; Access code for the active plan.</li><li>EmailAddress; string; Access code for the active plan.</li><li>EmployeePersonEventId; number; Access code for the active plan.</li><li>LevelNumber; number; Access code for the active plan.</li><li>ListName; string; Access code for the active plan.</li><li>MgrPersonEventId; number; Access code for the active plan.</li><li>PeriodId; number; Access code for the active plan.</li><li>PersonEventId; number; Access code for the active plan.</li><li>PersonId; integer; Access code for the active plan.</li><li>PersonNumber; string; Access code for the active plan.</li><li>PlanId; number; Access code for the active plan.</li><li>Planaccessidvar; string; Access code for the active plan.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PersonFinder Finds plan information for a plan. <br>Finder Variables <ul><li>LevelNumber; integer;  Person Event ID for the returned plan's plan information. </li><li>PersonNumber; string;  Person Event ID for the returned plan's plan information. </li><li>Planaccessidvar; integer;  Person Event ID for the returned plan's plan information. </li></ul></li><li>PrimaryKey Finds active plan properties using the specified primary key. <br>Finder Variables <ul><li>PersonEventId; number;  The plan definition identifier associated with the specified primary key. </li></ul></li><li>findByEmail Finds plan information for a plan. <br>Finder Variables <ul><li>EmailAddress; string;  Person Event ID for the returned plan's plan information. </li><li>LevelNumber; integer;  Person Event ID for the returned plan's plan information. </li><li>Planaccessidvar; integer;  Person Event ID for the returned plan's plan information. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PersonFinder",
                "description": "Finds plan information for a plan.",
                "title": "WorkforceCompensationReporteesVOCriteria",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "string"
                  },
                  "LevelNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  },
                  "Planaccessidvar": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds active plan properties using the specified primary key.",
                "properties": {
                  "PersonEventId": {
                    "nullable": true,
                    "description": "The plan definition identifier associated with the specified primary key.",
                    "readOnly": true,
                    "type": "number"
                  }
                }
              },
              {
                "name": "findByEmail",
                "description": "Finds plan information for a plan.",
                "title": "FindByEmailVOCriteria",
                "properties": {
                  "LevelNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  },
                  "Planaccessidvar": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "integer"
                  },
                  "EmailAddress": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person Event ID for the returned plan's plan information.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workforceCompensationReportees"
                }
              }
            }
          }
        },
        "x-internal-id": "workforceCompensationReportees-get",
        "x-filename-id": "workforcecompensationreportees-get"
      }
    }
  },
  "components": {
    "schemas": {
      "compensationManagerSummaries": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/compensationManagerSummaries-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "compensationManagerSummaries-item-response": {
        "type": "object",
        "properties": {
          "BdgtIssValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BdgtValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessGroupId": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ComponentId": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ComponentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EligCountAll": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EligCountDirect": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EligSalValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EligSalValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeBdgtValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeBdgtValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeeRecvCountAll": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EmployeeRecvCountDirect": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MiscFiveValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscFiveValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscFourValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscFourValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscOneValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscOneValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscSixValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscSixValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscThreeValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscThreeValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscTwoValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiscTwoValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PercentageCompensated": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PoolId": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecMnValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecMnValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecMxValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecMxValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Status": {
            "maxLength": 30,
            "type": "string",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCountAll": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TotalCountDirect": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TotalRanked": {
            "type": "integer",
            "description": "Currency code for the plan currency.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WsBdgtIssValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WsBdgtIssValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WsBdgtValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WsBdgtValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WsValAll": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WsValDirect": {
            "type": "number",
            "description": "Currency code for the plan currency.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "workforceCompensationColumns": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workforceCompensationColumns-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "workforceCompensationColumns-item-response": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "maxLength": 30,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Auditable": {
            "maxLength": 1,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "COMPType": {
            "maxLength": 30,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ComponentId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CustomId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 80,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Displayable": {
            "maxLength": 1,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ItemName": {
            "maxLength": 60,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PlanAttributeId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PlanId": {
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "workforceCompensationReportees-item-response": {
        "type": "object",
        "properties": {
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveEndDate": {
            "type": "string",
            "description": "Access code for the active plan.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "description": "Access code for the active plan.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmailAddress": {
            "maxLength": 240,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployeePersonEventId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LevelNumber": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ListName": {
            "maxLength": 240,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MgrPersonEventId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PeriodId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonEventId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Access code for the active plan.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PlanId": {
            "type": "number",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Planaccessidvar": {
            "type": "string",
            "description": "Access code for the active plan.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "workforceCompensationReportees": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workforceCompensationReportees-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}