{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Public Workers/Photos/Large Object (LOB) Attributes - Photo",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/publicWorkers/{PersonId}/child/photos/{PhotoId}/enclosure/Photo": {
      "get": {
        "tags": [
          "Public Workers/Photos/Large Object (LOB) Attributes - Photo"
        ],
        "summary": "Get a Photo",
        "description": "Get a Photo",
        "operationId": "get_publicWorkers-photos-Photo",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "PhotoId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Photo ID",
              "type": "integer",
              "description": "Surrogate identifier for the photo.",
              "format": "int64",
              "nullable": true,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-child-photos-{PhotoId}-enclosure-Photo-get",
        "x-filename-id": "publicworkers-personid-child-photos-photoid-enclosure-photo-get"
      },
      "put": {
        "tags": [
          "Public Workers/Photos/Large Object (LOB) Attributes - Photo"
        ],
        "summary": "Replace a Photo",
        "description": "Replace a Photo",
        "operationId": "replace_publicWorkers-photos-Photo",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "PhotoId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Photo ID",
              "type": "integer",
              "description": "Surrogate identifier for the photo.",
              "format": "int64",
              "nullable": true,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-child-photos-{PhotoId}-enclosure-Photo-put",
        "x-filename-id": "publicworkers-personid-child-photos-photoid-enclosure-photo-put"
      },
      "delete": {
        "tags": [
          "Public Workers/Photos/Large Object (LOB) Attributes - Photo"
        ],
        "summary": "Delete a Photo",
        "description": "Delete a Photo",
        "operationId": "delete_publicWorkers-photos-Photo",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "PhotoId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Photo ID",
              "type": "integer",
              "description": "Surrogate identifier for the photo.",
              "format": "int64",
              "nullable": true,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-child-photos-{PhotoId}-enclosure-Photo-delete",
        "x-filename-id": "publicworkers-personid-child-photos-photoid-enclosure-photo-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}