{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Public Workers",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/publicWorkers/{PersonId}": {
      "get": {
        "tags": [
          "Public Workers"
        ],
        "summary": "Get a worker",
        "operationId": "get_publicWorkers",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/publicWorkers-item-response"
                }
              }
            },
            "links": {
              "assignments": {
                "operationRef": "#/paths/~1publicWorkers~1{PersonId}~1child~1assignments/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The assignments resource is a child of the publicWorkers resource. It includes all the active assignments of a worker as of the current date."
              },
              "otherCommunicationAccounts": {
                "operationRef": "#/paths/~1publicWorkers~1{PersonId}~1child~1otherCommunicationAccounts/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The otherCommunicationAccounts resource is a child of the publicWorkers resource. It includes all the other communication accounts of a worker."
              },
              "messages": {
                "operationRef": "#/paths/~1publicWorkers~1{PersonId}~1child~1messages/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The messages resource is a child of the publicWorkers resource. It includes all the available messages of a worker."
              },
              "phones": {
                "operationRef": "#/paths/~1publicWorkers~1{PersonId}~1child~1phones/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The phones resource is a child of the publicWorkers resource. It includes all the available phone numbers of a worker."
              },
              "photos": {
                "operationRef": "#/paths/~1publicWorkers~1{PersonId}~1child~1photos/get",
                "parameters": {
                  "PersonId": "$request.path.PersonId"
                },
                "description": "The photos resource is a child of the publicWorkers resource. It includes all the available photos of a worker."
              }
            }
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-get",
        "x-filename-id": "publicworkers-personid-get"
      }
    },
    "/publicWorkers": {
      "get": {
        "tags": [
          "Public Workers"
        ],
        "summary": "Get all workers",
        "operationId": "getall_publicWorkers",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DisplayName; string; Person's display name.</li><li>FirstName; string; Person's first name.</li><li>FullName; string; Person's full name.</li><li>KnownAs; string; Person's preferred name.</li><li>LastName; string; Person's last name.</li><li>ListName; string; Person's listed name.</li><li>MilitaryRank; string; Person's military rank.</li><li>NameInformation1; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation10; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation11; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation12; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation13; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation14; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation15; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation16; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation17; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation18; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation19; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation2; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation20; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation21; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation22; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation23; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation24; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation25; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation26; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation27; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation28; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation29; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation3; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation30; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation4; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation5; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation6; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation7; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation8; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation9; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>OrderName; string; Person's order name.</li><li>PersonId; integer; Internal identifier for the person.</li><li>PersonNumber; string; Number assigned to a person to identify the person uniquely. Doesn't depend on the person type such as employee, contingent worker, and so on.</li><li>PreviousLastName; string; Person's previous last name.</li><li>Username; string; User name for the person record.</li><li>WorkEmail; string; Person's work e-mail address.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the workers based on the specified primary key attributes. <br>Finder Variables <ul><li>PersonId; integer;  Unique Identifier for the worker. </li></ul></li><li>findAssistant Finds the assistant of the worker based on the specified attributes. The finder retrieves the worker assistant if the personEFF custom context Assistant is defined for the worker. You must create a custom context Assistant for person extensible flexfield where the PEI_INFORMATION_NUMBER1 attribute must be configured to capture the person identifier of the assistant. <br>Finder Variables <ul><li>PersonId; integer;  Internal identifier for the person whose assistant is to be retrieved. </li><li>PersonNumber; string;  Number assigned to a person to identify the person uniquely. This is the number of the person whose assistant is to be retrieved. </li></ul></li><li>findByWorkerAttr Finds all the worker assignments based on the specified attributes. <br>Finder Variables <ul><li>AssignmentName; string;  Assignment name for the worker assignment. </li><li>DepartmentName; string;  Department name for the worker assignment. </li><li>DisplayName; string;  Display name of the worker. </li><li>JobName; string;  Job name for the worker assignment. </li><li>LocationCountry; string;  Country for the worker assignment. </li><li>LocationName; string;  Location name for the worker assignment. </li><li>LocationTownOrCity; string;  Town or city for the worker assignment. </li><li>OnlyPrimaryAssignmentFlag; boolean;  Indicates whether the finder attributes apply only on the primary assignment of the worker. The default value is false. </li><li>PersonNumber; string;  Person number of the worker. </li><li>PositionName; string;  Position name for the worker assignment. </li><li>WorkEmail; string;  Work email of the worker. </li></ul></li><li>findManagers Finds all the worker managers based on the specified attributes. <br>Finder Variables <ul><li>AssignmentId; integer;  Internal identifier for the assignment of worker whose managers are to be retrieved. </li><li>AssignmentNumber; string;  Unique identifier for the assignment of worker whose managers are to be retrieved. </li><li>LineManagerFlag; boolean;  Indicates whether the manager are retrieved only for line manager relationship. Valid values are true or false. The default value is false. </li><li>PersonId; integer;  Internal identifier for the person whose managers are to be retrieved. </li><li>PersonNumber; string;  Number assigned to a person to identify the person uniquely. This is the number of the person whose managers are to be retrieved. </li><li>PrimaryAssignmentFlag; boolean;  Indicates whether the current assignment is the primary assignment for the worker whose managers are to be retrieved. Valid values are true or false. The default value is false. </li><li>RelationshipType; string;  Type of managerial relationship with the report such as line manager. </li></ul></li><li>findPeers Finds all the worker peers based on the specified attributes. <br>Finder Variables <ul><li>AssignmentId; integer;  Internal identifier for the assignment of the worker whose peers are to be retrieved. </li><li>AssignmentNumber; string;  Unique identifier for the assignment of the worker whose peers are to be retrieved. </li><li>LineManagerFlag; boolean;  Indicates whether the peers are retrieved only for line manager relationship. Valid values are true or false. The default value is false. </li><li>PersonId; integer;  Internal identifier for the person whose peers are to be retrieved. </li><li>PersonNumber; string;  Number assigned to a person to identify the person uniquely. This is the number of the person whose peers are to be retrieved. </li><li>PrimaryAssignmentFlag; boolean;  Indicates whether the current assignment is the primary assignment for the worker whose peers are to be retrieved. Valid values are true or false. The default value is false. </li><li>RelationshipType; string;  Type of managerial relationship with the report such as line manager. </li></ul></li><li>findReports Finds all the worker reports based on the specified attributes. <br>Finder Variables <ul><li>AssignmentId; integer;  Internal identifier for the assignment. </li><li>AssignmentNumber; string;  Unique identifier for the worker assignment. </li><li>DirectReportsFlag; boolean;  Indicates whether only direct reports should be retrieved for the worker. Valid values are true or false. The default value is true. </li><li>LineManagerFlag; boolean;  Indicates whether the reports are retrieved only for line manager relationship. Valid values are true or false. The default value is false. </li><li>PersonId; integer;  Internal identifier for the person whose reports are to be retrieved. </li><li>PersonNumber; string;  Number assigned to a person to identify the person uniquely. This is the number of the person whose reports are to be retrieved. </li><li>PrimaryAssignmentFlag; boolean;  Indicates whether the reports are retrieved for the primary assignment of the worker. Valid values are true or false. The default value is false. </li><li>RelationshipType; string;  Type of managerial relationship with the report such as line manager. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the workers based on the specified primary key attributes.",
                "properties": {
                  "PersonId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique Identifier for the worker.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findAssistant",
                "description": "Finds the assistant of the worker based on the specified attributes. The finder retrieves the worker assistant if the personEFF custom context Assistant is defined for the worker. You must create a custom context Assistant for person extensible flexfield where the PEI_INFORMATION_NUMBER1 attribute must be configured to capture the person identifier of the assistant.",
                "title": "findAssistant",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Number assigned to a person to identify the person uniquely. This is the number of the person whose assistant is to be retrieved.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the person whose assistant is to be retrieved.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByWorkerAttr",
                "description": "Finds all the worker assignments based on the specified attributes.",
                "title": "findByWorkerAttr",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person number of the worker.",
                    "type": "string"
                  },
                  "PositionName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Position name for the worker assignment.",
                    "type": "string"
                  },
                  "AssignmentName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Assignment name for the worker assignment.",
                    "type": "string"
                  },
                  "LocationCountry": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Country for the worker assignment.",
                    "type": "string"
                  },
                  "DisplayName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name of the worker.",
                    "type": "string"
                  },
                  "JobName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Job name for the worker assignment.",
                    "type": "string"
                  },
                  "DepartmentName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Department name for the worker assignment.",
                    "type": "string"
                  },
                  "LocationTownOrCity": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Town or city for the worker assignment.",
                    "type": "string"
                  },
                  "WorkEmail": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Work email of the worker.",
                    "type": "string"
                  },
                  "OnlyPrimaryAssignmentFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the finder attributes apply only on the primary assignment of the worker. The default value is false.",
                    "type": "boolean"
                  },
                  "LocationName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Location name for the worker assignment.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findManagers",
                "description": "Finds all the worker managers based on the specified attributes.",
                "title": "findManagers",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Number assigned to a person to identify the person uniquely. This is the number of the person whose managers are to be retrieved.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the person whose managers are to be retrieved.",
                    "type": "integer"
                  },
                  "PrimaryAssignmentFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the current assignment is the primary assignment for the worker whose managers are to be retrieved. Valid values are true or false. The default value is false.",
                    "type": "boolean"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the assignment of worker whose managers are to be retrieved.",
                    "type": "integer"
                  },
                  "AssignmentNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of worker whose managers are to be retrieved.",
                    "type": "string"
                  },
                  "RelationshipType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Type of managerial relationship with the report such as line manager.",
                    "type": "string"
                  },
                  "LineManagerFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the manager are retrieved only for line manager relationship. Valid values are true or false. The default value is false.",
                    "type": "boolean"
                  }
                }
              },
              {
                "name": "findPeers",
                "description": "Finds all the worker peers based on the specified attributes.",
                "title": "findPeers",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Number assigned to a person to identify the person uniquely. This is the number of the person whose peers are to be retrieved.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the person whose peers are to be retrieved.",
                    "type": "integer"
                  },
                  "PrimaryAssignmentFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the current assignment is the primary assignment for the worker whose peers are to be retrieved. Valid values are true or false. The default value is false.",
                    "type": "boolean"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the assignment of the worker whose peers are to be retrieved.",
                    "type": "integer"
                  },
                  "AssignmentNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment of the worker whose peers are to be retrieved.",
                    "type": "string"
                  },
                  "RelationshipType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Type of managerial relationship with the report such as line manager.",
                    "type": "string"
                  },
                  "LineManagerFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the peers are retrieved only for line manager relationship. Valid values are true or false. The default value is false.",
                    "type": "boolean"
                  }
                }
              },
              {
                "name": "findReports",
                "description": "Finds all the worker reports based on the specified attributes.",
                "title": "findReports",
                "properties": {
                  "PersonNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Number assigned to a person to identify the person uniquely. This is the number of the person whose reports are to be retrieved.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the person whose reports are to be retrieved.",
                    "type": "integer"
                  },
                  "PrimaryAssignmentFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the reports are retrieved for the primary assignment of the worker. Valid values are true or false. The default value is false.",
                    "type": "boolean"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the assignment.",
                    "type": "integer"
                  },
                  "AssignmentNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the worker assignment.",
                    "type": "string"
                  },
                  "RelationshipType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Type of managerial relationship with the report such as line manager.",
                    "type": "string"
                  },
                  "DirectReportsFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether only direct reports should be retrieved for the worker. Valid values are true or false. The default value is true.",
                    "type": "boolean"
                  },
                  "LineManagerFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the reports are retrieved only for line manager relationship. Valid values are true or false. The default value is false.",
                    "type": "boolean"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/publicWorkers"
                }
              }
            }
          }
        },
        "x-internal-id": "publicWorkers-get",
        "x-filename-id": "publicworkers-get"
      }
    }
  },
  "components": {
    "schemas": {
      "publicWorkers-item-response": {
        "type": "object",
        "properties": {
          "DisplayName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Person's display name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's first name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FullName": {
            "title": "Full Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Person's full name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Honors": {
            "title": "Honors",
            "maxLength": 80,
            "type": "string",
            "description": "Higher qualification appended to a person's name such as PhD.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "KnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Person's preferred name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's last name.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ListName": {
            "title": "List Name",
            "maxLength": 240,
            "type": "string",
            "description": "Person's listed name.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "MiddleNames": {
            "title": "Middle Names",
            "maxLength": 80,
            "type": "string",
            "description": "Person's middle name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MilitaryRank": {
            "title": "Military Rank",
            "maxLength": 80,
            "type": "string",
            "description": "Person's military rank.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation1": {
            "title": "Name Information 1",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation10": {
            "title": "Name Information 10",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation11": {
            "title": "Name Information 11",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation12": {
            "title": "Name Information 12",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation13": {
            "title": "Name Information 13",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation14": {
            "title": "Name Information 14",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation15": {
            "title": "Name Information 15",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation16": {
            "title": "Name Information 16",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation17": {
            "title": "Name Information 17",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation18": {
            "title": "Name Information 18",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation19": {
            "title": "Name Information 19",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation2": {
            "title": "Name Information 2",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation20": {
            "title": "Name Information 20",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation21": {
            "title": "Name Information 21",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation22": {
            "title": "Name Information 22",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation23": {
            "title": "Name Information 23",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation24": {
            "title": "Name Information 24",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation25": {
            "title": "Name Information 25",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation26": {
            "title": "Name Information 26",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation27": {
            "title": "Name Information 27",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation28": {
            "title": "Name Information 28",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation29": {
            "title": "Name Information 29",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation3": {
            "title": "Name Information 3",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation30": {
            "title": "Name Information 30",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation4": {
            "title": "Name Information 4",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation5": {
            "title": "Name Information 5",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation6": {
            "title": "Name Information 6",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation7": {
            "title": "Name Information 7",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation8": {
            "title": "Name Information 8",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameInformation9": {
            "title": "Name Information 9",
            "maxLength": 150,
            "type": "string",
            "description": "Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OrderName": {
            "title": "Order Name",
            "maxLength": 240,
            "type": "string",
            "description": "Person's order name.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Internal identifier for the person.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number assigned to a person to identify the person uniquely. Doesn't depend on the person type such as employee, contingent worker, and so on.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PreNameAdjunct": {
            "title": "Prefix",
            "maxLength": 150,
            "type": "string",
            "description": "Part of the name added before a person's first name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PreviousLastName": {
            "title": "Previous Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's previous last name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Suffix": {
            "title": "Suffix",
            "maxLength": 80,
            "type": "string",
            "description": "Part of the name appended to a person's last name such as Jr., III, and so on.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Title": {
            "title": "Title",
            "maxLength": 30,
            "type": "string",
            "description": "Person's salutation such as Mr., Ms., and so on.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Username": {
            "title": "User Name",
            "maxLength": 100,
            "type": "string",
            "description": "User name for the person record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "WorkEmail": {
            "title": "Work Email",
            "maxLength": 240,
            "type": "string",
            "description": "Person's work e-mail address.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "assignments": {
            "title": "Assignments",
            "type": "array",
            "description": "The assignments resource is a child of the publicWorkers resource. It includes all the active assignments of a worker as of the current date.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "messages": {
            "title": "Messages",
            "type": "array",
            "description": "The messages resource is a child of the publicWorkers resource. It includes all the available messages of a worker.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-messages-item-response"
            }
          },
          "otherCommunicationAccounts": {
            "title": "Other Communication Accounts",
            "type": "array",
            "description": "The otherCommunicationAccounts resource is a child of the publicWorkers resource. It includes all the other communication accounts of a worker.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-otherCommunicationAccounts-item-response"
            }
          },
          "phones": {
            "title": "Phones",
            "type": "array",
            "description": "The phones resource is a child of the publicWorkers resource. It includes all the available phone numbers of a worker.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-phones-item-response"
            }
          },
          "photos": {
            "title": "Photos",
            "type": "array",
            "description": "The photos resource is a child of the publicWorkers resource. It includes all the available photos of a worker.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-photos-item-response"
            }
          }
        }
      },
      "publicWorkers-assignments-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "title": "Assignment ID",
            "type": "integer",
            "description": "Internal identifier for the assignment.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "title": "Business Title",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the worker assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier for the worker assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitName": {
            "title": "Business Unit",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the business unit for the worker assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DepartmentName": {
            "title": "Department",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the department for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FullPartTime": {
            "title": "Full Time or Part Time",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the worker is working full time or part time.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GradeCode": {
            "title": "Grade Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the grade for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GradeName": {
            "title": "Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the grade for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalBuilding": {
            "title": "Building",
            "maxLength": 45,
            "type": "string",
            "description": "Building information associated with the work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InternalFloor": {
            "title": "Floor",
            "maxLength": 45,
            "type": "string",
            "description": "Floor information associated with the work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InternalMailstop": {
            "title": "Mail Stop",
            "maxLength": 45,
            "type": "string",
            "description": "Internal mail location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "InternalOfficeNumber": {
            "title": "Office Number",
            "maxLength": 45,
            "type": "string",
            "description": "Office number associated with the work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "JobCode": {
            "title": "Job Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the job for the worker assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobName": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the job for the worker assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployerName": {
            "title": "Legal Employer",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the legal employer for the assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LengthOfServiceDays": {
            "type": "integer",
            "description": "Length of service of a worker in additional days that are less than a full month.",
            "nullable": true,
            "x-queryable": false
          },
          "LengthOfServiceMonths": {
            "type": "integer",
            "description": "Length of service of a worker in additional months that are less than a full year.",
            "nullable": true,
            "x-queryable": false
          },
          "LengthOfServiceYears": {
            "type": "integer",
            "description": "Length of service of a worker in years.",
            "nullable": true,
            "x-queryable": false
          },
          "LocationAddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "First line of the work location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationAddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Second line of the work location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationAddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Third line of the work location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationAddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Fourth line of the work location address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCode": {
            "title": "Location Code",
            "maxLength": 60,
            "type": "string",
            "description": "Code of the location for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCountry": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country in which the work address is located.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationLongPostalCode": {
            "title": "Long Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code of the work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationMultiLineAddress": {
            "title": "Address",
            "type": "string",
            "description": "Multiline address of the location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LocationName": {
            "title": "Location",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the location for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationPostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of the work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationRegion1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Primary region in which the work address is located.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationRegion2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Secondary region within the primary region.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationRegion3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Subregion within the secondary region.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationSingleLineAddress": {
            "title": "Address",
            "type": "string",
            "description": "Single line address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LocationTimezoneCode": {
            "title": "Time Zone Code",
            "maxLength": 50,
            "type": "string",
            "description": "Time zone of the work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationTownOrCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "Town or city in which the work address is located.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerName": {
            "title": "Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MarkedAsFavoriteFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the current person is marked as favorite for a particular user. Valid values are Yes and No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PositionCode": {
            "title": "Position Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the position for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PositionName": {
            "title": "Position",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the position for the worker assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryAssignmentFlag": {
            "title": "Primary Assignment",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the current assignment is primary for the work relationship. Valid values are Yes and No.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryFlag": {
            "title": "Primary",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the current assignment is the primary assignment for the worker. Valid values are Yes and No.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the period of employment.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkAtHomeFlag": {
            "title": "Working at Home",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the person is working at home. Valid values are Yes and No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "WorkerNumber": {
            "title": "Worker Number",
            "maxLength": 30,
            "type": "string",
            "description": "Unique identifier for a worker.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerType": {
            "title": "Worker Type",
            "maxLength": 30,
            "type": "string",
            "description": "Worker type for the period of service such as Employee (E), Contingent Worker (C), Pending Worker (P), or Nonworker (N).",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "allReports": {
            "title": "All Reports",
            "type": "array",
            "description": "The allReports resource is a child of the assignments resource. It includes all the reports of a worker as of the current date for a specific assignment.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-allReports-item-response"
            }
          },
          "allReportsDepartments": {
            "title": "All Reports Departments",
            "type": "array",
            "description": "The allReportsDepartments resource is a child of the assignments resource. It includes all the distinct departments that all the reports of a worker belong to, as of the system date for a specific assignment.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-allReportsDepartments-item-response"
            }
          },
          "allReportsLocations": {
            "title": "All Reports Locations",
            "type": "array",
            "description": "The allReportsLocations resource is a child of the assignments resource. It includes all the distinct locations that all the reports of a worker belong to, as of the system date for a specific assignment.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-allReportsLocations-item-response"
            }
          },
          "directReports": {
            "title": "Direct Reports",
            "type": "array",
            "description": "The directReports resource is a child of the assignments resource. It includes all the direct reports of a worker as of the system date for a specific assignment.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-directReports-item-response"
            }
          },
          "employmentHistory": {
            "title": "Employment History",
            "type": "array",
            "description": "The employmentHistory resource is a child of the assignments resource. It includes the employment history of a worker.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-employmentHistory-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "managers": {
            "title": "Managers",
            "type": "array",
            "description": "The managers resource is a child of the assignments resource. It includes all the managers of a worker.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-managers-item-response"
            }
          },
          "representatives": {
            "title": "Representatives",
            "type": "array",
            "description": "The representatives resource is a child of the assignments resource. It includes all the worker representatives as of the current date.",
            "items": {
              "$ref": "#/components/schemas/publicWorkers-assignments-representatives-item-response"
            }
          }
        }
      },
      "publicWorkers-assignments-allReports-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Internal identifier for the report's assignment.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "title": "Business Title",
            "maxLength": 80,
            "type": "string",
            "description": "Business title of the report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment number of the report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DepartmentId": {
            "title": "Department ID",
            "type": "integer",
            "description": "Unique identifier of the department that the report belongs to.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DisplayName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's first name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "KnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Person's preferred name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's last name.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Level": {
            "title": "Level",
            "type": "integer",
            "description": "Level of the report in the manager's hierarchy.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 5
            },
            "x-queryable": true
          },
          "LocationId": {
            "title": "Location ID",
            "type": "integer",
            "description": "Unique identifier for the location of the report.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerAssignmentNumber": {
            "title": "Manager Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment number of the immediate manager of each report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ManagerPersonNumber": {
            "title": "Manager Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the immediate manager of each report.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "PersonId": {
            "type": "integer",
            "description": "Internal identifier for the report.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the report.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Photo": {
            "title": "Photo",
            "type": "string",
            "description": "Unique location of the image. Encrypted version of the file.",
            "format": "byte",
            "nullable": false,
            "x-queryable": true
          },
          "PhotoId": {
            "title": "Photo ID",
            "type": "integer",
            "description": "Surrogate identifier for the representative photo.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PhotoName": {
            "title": "Photo Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the image file of the representative.",
            "nullable": false,
            "x-queryable": true
          },
          "RelationshipType": {
            "title": "Relationship Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of managerial relationship with the report such as line manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RelationshipTypeMeaning": {
            "title": "Relationship Type",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the managerial relationship with the report, such as line manager.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerType": {
            "title": "Worker Type",
            "maxLength": 30,
            "type": "string",
            "description": "Worker type for the period of service such as Employee (E), Contingent Worker (C), Pending Worker (P), or Nonworker (N).",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "publicWorkers-assignments-allReportsDepartments-item-response": {
        "type": "object",
        "properties": {
          "DepartmentId": {
            "title": "Department ID",
            "type": "integer",
            "description": "Unique identifier for the department.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerDisplayName": {
            "title": "Manager",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the department manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerFirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "First name of the department manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerKnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Person's preferred name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerLastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Last name of the department manager.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerPersonId": {
            "title": "Manager ID",
            "maxLength": 150,
            "type": "string",
            "description": "Internal identifier for the department manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerPersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the department manager.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the department.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PhotoId": {
            "title": "Photo ID",
            "type": "integer",
            "description": "Surrogate identifier for the photo.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PhotoName": {
            "title": "Photo Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the image file.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkerCount": {
            "title": "Total Workers",
            "type": "number",
            "description": "Count of workers in the department.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "publicWorkers-assignments-allReportsLocations-item-response": {
        "type": "object",
        "properties": {
          "LocationCode": {
            "title": "Location Code",
            "maxLength": 60,
            "type": "string",
            "description": "Code of the location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationId": {
            "title": "Location ID",
            "type": "integer",
            "description": "Surrogate identifier for the location.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "title": "Location",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerCount": {
            "title": "Total Workers",
            "type": "number",
            "description": "Count of the workers in the location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "publicWorkers-assignments-directReports-item-response": {
        "type": "object",
        "properties": {
          "AllReportsCount": {
            "title": "Total Workers",
            "type": "number",
            "description": "Count of all reports of the worker.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AssignmentId": {
            "title": "Assignment ID",
            "type": "integer",
            "description": "Internal identifier for the report's assignment.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "title": "Business Title",
            "maxLength": 80,
            "type": "string",
            "description": "Business title of the report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 50,
            "type": "string",
            "description": "Assignment number of the report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DirectReportsCount": {
            "title": "Total Directs",
            "type": "number",
            "description": "Count of direct reports of the worker.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DisplayName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the report.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's first name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "KnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Person's preferred name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Person's last name.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Internal identifier for the report.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
[...]
