{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Public Workers/Assignments/Direct Reports/Large Object (LOB) Attributes - Photo",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/publicWorkers/{PersonId}/child/assignments/{AssignmentId}/child/directReports/{directReportsUniqID}/enclosure/Photo": {
      "get": {
        "tags": [
          "Public Workers/Assignments/Direct Reports/Large Object (LOB) Attributes - Photo"
        ],
        "summary": "Get a Photo",
        "description": "Get a Photo",
        "operationId": "get_publicWorkers-assignments-directReports-Photo",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "AssignmentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the worker's assignment.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "directReportsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId and RelationshipType ---for the Direct Reports resource and used to uniquely identify an instance of Direct Reports. The client should not generate the hash key value.  Instead, the client should query on the Direct Reports collection resource with a filter on the primary key values in order to navigate to a specific instance of Direct Reports.<br><br>For example: directReports?q=AssignmentId=&lt;value1&gt;;RelationshipType=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-child-assignments-{AssignmentId}-child-directReports-{directReportsUniqID}-enclosure-Photo-get",
        "x-filename-id": "publicworkers-personid-child-assignments-assignmentid-child-directreports-directreportsuniqid-enclosure-photo-get"
      },
      "put": {
        "tags": [
          "Public Workers/Assignments/Direct Reports/Large Object (LOB) Attributes - Photo"
        ],
        "summary": "Replace a Photo",
        "description": "Replace a Photo",
        "operationId": "replace_publicWorkers-assignments-directReports-Photo",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "AssignmentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the worker's assignment.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "directReportsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId and RelationshipType ---for the Direct Reports resource and used to uniquely identify an instance of Direct Reports. The client should not generate the hash key value.  Instead, the client should query on the Direct Reports collection resource with a filter on the primary key values in order to navigate to a specific instance of Direct Reports.<br><br>For example: directReports?q=AssignmentId=&lt;value1&gt;;RelationshipType=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-child-assignments-{AssignmentId}-child-directReports-{directReportsUniqID}-enclosure-Photo-put",
        "x-filename-id": "publicworkers-personid-child-assignments-assignmentid-child-directreports-directreportsuniqid-enclosure-photo-put"
      },
      "delete": {
        "tags": [
          "Public Workers/Assignments/Direct Reports/Large Object (LOB) Attributes - Photo"
        ],
        "summary": "Delete a Photo",
        "description": "Delete a Photo",
        "operationId": "delete_publicWorkers-assignments-directReports-Photo",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the representative.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "AssignmentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Internal identifier for the worker's assignment.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "directReportsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId and RelationshipType ---for the Direct Reports resource and used to uniquely identify an instance of Direct Reports. The client should not generate the hash key value.  Instead, the client should query on the Direct Reports collection resource with a filter on the primary key values in order to navigate to a specific instance of Direct Reports.<br><br>For example: directReports?q=AssignmentId=&lt;value1&gt;;RelationshipType=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "publicWorkers-{PersonId}-child-assignments-{AssignmentId}-child-directReports-{directReportsUniqID}-enclosure-Photo-delete",
        "x-filename-id": "publicworkers-personid-child-assignments-assignmentid-child-directreports-directreportsuniqid-enclosure-photo-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}