{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Questionnaires/Sections/Questions/Answers/Attachments/Large Object (LOB) Attributes - FileWebImage",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questionnaires/{questionnairesUniqID}/child/sections/{sectionsUniqID}/child/questions/{questionsUniqID}/child/answers/{answersUniqID}/child/answerAttachments/{answerAttachmentsUniqID}/enclosure/FileWebImage": {
      "get": {
        "tags": [
          "Questionnaires/Sections/Questions/Answers/Attachments/Large Object (LOB) Attributes - FileWebImage"
        ],
        "summary": "Get a FileWebImage",
        "description": "Get a FileWebImage",
        "operationId": "get_questionnaires-sections-questions-answers-answerAttachments-FileWebImage",
        "parameters": [
          {
            "name": "questionnairesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaires resource and used to uniquely identify an instance of Questionnaires. The client should not generate the hash key value. Instead, the client should query on the Questionnaires collection resource in order to navigate to a specific instance of Questionnaires to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Answers resource and used to uniquely identify an instance of Answers. The client should not generate the hash key value. Instead, the client should query on the Answers collection resource in order to navigate to a specific instance of Answers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "child-questions-{questionsUniqID}-child-answers-{answersUniqID}-child-answerAttachments-{answerAttachmentsUniqID}-enclosure-FileWebImage-get",
        "x-filename-id": "child-questions-questionsuniqid-child-answers-answersuniqid-child-answerattachments-answerattachmentsuniqid-enclosure-filewebimage-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}