{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Questionnaire Templates/Sections",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questionnaireTemplates/{questionnaireTemplatesUniqID}/child/sections": {
      "get": {
        "tags": [
          "Questionnaire Templates/Sections"
        ],
        "summary": "Get all sections",
        "operationId": "getall_questionnaireTemplates-sections",
        "parameters": [
          {
            "name": "questionnaireTemplatesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Templates resource and used to uniquely identify an instance of Questionnaire Templates. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Templates collection resource in order to navigate to a specific instance of Questionnaire Templates to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreatedBy; string; Name of the user who created the section.</li><li>CreationDate; string; Date when the section was created.</li><li>LastUpdateDate; string; Date when the section was last updated.</li><li>LastUpdatedBy; string; Name of the user who last updated the section.</li><li>SectionId; integer; Surrogate identifier for the section in a questionnaire template.</li><li>SectionName; string; Name of the questionnaire section.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a questionnaire template section that matches the specified primary key criteria. <br>Finder Variables <ul><li>SectionId; integer;  Surrogate Identifier for the questionnaire template section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a questionnaire template section that matches the specified primary key criteria.",
                "properties": {
                  "SectionId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate Identifier for the questionnaire template section.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Section Id"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaireTemplates-sections"
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaireTemplates-{questionnaireTemplatesUniqID}-child-sections-get",
        "x-filename-id": "questionnairetemplates-questionnairetemplatesuniqid-child-sections-get"
      }
    },
    "/questionnaireTemplates/{questionnaireTemplatesUniqID}/child/sections/{sectionsUniqID}": {
      "get": {
        "tags": [
          "Questionnaire Templates/Sections"
        ],
        "summary": "Get a section",
        "operationId": "get_questionnaireTemplates-sections",
        "parameters": [
          {
            "name": "questionnaireTemplatesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Templates resource and used to uniquely identify an instance of Questionnaire Templates. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Templates collection resource in order to navigate to a specific instance of Questionnaire Templates to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaireTemplates-sections-item-response"
                }
              }
            },
            "links": {
              "questions": {
                "operationRef": "#/paths/~1questionnaireTemplates~1{questionnaireTemplatesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions/get",
                "parameters": {
                  "questionnaireTemplatesUniqID": "$request.path.questionnaireTemplatesUniqID",
                  "sectionsUniqID": "$request.path.sectionsUniqID"
                },
                "description": "The questions resource is a child of the questionnaireTemplates resource. It includes details of the questions included in a section of the questionnaire template."
              }
            }
          }
        },
        "x-internal-id": "questionnaireTemplates-{questionnaireTemplatesUniqID}-child-sections-{sectionsUniqID}-get",
        "x-filename-id": "questionnairetemplates-questionnairetemplatesuniqid-child-sections-sectionsuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "questionnaireTemplates-sections": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-sections-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "questionnaireTemplates-sections-item-response": {
        "type": "object",
        "properties": {
          "AllowAdditionalQuestionsFlag": {
            "title": "Allow Additional Questions",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether additional questions can be added to the questionnaire section when a response is requested. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who created the section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the section was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 2000,
            "type": "string",
            "description": "Description of the questionnaire section.",
            "nullable": true,
            "x-queryable": false
          },
          "IntroText": {
            "title": "Introduction",
            "maxLength": 2000,
            "type": "string",
            "description": "Introduction text for the questionnaire section.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the section was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who last updated the section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MandatoryFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the questionnaire section is mandatory. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "QuestionOrder": {
            "title": "Question Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the ordering sequence for the questions in a questionnaire section.",
            "nullable": true,
            "default": "V",
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "QuestionOrderMeaning": {
            "title": "Question Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the question order code indicating the ordering sequence for the questions in a questionnaire section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ResponseOrder": {
            "title": "Response Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the ordering sequence for the answer choices in questions included in a questionnaire section.",
            "nullable": true,
            "default": "V",
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ResponseOrderMeaning": {
            "title": "Response Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the response order code indicating the ordering sequence for the answer choices in questions.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SectionId": {
            "title": "Section Id",
            "type": "integer",
            "description": "Surrogate identifier for the section in a questionnaire template.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionName": {
            "title": "Section Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the questionnaire section.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SectionSequenceNumber": {
            "title": "Section Sequence Number",
            "type": "integer",
            "description": "Sequence number for a section in a questionnaire template.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questions": {
            "title": "Questions",
            "type": "array",
            "description": "The questions resource is a child of the questionnaireTemplates resource. It includes details of the questions included in a section of the questionnaire template.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-sections-questions-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "questionnaireTemplates-sections-questions-item-response": {
        "type": "object",
        "properties": {
          "AllowAdditionalCommentsFlag": {
            "title": "Allow Additional Comments",
            "maxLength": 20,
            "type": "boolean",
            "description": "Indicates whether a participant can provide additional comments while responding to a question. Valid values are Y and N. The default value is N.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "ControllingQuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the controlling question that determines if the question is to be presented to the participant to respond. Valid values are defined in the list questionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ControllingQuestionId": {
            "title": "Controlling Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the controlling question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who added the question to the questionnaire template section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the question was added to the questionnaire template section.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InstructionsText": {
            "title": "Instruction Text",
            "maxLength": 4000,
            "type": "string",
            "description": "Instructions or additional information for the question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "KeepWithPreviousFlag": {
            "title": "Keep with Previous",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is always paired with the previous question even when the question order is randomized. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the question was last updated in the questionnaire template section.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who last updated the question in the questionnaire template section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LockQuestionFlag": {
            "title": "Lock Question",
            "maxLength": 8,
            "type": "boolean",
            "description": "Indicates whether the question can be removed or modified in the questionnaire. The default value is false.",
            "nullable": false,
            "default": false,
            "x-queryable": true
          },
          "MandatoryFlag": {
            "title": "Mandatory",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the response to this question is mandatory. Participants can't skip this question without an answer. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MaximumPossibleScore": {
            "title": "Maximum Possible Score",
            "type": "integer",
            "description": "Maximum possible score which is the sum of the maximum possible scores of the possible answer choices. This can be zero if none of the answer choices have a positive score defined.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the question used in the questionnaire template section. Valid values are defined in the list questionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Question text for the question.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionType": {
            "title": "Question Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Question type code indicating the type of the question.",
            "nullable": false,
            "readOnly": true,
            "default": "TEXT",
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionTypeMeaning": {
            "title": "Question Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the question type code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "QuestionVersionNumber": {
            "title": "Version Number",
            "type": "integer",
            "description": "Version number of the question used in the questionnaire template section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question Id",
            "type": "integer",
            "description": "Surrogate identifier of the question in the questionnaire.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseOrderCode": {
            "title": "Response Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that shows whether the question is enabled for random order. Possible values are Random to randomize the answer choices and Vertical to present the answer choices in the defined sequence.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseOrderMeaning": {
            "title": "Response Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the response order code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ResponseType": {
            "title": "Response Type Code",
            "type": "string",
            "description": "Response type for the question when presented to the participant. Valid values are defined in the questionnaireResponseTypesLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseTypeMeaning": {
            "title": "Response Type",
            "type": "string",
            "description": "Meaning of the response type code.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SampleSize": {
            "title": "Sample Size",
            "type": "integer",
            "description": "Defines the number of questions presented to the participant of a questionnaire, when the question order is set to random.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "SequenceNumber": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Sequence number of the question in a questionnaire template section.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "answers": {
            "title": "Answers",
            "type": "array",
            "description": "The answers resource is a child of the questionnaireTemplates resource. It includes details of the answer choices defined for a question that's included in a questionnaire template section.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-sections-questions-answers-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "questionnaireTemplates-sections-questions-answers-item-response": {
        "type": "object",
        "properties": {
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier for the answer choice defined for a question.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseCode": {
            "title": "Response Code",
            "maxLength": 240,
            "type": "string",
            "description": "Unique code for the answer choice defined for a question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseFeedback": {
            "title": "Response Feedback",
            "type": "string",
            "description": "Feedback provided to the participant when the answer choice is selected.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Score": {
            "title": "Score",
            "type": "integer",
            "description": "Score for the answer.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ShortDescription": {
            "title": "Short Description",
            "maxLength": 240,
            "type": "string",
            "description": "Answer text for the answer choices of a question.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}