{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Questions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questions/{questionsUniqID}": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get a question",
        "operationId": "get_questions",
        "parameters": [
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questions-item-response"
                }
              }
            },
            "links": {
              "CtrlQuestionLovVO": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingQuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingQuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "ControllingQuestionId"
                    ],
                    "questionsLOV.QstnVersionNum": [
                      "ConditionQstnVersionNum"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              },
              "attachments": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1attachments/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The attachments resource is a child of the questions resource. It includes details of the attachments in a question."
              },
              "ClassificationCodesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRQ_QSTN_CLASSIFICATION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ClassificationCode; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ClassificationCode",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              },
              "QuestionAnswersLOV": {
                "operationRef": "#/paths/~1questionAnswersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingAnswerCode; Target Attribute: AnswerCode</li><li>Display Attribute: AnswerCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingAnswerCode",
                  "displayValues": [
                    "AnswerCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionAnswersLOV.QuestionAnswerId": [
                      "ControllingAnswerId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "AnswerCode",
                  "displayFields": [
                    "AnswerCode"
                  ]
                }
              },
              "organizationContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1organizationContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The organizationContexts resource is a child of the questions resource. It provides the recruiting organization that the question applies to. This context is used only by the recruiting subscriber."
              },
              "RatingModelVO": {
                "operationRef": "#/paths/~1ratingModelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RatingModelCode; Target Attribute: RatingModelCode</li><li>Display Attribute: RatingModelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RatingModelCode",
                  "displayValues": [
                    "RatingModelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingModelsLOV.RatingModelId": [
                      "RatingModelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingModelCode",
                  "displayFields": [
                    "RatingModelCode"
                  ]
                }
              },
              "answers": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1answers/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The answers resource is a child of the questions resource. It provides a list of choices that a user can select from when answering single or multiple choice questions."
              },
              "jobFamilyContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1jobFamilyContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The jobFamilyContexts resource is a child of the questions resource. It provides the job family that the question applies to. This context is used only by the recruiting subscriber."
              },
              "StatusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTIONNAIRE_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CategoriesLOV": {
                "operationRef": "#/paths/~1questionnaireFoldersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FolderName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FolderName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireFoldersLOV.CategoryId": [
                      "FolderId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "QuestionTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponseTypeLOV": {
                "operationRef": "#/paths/~1questionnaireResponseTypesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseType; Target Attribute: ResponseTypeCode</li><li>Display Attribute: ResponseTypeCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseType",
                  "displayValues": [
                    "ResponseTypeCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireResponseTypesLOV.ResponseTypeId": [
                      "ResponseTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ResponseTypeCode",
                  "displayFields": [
                    "ResponseTypeCode"
                  ]
                }
              },
              "CandidateTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRQ_CANDIDATE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CandidateCode; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CandidateCode",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              },
              "SubscribersLOV": {
                "operationRef": "#/paths/~1questionnaireSubscribersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriberName; Target Attribute: SubscriberName</li><li>Display Attribute: SubscriberName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriberName",
                  "displayValues": [
                    "SubscriberName"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireSubscribersLOV.SubscriberId": [
                      "SubscriberId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SubscriberName",
                  "displayFields": [
                    "SubscriberName"
                  ]
                }
              },
              "jobFunctionContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1jobFunctionContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The jobFunctionContexts resource is a child of the questions resource. It provides the job function that the question applies to. This context is used only by the recruiting subscriber."
              },
              "locationContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1locationContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The locationContexts resource is a child of the questions resource. It provides the recruiting location that the question applies to. This context is used only by the recruiting subscriber."
              },
              "PrivaciesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_PRIVACY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrivacyFlag; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrivacyFlag",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponseOrdersLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTION_ORDER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseOrder; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseOrder",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "questions-{questionsUniqID}-get",
        "x-filename-id": "questions-questionsuniqid-get"
      },
      "delete": {
        "tags": [
          "Questions"
        ],
        "summary": "Delete a question",
        "operationId": "delete_questions",
        "parameters": [
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "questions-{questionsUniqID}-delete",
        "x-filename-id": "questions-questionsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Questions"
        ],
        "summary": "Update a question",
        "operationId": "update_questions",
        "parameters": [
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/questions-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questions-item-response"
                }
              }
            },
            "links": {
              "CtrlQuestionLovVO": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingQuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingQuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "ControllingQuestionId"
                    ],
                    "questionsLOV.QstnVersionNum": [
                      "ConditionQstnVersionNum"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              },
              "attachments": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1attachments/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The attachments resource is a child of the questions resource. It includes details of the attachments in a question."
              },
              "ClassificationCodesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRQ_QSTN_CLASSIFICATION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ClassificationCode; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ClassificationCode",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              },
              "QuestionAnswersLOV": {
                "operationRef": "#/paths/~1questionAnswersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingAnswerCode; Target Attribute: AnswerCode</li><li>Display Attribute: AnswerCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingAnswerCode",
                  "displayValues": [
                    "AnswerCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionAnswersLOV.QuestionAnswerId": [
                      "ControllingAnswerId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "AnswerCode",
                  "displayFields": [
                    "AnswerCode"
                  ]
                }
              },
              "organizationContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1organizationContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The organizationContexts resource is a child of the questions resource. It provides the recruiting organization that the question applies to. This context is used only by the recruiting subscriber."
              },
              "RatingModelVO": {
                "operationRef": "#/paths/~1ratingModelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RatingModelCode; Target Attribute: RatingModelCode</li><li>Display Attribute: RatingModelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RatingModelCode",
                  "displayValues": [
                    "RatingModelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingModelsLOV.RatingModelId": [
                      "RatingModelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingModelCode",
                  "displayFields": [
                    "RatingModelCode"
                  ]
                }
              },
              "answers": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1answers/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The answers resource is a child of the questions resource. It provides a list of choices that a user can select from when answering single or multiple choice questions."
              },
              "jobFamilyContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1jobFamilyContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The jobFamilyContexts resource is a child of the questions resource. It provides the job family that the question applies to. This context is used only by the recruiting subscriber."
              },
              "StatusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTIONNAIRE_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CategoriesLOV": {
                "operationRef": "#/paths/~1questionnaireFoldersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FolderName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FolderName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireFoldersLOV.CategoryId": [
                      "FolderId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "QuestionTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponseTypeLOV": {
                "operationRef": "#/paths/~1questionnaireResponseTypesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseType; Target Attribute: ResponseTypeCode</li><li>Display Attribute: ResponseTypeCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseType",
                  "displayValues": [
                    "ResponseTypeCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireResponseTypesLOV.ResponseTypeId": [
                      "ResponseTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ResponseTypeCode",
                  "displayFields": [
                    "ResponseTypeCode"
                  ]
                }
              },
              "CandidateTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRQ_CANDIDATE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CandidateCode; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CandidateCode",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              },
              "SubscribersLOV": {
                "operationRef": "#/paths/~1questionnaireSubscribersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriberName; Target Attribute: SubscriberName</li><li>Display Attribute: SubscriberName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriberName",
                  "displayValues": [
                    "SubscriberName"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireSubscribersLOV.SubscriberId": [
                      "SubscriberId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SubscriberName",
                  "displayFields": [
                    "SubscriberName"
                  ]
                }
              },
              "jobFunctionContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1jobFunctionContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The jobFunctionContexts resource is a child of the questions resource. It provides the job function that the question applies to. This context is used only by the recruiting subscriber."
              },
              "locationContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1locationContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The locationContexts resource is a child of the questions resource. It provides the recruiting location that the question applies to. This context is used only by the recruiting subscriber."
              },
              "PrivaciesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_PRIVACY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrivacyFlag; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrivacyFlag",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponseOrdersLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTION_ORDER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseOrder; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseOrder",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "questions-{questionsUniqID}-patch",
        "x-filename-id": "questions-questionsuniqid-patch"
      }
    },
    "/questions": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get all questions",
        "operationId": "getall_questions",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AllJobFamiliesFlag; boolean; Indicates whether the question is applicable to all job families. This flag is only used for the questions defined for the recruiting subscriber.</li><li>AllJobFunctionsFlag; boolean; Indicates whether the question is applicable to all job functions. This flag is only used for the questions defined for the recruiting subscriber.</li><li>AllLocationsFlag; boolean; Indicates whether the question is applicable to all locations. This flag is only used for the questions defined for the recruiting subscriber.</li><li>AllOrganizationsFlag; boolean; Indicates whether the question is applicable to all organizations. This flag is only used for the questions defined for the recruiting subscriber.</li><li>AllowAdditionalCommentsFlag; boolean; Indicates whether a participant can provide additional comments while responding to a question. Valid values are Y and N. The default value is N.</li><li>AllowAttachmentsFlag; boolean; Indicates whether an attachment is allowed as a response to the question.</li><li>CandidateCode; string; Code identifying the candidate type to whom the question applies to. Only the recruiting subscriber uses this question.</li><li>CandidateCodeMeaning; string; Meaning of the candidate code. Valid values are Internal, External and Both.</li><li>ClassificationCode; string; Code classifying the use of the question defined for Recruiting subscribers, like prescreening, and disqualification. Valid values are in the common lookups list of values.</li><li>ClassificationMeaning; string; Meaning of the classification code.</li><li>ConditionalDisplayFlag; boolean; Indicates whether a question is conditionally displayed. When this is set to Y, controlling question code and controlling response are mandatory.</li><li>CreatedBy; string; Name of the user who created the question.</li><li>CreationDate; string; Date when the question was created.</li><li>Editor; string; Person identifier of the person with the privileges to edit the question, if the question is marked as private. Required if question is marked as private.</li><li>EditorPersonName; string; Name of the person with privileges to edit the question marked as private. Required if question is marked as private.</li><li>EditorPersonNumber; string; Person number of the person with privileges to edit the question marked private. Required if question is marked as private.</li><li>FolderId; integer; Surrogate identifier of the folder where the question is stored.</li><li>FolderName; string; Name of the folder where the question is stored. Valid values are defined in the questionnaire folders list of values and include Active, Draft and Inactive.</li><li>InstructionsText; string; Instructions or additional information for the question.</li><li>LastUpdateDate; string; Date when the question was last updated.</li><li>LastUpdatedBy; string; Name of the user who last updated the question.</li><li>LatestVersion; string; Setting that indicates if this is the latest version of the question. This is a read-only attribute.</li><li>PrivacyFlag; boolean; Indicates whether the question is restricted for edits. A value of true indicates the question is private and the person specified as the owner can edit it.</li><li>PrivacyMeaning; string; Meaning of the privacy code. A value of Yes indicates the question is private and only the specified owner can edit. A value of No indicates the question isn't restricted for edits.</li><li>QuestionCode; string; Alphanumeric value that uniquely identifies a question defined for a subscriber.</li><li>QuestionId; integer; Surrogate identifier for the question.</li><li>QuestionText; string; Text of the question being asked.</li><li>QuestionType; string; Code identifying the type of question. Valid values are in the list commonLookupsLOV.</li><li>QuestionTypeMeaning; string; Meaning of the question type code.</li><li>RatingModelCode; string; Code identifying the rating model used to define the answer choices for the question.</li><li>RatingModelId; integer; Surrogate identifier of the rating model used to define the answer choices for the question.</li><li>RatingModelName; string; Name of the rating model used to define the answer choices for the question.</li><li>ResponseOrder; string; Code that shows whether the answer choices are presented in random sequence or in the defined sequence. Valid values include R to randomize the answer choices defined and V (vertical) to present the answer choices in the defined order.</li><li>ResponseOrderMeaning; string; Meaning of the response order code.</li><li>ResponseTypeId; integer; Surrogate identifier of the response type for the question.</li><li>ScoredFlag; boolean; Indicates the question is used in the score calculation.</li><li>Status; string; Status of the question. Valid values are A for Active, I for Inactive and D for Draft.</li><li>StatusMeaning; string; Meaning of the status code.</li><li>SubscriberCode; string; Code for the subscriber using the question. The list questionnaireSubscribersLOV includes the valid values.</li><li>SubscriberId; integer; Surrogate identifier for the subscriber.</li><li>SubscriberName; string; Name of the subscriber that the question is used for. Valid values are defined in the list questionnaireSubscribersLOV.</li><li>VersionNumber; integer; Version number of the question. New questions must have a version number of 1.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the question that matches the primary key criteria specified. <br>Finder Variables <ul><li>QuestionId; integer;  Surrogate identifier for the question. </li><li>VersionNumber; integer;  Version number of the question. New questions must have version number 1. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the question that matches the primary key criteria specified.",
                "properties": {
                  "QuestionId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the question.",
                    "type": "integer",
                    "title": "Question Id"
                  },
                  "VersionNumber": {
                    "default": 1,
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Version number of the question. New questions must have version number 1.",
                    "type": "integer",
                    "title": "Version Number"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questions"
                }
              }
            }
          }
        },
        "x-internal-id": "questions-get",
        "x-filename-id": "questions-get"
      },
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Create a question",
        "operationId": "create_questions",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/questions-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questions-item-response"
                }
              }
            },
            "links": {
              "CtrlQuestionLovVO": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingQuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingQuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "ControllingQuestionId"
                    ],
                    "questionsLOV.QstnVersionNum": [
                      "ConditionQstnVersionNum"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              },
              "attachments": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1attachments/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The attachments resource is a child of the questions resource. It includes details of the attachments in a question."
              },
              "ClassificationCodesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRQ_QSTN_CLASSIFICATION"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ClassificationCode; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ClassificationCode",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              },
              "QuestionAnswersLOV": {
                "operationRef": "#/paths/~1questionAnswersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingAnswerCode; Target Attribute: AnswerCode</li><li>Display Attribute: AnswerCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingAnswerCode",
                  "displayValues": [
                    "AnswerCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionAnswersLOV.QuestionAnswerId": [
                      "ControllingAnswerId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "AnswerCode",
                  "displayFields": [
                    "AnswerCode"
                  ]
                }
              },
              "organizationContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1organizationContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The organizationContexts resource is a child of the questions resource. It provides the recruiting organization that the question applies to. This context is used only by the recruiting subscriber."
              },
              "RatingModelVO": {
                "operationRef": "#/paths/~1ratingModelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RatingModelCode; Target Attribute: RatingModelCode</li><li>Display Attribute: RatingModelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RatingModelCode",
                  "displayValues": [
                    "RatingModelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingModelsLOV.RatingModelId": [
                      "RatingModelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingModelCode",
                  "displayFields": [
                    "RatingModelCode"
                  ]
                }
              },
              "answers": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1answers/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The answers resource is a child of the questions resource. It provides a list of choices that a user can select from when answering single or multiple choice questions."
              },
              "jobFamilyContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1jobFamilyContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The jobFamilyContexts resource is a child of the questions resource. It provides the job family that the question applies to. This context is used only by the recruiting subscriber."
              },
              "StatusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTIONNAIRE_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "CategoriesLOV": {
                "operationRef": "#/paths/~1questionnaireFoldersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FolderName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FolderName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireFoldersLOV.CategoryId": [
                      "FolderId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "QuestionTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponseTypeLOV": {
                "operationRef": "#/paths/~1questionnaireResponseTypesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseType; Target Attribute: ResponseTypeCode</li><li>Display Attribute: ResponseTypeCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseType",
                  "displayValues": [
                    "ResponseTypeCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireResponseTypesLOV.ResponseTypeId": [
                      "ResponseTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ResponseTypeCode",
                  "displayFields": [
                    "ResponseTypeCode"
                  ]
                }
              },
              "CandidateTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRQ_CANDIDATE_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CandidateCode; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CandidateCode",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              },
              "SubscribersLOV": {
                "operationRef": "#/paths/~1questionnaireSubscribersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriberName; Target Attribute: SubscriberName</li><li>Display Attribute: SubscriberName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriberName",
                  "displayValues": [
                    "SubscriberName"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireSubscribersLOV.SubscriberId": [
                      "SubscriberId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SubscriberName",
                  "displayFields": [
                    "SubscriberName"
                  ]
                }
              },
              "jobFunctionContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1jobFunctionContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The jobFunctionContexts resource is a child of the questions resource. It provides the job function that the question applies to. This context is used only by the recruiting subscriber."
              },
              "locationContexts": {
                "operationRef": "#/paths/~1questions~1{questionsUniqID}~1child~1locationContexts/get",
                "parameters": {
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The locationContexts resource is a child of the questions resource. It provides the recruiting location that the question applies to. This context is used only by the recruiting subscriber."
              },
              "PrivaciesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_PRIVACY"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrivacyFlag; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrivacyFlag",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "ResponseOrdersLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRQ_QUESTION_ORDER"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseOrder; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseOrder",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "questions-post",
        "x-filename-id": "questions-post"
      }
    }
  },
  "components": {
    "schemas": {
      "questions-item-response": {
        "type": "object",
        "properties": {
          "AdhocFlag": {
            "title": "Casual Question",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is an ad hoc question. You can't create, modify, or delete ad hoc questions as these are casual questions and aren't maintained as setup data. The default value is false.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": false
          },
          "AllJobFamiliesFlag": {
            "title": "All Job Families",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is applicable to all job families. This flag is only used for the questions defined for the recruiting subscriber.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "AllJobFunctionsFlag": {
            "title": "All Job Functions",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is applicable to all job functions. This flag is only used for the questions defined for the recruiting subscriber.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "AllLocationsFlag": {
            "title": "All Locations",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is applicable to all locations. This flag is only used for the questions defined for the recruiting subscriber.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "AllOrganizationsFlag": {
            "title": "All Organizations",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is applicable to all organizations. This flag is only used for the questions defined for the recruiting subscriber.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "AllowAdditionalCommentsFlag": {
            "title": "Allow Additional Comments",
            "maxLength": 20,
            "type": "boolean",
            "description": "Indicates whether a participant can provide additional comments while responding to a question. Valid values are Y and N. The default value is N.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "AllowAttachmentsFlag": {
            "title": "Allow Attachments",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether an attachment is allowed as a response to the question.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "CandidateCode": {
            "title": "Candidate Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code identifying the candidate type to whom the question applies to. Only the recruiting subscriber uses this question.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CandidateCodeMeaning": {
            "title": "Candidate Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the candidate code. Valid values are Internal, External and Both.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ClassificationCode": {
            "title": "Classification Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code classifying the use of the question defined for Recruiting subscribers, like prescreening, and disqualification. Valid values are in the common lookups list of values.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ClassificationMeaning": {
            "title": "Question Classification",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the classification code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ConditionalDisplayFlag": {
            "title": "Conditional Display",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether a question is conditionally displayed. When this is set to Y, controlling question code and controlling response are mandatory.",
            "nullable": true,
            "x-queryable": true
          },
          "ControllingAnswerCode": {
            "title": "Controlling Response",
            "maxLength": 240,
            "type": "string",
            "description": "Answer to the controlling question that determines whether the application displays the question or not.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ControllingAnswerId": {
            "title": "Controlling Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the controlling answer. Required if the conditional display is set to Y.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ControllingQuestionCode": {
            "title": "Controlling Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the controlling question, response to which determines whether the application displays the question or not.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ControllingQuestionId": {
            "title": "Controlling Question Id",
            "type": "integer",
            "description": "Surrogate identifier of the controlling question. Required if the conditional display is set to Y.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who created the question.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the question was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Editor": {
            "title": "Owner",
            "maxLength": 64,
            "type": "string",
            "description": "Person identifier of the person with the privileges to edit the question, if the question is marked as private. Required if question is marked as private.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EditorPersonName": {
            "title": "Person Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the person with privileges to edit the question marked as private. Required if question is marked as private.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "EditorPersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person with privileges to edit the question marked private. Required if question is marked as private.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "FolderId": {
            "title": "Folder Id",
            "type": "integer",
            "description": "Surrogate identifier of the folder where the question is stored.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "dependencies": [
                "FolderName"
              ]
            },
            "x-queryable": true
          },
          "FolderName": {
            "title": "Folder",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the folder where the question is stored. Valid values are defined in the questionnaire folders list of values and include Active, Draft and Inactive.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "dependencies": [
                "SubscriberId"
              ]
            },
            "x-queryable": true
          },
          "InstructionsText": {
            "title": "Instruction Text",
            "maxLength": 4000,
            "type": "string",
            "description": "Instructions or additional information for the question.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the question was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who last updated the question.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LatestVersion": {
            "title": "Latest Version",
            "type": "string",
            "description": "Setting that indicates if this is the latest version of the question. This is a read-only attribute.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MaximumDate": {
            "title": "Maximum Value",
            "type": "string",
            "description": "Latest date to be supported as the response when a participant responds to a question.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MaximumPossibleScore": {
            "title": "Maximum Possible Score",
            "type": "integer",
            "description": "Sum of the positive scores of possible answer choices for the question. For multiple choice questions, it's the sum of positive scores of the maximum number of selections allowed by the question. If the answer choices have no positive score defined, then the sum is zero.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MaximumResponses": {
            "title": "Maximum Number of Selections",
            "type": "integer",
            "description": "Maximum number of answer choices that a participant can select when responding to a multiple choice question.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MaximumThresholdScore": {
            "title": "Maximum Calculated Score",
            "type": "integer",
            "description": "Maximum score allowed for the question when answered.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MinimumDate": {
            "title": "Minimum Value",
            "type": "string",
            "description": "Earliest date supported as the response when a participant responds to a question.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MinimumResponses": {
            "title": "Minimum Number of Selections",
            "type": "integer",
            "description": "Minimum number of answer choices that a participant can select when responding to a multiple choice question.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MinimumThresholdScore": {
            "title": "Minimum Calculated Score",
            "type": "integer",
            "description": "Minimum score allowed for the question when answered.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "OverrideDescriptionFlag": {
            "title": "Override Rating Level Description",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the answer defined in a question came from a rating model level and if the description of the rating level was changed in the question.",
            "nullable": true,
            "default": false,
            "x-queryable": false
          },
          "PrivacyFlag": {
            "title": "Privacy Code",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is restricted for edits. A value of true indicates the question is private and the person specified as the owner can edit it.",
            "nullable": false,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "PrivacyMeaning": {
            "title": "Privacy",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the privacy code. A value of Yes indicates the question is private and only the specified owner can edit. A value of No indicates the question isn't restricted for edits.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Alphanumeric value that uniquely identifies a question defined for a subscriber.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Text of the question being asked.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionType": {
            "title": "Question Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code identifying the type of question. Valid values are in the list commonLookupsLOV.",
            "nullable": false,
            "default": "TEXT",
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionTypeMeaning": {
            "title": "Question Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the question type code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RatingModelCode": {
            "title": "Rating Model Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code identifying the rating model used to define the answer choices for the question.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "RatingModelId": {
            "title": "Rating Model Id",
            "type": "integer",
            "description": "Surrogate identifier of the rating model used to define the answer choices for the question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RatingModelName": {
            "title": "Rating Model",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the rating model used to define the answer choices for the question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponseMaximumLength": {
            "title": "Response Maximum Length",
            "maxLength": 20,
            "type": "string",
            "description": "Maximum allowed length of responses for a question of text response type.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ResponseMinimumLength": {
            "title": "Response Minimum Length",
            "type": "integer",
            "description": "Minimum expected length of responses for a question of text response type.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ResponseOrder": {
            "title": "Response Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that shows whether the answer choices are presented in random sequence or in the defined sequence. Valid values include R to randomize the answer choices defined and V (vertical) to present the answer choices in the defined order.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseOrderMeaning": {
            "title": "Response Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the response order code.",
            "nullable": false,
[...]
