{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Questionnaires/Sections/Questions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questionnaires/{questionnairesUniqID}/child/sections/{sectionsUniqID}/child/questions": {
      "get": {
        "tags": [
          "Questionnaires/Sections/Questions"
        ],
        "summary": "Get all questions",
        "operationId": "getall_questionnaires-sections-questions",
        "parameters": [
          {
            "name": "questionnairesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaires resource and used to uniquely identify an instance of Questionnaires. The client should not generate the hash key value. Instead, the client should query on the Questionnaires collection resource in order to navigate to a specific instance of Questionnaires to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AllowAdditionalCommentsFlag; boolean; Indicates whether a participant can provide additional comments while responding to a question. Valid values are Y and N. The default value is N.</li><li>AllowAttachmentsFlag; boolean; Indicates whether an attachment is allowed as a response to the question. The default value is N.</li><li>ConditionalDisplayFlag; boolean; Indicates whether a question conditionally displays. When this is set to Y, the controlling question code and controlling response are mandatory. The default value is N.</li><li>CreatedBy; string; Name of the user who added the question to the questionnaire section.</li><li>CreationDate; string; Date when the question was added to the questionnaire section.</li><li>InstructionsText; string; Instructions or additional information for the question.</li><li>LastUpdateDate; string; Date and time when the question was last updated in the questionnaire section.</li><li>LastUpdatedBy; string; Date when the question was last updated in the questionnaire section.</li><li>QuestionCode; string; Question code for the question used in the questionnaire template section. Valid values are defined in the list questionsLOV.</li><li>QuestionId; integer; Surrogate identifier of the question.</li><li>QuestionText; string; Question text for the question.</li><li>QuestionType; string; Question type code indicating the type of the question.</li><li>QuestionnaireQuestionId; integer; Surrogate identifier of the question in the questionnaire.</li><li>ResponseOrder; string; Code that shows if the question is enabled for random order. Possible values are Random to randomize the answer choices and Vertical to present the answer choices in the defined sequence.</li><li>ScoredFlag; boolean; Indicates whether the question is used in calculating the score. The default value is N.</li><li>Status; string; Status of the question. Valid values are A for Active, I for Inactive and D for Draft.</li><li>VersionNumber; integer; Version number of the question in the questionnaire.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the questionnaire questions that match the specified primary key criteria. <br>Finder Variables <ul><li>QuestionnaireQuestionId; integer;  Surrogate identifier of the question added to a questionnaire. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the questionnaire questions that match the specified primary key criteria.",
                "properties": {
                  "QuestionnaireQuestionId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier of the question added to a questionnaire.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Questionnaire Question ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaires-sections-questions"
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaires-{questionnairesUniqID}-child-sections-{sectionsUniqID}-child-questions-get",
        "x-filename-id": "questionnaires-questionnairesuniqid-child-sections-sectionsuniqid-child-questions-get"
      },
      "post": {
        "tags": [
          "Questionnaires/Sections/Questions"
        ],
        "summary": "Create a question",
        "operationId": "create_questionnaires-sections-questions",
        "parameters": [
          {
            "name": "questionnairesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaires resource and used to uniquely identify an instance of Questionnaires. The client should not generate the hash key value. Instead, the client should query on the Questionnaires collection resource in order to navigate to a specific instance of Questionnaires to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/questionnaires-sections-questions-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaires-sections-questions-item-response"
                }
              }
            },
            "links": {
              "QuestionAnswersLOV": {
                "operationRef": "#/paths/~1questionAnswersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingAnswerCode; Target Attribute: AnswerCode</li><li>Display Attribute: AnswerCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingAnswerCode",
                  "displayValues": [
                    "AnswerCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionAnswersLOV.QuestionAnswerId": [
                      "ControllingAnswerId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "AnswerCode",
                  "displayFields": [
                    "AnswerCode"
                  ]
                }
              },
              "conditionQuestionsLOV": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingQuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode, QuestionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingQuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "ControllingQuestionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode",
                    "QuestionId"
                  ]
                }
              },
              "answers": {
                "operationRef": "#/paths/~1questionnaires~1{questionnairesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions~1{questionsUniqID}~1child~1answers/get",
                "parameters": {
                  "sectionsUniqID": "$request.path.sectionsUniqID",
                  "questionnairesUniqID": "$request.path.questionnairesUniqID",
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The answers resource is a child of the questionnaires resource. It provides details of the answer choices defined for a question that's included in a questionnaire section."
              },
              "questionAttachments": {
                "operationRef": "#/paths/~1questionnaires~1{questionnairesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions~1{questionsUniqID}~1child~1questionAttachments/get",
                "parameters": {
                  "sectionsUniqID": "$request.path.sectionsUniqID",
                  "questionnairesUniqID": "$request.path.questionnairesUniqID",
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "hrqResponseTypesLOV": {
                "operationRef": "#/paths/~1questionnaireResponseTypesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseType; Target Attribute: ResponseTypeCode</li><li>Display Attribute: ResponseTypeCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseType",
                  "displayValues": [
                    "ResponseTypeCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireResponseTypesLOV.ResponseTypeId": [
                      "ResponseTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ResponseTypeCode",
                  "displayFields": [
                    "ResponseTypeCode"
                  ]
                }
              },
              "questionsLOV": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "QuestionId"
                    ],
                    "questionsLOV.QstnVersionNumber": [
                      "VersionNumber"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaires-{questionnairesUniqID}-child-sections-{sectionsUniqID}-child-questions-post",
        "x-filename-id": "questionnaires-questionnairesuniqid-child-sections-sectionsuniqid-child-questions-post"
      }
    },
    "/questionnaires/{questionnairesUniqID}/child/sections/{sectionsUniqID}/child/questions/{questionsUniqID}": {
      "get": {
        "tags": [
          "Questionnaires/Sections/Questions"
        ],
        "summary": "Get a question",
        "operationId": "get_questionnaires-sections-questions",
        "parameters": [
          {
            "name": "questionnairesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaires resource and used to uniquely identify an instance of Questionnaires. The client should not generate the hash key value. Instead, the client should query on the Questionnaires collection resource in order to navigate to a specific instance of Questionnaires to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaires-sections-questions-item-response"
                }
              }
            },
            "links": {
              "QuestionAnswersLOV": {
                "operationRef": "#/paths/~1questionAnswersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingAnswerCode; Target Attribute: AnswerCode</li><li>Display Attribute: AnswerCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingAnswerCode",
                  "displayValues": [
                    "AnswerCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionAnswersLOV.QuestionAnswerId": [
                      "ControllingAnswerId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "AnswerCode",
                  "displayFields": [
                    "AnswerCode"
                  ]
                }
              },
              "conditionQuestionsLOV": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingQuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode, QuestionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingQuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "ControllingQuestionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode",
                    "QuestionId"
                  ]
                }
              },
              "answers": {
                "operationRef": "#/paths/~1questionnaires~1{questionnairesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions~1{questionsUniqID}~1child~1answers/get",
                "parameters": {
                  "sectionsUniqID": "$request.path.sectionsUniqID",
                  "questionnairesUniqID": "$request.path.questionnairesUniqID",
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The answers resource is a child of the questionnaires resource. It provides details of the answer choices defined for a question that's included in a questionnaire section."
              },
              "questionAttachments": {
                "operationRef": "#/paths/~1questionnaires~1{questionnairesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions~1{questionsUniqID}~1child~1questionAttachments/get",
                "parameters": {
                  "sectionsUniqID": "$request.path.sectionsUniqID",
                  "questionnairesUniqID": "$request.path.questionnairesUniqID",
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "hrqResponseTypesLOV": {
                "operationRef": "#/paths/~1questionnaireResponseTypesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseType; Target Attribute: ResponseTypeCode</li><li>Display Attribute: ResponseTypeCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseType",
                  "displayValues": [
                    "ResponseTypeCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireResponseTypesLOV.ResponseTypeId": [
                      "ResponseTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ResponseTypeCode",
                  "displayFields": [
                    "ResponseTypeCode"
                  ]
                }
              },
              "questionsLOV": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "QuestionId"
                    ],
                    "questionsLOV.QstnVersionNumber": [
                      "VersionNumber"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaires-{questionnairesUniqID}-child-sections-{sectionsUniqID}-child-questions-{questionsUniqID}-get",
        "x-filename-id": "questionnaires-questionnairesuniqid-child-sections-sectionsuniqid-child-questions-questionsuniqid-get"
      },
      "delete": {
        "tags": [
          "Questionnaires/Sections/Questions"
        ],
        "summary": "Delete a question",
        "operationId": "delete_questionnaires-sections-questions",
        "parameters": [
          {
            "name": "questionnairesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaires resource and used to uniquely identify an instance of Questionnaires. The client should not generate the hash key value. Instead, the client should query on the Questionnaires collection resource in order to navigate to a specific instance of Questionnaires to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "questionnaires-{questionnairesUniqID}-child-sections-{sectionsUniqID}-child-questions-{questionsUniqID}-delete",
        "x-filename-id": "questionnaires-questionnairesuniqid-child-sections-sectionsuniqid-child-questions-questionsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Questionnaires/Sections/Questions"
        ],
        "summary": "Update a question",
        "operationId": "update_questionnaires-sections-questions",
        "parameters": [
          {
            "name": "questionnairesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaires resource and used to uniquely identify an instance of Questionnaires. The client should not generate the hash key value. Instead, the client should query on the Questionnaires collection resource in order to navigate to a specific instance of Questionnaires to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Sections resource and used to uniquely identify an instance of Sections. The client should not generate the hash key value. Instead, the client should query on the Sections collection resource in order to navigate to a specific instance of Sections to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questions resource and used to uniquely identify an instance of Questions. The client should not generate the hash key value. Instead, the client should query on the Questions collection resource in order to navigate to a specific instance of Questions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/questionnaires-sections-questions-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaires-sections-questions-item-response"
                }
              }
            },
            "links": {
              "QuestionAnswersLOV": {
                "operationRef": "#/paths/~1questionAnswersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingAnswerCode; Target Attribute: AnswerCode</li><li>Display Attribute: AnswerCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingAnswerCode",
                  "displayValues": [
                    "AnswerCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionAnswersLOV.QuestionAnswerId": [
                      "ControllingAnswerId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "AnswerCode",
                  "displayFields": [
                    "AnswerCode"
                  ]
                }
              },
              "conditionQuestionsLOV": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ControllingQuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode, QuestionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ControllingQuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "ControllingQuestionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode",
                    "QuestionId"
                  ]
                }
              },
              "answers": {
                "operationRef": "#/paths/~1questionnaires~1{questionnairesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions~1{questionsUniqID}~1child~1answers/get",
                "parameters": {
                  "sectionsUniqID": "$request.path.sectionsUniqID",
                  "questionnairesUniqID": "$request.path.questionnairesUniqID",
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The answers resource is a child of the questionnaires resource. It provides details of the answer choices defined for a question that's included in a questionnaire section."
              },
              "questionAttachments": {
                "operationRef": "#/paths/~1questionnaires~1{questionnairesUniqID}~1child~1sections~1{sectionsUniqID}~1child~1questions~1{questionsUniqID}~1child~1questionAttachments/get",
                "parameters": {
                  "sectionsUniqID": "$request.path.sectionsUniqID",
                  "questionnairesUniqID": "$request.path.questionnairesUniqID",
                  "questionsUniqID": "$request.path.questionsUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "hrqResponseTypesLOV": {
                "operationRef": "#/paths/~1questionnaireResponseTypesLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ResponseType; Target Attribute: ResponseTypeCode</li><li>Display Attribute: ResponseTypeCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ResponseType",
                  "displayValues": [
                    "ResponseTypeCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireResponseTypesLOV.ResponseTypeId": [
                      "ResponseTypeId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ResponseTypeCode",
                  "displayFields": [
                    "ResponseTypeCode"
                  ]
                }
              },
              "questionsLOV": {
                "operationRef": "#/paths/~1questionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionsLOV.QuestionId": [
                      "QuestionId"
                    ],
                    "questionsLOV.QstnVersionNumber": [
                      "VersionNumber"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaires-{questionnairesUniqID}-child-sections-{sectionsUniqID}-child-questions-{questionsUniqID}-patch",
        "x-filename-id": "questionnaires-questionnairesuniqid-child-sections-sectionsuniqid-child-questions-questionsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "questionnaires-sections-questions": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/questionnaires-sections-questions-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "questionnaires-sections-questions-item-response": {
        "type": "object",
        "properties": {
          "AdhocQuestion": {
            "title": "Casual Question",
            "maxLength": 30,
            "type": "string",
            "description": "Setting that indicates if the question added to the questionnaire is an informal or a casual question. This is a read-only attribute.",
            "nullable": false,
            "readOnly": true,
            "default": "N",
            "x-queryable": false
          },
          "AllowAdditionalCommentsFlag": {
            "title": "Allow Additional Comments",
            "maxLength": 20,
            "type": "boolean",
            "description": "Indicates whether a participant can provide additional comments while responding to a question. Valid values are Y and N. The default value is N.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "AllowAttachmentsFlag": {
            "title": "Allow Attachments",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether an attachment is allowed as a response to the question. The default value is N.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "ConditionalDisplayFlag": {
            "title": "Conditional Display",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether a question conditionally displays. When this is set to Y, the controlling question code and controlling response are mandatory. The default value is N.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ControllingAnswerCode": {
            "title": "Controlling Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Answer to the controlling question that determines if the question displays or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ControllingAnswerId": {
            "title": "Controlling Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the controlling question. Required if the conditional display is set to Y.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ControllingQuestionCode": {
            "title": "Controlling Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the controlling question that determines if the question is presented to the participant to respond. Valid values are defined in the list questionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ControllingQuestionId": {
            "title": "Controlling Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the controlling question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who added the question to the questionnaire section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the question was added to the questionnaire section.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InstructionsText": {
            "title": "Instruction Text",
            "maxLength": 4000,
            "type": "string",
            "description": "Instructions or additional information for the question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the question was last updated in the questionnaire section.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Date when the question was last updated in the questionnaire section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LockQuestionFlag": {
            "title": "Lock Question",
            "maxLength": 8,
            "type": "boolean",
            "description": "Indicates whether you can remove or modify the question in the questionnaire. This is a read-only attribute. The default value is false.",
            "nullable": false,
            "readOnly": true,
            "default": false,
            "x-queryable": false
          },
          "MandatoryFlag": {
            "title": "Mandatory",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the response to this question is mandatory. Participants can't skip this question without an answer. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MaximumPossibleScore": {
            "title": "Maximum Possible Score",
            "type": "integer",
            "description": "Maximum possible score which is the sum of the maximum possible scores of the possible answer choices. This can be zero if none of the answer choices have a positive score defined.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MaximumResponses": {
            "title": "Maximum Number of Selections",
            "type": "integer",
            "description": "Maximum number of answer choices that a participant can select when responding to a multiple choice question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MaximumThresholdScore": {
            "title": "Maximum Calculated Score",
            "type": "integer",
            "description": "Maximum score limit for the question when the total score is calculated for a response to the question.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MinimumResponses": {
            "title": "Minimum Number of Selections",
            "type": "integer",
            "description": "Minimum number of answer choices that a participant can select when responding to a multiple choice question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "MinimumThresholdScore": {
            "title": "Minimum Calculated Score",
            "type": "integer",
            "description": "Minimum score limit for the question when the total score is calculated for a response to the question.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the question used in the questionnaire template section. Valid values are defined in the list questionsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question ID",
            "type": "integer",
            "description": "Surrogate identifier of the question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Question text for the question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionType": {
            "title": "Question Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Question type code indicating the type of the question.",
            "nullable": false,
            "readOnly": true,
            "default": "TEXT",
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionTypeMeaning": {
            "title": "Question Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the question type code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question ID",
            "type": "integer",
            "description": "Surrogate identifier of the question in the questionnaire.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseMaximumLength": {
            "title": "Response Maximum Length",
            "maxLength": 20,
            "type": "string",
            "description": "Maximum allowed length of responses for a text response type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ResponseMinimumLength": {
            "title": "Response Minimum Length",
            "type": "integer",
            "description": "Minimum expected length of responses for a text response type.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ResponseOrder": {
            "title": "Response Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that shows if the question is enabled for random order. Possible values are Random to randomize the answer choices and Vertical to present the answer choices in the defined sequence.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseOrderMeaning": {
            "title": "Response Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the response order code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ResponseType": {
            "title": "Response Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Response type for the question when presented to the participant. Valid values are defined in the questionnaireResponseTypesLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ResponseTypeMeaning": {
            "title": "Response Type",
            "maxLength": 240,
            "type": "string",
            "description": "Meaning of the response type code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SampleSize": {
            "title": "Sample Size",
            "type": "integer",
            "description": "Number of answer choices presented to the participant when responding to a question that's enabled for randomization.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ScoredFlag": {
            "title": "Score Question",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is used in calculating the score. The default value is N.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "SequenceNumber": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Sequence number of the question in a questionnaire template section.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the question. Valid values are A for Active, I for Inactive and D for Draft.",
            "nullable": false,
            "readOnly": true,
            "default": "D",
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "VersionNumber": {
            "title": "Version Number",
            "type": "integer",
            "description": "Version number of the question in the questionnaire.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "answers": {
            "title": "Answers",
            "type": "array",
            "description": "The answers resource is a child of the questionnaires resource. It provides details of the answer choices defined for a question that's included in a questionnaire section.",
            "items": {
              "$ref": "#/components/schemas/questionnaires-sections-questions-answers-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questionAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/questionnaires-sections-questions-questionAttachments-item-response"
            }
          }
        }
      },
      "questionnaires-sections-questions-answers-item-response": {
        "type": "object",
        "properties": {
          "QuestionAnswerId": {
            "title": "Question Answer ID",
            "type": "integer",
            "description": "Surrogate identifier for the answer choice defined for a question.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseCode": {
            "title": "Answer Code",
            "maxLength": 240,
            "type": "string",
            "description": "Unique code for the answer choice defined for a question.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseFeedback": {
            "title": "Response Feedback",
            "type": "string",
            "description": "Feedback provided to the participant when the answer choice is selected.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Score": {
            "title": "Score",
            "type": "integer",
            "description": "Score for the answer.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ShortDescription": {
            "title": "Short Description",
            "maxLength": 2000,
            "type": "string",
            "description": "Answer text for the answer choices of a question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "answerAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/questionnaires-sections-questions-answers-answerAttachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "questionnaires-sections-questions-answers-answerAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "questionnaires-sections-questions-questionAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
[...]
