{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Questionnaire Templates",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questionnaireTemplates/{questionnaireTemplatesUniqID}": {
      "get": {
        "tags": [
          "Questionnaire Templates"
        ],
        "summary": "Get a questionnaire template",
        "operationId": "get_questionnaireTemplates",
        "parameters": [
          {
            "name": "questionnaireTemplatesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Templates resource and used to uniquely identify an instance of Questionnaire Templates. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Templates collection resource in order to navigate to a specific instance of Questionnaire Templates to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaireTemplates-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1questionnaireTemplates~1{questionnaireTemplatesUniqID}~1child~1attachments/get",
                "parameters": {
                  "questionnaireTemplatesUniqID": "$request.path.questionnaireTemplatesUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "SubscriberLov": {
                "operationRef": "#/paths/~1questionnaireSubscribersLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriberCode; Target Attribute: SubscriberCode</li><li>Display Attribute: SubscriberCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriberCode",
                  "displayValues": [
                    "SubscriberCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireSubscribersLOV.SubscriberId": [
                      "SubscriberId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SubscriberCode",
                  "displayFields": [
                    "SubscriberCode"
                  ]
                }
              },
              "sections": {
                "operationRef": "#/paths/~1questionnaireTemplates~1{questionnaireTemplatesUniqID}~1child~1sections/get",
                "parameters": {
                  "questionnaireTemplatesUniqID": "$request.path.questionnaireTemplatesUniqID"
                },
                "description": "The sections resource is a child resource of the questionnaireTemplates resource that includes the details of the sections defined in the questionnaire template."
              }
            }
          }
        },
        "x-internal-id": "questionnaireTemplates-{questionnaireTemplatesUniqID}-get",
        "x-filename-id": "questionnairetemplates-questionnairetemplatesuniqid-get"
      }
    },
    "/questionnaireTemplates": {
      "get": {
        "tags": [
          "Questionnaire Templates"
        ],
        "summary": "Get all questionnaire templates",
        "operationId": "getall_questionnaireTemplates",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreatedBy; string; Name of the user who created the questionnaire template.</li><li>CreationDate; string; Date when the questionnaire template was created.</li><li>Editor; string; Person Identifier of the person having the privileges to edit the questionnaire template marked as private.</li><li>EditorPersonName; string; Name of the person with privileges to edit the questionnaire template marked as private.</li><li>EditorPersonNumber; string; Person number of the person with privileges to edit the questionnaire template that's marked private.</li><li>InUseFlag; boolean; Indicates whether the questionnaire template is used by any questionnaires. The default value is false.</li><li>InUseMeaning; string; Meaning of the In Use Code attribute that Indicates whether the questionnaire template is used by any questionnaire.</li><li>InstructionText; string; Instructions or additional information for the questionnaire template.</li><li>LastUpdateDate; string; Date when the questionnaire template was last updated.</li><li>LastUpdatedBy; string; Name of the user who last updated the questionnaire template.</li><li>PrivacyFlag; boolean; Indicates whether the questionnaire template is private. If a template is marked private, only the person specified by the owner attribute can edit the template. The default value is false.</li><li>PrivacyMeaning; string; Meaning of the privacy code indicating if the questionnaire template is marked private.</li><li>QuestionnaireTemplateId; integer; Surrogate identifier for the questionnaire template.</li><li>QuestionnaireTemplateName; string; Name of the questionnaire template.</li><li>ScoreQuestionnaireFlag; boolean; Indicates whether the questionnaire is scored. The default value is false.</li><li>Status; string; Status of the questionnaire template.</li><li>StatusMeaning; string; Meaning of the status code for the questionnaire template.</li><li>SubscriberCode; string; Code for the subscriber using the questionnaire template. Valid values are defined in the list questionnaireSubscribersLOV.</li><li>SubscriberId; integer; Surrogate identifier for the subscriber.</li><li>SubscriberName; string; Name of the subscriber using the questionnaire template.</li><li>VersionNumber; integer; Version number of the questionnaire template.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a questionnaire template that matches the specified primary key criteria. <br>Finder Variables <ul><li>QuestionnaireTemplateId; integer;  Surrogate identifier for the questionnaire template. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a questionnaire template that matches the specified primary key criteria.",
                "properties": {
                  "QuestionnaireTemplateId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the questionnaire template.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Questionnaire Template Id"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionnaireTemplates"
                }
              }
            }
          }
        },
        "x-internal-id": "questionnaireTemplates-get",
        "x-filename-id": "questionnairetemplates-get"
      }
    }
  },
  "components": {
    "schemas": {
      "questionnaireTemplates-item-response": {
        "type": "object",
        "properties": {
          "AllowFormatChangeFlag": {
            "title": "Allow changes to format options",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the format options can be changed in the questionnaire. The default value is false.",
            "nullable": false,
            "default": false,
            "x-queryable": false
          },
          "AllowInstrChangeFlag": {
            "title": "Allow changes to instructions",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the instructions can be changed in the questionnaire. The default value is false.",
            "nullable": false,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AllowPlainTextFlag": {
            "title": "Plain Text Box",
            "type": "boolean",
            "description": "Indicates whether questions with plain text response type can be added to the questionnaire. The default value is false.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AllowRichTextFlag": {
            "title": "Rich Text Box",
            "type": "boolean",
            "description": "Indicates whether questions with rich text response type can be added to the questionnaire. The default value is false.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "AllowSectionChangeFlag": {
            "title": "Allow changes to sections",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether a section can be changed in the questionnaire. The default value is false.",
            "nullable": false,
            "default": false,
            "x-queryable": false
          },
          "CalculationRule": {
            "title": "Score Calculation Rule Code",
            "maxLength": 30,
            "type": "string",
            "description": "Calculation rule code for questionnaires that are scored.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "CalculationRuleMeaning": {
            "title": "Score Calculation Rule",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the score calculation rule for questionnaires that are scored.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CheckBoxWithImageFlag": {
            "title": "Checkbox with Image",
            "type": "boolean",
            "description": "Indicates whether you can add checkbox questions with image response type to the questionnaire. The default value is true.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CheckMultipleChoicesFlag": {
            "title": "Check Multiple Choices",
            "type": "boolean",
            "description": "Indicates whether you can add multiple choice checkbox response type questions to the questionnaire. The default value is true.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who created the questionnaire template.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the questionnaire template was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 2000,
            "type": "string",
            "description": "Description of the questionnaire template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Editor": {
            "title": "Owner",
            "maxLength": 64,
            "type": "string",
            "description": "Person Identifier of the person having the privileges to edit the questionnaire template marked as private.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "EditorPersonName": {
            "title": "Person Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the person with privileges to edit the questionnaire template marked as private.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EditorPersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person with privileges to edit the questionnaire template that's marked private.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "InUseFlag": {
            "title": "In Use Code",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the questionnaire template is used by any questionnaires. The default value is false.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "InUseMeaning": {
            "title": "In Use",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the In Use Code attribute that Indicates whether the questionnaire template is used by any questionnaire.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InstructionText": {
            "title": "Instruction Text",
            "maxLength": 4000,
            "type": "string",
            "description": "Instructions or additional information for the questionnaire template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the questionnaire template was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who last updated the questionnaire template.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MaximumPossibleScore": {
            "title": "Maximum Possible Score",
            "type": "integer",
            "description": "Sum of the maximum possible scores of all questions that are included in the questionnaire template.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "MultipleChoicesListFlag": {
            "title": "Multiple Choices from List",
            "type": "boolean",
            "description": "Indicates whether questions with multiple choice list response type can be added to the questionnaire.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "NoResponseFlag": {
            "title": "No Response",
            "type": "boolean",
            "description": "Indicates whether questions with no response type can be added to the questionnaire. The default value is true.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PrivacyFlag": {
            "title": "Privacy Code",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the questionnaire template is private. If a template is marked private, only the person specified by the owner attribute can edit the template. The default value is false.",
            "nullable": false,
            "readOnly": true,
            "default": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "PrivacyMeaning": {
            "title": "Privacy",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the privacy code indicating if the questionnaire template is marked private.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionnaireTemplateId": {
            "title": "Questionnaire Template Id",
            "type": "integer",
            "description": "Surrogate identifier for the questionnaire template.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireTemplateName": {
            "title": "Questionnaire Template Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the questionnaire template.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RadioButtonListFlag": {
            "title": "Radio Button List",
            "type": "boolean",
            "description": "Indicates whether questions with single choice radio button response type can be added to the questionnaire. The default value is true.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "RadioButtonWithImageFlag": {
            "title": "Radio Button With Image",
            "type": "boolean",
            "description": "Indicates whether questions with radio button with image response type can be added to the questionnaire. The default value is true.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ScoreQuestionnaireFlag": {
            "title": "Score Questionnaire",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the questionnaire is scored. The default value is false.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SectionOrderCode": {
            "title": "Section Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that shows the ordering sequence of the questionnaire sections.",
            "nullable": true,
            "readOnly": true,
            "default": "S",
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "SectionOrderMeaning": {
            "title": "Section Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the section order code indicating the sequencing order of the questionnaire sections.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SectionPresentationCode": {
            "title": "Section Presentation Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that shows if the questionnaire is presented as stacked regions or without sections.",
            "nullable": true,
            "readOnly": true,
            "default": "S",
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "SectionPresentationMeaning": {
            "title": "Section Presentation",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the section presentation code indicating the presentation of sections of the questionnaire.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SingleChoiceListFlag": {
            "title": "Single Choice from List",
            "type": "boolean",
            "description": "Indicates whether questions with single choice list response type can be added to the questionnaire. The default value is true.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the questionnaire template.",
            "nullable": false,
            "readOnly": true,
            "default": "D",
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Status",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the status code for the questionnaire template.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SubscriberCode": {
            "title": "Subscriber Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the subscriber using the questionnaire template. Valid values are defined in the list questionnaireSubscribersLOV.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SubscriberId": {
            "title": "Subscriber Id",
            "type": "integer",
            "description": "Surrogate identifier for the subscriber.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "SubscriberName": {
            "title": "Subscriber Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the subscriber using the questionnaire template.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "VersionDescription": {
            "title": "Version Description",
            "maxLength": 2000,
            "type": "string",
            "description": "Description provided when a new version of a questionnaire template is created.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "VersionNumber": {
            "title": "Version Number",
            "type": "integer",
            "description": "Version number of the questionnaire template.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "default": 1,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-attachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "sections": {
            "title": "Sections",
            "type": "array",
            "description": "The sections resource is a child resource of the questionnaireTemplates resource that includes the details of the sections defined in the questionnaire template.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-sections-item-response"
            }
          }
        }
      },
      "questionnaireTemplates-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "questionnaireTemplates-sections-item-response": {
        "type": "object",
        "properties": {
          "AllowAdditionalQuestionsFlag": {
            "title": "Allow Additional Questions",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether additional questions can be added to the questionnaire section when a response is requested. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who created the section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the section was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 2000,
            "type": "string",
            "description": "Description of the questionnaire section.",
            "nullable": true,
            "x-queryable": false
          },
          "IntroText": {
            "title": "Introduction",
            "maxLength": 2000,
            "type": "string",
            "description": "Introduction text for the questionnaire section.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the section was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who last updated the section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MandatoryFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the questionnaire section is mandatory. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "QuestionOrder": {
            "title": "Question Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the ordering sequence for the questions in a questionnaire section.",
            "nullable": true,
            "default": "V",
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "QuestionOrderMeaning": {
            "title": "Question Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the question order code indicating the ordering sequence for the questions in a questionnaire section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ResponseOrder": {
            "title": "Response Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the ordering sequence for the answer choices in questions included in a questionnaire section.",
            "nullable": true,
            "default": "V",
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ResponseOrderMeaning": {
            "title": "Response Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the response order code indicating the ordering sequence for the answer choices in questions.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SectionId": {
            "title": "Section Id",
            "type": "integer",
            "description": "Surrogate identifier for the section in a questionnaire template.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionName": {
            "title": "Section Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the questionnaire section.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SectionSequenceNumber": {
            "title": "Section Sequence Number",
            "type": "integer",
            "description": "Sequence number for a section in a questionnaire template.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questions": {
            "title": "Questions",
            "type": "array",
            "description": "The questions resource is a child of the questionnaireTemplates resource. It includes details of the questions included in a section of the questionnaire template.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-sections-questions-item-response"
            }
          }
        }
      },
      "questionnaireTemplates-sections-questions-item-response": {
        "type": "object",
        "properties": {
          "AllowAdditionalCommentsFlag": {
            "title": "Allow Additional Comments",
            "maxLength": 20,
            "type": "boolean",
            "description": "Indicates whether a participant can provide additional comments while responding to a question. Valid values are Y and N. The default value is N.",
            "nullable": true,
            "readOnly": true,
            "default": false,
            "x-queryable": true
          },
          "ControllingQuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the controlling question that determines if the question is to be presented to the participant to respond. Valid values are defined in the list questionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ControllingQuestionId": {
            "title": "Controlling Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the controlling question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who added the question to the questionnaire template section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the question was added to the questionnaire template section.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InstructionsText": {
            "title": "Instruction Text",
            "maxLength": 4000,
            "type": "string",
            "description": "Instructions or additional information for the question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "KeepWithPreviousFlag": {
            "title": "Keep with Previous",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the question is always paired with the previous question even when the question order is randomized. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the question was last updated in the questionnaire template section.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Name of the user who last updated the question in the questionnaire template section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LockQuestionFlag": {
            "title": "Lock Question",
            "maxLength": 8,
            "type": "boolean",
            "description": "Indicates whether the question can be removed or modified in the questionnaire. The default value is false.",
            "nullable": false,
            "default": false,
            "x-queryable": true
          },
          "MandatoryFlag": {
            "title": "Mandatory",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the response to this question is mandatory. Participants can't skip this question without an answer. The default value is false.",
            "nullable": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "MaximumPossibleScore": {
            "title": "Maximum Possible Score",
            "type": "integer",
            "description": "Maximum possible score which is the sum of the maximum possible scores of the possible answer choices. This can be zero if none of the answer choices have a positive score defined.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Question code for the question used in the questionnaire template section. Valid values are defined in the list questionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Question text for the question.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionType": {
            "title": "Question Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Question type code indicating the type of the question.",
            "nullable": false,
            "readOnly": true,
            "default": "TEXT",
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionTypeMeaning": {
            "title": "Question Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the question type code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "QuestionVersionNumber": {
            "title": "Version Number",
            "type": "integer",
            "description": "Version number of the question used in the questionnaire template section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question Id",
            "type": "integer",
            "description": "Surrogate identifier of the question in the questionnaire.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseOrderCode": {
            "title": "Response Order Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that shows whether the question is enabled for random order. Possible values are Random to randomize the answer choices and Vertical to present the answer choices in the defined sequence.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseOrderMeaning": {
            "title": "Response Order",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the response order code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ResponseType": {
            "title": "Response Type Code",
            "type": "string",
            "description": "Response type for the question when presented to the participant. Valid values are defined in the questionnaireResponseTypesLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseTypeMeaning": {
            "title": "Response Type",
            "type": "string",
            "description": "Meaning of the response type code.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SampleSize": {
            "title": "Sample Size",
            "type": "integer",
            "description": "Defines the number of questions presented to the participant of a questionnaire, when the question order is set to random.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "SequenceNumber": {
            "title": "Sequence Number",
            "type": "integer",
            "description": "Sequence number of the question in a questionnaire template section.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "answers": {
            "title": "Answers",
            "type": "array",
            "description": "The answers resource is a child of the questionnaireTemplates resource. It includes details of the answer choices defined for a question that's included in a questionnaire template section.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-sections-questions-answers-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "questionnaireTemplates-sections-questions-answers-item-response": {
        "type": "object",
        "properties": {
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier for the answer choice defined for a question.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ResponseCode": {
            "title": "Response Code",
            "maxLength": 240,
            "type": "string",
            "description": "Unique code for the answer choice defined for a question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ResponseFeedback": {
            "title": "Response Feedback",
            "type": "string",
            "description": "Feedback provided to the participant when the answer choice is selected.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "Score": {
            "title": "Score",
            "type": "integer",
            "description": "Score for the answer.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ShortDescription": {
            "title": "Short Description",
            "maxLength": 240,
            "type": "string",
            "description": "Answer text for the answer choices of a question.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "questionnaireTemplates": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/questionnaireTemplates-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}