{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Questionnaire Instructions/Attachments/Large Object (LOB) Attributes - FileContents",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/questionnaireInstructions/{questionnaireInstructionsUniqID}/child/questionnaireInstructionAttachments/{questionnaireInstructionAttachmentsUniqID}/enclosure/FileContents": {
      "get": {
        "tags": [
          "Questionnaire Instructions/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Get a FileContents",
        "description": "Get a FileContents",
        "operationId": "get_questionnaireInstructions-questionnaireInstructionAttachments-FileContents",
        "parameters": [
          {
            "name": "questionnaireInstructionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Instructions resource and used to uniquely identify an instance of Questionnaire Instructions. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Instructions collection resource in order to navigate to a specific instance of Questionnaire Instructions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionnaireInstructionAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "{questionnaireInstructionsUniqID}-child-questionnaireInstructionAttachments-{questionnaireInstructionAttachmentsUniqID}-enclosure-FileContents-get",
        "x-filename-id": "questionnaireinstructionsuniqid-child-questionnaireinstructionattachments-questionnaireinstructionattachmentsuniqid-enclosure-filecontents-get"
      },
      "put": {
        "tags": [
          "Questionnaire Instructions/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Replace a FileContents",
        "description": "Replace a FileContents",
        "operationId": "replace_questionnaireInstructions-questionnaireInstructionAttachments-FileContents",
        "parameters": [
          {
            "name": "questionnaireInstructionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Instructions resource and used to uniquely identify an instance of Questionnaire Instructions. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Instructions collection resource in order to navigate to a specific instance of Questionnaire Instructions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionnaireInstructionAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "{questionnaireInstructionsUniqID}-child-questionnaireInstructionAttachments-{questionnaireInstructionAttachmentsUniqID}-enclosure-FileContents-put",
        "x-filename-id": "questionnaireinstructionsuniqid-child-questionnaireinstructionattachments-questionnaireinstructionattachmentsuniqid-enclosure-filecontents-put"
      },
      "delete": {
        "tags": [
          "Questionnaire Instructions/Attachments/Large Object (LOB) Attributes - FileContents"
        ],
        "summary": "Delete a FileContents",
        "description": "Delete a FileContents",
        "operationId": "delete_questionnaireInstructions-questionnaireInstructionAttachments-FileContents",
        "parameters": [
          {
            "name": "questionnaireInstructionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Questionnaire Instructions resource and used to uniquely identify an instance of Questionnaire Instructions. The client should not generate the hash key value. Instead, the client should query on the Questionnaire Instructions collection resource in order to navigate to a specific instance of Questionnaire Instructions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionnaireInstructionAttachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Attachments resource and used to uniquely identify an instance of Attachments. The client should not generate the hash key value. Instead, the client should query on the Attachments collection resource in order to navigate to a specific instance of Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "{questionnaireInstructionsUniqID}-child-questionnaireInstructionAttachments-{questionnaireInstructionAttachmentsUniqID}-enclosure-FileContents-delete",
        "x-filename-id": "questionnaireinstructionsuniqid-child-questionnaireinstructionattachments-questionnaireinstructionattachmentsuniqid-enclosure-filecontents-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}