{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Requisition Prescreening Questions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIQstnrQuestions/{QstnrQuestionId}": {
      "get": {
        "tags": [
          "Recruiting Job Requisition Prescreening Questions"
        ],
        "summary": "Get a prescreening question",
        "operationId": "get_recruitingUIQstnrQuestions",
        "parameters": [
          {
            "name": "QstnrQuestionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Questionnaire question ID.",
              "nullable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIQstnrQuestions-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIQstnrQuestions-{QstnrQuestionId}-get",
        "x-filename-id": "recruitinguiqstnrquestions-qstnrquestionid-get"
      }
    },
    "/recruitingUIQstnrQuestions": {
      "get": {
        "tags": [
          "Recruiting Job Requisition Prescreening Questions"
        ],
        "summary": "Get all prescreening questions",
        "operationId": "getall_recruitingUIQstnrQuestions",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ClassificationCode; string; Classification code for the prescreening question.</li><li>ClassificationDisplay; string; Classification display for the prescreening question.</li><li>ConditionDisplay; string; Condition display for the prescreening question.</li><li>ConditionQstnVersionNumber; integer; Version number of the condition question for the prescreening question.</li><li>ConditionQuestionCode; string; Code of the condition question for the prescreening question.</li><li>ConditionQuestionId; integer; ID of the condition question for the prescreening question.</li><li>IsQuestionnaireEmptyFlag; boolean; Meaning of the type of questionnaire in use.</li><li>Mandatory; string; Mandatory prescreening question.</li><li>ObjectId; integer; Requisition ID for the prescreening question.</li><li>ObjectType; string; Requisition ID for the prescreening question.</li><li>QstnrQuestionId; integer; Questionnaire question ID.</li><li>QstnrVersionNumber; integer; Version number of the questionnaire for the prescreening question.</li><li>QuestionCode; string; Question code for the prescreening question.</li><li>QuestionId; integer; Question ID for the prescreening question.</li><li>QuestionText; string; Question text for the prescreening question.</li><li>QuestionType; string; Question type for the prescreening question.</li><li>QuestionTypeDisplay; string; Display of the question type for the prescreening question.</li><li>QuestionnaireId; integer; Questionnaire ID for the prescreening question.</li><li>ResponseRequired; string; Response required for the prescreening question.</li><li>Score; integer; Score for the prescreening question.</li><li>SequenceNumber; integer; Sequence number of the prescreening question.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all prescreening questions by a primary key. <br>Finder Variables <ul><li>QstnrQuestionId; integer;  Requisition ID used to find prescreening questions. </li></ul></li><li>findByObjectIdObjectType Finds all prescreening questions for the specified questionnaire type. <br>Finder Variables <ul><li>ObjectId; integer;  Questionnaire type used to find prescreening questions. </li><li>ObjectType; string;  Questionnaire type used to find prescreening questions. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "QstnrQuestionId": {
                    "nullable": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByObjectIdObjectType",
                "title": "findByObjectIdObjectType",
                "properties": {
                  "ObjectType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "string"
                  },
                  "ObjectId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIQstnrQuestions"
                }
              }
            },
            "links": {
              "updateQuestion": {
                "operationRef": "#/paths/~1recruitingUIQstnrQuestions~1action~1updateQuestion/post",
                "description": "Updates a prescreening question in a questionnaire."
              },
              "removeQuestion": {
                "operationRef": "#/paths/~1recruitingUIQstnrQuestions~1action~1removeQuestion/post",
                "description": "Removes a prescreening question."
              },
              "updateSequenceNumber": {
                "operationRef": "#/paths/~1recruitingUIQstnrQuestions~1action~1updateSequenceNumber/post",
                "description": "Updates the sequence of prescreening questions in a questionnaire."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIQstnrQuestions-get",
        "x-filename-id": "recruitinguiqstnrquestions-get"
      },
      "post": {
        "tags": [
          "Recruiting Job Requisition Prescreening Questions"
        ],
        "summary": "Create a prescreening question",
        "operationId": "create_recruitingUIQstnrQuestions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUIQstnrQuestions-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIQstnrQuestions-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIQstnrQuestions-post",
        "x-filename-id": "recruitinguiqstnrquestions-post"
      }
    },
    "/recruitingUIQstnrQuestions/action/updateQuestion": {
      "post": {
        "tags": [
          "Recruiting Job Requisition Prescreening Questions"
        ],
        "summary": "Update a prescreening question in a questionnaire",
        "description": "Updates a prescreening question in a questionnaire.",
        "operationId": "doall_updateQuestion_recruitingUIQstnrQuestions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qstnrQuestionId": {
                    "type": "number",
                    "description": "Prescreening question identifier when updating a prescreening question in a questionnaire.",
                    "nullable": true
                  },
                  "mandatory": {
                    "type": "string",
                    "description": "Mandatory parameter when updating a prescreening question in a questionnaire.",
                    "nullable": true
                  },
                  "objectId": {
                    "type": "number",
                    "description": "Requisition identifier when updating a prescreening question in a questionnaire.",
                    "nullable": true
                  },
                  "objectType": {
                    "type": "string",
                    "description": "Requisition identifier when updating a prescreening question in a questionnaire.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIQstnrQuestions-action-updateQuestion-post",
        "x-filename-id": "recruitinguiqstnrquestions-action-updatequestion-post"
      }
    },
    "/recruitingUIQstnrQuestions/action/removeQuestion": {
      "post": {
        "tags": [
          "Recruiting Job Requisition Prescreening Questions"
        ],
        "summary": "Remove a prescreening question",
        "description": "Removes a prescreening question.",
        "operationId": "doall_removeQuestion_recruitingUIQstnrQuestions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questionnaireId": {
                    "type": "number",
                    "description": "Questionnaire identifier when removing a prescreening question.",
                    "nullable": true
                  },
                  "qstnrQuestionId": {
                    "type": "number",
                    "description": "Prescreening question identifier when removing a prescreening question.",
                    "nullable": true
                  },
                  "qstnrVersionNumber": {
                    "type": "number",
                    "description": "Questionnaire version number when removing a prescreening question.",
                    "nullable": true
                  },
                  "objectId": {
                    "type": "number",
                    "description": "Requisition identifier when removing a prescreening question.",
                    "nullable": true
                  },
                  "objectType": {
                    "type": "string",
                    "description": "Requisition identifier when removing a prescreening question.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-internal-id": "recruitingUIQstnrQuestions-action-removeQuestion-post",
        "x-filename-id": "recruitinguiqstnrquestions-action-removequestion-post"
      }
    },
    "/recruitingUIQstnrQuestions/action/updateSequenceNumber": {
      "post": {
        "tags": [
          "Recruiting Job Requisition Prescreening Questions"
        ],
        "summary": "Update the sequence of prescreening questions in a questionnaire",
        "description": "Updates the sequence of prescreening questions in a questionnaire.",
        "operationId": "doall_updateSequenceNumber_recruitingUIQstnrQuestions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sequenceNumber": {
                    "type": "number",
                    "description": "Sequence number when updating the sequence of prescreening questions in a questionnaire.",
                    "nullable": true
                  },
                  "qstnrQuestionId": {
                    "type": "number",
                    "description": "Prescreening question identifier in a questionnaire when updating the sequence of prescreening questions in a questionnaire..",
                    "nullable": true
                  },
                  "objectId": {
                    "type": "number",
                    "description": "Requisition identifier when updating the sequence of prescreening questions in a questionnaire.",
                    "nullable": true
                  },
                  "objectType": {
                    "type": "string",
                    "description": "Requisition identifier when updating the sequence of prescreening questions in a questionnaire.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-internal-id": "recruitingUIQstnrQuestions-action-updateSequenceNumber-post",
        "x-filename-id": "recruitinguiqstnrquestions-action-updatesequencenumber-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingUIQstnrQuestions-item-response": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Requisition ID for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionType": {
            "maxLength": 255,
            "type": "string",
            "description": "Question type for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "IsQuestionnaireEmptyFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Meaning of the type of questionnaire in use.",
            "nullable": true,
            "x-queryable": true
          },
          "ConditionQuestionCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code of the condition question for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionTypeDisplay": {
            "maxLength": 255,
            "type": "string",
            "description": "Display of the question type for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ConditionQstnVersionNumber": {
            "type": "integer",
            "description": "Version number of the condition question for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ClassificationDisplay": {
            "maxLength": 255,
            "type": "string",
            "description": "Classification display for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ConditionQuestionId": {
            "type": "integer",
            "description": "ID of the condition question for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ObjectType": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition ID for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Question code for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "Score": {
            "type": "integer",
            "description": "Score for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ResponseRequired": {
            "maxLength": 255,
            "type": "string",
            "description": "Response required for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ConditionDisplay": {
            "maxLength": 255,
            "type": "string",
            "description": "Condition display for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionId": {
            "type": "integer",
            "description": "Question ID for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "ClassificationCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Classification code for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "Questionnaire ID for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Sequence number of the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "QstnrQuestionId": {
            "type": "integer",
            "description": "Questionnaire question ID.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "QuestionText": {
            "maxLength": 255,
            "type": "string",
            "description": "Question text for the prescreening question.",
            "nullable": true,
            "x-queryable": true
          },
          "Mandatory": {
            "maxLength": 255,
            "type": "string",
            "description": "Mandatory prescreening question.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingUIQstnrQuestions": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIQstnrQuestions-item-response"
            }
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingUIQstnrQuestions-item-post-request": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for the prescreening question.",
            "nullable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Requisition ID for the prescreening question.",
            "nullable": true
          },
          "QuestionType": {
            "maxLength": 255,
            "type": "string",
            "description": "Question type for the prescreening question.",
            "nullable": true
          },
          "IsQuestionnaireEmptyFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Meaning of the type of questionnaire in use.",
            "nullable": true
          },
          "ConditionQuestionCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code of the condition question for the prescreening question.",
            "nullable": true
          },
          "QuestionTypeDisplay": {
            "maxLength": 255,
            "type": "string",
            "description": "Display of the question type for the prescreening question.",
            "nullable": true
          },
          "ConditionQstnVersionNumber": {
            "type": "integer",
            "description": "Version number of the condition question for the prescreening question.",
            "nullable": true
          },
          "ClassificationDisplay": {
            "maxLength": 255,
            "type": "string",
            "description": "Classification display for the prescreening question.",
            "nullable": true
          },
          "ConditionQuestionId": {
            "type": "integer",
            "description": "ID of the condition question for the prescreening question.",
            "nullable": true
          },
          "ObjectType": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition ID for the prescreening question.",
            "nullable": true
          },
          "QuestionCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Question code for the prescreening question.",
            "nullable": true
          },
          "Score": {
            "type": "integer",
            "description": "Score for the prescreening question.",
            "nullable": true
          },
          "ResponseRequired": {
            "maxLength": 255,
            "type": "string",
            "description": "Response required for the prescreening question.",
            "nullable": true
          },
          "ConditionDisplay": {
            "maxLength": 255,
            "type": "string",
            "description": "Condition display for the prescreening question.",
            "nullable": true
          },
          "QuestionId": {
            "type": "integer",
            "description": "Question ID for the prescreening question.",
            "nullable": true
          },
          "ClassificationCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Classification code for the prescreening question.",
            "nullable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "Questionnaire ID for the prescreening question.",
            "nullable": true
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Sequence number of the prescreening question.",
            "nullable": true
          },
          "QstnrQuestionId": {
            "type": "integer",
            "description": "Questionnaire question ID.",
            "nullable": true
          },
          "QuestionText": {
            "maxLength": 255,
            "type": "string",
            "description": "Question text for the prescreening question.",
            "nullable": true
          },
          "Mandatory": {
            "maxLength": 255,
            "type": "string",
            "description": "Mandatory prescreening question.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingUIQstnrQuestions-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingUIQstnrQuestions-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}