{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Interview Schedules/Recruiting CE Interviews/Large Object (LOB) Attributes - PostScheduleDetails",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEInterviewScheduleDetails/{ScheduleId}/child/Interviews/{InterviewId}/enclosure/PostScheduleDetails": {
      "get": {
        "tags": [
          "Recruiting CE Interview Schedules/Recruiting CE Interviews/Large Object (LOB) Attributes - PostScheduleDetails"
        ],
        "summary": "Get a PostScheduleDetails",
        "description": "Get a PostScheduleDetails",
        "operationId": "get_recruitingCEInterviewScheduleDetails-Interviews-PostScheduleDetails",
        "parameters": [
          {
            "name": "ScheduleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the interview schedule.",
              "nullable": true,
              "x-queryable": false
            }
          },
          {
            "name": "InterviewId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the interview attended by the candidate.",
              "nullable": true,
              "x-queryable": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEInterviewScheduleDetails-{ScheduleId}-child-Interviews-{InterviewId}-enclosure-PostScheduleDetails-get",
        "x-filename-id": "recruitingceinterviewscheduledetails-scheduleid-child-interviews-interviewid-enclosure-postscheduledetails-get"
      },
      "put": {
        "tags": [
          "Recruiting CE Interview Schedules/Recruiting CE Interviews/Large Object (LOB) Attributes - PostScheduleDetails"
        ],
        "summary": "Replace a PostScheduleDetails",
        "description": "Replace a PostScheduleDetails",
        "operationId": "replace_recruitingCEInterviewScheduleDetails-Interviews-PostScheduleDetails",
        "parameters": [
          {
            "name": "ScheduleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the interview schedule.",
              "nullable": true,
              "x-queryable": false
            }
          },
          {
            "name": "InterviewId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the interview attended by the candidate.",
              "nullable": true,
              "x-queryable": false
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEInterviewScheduleDetails-{ScheduleId}-child-Interviews-{InterviewId}-enclosure-PostScheduleDetails-put",
        "x-filename-id": "recruitingceinterviewscheduledetails-scheduleid-child-interviews-interviewid-enclosure-postscheduledetails-put"
      },
      "delete": {
        "tags": [
          "Recruiting CE Interview Schedules/Recruiting CE Interviews/Large Object (LOB) Attributes - PostScheduleDetails"
        ],
        "summary": "Delete a PostScheduleDetails",
        "description": "Delete a PostScheduleDetails",
        "operationId": "delete_recruitingCEInterviewScheduleDetails-Interviews-PostScheduleDetails",
        "parameters": [
          {
            "name": "ScheduleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the interview schedule.",
              "nullable": true,
              "x-queryable": false
            }
          },
          {
            "name": "InterviewId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the interview attended by the candidate.",
              "nullable": true,
              "x-queryable": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEInterviewScheduleDetails-{ScheduleId}-child-Interviews-{InterviewId}-enclosure-PostScheduleDetails-delete",
        "x-filename-id": "recruitingceinterviewscheduledetails-scheduleid-child-interviews-interviewid-enclosure-postscheduledetails-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}