{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Campaign Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCampaignDetails": {
      "get": {
        "tags": [
          "Recruiting Campaign Details"
        ],
        "summary": "Get all recruiting campaign details",
        "operationId": "getall_recruitingCampaignDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AudiencePopulatedFlag; boolean; Indicates that the audience field is populated.</li><li>AudienceSavedSearchId; integer; ID assigned to the saved audience search.</li><li>CampaignCode; string; Code assigned to each campaign.</li><li>CampaignId; integer; ID assigned to the campaign.</li><li>CampaignLanguageCode; string; Code assigned to each campaign language.</li><li>CampaignLanguages; string; Codes used to identify the selected languages on the campaign or notification.</li><li>CampaignName; string; Name assigned to each campaign.</li><li>CampaignStatusCode; string; Code assigned to the status of the campaign.</li><li>CampaignTypeCode; string; Code assigned to the type of the campaign.</li><li>JourneyCommunicationGoal; string; Communication goal of the journey campaign.</li><li>JourneyId; integer; ID assigned to each journey.</li><li>PurposeCode; string; Code assigned to the purpose of the campaign.</li><li>RequisitionSavedSearchId; integer; ID assigned to the saved requisition search.</li><li>SearchRequisitionsFlag; boolean; Indicates that the search is for a requisition.</li><li>TargetGoalValue; integer; Target value of the goal.</li><li>TeamId; integer; ID assigned to each team.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>FindByCampaignCode Finds campaign details using unique code <br>Finder Variables <ul><li>CampaignCode; string;  Finds campaign details using campaign code </li></ul></li><li>PrimaryKey Finds campaign details using an ID <br>Finder Variables <ul><li>CampaignId; integer;  Finds campaign details using campaign ID </li></ul></li><li>RowFinder Finds all campaigns using a row finder. <br>Finder Variables <ul><li>CampaignCode; string;  Finds campaign details using campaign code in row finder. </li><li>CampaignTypeCode; string;  Campaign type used to find campaign details. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "FindByCampaignCode",
                "description": "Finds campaign details using unique code",
                "title": "FindByCampaignCode",
                "properties": {
                  "CampaignCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds campaign details using campaign code",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds campaign details using an ID",
                "properties": {
                  "CampaignId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Finds campaign details using campaign ID",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all campaigns using a row finder.",
                "title": "FindByCampaignCodeAndCampaignType",
                "properties": {
                  "CampaignCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds campaign details using campaign code in row finder.",
                    "type": "string"
                  },
                  "CampaignTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Campaign type used to find campaign details.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCampaignDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCampaignDetails-get",
        "x-filename-id": "recruitingcampaigndetails-get"
      }
    },
    "/recruitingCampaignDetails/{CampaignId}": {
      "get": {
        "tags": [
          "Recruiting Campaign Details"
        ],
        "summary": "Get a campaign detail",
        "operationId": "get_recruitingCampaignDetails",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the campaign.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18,
                "PAYLOADHINT": "Show"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCampaignDetails-item-response"
                }
              }
            },
            "links": {
              "campaignGoalResponses": {
                "operationRef": "#/paths/~1recruitingCampaignDetails~1{CampaignId}~1child~1campaignGoalResponses/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The campaignGoalResponses resource is a child of recruitingCampaignDetails. It includes all the goal responses of the campaign."
              },
              "campaignBOAssociations": {
                "operationRef": "#/paths/~1recruitingCampaignDetails~1{CampaignId}~1child~1campaignBOAssociations/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The campaignBOAssociations resource is a child of recruitingCampaignDetails. It includes all the business object associations of the campaign."
              },
              "campaignAssets": {
                "operationRef": "#/paths/~1recruitingCampaignDetails~1{CampaignId}~1child~1campaignAssets/get",
                "parameters": {
                  "CampaignId": "$request.path.CampaignId"
                },
                "description": "The campaignAssets resource is a child of recruitingCampaignDetails. It includes all the assets of the campaign."
              }
            }
          }
        },
        "x-internal-id": "recruitingCampaignDetails-{CampaignId}-get",
        "x-filename-id": "recruitingcampaigndetails-campaignid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCampaignDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCampaignDetails-item-response": {
        "type": "object",
        "properties": {
          "AudiencePopulatedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates that the audience field is populated.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AudienceSavedSearchId": {
            "type": "integer",
            "description": "ID assigned to the saved audience search.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CampaignCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each campaign.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignDescription": {
            "type": "string",
            "description": "Description of the campaign.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CampaignId": {
            "type": "integer",
            "description": "ID assigned to the campaign.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "CampaignLanguageCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each campaign language.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignLanguages": {
            "maxLength": 255,
            "type": "string",
            "description": "Codes used to identify the selected languages on the campaign or notification.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name assigned to each campaign.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to the status of the campaign.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CampaignTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to the type of the campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JourneyCommunicationGoal": {
            "maxLength": 30,
            "type": "string",
            "description": "Communication goal of the journey campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JourneyId": {
            "type": "integer",
            "description": "ID assigned to each journey.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PurposeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to the purpose of the campaign.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionSavedSearchId": {
            "type": "integer",
            "description": "ID assigned to the saved requisition search.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SearchRequisitionsFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates that the search is for a requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TargetGoalValue": {
            "type": "integer",
            "description": "Target value of the goal.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 10
            },
            "x-queryable": true
          },
          "TeamId": {
            "type": "integer",
            "description": "ID assigned to each team.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "campaignAssets": {
            "title": "Campaign Assets",
            "type": "array",
            "description": "The campaignAssets resource is a child of recruitingCampaignDetails. It includes all the assets of the campaign.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-campaignAssets-item-response"
            }
          },
          "campaignBOAssociations": {
            "title": "Campaign Business Object Association",
            "type": "array",
            "description": "The campaignBOAssociations resource is a child of recruitingCampaignDetails. It includes all the business object associations of the campaign.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-campaignBOAssociations-item-response"
            }
          },
          "campaignGoalResponses": {
            "title": "Campaign Goal Responses",
            "type": "array",
            "description": "The campaignGoalResponses resource is a child of recruitingCampaignDetails. It includes all the goal responses of the campaign.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-campaignGoalResponses-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCampaignDetails-campaignAssets-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "ID assigned to each asset for campaign asset.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "AssetName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name assigned to each asset.",
            "nullable": false,
            "x-queryable": true
          },
          "AssetStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each status of asset.",
            "nullable": false,
            "x-queryable": true
          },
          "AssetTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each type of asset.",
            "nullable": false,
            "x-queryable": true
          },
          "AudienceDerivedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates that the campaign is for derived audience.",
            "nullable": true,
            "x-queryable": true
          },
          "CampaignAssetChannels": {
            "title": "Campaign Asset Channels",
            "type": "array",
            "description": "The CampaignAssetChannels resource is a child of campaignAssets. It includes all the asset channels of the campaign.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-campaignAssets-CampaignAssetChannels-item-response"
            }
          },
          "DisplayRank": {
            "type": "integer",
            "description": "Rank of the campaign asset.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "AssetStatusCode",
                "ParentAssetId"
              ]
            },
            "x-queryable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "ID assigned to each message design.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ParentAssetId": {
            "type": "integer",
            "description": "ID assigned to the parent asset.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ScheduledDate": {
            "type": "string",
            "description": "Date when the campaign is scheduled.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SortOrderDate": {
            "type": "string",
            "description": "Date of sorting the order.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "CreationDate",
                "AssetStatusCode",
                "ScheduledDate"
              ]
            },
            "x-queryable": true
          },
          "campaignAssetSegments": {
            "title": "Campaign Asset Segments",
            "type": "array",
            "description": "The campaignAssetSegments resource is a child of campaignAssets. It includes all the asset segments of the campaign.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-campaignAssets-campaignAssetSegments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCampaignDetails-campaignAssets-CampaignAssetChannels-item-response": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "integer",
            "description": "ID assigned to each asset for campaign asset channel.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ChannelId": {
            "type": "integer",
            "description": "ID assigned to each channel.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ChannelPostURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL of the channel where campaign is posted.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ChannelTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each type of channel.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ChannelTypeMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Description of each channel type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCampaignDetails-campaignAssets-campaignAssetSegments-item-response": {
        "type": "object",
        "properties": {
          "AssetSegmentId": {
            "type": "integer",
            "description": "ID assigned to each asset segment.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "CriteriaTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each criteria type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "ID assigned to each response of a goal for the campaign asset segment.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "ResponseLabel": {
            "maxLength": 240,
            "type": "string",
            "description": "Label assigned to each response for the campaign asset segment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SegmentName": {
            "type": "string",
            "description": "Name of each segment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "ResponseLabel",
                "SegmentTypeMeaning"
              ]
            },
            "x-queryable": true
          },
          "SegmentTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to each segment type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SegmentTypeMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Description of each segment type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCampaignDetails-campaignBOAssociations-item-response": {
        "type": "object",
        "properties": {
          "BoAssignedAfterDate": {
            "type": "string",
            "description": "Description for the attribute which stores the assigned after date.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BoGoal": {
            "maxLength": 30,
            "type": "string",
            "description": "Goal of the business object. Valid values are ORA_ASSIGNED and ORA_UNASSIGNED.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "BoType": {
            "maxLength": 30,
            "type": "string",
            "description": "Description for the attribute which stores the business object type. For example, Learn and Journey.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "campaignBOAssociatedItems": {
            "title": "Campaign Business Object Associated Items",
            "type": "array",
            "description": "The campaignBOAssociatedItems resource is a child of campaignBOAssociations. It includes all the associated business object items.",
            "items": {
              "$ref": "#/components/schemas/recruitingCampaignDetails-campaignBOAssociations-campaignBOAssociatedItems-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCampaignDetails-campaignBOAssociations-campaignBOAssociatedItems-item-response": {
        "type": "object",
        "properties": {
          "BoId": {
            "type": "integer",
            "description": "Unique identifier of business objects, for example, Learning Item ID and Journey ID.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCampaignDetails-campaignGoalResponses-item-response": {
        "type": "object",
        "properties": {
          "DestinationURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Destination URL used by the campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalId": {
            "type": "integer",
            "description": "ID assigned to each goal.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "GoalResponseId": {
            "type": "integer",
            "description": "ID assigned to each response of a goal.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "IncludeInTargetFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates that the item is included in the campaign.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ResponseLabel": {
            "maxLength": 240,
            "type": "string",
            "description": "Label assigned to each item to mark it as a response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "UseDefaultURLFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates the default URL.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}