{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Applications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEJobApplications/{recruitingCEJobApplicationsUniqID}": {
      "get": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Get a job application",
        "operationId": "get_recruitingCEJobApplications",
        "parameters": [
          {
            "name": "recruitingCEJobApplicationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CandidateNumber and RequisitionNumber ---for the Recruiting Job Applications resource and used to uniquely identify an instance of Recruiting Job Applications. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Job Applications collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Job Applications.<br><br>For example: recruitingCEJobApplications?q=CandidateNumber=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobApplications-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire."
              },
              "regulatoryResponses": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1regulatoryResponses/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The recruitingCERegulatoryResponses resource includes the regulatory related response details. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "BackgroundCheckLinks": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1BackgroundCheckLinks/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The backgroundCheckLinks resource is a child of recruitingCEJobApplications. It provides the links to go to background check partner sites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "UnscheduledInterviewRequests": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1UnscheduledInterviewRequests/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests."
              },
              "secondarySubmissions": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1secondarySubmissions/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The secondarySubmissions resource includes all the secondary job applications. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "ScheduleInterviews": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1ScheduleInterviews/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The ScheduleInterviews resource is a child of recruitingCEJobApplications. It includes all details about the scheduled interviews. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "preferredLocations": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1preferredLocations/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "assessmentLinks": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1assessmentLinks/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The assessmentLinks resource is a child of recruitingCEJobApplications. It provides the links to go to assessment partner sites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobApplications-{recruitingCEJobApplicationsUniqID}-get",
        "x-filename-id": "recruitingcejobapplications-recruitingcejobapplicationsuniqid-get"
      }
    },
    "/recruitingCEJobApplications": {
      "get": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Get all job applications",
        "operationId": "getall_recruitingCEJobApplications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>APPDraftId; integer; Unique identifier for each job application draft.</li><li>Action; string; Action taken after each job application.</li><li>ActiveFlag; boolean; Indicates if the job application is active.</li><li>AssessmentsFlag; boolean; Indicates if assessments are required on each job application.</li><li>CandidateNumber; string; Number assigned to each candidate who submits a job application.</li><li>CandidateWorkSummary; string; Candidate work summary.</li><li>ConfirmedFlag; boolean; Indicates if the candidate is confirmed.</li><li>CurrentPhaseId; integer; ID assigned to the current phase of the job application.</li><li>CurrentStateId; integer; ID assigned to the current state of the job application.</li><li>Email; string; Email of the candidate that submitted a job application.</li><li>EsignDescriptionVersionId; integer; Version ID assigned to the electronic signature of the job application.</li><li>FlowVersionId; integer; ID assigned to the job application work flow.</li><li>JobLocation; integer; Job location of the candidate.</li><li>JobLocationName; string; Name of the job location where the candidate submitted the application.</li><li>JobTitle; string; Job title of the candidate.</li><li>LegalDescriptionVersionId; integer; ID assigned to the version legal description of the job application.</li><li>MiscAttachmentIds; string; IDs of the miscellaneous attachments uploaded by the candidate.</li><li>Name; string; Name of the candidate that submitted a job application.</li><li>OfferId; integer; ID of the job offer extended for a specific job application.</li><li>PipelineRequisitionFlag; boolean; Indicates if the requisition is a pipeline requisition.</li><li>PipelineSubmissionId; integer; ID assigned to the job application on a pipeline job requisition.</li><li>PreferredLanguage; string; Preferred language in which the job application was submitted.</li><li>ReferralId; integer; ID assigned to each referral.</li><li>RemainingSubmissions; integer; Remaining job applications.</li><li>RequisitionNumber; string; Number assigned to each job requisition.</li><li>ShareId; integer; ID assigned to a shared job application.</li><li>SiteNumber; string; Site number assigned to each job application.</li><li>Status; string; Status of the job application.</li><li>SubmissionDate; string; Date of submission of job application.</li><li>SubmissionId; integer; ID assigned for each job application submitted.</li><li>TaxCreditsFlag; boolean; Indicates if tax credits are required on each job application.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all job applications using a unique ID <br>Finder Variables <ul><li>CandidateNumber; string;  Candidate number used to find a job application. </li><li>RequisitionNumber; string;  Requisition number and primary key used to find a job application. </li></ul></li><li>findByRequisitionNumber Finds all job applications using a requisition number. <br>Finder Variables <ul><li>RequisitionNumber; string;  Requisition number used to find a job application. </li></ul></li><li>findBySubmissionId Finds all job applications using a unique ID <br>Finder Variables <ul><li>SubmissionId; integer;  Job application ID used to find a job application. </li></ul></li><li>findConfirmedEligibleApplications Finds all confirmed eligible job applications using the person ID. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all job applications using a unique ID",
                "properties": {
                  "CandidateNumber": {
                    "nullable": true,
                    "description": "Candidate number used to find a job application.",
                    "type": "string",
                    "maxLength": 255
                  },
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Requisition number and primary key used to find a job application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByRequisitionNumber",
                "description": "Finds all job applications using a requisition number.",
                "title": "findByRequisitionNumber",
                "properties": {
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition number used to find a job application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findBySubmissionId",
                "description": "Finds all job applications using a unique ID",
                "title": "findBySubmissionId",
                "properties": {
                  "SubmissionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Job application ID used to find a job application.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findConfirmedEligibleApplications",
                "description": "Finds all confirmed eligible job applications using the person ID.",
                "title": "findConfirmedEligibleApplications",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobApplications"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobApplications-get",
        "x-filename-id": "recruitingcejobapplications-get"
      },
      "post": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Create a job application",
        "operationId": "create_recruitingCEJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCEJobApplications-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobApplications-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire."
              },
              "regulatoryResponses": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1regulatoryResponses/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The recruitingCERegulatoryResponses resource includes the regulatory related response details. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "BackgroundCheckLinks": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1BackgroundCheckLinks/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The backgroundCheckLinks resource is a child of recruitingCEJobApplications. It provides the links to go to background check partner sites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "UnscheduledInterviewRequests": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1UnscheduledInterviewRequests/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests."
              },
              "secondarySubmissions": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1secondarySubmissions/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The secondarySubmissions resource includes all the secondary job applications. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "ScheduleInterviews": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1ScheduleInterviews/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The ScheduleInterviews resource is a child of recruitingCEJobApplications. It includes all details about the scheduled interviews. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "preferredLocations": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1preferredLocations/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "assessmentLinks": {
                "operationRef": "#/paths/~1recruitingCEJobApplications~1{recruitingCEJobApplicationsUniqID}~1child~1assessmentLinks/get",
                "parameters": {
                  "recruitingCEJobApplicationsUniqID": "$request.path.recruitingCEJobApplicationsUniqID"
                },
                "description": "The assessmentLinks resource is a child of recruitingCEJobApplications. It provides the links to go to assessment partner sites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobApplications-post",
        "x-filename-id": "recruitingcejobapplications-post"
      }
    },
    "/recruitingJobApplications": {
      "get": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Get all job applications for recruiting",
        "operationId": "getall_recruitingJobApplications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CandidateName; string; Name of the candidate in the job application.</li><li>CandidatePersonId; integer; ID assigned to the candidate who applied for the job.</li><li>ConfirmedFlag; boolean; Indicates confirmation of the job application.</li><li>CreatedBy; string; Name of the person who created the job application.</li><li>CreationDate; string; Date of creation of the job application.</li><li>DisqualifiedFlag; boolean; Indicates that the candidate is disqualified.</li><li>HiringManagerId; integer; Hiring manager ID for a job application.</li><li>InternalFlag; boolean; Indicates that it's an internal job application.</li><li>JobApplicationDate; string; Date of the job application.</li><li>JobApplicationId; integer; Unique ID of job application.</li><li>LanguageCode; string; Code assigned for each language.</li><li>LastModifiedDate; string; Date when the application was last modified.</li><li>LastUpdateDate; string; Date when the application was last updated</li><li>LastUpdatedBy; string; Name of individual who last updated the job application.</li><li>PhaseId; integer; ID for phase of job application.</li><li>PhaseName; string; Name of each phase of the job application.</li><li>ProfileId; integer; Profile ID of an application.</li><li>PublicStateId; integer; Public state ID of an application.</li><li>PublicStateName; string; Name of the public state of a job application.</li><li>RecruiterId; integer; Recruiter ID for a job application.</li><li>RequisitionId; integer; Requisition ID for a job application.</li><li>RequisitionIdRest; integer; Requisition ID 1 for a job application.</li><li>RequisitionNumber; string; Requisition number of the job application.</li><li>RequisitionUsageCode; string; Requisition usage code for a job application.</li><li>StateId; integer; State ID for a job application.</li><li>StateName; string; Name of the state of a job application.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the job application by a primary key <br>Finder Variables <ul><li>JobApplicationId; integer;  Finds the job application using a primary key and an application ID </li></ul></li><li>findByRequisitionNumberAndEmailAddress Finds all job applications by requisition number and email address. <br>Finder Variables <ul><li>EmailAddress; string;  Email address used to find job applications. </li><li>RequisitionNumber; string;  Requisition number used to find job applications. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the job application by a primary key",
                "properties": {
                  "JobApplicationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds the job application using a primary key and an application ID",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByRequisitionNumberAndEmailAddress",
                "description": "Finds all job applications by requisition number and email address.",
                "title": "findByRequisitionNumberAndEmailAddress",
                "properties": {
                  "EmailAddress": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Email address used to find job applications.",
                    "type": "string"
                  },
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition number used to find job applications.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobApplications"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobApplications-get",
        "x-filename-id": "recruitingjobapplications-get"
      }
    },
    "/recruitingJobApplications/{JobApplicationId}": {
      "get": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Get a job application for recruiting",
        "operationId": "get_recruitingJobApplications",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobApplications-item-response"
                }
              }
            },
            "links": {
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1child~1workPreferences/get",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "The workPreferences resource is a child of recruitingJobApplications. It includes the work preferences of the candidate."
              },
              "move": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1action~1move/post",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "Allows a member of the hiring team to move an application to a specific phase and state."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1child~1attachments/get",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "education": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1child~1education/get",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "The education resource is a child of recruitingJobApplications. It includes the educational related details in the job application."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1child~1languages/get",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "The languages resource is a child of recruitingJobApplications. It includes the candidates language related details in the job application."
              },
              "jobRequisitionsLOV": {
                "operationRef": "#/paths/~1recruitingJobRequisitionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RequisitionId; Target Attribute: RequisitionId</li><li>Display Attribute: RequisitionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RequisitionId",
                  "displayValues": [
                    "RequisitionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "RequisitionId",
                  "displayFields": [
                    "RequisitionId"
                  ]
                }
              },
              "experience": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1child~1experience/get",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "The experience resource is a child of recruitingJobApplications. It includes the experience related details in the job application."
              },
              "confirm": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1action~1confirm/post",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "Allows a member of the hiring team to confirm a job application on behalf of a candidate."
              },
              "sendConfirmationRequest": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1action~1sendConfirmationRequest/post",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "Allows a member of the hiring team to resend a notification to a candidate requesting them to confirm their job application."
              },
              "licensesAndCertificates": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1child~1licensesAndCertificates/get",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "The licensesAndCertificates resource is a child of recruitingJobApplications. It includes the licenses and certificate details of the candidate."
              },
              "withdraw": {
                "operationRef": "#/paths/~1recruitingJobApplications~1{JobApplicationId}~1action~1withdraw/post",
                "parameters": {
                  "JobApplicationId": "$request.path.JobApplicationId"
                },
                "description": "Allows a member of the hiring team to withdraw a job application on behalf of the candidate."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-get",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-get"
      }
    },
    "/recruitingJobApplications/{JobApplicationId}/action/sendConfirmationRequest": {
      "post": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Action to resend a notification to a candidate requesting them to confirm their job application",
        "description": "Allows a member of the hiring team to resend a notification to a candidate requesting them to confirm their job application.",
        "operationId": "do_sendConfirmationRequest_recruitingJobApplications",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-action-sendConfirmationRequest-post",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-action-sendconfirmationrequest-post"
      }
    },
    "/recruitingJobApplications/{JobApplicationId}/action/move": {
      "post": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Action to move a job application to a specific phase and state",
        "description": "Allows a member of the hiring team to move an application to a specific phase and state.",
        "operationId": "do_move_recruitingJobApplications",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comments": {
                    "type": "string",
                    "description": "Contains comments about the move of the job application",
                    "nullable": true
                  },
                  "reasonId": {
                    "type": "number",
                    "description": "Unique ID assigned to each reason why the job application was moved",
                    "nullable": true
                  },
                  "stateId": {
                    "type": "number",
                    "description": "Unique ID assigned to each target state to move the job application to",
                    "nullable": true
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "Unique ID assigned to each target phase to move the job application to",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-action-move-post",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-action-move-post"
      }
    },
    "/recruitingJobApplications/{JobApplicationId}/action/withdraw": {
      "post": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Action to withdraw a job application on behalf of the candidate",
        "description": "Allows a member of the hiring team to withdraw a job application on behalf of the candidate.",
        "operationId": "do_withdraw_recruitingJobApplications",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-action-withdraw-post",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-action-withdraw-post"
      }
    },
    "/recruitingJobApplications/{JobApplicationId}/action/confirm": {
      "post": {
        "tags": [
          "Recruiting Job Applications"
        ],
        "summary": "Action to confirm a job application on behalf of a candidate",
        "description": "Allows a member of the hiring team to confirm a job application on behalf of a candidate.",
        "operationId": "do_confirm_recruitingJobApplications",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-action-confirm-post",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-action-confirm-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEJobApplications-item-response": {
        "type": "object",
        "properties": {
          "APPDraftId": {
            "type": "integer",
            "description": "Unique identifier for each job application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "Action": {
            "type": "string",
            "description": "Action taken after each job application.",
            "nullable": true,
            "x-queryable": true
          },
          "ActiveFlag": {
            "type": "boolean",
            "description": "Indicates if the job application is active.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssessmentsFlag": {
            "type": "boolean",
            "description": "Indicates if assessments are required on each job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BackgroundCheckLinks": {
            "title": "Background Check Links",
            "type": "array",
            "description": "The backgroundCheckLinks resource is a child of recruitingCEJobApplications. It provides the links to go to background check partner sites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-BackgroundCheckLinks-item-response"
            }
          },
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Number assigned to each candidate who submits a job application.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateWorkSummary": {
            "type": "string",
            "description": "Candidate work summary.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "ConfirmedFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates if the candidate is confirmed.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentPhaseId": {
            "type": "integer",
            "description": "ID assigned to the current phase of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentStateId": {
            "type": "integer",
            "description": "ID assigned to the current state of the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Email": {
            "type": "string",
            "description": "Email of the candidate that submitted a job application.",
            "nullable": true,
            "x-queryable": true
          },
          "EsignDescriptionVersionId": {
            "type": "integer",
            "description": "Version ID assigned to the electronic signature of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "ID assigned to the job application work flow.",
            "nullable": true,
            "x-queryable": true
          },
          "JobLocation": {
            "type": "integer",
            "description": "Job location of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "JobLocationName": {
            "type": "string",
            "description": "Name of the job location where the candidate submitted the application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobTitle": {
            "type": "string",
            "description": "Job title of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "LegalDescriptionVersionId": {
            "type": "integer",
            "description": "ID assigned to the version legal description of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "MiscAttachmentIds": {
            "type": "string",
            "description": "IDs of the miscellaneous attachments uploaded by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "Name": {
            "type": "string",
            "description": "Name of the candidate that submitted a job application.",
            "nullable": true,
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "ID of the job offer extended for a specific job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PipelineRequisitionFlag": {
            "type": "boolean",
            "description": "Indicates if the requisition is a pipeline requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PipelineSubmissionId": {
            "type": "integer",
            "description": "ID assigned to the job application on a pipeline job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PreferredLanguage": {
            "type": "string",
            "description": "Preferred language in which the job application was submitted.",
            "nullable": true,
            "x-queryable": true
          },
          "ReferralId": {
            "type": "integer",
            "description": "ID assigned to each referral.",
            "nullable": true,
            "x-queryable": true
          },
          "RemainingSubmissions": {
            "type": "integer",
            "description": "Remaining job applications.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Number assigned to each job requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "ScheduleInterviews": {
            "title": "Schedule Job Interviews",
            "type": "array",
            "description": "The ScheduleInterviews resource is a child of recruitingCEJobApplications. It includes all details about the scheduled interviews. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-ScheduleInterviews-item-response"
            }
          },
          "ShareId": {
            "type": "integer",
            "description": "ID assigned to a shared job application.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteNumber": {
            "type": "string",
            "description": "Site number assigned to each job application.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionDate": {
            "type": "string",
            "description": "Date of submission of job application.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned for each job application submitted.",
            "nullable": true,
            "x-queryable": true
          },
          "TaxCreditsFlag": {
            "type": "boolean",
            "description": "Indicates if tax credits are required on each job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnscheduledInterviewRequests": {
            "title": "Unscheduled Job Interviews",
            "type": "array",
            "description": "The UnScheduleInterviewRequests resource is the child of the recruitingMyJobApplications resource in opportunity marketplace. It includes all the details about the unscheduled interview requests.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-UnscheduledInterviewRequests-item-response"
            }
          },
          "assessmentLinks": {
            "title": "Assessment Links",
            "type": "array",
            "description": "The assessmentLinks resource is a child of recruitingCEJobApplications. It provides the links to go to assessment partner sites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-assessmentLinks-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "preferredLocations": {
            "title": "Preferred Job Locations",
            "type": "array",
            "description": "The preferredLocations resource is a child of recruitingCEJobApplications. It includes all the preferred locations of the job. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-preferredLocations-item-response"
            }
          },
          "questionnaireResponses": {
            "title": "Candidate Responses to Questions",
            "type": "array",
            "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-questionnaireResponses-item-response"
            }
          },
          "regulatoryResponses": {
            "title": "Recruiting Candidate Responses to Regulatory Questions",
            "type": "array",
            "description": "The recruitingCERegulatoryResponses resource includes the regulatory related response details. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-regulatoryResponses-item-response"
            }
          },
          "secondarySubmissions": {
            "title": "Secondary Job Submissions",
            "type": "array",
            "description": "The secondarySubmissions resource includes all the secondary job applications. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobApplications-secondarySubmissions-item-response"
            }
          }
        }
      },
      "recruitingCEJobApplications-BackgroundCheckLinks-item-response": {
        "type": "object",
        "properties": {
          "PartnerName": {
            "maxLength": 300,
            "type": "string",
            "description": "Partner name of the background check link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProvisioningId": {
            "type": "integer",
            "description": "Provisioning ID of the background check link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEJobApplications-ScheduleInterviews-item-response": {
        "type": "object",
        "properties": {
          "IntrvwRequestsId": {
            "type": "integer",
            "description": "ID assigned to each scheduled interview request.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IsReschedulable": {
            "type": "string",
            "description": "Indicates if the interview is rescheduled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IsScheduled": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if the interview is scheduled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleId": {
            "type": "integer",
            "description": "ID assigned to each interview schedule.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ScheduleInterviewId": {
            "type": "integer",
            "description": "ID assigned to each scheduled interview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned to the submission of the interview schedules.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobApplications-UnscheduledInterviewRequests-item-response": {
        "type": "object",
        "properties": {
          "InterviewId": {
            "title": "Interview ID",
            "type": "integer",
            "description": "ID assigned to each unscheduled interview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IntrvwRequestsId": {
            "title": "Interview Request ID",
            "type": "integer",
            "description": "ID assigned to each unscheduled interview request.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "IntrvwRschldCount": {
            "title": "Number of Interview Reschedules",
            "type": "integer",
            "description": "Count of rescheduled interviews.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "IsRschldRqsted": {
            "title": "Reschedule Requested Flag",
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if a reschedule of the interview is requested.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "IsSchedulable": {
            "title": "Can Schedule",
            "maxLength": 255,
            "type": "string",
            "description": "Indicates if the unscheduled interview can be scheduled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleId": {
            "title": "Interview Schedule ID",
            "type": "integer",
            "description": "Schedule ID assigned to each unscheduled interview request.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionId": {
            "title": "Interview Submission ID",
            "type": "integer",
            "description": "Job application ID assigned to each unscheduled interview request.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobApplications-assessmentLinks-item-response": {
        "type": "object",
        "properties": {
          "PartnerName": {
            "type": "string",
            "description": "Partner name of the assessment link.",
            "nullable": true,
            "x-queryable": true
          },
          "ProvisioningId": {
            "type": "integer",
            "description": "Provisioning ID of the assessment link.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobApplications-preferredLocations-item-response": {
        "type": "object",
        "properties": {
          "JaPreferredLocationId": {
            "type": "integer",
            "description": "ID assigned to the preferred location mentioned in the job application.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "ID assigned to the preferred location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationType": {
            "maxLength": 1,
            "type": "string",
            "description": "Type of preferred location.",
            "nullable": false,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned to each submission of the preferred location.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobApplications-questionnaireResponses-item-response": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for which the responses are provided.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionResponses": {
            "type": "string",
            "description": "Responses provided by the candidate for the questionnaire.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "ID of the questionnaire for which the responses are provided",
            "nullable": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of the questionnaire for which the responses are provided.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobApplications-regulatoryResponses-item-response": {
        "type": "object",
        "properties": {
          "RegulatoryResponses": {
            "type": "string",
            "description": "Response for a regulatory.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Number specific to the requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of a regulatory response.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobApplications-secondarySubmissions-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Individual who created the secondary job application.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date of creation of the secondary job application.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "EsignDescriptionVersionId": {
            "type": "integer",
            "description": "ID assigned to the description of the electronic signature version for the secondary job application.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlowId": {
            "type": "integer",
            "description": "ID assigned to the work flow of the secondary job application.",
            "nullable": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "ID assigned to the secondary job application work flow.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date of last update for the secondary job application.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Last update login information for the secondary job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Last updated by information for the secondary job application.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SecFlowSubmDate": {
            "type": "string",
            "description": "Date when the secondary job application workflow was submitted.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
[...]
