{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Sites/Talent Community Sign Up",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCESites/{SiteNumber}/child/talentCommunitySignUp": {
      "get": {
        "tags": [
          "Recruiting CE Sites/Talent Community Sign Up"
        ],
        "summary": "Get all talent community sign up in recruitingCESites",
        "operationId": "getall_recruitingCESites-talentCommunitySignUp",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ButtonLabel; string; Label of the buttons on the talent community sign up site.</li><li>Description; string; Description of the sign up in the talent community site.</li><li>Id; string; ID assigned to each sign up in the talent community.</li><li>Language; string; Language used in the sign up in the talent community on the recruitingCESites..</li><li>ShowAtSearchResultsFlag; boolean; Indicates when search results appear on a site.</li><li>ShowWhenNoSearchResultsFoundFlag; boolean; Indicates when no results come up during a search executed on the recruitingCESites.</li><li>SiteId; integer; Site ID in talent community sign up.</li><li>Title; string; Title assigned to each of the sign up in the talent community in the recruitingCESites.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Find talent community sign up in recruitingCESites by unique ID <br>Finder Variables <ul><li>SiteId; integer;  Find talent community sign up in recruitingCESites by primary key and the Site ID variable </li></ul></li><li>TcSignupByIdFinder Find talent community sign up in recruitingCESites by TcSignupByIdFinder <br>Finder Variables <ul><li>Id; string;  Find talent community sign up in recruitingCESites by TcSignupByIdFinder and ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Find talent community sign up in recruitingCESites by unique ID",
                "properties": {
                  "SiteId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Find talent community sign up in recruitingCESites by primary key and the Site ID variable",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "TcSignupByIdFinder",
                "description": "Find talent community sign up in recruitingCESites by TcSignupByIdFinder",
                "title": "findById",
                "properties": {
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find talent community sign up in recruitingCESites by TcSignupByIdFinder and ID",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-talentCommunitySignUp-get",
        "x-filename-id": "recruitingcesites-sitenumber-child-talentcommunitysignup-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Sites/Talent Community Sign Up"
        ],
        "summary": "Post all talent community sign up in recruitingCESites",
        "operationId": "create_recruitingCESites-talentCommunitySignUp",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-talentCommunitySignUp-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-item-response"
                }
              }
            },
            "links": {
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1talentCommunitySignUp~1{Id}~1child~1translations/get",
                "parameters": {
                  "Id": "$request.path.Id",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of talentCommunitySignUp. It includes the talent community sign up related translations in the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-talentCommunitySignUp-post",
        "x-filename-id": "recruitingcesites-sitenumber-child-talentcommunitysignup-post"
      }
    },
    "/recruitingCESites/{SiteNumber}/child/talentCommunitySignUp/{Id}": {
      "get": {
        "tags": [
          "Recruiting CE Sites/Talent Community Sign Up"
        ],
        "summary": "Get talent community sign up in recruitingCESites",
        "operationId": "get_recruitingCESites-talentCommunitySignUp",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-item-response"
                }
              }
            },
            "links": {
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1talentCommunitySignUp~1{Id}~1child~1translations/get",
                "parameters": {
                  "Id": "$request.path.Id",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of talentCommunitySignUp. It includes the talent community sign up related translations in the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-talentCommunitySignUp-{Id}-get",
        "x-filename-id": "recruitingcesites-sitenumber-child-talentcommunitysignup-id-get"
      },
      "patch": {
        "tags": [
          "Recruiting CE Sites/Talent Community Sign Up"
        ],
        "summary": "Patch talent community sign up in recruitingCESites",
        "operationId": "update_recruitingCESites-talentCommunitySignUp",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-talentCommunitySignUp-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-item-response"
                }
              }
            },
            "links": {
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1talentCommunitySignUp~1{Id}~1child~1translations/get",
                "parameters": {
                  "Id": "$request.path.Id",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of talentCommunitySignUp. It includes the talent community sign up related translations in the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-talentCommunitySignUp-{Id}-patch",
        "x-filename-id": "recruitingcesites-sitenumber-child-talentcommunitysignup-id-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCESites-talentCommunitySignUp": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-item-response": {
        "type": "object",
        "properties": {
          "ButtonLabel": {
            "maxLength": 1000,
            "type": "string",
            "description": "Label of the buttons on the talent community sign up site.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the sign up in the talent community site.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "Id": {
            "maxLength": 255,
            "type": "string",
            "description": "ID assigned to each sign up in the talent community.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 255,
            "type": "string",
            "description": "Language used in the sign up in the talent community on the recruitingCESites..",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ShowAtSearchResultsFlag": {
            "type": "boolean",
            "description": "Indicates when search results appear on a site.",
            "nullable": true,
            "x-queryable": true
          },
          "ShowWhenNoSearchResultsFoundFlag": {
            "type": "boolean",
            "description": "Indicates when no results come up during a search executed on the recruitingCESites.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteId": {
            "type": "integer",
            "description": "Site ID in talent community sign up.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "Title": {
            "maxLength": 1000,
            "type": "string",
            "description": "Title assigned to each of the sign up in the talent community in the recruitingCESites.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "translations": {
            "title": "Header Link Translations",
            "type": "array",
            "description": "The translations resource is a child of cookieConsent. It includes translations of the cookie consent in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-translations-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-translations-item-response": {
        "type": "object",
        "properties": {
          "ButtonLabel": {
            "maxLength": 1000,
            "type": "string",
            "description": "Label of the button in talent community sign up.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the talent community sign up.",
            "nullable": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the talent community sign up.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SiteId": {
            "type": "integer",
            "description": "Site ID in talent community sign up translation.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the talent community sign up translation.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 1000,
            "type": "string",
            "description": "Title of the talent community sign up.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-item-post-request": {
        "required": [
          "SiteId"
        ],
        "type": "object",
        "properties": {
          "ButtonLabel": {
            "maxLength": 1000,
            "type": "string",
            "description": "Label of the buttons on the talent community sign up site.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "Description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the sign up in the talent community site.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "ShowAtSearchResultsFlag": {
            "type": "boolean",
            "description": "Indicates when search results appear on a site.",
            "nullable": true
          },
          "ShowWhenNoSearchResultsFoundFlag": {
            "type": "boolean",
            "description": "Indicates when no results come up during a search executed on the recruitingCESites.",
            "nullable": true
          },
          "SiteId": {
            "type": "integer",
            "description": "Site ID in talent community sign up.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "Title": {
            "maxLength": 1000,
            "type": "string",
            "description": "Title assigned to each of the sign up in the talent community in the recruitingCESites.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "translations": {
            "title": "Header Link Translations",
            "type": "array",
            "description": "The translations resource is a child of cookieConsent. It includes translations of the cookie consent in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-translations-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-translations-item-post-request": {
        "type": "object",
        "properties": {
          "ButtonLabel": {
            "maxLength": 1000,
            "type": "string",
            "description": "Label of the button in talent community sign up.",
            "nullable": true
          },
          "Description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the talent community sign up.",
            "nullable": true
          },
          "Title": {
            "maxLength": 1000,
            "type": "string",
            "description": "Title of the talent community sign up.",
            "nullable": true
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-item-patch-request": {
        "type": "object",
        "properties": {
          "ButtonLabel": {
            "maxLength": 1000,
            "type": "string",
            "description": "Label of the buttons on the talent community sign up site.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "Description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the sign up in the talent community site.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "ShowAtSearchResultsFlag": {
            "type": "boolean",
            "description": "Indicates when search results appear on a site.",
            "nullable": true
          },
          "ShowWhenNoSearchResultsFoundFlag": {
            "type": "boolean",
            "description": "Indicates when no results come up during a search executed on the recruitingCESites.",
            "nullable": true
          },
          "Title": {
            "maxLength": 1000,
            "type": "string",
            "description": "Title assigned to each of the sign up in the talent community in the recruitingCESites.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "translations": {
            "title": "Header Link Translations",
            "type": "array",
            "description": "The translations resource is a child of cookieConsent. It includes translations of the cookie consent in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-translations-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-translations-item-patch-request": {
        "type": "object",
        "properties": {
          "ButtonLabel": {
            "maxLength": 1000,
            "type": "string",
            "description": "Label of the button in talent community sign up.",
            "nullable": true
          },
          "Description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the talent community sign up.",
            "nullable": true
          },
          "Title": {
            "maxLength": 1000,
            "type": "string",
            "description": "Title of the talent community sign up.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCESites-talentCommunitySignUp-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-talentCommunitySignUp-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCESites-talentCommunitySignUp-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}