{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Themes/Large Object (LOB) Attributes - GeneratedCustomCSS",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEThemes/{ThemeNumber}/enclosure/GeneratedCustomCSS": {
      "get": {
        "tags": [
          "Recruiting CE Themes/Large Object (LOB) Attributes - GeneratedCustomCSS"
        ],
        "summary": "Get a GeneratedCustomCSS",
        "description": "Get a GeneratedCustomCSS",
        "operationId": "get_recruitingCEThemes-GeneratedCustomCSS",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-enclosure-GeneratedCustomCSS-get",
        "x-filename-id": "recruitingcethemes-themenumber-enclosure-generatedcustomcss-get"
      },
      "put": {
        "tags": [
          "Recruiting CE Themes/Large Object (LOB) Attributes - GeneratedCustomCSS"
        ],
        "summary": "Replace a GeneratedCustomCSS",
        "description": "Replace a GeneratedCustomCSS",
        "operationId": "replace_recruitingCEThemes-GeneratedCustomCSS",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-enclosure-GeneratedCustomCSS-put",
        "x-filename-id": "recruitingcethemes-themenumber-enclosure-generatedcustomcss-put"
      },
      "delete": {
        "tags": [
          "Recruiting CE Themes/Large Object (LOB) Attributes - GeneratedCustomCSS"
        ],
        "summary": "Delete a GeneratedCustomCSS",
        "description": "Delete a GeneratedCustomCSS",
        "operationId": "delete_recruitingCEThemes-GeneratedCustomCSS",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-enclosure-GeneratedCustomCSS-delete",
        "x-filename-id": "recruitingcethemes-themenumber-enclosure-generatedcustomcss-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}