{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Regulatory Configurations",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCERegulatoryConfigs": {
      "get": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Get all secured regulatory configurations",
        "operationId": "getall_recruitingCERegulatoryConfigs",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AFBlockCode; string; Code assigned to the apply flow block in the secured regulatory configurations.</li><li>AttributeCode; string; Code assigned to the attribute in the secured regulatory configurations</li><li>AttributeName; string; Attribute name in the regulatory configurations in the secured regulatory configurations.</li><li>AttributeType; string; Attribute type used to classify the attribute as DDF or standard in the secured regulatory configurations.</li><li>CheckboxCheckedValue; string; Predefined value assigned to the DDF attribute when the checkbox is selected in the secured regulatory configurations.</li><li>CheckboxUncheckedValue; string; Predefined value assigned to the DDF attribute when the checkbox is unselected in the secured regulatory configurations.</li><li>DefaultValue; string; Default value in the secured regulatory configurations</li><li>DisabledFlag; boolean; Indicator to indicate the configuration setting is disabled in the secured regulatory configurations</li><li>DisplayPrompt; string; Display prompt in the secured regulatory configurations</li><li>DisplaySequence; integer; Display sequence in the secured regulatory configurations</li><li>DisplayTypeCode; string; Code assigned to the display type in the secured regulatory configurations</li><li>DisplayWidth; string; Display width value predefined for the DDF attribute in the secured regulatory configurations.</li><li>FooterDescription; string; Footer description in the secured regulatory configurations</li><li>HeaderDescription; string; Header description in the secured regulatory configurations</li><li>HiddenFlag; boolean; Indicator to hide the configurations in the secured regulatory configurations</li><li>LegislationCode; string; Legislation code in the secured regulatory configurations</li><li>LegislationName; string; Legislation name in the secured regulatory configurations</li><li>LookupType; string; Lookup type in the secured regulatory configurations</li><li>MaximumLength; string; Maximum length predefined for the DDF attribute in the secured regulatory configurations.</li><li>MaximumValue; string; Maximum value predefined for the DDF attribute in the secured regulatory configurations.</li><li>MinimumValue; string; Minimum value predefined for the DDF attribute in the secured regulatory configurations.</li><li>Options; string; Options in the secured regulatory configurations</li><li>Precision; integer; Precision value predefined for the DDF attribute in the secured regulatory configurations.</li><li>RequiredFlag; boolean; Required indicator in the secured regulatory configurations</li><li>RequisitionNumber; string; Requisition number in the secured regulatory configurations</li><li>ResponseTypeCode; string; Code assigned to the response type in the secured regulatory configurations</li><li>Scale; string; Scale value predefined for the DDF attribute in the secured regulatory configurations.</li><li>SegmentColumnName; string; Segment column name predefined for the DDF attribute in the secured regulatory configurations.</li><li>SegmentName; string; Segment name predefined for the DDF attribute in the secured regulatory configurations.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the secured regulatory configurations by unique ID <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds the secured regulatory configurations by unique ID and requisition number </li></ul></li><li>findAttrByRequistionNumber Finds the secured regulatory configurations by findAttrByRequisitionNumber <br>Finder Variables <ul><li>AFBlockCode; string;  Finds the secured regulatory configurations by findAttrByRequisitionNumber and AF Block Code </li><li>RequisitionNumber; string;  Finds the secured regulatory configurations by findAttrByRequisitionNumber and requisition number </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the secured regulatory configurations by unique ID",
                "properties": {
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Finds the secured regulatory configurations by unique ID and requisition number",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findAttrByRequistionNumber",
                "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber",
                "title": "findAttributesByRequisitionNumber",
                "properties": {
                  "AFBlockCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber and AF Block Code",
                    "type": "string"
                  },
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber and requisition number",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCERegulatoryConfigs"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCERegulatoryConfigs-get",
        "x-filename-id": "recruitingceregulatoryconfigs-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Submit all regulatory configurations",
        "operationId": "create_recruitingCERegulatoryConfigs",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCERegulatoryConfigs-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCERegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCERegulatoryConfigs-post",
        "x-filename-id": "recruitingceregulatoryconfigs-post"
      }
    },
    "/recruitingCERegulatoryConfigs/{RequisitionNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Get a secured regulatory configuration",
        "operationId": "get_recruitingCERegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCERegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCERegulatoryConfigs-{RequisitionNumber}-get",
        "x-filename-id": "recruitingceregulatoryconfigs-requisitionnumber-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Delete a regulatory configuration",
        "operationId": "delete_recruitingCERegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCERegulatoryConfigs-{RequisitionNumber}-delete",
        "x-filename-id": "recruitingceregulatoryconfigs-requisitionnumber-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Update a regulatory configuration",
        "operationId": "update_recruitingCERegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCERegulatoryConfigs-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCERegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCERegulatoryConfigs-{RequisitionNumber}-patch",
        "x-filename-id": "recruitingceregulatoryconfigs-requisitionnumber-patch"
      }
    },
    "/recruitingCESecuredRegulatoryConfigs": {
      "get": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Get all secured regulatory configurations",
        "operationId": "getall_recruitingCESecuredRegulatoryConfigs",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AFBlockCode; string; Code assigned to the apply flow block in the secured regulatory configurations.</li><li>AttributeCode; string; Code assigned to the attribute in the secured regulatory configurations</li><li>AttributeName; string; Attribute name in the regulatory configurations in the secured regulatory configurations.</li><li>AttributeType; string; Attribute type used to classify the attribute as DDF or standard in the secured regulatory configurations.</li><li>CheckboxCheckedValue; string; Predefined value assigned to the DDF attribute when the checkbox is selected in the secured regulatory configurations.</li><li>CheckboxUncheckedValue; string; Predefined value assigned to the DDF attribute when the checkbox is unselected in the secured regulatory configurations.</li><li>DefaultValue; string; Default value in the secured regulatory configurations</li><li>DisabledFlag; boolean; Indicator to indicate the configuration setting is disabled in the secured regulatory configurations</li><li>DisplayPrompt; string; Display prompt in the secured regulatory configurations</li><li>DisplaySequence; integer; Display sequence in the secured regulatory configurations</li><li>DisplayTypeCode; string; Code assigned to the display type in the secured regulatory configurations</li><li>DisplayWidth; string; Display width value predefined for the DDF attribute in the secured regulatory configurations.</li><li>FooterDescription; string; Footer description in the secured regulatory configurations</li><li>HeaderDescription; string; Header description in the secured regulatory configurations</li><li>HiddenFlag; boolean; Indicator to hide the configurations in the secured regulatory configurations</li><li>LegislationCode; string; Legislation code in the secured regulatory configurations</li><li>LegislationName; string; Legislation name in the secured regulatory configurations</li><li>LookupType; string; Lookup type in the secured regulatory configurations</li><li>MaximumLength; string; Maximum length predefined for the DDF attribute in the secured regulatory configurations.</li><li>MaximumValue; string; Maximum value predefined for the DDF attribute in the secured regulatory configurations.</li><li>MinimumValue; string; Minimum value predefined for the DDF attribute in the secured regulatory configurations.</li><li>Options; string; Options in the secured regulatory configurations</li><li>Precision; integer; Precision value predefined for the DDF attribute in the secured regulatory configurations.</li><li>RequiredFlag; boolean; Required indicator in the secured regulatory configurations</li><li>RequisitionNumber; string; Requisition number in the secured regulatory configurations</li><li>ResponseTypeCode; string; Code assigned to the response type in the secured regulatory configurations</li><li>Scale; string; Scale value predefined for the DDF attribute in the secured regulatory configurations.</li><li>SegmentColumnName; string; Segment column name predefined for the DDF attribute in the secured regulatory configurations.</li><li>SegmentName; string; Segment name predefined for the DDF attribute in the secured regulatory configurations.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the secured regulatory configurations by unique ID <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds the secured regulatory configurations by unique ID and requisition number </li></ul></li><li>findAttrByRequistionNumber Finds the secured regulatory configurations by findAttrByRequisitionNumber <br>Finder Variables <ul><li>AFBlockCode; string;  Finds the secured regulatory configurations by findAttrByRequisitionNumber and AF Block Code </li><li>RequisitionNumber; string;  Finds the secured regulatory configurations by findAttrByRequisitionNumber and requisition number </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the secured regulatory configurations by unique ID",
                "properties": {
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Finds the secured regulatory configurations by unique ID and requisition number",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findAttrByRequistionNumber",
                "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber",
                "title": "findAttributesByRequisitionNumber",
                "properties": {
                  "AFBlockCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber and AF Block Code",
                    "type": "string"
                  },
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber and requisition number",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESecuredRegulatoryConfigs"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESecuredRegulatoryConfigs-get",
        "x-filename-id": "recruitingcesecuredregulatoryconfigs-get"
      }
    },
    "/recruitingCESecuredRegulatoryConfigs/{RequisitionNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Get a secured regulatory configuration",
        "operationId": "get_recruitingCESecuredRegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESecuredRegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESecuredRegulatoryConfigs-{RequisitionNumber}-get",
        "x-filename-id": "recruitingcesecuredregulatoryconfigs-requisitionnumber-get"
      }
    },
    "/recruitingJobSiteRegulatoryConfigs/{RequisitionNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Get a secured regulatory configuration",
        "operationId": "get_recruitingJobSiteRegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteRegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteRegulatoryConfigs-{RequisitionNumber}-get",
        "x-filename-id": "recruitingjobsiteregulatoryconfigs-requisitionnumber-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Delete a regulatory configuration",
        "operationId": "delete_recruitingJobSiteRegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingJobSiteRegulatoryConfigs-{RequisitionNumber}-delete",
        "x-filename-id": "recruitingjobsiteregulatoryconfigs-requisitionnumber-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Update a regulatory configuration",
        "operationId": "update_recruitingJobSiteRegulatoryConfigs",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobSiteRegulatoryConfigs-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteRegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteRegulatoryConfigs-{RequisitionNumber}-patch",
        "x-filename-id": "recruitingjobsiteregulatoryconfigs-requisitionnumber-patch"
      }
    },
    "/recruitingJobSiteRegulatoryConfigs": {
      "get": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Get all secured regulatory configurations",
        "operationId": "getall_recruitingJobSiteRegulatoryConfigs",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AFBlockCode; string; Code assigned to the apply flow block in the secured regulatory configurations.</li><li>AttributeCode; string; Code assigned to the attribute in the secured regulatory configurations</li><li>AttributeName; string; Attribute name in the regulatory configurations in the secured regulatory configurations.</li><li>AttributeType; string; Attribute type used to classify the attribute as DDF or standard in the secured regulatory configurations.</li><li>CheckboxCheckedValue; string; Predefined value assigned to the DDF attribute when the checkbox is selected in the secured regulatory configurations.</li><li>CheckboxUncheckedValue; string; Predefined value assigned to the DDF attribute when the checkbox is unselected in the secured regulatory configurations.</li><li>DefaultValue; string; Default value in the secured regulatory configurations</li><li>DisabledFlag; boolean; Indicator to indicate the configuration setting is disabled in the secured regulatory configurations</li><li>DisplayPrompt; string; Display prompt in the secured regulatory configurations</li><li>DisplaySequence; integer; Display sequence in the secured regulatory configurations</li><li>DisplayTypeCode; string; Code assigned to the display type in the secured regulatory configurations</li><li>DisplayWidth; string; Display width value predefined for the DDF attribute in the secured regulatory configurations.</li><li>FooterDescription; string; Footer description in the secured regulatory configurations</li><li>HeaderDescription; string; Header description in the secured regulatory configurations</li><li>HiddenFlag; boolean; Indicator to hide the configurations in the secured regulatory configurations</li><li>LegislationCode; string; Legislation code in the secured regulatory configurations</li><li>LegislationName; string; Legislation name in the secured regulatory configurations</li><li>LookupType; string; Lookup type in the secured regulatory configurations</li><li>MaximumLength; string; Maximum length predefined for the DDF attribute in the secured regulatory configurations.</li><li>MaximumValue; string; Maximum value predefined for the DDF attribute in the secured regulatory configurations.</li><li>MinimumValue; string; Minimum value predefined for the DDF attribute in the secured regulatory configurations.</li><li>Options; string; Options in the secured regulatory configurations</li><li>Precision; integer; Precision value predefined for the DDF attribute in the secured regulatory configurations.</li><li>RequiredFlag; boolean; Required indicator in the secured regulatory configurations</li><li>RequisitionNumber; string; Requisition number in the secured regulatory configurations</li><li>ResponseTypeCode; string; Code assigned to the response type in the secured regulatory configurations</li><li>Scale; string; Scale value predefined for the DDF attribute in the secured regulatory configurations.</li><li>SegmentColumnName; string; Segment column name predefined for the DDF attribute in the secured regulatory configurations.</li><li>SegmentName; string; Segment name predefined for the DDF attribute in the secured regulatory configurations.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the secured regulatory configurations by unique ID <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds the secured regulatory configurations by unique ID and requisition number </li></ul></li><li>findAttrByRequistionNumber Finds the secured regulatory configurations by findAttrByRequisitionNumber <br>Finder Variables <ul><li>AFBlockCode; string;  Finds the secured regulatory configurations by findAttrByRequisitionNumber and AF Block Code </li><li>RequisitionNumber; string;  Finds the secured regulatory configurations by findAttrByRequisitionNumber and requisition number </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the secured regulatory configurations by unique ID",
                "properties": {
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Finds the secured regulatory configurations by unique ID and requisition number",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findAttrByRequistionNumber",
                "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber",
                "title": "findAttributesByRequisitionNumber",
                "properties": {
                  "AFBlockCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber and AF Block Code",
                    "type": "string"
                  },
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the secured regulatory configurations by findAttrByRequisitionNumber and requisition number",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteRegulatoryConfigs"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteRegulatoryConfigs-get",
        "x-filename-id": "recruitingjobsiteregulatoryconfigs-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Regulatory Configurations"
        ],
        "summary": "Submit all regulatory configurations",
        "operationId": "create_recruitingJobSiteRegulatoryConfigs",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobSiteRegulatoryConfigs-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteRegulatoryConfigs-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteRegulatoryConfigs-post",
        "x-filename-id": "recruitingjobsiteregulatoryconfigs-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCERegulatoryConfigs": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERegulatoryConfigs-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCERegulatoryConfigs-item-response": {
        "type": "object",
        "properties": {
          "AFBlockCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code assigned to the apply flow block in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "AttributeCode": {
            "type": "string",
            "description": "Code assigned to the attribute in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "AttributeName": {
            "type": "string",
            "description": "Attribute name in the regulatory configurations in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "AttributeType": {
            "type": "string",
            "description": "Attribute type used to classify the attribute as DDF or standard in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "CheckboxCheckedValue": {
            "type": "string",
            "description": "Predefined value assigned to the DDF attribute when the checkbox is selected in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "CheckboxUncheckedValue": {
            "type": "string",
            "description": "Predefined value assigned to the DDF attribute when the checkbox is unselected in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "DefaultValue": {
            "type": "string",
            "description": "Default value in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "DisabledFlag": {
            "type": "boolean",
            "description": "Indicator to indicate the configuration setting is disabled in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "DisplayPrompt": {
            "type": "string",
            "description": "Display prompt in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "DisplaySequence": {
            "type": "integer",
            "description": "Display sequence in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "DisplayTypeCode": {
            "type": "string",
            "description": "Code assigned to the display type in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "DisplayWidth": {
            "type": "string",
            "description": "Display width value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "FooterDescription": {
            "type": "string",
            "description": "Footer description in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "HeaderDescription": {
            "type": "string",
            "description": "Header description in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "HiddenFlag": {
            "type": "boolean",
            "description": "Indicator to hide the configurations in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "LegislationCode": {
            "type": "string",
            "description": "Legislation code in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "LegislationName": {
            "type": "string",
            "description": "Legislation name in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "LookupType": {
            "type": "string",
            "description": "Lookup type in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "MaximumLength": {
            "type": "string",
            "description": "Maximum length predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "MaximumValue": {
            "type": "string",
            "description": "Maximum value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "MinimumValue": {
            "type": "string",
            "description": "Minimum value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "Options": {
            "type": "string",
            "description": "Options in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "Precision": {
            "type": "integer",
            "description": "Precision value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "RequiredFlag": {
            "type": "boolean",
            "description": "Required indicator in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Requisition number in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "ResponseTypeCode": {
            "type": "string",
            "description": "Code assigned to the response type in the secured regulatory configurations",
            "nullable": true,
            "x-queryable": true
          },
          "Scale": {
            "type": "string",
            "description": "Scale value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "SegmentColumnName": {
            "type": "string",
            "description": "Segment column name predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "SegmentName": {
            "type": "string",
            "description": "Segment name predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCERegulatoryConfigs-item-post-request": {
        "type": "object",
        "properties": {
          "AFBlockCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code assigned to the apply flow block in the secured regulatory configurations.",
            "nullable": true
          },
          "AttributeCode": {
            "type": "string",
            "description": "Code assigned to the attribute in the secured regulatory configurations",
            "nullable": true
          },
          "AttributeName": {
            "type": "string",
            "description": "Attribute name in the regulatory configurations in the secured regulatory configurations.",
            "nullable": true
          },
          "AttributeType": {
            "type": "string",
            "description": "Attribute type used to classify the attribute as DDF or standard in the secured regulatory configurations.",
            "nullable": true
          },
          "CheckboxCheckedValue": {
            "type": "string",
            "description": "Predefined value assigned to the DDF attribute when the checkbox is selected in the secured regulatory configurations.",
            "nullable": true
          },
          "CheckboxUncheckedValue": {
            "type": "string",
            "description": "Predefined value assigned to the DDF attribute when the checkbox is unselected in the secured regulatory configurations.",
            "nullable": true
          },
          "DefaultValue": {
            "type": "string",
            "description": "Default value in the secured regulatory configurations",
            "nullable": true
          },
          "DisabledFlag": {
            "type": "boolean",
            "description": "Indicator to indicate the configuration setting is disabled in the secured regulatory configurations",
            "nullable": true
          },
          "DisplayPrompt": {
            "type": "string",
            "description": "Display prompt in the secured regulatory configurations",
            "nullable": true
          },
          "DisplaySequence": {
            "type": "integer",
            "description": "Display sequence in the secured regulatory configurations",
            "nullable": true
          },
          "DisplayTypeCode": {
            "type": "string",
            "description": "Code assigned to the display type in the secured regulatory configurations",
            "nullable": true
          },
          "DisplayWidth": {
            "type": "string",
            "description": "Display width value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "FooterDescription": {
            "type": "string",
            "description": "Footer description in the secured regulatory configurations",
            "nullable": true
          },
          "HeaderDescription": {
            "type": "string",
            "description": "Header description in the secured regulatory configurations",
            "nullable": true
          },
          "HiddenFlag": {
            "type": "boolean",
            "description": "Indicator to hide the configurations in the secured regulatory configurations",
            "nullable": true
          },
          "LegislationCode": {
            "type": "string",
            "description": "Legislation code in the secured regulatory configurations",
            "nullable": true
          },
          "LegislationName": {
            "type": "string",
            "description": "Legislation name in the secured regulatory configurations",
            "nullable": true
          },
          "LookupType": {
            "type": "string",
            "description": "Lookup type in the secured regulatory configurations",
            "nullable": true
          },
          "MaximumLength": {
            "type": "string",
            "description": "Maximum length predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "MaximumValue": {
            "type": "string",
            "description": "Maximum value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "MinimumValue": {
            "type": "string",
            "description": "Minimum value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "Options": {
            "type": "string",
            "description": "Options in the secured regulatory configurations",
            "nullable": true
          },
          "Precision": {
            "type": "integer",
            "description": "Precision value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "RequiredFlag": {
            "type": "boolean",
            "description": "Required indicator in the secured regulatory configurations",
            "nullable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Requisition number in the secured regulatory configurations",
            "nullable": true
          },
          "ResponseTypeCode": {
            "type": "string",
            "description": "Code assigned to the response type in the secured regulatory configurations",
            "nullable": true
          },
          "Scale": {
            "type": "string",
            "description": "Scale value predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "SegmentColumnName": {
            "type": "string",
            "description": "Segment column name predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          },
          "SegmentName": {
            "type": "string",
            "description": "Segment name predefined for the DDF attribute in the secured regulatory configurations.",
            "nullable": true
          }
        }
      },
      "recruitingCERegulatoryConfigs-item-patch-request": {
        "type": "object",
        "properties": {
          "AFBlockCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code assigned to the apply flow block in the secured regulatory configurations.",
            "nullable": true
          },
          "AttributeCode": {
            "type": "string",
            "description": "Code assigned to the attribute in the secured regulatory configurations",
            "nullable": true
          },
          "AttributeName": {
            "type": "string",
            "description": "Attribute name in the regulatory configurations in the secured regulatory configurations.",
            "nullable": true
          },
          "AttributeType": {
            "type": "string",
            "description": "Attribute type used to classify the attribute as DDF or standard in the secured regulatory configurations.",
            "nullable": true
          },
          "CheckboxCheckedValue": {
            "type": "string",
            "description": "Predefined value assigned to the DDF attribute when the checkbox is selected in the secured regulatory configurations.",
            "nullable": true
          },
          "CheckboxUncheckedValue": {
            "type": "string",
[...]
