{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Create or Update Job Offers",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUICreateOrUpdateJobOffers/action/quickSubmitOffer": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Perform a quick submit of merged offer by skipping all phases",
        "description": "Performs a quick submit of merged offer by skipping all phases.",
        "operationId": "doall_quickSubmitOffer_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "OfferId": {
                    "type": "number",
                    "description": "Offer identifier that's passed during the quick submit offer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned after performing the quick submit offer action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned after performing the quick submit offer action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-quickSubmitOffer-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-quicksubmitoffer-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/populateEditOfferHCMParams": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Populate parameters when editing a job offer",
        "description": "Populates parameters when editing a job offer.",
        "operationId": "doall_populateEditOfferHCMParams_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SubmissionId": {
                    "type": "number",
                    "description": "Submission identifier for populating parameters when editing a job offer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when populating parameters of a job offer letter."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when populating parameters of a job offer letter."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-populateEditOfferHCMParams-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-populateeditofferhcmparams-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/getVisibilityFromPersonType": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Get if the person is internal or external based on the candidate type being passed",
        "description": "Gets if the person is internal or external based on the candidate type being passed.",
        "operationId": "doall_getVisibilityFromPersonType_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pPersonType": {
                    "type": "string",
                    "description": "Person type such as employee, contingent worker, external candidate, ex-employee, ex-contingent worker.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for the person type visibility, that's external or internal."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for the person type visibility, that's external or internal."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-getVisibilityFromPersonType-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-getvisibilityfrompersontype-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/fetchValidationsForSubmit": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Get validations when submitting an offer",
        "description": "Gets validations when submitting an offer.",
        "operationId": "doall_fetchValidationsForSubmit_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offerId": {
                    "type": "number",
                    "description": "Offer identifier when submitting the offer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Response returned when submitting an offer."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Response returned when submitting an offer."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-fetchValidationsForSubmit-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-fetchvalidationsforsubmit-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/copyParentOfferData": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Copy job offer data post merge",
        "description": "Copies job offer data post merge.",
        "operationId": "doall_copyParentOfferData_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "OfferId": {
                    "type": "number",
                    "description": "Job offer identifier to which the job offer was copied.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when copying a job offer."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when copying a job offer."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-copyParentOfferData-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-copyparentofferdata-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/fetchOfferPhaseAndState": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Fetch offer phase and state",
        "description": "Fetches the offer phase and state.",
        "operationId": "doall_fetchOfferPhaseAndState_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offerId": {
                    "type": "number",
                    "description": "Job offer identifier for which the phase and state was fetched.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when fetching the job offer phase and state."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned when fetching the job offer phase and state."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-fetchOfferPhaseAndState-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-fetchofferphaseandstate-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/submitOffer": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Submit the offer action for the offer",
        "description": "Submits the offer action for the offer.",
        "operationId": "doall_submitOffer_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offerId": {
                    "type": "number",
                    "description": "Offer identifier when performing the submit offer action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned when performing the offer submit action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned when performing the offer submit action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-submitOffer-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-submitoffer-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers": {
      "get": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Get data about all job offers",
        "operationId": "getall_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AcceptedDate; string; Date when the job offer was accepted.</li><li>AcceptedOnBehalfById; integer; Identifier of the person who accepted the job offer on behalf of the candidate.</li><li>AcceptedOnBehalfDate; string; Date when the person accepted the job offer on behalf of the candidate.</li><li>Additionaltextone; string; First additional information text field.</li><li>Additionaltexttwo; string; Second additional information text field.</li><li>AsgActionCode; string; Assignment action code for the job offer being created or updated.</li><li>AssignmentContractId; integer; Assignment contract identifier in the job offer being created or updated.</li><li>AssignmentId; integer; Assignment identifier of the job offer being created or updated.</li><li>AssignmentOfferId; integer; Offer assignment identifier of the job offer being created or updated.</li><li>AssignmentPositionId; integer; Assignment position identifier of the job offer being created or updated.</li><li>BusinessGroupId; integer; Business group identifier of the job offer being created or updated.</li><li>BusinessUnitId; integer; Business unit identifier of the job offer being created or updated.</li><li>CanUpdateCandidateJobOfferLetter; string; Flag to check if user has download to update offer letter of the job offer being created or updated.</li><li>CandidateName; string; Candidate name for which the job offer is being created or updated.</li><li>CandidateNumber; string; Candidate number of the candidate for which the job offer is being created or updated.</li><li>CandidateType; string; Candidate type of the candidate for which the job offer is being created or updated.</li><li>CategoryCandidate; string; Category of the candidate for which the job offer is being created or updated.</li><li>Code; string; Code of the job offer being created or updated.</li><li>Comments; string; Comments of the job offer being created or updated.</li><li>CountryCode; string; Country code of the job offer being created or updated.</li><li>CurrentPhaseId; integer; Current phase identifier of the job offer being created or updated.</li><li>CurrentStateId; integer; Current state identifier of the job offer being created or updated.</li><li>DepartmentId; integer; Department identifier of the job offer being created or updated.</li><li>Description; string; Description of the job offer being created or updated.</li><li>EffectiveEndDate; string; Effective end date of the job offer being created or updated.</li><li>EffectiveStartDate; string; Effective start date of the job offer being created or updated.</li><li>EsignatureInstructions; string; E signature instructions in the job offer being created or updated.</li><li>ExpirationDate; string; Expiration date of the job offer being created or updated.</li><li>FullPartTime; string; Full time or part time attribute of the job offer being created or updated.</li><li>GradeId; integer; Grade identifier of the job offer being created or updated.</li><li>HandoffHRScenarioId; integer; Handoff HR scenario identifier for the job offer being created or updated.</li><li>HiringManagerAssignmentId; integer; Hiring manager assignment identifier of the job offer being created or updated.</li><li>HiringManagerId; integer; Hiring manager identifier of the job offer being created or updated.</li><li>HiringManagerPersonNumber; string; Hiring manager number of the job offer being created or updated.</li><li>IsQuickCreate; string; Indicates that quick create is used for the job offer being created or updated.</li><li>JobId; integer; Job identifier of the job offer being created or updated.</li><li>LegalEmployerId; integer; Legal employer identifier of the job offer being created or updated.</li><li>LegalEntityId; integer; Legal entity identifier of the job offer being created or updated.</li><li>LocationId; integer; Location identifier of the job offer being created or updated.</li><li>MergedStatus; string; Merge status of the duplicate offer.</li><li>Name; string; Name of the job offer being created or updated.</li><li>ObjectStatus; string; Object status of the job offer being created or updated.</li><li>OfferComments; string; Offer comments of the job offer being created or updated.</li><li>OfferId; integer; Offer identifier of the job offer being created or updated.</li><li>OfferLetterCustomized; string; Modified offer letter in the job offer being created or updated.</li><li>OfferLetterLayoutId; integer; Offer letter layout identifier in the job offer being created or updated.</li><li>OfferLetterLayoutName; string; Offer letter layout name in the job offer being created or updated.</li><li>OfferMode; string; Offer mode of the job offer being created or updated.</li><li>OfferName; string; Offer object status of the job offer being created or updated.</li><li>OfferObjectStatus; string; Offer name of the job offer being created or updated.</li><li>OfferProjectedStartDate; string; Offer projected start date of the job offer being created or updated.</li><li>ParentAssignmentId; integer; Parent offer assignment identifier.</li><li>ParentOfferId; integer; Parent offer identifier of the job offer being created or updated.</li><li>PersonId; integer; Person identifier of the job offer being created or updated.</li><li>PersonStartDate; string; Effective start date of the person for whom the job offer is being created or updated.</li><li>PhaseId; integer; Phase identifier of the job offer being created or updated.</li><li>PositionId; integer; Position identifier of the job offer being created or updated.</li><li>PreselectedHRActionId; integer; Preselected HR action identifier for the job offer being created or updated.</li><li>PreselectedHRActiontypeCode; string; Preselected HR action type code for the job offer being created or updated.</li><li>ProjectedStartDate; string; Projected start date of the job offer being created or updated.</li><li>RecruiterAssignmentId; integer; Recruiter assignment identifier of the job offer being created or updated.</li><li>RecruiterId; integer; Recruiter identifier of the job offer being created or updated.</li><li>RecruitingTypeCode; string; Recruiting type of the job offer being created or updated.</li><li>RedraftCount; integer; Redraft count of the job offer being created or updated.</li><li>RegularTemporary; string; Regular or temporary attribute of the job offer being created or updated.</li><li>RequisitionCurrentPhaseId; integer; Requisition current phase identifier of the job offer being created or updated.</li><li>RequisitionCurrentStateId; integer; Requisition current state identifier of the job offer being created or updated.</li><li>RequisitionHiringManagerAsmtId; integer; Requisition hiring manager assignment identifier for the job offer being created or updated.</li><li>RequisitionHiringManagerId; integer; Requisition hiring manager identifier for the job offer being created or updated.</li><li>RequisitionId; integer; Requisition identifier of the job offer being created or updated.</li><li>RequisitionNumber; string; Requisition number of the job offer being created or updated.</li><li>RequisitionTitle; string; Requisition title of the job offer being created or updated.</li><li>SiteNumber; string; Site number of the job offer being created or updated.</li><li>StateId; integer; State identifier of the job offer being created or updated.</li><li>StatePostProcessStatus; string; State post process status of the job offer being created or updated.</li><li>SubmissionId; integer; Submission identifier of the job offer being created or updated.</li><li>SubmissionInternalValue; string; Submission internal value of the job offer being created or updated.</li><li>SubmissionLanguage; string; Submission language of the job offer being created or updated.</li><li>SubmissionLanguageCode; string; Submission language code of the job offer being created or updated.</li><li>VisitedSections; string; Sections visited while creating the offer.</li><li>WithdrawnRejectedDate; string; Date when candidate is withdrawn or rejected in the job offer being created or updated.</li><li>WorkTermsAssignmentId; integer; Work term assignment identifier for the job offer being created or updated.</li><li>WorkerTypeCode; string; Worker type code of the job offer being created or updated.</li><li>offerIdToUpdate; integer; Offer identifier to update of the job offer being created or updated.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all created and updated job offers using a unique identifier. <br>Finder Variables <ul><li>OfferId; integer;  Unique identifier and offer identifier used to find created and updated job offers. </li><li>OfferMode; string;  Unique identifier and offer mode identifier used to find created and updated job offers. </li></ul></li><li>findByOfferId Finds all created and updated job offers using a job offer identifier. <br>Finder Variables <ul><li>OfferId; integer;  Job offer identifier used to find created and updated job offers. </li><li>OfferMode; string;  Offer mode identifier used to find created and updated job offers. </li></ul></li><li>findByParentOfferId Finds all created and updated job offers using the parent offer identifier. <br>Finder Variables <ul><li>OfferId; integer;  Offer identifier used to find created and updated job offers. </li></ul></li><li>findBySubmissionId Finds all created and updated job offers using a submission identifier. <br>Finder Variables <ul><li>SubmissionId; integer;  Submission identifier used to find created and updated job offers. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all created and updated job offers using a unique identifier.",
                "properties": {
                  "OfferId": {
                    "nullable": true,
                    "description": "Unique identifier and offer identifier used to find created and updated job offers.",
                    "type": "integer"
                  },
                  "OfferMode": {
                    "nullable": true,
                    "x-hints": {
                      "controlType": "choice"
                    },
                    "description": "Unique identifier and offer mode identifier used to find created and updated job offers.",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              },
              {
                "name": "findByOfferId",
                "description": "Finds all created and updated job offers using a job offer identifier.",
                "title": "FindByOfferId",
                "properties": {
                  "OfferId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Job offer identifier used to find created and updated job offers.",
                    "type": "integer"
                  },
                  "OfferMode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Offer mode identifier used to find created and updated job offers.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByParentOfferId",
                "description": "Finds all created and updated job offers using the parent offer identifier.",
                "title": "findByBetaOfferId",
                "properties": {
                  "OfferId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Offer identifier used to find created and updated job offers.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySubmissionId",
                "description": "Finds all created and updated job offers using a submission identifier.",
                "title": "findBySubmissionId",
                "properties": {
                  "SubmissionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Submission identifier used to find created and updated job offers.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICreateOrUpdateJobOffers"
                }
              }
            },
            "links": {
              "getVisibilityFromPersonType": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1getVisibilityFromPersonType/post",
                "description": "Gets if the person is internal or external based on the candidate type being passed."
              },
              "fetchOfferPhaseAndState": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1fetchOfferPhaseAndState/post",
                "description": "Fetches the offer phase and state."
              },
              "populateEditOfferHCMParams": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1populateEditOfferHCMParams/post",
                "description": "Populates parameters when editing a job offer."
              },
              "quickSubmitOffer": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1quickSubmitOffer/post",
                "description": "Performs a quick submit of merged offer by skipping all phases."
              },
              "fetchValidationsForSubmit": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1fetchValidationsForSubmit/post",
                "description": "Gets validations when submitting an offer."
              },
              "copyParentOfferData": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1copyParentOfferData/post",
                "description": "Copies job offer data post merge."
              },
              "downloadFileActionListener": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1downloadFileActionListener/post",
                "description": "Downloads a job offer letter."
              },
              "submitOffer": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1submitOffer/post",
                "description": "Submits the offer action for the offer."
              },
              "fetchValidationsForHiringTeam": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1action~1fetchValidationsForHiringTeam/post",
                "description": "Gets validations when providing info about the hiring team."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-get",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-get"
      },
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Create data for a job offer",
        "operationId": "create_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUICreateOrUpdateJobOffers-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICreateOrUpdateJobOffers-item-response"
                }
              }
            },
            "links": {
              "CommonLookupLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_IRC_OFFER_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OfferMode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OfferMode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "offerAttachments": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1offerAttachments/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "additionalInformationDetails": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1additionalInformationDetails/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                }
              },
              "person": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1person/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                }
              },
              "OfferLetterLayoutIdVA": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV/get",
                "parameters": {
                  "finder": "findByWord%3BDescriptionTypeCode%3DORA_OFFER_LETTER_TEMPLATE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OfferLetterLayoutId; Target Attribute: ItemDescriptionId</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OfferLetterLayoutId",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "ItemDescriptionId",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1collaborators/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The collaborators resource provides details about the collaborators of a job offer."
              },
              "candidateOfferLetter": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1candidateOfferLetter/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "internalAttachments": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1internalAttachments/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/downloadFileActionListener": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Download a job offer letter",
        "description": "Downloads a job offer letter.",
        "operationId": "doall_downloadFileActionListener_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offerLetterLayoutId": {
                    "type": "number",
                    "description": "Layout of the downloaded job offer letter.",
                    "nullable": true
                  },
                  "offerId": {
                    "type": "number",
                    "description": "Identifier of the downloaded job offer letter.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned when downloading a job offer letter."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned when downloading a job offer letter."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-downloadFileActionListener-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-downloadfileactionlistener-post"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/{recruitingUICreateOrUpdateJobOffersUniqID}": {
      "get": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Get data about a job offer",
        "operationId": "get_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "recruitingUICreateOrUpdateJobOffersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- OfferId and OfferMode ---for the Recruiting Create or Update Job Offers resource and used to uniquely identify an instance of Recruiting Create or Update Job Offers. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Create or Update Job Offers collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Create or Update Job Offers.<br><br>For example: recruitingUICreateOrUpdateJobOffers?q=OfferId=&lt;value1&gt;;OfferMode=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICreateOrUpdateJobOffers-item-response"
                }
              }
            },
            "links": {
              "CommonLookupLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_IRC_OFFER_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OfferMode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OfferMode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "offerAttachments": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1offerAttachments/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "additionalInformationDetails": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1additionalInformationDetails/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                }
              },
              "person": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1person/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                }
              },
              "OfferLetterLayoutIdVA": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV/get",
                "parameters": {
                  "finder": "findByWord%3BDescriptionTypeCode%3DORA_OFFER_LETTER_TEMPLATE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OfferLetterLayoutId; Target Attribute: ItemDescriptionId</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OfferLetterLayoutId",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "ItemDescriptionId",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1collaborators/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The collaborators resource provides details about the collaborators of a job offer."
              },
              "candidateOfferLetter": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1candidateOfferLetter/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "internalAttachments": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1internalAttachments/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-{recruitingUICreateOrUpdateJobOffersUniqID}-get",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-recruitinguicreateorupdatejoboffersuniqid-get"
      },
      "delete": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Delete data of a job offer",
        "operationId": "delete_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "recruitingUICreateOrUpdateJobOffersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- OfferId and OfferMode ---for the Recruiting Create or Update Job Offers resource and used to uniquely identify an instance of Recruiting Create or Update Job Offers. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Create or Update Job Offers collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Create or Update Job Offers.<br><br>For example: recruitingUICreateOrUpdateJobOffers?q=OfferId=&lt;value1&gt;;OfferMode=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-{recruitingUICreateOrUpdateJobOffersUniqID}-delete",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-recruitinguicreateorupdatejoboffersuniqid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Update data of a job offer",
        "operationId": "update_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "recruitingUICreateOrUpdateJobOffersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- OfferId and OfferMode ---for the Recruiting Create or Update Job Offers resource and used to uniquely identify an instance of Recruiting Create or Update Job Offers. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Create or Update Job Offers collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Create or Update Job Offers.<br><br>For example: recruitingUICreateOrUpdateJobOffers?q=OfferId=&lt;value1&gt;;OfferMode=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUICreateOrUpdateJobOffers-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICreateOrUpdateJobOffers-item-response"
                }
              }
            },
            "links": {
              "CommonLookupLOVVO": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_IRC_OFFER_MODE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OfferMode; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OfferMode",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "offerAttachments": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1offerAttachments/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "additionalInformationDetails": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1additionalInformationDetails/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                }
              },
              "person": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1person/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                }
              },
              "OfferLetterLayoutIdVA": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV/get",
                "parameters": {
                  "finder": "findByWord%3BDescriptionTypeCode%3DORA_OFFER_LETTER_TEMPLATE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OfferLetterLayoutId; Target Attribute: ItemDescriptionId</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OfferLetterLayoutId",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "ItemDescriptionId",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1collaborators/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The collaborators resource provides details about the collaborators of a job offer."
              },
              "candidateOfferLetter": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1candidateOfferLetter/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "internalAttachments": {
                "operationRef": "#/paths/~1recruitingUICreateOrUpdateJobOffers~1{recruitingUICreateOrUpdateJobOffersUniqID}~1child~1internalAttachments/get",
                "parameters": {
                  "recruitingUICreateOrUpdateJobOffersUniqID": "$request.path.recruitingUICreateOrUpdateJobOffersUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-{recruitingUICreateOrUpdateJobOffersUniqID}-patch",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-recruitinguicreateorupdatejoboffersuniqid-patch"
      }
    },
    "/recruitingUICreateOrUpdateJobOffers/action/fetchValidationsForHiringTeam": {
      "post": {
        "tags": [
          "Recruiting Create or Update Job Offers"
        ],
        "summary": "Get validations when providing info about the hiring team",
        "description": "Gets validations when providing info about the hiring team.",
        "operationId": "doall_fetchValidationsForHiringTeam_recruitingUICreateOrUpdateJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hiringManagerId": {
                    "type": "number",
                    "description": "Hiring manager identifier when providing info about the hiring team.",
                    "nullable": true
                  },
                  "offerId": {
                    "type": "number",
                    "description": "Offer identifier when providing info about the hiring team.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Response returned when providing info about the hiring team."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Response returned when providing info about the hiring team."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICreateOrUpdateJobOffers-action-fetchValidationsForHiringTeam-post",
        "x-filename-id": "recruitinguicreateorupdatejoboffers-action-fetchvalidationsforhiringteam-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingUICreateOrUpdateJobOffers": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingUICreateOrUpdateJobOffers-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingUICreateOrUpdateJobOffers-item-response": {
        "type": "object",
        "properties": {
          "AcceptedDate": {
            "type": "string",
            "description": "Date when the job offer was accepted.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "AcceptedOnBehalfById": {
            "type": "integer",
            "description": "Identifier of the person who accepted the job offer on behalf of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "AcceptedOnBehalfDate": {
            "type": "string",
            "description": "Date when the person accepted the job offer on behalf of the candidate.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "Additionaltextone": {
            "title": "First Additional Text",
            "type": "string",
            "description": "First additional information text field.",
            "nullable": true,
            "x-queryable": true
          },
          "Additionaltexttwo": {
            "title": "Second Additional Text",
            "type": "string",
            "description": "Second additional information text field.",
            "nullable": true,
            "x-queryable": true
          },
          "AsgActionCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment action code for the job offer being created or updated.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentContractId": {
            "type": "integer",
            "description": "Assignment contract identifier in the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentOfferId": {
            "type": "integer",
            "description": "Offer assignment identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentPositionId": {
            "type": "integer",
            "description": "Assignment position identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "BusinessGroupId": {
            "type": "integer",
            "description": "Business group identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Business unit identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "CanUpdateCandidateJobOfferLetter": {
            "maxLength": 255,
            "type": "string",
            "description": "Flag to check if user has download to update offer letter of the job offer being created or updated.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateName": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate name for which the job offer is being created or updated.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate number of the candidate for which the job offer is being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateType": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate type of the candidate for which the job offer is being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "CategoryCandidate": {
            "maxLength": 255,
            "type": "string",
            "description": "Category of the candidate for which the job offer is being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "Code": {
            "maxLength": 255,
            "type": "string",
            "description": "Code of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "maxLength": 1000,
            "type": "string",
            "description": "Comments of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "CountryCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Country code of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentPhaseId": {
            "type": "integer",
            "description": "Current phase identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentStateId": {
            "type": "integer",
            "description": "Current state identifier of the job offer being created or updated.",
            "nullable": true,
            "x-queryable": true
          },
          "DepartmentId": {
[...]
