{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Assessment Partner Candidate Details/Previous Employments Recorded in the Recruiting Partner Candidate Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingPartnerCandidateDetails/{CandidateToken}/child/previousEmployments/{PreviousEmploymentId}": {
      "get": {
        "tags": [
          "Recruiting Assessment Partner Candidate Details/Previous Employments Recorded in the Recruiting Partner Candidate Details"
        ],
        "summary": "Get a previous employment of the recruiting partner candidate",
        "operationId": "get_recruitingPartnerCandidateDetails-previousEmployments",
        "parameters": [
          {
            "name": "CandidateToken",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PreviousEmploymentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Previous employment ID in the previous employments of recruiting partner candidate.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingPartnerCandidateDetails-previousEmployments-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingPartnerCandidateDetails-{CandidateToken}-child-previousEmployments-{PreviousEmploymentId}-get",
        "x-filename-id": "recruitingpartnercandidatedetails-candidatetoken-child-previousemployments-previousemploymentid-get"
      }
    },
    "/recruitingPartnerCandidateDetails/{CandidateToken}/child/previousEmployments": {
      "get": {
        "tags": [
          "Recruiting Assessment Partner Candidate Details/Previous Employments Recorded in the Recruiting Partner Candidate Details"
        ],
        "summary": "Get all the previous employments of the recruiting partner candidate",
        "operationId": "getall_recruitingPartnerCandidateDetails-previousEmployments",
        "parameters": [
          {
            "name": "CandidateToken",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Achievements; string; Achievements in the previous employments of recruiting partner candidate.</li><li>AdditionalInformation; string; Additional information in the previous employments of recruiting partner candidate.</li><li>BusinessType; string; Business type in the previous employments of recruiting partner candidate.</li><li>City; string; City in previous employments of recruiting partner candidate.</li><li>CompanyURL; string; Company URL in the previous employments of recruiting partner candidate.</li><li>ContactSupervisorFlag; boolean; Contact supervisor indicator in the previous employments of recruiting partner candidate.</li><li>Country; string; Country in previous employments of recruiting partner candidate.</li><li>CurrentJobFlag; boolean; Indicates the current job in the previous employments of the recruiting partner candidate.</li><li>Department; string; Department in the previous employments of recruiting partner candidate.</li><li>DirectReports; integer; Direct reports in the previous employments of recruiting partner candidate.</li><li>EmployerName; string; Employer name in the previous employments of recruiting partner candidate.</li><li>EmployerPhone; string; Employer phone in previous employments of recruiting partner candidate.</li><li>EndCompensation; number; End compensation in the previous employments of recruiting partner candidate.</li><li>EndDate; string; End date in the previous employments of recruiting partner candidate.</li><li>FullTimeCode; string; Full time code in the previous employments of recruiting partner candidate.</li><li>InternalFlag; boolean; Indicates an internal candidate in the previous employment of recruiting partner candidate.</li><li>JobFamily; string; Job family in the previous employments of recruiting partner candidate.</li><li>JobFunction; string; Job function in the previous employments of recruiting partner candidate.</li><li>JobTitle; string; Job label in the previous employments of recruiting partner candidate.</li><li>LeavingReason; string; Leaving reason in the previous employments of recruiting partner candidate.</li><li>OtherCompensation; string; Other compensation in the previous employments of recruiting partner candidate.</li><li>OtherJobFunction; string; Other job function in the previous employments of recruiting partner candidate.</li><li>PreviousEmploymentId; integer; Previous employment ID in the previous employments of recruiting partner candidate.</li><li>Responsibilities; string; Responsibilities in previous employments of recruiting partner candidate.</li><li>SectionId; integer; Section ID assigned for each section in the previous employments of recruiting partner candidate.</li><li>SectionName; string; Section name assigned for each section in the previous employments of recruiting partner candidate.</li><li>StartCompensation; number; Start compensation in the previous employments of recruiting partner candidate.</li><li>StartDate; string; Start date in the previous employments of recruiting partner candidate.</li><li>StartingPosition; string; Starting position in the previous employments of recruiting partner candidate.</li><li>State; string; State in previous employments of recruiting partner candidate.</li><li>SupervisorEmail; string; Supervisor email in the previous employments of recruiting partner candidate.</li><li>SupervisorPhone; string; Supervisor phone in the previous employments of recruiting partner candidate.</li><li>SupervisorTitle; string; Supervisor label in the previous employments of recruiting partner candidate.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds previous employments of the recruiting partner candidate using a unique ID <br>Finder Variables <ul><li>PreviousEmploymentId; integer;  Unique ID and previous employer identifier used to find the previous employments of the recruiting partner candidate. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds previous employments of the recruiting partner candidate using a unique ID",
                "properties": {
                  "PreviousEmploymentId": {
                    "nullable": true,
                    "description": "Unique ID and previous employer identifier used to find the previous employments of the recruiting partner candidate.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingPartnerCandidateDetails-previousEmployments"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingPartnerCandidateDetails-{CandidateToken}-child-previousEmployments-get",
        "x-filename-id": "recruitingpartnercandidatedetails-candidatetoken-child-previousemployments-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingPartnerCandidateDetails-previousEmployments-item-response": {
        "type": "object",
        "properties": {
          "Achievements": {
            "type": "string",
            "description": "Achievements in the previous employments of recruiting partner candidate.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AdditionalInformation": {
            "type": "string",
            "description": "Additional information in the previous employments of recruiting partner candidate.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessType": {
            "type": "string",
            "description": "Business type in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "City": {
            "type": "string",
            "description": "City in previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CompanyURL": {
            "type": "string",
            "description": "Company URL in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContactSupervisorFlag": {
            "type": "boolean",
            "description": "Contact supervisor indicator in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "type": "string",
            "description": "Country in previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentJobFlag": {
            "type": "boolean",
            "description": "Indicates the current job in the previous employments of the recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Department": {
            "type": "string",
            "description": "Department in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DirectReports": {
            "type": "integer",
            "description": "Direct reports in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployerName": {
            "maxLength": 255,
            "type": "string",
            "description": "Employer name in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmployerPhone": {
            "type": "string",
            "description": "Employer phone in previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndCompensation": {
            "type": "number",
            "description": "End compensation in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date in the previous employments of recruiting partner candidate.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FullTimeCode": {
            "type": "string",
            "description": "Full time code in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalFlag": {
            "type": "boolean",
            "description": "Indicates an internal candidate in the previous employment of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFamily": {
            "type": "string",
            "description": "Job family in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFunction": {
            "type": "string",
            "description": "Job function in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobTitle": {
            "type": "string",
            "description": "Job label in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LeavingReason": {
            "type": "string",
            "description": "Leaving reason in the previous employments of recruiting partner candidate.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OtherCompensation": {
            "type": "string",
            "description": "Other compensation in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OtherJobFunction": {
            "type": "string",
            "description": "Other job function in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PreviousEmploymentId": {
            "type": "integer",
            "description": "Previous employment ID in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Responsibilities": {
            "type": "string",
            "description": "Responsibilities in previous employments of recruiting partner candidate.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID assigned for each section in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionName": {
            "type": "string",
            "description": "Section name assigned for each section in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartCompensation": {
            "type": "number",
            "description": "Start compensation in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date in the previous employments of recruiting partner candidate.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartingPosition": {
            "type": "string",
            "description": "Starting position in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "State": {
            "type": "string",
            "description": "State in previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SupervisorEmail": {
            "type": "string",
            "description": "Supervisor email in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SupervisorName": {
            "type": "string",
            "description": "Supervisor name in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SupervisorPhone": {
            "type": "string",
            "description": "Supervisor phone in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SupervisorTitle": {
            "type": "string",
            "description": "Supervisor label in the previous employments of recruiting partner candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingPartnerCandidateDetails-previousEmployments": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingPartnerCandidateDetails-previousEmployments-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}