{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Certifications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidateCertificationItems/{CertificationId}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Certifications"
        ],
        "summary": "Get details of a certification",
        "operationId": "get_recruitingCECandidateCertificationItems",
        "parameters": [
          {
            "name": "CertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification ID of the certification.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateCertificationItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateCertificationItems-{CertificationId}-get",
        "x-filename-id": "recruitingcecandidatecertificationitems-certificationid-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Candidate Certifications"
        ],
        "summary": "Delete details of the certification",
        "operationId": "delete_recruitingCECandidateCertificationItems",
        "parameters": [
          {
            "name": "CertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification ID of the certification.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCECandidateCertificationItems-{CertificationId}-delete",
        "x-filename-id": "recruitingcecandidatecertificationitems-certificationid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Candidate Certifications"
        ],
        "summary": "Submit a patch for the certification.",
        "operationId": "update_recruitingCECandidateCertificationItems",
        "parameters": [
          {
            "name": "CertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Certification ID of the certification.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateCertificationItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateCertificationItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateCertificationItems-{CertificationId}-patch",
        "x-filename-id": "recruitingcecandidatecertificationitems-certificationid-patch"
      }
    },
    "/recruitingCECandidateCertificationItems": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Certifications"
        ],
        "summary": "Get details of all the certifications",
        "operationId": "getall_recruitingCECandidateCertificationItems",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActualCompletionDate; string; Actual completion date of the certifications done by the candidate.</li><li>CertificationId; integer; Certification ID of the certification.</li><li>CertificationName; string; Name of the certification.</li><li>CertificationNumber; string; Number assigned to the certification.</li><li>CertificationURL; string; URL of the certification.</li><li>CompletedAmount; integer; Completed amount of the certification.</li><li>CompletedTrainingUnits; string; Number of training units completed for the certification.</li><li>ContentItemId; integer; Unique identifier assigned to each content item.</li><li>CountryCode; string; Country Code specified in the certification</li><li>CountryId; integer; Country ID specified in the certification.</li><li>EducationalEstablishment; string; Educational establishment that issued the certification.</li><li>EducationalEstablishmentId; integer; Unique identifier assigned to the educational establishment.</li><li>ExpirationDate; string; Expiration date of the certification.</li><li>FlowVersionId; integer; This gives the Service Metadata</li><li>IssueDate; string; Date on which the certification was issued</li><li>IssuedBy; string; Name of the authority that issued the certification.</li><li>LastRenewalDate; string; Last date for renewal of the certification.</li><li>OriginalIssueYear; integer; Year when the certification was issued.</li><li>RenewalDate; string; Date on which the certification was renewed.</li><li>RenewalInprogressFlag; boolean; Indicator to show that the renewal of the certification is in progress.</li><li>RenewalRequiredFlag; boolean; Indicator to show that the certification needs to be renewed.</li><li>SectionId; integer; Section ID specified in the certification.</li><li>StateProvinceCode; string; State Province Code specified in the certification.</li><li>StateProvinceId; integer; State Province ID specified in the certification.</li><li>Status; string; Indicates the status of the certification item</li><li>SubmissionId; string; Unique ID for each candidate's submitted requests</li><li>Title; string; Title of the certification item</li><li>TotalAmount; integer; Total amount paid for the certification.</li><li>VerifiedFlag; boolean; Indicator to show that the certification is verified.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds candidate certification items by a unique ID <br>Finder Variables <ul><li>CertificationId; integer;  Finds candidate certification items by a unique ID and the certification ID </li></ul></li><li>findBySectionId Finds candidate certification items by the section ID <br>Finder Variables <ul><li>FlowVersionId; integer;  Finds candIDate certification items by the section ID and the flow version ID </li><li>SectionId; integer;  Finds candidate certification items by the section ID and the SectionId; integer;  variable </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds candidate certification items by a unique ID",
                "properties": {
                  "CertificationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds candidate certification items by a unique ID and the certification ID",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySectionId",
                "description": "Finds candidate certification items by the section ID",
                "title": "filterBySectionId",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds candIDate certification items by the section ID and the flow version ID",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds candidate certification items by the section ID and the SectionId variable",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateCertificationItems"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateCertificationItems-get",
        "x-filename-id": "recruitingcecandidatecertificationitems-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Candidate Certifications"
        ],
        "summary": "Submit details of all the certifications",
        "operationId": "create_recruitingCECandidateCertificationItems",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateCertificationItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateCertificationItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateCertificationItems-post",
        "x-filename-id": "recruitingcecandidatecertificationitems-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCECandidateCertificationItems-item-response": {
        "type": "object",
        "properties": {
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Actual completion date of the certifications done by the candidate.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "CertificationId": {
            "type": "integer",
            "description": "Certification ID of the certification.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CertificationName": {
            "title": "License or Certificate",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "CertificationNumber": {
            "title": "Certificate Number",
            "maxLength": 240,
            "type": "string",
            "description": "Number assigned to the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "CertificationURL": {
            "title": "Certification URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL of the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments for the certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount of the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CompletedTrainingUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Number of training units completed for the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "License or Certificate",
            "type": "integer",
            "description": "Unique identifier assigned to each content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country Code specified in the certification",
            "nullable": true,
            "x-queryable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "Country ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EducationalEstablishment": {
            "title": "Educational Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Educational establishment that issued the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationalEstablishmentId": {
            "title": "Establishment",
            "type": "integer",
            "description": "Unique identifier assigned to the educational establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "This gives the Service Metadata",
            "nullable": true,
            "x-queryable": true
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Date on which the certification was issued",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "IssuedBy": {
            "title": "Issued By",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the authority that issued the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "LastRenewalDate": {
            "title": "Last Renewal Date",
            "type": "string",
            "description": "Last date for renewal of the certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "OriginalIssueYear": {
            "title": "Original Issue Year",
            "type": "integer",
            "description": "Year when the certification was issued.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RenewalDate": {
            "title": "Renewal Date",
            "type": "string",
            "description": "Date on which the certification was renewed.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "RenewalInprogressFlag": {
            "title": "Renewal In Progress",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the renewal of the certification is in progress.",
            "nullable": true,
            "x-queryable": true
          },
          "RenewalRequiredFlag": {
            "title": "Renewal Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the certification needs to be renewed.",
            "nullable": true,
            "x-queryable": true
          },
          "Restrictions": {
            "title": "Restrictions",
            "type": "string",
            "description": "Restrictions for the certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "State Province Code specified in the certification.",
            "nullable": true,
            "x-queryable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "State Province ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the status of the certification item",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "string",
            "description": "Unique ID for each candidate's submitted requests",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the certification item",
            "nullable": true,
            "x-queryable": true
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount paid for the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "VerifiedFlag": {
            "title": "Verified",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the certification is verified.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCECandidateCertificationItems-item-patch-request": {
        "type": "object",
        "properties": {
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Actual completion date of the certifications done by the candidate.",
            "format": "date",
            "nullable": true
          },
          "CertificationName": {
            "title": "License or Certificate",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the certification.",
            "nullable": true
          },
          "CertificationNumber": {
            "title": "Certificate Number",
            "maxLength": 240,
            "type": "string",
            "description": "Number assigned to the certification.",
            "nullable": true
          },
          "CertificationURL": {
            "title": "Certification URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL of the certification.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments for the certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount of the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTrainingUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Number of training units completed for the certification.",
            "nullable": true
          },
          "ContentItemId": {
            "title": "License or Certificate",
            "type": "integer",
            "description": "Unique identifier assigned to each content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country Code specified in the certification",
            "nullable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "Country ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "EducationalEstablishment": {
            "title": "Educational Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Educational establishment that issued the certification.",
            "nullable": true
          },
          "EducationalEstablishmentId": {
            "title": "Establishment",
            "type": "integer",
            "description": "Unique identifier assigned to the educational establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the certification.",
            "format": "date",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "This gives the Service Metadata",
            "nullable": true
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Date on which the certification was issued",
            "format": "date",
            "nullable": true
          },
          "IssuedBy": {
            "title": "Issued By",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the authority that issued the certification.",
            "nullable": true
          },
          "LastRenewalDate": {
            "title": "Last Renewal Date",
            "type": "string",
            "description": "Last date for renewal of the certification.",
            "format": "date",
            "nullable": true
          },
          "OriginalIssueYear": {
            "title": "Original Issue Year",
            "type": "integer",
            "description": "Year when the certification was issued.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RenewalDate": {
            "title": "Renewal Date",
            "type": "string",
            "description": "Date on which the certification was renewed.",
            "format": "date",
            "nullable": true
          },
          "RenewalInprogressFlag": {
            "title": "Renewal In Progress",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the renewal of the certification is in progress.",
            "nullable": true
          },
          "RenewalRequiredFlag": {
            "title": "Renewal Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the certification needs to be renewed.",
            "nullable": true
          },
          "Restrictions": {
            "title": "Restrictions",
            "type": "string",
            "description": "Restrictions for the certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "State Province Code specified in the certification.",
            "nullable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "State Province ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the status of the certification item",
            "nullable": true
          },
          "SubmissionId": {
            "type": "string",
            "description": "Unique ID for each candidate's submitted requests",
            "nullable": true
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the certification item",
            "nullable": true
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount paid for the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "VerifiedFlag": {
            "title": "Verified",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the certification is verified.",
            "nullable": true
          }
        }
      },
      "recruitingCECandidateCertificationItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCECandidateCertificationItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCECandidateCertificationItems-item-post-request": {
        "type": "object",
        "properties": {
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Actual completion date of the certifications done by the candidate.",
            "format": "date",
            "nullable": true
          },
          "CertificationId": {
            "type": "integer",
            "description": "Certification ID of the certification.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CertificationName": {
            "title": "License or Certificate",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the certification.",
            "nullable": true
          },
          "CertificationNumber": {
            "title": "Certificate Number",
            "maxLength": 240,
            "type": "string",
            "description": "Number assigned to the certification.",
            "nullable": true
          },
          "CertificationURL": {
            "title": "Certification URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL of the certification.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments for the certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount of the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTrainingUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Number of training units completed for the certification.",
            "nullable": true
          },
          "ContentItemId": {
            "title": "License or Certificate",
            "type": "integer",
            "description": "Unique identifier assigned to each content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country Code specified in the certification",
            "nullable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "Country ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "EducationalEstablishment": {
            "title": "Educational Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Educational establishment that issued the certification.",
            "nullable": true
          },
          "EducationalEstablishmentId": {
            "title": "Establishment",
            "type": "integer",
            "description": "Unique identifier assigned to the educational establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the certification.",
            "format": "date",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "This gives the Service Metadata",
            "nullable": true
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Date on which the certification was issued",
            "format": "date",
            "nullable": true
          },
          "IssuedBy": {
            "title": "Issued By",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the authority that issued the certification.",
            "nullable": true
          },
          "LastRenewalDate": {
            "title": "Last Renewal Date",
            "type": "string",
            "description": "Last date for renewal of the certification.",
            "format": "date",
            "nullable": true
          },
          "OriginalIssueYear": {
            "title": "Original Issue Year",
            "type": "integer",
            "description": "Year when the certification was issued.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RenewalDate": {
            "title": "Renewal Date",
            "type": "string",
            "description": "Date on which the certification was renewed.",
            "format": "date",
            "nullable": true
          },
          "RenewalInprogressFlag": {
            "title": "Renewal In Progress",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the renewal of the certification is in progress.",
            "nullable": true
          },
          "RenewalRequiredFlag": {
            "title": "Renewal Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the certification needs to be renewed.",
            "nullable": true
          },
          "Restrictions": {
            "title": "Restrictions",
            "type": "string",
            "description": "Restrictions for the certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "State Province Code specified in the certification.",
            "nullable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "State Province ID specified in the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates the status of the certification item",
            "nullable": true
          },
          "SubmissionId": {
            "type": "string",
            "description": "Unique ID for each candidate's submitted requests",
            "nullable": true
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the certification item",
            "nullable": true
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount paid for the certification.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "VerifiedFlag": {
            "title": "Verified",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicator to show that the certification is verified.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCECandidateCertificationItems-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCECandidateCertificationItems-item-patch-request"
            }
          }
        }
      },
      "recruitingCECandidateCertificationItems-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCECandidateCertificationItems-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}