{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Offers/Large Object (LOB) Attributes - AdditionalTextTwo",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingJobOffers/{recruitingJobOffersUniqID}/enclosure/AdditionalTextTwo": {
      "get": {
        "tags": [
          "Recruiting Job Offers/Large Object (LOB) Attributes - AdditionalTextTwo"
        ],
        "summary": "Get an AdditionalTextTwo",
        "description": "Get an AdditionalTextTwo",
        "operationId": "get_recruitingJobOffers-AdditionalTextTwo",
        "parameters": [
          {
            "name": "recruitingJobOffersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Offers resource and used to uniquely identify an instance of Recruiting Job Offers. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Offers collection resource in order to navigate to a specific instance of Recruiting Job Offers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobOffers-{recruitingJobOffersUniqID}-enclosure-AdditionalTextTwo-get",
        "x-filename-id": "recruitingjoboffers-recruitingjoboffersuniqid-enclosure-additionaltexttwo-get"
      },
      "put": {
        "tags": [
          "Recruiting Job Offers/Large Object (LOB) Attributes - AdditionalTextTwo"
        ],
        "summary": "Replace an AdditionalTextTwo",
        "description": "Replace an AdditionalTextTwo",
        "operationId": "replace_recruitingJobOffers-AdditionalTextTwo",
        "parameters": [
          {
            "name": "recruitingJobOffersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Offers resource and used to uniquely identify an instance of Recruiting Job Offers. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Offers collection resource in order to navigate to a specific instance of Recruiting Job Offers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingJobOffers-{recruitingJobOffersUniqID}-enclosure-AdditionalTextTwo-put",
        "x-filename-id": "recruitingjoboffers-recruitingjoboffersuniqid-enclosure-additionaltexttwo-put"
      },
      "delete": {
        "tags": [
          "Recruiting Job Offers/Large Object (LOB) Attributes - AdditionalTextTwo"
        ],
        "summary": "Delete an AdditionalTextTwo",
        "description": "Delete an AdditionalTextTwo",
        "operationId": "delete_recruitingJobOffers-AdditionalTextTwo",
        "parameters": [
          {
            "name": "recruitingJobOffersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Offers resource and used to uniquely identify an instance of Recruiting Job Offers. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Offers collection resource in order to navigate to a specific instance of Recruiting Job Offers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingJobOffers-{recruitingJobOffersUniqID}-enclosure-AdditionalTextTwo-delete",
        "x-filename-id": "recruitingjoboffers-recruitingjoboffersuniqid-enclosure-additionaltexttwo-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}