{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Tax Credits Candidate Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingTaxCreditsCandidateDetails": {
      "get": {
        "tags": [
          "Recruiting Tax Credits Candidate Details"
        ],
        "summary": "Get details for all job applications",
        "operationId": "getall_recruitingTaxCreditsCandidateDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AcceptedDate; string; Job offer accepted date.</li><li>Address; string; Candidate's address.</li><li>CandidateEmail; string; Candidate's email address.</li><li>CandidateNumber; string; Candidate's candidate number.</li><li>CandidatePIIInformationIncludedFlag; boolean; Indicates if personally identifiable information data from candidate is included in payload.</li><li>CandidateToken; string; Candidate token in the recruiting tax credits candidate details.</li><li>ConfirmedSubmissionFlag; boolean; Indicates whether the candidate has been confirmed.</li><li>DateOfBirth; string; Candidate's date of birth.</li><li>EmailPreferredCommunicationFlag; boolean; Indicates that the candidate prefers to communicate by email.</li><li>ExtendedDate; string; Job offer extended date.</li><li>FirstName; string; Candidate's first name.</li><li>JobApplicationDate; string; Job application date.</li><li>Language; string; Job application language.</li><li>LastName; string; Candidate's last name.</li><li>MiddleNames; string; Candidate's middle name.</li><li>NamePrefix; string; Candidate's name prefix.</li><li>NameSuffix; string; Candidate's name suffix.</li><li>OfferWorkLocation; string; Work location specified in the candidate job offer.</li><li>OfferWorkLocationCode; string; Work location code in the candidate job offer.</li><li>PayBasis; string; Salary pay basis.</li><li>PhoneAreaCode; string; Candidate's phone area code in the recruiting tax credits.</li><li>PhoneCountryCode; string; Candidate's phone country code in the recruiting tax credits.</li><li>PhoneNumber; string; Candidate's phone number in the recruiting tax credits.</li><li>PhonePreferredCommunicationFlag; boolean; Indicates that the candidate prefers to communicate by phone.</li><li>PipelineRequisitionNumber; string; Number assigned to each pipeline job requisition.</li><li>PlannedStartDate; string; Candidate's planned start date.</li><li>RequisitionLocation; string; Job requisition primary location.</li><li>RequisitionNumber; string; Job requisition's requisition number.</li><li>RequisitionOrganization; string; Organization name for the job requisition.</li><li>RequisitionTitle; string; Title for the job requisition.</li><li>Salary; number; Candidate's salary.</li><li>SalaryCurrency; string; Currency for the salary.</li><li>WorkLocation; string; Job requisition primary work location.</li><li>WorkLocationCode; string; Work location code in the job requisition.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all job applications using a unique ID. <br>Finder Variables <ul><li>CandidateNumber; string;  Unique identifier and candidate number used to find a job application. </li><li>RequisitionNumber; string;  Unique identifier and requisition number used to find a job application. </li></ul></li><li>findCandidate Finds all job applications. <br>Finder Variables <ul><li>candidateNumber; string;  Candidate number used to find a job application. </li><li>candidateToken; string;  Candidate token to find candidate details. </li><li>partnerId; string;  Partner ID used to find a job application. </li><li>requisitionNumber; string;  Requisition number used to find a job application. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all job applications using a unique ID.",
                "properties": {
                  "CandidateNumber": {
                    "nullable": true,
                    "description": "Unique identifier and candidate number used to find a job application.",
                    "type": "string"
                  },
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Unique identifier and requisition number used to find a job application.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findCandidate",
                "description": "Finds all job applications.",
                "title": "findCandidate",
                "properties": {
                  "requisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition number used to find a job application.",
                    "type": "string"
                  },
                  "candidateToken": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Candidate token to find candidate details.",
                    "type": "string"
                  },
                  "candidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Candidate number used to find a job application.",
                    "type": "string"
                  },
                  "partnerId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Partner ID used to find a job application.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingTaxCreditsCandidateDetails-get",
        "x-filename-id": "recruitingtaxcreditscandidatedetails-get"
      }
    },
    "/recruitingTaxCreditsCandidateDetails/{recruitingTaxCreditsCandidateDetailsUniqID}": {
      "get": {
        "tags": [
          "Recruiting Tax Credits Candidate Details"
        ],
        "summary": "Get details for a job application",
        "operationId": "get_recruitingTaxCreditsCandidateDetails",
        "parameters": [
          {
            "name": "recruitingTaxCreditsCandidateDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- RequisitionNumber and CandidateNumber ---for the Recruiting Tax Credits Candidate Details resource and used to uniquely identify an instance of Recruiting Tax Credits Candidate Details. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Tax Credits Candidate Details collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Tax Credits Candidate Details.<br><br>For example: recruitingTaxCreditsCandidateDetails?q=RequisitionNumber=&lt;value1&gt;;CandidateNumber=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-item-response"
                }
              }
            },
            "links": {
              "NationalIdentifiers": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1NationalIdentifiers/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The NationalIdentifiers resource is the child of the recruitingTaxCreditsCandidateDetails resource and provides the national identifiers of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "OtherRequisitionLocations": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1OtherRequisitionLocations/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The OtherWorkLocations resource is the child of the recruitingTaxCreditsCandidateDetails resource and it provides additional work locations of the job requisition. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "addressFormat": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1addressFormat/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The addressFormat resource is a child of the recruitingTaxCreditsCandidateDetails and provides the address format used in the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "requisitionAdditionalAttributes": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1requisitionAdditionalAttributes/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The requisitionAdditionalAttributes resource is the child of the recruitingTaxCreditsCandidateDetails resource and provides the additional requisition attributes. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "addressDetails": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1addressDetails/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The addressDetails resource is a child of the recruitingTaxCreditsCandidateDetails and provides the individual address fields of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "CandidatePreferredLocations": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1CandidatePreferredLocations/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The OtherWorkLocations resource is the child of the recruitingTaxCreditsCandidateDetails resource and it provides additional work locations of the job requisition. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "OtherWorkLocations": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateDetails~1{recruitingTaxCreditsCandidateDetailsUniqID}~1child~1OtherWorkLocations/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateDetailsUniqID": "$request.path.recruitingTaxCreditsCandidateDetailsUniqID"
                },
                "description": "The OtherWorkLocations resource is the child of the recruitingTaxCreditsCandidateDetails resource and it provides additional work locations of the job requisition. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "recruitingTaxCreditsCandidateDetails-{recruitingTaxCreditsCandidateDetailsUniqID}-get",
        "x-filename-id": "recruitingtaxcreditscandidatedetails-recruitingtaxcreditscandidatedetailsuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingTaxCreditsCandidateDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingTaxCreditsCandidateDetails-item-response": {
        "type": "object",
        "properties": {
          "AcceptedDate": {
            "type": "string",
            "description": "Job offer accepted date.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Address": {
            "type": "string",
            "description": "Candidate's address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateEmail": {
            "type": "string",
            "description": "Candidate's email address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate's candidate number.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidatePIIInformationIncludedFlag": {
            "type": "boolean",
            "description": "Indicates if personally identifiable information data from candidate is included in payload.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidatePreferredLocations": {
            "title": "Recruiting Tax Credits Other Work Locations",
            "type": "array",
            "description": "The OtherWorkLocations resource is the child of the recruitingTaxCreditsCandidateDetails resource and it provides additional work locations of the job requisition. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-CandidatePreferredLocations-item-response"
            }
          },
          "CandidateToken": {
            "type": "string",
            "description": "Candidate token in the recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ConfirmedSubmissionFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate has been confirmed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DateOfBirth": {
            "type": "string",
            "description": "Candidate's date of birth.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EmailPreferredCommunicationFlag": {
            "type": "boolean",
            "description": "Indicates that the candidate prefers to communicate by email.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExtendedDate": {
            "type": "string",
            "description": "Job offer extended date.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FirstName": {
            "type": "string",
            "description": "Candidate's first name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobApplicationDate": {
            "type": "string",
            "description": "Job application date.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Language": {
            "type": "string",
            "description": "Job application language.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastName": {
            "type": "string",
            "description": "Candidate's last name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MiddleNames": {
            "type": "string",
            "description": "Candidate's middle name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NamePrefix": {
            "type": "string",
            "description": "Candidate's name prefix.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NameSuffix": {
            "type": "string",
            "description": "Candidate's name suffix.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NationalIdentifiers": {
            "title": "Recruiting Tax Credits Candidate National Identifiers",
            "type": "array",
            "description": "The NationalIdentifiers resource is the child of the recruitingTaxCreditsCandidateDetails resource and provides the national identifiers of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-NationalIdentifiers-item-response"
            }
          },
          "OfferWorkLocation": {
            "type": "string",
            "description": "Work location specified in the candidate job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferWorkLocationCode": {
            "type": "string",
            "description": "Work location code in the candidate job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OtherRequisitionLocations": {
            "title": "Recruiting Tax Credits Other Work Locations",
            "type": "array",
            "description": "The OtherWorkLocations resource is the child of the recruitingTaxCreditsCandidateDetails resource and it provides additional work locations of the job requisition. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-OtherRequisitionLocations-item-response"
            }
          },
          "OtherWorkLocations": {
            "title": "Recruiting Tax Credits Other Work Locations",
            "type": "array",
            "description": "The OtherWorkLocations resource is the child of the recruitingTaxCreditsCandidateDetails resource and it provides additional work locations of the job requisition. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-OtherWorkLocations-item-response"
            }
          },
          "PayBasis": {
            "type": "string",
            "description": "Salary pay basis.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PhoneAreaCode": {
            "type": "string",
            "description": "Candidate's phone area code in the recruiting tax credits.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PhoneCountryCode": {
            "type": "string",
            "description": "Candidate's phone country code in the recruiting tax credits.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PhoneNumber": {
            "type": "string",
            "description": "Candidate's phone number in the recruiting tax credits.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PhonePreferredCommunicationFlag": {
            "type": "boolean",
            "description": "Indicates that the candidate prefers to communicate by phone.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PipelineRequisitionNumber": {
            "type": "string",
            "description": "Number assigned to each pipeline job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PlannedStartDate": {
            "type": "string",
            "description": "Candidate's planned start date.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionLocation": {
            "type": "string",
            "description": "Job requisition primary location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Job requisition's requisition number.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionOrganization": {
            "type": "string",
            "description": "Organization name for the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "type": "string",
            "description": "Title for the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Salary": {
            "type": "number",
            "description": "Candidate's salary.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SalaryCurrency": {
            "type": "string",
            "description": "Currency for the salary.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkLocation": {
            "type": "string",
            "description": "Job requisition primary work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkLocationCode": {
            "type": "string",
            "description": "Work location code in the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "addressDetails": {
            "title": "Recruiting Tax Credits Address Details",
            "type": "array",
            "description": "The addressDetails resource is a child of the recruitingTaxCreditsCandidateDetails and provides the individual address fields of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-addressDetails-item-response"
            }
          },
          "addressFormat": {
            "title": "Recruiting Tax Credits Address Format",
            "type": "array",
            "description": "The addressFormat resource is a child of the recruitingTaxCreditsCandidateDetails and provides the address format used in the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-addressFormat-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "requisitionAdditionalAttributes": {
            "title": "Recruiting Tax Credits Requisition Additional Attributes",
            "type": "array",
            "description": "The requisitionAdditionalAttributes resource is the child of the recruitingTaxCreditsCandidateDetails resource and provides the additional requisition attributes. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateDetails-requisitionAdditionalAttributes-item-response"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-CandidatePreferredLocations-item-response": {
        "type": "object",
        "properties": {
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Location name for job requisition other work locations.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCode": {
            "type": "string",
            "description": "Location code of the job requisition other work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-NationalIdentifiers-item-response": {
        "type": "object",
        "properties": {
          "ExpirationDate": {
            "type": "string",
            "description": "Expiration date of national identifiers of candidate.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "IssueDate": {
            "type": "string",
            "description": "Issue date of national identifiers of candidate.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegislationCode": {
            "type": "string",
            "description": "Legislation code of national identifiers of candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NationalIdentifierNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "National identifier number of national identifiers of candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NationalIdentifierType": {
            "type": "string",
            "description": "National identifier type of national identifiers of candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PlaceOfIssue": {
            "type": "string",
            "description": "Place of issue of national identifiers of candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-OtherRequisitionLocations-item-response": {
        "type": "object",
        "properties": {
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Location name for job requisition other work locations.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCode": {
            "type": "string",
            "description": "Location code of the job requisition other work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-OtherWorkLocations-item-response": {
        "type": "object",
        "properties": {
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Location name for job requisition other work locations.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCode": {
            "type": "string",
            "description": "Location code of the job requisition other work location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-addressDetails-item-response": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "type": "string",
            "description": "Additional address attribute 1 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddlAddressAttribute2": {
            "type": "string",
            "description": "Additional address attribute 2 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddlAddressAttribute3": {
            "type": "string",
            "description": "Additional address attribute 3 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddlAddressAttribute4": {
            "type": "string",
            "description": "Additional address attribute 4 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddlAddressAttribute5": {
            "type": "string",
            "description": "Additional address attribute 5 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine1": {
            "maxLength": 255,
            "type": "string",
            "description": "Address line 1 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "type": "string",
            "description": "Address line 2 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "type": "string",
            "description": "Address line 3 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "maxLength": 255,
            "type": "string",
            "description": "Address line 4 in the recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "type": "string",
            "description": "Building in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "City": {
            "type": "string",
            "description": "City in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "Country": {
            "type": "string",
            "description": "Country in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "FloorNumber": {
            "type": "string",
            "description": "Floor number in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "LongPostalCode": {
            "type": "string",
            "description": "Long postal code in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "PostalCode": {
            "type": "string",
            "description": "Postal code in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "Region1": {
            "type": "string",
            "description": "Region 1 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "Region2": {
            "type": "string",
            "description": "Region 2 in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "Region3": {
            "type": "string",
            "description": "Region 3 in the address in the recruiting tax credits candidate details.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-addressFormat-item-response": {
        "type": "object",
        "properties": {
          "Attribute": {
            "type": "string",
            "description": "Address format attribute in the recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Label": {
            "type": "string",
            "description": "Address format label in the recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Sequence": {
            "type": "number",
            "description": "Sequence in the recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateDetails-requisitionAdditionalAttributes-item-response": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "type": "string",
            "description": "Name of the attribute in the requisition additional attributes of recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AttributeType": {
            "maxLength": 255,
            "type": "string",
            "description": "Type of the attribute in the requisition additional attributes of recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FlexContextCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Attribute ContextCode in the requisitionAdditional additional attributes of recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LOVFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Attribute list of value in the requisition additional attributes of the recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Type": {
            "maxLength": 255,
            "type": "string",
            "description": "Attribute Type in the requisition additional attributes of recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Value": {
            "maxLength": 255,
            "type": "string",
            "description": "Attribute Value in the requisition additional attributes of recruiting tax credits candidate details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}