{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Sites/Pages",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCESites/{SiteNumber}/child/pages/{ElementNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Sites/Pages"
        ],
        "summary": "Get a page in recruitingCESites",
        "operationId": "get_recruitingCESites-pages",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ElementNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-pages-item-response"
                }
              }
            },
            "links": {
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1translations/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of pages. It includes the page translations of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "pageParams": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1pageParams/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "sections": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1sections/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The sections resource is a child of pages. It includes the details of the sections in each page in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-pages-{ElementNumber}-get",
        "x-filename-id": "recruitingcesites-sitenumber-child-pages-elementnumber-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Sites/Pages"
        ],
        "summary": "Delete a page in recruitingCESites",
        "operationId": "delete_recruitingCESites-pages",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ElementNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-pages-{ElementNumber}-delete",
        "x-filename-id": "recruitingcesites-sitenumber-child-pages-elementnumber-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Sites/Pages"
        ],
        "summary": "Update a page in recruitingCESites",
        "operationId": "update_recruitingCESites-pages",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ElementNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-pages-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-pages-item-response"
                }
              }
            },
            "links": {
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1translations/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of pages. It includes the page translations of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "pageParams": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1pageParams/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "sections": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1sections/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The sections resource is a child of pages. It includes the details of the sections in each page in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-pages-{ElementNumber}-patch",
        "x-filename-id": "recruitingcesites-sitenumber-child-pages-elementnumber-patch"
      }
    },
    "/recruitingCESites/{SiteNumber}/child/pages": {
      "get": {
        "tags": [
          "Recruiting CE Sites/Pages"
        ],
        "summary": "Get all pages in recruitingCESites",
        "operationId": "getall_recruitingCESites-pages",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreationDate; string; Date of creation of the pages in the recruitingCESites.</li><li>CustomAction; string; Custom action that can be done on pages defined on the recruitingCESites.</li><li>ElementId; integer; Unique ID assigned to each element in the page.</li><li>ElementNumber; string; Element number assigned to the pages in the recruitingCESites.</li><li>Language; string; Language used in the pages on the recruitingCESites.</li><li>OgDescription; string; Organization description.</li><li>OgImageSrc; string; Organization image source.</li><li>PageCode; string; Code assigned to the pages in the recruitingCESites.</li><li>PageId; integer; Unique ID assigned to each page.</li><li>PageURLName; string; Page display name in URL for custom pages in recruitingCESites.</li><li>PublishedDate; string; Date of publishing of the pages in the recruitingCESites.</li><li>SeoDescription; string; Description of the search engine optimization used on the pages.</li><li>SiteCode; string; Code assigned to the recruitingCESites on which the pages are published.</li><li>SiteNumber; string; Number of the parent resource for page assigned to the recruitingCESites.</li><li>StatusCode; string; Code assigned to the status of the pages.</li><li>Title; string; Title assigned to the pages in the recruitingCESites.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PageByCodeAndStatusFinder Find pages in recruitingCESites by PageByCodeAndStatusFinder <br>Finder Variables <ul><li>PageCode; string;  Find pages in recruitingCESites by PageByCodeAndStatusFinder and PageCode; string;  </li><li>StatusCode; string;  Find pages in recruitingCESites by PageByCodeAndStatusFinder and StatusCode; string;  </li></ul></li><li>PageByCodeFinder Find pages in recruitingCESites by PageByCodeFinder <br>Finder Variables <ul><li>PageCode; string;  Find pages in recruitingCESites by PageByCodeFinder and PageCode; string;  </li></ul></li><li>PageByElementNumber Find pages in recruitingCESites by PageByElementNumber <br>Finder Variables <ul><li>ElementNumber; string;  Find pages in recruitingCESites by PageByElementNumber and ElementNumber; string;  </li></ul></li><li>PageByTitle Find pages in recruitingCESites by PageTitle finder <br>Finder Variables <ul><li>Title; string;  Find pages in recruitingCESites by PageTitle </li></ul></li><li>PrimaryKey Find pages in recruitingCESites by a unique ID <br>Finder Variables <ul><li>ElementId; integer;  Finds the recruitingCESites page by primary key and the ElementID variable </li><li>PageId; integer;  Finds the recruitingCESites page by primary key and the PageID variable </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PageByCodeAndStatusFinder",
                "description": "Find pages in recruitingCESites by PageByCodeAndStatusFinder",
                "title": "findByPageCodeAndStatusCode",
                "properties": {
                  "PageCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find pages in recruitingCESites by PageByCodeAndStatusFinder and PageCode",
                    "type": "string"
                  },
                  "StatusCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find pages in recruitingCESites by PageByCodeAndStatusFinder and StatusCode",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PageByCodeFinder",
                "description": "Find pages in recruitingCESites by PageByCodeFinder",
                "title": "findByPageCode",
                "properties": {
                  "PageCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find pages in recruitingCESites by PageByCodeFinder and PageCode",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PageByElementNumber",
                "description": "Find pages in recruitingCESites by PageByElementNumber",
                "title": "findByElementNumber",
                "properties": {
                  "ElementNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find pages in recruitingCESites by PageByElementNumber and ElementNumber",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PageByTitle",
                "description": "Find pages in recruitingCESites by PageTitle finder",
                "title": "FindPageByTitle",
                "properties": {
                  "Title": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find pages in recruitingCESites by PageTitle",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Find pages in recruitingCESites by a unique ID",
                "properties": {
                  "PageId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Finds the recruitingCESites page by primary key and the PageID variable",
                    "type": "integer"
                  },
                  "ElementId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Finds the recruitingCESites page by primary key and the ElementID variable",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-pages"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-pages-get",
        "x-filename-id": "recruitingcesites-sitenumber-child-pages-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Sites/Pages"
        ],
        "summary": "Submit all pages in recruitingCESites",
        "operationId": "create_recruitingCESites-pages",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-pages-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-pages-item-response"
                }
              }
            },
            "links": {
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1translations/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of pages. It includes the page translations of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "pageParams": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1pageParams/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "sections": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages~1{ElementNumber}~1child~1sections/get",
                "parameters": {
                  "ElementNumber": "$request.path.ElementNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The sections resource is a child of pages. It includes the details of the sections in each page in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-pages-post",
        "x-filename-id": "recruitingcesites-sitenumber-child-pages-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCESites-pages-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "description": "Date of creation of the pages in the recruitingCESites.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on pages defined on the recruitingCESites.",
            "nullable": true,
            "x-queryable": true
          },
          "ElementId": {
            "type": "integer",
            "description": "Unique ID assigned to each element in the page.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "ElementNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Element number assigned to the pages in the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Language": {
            "maxLength": 255,
            "type": "string",
            "description": "Language used in the pages on the recruitingCESites.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OgDescription": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization description.",
            "nullable": true,
            "x-queryable": true
          },
          "OgImageSrc": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization image source.",
            "nullable": true,
            "x-queryable": true
          },
          "PageCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code assigned to the pages in the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "PageId": {
            "type": "integer",
            "description": "Unique ID assigned to each page.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "PageURLName": {
            "maxLength": 240,
            "type": "string",
            "description": "Page display name in URL for custom pages in recruitingCESites.",
            "nullable": true,
            "x-queryable": true
          },
          "PublishedDate": {
            "type": "string",
            "description": "Date of publishing of the pages in the recruitingCESites.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "SeoDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the search engine optimization used on the pages.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteCode": {
            "type": "string",
            "description": "Code assigned to the recruitingCESites on which the pages are published.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Number of the parent resource for page assigned to the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 20,
            "type": "string",
            "description": "Code assigned to the status of the pages.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Title": {
            "maxLength": 200,
            "type": "string",
            "description": "Title assigned to the pages in the recruitingCESites.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "pageParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-pageParams-item-response"
            }
          },
          "sections": {
            "title": "Sections",
            "type": "array",
            "description": "The sections resource is a child of pages. It includes the details of the sections in each page in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-item-response"
            }
          },
          "translations": {
            "title": "Header Link Translations",
            "type": "array",
            "description": "The translations resource is a child of cookieConsent. It includes translations of the cookie consent in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-translations-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCESites-pages-pageParams-item-response": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false,
            "x-queryable": true
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true,
            "x-queryable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-item-response": {
        "type": "object",
        "properties": {
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on sections defined on the recruitingCESites.",
            "nullable": true,
            "x-queryable": true
          },
          "ElementId": {
            "type": "integer",
            "description": "Element ID in page sections.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "ElementNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Element number of the sections on the pages in the recruitingCESites",
            "nullable": false,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ElementOrder": {
            "type": "integer",
            "description": "Element order of the sections on the pages in the recruitingCESites",
            "format": "int64",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "components": {
            "title": "Components",
            "type": "array",
            "description": "The components resource is a child of sections. It includes the details of components in the sections of each page in the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "sectionParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-sectionParams-item-response"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-item-response": {
        "type": "object",
        "properties": {
          "ComponentContent": {
            "type": "string",
            "description": "Content of the components in the sections.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on components defined on the recruitingCESites.",
            "nullable": true,
            "x-queryable": true
          },
          "ElementId": {
            "type": "integer",
            "description": "Element ID in page section components.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "ElementNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Element number of the components in the sections.",
            "nullable": false,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ElementOrder": {
            "type": "integer",
            "description": "Element order of the components.",
            "format": "int64",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Language": {
            "maxLength": 255,
            "type": "string",
            "description": "Language of the components in the sections.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "componentParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-componentParams-item-response"
            }
          },
          "componentTranslations": {
            "title": "Component Translations",
            "type": "array",
            "description": "The componentTranslations resource is a child of the recruitingCESites resource. It includes the details of the translations of the components in the sections of each page in the career site. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-componentTranslations-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-componentParams-item-response": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false,
            "x-queryable": true
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true,
            "x-queryable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-componentTranslations-item-response": {
        "type": "object",
        "properties": {
          "ComponentContent": {
            "type": "string",
            "description": "Content displayed in the component translations.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ElementId": {
            "type": "integer",
            "description": "Element ID in page section component translations.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the component translations.",
            "nullable": false,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the component translations.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-sectionParams-item-response": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false,
            "x-queryable": true
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true,
            "x-queryable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-pages-translations-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the page translation.",
            "nullable": false,
            "x-queryable": true
          },
          "OgDescription": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization Description of the page.",
            "nullable": true,
            "x-queryable": true
          },
          "OgImageSrc": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization image source of the page.",
            "nullable": true,
            "x-queryable": true
          },
          "PageId": {
            "type": "integer",
            "description": "Unique ID assigned to each page translation.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "SeoDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Search engine optimization description of the page.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the page translation.",
            "nullable": false,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 200,
            "type": "string",
            "description": "Title of the page.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-pages-item-patch-request": {
        "type": "object",
        "properties": {
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on pages defined on the recruitingCESites.",
            "nullable": true
          },
          "OgDescription": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization description.",
            "nullable": true
          },
          "OgImageSrc": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization image source.",
            "nullable": true
          },
          "PageURLName": {
            "maxLength": 240,
            "type": "string",
            "description": "Page display name in URL for custom pages in recruitingCESites.",
            "nullable": true
          },
          "PublishedDate": {
            "type": "string",
            "description": "Date of publishing of the pages in the recruitingCESites.",
            "format": "date-time",
            "nullable": true
          },
          "SeoDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the search engine optimization used on the pages.",
            "nullable": true
          },
          "SiteCode": {
            "type": "string",
            "description": "Code assigned to the recruitingCESites on which the pages are published.",
            "nullable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Number of the parent resource for page assigned to the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "StatusCode": {
            "maxLength": 20,
            "type": "string",
            "description": "Code assigned to the status of the pages.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Title": {
            "maxLength": 200,
            "type": "string",
            "description": "Title assigned to the pages in the recruitingCESites.",
            "nullable": false
          },
          "pageParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-pageParams-item-patch-request"
            }
          },
          "sections": {
            "title": "Sections",
            "type": "array",
            "description": "The sections resource is a child of pages. It includes the details of the sections in each page in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-item-patch-request"
            }
          },
          "translations": {
            "title": "Header Link Translations",
            "type": "array",
            "description": "The translations resource is a child of cookieConsent. It includes translations of the cookie consent in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-translations-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-pages-pageParams-item-patch-request": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-item-patch-request": {
        "type": "object",
        "properties": {
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on sections defined on the recruitingCESites.",
            "nullable": true
          },
          "ElementOrder": {
            "type": "integer",
            "description": "Element order of the sections on the pages in the recruitingCESites",
            "format": "int64",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "precision": 18
            }
          },
          "components": {
            "title": "Components",
            "type": "array",
            "description": "The components resource is a child of sections. It includes the details of components in the sections of each page in the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-item-patch-request"
            }
          },
          "sectionParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-sectionParams-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-item-patch-request": {
        "type": "object",
        "properties": {
          "ComponentContent": {
            "type": "string",
            "description": "Content of the components in the sections.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on components defined on the recruitingCESites.",
            "nullable": true
          },
          "ElementOrder": {
            "type": "integer",
            "description": "Element order of the components.",
            "format": "int64",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "precision": 18
            }
          },
          "componentParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-componentParams-item-patch-request"
            }
          },
          "componentTranslations": {
            "title": "Component Translations",
            "type": "array",
            "description": "The componentTranslations resource is a child of the recruitingCESites resource. It includes the details of the translations of the components in the sections of each page in the career site. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-componentTranslations-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-componentParams-item-patch-request": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-componentTranslations-item-patch-request": {
        "type": "object",
        "properties": {
          "ComponentContent": {
            "type": "string",
            "description": "Content displayed in the component translations.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the component translations.",
            "nullable": false
          }
        }
      },
      "recruitingCESites-pages-sections-sectionParams-item-patch-request": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          }
        }
      },
      "recruitingCESites-pages-translations-item-patch-request": {
        "type": "object",
        "properties": {
          "OgDescription": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization Description of the page.",
            "nullable": true
          },
          "OgImageSrc": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization image source of the page.",
            "nullable": true
          },
          "PageId": {
            "type": "integer",
            "description": "Unique ID assigned to each page translation.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "SeoDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Search engine optimization description of the page.",
            "nullable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the page translation.",
            "nullable": false
          },
          "Title": {
            "maxLength": 200,
            "type": "string",
            "description": "Title of the page.",
            "nullable": false
          }
        }
      },
      "recruitingCESites-pages": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingCESites-pages-item-post-request": {
        "required": [
          "ElementNumber",
          "PageCode",
          "SiteNumber",
          "StatusCode",
          "Title"
        ],
        "type": "object",
        "properties": {
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on pages defined on the recruitingCESites.",
            "nullable": true
          },
          "ElementId": {
            "type": "integer",
            "description": "Unique ID assigned to each element in the page.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "ElementNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Element number assigned to the pages in the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "OgDescription": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization description.",
            "nullable": true
          },
          "OgImageSrc": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization image source.",
            "nullable": true
          },
          "PageCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code assigned to the pages in the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "PageId": {
            "type": "integer",
            "description": "Unique ID assigned to each page.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "PageURLName": {
            "maxLength": 240,
            "type": "string",
            "description": "Page display name in URL for custom pages in recruitingCESites.",
            "nullable": true
          },
          "PublishedDate": {
            "type": "string",
            "description": "Date of publishing of the pages in the recruitingCESites.",
            "format": "date-time",
            "nullable": true
          },
          "SeoDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the search engine optimization used on the pages.",
            "nullable": true
          },
          "SiteCode": {
            "type": "string",
            "description": "Code assigned to the recruitingCESites on which the pages are published.",
            "nullable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Number of the parent resource for page assigned to the recruitingCESites.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "StatusCode": {
            "maxLength": 20,
            "type": "string",
            "description": "Code assigned to the status of the pages.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Title": {
            "maxLength": 200,
            "type": "string",
            "description": "Title assigned to the pages in the recruitingCESites.",
            "nullable": false
          },
          "pageParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-pageParams-item-post-request"
            }
          },
          "sections": {
            "title": "Sections",
            "type": "array",
            "description": "The sections resource is a child of pages. It includes the details of the sections in each page in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-item-post-request"
            }
          },
          "translations": {
            "title": "Header Link Translations",
            "type": "array",
            "description": "The translations resource is a child of cookieConsent. It includes translations of the cookie consent in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-translations-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-pages-pageParams-item-post-request": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-item-post-request": {
        "required": [
          "ElementNumber"
        ],
        "type": "object",
        "properties": {
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on sections defined on the recruitingCESites.",
            "nullable": true
          },
          "ElementId": {
            "type": "integer",
            "description": "Element ID in page sections.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "ElementNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Element number of the sections on the pages in the recruitingCESites",
            "nullable": false,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ElementOrder": {
            "type": "integer",
            "description": "Element order of the sections on the pages in the recruitingCESites",
            "format": "int64",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "precision": 18
            }
          },
          "components": {
            "title": "Components",
            "type": "array",
            "description": "The components resource is a child of sections. It includes the details of components in the sections of each page in the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-item-post-request"
            }
          },
          "sectionParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-sectionParams-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-item-post-request": {
        "required": [
          "ElementNumber"
        ],
        "type": "object",
        "properties": {
          "ComponentContent": {
            "type": "string",
            "description": "Content of the components in the sections.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CustomAction": {
            "type": "string",
            "description": "Custom action that can be done on components defined on the recruitingCESites.",
            "nullable": true
          },
          "ElementId": {
            "type": "integer",
            "description": "Element ID in page section components.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "ElementNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Element number of the components in the sections.",
            "nullable": false,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ElementOrder": {
            "type": "integer",
            "description": "Element order of the components.",
            "format": "int64",
            "nullable": false,
            "default": 0,
            "x-hints": {
              "precision": 18
            }
          },
          "componentParams": {
            "title": "Section Parameters",
            "type": "array",
            "description": "The sectionParams resource is a child of sections. It includes the parameters of the sections in each page of recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-componentParams-item-post-request"
            }
          },
          "componentTranslations": {
            "title": "Component Translations",
            "type": "array",
            "description": "The componentTranslations resource is a child of the recruitingCESites resource. It includes the details of the translations of the components in the sections of each page in the career site. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-pages-sections-components-componentTranslations-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-componentParams-item-post-request": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          }
        }
      },
      "recruitingCESites-pages-sections-components-componentTranslations-item-post-request": {
        "type": "object",
        "properties": {
          "ComponentContent": {
            "type": "string",
            "description": "Content displayed in the component translations.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the component translations.",
            "nullable": false
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the component translations.",
            "nullable": false
          }
        }
      },
      "recruitingCESites-pages-sections-sectionParams-item-post-request": {
        "type": "object",
        "properties": {
          "ParamKey": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code assigned to the section parameters.",
            "nullable": false
          },
          "ParamValue": {
            "maxLength": 4000,
            "type": "string",
            "description": "Value of the section parameters.",
            "nullable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting in the page section parameters.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          }
        }
      },
      "recruitingCESites-pages-translations-item-post-request": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the page translation.",
            "nullable": false
          },
          "OgDescription": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization Description of the page.",
            "nullable": true
          },
          "OgImageSrc": {
            "maxLength": 1000,
            "type": "string",
            "description": "Organization image source of the page.",
            "nullable": true
          },
          "PageId": {
            "type": "integer",
            "description": "Unique ID assigned to each page translation.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "SeoDescription": {
            "maxLength": 4000,
            "type": "string",
            "description": "Search engine optimization description of the page.",
            "nullable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the page translation.",
            "nullable": false
          },
          "Title": {
            "maxLength": 200,
            "type": "string",
            "description": "Title of the page.",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCESites-pages-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCESites-pages-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-pages-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCESites-pages-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}