{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Application Flows",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEApplyFlows": {
      "get": {
        "tags": [
          "Recruiting CE Application Flows"
        ],
        "summary": "Get all job application flows",
        "operationId": "getall_recruitingCEApplyFlows",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EsignDescriptionVersionId; integer; ID for the version of the electronic signature.</li><li>EsignEnabledFlag; boolean; Indicates if electronic signature is enabled.</li><li>EventNumber; string; Event number for the event registration flow.</li><li>FlowCode; string; Flow code in the job application flows.</li><li>FlowId; integer; Unique identifier for the job application flows.</li><li>FlowName; string; Flow name for the job application flows.</li><li>FlowTypeCode; string; Flow type code in the job application flows.</li><li>FlowVersionId; integer; Flow version ID in the job application flows.</li><li>FlowVersionName; string; Flow version name for the job application flows.</li><li>LegalDescriptionVersionId; integer; ID for the legal disclaimer version.</li><li>LegalEnabledFlag; boolean; Indicates that the legal disclaimer is enabled.</li><li>OptinDescriptionVersionId; integer; ID for OptinDescriptionVersion.</li><li>OptinEnabledFlag; boolean; Indicates if TC opt in is enabled.</li><li>PrimaryKey; integer; Primary key for the job application flow.</li><li>ProfileVersion; string; Specific version for profile.</li><li>QuickApplyEnabledFlag; boolean; Setting to enable Easy Apply type application flow.</li><li>RequisitionNumber; string; Requisition number for the job application flow.</li><li>SingleClickApplyFlag; boolean; Indicates if single click apply is enabled.</li><li>TCOptinEnabledFlag; boolean; Indicates that the talent community opt-in is enabled.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey; integer;  Finds the job application flow using the primary key. <br>Finder Variables <ul><li>PrimaryKey; integer;  Primary key and primary key variable find the job application flow. </li></ul></li><li>findByEventNumber Finds all events based on the event number <br>Finder Variables <ul><li>EventNumber; string;  Event number and event number variable used to find all events. </li></ul></li><li>findByRequisitionNumber Finds the job application flows by the requisition number <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds the job application flows by the requisition number and the RequisitionNumber; string;  variable </li></ul></li><li>findTalentCommunityApplyFlow Finds the job application flows by the talent community application flow <br>Finder Variables <ul><li>FlowTypeCode; string;  Finds the job application flows by the talent community application flow and the flow type code </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the job application flow using the primary key.",
                "properties": {
                  "PrimaryKey": {
                    "nullable": true,
                    "description": "Primary key and primary key variable find the job application flow.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByEventNumber",
                "description": "Finds all events based on the event number",
                "title": "findByEventNumber",
                "properties": {
                  "EventNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Event number and event number variable used to find all events.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByRequisitionNumber",
                "description": "Finds the job application flows by the requisition number",
                "title": "findByRequisitionNumber",
                "properties": {
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the job application flows by the requisition number and the RequisitionNumber variable",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findTalentCommunityApplyFlow",
                "description": "Finds the job application flows by the talent community application flow",
                "title": "findTalentCommunityApplyFlow",
                "properties": {
                  "FlowTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the job application flows by the talent community application flow and the flow type code",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEApplyFlows"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEApplyFlows-get",
        "x-filename-id": "recruitingceapplyflows-get"
      }
    },
    "/recruitingCEApplyFlows/{PrimaryKey}": {
      "get": {
        "tags": [
          "Recruiting CE Application Flows"
        ],
        "summary": "Get a job application flow",
        "operationId": "get_recruitingCEApplyFlows",
        "parameters": [
          {
            "name": "PrimaryKey",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Primary key for the job application flow.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEApplyFlows-item-response"
                }
              }
            },
            "links": {
              "requisitionFlexFields": {
                "operationRef": "#/paths/~1recruitingCEApplyFlows~1{PrimaryKey}~1child~1requisitionFlexFields/get",
                "parameters": {
                  "PrimaryKey": "$request.path.PrimaryKey"
                },
                "description": "The requisitionFlexFields resource is a child of the recruitingCEApplyFlows resource. It includes all the job requisition flexfields configured for the job application flow. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "sections": {
                "operationRef": "#/paths/~1recruitingCEApplyFlows~1{PrimaryKey}~1child~1sections/get",
                "parameters": {
                  "PrimaryKey": "$request.path.PrimaryKey"
                },
                "description": "The sections resource is a child of recruitingCEApplyFlows. It includes all the corresponding sections for the job application flow. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEApplyFlows-{PrimaryKey}-get",
        "x-filename-id": "recruitingceapplyflows-primarykey-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEApplyFlows": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEApplyFlows-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCEApplyFlows-item-response": {
        "type": "object",
        "properties": {
          "EsignDescriptionStr": {
            "type": "string",
            "description": "Description of the specific version of the electronic signature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "EsignDescriptionVersionId": {
            "type": "integer",
            "description": "ID for the version of the electronic signature.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EsignEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if electronic signature is enabled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EventNumber": {
            "maxLength": 64,
            "type": "string",
            "description": "Event number for the event registration flow.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "FlowCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Flow code in the job application flows.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowId": {
            "type": "integer",
            "description": "Unique identifier for the job application flows.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlowName": {
            "maxLength": 240,
            "type": "string",
            "description": "Flow name for the job application flows.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Flow type code in the job application flows.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Flow version ID in the job application flows.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlowVersionName": {
            "maxLength": 240,
            "type": "string",
            "description": "Flow version name for the job application flows.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalDescriptionStr": {
            "type": "string",
            "description": "Description of the specific legal disclaimer version.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LegalDescriptionVersionId": {
            "type": "integer",
            "description": "ID for the legal disclaimer version.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegalEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates that the legal disclaimer is enabled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OptinDescriptionStr": {
            "type": "string",
            "description": "Description of the specific opt in.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OptinDescriptionVersionId": {
            "type": "integer",
            "description": "ID for OptinDescriptionVersion.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OptinEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if TC opt in is enabled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryKey": {
            "type": "integer",
            "description": "Primary key for the job application flow.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProfileVersion": {
            "type": "string",
            "description": "Specific version for profile.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "QuickApplyEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Setting to enable Easy Apply type application flow.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Requisition number for the job application flow.",
            "nullable": true,
            "default": "_DEFAULT_PLACE_HOLDER",
            "x-queryable": true
          },
          "SingleClickApplyFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if single click apply is enabled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TCOptinEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates that the talent community opt-in is enabled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "requisitionFlexFields": {
            "title": "Requisition Flexfields",
            "type": "array",
            "description": "The requisitionFlexFields resource is a child of the recruitingCEApplyFlows resource. It includes all the job requisition flexfields configured for the job application flow. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEApplyFlows-requisitionFlexFields-item-response"
            }
          },
          "sections": {
            "title": "Sections",
            "type": "array",
            "description": "The sections resource is a child of recruitingCEApplyFlows. It includes all the corresponding sections for the job application flow. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEApplyFlows-sections-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEApplyFlows-requisitionFlexFields-item-response": {
        "type": "object",
        "properties": {
          "ColumnName": {
            "type": "string",
            "description": "Column name of a flexfield.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Prompt": {
            "type": "string",
            "description": "Display label of a flexfield.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Sequence number of a flexfield.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Value": {
            "type": "string",
            "description": "Value of a flexfield.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEApplyFlows-sections-item-response": {
        "type": "object",
        "properties": {
          "SectionName": {
            "title": "Section Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of a section in job application flow.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionSequence": {
            "type": "integer",
            "description": "Unique ID for section.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "pages": {
            "title": "Pages",
            "type": "array",
            "description": "The pages resource is a child of the recruitingCErecruitingCEApplyFlows resource. It includes all the corresponding pages for the job application flow. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEApplyFlows-sections-pages-item-response"
            }
          }
        }
      },
      "recruitingCEApplyFlows-sections-pages-item-response": {
        "type": "object",
        "properties": {
          "PageName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of pages in the job application flow.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PageSequence": {
            "type": "integer",
            "description": "Unique ID for pages in the job application flow.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "blocks": {
            "title": "Blocks",
            "type": "array",
            "description": "The blocks resource is a child of the pages resources. It includes all the corresponding blocks for the job application flow. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEApplyFlows-sections-pages-blocks-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEApplyFlows-sections-pages-blocks-item-response": {
        "type": "object",
        "properties": {
          "BlockCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Unique code for blocks.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "BlockInstructions": {
            "title": "Instructions",
            "maxLength": 1000,
            "type": "string",
            "description": "Instructions for the block.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BlockName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the block.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "BlockProperties": {
            "type": "string",
            "description": "Get all blocks of a recruiting secondary application flow",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BlockSequence": {
            "type": "integer",
            "description": "Unique ID for blocks.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "BlockTitle": {
            "title": "Block Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the block.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "HideInMobileFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if the hide in mobile is enabled.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MetadataService": {
            "type": "string",
            "description": "MetadataService in blocks.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PageBlockId": {
            "type": "integer",
            "description": "MetadataService in blocks.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ReadWriteService": {
            "type": "string",
            "description": "ReadWriteService in blocks.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}