{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Job Requisitions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingICEJobRequisitions": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions"
        ],
        "summary": "Get all job requisitions",
        "operationId": "getall_recruitingICEJobRequisitions",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BotQRShortCode; string; The QR short code for the filtered job requisitions that are displayed.</li><li>CandidateNumber; string; ID assigned to each candidate</li><li>CorrectedKeyword; string; Corrected keyword used for searching, based on the spell check result.</li><li>ExecuteSpellCheckFlag; boolean; Indicates whether a spell check was requested for the keyword.</li><li>Facets; string; Facets of the job requisitions.</li><li>HotJobFlag; boolean; Indicates whether the job requisition is considered a hot job in a job requisition details preview.</li><li>JobFamilyId; string; ID assigned to the job family.</li><li>Keyword; string; Keyword used to search for job requisitions.</li><li>LastSelectedFacet; string; Last selected facet for retrieving job requisitions.</li><li>Latitude; number; Latitude of the location of job requisition.</li><li>Limit; integer; Limit of the job requisition.</li><li>Location; string; Location of the job requisition</li><li>LocationId; string; ID assigned to the location of the job requisition.</li><li>Longitude; number; Longitude of the location of the job requisition</li><li>Offset; integer; Offset of the job requisition</li><li>OrganizationId; string; Organization ID for a job requisition.</li><li>PostingEndDate; string; End date of the job posting.</li><li>PostingStartDate; string; Start date of the job posting.</li><li>Radius; integer; Radius of the job requisition.</li><li>RadiusUnit; string; Unit of the radius of the job requisition.</li><li>RequisitionId; integer; ID assigned to the similar job</li><li>SearchId; integer; Location ID of the secondary locations in a job requisition details preview.</li><li>SelectedCategoriesFacet; string; Facet of the selected categories of the job requisitions.</li><li>SelectedFlexFieldsFacets; string; Facets of the selected job requisitions flexfields.</li><li>SelectedLocationsFacet; string; Facet of the selected locations of the job requisitions.</li><li>SelectedOrganizationsFacet; string; Facet of the selected organizations of the job requisitions.</li><li>SelectedPostingDatesFacet; string; Facet of the selected dates of job posting.</li><li>SelectedTitlesFacet; string; Facet of the selected title of job requisitions.</li><li>SelectedWorkLocationsFacet; string; Facet of the selected work locations.</li><li>SelectedWorkplaceTypesFacet; string; Facet of the selected workplace type.</li><li>SiteNumber; string; Site number of the job requisition.</li><li>SortBy; string; Sort by attribute for the job requisition.</li><li>SuggestedKeyword; string; Suggested keyword based on spell check result.</li><li>TotalJobsCount; integer; Total job count for the job requisition.</li><li>UseExactKeywordFlag; boolean; Indicates whether the exact keyword is used for searching or if the keyword is automatically spell checked and corrected.</li><li>UserTargetFacetInputTerm; string; Term used to filter facet values.</li><li>UserTargetFacetName; string; Name of the facet for which the value list must be filtered by the input term.</li><li>WorkLocationCountryCode; string; Country code of the work location.</li><li>WorkLocationZipCode; string; ZIP code of the work location.</li><li>WorkplaceType; string; Workplace type of the job requisition.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds job requisitions using a unique ID <br>Finder Variables <ul><li>SearchId; integer;  Finds job requisitions using a search ID and a primary key </li></ul></li><li>findReqs Finds job requisitions using find requests <br>Finder Variables <ul><li>correctedKeyword; string;  Corrected keyword; string;  used for searching, based on the spell check result. </li><li>executeSpellCheckFlag; string;  Indicates whether the keyword; string;  must be spell checked. The default value is true. </li><li>facetsList; string;  Finds job requisitions using find requests and facets list </li><li>hotJobFlag; string;  Indicates whether the job requisition is considered a hot job. </li><li>jobFamilyId; string;  Finds job requisitions using find requests and job family ID </li><li>keyword; string;  Finds job requisitions using find requests and keyword; string;  </li><li>lastSelectedFacet; string;  Finds job requisitions using find requests and the last selected facet </li><li>latitude; number;  Finds recruiting job requisitions using find requests and latitude; number;  </li><li>limit; integer;  Finds job requisitions using find requests and limit; integer;  </li><li>location; string;  Finds job requisitions using find requests and location; string;  </li><li>locationId; string;  Finds job requisitions using find requests and location; string;  ID </li><li>longitude; number;  Finds recruiting job requisitions using find requests and longitude; number;  </li><li>offset; integer;  Finds job requisitions using find requests and offset; integer;  </li><li>organizationId; string;  Organization ID to find job requisitions. </li><li>postingEndDate; string;  Finds job requisitions using find requests and the end date of the job posting </li><li>postingStartDate; string;  Finds job requisitions using find requests and the start date of the job posting </li><li>radius; integer;  Finds job requisitions using find requests and radius; integer;  </li><li>radiusUnit; string;  Finds job requisitions using find requests and the unit of the radius; integer;  </li><li>selectedCategoriesFacet; string;  Finds job requisitions using find requests and the selected category facet </li><li>selectedFlexFieldsFacets; string;  Finds job requisitions using selected flexfields facets </li><li>selectedLocationsFacet; string;  Finds job requisitions using find requests and location; string;  facet </li><li>selectedOrganizationsFacet; string;  Selected organization facets to find job requisitions. </li><li>selectedPostingDatesFacet; string;  Finds job requisitions using find requests and the selected facet of the date of job posting </li><li>selectedTitlesFacet; string;  Finds job requisitions using find requests and title facet </li><li>selectedWorkLocationsFacet; string;  Requisition location; string;  ID and unique ID used to find work locations in a job requisition details preview. </li><li>selectedWorkplaceTypesFacet; string;  Facet of the selected workplace type. </li><li>siteNumber; string;  Finds recruiting job requisitions using find requests and the site number </li><li>sortBy; string;  Finds job requisitions using find requests and sort by </li><li>useExactKeywordFlag; string;  Indicates whether the exact keyword; string;  is used for searching or if the keyword; string;  is automatically spell checked and corrected. The default value is false. </li><li>userTargetFacetInputTerm; string;  Term used to find facet values for the selected facet. </li><li>userTargetFacetName; string;  Name of the facet to find facet values. </li><li>workLocationCountryCode; string;  Finds job requisitions using country code of the work location; string;  </li><li>workLocationZipCode; string;  Finds job requisitions using the ZIP code of the work location; string;  </li><li>workplaceType; string;  Workplace type of the job requisition. </li></ul></li><li>findReqsByQRShortCode Finds job requisitions by QR short code. <br>Finder Variables <ul><li>limit; integer;  The maximum number of job requisitions displayed per page. </li><li>offset; integer;  The offset; integer;  value to get job requisitions from the result set. </li><li>qrShortCode; string;  The short code associated with the QR code. </li><li>siteNumber; string;  The site number associated with the short code URL. </li></ul></li><li>findSimilarRequisitions Finds similar jobs <br>Finder Variables <ul><li>candidateNumber; string;  Finds similar jobs using candidate ID </li><li>limit; integer;  Finds job requisitions using find requests and limit; integer;  </li><li>offset; integer;  Finds job requisitions using find requests and offset; integer;  </li><li>requisitionId; integer;  Finds similar jobs using job ID </li><li>siteNumber; string;  Finds similar jobs using site number </li></ul></li><li>findSimilarRequisitionsByCandidate Finds jobs by candidate. <br>Finder Variables <ul><li>candidateNumber; string;  Finds similar jobs using candidate ID </li><li>limit; integer;  Finds job requisitions using find requests and limit; integer;  </li><li>offset; integer;  Finds job requisitions using find requests and offset; integer;  </li><li>requisitionId; integer;  Finds similar jobs using job ID </li><li>siteNumber; string;  Finds similar jobs using site number </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds job requisitions using a unique ID",
                "properties": {
                  "SearchId": {
                    "default": 1,
                    "nullable": true,
                    "description": "Finds job requisitions using a search ID and a primary key",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findReqs",
                "description": "Finds job requisitions using find requests",
                "title": "findJobs",
                "properties": {
                  "selectedCategoriesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the selected category facet",
                    "type": "string"
                  },
                  "selectedTitlesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and title facet",
                    "type": "string"
                  },
                  "userTargetFacetInputTerm": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Term used to find facet values for the selected facet.",
                    "type": "string"
                  },
                  "latitude": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using find requests and latitude",
                    "type": "number"
                  },
                  "selectedPostingDatesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the selected facet of the date of job posting",
                    "type": "string"
                  },
                  "selectedWorkLocationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition location ID and unique ID used to find work locations in a job requisition details preview.",
                    "type": "string"
                  },
                  "postingEndDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the end date of the job posting",
                    "type": "string"
                  },
                  "organizationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Organization ID to find job requisitions.",
                    "type": "string"
                  },
                  "locationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and location ID",
                    "type": "string"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and limit",
                    "type": "integer"
                  },
                  "workLocationZipCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using the ZIP code of the work location",
                    "type": "string"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using find requests and the site number",
                    "type": "string"
                  },
                  "sortBy": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and sort by",
                    "type": "string"
                  },
                  "useExactKeywordFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the exact keyword is used for searching or if the keyword is automatically spell checked and corrected. The default value is false.",
                    "type": "string"
                  },
                  "keyword": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and keyword",
                    "type": "string"
                  },
                  "radius": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and radius",
                    "type": "integer"
                  },
                  "radiusUnit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the unit of the radius",
                    "type": "string"
                  },
                  "workLocationCountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using country code of the work location",
                    "type": "string"
                  },
                  "facetsList": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and facets list",
                    "type": "string"
                  },
                  "longitude": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using find requests and longitude",
                    "type": "number"
                  },
                  "lastSelectedFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the last selected facet",
                    "type": "string"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and offset",
                    "type": "integer"
                  },
                  "selectedFlexFieldsFacets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using selected flexfields facets",
                    "type": "string"
                  },
                  "userTargetFacetName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the facet to find facet values.",
                    "type": "string"
                  },
                  "postingStartDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the start date of the job posting",
                    "type": "string"
                  },
                  "selectedWorkplaceTypesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet of the selected workplace type.",
                    "type": "string"
                  },
                  "selectedOrganizationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Selected organization facets to find job requisitions.",
                    "type": "string"
                  },
                  "selectedLocationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and location facet",
                    "type": "string"
                  },
                  "correctedKeyword": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Corrected keyword used for searching, based on the spell check result.",
                    "type": "string"
                  },
                  "jobFamilyId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and job family ID",
                    "type": "string"
                  },
                  "location": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and location",
                    "type": "string"
                  },
                  "executeSpellCheckFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the keyword must be spell checked. The default value is true.",
                    "type": "string"
                  },
                  "hotJobFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the job requisition is considered a hot job.",
                    "type": "string"
                  },
                  "workplaceType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Workplace type of the job requisition.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findReqsByQRShortCode",
                "description": "Finds job requisitions by QR short code.",
                "title": "findReqsByBotQRShortCode",
                "properties": {
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The offset value to get job requisitions from the result set.",
                    "type": "integer"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The maximum number of job requisitions displayed per page.",
                    "type": "integer"
                  },
                  "qrShortCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The short code associated with the QR code.",
                    "type": "string"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The site number associated with the short code URL.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findSimilarRequisitions",
                "description": "Finds similar jobs",
                "title": "findSimilarRequisitions",
                "properties": {
                  "requisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using job ID",
                    "type": "integer"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and offset",
                    "type": "integer"
                  },
                  "candidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using candidate ID",
                    "type": "string"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and limit",
                    "type": "integer"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using site number",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findSimilarRequisitionsByCandidate",
                "description": "Finds jobs by candidate.",
                "title": "findSimilarRequisitionsByCandidate",
                "properties": {
                  "requisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using job ID",
                    "type": "integer"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and offset",
                    "type": "integer"
                  },
                  "candidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using candidate ID",
                    "type": "string"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and limit",
                    "type": "integer"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using site number",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobRequisitions"
                }
              }
            },
            "links": {
              "getRequisitionDetailsForMap": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1action~1getRequisitionDetailsForMap/post",
                "description": "Provides requisition and location details for the given Requisition IDs based on the work location display setting configured for the candidate experience site."
              },
              "getRequisitionsLocationCoordinates": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1action~1getRequisitionsLocationCoordinates/post",
                "description": "Provides the location coordinates for the requisitions to plot on Oracle Maps."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobRequisitions-get",
        "x-filename-id": "recruitingicejobrequisitions-get"
      }
    },
    "/recruitingICEJobRequisitions/{SearchId}": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions"
        ],
        "summary": "Get a job requisition",
        "operationId": "get_recruitingICEJobRequisitions",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Location ID of the secondary locations in a job requisition details preview.",
              "nullable": true,
              "default": 1,
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobRequisitions-item-response"
                }
              }
            },
            "links": {
              "locationsFacet": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1locationsFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The locationsFacet resource is a child of recruitingCEJobRequisitions. It includes the details of the locationsFacet. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "titlesFacet": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1titlesFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The titlesFacet resource is a child of the recruitingCEJobRequisitions resource. It includes the details of the titles facet. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "requisitionList": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1requisitionList/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The requisitionList resource is a child of the recruitingCEJobRequisitions. It includes the details of the requisition lists. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workLocationsFacet": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1workLocationsFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The workLocationsFacet resource is a child of the recruitingCEJobRequisitions resource. It includes the details of the all the work locations facet. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "postingDatesFacet": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1postingDatesFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The postingDatesFacet resource is a child of recruitingCEJobRequisitions. It includes the details of the posting dates facet. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "categoriesFacet": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1categoriesFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The categoriesFacet resource is a child of recruitingCEJobRequisitions. It includes the details of the categories facets. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobRequisitions-{SearchId}-get",
        "x-filename-id": "recruitingicejobrequisitions-searchid-get"
      }
    },
    "/recruitingICEJobRequisitions/action/getRequisitionsLocationCoordinates": {
      "post": {
        "tags": [
          "Recruiting CE Job Requisitions"
        ],
        "summary": "Provide location coordinates",
        "description": "Provides the location coordinates for the requisitions to plot on Oracle Maps.",
        "operationId": "doall_getRequisitionsLocationCoordinates_recruitingICEJobRequisitions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchContext": {
                    "type": "array",
                    "description": "Search criteria entered by the user on the candidate experience site.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return parameter for the custom action to hold the location coordinate details."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return parameter for the custom action to hold the location coordinate details."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingICEJobRequisitions-action-getRequisitionsLocationCoordinates-post",
        "x-filename-id": "recruitingicejobrequisitions-action-getrequisitionslocationcoordinates-post"
      }
    },
    "/recruitingICEJobRequisitions/action/getRequisitionDetailsForMap": {
      "post": {
        "tags": [
          "Recruiting CE Job Requisitions"
        ],
        "summary": "Provides requisition and location details for the given Requisitions IDs",
        "description": "Provides requisition and location details for the given Requisition IDs based on the work location display setting configured for the candidate experience site.",
        "operationId": "doall_getRequisitionDetailsForMap_recruitingICEJobRequisitions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchContext": {
                    "type": "array",
                    "description": "Search parameter to hold requisition IDs, candidate experience site number, and work location display setting.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "description": "Return parameter to hold the requisition and location coordinate details for the given Requisition IDs."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "description": "Return parameter to hold the requisition and location coordinate details for the given Requisition IDs."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingICEJobRequisitions-action-getRequisitionDetailsForMap-post",
        "x-filename-id": "recruitingicejobrequisitions-action-getrequisitiondetailsformap-post"
      }
    },
    "/recruitingCEJobRequisitionsCoordinates": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions"
        ],
        "summary": "Get all job requisitions",
        "operationId": "getall_recruitingCEJobRequisitionsCoordinates",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BotQRShortCode; string; The QR short code for the filtered job requisitions that are displayed.</li><li>CandidateNumber; string; ID assigned to each candidate</li><li>CorrectedKeyword; string; Corrected keyword used for searching, based on the spell check result.</li><li>ExecuteSpellCheckFlag; boolean; Indicates whether a spell check was requested for the keyword.</li><li>Facets; string; Facets of the job requisitions.</li><li>HotJobFlag; boolean; Indicates whether the job requisition is considered a hot job in a job requisition details preview.</li><li>JobFamilyId; string; ID assigned to the job family.</li><li>Keyword; string; Keyword used to search for job requisitions.</li><li>LastSelectedFacet; string; Last selected facet for retrieving job requisitions.</li><li>Latitude; number; Latitude of the location of job requisition.</li><li>Limit; integer; Limit of the job requisition.</li><li>Location; string; Location of the job requisition</li><li>LocationId; string; ID assigned to the location of the job requisition.</li><li>Longitude; number; Longitude of the location of the job requisition</li><li>Offset; integer; Offset of the job requisition</li><li>OrganizationId; string; Organization ID for a job requisition.</li><li>PostingEndDate; string; End date of the job posting.</li><li>PostingStartDate; string; Start date of the job posting.</li><li>Radius; integer; Radius of the job requisition.</li><li>RadiusUnit; string; Unit of the radius of the job requisition.</li><li>RequisitionId; integer; ID assigned to the similar job</li><li>SearchId; integer; Location ID of the secondary locations in a job requisition details preview.</li><li>SelectedCategoriesFacet; string; Facet of the selected categories of the job requisitions.</li><li>SelectedFlexFieldsFacets; string; Facets of the selected job requisitions flexfields.</li><li>SelectedLocationsFacet; string; Facet of the selected locations of the job requisitions.</li><li>SelectedOrganizationsFacet; string; Facet of the selected organizations of the job requisitions.</li><li>SelectedPostingDatesFacet; string; Facet of the selected dates of job posting.</li><li>SelectedTitlesFacet; string; Facet of the selected title of job requisitions.</li><li>SelectedWorkLocationsFacet; string; Facet of the selected work locations.</li><li>SelectedWorkplaceTypesFacet; string; Facet of the selected workplace type.</li><li>SiteNumber; string; Site number of the job requisition.</li><li>SortBy; string; Sort by attribute for the job requisition.</li><li>SuggestedKeyword; string; Suggested keyword based on spell check result.</li><li>TotalJobsCount; integer; Total job count for the job requisition.</li><li>UseExactKeywordFlag; boolean; Indicates whether the exact keyword is used for searching or if the keyword is automatically spell checked and corrected.</li><li>UserTargetFacetInputTerm; string; Term used to filter facet values.</li><li>UserTargetFacetName; string; Name of the facet for which the value list must be filtered by the input term.</li><li>WorkLocationCountryCode; string; Country code of the work location.</li><li>WorkLocationZipCode; string; ZIP code of the work location.</li><li>WorkplaceType; string; Workplace type of the job requisition.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds job requisitions using a unique ID <br>Finder Variables <ul><li>SearchId; integer;  Finds job requisitions using a search ID and a primary key </li></ul></li><li>findReqs Finds job requisitions using find requests <br>Finder Variables <ul><li>correctedKeyword; string;  Corrected keyword; string;  used for searching, based on the spell check result. </li><li>executeSpellCheckFlag; string;  Indicates whether the keyword; string;  must be spell checked. The default value is true. </li><li>facetsList; string;  Finds job requisitions using find requests and facets list </li><li>hotJobFlag; string;  Indicates whether the job requisition is considered a hot job. </li><li>jobFamilyId; string;  Finds job requisitions using find requests and job family ID </li><li>keyword; string;  Finds job requisitions using find requests and keyword; string;  </li><li>lastSelectedFacet; string;  Finds job requisitions using find requests and the last selected facet </li><li>latitude; number;  Finds recruiting job requisitions using find requests and latitude; number;  </li><li>limit; integer;  Finds job requisitions using find requests and limit; integer;  </li><li>location; string;  Finds job requisitions using find requests and location; string;  </li><li>locationId; string;  Finds job requisitions using find requests and location; string;  ID </li><li>longitude; number;  Finds recruiting job requisitions using find requests and longitude; number;  </li><li>offset; integer;  Finds job requisitions using find requests and offset; integer;  </li><li>organizationId; string;  Organization ID to find job requisitions. </li><li>postingEndDate; string;  Finds job requisitions using find requests and the end date of the job posting </li><li>postingStartDate; string;  Finds job requisitions using find requests and the start date of the job posting </li><li>radius; integer;  Finds job requisitions using find requests and radius; integer;  </li><li>radiusUnit; string;  Finds job requisitions using find requests and the unit of the radius; integer;  </li><li>selectedCategoriesFacet; string;  Finds job requisitions using find requests and the selected category facet </li><li>selectedFlexFieldsFacets; string;  Finds job requisitions using selected flexfields facets </li><li>selectedLocationsFacet; string;  Finds job requisitions using find requests and location; string;  facet </li><li>selectedOrganizationsFacet; string;  Selected organization facets to find job requisitions. </li><li>selectedPostingDatesFacet; string;  Finds job requisitions using find requests and the selected facet of the date of job posting </li><li>selectedTitlesFacet; string;  Finds job requisitions using find requests and title facet </li><li>selectedWorkLocationsFacet; string;  Requisition location; string;  ID and unique ID used to find work locations in a job requisition details preview. </li><li>selectedWorkplaceTypesFacet; string;  Facet of the selected workplace type. </li><li>siteNumber; string;  Finds recruiting job requisitions using find requests and the site number </li><li>sortBy; string;  Finds job requisitions using find requests and sort by </li><li>useExactKeywordFlag; string;  Indicates whether the exact keyword; string;  is used for searching or if the keyword; string;  is automatically spell checked and corrected. The default value is false. </li><li>userTargetFacetInputTerm; string;  Term used to find facet values for the selected facet. </li><li>userTargetFacetName; string;  Name of the facet to find facet values. </li><li>workLocationCountryCode; string;  Finds job requisitions using country code of the work location; string;  </li><li>workLocationZipCode; string;  Finds job requisitions using the ZIP code of the work location; string;  </li><li>workplaceType; string;  Workplace type of the job requisition. </li></ul></li><li>findReqsByQRShortCode Finds job requisitions by QR short code. <br>Finder Variables <ul><li>limit; integer;  The maximum number of job requisitions displayed per page. </li><li>offset; integer;  The offset; integer;  value to get job requisitions from the result set. </li><li>qrShortCode; string;  The short code associated with the QR code. </li><li>siteNumber; string;  The site number associated with the short code URL. </li></ul></li><li>findSimilarRequisitions Finds similar jobs <br>Finder Variables <ul><li>candidateNumber; string;  Finds similar jobs using candidate ID </li><li>limit; integer;  Finds job requisitions using find requests and limit; integer;  </li><li>offset; integer;  Finds job requisitions using find requests and offset; integer;  </li><li>requisitionId; integer;  Finds similar jobs using job ID </li><li>siteNumber; string;  Finds similar jobs using site number </li></ul></li><li>findSimilarRequisitionsByCandidate Finds jobs by candidate. <br>Finder Variables <ul><li>candidateNumber; string;  Finds similar jobs using candidate ID </li><li>limit; integer;  Finds job requisitions using find requests and limit; integer;  </li><li>offset; integer;  Finds job requisitions using find requests and offset; integer;  </li><li>requisitionId; integer;  Finds similar jobs using job ID </li><li>siteNumber; string;  Finds similar jobs using site number </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds job requisitions using a unique ID",
                "properties": {
                  "SearchId": {
                    "default": 1,
                    "nullable": true,
                    "description": "Finds job requisitions using a search ID and a primary key",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findReqs",
                "description": "Finds job requisitions using find requests",
                "title": "findJobs",
                "properties": {
                  "selectedCategoriesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the selected category facet",
                    "type": "string"
                  },
                  "selectedTitlesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and title facet",
                    "type": "string"
                  },
                  "userTargetFacetInputTerm": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Term used to find facet values for the selected facet.",
                    "type": "string"
                  },
                  "latitude": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using find requests and latitude",
                    "type": "number"
                  },
                  "selectedPostingDatesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the selected facet of the date of job posting",
                    "type": "string"
                  },
                  "selectedWorkLocationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Requisition location ID and unique ID used to find work locations in a job requisition details preview.",
                    "type": "string"
                  },
                  "postingEndDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the end date of the job posting",
                    "type": "string"
                  },
                  "organizationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Organization ID to find job requisitions.",
                    "type": "string"
                  },
                  "locationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and location ID",
                    "type": "string"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and limit",
                    "type": "integer"
                  },
                  "workLocationZipCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using the ZIP code of the work location",
                    "type": "string"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using find requests and the site number",
                    "type": "string"
                  },
                  "sortBy": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and sort by",
                    "type": "string"
                  },
                  "useExactKeywordFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the exact keyword is used for searching or if the keyword is automatically spell checked and corrected. The default value is false.",
                    "type": "string"
                  },
                  "keyword": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and keyword",
                    "type": "string"
                  },
                  "radius": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and radius",
                    "type": "integer"
                  },
                  "radiusUnit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the unit of the radius",
                    "type": "string"
                  },
                  "workLocationCountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using country code of the work location",
                    "type": "string"
                  },
                  "facetsList": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and facets list",
                    "type": "string"
                  },
                  "longitude": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using find requests and longitude",
                    "type": "number"
                  },
                  "lastSelectedFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the last selected facet",
                    "type": "string"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and offset",
                    "type": "integer"
                  },
                  "selectedFlexFieldsFacets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using selected flexfields facets",
                    "type": "string"
                  },
                  "userTargetFacetName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the facet to find facet values.",
                    "type": "string"
                  },
                  "postingStartDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and the start date of the job posting",
                    "type": "string"
                  },
                  "selectedWorkplaceTypesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet of the selected workplace type.",
                    "type": "string"
                  },
                  "selectedOrganizationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Selected organization facets to find job requisitions.",
                    "type": "string"
                  },
                  "selectedLocationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and location facet",
                    "type": "string"
                  },
                  "correctedKeyword": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Corrected keyword used for searching, based on the spell check result.",
                    "type": "string"
                  },
                  "jobFamilyId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and job family ID",
                    "type": "string"
                  },
                  "location": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and location",
                    "type": "string"
                  },
                  "executeSpellCheckFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the keyword must be spell checked. The default value is true.",
                    "type": "string"
                  },
                  "hotJobFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether the job requisition is considered a hot job.",
                    "type": "string"
                  },
                  "workplaceType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Workplace type of the job requisition.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findReqsByQRShortCode",
                "description": "Finds job requisitions by QR short code.",
                "title": "findReqsByBotQRShortCode",
                "properties": {
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The offset value to get job requisitions from the result set.",
                    "type": "integer"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The maximum number of job requisitions displayed per page.",
                    "type": "integer"
                  },
                  "qrShortCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The short code associated with the QR code.",
                    "type": "string"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The site number associated with the short code URL.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findSimilarRequisitions",
                "description": "Finds similar jobs",
                "title": "findSimilarRequisitions",
                "properties": {
                  "requisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using job ID",
                    "type": "integer"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and offset",
                    "type": "integer"
                  },
                  "candidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using candidate ID",
                    "type": "string"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and limit",
                    "type": "integer"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using site number",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findSimilarRequisitionsByCandidate",
                "description": "Finds jobs by candidate.",
                "title": "findSimilarRequisitionsByCandidate",
                "properties": {
                  "requisitionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using job ID",
                    "type": "integer"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and offset",
                    "type": "integer"
                  },
                  "candidateNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using candidate ID",
                    "type": "string"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions using find requests and limit",
                    "type": "integer"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds similar jobs using site number",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobRequisitionsCoordinates"
                }
              }
            },
            "links": {
              "getRequisitionDetailsForMap": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionsCoordinates~1action~1getRequisitionDetailsForMap/post",
                "description": "Provides requisition and location details for the given Requisition IDs based on the work location display setting configured for the candidate experience site."
              },
              "getRequisitionsLocationCoordinates": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionsCoordinates~1action~1getRequisitionsLocationCoordinates/post",
                "description": "Provides the location coordinates for the requisitions to plot on Oracle Maps."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobRequisitionsCoordinates-get",
        "x-filename-id": "recruitingcejobrequisitionscoordinates-get"
      }
    },
    "/recruitingCEJobRequisitionsCoordinates/{SearchId}": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions"
        ],
        "summary": "Get a job requisition",
        "operationId": "get_recruitingCEJobRequisitionsCoordinates",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Location ID of the secondary locations in a job requisition details preview.",
              "nullable": true,
              "default": 1,
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobRequisitionsCoordinates-item-response"
                }
              }
            },
            "links": {
              "requisitionLocationsCoordinates": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitionsCoordinates~1{SearchId}~1child~1requisitionLocationsCoordinates/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
[...]
