{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Candidate Extra Information Details/jPersonExtraInformation",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCandidateExtraInformation/{recruitingCandidateExtraInformationUniqID}/child/jPersonExtraInformation/{jPersonExtraInformationUniqID}": {
      "get": {
        "tags": [
          "Recruiting Candidate Extra Information Details/jPersonExtraInformation"
        ],
        "summary": "Get",
        "operationId": "get_recruitingCandidateExtraInformation-jPersonExtraInformation",
        "parameters": [
          {
            "name": "recruitingCandidateExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jPersonExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateExtraInformation-jPersonExtraInformation-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateExtraInformation-{recruitingCandidateExtraInformationUniqID}-child-jPersonExtraInformation-{jPersonExtraInformationUniqID}-get",
        "x-filename-id": "recruitingcandidateextrainformation-recruitingcandidateextrainformationuniqid-child-jpersonextrainformation-jpersonextrainformationuniqid-get"
      },
      "delete": {
        "tags": [
          "Recruiting Candidate Extra Information Details/jPersonExtraInformation"
        ],
        "summary": "Delete",
        "operationId": "delete_recruitingCandidateExtraInformation-jPersonExtraInformation",
        "parameters": [
          {
            "name": "recruitingCandidateExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jPersonExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCandidateExtraInformation-{recruitingCandidateExtraInformationUniqID}-child-jPersonExtraInformation-{jPersonExtraInformationUniqID}-delete",
        "x-filename-id": "recruitingcandidateextrainformation-recruitingcandidateextrainformationuniqid-child-jpersonextrainformation-jpersonextrainformationuniqid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting Candidate Extra Information Details/jPersonExtraInformation"
        ],
        "summary": "Update",
        "operationId": "update_recruitingCandidateExtraInformation-jPersonExtraInformation",
        "parameters": [
          {
            "name": "recruitingCandidateExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jPersonExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCandidateExtraInformation-jPersonExtraInformation-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateExtraInformation-jPersonExtraInformation-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateExtraInformation-{recruitingCandidateExtraInformationUniqID}-child-jPersonExtraInformation-{jPersonExtraInformationUniqID}-patch",
        "x-filename-id": "recruitingcandidateextrainformation-recruitingcandidateextrainformationuniqid-child-jpersonextrainformation-jpersonextrainformationuniqid-patch"
      }
    },
    "/recruitingCandidateExtraInformation/{recruitingCandidateExtraInformationUniqID}/child/jPersonExtraInformation": {
      "get": {
        "tags": [
          "Recruiting Candidate Extra Information Details/jPersonExtraInformation"
        ],
        "summary": "Get all",
        "operationId": "getall_recruitingCandidateExtraInformation-jPersonExtraInformation",
        "parameters": [
          {
            "name": "recruitingCandidateExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CandidateNumber; string; Unique number assigned to each candidate in the candidate extra info.</li><li>CategoryCode; string; Unique code for the extensible flexfield category.</li><li>PersonId; integer; Person's unique identifier that the extra information is requested for.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>AltKey  <br>Finder Variables <ul><li>PersonId; integer;   </li></ul></li><li>PrimaryKey  <br>Finder Variables <ul><li>PersonId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "AltKey",
                "properties": {
                  "PersonId": {
                    "nullable": false,
                    "x-hints": {
                      "fnd:FND_AUDIT_USER_KEY": "true",
                      "fnd:FND_AUDIT_FK_VIEWOBJECT": "oracle.apps.hcm.people.core.protectedModel.view.PersonNameNDVVO",
                      "precision": 18,
                      "fnd:FND_AUDIT_ATTR_ENABLED": "true",
                      "fnd:FND_AUDIT_FK_DISPLAYATTR": "DisplayName",
                      "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.view.PersonDetailVVO\",\"findByPersonNumberKeyHelper\",\"PersonNumber:pPersonNumber;\",\"findByPersonIdKeyHelper\",\"PersonId:pPersonId;\");",
                      "fnd:GLOBALLY_UNIQUE": "true",
                      "fnd:FND_AUDIT_FK_WHEREATTR": "PersonId"
                    },
                    "format": "int64",
                    "type": "integer",
                    "title": "Person ID"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "properties": {
                  "PersonId": {
                    "nullable": false,
                    "x-hints": {
                      "fnd:FND_AUDIT_USER_KEY": "true",
                      "fnd:FND_AUDIT_FK_VIEWOBJECT": "oracle.apps.hcm.people.core.protectedModel.view.PersonNameNDVVO",
                      "precision": 18,
                      "fnd:FND_AUDIT_ATTR_ENABLED": "true",
                      "fnd:FND_AUDIT_FK_DISPLAYATTR": "DisplayName",
                      "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.view.PersonDetailVVO\",\"findByPersonNumberKeyHelper\",\"PersonNumber:pPersonNumber;\",\"findByPersonIdKeyHelper\",\"PersonId:pPersonId;\");",
                      "fnd:GLOBALLY_UNIQUE": "true",
                      "fnd:FND_AUDIT_FK_WHEREATTR": "PersonId"
                    },
                    "format": "int64",
                    "type": "integer",
                    "title": "Person ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateExtraInformation-jPersonExtraInformation"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateExtraInformation-{recruitingCandidateExtraInformationUniqID}-child-jPersonExtraInformation-get",
        "x-filename-id": "recruitingcandidateextrainformation-recruitingcandidateextrainformationuniqid-child-jpersonextrainformation-get"
      },
      "post": {
        "tags": [
          "Recruiting Candidate Extra Information Details/jPersonExtraInformation"
        ],
        "summary": "Create",
        "operationId": "create_recruitingCandidateExtraInformation-jPersonExtraInformation",
        "parameters": [
          {
            "name": "recruitingCandidateExtraInformationUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCandidateExtraInformation-jPersonExtraInformation-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateExtraInformation-jPersonExtraInformation-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateExtraInformation-{recruitingCandidateExtraInformationUniqID}-child-jPersonExtraInformation-post",
        "x-filename-id": "recruitingcandidateextrainformation-recruitingcandidateextrainformationuniqid-child-jpersonextrainformation-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCandidateExtraInformation-jPersonExtraInformation-item-response": {
        "discriminator": {
          "propertyName": "CategoryCode",
          "mapping": {
            "PER_EIT": "#/components/schemas/oracle_apps_hcm_people_core_flex_personEITEFF_base_view_j__PersonExtraInformationPerEitprivateVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_hcm_people_core_flex_personEITEFF_base_view_j__PersonExtraInformationPerEitprivateVO-item-response"
          }
        ]
      },
      "oracle_apps_hcm_people_core_flex_personEITEFF_base_view_j__PersonExtraInformationPerEitprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CategoryCode": {
            "maxLength": 80,
            "type": "string",
            "nullable": false,
            "default": "PER_EIT",
            "x-hints": {
              "DLoadHidden": "true"
            }
          },
          "PersonExtraInformationContextHRX_5FCN_5FMILITARY_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FMILITARY_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextHRX_5FCN_5FOTHER_5FEMPLOYEE_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FOTHER_5FEMPLOYEE_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextHRX_5FCN_5FPERSONALITY_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FPERSONALITY_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextHRX_5FCN_5FPERSONAL_5FFILE_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FPERSONAL_5FFILE_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextHRX_5FCN_5FPOLITICAL_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FPOLITICAL_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextHRX_5FIN_5FMISCELLANEOUSprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FIN_5FMISCELLANEOUSprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextHRX_5FIN_5FNOMINATIONprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FCA_5FDESIGNATED_5FGROUPSprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FCA_5FDESIGNATED_5FGROUPSprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextORA_5FHRX_5FFR_5FDISC_5FACTIONSprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FFR_5FDISC_5FACTIONSprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FFR_5FMED_5FEXAMprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FFR_5FMED_5FEXAMprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FFR_5FPERSO_5FREPprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FFR_5FPERSO_5FREPprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FGB_5FSWC_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FGB_5FSWC_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonExtraInformationContextORA_5FHRX_5FGB_5FSWC_5FQUAL_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FGB_5FSWC_5FQUAL_5FINFOprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FIT_5FDISC_5FACTIONSprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FIT_5FDISC_5FACTIONSprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FIT_5FORG_5FROLEprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FIT_5FORG_5FROLEprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FHRX_5FIT_5FTRADE_5FUNION_5FRELprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FHRX_5FIT_5FTRADE_5FUNION_5FRELprivateVO-item-response"
            }
          },
          "PersonExtraInformationContextORA_5FIRC_5FCONTINGENT_5FTALENT_5FINFOprivateVO": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/emps-personExtraInformation-PersonExtraInformationContextORA_5FIRC_5FCONTINGENT_5FTALENT_5FINFOprivateVO-item-response"
            },
            "x-cardinality": "1"
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "fnd:FND_AUDIT_USER_KEY": "true",
              "fnd:FND_AUDIT_FK_VIEWOBJECT": "oracle.apps.hcm.people.core.protectedModel.view.PersonNameNDVVO",
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:FND_AUDIT_FK_DISPLAYATTR": "DisplayName",
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.view.PersonDetailVVO\",\"findByPersonNumberKeyHelper\",\"PersonNumber:pPersonNumber;\",\"findByPersonIdKeyHelper\",\"PersonId:pPersonId;\");",
              "fnd:GLOBALLY_UNIQUE": "true",
              "fnd:FND_AUDIT_FK_WHEREATTR": "PersonId"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FMILITARY_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiAttributeCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_CN_MILITARY_INFO",
            "x-hints": {
              "fnd:FND_AUDIT_FORCE_WRITE": "true",
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true"
            }
          },
          "PersonExtraInfoId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDCUSTOMVC__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonExtraInfoDEO",
              "DLoadLOVReturnAttributes": "PersonExtraInfoId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonId,PeiInformationCategory]",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.flex.personExtraInfoEFF.view.PersonExtraInformationContextVO\",\"PersonId;PeiInformationCategory;\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonExtraInfoNonDEVO",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "PersonId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDDS__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonDEO",
              "DLoadLOVReturnAttributes": "PersonId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonNumber]",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.recruiting.util.CandidatePersonSwitchHelper\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonDetailsVO"
            }
          },
          "demobilizationApprovalAuthorit": {
            "title": "Demobilization Approval Authority",
            "maxLength": 150,
            "type": "string",
            "description": "Demobilization Approval Authority",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Demobilization Approval Authority"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "demobilizationApprovalAuthorit",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "PEI_INFORMATION2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "APPROVE_UNIT_LEAVE",
              "FND_ACFF_SegmentName": "APPROVE_UNIT_LEAVE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "demobilizationApprovalDate": {
            "title": "Demobilization Approval Date",
            "type": "string",
            "description": "Demobilization Approval Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Demobilization Approval Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "demobilizationApprovalDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "APPROVE_DATE_LEAVE",
              "FND_ACFF_SegmentName": "APPROVE_DATE_LEAVE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "enlistmentDate": {
            "title": "Enlistment Date",
            "type": "string",
            "description": "Enlistment Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Enlistment Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "enlistmentDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "JOIN_DATE",
              "FND_ACFF_SegmentName": "JOIN_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "enlistmentLocation": {
            "title": "Enlistment Location",
            "maxLength": 150,
            "type": "string",
            "description": "Enlistment Location",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Enlistment Location"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_50#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "enlistmentLocation",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "50",
              "FND_ACFF_ColumnName": "PEI_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "JOIN_PLACE",
              "FND_ACFF_SegmentName": "JOIN_PLACE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "jobPriorToDemobilization": {
            "title": "Job Prior to Demobilization",
            "maxLength": 150,
            "type": "string",
            "description": "Job Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Job Prior to Demobilization"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "jobPriorToDemobilization",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "PEI_INFORMATION3",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "LAST_POSITION",
              "FND_ACFF_SegmentName": "LAST_POSITION",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "militaryLevelPriorToDemobiliza": {
            "title": "Military Level Prior to Demobilization",
            "maxLength": 150,
            "type": "string",
            "description": "Military Level Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "militaryLevelPriorToDemobiliza_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "militaryLevelPriorToDemobiliza",
              "FND_ACFF_SegmentName": "LAST_LEVEL",
              "help": {
                "instruction": "Military Level Prior to Demobilization"
              },
              "FND_ACFF_ValueSetInfo": "HRX_CN_MILITARY_LEVEL#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PEI_INFORMATION5",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "LAST_LEVEL",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "militaryLevelPriorToDemobiliza_Display": {
            "title": "Military Level Prior to Demobilization",
            "type": "string",
            "description": "Military Level Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "militaryLevelPriorToDemobiliza",
              "help": {
                "instruction": "Military Level Prior to Demobilization"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "professionalTechnicalLevelPrio": {
            "title": "Professional Technical Level Prior to Demobilization",
            "maxLength": 150,
            "type": "string",
            "description": "Professional Technical Level Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Professional Technical Level Prior to Demobilization"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "professionalTechnicalLevelPrio",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "PEI_INFORMATION6",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "LAST_PROF_TITLE_LEVEL",
              "FND_ACFF_SegmentName": "LAST_PROF_TITLE_LEVEL",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "rankPriorToDemobilization": {
            "title": "Rank Prior to Demobilization",
            "maxLength": 150,
            "type": "string",
            "description": "Rank Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "rankPriorToDemobilization_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "rankPriorToDemobilization",
              "FND_ACFF_SegmentName": "LAST_RANK",
              "help": {
                "instruction": "Rank Prior to Demobilization"
              },
              "FND_ACFF_ValueSetInfo": "HRX_CN_MILITARY_RANK#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PEI_INFORMATION4",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "LAST_RANK",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "rankPriorToDemobilization_Display": {
            "title": "Rank Prior to Demobilization",
            "type": "string",
            "description": "Rank Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "rankPriorToDemobilization",
              "help": {
                "instruction": "Rank Prior to Demobilization"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "registeredForReserve": {
            "title": "Registered for Reserve",
            "maxLength": 150,
            "type": "string",
            "description": "Registered for Reserve",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "registeredForReserve_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "registeredForReserve",
              "FND_ACFF_SegmentName": "RESERVE_OFFICIAL_RESIGNATION",
              "help": {
                "instruction": "Registered for Reserve"
              },
              "FND_ACFF_ValueSetInfo": "HRC_YES_NO#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PEI_INFORMATION8",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "RESERVE_OFFICIAL_RESIGNATION",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "registeredForReserve_Display": {
            "title": "Registered for Reserve",
            "type": "string",
            "description": "Registered for Reserve",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "registeredForReserve",
              "help": {
                "instruction": "Registered for Reserve"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "salaryGradePriorToDemobilizati": {
            "title": "Salary Grade Prior to Demobilization",
            "maxLength": 150,
            "type": "string",
            "description": "Salary Grade Prior to Demobilization",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Salary Grade Prior to Demobilization"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_20#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "salaryGradePriorToDemobilizati",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "20",
              "FND_ACFF_ColumnName": "PEI_INFORMATION7",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "LAST_SALARY_GRADE",
              "FND_ACFF_SegmentName": "LAST_SALARY_GRADE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FOTHER_5FEMPLOYEE_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiAttributeCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_CN_OTHER_EMPLOYEE_INFO",
            "x-hints": {
              "fnd:FND_AUDIT_FORCE_WRITE": "true",
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true"
            }
          },
          "PersonExtraInfoId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDCUSTOMVC__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonExtraInfoDEO",
              "DLoadLOVReturnAttributes": "PersonExtraInfoId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonId,PeiInformationCategory]",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.flex.personExtraInfoEFF.view.PersonExtraInformationContextVO\",\"PersonId;PeiInformationCategory;\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonExtraInfoNonDEVO",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "PersonId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDDS__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonDEO",
              "DLoadLOVReturnAttributes": "PersonId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonNumber]",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.recruiting.util.CandidatePersonSwitchHelper\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonDetailsVO"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "workingLifeStartDate": {
            "title": "Working Life Start Date",
            "type": "string",
            "description": "Working Life Start Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Working Life Start Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "workingLifeStartDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "WORK_LIFE_START_DATE",
              "FND_ACFF_SegmentName": "WORK_LIFE_START_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FPERSONALITY_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiAttributeCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_CN_PERSONALITY_INFO",
            "x-hints": {
              "fnd:FND_AUDIT_FORCE_WRITE": "true",
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true"
            }
          },
          "PersonExtraInfoId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDCUSTOMVC__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonExtraInfoDEO",
              "DLoadLOVReturnAttributes": "PersonExtraInfoId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonId,PeiInformationCategory]",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.flex.personExtraInfoEFF.view.PersonExtraInformationContextVO\",\"PersonId;PeiInformationCategory;\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonExtraInfoNonDEVO",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "PersonId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDDS__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonDEO",
              "DLoadLOVReturnAttributes": "PersonId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonNumber]",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.recruiting.util.CandidatePersonSwitchHelper\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonDetailsVO"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "personalIdentity": {
            "title": "Personal Identity",
            "maxLength": 150,
            "type": "string",
            "description": "Personal Identity",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "personalIdentity_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "personalIdentity",
              "FND_ACFF_SegmentName": "IDENTITY",
              "help": {
                "instruction": "Personal Identity"
              },
              "FND_ACFF_ValueSetInfo": "HRX_CN_IDENTITY#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PEI_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "IDENTITY",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "personalIdentity_Display": {
            "title": "Personal Identity",
            "type": "string",
            "description": "Personal Identity",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "personalIdentity",
              "help": {
                "instruction": "Personal Identity"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FPERSONAL_5FFILE_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiAttributeCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_CN_PERSONAL_FILE_INFO",
            "x-hints": {
              "fnd:FND_AUDIT_FORCE_WRITE": "true",
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true"
            }
          },
          "PersonExtraInfoId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDCUSTOMVC__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonExtraInfoDEO",
              "DLoadLOVReturnAttributes": "PersonExtraInfoId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonId,PeiInformationCategory]",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.flex.personExtraInfoEFF.view.PersonExtraInformationContextVO\",\"PersonId;PeiInformationCategory;\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonExtraInfoNonDEVO",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "PersonId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDDS__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonDEO",
              "DLoadLOVReturnAttributes": "PersonId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonNumber]",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.recruiting.util.CandidatePersonSwitchHelper\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonDetailsVO"
            }
          },
          "archivedFormat": {
            "title": "Archived Format",
            "maxLength": 150,
            "type": "string",
            "description": "Archived Format",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_DisplayAttributeName": "archivedFormat_Display",
              "DISPLAYHINT": "Hide",
              "FND_ACFF_EFF_HAS_LOV": "true",
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "FND_ACFF_OpenIdentifier": "archivedFormat",
              "FND_ACFF_SegmentName": "ARCHIVE_FORMAT",
              "help": {
                "instruction": "Archived Format"
              },
              "FND_ACFF_ValueSetInfo": "HRX_CN_FILE_ARCHIVE#TABLE",
              "FND_ACFF_EFF_TVVS_ID_BASE_VALUE": "Y",
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Show",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ColumnName": "PEI_INFORMATION2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ARCHIVE_FORMAT",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "archivedFormat_Display": {
            "title": "Archived Format",
            "type": "string",
            "description": "Archived Format",
            "nullable": true,
            "x-hints": {
              "FND_ACFF_SegmentAttributeName": "archivedFormat",
              "help": {
                "instruction": "Archived Format"
              },
              "controlType": "combo_lov",
              "includeInCompactView": true,
              "FlexClientDisplayHint": "Hide",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Value",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "fileNumber": {
            "title": "File Number",
            "maxLength": 150,
            "type": "string",
            "description": "File Number",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "File Number"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_20#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "fileNumber",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "20",
              "FND_ACFF_ColumnName": "PEI_INFORMATION1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "FILE_NUMBER",
              "FND_ACFF_SegmentName": "FILE_NUMBER",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "originalCopyStorageLocation": {
            "title": "Original Copy Storage Location",
            "maxLength": 150,
            "type": "string",
            "description": "Original Copy Storage Location",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Original Copy Storage Location"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "originalCopyStorageLocation",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "PEI_INFORMATION5",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "ORIGINAL_COPY_LOCATION",
              "FND_ACFF_SegmentName": "ORIGINAL_COPY_LOCATION",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "secondaryCopyStorageLocation": {
            "title": "Secondary Copy Storage Location",
            "maxLength": 150,
            "type": "string",
            "description": "Secondary Copy Storage Location",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Secondary Copy Storage Location"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_30#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "secondaryCopyStorageLocation",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "30",
              "FND_ACFF_ColumnName": "PEI_INFORMATION6",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "DUPLICATE_COPY_LOCATION",
              "FND_ACFF_SegmentName": "DUPLICATE_COPY_LOCATION",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "transferFromOrganization": {
            "title": "Transfer From Organization",
            "maxLength": 150,
            "type": "string",
            "description": "Transfer From Organization",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Transfer From Organization"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_20#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "transferFromOrganization",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "20",
              "FND_ACFF_ColumnName": "PEI_INFORMATION3",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "SOURCE_UNIT",
              "FND_ACFF_SegmentName": "SOURCE_UNIT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "transferInDate": {
            "title": "Transfer In Date",
            "type": "string",
            "description": "Transfer In Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Transfer In Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "transferInDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "TRANSFER_IN_DATE",
              "FND_ACFF_SegmentName": "TRANSFER_IN_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "transferOutDate": {
            "title": "Transfer Out Date",
            "type": "string",
            "description": "Transfer Out Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Transfer Out Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "transferOutDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "TRANSFER_OUT_DATE",
              "FND_ACFF_SegmentName": "TRANSFER_OUT_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "transferToOrganization": {
            "title": "Transfer To Organization",
            "maxLength": 150,
            "type": "string",
            "description": "Transfer To Organization",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Transfer To Organization"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_20#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "transferToOrganization",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "20",
              "FND_ACFF_ColumnName": "PEI_INFORMATION4",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "TARGET_UNIT",
              "FND_ACFF_SegmentName": "TARGET_UNIT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "emps-personExtraInformation-PersonExtraInformationContextHRX_5FCN_5FPOLITICAL_5FINFOprivateVO-item-response": {
        "type": "object",
        "properties": {
          "CreationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true",
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiAttributeCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "PeiInformationCategory": {
            "maxLength": 30,
            "type": "string",
            "nullable": true,
            "default": "HRX_CN_POLITICAL_INFO",
            "x-hints": {
              "fnd:FND_AUDIT_FORCE_WRITE": "true",
              "DISPLAYHINT": "Hide",
              "DUMP_EVEN_UNCHANGED": "true"
            }
          },
          "PersonExtraInfoId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDCUSTOMVC__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonExtraInfoDEO",
              "DLoadLOVReturnAttributes": "PersonExtraInfoId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonId,PeiInformationCategory]",
              "includeInCompactView": true,
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.flex.personExtraInfoEFF.view.PersonExtraInformationContextVO\",\"PersonId;PeiInformationCategory;\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonExtraInfoNonDEVO",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "PersonId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DLoadLOVListSecurityViewCriteria": "FNDDS__PER_MANAGE_PERSON_EXTRA_INFO_DATA__PER_ALL_PEOPLE_F__PersonDEO",
              "DLoadLOVReturnAttributes": "PersonId",
              "DISPLAYHINT": "Hide",
              "DLoadLOVDisplayAttributes": "[PersonNumber]",
              "precision": 18,
              "KeyHelper": "keyContextHelper.resolve(\"oracle.apps.hcm.people.core.protectedModel.recruiting.util.CandidatePersonSwitchHelper\");",
              "DLoadLOVViewDefName": "oracle.apps.hcm.people.core.protectedModel.common.view.PersonDetailsVO"
            }
          },
          "formalMembershipStartDate": {
            "title": "Formal Membership Start Date",
            "type": "string",
            "description": "Formal Membership Start Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Formal Membership Start Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "formalMembershipStartDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE2",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "MEMBER_FROM_DATE",
              "FND_ACFF_SegmentName": "MEMBER_FROM_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "membershipAcquiredDate": {
            "title": "Membership Acquired Date",
            "type": "string",
            "description": "Membership Acquired Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Membership Acquired Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "membershipAcquiredDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE1",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "JOIN_DATE",
              "FND_ACFF_SegmentName": "JOIN_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "membershipAcquiredLocation": {
            "title": "Membership Acquired Location",
            "maxLength": 150,
            "type": "string",
            "description": "Membership Acquired Location",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Membership Acquired Location"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_20#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "membershipAcquiredLocation",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "20",
              "FND_ACFF_ColumnName": "PEI_INFORMATION5",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "JOIN_PLACE",
              "FND_ACFF_SegmentName": "JOIN_PLACE",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "membershipAcquiredOrganization": {
            "title": "Membership Acquired Organization",
            "maxLength": 150,
            "type": "string",
            "description": "Membership Acquired Organization",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Membership Acquired Organization"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_CHAR_20#FORMAT_ONLY",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "membershipAcquiredOrganization",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "20",
              "FND_ACFF_ColumnName": "PEI_INFORMATION6",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "JOIN_UNIT",
              "FND_ACFF_SegmentName": "JOIN_UNIT",
              "FND_ACFF_PreferredDisplayType": "TEXT_BOX"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "membershipExceptionDate": {
            "title": "Membership Exception Date",
            "type": "string",
            "description": "Membership Exception Date",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Membership Exception Date"
              },
              "FND_ACFF_EFF_SEGMENT_ATTRIBUTE": "true",
              "FND_ACFF_ValueSetInfo": "HRC_STANDARD_DATE#FORMAT_ONLY",
              "controlType": "date",
              "FND_ACFF_EFF_INDEXED_FLAG": "N",
              "includeInCompactView": true,
              "FND_ACFF_OpenIdentifier": "membershipExceptionDate",
              "FND_ACFF_JavaType": "java.sql.Date",
              "FND_ACFF_ColumnName": "PEI_INFORMATION_DATE3",
              "FND_ACFF_EFF_CONTEXT_SEGMENT_CODE": "EXCEPTION_DATE",
              "FND_ACFF_SegmentName": "EXCEPTION_DATE",
              "FND_ACFF_PreferredDisplayType": "DATE_TIME"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "membershipExceptionReason": {
            "title": "Membership Exception Reason",
            "maxLength": 150,
            "type": "string",
            "description": "Membership Exception Reason",
            "nullable": true,
[...]
