{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Candidate Assessment Results/Packages of Recruiting Candidate Assessment Results/Large Object (LOB) Attributes - StatusDescription",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCandidateAssessmentResults/{recruitingCandidateAssessmentResultsUniqID}/child/packages/{packagesUniqID}/enclosure/StatusDescription": {
      "get": {
        "tags": [
          "Recruiting Candidate Assessment Results/Packages of Recruiting Candidate Assessment Results/Large Object (LOB) Attributes - StatusDescription"
        ],
        "summary": "Get a StatusDescription",
        "description": "Get a StatusDescription",
        "operationId": "get_recruitingCandidateAssessmentResults-packages-StatusDescription",
        "parameters": [
          {
            "name": "recruitingCandidateAssessmentResultsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PartnerId, RequisitionNumber and CandidateNumber ---for the Recruiting Candidate Assessment Results resource and used to uniquely identify an instance of Recruiting Candidate Assessment Results. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Candidate Assessment Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Candidate Assessment Results.<br><br>For example: recruitingCandidateAssessmentResults?q=PartnerId=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;;CandidateNumber=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packagesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TriggerType and PackageCode ---for the Packages of Recruiting Candidate Assessment Results resource and used to uniquely identify an instance of Packages of Recruiting Candidate Assessment Results. The client should not generate the hash key value.  Instead, the client should query on the Packages of Recruiting Candidate Assessment Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Packages of Recruiting Candidate Assessment Results.<br><br>For example: packages?q=TriggerType=&lt;value1&gt;;PackageCode=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateAssessmentResults-{recruitingCandidateAssessmentResultsUniqID}-child-packages-{packagesUniqID}-enclosure-StatusDescription-get",
        "x-filename-id": "recruitingcandidateassessmentresults-recruitingcandidateassessmentresultsuniqid-child-packages-packagesuniqid-enclosure-statusdescription-get"
      },
      "put": {
        "tags": [
          "Recruiting Candidate Assessment Results/Packages of Recruiting Candidate Assessment Results/Large Object (LOB) Attributes - StatusDescription"
        ],
        "summary": "Replace a StatusDescription",
        "description": "Replace a StatusDescription",
        "operationId": "replace_recruitingCandidateAssessmentResults-packages-StatusDescription",
        "parameters": [
          {
            "name": "recruitingCandidateAssessmentResultsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PartnerId, RequisitionNumber and CandidateNumber ---for the Recruiting Candidate Assessment Results resource and used to uniquely identify an instance of Recruiting Candidate Assessment Results. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Candidate Assessment Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Candidate Assessment Results.<br><br>For example: recruitingCandidateAssessmentResults?q=PartnerId=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;;CandidateNumber=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packagesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TriggerType and PackageCode ---for the Packages of Recruiting Candidate Assessment Results resource and used to uniquely identify an instance of Packages of Recruiting Candidate Assessment Results. The client should not generate the hash key value.  Instead, the client should query on the Packages of Recruiting Candidate Assessment Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Packages of Recruiting Candidate Assessment Results.<br><br>For example: packages?q=TriggerType=&lt;value1&gt;;PackageCode=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCandidateAssessmentResults-{recruitingCandidateAssessmentResultsUniqID}-child-packages-{packagesUniqID}-enclosure-StatusDescription-put",
        "x-filename-id": "recruitingcandidateassessmentresults-recruitingcandidateassessmentresultsuniqid-child-packages-packagesuniqid-enclosure-statusdescription-put"
      },
      "delete": {
        "tags": [
          "Recruiting Candidate Assessment Results/Packages of Recruiting Candidate Assessment Results/Large Object (LOB) Attributes - StatusDescription"
        ],
        "summary": "Delete a StatusDescription",
        "description": "Delete a StatusDescription",
        "operationId": "delete_recruitingCandidateAssessmentResults-packages-StatusDescription",
        "parameters": [
          {
            "name": "recruitingCandidateAssessmentResultsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PartnerId, RequisitionNumber and CandidateNumber ---for the Recruiting Candidate Assessment Results resource and used to uniquely identify an instance of Recruiting Candidate Assessment Results. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Candidate Assessment Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Candidate Assessment Results.<br><br>For example: recruitingCandidateAssessmentResults?q=PartnerId=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;;CandidateNumber=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packagesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TriggerType and PackageCode ---for the Packages of Recruiting Candidate Assessment Results resource and used to uniquely identify an instance of Packages of Recruiting Candidate Assessment Results. The client should not generate the hash key value.  Instead, the client should query on the Packages of Recruiting Candidate Assessment Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Packages of Recruiting Candidate Assessment Results.<br><br>For example: packages?q=TriggerType=&lt;value1&gt;;PackageCode=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCandidateAssessmentResults-{recruitingCandidateAssessmentResultsUniqID}-child-packages-{packagesUniqID}-enclosure-StatusDescription-delete",
        "x-filename-id": "recruitingcandidateassessmentresults-recruitingcandidateassessmentresultsuniqid-child-packages-packagesuniqid-enclosure-statusdescription-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}