{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Themes/Custom Headers of Themes",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEThemes/{ThemeNumber}/child/customHeaders/{HeaderId}": {
      "get": {
        "tags": [
          "Recruiting CE Themes/Custom Headers of Themes"
        ],
        "summary": "Get details of Headers in recruitingCEThemes",
        "operationId": "get_recruitingCEThemes-customHeaders",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HeaderId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Header ID for custom headers in recruitingCEThemes.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-response"
                }
              }
            },
            "links": {
              "settings": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders~1{HeaderId}~1child~1settings/get",
                "parameters": {
                  "HeaderId": "$request.path.HeaderId",
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders~1{HeaderId}~1child~1translations/get",
                "parameters": {
                  "HeaderId": "$request.path.HeaderId",
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The translations resource is a child of customHeaders. It includes the headers translations. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-child-customHeaders-{HeaderId}-get",
        "x-filename-id": "recruitingcethemes-themenumber-child-customheaders-headerid-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Themes/Custom Headers of Themes"
        ],
        "summary": "Delete details of recruitingCEThemes Headers",
        "operationId": "delete_recruitingCEThemes-customHeaders",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HeaderId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Header ID for custom headers in recruitingCEThemes.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-child-customHeaders-{HeaderId}-delete",
        "x-filename-id": "recruitingcethemes-themenumber-child-customheaders-headerid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Themes/Custom Headers of Themes"
        ],
        "summary": "Update details of recruitingCEThemes Headers",
        "operationId": "update_recruitingCEThemes-customHeaders",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HeaderId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Header ID for custom headers in recruitingCEThemes.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCEThemes-customHeaders-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-response"
                }
              }
            },
            "links": {
              "settings": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders~1{HeaderId}~1child~1settings/get",
                "parameters": {
                  "HeaderId": "$request.path.HeaderId",
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders~1{HeaderId}~1child~1translations/get",
                "parameters": {
                  "HeaderId": "$request.path.HeaderId",
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The translations resource is a child of customHeaders. It includes the headers translations. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-child-customHeaders-{HeaderId}-patch",
        "x-filename-id": "recruitingcethemes-themenumber-child-customheaders-headerid-patch"
      }
    },
    "/recruitingCEThemes/{ThemeNumber}/child/customHeaders": {
      "get": {
        "tags": [
          "Recruiting CE Themes/Custom Headers of Themes"
        ],
        "summary": "Get all details of recruitingCEThemes Headers",
        "operationId": "getall_recruitingCEThemes-customHeaders",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EmployeeText; string; Employee text for custom headers in recruitingCEThemes.</li><li>HeaderId; integer; Header ID for custom headers in recruitingCEThemes.</li><li>LogoURL; string; Logo URL for custom headers in recruitingCEThemes.</li><li>Name; string; Name for custom headers in recruitingCEThemes.</li><li>ProfileText; string; Profile text for custom headers in recruitingCEThemes.</li><li>ThemeId; integer; Theme ID for custom headers in recruitingCEThemes.</li><li>Type; string; Type for custom headers in recruitingCEThemes.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds headers in recruitingCEThemes using RowFinder. <br>Finder Variables <ul><li>HeaderId; integer;  Finds headers in recruitingCEThemes using a unique ID. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds headers in recruitingCEThemes using RowFinder.",
                "properties": {
                  "HeaderId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds headers in recruitingCEThemes using a unique ID.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-customHeaders"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-child-customHeaders-get",
        "x-filename-id": "recruitingcethemes-themenumber-child-customheaders-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Themes/Custom Headers of Themes"
        ],
        "summary": "Create details of recruitingCEThemes Headers",
        "operationId": "create_recruitingCEThemes-customHeaders",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCEThemes-customHeaders-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-response"
                }
              }
            },
            "links": {
              "settings": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders~1{HeaderId}~1child~1settings/get",
                "parameters": {
                  "HeaderId": "$request.path.HeaderId",
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders~1{HeaderId}~1child~1translations/get",
                "parameters": {
                  "HeaderId": "$request.path.HeaderId",
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The translations resource is a child of customHeaders. It includes the headers translations. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-child-customHeaders-post",
        "x-filename-id": "recruitingcethemes-themenumber-child-customheaders-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEThemes-customHeaders-item-response": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "HeaderId": {
            "type": "integer",
            "description": "Header ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "Name": {
            "maxLength": 1000,
            "type": "string",
            "description": "Name for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "ThemeId": {
            "type": "integer",
            "description": "Theme ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Type": {
            "maxLength": 200,
            "type": "string",
            "description": "Type for custom headers in recruitingCEThemes.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "settings": {
            "title": "Settings of the Widget",
            "type": "array",
            "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-settings-item-response"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-translations-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-settings-item-response": {
        "type": "object",
        "properties": {
          "SettingId": {
            "type": "integer",
            "description": "Setting ID for custom header settings in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SettingKey": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting key for custom header settings in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "SettingValue": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting value for custom header settings in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-translations-item-response": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom header translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language for custom header translations in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom header translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom header translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language for custom header translations in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-item-patch-request": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "Name": {
            "maxLength": 1000,
            "type": "string",
            "description": "Name for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "ThemeId": {
            "type": "integer",
            "description": "Theme ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Type": {
            "maxLength": 200,
            "type": "string",
            "description": "Type for custom headers in recruitingCEThemes.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "settings": {
            "title": "Settings of the Widget",
            "type": "array",
            "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-settings-item-patch-request"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-translations-item-patch-request"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-settings-item-patch-request": {
        "type": "object",
        "properties": {
          "SettingValue": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting value for custom header settings in recruitingCEThemes.",
            "nullable": true
          }
        }
      },
      "recruitingCEThemes-customHeaders-translations-item-patch-request": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom header translations in recruitingCEThemes.",
            "nullable": true
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom header translations in recruitingCEThemes.",
            "nullable": true
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom header translations in recruitingCEThemes.",
            "nullable": true
          }
        }
      },
      "recruitingCEThemes-customHeaders": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingCEThemes-customHeaders-item-post-request": {
        "required": [
          "ThemeId",
          "Type"
        ],
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "HeaderId": {
            "type": "integer",
            "description": "Header ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "Name": {
            "maxLength": 1000,
            "type": "string",
            "description": "Name for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "ThemeId": {
            "type": "integer",
            "description": "Theme ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Type": {
            "maxLength": 200,
            "type": "string",
            "description": "Type for custom headers in recruitingCEThemes.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "settings": {
            "title": "Settings of the Widget",
            "type": "array",
            "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-settings-item-post-request"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-translations-item-post-request"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-settings-item-post-request": {
        "type": "object",
        "properties": {
          "SettingId": {
            "type": "integer",
            "description": "Setting ID for custom header settings in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "SettingKey": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting key for custom header settings in recruitingCEThemes.",
            "nullable": false
          },
          "SettingValue": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting value for custom header settings in recruitingCEThemes.",
            "nullable": true
          }
        }
      },
      "recruitingCEThemes-customHeaders-translations-item-post-request": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom header translations in recruitingCEThemes.",
            "nullable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language for custom header translations in recruitingCEThemes.",
            "nullable": false
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom header translations in recruitingCEThemes.",
            "nullable": true
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom header translations in recruitingCEThemes.",
            "nullable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language for custom header translations in recruitingCEThemes.",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCEThemes-customHeaders-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-patch-request"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}