{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Campaign Email Designs",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingMessageDesigns/{MessageDesignId}": {
      "get": {
        "tags": [
          "Recruiting Campaign Email Designs"
        ],
        "summary": "Get a message design",
        "operationId": "get_recruitingMessageDesigns",
        "parameters": [
          {
            "name": "MessageDesignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "MessageDesignId for each message design metadata.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMessageDesigns-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1attachments/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The attachments resource is a child of messageDesigns. It includes the details of attachments."
              },
              "messageDesignTypes": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1messageDesignTypes/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The resource messageDesignTypes is to get different types of message designs."
              },
              "messageDesignMetadata": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1messageDesignMetadata/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The messageDesignMetadata resource is a child of messageDesigns. It includes the details to get the details of different Message Design data."
              }
            }
          }
        },
        "x-internal-id": "recruitingMessageDesigns-{MessageDesignId}-get",
        "x-filename-id": "recruitingmessagedesigns-messagedesignid-get"
      },
      "delete": {
        "tags": [
          "Recruiting Campaign Email Designs"
        ],
        "summary": "Get a message design metadata",
        "operationId": "delete_recruitingMessageDesigns",
        "parameters": [
          {
            "name": "MessageDesignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "MessageDesignId for each message design metadata.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingMessageDesigns-{MessageDesignId}-delete",
        "x-filename-id": "recruitingmessagedesigns-messagedesignid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting Campaign Email Designs"
        ],
        "summary": "Delete a message design metadata",
        "operationId": "update_recruitingMessageDesigns",
        "parameters": [
          {
            "name": "MessageDesignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "MessageDesignId for each message design metadata.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingMessageDesigns-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMessageDesigns-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1attachments/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The attachments resource is a child of messageDesigns. It includes the details of attachments."
              },
              "messageDesignTypes": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1messageDesignTypes/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The resource messageDesignTypes is to get different types of message designs."
              },
              "messageDesignMetadata": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1messageDesignMetadata/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The messageDesignMetadata resource is a child of messageDesigns. It includes the details to get the details of different Message Design data."
              }
            }
          }
        },
        "x-internal-id": "recruitingMessageDesigns-{MessageDesignId}-patch",
        "x-filename-id": "recruitingmessagedesigns-messagedesignid-patch"
      }
    },
    "/recruitingMessageDesigns": {
      "get": {
        "tags": [
          "Recruiting Campaign Email Designs"
        ],
        "summary": "Delete a message design",
        "operationId": "getall_recruitingMessageDesigns",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreatedByName; string; Name of the user who created the message template.</li><li>DesignEditorTypeCode; string; Editor type used for creating a message template.</li><li>DesignName; string; Name of the Message Design.</li><li>DesignStatusCode; string; Code for the design status for each message design.</li><li>DesignTypeCode; string; Code assigned to the design type for message designs.</li><li>LastUpdateDate; string; Date of last update for the message designs.</li><li>MessageDesignCode; string; Message design code.</li><li>MessageDesignId; integer; Unique code for message designs.</li><li>ModuleId; string; Module ID for the message designs.</li><li>TemplateDescription; string; Description of the template.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>FindByMessageDesignCode Finds the message designs using different attributes <br>Finder Variables <ul><li>MessageDesignCode; string;  Finds the message designs using messageDesignCode </li></ul></li><li>PrimaryKey Finds the message designs by unique identifier <br>Finder Variables <ul><li>MessageDesignId; integer;  Finds the message design metadata using a unique identifier and MessageDesignId; integer;  </li></ul></li><li>RowFinder Finds the message designs using unique identifier <br>Finder Variables <ul><li>pCampaignId; integer;   </li><li>pDesignEditorTypeCode; string;   </li><li>pDesignTypeCode; string;  Finds the message designs using unique identifier and MessageDesignId; integer;  </li><li>pLookupCode; string;   </li></ul></li><li>findByMessageDesignIds Finds the message designs using RowFinder <br>Finder Variables <ul><li>MessageDesignId; integer;  Finds the message designs using pDesignTypeCode; string;  </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "FindByMessageDesignCode",
                "description": "Finds the message designs using different attributes",
                "title": "FindByMessageDesignCode",
                "properties": {
                  "MessageDesignCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the message designs using messageDesignCode",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds the message designs by unique identifier",
                "properties": {
                  "MessageDesignId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Finds the message design metadata using a unique identifier and MessageDesignId",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds the message designs using unique identifier",
                "title": "findByDesignTypeCode",
                "properties": {
                  "pLookupCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "string"
                  },
                  "pCampaignId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "integer"
                  },
                  "pDesignEditorTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "string"
                  },
                  "pDesignTypeCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the message designs using unique identifier and MessageDesignId",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByMessageDesignIds",
                "description": "Finds the message designs using RowFinder",
                "title": "findByMessageDesignIds",
                "properties": {
                  "MessageDesignId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the message designs using pDesignTypeCode",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMessageDesigns"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingMessageDesigns-get",
        "x-filename-id": "recruitingmessagedesigns-get"
      },
      "post": {
        "tags": [
          "Recruiting Campaign Email Designs"
        ],
        "summary": "Update a message design",
        "operationId": "create_recruitingMessageDesigns",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingMessageDesigns-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingMessageDesigns-item-response"
                }
              }
            },
            "links": {
              "attachments": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1attachments/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The attachments resource is a child of messageDesigns. It includes the details of attachments."
              },
              "messageDesignTypes": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1messageDesignTypes/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The resource messageDesignTypes is to get different types of message designs."
              },
              "messageDesignMetadata": {
                "operationRef": "#/paths/~1recruitingMessageDesigns~1{MessageDesignId}~1child~1messageDesignMetadata/get",
                "parameters": {
                  "MessageDesignId": "$request.path.MessageDesignId"
                },
                "description": "The messageDesignMetadata resource is a child of messageDesigns. It includes the details to get the details of different Message Design data."
              }
            }
          }
        },
        "x-internal-id": "recruitingMessageDesigns-post",
        "x-filename-id": "recruitingmessagedesigns-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingMessageDesigns-item-response": {
        "type": "object",
        "properties": {
          "CreatedByName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the user who created the message template.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DesignEditorTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Editor type used for creating a message template.",
            "nullable": true,
            "default": "ORA_ADVANCED",
            "x-queryable": true
          },
          "DesignName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the Message Design.",
            "nullable": false,
            "x-queryable": true
          },
          "DesignStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the design status for each message design.",
            "nullable": true,
            "x-queryable": true
          },
          "DesignTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to the design type for message designs.",
            "nullable": false,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date of last update for the message designs.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "MessageDesignCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Message design code.",
            "nullable": false,
            "x-queryable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "Unique code for message designs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "description": "Module ID for the message designs.",
            "nullable": true,
            "x-queryable": true
          },
          "TemplateDescription": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the template.",
            "nullable": true,
            "x-queryable": true
          },
          "attachments": {
            "title": "Communicate Attachments",
            "type": "array",
            "description": "The attachments resource is a child of messageDesigns. It includes the details of attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-attachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "messageDesignMetadata": {
            "title": "Message Design Metadata",
            "type": "array",
            "description": "The messageDesignMetadata resource is a child of messageDesigns. It includes the details to get the details of different Message Design data.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-messageDesignMetadata-item-response"
            }
          },
          "messageDesignTypes": {
            "title": "Message DesignTypes",
            "type": "array",
            "description": "The resource messageDesignTypes is to get different types of message designs.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-messageDesignTypes-item-response"
            }
          }
        }
      },
      "recruitingMessageDesigns-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attachment. Application generated primary key.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates where the attachment is shared. If True, the attachment is shared.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "User who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "Name of the user who created the attachment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the attachment record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Value that indicates data type code of attachment.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Folder path of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DocumentPreviewURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Attachment document preview URL.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date and time of the attachment content.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the attachment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "User who last updated the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "Name of the user who last updated the attachment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Name of the action that the user can perform after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "TrackerId": {
            "maxLength": 255,
            "type": "string",
            "description": "Tracker ID of the uploaded file.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "File content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "File length of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "User name associated with the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingMessageDesigns-messageDesignMetadata-item-response": {
        "type": "object",
        "properties": {
          "DefaultLanguageFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "DefaultLanguageFlag for the message design metadata.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "DescriptionString": {
            "type": "string",
            "description": "Message design description string.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "Description"
              ]
            },
            "x-queryable": true
          },
          "DesignMetaDataString": {
            "type": "string",
            "description": "DesignMetaDataString for each message design metadata.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "DesignMetadata"
              ]
            },
            "x-queryable": true
          },
          "DesignMetadata": {
            "type": "string",
            "description": "DesignMetadata for the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "HTMLTemplate": {
            "type": "string",
            "description": "Html Template for the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "HTMLTemplateString": {
            "type": "string",
            "description": "HTMLTemplateString for each message design metadata.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "HTMLTemplate"
              ]
            },
            "x-queryable": true
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Message design image link.",
            "nullable": true,
            "x-queryable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "MessageDesignId for each message design metadata.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MessageLanguage": {
            "maxLength": 4,
            "type": "string",
            "description": "MessageLanguage for each message design metadata.",
            "nullable": false,
            "x-queryable": true
          },
          "Subject": {
            "maxLength": 1000,
            "type": "string",
            "description": "Subject for each message design metadata.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingMessageDesigns-messageDesignTypes-item-response": {
        "type": "object",
        "properties": {
          "Meaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of each message design types.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "TypeCode for the message design types.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingMessageDesigns-item-patch-request": {
        "type": "object",
        "properties": {
          "DesignEditorTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Editor type used for creating a message template.",
            "nullable": true,
            "default": "ORA_ADVANCED"
          },
          "DesignName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the Message Design.",
            "nullable": false
          },
          "DesignStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the design status for each message design.",
            "nullable": true
          },
          "DesignTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to the design type for message designs.",
            "nullable": false
          },
          "MessageDesignCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Message design code.",
            "nullable": false
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "description": "Module ID for the message designs.",
            "nullable": true
          },
          "TemplateDescription": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the template.",
            "nullable": true
          },
          "attachments": {
            "title": "Communicate Attachments",
            "type": "array",
            "description": "The attachments resource is a child of messageDesigns. It includes the details of attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-attachments-item-patch-request"
            }
          },
          "messageDesignMetadata": {
            "title": "Message Design Metadata",
            "type": "array",
            "description": "The messageDesignMetadata resource is a child of messageDesigns. It includes the details to get the details of different Message Design data.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-messageDesignMetadata-item-patch-request"
            }
          },
          "messageDesignTypes": {
            "title": "Message DesignTypes",
            "type": "array",
            "description": "The resource messageDesignTypes is to get different types of message designs.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-messageDesignTypes-item-patch-request"
            }
          }
        }
      },
      "recruitingMessageDesigns-attachments-item-patch-request": {
        "type": "object",
        "properties": {
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates where the attachment is shared. If True, the attachment is shared.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Value that indicates data type code of attachment.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Folder path of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date and time of the attachment content.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Name of the action that the user can perform after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "File content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "File length of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      },
      "recruitingMessageDesigns-messageDesignMetadata-item-patch-request": {
        "type": "object",
        "properties": {
          "DefaultLanguageFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "DefaultLanguageFlag for the message design metadata.",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "DesignMetadata": {
            "type": "string",
            "description": "DesignMetadata for the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "HTMLTemplate": {
            "type": "string",
            "description": "Html Template for the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Message design image link.",
            "nullable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "MessageDesignId for each message design metadata.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "MessageLanguage": {
            "maxLength": 4,
            "type": "string",
            "description": "MessageLanguage for each message design metadata.",
            "nullable": false
          },
          "Subject": {
            "maxLength": 1000,
            "type": "string",
            "description": "Subject for each message design metadata.",
            "nullable": true
          }
        }
      },
      "recruitingMessageDesigns-messageDesignTypes-item-patch-request": {
        "type": "object",
        "properties": {
          "TypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "TypeCode for the message design types.",
            "nullable": false
          }
        }
      },
      "recruitingMessageDesigns": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingMessageDesigns-item-post-request": {
        "required": [
          "DesignName",
          "DesignTypeCode",
          "MessageDesignCode"
        ],
        "type": "object",
        "properties": {
          "DesignEditorTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Editor type used for creating a message template.",
            "nullable": true,
            "default": "ORA_ADVANCED"
          },
          "DesignName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the Message Design.",
            "nullable": false
          },
          "DesignStatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the design status for each message design.",
            "nullable": true
          },
          "DesignTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to the design type for message designs.",
            "nullable": false
          },
          "MessageDesignCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Message design code.",
            "nullable": false
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "Unique code for message designs.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "ModuleId": {
            "maxLength": 32,
            "type": "string",
            "description": "Module ID for the message designs.",
            "nullable": true
          },
          "TemplateDescription": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the template.",
            "nullable": true
          },
          "attachments": {
            "title": "Communicate Attachments",
            "type": "array",
            "description": "The attachments resource is a child of messageDesigns. It includes the details of attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-attachments-item-post-request"
            }
          },
          "messageDesignMetadata": {
            "title": "Message Design Metadata",
            "type": "array",
            "description": "The messageDesignMetadata resource is a child of messageDesigns. It includes the details to get the details of different Message Design data.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-messageDesignMetadata-item-post-request"
            }
          },
          "messageDesignTypes": {
            "title": "Message DesignTypes",
            "type": "array",
            "description": "The resource messageDesignTypes is to get different types of message designs.",
            "items": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-messageDesignTypes-item-post-request"
            }
          }
        }
      },
      "recruitingMessageDesigns-attachments-item-post-request": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attachment. Application generated primary key.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates where the attachment is shared. If True, the attachment is shared.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Value that indicates data type code of attachment.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Unique identifier of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Folder path of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date and time of the attachment content.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Name of the action that the user can perform after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "File content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "File length of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      },
      "recruitingMessageDesigns-messageDesignMetadata-item-post-request": {
        "type": "object",
        "properties": {
          "DefaultLanguageFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "DefaultLanguageFlag for the message design metadata.",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "description": "Description of the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "DesignMetadata": {
            "type": "string",
            "description": "DesignMetadata for the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "HTMLTemplate": {
            "type": "string",
            "description": "Html Template for the message design metadata.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ImageURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Message design image link.",
            "nullable": true
          },
          "MessageDesignId": {
            "type": "integer",
            "description": "MessageDesignId for each message design metadata.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "MessageLanguage": {
            "maxLength": 4,
            "type": "string",
            "description": "MessageLanguage for each message design metadata.",
            "nullable": false
          },
          "Subject": {
            "maxLength": 1000,
            "type": "string",
            "description": "Subject for each message design metadata.",
            "nullable": true
          }
        }
      },
      "recruitingMessageDesigns-messageDesignTypes-item-post-request": {
        "type": "object",
        "properties": {
          "TypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "TypeCode for the message design types.",
            "nullable": false
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingMessageDesigns-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-item-patch-request"
            }
          }
        }
      },
      "recruitingMessageDesigns-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingMessageDesigns-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}