{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Site Candidates",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingJobSiteCandidates/{CandidateNumber}": {
      "get": {
        "tags": [
          "Recruiting Job Site Candidates"
        ],
        "summary": "Get a candidate",
        "operationId": "get_recruitingJobSiteCandidates",
        "parameters": [
          {
            "name": "CandidateNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteCandidates-item-response"
                }
              }
            },
            "links": {
              "previousEmployments": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1previousEmployments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The previousEmployments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work experience of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1workPreferences/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The workPreferences resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work preferences of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "addresses": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1addresses/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The addresses resource is a child of the recruitingJobSiteCandidates resource. It provides details about the addresses of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1attachments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The attachments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the documents attached by the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1languages/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The languages resource is a child of the recruitingJobSiteCandidates resource. It provides details about the languages of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "phones": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1phones/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The phones resource is a child of the recruitingJobSiteCandidates resource. It provides details about the phone numbers of candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1educations/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The educations resource is a child of the recruitingJobSiteCandidates resource. It provides details about the education of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "certifications": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1certifications/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The certifications resource is a child of the recruitingJobSiteCandidates resource. It provides details about the certifications of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "skills": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1skills/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The skills resource is a child of the recruitingJobSiteCandidates resource. It provides details about the skills of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "citizenships": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1citizenships/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "candidateExtraInformation": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1candidateExtraInformation/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidateExtraInformation resource is a child of the recruitingJobSiteCandidates resource. It provides extra information about the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "nationalIdentifiers": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1nationalIdentifiers/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The nationalIdentifiers resource is a child of the recruitingJobSiteCandidates resource. It provides details about the national identifiers of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteCandidates-{CandidateNumber}-get",
        "x-filename-id": "recruitingjobsitecandidates-candidatenumber-get"
      },
      "patch": {
        "tags": [
          "Recruiting Job Site Candidates"
        ],
        "summary": "Update a candidate",
        "operationId": "update_recruitingJobSiteCandidates",
        "parameters": [
          {
            "name": "CandidateNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobSiteCandidates-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteCandidates-item-response"
                }
              }
            },
            "links": {
              "previousEmployments": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1previousEmployments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The previousEmployments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work experience of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1workPreferences/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The workPreferences resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work preferences of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "addresses": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1addresses/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The addresses resource is a child of the recruitingJobSiteCandidates resource. It provides details about the addresses of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1attachments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The attachments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the documents attached by the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1languages/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The languages resource is a child of the recruitingJobSiteCandidates resource. It provides details about the languages of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "phones": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1phones/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The phones resource is a child of the recruitingJobSiteCandidates resource. It provides details about the phone numbers of candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1educations/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The educations resource is a child of the recruitingJobSiteCandidates resource. It provides details about the education of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "certifications": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1certifications/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The certifications resource is a child of the recruitingJobSiteCandidates resource. It provides details about the certifications of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "skills": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1skills/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The skills resource is a child of the recruitingJobSiteCandidates resource. It provides details about the skills of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "citizenships": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1citizenships/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "candidateExtraInformation": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1candidateExtraInformation/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidateExtraInformation resource is a child of the recruitingJobSiteCandidates resource. It provides extra information about the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "nationalIdentifiers": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1nationalIdentifiers/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The nationalIdentifiers resource is a child of the recruitingJobSiteCandidates resource. It provides details about the national identifiers of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteCandidates-{CandidateNumber}-patch",
        "x-filename-id": "recruitingjobsitecandidates-candidatenumber-patch"
      }
    },
    "/recruitingJobSiteCandidates": {
      "get": {
        "tags": [
          "Recruiting Job Site Candidates"
        ],
        "summary": "Get all candidates",
        "operationId": "getall_recruitingJobSiteCandidates",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AdditionalSourceInformation; string; Additional source tracking information of a candidate.</li><li>LastName; string; Last name of the candidate.</li><li>PreferredTimezone; string; Preferred time zone of the candidate.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all candidates using a unique ID. <br>Finder Variables <ul><li>CandidateNumber; string;  Candidate number used to find a candidate. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all candidates using a unique ID.",
                "properties": {
                  "CandidateNumber": {
                    "x-queryable": false,
                    "nullable": true,
                    "description": "Candidate number used to find a candidate.",
                    "readOnly": true,
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteCandidates"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteCandidates-get",
        "x-filename-id": "recruitingjobsitecandidates-get"
      },
      "post": {
        "tags": [
          "Recruiting Job Site Candidates"
        ],
        "summary": "Create a candidate",
        "operationId": "create_recruitingJobSiteCandidates",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobSiteCandidates-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobSiteCandidates-item-response"
                }
              }
            },
            "links": {
              "previousEmployments": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1previousEmployments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The previousEmployments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work experience of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1workPreferences/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The workPreferences resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work preferences of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "addresses": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1addresses/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The addresses resource is a child of the recruitingJobSiteCandidates resource. It provides details about the addresses of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1attachments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The attachments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the documents attached by the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1languages/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The languages resource is a child of the recruitingJobSiteCandidates resource. It provides details about the languages of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "phones": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1phones/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The phones resource is a child of the recruitingJobSiteCandidates resource. It provides details about the phone numbers of candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1educations/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The educations resource is a child of the recruitingJobSiteCandidates resource. It provides details about the education of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "certifications": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1certifications/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The certifications resource is a child of the recruitingJobSiteCandidates resource. It provides details about the certifications of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "skills": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1skills/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The skills resource is a child of the recruitingJobSiteCandidates resource. It provides details about the skills of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "citizenships": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1citizenships/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "candidateExtraInformation": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1candidateExtraInformation/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidateExtraInformation resource is a child of the recruitingJobSiteCandidates resource. It provides extra information about the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              },
              "nationalIdentifiers": {
                "operationRef": "#/paths/~1recruitingJobSiteCandidates~1{CandidateNumber}~1child~1nationalIdentifiers/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The nationalIdentifiers resource is a child of the recruitingJobSiteCandidates resource. It provides details about the national identifiers of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobSiteCandidates-post",
        "x-filename-id": "recruitingjobsitecandidates-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingJobSiteCandidates-item-response": {
        "type": "object",
        "properties": {
          "AdditionalSourceInformation": {
            "type": "string",
            "description": "Additional source tracking information of a candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate number of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CandidateType": {
            "type": "string",
            "description": "Candidate type of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "type": "string",
            "description": "Person who created the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date of the candidate.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "DateOfBirth": {
            "type": "string",
            "description": "Date of birth of the candidate.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "DeletionQualifier": {
            "maxLength": 255,
            "type": "string",
            "description": "Deletion qualifier of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Email": {
            "maxLength": 240,
            "type": "string",
            "description": "Email of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "FirstName": {
            "maxLength": 150,
            "type": "string",
            "description": "First name of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "Honors": {
            "maxLength": 80,
            "type": "string",
            "description": "Honors of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "KnownAs": {
            "maxLength": 80,
            "type": "string",
            "description": "Known as attribute of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "LastName": {
            "maxLength": 150,
            "type": "string",
            "description": "Last name of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last update date of the candidate.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "type": "string",
            "description": "Person who last updated the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "MiddleNames": {
            "maxLength": 80,
            "type": "string",
            "description": "Middle names of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "MilitaryRank": {
            "maxLength": 80,
            "type": "string",
            "description": "Military rank of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "ObjectStatus": {
            "maxLength": 255,
            "type": "string",
            "description": "Object status of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PreNameAdjunct": {
            "maxLength": 150,
            "type": "string",
            "description": "Previous name adjunct of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "PreferredLanguage": {
            "maxLength": 4,
            "type": "string",
            "description": "Preferred language of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "PreferredTimezone": {
            "maxLength": 255,
            "type": "string",
            "description": "Preferred time zone of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "PreviousLastName": {
            "maxLength": 150,
            "type": "string",
            "description": "Previous last name of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "SourceMedium": {
            "maxLength": 32,
            "type": "string",
            "description": "Source medium of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SourceName": {
            "maxLength": 2000,
            "type": "string",
            "description": "Source name of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Suffix": {
            "maxLength": 80,
            "type": "string",
            "description": "Suffix of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "Title": {
            "maxLength": 30,
            "type": "string",
            "description": "Title of the candidate.",
            "nullable": true,
            "x-queryable": false
          },
          "addresses": {
            "title": "Addresses of the Candidates",
            "type": "array",
            "description": "The addresses resource is a child of the recruitingJobSiteCandidates resource. It provides details about the addresses of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-addresses-item-response"
            }
          },
          "attachments": {
            "title": "Attachments of the Candidates",
            "type": "array",
            "description": "The attachments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the documents attached by the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-attachments-item-response"
            }
          },
          "candidateExtraInformation": {
            "title": "Extra Information of the Candidates",
            "type": "array",
            "description": "The candidateExtraInformation resource is a child of the recruitingJobSiteCandidates resource. It provides extra information about the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-candidateExtraInformation-item-response"
            }
          },
          "certifications": {
            "title": "Certifications of the Candidates",
            "type": "array",
            "description": "The certifications resource is a child of the recruitingJobSiteCandidates resource. It provides details about the certifications of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-certifications-item-response"
            }
          },
          "citizenships": {
            "title": "Citizenships of the Candidates",
            "type": "array",
            "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-citizenships-item-response"
            }
          },
          "educations": {
            "title": "Education of the Candidates",
            "type": "array",
            "description": "The educations resource is a child of the recruitingJobSiteCandidates resource. It provides details about the education of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-educations-item-response"
            }
          },
          "languages": {
            "title": "Languages of the Candidates",
            "type": "array",
            "description": "The languages resource is a child of the recruitingJobSiteCandidates resource. It provides details about the languages of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-languages-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "nationalIdentifiers": {
            "title": "National Identifiers of the Candidates",
            "type": "array",
            "description": "The nationalIdentifiers resource is a child of the recruitingJobSiteCandidates resource. It provides details about the national identifiers of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-nationalIdentifiers-item-response"
            }
          },
          "phones": {
            "title": "Phone Numbers of the Candidates",
            "type": "array",
            "description": "The phones resource is a child of the recruitingJobSiteCandidates resource. It provides details about the phone numbers of candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-phones-item-response"
            },
            "x-cardinality": "1"
          },
          "previousEmployments": {
            "title": "Previous Employments of the Candidates",
            "type": "array",
            "description": "The previousEmployments resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work experience of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-previousEmployments-item-response"
            }
          },
          "skills": {
            "title": "Skills of the Candidates",
            "type": "array",
            "description": "The skills resource is a child of the recruitingJobSiteCandidates resource. It provides details about the skills of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-skills-item-response"
            }
          },
          "workPreferences": {
            "title": "Work Preferences of the Candidates",
            "type": "array",
            "description": "The workPreferences resource is a child of the recruitingJobSiteCandidates resource. It provides details about the work preferences of the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-workPreferences-item-response"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-addresses-item-response": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute 1 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute2": {
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute 2 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute3": {
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute 3 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute4": {
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute 4 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute5": {
            "maxLength": 150,
            "type": "string",
            "description": "Additional address attribute 5 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddressId": {
            "type": "string",
            "description": "Identifier of the candidate address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AddressLine1": {
            "maxLength": 240,
            "type": "string",
            "description": "Address line 1 of the candidates address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddressLine2": {
            "maxLength": 240,
            "type": "string",
            "description": "Address line 2 of the candidates address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddressLine3": {
            "maxLength": 240,
            "type": "string",
            "description": "Address line 3 of the candidates address.",
            "nullable": true,
            "x-queryable": false
          },
          "Building": {
            "maxLength": 240,
            "type": "string",
            "description": "Building of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "City": {
            "maxLength": 60,
            "type": "string",
            "description": "City of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Country": {
            "maxLength": 60,
            "type": "string",
            "description": "Country of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "type": "string",
            "description": "Person who created the candidate address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date of the candidate address.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FloorNumber": {
            "maxLength": 40,
            "type": "string",
            "description": "Floor number of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last update date of the candidate address.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "type": "string",
            "description": "Person who last updated the candidate address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LongPostalCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "PostalCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Region1": {
            "maxLength": 120,
            "type": "string",
            "description": "Region 1 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Region2": {
            "maxLength": 120,
            "type": "string",
            "description": "Region 2 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Region3": {
            "maxLength": 120,
            "type": "string",
            "description": "Region 3 of the candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingJobSiteCandidates-attachments-item-response": {
        "type": "object",
        "properties": {
          "Attachment": {
            "type": "string",
            "description": "Information of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate number of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Category": {
            "maxLength": 30,
            "type": "string",
            "description": "Category of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "maxLength": 255,
            "type": "string",
            "description": "Description of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "FileContents": {
            "type": "string",
            "description": "File contents of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Id": {
            "maxLength": 255,
            "type": "string",
            "description": "Identifier of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "MimeType": {
            "type": "string",
            "description": "Mime type of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceAttachmentId": {
            "type": "integer",
            "description": "Source attachment identifier of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 80,
            "type": "string",
            "description": "Title of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of the candidate attachment.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-candidateExtraInformation-item-response": {
        "type": "object",
        "properties": {
          "CandidateNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Candidate number of the candidate extra information.",
            "nullable": true,
            "x-queryable": true
          },
          "ContextCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Context code of the candidate extra information.",
            "nullable": true,
            "x-queryable": true
          },
          "ContextLink": {
            "maxLength": 255,
            "type": "string",
            "description": "Context link of the candidate extra information.",
            "nullable": true,
            "x-queryable": true
          },
          "DataId": {
            "type": "integer",
            "description": "Data identifier of the candidate extra information.",
            "nullable": true,
            "x-queryable": true
          },
          "dataRows": {
            "title": "Extra Information Rows of the Candidates",
            "type": "array",
            "description": "The dataRows resource is a child of the recruitingJobSiteCandidates resource. It provides rows containing extra information about the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-candidateExtraInformation-dataRows-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-candidateExtraInformation-dataRows-item-response": {
        "type": "object",
        "properties": {
          "ContextRowId": {
            "maxLength": 255,
            "type": "string",
            "description": "Context row identifier of the candidate extra information data rows.",
            "nullable": true,
            "x-queryable": true
          },
          "ContextRowLink": {
            "maxLength": 255,
            "type": "string",
            "description": "Context row link of the candidate extra information data rows.",
            "nullable": true,
            "x-queryable": true
          },
          "DataId": {
            "type": "integer",
            "description": "Data identifier of the candidate extra information data rows.",
            "nullable": true,
            "x-queryable": true
          },
          "DataRowId": {
            "type": "integer",
            "description": "Data row identifier of the candidate extra information data rows.",
            "nullable": true,
            "x-queryable": true
          },
          "RowAction": {
            "maxLength": 255,
            "type": "string",
            "description": "Row action that needs to be performed on the candidate extra information data rows.",
            "nullable": true,
            "x-queryable": true
          },
          "attributes": {
            "title": "Extra Information Attributes of the Candidates",
            "type": "array",
            "description": "The attributes resource is a child of the recruitingJobSiteCandidates resource. It provides row attributes containing extra information about the candidates. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingJobSiteCandidates-candidateExtraInformation-dataRows-attributes-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-candidateExtraInformation-dataRows-attributes-item-response": {
        "type": "object",
        "properties": {
          "AttributeId": {
            "type": "integer",
            "description": "Attribute identifier of the candidate extra information data row attribute.",
            "nullable": true,
            "x-queryable": true
          },
          "DataRowId": {
            "type": "integer",
            "description": "Data row identifier of the candidate extra information data row attribute.",
            "nullable": true,
            "x-queryable": true
          },
          "Name": {
            "type": "string",
            "description": "Name of the candidate extra information data row attribute.",
            "nullable": true,
            "x-queryable": true
          },
          "Value": {
            "type": "string",
            "description": "Value of the candidate extra information data row attribute.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-certifications-item-response": {
        "type": "object",
        "properties": {
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Actual completion date of the candidate certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "CertificationId": {
            "type": "integer",
            "description": "Identifier of the candidate certification.",
            "format": "int64",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CertificationName": {
            "title": "License or Certificate",
            "maxLength": 240,
            "type": "string",
            "description": "Certification name of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "CertificationNumber": {
            "title": "Certificate Number",
            "maxLength": 240,
            "type": "string",
            "description": "Certification number of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "CertificationURL": {
            "title": "Certification URL",
            "maxLength": 2000,
            "type": "string",
            "description": "Certification URL of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments about the candidate certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount of the candidate certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTrainingUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed training units of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "title": "License or Certificate",
            "type": "integer",
            "description": "Content item identifier of the candidate certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country code of the candidate certification.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationalEstablishment": {
            "title": "Educational Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Educational establishment of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationalEstablishmentId": {
            "title": "Establishment",
            "type": "integer",
            "description": "Educational establishment identifier of the candidate certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the candidate certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the candidate certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "IssuedBy": {
            "title": "Issued By",
            "maxLength": 240,
            "type": "string",
            "description": "Entity who issued the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "LastRenewalDate": {
            "title": "Last Renewal Date",
            "type": "string",
            "description": "Last renewal date of the candidate certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "OriginalIssueYear": {
            "title": "Original Issue Year",
            "type": "integer",
            "description": "Original issue year of the candidate certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RenewalDate": {
            "title": "Renewal Date",
            "type": "string",
            "description": "Renewal date of the candidate certification.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "RenewalInprogressFlag": {
            "title": "Renewal In Progress",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates the renewal in progress indicator of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "RenewalRequiredFlag": {
            "title": "Renewal Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the renewal indicator is required in the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "Restrictions": {
            "title": "Restrictions",
            "type": "string",
            "description": "Restrictions of the candidate certification.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Section identifier of the candidate certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "State province code of the candidate certification.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the candidate certification.",
            "nullable": true,
            "x-queryable": false
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount of the candidate certification.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "VerifiedFlag": {
            "title": "Verified",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates the verified indicator of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-citizenships-item-response": {
        "type": "object",
        "properties": {
          "Citizenship": {
            "title": "Citizenship",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code of the candidate citizenship.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CitizenshipId": {
            "title": "Citizenship ID",
            "type": "integer",
            "description": "Identifier assigned to each candidate citizenship.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "CitizenshipMeaning": {
            "title": "Citizenship",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the legislation code for the candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CitizenshipStatus": {
            "title": "Citizenship Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the candidate citizenship.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "Citizenship"
              ]
            },
            "x-queryable": true
          },
          "CitizenshipStatusMeaning": {
            "title": "Citizenship Status",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the status of the candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Creation date of the candidate citizenship.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FromDate": {
            "title": "From Date",
            "type": "string",
            "description": "From date of the candidate citizenship.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date the candidate citizenship was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ToDate": {
            "title": "To Date",
            "type": "string",
            "description": "To date of the candidate citizenship.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-educations-item-response": {
        "type": "object",
        "properties": {
          "AcademicStanding": {
            "title": "Academic Standing",
            "maxLength": 30,
            "type": "string",
            "description": "Academic standing of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "ActivitySummary": {
            "title": "Summary of Activities",
            "type": "string",
            "description": "Activity summary of the candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AreaOfStudy": {
            "title": "Area of Study",
            "maxLength": 240,
            "type": "string",
            "description": "Area of study of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "AverageGrade": {
            "title": "Average Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Average grade of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Awarding body of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "City": {
            "title": "City",
            "maxLength": 240,
            "type": "string",
            "description": "CIty of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTraningUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed training units of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "title": "Degree",
            "type": "integer",
            "description": "Content item identifier of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country code of the candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "DateAcquired": {
            "title": "Date Acquired",
            "type": "string",
            "description": "Date acquired of the candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "DegreeName": {
            "title": "Degree",
            "maxLength": 240,
            "type": "string",
            "description": "Degree name of the candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "Department": {
            "title": "Faculty or Department",
            "maxLength": 240,
            "type": "string",
            "description": "Department of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Duration": {
            "title": "Duration",
            "maxLength": 240,
            "type": "string",
            "description": "Duration of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "DurationUnits": {
            "title": "Duration Units",
            "maxLength": 30,
            "type": "string",
            "description": "Duration units of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EduLevelCompletedFlag": {
            "title": "Education Level Completed",
            "maxLength": 30,
            "type": "boolean",
            "description": "Education level completed indicator of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationId": {
            "type": "integer",
            "description": "Education identifier of the candidate education.",
            "format": "int64",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EducationLevel": {
            "title": "Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Education level of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationURL": {
            "title": "Education URL",
            "maxLength": 2000,
            "type": "string",
            "description": "Education URL of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationalEstablishment": {
            "title": "School Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Educational establishment of the candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationalEstablishmentId": {
            "title": "School",
            "type": "integer",
            "description": "Educational establishment identifier of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Educator": {
            "title": "Educator",
            "maxLength": 240,
            "type": "string",
            "description": "Educator of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fee of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Fee currency of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "GPA": {
            "title": "GPA",
            "type": "number",
            "description": "GPA of the candidate education.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "GraduatedFlag": {
            "title": "Graduated",
            "maxLength": 30,
            "type": "boolean",
            "description": "Graduated indicator of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "HighestEduLevel": {
            "title": "Highest Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Highest education level of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Major": {
            "title": "Major",
            "maxLength": 240,
            "type": "string",
            "description": "Major of the candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "Minor": {
            "title": "Minor",
            "maxLength": 240,
            "type": "string",
            "description": "Minor of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "PartTimeFlag": {
            "title": "Part Time",
            "maxLength": 30,
            "type": "boolean",
            "description": "Part time indicator of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "ProjectedCompletionDate": {
            "title": "Projected Completion Date",
            "type": "string",
            "description": "Projected completion date of the candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "Reimbursements": {
            "title": "Reimbursement Arrangements",
            "type": "string",
            "description": "Reimbursements of the candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the education is required in the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Section identifier of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "State province code of the candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TrmnlDegDiscpFlag": {
            "title": "Terminal Degree for Discipline",
            "maxLength": 30,
            "type": "boolean",
            "description": "Terminal degree discipline indicator of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "TuitionMethod": {
            "title": "Tuition Method",
            "maxLength": 30,
            "type": "string",
            "description": "Tuition method of the candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "YearAcquired": {
            "title": "Year Acquired",
            "type": "integer",
            "description": "Year acquired of the candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingJobSiteCandidates-languages-item-response": {
[...]
