{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Requisition Template Details Preview",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCERequisitionTemplateDetailsPreviews": {
      "get": {
        "tags": [
          "Recruiting Job Requisition Template Details Preview"
        ],
        "summary": "Get all requisition template details previews",
        "operationId": "getall_recruitingCERequisitionTemplateDetailsPreviews",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApplyWhenNotPostedFlag; boolean; Indicates whether a candidate can apply to a job requisition that's not posted for the requisition template details previews.</li><li>Category; string; Category of the requisition template details previews.</li><li>ContractType; string; Contract type of the requisition template details previews.</li><li>CorporateDescriptionStr; string; Corporate description string of the requisition template details previews.</li><li>DomesticTravelRequired; string; Indicates that domestic travel is required.</li><li>ExternalContactEmail; string; External contact email of the candidate for the requisition template details previews.</li><li>ExternalContactName; string; External contact name of the candidate for the requisition template details previews.</li><li>ExternalDescription; string; External description for the requisition template details previews.</li><li>ExternalDescriptionStr; string; External description string for the requisition template details previews.</li><li>ExternalPostedEndDate; string; External end date for the job post for the requisition template details previews.</li><li>ExternalPostedStartDate; string; External start date for the job post for the requisition template details previews.</li><li>ExternalQual; string; External qualifications for the requisition template details previews.</li><li>ExternalQualStr; string; External qualifications string for the requisition template details previews.</li><li>ExternalResp; string; External responsibilities for the requisition template details previews.</li><li>ExternalRespStr; string; External responsibilities string for the requisition template details previews.</li><li>Id; string; ID for the requisition template details previews.</li><li>InternalQual; string; Internal qualifications for the requisition template details previews.</li><li>InternalQualStr; string; Internal qualifications string for the requisition template details previews.</li><li>InternalResp; string; Internal responsibilities for the requisition template details previews.</li><li>InternalRespStr; string; Internal responsibilities string for the requisition template details previews.</li><li>InternationalTravelRequired; string; Indicates that international travel is required.</li><li>JobGrade; string; Grade of the job for the requisition template details previews.</li><li>JobLevel; string; Level of the job for the requisition template details previews.</li><li>JobSchedule; string; Schedule of the job for the requisition template details previews.</li><li>JobShift; string; Shift of the job for the requisition template details previews.</li><li>OrganizationDescriptionStr; string; Organization description string for the requisition template details previews.</li><li>PrimaryLocation; string; Primary location for the requisition template details previews.</li><li>RequisitionId; integer; Requisition ID in a job requisition details preview.</li><li>RequisitionType; string; Requisition type for the requisition template details previews.</li><li>ShortDescriptionStr; string; Short description string for the requisition template details previews.</li><li>StudyLevel; string; Education level of the candidate.</li><li>Title; string; Title for the requisition template details previews.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>ById Finds the requisition template details previews using ById <br>Finder Variables <ul><li>Id; string;  Finds the requisition template details previews using ById and Id; string;  </li><li>siteNumber; string;  Finds the requisition template details previews using ById and siteNumber; string;  </li></ul></li><li>PrimaryKey Finds the requisition template details previews using a unique ID <br>Finder Variables <ul><li>RequisitionId; integer;  Finds the requisition template details previews using ById and Id; string;  </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "ById",
                "description": "Finds the requisition template details previews using ById",
                "title": "findById",
                "properties": {
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition template details previews using ById and siteNumber",
                    "type": "string"
                  },
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the requisition template details previews using ById and Id",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds the requisition template details previews using a unique ID",
                "properties": {
                  "RequisitionId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds the requisition template details previews using ById and Id",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCERequisitionTemplateDetailsPreviews-get",
        "x-filename-id": "recruitingcerequisitiontemplatedetailspreviews-get"
      }
    },
    "/recruitingCERequisitionTemplateDetailsPreviews/{RequisitionId}": {
      "get": {
        "tags": [
          "Recruiting Job Requisition Template Details Preview"
        ],
        "summary": "Get a requisition template details preview",
        "operationId": "get_recruitingCERequisitionTemplateDetailsPreviews",
        "parameters": [
          {
            "name": "RequisitionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Requisition ID in a job requisition details preview.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-item-response"
                }
              }
            },
            "links": {
              "workLocation": {
                "operationRef": "#/paths/~1recruitingCERequisitionTemplateDetailsPreviews~1{RequisitionId}~1child~1workLocation/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1recruitingCERequisitionTemplateDetailsPreviews~1{RequisitionId}~1child~1secondaryLocations/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingCERequisitionTemplateDetailsPreviews~1{RequisitionId}~1child~1otherWorkLocations/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "media": {
                "operationRef": "#/paths/~1recruitingCERequisitionTemplateDetailsPreviews~1{RequisitionId}~1child~1media/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The media resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the media used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "requisitionFlexFields": {
                "operationRef": "#/paths/~1recruitingCERequisitionTemplateDetailsPreviews~1{RequisitionId}~1child~1requisitionFlexFields/get",
                "parameters": {
                  "RequisitionId": "$request.path.RequisitionId"
                },
                "description": "The requisitionFlexFields resource is a child of the recruitingCEJobRequisitionDetails resource and provides details about the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCERequisitionTemplateDetailsPreviews-{RequisitionId}-get",
        "x-filename-id": "recruitingcerequisitiontemplatedetailspreviews-requisitionid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCERequisitionTemplateDetailsPreviews": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCERequisitionTemplateDetailsPreviews-item-response": {
        "type": "object",
        "properties": {
          "ApplyWhenNotPostedFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether a candidate can apply to a job requisition that's not posted for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Category": {
            "maxLength": 240,
            "type": "string",
            "description": "Category of the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ContractType": {
            "maxLength": 80,
            "type": "string",
            "description": "Contract type of the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CorporateDescriptionStr": {
            "type": "string",
            "description": "Corporate description string of the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DomesticTravelRequired": {
            "type": "string",
            "description": "Indicates that domestic travel is required.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalContactEmail": {
            "maxLength": 240,
            "type": "string",
            "description": "External contact email of the candidate for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalContactName": {
            "maxLength": 240,
            "type": "string",
            "description": "External contact name of the candidate for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalDescription": {
            "type": "string",
            "description": "External description for the requisition template details previews.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalDescriptionStr": {
            "type": "string",
            "description": "External description string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalPostedEndDate": {
            "title": "End Date",
            "type": "string",
            "description": "External end date for the job post for the requisition template details previews.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalPostedStartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "External start date for the job post for the requisition template details previews.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalQual": {
            "type": "string",
            "description": "External qualifications for the requisition template details previews.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalQualStr": {
            "type": "string",
            "description": "External qualifications string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalResp": {
            "type": "string",
            "description": "External responsibilities for the requisition template details previews.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalRespStr": {
            "type": "string",
            "description": "External responsibilities string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Id": {
            "maxLength": 240,
            "type": "string",
            "description": "ID for the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalQual": {
            "type": "string",
            "description": "Internal qualifications for the requisition template details previews.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalQualStr": {
            "type": "string",
            "description": "Internal qualifications string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalResp": {
            "type": "string",
            "description": "Internal responsibilities for the requisition template details previews.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalRespStr": {
            "type": "string",
            "description": "Internal responsibilities string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternationalTravelRequired": {
            "type": "string",
            "description": "Indicates that international travel is required.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobGrade": {
            "maxLength": 240,
            "type": "string",
            "description": "Grade of the job for the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "JobLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Level of the job for the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "JobSchedule": {
            "maxLength": 80,
            "type": "string",
            "description": "Schedule of the job for the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "JobShift": {
            "maxLength": 80,
            "type": "string",
            "description": "Shift of the job for the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "OrganizationDescriptionStr": {
            "type": "string",
            "description": "Organization description string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLocation": {
            "maxLength": 255,
            "type": "string",
            "description": "Primary location for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition ID in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionType": {
            "maxLength": 80,
            "type": "string",
            "description": "Requisition type for the requisition template details previews.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ShortDescription": {
            "type": "string",
            "description": "Short description for the requisition template details previews.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ShortDescriptionStr": {
            "type": "string",
            "description": "Short description string for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StudyLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Education level of the candidate.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title for the requisition template details previews.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "media": {
            "title": "Media",
            "type": "array",
            "description": "The media resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the media used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-media-item-response"
            }
          },
          "otherWorkLocations": {
            "title": "Other Work Locations",
            "type": "array",
            "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-otherWorkLocations-item-response"
            }
          },
          "requisitionFlexFields": {
            "title": "Job Requisition Flexfields",
            "type": "array",
            "description": "The requisitionFlexFields resource is a child of the recruitingCEJobRequisitionDetails resource and provides details about the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-requisitionFlexFields-item-response"
            }
          },
          "secondaryLocations": {
            "title": "Secondary Locations",
            "type": "array",
            "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-secondaryLocations-item-response"
            }
          },
          "workLocation": {
            "title": "Work Locations",
            "type": "array",
            "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCERequisitionTemplateDetailsPreviews-workLocation-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCERequisitionTemplateDetailsPreviews-media-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "Media ID in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Priority": {
            "type": "integer",
            "description": "Media priority in a job requisition details preview.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ThumbURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Media thumb URL in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Media title in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Type": {
            "maxLength": 80,
            "type": "string",
            "description": "Media type in a job requisition details preview.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Media URL in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCERequisitionTemplateDetailsPreviews-otherWorkLocations-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 1 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 2 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 3 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 4 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "integer",
            "description": "Latitude of other work locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "LocationId": {
            "title": "Other Work Locations",
            "type": "integer",
            "description": "Location ID of other work locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_ATTR": "RequisitionBusinessUnitId"
            },
            "x-queryable": true
          },
          "LocationName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location name of other work locations in a job requisition details preview.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "integer",
            "description": "Longitude of other work locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Region 1 of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Region 2 of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Region 3 of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionWorkLocationId": {
            "type": "integer",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "Town or city of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCERequisitionTemplateDetailsPreviews-requisitionFlexFields-item-response": {
        "type": "object",
        "properties": {
          "ControlType": {
            "type": "string",
            "description": "Control type of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Prompt": {
            "type": "string",
            "description": "Prompt of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "SequenceNumber": {
            "type": "string",
            "description": "Sequence number of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "Value": {
            "type": "string",
            "description": "Value of flexfields in a job requisition details preview.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCERequisitionTemplateDetailsPreviews-secondaryLocations-item-response": {
        "type": "object",
        "properties": {
          "CountryCode": {
            "maxLength": 2,
            "type": "string",
            "description": "Country code for the secondary locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID for the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GeographyNodeId": {
            "title": "Primary Location",
            "type": "integer",
            "description": "Geography node ID for the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Latitude": {
            "type": "integer",
            "description": "Latitude of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "Longitude": {
            "type": "integer",
            "description": "Longitude of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "RequisitionLocationId": {
            "type": "integer",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCERequisitionTemplateDetailsPreviews-workLocation-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 1 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 2 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 3 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 4 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "integer",
            "description": "Latitude of work locations  in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Location ID of work locations  in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location name of work locations  in a job requisition details preview.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "integer",
            "description": "Longitude of work locations  in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Region 1 of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Region 2 of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Region 3 of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "Town or city of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}