{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Tax Credits Results",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingTaxCreditsCandidateResults/{recruitingTaxCreditsCandidateResultsUniqID}": {
      "get": {
        "tags": [
          "Recruiting Tax Credits Results"
        ],
        "summary": "GET action not supported",
        "operationId": "get_recruitingTaxCreditsCandidateResults",
        "parameters": [
          {
            "name": "recruitingTaxCreditsCandidateResultsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- PartnerId, RequisitionNumber and CandidateNumber ---for the Recruiting Tax Credits Results resource and used to uniquely identify an instance of Recruiting Tax Credits Results. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Tax Credits Results collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Tax Credits Results.<br><br>For example: recruitingTaxCreditsCandidateResults?q=PartnerId=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;;CandidateNumber=&lt;value3&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-item-response"
                }
              }
            },
            "links": {
              "packages": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateResults~1{recruitingTaxCreditsCandidateResultsUniqID}~1child~1packages/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateResultsUniqID": "$request.path.recruitingTaxCreditsCandidateResultsUniqID"
                },
                "description": "The packages resource is a child of the recruitingTaxCreditsCandidateResults resource. It includes results of a tax credit screening. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "recruitingTaxCreditsCandidateResults-{recruitingTaxCreditsCandidateResultsUniqID}-get",
        "x-filename-id": "recruitingtaxcreditscandidateresults-recruitingtaxcreditscandidateresultsuniqid-get"
      }
    },
    "/recruitingTaxCreditsCandidateResults": {
      "get": {
        "tags": [
          "Recruiting Tax Credits Results"
        ],
        "summary": "GET action not supported",
        "operationId": "getall_recruitingTaxCreditsCandidateResults",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CandidateNumber; string; Candidate number of the candidate.</li><li>CandidateToken; string; Candidate token in the recruiting tax credits candidate results.</li><li>ClientReferenceKey; string; Client reference key for the recruiting tax credits account.</li><li>PartnerId; string; Partner ID for the recruiting tax credits account.</li><li>RequisitionNumber; string; Unique number assigned to each job requisition.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds tax credit results using a unique key. <br>Finder Variables <ul><li>CandidateNumber; string;  Candidate number of the candidate. </li><li>PartnerId; string;  Partner ID for the recruiting tax credits account. </li><li>RequisitionNumber; string;  Unique number assigned to each job requisition. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds tax credit results using a unique key.",
                "properties": {
                  "CandidateNumber": {
                    "nullable": true,
                    "description": "Candidate number of the candidate.",
                    "type": "string"
                  },
                  "PartnerId": {
                    "nullable": true,
                    "description": "Partner ID for the recruiting tax credits account.",
                    "type": "string",
                    "maxLength": 255
                  },
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Unique number assigned to each job requisition.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingTaxCreditsCandidateResults-get",
        "x-filename-id": "recruitingtaxcreditscandidateresults-get"
      },
      "post": {
        "tags": [
          "Recruiting Tax Credits Results"
        ],
        "summary": "Create results for all tax credits screening",
        "operationId": "create_recruitingTaxCreditsCandidateResults",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingTaxCreditsCandidateResults-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-item-response"
                }
              }
            },
            "links": {
              "packages": {
                "operationRef": "#/paths/~1recruitingTaxCreditsCandidateResults~1{recruitingTaxCreditsCandidateResultsUniqID}~1child~1packages/get",
                "parameters": {
                  "recruitingTaxCreditsCandidateResultsUniqID": "$request.path.recruitingTaxCreditsCandidateResultsUniqID"
                },
                "description": "The packages resource is a child of the recruitingTaxCreditsCandidateResults resource. It includes results of a tax credit screening. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "recruitingTaxCreditsCandidateResults-post",
        "x-filename-id": "recruitingtaxcreditscandidateresults-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingTaxCreditsCandidateResults-item-response": {
        "type": "object",
        "properties": {
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate number of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateToken": {
            "type": "string",
            "description": "Candidate token in the recruiting tax credits candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "ClientReferenceKey": {
            "type": "string",
            "description": "Client reference key for the recruiting tax credits account.",
            "nullable": true,
            "x-queryable": true
          },
          "PartnerId": {
            "maxLength": 255,
            "type": "string",
            "description": "Partner ID for the recruiting tax credits account.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Unique number assigned to each job requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "packages": {
            "title": "Recruiting Tax Credits Package Results",
            "type": "array",
            "description": "The packages resource is a child of the recruitingTaxCreditsCandidateResults resource. It includes results of a tax credit screening. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-packages-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateResults-packages-item-response": {
        "type": "object",
        "properties": {
          "AdditionalResultsAttributes": {
            "title": "Additional Candidate Tax Credits Results",
            "type": "array",
            "description": "The additionalResultsAttributes resource is a child of the recruitingTaxCreditsCandidateResults resource. It includes additional results of a tax credit screening. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-packages-AdditionalResultsAttributes-item-response"
            }
          },
          "Comments": {
            "type": "string",
            "description": "Comments for the overall result.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsEligibleFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for any credits.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsEstimateCurrencyCode": {
            "type": "string",
            "description": "Currency code for the tax credits estimate.",
            "nullable": true,
            "x-queryable": true
          },
          "FederalCreditsEligibleFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for federal credits.",
            "nullable": true,
            "x-queryable": true
          },
          "FederalCreditsEstimate": {
            "type": "string",
            "description": "Specifies the federal tax credits estimate for the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "FederalCreditsIdentifier": {
            "type": "string",
            "description": "Specifies the federal tax credits identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherEligibleCredits": {
            "title": "Other Eligible Credits for Recruiting Tax Credits Package Results",
            "type": "array",
            "description": "The otherEligibleCredits resource is a child of the packages resource. It includes all other eligible credits the candidate has been reviewed for. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-packages-OtherEligibleCredits-item-response"
            }
          },
          "PackageCode": {
            "type": "string",
            "description": "Unique code identifying the tax credits package.",
            "nullable": true,
            "x-queryable": true
          },
          "PackageName": {
            "type": "string",
            "description": "Name of the tax credits account package.",
            "nullable": true,
            "x-queryable": true
          },
          "PackageResultId": {
            "type": "string",
            "description": "Unique ID for each recruiting tax credits package result.",
            "nullable": true,
            "x-queryable": true
          },
          "StateCreditsEligibleFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for state credits.",
            "nullable": true,
            "x-queryable": true
          },
          "StateCreditsEstimate": {
            "type": "string",
            "description": "Specifies the state tax credits estimate for the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "StateCreditsIdentifier": {
            "type": "string",
            "description": "Specifies the state tax credits identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "StatusCode": {
            "type": "string",
            "description": "Result status code.",
            "nullable": true,
            "x-queryable": true
          },
          "TotalCreditsEstimate": {
            "type": "string",
            "description": "Specifies the total tax credits estimate for the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateResults-packages-AdditionalResultsAttributes-item-response": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "type": "string",
            "description": "Attribute name of the tax credits service additional results.",
            "nullable": true,
            "x-queryable": true
          },
          "AttributeValue": {
            "maxLength": 255,
            "type": "string",
            "description": "Attribute value of the tax credits service additional results.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateResults-packages-OtherEligibleCredits-item-response": {
        "type": "object",
        "properties": {
          "AdditionalResultId": {
            "type": "string",
            "description": "Result ID for the other tax credit.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "type": "string",
            "description": "Comments for the other tax credit.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsEligibleFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for the tax credit.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsEstimate": {
            "maxLength": 255,
            "type": "string",
            "description": "Other tax credit estimated amount.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsEstimateCurrencyCode": {
            "type": "string",
            "description": "Other tax credit currency code.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsIdentifier": {
            "type": "string",
            "description": "Other tax credit identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "CreditsName": {
            "type": "string",
            "description": "Other tax credit name.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateResults": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingTaxCreditsCandidateResults-item-post-request": {
        "type": "object",
        "properties": {
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate number of the candidate.",
            "nullable": true
          },
          "CandidateToken": {
            "type": "string",
            "description": "Candidate token in the recruiting tax credits candidate results.",
            "nullable": true
          },
          "ClientReferenceKey": {
            "type": "string",
            "description": "Client reference key for the recruiting tax credits account.",
            "nullable": true
          },
          "PartnerId": {
            "maxLength": 255,
            "type": "string",
            "description": "Partner ID for the recruiting tax credits account.",
            "nullable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Unique number assigned to each job requisition.",
            "nullable": true
          },
          "packages": {
            "title": "Recruiting Tax Credits Package Results",
            "type": "array",
            "description": "The packages resource is a child of the recruitingTaxCreditsCandidateResults resource. It includes results of a tax credit screening. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-packages-item-post-request"
            }
          }
        }
      },
      "recruitingTaxCreditsCandidateResults-packages-item-post-request": {
        "type": "object",
        "properties": {
          "AdditionalResultsAttributes": {
            "title": "Additional Candidate Tax Credits Results",
            "type": "array",
            "description": "The additionalResultsAttributes resource is a child of the recruitingTaxCreditsCandidateResults resource. It includes additional results of a tax credit screening. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-packages-AdditionalResultsAttributes-item-post-request"
            }
          },
          "Comments": {
            "type": "string",
            "description": "Comments for the overall result.",
            "nullable": true
          },
          "CreditsEligibleFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for any credits.",
            "nullable": true
          },
          "CreditsEstimateCurrencyCode": {
            "type": "string",
            "description": "Currency code for the tax credits estimate.",
            "nullable": true
          },
          "FederalCreditsEligibleFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for federal credits.",
            "nullable": true
          },
          "FederalCreditsEstimate": {
            "type": "string",
            "description": "Specifies the federal tax credits estimate for the candidate.",
            "nullable": true
          },
          "FederalCreditsIdentifier": {
            "type": "string",
            "description": "Specifies the federal tax credits identifier.",
            "nullable": true
          },
          "OtherEligibleCredits": {
            "title": "Other Eligible Credits for Recruiting Tax Credits Package Results",
            "type": "array",
            "description": "The otherEligibleCredits resource is a child of the packages resource. It includes all other eligible credits the candidate has been reviewed for. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-packages-OtherEligibleCredits-item-post-request"
            }
          },
          "PackageCode": {
            "type": "string",
            "description": "Unique code identifying the tax credits package.",
            "nullable": true
          },
          "PackageName": {
            "type": "string",
            "description": "Name of the tax credits account package.",
            "nullable": true
          },
          "PackageResultId": {
            "type": "string",
            "description": "Unique ID for each recruiting tax credits package result.",
            "nullable": true
          },
          "StateCreditsEligibleFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for state credits.",
            "nullable": true
          },
          "StateCreditsEstimate": {
            "type": "string",
            "description": "Specifies the state tax credits estimate for the candidate.",
            "nullable": true
          },
          "StateCreditsIdentifier": {
            "type": "string",
            "description": "Specifies the state tax credits identifier.",
            "nullable": true
          },
          "StatusCode": {
            "type": "string",
            "description": "Result status code.",
            "nullable": true
          },
          "TotalCreditsEstimate": {
            "type": "string",
            "description": "Specifies the total tax credits estimate for the candidate.",
            "nullable": true
          }
        }
      },
      "recruitingTaxCreditsCandidateResults-packages-AdditionalResultsAttributes-item-post-request": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "type": "string",
            "description": "Attribute name of the tax credits service additional results.",
            "nullable": true
          },
          "AttributeValue": {
            "maxLength": 255,
            "type": "string",
            "description": "Attribute value of the tax credits service additional results.",
            "nullable": true
          }
        }
      },
      "recruitingTaxCreditsCandidateResults-packages-OtherEligibleCredits-item-post-request": {
        "type": "object",
        "properties": {
          "AdditionalResultId": {
            "type": "string",
            "description": "Result ID for the other tax credit.",
            "nullable": true
          },
          "Comments": {
            "type": "string",
            "description": "Comments for the other tax credit.",
            "nullable": true
          },
          "CreditsEligibleFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the candidate is eligible for the tax credit.",
            "nullable": true
          },
          "CreditsEstimate": {
            "maxLength": 255,
            "type": "string",
            "description": "Other tax credit estimated amount.",
            "nullable": true
          },
          "CreditsEstimateCurrencyCode": {
            "type": "string",
            "description": "Other tax credit currency code.",
            "nullable": true
          },
          "CreditsIdentifier": {
            "type": "string",
            "description": "Other tax credit identifier.",
            "nullable": true
          },
          "CreditsName": {
            "type": "string",
            "description": "Other tax credit name.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingTaxCreditsCandidateResults-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingTaxCreditsCandidateResults-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}