{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Requisition Distribution/Requisition Languages",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/jobDistributionDetails/{jobDistributionDetailsUniqID}/child/requisitionLanguages": {
      "get": {
        "tags": [
          "Recruiting Job Requisition Distribution/Requisition Languages"
        ],
        "summary": "Get the details of all the required languages",
        "operationId": "getall_jobDistributionDetails-requisitionLanguages",
        "parameters": [
          {
            "name": "jobDistributionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Requisition Distribution resource and used to uniquely identify an instance of Recruiting Job Requisition Distribution. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Requisition Distribution collection resource in order to navigate to a specific instance of Recruiting Job Requisition Distribution to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApplyURL; string; The URL for applying in the requisition languages.</li><li>DefaultLanguageFlag; boolean; Default language of the requisition.</li><li>EmployerDescriptionStr; string; Description of the employer in the requisition languages.</li><li>ExternalDescription; string; Description of the external candidate in the requisition languages.</li><li>ExternalDescriptionHtml; string; HTML description for the external candidate in the requisition languages.</li><li>ExternalQualificationsHTML; string; HTML qualifications for the external candidate in the requisition languages.</li><li>ExternalResponsibilitiesHTML; string; HTML responsibilities for the external candidate in the requisition languages.</li><li>JobFamily; string; Details of the job family in the requisition languages.</li><li>LanguageCode; string; Code assigned to the language in the requisition languages.</li><li>OrganizationDescriptionStr; string; Description of the organization in the requisition languages.</li><li>OrganizationNameML; string; Display name of the organization in the requisition languages.</li><li>PrimaryLocation; string; Primary job location mentioned in the requisition languages.</li><li>PrimaryLocationCountryName; string; Country name of the primary location in the requisition languages.</li><li>PrimaryLocationLevelThreeName; string; Third level name of the primary location in the requisition languages.</li><li>PrimaryLocationLevelTwoName; string; Second level name of the primary location in the requisition languages.</li><li>PrimaryWorkLocationCity; string; City of the primary work location in the requisition languages.</li><li>ShortDescription; string; Short description of the requisition languages.</li><li>StudyLevelML; string; Educational qualification needed in the requisition languages.</li><li>Title; string; Title of the requisition languages.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKey :Finds the details of the job distribution using RowFinder <br>Finder Variables: <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the details of the job distribution using RowFinder",
                "properties": {}
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jobDistributionDetails-requisitionLanguages"
                }
              }
            }
          }
        },
        "x-internal-id": "jobDistributionDetails-{jobDistributionDetailsUniqID}-child-requisitionLanguages-get",
        "x-filename-id": "jobdistributiondetails-jobdistributiondetailsuniqid-child-requisitionlanguages-get"
      }
    },
    "/jobDistributionDetails/{jobDistributionDetailsUniqID}/child/requisitionLanguages/{requisitionLanguagesUniqID}": {
      "get": {
        "tags": [
          "Recruiting Job Requisition Distribution/Requisition Languages"
        ],
        "summary": "Get the details of the required language",
        "operationId": "get_jobDistributionDetails-requisitionLanguages",
        "parameters": [
          {
            "name": "jobDistributionDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Requisition Distribution resource and used to uniquely identify an instance of Recruiting Job Requisition Distribution. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Requisition Distribution collection resource in order to navigate to a specific instance of Recruiting Job Requisition Distribution to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requisitionLanguagesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Requisition Languages resource and used to uniquely identify an instance of Requisition Languages. The client should not generate the hash key value. Instead, the client should query on the Requisition Languages collection resource in order to navigate to a specific instance of Requisition Languages to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/jobDistributionDetails-requisitionLanguages-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1jobDistributionDetails~1{jobDistributionDetailsUniqID}~1child~1requisitionLanguages~1{requisitionLanguagesUniqID}~1child~1skills/get",
                "parameters": {
                  "jobDistributionDetailsUniqID": "$request.path.jobDistributionDetailsUniqID",
                  "requisitionLanguagesUniqID": "$request.path.requisitionLanguagesUniqID"
                },
                "description": "The skills resource provides details about the skills included in the job requisition."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1jobDistributionDetails~1{jobDistributionDetailsUniqID}~1child~1requisitionLanguages~1{requisitionLanguagesUniqID}~1child~1secondaryLocations/get",
                "parameters": {
                  "jobDistributionDetailsUniqID": "$request.path.jobDistributionDetailsUniqID",
                  "requisitionLanguagesUniqID": "$request.path.requisitionLanguagesUniqID"
                },
                "description": "The secondaryLocations resource includes all the details of the secondary preferred location for the job distribution."
              },
              "media": {
                "operationRef": "#/paths/~1jobDistributionDetails~1{jobDistributionDetailsUniqID}~1child~1requisitionLanguages~1{requisitionLanguagesUniqID}~1child~1media/get",
                "parameters": {
                  "jobDistributionDetailsUniqID": "$request.path.jobDistributionDetailsUniqID",
                  "requisitionLanguagesUniqID": "$request.path.requisitionLanguagesUniqID"
                },
                "description": "The media resource is a child of requisitionLanguages. It includes the details of the type of media used in the job distribution."
              }
            }
          }
        },
        "x-internal-id": "jobDistributionDetails-{jobDistributionDetailsUniqID}-child-requisitionLanguages-{requisitionLanguagesUniqID}-get",
        "x-filename-id": "jobdistributiondetails-jobdistributiondetailsuniqid-child-requisitionlanguages-requisitionlanguagesuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "jobDistributionDetails-requisitionLanguages": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/jobDistributionDetails-requisitionLanguages-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "jobDistributionDetails-requisitionLanguages-item-response": {
        "type": "object",
        "properties": {
          "ApplyURL": {
            "type": "string",
            "description": "The URL for applying in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultLanguageFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Default language of the requisition.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "IsBaseFlag"
              ]
            },
            "x-queryable": true
          },
          "EmployerDescriptionStr": {
            "type": "string",
            "description": "Description of the employer in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalDescription": {
            "type": "string",
            "description": "Description of the external candidate in the requisition languages.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "ExternalDesc"
              ]
            },
            "x-queryable": true
          },
          "ExternalDescriptionHtml": {
            "type": "string",
            "description": "HTML description for the external candidate in the requisition languages.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "ExternalDescHtml"
              ]
            },
            "x-queryable": true
          },
          "ExternalQualificationsHTML": {
            "type": "string",
            "description": "HTML qualifications for the external candidate in the requisition languages.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "ExternalQualHtml"
              ]
            },
            "x-queryable": true
          },
          "ExternalResponsibilitiesHTML": {
            "type": "string",
            "description": "HTML responsibilities for the external candidate in the requisition languages.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "ExternalRespHtml"
              ]
            },
            "x-queryable": true
          },
          "JobFamily": {
            "maxLength": 240,
            "type": "string",
            "description": "Details of the job family in the requisition languages.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "LanguageCode": {
            "type": "string",
            "description": "Code assigned to the language in the requisition languages.",
            "nullable": true,
            "x-queryable": true
          },
          "OrganizationDescriptionStr": {
            "type": "string",
            "description": "Description of the organization in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OrganizationNameML": {
            "title": "Organization",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the organization in the requisition languages.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "PrimaryLocation": {
            "type": "string",
            "description": "Primary job location mentioned in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLocationCountryName": {
            "type": "string",
            "description": "Country name of the primary location in the requisition languages.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryLocationLevelThreeName": {
            "maxLength": 255,
            "type": "string",
            "description": "Third level name of the primary location in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLocationLevelTwoName": {
            "maxLength": 255,
            "type": "string",
            "description": "Second level name of the primary location in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryWorkLocationCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "City of the primary work location in the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ShortDescription": {
            "type": "string",
            "description": "Short description of the requisition languages.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "ExternalShortDesc"
              ]
            },
            "x-queryable": true
          },
          "StudyLevelML": {
            "maxLength": 80,
            "type": "string",
            "description": "Educational qualification needed in the requisition languages.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of the requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "media": {
            "title": "Requisition Media",
            "type": "array",
            "description": "The media resource is a child of requisitionLanguages. It includes the details of the type of media used in the job distribution.",
            "items": {
              "$ref": "#/components/schemas/jobDistributionDetails-requisitionLanguages-media-item-response"
            }
          },
          "secondaryLocations": {
            "title": "Secondary Locations",
            "type": "array",
            "description": "The secondaryLocations resource includes all the details of the secondary preferred location for the job distribution.",
            "items": {
              "$ref": "#/components/schemas/jobDistributionDetails-requisitionLanguages-secondaryLocations-item-response"
            }
          },
          "skills": {
            "title": "Requisition Skills",
            "type": "array",
            "description": "The skills resource provides details about the skills included in the job requisition.",
            "items": {
              "$ref": "#/components/schemas/jobDistributionDetails-requisitionLanguages-skills-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "jobDistributionDetails-requisitionLanguages-media-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "ID assigned to the media used in requisition languages.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Priority": {
            "type": "integer",
            "description": "Priority assigned to the media used in requisition languages.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "RequisitionMediaLinkId": {
            "type": "integer",
            "description": "Priority assigned to the media used in requisition languages.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ThumbURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Thumb URL assigned to the media used in requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title assigned to the media used in requisition languages.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Type": {
            "title": "Lookup Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type assigned to the media used in requisition languages.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL of the media used in the job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "jobDistributionDetails-requisitionLanguages-secondaryLocations-item-response": {
        "type": "object",
        "properties": {
          "GeographyNodeId": {
            "title": "Primary Location",
            "type": "integer",
            "description": "Geography node ID of the secondary location.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            },
            "x-queryable": true
          },
          "Location": {
            "type": "string",
            "description": "Location of requisitions.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "jobDistributionDetails-requisitionLanguages-skills-item-response": {
        "type": "object",
        "properties": {
          "Importance": {
            "type": "integer",
            "description": "High importance indicator of a skill for the posted requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MinimumSkillLevel": {
            "maxLength": 2000,
            "type": "string",
            "description": "Minimum level of a skill for the posted requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MinimumYearsExperience": {
            "type": "integer",
            "description": "Minimum years of experience for the posted requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Required": {
            "maxLength": 30,
            "type": "string",
            "description": "Required indicator of a skill for the posted requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionName": {
            "maxLength": 240,
            "type": "string",
            "description": "Section name of a skill for the posted requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Skill": {
            "maxLength": 700,
            "type": "string",
            "description": "Skill of the posted requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SkillType": {
            "maxLength": 30,
            "type": "string",
            "description": "Skill type of a skill for the posted requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}