{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Previous Experience/Large Object (LOB) Attributes - LeavingReason",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidatePreviousExpItems/{PreviousEmploymentId}/enclosure/LeavingReason": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Previous Experience/Large Object (LOB) Attributes - LeavingReason"
        ],
        "summary": "Get a LeavingReason",
        "description": "Get a LeavingReason",
        "operationId": "get_recruitingCECandidatePreviousExpItems-LeavingReason",
        "parameters": [
          {
            "name": "PreviousEmploymentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Previous employment ID in the candidate previous experience items.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidatePreviousExpItems-{PreviousEmploymentId}-enclosure-LeavingReason-get",
        "x-filename-id": "recruitingcecandidatepreviousexpitems-previousemploymentid-enclosure-leavingreason-get"
      },
      "put": {
        "tags": [
          "Recruiting CE Candidate Previous Experience/Large Object (LOB) Attributes - LeavingReason"
        ],
        "summary": "Replace a LeavingReason",
        "description": "Replace a LeavingReason",
        "operationId": "replace_recruitingCECandidatePreviousExpItems-LeavingReason",
        "parameters": [
          {
            "name": "PreviousEmploymentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Previous employment ID in the candidate previous experience items.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCECandidatePreviousExpItems-{PreviousEmploymentId}-enclosure-LeavingReason-put",
        "x-filename-id": "recruitingcecandidatepreviousexpitems-previousemploymentid-enclosure-leavingreason-put"
      },
      "delete": {
        "tags": [
          "Recruiting CE Candidate Previous Experience/Large Object (LOB) Attributes - LeavingReason"
        ],
        "summary": "Delete a LeavingReason",
        "description": "Delete a LeavingReason",
        "operationId": "delete_recruitingCECandidatePreviousExpItems-LeavingReason",
        "parameters": [
          {
            "name": "PreviousEmploymentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Previous employment ID in the candidate previous experience items.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCECandidatePreviousExpItems-{PreviousEmploymentId}-enclosure-LeavingReason-delete",
        "x-filename-id": "recruitingcecandidatepreviousexpitems-previousemploymentid-enclosure-leavingreason-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}