{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Applications/Licenses and Certificates of the Candidates/Large Object (LOB) Attributes - Comments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingJobApplications/{JobApplicationId}/child/licensesAndCertificates/{CertificationId}/enclosure/Comments": {
      "get": {
        "tags": [
          "Recruiting Job Applications/Licenses and Certificates of the Candidates/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Get a Comments",
        "description": "Get a Comments",
        "operationId": "get_recruitingJobApplications-licensesAndCertificates-Comments",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the licenses or certifications acquired by the candidate.",
              "format": "int64",
              "nullable": false,
              "x-queryable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-child-licensesAndCertificates-{CertificationId}-enclosure-Comments-get",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-child-licensesandcertificates-certificationid-enclosure-comments-get"
      },
      "put": {
        "tags": [
          "Recruiting Job Applications/Licenses and Certificates of the Candidates/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Replace a Comments",
        "description": "Replace a Comments",
        "operationId": "replace_recruitingJobApplications-licensesAndCertificates-Comments",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the licenses or certifications acquired by the candidate.",
              "format": "int64",
              "nullable": false,
              "x-queryable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-child-licensesAndCertificates-{CertificationId}-enclosure-Comments-put",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-child-licensesandcertificates-certificationid-enclosure-comments-put"
      },
      "delete": {
        "tags": [
          "Recruiting Job Applications/Licenses and Certificates of the Candidates/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Delete a Comments",
        "description": "Delete a Comments",
        "operationId": "delete_recruitingJobApplications-licensesAndCertificates-Comments",
        "parameters": [
          {
            "name": "JobApplicationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique ID of job application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CertificationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the licenses or certifications acquired by the candidate.",
              "format": "int64",
              "nullable": false,
              "x-queryable": false,
              "x-hints": {
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingJobApplications-{JobApplicationId}-child-licensesAndCertificates-{CertificationId}-enclosure-Comments-delete",
        "x-filename-id": "recruitingjobapplications-jobapplicationid-child-licensesandcertificates-certificationid-enclosure-comments-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}