{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Education",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidateEducationItems": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Education"
        ],
        "summary": "Get all the education items of the candidate.",
        "operationId": "getall_recruitingCECandidateEducationItems",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AcademicStanding; string; Performance of the candidate in education</li><li>AreaOfStudy; string; Area of study done by the candidate.</li><li>AverageGrade; string; Average grade secured in education by the candidate.</li><li>AwardingBody; string; Authority granting recognition in the field of education to the candidate.</li><li>City; string; City in which the education was done.</li><li>CompletedAmount; integer; Completed Amount in candidate education items.</li><li>CompletedTraningUnits; string; Completed Training Units in candidate education items.</li><li>ContentItemId; integer; Unique identifier assigned to the content.</li><li>CountryCode; string; Country Code of the location of education.</li><li>CountryId; integer; ID assigned to the country where the education was done.</li><li>DateAcquired; string; Date when the degree was acquired.</li><li>DegreeName; string; Name of the education degree earned by the candidate.</li><li>Department; string; Department in which the education is acquired.</li><li>Duration; string; Duration of the education.</li><li>DurationUnits; string; Unit of the duration of education.</li><li>EduLevelCompletedFlag; boolean; Indicates if the education is complete.</li><li>EducationId; integer; ID assigned to the education item.</li><li>EducationLevel; string; Level of the education.</li><li>EducationURL; string; URL of the education.</li><li>EducationalEstablishment; string; Name of the education establishment.</li><li>EducationalEstablishmentId; integer; ID assigned to the education establishment.</li><li>Educator; string; Educator of the education item.</li><li>EndDate; string; End date of the education item.</li><li>Fee; integer; Fees of the education item.</li><li>FeeCurrency; string; Currency in which the education fees has been paid.</li><li>GPA; number; GPA score of the candidate.</li><li>GraduatedFlag; boolean; Indicates if the candidate is a graduate.</li><li>HighestEduLevel; string; Highest educational level availed by the candidate.</li><li>Major; string; Major subjects in the education availed by the candidate.</li><li>Minor; string; Minor subjects in education availed by the candidate.</li><li>PartTimeFlag; boolean; Indicates if the education item is part time or not.</li><li>ProjectedCompletionDate; string; Projected completion date of the education item.</li><li>RequiredFlag; boolean; Indicates if the education item is required or not.</li><li>SectionId; integer; Section ID assigned to the education item.</li><li>StartDate; string; Start date of the education item.</li><li>StateProvinceCode; string; Code assigned to the State Province where the education took place.</li><li>StateProvinceId; integer; Unique identifier assigned to the State Province where the education took place.</li><li>Status; string; Status of the education.</li><li>SubmissionId; integer; Submission ID generated against the educational details entered by the candidate.</li><li>Title; string; Title of the education item</li><li>TotalAmount; integer; Total amount of the education item</li><li>TrmnlDegDiscpFlag; boolean; Indicates if the education item is a terminal degree</li><li>TuitionMethod; string; Mode of tuition availed during the course of education.</li><li>YearAcquired; integer; Year in which the education was completed.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the education items by a primary key <br>Finder Variables <ul><li>EducationId; integer;  Finds the education items by using the variable education ID </li></ul></li><li>findBySectionId Finds the education items by using the findBysectionID <br>Finder Variables <ul><li>FlowVersionId; integer;  Finds the education items by using the findBysectionID and the FlowVersionId; integer;  </li><li>SectionId; integer;  Finds the education items by using the findBysectionID and SectionId; integer;  </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the education items by a primary key",
                "properties": {
                  "EducationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds the education items by using the variable education ID",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySectionId",
                "description": "Finds the education items by using the findBysectionID",
                "title": "filterBySectionId",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Finds the education items by using the findBysectionID and the FlowVersionId",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Finds the education items by using the findBysectionID and SectionId",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateEducationItems"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateEducationItems-get",
        "x-filename-id": "recruitingcecandidateeducationitems-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Candidate Education"
        ],
        "summary": "Submit all the details of the education items of the candidate.",
        "operationId": "create_recruitingCECandidateEducationItems",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateEducationItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateEducationItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateEducationItems-post",
        "x-filename-id": "recruitingcecandidateeducationitems-post"
      }
    },
    "/recruitingCECandidateEducationItems/{EducationId}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Education"
        ],
        "summary": "Get an education item of the candidate.",
        "operationId": "get_recruitingCECandidateEducationItems",
        "parameters": [
          {
            "name": "EducationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the education item.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateEducationItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateEducationItems-{EducationId}-get",
        "x-filename-id": "recruitingcecandidateeducationitems-educationid-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Candidate Education"
        ],
        "summary": "Delete the details of the education items of the candidate.",
        "operationId": "delete_recruitingCECandidateEducationItems",
        "parameters": [
          {
            "name": "EducationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the education item.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCECandidateEducationItems-{EducationId}-delete",
        "x-filename-id": "recruitingcecandidateeducationitems-educationid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Candidate Education"
        ],
        "summary": "Update the details of the education items of the candidate.",
        "operationId": "update_recruitingCECandidateEducationItems",
        "parameters": [
          {
            "name": "EducationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to the education item.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateEducationItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateEducationItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateEducationItems-{EducationId}-patch",
        "x-filename-id": "recruitingcecandidateeducationitems-educationid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCECandidateEducationItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCECandidateEducationItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCECandidateEducationItems-item-response": {
        "type": "object",
        "properties": {
          "AcademicStanding": {
            "title": "Academic Standing",
            "maxLength": 30,
            "type": "string",
            "description": "Performance of the candidate in education",
            "nullable": true,
            "x-queryable": true
          },
          "ActivitySummary": {
            "title": "Summary of Activities",
            "type": "string",
            "description": "Activity Summary in candidate education items.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AreaOfStudy": {
            "title": "Area of Study",
            "maxLength": 240,
            "type": "string",
            "description": "Area of study done by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "AverageGrade": {
            "title": "Average Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Average grade secured in education by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Authority granting recognition in the field of education to the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "City": {
            "title": "City",
            "maxLength": 240,
            "type": "string",
            "description": "City in which the education was done.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the candidate education details.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed Amount in candidate education items.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CompletedTraningUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed Training Units in candidate education items.",
            "nullable": true,
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "Degree",
            "type": "integer",
            "description": "Unique identifier assigned to the content.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country Code of the location of education.",
            "nullable": true,
            "x-queryable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "ID assigned to the country where the education was done.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DateAcquired": {
            "title": "Date Acquired",
            "type": "string",
            "description": "Date when the degree was acquired.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "DegreeName": {
            "title": "Degree",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the education degree earned by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "Department": {
            "title": "Faculty or Department",
            "maxLength": 240,
            "type": "string",
            "description": "Department in which the education is acquired.",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the education item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Duration": {
            "title": "Duration",
            "maxLength": 240,
            "type": "string",
            "description": "Duration of the education.",
            "nullable": true,
            "x-queryable": true
          },
          "DurationUnits": {
            "title": "Duration Units",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of the duration of education.",
            "nullable": true,
            "x-queryable": true
          },
          "EduLevelCompletedFlag": {
            "title": "Education Level Completed",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education is complete.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationId": {
            "type": "integer",
            "description": "ID assigned to the education item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EducationLevel": {
            "title": "Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Level of the education.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationURL": {
            "title": "Education URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL of the education.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationalEstablishment": {
            "title": "School Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the education establishment.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationalEstablishmentId": {
            "title": "School",
            "type": "integer",
            "description": "ID assigned to the education establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Educator": {
            "title": "Educator",
            "maxLength": 240,
            "type": "string",
            "description": "Educator of the education item.",
            "nullable": true,
            "x-queryable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the education item.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fees of the education item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency in which the education fees has been paid.",
            "nullable": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Service metadata information.",
            "nullable": true,
            "x-queryable": false
          },
          "GPA": {
            "title": "GPA",
            "type": "number",
            "description": "GPA score of the candidate.",
            "nullable": true,
            "x-hints": {
              "precision": 15,
              "scale": 2
            },
            "x-queryable": true
          },
          "GraduatedFlag": {
            "title": "Graduated",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the candidate is a graduate.",
            "nullable": true,
            "x-queryable": true
          },
          "HighestEduLevel": {
            "title": "Highest Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Highest educational level availed by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "Major": {
            "title": "Major",
            "maxLength": 240,
            "type": "string",
            "description": "Major subjects in the education availed by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "Minor": {
            "title": "Minor",
            "maxLength": 240,
            "type": "string",
            "description": "Minor subjects in education availed by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "PartTimeFlag": {
            "title": "Part Time",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is part time or not.",
            "nullable": true,
            "x-queryable": true
          },
          "ProjectedCompletionDate": {
            "title": "Projected Completion Date",
            "type": "string",
            "description": "Projected completion date of the education item.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Reimbursements": {
            "title": "Reimbursement Arrangements",
            "type": "string",
            "description": "Reimbursements that can be availed against an education item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is required or not.",
            "nullable": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID assigned to the education item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the education item.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "Code assigned to the State Province where the education took place.",
            "nullable": true,
            "x-queryable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "Unique identifier assigned to the State Province where the education took place.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the education.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID generated against the educational details entered by the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the education item",
            "nullable": true,
            "x-queryable": true
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount of the education item",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TrmnlDegDiscpFlag": {
            "title": "Terminal Degree for Discipline",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is a terminal degree",
            "nullable": true,
            "x-queryable": true
          },
          "TuitionMethod": {
            "title": "Tuition Method",
            "maxLength": 30,
            "type": "string",
            "description": "Mode of tuition availed during the course of education.",
            "nullable": true,
            "x-queryable": true
          },
          "YearAcquired": {
            "title": "Year Acquired",
            "type": "integer",
            "description": "Year in which the education was completed.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCECandidateEducationItems-item-post-request": {
        "type": "object",
        "properties": {
          "AcademicStanding": {
            "title": "Academic Standing",
            "maxLength": 30,
            "type": "string",
            "description": "Performance of the candidate in education",
            "nullable": true
          },
          "ActivitySummary": {
            "title": "Summary of Activities",
            "type": "string",
            "description": "Activity Summary in candidate education items.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AreaOfStudy": {
            "title": "Area of Study",
            "maxLength": 240,
            "type": "string",
            "description": "Area of study done by the candidate.",
            "nullable": true
          },
          "AverageGrade": {
            "title": "Average Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Average grade secured in education by the candidate.",
            "nullable": true
          },
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Authority granting recognition in the field of education to the candidate.",
            "nullable": true
          },
          "City": {
            "title": "City",
            "maxLength": 240,
            "type": "string",
            "description": "City in which the education was done.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the candidate education details.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed Amount in candidate education items.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTraningUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed Training Units in candidate education items.",
            "nullable": true
          },
          "ContentItemId": {
            "title": "Degree",
            "type": "integer",
            "description": "Unique identifier assigned to the content.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country Code of the location of education.",
            "nullable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "ID assigned to the country where the education was done.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "DateAcquired": {
            "title": "Date Acquired",
            "type": "string",
            "description": "Date when the degree was acquired.",
            "format": "date",
            "nullable": true
          },
          "DegreeName": {
            "title": "Degree",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the education degree earned by the candidate.",
            "nullable": true
          },
          "Department": {
            "title": "Faculty or Department",
            "maxLength": 240,
            "type": "string",
            "description": "Department in which the education is acquired.",
            "nullable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the education item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Duration": {
            "title": "Duration",
            "maxLength": 240,
            "type": "string",
            "description": "Duration of the education.",
            "nullable": true
          },
          "DurationUnits": {
            "title": "Duration Units",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of the duration of education.",
            "nullable": true
          },
          "EduLevelCompletedFlag": {
            "title": "Education Level Completed",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education is complete.",
            "nullable": true
          },
          "EducationId": {
            "type": "integer",
            "description": "ID assigned to the education item.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EducationLevel": {
            "title": "Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Level of the education.",
            "nullable": true
          },
          "EducationURL": {
            "title": "Education URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL of the education.",
            "nullable": true
          },
          "EducationalEstablishment": {
            "title": "School Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the education establishment.",
            "nullable": true
          },
          "EducationalEstablishmentId": {
            "title": "School",
            "type": "integer",
            "description": "ID assigned to the education establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Educator": {
            "title": "Educator",
            "maxLength": 240,
            "type": "string",
            "description": "Educator of the education item.",
            "nullable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the education item.",
            "format": "date",
            "nullable": true
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fees of the education item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency in which the education fees has been paid.",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Service metadata information.",
            "nullable": true,
            "x-queryable": false
          },
          "GPA": {
            "title": "GPA",
            "type": "number",
            "description": "GPA score of the candidate.",
            "nullable": true,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "GraduatedFlag": {
            "title": "Graduated",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the candidate is a graduate.",
            "nullable": true
          },
          "HighestEduLevel": {
            "title": "Highest Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Highest educational level availed by the candidate.",
            "nullable": true
          },
          "Major": {
            "title": "Major",
            "maxLength": 240,
            "type": "string",
            "description": "Major subjects in the education availed by the candidate.",
            "nullable": true
          },
          "Minor": {
            "title": "Minor",
            "maxLength": 240,
            "type": "string",
            "description": "Minor subjects in education availed by the candidate.",
            "nullable": true
          },
          "PartTimeFlag": {
            "title": "Part Time",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is part time or not.",
            "nullable": true
          },
          "ProjectedCompletionDate": {
            "title": "Projected Completion Date",
            "type": "string",
            "description": "Projected completion date of the education item.",
            "format": "date",
            "nullable": true
          },
          "Reimbursements": {
            "title": "Reimbursement Arrangements",
            "type": "string",
            "description": "Reimbursements that can be availed against an education item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is required or not.",
            "nullable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID assigned to the education item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the education item.",
            "format": "date",
            "nullable": true
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "Code assigned to the State Province where the education took place.",
            "nullable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "Unique identifier assigned to the State Province where the education took place.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the education.",
            "nullable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID generated against the educational details entered by the candidate.",
            "nullable": true
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the education item",
            "nullable": true
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount of the education item",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "TrmnlDegDiscpFlag": {
            "title": "Terminal Degree for Discipline",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is a terminal degree",
            "nullable": true
          },
          "TuitionMethod": {
            "title": "Tuition Method",
            "maxLength": 30,
            "type": "string",
            "description": "Mode of tuition availed during the course of education.",
            "nullable": true
          },
          "YearAcquired": {
            "title": "Year Acquired",
            "type": "integer",
            "description": "Year in which the education was completed.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "recruitingCECandidateEducationItems-item-patch-request": {
        "type": "object",
        "properties": {
          "AcademicStanding": {
            "title": "Academic Standing",
            "maxLength": 30,
            "type": "string",
            "description": "Performance of the candidate in education",
            "nullable": true
          },
          "ActivitySummary": {
            "title": "Summary of Activities",
            "type": "string",
            "description": "Activity Summary in candidate education items.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AreaOfStudy": {
            "title": "Area of Study",
            "maxLength": 240,
            "type": "string",
            "description": "Area of study done by the candidate.",
            "nullable": true
          },
          "AverageGrade": {
            "title": "Average Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Average grade secured in education by the candidate.",
            "nullable": true
          },
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Authority granting recognition in the field of education to the candidate.",
            "nullable": true
          },
          "City": {
            "title": "City",
            "maxLength": 240,
            "type": "string",
            "description": "City in which the education was done.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the candidate education details.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed Amount in candidate education items.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTraningUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed Training Units in candidate education items.",
            "nullable": true
          },
          "ContentItemId": {
            "title": "Degree",
            "type": "integer",
            "description": "Unique identifier assigned to the content.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country Code of the location of education.",
            "nullable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "ID assigned to the country where the education was done.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "DateAcquired": {
            "title": "Date Acquired",
            "type": "string",
            "description": "Date when the degree was acquired.",
            "format": "date",
            "nullable": true
          },
          "DegreeName": {
            "title": "Degree",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the education degree earned by the candidate.",
            "nullable": true
          },
          "Department": {
            "title": "Faculty or Department",
            "maxLength": 240,
            "type": "string",
            "description": "Department in which the education is acquired.",
            "nullable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the education item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Duration": {
            "title": "Duration",
            "maxLength": 240,
            "type": "string",
            "description": "Duration of the education.",
            "nullable": true
          },
          "DurationUnits": {
            "title": "Duration Units",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of the duration of education.",
            "nullable": true
          },
          "EduLevelCompletedFlag": {
            "title": "Education Level Completed",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education is complete.",
            "nullable": true
          },
          "EducationLevel": {
            "title": "Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Level of the education.",
            "nullable": true
          },
          "EducationURL": {
            "title": "Education URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL of the education.",
            "nullable": true
          },
          "EducationalEstablishment": {
            "title": "School Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the education establishment.",
            "nullable": true
          },
          "EducationalEstablishmentId": {
            "title": "School",
            "type": "integer",
            "description": "ID assigned to the education establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Educator": {
            "title": "Educator",
            "maxLength": 240,
            "type": "string",
            "description": "Educator of the education item.",
            "nullable": true
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the education item.",
            "format": "date",
            "nullable": true
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fees of the education item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency in which the education fees has been paid.",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Service metadata information.",
            "nullable": true,
            "x-queryable": false
          },
          "GPA": {
            "title": "GPA",
            "type": "number",
            "description": "GPA score of the candidate.",
            "nullable": true,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "GraduatedFlag": {
            "title": "Graduated",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the candidate is a graduate.",
            "nullable": true
          },
          "HighestEduLevel": {
            "title": "Highest Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Highest educational level availed by the candidate.",
            "nullable": true
          },
          "Major": {
            "title": "Major",
            "maxLength": 240,
            "type": "string",
            "description": "Major subjects in the education availed by the candidate.",
            "nullable": true
          },
          "Minor": {
            "title": "Minor",
            "maxLength": 240,
            "type": "string",
            "description": "Minor subjects in education availed by the candidate.",
            "nullable": true
          },
          "PartTimeFlag": {
            "title": "Part Time",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is part time or not.",
            "nullable": true
          },
          "ProjectedCompletionDate": {
            "title": "Projected Completion Date",
            "type": "string",
            "description": "Projected completion date of the education item.",
            "format": "date",
            "nullable": true
          },
          "Reimbursements": {
            "title": "Reimbursement Arrangements",
            "type": "string",
            "description": "Reimbursements that can be availed against an education item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is required or not.",
            "nullable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID assigned to the education item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the education item.",
            "format": "date",
            "nullable": true
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "Code assigned to the State Province where the education took place.",
            "nullable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "Unique identifier assigned to the State Province where the education took place.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the education.",
            "nullable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission ID generated against the educational details entered by the candidate.",
            "nullable": true
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the education item",
            "nullable": true
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount of the education item",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "TrmnlDegDiscpFlag": {
            "title": "Terminal Degree for Discipline",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the education item is a terminal degree",
            "nullable": true
          },
          "TuitionMethod": {
            "title": "Tuition Method",
            "maxLength": 30,
            "type": "string",
            "description": "Mode of tuition availed during the course of education.",
            "nullable": true
          },
          "YearAcquired": {
            "title": "Year Acquired",
            "type": "integer",
            "description": "Year in which the education was completed.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCECandidateEducationItems-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCECandidateEducationItems-item-post-request"
            }
          }
        }
      },
      "recruitingCECandidateEducationItems-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCECandidateEducationItems-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}