{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Sites",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCESiteTileDetails/action/removeInspirationTile": {
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Delete an inspiration tile",
        "description": "Deletes an inspiration tile with the given link identifier.",
        "operationId": "doall_removeInspirationTile_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "number",
                    "description": "Link identifier for deleting the inspiration tile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates the status for the remove inspiration tile action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates the status for the remove inspiration tile action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCESiteTileDetails-action-removeInspirationTile-post",
        "x-filename-id": "recruitingcesitetiledetails-action-removeinspirationtile-post"
      }
    },
    "/recruitingCESiteTileDetails": {
      "get": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Get details for all site links",
        "operationId": "getall_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>IsVisibleFlag; boolean; Indicates whether the site tile should be visible or not.</li><li>Language; string; Language used by the site link.</li><li>LinkDescription; string; Link description provided during the site configuration.</li><li>LinkId; integer; Unique identifier used for the site link.</li><li>LinkName; string; Link name provided during the site configuration.</li><li>LinkNumber; string; Link number provided during the site configuration.</li><li>LinkOrder; integer; Link order provided during the site configuration.</li><li>LinkText; string; Link text or summary provided during the site configuration.</li><li>LinkTypeCode; string; Link type code like job category, discovery, header, footer provided during the site configuration.</li><li>LinkURL; string; Link URL code provided during the site configuration.</li><li>ParentLinkNumber; string; Parent link number provided during the site configuration.</li><li>SiteNumber; string; Site number provided during the site configuration.</li><li>ThumbnailURL; string; Thumbnail URL provided during the site configuration.</li><li>VisibleOnMobile; boolean; Indicates whether the link is visible on mobile and is provided during site configuration.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>LinkNumberRowFinder Finds link using link number. <br>Finder Variables <ul><li>LinkNumber; string;  Link number for the site tile details. </li></ul></li><li>PrimaryKey Finds site tile details by primary key. <br>Finder Variables <ul><li>LinkId; integer;  Link identifier for the site tile details. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "LinkNumberRowFinder",
                "description": "Finds link using link number.",
                "title": "findLinkByLinkNumber",
                "properties": {
                  "LinkNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Link number for the site tile details.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds site tile details by primary key.",
                "properties": {
                  "LinkId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show",
                      "fnd:OA_TRANSLATABLE": "false"
                    },
                    "format": "int64",
                    "description": "Link identifier for the site tile details.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESiteTileDetails"
                }
              }
            },
            "links": {
              "removeInspirationTile": {
                "operationRef": "#/paths/~1recruitingCESiteTileDetails~1action~1removeInspirationTile/post",
                "description": "Deletes an inspiration tile with the given link identifier."
              },
              "addInspirationTile": {
                "operationRef": "#/paths/~1recruitingCESiteTileDetails~1action~1addInspirationTile/post",
                "description": "Adds an inspiration tile with given details."
              },
              "editDiscoveryTile": {
                "operationRef": "#/paths/~1recruitingCESiteTileDetails~1action~1editDiscoveryTile/post",
                "description": "Edits a discovery tile with given details."
              },
              "addDiscoveryTile": {
                "operationRef": "#/paths/~1recruitingCESiteTileDetails~1action~1addDiscoveryTile/post",
                "description": "Adds a discovery tile with given details."
              },
              "removeDiscoveryTile": {
                "operationRef": "#/paths/~1recruitingCESiteTileDetails~1action~1removeDiscoveryTile/post",
                "description": "Deletes discovery tile with the given link identifier."
              },
              "editInspirationTile": {
                "operationRef": "#/paths/~1recruitingCESiteTileDetails~1action~1editInspirationTile/post",
                "description": "Modifies the inspiration tile with given details."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESiteTileDetails-get",
        "x-filename-id": "recruitingcesitetiledetails-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Create details for a site link",
        "operationId": "create_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESiteTileDetails-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESiteTileDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESiteTileDetails-post",
        "x-filename-id": "recruitingcesitetiledetails-post"
      }
    },
    "/recruitingCESiteTileDetails/action/editInspirationTile": {
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Edit an inspiration tile",
        "description": "Modifies the inspiration tile with given details.",
        "operationId": "doall_editInspirationTile_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isVisibleFlag": {
                    "type": "string",
                    "description": "Visible flag for editing an inspiration tile.",
                    "nullable": true
                  },
                  "linkId": {
                    "type": "number",
                    "description": "Link identifier for editing an inspiration tile.",
                    "nullable": true
                  },
                  "linkDescription": {
                    "type": "string",
                    "description": "Link description for editing an inspiration tile.",
                    "nullable": true
                  },
                  "linkOrder": {
                    "type": "number",
                    "description": "Link order for editing an inspiration tile.",
                    "nullable": true
                  },
                  "linkText": {
                    "type": "string",
                    "description": "Link text for editing an inspiration tile.",
                    "nullable": true
                  },
                  "siteNumber": {
                    "type": "string",
                    "description": "Site number for editing an inspiration tile.",
                    "nullable": true
                  },
                  "thumbnailURL": {
                    "type": "string",
                    "description": "Thumbnail URL for editing an inspiration tile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for editing an inspiration tile."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for editing an inspiration tile."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCESiteTileDetails-action-editInspirationTile-post",
        "x-filename-id": "recruitingcesitetiledetails-action-editinspirationtile-post"
      }
    },
    "/recruitingCESiteTileDetails/action/editDiscoveryTile": {
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Edit a discovery tile",
        "description": "Edits a discovery tile with given details.",
        "operationId": "doall_editDiscoveryTile_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isVisibleFlag": {
                    "type": "string",
                    "description": "Visible flag for editing a discovery tile used in the discover page.",
                    "nullable": true
                  },
                  "linkId": {
                    "type": "number",
                    "description": "Language of the site where the pages are published.",
                    "nullable": true
                  },
                  "linkDescription": {
                    "type": "string",
                    "description": "Link description for editing a discovery tile.",
                    "nullable": true
                  },
                  "linkOrder": {
                    "type": "number",
                    "description": "Link order for editing a discovery tile.",
                    "nullable": true
                  },
                  "linkURL": {
                    "type": "string",
                    "description": "Link URL for editing a discovery tile.",
                    "nullable": true
                  },
                  "linkText": {
                    "type": "string",
                    "description": "Link text for editing a discovery tile.",
                    "nullable": true
                  },
                  "siteNumber": {
                    "type": "string",
                    "description": "Site number for editing a discovery tile.",
                    "nullable": true
                  },
                  "thumbnailURL": {
                    "type": "string",
                    "description": "Thumbnail URL for editing a discovery tile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for editing a discovery tile."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for editing a discovery tile."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCESiteTileDetails-action-editDiscoveryTile-post",
        "x-filename-id": "recruitingcesitetiledetails-action-editdiscoverytile-post"
      }
    },
    "/recruitingCESiteTileDetails/action/addDiscoveryTile": {
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Add a discovery tile",
        "description": "Adds a discovery tile with given details.",
        "operationId": "doall_addDiscoveryTile_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isVisibleFlag": {
                    "type": "string",
                    "description": "Visible flag for adding a discovery tile used in the discover page.",
                    "nullable": true
                  },
                  "linkDescription": {
                    "type": "string",
                    "description": "Link description for adding a discovery tile.",
                    "nullable": true
                  },
                  "linkOrder": {
                    "type": "number",
                    "description": "Link order for adding a discovery tile.",
                    "nullable": true
                  },
                  "linkURL": {
                    "type": "string",
                    "description": "Link URL for adding a discovery tile.",
                    "nullable": true
                  },
                  "siteNumber": {
                    "type": "string",
                    "description": "Site number for adding a discovery tile.",
                    "nullable": true
                  },
                  "linkText": {
                    "type": "string",
                    "description": "Link text for adding a discovery tile.",
                    "nullable": true
                  },
                  "thumbnailURL": {
                    "type": "string",
                    "description": "Thumbnail URL for adding a discovery tile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for adding a discovery tile."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for adding a discovery tile."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCESiteTileDetails-action-addDiscoveryTile-post",
        "x-filename-id": "recruitingcesitetiledetails-action-adddiscoverytile-post"
      }
    },
    "/recruitingCESiteTileDetails/action/removeDiscoveryTile": {
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Delete a discovery tile",
        "description": "Deletes discovery tile with the given link identifier.",
        "operationId": "doall_removeDiscoveryTile_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkId": {
                    "type": "number",
                    "description": "Link identifier for deleting the discovery tile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Status of the remove discovery tile action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Status of the remove discovery tile action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCESiteTileDetails-action-removeDiscoveryTile-post",
        "x-filename-id": "recruitingcesitetiledetails-action-removediscoverytile-post"
      }
    },
    "/recruitingCESiteTileDetails/action/addInspirationTile": {
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Add an inspiration tile",
        "description": "Adds an inspiration tile with given details.",
        "operationId": "doall_addInspirationTile_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isVisibleFlag": {
                    "type": "string",
                    "description": "Visible flag for adding an inspiration tile.",
                    "nullable": true
                  },
                  "linkDescription": {
                    "type": "string",
                    "description": "Link description for adding an inspiration tile.",
                    "nullable": true
                  },
                  "linkOrder": {
                    "type": "number",
                    "description": "Link order for adding an inspiration tile.",
                    "nullable": true
                  },
                  "siteNumber": {
                    "type": "string",
                    "description": "Site number for adding an inspiration tile.",
                    "nullable": true
                  },
                  "linkText": {
                    "type": "string",
                    "description": "Link text for adding an inspiration tile.",
                    "nullable": true
                  },
                  "thumbnailURL": {
                    "type": "string",
                    "description": "Thumbnail URL for adding an inspiration tile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for adding an inspiration tile."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Return value for adding an inspiration tile."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCESiteTileDetails-action-addInspirationTile-post",
        "x-filename-id": "recruitingcesitetiledetails-action-addinspirationtile-post"
      }
    },
    "/recruitingCESiteTileDetails/{LinkId}": {
      "get": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Get details for a single site link",
        "operationId": "get_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "LinkId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier used for the site link.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "PAYLOADHINT": "Show",
                "fnd:OA_TRANSLATABLE": "false"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESiteTileDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESiteTileDetails-{LinkId}-get",
        "x-filename-id": "recruitingcesitetiledetails-linkid-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Delete details for a site link",
        "operationId": "delete_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "LinkId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier used for the site link.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "PAYLOADHINT": "Show",
                "fnd:OA_TRANSLATABLE": "false"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCESiteTileDetails-{LinkId}-delete",
        "x-filename-id": "recruitingcesitetiledetails-linkid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Update details for a site link",
        "operationId": "update_recruitingCESiteTileDetails",
        "parameters": [
          {
            "name": "LinkId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier used for the site link.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "PAYLOADHINT": "Show",
                "fnd:OA_TRANSLATABLE": "false"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESiteTileDetails-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESiteTileDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESiteTileDetails-{LinkId}-patch",
        "x-filename-id": "recruitingcesitetiledetails-linkid-patch"
      }
    },
    "/recruitingCESites/{SiteNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Get a site",
        "operationId": "get_recruitingCESites",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-item-response"
                }
              }
            },
            "links": {
              "settings": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1settings/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The settings resource is a child of recruitingCESites. It includes all the settings of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1languages/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The languages resource is a child of recruitingCESites. It includes the details of languages in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customIcons": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customIcons/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customIcons resource is a child of recruitingCESites. It includes the details for the custom icons. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "headerLinks": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1headerLinks/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The headerLinks resource is a child of recruitingCESites. It includes all the header links of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "filters": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1filters/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The filters resource is a child of recruitingCESites. It includes all the filters of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "jobCategoryLinks": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1jobCategoryLinks/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The jobCategoryLinks resource is a child of recruitingCESites. It includes all the category specific links of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "talentCommunitySignUp": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1talentCommunitySignUp/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The resource gives talent community sign up in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "siteFavicon": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1siteFavicon/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The siteFavicon is the child resource of recruitingCESites. It includes three sizes of favorite icons for each site. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "cookieConsent": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1cookieConsent/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The cookieConsent resource is a child of recruitingCESites. It includes the details of the accepted cookies. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "pages": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The pages resource is a child of recruitingCESites. It includes the details of the pages in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1translations/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of recruitingCESites. It includes the translations of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "footerLinks": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1footerLinks/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The footerLinks resource is a child of recruitingCESites. It includes footer links in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customFonts": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customFonts/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customFonts resource is a child of recruitingCESites. It includes the details for the custom fonts. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-get",
        "x-filename-id": "recruitingcesites-sitenumber-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Delete a site",
        "operationId": "delete_recruitingCESites",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-delete",
        "x-filename-id": "recruitingcesites-sitenumber-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Update a site",
        "operationId": "update_recruitingCESites",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-item-response"
                }
              }
            },
            "links": {
              "settings": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1settings/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The settings resource is a child of recruitingCESites. It includes all the settings of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1languages/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The languages resource is a child of recruitingCESites. It includes the details of languages in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customIcons": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customIcons/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customIcons resource is a child of recruitingCESites. It includes the details for the custom icons. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "headerLinks": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1headerLinks/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The headerLinks resource is a child of recruitingCESites. It includes all the header links of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "filters": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1filters/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The filters resource is a child of recruitingCESites. It includes all the filters of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "jobCategoryLinks": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1jobCategoryLinks/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The jobCategoryLinks resource is a child of recruitingCESites. It includes all the category specific links of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "talentCommunitySignUp": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1talentCommunitySignUp/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The resource gives talent community sign up in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "siteFavicon": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1siteFavicon/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The siteFavicon is the child resource of recruitingCESites. It includes three sizes of favorite icons for each site. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "cookieConsent": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1cookieConsent/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The cookieConsent resource is a child of recruitingCESites. It includes the details of the accepted cookies. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "pages": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1pages/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The pages resource is a child of recruitingCESites. It includes the details of the pages in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1translations/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The translations resource is a child of recruitingCESites. It includes the translations of the recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "footerLinks": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1footerLinks/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The footerLinks resource is a child of recruitingCESites. It includes footer links in recruitingCESites. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customFonts": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customFonts/get",
                "parameters": {
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customFonts resource is a child of recruitingCESites. It includes the details for the custom fonts. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-patch",
        "x-filename-id": "recruitingcesites-sitenumber-patch"
      }
    },
    "/recruitingCESites": {
      "get": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Get all recruitingCESites",
        "operationId": "getall_recruitingCESites",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CustomAction; string; Custom action defined on the recruitingCESites.</li><li>DefaultLang; string; Default Language of the recruitingCESites.</li><li>EmailTemplateId; integer; ID assigned to each HTML email template for the career site.</li><li>EventsEnabledFlag; boolean; Indicates whether events are enabled for a career site. Note that the service endpoints in this resource category are only for Oracle internal use.</li><li>Language; string; Language opted on the recruitingCESites.</li><li>OgImageSrc; string; Image source used as Open Graph Image when sharing the page on social platforms.</li><li>ReplacementSiteNumber; string; Replacement site number for the recruitingCESites.</li><li>SeoDescription; string; Get SEO description</li><li>SeoKeywords; string; Get SEO keywords</li><li>SeoOrganizationLogo; string; Get SEO organization logo</li><li>SeoOrganizationName; string; Get SEO organization name</li><li>SeoOrganizationSameAs; string; Get SEO organization url</li><li>SequenceNumber; integer; Sequence number for the recruitingCESites.</li><li>SiteCode; string; Code assigned to the recruitingCESites.</li><li>SiteId; integer; Unique ID assigned to each site.</li><li>SiteName; string; Name assigned to the recruitingCESites.</li><li>SiteNumber; string; Number assigned to the recruitingCESites.</li><li>SiteURLName; string; Site display name for URL.</li><li>StatusCode; string; Status code assigned to the recruitingCESites.</li><li>TemplateNumber; string; Number assigned to the template of the recruitingCESites.</li><li>ThemeId; integer; Unique ID assigned to each site theme.</li><li>ThemeNumber; string; Number assigned to the theme of the recruitingCESites.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Find recruitingCESites by a unique ID <br>Finder Variables <ul><li>SiteId; integer;  Finds Recruiting CE Site by a unique Site ID and the primary key </li><li>ThemeId; integer;  Finds Recruiting CE Site by a unique Theme ID and the primary key </li></ul></li><li>SiteByCode Find recruitingCESites by SiteByCode <br>Finder Variables <ul><li>SiteCode; string;  Find recruitingCESites by SiteByCode and SiteCode; string;  </li></ul></li><li>SiteByNumberFinder Find recruitingCESites by SiteByNumberFinder <br>Finder Variables <ul><li>SiteNumber; string;  Find recruitingCESites by SiteByNumberFinder and SiteNumber; string;  </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Find recruitingCESites by a unique ID",
                "properties": {
                  "ThemeId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Finds Recruiting CE Site by a unique Theme ID and the primary key",
                    "type": "integer"
                  },
                  "SiteId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Finds Recruiting CE Site by a unique Site ID and the primary key",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "SiteByCode",
                "description": "Find recruitingCESites by SiteByCode",
                "title": "SiteCodeCriteria",
                "properties": {
                  "SiteCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find recruitingCESites by SiteByCode and SiteCode",
                    "type": "string"
                  }
                }
              },
              {
                "name": "SiteByNumberFinder",
                "description": "Find recruitingCESites by SiteByNumberFinder",
                "title": "findBySiteNumber",
                "properties": {
                  "SiteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find recruitingCESites by SiteByNumberFinder and SiteNumber",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-get",
        "x-filename-id": "recruitingcesites-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Sites"
        ],
        "summary": "Submit all recruitingCESites",
        "operationId": "create_recruitingCESites",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
[...]
