{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Resume Parser",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidateProfileImports": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get all the candidate resumes in a collection",
        "operationId": "getall_recruitingCECandidateProfileImports",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressLine1; string; First address line in the candidate resume.</li><li>AddressLine2; string; Second address line in the candidate resume.</li><li>AttachmentId; string; Attachment ID of the candidate resume.</li><li>AttachmentTrackerId; string; Attachment tracker identifier of the candidate resume.</li><li>Citizenship; string; Citizenship information in the candidate resume.</li><li>City; string; City in the candidate resume.</li><li>Country; string; Country in the candidate resume.</li><li>DisplayName; string; Display name in the candidate resume.</li><li>Email; string; Email ID in the candidate resume.</li><li>FileContents; string; File content in the candidate resume.</li><li>FileTitle; string; File title in the candidate resume.</li><li>FirstName; string; First name in the candidate resume.</li><li>FlowVersionId; integer; Flow version ID of the candidate resume.</li><li>LastName; string; Last name in the candidate resume.</li><li>MiddleNames; string; Middle name in the candidate resume.</li><li>MilitaryRank; string; Military rank in the candidate resume.</li><li>MobilePhoneAreaCode; string; Mobile phone number area code in the candidate resume.</li><li>MobilePhoneCountryCode; string; Mobile phone number country code in the candidate resume.</li><li>MobilePhoneNumber; string; Mobile phone number in the candidate resume.</li><li>MockParam; string; Mock parameter in the candidate resume</li><li>PostalCode; string; Postal code of the candidate address in the candidate resume.</li><li>PreNameAdjunct; string; Previous name adjunct in the candidate resume.</li><li>ProfileId; string; Profile ID of the candidate resume.</li><li>ProfileType; string; Profile type of the candidate resume.</li><li>ProviderKey; string; Provider token of the candidate resume.</li><li>ProviderToken; string; Provider token of the candidate resume.</li><li>Region1; string; Region 1 in the candidate resume.</li><li>Region2; string; Region 2 in the candidate resume.</li><li>Region3; string; Region 3 in the candidate resume.</li><li>StatusCode; integer; Status code returned to the partner.</li><li>Suffix; string; Suffix in the candidate resume.</li><li>Title; string; Title of the candidate resume.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a candidate by the ID <br>Finder Variables <ul><li>ProfileId; string;  Finds a candidate by the ID and the profile ID </li></ul></li><li>findByProfileType Finds a candidate by the profile type <br>Finder Variables <ul><li>bAttachmentId; string;  Finds a candidate by the profile type and the attachment ID </li><li>bFlowVersionId; integer;  Finds a candidate by the profile type and the flow version ID </li><li>bMockParam; string;  Finds a candidate by the profile type and the mock parameter </li><li>bProfileType; string;  Finds a candidate by the profile type and the profile type ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a candidate by the ID",
                "properties": {
                  "ProfileId": {
                    "nullable": true,
                    "description": "Finds a candidate by the ID and the profile ID",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByProfileType",
                "description": "Finds a candidate by the profile type",
                "title": "searchByProfileType",
                "properties": {
                  "bProfileType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the profile type ID",
                    "type": "string"
                  },
                  "bMockParam": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the mock parameter",
                    "type": "string"
                  },
                  "bAttachmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the attachment ID",
                    "type": "string"
                  },
                  "bFlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the flow version ID",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateProfileImports"
                }
              }
            },
            "links": {
              "getRPConfiguration": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1action~1getRPConfiguration/post",
                "description": "Gets a resume parser configuration."
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateProfileImports-get",
        "x-filename-id": "recruitingcecandidateprofileimports-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Create a candidate resume",
        "operationId": "create_recruitingCECandidateProfileImports",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateProfileImports-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateProfileImports-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1skills/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The skills resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the skills obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1workPreferences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workPreferences resource is a child of recruitingCECandidateResumeParsers. It includes the details of the work preferences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1attachments/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The attachments resource is a child of recruitingCECandidateResumeParsers. It includes the details of all attachments added by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1languages/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The languages resource is a child of recruitingCECandidateResumeParsers. It includes details of the languages known to the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workExperiences": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1workExperiences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workExperiences resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the work experiences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1educations/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The educations resource is a child of recruitingCECandidateResumeParsers. It includes details of the educational qualifications of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "licensesAndCertifications": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1licensesAndCertifications/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The licensesAndcertifications resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the licenses and certifications obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateProfileImports-post",
        "x-filename-id": "recruitingcecandidateprofileimports-post"
      }
    },
    "/recruitingCECandidateProfileImports/action/getRPConfiguration": {
      "post": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get a resume parser configuration",
        "description": "Gets a resume parser configuration.",
        "operationId": "doall_getRPConfiguration_recruitingCECandidateProfileImports",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "Resume parser language.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the resume parser configuration."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the resume parser configuration."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingCECandidateProfileImports-action-getRPConfiguration-post",
        "x-filename-id": "recruitingcecandidateprofileimports-action-getrpconfiguration-post"
      }
    },
    "/recruitingCECandidateProfileImports/{ProfileId}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get a single candidate resume",
        "operationId": "get_recruitingCECandidateProfileImports",
        "parameters": [
          {
            "name": "ProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateProfileImports-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1skills/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The skills resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the skills obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1workPreferences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workPreferences resource is a child of recruitingCECandidateResumeParsers. It includes the details of the work preferences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1attachments/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The attachments resource is a child of recruitingCECandidateResumeParsers. It includes the details of all attachments added by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1languages/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The languages resource is a child of recruitingCECandidateResumeParsers. It includes details of the languages known to the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workExperiences": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1workExperiences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workExperiences resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the work experiences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1educations/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The educations resource is a child of recruitingCECandidateResumeParsers. It includes details of the educational qualifications of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "licensesAndCertifications": {
                "operationRef": "#/paths/~1recruitingCECandidateProfileImports~1{ProfileId}~1child~1licensesAndCertifications/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The licensesAndcertifications resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the licenses and certifications obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateProfileImports-{ProfileId}-get",
        "x-filename-id": "recruitingcecandidateprofileimports-profileid-get"
      }
    },
    "/recruitingUICandidateResumeParsers/action/getRPConfiguration": {
      "post": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get a resume parser configuration",
        "description": "Gets a resume parser configuration.",
        "operationId": "doall_getRPConfiguration_recruitingUICandidateResumeParsers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "Resume parser language.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the resume parser configuration."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Response returned for the resume parser configuration."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUICandidateResumeParsers-action-getRPConfiguration-post",
        "x-filename-id": "recruitinguicandidateresumeparsers-action-getrpconfiguration-post"
      }
    },
    "/recruitingUICandidateResumeParsers/{ProfileId}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get a single candidate resume",
        "operationId": "get_recruitingUICandidateResumeParsers",
        "parameters": [
          {
            "name": "ProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICandidateResumeParsers-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1skills/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The skills resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the skills obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1workPreferences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workPreferences resource is a child of recruitingCECandidateResumeParsers. It includes the details of the work preferences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1attachments/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The attachments resource is a child of recruitingCECandidateResumeParsers. It includes the details of all attachments added by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1languages/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The languages resource is a child of recruitingCECandidateResumeParsers. It includes details of the languages known to the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workExperiences": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1workExperiences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workExperiences resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the work experiences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1educations/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The educations resource is a child of recruitingCECandidateResumeParsers. It includes details of the educational qualifications of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "licensesAndCertifications": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1licensesAndCertifications/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The licensesAndcertifications resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the licenses and certifications obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICandidateResumeParsers-{ProfileId}-get",
        "x-filename-id": "recruitinguicandidateresumeparsers-profileid-get"
      }
    },
    "/recruitingUICandidateResumeParsers": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get all the candidate resumes in a collection",
        "operationId": "getall_recruitingUICandidateResumeParsers",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressLine1; string; First address line in the candidate resume.</li><li>AddressLine2; string; Second address line in the candidate resume.</li><li>AttachmentId; string; Attachment ID of the candidate resume.</li><li>AttachmentTrackerId; string; Attachment tracker identifier of the candidate resume.</li><li>Citizenship; string; Citizenship information in the candidate resume.</li><li>City; string; City in the candidate resume.</li><li>Country; string; Country in the candidate resume.</li><li>DisplayName; string; Display name in the candidate resume.</li><li>Email; string; Email ID in the candidate resume.</li><li>FileContents; string; File content in the candidate resume.</li><li>FileTitle; string; File title in the candidate resume.</li><li>FirstName; string; First name in the candidate resume.</li><li>FlowVersionId; integer; Flow version ID of the candidate resume.</li><li>LastName; string; Last name in the candidate resume.</li><li>MiddleNames; string; Middle name in the candidate resume.</li><li>MilitaryRank; string; Military rank in the candidate resume.</li><li>MobilePhoneAreaCode; string; Mobile phone number area code in the candidate resume.</li><li>MobilePhoneCountryCode; string; Mobile phone number country code in the candidate resume.</li><li>MobilePhoneNumber; string; Mobile phone number in the candidate resume.</li><li>MockParam; string; Mock parameter in the candidate resume</li><li>PostalCode; string; Postal code of the candidate address in the candidate resume.</li><li>PreNameAdjunct; string; Previous name adjunct in the candidate resume.</li><li>ProfileId; string; Profile ID of the candidate resume.</li><li>ProfileType; string; Profile type of the candidate resume.</li><li>ProviderKey; string; Provider token of the candidate resume.</li><li>ProviderToken; string; Provider token of the candidate resume.</li><li>Region1; string; Region 1 in the candidate resume.</li><li>Region2; string; Region 2 in the candidate resume.</li><li>Region3; string; Region 3 in the candidate resume.</li><li>StatusCode; integer; Status code returned to the partner.</li><li>Suffix; string; Suffix in the candidate resume.</li><li>Title; string; Title of the candidate resume.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a candidate by the ID <br>Finder Variables <ul><li>ProfileId; string;  Finds a candidate by the ID and the profile ID </li></ul></li><li>findByProfileType Finds a candidate by the profile type <br>Finder Variables <ul><li>bAttachmentId; string;  Finds a candidate by the profile type and the attachment ID </li><li>bFlowVersionId; integer;  Finds a candidate by the profile type and the flow version ID </li><li>bMockParam; string;  Finds a candidate by the profile type and the mock parameter </li><li>bProfileType; string;  Finds a candidate by the profile type and the profile type ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a candidate by the ID",
                "properties": {
                  "ProfileId": {
                    "nullable": true,
                    "description": "Finds a candidate by the ID and the profile ID",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByProfileType",
                "description": "Finds a candidate by the profile type",
                "title": "searchByProfileType",
                "properties": {
                  "bProfileType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the profile type ID",
                    "type": "string"
                  },
                  "bMockParam": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the mock parameter",
                    "type": "string"
                  },
                  "bAttachmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the attachment ID",
                    "type": "string"
                  },
                  "bFlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the flow version ID",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICandidateResumeParsers"
                }
              }
            },
            "links": {
              "getRPConfiguration": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1action~1getRPConfiguration/post",
                "description": "Gets a resume parser configuration."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICandidateResumeParsers-get",
        "x-filename-id": "recruitinguicandidateresumeparsers-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Create a candidate resume",
        "operationId": "create_recruitingUICandidateResumeParsers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUICandidateResumeParsers-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUICandidateResumeParsers-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1skills/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The skills resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the skills obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1workPreferences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workPreferences resource is a child of recruitingCECandidateResumeParsers. It includes the details of the work preferences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1attachments/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The attachments resource is a child of recruitingCECandidateResumeParsers. It includes the details of all attachments added by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1languages/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The languages resource is a child of recruitingCECandidateResumeParsers. It includes details of the languages known to the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workExperiences": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1workExperiences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workExperiences resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the work experiences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1educations/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The educations resource is a child of recruitingCECandidateResumeParsers. It includes details of the educational qualifications of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "licensesAndCertifications": {
                "operationRef": "#/paths/~1recruitingUICandidateResumeParsers~1{ProfileId}~1child~1licensesAndCertifications/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The licensesAndcertifications resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the licenses and certifications obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingUICandidateResumeParsers-post",
        "x-filename-id": "recruitinguicandidateresumeparsers-post"
      }
    },
    "/recruitingCECandidateResumeParsers/{ProfileId}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get a single candidate resume",
        "operationId": "get_recruitingCECandidateResumeParsers",
        "parameters": [
          {
            "name": "ProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateResumeParsers-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1skills/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The skills resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the skills obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1workPreferences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workPreferences resource is a child of recruitingCECandidateResumeParsers. It includes the details of the work preferences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1attachments/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The attachments resource is a child of recruitingCECandidateResumeParsers. It includes the details of all attachments added by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1languages/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The languages resource is a child of recruitingCECandidateResumeParsers. It includes details of the languages known to the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workExperiences": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1workExperiences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workExperiences resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the work experiences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "educations": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1educations/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The educations resource is a child of recruitingCECandidateResumeParsers. It includes details of the educational qualifications of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "licensesAndCertifications": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1licensesAndCertifications/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The licensesAndcertifications resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the licenses and certifications obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateResumeParsers-{ProfileId}-get",
        "x-filename-id": "recruitingcecandidateresumeparsers-profileid-get"
      }
    },
    "/recruitingCECandidateResumeParsers": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Get all the candidate resumes in a collection",
        "operationId": "getall_recruitingCECandidateResumeParsers",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressLine1; string; First address line in the candidate resume.</li><li>AddressLine2; string; Second address line in the candidate resume.</li><li>AttachmentId; string; Attachment ID of the candidate resume.</li><li>AttachmentTrackerId; string; Attachment tracker identifier of the candidate resume.</li><li>Citizenship; string; Citizenship information in the candidate resume.</li><li>City; string; City in the candidate resume.</li><li>Country; string; Country in the candidate resume.</li><li>DisplayName; string; Display name in the candidate resume.</li><li>Email; string; Email ID in the candidate resume.</li><li>FileContents; string; File content in the candidate resume.</li><li>FileTitle; string; File title in the candidate resume.</li><li>FirstName; string; First name in the candidate resume.</li><li>FlowVersionId; integer; Flow version ID of the candidate resume.</li><li>LastName; string; Last name in the candidate resume.</li><li>MiddleNames; string; Middle name in the candidate resume.</li><li>MilitaryRank; string; Military rank in the candidate resume.</li><li>MobilePhoneAreaCode; string; Mobile phone number area code in the candidate resume.</li><li>MobilePhoneCountryCode; string; Mobile phone number country code in the candidate resume.</li><li>MobilePhoneNumber; string; Mobile phone number in the candidate resume.</li><li>MockParam; string; Mock parameter in the candidate resume</li><li>PostalCode; string; Postal code of the candidate address in the candidate resume.</li><li>PreNameAdjunct; string; Previous name adjunct in the candidate resume.</li><li>ProfileId; string; Profile ID of the candidate resume.</li><li>ProfileType; string; Profile type of the candidate resume.</li><li>ProviderKey; string; Provider token of the candidate resume.</li><li>ProviderToken; string; Provider token of the candidate resume.</li><li>Region1; string; Region 1 in the candidate resume.</li><li>Region2; string; Region 2 in the candidate resume.</li><li>Region3; string; Region 3 in the candidate resume.</li><li>StatusCode; integer; Status code returned to the partner.</li><li>Suffix; string; Suffix in the candidate resume.</li><li>Title; string; Title of the candidate resume.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a candidate by the ID <br>Finder Variables <ul><li>ProfileId; string;  Finds a candidate by the ID and the profile ID </li></ul></li><li>findByProfileType Finds a candidate by the profile type <br>Finder Variables <ul><li>bAttachmentId; string;  Finds a candidate by the profile type and the attachment ID </li><li>bFlowVersionId; integer;  Finds a candidate by the profile type and the flow version ID </li><li>bMockParam; string;  Finds a candidate by the profile type and the mock parameter </li><li>bProfileType; string;  Finds a candidate by the profile type and the profile type ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a candidate by the ID",
                "properties": {
                  "ProfileId": {
                    "nullable": true,
                    "description": "Finds a candidate by the ID and the profile ID",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByProfileType",
                "description": "Finds a candidate by the profile type",
                "title": "searchByProfileType",
                "properties": {
                  "bProfileType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the profile type ID",
                    "type": "string"
                  },
                  "bMockParam": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the mock parameter",
                    "type": "string"
                  },
                  "bAttachmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the attachment ID",
                    "type": "string"
                  },
                  "bFlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a candidate by the profile type and the flow version ID",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateResumeParsers"
                }
              }
            },
            "links": {
              "getRPConfiguration": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1action~1getRPConfiguration/post",
                "description": "Gets a resume parser configuration."
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateResumeParsers-get",
        "x-filename-id": "recruitingcecandidateresumeparsers-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Candidate Resume Parser"
        ],
        "summary": "Create a candidate resume",
        "operationId": "create_recruitingCECandidateResumeParsers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateResumeParsers-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateResumeParsers-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1skills/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The skills resource is a child of recruitingCECandidateResumeParsers. It includes the details of all the skills obtained by the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCECandidateResumeParsers~1{ProfileId}~1child~1workPreferences/get",
                "parameters": {
                  "ProfileId": "$request.path.ProfileId"
                },
                "description": "The workPreferences resource is a child of recruitingCECandidateResumeParsers. It includes the details of the work preferences of the candidate. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
[...]
