{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting ICE Job Application Draft",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingICEJobApplicationDrafts": {
      "get": {
        "tags": [
          "Recruiting ICE Job Application Draft"
        ],
        "summary": "Get all job application drafts",
        "operationId": "getall_recruitingICEJobApplicationDrafts",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Action; string; Title of the action associated with the internal candidate experience application draft.</li><li>AttachmentEntityName; string; Plain string value of the attachment name in the internal candidate experience application draft.</li><li>Content; string; Plain string value of the content of the internal candidate experience application draft.</li><li>IceDraftId; integer; Plain string value of the internal candidate experience draft identifier.</li><li>PersonId; integer; Plain string value of the person identifier associated with internal candidate experience application draft.</li><li>QstnrVersionNumber; integer; Plain string value of the questionnaire version number associated with internal candidate experience application draft.</li><li>QuestionnaireId; integer; Plain string value of questionnaire identifier associated with internal candidate experience application draft.</li><li>RequisitionNumber; string; Plain string value of the requisition number associated with internal candidate experience application draft.</li><li>RequisitionTitle; string; Plain string value of requisition title associated with internal candidate experience application draft</li><li>SubscriberCode; string; Plain string value of the subscriber code associated with the internal candidate experience application draft.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a job application draft using a unique key. <br>Finder Variables <ul><li>IceDraftId; integer;  Finds a internal candidate experience job application draft using an identifier IceDraftId; integer; . </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a job application draft using a unique key.",
                "properties": {
                  "IceDraftId": {
                    "nullable": true,
                    "description": "Finds a internal candidate experience job application draft using an identifier IceDraftId.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplicationDrafts-get",
        "x-filename-id": "recruitingicejobapplicationdrafts-get"
      },
      "post": {
        "tags": [
          "Recruiting ICE Job Application Draft"
        ],
        "summary": "Post all job application drafts",
        "operationId": "create_recruitingICEJobApplicationDrafts",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingICEJobApplicationDrafts-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingICEJobApplicationDrafts~1{IceDraftId}~1child~1questionnaireResponses/get",
                "parameters": {
                  "IceDraftId": "$request.path.IceDraftId"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingICEJobApplicationDrafts~1{IceDraftId}~1child~1attachments/get",
                "parameters": {
                  "IceDraftId": "$request.path.IceDraftId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplicationDrafts-post",
        "x-filename-id": "recruitingicejobapplicationdrafts-post"
      }
    },
    "/recruitingICEJobApplicationDrafts/{IceDraftId}": {
      "get": {
        "tags": [
          "Recruiting ICE Job Application Draft"
        ],
        "summary": "Get a job application draft",
        "operationId": "get_recruitingICEJobApplicationDrafts",
        "parameters": [
          {
            "name": "IceDraftId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Plain string value of the internal candidate experience draft identifier.",
              "nullable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingICEJobApplicationDrafts~1{IceDraftId}~1child~1questionnaireResponses/get",
                "parameters": {
                  "IceDraftId": "$request.path.IceDraftId"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingICEJobApplicationDrafts~1{IceDraftId}~1child~1attachments/get",
                "parameters": {
                  "IceDraftId": "$request.path.IceDraftId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplicationDrafts-{IceDraftId}-get",
        "x-filename-id": "recruitingicejobapplicationdrafts-icedraftid-get"
      },
      "delete": {
        "tags": [
          "Recruiting ICE Job Application Draft"
        ],
        "summary": "Delete a job application draft",
        "operationId": "delete_recruitingICEJobApplicationDrafts",
        "parameters": [
          {
            "name": "IceDraftId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Plain string value of the internal candidate experience draft identifier.",
              "nullable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingICEJobApplicationDrafts-{IceDraftId}-delete",
        "x-filename-id": "recruitingicejobapplicationdrafts-icedraftid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting ICE Job Application Draft"
        ],
        "summary": "Update a job application draft",
        "operationId": "update_recruitingICEJobApplicationDrafts",
        "parameters": [
          {
            "name": "IceDraftId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Plain string value of the internal candidate experience draft identifier.",
              "nullable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingICEJobApplicationDrafts-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-item-response"
                }
              }
            },
            "links": {
              "questionnaireResponses": {
                "operationRef": "#/paths/~1recruitingICEJobApplicationDrafts~1{IceDraftId}~1child~1questionnaireResponses/get",
                "parameters": {
                  "IceDraftId": "$request.path.IceDraftId"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingICEJobApplicationDrafts~1{IceDraftId}~1child~1attachments/get",
                "parameters": {
                  "IceDraftId": "$request.path.IceDraftId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplicationDrafts-{IceDraftId}-patch",
        "x-filename-id": "recruitingicejobapplicationdrafts-icedraftid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingICEJobApplicationDrafts": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingICEJobApplicationDrafts-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "maxLength": 255,
            "type": "string",
            "description": "Title of the action associated with the internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "AttachmentEntityName": {
            "maxLength": 255,
            "type": "string",
            "description": "Plain string value of the attachment name in the internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "Content": {
            "type": "string",
            "description": "Plain string value of the content of the internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "IceDraftId": {
            "type": "integer",
            "description": "Plain string value of the internal candidate experience draft identifier.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Plain string value of the person identifier associated with internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Plain string value of the questionnaire version number associated with internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "Plain string value of questionnaire identifier associated with internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Plain string value of the requisition number associated with internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "maxLength": 255,
            "type": "string",
            "description": "Plain string value of requisition title associated with internal candidate experience application draft",
            "nullable": true,
            "x-queryable": true
          },
          "SubscriberCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Plain string value of the subscriber code associated with the internal candidate experience application draft.",
            "nullable": true,
            "x-queryable": true
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-attachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questionnaireResponses": {
            "title": "Questionnaire Responses",
            "type": "array",
            "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-questionnaireResponses-item-response"
            }
          }
        }
      },
      "recruitingICEJobApplicationDrafts-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingICEJobApplicationDrafts-questionnaireResponses-item-response": {
        "type": "object",
        "properties": {
          "AttemptNumber": {
            "title": "Attempt Number",
            "type": "integer",
            "description": "The attempt number of a participant when responding to a questionnaire.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the questionnaire response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the questionnaire response was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date on which the questionnaire response was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the questionnaire response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LatestAttemptFlag": {
            "title": "Latest Attempt",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the response is the latest attempt by a participant to the questionnaire. This is a read-only attribute.",
            "nullable": false,
            "readOnly": true,
            "default": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "QuestionnaireParticipantId": {
            "title": "Questionnaire Participant Id",
            "type": "integer",
            "description": "Surrogate identifier for the questionnaire participant.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireResponseId": {
            "title": "Questionnaire Response Id",
            "type": "integer",
            "description": "Surrogate identifier for the questionnaire response.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionnaireVersionNumber": {
            "title": "Questionnaire Version",
            "type": "integer",
            "description": "Version number of the questionnaire that the participant responds to.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "Status": {
            "title": "Response Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the questionnaire response. I denotes the response is in progress and not submitted yet, while S denotes a submitted response.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Response Status",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the status code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SubmittedDateTime": {
            "title": "Submitted Time",
            "type": "string",
            "description": "Date on which the questionnaire response was submitted.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TotalScore": {
            "title": "Total Score",
            "type": "number",
            "description": "Total score for the responses submitted by a participant for a questionnaire.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "scale": 2
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questionResponses": {
            "title": "Question Responses",
            "type": "array",
            "description": "The questionResponses resource is a child of the questionnaireResponses resource. It includes responses to specific questions within a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-item-response"
            }
          },
          "questionnaireAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-questionnaireResponses-questionnaireAttachments-item-response"
            }
          }
        }
      },
      "recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-item-response": {
        "type": "object",
        "properties": {
          "AnswerCode": {
            "title": "Answer Code",
            "maxLength": 240,
            "type": "string",
            "description": "The answer code that a participant chose when responding to a single choice question.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "QuestionnaireQuestionId"
              ]
            },
            "x-queryable": true
          },
          "AnswerCodeList": {
            "title": "Answer Code List",
            "type": "string",
            "description": "Concatenated list of answer choices, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-queryable": true
          },
          "AnswerComments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Additional comments provided by the participant when responding to a question.",
            "nullable": true,
            "x-queryable": true
          },
          "AnswerLargeObject": {
            "title": "Answer",
            "type": "string",
            "description": "Attachment provided by the participant when responding to a question.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AnswerList": {
            "title": "Answer List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "AnswerShortDescriptionList": {
            "title": "Answer Short Description",
            "type": "string",
            "description": "Concatenated list of answer texts, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AnswerShortdescription": {
            "title": "Answer Short Description",
            "maxLength": 240,
            "type": "string",
            "description": "Text of the answer chosen by a participant when responding to a single choice question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ChoiceCodeList": {
            "title": "Choice List Code",
            "type": "string",
            "description": "Concatenated list of answer codes, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": true
          },
          "ChoiceList": {
            "title": "Choice List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": false
          },
          "ChoiceShortDescription": {
            "title": "Choice Short Description",
            "type": "string",
            "description": "Concatenated list of answer texts, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the question response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the question response was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date on which the question response was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the question response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the answer that a participant chose when responding to a single choice question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "dependencies": [
                "QuestionCode",
                "QuestionId"
              ]
            },
            "x-queryable": true
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Alphanumeric value that uniquely identifies a question defined for a subscriber.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionResponseId": {
            "title": "Question Response Id",
            "type": "integer",
            "description": "Surrogate identifier for the question response.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Text of the question that a participant responds to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question in a questionnaire.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "Score": {
            "title": "Answer Score",
            "type": "integer",
            "description": "Calculated score for the responses provided for a question by a participant.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questionResponseAttachments": {
            "title": "Question Response Attachments",
            "type": "array",
            "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-questionResponseAttachments-item-response"
            }
          }
        }
      },
      "recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-questionResponseAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided exclusively for the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the file can be shared. The default value is false and it's the only supported value.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "User who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "User name of the user who created the attachment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the attachment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Attachment type supported for the question. Only the attachment type, FILE, is supported.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Surrogate identifier of the document attached to the questionnaire.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Path of the folder.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attachment. This is a read-only attribute.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "File contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the attachment file.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "File URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date on which the attachment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "User who last updated the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "Name of the user who last updated the attachment record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "QuestionResponses": {
            "title": "Question Responses",
            "type": "array",
            "description": "The questionResponses resource is a child of the questionnaireResponses resource. It includes responses to specific questions within a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-item-response"
            },
            "x-cardinality": "1"
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "Content type of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "Size of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "Name of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text uploaded in the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of a web page attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "User name of the person who uploaded the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-item-response": {
        "type": "object",
        "properties": {
          "AnswerCode": {
            "title": "Answer Code",
            "maxLength": 240,
            "type": "string",
            "description": "The answer code that a participant chose when responding to a single choice question.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "QuestionnaireQuestionId"
              ]
            },
            "x-queryable": true
          },
          "AnswerCodeList": {
            "title": "Answer Code List",
            "type": "string",
            "description": "Concatenated list of answer choices, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-queryable": true
          },
          "AnswerComments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Additional comments provided by the participant when responding to a question.",
            "nullable": true,
            "x-queryable": true
          },
          "AnswerLargeObject": {
            "title": "Answer",
            "type": "string",
            "description": "Attachment provided by the participant when responding to a question.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AnswerList": {
            "title": "Answer List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "AnswerShortDescriptionList": {
            "title": "Answer Short Description",
            "type": "string",
            "description": "Concatenated list of answer texts, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AnswerShortdescription": {
            "title": "Answer Short Description",
            "maxLength": 240,
            "type": "string",
            "description": "Text of the answer chosen by a participant when responding to a single choice question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ChoiceCodeList": {
            "title": "Choice List Code",
            "type": "string",
            "description": "Concatenated list of answer codes, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": true
          },
          "ChoiceList": {
            "title": "Choice List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": false
          },
          "ChoiceShortDescription": {
            "title": "Choice Short Description",
            "type": "string",
            "description": "Concatenated list of answer texts, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the question response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the question response was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date on which the question response was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the question response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the answer that a participant chose when responding to a single choice question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "dependencies": [
                "QuestionCode",
                "QuestionId"
              ]
            },
            "x-queryable": true
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Alphanumeric value that uniquely identifies a question defined for a subscriber.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionResponseId": {
            "title": "Question Response Id",
            "type": "integer",
            "description": "Surrogate identifier for the question response.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Text of the question that a participant responds to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question in a questionnaire.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "Score": {
            "title": "Answer Score",
            "type": "integer",
            "description": "Calculated score for the responses provided for a question by a participant.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questionResponseAttachments": {
            "title": "Question Response Attachments",
            "type": "array",
            "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-questionResponseAttachments-item-response"
            }
          }
        }
      },
      "recruitingICEJobApplicationDrafts-questionnaireResponses-questionResponses-questionResponseAttachments-QuestionResponses-questionResponseAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided exclusively for the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the file can be shared. The default value is false and it's the only supported value.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "User who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "User name of the user who created the attachment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the attachment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Attachment type supported for the question. Only the attachment type, FILE, is supported.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Surrogate identifier of the document attached to the questionnaire.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Path of the folder.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attachment. This is a read-only attribute.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "File contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the attachment file.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "File URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date on which the attachment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
[...]
