{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Offer Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIJobOfferDetails": {
      "get": {
        "tags": [
          "Recruiting Job Offer Details"
        ],
        "summary": "Get details about all recruiting job offers",
        "operationId": "getall_recruitingUIJobOfferDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Action; string; Action for the job offer.</li><li>ActionCode; string; Action code of the job offer.</li><li>Additionaltextone; string; Additional text 1 in the job offer.</li><li>Additionaltexttwo; string; Additional text 2 in the job offer.</li><li>AssignmentId; integer; Assignment identifier in the job offer.</li><li>AssignmentOfferId; integer; Assignment offer identifier in the job offer.</li><li>Attachmententityname; string; Attachment entity name in the job offer.</li><li>BannerIdentificationKey; string; Identification key of the pending approval banner in a job offer.</li><li>BannerObject; string; Object of the pending approval banner in a job offer.</li><li>BannerObjectId; integer; Object identifier of the pending approval banner in a job offer.</li><li>BatchCreation; string; Job offer batch creation indicator.</li><li>BusinessUnitId; integer; Business unit identifier in the job offer.</li><li>CandidateName; string; Candidate name in the job offer.</li><li>CandidateNumber; string; Candidate number in the job offer.</li><li>CandidateType; string; Candidate type in the job offer.</li><li>Categorycandidate; string; Candidate category in the job offer.</li><li>Categoryinternal; string; Internal category in the job offer.</li><li>Comments; string; Comments provided by the candidate in the job offer.</li><li>CountryCode; string; Country code in the job offer.</li><li>CurrentPhaseId; integer; Job offer current phase identifier.</li><li>CurrentStateId; integer; Job offer current state identifier.</li><li>Customcategoryname; string; Custom category name in the job offer.</li><li>Customtemplateentityname; string; Entity name of the custom template in the job offer.</li><li>ExpirationDate; string; Expiration date of the job offer.</li><li>ExtendScheduleDate; string; Job offer extended schedule date.</li><li>HiringManagerId; integer; Hiring manager identifier in the job offer.</li><li>LegalEmployerId; integer; Legal employer identifier in the job offer.</li><li>LegalEntityId; integer; Legal entity identifier in the job offer.</li><li>MoveToHRStatus; string; Job offer move to HR status.</li><li>ObjectStatus; string; Job offer object status.</li><li>OfferComments; string; Comments in the job offer.</li><li>OfferId; integer; Job offer identifier in the job offer.</li><li>OfferLetterCustomized; string; Indicates that the offer letter is modified.</li><li>OfferLetterLayoutName; string; Offer letter layout name in the job offer.</li><li>OfferMoveStatus; string; Job offer move status.</li><li>OfferName; string; Job offer name in the job offer.</li><li>PersonId; integer; Person identifier in the job offer.</li><li>PrefixedErrorMessage; string; Job offer prefixed error message.</li><li>PreselectedHRActionId; integer; Preselected HR action identifier in the job offer.</li><li>PreselectedHRActiontypeCode; string; Preselected HR action type code in the job offer.</li><li>ProjectedStartDate; string; Projected start date for the assignment in the job offer.</li><li>ProposedWorkerType; string; Proposed worker type in the job offer.</li><li>RecruiterId; integer; Recruiter identifier in the job offer.</li><li>RecruitingTypeCode; string; Recruiting type code in the job offer.</li><li>RequisitionId; integer; Requisition identifier of the job offer.</li><li>RequisitionNumber; string; Requisition number in the job offer.</li><li>RequisitionTitle; string; Requisition title in the job offer.</li><li>ShowCandidateFacingAttachments; string; Indicates to show candidate facing attachments in the job offer.</li><li>ShowCollaborators; string; Indicates to show collaborators in the job offer.</li><li>ShowInternalAttachments; string; Indicates to show internal attachments in the job offer.</li><li>SubmissionId; integer; Submission identifier in the job offer.</li><li>SubmissionLanguageCode; string; Submission language code in the job offer.</li><li>SubsProcessTemplateId; integer; Submission process template identifier in the job offer.</li><li>showHiringManager; string; Indicates to show the hiring manager in the job offer.</li><li>showRecruiter; string; Indicates to show the recruiter in the job offer.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all job offer details by primary key. <br>Finder Variables <ul><li>OfferId; integer;  Offer identifier used to find job offer details. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all job offer details by primary key.",
                "properties": {
                  "OfferId": {
                    "nullable": true,
                    "description": "Offer identifier used to find job offer details.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIJobOfferDetails"
                }
              }
            },
            "links": {
              "changeStartDateAction": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1action~1changeStartDateAction/post",
                "description": "Creates a method to perform change start date action."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIJobOfferDetails-get",
        "x-filename-id": "recruitinguijobofferdetails-get"
      }
    },
    "/recruitingUIJobOfferDetails/action/changeStartDateAction": {
      "post": {
        "tags": [
          "Recruiting Job Offer Details"
        ],
        "summary": "Change start date offer action",
        "description": "Creates a method to perform change start date action.",
        "operationId": "doall_changeStartDateAction_recruitingUIJobOfferDetails",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDateBeforeChange": {
                    "type": "string",
                    "description": "Payload parameter to send previous start date to perform the action.",
                    "format": "date",
                    "nullable": true
                  },
                  "pCalledFrom": {
                    "type": "string",
                    "description": "Payload parameter to differentiate the call from user interface or rest to perform the action.",
                    "nullable": true
                  },
                  "pOfferId": {
                    "type": "number",
                    "description": "Payload parameter to send the job offer identifier to perform the change start date action.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response from the job offer change start date action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response from the job offer change start date action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIJobOfferDetails-action-changeStartDateAction-post",
        "x-filename-id": "recruitinguijobofferdetails-action-changestartdateaction-post"
      }
    },
    "/recruitingUIJobOfferDetails/{OfferId}": {
      "get": {
        "tags": [
          "Recruiting Job Offer Details"
        ],
        "summary": "Get details about a recruiting job offer",
        "operationId": "get_recruitingUIJobOfferDetails",
        "parameters": [
          {
            "name": "OfferId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIJobOfferDetails-item-response"
                }
              }
            },
            "links": {
              "offerAttachments": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1offerAttachments/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "additionalInformationDetails": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1additionalInformationDetails/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                }
              },
              "rejectreasonslist": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1rejectreasonslist/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "esignature": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1esignature/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The e-signature resource is a child resource of the recruitingUIJobOfferDetails resource. It provides details about the job offer e-signature."
              },
              "bannerOverrideMessages": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1bannerOverrideMessages/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object."
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1collaborators/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The collaborators resource is a child of the recruitingUIJobOfferDetails resource. It provides details about the job offer collaborators."
              },
              "candidateOfferLetter": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1candidateOfferLetter/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "internalAttachments": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1internalAttachments/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "offerErrors": {
                "operationRef": "#/paths/~1recruitingUIJobOfferDetails~1{OfferId}~1child~1offerErrors/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The offerErrors resource is a child of the recruitingUIJobOfferDetails resource. It provides details about errors that occurred in the job offer."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIJobOfferDetails-{OfferId}-get",
        "x-filename-id": "recruitinguijobofferdetails-offerid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingUIJobOfferDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingUIJobOfferDetails-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "maxLength": 80,
            "type": "string",
            "description": "Action for the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ActionCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Action code of the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Additionaltextone": {
            "title": "First Additional Text",
            "type": "string",
            "description": "Additional text 1 in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Additionaltexttwo": {
            "title": "Second Additional Text",
            "type": "string",
            "description": "Additional text 2 in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentOfferId": {
            "type": "integer",
            "description": "Assignment offer identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Attachmententityname": {
            "maxLength": 10,
            "type": "string",
            "description": "Attachment entity name in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BannerIdentificationKey": {
            "maxLength": 40,
            "type": "string",
            "description": "Identification key of the pending approval banner in a job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BannerObject": {
            "maxLength": 10,
            "type": "string",
            "description": "Object of the pending approval banner in a job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BannerObjectId": {
            "type": "integer",
            "description": "Object identifier of the pending approval banner in a job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BatchCreation": {
            "maxLength": 1,
            "type": "string",
            "description": "Job offer batch creation indicator.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Business unit identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CandidateName": {
            "maxLength": 240,
            "type": "string",
            "description": "Candidate name in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Candidate number in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateType": {
            "maxLength": 30,
            "type": "string",
            "description": "Candidate type in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Categorycandidate": {
            "maxLength": 23,
            "type": "string",
            "description": "Candidate category in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Categoryinternal": {
            "maxLength": 12,
            "type": "string",
            "description": "Internal category in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "maxLength": 1000,
            "type": "string",
            "description": "Comments provided by the candidate in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CountryCode": {
            "maxLength": 2,
            "type": "string",
            "description": "Country code in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CurrentPhaseId": {
            "type": "integer",
            "description": "Job offer current phase identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CurrentStateId": {
            "type": "integer",
            "description": "Job offer current state identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Customcategoryname": {
            "maxLength": 29,
            "type": "string",
            "description": "Custom category name in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Customtemplateentityname": {
            "maxLength": 21,
            "type": "string",
            "description": "Entity name of the custom template in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the job offer.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExtendScheduleDate": {
            "type": "string",
            "description": "Job offer extended schedule date.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManagerId": {
            "type": "integer",
            "description": "Hiring manager identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegalEmployerId": {
            "type": "integer",
            "description": "Legal employer identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LegalEntityId": {
            "type": "integer",
            "description": "Legal entity identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MoveToHRStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Job offer move to HR status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Job offer object status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferComments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "Job offer identifier in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferLetterCustomized": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates that the offer letter is modified.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferLetterLayoutName": {
            "title": "Offer Letter Template",
            "maxLength": 240,
            "type": "string",
            "description": "Offer letter layout name in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferMoveStatus": {
            "maxLength": 30,
            "type": "string",
            "description": "Job offer move status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferName": {
            "maxLength": 240,
            "type": "string",
            "description": "Job offer name in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PrefixedErrorMessage": {
            "maxLength": 255,
            "type": "string",
            "description": "Job offer prefixed error message.",
            "nullable": true,
            "x-queryable": true
          },
          "PreselectedHRActionId": {
            "type": "integer",
            "description": "Preselected HR action identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PreselectedHRActiontypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Preselected HR action type code in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProjectedStartDate": {
            "type": "string",
            "description": "Projected start date for the assignment in the job offer.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProposedWorkerType": {
            "maxLength": 30,
            "type": "string",
            "description": "Proposed worker type in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecruiterId": {
            "type": "integer",
            "description": "Recruiter identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RecruitingTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Recruiting type code in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionId": {
            "type": "integer",
            "description": "Requisition identifier of the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Requisition number in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionTitle": {
            "maxLength": 240,
            "type": "string",
            "description": "Requisition title in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ShowCandidateFacingAttachments": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates to show candidate facing attachments in the job offer.",
            "nullable": true,
            "default": "Y",
            "x-queryable": true
          },
          "ShowCollaborators": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates to show collaborators in the job offer.",
            "nullable": true,
            "default": "N",
            "x-queryable": true
          },
          "ShowInternalAttachments": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates to show internal attachments in the job offer.",
            "nullable": true,
            "default": "Y",
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionLanguageCode": {
            "title": "Candidate Preferred Language",
            "maxLength": 4,
            "type": "string",
            "description": "Submission language code in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SubsProcessTemplateId": {
            "type": "integer",
            "description": "Submission process template identifier in the job offer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "additionalInformationDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-additionalInformationDetails-item-response"
            },
            "x-cardinality": "1"
          },
          "bannerOverrideMessages": {
            "title": "Banner Override Messages",
            "type": "array",
            "description": "The bannerOverrideMessages resource provides all the status information and related messages for an object.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-bannerOverrideMessages-item-response"
            },
            "x-cardinality": "1"
          },
          "candidateOfferLetter": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-candidateOfferLetter-item-response"
            }
          },
          "collaborators": {
            "title": "Recruiting Job Offer Collaborators",
            "type": "array",
            "description": "The collaborators resource is a child of the recruitingUIJobOfferDetails resource. It provides details about the job offer collaborators.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-collaborators-item-response"
            }
          },
          "esignature": {
            "title": "Recruiting Job Offer e-Signatures",
            "type": "array",
            "description": "The e-signature resource is a child resource of the recruitingUIJobOfferDetails resource. It provides details about the job offer e-signature.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-esignature-item-response"
            }
          },
          "internalAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-internalAttachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offerAttachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-offerAttachments-item-response"
            }
          },
          "offerErrors": {
            "title": "Recruiting Job Offer Errors",
            "type": "array",
            "description": "The offerErrors resource is a child of the recruitingUIJobOfferDetails resource. It provides details about errors that occurred in the job offer.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-offerErrors-item-response"
            }
          },
          "rejectreasonslist": {
            "title": "Candidate Reasons to Decline the Job Offer",
            "type": "array",
            "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIJobOfferDetails-rejectreasonslist-item-response"
            }
          },
          "showHiringManager": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates to show the hiring manager in the job offer.",
            "nullable": true,
            "default": "Yes",
            "x-queryable": true
          },
          "showRecruiter": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates to show the recruiter in the job offer.",
            "nullable": true,
            "default": "Yes",
            "x-queryable": true
          }
        }
      },
      "recruitingUIJobOfferDetails-additionalInformationDetails-item-response": {
        "type": "object",
        "properties": {
          "OfferId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Segment",
            "maxLength": 150,
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Segment"
              },
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Segment",
            "type": "string",
            "description": "Context Segment",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Segment"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "LOV"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingUIJobOfferDetails-bannerOverrideMessages-item-response": {
        "type": "object",
        "properties": {
          "BusinessProcessName": {
            "type": "string",
            "description": "Name of the business process like Change Salary or Change Personal Information.",
            "nullable": true,
            "x-queryable": true
          },
          "IdentificationKey": {
            "type": "string",
            "description": "Identifier of the task related to the object.",
            "nullable": true,
            "x-queryable": true
          },
          "LoggedInUserType": {
            "type": "string",
            "description": "User type such as initiator, approver, or observer.",
            "nullable": true,
            "x-queryable": true
          },
          "Object": {
            "type": "string",
            "description": "Name of the object like phone or address.",
            "nullable": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Identifier of the object like phone or address.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryActionLabelForBanner": {
            "type": "string",
            "description": "Text for the actionable link to navigate to the details page.",
            "nullable": true,
            "x-queryable": true
          },
          "PrimaryTextForBanner": {
            "type": "string",
            "description": "Primary text of the message.",
            "nullable": true,
            "x-queryable": true
          },
          "RootTaskId": {
            "type": "string",
            "description": "Identifier of the root task related to the object.",
            "nullable": true,
            "x-queryable": true
          },
          "SecondaryTextForBanner": {
            "type": "string",
            "description": "Secondary text of the message.",
            "nullable": true,
            "x-queryable": true
          },
          "Subject": {
            "type": "string",
            "description": "Type of business object for which to display messages.",
            "nullable": true,
            "x-queryable": true
          },
          "SubjectId": {
            "type": "integer",
            "description": "Identifier of the object type.",
            "nullable": true,
            "x-queryable": true
          },
          "TaskNumber": {
            "type": "integer",
            "description": "Unique identifier of the task related to the object.",
            "nullable": true,
            "x-queryable": true
          },
          "TaskState": {
            "type": "string",
            "description": "State of the task such as Assigned, Withdrawn.",
            "nullable": true,
            "x-queryable": true
          },
          "TransactionId": {
            "type": "integer",
            "description": "Identifier of the pending transaction.",
            "nullable": true,
            "x-queryable": true
          },
          "TransactionState": {
            "type": "string",
            "description": "State of the transaction such as Initial, Saved, or Submitted.",
            "nullable": true,
            "x-queryable": true
          },
          "TransactionStatus": {
            "type": "string",
            "description": "Status of the transaction such as Draft, Approved, or Pending.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIJobOfferDetails-candidateOfferLetter-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIJobOfferDetails-collaborators-item-response": {
        "type": "object",
        "properties": {
          "AssignmentId": {
            "type": "integer",
            "description": "Assignment identifier of the job offer collaborator.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Assignment name of the job offer collaborator.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CollaboratorRespTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Collaborator response type code.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CollaboratorTypeName": {
            "maxLength": 80,
            "type": "string",
            "description": "Job offer collaborator type name in the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 240,
            "type": "string",
            "description": "Collaborator display name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplaySequence": {
            "type": "number",
            "description": "Collaborator display sequence.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MemberTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Member type code of the collaborator.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "Collaborator object identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Collaborator object type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Collaborator person identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNameId": {
            "type": "integer",
            "description": "Collaborator person name identifier.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TeamMemberId": {
            "type": "integer",
            "description": "Collaborator team Member identifier.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIJobOfferDetails-esignature-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who created the job offer e-signature.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date of the job offer e-signature.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DiscriminantObjectId": {
            "type": "integer",
            "description": "Discriminant object identifier of the job offer e-signature.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DiscriminantObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "Discriminant object type of the job offer e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "Email": {
            "type": "string",
            "description": "Email of the person who e-signed the job offer.",
            "nullable": true,
            "x-queryable": false
          },
          "EsignatureId": {
            "type": "integer",
            "description": "E-signature identifier of the job offer.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FullName": {
            "maxLength": 1000,
            "type": "string",
            "description": "Full name of the person who e-signed the job offer.",
            "nullable": true,
            "x-queryable": true
          },
          "IpAddress": {
            "maxLength": 100,
            "type": "string",
            "description": "IP address of the job offer e-signature.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last updated date of the job offer e-signature.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateLogin": {
            "maxLength": 32,
            "type": "string",
            "description": "Last updated login of the job offer e-signature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "Person who last updated the job offer e-signature.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ObjectId": {
            "type": "integer",
            "description": "E-signature object identifier of the job offer.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ObjectType": {
            "maxLength": 30,
            "type": "string",
            "description": "E-signature object type of the job offer.",
            "nullable": false,
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "E-signature object version number of the job offer.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier of the person who e-signed the job offer.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SignatureDate": {
            "type": "string",
            "description": "Date when the job offer was e-signed.",
            "format": "date-time",
            "nullable": false,
            "x-queryable": true
          },
          "ValidationSource": {
            "type": "string",
            "description": "Validation source of the job offer e-signature.",
            "nullable": true,
            "x-queryable": false
          },
          "Value": {
            "type": "string",
            "description": "E-signature value of the job offer.",
            "nullable": true,
            "x-queryable": false
          },
          "ValueHash": {
            "maxLength": 100,
            "type": "string",
            "description": "E-signature hash value of the job offer.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIJobOfferDetails-internalAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingUIJobOfferDetails-offerAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
[...]
