{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Address Formats",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidateAddressFormats": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Address Formats"
        ],
        "summary": "Get location text for all location types.",
        "operationId": "getall_recruitingCECandidateAddressFormats",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DisplayName; string; Display name of the found location.</li><li>GeoElement1; string; GeoElement1 of the found location.</li><li>GeoElement10; string; GeoElement10 of the found location.</li><li>GeoElement10Id; integer; GeoElement10Id of the found location.</li><li>GeoElement1Id; integer; GeoElement1Id of the found location.</li><li>GeoElement2; string; GeoElement2 of the found location.</li><li>GeoElement2Id; integer; GeoElement2Id of the found location.</li><li>GeoElement3; string; GeoElement3 of the found location.</li><li>GeoElement3Id; integer; GeoElement3Id of the found location.</li><li>GeoElement4; string; GeoElement4 of the found location.</li><li>GeoElement4Id; integer; GeoElement4Id of the found location.</li><li>GeoElement5; string; GeoElement5 of the found location.</li><li>GeoElement5Id; integer; GeoElement5Id of the found location.</li><li>GeoElement6; string; GeoElement6 of the found location.</li><li>GeoElement6Id; integer; GeoElement6Id of the found location.</li><li>GeoElement7; string; GeoElement7 of the found location.</li><li>GeoElement7Id; integer; GeoElement7Id of the found location.</li><li>GeoElement8; string; GeoElement8 of the found location.</li><li>GeoElement8Id; integer; GeoElement8Id of the found location.</li><li>GeoElement9; string; GeoElement9 of the found location.</li><li>GeoElement9Id; integer; GeoElement9Id of the found location.</li><li>GeographyId; integer; GeographyId of the found location.</li><li>GeographyName; string; GeographyName of the found location.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds locations by primary key. <br>Finder Variables <ul><li>GeographyId; integer;  Primary key and GeographyId; integer;  of the found location. </li></ul></li><li>findByElement10 Finds the element10 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement10 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement10 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement10 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement10 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement10 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement10 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement10 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement10 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement10 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement10 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement10 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement10 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement10 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement10 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement10 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement10 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement10 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement10 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement10 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement10 finder. </li></ul></li><li>findByElement2 Finds the element2 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement2 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement2 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement2 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement2 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement2 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement2 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement2 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement2 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement2 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement2 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement2 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement2 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement2 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement2 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement2 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement2 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement2 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement2 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement2 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement2 finder. </li></ul></li><li>findByElement3 Finds the element3 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement3 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement3 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement3 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement3 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement3 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement3 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement3 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement3 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement3 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement3 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement3 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement3 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement3 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement3 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement3 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement3 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement3 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement3 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement3 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement3 finder. </li></ul></li><li>findByElement4 Finds the element4 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement4 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement4 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement4 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement4 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement4 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement4 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement4 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement4 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement4 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement4 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement4 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement4 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement4 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement4 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement4 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement4 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement4 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement4 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement4 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement4 finder. </li></ul></li><li>findByElement5 Finds the element5 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement5 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement5 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement5 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement5 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement5 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement5 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement5 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement5 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement5 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement5 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement5 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement5 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement5 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement5 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement5 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement5 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement5 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement5 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement5 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement5 finder. </li></ul></li><li>findByElement6 Finds the element6 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement6 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement6 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement6 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement6 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement6 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement6 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement6 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement6 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement6 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement6 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement6 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement6 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement6 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement6 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement6 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement6 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement6 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement6 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement6 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement6 finder. </li></ul></li><li>findByElement7 Finds the element7 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement7 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement7 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement7 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement7 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement7 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement7 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement7 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement7 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement7 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement7 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement7 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement7 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement7 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement7 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement7 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement7 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement7 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement7 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement7 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement7 finder. </li></ul></li><li>findByElement8 Finds the element8 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement8 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement8 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement8 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement8 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement8 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement8 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement8 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement8 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement8 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement8 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement8 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement8 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement8 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement8 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement8 finder. </li><li>GeoElement9; string;  Description for the bElement9Name bind variable for the findByElement8 finder. </li><li>GeoElement9Id; integer;  Description for the bElement9 bind variable for the findByElement8 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement8 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement8 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement8 finder. </li></ul></li><li>findByElement9 Finds the element9 location. <br>Finder Variables <ul><li>CountryCode; string;  Description for the bCountryCode bind variable for the findByElement9 finder. </li><li>GeoElement10; string;  Description for the bElement10Name bind variable for the findByElement9 finder. </li><li>GeoElement10Id; integer;  Description for the bElement10 bind variable for the findByElement9 finder. </li><li>GeoElement2; string;  Description for the bElement2Name bind variable for the findByElement9 finder. </li><li>GeoElement2Id; integer;  Description for the bElement2 bind variable for the findByElement9 finder. </li><li>GeoElement3; string;  Description for the bElement3Name bind variable for the findByElement9 finder. </li><li>GeoElement3Id; integer;  Description for the bElement3 bind variable for the findByElement9 finder. </li><li>GeoElement4; string;  Description for the bElement4Name bind variable for the findByElement9 finder. </li><li>GeoElement4Id; integer;  Description for the bElement4 bind variable for the findByElement9 finder. </li><li>GeoElement5; string;  Description for the bElement5Name bind variable for the findByElement9 finder. </li><li>GeoElement5Id; integer;  Description for the bElement5 bind variable for the findByElement9 finder. </li><li>GeoElement6; string;  Description for the bElement6Name bind variable for the findByElement9 finder. </li><li>GeoElement6Id; integer;  Description for the bElement6 bind variable for the findByElement9 finder. </li><li>GeoElement7; string;  Description for the bElement7Name bind variable for the findByElement9 finder. </li><li>GeoElement7Id; integer;  Description for the bElement7 bind variable for the findByElement9 finder. </li><li>GeoElement8; string;  Description for the bElement8Name bind variable for the findByElement9 finder. </li><li>GeoElement8Id; integer;  Description for the bElement8 bind variable for the findByElement9 finder. </li><li>GeographyName; string;  Description for the bGeoName bind variable for the findByElement9 finder. </li><li>GeographyType; string;  Description for the bType bind variable for the findByElement9 finder. </li><li>Value; string;  Description for the bValue bind variable for the findByElement9 finder. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds locations by primary key.",
                "properties": {
                  "GeographyId": {
                    "nullable": false,
                    "description": "Primary key and GeographyId of the found location.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement10",
                "description": "Finds the element10 location.",
                "title": "findByElement10",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement10 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement10 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement2",
                "description": "Finds the element2 location.",
                "title": "findByElement2",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement2 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement2 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement3",
                "description": "Finds the element3 location.",
                "title": "findByElement3",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement3 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement3 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement4",
                "description": "Finds the element4 location.",
                "title": "findByElement4",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement4 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement4 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement5",
                "description": "Finds the element5 location.",
                "title": "findByElement5",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement5 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement5 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement6",
                "description": "Finds the element6 location.",
                "title": "findByElement6",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement6 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement6 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement7",
                "description": "Finds the element7 location.",
                "title": "findByElement7",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement7 finder.",
                    "type": "string"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement7 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement8",
                "description": "Finds the element8 location.",
                "title": "findByElement8",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement9Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement9 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement8 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement8 finder.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement9",
                "description": "Finds the element9 location.",
                "title": "findByElement9",
                "properties": {
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bType bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeographyName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bGeoName bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement10": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10Name bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement8Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement8 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "GeoElement3Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement3 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bValue bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement2Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement2 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "GeoElement10Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement10 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "CountryCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bCountryCode bind variable for the findByElement9 finder.",
                    "type": "string"
                  },
                  "GeoElement7Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement7 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "GeoElement6Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement6 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "GeoElement5Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement5 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  },
                  "GeoElement4Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Description for the bElement4 bind variable for the findByElement9 finder.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateAddressFormats"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateAddressFormats-get",
        "x-filename-id": "recruitingcecandidateaddressformats-get"
      }
    },
    "/recruitingCECandidateAddressFormats/{recruitingCECandidateAddressFormatsUniqID}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Address Formats"
        ],
        "summary": "GET action not supported",
        "operationId": "get_recruitingCECandidateAddressFormats",
        "parameters": [
          {
            "name": "recruitingCECandidateAddressFormatsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting CE Candidate Address Formats resource and used to uniquely identify an instance of Recruiting CE Candidate Address Formats. The client should not generate the hash key value. Instead, the client should query on the Recruiting CE Candidate Address Formats collection resource in order to navigate to a specific instance of Recruiting CE Candidate Address Formats to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
[...]
