{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Campaign Email Designs/Message Design Metadata/Large Object (LOB) Attributes - HTMLTemplate",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingMessageDesigns/{MessageDesignId}/child/messageDesignMetadata/{messageDesignMetadataUniqID}/enclosure/HTMLTemplate": {
      "get": {
        "tags": [
          "Recruiting Campaign Email Designs/Message Design Metadata/Large Object (LOB) Attributes - HTMLTemplate"
        ],
        "summary": "Get a HTMLTemplate",
        "description": "Get a HTMLTemplate",
        "operationId": "get_recruitingMessageDesigns-messageDesignMetadata-HTMLTemplate",
        "parameters": [
          {
            "name": "MessageDesignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "MessageDesignId for each message design metadata.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "messageDesignMetadataUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- MessageDesignId and MessageLanguage ---for the Message Design Metadata resource and used to uniquely identify an instance of Message Design Metadata. The client should not generate the hash key value.  Instead, the client should query on the Message Design Metadata collection resource with a filter on the primary key values in order to navigate to a specific instance of Message Design Metadata.<br><br>For example: messageDesignMetadata?q=MessageDesignId=&lt;value1&gt;;MessageLanguage=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingMessageDesigns-{MessageDesignId}-child-messageDesignMetadata-{messageDesignMetadataUniqID}-enclosure-HTMLTemplate-get",
        "x-filename-id": "recruitingmessagedesigns-messagedesignid-child-messagedesignmetadata-messagedesignmetadatauniqid-enclosure-htmltemplate-get"
      },
      "put": {
        "tags": [
          "Recruiting Campaign Email Designs/Message Design Metadata/Large Object (LOB) Attributes - HTMLTemplate"
        ],
        "summary": "Replace a HTMLTemplate",
        "description": "Replace a HTMLTemplate",
        "operationId": "replace_recruitingMessageDesigns-messageDesignMetadata-HTMLTemplate",
        "parameters": [
          {
            "name": "MessageDesignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "MessageDesignId for each message design metadata.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "messageDesignMetadataUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- MessageDesignId and MessageLanguage ---for the Message Design Metadata resource and used to uniquely identify an instance of Message Design Metadata. The client should not generate the hash key value.  Instead, the client should query on the Message Design Metadata collection resource with a filter on the primary key values in order to navigate to a specific instance of Message Design Metadata.<br><br>For example: messageDesignMetadata?q=MessageDesignId=&lt;value1&gt;;MessageLanguage=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingMessageDesigns-{MessageDesignId}-child-messageDesignMetadata-{messageDesignMetadataUniqID}-enclosure-HTMLTemplate-put",
        "x-filename-id": "recruitingmessagedesigns-messagedesignid-child-messagedesignmetadata-messagedesignmetadatauniqid-enclosure-htmltemplate-put"
      },
      "delete": {
        "tags": [
          "Recruiting Campaign Email Designs/Message Design Metadata/Large Object (LOB) Attributes - HTMLTemplate"
        ],
        "summary": "Delete a HTMLTemplate",
        "description": "Delete a HTMLTemplate",
        "operationId": "delete_recruitingMessageDesigns-messageDesignMetadata-HTMLTemplate",
        "parameters": [
          {
            "name": "MessageDesignId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "MessageDesignId for each message design metadata.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "messageDesignMetadataUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- MessageDesignId and MessageLanguage ---for the Message Design Metadata resource and used to uniquely identify an instance of Message Design Metadata. The client should not generate the hash key value.  Instead, the client should query on the Message Design Metadata collection resource with a filter on the primary key values in order to navigate to a specific instance of Message Design Metadata.<br><br>For example: messageDesignMetadata?q=MessageDesignId=&lt;value1&gt;;MessageLanguage=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingMessageDesigns-{MessageDesignId}-child-messageDesignMetadata-{messageDesignMetadataUniqID}-enclosure-HTMLTemplate-delete",
        "x-filename-id": "recruitingmessagedesigns-messagedesignid-child-messagedesignmetadata-messagedesignmetadatauniqid-enclosure-htmltemplate-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}