{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Address Formats/Geographical Hierarchies",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEAddressFormats/{TerritoryCode}/child/geoHierarchies": {
      "get": {
        "tags": [
          "Recruiting CE Address Formats/Geographical Hierarchies"
        ],
        "summary": "Get all geographical hierarchies",
        "operationId": "getall_recruitingCEAddressFormats-geoHierarchies",
        "parameters": [
          {
            "name": "TerritoryCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DisplayName; string; Display name of the element in the geography hierarchy.</li><li>GeoElement1; string; Geographical element 1 in the geographical hierarchies</li><li>GeoElement10; string; Geographical element 10 in the geographical hierarchies</li><li>GeoElement2; string; Geographical element 2 in the geographical hierarchies</li><li>GeoElement3; string; Geographical element 3 in the geographical hierarchies</li><li>GeoElement4; string; Geographical element 4 in the geographical hierarchies</li><li>GeoElement5; string; Geographical element 5 in the geographical hierarchies</li><li>GeoElement6; string; Geographical element 6 in the geographical hierarchies</li><li>GeoElement7; string; Geographical element 7 in the geographical hierarchies</li><li>GeoElement8; string; Geographical element 8 in the geographical hierarchies</li><li>GeoElement9; string; Geographical element 9 in the geographical hierarchies</li><li>GeographyId; integer; Geography ID for the node in the geographical hierarchy.</li><li>GeographyName; string; Geography name of the element in the geography hierarchy.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the geographical hierarchies using a unique ID <br>Finder Variables <ul><li>GeographyId; integer;  Finds the geographical hierarchies using a unique ID </li></ul></li><li>findByElement10 Finds all geography hierarchies using the 10 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement4; string;  Level 4 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement5; string;  Level 5 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement6; string;  Level 6 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement7; string;  Level 7 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement8; string;  Level 8 used to find the 10 th level of the geography hierarchy. </li><li>GeoElement9; string;  Level 9 used to find the 10 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 10th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 10 th level of the geography hierarchy. </li></ul></li><li>findByElement2 Finds all geography hierarchies using the 2 nd level. <br>Finder Variables <ul><li>GeographyType; string;  Geography type used to find the 2nd level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 2 nd level of the geography hierarchy. </li></ul></li><li>findByElement3 Finds all geography hierarchies using the 3 rd level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 3 rd level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 3rd level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 3 rd level of the geography hierarchy. </li></ul></li><li>findByElement4 Finds all geography hierarchies using the 4 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 4 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 4 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 4th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 4 th level of the geography hierarchy. </li></ul></li><li>findByElement5 Finds all geography hierarchies using the 5 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 5 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 5 th level of the geography hierarchy. </li><li>GeoElement4; string;  Level 4 used to find the 5 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 5th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 5 th level of the geography hierarchy. </li></ul></li><li>findByElement6 Finds all geography hierarchies using the 6 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 6 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 6 th level of the geography hierarchy. </li><li>GeoElement4; string;  Level 4 used to find the 6 th level of the geography hierarchy. </li><li>GeoElement5; string;  Level 5 used to find the 6 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 6th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 6 th level of the geography hierarchy. </li></ul></li><li>findByElement7 Finds all geography hierarchies using the 7 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 7 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 7 th level of the geography hierarchy. </li><li>GeoElement4; string;  Level 4 used to find the 7 th level of the geography hierarchy. </li><li>GeoElement5; string;  Level 5 used to find the 7 th level of the geography hierarchy. </li><li>GeoElement6; string;  Level 6 used to find the 7 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 7th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 7 th level of the geography hierarchy. </li></ul></li><li>findByElement8 Finds all geography hierarchies using the 8 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 8 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 8 th level of the geography hierarchy. </li><li>GeoElement4; string;  Level 4 used to find the 8 th level of the geography hierarchy. </li><li>GeoElement5; string;  Level 5 used to find the 8 th level of the geography hierarchy. </li><li>GeoElement6; string;  Level 6 used to find the 8 th level of the geography hierarchy. </li><li>GeoElement7; string;  Level 7 used to find the 8 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 8th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 8 th level of the geography hierarchy. </li></ul></li><li>findByElement9 Finds all geography hierarchies using the 9 th level. <br>Finder Variables <ul><li>GeoElement2; string;  Level 2 used to find the 9 th level of the geography hierarchy. </li><li>GeoElement3; string;  Level 3 used to find the 9 th level of the geography hierarchy. </li><li>GeoElement4; string;  Level 4 used to find the 9 th level of the geography hierarchy. </li><li>GeoElement5; string;  Level 5 used to find the 9 th level of the geography hierarchy. </li><li>GeoElement6; string;  Level 6 used to find the 9 th level of the geography hierarchy. </li><li>GeoElement7; string;  Level 7 used to find the 9 th level of the geography hierarchy. </li><li>GeoElement8; string;  Level 8 used to find the 9 th level of the geography hierarchy. </li><li>GeographyType; string;  Geography type used to find the 9th level of the geography hierarchy. </li><li>Value; string;  Display name used to find the 9 th level of the geography hierarchy. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the geographical hierarchies using a unique ID",
                "properties": {
                  "GeographyId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Finds the geographical hierarchies using a unique ID",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByElement10",
                "description": "Finds all geography hierarchies using the 10 th level.",
                "title": "findByElement10",
                "properties": {
                  "GeoElement9": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 9 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 7 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 8 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 5 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 6 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 4 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 10th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 10 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement2",
                "description": "Finds all geography hierarchies using the 2 nd level.",
                "title": "findByElement2",
                "properties": {
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 2nd level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 2 nd level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement3",
                "description": "Finds all geography hierarchies using the 3 rd level.",
                "title": "findByElement3",
                "properties": {
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 3rd level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 3 rd level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 3 rd level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement4",
                "description": "Finds all geography hierarchies using the 4 th level.",
                "title": "findByElement4",
                "properties": {
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 4 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 4th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 4 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 4 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement5",
                "description": "Finds all geography hierarchies using the 5 th level.",
                "title": "findByElement5",
                "properties": {
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 5 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 4 used to find the 5 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 5th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 5 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 5 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement6",
                "description": "Finds all geography hierarchies using the 6 th level.",
                "title": "findByElement6",
                "properties": {
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 5 used to find the 6 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 6 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 4 used to find the 6 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 6th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 6 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 6 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement7",
                "description": "Finds all geography hierarchies using the 7 th level.",
                "title": "findByElement7",
                "properties": {
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 5 used to find the 7 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 6 used to find the 7 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 7 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 4 used to find the 7 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 7th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 7 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 7 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement8",
                "description": "Finds all geography hierarchies using the 8 th level.",
                "title": "findByElement8",
                "properties": {
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 7 used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 5 used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 6 used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 4 used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 8th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 8 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByElement9",
                "description": "Finds all geography hierarchies using the 9 th level.",
                "title": "findByElement9",
                "properties": {
                  "GeoElement7": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 7 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement8": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 8 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement5": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 5 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement6": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 6 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement3": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 3 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement4": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 4 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeographyType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Geography type used to find the 9th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "Value": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Display name used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  },
                  "GeoElement2": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Level 2 used to find the 9 th level of the geography hierarchy.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEAddressFormats-geoHierarchies"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEAddressFormats-{TerritoryCode}-child-geoHierarchies-get",
        "x-filename-id": "recruitingceaddressformats-territorycode-child-geohierarchies-get"
      }
    },
    "/recruitingCEAddressFormats/{TerritoryCode}/child/geoHierarchies/{geoHierarchiesUniqID}": {
      "get": {
        "tags": [
          "Recruiting CE Address Formats/Geographical Hierarchies"
        ],
        "summary": "Get a geographical hierarchy",
        "operationId": "get_recruitingCEAddressFormats-geoHierarchies",
        "parameters": [
          {
            "name": "TerritoryCode",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geoHierarchiesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Geographical Hierarchies resource and used to uniquely identify an instance of Geographical Hierarchies. The client should not generate the hash key value. Instead, the client should query on the Geographical Hierarchies collection resource in order to navigate to a specific instance of Geographical Hierarchies to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEAddressFormats-geoHierarchies-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEAddressFormats-{TerritoryCode}-child-geoHierarchies-{geoHierarchiesUniqID}-get",
        "x-filename-id": "recruitingceaddressformats-territorycode-child-geohierarchies-geohierarchiesuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEAddressFormats-geoHierarchies": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEAddressFormats-geoHierarchies-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingCEAddressFormats-geoHierarchies-item-response": {
        "type": "object",
        "properties": {
          "DisplayName": {
            "maxLength": 360,
            "type": "string",
            "description": "Display name of the element in the geography hierarchy.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement1": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 1 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement10": {
            "title": "Code",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 10 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement2": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 2 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement3": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 3 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement4": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 4 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement5": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 5 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement6": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 6 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement7": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 7 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement8": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 8 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeoElement9": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geographical element 9 in the geographical hierarchies",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID for the node in the geographical hierarchy.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "GeographyName": {
            "title": "Name",
            "maxLength": 360,
            "type": "string",
            "description": "Geography name of the element in the geography hierarchy.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}