{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Candidate Merge During Offer",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingUIMergeJobOffers": {
      "get": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Get all duplicate candidates during the job offer process",
        "operationId": "getall_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActualTerminationDate; string; Actual termination date of the candidate.</li><li>AssignmentName; string; Name of the assignment of the candidate.</li><li>AssignmentNumber; string; Assignment number of the candidate.</li><li>BusinessUnitName; string; Name of the business unit of the candidate.</li><li>DateOfBirthMatch; string; Indicates whether the date of birth matches the potential duplicate candidate.</li><li>DateStart; string; Start date of the candidate.</li><li>Department; string; Department of the candidate.</li><li>DisplayName; string; Display name of the candidate.</li><li>FirstName; string; First name of the candidate.</li><li>LastName; string; Last name of the candidate.</li><li>LegalEntityName; string; Legal entity name of the candidate.</li><li>Location; string; Location of the candidate.</li><li>NationalIdMatch; string; Indicates whether the national identifier matches the potential duplicate candidate.</li><li>PersonId; integer; Person identifier of the candidate.</li><li>PersonType; string; Person type of the candidate.</li><li>RehireReason; string; Reason for rehiring the candidate.</li><li>RehireRecommendation; string; Recommendation to rehire the candidate.</li><li>SubmissionId; integer; Submission identifier of the newly created offer.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all submissions using a unique identifier. <br>Finder Variables <ul><li>PersonId; integer;  Unique identifier and person identifier used to find duplicate candidates. </li></ul></li><li>findDuplicatesBySubmissionId Finds all the duplicate candidates using a submission identifier. <br>Finder Variables <ul><li>SubmissionId; integer;  Submission identifier used to find duplicate candidates. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all submissions using a unique identifier.",
                "properties": {
                  "PersonId": {
                    "nullable": true,
                    "description": "Unique identifier and person identifier used to find duplicate candidates.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findDuplicatesBySubmissionId",
                "description": "Finds all the duplicate candidates using a submission identifier.",
                "title": "findDuplicatesBySubmissionId",
                "properties": {
                  "SubmissionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Submission identifier used to find duplicate candidates.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIMergeJobOffers"
                }
              }
            },
            "links": {
              "performViewDuplicateMergeOperation": {
                "operationRef": "#/paths/~1recruitingUIMergeJobOffers~1action~1performViewDuplicateMergeOperation/post",
                "description": "Merges the duplicate candidates into one candidate."
              },
              "isEditOfferAllowed": {
                "operationRef": "#/paths/~1recruitingUIMergeJobOffers~1action~1isEditOfferAllowed/post",
                "description": "Verifies if the logged-in user can edit the offer."
              },
              "isMergeAllowedForTheUser": {
                "operationRef": "#/paths/~1recruitingUIMergeJobOffers~1action~1isMergeAllowedForTheUser/post",
                "description": "Verifies if user has permission to merge candidates."
              }
            }
          }
        },
        "x-internal-id": "recruitingUIMergeJobOffers-get",
        "x-filename-id": "recruitinguimergejoboffers-get"
      },
      "post": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Create a candidate during the job offer process",
        "operationId": "create_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUIMergeJobOffers-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIMergeJobOffers-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIMergeJobOffers-post",
        "x-filename-id": "recruitinguimergejoboffers-post"
      }
    },
    "/recruitingUIMergeJobOffers/{PersonId}": {
      "get": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Get a duplicate candidate during the job offer process",
        "operationId": "get_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Person identifier of the candidate.",
              "nullable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIMergeJobOffers-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIMergeJobOffers-{PersonId}-get",
        "x-filename-id": "recruitinguimergejoboffers-personid-get"
      },
      "delete": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Delete a candidate during the job offer process",
        "operationId": "delete_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Person identifier of the candidate.",
              "nullable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingUIMergeJobOffers-{PersonId}-delete",
        "x-filename-id": "recruitinguimergejoboffers-personid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Update a candidate during the job offer process",
        "operationId": "update_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "PersonId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Person identifier of the candidate.",
              "nullable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingUIMergeJobOffers-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingUIMergeJobOffers-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingUIMergeJobOffers-{PersonId}-patch",
        "x-filename-id": "recruitinguimergejoboffers-personid-patch"
      }
    },
    "/recruitingUIMergeJobOffers/action/isEditOfferAllowed": {
      "post": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Verify if the logged-in user can edit the offer",
        "description": "Verifies if the logged-in user can edit the offer.",
        "operationId": "doall_isEditOfferAllowed_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned after verifying if the logged-in user can edit the offer."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned after verifying if the logged-in user can edit the offer."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIMergeJobOffers-action-isEditOfferAllowed-post",
        "x-filename-id": "recruitinguimergejoboffers-action-iseditofferallowed-post"
      }
    },
    "/recruitingUIMergeJobOffers/action/performViewDuplicateMergeOperation": {
      "post": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Merge the duplicate candidates into one candidate",
        "description": "Merges the duplicate candidates into one candidate.",
        "operationId": "doall_performViewDuplicateMergeOperation_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pBetaPersonId": {
                    "type": "number",
                    "description": "Person identifier of the duplicate candidate.",
                    "nullable": true
                  },
                  "pBetaSubmissionId": {
                    "type": "number",
                    "description": "Submission identifier of the newly created offer.",
                    "nullable": true
                  },
                  "pAlphaPersonId": {
                    "type": "number",
                    "description": "Person identifier of the candidate.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned after merging candidates."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned after merging candidates."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIMergeJobOffers-action-performViewDuplicateMergeOperation-post",
        "x-filename-id": "recruitinguimergejoboffers-action-performviewduplicatemergeoperation-post"
      }
    },
    "/recruitingUIMergeJobOffers/action/isMergeAllowedForTheUser": {
      "post": {
        "tags": [
          "Recruiting Candidate Merge During Offer"
        ],
        "summary": "Verify if user can merge candidates",
        "description": "Verifies if user has permission to merge candidates.",
        "operationId": "doall_isMergeAllowedForTheUser_recruitingUIMergeJobOffers",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "betaSubmissionId": {
                    "type": "number",
                    "description": "Submission identifier used to determine if the user has permission to merge candidates.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned when verifying if the user has permission to merge candidates."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned when verifying if the user has permission to merge candidates."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingUIMergeJobOffers-action-isMergeAllowedForTheUser-post",
        "x-filename-id": "recruitinguimergejoboffers-action-ismergeallowedfortheuser-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingUIMergeJobOffers": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingUIMergeJobOffers-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingUIMergeJobOffers-item-response": {
        "type": "object",
        "properties": {
          "ActualTerminationDate": {
            "type": "string",
            "description": "Actual termination date of the candidate.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the assignment of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment number of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "BusinessUnitName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the business unit of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "DateOfBirthMatch": {
            "type": "string",
            "description": "Indicates whether the date of birth matches the potential duplicate candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "DateStart": {
            "type": "string",
            "description": "Start date of the candidate.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Department": {
            "maxLength": 255,
            "type": "string",
            "description": "Department of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "DisplayName": {
            "maxLength": 255,
            "type": "string",
            "description": "Display name of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "FirstName": {
            "maxLength": 255,
            "type": "string",
            "description": "First name of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "LastName": {
            "maxLength": 255,
            "type": "string",
            "description": "Last name of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "LegalEntityName": {
            "maxLength": 255,
            "type": "string",
            "description": "Legal entity name of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Location of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "NationalIdMatch": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the national identifier matches the potential duplicate candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonType": {
            "maxLength": 255,
            "type": "string",
            "description": "Person type of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RehireReason": {
            "maxLength": 255,
            "type": "string",
            "description": "Reason for rehiring the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "RehireRecommendation": {
            "maxLength": 255,
            "type": "string",
            "description": "Recommendation to rehire the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission identifier of the newly created offer.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingUIMergeJobOffers-item-post-request": {
        "type": "object",
        "properties": {
          "ActualTerminationDate": {
            "type": "string",
            "description": "Actual termination date of the candidate.",
            "format": "date",
            "nullable": true
          },
          "AssignmentName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the assignment of the candidate.",
            "nullable": true
          },
          "AssignmentNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment number of the candidate.",
            "nullable": true
          },
          "BusinessUnitName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the business unit of the candidate.",
            "nullable": true
          },
          "DateOfBirthMatch": {
            "type": "string",
            "description": "Indicates whether the date of birth matches the potential duplicate candidate.",
            "nullable": true
          },
          "DateStart": {
            "type": "string",
            "description": "Start date of the candidate.",
            "format": "date",
            "nullable": true
          },
          "Department": {
            "maxLength": 255,
            "type": "string",
            "description": "Department of the candidate.",
            "nullable": true
          },
          "DisplayName": {
            "maxLength": 255,
            "type": "string",
            "description": "Display name of the candidate.",
            "nullable": true
          },
          "FirstName": {
            "maxLength": 255,
            "type": "string",
            "description": "First name of the candidate.",
            "nullable": true
          },
          "LastName": {
            "maxLength": 255,
            "type": "string",
            "description": "Last name of the candidate.",
            "nullable": true
          },
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Location of the candidate.",
            "nullable": true
          },
          "NationalIdMatch": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the national identifier matches the potential duplicate candidate.",
            "nullable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier of the candidate.",
            "nullable": true
          },
          "RehireReason": {
            "maxLength": 255,
            "type": "string",
            "description": "Reason for rehiring the candidate.",
            "nullable": true
          },
          "RehireRecommendation": {
            "maxLength": 255,
            "type": "string",
            "description": "Recommendation to rehire the candidate.",
            "nullable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission identifier of the newly created offer.",
            "nullable": true
          }
        }
      },
      "recruitingUIMergeJobOffers-item-patch-request": {
        "type": "object",
        "properties": {
          "ActualTerminationDate": {
            "type": "string",
            "description": "Actual termination date of the candidate.",
            "format": "date",
            "nullable": true
          },
          "AssignmentName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the assignment of the candidate.",
            "nullable": true
          },
          "AssignmentNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Assignment number of the candidate.",
            "nullable": true
          },
          "BusinessUnitName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the business unit of the candidate.",
            "nullable": true
          },
          "DateOfBirthMatch": {
            "type": "string",
            "description": "Indicates whether the date of birth matches the potential duplicate candidate.",
            "nullable": true
          },
          "DateStart": {
            "type": "string",
            "description": "Start date of the candidate.",
            "format": "date",
            "nullable": true
          },
          "Department": {
            "maxLength": 255,
            "type": "string",
            "description": "Department of the candidate.",
            "nullable": true
          },
          "DisplayName": {
            "maxLength": 255,
            "type": "string",
            "description": "Display name of the candidate.",
            "nullable": true
          },
          "FirstName": {
            "maxLength": 255,
            "type": "string",
            "description": "First name of the candidate.",
            "nullable": true
          },
          "LastName": {
            "maxLength": 255,
            "type": "string",
            "description": "Last name of the candidate.",
            "nullable": true
          },
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Location of the candidate.",
            "nullable": true
          },
          "NationalIdMatch": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the national identifier matches the potential duplicate candidate.",
            "nullable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "Person identifier of the candidate.",
            "nullable": true
          },
          "RehireReason": {
            "maxLength": 255,
            "type": "string",
            "description": "Reason for rehiring the candidate.",
            "nullable": true
          },
          "RehireRecommendation": {
            "maxLength": 255,
            "type": "string",
            "description": "Recommendation to rehire the candidate.",
            "nullable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "Submission identifier of the newly created offer.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingUIMergeJobOffers-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingUIMergeJobOffers-item-post-request"
            }
          }
        }
      },
      "recruitingUIMergeJobOffers-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingUIMergeJobOffers-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}