{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Requisitions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingJobRequisitions/action/getDerivedPrimaryLocation": {
      "post": {
        "tags": [
          "Recruiting Job Requisitions"
        ],
        "summary": "Get a derived primary location",
        "description": "Gets a derived primary location for a given location.",
        "operationId": "doall_getDerivedPrimaryLocation_recruitingJobRequisitions",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locationId": {
                    "type": "number",
                    "description": "Unique identifier of the location.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return the element description for the primary location being retrieved."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Return the element description for the primary location being retrieved."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "recruitingJobRequisitions-action-getDerivedPrimaryLocation-post",
        "x-filename-id": "recruitingjobrequisitions-action-getderivedprimarylocation-post"
      }
    },
    "/recruitingJobRequisitions/{recruitingJobRequisitionsUniqID}": {
      "get": {
        "tags": [
          "Recruiting Job Requisitions"
        ],
        "summary": "Get a recruiting job requisition",
        "operationId": "get_recruitingJobRequisitions",
        "parameters": [
          {
            "name": "recruitingJobRequisitionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Requisitions resource and used to uniquely identify an instance of Recruiting Job Requisitions. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Requisitions collection resource in order to navigate to a specific instance of Recruiting Job Requisitions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobRequisitions-item-response"
                }
              }
            },
            "links": {
              "jobFamiliesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyId; Target Attribute: JobFamilyId</li><li>Display Attribute: JobFamilyId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyId",
                  "displayValues": [
                    "JobFamilyId"
                  ],
                  "itemsPath": "items",
                  "valueField": "JobFamilyId",
                  "displayFields": [
                    "JobFamilyId"
                  ]
                }
              },
              "locationsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrimaryWorkLocationId; Target Attribute: LocationId</li><li>Display Attribute: LocationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrimaryWorkLocationId",
                  "displayValues": [
                    "LocationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "LocationId",
                  "displayFields": [
                    "LocationId"
                  ]
                }
              },
              "gradesLOV": {
                "operationRef": "#/paths/~1gradesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeId; Target Attribute: GradeId</li><li>Display Attribute: GradeId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeId",
                  "displayValues": [
                    "GradeId"
                  ],
                  "itemsPath": "items",
                  "valueField": "GradeId",
                  "displayFields": [
                    "GradeId"
                  ]
                }
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1attachments/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1otherWorkLocations/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The otherWorkLocations resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions in other work locations."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1languages/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The languages resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions languages."
              },
              "requisitionDFF": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1requisitionDFF/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                }
              },
              "jobsLOV": {
                "operationRef": "#/paths/~1jobsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobId; Target Attribute: JobId</li><li>Display Attribute: JobId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobId",
                  "displayValues": [
                    "JobId"
                  ],
                  "itemsPath": "items",
                  "valueField": "JobId",
                  "displayFields": [
                    "JobId"
                  ]
                }
              },
              "recruitingContentLibraryItemsLOV": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingOrganizationExternalDescriptionId; Target Attribute: ItemDescriptionId</li><li>Display Attribute: ItemDescriptionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingOrganizationExternalDescriptionId",
                  "displayValues": [
                    "ItemDescriptionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "ItemDescriptionId",
                  "displayFields": [
                    "ItemDescriptionId"
                  ]
                }
              },
              "geographyHierarchyLocationsLOV": {
                "operationRef": "#/paths/~1recruitingHierarchyLocations/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrimaryLocationId; Target Attribute: GeographyNodeId</li><li>Display Attribute: GeographyNodeId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrimaryLocationId",
                  "displayValues": [
                    "GeographyNodeId"
                  ],
                  "itemsPath": "items",
                  "valueField": "GeographyNodeId",
                  "displayFields": [
                    "GeographyNodeId"
                  ]
                }
              },
              "legalEmployersLOV": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegalEmployerId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              },
              "publishedJobs": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1publishedJobs/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The publishedJobs resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions published jobs."
              },
              "hcmBusinessUnitsLOV": {
                "operationRef": "#/paths/~1hcmBusinessUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BusinessUnitId; Target Attribute: BusinessUnitId</li><li>Display Attribute: BusinessUnitId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BusinessUnitId",
                  "displayValues": [
                    "BusinessUnitId"
                  ],
                  "itemsPath": "items",
                  "valueField": "BusinessUnitId",
                  "displayFields": [
                    "BusinessUnitId"
                  ]
                }
              },
              "skills": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1skills/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The skills resource is the child of the recruitingjobRequisitions resource and provides all the skills of the job requisition."
              },
              "otherLocations": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1otherLocations/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The otherLocations resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions for other locations."
              },
              "recruitingOrganizationsLOV": {
                "operationRef": "#/paths/~1recruitingOrganizationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OrganizationId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OrganizationId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1collaborators/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The collaborators resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions collaborators."
              },
              "mediaLinks": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1mediaLinks/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The mediaLinks resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions media links."
              },
              "positionsLOV": {
                "operationRef": "#/paths/~1positionsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionId; Target Attribute: PositionId</li><li>Display Attribute: PositionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionId",
                  "displayValues": [
                    "PositionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "PositionId",
                  "displayFields": [
                    "PositionId"
                  ]
                }
              },
              "departmentsLOV": {
                "operationRef": "#/paths/~1departmentsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobRequisitions-{recruitingJobRequisitionsUniqID}-get",
        "x-filename-id": "recruitingjobrequisitions-recruitingjobrequisitionsuniqid-get"
      },
      "delete": {
        "tags": [
          "Recruiting Job Requisitions"
        ],
        "summary": "Delete recruiting job requisitions",
        "operationId": "delete_recruitingJobRequisitions",
        "parameters": [
          {
            "name": "recruitingJobRequisitionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Requisitions resource and used to uniquely identify an instance of Recruiting Job Requisitions. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Requisitions collection resource in order to navigate to a specific instance of Recruiting Job Requisitions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingJobRequisitions-{recruitingJobRequisitionsUniqID}-delete",
        "x-filename-id": "recruitingjobrequisitions-recruitingjobrequisitionsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting Job Requisitions"
        ],
        "summary": "Update recruiting job requisitions",
        "operationId": "update_recruitingJobRequisitions",
        "parameters": [
          {
            "name": "recruitingJobRequisitionsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Recruiting Job Requisitions resource and used to uniquely identify an instance of Recruiting Job Requisitions. The client should not generate the hash key value. Instead, the client should query on the Recruiting Job Requisitions collection resource in order to navigate to a specific instance of Recruiting Job Requisitions to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobRequisitions-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobRequisitions-item-response"
                }
              }
            },
            "links": {
              "jobFamiliesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyId; Target Attribute: JobFamilyId</li><li>Display Attribute: JobFamilyId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyId",
                  "displayValues": [
                    "JobFamilyId"
                  ],
                  "itemsPath": "items",
                  "valueField": "JobFamilyId",
                  "displayFields": [
                    "JobFamilyId"
                  ]
                }
              },
              "locationsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrimaryWorkLocationId; Target Attribute: LocationId</li><li>Display Attribute: LocationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrimaryWorkLocationId",
                  "displayValues": [
                    "LocationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "LocationId",
                  "displayFields": [
                    "LocationId"
                  ]
                }
              },
              "gradesLOV": {
                "operationRef": "#/paths/~1gradesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeId; Target Attribute: GradeId</li><li>Display Attribute: GradeId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeId",
                  "displayValues": [
                    "GradeId"
                  ],
                  "itemsPath": "items",
                  "valueField": "GradeId",
                  "displayFields": [
                    "GradeId"
                  ]
                }
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1attachments/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1otherWorkLocations/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The otherWorkLocations resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions in other work locations."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1languages/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The languages resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions languages."
              },
              "requisitionDFF": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1requisitionDFF/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                }
              },
              "jobsLOV": {
                "operationRef": "#/paths/~1jobsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobId; Target Attribute: JobId</li><li>Display Attribute: JobId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobId",
                  "displayValues": [
                    "JobId"
                  ],
                  "itemsPath": "items",
                  "valueField": "JobId",
                  "displayFields": [
                    "JobId"
                  ]
                }
              },
              "recruitingContentLibraryItemsLOV": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingOrganizationExternalDescriptionId; Target Attribute: ItemDescriptionId</li><li>Display Attribute: ItemDescriptionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingOrganizationExternalDescriptionId",
                  "displayValues": [
                    "ItemDescriptionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "ItemDescriptionId",
                  "displayFields": [
                    "ItemDescriptionId"
                  ]
                }
              },
              "geographyHierarchyLocationsLOV": {
                "operationRef": "#/paths/~1recruitingHierarchyLocations/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrimaryLocationId; Target Attribute: GeographyNodeId</li><li>Display Attribute: GeographyNodeId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrimaryLocationId",
                  "displayValues": [
                    "GeographyNodeId"
                  ],
                  "itemsPath": "items",
                  "valueField": "GeographyNodeId",
                  "displayFields": [
                    "GeographyNodeId"
                  ]
                }
              },
              "legalEmployersLOV": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegalEmployerId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              },
              "publishedJobs": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1publishedJobs/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The publishedJobs resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions published jobs."
              },
              "hcmBusinessUnitsLOV": {
                "operationRef": "#/paths/~1hcmBusinessUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BusinessUnitId; Target Attribute: BusinessUnitId</li><li>Display Attribute: BusinessUnitId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BusinessUnitId",
                  "displayValues": [
                    "BusinessUnitId"
                  ],
                  "itemsPath": "items",
                  "valueField": "BusinessUnitId",
                  "displayFields": [
                    "BusinessUnitId"
                  ]
                }
              },
              "skills": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1skills/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The skills resource is the child of the recruitingjobRequisitions resource and provides all the skills of the job requisition."
              },
              "otherLocations": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1otherLocations/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The otherLocations resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions for other locations."
              },
              "recruitingOrganizationsLOV": {
                "operationRef": "#/paths/~1recruitingOrganizationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OrganizationId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OrganizationId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1collaborators/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The collaborators resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions collaborators."
              },
              "mediaLinks": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1mediaLinks/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The mediaLinks resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions media links."
              },
              "positionsLOV": {
                "operationRef": "#/paths/~1positionsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionId; Target Attribute: PositionId</li><li>Display Attribute: PositionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionId",
                  "displayValues": [
                    "PositionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "PositionId",
                  "displayFields": [
                    "PositionId"
                  ]
                }
              },
              "departmentsLOV": {
                "operationRef": "#/paths/~1departmentsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobRequisitions-{recruitingJobRequisitionsUniqID}-patch",
        "x-filename-id": "recruitingjobrequisitions-recruitingjobrequisitionsuniqid-patch"
      }
    },
    "/recruitingJobRequisitions": {
      "get": {
        "tags": [
          "Recruiting Job Requisitions"
        ],
        "summary": "Get all recruiting job requisitions",
        "operationId": "getall_recruitingJobRequisitions",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ApplyWhenNotPosted; string; Apply When Not Posted in recruiting job requisitions.</li><li>AutomaticallyOpenRequisitionForSourcing; string; Determines if a job requisition is opened automatically for sourcing and if the job is posted internally and externally.</li><li>BusinessUnitId; integer; Business unit ID in recruiting job requisitions.</li><li>CandidateSelectionProcessId; integer; Candidate Selection Process ID in recruiting job requisitions.</li><li>DelayBeforePostingExpires; integer; Determines the number of days of delay before the job posting expires. The value can't be higher than 0 if the job requisition isn't configured to be posted automatically.</li><li>DepartmentId; integer; Department ID in recruiting job requisitions.</li><li>ExternalApplicationFlowId; integer; External Application Flow ID in recruiting job requisitions.</li><li>ExternalQualStr; string; String representation of qualifications for external candidates in recruiting job requisitions.</li><li>ExternalRespStr; string; String representation of responsibilities for external candidates in recruiting job requisitions.</li><li>GradeId; integer; Grade ID in recruiting job requisitions.</li><li>HiredCount; integer; Hired Count in recruiting job requisitions.</li><li>HiringManagerId; integer; Hiring Manager ID in recruiting job requisitions.</li><li>InternalQualStr; string; String representation of qualifications for internal candidates in recruiting job requisitions.</li><li>InternalRespStr; string; String representation of responsibilities for internal candidates in recruiting job requisitions.</li><li>JobFamilyId; integer; Job Family ID in recruiting job requisitions.</li><li>JobFunction; string; Job Function in recruiting job requisitions.</li><li>JobId; integer; Job ID in recruiting job requisitions.</li><li>LegalEmployerId; integer; Legal Employer ID in recruiting job requisitions.</li><li>OrganizationId; integer; Organization ID in recruiting job requisitions.</li><li>PhaseId; integer; Phase ID in recruiting job requisitions.</li><li>PhaseName; string; Phase Name in recruiting job requisitions.</li><li>PipelineRequisition; string; Pipeline Requisition in recruiting job requisitions.</li><li>PipelineRequisitionId; integer; Pipeline Requisition ID in recruiting job requisitions.</li><li>PositionId; integer; Position ID in recruiting job requisitions.</li><li>PrimaryLocationId; integer; Primary Location ID in recruiting job requisitions.</li><li>PrimaryWorkLocationId; integer; Primary Work Location ID in recruiting job requisitions.</li><li>RecruiterId; integer; Recruiter ID in recruiting job requisitions.</li><li>RecruitingType; string; Recruiting Type in recruiting job requisitions.</li><li>RequisitionId; integer; Requisition ID in recruiting job requisitions.</li><li>RequisitionLastModifiedDate; string; Requisition Last Modified Date in recruiting job requisitions.</li><li>RequisitionNumber; string; Requisition Number in recruiting job requisitions.</li><li>SalaryPeriodCode; string; Salary period in recruiting job requisitions.</li><li>StateId; integer; State ID in recruiting job requisitions.</li><li>StateName; string; State Name in recruiting job requisitions.</li><li>TemplateId; integer; Template ID in recruiting job requisitions.</li><li>Title; string; Title in recruiting job requisitions.</li><li>WorkEndDate; string; Work end date in recruiting job requisitions.</li><li>WorkStartDate; string; Work start date in recruiting job requisitions.</li><li>WorkplaceTypeCode; string; Workplace type in recruiting job requisitions.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds recruiting job requisitions using a unique ID <br>Finder Variables <ul><li>RequisitionId; integer;  Finds recruiting job requisitions using findByRequisitionNumber and RequisitionNumber; string;  </li></ul></li><li>findByRequisitionNumber Finds recruiting job requisitions using findByRequisitionNumber <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds recruiting job requisitions using findByRequisitionNumber and RequisitionNumber; string;  </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds recruiting job requisitions using a unique ID",
                "properties": {
                  "RequisitionId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Finds recruiting job requisitions using findByRequisitionNumber and RequisitionNumber",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByRequisitionNumber",
                "description": "Finds recruiting job requisitions using findByRequisitionNumber",
                "title": "findByReqNo",
                "properties": {
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds recruiting job requisitions using findByRequisitionNumber and RequisitionNumber",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobRequisitions"
                }
              }
            },
            "links": {
              "getDerivedPrimaryLocation": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1action~1getDerivedPrimaryLocation/post",
                "description": "Gets a derived primary location for a given location."
              }
            }
          }
        },
        "x-internal-id": "recruitingJobRequisitions-get",
        "x-filename-id": "recruitingjobrequisitions-get"
      },
      "post": {
        "tags": [
          "Recruiting Job Requisitions"
        ],
        "summary": "Submit all recruiting job requisitions",
        "operationId": "create_recruitingJobRequisitions",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingJobRequisitions-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingJobRequisitions-item-response"
                }
              }
            },
            "links": {
              "jobFamiliesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyId; Target Attribute: JobFamilyId</li><li>Display Attribute: JobFamilyId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyId",
                  "displayValues": [
                    "JobFamilyId"
                  ],
                  "itemsPath": "items",
                  "valueField": "JobFamilyId",
                  "displayFields": [
                    "JobFamilyId"
                  ]
                }
              },
              "locationsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrimaryWorkLocationId; Target Attribute: LocationId</li><li>Display Attribute: LocationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrimaryWorkLocationId",
                  "displayValues": [
                    "LocationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "LocationId",
                  "displayFields": [
                    "LocationId"
                  ]
                }
              },
              "gradesLOV": {
                "operationRef": "#/paths/~1gradesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: GradeId; Target Attribute: GradeId</li><li>Display Attribute: GradeId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/GradeId",
                  "displayValues": [
                    "GradeId"
                  ],
                  "itemsPath": "items",
                  "valueField": "GradeId",
                  "displayFields": [
                    "GradeId"
                  ]
                }
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1attachments/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1otherWorkLocations/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The otherWorkLocations resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions in other work locations."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1languages/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The languages resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions languages."
              },
              "requisitionDFF": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1requisitionDFF/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                }
              },
              "jobsLOV": {
                "operationRef": "#/paths/~1jobsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobId; Target Attribute: JobId</li><li>Display Attribute: JobId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobId",
                  "displayValues": [
                    "JobId"
                  ],
                  "itemsPath": "items",
                  "valueField": "JobId",
                  "displayFields": [
                    "JobId"
                  ]
                }
              },
              "recruitingContentLibraryItemsLOV": {
                "operationRef": "#/paths/~1recruitingContentLibraryItemsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: RecruitingOrganizationExternalDescriptionId; Target Attribute: ItemDescriptionId</li><li>Display Attribute: ItemDescriptionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/RecruitingOrganizationExternalDescriptionId",
                  "displayValues": [
                    "ItemDescriptionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "ItemDescriptionId",
                  "displayFields": [
                    "ItemDescriptionId"
                  ]
                }
              },
              "geographyHierarchyLocationsLOV": {
                "operationRef": "#/paths/~1recruitingHierarchyLocations/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PrimaryLocationId; Target Attribute: GeographyNodeId</li><li>Display Attribute: GeographyNodeId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PrimaryLocationId",
                  "displayValues": [
                    "GeographyNodeId"
                  ],
                  "itemsPath": "items",
                  "valueField": "GeographyNodeId",
                  "displayFields": [
                    "GeographyNodeId"
                  ]
                }
              },
              "legalEmployersLOV": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegalEmployerId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              },
              "publishedJobs": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1publishedJobs/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The publishedJobs resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions published jobs."
              },
              "hcmBusinessUnitsLOV": {
                "operationRef": "#/paths/~1hcmBusinessUnitsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: BusinessUnitId; Target Attribute: BusinessUnitId</li><li>Display Attribute: BusinessUnitId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/BusinessUnitId",
                  "displayValues": [
                    "BusinessUnitId"
                  ],
                  "itemsPath": "items",
                  "valueField": "BusinessUnitId",
                  "displayFields": [
                    "BusinessUnitId"
                  ]
                }
              },
              "skills": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1skills/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The skills resource is the child of the recruitingjobRequisitions resource and provides all the skills of the job requisition."
              },
              "otherLocations": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1otherLocations/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The otherLocations resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions for other locations."
              },
              "recruitingOrganizationsLOV": {
                "operationRef": "#/paths/~1recruitingOrganizationsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OrganizationId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OrganizationId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              },
              "collaborators": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1collaborators/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The collaborators resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions collaborators."
              },
              "mediaLinks": {
                "operationRef": "#/paths/~1recruitingJobRequisitions~1{recruitingJobRequisitionsUniqID}~1child~1mediaLinks/get",
                "parameters": {
                  "recruitingJobRequisitionsUniqID": "$request.path.recruitingJobRequisitionsUniqID"
                },
                "description": "The mediaLinks resource is a child of recruitingJobRequisitions. It includes the details of recruiting job requisitions media links."
              },
              "positionsLOV": {
                "operationRef": "#/paths/~1positionsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PositionId; Target Attribute: PositionId</li><li>Display Attribute: PositionId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PositionId",
                  "displayValues": [
                    "PositionId"
                  ],
                  "itemsPath": "items",
                  "valueField": "PositionId",
                  "displayFields": [
                    "PositionId"
                  ]
                }
              },
              "departmentsLOV": {
                "operationRef": "#/paths/~1departmentsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DepartmentId; Target Attribute: OrganizationId</li><li>Display Attribute: OrganizationId</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DepartmentId",
                  "displayValues": [
                    "OrganizationId"
                  ],
                  "itemsPath": "items",
                  "valueField": "OrganizationId",
                  "displayFields": [
                    "OrganizationId"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingJobRequisitions-post",
        "x-filename-id": "recruitingjobrequisitions-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingJobRequisitions-item-response": {
        "type": "object",
        "properties": {
          "ApplyWhenNotPosted": {
            "title": "Allow Candidates to Apply When Not Posted",
            "maxLength": 1,
            "type": "string",
            "description": "Apply When Not Posted in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": true
          },
          "AutomaticallyOpenRequisitionForSourcing": {
            "title": "Automatically Open Requisition for Sourcing",
            "maxLength": 30,
            "type": "string",
            "description": "Determines if a job requisition is opened automatically for sourcing and if the job is posted internally and externally.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Automatically Open Requisition for Sourcing"
              }
            },
            "x-queryable": true
          },
          "BudgetCurrency": {
            "title": "Budget Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Budget Currency in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "BusinessJustification": {
            "title": "Business Justification",
            "maxLength": 30,
            "type": "string",
            "description": "Business justification in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "BusinessUnitId": {
            "title": "Business Unit",
            "type": "integer",
            "description": "Business unit ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_TYPE": "BU"
            },
            "x-queryable": true
          },
          "CandidateSelectionProcessId": {
            "title": "Candidate Selection Process",
            "type": "integer",
            "description": "Candidate Selection Process ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompensationCurrency": {
            "title": "Compensation Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Compensation Currency in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Create job requisitions.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Creation Date in recruiting job requisitions.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DelayBeforePostingExpires": {
            "title": "Delay Before Posting Expires",
            "type": "integer",
            "description": "Determines the number of days of delay before the job posting expires. The value can't be higher than 0 if the job requisition isn't configured to be posted automatically.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Delay Before Posting Expires"
              },
              "precision": 9
            },
            "x-queryable": true
          },
          "DepartmentId": {
            "title": "Department",
            "type": "integer",
            "description": "Department ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_ATTR": "BusinessUnitId"
            },
            "x-queryable": true
          },
          "DisplayInOrgChart": {
            "title": "Display in Organization Chart",
            "maxLength": 1,
            "type": "string",
            "description": "Display In Org Chart in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationLevel": {
            "title": "Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Education Level in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployeeReferralBonus": {
            "title": "Employee Referral Bonus",
            "type": "number",
            "description": "Employee Referral Bonus in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployerExternalDescriptionId": {
            "title": "External",
            "type": "integer",
            "description": "Employer External Description ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "EmployerInternalDescriptionId": {
            "title": "Internal",
            "type": "integer",
            "description": "Employer Internal Description ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "ExternalApplicationFlowId": {
            "title": "External Application Flow",
            "type": "integer",
            "description": "External Application Flow ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ExternalContactEmail": {
            "title": "Email of External Contact",
            "maxLength": 240,
            "type": "string",
            "description": "External Contact Email in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalContactName": {
            "title": "Name of External Contact",
            "maxLength": 240,
            "type": "string",
            "description": "External Contact Name in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalDescription": {
            "title": "Description for External Candidates",
            "type": "string",
            "description": "External Description in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalDescriptionHTML": {
            "title": "External Description HTML",
            "type": "string",
            "description": "External Description HTML in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalPublishedJobEndDate": {
            "title": "End Date",
            "type": "string",
            "description": "External Published Job End Date in recruiting job requisitions.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalPublishedJobStartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "External Published Job Start Date in recruiting job requisitions.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalPublishedJobStatus": {
            "title": "Posting Status",
            "maxLength": 30,
            "type": "string",
            "description": "External Published Job Status in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalQual": {
            "title": "Qualifications for External Candidates",
            "type": "string",
            "description": "Qualifications for external candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalQualHTML": {
            "title": "Qualifications for External Candidates",
            "type": "string",
            "description": "HTML representation of qualifications for external candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalQualStr": {
            "maxLength": 255,
            "type": "string",
            "description": "String representation of qualifications for external candidates in recruiting job requisitions.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalResp": {
            "title": "Responsibilities for External Candidates",
            "type": "string",
            "description": "Responsibilities for external candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalRespHTML": {
            "title": "Responsibilities for External Candidates",
            "type": "string",
            "description": "HTML representation of responsibilities for external candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ExternalRespStr": {
            "maxLength": 255,
            "type": "string",
            "description": "String representation of responsibilities for external candidates in recruiting job requisitions.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalShortDescription": {
            "title": "External Short Description",
            "type": "string",
            "description": "External Short Description in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "FullTimeOrPartTime": {
            "title": "Full Time or Part Time",
            "maxLength": 30,
            "type": "string",
            "description": "Full Time Or Part Time in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "GradeId": {
            "title": "Grade",
            "type": "integer",
            "description": "Grade ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_ATTR": "BusinessUnitId"
            },
            "x-queryable": true
          },
          "HiredCount": {
            "title": "Hired Count",
            "type": "integer",
            "description": "Hired Count in recruiting job requisitions.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "HiringManagerAssignmentId": {
            "title": "Hiring Manager Assignment",
            "type": "integer",
            "description": "Hiring Manager Assignment ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "HiringManagerId": {
            "title": "Hiring Manager",
            "type": "integer",
            "description": "Hiring Manager ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "InternalContactEmail": {
            "title": "Email of Internal Contact",
            "maxLength": 240,
            "type": "string",
            "description": "Internal Contact Email in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "InternalContactName": {
            "title": "Name of Internal Contact",
            "maxLength": 240,
            "type": "string",
            "description": "Internal Contact Name in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "InternalDescription": {
            "title": "Description for Internal Candidates",
            "type": "string",
            "description": "Internal Description in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "InternalDescriptionHTML": {
            "title": "Internal Description HTML",
            "type": "string",
            "description": "Internal Description HTML in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "InternalPublishedJobEndDate": {
            "title": "End Date",
            "type": "string",
            "description": "Internal Published Job End Date in recruiting job requisitions.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "InternalPublishedJobStartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Internal Published Job Start Date in recruiting job requisitions.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "InternalPublishedJobStatus": {
            "title": "Posting Status",
            "maxLength": 30,
            "type": "string",
            "description": "Internal Published Job Status in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "InternalQual": {
            "title": "Qualifications for Internal Candidates",
            "type": "string",
            "description": "Qualifications for internal candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "InternalQualHTML": {
            "title": "Qualifications for Internal Candidates",
            "type": "string",
            "description": "HTML representation of qualifications for internal candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "InternalQualStr": {
            "maxLength": 255,
            "type": "string",
            "description": "String representation of qualifications for internal candidates in recruiting job requisitions.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalResp": {
            "title": "Responsibilities for Internal Candidates",
            "type": "string",
            "description": "Responsibilities for internal candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "InternalRespHTML": {
            "title": "Responsibilities for Internal Candidates",
            "type": "string",
            "description": "HTML representation of responsibilities for internal candidates in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "InternalRespStr": {
            "maxLength": 255,
            "type": "string",
            "description": "String representation of responsibilities for internal candidates in recruiting job requisitions.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternalShortDescription": {
            "title": "Internal Short Description",
            "type": "string",
            "description": "Internal Short Description in recruiting job requisitions.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "JobFamilyId": {
            "title": "Job Family",
            "type": "integer",
            "description": "Job Family ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "JobFunction": {
            "title": "Job Function",
            "maxLength": 30,
            "type": "string",
            "description": "Job Function in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": true
          },
          "JobId": {
            "title": "Job",
            "type": "integer",
            "description": "Job ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_ATTR": "BusinessUnitId"
            },
            "x-queryable": true
          },
          "JobShift": {
            "title": "Job Shift",
            "maxLength": 30,
            "type": "string",
            "description": "Job Shift in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "JobType": {
            "title": "Job Type",
            "maxLength": 30,
            "type": "string",
            "description": "Job Type in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Last Update Date in recruiting job requisitions.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Last Update using in recruiting job requisitions.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LegalEmployerId": {
            "title": "Legal Employer",
            "type": "integer",
            "description": "Legal Employer ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagementLevel": {
            "title": "Management Level",
            "maxLength": 30,
            "type": "string",
            "description": "Management Level in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "MaximumSalary": {
            "title": "Maximum Salary",
            "type": "number",
            "description": "Maximum Salary in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "MinimumSalary": {
            "title": "Minimum Salary",
            "type": "number",
            "description": "Minimum Salary in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "NumberOfOpenings": {
            "title": "Number of Openings",
            "type": "integer",
            "description": "Number Of Openings in recruiting job requisitions.",
            "format": "int32",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "OrganizationId": {
            "title": "Organization",
            "type": "integer",
            "description": "Organization ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "OtherRequisitionTitle": {
            "title": "Other Requisition Title",
            "maxLength": 240,
            "type": "string",
            "description": "Other Requisition Title in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "PayFrequency": {
            "title": "Pay Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Pay Frequency in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": false
          },
          "PhaseId": {
            "title": "Current Phase",
            "type": "integer",
            "description": "Phase ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PhaseName": {
            "maxLength": 240,
            "type": "string",
            "description": "Phase Name in recruiting job requisitions.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PipelineRequisition": {
            "title": "Requisition Type",
            "maxLength": 1,
            "type": "string",
            "description": "Pipeline Requisition in recruiting job requisitions.",
            "nullable": true,
            "x-queryable": true
          },
          "PipelineRequisitionId": {
            "type": "integer",
            "description": "Pipeline Requisition ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PositionId": {
            "title": "Position",
            "type": "integer",
            "description": "Position ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryLocationId": {
            "title": "Primary Location",
            "type": "integer",
            "description": "Primary Location ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "PrimaryWorkLocationId": {
            "title": "Primary Work Location",
            "type": "integer",
            "description": "Primary Work Location ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_ATTR": "BusinessUnitId"
            },
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Profile ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RecruiterAssignmentId": {
            "title": "Recruiter Assignment",
            "type": "integer",
            "description": "Recruiter Assignment ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RecruiterId": {
            "title": "Recruiter",
            "type": "integer",
            "description": "Recruiter ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "RecruitingOrganizationExternalDescriptionId": {
            "title": "External",
            "type": "integer",
            "description": "Recruiting Organization External Description ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "RecruitingOrganizationInternalDescriptionId": {
            "title": "Internal",
            "type": "integer",
            "description": "Recruiting Organization Internal Description ID in recruiting job requisitions.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "RecruitingType": {
            "title": "Recruiting Type",
            "maxLength": 30,
            "type": "string",
            "description": "Recruiting Type in recruiting job requisitions.",
            "nullable": false,
            "x-queryable": true
          },
          "RegularOrTemporary": {
            "title": "Regular or Temporary",
            "maxLength": 30,
            "type": "string",
            "description": "Regular Or Temporary in recruiting job requisitions.",
            "nullable": true,
[...]
