{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Candidates",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCandidates/{CandidateNumber}": {
      "get": {
        "tags": [
          "Recruiting Candidates"
        ],
        "summary": "Get a candidate",
        "operationId": "get_recruitingCandidates",
        "parameters": [
          {
            "name": "CandidateNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidates-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1skills/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The skills resource is a child of the recruitingCandidates resource and provides details about the skills of the candidate."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1workPreferences/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The workPreferences resource is a child of the recruitingCandidates resource and provides details about the work preferences of the candidate."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1attachments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The attachments resource is a child of the recruitingCandidates resource and provides details about attachments provided by the candidate."
              },
              "education": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1education/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The education resource is a child of the recruitingCandidates resource and provides details about the education of the candidate."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1languages/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The languages resource is a child of the recruitingCandidates resource and provides details about the languages of the candidate."
              },
              "licensesAndCertificates": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1licensesAndCertificates/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The licensesAndCertificates resource is a child of the recruitingCandidates resource and provides details about the licenses and certificates of the candidate."
              },
              "candidateAddress": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1candidateAddress/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidateAddress resource is a child of the recruitingCandidates resource and provides details about the address of the candidate."
              },
              "candidatePhones": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1candidatePhones/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidatePhones resource is a child of the recruitingCandidates resource and provides details about the phone numbers of the candidate."
              },
              "citizenships": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1citizenships/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate."
              },
              "experience": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1experience/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The experience resource is a child of the recruitingCandidates resource and provides details about the work experience of the candidate."
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidates-{CandidateNumber}-get",
        "x-filename-id": "recruitingcandidates-candidatenumber-get"
      },
      "delete": {
        "tags": [
          "Recruiting Candidates"
        ],
        "summary": "Delete a candidate",
        "operationId": "delete_recruitingCandidates",
        "parameters": [
          {
            "name": "CandidateNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCandidates-{CandidateNumber}-delete",
        "x-filename-id": "recruitingcandidates-candidatenumber-delete"
      },
      "patch": {
        "tags": [
          "Recruiting Candidates"
        ],
        "summary": "Update a candidate",
        "operationId": "update_recruitingCandidates",
        "parameters": [
          {
            "name": "CandidateNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCandidates-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidates-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1skills/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The skills resource is a child of the recruitingCandidates resource and provides details about the skills of the candidate."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1workPreferences/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The workPreferences resource is a child of the recruitingCandidates resource and provides details about the work preferences of the candidate."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1attachments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The attachments resource is a child of the recruitingCandidates resource and provides details about attachments provided by the candidate."
              },
              "education": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1education/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The education resource is a child of the recruitingCandidates resource and provides details about the education of the candidate."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1languages/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The languages resource is a child of the recruitingCandidates resource and provides details about the languages of the candidate."
              },
              "licensesAndCertificates": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1licensesAndCertificates/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The licensesAndCertificates resource is a child of the recruitingCandidates resource and provides details about the licenses and certificates of the candidate."
              },
              "candidateAddress": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1candidateAddress/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidateAddress resource is a child of the recruitingCandidates resource and provides details about the address of the candidate."
              },
              "candidatePhones": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1candidatePhones/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidatePhones resource is a child of the recruitingCandidates resource and provides details about the phone numbers of the candidate."
              },
              "citizenships": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1citizenships/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate."
              },
              "experience": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1experience/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The experience resource is a child of the recruitingCandidates resource and provides details about the work experience of the candidate."
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidates-{CandidateNumber}-patch",
        "x-filename-id": "recruitingcandidates-candidatenumber-patch"
      }
    },
    "/recruitingCandidates": {
      "get": {
        "tags": [
          "Recruiting Candidates"
        ],
        "summary": "Get all candidates",
        "operationId": "getall_recruitingCandidates",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CandLastModifiedDate; string; Candidate last modified date.</li><li>CandidateType; string; Candidate type in recruiting candidates.</li><li>FullName; string; Full name in recruiting candidates.</li><li>LastName; string; Last name in recruiting candidates.</li><li>PreferredTimezone; string; Preferred time zone of the candidate.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all candidates using a unique ID. <br>Finder Variables <ul><li>CandidateNumber; string;  Unique ID and candidate number used to find candidates. </li></ul></li><li>findByPersonId Finds all candidates using a person ID. <br>Finder Variables <ul><li>personId; string;  Person ID used to find candidates. </li></ul></li><li>search Finds all candidates using search. <br>Finder Variables <ul><li>keywords; string;  Search and keywords; string;  used to find candidates. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all candidates using a unique ID.",
                "properties": {
                  "CandidateNumber": {
                    "x-queryable": false,
                    "nullable": true,
                    "description": "Unique ID and candidate number used to find candidates.",
                    "readOnly": true,
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Finds all candidates using a person ID.",
                "title": "filterByPersonId",
                "properties": {
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Person ID used to find candidates.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "search",
                "description": "Finds all candidates using search.",
                "title": "searchCandidates",
                "properties": {
                  "keywords": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search and keywords used to find candidates.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidates"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidates-get",
        "x-filename-id": "recruitingcandidates-get"
      },
      "post": {
        "tags": [
          "Recruiting Candidates"
        ],
        "summary": "Create a candidate",
        "operationId": "create_recruitingCandidates",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCandidates-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidates-item-response"
                }
              }
            },
            "links": {
              "skills": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1skills/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The skills resource is a child of the recruitingCandidates resource and provides details about the skills of the candidate."
              },
              "workPreferences": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1workPreferences/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The workPreferences resource is a child of the recruitingCandidates resource and provides details about the work preferences of the candidate."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1attachments/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The attachments resource is a child of the recruitingCandidates resource and provides details about attachments provided by the candidate."
              },
              "education": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1education/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The education resource is a child of the recruitingCandidates resource and provides details about the education of the candidate."
              },
              "languages": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1languages/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The languages resource is a child of the recruitingCandidates resource and provides details about the languages of the candidate."
              },
              "licensesAndCertificates": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1licensesAndCertificates/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The licensesAndCertificates resource is a child of the recruitingCandidates resource and provides details about the licenses and certificates of the candidate."
              },
              "candidateAddress": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1candidateAddress/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidateAddress resource is a child of the recruitingCandidates resource and provides details about the address of the candidate."
              },
              "candidatePhones": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1candidatePhones/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The candidatePhones resource is a child of the recruitingCandidates resource and provides details about the phone numbers of the candidate."
              },
              "citizenships": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1citizenships/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate."
              },
              "experience": {
                "operationRef": "#/paths/~1recruitingCandidates~1{CandidateNumber}~1child~1experience/get",
                "parameters": {
                  "CandidateNumber": "$request.path.CandidateNumber"
                },
                "description": "The experience resource is a child of the recruitingCandidates resource and provides details about the work experience of the candidate."
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidates-post",
        "x-filename-id": "recruitingcandidates-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCandidates-item-response": {
        "type": "object",
        "properties": {
          "CampaignOptIn": {
            "maxLength": 1,
            "type": "string",
            "description": "Campaign opt-in feature to recruit candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "CandLastModifiedDate": {
            "type": "string",
            "description": "Candidate last modified date.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate number in recruiting candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CandidateType": {
            "type": "string",
            "description": "Candidate type in recruiting candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "type": "string",
            "description": "Created using in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date in recruiting candidates.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "DisplayName": {
            "type": "string",
            "description": "Display name in recruiting candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Email": {
            "maxLength": 240,
            "type": "string",
            "description": "Email in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "FirstName": {
            "maxLength": 150,
            "type": "string",
            "description": "First name in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "FullName": {
            "type": "string",
            "description": "Full name in recruiting candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Honors": {
            "maxLength": 80,
            "type": "string",
            "description": "Honors in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "KnownAs": {
            "maxLength": 80,
            "type": "string",
            "description": "Known as in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "LastName": {
            "maxLength": 150,
            "type": "string",
            "description": "Last name in recruiting candidates.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last update date in recruiting candidates.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "type": "string",
            "description": "Last update using in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "ListName": {
            "type": "string",
            "description": "List name in recruiting candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "MiddleNames": {
            "maxLength": 80,
            "type": "string",
            "description": "Middle names in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "MilitaryRank": {
            "maxLength": 80,
            "type": "string",
            "description": "Military rank in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "PersonId": {
            "type": "integer",
            "description": "Person ID in recruiting candidates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PreNameAdjunct": {
            "maxLength": 150,
            "type": "string",
            "description": "Previous name adjunct in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "PreferredLanguage": {
            "maxLength": 4,
            "type": "string",
            "description": "Preferred language in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "PreferredTimezone": {
            "maxLength": 255,
            "type": "string",
            "description": "Preferred time zone of the candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "PreviousLastName": {
            "maxLength": 150,
            "type": "string",
            "description": "Previous last name in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "SourceMedium": {
            "maxLength": 32,
            "type": "string",
            "description": "Source medium in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "SourceName": {
            "maxLength": 2000,
            "type": "string",
            "description": "Source name in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "Suffix": {
            "maxLength": 80,
            "type": "string",
            "description": "Suffix in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "Title": {
            "maxLength": 30,
            "type": "string",
            "description": "Title in recruiting candidates.",
            "nullable": true,
            "x-queryable": false
          },
          "attachments": {
            "title": "Attachments of the Candidates",
            "type": "array",
            "description": "The attachments resource is a child of the recruitingCandidates resource and provides details about attachments provided by the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-attachments-item-response"
            }
          },
          "candidateAddress": {
            "title": "Address of the Recruiting Candidates",
            "type": "array",
            "description": "The candidateAddress resource is a child of the recruitingCandidates resource and provides details about the address of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-candidateAddress-item-response"
            }
          },
          "candidatePhones": {
            "title": "Phone of the Recruiting Candidates",
            "type": "array",
            "description": "The candidatePhones resource is a child of the recruitingCandidates resource and provides details about the phone numbers of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-candidatePhones-item-response"
            }
          },
          "citizenships": {
            "title": "Citizenships of Candidates",
            "type": "array",
            "description": "The citizenships resource is a child of the recruitingCandidates resource and provides details about the citizenship of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-citizenships-item-response"
            }
          },
          "education": {
            "title": "Education of the Recruiting Candidates",
            "type": "array",
            "description": "The education resource is a child of the recruitingCandidates resource and provides details about the education of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-education-item-response"
            }
          },
          "experience": {
            "title": "Experience of the Recruiting Candidates",
            "type": "array",
            "description": "The experience resource is a child of the recruitingCandidates resource and provides details about the work experience of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-experience-item-response"
            }
          },
          "languages": {
            "title": "Languages of the Recruiting Candidates",
            "type": "array",
            "description": "The languages resource is a child of the recruitingCandidates resource and provides details about the languages of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-languages-item-response"
            }
          },
          "licensesAndCertificates": {
            "title": "Licenses and Certifications of the Recruiting Candidates",
            "type": "array",
            "description": "The licensesAndCertificates resource is a child of the recruitingCandidates resource and provides details about the licenses and certificates of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-licensesAndCertificates-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "skills": {
            "title": "Skills of the Recruiting Candidates",
            "type": "array",
            "description": "The skills resource is a child of the recruitingCandidates resource and provides details about the skills of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-skills-item-response"
            }
          },
          "workPreferences": {
            "title": "Work Preferences of the Recruiting Candidates",
            "type": "array",
            "description": "The workPreferences resource is a child of the recruitingCandidates resource and provides details about the work preferences of the candidate.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidates-workPreferences-item-response"
            }
          }
        }
      },
      "recruitingCandidates-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "User who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "User name of the person who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error code for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error message for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "Contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "File name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "Base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "User who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "User name of the person who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "Name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "Content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "Size of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "Name to assign to a new attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of a topology manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of a web page attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "Login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCandidates-candidateAddress-item-response": {
        "type": "object",
        "properties": {
          "AddlAddressAttribute1": {
            "maxLength": 150,
            "type": "string",
            "description": "Link Relations",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute2": {
            "maxLength": 150,
            "type": "string",
            "description": "Add Address Attribute 2 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute3": {
            "maxLength": 150,
            "type": "string",
            "description": "Add Address Attribute 3 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute4": {
            "maxLength": 150,
            "type": "string",
            "description": "Add Address Attribute 4 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddlAddressAttribute5": {
            "maxLength": 150,
            "type": "string",
            "description": "Add Address Attribute 5 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddressId": {
            "type": "string",
            "description": "ID assigned to each recruiting candidate address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AddressLine1": {
            "maxLength": 240,
            "type": "string",
            "description": "Address Line 1 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddressLine2": {
            "maxLength": 240,
            "type": "string",
            "description": "Address Line 2 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "AddressLine3": {
            "maxLength": 240,
            "type": "string",
            "description": "Address Line 3 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Building": {
            "maxLength": 240,
            "type": "string",
            "description": "Building in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "City": {
            "maxLength": 60,
            "type": "string",
            "description": "City in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Country": {
            "maxLength": 60,
            "type": "string",
            "description": "Country in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "type": "string",
            "description": "Created using in recruiting candidate address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date in recruiting candidate address.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FloorNumber": {
            "maxLength": 40,
            "type": "string",
            "description": "Floor number in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last update date in recruiting candidate address.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "type": "string",
            "description": "Last update using in recruiting candidate address.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LongPostalCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Long postal code in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "PostalCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Postal code in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Region1": {
            "maxLength": 120,
            "type": "string",
            "description": "Region 1 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Region2": {
            "maxLength": 120,
            "type": "string",
            "description": "Region 2 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "Region3": {
            "maxLength": 120,
            "type": "string",
            "description": "Region 3 in recruiting candidate address.",
            "nullable": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCandidates-candidatePhones-item-response": {
        "type": "object",
        "properties": {
          "AreaCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Area code in recruiting candidate phone.",
            "nullable": true,
            "x-queryable": false
          },
          "CountryCodeNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Country code number in recruiting candidate phone.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "type": "string",
            "description": "Created using in recruiting candidate phone.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "type": "string",
            "description": "Creation date in recruiting candidate phone.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Last update date in recruiting candidate phone.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "type": "string",
            "description": "Last update using in recruiting candidate phone.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LegislationCode": {
            "maxLength": 4,
            "type": "string",
            "description": "Legislation code in recruiting candidate phone.",
            "nullable": true,
            "x-queryable": false
          },
          "PhoneId": {
            "type": "string",
            "description": "ID assigned to each recruiting candidate phone number.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PhoneNumber": {
            "maxLength": 60,
            "type": "string",
            "description": "Phone number in recruiting candidate phone.",
            "nullable": true,
            "x-queryable": false
          },
          "PhoneType": {
            "type": "string",
            "description": "Phone type in recruiting candidate phone.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCandidates-citizenships-item-response": {
        "type": "object",
        "properties": {
          "Citizenship": {
            "title": "Citizenship",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code in recruiting candidate citizenship.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CitizenshipId": {
            "title": "Citizenship ID",
            "type": "integer",
            "description": "Identifier assigned to each recruiting candidate citizenship.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "CitizenshipMeaning": {
            "title": "Citizenship",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the legislation code in recruiting candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CitizenshipStatus": {
            "title": "Citizenship Status",
            "maxLength": 30,
            "type": "string",
            "description": "Citizenship status in recruiting candidate citizenship.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "Citizenship"
              ]
            },
            "x-queryable": true
          },
          "CitizenshipStatusMeaning": {
            "title": "Citizenship Status",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the status in recruiting candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the recruiting candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Creation date in recruiting candidate citizenship.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FromDate": {
            "title": "From Date",
            "type": "string",
            "description": "From date in recruiting candidate citizenship.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Last updated date in recruiting candidate citizenship.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Last updated by in recruiting candidate citizenship.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ToDate": {
            "title": "To Date",
            "type": "string",
            "description": "To date in recruiting candidate citizenship.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCandidates-education-item-response": {
        "type": "object",
        "properties": {
          "AcademicStanding": {
            "title": "Academic Standing",
            "maxLength": 30,
            "type": "string",
            "description": "Academic standing in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "ActivitySummary": {
            "title": "Summary of Activities",
            "type": "string",
            "description": "Activity summary in recruiting candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AreaOfStudy": {
            "title": "Area of Study",
            "maxLength": 240,
            "type": "string",
            "description": "Area of study in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "AverageGrade": {
            "title": "Average Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Average grade in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Awarding body in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "City": {
            "title": "City",
            "maxLength": 240,
            "type": "string",
            "description": "City in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments in recruiting candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTraningUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed training units in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "title": "Degree",
            "type": "integer",
            "description": "Content item ID in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CountryCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country code number in recruiting candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "CountryId": {
            "title": "Country",
            "type": "integer",
            "description": "Country ID in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "DateAcquired": {
            "title": "Date Acquired",
            "type": "string",
            "description": "Date acquired in recruiting candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "DegreeName": {
            "title": "Degree",
            "maxLength": 240,
            "type": "string",
            "description": "Degree name in recruiting candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "Department": {
            "title": "Faculty or Department",
            "maxLength": 240,
            "type": "string",
            "description": "Department in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description in recruiting candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Duration": {
            "title": "Duration",
            "maxLength": 240,
            "type": "string",
            "description": "Duration in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "DurationUnits": {
            "title": "Duration Units",
            "maxLength": 30,
            "type": "string",
            "description": "Duration units in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EduLevelCompletedFlag": {
            "title": "Education Level Completed",
            "maxLength": 30,
            "type": "boolean",
            "description": "Education level completed indicator in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationId": {
            "type": "integer",
            "description": "Education ID in recruiting candidate education.",
            "format": "int64",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EducationLevel": {
            "title": "Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Education level in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationURL": {
            "title": "Education URL",
            "maxLength": 2000,
            "type": "string",
            "description": "Education URL in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationalEstablishment": {
            "title": "School Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Education establishment in recruiting candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "EducationalEstablishmentId": {
            "title": "School",
            "type": "integer",
            "description": "Education establishment ID in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Educator": {
            "title": "Educator",
            "maxLength": 240,
            "type": "string",
            "description": "Educator in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date in recruiting candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fee in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Fee currency in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "GPA": {
            "title": "GPA",
            "type": "number",
            "description": "GPA in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "GraduatedFlag": {
            "title": "Graduated",
            "maxLength": 30,
            "type": "boolean",
            "description": "Graduated indicator in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "HighestEduLevel": {
            "title": "Highest Education Level",
            "maxLength": 30,
            "type": "string",
            "description": "Highest education level in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Major": {
            "title": "Major",
            "maxLength": 240,
            "type": "string",
            "description": "Major in recruiting candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "Minor": {
            "title": "Minor",
            "maxLength": 240,
            "type": "string",
            "description": "Minor in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "PartTimeFlag": {
            "title": "Part Time",
            "maxLength": 30,
            "type": "boolean",
            "description": "Part time indicator in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "ProjectedCompletionDate": {
            "title": "Projected Completion Date",
            "type": "string",
            "description": "Projected completion in recruiting candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "Reimbursements": {
            "title": "Reimbursement Arrangements",
            "type": "string",
            "description": "Reimbursements in recruiting candidate education.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Required indicator in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date in recruiting candidate education.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "StateProvinceCode": {
            "title": "State",
            "maxLength": 360,
            "type": "string",
            "description": "State province code in recruiting candidate education.",
            "nullable": true,
            "x-queryable": true
          },
          "StateProvinceId": {
            "title": "State",
            "type": "integer",
            "description": "State province ID in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Status": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "Title": {
            "title": "Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "TotalAmount": {
            "title": "Total Amount",
            "type": "integer",
            "description": "Total amount in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TrmnlDegDiscpFlag": {
            "title": "Terminal Degree for Discipline",
            "maxLength": 30,
            "type": "boolean",
            "description": "Terminal degree discipline indicator indicating the last degree obtained in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "TuitionMethod": {
            "title": "Tuition Method",
            "maxLength": 30,
            "type": "string",
            "description": "Tuition method in recruiting candidate education.",
            "nullable": true,
            "x-queryable": false
          },
          "YearAcquired": {
            "title": "Year Acquired",
            "type": "integer",
            "description": "Year acquired in recruiting candidate education.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCandidates-experience-item-response": {
        "type": "object",
        "properties": {
          "Achievements": {
            "title": "Achievements",
            "type": "string",
            "description": "Achievements in recruiting candidate experience.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AdditionalInformation": {
            "title": "Additional Information",
            "type": "string",
            "description": "Additional Information in recruiting candidate experience.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "BusinessType": {
            "title": "Type of Business",
            "maxLength": 240,
            "type": "string",
            "description": "Business type in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "CompanyURL": {
            "title": "Company URL",
            "maxLength": 2000,
            "type": "string",
            "description": "Company URL in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "ContactSupervisorFlag": {
            "title": "OK to Contact Supervisor",
            "maxLength": 30,
            "type": "boolean",
            "description": "Contact supervisor indicator in the recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "CountryCode": {
            "title": "Employer Country",
            "maxLength": 30,
            "type": "string",
            "description": "Country code number in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentJobFlag": {
            "title": "Current Job",
            "maxLength": 30,
            "type": "boolean",
            "description": "Current job indicator in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "Department": {
            "title": "Department or Division or Post",
            "maxLength": 240,
            "type": "string",
            "description": "Department in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "DirectReports": {
            "title": "Direct Reports",
            "type": "integer",
            "description": "Direct reports in recruiting candidate experience.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EmployerCity": {
            "title": "Employer City",
            "maxLength": 240,
            "type": "string",
            "description": "Employer city in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployerCountryId": {
            "title": "Employer Country",
            "type": "integer",
            "description": "Employer country ID in recruiting candidate experience.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EmployerName": {
            "title": "Employer Name",
            "maxLength": 240,
            "type": "string",
            "description": "Employer name in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": true
          },
          "EmployerPhone": {
            "title": "Employer Phone",
            "maxLength": 240,
            "type": "string",
            "description": "Employer phone in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployerStateId": {
            "title": "Employer State or Province",
            "type": "integer",
            "description": "Employer state ID in recruiting candidate experience.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EndCompensation": {
            "title": "Ending Compensation",
            "type": "number",
            "description": "End compensation in recruiting candidate experience.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date in recruiting candidate experience.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "ExperienceInYears": {
            "type": "number",
            "description": "Experience in years in recruiting candidate experience.",
[...]
