{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Themes",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEThemes": {
      "get": {
        "tags": [
          "Recruiting CE Themes"
        ],
        "summary": "Get details of all themes in recruitingCETemplates",
        "operationId": "getall_recruitingCEThemes",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CustomJsEnabledFlag; boolean; Indicates that custom jobs are enabled in the themes in recruitingCETemplates.</li><li>FooterMode; integer; Footer mode in themes in recruitingCETemplates.</li><li>HeaderMode; integer; Header mode in themes in recruitingCETemplates.</li><li>MainCallForAction; string; Main call for action in themes in recruitingCETemplates.</li><li>SiteNumber; string; Site number in themes in recruitingCETemplates.</li><li>SplashPageCode; string; Splash page code in themes in recruitingCETemplates.</li><li>SplashPageNumber; string; Splash page number in themes in recruitingCETemplates.</li><li>TemplateNumber; string; Template number in themes in recruitingCETemplates.</li><li>ThemeName; string; Theme name in themes in recruitingCETemplates.</li><li>ThemeNumber; string; Theme number in themes in recruitingCETemplates.</li><li>WelcomeText; string; Welcome text in themes in recruitingCETemplates.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds themes in recruitingCETemplates using a unique ID <br>Finder Variables <ul></ul></li><li>ThemeByNumberFinder Finds themes in recruitingCETemplates using ThemeusingNumberFinder <br>Finder Variables <ul><li>ThemeNumber; string;  Finds themes in recruitingCETemplates using ThemeusingNumberFinder and theme number </li></ul></li><li>ThemeBySiteCodeFinder Finds themes in recruitingCETemplates using ThemeusingSiteCodeFinder <br>Finder Variables <ul><li>SiteNumber; string;  Finds themes in recruitingCETemplates using ThemeusingSiteCodeFinder and site number </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds themes in recruitingCETemplates using a unique ID",
                "properties": {}
              },
              {
                "name": "ThemeByNumberFinder",
                "description": "Finds themes in recruitingCETemplates using ThemeusingNumberFinder",
                "title": "findByThemeNumber",
                "properties": {
                  "ThemeNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds themes in recruitingCETemplates using ThemeusingNumberFinder and theme number",
                    "type": "string"
                  }
                }
              },
              {
                "name": "ThemeBySiteCodeFinder",
                "description": "Finds themes in recruitingCETemplates using ThemeusingSiteCodeFinder",
                "title": "findBySiteNumber",
                "properties": {
                  "SiteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds themes in recruitingCETemplates using ThemeusingSiteCodeFinder and site number",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-get",
        "x-filename-id": "recruitingcethemes-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Themes"
        ],
        "summary": "Submit details of all recruitingCEThemes",
        "operationId": "create_recruitingCEThemes",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCEThemes-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-item-response"
                }
              }
            },
            "links": {
              "brands": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1brands/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The brands resource is a child of recruitingCEThemes. It includes the details of brands in the career site themes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customWidgets": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customWidgets/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The customWidgets resource is a child of recruitingCEThemes. It includes the widgets configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1translations/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The translations resource is a child of recruitingCETemplates. It includes the translations in recruitingCETemplates. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "footerLinks": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1footerLinks/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The footerLinks resource is a child of recruitingCEThemes. It includes the details of footer links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "headerLinks": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1headerLinks/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The headerLinks resource is a child of recruitingCEThemes. It includes the details of the header links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "styles": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1styles/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The styles resource is a child of recruitingCEThemes. It includes the details of styles in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customHeaders": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The customHeaders resource is a child of recruitingCEThemes. It includes the headers configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-post",
        "x-filename-id": "recruitingcethemes-post"
      }
    },
    "/recruitingCEThemes/{ThemeNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Themes"
        ],
        "summary": "Get details of a theme in recruitingCETemplates",
        "operationId": "get_recruitingCEThemes",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-item-response"
                }
              }
            },
            "links": {
              "brands": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1brands/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The brands resource is a child of recruitingCEThemes. It includes the details of brands in the career site themes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customWidgets": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customWidgets/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The customWidgets resource is a child of recruitingCEThemes. It includes the widgets configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1translations/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The translations resource is a child of recruitingCETemplates. It includes the translations in recruitingCETemplates. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "footerLinks": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1footerLinks/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The footerLinks resource is a child of recruitingCEThemes. It includes the details of footer links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "headerLinks": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1headerLinks/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The headerLinks resource is a child of recruitingCEThemes. It includes the details of the header links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "styles": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1styles/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The styles resource is a child of recruitingCEThemes. It includes the details of styles in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customHeaders": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The customHeaders resource is a child of recruitingCEThemes. It includes the headers configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-get",
        "x-filename-id": "recruitingcethemes-themenumber-get"
      },
      "patch": {
        "tags": [
          "Recruiting CE Themes"
        ],
        "summary": "Update details of recruitingCEThemes",
        "operationId": "update_recruitingCEThemes",
        "parameters": [
          {
            "name": "ThemeNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCEThemes-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEThemes-item-response"
                }
              }
            },
            "links": {
              "brands": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1brands/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The brands resource is a child of recruitingCEThemes. It includes the details of brands in the career site themes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customWidgets": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customWidgets/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The customWidgets resource is a child of recruitingCEThemes. It includes the widgets configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "translations": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1translations/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The translations resource is a child of recruitingCETemplates. It includes the translations in recruitingCETemplates. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "footerLinks": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1footerLinks/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The footerLinks resource is a child of recruitingCEThemes. It includes the details of footer links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "headerLinks": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1headerLinks/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The headerLinks resource is a child of recruitingCEThemes. It includes the details of the header links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "styles": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1styles/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The styles resource is a child of recruitingCEThemes. It includes the details of styles in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "customHeaders": {
                "operationRef": "#/paths/~1recruitingCEThemes~1{ThemeNumber}~1child~1customHeaders/get",
                "parameters": {
                  "ThemeNumber": "$request.path.ThemeNumber"
                },
                "description": "The customHeaders resource is a child of recruitingCEThemes. It includes the headers configuration. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEThemes-{ThemeNumber}-patch",
        "x-filename-id": "recruitingcethemes-themenumber-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEThemes": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCEThemes-item-response": {
        "type": "object",
        "properties": {
          "CustomJsEnabledFlag": {
            "type": "boolean",
            "description": "Indicates that custom jobs are enabled in the themes in recruitingCETemplates.",
            "nullable": true,
            "x-queryable": true
          },
          "FooterMode": {
            "type": "integer",
            "description": "Footer mode in themes in recruitingCETemplates.",
            "format": "int32",
            "nullable": false,
            "default": 1,
            "x-hints": {
              "precision": 1
            },
            "x-queryable": true
          },
          "GeneratedCustomCSS": {
            "type": "string",
            "description": "Generated custom CSS containing cascading style sheet custom variables.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "HeaderMode": {
            "type": "integer",
            "description": "Header mode in themes in recruitingCETemplates.",
            "format": "int32",
            "nullable": false,
            "default": 1,
            "x-hints": {
              "precision": 1
            },
            "x-queryable": true
          },
          "MainCallForAction": {
            "maxLength": 4000,
            "type": "string",
            "description": "Main call for action in themes in recruitingCETemplates.",
            "nullable": true,
            "x-queryable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Site number in themes in recruitingCETemplates.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "SplashPageCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Splash page code in themes in recruitingCETemplates.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SplashPageNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Splash page number in themes in recruitingCETemplates.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "TemplateNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Template number in themes in recruitingCETemplates.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ThemeName": {
            "maxLength": 200,
            "type": "string",
            "description": "Theme name in themes in recruitingCETemplates.",
            "nullable": false,
            "x-queryable": true
          },
          "ThemeNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Theme number in themes in recruitingCETemplates.",
            "nullable": false,
            "x-queryable": true
          },
          "WelcomeText": {
            "type": "string",
            "description": "Welcome text in themes in recruitingCETemplates.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "brands": {
            "title": "Brands in Themes",
            "type": "array",
            "description": "The brands resource is a child of recruitingCEThemes. It includes the details of brands in the career site themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-brands-item-response"
            }
          },
          "customHeaders": {
            "title": "Custom Headers of Themes",
            "type": "array",
            "description": "The customHeaders resource is a child of recruitingCEThemes. It includes the headers configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-response"
            }
          },
          "customWidgets": {
            "title": "Custom Widgets in Themes",
            "type": "array",
            "description": "The customWidgets resource is a child of recruitingCEThemes. It includes the widgets configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customWidgets-item-response"
            }
          },
          "footerLinks": {
            "title": "Footer Links in Themes",
            "type": "array",
            "description": "The footerLinks resource is a child of recruitingCEThemes. It includes the details of footer links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-footerLinks-item-response"
            }
          },
          "headerLinks": {
            "title": "Header Links in Themes",
            "type": "array",
            "description": "The headerLinks resource is a child of recruitingCEThemes. It includes the details of the header links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-headerLinks-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "styles": {
            "title": "Styles in Themes",
            "type": "array",
            "description": "The styles resource is a child of recruitingCEThemes. It includes the details of styles in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-styles-item-response"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-translations-item-response"
            }
          }
        }
      },
      "recruitingCEThemes-brands-item-response": {
        "type": "object",
        "properties": {
          "BrandingId": {
            "type": "integer",
            "description": "Branding ID in brands in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "CorporateIconURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "Corporate icon URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "CustomCSS": {
            "type": "string",
            "description": "Custom CSS in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "CustomCSSCLOB"
            },
            "x-queryable": true
          },
          "CustomCSSCLOB": {
            "type": "string",
            "description": "Custom CSSCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "CustomJS": {
            "type": "string",
            "description": "Custom jobs in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "CustomJSCLOB"
            },
            "x-queryable": true
          },
          "CustomJSCLOB": {
            "type": "string",
            "description": "Custom JSCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "DefaultCSS": {
            "type": "string",
            "description": "Default CSS in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "DefaultCSSCLOB"
            },
            "x-queryable": true
          },
          "DefaultCSSCLOB": {
            "type": "string",
            "description": "Default CSSCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "DefaultJs": {
            "type": "string",
            "description": "Default JS in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "FooterHTML": {
            "type": "string",
            "description": "Footer HTML in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "FooterHTMLCLOB"
            },
            "x-queryable": true
          },
          "FooterHTMLCLOB": {
            "title": "Global Footer HTML",
            "type": "string",
            "description": "Footer HTMLCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Global Footer HTML"
              },
              "PAYLOADHINT": "Show"
            }
          },
          "FrontImageURL": {
            "title": "Background Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Front image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Background Image"
              }
            },
            "x-queryable": true
          },
          "HeaderHTML": {
            "type": "string",
            "description": "Header HTML in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "HeaderHTMLCLOB"
            },
            "x-queryable": true
          },
          "HeaderHTMLCLOB": {
            "title": "Global Header HTML",
            "type": "string",
            "description": "Header HTMlCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Global Header HTML"
              },
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "Language": {
            "maxLength": 255,
            "type": "string",
            "description": "Language in brands in recruitingCEThemes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LogoImageURL": {
            "title": "Hero Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Logo image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Hero Image"
              }
            },
            "x-queryable": true
          },
          "MobileFrontImageURL": {
            "title": "Mobile Background Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Mobile front image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Mobile Background Image"
              }
            },
            "x-queryable": true
          },
          "MobileLogoImageURL": {
            "title": "Mobile Hero Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Mobile logo image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Mobile Hero Image"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-brands-translations-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEThemes-brands-translations-item-response": {
        "type": "object",
        "properties": {
          "CorporateIconURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "Corporate icon URL for the brand translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "CustomCSS": {
            "type": "string",
            "description": "Custom CSS for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "DefaultCSS": {
            "type": "string",
            "description": "Default CSS for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "FrontImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "FrontImageURL of the brand translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the brand translations in recruitingCEThemes.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LogoImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL for the logo image for the brand translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "MobileFrontImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL for the mobile FrontImage for the brand translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "MobileLogoImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL for the mobile logo image for the brand translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "NavigationFooterHTML": {
            "type": "string",
            "description": "Navigation HTML footer for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "PAYLOADHINT": "Show"
            }
          },
          "NavigationHeaderHTML": {
            "type": "string",
            "description": "Navigation HTML header for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show",
              "Property": "text/html"
            },
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language of the theme brand translations in recruitingCEThemes.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-item-response": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "HeaderId": {
            "type": "integer",
            "description": "Header ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "Name": {
            "maxLength": 1000,
            "type": "string",
            "description": "Name for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom headers in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "ThemeId": {
            "type": "integer",
            "description": "Theme ID for custom headers in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Type": {
            "maxLength": 200,
            "type": "string",
            "description": "Type for custom headers in recruitingCEThemes.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "settings": {
            "title": "Settings of the Widget",
            "type": "array",
            "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-settings-item-response"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-translations-item-response"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-settings-item-response": {
        "type": "object",
        "properties": {
          "SettingId": {
            "type": "integer",
            "description": "Setting ID for custom header settings in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SettingKey": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting key for custom header settings in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "SettingValue": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting value for custom header settings in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-customHeaders-translations-item-response": {
        "type": "object",
        "properties": {
          "EmployeeText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Employee text for custom header translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language for custom header translations in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "LogoURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Logo URL for custom header translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "ProfileText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Profile text for custom header translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language for custom header translations in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-customWidgets-item-response": {
        "type": "object",
        "properties": {
          "ThemeId": {
            "type": "integer",
            "description": "Theme identifier for custom widgets in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WidgetEnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Widget enabled flag for custom widgets in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "WidgetIconURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Icon URL for custom widgets in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "WidgetId": {
            "type": "integer",
            "description": "Identifier for custom widgets in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WidgetName": {
            "maxLength": 1000,
            "type": "string",
            "description": "Name for custom widgets in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "WidgetText": {
            "maxLength": 1000,
            "type": "string",
            "description": "Text for custom widgets in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "WidgetTypeCode": {
            "maxLength": 200,
            "type": "string",
            "description": "Type code for custom widgets in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "settings": {
            "title": "Settings of the Widget",
            "type": "array",
            "description": "The settings resource is a child of customHeaders. It includes the headers settings configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customWidgets-settings-item-response"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customWidgets-translations-item-response"
            }
          }
        }
      },
      "recruitingCEThemes-customWidgets-settings-item-response": {
        "type": "object",
        "properties": {
          "SettingId": {
            "type": "integer",
            "description": "Setting identifier for custom widgets settings in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SettingKey": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting key for custom widget settings in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "SettingValue": {
            "maxLength": 1000,
            "type": "string",
            "description": "Setting value for custom widgets settings in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "WidgetId": {
            "type": "integer",
            "description": "Identifier for custom widgets settings in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-customWidgets-translations-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language for custom widgets translations in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language for custom widgets translations in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "WidgetIconURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Widget icon URL for custom widgets translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "WidgetId": {
            "type": "integer",
            "description": "Widget identifier for custom widgets translations in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WidgetName": {
            "maxLength": 1000,
            "type": "string",
            "description": "Name for custom widgets translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-footerLinks-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 255,
            "type": "string",
            "description": "Language in footer links in recruitingCEThemes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LinkName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Link name in footer links in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "LinkNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Link number in footer links in recruitingCEThemes.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "LinkOrder": {
            "type": "integer",
            "description": "Link order in footer links in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ParentLinkNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Parent link number in footer links in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Text": {
            "maxLength": 240,
            "type": "string",
            "description": "Text in footer links in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL in footer links in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "VisibleOnMobile": {
            "type": "boolean",
            "description": "Visible on mobile in footer links in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "VisibleOnMobile1"
              ]
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-footerLinks-translations-item-response"
            }
          }
        }
      },
      "recruitingCEThemes-footerLinks-translations-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language in translations in recruitingCEThemes.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LinkName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Link name in translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "LinkText": {
            "maxLength": 240,
            "type": "string",
            "description": "Link text in translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "LinkURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "Link URL in translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language in translations in recruitingCEThemes.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-headerLinks-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 255,
            "type": "string",
            "description": "Language in header links in recruitingCEThemes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LinkName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Link name in header links in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "LinkNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Link number in header links in recruitingCEThemes.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "LinkOrder": {
            "type": "integer",
            "description": "Link order in header links in recruitingCEThemes.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ParentLinkNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Parent link number in header links in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Text": {
            "maxLength": 240,
            "type": "string",
            "description": "Text in header links in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL in header links in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "VisibleOnMobile": {
            "type": "boolean",
            "description": "Visible on mobile in header links in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "VisibleOnMobile1"
              ]
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-headerLinks-translations-item-response"
            }
          }
        }
      },
      "recruitingCEThemes-headerLinks-translations-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language in translations in recruitingCEThemes.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LinkName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Link name in translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "LinkText": {
            "maxLength": 240,
            "type": "string",
            "description": "Link text in translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "LinkURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "Link URL in translations in recruitingCEThemes.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language in translations in recruitingCEThemes.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-styles-item-response": {
        "type": "object",
        "properties": {
          "BackgroundColor": {
            "title": "Background Color",
            "maxLength": 20,
            "type": "string",
            "description": "Background color in styles in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Background Color"
              }
            },
            "x-queryable": true
          },
          "FontColor": {
            "title": "Font Color",
            "maxLength": 20,
            "type": "string",
            "description": "Font color in styles in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Font Color"
              }
            },
            "x-queryable": true
          },
          "FontName": {
            "title": "Typeface",
            "maxLength": 200,
            "type": "string",
            "description": "Font name in styles in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Typeface"
              }
            },
            "x-queryable": true
          },
          "FontSize": {
            "title": "Font Size",
            "type": "number",
            "description": "Font size in styles in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Font Size"
              },
              "precision": 6,
              "scale": 2
            },
            "x-queryable": true
          },
          "FontWeight": {
            "title": "Font Weight",
            "maxLength": 20,
            "type": "string",
            "description": "Font weight in styles in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Font Weight"
              }
            },
            "x-queryable": true
          },
          "LineHeight": {
            "title": "Line Height",
            "type": "number",
            "description": "Line height in styles in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Line Height"
              },
              "precision": 6,
              "scale": 2
            },
            "x-queryable": true
          },
          "StyleSelector": {
            "maxLength": 100,
            "type": "string",
            "description": "Style selector in styles in recruitingCEThemes.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-translations-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language in translations in recruitingCETemplates.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MainCallForAction": {
            "maxLength": 4000,
            "type": "string",
            "description": "Main call for action in translations in recruitingCETemplates.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceLang": {
            "maxLength": 4,
            "type": "string",
            "description": "Source language in translations in recruitingCETemplates.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "TemplateName": {
            "maxLength": 200,
            "type": "string",
            "description": "Template name in translations in recruitingCETemplates.",
            "nullable": false,
            "x-queryable": true
          },
          "WelcomeText": {
            "type": "string",
            "description": "Welcome text in translations in recruitingCETemplates.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEThemes-item-post-request": {
        "required": [
          "SiteNumber",
          "TemplateNumber",
          "ThemeName"
        ],
        "type": "object",
        "properties": {
          "CustomJsEnabledFlag": {
            "type": "boolean",
            "description": "Indicates that custom jobs are enabled in the themes in recruitingCETemplates.",
            "nullable": true
          },
          "FooterMode": {
            "type": "integer",
            "description": "Footer mode in themes in recruitingCETemplates.",
            "format": "int32",
            "nullable": false,
            "default": 1,
            "x-hints": {
              "precision": 1
            }
          },
          "GeneratedCustomCSS": {
            "type": "string",
            "description": "Generated custom CSS containing cascading style sheet custom variables.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "HeaderMode": {
            "type": "integer",
            "description": "Header mode in themes in recruitingCETemplates.",
            "format": "int32",
            "nullable": false,
            "default": 1,
            "x-hints": {
              "precision": 1
            }
          },
          "MainCallForAction": {
            "maxLength": 4000,
            "type": "string",
            "description": "Main call for action in themes in recruitingCETemplates.",
            "nullable": true
          },
          "SiteNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Site number in themes in recruitingCETemplates.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "SplashPageNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Splash page number in themes in recruitingCETemplates.",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "TemplateNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Template number in themes in recruitingCETemplates.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ThemeName": {
            "maxLength": 200,
            "type": "string",
            "description": "Theme name in themes in recruitingCETemplates.",
            "nullable": false
          },
          "ThemeNumber": {
            "maxLength": 240,
            "type": "string",
            "description": "Theme number in themes in recruitingCETemplates.",
            "nullable": false
          },
          "WelcomeText": {
            "type": "string",
            "description": "Welcome text in themes in recruitingCETemplates.",
            "format": "byte",
            "nullable": true
          },
          "brands": {
            "title": "Brands in Themes",
            "type": "array",
            "description": "The brands resource is a child of recruitingCEThemes. It includes the details of brands in the career site themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-brands-item-post-request"
            }
          },
          "customHeaders": {
            "title": "Custom Headers of Themes",
            "type": "array",
            "description": "The customHeaders resource is a child of recruitingCEThemes. It includes the headers configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customHeaders-item-post-request"
            }
          },
          "customWidgets": {
            "title": "Custom Widgets in Themes",
            "type": "array",
            "description": "The customWidgets resource is a child of recruitingCEThemes. It includes the widgets configuration. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-customWidgets-item-post-request"
            }
          },
          "footerLinks": {
            "title": "Footer Links in Themes",
            "type": "array",
            "description": "The footerLinks resource is a child of recruitingCEThemes. It includes the details of footer links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-footerLinks-item-post-request"
            }
          },
          "headerLinks": {
            "title": "Header Links in Themes",
            "type": "array",
            "description": "The headerLinks resource is a child of recruitingCEThemes. It includes the details of the header links in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-headerLinks-item-post-request"
            }
          },
          "styles": {
            "title": "Styles in Themes",
            "type": "array",
            "description": "The styles resource is a child of recruitingCEThemes. It includes the details of styles in recruitingCEThemes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-styles-item-post-request"
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-translations-item-post-request"
            }
          }
        }
      },
      "recruitingCEThemes-brands-item-post-request": {
        "type": "object",
        "properties": {
          "CorporateIconURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "Corporate icon URL in brands in recruitingCEThemes.",
            "nullable": true
          },
          "CustomCSS": {
            "type": "string",
            "description": "Custom CSS in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "CustomCSSCLOB"
            }
          },
          "CustomCSSCLOB": {
            "type": "string",
            "description": "Custom CSSCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            }
          },
          "CustomJS": {
            "type": "string",
            "description": "Custom jobs in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "CustomJSCLOB"
            }
          },
          "CustomJSCLOB": {
            "type": "string",
            "description": "Custom JSCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "DefaultCSS": {
            "type": "string",
            "description": "Default CSS in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "DefaultCSSCLOB"
            }
          },
          "DefaultCSSCLOB": {
            "type": "string",
            "description": "Default CSSCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            }
          },
          "DefaultJs": {
            "type": "string",
            "description": "Default JS in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "FooterHTML": {
            "type": "string",
            "description": "Footer HTML in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "FooterHTMLCLOB"
            }
          },
          "FooterHTMLCLOB": {
            "title": "Global Footer HTML",
            "type": "string",
            "description": "Footer HTMLCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "Global Footer HTML"
              },
              "PAYLOADHINT": "Show"
            }
          },
          "FrontImageURL": {
            "title": "Background Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Front image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Background Image"
              }
            }
          },
          "HeaderHTML": {
            "type": "string",
            "description": "Header HTML in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "clobColumnName": "HeaderHTMLCLOB"
            }
          },
          "HeaderHTMLCLOB": {
            "title": "Global Header HTML",
            "type": "string",
            "description": "Header HTMlCLOB in brands in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Global Header HTML"
              },
              "PAYLOADHINT": "Show"
            }
          },
          "LogoImageURL": {
            "title": "Hero Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Logo image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Hero Image"
              }
            }
          },
          "MobileFrontImageURL": {
            "title": "Mobile Background Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Mobile front image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Mobile Background Image"
              }
            }
          },
          "MobileLogoImageURL": {
            "title": "Mobile Hero Image",
            "maxLength": 2048,
            "type": "string",
            "description": "Mobile logo image URL in brands in recruitingCEThemes.",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Mobile Hero Image"
              }
            }
          },
          "translations": {
            "title": "Brand Translations of Themes",
            "type": "array",
            "description": "The translation resource is a child of Brand. It includes the details of the brand translations of the recruiting CE themes. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEThemes-brands-translations-item-post-request"
            }
          }
        }
      },
      "recruitingCEThemes-brands-translations-item-post-request": {
        "type": "object",
        "properties": {
          "CorporateIconURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "Corporate icon URL for the brand translations in recruitingCEThemes.",
            "nullable": true
          },
          "CustomCSS": {
            "type": "string",
            "description": "Custom CSS for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            }
          },
          "DefaultCSS": {
            "type": "string",
            "description": "Default CSS for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-hints": {
              "PAYLOADHINT": "Show"
            }
          },
          "FrontImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "FrontImageURL of the brand translations in recruitingCEThemes.",
            "nullable": true
          },
          "LogoImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL for the logo image for the brand translations in recruitingCEThemes.",
            "nullable": true
          },
          "MobileFrontImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL for the mobile FrontImage for the brand translations in recruitingCEThemes.",
            "nullable": true
          },
          "MobileLogoImageURL": {
            "maxLength": 2048,
            "type": "string",
            "description": "URL for the mobile logo image for the brand translations in recruitingCEThemes.",
            "nullable": true
          },
          "NavigationFooterHTML": {
            "type": "string",
            "description": "Navigation HTML footer for the brand translations in recruitingCEThemes.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "PAYLOADHINT": "Show"
            }
          },
          "NavigationHeaderHTML": {
            "type": "string",
[...]
