{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Job Applications/Large Object (LOB) Attributes - CandidateWorkSummary",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEJobApplications/{recruitingCEJobApplicationsUniqID}/enclosure/CandidateWorkSummary": {
      "get": {
        "tags": [
          "Recruiting Job Applications/Large Object (LOB) Attributes - CandidateWorkSummary"
        ],
        "summary": "Get a CandidateWorkSummary",
        "description": "Get a CandidateWorkSummary",
        "operationId": "get_recruitingCEJobApplications-CandidateWorkSummary",
        "parameters": [
          {
            "name": "recruitingCEJobApplicationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CandidateNumber and RequisitionNumber ---for the Recruiting Job Applications resource and used to uniquely identify an instance of Recruiting Job Applications. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Job Applications collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Job Applications.<br><br>For example: recruitingCEJobApplications?q=CandidateNumber=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobApplications-{recruitingCEJobApplicationsUniqID}-enclosure-CandidateWorkSummary-get",
        "x-filename-id": "recruitingcejobapplications-recruitingcejobapplicationsuniqid-enclosure-candidateworksummary-get"
      },
      "put": {
        "tags": [
          "Recruiting Job Applications/Large Object (LOB) Attributes - CandidateWorkSummary"
        ],
        "summary": "Replace a CandidateWorkSummary",
        "description": "Replace a CandidateWorkSummary",
        "operationId": "replace_recruitingCEJobApplications-CandidateWorkSummary",
        "parameters": [
          {
            "name": "recruitingCEJobApplicationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CandidateNumber and RequisitionNumber ---for the Recruiting Job Applications resource and used to uniquely identify an instance of Recruiting Job Applications. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Job Applications collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Job Applications.<br><br>For example: recruitingCEJobApplications?q=CandidateNumber=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEJobApplications-{recruitingCEJobApplicationsUniqID}-enclosure-CandidateWorkSummary-put",
        "x-filename-id": "recruitingcejobapplications-recruitingcejobapplicationsuniqid-enclosure-candidateworksummary-put"
      },
      "delete": {
        "tags": [
          "Recruiting Job Applications/Large Object (LOB) Attributes - CandidateWorkSummary"
        ],
        "summary": "Delete a CandidateWorkSummary",
        "description": "Delete a CandidateWorkSummary",
        "operationId": "delete_recruitingCEJobApplications-CandidateWorkSummary",
        "parameters": [
          {
            "name": "recruitingCEJobApplicationsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- CandidateNumber and RequisitionNumber ---for the Recruiting Job Applications resource and used to uniquely identify an instance of Recruiting Job Applications. The client should not generate the hash key value.  Instead, the client should query on the Recruiting Job Applications collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting Job Applications.<br><br>For example: recruitingCEJobApplications?q=CandidateNumber=&lt;value1&gt;;RequisitionNumber=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCEJobApplications-{recruitingCEJobApplicationsUniqID}-enclosure-CandidateWorkSummary-delete",
        "x-filename-id": "recruitingcejobapplications-recruitingcejobapplicationsuniqid-enclosure-candidateworksummary-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}