{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Background Check Candidate Results",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/bcCandidateResults/{PartnerId}": {
      "get": {
        "tags": [
          "Recruiting Background Check Candidate Results"
        ],
        "summary": "GET action not supported",
        "operationId": "get_bcCandidateResults",
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bcCandidateResults-item-response"
                }
              }
            },
            "links": {
              "services": {
                "operationRef": "#/paths/~1bcCandidateResults~1{PartnerId}~1child~1services/get",
                "parameters": {
                  "PartnerId": "$request.path.PartnerId"
                },
                "description": "The services resource is a child of the bcCandidateResults resource. It includes the services of the candidate results. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "bcCandidateResults-{PartnerId}-get",
        "x-filename-id": "bccandidateresults-partnerid-get"
      }
    },
    "/bcCandidateResults": {
      "get": {
        "tags": [
          "Recruiting Background Check Candidate Results"
        ],
        "summary": "GET action not supported",
        "operationId": "getall_bcCandidateResults",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CandidateNumber; string; Candidate number in the candidate results.</li><li>Comments; string; Comments in candidate results.</li><li>ErrorDetail; string; Error detail in candidate results.</li><li>PartnerId; string; Partner ID in candidate results.</li><li>PartnerUsername; string; Partner user name in candidate results.</li><li>RequisitionNumber; string; Requisition number in the candidate results.</li><li>Status; string; Status in the candidate results.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the candidate results by a unique ID. <br>Finder Variables <ul><li>PartnerId; string;  Partner ID in candidate results. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the candidate results by a unique ID.",
                "properties": {
                  "PartnerId": {
                    "nullable": true,
                    "description": "Partner ID in candidate results.",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bcCandidateResults"
                }
              }
            }
          }
        },
        "x-internal-id": "bcCandidateResults-get",
        "x-filename-id": "bccandidateresults-get"
      },
      "post": {
        "tags": [
          "Recruiting Background Check Candidate Results"
        ],
        "summary": "Submit all candidate results",
        "operationId": "create_bcCandidateResults",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/bcCandidateResults-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bcCandidateResults-item-response"
                }
              }
            },
            "links": {
              "services": {
                "operationRef": "#/paths/~1bcCandidateResults~1{PartnerId}~1child~1services/get",
                "parameters": {
                  "PartnerId": "$request.path.PartnerId"
                },
                "description": "The services resource is a child of the bcCandidateResults resource. It includes the services of the candidate results. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners."
              }
            }
          }
        },
        "x-internal-id": "bcCandidateResults-post",
        "x-filename-id": "bccandidateresults-post"
      }
    }
  },
  "components": {
    "schemas": {
      "bcCandidateResults-item-response": {
        "type": "object",
        "properties": {
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate number in the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "type": "string",
            "description": "Comments in candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "ErrorDetail": {
            "type": "string",
            "description": "Error detail in candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "PartnerId": {
            "maxLength": 255,
            "type": "string",
            "description": "Partner ID in candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "PartnerUsername": {
            "type": "string",
            "description": "Partner user name in candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Requisition number in the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status in the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "services": {
            "title": "Services About the Candidate Results",
            "type": "array",
            "description": "The services resource is a child of the bcCandidateResults resource. It includes the services of the candidate results. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/bcCandidateResults-services-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "bcCandidateResults-services-item-response": {
        "type": "object",
        "properties": {
          "AdditionalResultsAttributes": {
            "title": "Additional Candidate Background Check Results",
            "type": "array",
            "description": "The additionalResultsAttributes resource is a child of the bcCandidateResults resource. It includes the additional attributes of the candidate results. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/bcCandidateResults-services-AdditionalResultsAttributes-item-response"
            }
          },
          "Code": {
            "type": "string",
            "description": "Code in the services of the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "ErrorDetail": {
            "type": "string",
            "description": "Description of the errors in the services of the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "ScreeningPackage": {
            "type": "string",
            "description": "Screening package in the services of the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status in the services of the candidate results.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "bcCandidateResults-services-AdditionalResultsAttributes-item-response": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "type": "string",
            "description": "Attribute name of the background check service additional results.",
            "nullable": true,
            "x-queryable": true
          },
          "AttributeValue": {
            "type": "string",
            "description": "Attribute value of the background check service additional results.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "bcCandidateResults": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/bcCandidateResults-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "bcCandidateResults-item-post-request": {
        "type": "object",
        "properties": {
          "CandidateNumber": {
            "type": "string",
            "description": "Candidate number in the candidate results.",
            "nullable": true
          },
          "Comments": {
            "type": "string",
            "description": "Comments in candidate results.",
            "nullable": true
          },
          "ErrorDetail": {
            "type": "string",
            "description": "Error detail in candidate results.",
            "nullable": true
          },
          "PartnerId": {
            "maxLength": 255,
            "type": "string",
            "description": "Partner ID in candidate results.",
            "nullable": true
          },
          "PartnerUsername": {
            "type": "string",
            "description": "Partner user name in candidate results.",
            "nullable": true
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Requisition number in the candidate results.",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "description": "Status in the candidate results.",
            "nullable": true
          },
          "services": {
            "title": "Services About the Candidate Results",
            "type": "array",
            "description": "The services resource is a child of the bcCandidateResults resource. It includes the services of the candidate results. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/bcCandidateResults-services-item-post-request"
            }
          }
        }
      },
      "bcCandidateResults-services-item-post-request": {
        "type": "object",
        "properties": {
          "AdditionalResultsAttributes": {
            "title": "Additional Candidate Background Check Results",
            "type": "array",
            "description": "The additionalResultsAttributes resource is a child of the bcCandidateResults resource. It includes the additional attributes of the candidate results. Note that the service endpoints in this resource category can only be used by approved Oracle Cloud Marketplace partners.",
            "items": {
              "$ref": "#/components/schemas/bcCandidateResults-services-AdditionalResultsAttributes-item-post-request"
            }
          },
          "Code": {
            "type": "string",
            "description": "Code in the services of the candidate results.",
            "nullable": true
          },
          "ErrorDetail": {
            "type": "string",
            "description": "Description of the errors in the services of the candidate results.",
            "nullable": true
          },
          "ScreeningPackage": {
            "type": "string",
            "description": "Screening package in the services of the candidate results.",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "description": "Status in the services of the candidate results.",
            "nullable": true
          }
        }
      },
      "bcCandidateResults-services-AdditionalResultsAttributes-item-post-request": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "type": "string",
            "description": "Attribute name of the background check service additional results.",
            "nullable": true
          },
          "AttributeValue": {
            "type": "string",
            "description": "Attribute value of the background check service additional results.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "bcCandidateResults-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/bcCandidateResults-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}