{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Work Preferences",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidateWorkPreferences": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Work Preferences"
        ],
        "summary": "Get the details of all the candidate work preferences",
        "operationId": "getall_recruitingCECandidateWorkPreferences",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AllLocationsFlag; boolean; Indicates that the candidate has selected all locations.</li><li>ContentItemId; integer; ContentItemId in the candidate work preferences.</li><li>CurrencyCode; string; Currency code in the candidate work preferences.</li><li>DateFrom; string; Date from in the candidate work preferences.</li><li>DateTo; string; Date to in the candidate work preferences.</li><li>ExcludedLocationId1; integer; Excluded Location Id 1 in the candidate work preferences.</li><li>ExcludedLocationId2; integer; Excluded Location Id 2 in the candidate work preferences.</li><li>ExcludedLocationId3; integer; Excluded Location Id 3 in the candidate work preferences.</li><li>ExcludedLocationId4; integer; Excluded Location Id 4 in the candidate work preferences.</li><li>FlexibleWorkFlag; boolean; Indicates that the candidate has opted for flexible work hours.</li><li>FlowVersionId; integer; Flow version ID in the candidate work preferences.</li><li>FullTimeEquivalent; number; Full time equivalent in the candidate work preferences.</li><li>IntlTravelFlag; boolean; Indicates that the candidate has opted for international travel.</li><li>IntlTravelFrequency; string; International Travel Frequency in candidate work preferences.</li><li>IntlTravelRequiredFlag; boolean; Indicates that the candidate is ready for international travel.</li><li>MinimumPay; integer; Minimum pay in candidate work preferences.</li><li>NatTravelFlag; boolean; Indicates that the candidate has opted for domestic travel.</li><li>NatTravelFrequency; string; National travel frequency in the candidate work preferences.</li><li>NatTravelRequiredFlag; boolean; Indicates that the candidate is ready for domestic travel.</li><li>PartAssignFlag; boolean; Indicates that the candidate has opted for part payment.</li><li>PayFrequency; string; Pay frequency in the candidate work preferences.</li><li>PayRange; string; Pay range in the candidate work preferences.</li><li>PreferredLocationId1; integer; Preferred location Id 1 in the candidate work preferences.</li><li>PreferredLocationId2; integer; Preferred location Id 2 in the candidate work preferences.</li><li>PreferredLocationId3; integer; Preferred location Id 3 in the candidate work preferences.</li><li>PreferredLocationId4; integer; Preferred location Id 4 in the candidate work preferences.</li><li>RelocateDuration; integer; Duration required by the candidate to relocate.</li><li>RelocateFlag; boolean; Indicates that the candidate is ready to relocate.</li><li>RelocationReason; string; Relocation reason in the candidate work preferences.</li><li>SectionId; integer; Section ID in the candidate work preferences.</li><li>SubmissionId; string; Submission ID in the candidate work preferences.</li><li>TempAssignFlag; boolean; Indicates temporary assignment in the candidate work preferences.</li><li>WorkDays; string; Workdays in the candidate work preferences.</li><li>WorkHours; string; Work hours in the candidate work preferences.</li><li>WorkMonths; integer; Work months in the candidate work preferences.</li><li>WorkPreferenceId; integer; Work preference ID in the candidate work preferences.</li><li>WorkYears; integer; Work years in the candidate work preferences.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the candidate work preferences by a unique ID <br>Finder Variables <ul><li>WorkPreferenceId; integer;  Finds the candidate work preferences by a unique ID and the WorkPreferenceId; integer;  variable </li></ul></li><li>findBySectionId Finds the candidate work preferences by the findBySectionId variable <br>Finder Variables <ul><li>FlowVersionId; integer;  Finds the candidate work preferences by the findBySectionId and FlowVersionId; integer;  variables </li><li>SectionId; integer;  Finds the candidate work preferences by the findBySectionId and SectionId; integer;  variables </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the candidate work preferences by a unique ID",
                "properties": {
                  "WorkPreferenceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds the candidate work preferences by a unique ID and the WorkPreferenceId variable",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySectionId",
                "description": "Finds the candidate work preferences by the findBySectionId variable",
                "title": "filterBySectionId",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the candidate work preferences by the findBySectionId and FlowVersionId variables",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the candidate work preferences by the findBySectionId and SectionId variables",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateWorkPreferences-get",
        "x-filename-id": "recruitingcecandidateworkpreferences-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Candidate Work Preferences"
        ],
        "summary": "Post the details of all the candidate work preferences",
        "operationId": "create_recruitingCECandidateWorkPreferences",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateWorkPreferences-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateWorkPreferences-post",
        "x-filename-id": "recruitingcecandidateworkpreferences-post"
      }
    },
    "/recruitingCECandidateWorkPreferences/{WorkPreferenceId}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Work Preferences"
        ],
        "summary": "Get the details of a candidate work preference",
        "operationId": "get_recruitingCECandidateWorkPreferences",
        "parameters": [
          {
            "name": "WorkPreferenceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Work preference ID in the candidate work preferences.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateWorkPreferences-{WorkPreferenceId}-get",
        "x-filename-id": "recruitingcecandidateworkpreferences-workpreferenceid-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Candidate Work Preferences"
        ],
        "summary": "Delete details of a candidate work preference",
        "operationId": "delete_recruitingCECandidateWorkPreferences",
        "parameters": [
          {
            "name": "WorkPreferenceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Work preference ID in the candidate work preferences.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCECandidateWorkPreferences-{WorkPreferenceId}-delete",
        "x-filename-id": "recruitingcecandidateworkpreferences-workpreferenceid-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Candidate Work Preferences"
        ],
        "summary": "Patch details of a candidate work preference",
        "operationId": "update_recruitingCECandidateWorkPreferences",
        "parameters": [
          {
            "name": "WorkPreferenceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Work preference ID in the candidate work preferences.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCECandidateWorkPreferences-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateWorkPreferences-{WorkPreferenceId}-patch",
        "x-filename-id": "recruitingcecandidateworkpreferences-workpreferenceid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCECandidateWorkPreferences": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCECandidateWorkPreferences-item-response": {
        "type": "object",
        "properties": {
          "AllLocationsFlag": {
            "title": "All Locations",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has selected all locations.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments in the candidate work preferences.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "type": "integer",
            "description": "ContentItemId in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CurrencyCode": {
            "title": "Currency Code",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "DateFrom": {
            "type": "string",
            "description": "Date from in the candidate work preferences.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "DateTo": {
            "type": "string",
            "description": "Date to in the candidate work preferences.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "ExcludedLocationId1": {
            "title": "First Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 1 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ExcludedLocationId2": {
            "title": "Second Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 2 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ExcludedLocationId3": {
            "title": "Third Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 3 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ExcludedLocationId4": {
            "title": "Fourth Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 4 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FlexibleWorkFlag": {
            "title": "Work a Flexible Schedule",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for flexible work hours.",
            "nullable": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Flow version ID in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "FullTimeEquivalent": {
            "title": "Full Time Equivalent",
            "type": "number",
            "description": "Full time equivalent in the candidate work preferences.",
            "nullable": true,
            "x-hints": {
              "precision": 15,
              "scale": 2
            },
            "x-queryable": true
          },
          "IntlTravelFlag": {
            "title": "Travel Internationally",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for international travel.",
            "nullable": true,
            "x-queryable": true
          },
          "IntlTravelFrequency": {
            "title": "International Travel Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "International Travel Frequency in candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "IntlTravelRequiredFlag": {
            "title": "International Travel Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready for international travel.",
            "nullable": true,
            "x-queryable": true
          },
          "MinimumPay": {
            "title": "Minimum Pay",
            "type": "integer",
            "description": "Minimum pay in candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "NatTravelFlag": {
            "title": "Travel Domestically",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for domestic travel.",
            "nullable": true,
            "x-queryable": true
          },
          "NatTravelFrequency": {
            "title": "Domestic Travel Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "National travel frequency in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "NatTravelRequiredFlag": {
            "title": "Travel Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready for domestic travel.",
            "nullable": true,
            "x-queryable": true
          },
          "PartAssignFlag": {
            "title": "Consider Part Time Work",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for part payment.",
            "nullable": true,
            "x-queryable": true
          },
          "PayFrequency": {
            "title": "Pay Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Pay frequency in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "PayRange": {
            "title": "Pay Range",
            "maxLength": 30,
            "type": "string",
            "description": "Pay range in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "PreferredLocationId1": {
            "title": "First Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 1 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PreferredLocationId2": {
            "title": "Second Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 2 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PreferredLocationId3": {
            "title": "Third Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 3 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PreferredLocationId4": {
            "title": "Fourth Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 4 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RelocateDuration": {
            "title": "Length of Willing to Relocate",
            "type": "integer",
            "description": "Duration required by the candidate to relocate.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RelocateFlag": {
            "title": "Willing to Relocate",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready to relocate.",
            "nullable": true,
            "x-queryable": true
          },
          "RelocationReason": {
            "title": "Relocation Reason",
            "maxLength": 240,
            "type": "string",
            "description": "Relocation reason in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "string",
            "description": "Submission ID in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "TempAssignFlag": {
            "title": "Consider Temporary Assignment",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates temporary assignment in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkDays": {
            "title": "Workdays",
            "maxLength": 30,
            "type": "string",
            "description": "Workdays in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkHours": {
            "title": "Work Hours",
            "maxLength": 30,
            "type": "string",
            "description": "Work hours in the candidate work preferences.",
            "nullable": true,
            "x-queryable": true
          },
          "WorkMonths": {
            "title": "Work Duration Months",
            "type": "integer",
            "description": "Work months in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkPreferenceId": {
            "type": "integer",
            "description": "Work preference ID in the candidate work preferences.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkYears": {
            "title": "Work Duration Years",
            "type": "integer",
            "description": "Work years in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCECandidateWorkPreferences-item-post-request": {
        "type": "object",
        "properties": {
          "AllLocationsFlag": {
            "title": "All Locations",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has selected all locations.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments in the candidate work preferences.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "type": "integer",
            "description": "ContentItemId in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CurrencyCode": {
            "title": "Currency Code",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code in the candidate work preferences.",
            "nullable": true
          },
          "DateFrom": {
            "type": "string",
            "description": "Date from in the candidate work preferences.",
            "format": "date",
            "nullable": false
          },
          "DateTo": {
            "type": "string",
            "description": "Date to in the candidate work preferences.",
            "format": "date",
            "nullable": true
          },
          "ExcludedLocationId1": {
            "title": "First Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 1 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludedLocationId2": {
            "title": "Second Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 2 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludedLocationId3": {
            "title": "Third Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 3 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludedLocationId4": {
            "title": "Fourth Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 4 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "FlexibleWorkFlag": {
            "title": "Work a Flexible Schedule",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for flexible work hours.",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Flow version ID in the candidate work preferences.",
            "nullable": true
          },
          "FullTimeEquivalent": {
            "title": "Full Time Equivalent",
            "type": "number",
            "description": "Full time equivalent in the candidate work preferences.",
            "nullable": true,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "IntlTravelFlag": {
            "title": "Travel Internationally",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for international travel.",
            "nullable": true
          },
          "IntlTravelFrequency": {
            "title": "International Travel Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "International Travel Frequency in candidate work preferences.",
            "nullable": true
          },
          "IntlTravelRequiredFlag": {
            "title": "International Travel Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready for international travel.",
            "nullable": true
          },
          "MinimumPay": {
            "title": "Minimum Pay",
            "type": "integer",
            "description": "Minimum pay in candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "NatTravelFlag": {
            "title": "Travel Domestically",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for domestic travel.",
            "nullable": true
          },
          "NatTravelFrequency": {
            "title": "Domestic Travel Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "National travel frequency in the candidate work preferences.",
            "nullable": true
          },
          "NatTravelRequiredFlag": {
            "title": "Travel Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready for domestic travel.",
            "nullable": true
          },
          "PartAssignFlag": {
            "title": "Consider Part Time Work",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for part payment.",
            "nullable": true
          },
          "PayFrequency": {
            "title": "Pay Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Pay frequency in the candidate work preferences.",
            "nullable": true
          },
          "PayRange": {
            "title": "Pay Range",
            "maxLength": 30,
            "type": "string",
            "description": "Pay range in the candidate work preferences.",
            "nullable": true
          },
          "PreferredLocationId1": {
            "title": "First Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 1 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredLocationId2": {
            "title": "Second Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 2 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredLocationId3": {
            "title": "Third Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 3 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredLocationId4": {
            "title": "Fourth Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 4 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RelocateDuration": {
            "title": "Length of Willing to Relocate",
            "type": "integer",
            "description": "Duration required by the candidate to relocate.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RelocateFlag": {
            "title": "Willing to Relocate",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready to relocate.",
            "nullable": true
          },
          "RelocationReason": {
            "title": "Relocation Reason",
            "maxLength": 240,
            "type": "string",
            "description": "Relocation reason in the candidate work preferences.",
            "nullable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "SubmissionId": {
            "type": "string",
            "description": "Submission ID in the candidate work preferences.",
            "nullable": true
          },
          "TempAssignFlag": {
            "title": "Consider Temporary Assignment",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates temporary assignment in the candidate work preferences.",
            "nullable": true
          },
          "WorkDays": {
            "title": "Workdays",
            "maxLength": 30,
            "type": "string",
            "description": "Workdays in the candidate work preferences.",
            "nullable": true
          },
          "WorkHours": {
            "title": "Work Hours",
            "maxLength": 30,
            "type": "string",
            "description": "Work hours in the candidate work preferences.",
            "nullable": true
          },
          "WorkMonths": {
            "title": "Work Duration Months",
            "type": "integer",
            "description": "Work months in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "WorkPreferenceId": {
            "type": "integer",
            "description": "Work preference ID in the candidate work preferences.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "WorkYears": {
            "title": "Work Duration Years",
            "type": "integer",
            "description": "Work years in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "recruitingCECandidateWorkPreferences-item-patch-request": {
        "type": "object",
        "properties": {
          "AllLocationsFlag": {
            "title": "All Locations",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has selected all locations.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments in the candidate work preferences.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "type": "integer",
            "description": "ContentItemId in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CurrencyCode": {
            "title": "Currency Code",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code in the candidate work preferences.",
            "nullable": true
          },
          "DateFrom": {
            "type": "string",
            "description": "Date from in the candidate work preferences.",
            "format": "date",
            "nullable": false
          },
          "DateTo": {
            "type": "string",
            "description": "Date to in the candidate work preferences.",
            "format": "date",
            "nullable": true
          },
          "ExcludedLocationId1": {
            "title": "First Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 1 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludedLocationId2": {
            "title": "Second Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 2 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludedLocationId3": {
            "title": "Third Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 3 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ExcludedLocationId4": {
            "title": "Fourth Excluded Location",
            "type": "integer",
            "description": "Excluded Location Id 4 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "FlexibleWorkFlag": {
            "title": "Work a Flexible Schedule",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for flexible work hours.",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Flow version ID in the candidate work preferences.",
            "nullable": true
          },
          "FullTimeEquivalent": {
            "title": "Full Time Equivalent",
            "type": "number",
            "description": "Full time equivalent in the candidate work preferences.",
            "nullable": true,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "IntlTravelFlag": {
            "title": "Travel Internationally",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for international travel.",
            "nullable": true
          },
          "IntlTravelFrequency": {
            "title": "International Travel Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "International Travel Frequency in candidate work preferences.",
            "nullable": true
          },
          "IntlTravelRequiredFlag": {
            "title": "International Travel Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready for international travel.",
            "nullable": true
          },
          "MinimumPay": {
            "title": "Minimum Pay",
            "type": "integer",
            "description": "Minimum pay in candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "NatTravelFlag": {
            "title": "Travel Domestically",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for domestic travel.",
            "nullable": true
          },
          "NatTravelFrequency": {
            "title": "Domestic Travel Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "National travel frequency in the candidate work preferences.",
            "nullable": true
          },
          "NatTravelRequiredFlag": {
            "title": "Travel Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready for domestic travel.",
            "nullable": true
          },
          "PartAssignFlag": {
            "title": "Consider Part Time Work",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate has opted for part payment.",
            "nullable": true
          },
          "PayFrequency": {
            "title": "Pay Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Pay frequency in the candidate work preferences.",
            "nullable": true
          },
          "PayRange": {
            "title": "Pay Range",
            "maxLength": 30,
            "type": "string",
            "description": "Pay range in the candidate work preferences.",
            "nullable": true
          },
          "PreferredLocationId1": {
            "title": "First Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 1 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredLocationId2": {
            "title": "Second Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 2 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredLocationId3": {
            "title": "Third Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 3 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredLocationId4": {
            "title": "Fourth Preferred Location",
            "type": "integer",
            "description": "Preferred location Id 4 in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RelocateDuration": {
            "title": "Length of Willing to Relocate",
            "type": "integer",
            "description": "Duration required by the candidate to relocate.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RelocateFlag": {
            "title": "Willing to Relocate",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates that the candidate is ready to relocate.",
            "nullable": true
          },
          "RelocationReason": {
            "title": "Relocation Reason",
            "maxLength": 240,
            "type": "string",
            "description": "Relocation reason in the candidate work preferences.",
            "nullable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "SubmissionId": {
            "type": "string",
            "description": "Submission ID in the candidate work preferences.",
            "nullable": true
          },
          "TempAssignFlag": {
            "title": "Consider Temporary Assignment",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates temporary assignment in the candidate work preferences.",
            "nullable": true
          },
          "WorkDays": {
            "title": "Workdays",
            "maxLength": 30,
            "type": "string",
            "description": "Workdays in the candidate work preferences.",
            "nullable": true
          },
          "WorkHours": {
            "title": "Work Hours",
            "maxLength": 30,
            "type": "string",
            "description": "Work hours in the candidate work preferences.",
            "nullable": true
          },
          "WorkMonths": {
            "title": "Work Duration Months",
            "type": "integer",
            "description": "Work months in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "WorkYears": {
            "title": "Work Duration Years",
            "type": "integer",
            "description": "Work years in the candidate work preferences.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCECandidateWorkPreferences-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences-item-post-request"
            }
          }
        }
      },
      "recruitingCECandidateWorkPreferences-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCECandidateWorkPreferences-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}