{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Candidate Profile Blocks Meta Data.",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCECandidateProfileBlocksMetadata/{recruitingCECandidateProfileBlocksMetadataUniqID}": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Profile Blocks Meta Data."
        ],
        "summary": "Get a candidate profile blocks meta data",
        "operationId": "get_recruitingCECandidateProfileBlocksMetadata",
        "parameters": [
          {
            "name": "recruitingCECandidateProfileBlocksMetadataUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- SectionId, ContentTypeId, AttributeName and KeyFlag ---for the Recruiting CE Candidate Profile Blocks Meta Data. resource and used to uniquely identify an instance of Recruiting CE Candidate Profile Blocks Meta Data.. The client should not generate the hash key value.  Instead, the client should query on the Recruiting CE Candidate Profile Blocks Meta Data. collection resource with a filter on the primary key values in order to navigate to a specific instance of Recruiting CE Candidate Profile Blocks Meta Data..<br><br>For example: recruitingCECandidateProfileBlocksMetadata?q=SectionId=&lt;value1&gt;;ContentTypeId=&lt;value2&gt;;AttributeName=&lt;value3&gt;;KeyFlag=&lt;value4&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateProfileBlocksMetadata-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateProfileBlocksMetadata-{recruitingCECandidateProfileBlocksMetadataUniqID}-get",
        "x-filename-id": "recruitingcecandidateprofileblocksmetadata-recruitingcecandidateprofileblocksmetadatauniqid-get"
      }
    },
    "/recruitingCECandidateProfileBlocksMetadata": {
      "get": {
        "tags": [
          "Recruiting CE Candidate Profile Blocks Meta Data."
        ],
        "summary": "Get all the candidate profile blocks meta data",
        "operationId": "getall_recruitingCECandidateProfileBlocksMetadata",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AttributeName; string; Attribute name in the candidate profile blocks meta data.</li><li>ContentTypeId; integer; Content type ID in the candidate profile blocks meta data.</li><li>ContentValueSetId; string; Content value set identifier in the candidate profile blocks meta data.</li><li>DefaultValue; string; Default value in the candidate profile blocks meta data.</li><li>Dictionary; string; Dictionary in the candidate profile blocks meta data.</li><li>DisplaySequence; integer; Display sequence in the candidate profile blocks meta data.</li><li>FlowVersionId; string; Flow version ID in the candidate profile blocks meta data.</li><li>KeyFlag; boolean; Indicates whether the candidate profile block metadata attribute is a key attribute. This attribute doesn't have a default value.</li><li>MaximumLength; integer; Maximum length in the candidate profile blocks meta data.</li><li>Prompt; string; Attribute to determine which properties should be prompted on the administrators UI pages for an easy understanding of the property description.</li><li>ReadOnlyFlag; boolean; Indicates if the candidate profile blocks meta data is read only.</li><li>RequiredFlag; boolean; Indicates if the candidate profile blocks meta data is required.</li><li>SectionId; integer; Section ID in the candidate profile blocks meta data.</li><li>Type; string; Type in the candidate profile blocks meta data.</li><li>UIHiddenFlag; boolean; Indicates if the candidate profile blocks meta data is hidden in the UI.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds candidate profile blocks meta data by a unique ID <br>Finder Variables <ul><li>AttributeName; string;  Finds the candidate profile blocks meta data by a unique ID and the AttributeName; string;  variable </li><li>ContentTypeId; integer;  Finds the candidate profile blocks meta data by a unique ID and the ContentTypeId; integer;  variable </li><li>KeyFlag; boolean;  Indicates whether the value is a key or not. </li><li>SectionId; integer;  Finds the candidate profile blocks meta data by a unique ID and the SectionId; integer;  variable </li></ul></li><li>findByContentType Finds the candidate profile blocks meta data by the content type <br>Finder Variables <ul><li>ContentTypeId; integer;  Finds candidate profile blocks meta data by content type and ContentTypeId; integer;  variable </li><li>FlowVersionId; integer;  Finds the candidate profile blocks meta data by content type and the FlowVersionId; integer;  variable </li></ul></li><li>findByFlowVersionId Finds the candidate profile blocks meta data by findByFlowVersionId <br>Finder Variables <ul><li>FlowVersionId; integer;  Finds the candidate profile blocks meta data by the findByFlowVersionId variable and FlowVersionId; integer;  variable </li></ul></li><li>findBySectionId Finds the candidate profile blocks meta data by the section identifier. <br>Finder Variables <ul><li>FlowVersionId; integer;  Unique identifier assigned to each profile version. </li><li>SectionId; integer;  Unique identifier assigned to each profile section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds candidate profile blocks meta data by a unique ID",
                "properties": {
                  "ContentTypeId": {
                    "nullable": true,
                    "description": "Finds the candidate profile blocks meta data by a unique ID and the ContentTypeId variable",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "AttributeName": {
                    "nullable": true,
                    "description": "Finds the candidate profile blocks meta data by a unique ID and the AttributeName variable",
                    "readOnly": true,
                    "type": "string"
                  },
                  "KeyFlag": {
                    "nullable": true,
                    "description": "Indicates whether the value is a key or not.",
                    "readOnly": true,
                    "type": "boolean"
                  },
                  "SectionId": {
                    "nullable": true,
                    "description": "Finds the candidate profile blocks meta data by a unique ID and the SectionId variable",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByContentType",
                "description": "Finds the candidate profile blocks meta data by the content type",
                "title": "findByContentType",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the candidate profile blocks meta data by content type and the FlowVersionId variable",
                    "type": "integer"
                  },
                  "ContentTypeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds candidate profile blocks meta data by content type and ContentTypeId variable",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByFlowVersionId",
                "description": "Finds the candidate profile blocks meta data by findByFlowVersionId",
                "title": "findByFlowVersionId",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds the candidate profile blocks meta data by the findByFlowVersionId variable and FlowVersionId variable",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findBySectionId",
                "description": "Finds the candidate profile blocks meta data by the section identifier.",
                "title": "findBySectionId",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier assigned to each profile version.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier assigned to each profile section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCECandidateProfileBlocksMetadata"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCECandidateProfileBlocksMetadata-get",
        "x-filename-id": "recruitingcecandidateprofileblocksmetadata-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCECandidateProfileBlocksMetadata-item-response": {
        "type": "object",
        "properties": {
          "AttributeName": {
            "type": "string",
            "description": "Attribute name in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContentTypeId": {
            "type": "integer",
            "description": "Content type ID in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContentValueSetId": {
            "maxLength": 255,
            "type": "string",
            "description": "Content value set identifier in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DefaultValue": {
            "type": "string",
            "description": "Default value in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Dictionary": {
            "type": "string",
            "description": "Dictionary in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplaySequence": {
            "type": "integer",
            "description": "Display sequence in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "string",
            "description": "Flow version ID in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "KeyFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate profile block metadata attribute is a key attribute. This attribute doesn't have a default value.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MaximumLength": {
            "type": "integer",
            "description": "Maximum length in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Prompt": {
            "type": "string",
            "description": "Attribute to determine which properties should be prompted on the administrators UI pages for an easy understanding of the property description.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ReadOnlyFlag": {
            "type": "boolean",
            "description": "Indicates if the candidate profile blocks meta data is read only.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequiredFlag": {
            "type": "boolean",
            "description": "Indicates if the candidate profile blocks meta data is required.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Section ID in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Type in the candidate profile blocks meta data.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UIHiddenFlag": {
            "type": "boolean",
            "description": "Indicates if the candidate profile blocks meta data is hidden in the UI.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCECandidateProfileBlocksMetadata": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCECandidateProfileBlocksMetadata-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}