{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Internal Candidate Job Applications",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingICEJobApplications": {
      "get": {
        "tags": [
          "Recruiting Internal Candidate Job Applications"
        ],
        "summary": "Get all the internal candidate job applications",
        "operationId": "getall_recruitingICEJobApplications",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Action; string; Action taken after each internal submission.</li><li>ActiveFlag; boolean; Indicates if the internal submission is active.</li><li>CandidateNumber; string; Number assigned to each candidate who submits an internal job application.</li><li>ConfirmedFlag; boolean; Indicates if the internal candidate is confirmed.</li><li>CurrentPhaseId; integer; ID assigned to the current phase of the internal job submission.</li><li>CurrentStateId; integer; ID assigned to the current state of the internal job submission.</li><li>EsignDescriptionVersionId; integer; Electronic signature description version ID of the internal job application.</li><li>JobLocation; string; Job location of the internal candidate.</li><li>JobLocationName; string; Name of the job location where the internal candidate submitted the application.</li><li>JobTitle; string; Job title of the internal candidate.</li><li>Name; string; Candidate name used for the electronic signature of the job application.</li><li>OfferId; integer; ID of the internal job offer extended for a specific job application.</li><li>PersonId; integer; ID assigned to an internal candidate who submitted the application.</li><li>PipelineRequisitionFlag; boolean; Indicates if the internal submission is a pipeline requisition.</li><li>PipelineSubmissionId; integer; ID assigned to an internal pipeline job requisition submission.</li><li>PreferredLanguage; string; Preferred language in which the internal job application was submitted.</li><li>RequisitionNumber; string; Number assigned to each internal job requisition.</li><li>Status; string; Status of the internal job application submission.</li><li>SubmissionDate; string; Date of submission of the internal job application.</li><li>SubmissionId; integer; ID assigned for each internal job application submitted.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the internal candidate job application using a unique ID <br>Finder Variables <ul><li>SubmissionId; integer;  Finds internal candidate job application using submission ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the internal candidate job application using a unique ID",
                "properties": {
                  "SubmissionId": {
                    "nullable": true,
                    "description": "Finds internal candidate job application using submission ID",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplications"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplications-get",
        "x-filename-id": "recruitingicejobapplications-get"
      },
      "post": {
        "tags": [
          "Recruiting Internal Candidate Job Applications"
        ],
        "summary": "Submit all internal candidate job applications",
        "operationId": "create_recruitingICEJobApplications",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingICEJobApplications-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplications-item-response"
                }
              }
            },
            "links": {
              "QuestionnaireResponses": {
                "operationRef": "#/paths/~1recruitingICEJobApplications~1{SubmissionId}~1child~1QuestionnaireResponses/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplications-post",
        "x-filename-id": "recruitingicejobapplications-post"
      }
    },
    "/recruitingICEJobApplications/{SubmissionId}": {
      "get": {
        "tags": [
          "Recruiting Internal Candidate Job Applications"
        ],
        "summary": "Get an internal candidate job application",
        "operationId": "get_recruitingICEJobApplications",
        "parameters": [
          {
            "name": "SubmissionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned for each internal job application submitted.",
              "nullable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobApplications-item-response"
                }
              }
            },
            "links": {
              "QuestionnaireResponses": {
                "operationRef": "#/paths/~1recruitingICEJobApplications~1{SubmissionId}~1child~1QuestionnaireResponses/get",
                "parameters": {
                  "SubmissionId": "$request.path.SubmissionId"
                },
                "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobApplications-{SubmissionId}-get",
        "x-filename-id": "recruitingicejobapplications-submissionid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingICEJobApplications": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplications-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingICEJobApplications-item-response": {
        "type": "object",
        "properties": {
          "Action": {
            "type": "string",
            "description": "Action taken after each internal submission.",
            "nullable": true,
            "x-queryable": true
          },
          "ActiveFlag": {
            "type": "boolean",
            "description": "Indicates if the internal submission is active.",
            "nullable": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "type": "string",
            "description": "Number assigned to each candidate who submits an internal job application.",
            "nullable": true,
            "x-queryable": true
          },
          "ConfirmedFlag": {
            "type": "boolean",
            "description": "Indicates if the internal candidate is confirmed.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentPhaseId": {
            "type": "integer",
            "description": "ID assigned to the current phase of the internal job submission.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrentStateId": {
            "type": "integer",
            "description": "ID assigned to the current state of the internal job submission.",
            "nullable": true,
            "x-queryable": true
          },
          "EsignDescriptionVersionId": {
            "type": "integer",
            "description": "Electronic signature description version ID of the internal job application.",
            "nullable": true,
            "x-queryable": true
          },
          "JobLocation": {
            "type": "string",
            "description": "Job location of the internal candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "JobLocationName": {
            "type": "string",
            "description": "Name of the job location where the internal candidate submitted the application.",
            "nullable": true,
            "x-queryable": true
          },
          "JobTitle": {
            "type": "string",
            "description": "Job title of the internal candidate.",
            "nullable": true,
            "x-queryable": true
          },
          "Name": {
            "type": "string",
            "description": "Candidate name used for the electronic signature of the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "ID of the internal job offer extended for a specific job application.",
            "nullable": true,
            "x-queryable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "ID assigned to an internal candidate who submitted the application.",
            "nullable": true,
            "x-queryable": true
          },
          "PipelineRequisitionFlag": {
            "type": "boolean",
            "description": "Indicates if the internal submission is a pipeline requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "PipelineSubmissionId": {
            "type": "integer",
            "description": "ID assigned to an internal pipeline job requisition submission.",
            "nullable": true,
            "x-queryable": true
          },
          "PreferredLanguage": {
            "type": "string",
            "description": "Preferred language in which the internal job application was submitted.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionnaireResponses": {
            "title": "Candidate Responses to Questions",
            "type": "array",
            "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplications-QuestionnaireResponses-item-response"
            }
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Number assigned to each internal job requisition.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the internal job application submission.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionDate": {
            "type": "string",
            "description": "Date of submission of the internal job application.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned for each internal job application submitted.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingICEJobApplications-QuestionnaireResponses-item-response": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for which the responses are provided.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionResponses": {
            "type": "string",
            "description": "Responses provided by the candidate for the questionnaire.",
            "nullable": true,
            "x-queryable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "ID of the questionnaire for which the responses are provided",
            "nullable": true,
            "x-queryable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of the questionnaire for which the responses are provided.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingICEJobApplications-item-post-request": {
        "type": "object",
        "properties": {
          "Action": {
            "type": "string",
            "description": "Action taken after each internal submission.",
            "nullable": true
          },
          "ActiveFlag": {
            "type": "boolean",
            "description": "Indicates if the internal submission is active.",
            "nullable": true
          },
          "CandidateNumber": {
            "type": "string",
            "description": "Number assigned to each candidate who submits an internal job application.",
            "nullable": true
          },
          "ConfirmedFlag": {
            "type": "boolean",
            "description": "Indicates if the internal candidate is confirmed.",
            "nullable": true
          },
          "CurrentPhaseId": {
            "type": "integer",
            "description": "ID assigned to the current phase of the internal job submission.",
            "nullable": true
          },
          "CurrentStateId": {
            "type": "integer",
            "description": "ID assigned to the current state of the internal job submission.",
            "nullable": true
          },
          "EsignDescriptionVersionId": {
            "type": "integer",
            "description": "Electronic signature description version ID of the internal job application.",
            "nullable": true
          },
          "JobLocation": {
            "type": "string",
            "description": "Job location of the internal candidate.",
            "nullable": true
          },
          "JobLocationName": {
            "type": "string",
            "description": "Name of the job location where the internal candidate submitted the application.",
            "nullable": true
          },
          "JobTitle": {
            "type": "string",
            "description": "Job title of the internal candidate.",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "description": "Candidate name used for the electronic signature of the job application.",
            "nullable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "ID of the internal job offer extended for a specific job application.",
            "nullable": true
          },
          "PersonId": {
            "type": "integer",
            "description": "ID assigned to an internal candidate who submitted the application.",
            "nullable": true
          },
          "PipelineRequisitionFlag": {
            "type": "boolean",
            "description": "Indicates if the internal submission is a pipeline requisition.",
            "nullable": true
          },
          "PipelineSubmissionId": {
            "type": "integer",
            "description": "ID assigned to an internal pipeline job requisition submission.",
            "nullable": true
          },
          "PreferredLanguage": {
            "type": "string",
            "description": "Preferred language in which the internal job application was submitted.",
            "nullable": true
          },
          "QuestionnaireResponses": {
            "title": "Candidate Responses to Questions",
            "type": "array",
            "description": "The questionnaireResponses resource provides the details of responses provided by the candidate for a questionnaire.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobApplications-QuestionnaireResponses-item-post-request"
            }
          },
          "RequisitionNumber": {
            "type": "string",
            "description": "Number assigned to each internal job requisition.",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "description": "Status of the internal job application submission.",
            "nullable": true
          },
          "SubmissionDate": {
            "type": "string",
            "description": "Date of submission of the internal job application.",
            "format": "date",
            "nullable": true
          },
          "SubmissionId": {
            "type": "integer",
            "description": "ID assigned for each internal job application submitted.",
            "nullable": true
          }
        }
      },
      "recruitingICEJobApplications-QuestionnaireResponses-item-post-request": {
        "type": "object",
        "properties": {
          "QstnrVersionNumber": {
            "type": "integer",
            "description": "Version number of the questionnaire for which the responses are provided.",
            "nullable": true
          },
          "QuestionResponses": {
            "type": "string",
            "description": "Responses provided by the candidate for the questionnaire.",
            "nullable": true
          },
          "QuestionnaireId": {
            "type": "integer",
            "description": "ID of the questionnaire for which the responses are provided",
            "nullable": true
          },
          "Type": {
            "type": "string",
            "description": "Type of the questionnaire for which the responses are provided.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingICEJobApplications-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingICEJobApplications-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}