{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Offer Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEOfferDetails": {
      "get": {
        "tags": [
          "Recruiting CE Offer Details"
        ],
        "summary": "Get all details of job offers",
        "operationId": "getall_recruitingCEOfferDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AcceptedOnBehalf; string; Indicates that the job offer was accepted on behalf of the candidate.</li><li>AcceptedOnBehalfBy; string; Name of the person who accepted the job offer on behalf of the candidate.</li><li>AcceptedOnBehalfDate; string; Date when the job offer was accepted on behalf of the candidate.</li><li>CandidateDisplayName; string; Display name of the candidate.</li><li>CandidateNumber; string; Number of the candidate.</li><li>Comments; string; Necessary comments related to the job offer.</li><li>DeclineReasonsEnabledFlag; boolean; Indicates whether or not candidates can provide comments while declining the job offer.</li><li>Description; string; Detailed description of the job offer provided by the offer creator.</li><li>DisplayMode; string; Display mode.</li><li>ESignatureInstructions; string; Instructions for the e-signature.</li><li>ExpirationDate; string; Expiration Date</li><li>FullName; string; Full name of the candidate.</li><li>HiringManagerName; string; Name of the hiring manager.</li><li>OfferId; integer; Unique number of the job offer.</li><li>OfferName; string; Name of the job offer.</li><li>Phase; string; Phase of the job offer.</li><li>PostAcceptMessage; string; Message shown to candidates after they accept the job offer.</li><li>RecCandidateType; string; Candidate type, that's external or internal.</li><li>RequisitionNumber; string; Number of the job requisition associated with the job offer.</li><li>SignatureDate; string; Date when the candidate signed the job offer.</li><li>SigneeIpAddress; string; IP address of the candidate who accepted the job offer.</li><li>State; string; State of the job offer.</li><li>SubmissionLanguageCode; string; Code of the language used for the candidate job application.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>ById Finds a job offer by an ID <br>Finder Variables <ul><li>OfferId; integer;  Finds a job offer using the job offer ID </li></ul></li><li>PrimaryKey Finds a job offer using the unique ID <br>Finder Variables <ul><li>OfferId; integer;  Finds a job offer using the primary key attribute of offer ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "ById",
                "description": "Finds a job offer by an ID",
                "title": "FindByOfferId",
                "properties": {
                  "OfferId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds a job offer using the job offer ID",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "PrimaryKey",
                "description": "Finds a job offer using the unique ID",
                "properties": {
                  "OfferId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Finds a job offer using the primary key attribute of offer ID",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEOfferDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEOfferDetails-get",
        "x-filename-id": "recruitingceofferdetails-get"
      }
    },
    "/recruitingCEOfferDetails/{OfferId}": {
      "get": {
        "tags": [
          "Recruiting CE Offer Details"
        ],
        "summary": "Get details of a job offer",
        "operationId": "get_recruitingCEOfferDetails",
        "parameters": [
          {
            "name": "OfferId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "ID assigned to an offer letter.",
              "nullable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEOfferDetails-item-response"
                }
              }
            },
            "links": {
              "offerLetter": {
                "operationRef": "#/paths/~1recruitingCEOfferDetails~1{OfferId}~1child~1offerLetter/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The offerLetter resource is a child of the recruitingCEOfferDetails resource. It includes the details of the job offer. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "attachments": {
                "operationRef": "#/paths/~1recruitingCEOfferDetails~1{OfferId}~1child~1attachments/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The attachments resource is used to view, create, and update attachments."
              },
              "assignment": {
                "operationRef": "#/paths/~1recruitingCEOfferDetails~1{OfferId}~1child~1assignment/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The assignment resource is a child of the recruitingCEOfferDetails resource. It describes the type of job assignment. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "offerDeclineReasons": {
                "operationRef": "#/paths/~1recruitingCEOfferDetails~1{OfferId}~1child~1offerDeclineReasons/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "mediaLinks": {
                "operationRef": "#/paths/~1recruitingCEOfferDetails~1{OfferId}~1child~1mediaLinks/get",
                "parameters": {
                  "OfferId": "$request.path.OfferId"
                },
                "description": "The mediaLink resource is a child of the recruitingCEOfferDetails resource. It gets the URL for the media link. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEOfferDetails-{OfferId}-get",
        "x-filename-id": "recruitingceofferdetails-offerid-get"
      }
    },
    "/recruitingCandidateAssessments/{RequisitionNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Offer Details"
        ],
        "summary": "Get the details of the recruiting candidate assessment",
        "operationId": "get_recruitingCandidateAssessments",
        "parameters": [
          {
            "name": "RequisitionNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateAssessments-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateAssessments-{RequisitionNumber}-get",
        "x-filename-id": "recruitingcandidateassessments-requisitionnumber-get"
      }
    },
    "/recruitingCandidateAssessments": {
      "get": {
        "tags": [
          "Recruiting CE Offer Details"
        ],
        "summary": "Get the details of all recruiting candidate assessments",
        "operationId": "getall_recruitingCandidateAssessments",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssessmentCompletedFlag; boolean; Indicates whether the candidate completed the assessment.</li><li>AssessmentConfiguredFlag; boolean; Indicates whether the application flow is configured for assessment.</li><li>AssessmentURL; string; Assessment URL in the recruiting candidate assessment.</li><li>DraftId; integer; Unique identifier for each draft job application.</li><li>FlowVersionId; integer; Unique identifier for each version of the application flow used for the job application.</li><li>InlineAssessmentFlag; boolean; Indicates whether the application flow is configured for an inline assessment.</li><li>ProvisioningId; integer; Provisioning identifier in the recruiting candidate assessment.</li><li>RequisitionNumber; string; Requisition Number in the recruiting candidate assessment.</li><li>SubmissionBlockedFlag; boolean; Indicates whether the submission of the job application is blocked.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds details of recruiting candidate assessment using a unique ID <br>Finder Variables <ul><li>RequisitionNumber; string;  Finds details of recruiting candidate assessment using a unique ID and the requisition number </li></ul></li><li>findByRequisitionNumber Finds assessments for a specific job requisition. <br>Finder Variables <ul><li>DraftId; integer;  Unique identifier for each draft job application. </li><li>FlowVersionId; integer;  Unique identifier for the application flow version. </li><li>RequisitionNumber; string;  Unique number assigned to each requisition. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds details of recruiting candidate assessment using a unique ID",
                "properties": {
                  "RequisitionNumber": {
                    "nullable": true,
                    "description": "Finds details of recruiting candidate assessment using a unique ID and the requisition number",
                    "type": "string",
                    "maxLength": 255
                  }
                }
              },
              {
                "name": "findByRequisitionNumber",
                "description": "Finds assessments for a specific job requisition.",
                "title": "findByRequisitionNumber",
                "properties": {
                  "FlowVersionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the application flow version.",
                    "type": "integer"
                  },
                  "DraftId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for each draft job application.",
                    "type": "integer"
                  },
                  "RequisitionNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique number assigned to each requisition.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateAssessments"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateAssessments-get",
        "x-filename-id": "recruitingcandidateassessments-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Offer Details"
        ],
        "summary": "Create assessment requests for a job application",
        "operationId": "create_recruitingCandidateAssessments",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCandidateAssessments-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCandidateAssessments-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCandidateAssessments-post",
        "x-filename-id": "recruitingcandidateassessments-post"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEOfferDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEOfferDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCEOfferDetails-item-response": {
        "type": "object",
        "properties": {
          "AcceptedOnBehalf": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates that the job offer was accepted on behalf of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AcceptedOnBehalfBy": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the person who accepted the job offer on behalf of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AcceptedOnBehalfDate": {
            "type": "string",
            "description": "Date when the job offer was accepted on behalf of the candidate.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateDisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CandidateNumber": {
            "title": "Candidate Number",
            "maxLength": 30,
            "type": "string",
            "description": "Number of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "maxLength": 1000,
            "type": "string",
            "description": "Necessary comments related to the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DeclineReasonsEnabledFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether or not candidates can provide comments while declining the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "SubmissionsProcessTemplateId"
              ]
            },
            "x-queryable": true
          },
          "Description": {
            "type": "string",
            "description": "Detailed description of the job offer provided by the offer creator.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayMode": {
            "type": "string",
            "description": "Display mode.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ESignatureInstructions": {
            "type": "string",
            "description": "Instructions for the e-signature.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExpirationDate": {
            "type": "string",
            "description": "Expiration Date",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FullName": {
            "maxLength": 1000,
            "type": "string",
            "description": "Full name of the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "HiringManagerName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the hiring manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "Unique number of the job offer.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "OfferName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Phase": {
            "maxLength": 240,
            "type": "string",
            "description": "Phase of the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PostAcceptMessage": {
            "maxLength": 255,
            "type": "string",
            "description": "Message shown to candidates after they accept the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RecCandidateType": {
            "type": "string",
            "description": "Candidate type, that's external or internal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "title": "Requisition Number",
            "maxLength": 240,
            "type": "string",
            "description": "Number of the job requisition associated with the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SignatureDate": {
            "type": "string",
            "description": "Date when the candidate signed the job offer.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SigneeIpAddress": {
            "maxLength": 100,
            "type": "string",
            "description": "IP address of the candidate who accepted the job offer.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "State": {
            "maxLength": 240,
            "type": "string",
            "description": "State of the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "SubmissionLanguageCode": {
            "title": "Job Application Language",
            "maxLength": 4,
            "type": "string",
            "description": "Code of the language used for the candidate job application.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "assignment": {
            "title": "Job Offer Assignment",
            "type": "array",
            "description": "The assignment resource is a child of the recruitingCEOfferDetails resource. It describes the type of job assignment. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEOfferDetails-assignment-item-response"
            }
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is used to view, create, and update attachments.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEOfferDetails-attachments-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "mediaLinks": {
            "title": "Media Links in the Job Offer",
            "type": "array",
            "description": "The mediaLink resource is a child of the recruitingCEOfferDetails resource. It gets the URL for the media link. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEOfferDetails-mediaLinks-item-response"
            }
          },
          "offerDeclineReasons": {
            "title": "Candidate Reasons to Decline the Job Offer",
            "type": "array",
            "description": "The reject reasons list resource provides the list of reasons that the candidate can provide while declining the job offer. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEOfferDetails-offerDeclineReasons-item-response"
            }
          },
          "offerLetter": {
            "title": "Job Offer Letter",
            "type": "array",
            "description": "The offerLetter resource is a child of the recruitingCEOfferDetails resource. It includes the details of the job offer. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEOfferDetails-offerLetter-item-response"
            }
          }
        }
      },
      "recruitingCEOfferDetails-assignment-item-response": {
        "type": "object",
        "properties": {
          "AssignmentName": {
            "title": "Assignment Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of a job assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitName": {
            "title": "Organization",
            "maxLength": 240,
            "type": "string",
            "description": "Name of a business unit.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DepartmentName": {
            "title": "Department",
            "maxLength": 240,
            "type": "string",
            "description": "Name of a department.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FormattedMultiLineAddress": {
            "title": "Address",
            "type": "string",
            "description": "Candidate's address in a multiple lines format.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FormattedSingleLineAddress": {
            "title": "Address",
            "type": "string",
            "description": "Candidate's address in a single line format.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "GradeName": {
            "title": "Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the grade of job offered to the candidate.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "JobTitle": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the job offered to the candidate.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location of the job assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ProjectedStartDate": {
            "title": "Projected Start Date",
            "type": "string",
            "description": "Projected start date of an assignment.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SupervisorDisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the supervisor.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEOfferDetails-attachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided for the exclusive use by the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "The unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "The category of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the attachment is shared",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who created the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "The user name who created the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "The date when the record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "A value that indicates the data type.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "The description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "The document ID from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "The folder path from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "The document version number from which the attachment is created.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "The error code, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "The error message, if any, for the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "The expiration date of the contents in the attachment.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "The contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "The file name of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "The URI of the file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "The date when the record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "The user who last updated the record.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "The user name who last updated the record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "The title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "The content type of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "The size of the attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "The name to assign to a new attachment file.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "The text content for a new text attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "The URI of a Topology Manager type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "The URL of a web page type attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "The login credentials of the user who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEOfferDetails-mediaLinks-item-response": {
        "type": "object",
        "properties": {
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Type of language used in the media links.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "MediaTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the media type used in the media links.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Priority": {
            "type": "integer",
            "description": "Priority of media links.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "ThumbURL": {
            "maxLength": 1000,
            "type": "string",
            "description": "Thumb URL of the media links.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of the media link defining the purpose of the URL.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Type": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Type of media link.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 1000,
            "type": "string",
            "description": "URL of the media link.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEOfferDetails-offerDeclineReasons-item-response": {
        "type": "object",
        "properties": {
          "ReasonId": {
            "type": "integer",
            "description": "ID of the reason selected by candidates while declining the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ReasonName": {
            "maxLength": 512,
            "type": "string",
            "description": "Name of the reason selected by candidates while declining the job offer.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEOfferDetails-offerLetter-item-response": {
        "type": "object",
        "properties": {
          "HTML": {
            "type": "string",
            "description": "Html format of the job offer letter.",
            "nullable": true,
            "x-queryable": true
          },
          "OfferId": {
            "type": "integer",
            "description": "ID assigned to an offer letter.",
            "nullable": true,
            "x-queryable": true
          },
          "PDF": {
            "type": "string",
            "description": "PDF format of the job offer letter.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCandidateAssessments-item-response": {
        "type": "object",
        "properties": {
          "AssessmentCompletedFlag": {
            "type": "boolean",
            "description": "Indicates whether the candidate completed the assessment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssessmentConfiguredFlag": {
            "type": "boolean",
            "description": "Indicates whether the application flow is configured for assessment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssessmentURL": {
            "type": "string",
            "description": "Assessment URL in the recruiting candidate assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "DraftId": {
            "type": "integer",
            "description": "Unique identifier for each draft job application.",
            "nullable": true,
            "x-queryable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Unique identifier for each version of the application flow used for the job application.",
            "nullable": true,
            "x-queryable": true
          },
          "InlineAssessmentFlag": {
            "type": "boolean",
            "description": "Indicates whether the application flow is configured for an inline assessment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProvisioningId": {
            "type": "integer",
            "description": "Provisioning identifier in the recruiting candidate assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition Number in the recruiting candidate assessment.",
            "nullable": true,
            "x-queryable": true
          },
          "SubmissionBlockedFlag": {
            "type": "boolean",
            "description": "Indicates whether the submission of the job application is blocked.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCandidateAssessments": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCandidateAssessments-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCandidateAssessments-item-post-request": {
        "type": "object",
        "properties": {
          "AssessmentURL": {
            "type": "string",
            "description": "Assessment URL in the recruiting candidate assessment.",
            "nullable": true
          },
          "DraftId": {
            "type": "integer",
            "description": "Unique identifier for each draft job application.",
            "nullable": true
          },
          "FlowVersionId": {
            "type": "integer",
            "description": "Unique identifier for each version of the application flow used for the job application.",
            "nullable": true
          },
          "ProvisioningId": {
            "type": "integer",
            "description": "Provisioning identifier in the recruiting candidate assessment.",
            "nullable": true
          },
          "RequisitionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Requisition Number in the recruiting candidate assessment.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCandidateAssessments-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCandidateAssessments-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}