{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Sites/Site Custom Fonts",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCESites/{SiteNumber}/child/customFonts": {
      "get": {
        "tags": [
          "Recruiting CE Sites/Site Custom Fonts"
        ],
        "summary": "Get all custom fonts in recruitingCESites",
        "operationId": "getall_recruitingCESites-customFonts",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CustomFontId; integer; ID assigned to each custom font.</li><li>FontName; string; Name of the font.</li><li>FontNumber; string; Size of the font.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Find custom fonts in recruitingCESites by primary key <br>Finder Variables <ul><li>CustomFontId; integer;  Find custom fonts in recruitingCESites by a primary key and Custom Font Id </li></ul></li><li>fontByNumber Find custom fonts by fontByNumber <br>Finder Variables <ul><li>FontNumber; string;  Find custom fonts by fontByNumber and the FontNumber; string;  variable </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Find custom fonts in recruitingCESites by primary key",
                "properties": {
                  "CustomFontId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "PAYLOADHINT": "Show"
                    },
                    "format": "int64",
                    "description": "Find custom fonts in recruitingCESites by a primary key and Custom Font Id",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "fontByNumber",
                "description": "Find custom fonts by fontByNumber",
                "title": "findByFontNumber",
                "properties": {
                  "FontNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Find custom fonts by fontByNumber and the FontNumber variable",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-customFonts"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-customFonts-get",
        "x-filename-id": "recruitingcesites-sitenumber-child-customfonts-get"
      },
      "post": {
        "tags": [
          "Recruiting CE Sites/Site Custom Fonts"
        ],
        "summary": "Submit all custom fonts in recruitingCESites",
        "operationId": "create_recruitingCESites-customFonts",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-customFonts-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-customFonts-item-response"
                }
              }
            },
            "links": {
              "customFontsSettings": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customFonts~1{FontNumber}~1child~1customFontsSettings/get",
                "parameters": {
                  "FontNumber": "$request.path.FontNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customFontsSettings resource is a child of customFonts. It includes the details for the custom font settings. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-customFonts-post",
        "x-filename-id": "recruitingcesites-sitenumber-child-customfonts-post"
      }
    },
    "/recruitingCESites/{SiteNumber}/child/customFonts/{FontNumber}": {
      "get": {
        "tags": [
          "Recruiting CE Sites/Site Custom Fonts"
        ],
        "summary": "Get a custom font in recruitingCESites",
        "operationId": "get_recruitingCESites-customFonts",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FontNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-customFonts-item-response"
                }
              }
            },
            "links": {
              "customFontsSettings": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customFonts~1{FontNumber}~1child~1customFontsSettings/get",
                "parameters": {
                  "FontNumber": "$request.path.FontNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customFontsSettings resource is a child of customFonts. It includes the details for the custom font settings. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-customFonts-{FontNumber}-get",
        "x-filename-id": "recruitingcesites-sitenumber-child-customfonts-fontnumber-get"
      },
      "delete": {
        "tags": [
          "Recruiting CE Sites/Site Custom Fonts"
        ],
        "summary": "Delete a custom font",
        "operationId": "delete_recruitingCESites-customFonts",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FontNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-customFonts-{FontNumber}-delete",
        "x-filename-id": "recruitingcesites-sitenumber-child-customfonts-fontnumber-delete"
      },
      "patch": {
        "tags": [
          "Recruiting CE Sites/Site Custom Fonts"
        ],
        "summary": "Update a custom font in recruitingCESites",
        "operationId": "update_recruitingCESites-customFonts",
        "parameters": [
          {
            "name": "SiteNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FontNumber",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/recruitingCESites-customFonts-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCESites-customFonts-item-response"
                }
              }
            },
            "links": {
              "customFontsSettings": {
                "operationRef": "#/paths/~1recruitingCESites~1{SiteNumber}~1child~1customFonts~1{FontNumber}~1child~1customFontsSettings/get",
                "parameters": {
                  "FontNumber": "$request.path.FontNumber",
                  "SiteNumber": "$request.path.SiteNumber"
                },
                "description": "The customFontsSettings resource is a child of customFonts. It includes the details for the custom font settings. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCESites-{SiteNumber}-child-customFonts-{FontNumber}-patch",
        "x-filename-id": "recruitingcesites-sitenumber-child-customfonts-fontnumber-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCESites-customFonts": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingCESites-customFonts-item-response": {
        "type": "object",
        "properties": {
          "CustomFontId": {
            "type": "integer",
            "description": "ID assigned to each custom font.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            },
            "x-queryable": true
          },
          "FontName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the font.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "FontNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Size of the font.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "customFontsSettings": {
            "title": "Site Custom Font Settings",
            "type": "array",
            "description": "The customFontsSettings resource is a child of customFonts. It includes the details for the custom font settings. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-customFontsSettings-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-customFonts-customFontsSettings-item-response": {
        "type": "object",
        "properties": {
          "FontNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Size of the font in custom font settings.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Number assigned to each version of the custom font setting.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            },
            "x-queryable": true
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting of the custom fonts.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "SettingNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to each setting of the custom fonts.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Style": {
            "maxLength": 4000,
            "type": "string",
            "description": "Style of the custom font.",
            "nullable": true,
            "x-queryable": true
          },
          "Weight": {
            "maxLength": 4000,
            "type": "string",
            "description": "Weight of the custom font.",
            "nullable": true,
            "x-queryable": true
          },
          "customFontsFiles": {
            "title": "Site Custom Font Setting Files",
            "type": "array",
            "description": "The customFontsFiles resource is a child of customFontsSettings. It includes the details for the custom font files. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-customFontsSettings-customFontsFiles-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCESites-customFonts-customFontsSettings-customFontsFiles-item-response": {
        "type": "object",
        "properties": {
          "FileId": {
            "type": "integer",
            "description": "ID assigned to the file of the custom font setting.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            },
            "x-queryable": true
          },
          "FileNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to the file of the custom font setting.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Number assigned to each version of the custom font files.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            },
            "x-queryable": true
          },
          "SettingNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to each setting of the custom font files.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            },
            "x-queryable": true
          },
          "Type": {
            "maxLength": 1000,
            "type": "string",
            "description": "Type of the custom font file.",
            "nullable": false,
            "x-queryable": true
          },
          "URL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the custom font file.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCESites-customFonts-item-post-request": {
        "required": [
          "FontName",
          "FontNumber"
        ],
        "type": "object",
        "properties": {
          "CustomFontId": {
            "type": "integer",
            "description": "ID assigned to each custom font.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "PAYLOADHINT": "Show"
            }
          },
          "FontName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the font.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "FontNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Size of the font.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "customFontsSettings": {
            "title": "Site Custom Font Settings",
            "type": "array",
            "description": "The customFontsSettings resource is a child of customFonts. It includes the details for the custom font settings. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-customFontsSettings-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-customFonts-customFontsSettings-item-post-request": {
        "required": [
          "FontNumber",
          "SettingNumber"
        ],
        "type": "object",
        "properties": {
          "FontNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Size of the font in custom font settings.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Number assigned to each version of the custom font setting.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "SettingId": {
            "type": "integer",
            "description": "ID assigned to each setting of the custom fonts.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18,
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "SettingNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to each setting of the custom fonts.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Style": {
            "maxLength": 4000,
            "type": "string",
            "description": "Style of the custom font.",
            "nullable": true
          },
          "Weight": {
            "maxLength": 4000,
            "type": "string",
            "description": "Weight of the custom font.",
            "nullable": true
          },
          "customFontsFiles": {
            "title": "Site Custom Font Setting Files",
            "type": "array",
            "description": "The customFontsFiles resource is a child of customFontsSettings. It includes the details for the custom font files. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-customFontsSettings-customFontsFiles-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-customFonts-customFontsSettings-customFontsFiles-item-post-request": {
        "type": "object",
        "properties": {
          "FileId": {
            "type": "integer",
            "description": "ID assigned to the file of the custom font setting.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            }
          },
          "FileNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to the file of the custom font setting.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Number assigned to each version of the custom font files.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "SettingNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to each setting of the custom font files.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Type": {
            "maxLength": 1000,
            "type": "string",
            "description": "Type of the custom font file.",
            "nullable": false
          },
          "URL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the custom font file.",
            "nullable": true
          }
        }
      },
      "recruitingCESites-customFonts-item-patch-request": {
        "type": "object",
        "properties": {
          "FontName": {
            "maxLength": 4000,
            "type": "string",
            "description": "Name of the font.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "FontNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Size of the font.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "customFontsSettings": {
            "title": "Site Custom Font Settings",
            "type": "array",
            "description": "The customFontsSettings resource is a child of customFonts. It includes the details for the custom font settings. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-customFontsSettings-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-customFonts-customFontsSettings-item-patch-request": {
        "type": "object",
        "properties": {
          "FontNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Size of the font in custom font settings.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Number assigned to each version of the custom font setting.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "SettingNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to each setting of the custom fonts.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Style": {
            "maxLength": 4000,
            "type": "string",
            "description": "Style of the custom font.",
            "nullable": true
          },
          "Weight": {
            "maxLength": 4000,
            "type": "string",
            "description": "Weight of the custom font.",
            "nullable": true
          },
          "customFontsFiles": {
            "title": "Site Custom Font Setting Files",
            "type": "array",
            "description": "The customFontsFiles resource is a child of customFontsSettings. It includes the details for the custom font files. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-customFontsSettings-customFontsFiles-item-patch-request"
            }
          }
        }
      },
      "recruitingCESites-customFonts-customFontsSettings-customFontsFiles-item-patch-request": {
        "type": "object",
        "properties": {
          "FileId": {
            "type": "integer",
            "description": "ID assigned to the file of the custom font setting.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 18
            }
          },
          "FileNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to the file of the custom font setting.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "ObjectVersionNumber": {
            "type": "integer",
            "description": "Number assigned to each version of the custom font files.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "precision": 9
            }
          },
          "SettingNumber": {
            "maxLength": 1000,
            "type": "string",
            "description": "Number assigned to each setting of the custom font files.",
            "nullable": false,
            "x-hints": {
              "fnd:OA_TRANSLATABLE": "false"
            }
          },
          "Type": {
            "maxLength": 1000,
            "type": "string",
            "description": "Type of the custom font file.",
            "nullable": false
          },
          "URL": {
            "maxLength": 4000,
            "type": "string",
            "description": "URL of the custom font file.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "recruitingCESites-customFonts-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-item-post-request"
            }
          }
        }
      },
      "recruitingCESites-customFonts-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/recruitingCESites-customFonts-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}