{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting CE Job Requisitions/Requisition List",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingICEJobRequisitions/{SearchId}/child/requisitionList": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions/Requisition List"
        ],
        "summary": "Get all requisition lists",
        "operationId": "getall_recruitingICEJobRequisitions-requisitionList",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Location ID of the secondary locations in a job requisition details preview.",
              "nullable": true,
              "default": 1,
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BeFirstToApplyFlag; boolean; Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.</li><li>BusinessUnit; string; Business unit name of the job requisition.</li><li>BusinessUnitId; integer; Business unit identifier of the job requisition.</li><li>ContractType; string; Contract type of the job requisition.</li><li>Department; string; Department name of the job requisition.</li><li>Distance; number; Total distance from the center of a radius search.</li><li>DomesticTravelRequired; string; Indicates whether domestic travel is required for the job requisition.</li><li>ExternalQualificationsStr; string; Qualifications of the job requisition.</li><li>ExternalResponsibilitiesStr; string; Responsibilities of the job requisition.</li><li>GeographyId; integer; Geography ID of the job requisition list.</li><li>HotJobFlag; boolean; Indicates whether the job requisition is considered a hot job.</li><li>Id; string; ID assigned to the job requisition list.</li><li>InternationalTravelRequired; string; Indicates whether international travel is required for the job requisition.</li><li>JobFamily; string; Job family of the job requisition.</li><li>JobFunction; string; Job function of the job requisition.</li><li>JobSchedule; string; Job schedule of the job requisition.</li><li>JobShift; string; Job shift of the job requisition.</li><li>JobType; string; Job type of the job requisition.</li><li>Language; string; Language of the job requisition.</li><li>LegalEmployer; string; Legal employer of the job requisition.</li><li>LegalEmployerId; integer; Legal employer identifier of the job requisition.</li><li>ManagerLevel; string; Management level of the job requisition.</li><li>MediaThumbURL; string; Media thumb URL for the job requisition list.</li><li>Organization; string; Organization name of the job requisition.</li><li>OrganizationId; integer; Organization identifier of the job requisition.</li><li>PostedDate; string; Date of posting of the requisition list.</li><li>PostingEndDate; string; Posting end date of the job requisition.</li><li>PrimaryLocation; string; Primary location of the requisition list.</li><li>PrimaryLocationCountry; string; Country of the primary location of the requisition list.</li><li>Relevancy; number; Relevancy score of the job requisition.</li><li>ShortDescriptionStr; string; Short description string of the requisition list.</li><li>StudyLevel; string; Education level of the job requisition.</li><li>Title; string; Title of the requisition list.</li><li>TrendingFlag; boolean; Indicates whether the job requisition has a high number of job applications and should be displayed as trending in a job requisition details preview..</li><li>WorkDays; string; Workdays of the job requisition.</li><li>WorkDurationMonths; integer; Work duration months of the job requisition.</li><li>WorkDurationYears; integer; Work duration years of the job requisition.</li><li>WorkHours; string; Work hours of the job requisition.</li><li>WorkerType; string; Worker type of the job requisition.</li><li>WorkplaceType; string; Workplace in a job requisition details preview.</li><li>WorkplaceTypeCode; string; Workplace type code in a job requisition details preview.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds job requisitions list using a unique ID <br>Finder Variables <ul></ul></li><li>findById Finds job requisitions list using findbyId <br>Finder Variables <ul><li>Id; string;  Finds job requisitions list using findbyId and ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds job requisitions list using a unique ID",
                "properties": {}
              },
              {
                "name": "findById",
                "description": "Finds job requisitions list using findbyId",
                "title": "findByReqNo",
                "properties": {
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions list using findbyId and ID",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobRequisitions-requisitionList"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobRequisitions-{SearchId}-child-requisitionList-get",
        "x-filename-id": "recruitingicejobrequisitions-searchid-child-requisitionlist-get"
      }
    },
    "/recruitingICEJobRequisitions/{SearchId}/child/requisitionList/{Id}": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions/Requisition List"
        ],
        "summary": "Get a requisition list",
        "operationId": "get_recruitingICEJobRequisitions-requisitionList",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Location ID of the secondary locations in a job requisition details preview.",
              "nullable": true,
              "default": 1,
              "x-queryable": true
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingICEJobRequisitions-requisitionList-item-response"
                }
              }
            },
            "links": {
              "workLocation": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1workLocation/get",
                "parameters": {
                  "Id4": "$request.path.Id4",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1secondaryLocations/get",
                "parameters": {
                  "Id4": "$request.path.Id4",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingICEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1otherWorkLocations/get",
                "parameters": {
                  "Id4": "$request.path.Id4",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingICEJobRequisitions-{SearchId}-child-requisitionList-{Id}-get",
        "x-filename-id": "recruitingicejobrequisitions-searchid-child-requisitionlist-id-get"
      }
    },
    "/recruitingCEJobRequisitions/{SearchId}/child/requisitionList": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions/Requisition List"
        ],
        "summary": "Get all requisition lists",
        "operationId": "getall_recruitingCEJobRequisitions-requisitionList",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Location ID of the secondary locations in a job requisition details preview.",
              "nullable": true,
              "default": 1
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>BeFirstToApplyFlag; boolean; Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.</li><li>BusinessUnit; string; Business unit name of the job requisition.</li><li>BusinessUnitId; integer; Business unit identifier of the job requisition.</li><li>ContractType; string; Contract type of the job requisition.</li><li>Department; string; Department name of the job requisition.</li><li>Distance; number; Total distance from the center of a radius search.</li><li>DomesticTravelRequired; string; Indicates whether domestic travel is required for the job requisition.</li><li>ExternalQualificationsStr; string; Qualifications of the job requisition.</li><li>ExternalResponsibilitiesStr; string; Responsibilities of the job requisition.</li><li>GeographyId; integer; Geography ID of the job requisition list.</li><li>HotJobFlag; boolean; Indicates whether the job requisition is considered a hot job.</li><li>Id; string; ID assigned to the job requisition list.</li><li>InternationalTravelRequired; string; Indicates whether international travel is required for the job requisition.</li><li>JobFamily; string; Job family of the job requisition.</li><li>JobFunction; string; Job function of the job requisition.</li><li>JobSchedule; string; Job schedule of the job requisition.</li><li>JobShift; string; Job shift of the job requisition.</li><li>JobType; string; Job type of the job requisition.</li><li>Language; string; Language of the job requisition.</li><li>LegalEmployer; string; Legal employer of the job requisition.</li><li>LegalEmployerId; integer; Legal employer identifier of the job requisition.</li><li>ManagerLevel; string; Management level of the job requisition.</li><li>MediaThumbURL; string; Media thumb URL for the job requisition list.</li><li>Organization; string; Organization name of the job requisition.</li><li>OrganizationId; integer; Organization identifier of the job requisition.</li><li>PostedDate; string; Date of posting of the requisition list.</li><li>PostingEndDate; string; Posting end date of the job requisition.</li><li>PrimaryLocation; string; Primary location of the requisition list.</li><li>PrimaryLocationCountry; string; Country of the primary location of the requisition list.</li><li>Relevancy; number; Relevancy score of the job requisition.</li><li>ShortDescriptionStr; string; Short description string of the requisition list.</li><li>StudyLevel; string; Education level of the job requisition.</li><li>Title; string; Title of the requisition list.</li><li>TrendingFlag; boolean; Indicates whether the job requisition has a high number of job applications and should be displayed as trending in a job requisition details preview..</li><li>WorkDays; string; Workdays of the job requisition.</li><li>WorkDurationMonths; integer; Work duration months of the job requisition.</li><li>WorkDurationYears; integer; Work duration years of the job requisition.</li><li>WorkHours; string; Work hours of the job requisition.</li><li>WorkerType; string; Worker type of the job requisition.</li><li>WorkplaceType; string; Workplace in a job requisition details preview.</li><li>WorkplaceTypeCode; string; Workplace type code in a job requisition details preview.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds job requisitions list using a unique ID <br>Finder Variables <ul></ul></li><li>findById Finds job requisitions list using findbyId <br>Finder Variables <ul><li>Id; string;  Finds job requisitions list using findbyId and ID </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds job requisitions list using a unique ID",
                "properties": {}
              },
              {
                "name": "findById",
                "description": "Finds job requisitions list using findbyId",
                "title": "findByReqNo",
                "properties": {
                  "Id": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds job requisitions list using findbyId and ID",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobRequisitions-{SearchId}-child-requisitionList-get",
        "x-filename-id": "recruitingcejobrequisitions-searchid-child-requisitionlist-get"
      }
    },
    "/recruitingCEJobRequisitions/{SearchId}/child/requisitionList/{Id}": {
      "get": {
        "tags": [
          "Recruiting CE Job Requisitions/Requisition List"
        ],
        "summary": "Get a requisition list",
        "operationId": "get_recruitingCEJobRequisitions-requisitionList",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Location ID of the secondary locations in a job requisition details preview.",
              "nullable": true,
              "default": 1
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-item-response"
                }
              }
            },
            "links": {
              "workLocation": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1workLocation/get",
                "parameters": {
                  "Id5": "$request.path.Id5",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "secondaryLocations": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1secondaryLocations/get",
                "parameters": {
                  "Id5": "$request.path.Id5",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "otherWorkLocations": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1otherWorkLocations/get",
                "parameters": {
                  "Id5": "$request.path.Id5",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "primaryLocationCoordinates": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1primaryLocationCoordinates/get",
                "parameters": {
                  "Id5": "$request.path.Id5",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The primaryLocationCoordinates resource is a child of recruitingCEJobRequisitionDetails. It includes details of primary location coordinates. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "requisitionFlexFields": {
                "operationRef": "#/paths/~1recruitingCEJobRequisitions~1{SearchId}~1child~1requisitionList~1{Id}~1child~1requisitionFlexFields/get",
                "parameters": {
                  "Id5": "$request.path.Id5",
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The requisitionFlexFields resource is a child of recruitingCERequisitionTemplateDetailsPreviews. It includes the details of the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEJobRequisitions-{SearchId}-child-requisitionList-{Id}-get",
        "x-filename-id": "recruitingcejobrequisitions-searchid-child-requisitionlist-id-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingICEJobRequisitions-requisitionList": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobRequisitions-requisitionList-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingICEJobRequisitions-requisitionList-item-response": {
        "type": "object",
        "properties": {
          "BeFirstToApplyFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnit": {
            "maxLength": 80,
            "type": "string",
            "description": "Business unit name of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Business unit identifier of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ContractType": {
            "maxLength": 80,
            "type": "string",
            "description": "Contract type of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Department": {
            "maxLength": 240,
            "type": "string",
            "description": "Department name of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Distance": {
            "type": "number",
            "description": "Total distance from the center of a radius search.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DomesticTravelRequired": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates whether domestic travel is required for the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalQualificationsStr": {
            "maxLength": 255,
            "type": "string",
            "description": "Qualifications of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalResponsibilitiesStr": {
            "maxLength": 255,
            "type": "string",
            "description": "Responsibilities of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID of the job requisition list.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "HotJobFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition is considered a hot job.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Id": {
            "maxLength": 240,
            "type": "string",
            "description": "ID assigned to the job requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternationalTravelRequired": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates whether international travel is required for the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFamily": {
            "maxLength": 240,
            "type": "string",
            "description": "Job family of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFunction": {
            "maxLength": 80,
            "type": "string",
            "description": "Job function of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobSchedule": {
            "maxLength": 80,
            "type": "string",
            "description": "Job schedule of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobShift": {
            "maxLength": 80,
            "type": "string",
            "description": "Job shift of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobType": {
            "maxLength": 80,
            "type": "string",
            "description": "Job type of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployer": {
            "maxLength": 240,
            "type": "string",
            "description": "Legal employer of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployerId": {
            "type": "integer",
            "description": "Legal employer identifier of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Management level of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MediaThumbURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Media thumb URL for the job requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Organization": {
            "maxLength": 80,
            "type": "string",
            "description": "Organization name of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OrganizationId": {
            "type": "integer",
            "description": "Organization identifier of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PostedDate": {
            "type": "string",
            "description": "Date of posting of the requisition list.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PostingEndDate": {
            "type": "string",
            "description": "Posting end date of the job requisition.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLocation": {
            "title": "Primary Location",
            "maxLength": 255,
            "type": "string",
            "description": "Primary location of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "PrimaryLocationCountry": {
            "maxLength": 2,
            "type": "string",
            "description": "Country of the primary location of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Relevancy": {
            "type": "number",
            "description": "Relevancy score of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ShortDescriptionStr": {
            "type": "string",
            "description": "Short description string of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StudyLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Education level of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TrendingFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a high number of job applications and should be displayed as trending in a job requisition details preview..",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkDays": {
            "maxLength": 80,
            "type": "string",
            "description": "Workdays of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkDurationMonths": {
            "type": "integer",
            "description": "Work duration months of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkDurationYears": {
            "type": "integer",
            "description": "Work duration years of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkHours": {
            "maxLength": 80,
            "type": "string",
            "description": "Work hours of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerType": {
            "maxLength": 80,
            "type": "string",
            "description": "Worker type of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkplaceType": {
            "maxLength": 255,
            "type": "string",
            "description": "Workplace in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "WorkplaceTypeCode"
              ]
            },
            "x-queryable": true
          },
          "WorkplaceTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Workplace type code in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "otherWorkLocations": {
            "title": "Other Work Locations",
            "type": "array",
            "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobRequisitions-requisitionList-otherWorkLocations-item-response"
            }
          },
          "secondaryLocations": {
            "title": "Secondary Locations",
            "type": "array",
            "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobRequisitions-requisitionList-secondaryLocations-item-response"
            }
          },
          "workLocation": {
            "title": "Work Locations",
            "type": "array",
            "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingICEJobRequisitions-requisitionList-workLocation-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingICEJobRequisitions-requisitionList-otherWorkLocations-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 1 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 2 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 3 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 4 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "integer",
            "description": "Latitude of other work locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "LocationId": {
            "title": "Other Work Locations",
            "type": "integer",
            "description": "Location ID of other work locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:APPLCORE_SETID_DETERMINANT_ATTR": "RequisitionBusinessUnitId"
            },
            "x-queryable": true
          },
          "LocationName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location name of other work locations in a job requisition details preview.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "integer",
            "description": "Longitude of other work locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Region 1 of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Region 2 of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Region 3 of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RequisitionWorkLocationId": {
            "type": "integer",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "Town or city of other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingICEJobRequisitions-requisitionList-secondaryLocations-item-response": {
        "type": "object",
        "properties": {
          "CountryCode": {
            "maxLength": 2,
            "type": "string",
            "description": "Country code for the secondary locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID for the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GeographyNodeId": {
            "title": "Primary Location",
            "type": "integer",
            "description": "Geography node ID for the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Latitude": {
            "type": "integer",
            "description": "Latitude of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "Longitude": {
            "type": "integer",
            "description": "Longitude of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "nullable": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "RequisitionLocationId": {
            "type": "integer",
            "description": "Location ID of the secondary locations in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingICEJobRequisitions-requisitionList-workLocation-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 1 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 2 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine3": {
            "title": "Address Line 3",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 3 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine4": {
            "title": "Address Line 4",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 4 of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Building": {
            "title": "Building",
            "maxLength": 240,
            "type": "string",
            "description": "Building of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Country": {
            "title": "Country",
            "maxLength": 60,
            "type": "string",
            "description": "Country of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Latitude": {
            "type": "integer",
            "description": "Latitude of work locations  in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Location ID of work locations  in a job requisition details preview.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Location name of work locations  in a job requisition details preview.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Longitude": {
            "type": "integer",
            "description": "Longitude of work locations  in a job requisition details preview.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "PostalCode": {
            "title": "Postal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Postal code of work locations  in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region1": {
            "title": "Region 1",
            "maxLength": 120,
            "type": "string",
            "description": "Region 1 of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region2": {
            "title": "Region 2",
            "maxLength": 120,
            "type": "string",
            "description": "Region 2 of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Region3": {
            "title": "Region 3",
            "maxLength": 120,
            "type": "string",
            "description": "Region 3 of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TownOrCity": {
            "title": "Town or City",
            "maxLength": 30,
            "type": "string",
            "description": "Town or city of work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEJobRequisitions-requisitionList": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "recruitingCEJobRequisitions-requisitionList-item-response": {
        "type": "object",
        "properties": {
          "BeFirstToApplyFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a low number of job applications and will invite candidates to be the first to apply.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnit": {
            "maxLength": 80,
            "type": "string",
            "description": "Business unit name of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Business unit identifier of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ContractType": {
            "maxLength": 80,
            "type": "string",
            "description": "Contract type of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Department": {
            "maxLength": 240,
            "type": "string",
            "description": "Department name of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Distance": {
            "type": "number",
            "description": "Total distance from the center of a radius search.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DomesticTravelRequired": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates whether domestic travel is required for the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalQualificationsStr": {
            "maxLength": 255,
            "type": "string",
            "description": "Qualifications of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ExternalResponsibilitiesStr": {
            "maxLength": 255,
            "type": "string",
            "description": "Responsibilities of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GeographyId": {
            "type": "integer",
            "description": "Geography ID of the job requisition list.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "HotJobFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition is considered a hot job.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Id": {
            "maxLength": 240,
            "type": "string",
            "description": "ID assigned to the job requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "InternationalTravelRequired": {
            "maxLength": 80,
            "type": "string",
            "description": "Indicates whether international travel is required for the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFamily": {
            "maxLength": 240,
            "type": "string",
            "description": "Job family of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobFunction": {
            "maxLength": 80,
            "type": "string",
            "description": "Job function of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobSchedule": {
            "maxLength": 80,
            "type": "string",
            "description": "Job schedule of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobShift": {
            "maxLength": 80,
            "type": "string",
            "description": "Job shift of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "JobType": {
            "maxLength": 80,
            "type": "string",
            "description": "Job type of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Language": {
            "maxLength": 4,
            "type": "string",
            "description": "Language of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployer": {
            "maxLength": 240,
            "type": "string",
            "description": "Legal employer of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LegalEmployerId": {
            "type": "integer",
            "description": "Legal employer identifier of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Management level of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "MediaThumbURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Media thumb URL for the job requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Organization": {
            "maxLength": 80,
            "type": "string",
            "description": "Organization name of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OrganizationId": {
            "type": "integer",
            "description": "Organization identifier of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PostedDate": {
            "type": "string",
            "description": "Date of posting of the requisition list.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PostingEndDate": {
            "type": "string",
            "description": "Posting end date of the job requisition.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PrimaryLocation": {
            "title": "Primary Location",
            "maxLength": 255,
            "type": "string",
            "description": "Primary location of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "GeographyNodeId"
              ]
            },
            "x-queryable": true
          },
          "PrimaryLocationCountry": {
            "maxLength": 2,
            "type": "string",
            "description": "Country of the primary location of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Relevancy": {
            "type": "number",
            "description": "Relevancy score of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ShortDescriptionStr": {
            "type": "string",
            "description": "Short description string of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StudyLevel": {
            "maxLength": 80,
            "type": "string",
            "description": "Education level of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 240,
            "type": "string",
            "description": "Title of the requisition list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TrendingFlag": {
            "type": "boolean",
            "description": "Indicates whether the job requisition has a high number of job applications and should be displayed as trending in a job requisition details preview..",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkDays": {
            "maxLength": 80,
            "type": "string",
            "description": "Workdays of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkDurationMonths": {
            "type": "integer",
            "description": "Work duration months of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkDurationYears": {
            "type": "integer",
            "description": "Work duration years of the job requisition.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkHours": {
            "maxLength": 80,
            "type": "string",
            "description": "Work hours of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerType": {
            "maxLength": 80,
            "type": "string",
            "description": "Worker type of the job requisition.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkplaceType": {
            "maxLength": 255,
            "type": "string",
            "description": "Workplace in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "WorkplaceTypeCode"
              ]
            },
            "x-queryable": true
          },
          "WorkplaceTypeCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Workplace type code in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "otherWorkLocations": {
            "title": "Other Work Locations",
            "type": "array",
            "description": "The otherWorkLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about other work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-otherWorkLocations-item-response"
            }
          },
          "primaryLocationCoordinates": {
            "title": "Primary Location Coordinates",
            "type": "array",
            "description": "The primaryLocationCoordinates resource is a child of recruitingCEJobRequisitionDetails. It includes details of primary location coordinates. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-primaryLocationCoordinates-item-response"
            },
            "x-cardinality": "1"
          },
          "requisitionFlexFields": {
            "title": "Descriptive Flexfields",
            "type": "array",
            "description": "The requisitionFlexFields resource is a child of recruitingCERequisitionTemplateDetailsPreviews. It includes the details of the requisition flexfields. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-requisitionFlexFields-item-response"
            }
          },
          "secondaryLocations": {
            "title": "Secondary Locations",
            "type": "array",
            "description": "The secondaryLocations resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about the secondary locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-secondaryLocations-item-response"
            }
          },
          "workLocation": {
            "title": "Work Locations",
            "type": "array",
            "description": "The workLocation resource is a child of the recruitingCERequisitionTemplateDetailsPreviews resource and provides details about work locations used in the job requisition. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEJobRequisitions-requisitionList-workLocation-item-response"
            }
          }
        }
      },
      "recruitingCEJobRequisitions-requisitionList-otherWorkLocations-item-response": {
        "type": "object",
        "properties": {
          "AddressLine1": {
            "title": "Address Line 1",
            "maxLength": 240,
            "type": "string",
            "description": "Address line 1 for other work locations in a job requisition details preview.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AddressLine2": {
            "title": "Address Line 2",
            "maxLength": 240,
            "type": "string",
[...]
